/*!
 * @solarwinds/add-node 2.0.0-541
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.add-node-wizard h2 {
  font-size: 14px;
  text-transform: uppercase;
}
.add-node-wizard-metrics-step .text-gray {
  color: #767676;
}
.add-node-wizard-metrics-step .xui-listitem .media-left .xui-icon {
  margin-top: 0px;
}
.add-node-wizard-object-type-step h3 {
  text-transform: none;
  font-size: 14px;
  color: #767676;
}
.add-node-wizard-object-type-step .list-group {
  display: flex;
  flex-wrap: wrap;
}
.add-node-wizard-object-type-step .list-group > .list-group-item {
  margin: 0 10px 10px 0;
  width: 264px;
}
.add-node-wizard-object-type-step .xui-listitem.xui-listitem--regular {
  background: #F6F6F6;
}
.add-node-wizard-object-type-step .xui-listitem.xui-listitem--selected {
  background: #E2F1F5;
}
.add-node-wizard-object-type-step .flex-row-container {
  display: flex;
}
.add-node-wizard-object-type-step .flex-row-item {
  margin: 0px 5px;
}
.add-node-wizard-object-type-step .flex-column-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.add-node-wizard-object-type-step .name-item {
  margin: 0 0 2px;
}
.add-node-wizard-object-type-step .description-item {
  font-weight: 400;
  font-size: 12px;
  color: #767676;
}
.add-node-wizard-credential-selector .validation-message {
  clear: both;
  padding: 0;
  color: #D50000;
  line-height: 1.5;
  font-size: 11px;
  font-weight: 700;
}
.add-node-wizard-polling-engine-selector label {
  margin: 7px 0px;
}
.xui-wizard__header-wrapper {
  visibility: hidden;
}
.xui-wizard__header-wrapper .xui-wizard__header {
  visibility: visible;
}
.xui-wizard__header-wrapper .xui-wizard__steps {
  visibility: visible;
}
.xui-progress {
  padding-right: 10%;
  padding-left: 10%;
}
.add-node .no-left-padding {
  padding-left: 0px !important;
}

/*# sourceMappingURL=add-node.css.map*/