﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ApprovalMode.ascx.cs" Inherits="Orion_NCM_Admin_ConfigChangeApproval_Controls_ApprovalMode" %>

<div>
    <asp:RadioButtonList ID="rbApprovalMode" runat="server"></asp:RadioButtonList>
</div>