﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TopXPoolMembersForVirtualServers.ascx.cs" Inherits="Orion_F5_Resources_F5ChartsV2_TopXPoolMembersForVirtualServers" %>

<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
        <asp:PlaceHolder runat="server" ID="WrapperContents"></asp:PlaceHolder>
    </Content>
</orion:resourceWrapper> 