﻿.ContentContainer
{
	width:80%;
	padding:10px;
}

.SettingContainer
{
	border:solid 1px #dcdbd7;
	padding:10px;
	background-color:#fff;
}

.SettingBlockHeader
{
    font-size:11pt;
    font-weight:bold;
    border-bottom:#e6e6dd 1px solid;
    padding-bottom:5px;
    font-family: Arial,Verdana,Helvetica,sans-serif;
}

.SettingBlockDescription
{
	font-size:10pt;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    padding-top:5px;
}

.SettingHint
{
    color: gray;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 8pt;
    font-weight: normal;
}

.SettingDelimiter
{
	border-bottom:#e6e6dd 1px dashed;
	padding-top:10px;
	padding-bottom:10px;
}

.SettingTextField
{
	font-size:9pt;
    font-family: Arial,Verdana,Helvetica,sans-serif;
	border: 1px solid #999999;
	height:18px;
}

.SettingTextFieldError
{
	font-size:9pt;
    font-family: Arial,Verdana,Helvetica,sans-serif;
	border: 1px solid red;
	height:18px;
}

.SettingSelectField
{
	font-size:9pt;
    font-family: Arial,Verdana,Helvetica,sans-serif;
	border: 1px solid #999999;
	height:20px;
}

.ButtonEnabled
{
    color:black;
}

.ButtonDisabled
{
    color:gray;            
}

.SettingSuggestion
{
	background: #fffdcc; 
	border: 1px solid #eaca7f; 
	border-radius: 5px;
	font-size:10pt;
	font-family: Arial,Verdana,Helvetica,sans-serif;
	display: inline-block; 
	position: relative;
	padding: 5px 6px 6px 26px; 
	color: #000;
}

.SettingSuggestion-Icon 
{
	position: absolute;
	left: 4px; 
	top: 4px; 
	height: 16px; 
	width: 16px; 
	background: url(/Orion/NCM/Resources/images/lightbulb_tip_16x16.gif) top left no-repeat; 
}

.SettingException
{
	background: #facece; 
	color: #ce0000;
	border: 1px solid #ce0000; 
	border-radius: 5px;
	font-size:10pt;
	font-family: Arial,Verdana,Helvetica,sans-serif;
	display: inline-block; 
	position: relative;
	padding: 5px 6px 6px 26px; 
}

.SettingException-Icon 
{
	position: absolute;
	left: 4px; 
	top: 4px; 
	height: 16px; 
	width: 16px; 
	background: url(/Orion/NCM/Resources/images/icon_failed.gif) top left no-repeat; 
}

.SettingWarning
{
	background: #fffdcc; 
	border: 1px solid #eaca7f; 
	border-radius: 5px;
	font-size:10pt;
	font-family: Arial,Verdana,Helvetica,sans-serif;
	display: inline-block; 
	position: relative;
	padding: 5px 6px 6px 26px; 
	color: #000;
}

.SettingWarning-Icon 
{
	position: absolute;
	left: 4px; 
	top: 4px; 
	height: 16px; 
	width: 16px; 
	background: url(/Orion/NCM/Resources/images/PolicyIcons/Policy.Warning.gif) top left no-repeat; 
}

.SettingNote
{
	color:gray;
	font-style:italic;
}

.TextFieldDisabled
{
	background-color:silver;	 
}