<%@ Master Language="C#" AutoEventWireup="true" CodeFile="AddMonitorWizard.master.cs" 
MasterPageFile="~/Orion/SEUM/Admin/SEUMAdminPage.master"
Inherits="Orion_SEUM_Admin_Add_AddMonitorWizard" %>

<%@ Register Src="~/Orion/Controls/ProgressIndicator.ascx" TagName="Progress" TagPrefix="orion" %>

<asp:Content ID="Content1" ContentPlaceHolderID="adminHeadPlaceholder" Runat="Server">
    <asp:ContentPlaceHolder ID="adminHeadPlaceholder" runat="server" />
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="adminContentPlaceholder" runat="Server">
    <h1><%= Page.Title %></h1>
    
    <orion:Progress ID="ProgressIndicator" runat="server" IndicatorHeight="OneLine"  />
    
    <div class="GroupBox">
        <asp:ContentPlaceHolder ID="wizardContent" runat="server" />
    </div>
</asp:Content>
