﻿.tableLegendWarning {
    padding-left: 3px;
    padding-right: 3px;
    background-color: #FCD928;
    font-weight: bold;
}

.tableLegendCritical {
    padding-left: 3px;
    padding-right: 3px;
    background-color: #E61929;
    color: white;
    font-weight: bold;
}

.chartDataGrid {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

span.ellipsisText {
    display: inline-block;
    overflow: hidden;
    width: 99%;
    text-overflow: ellipsis;
    white-space: nowrap;
}