﻿.dpi-collectorEdit div {
    margin-bottom: 20px;
}

.dpi-collectorEdit .bold {
    font-weight: bold;
    white-space: nowrap;
    padding-right: 12px;
}

.dpi-collectorEdit .configCol {
    width: 40px;
}

.dpi-collectorEdit td span {
    vertical-align: middle;
}

.dpi-collectorEdit .td-last,
.dpi-collectorEdit td input {
    width: 100%;
}

.dpi-collectorEdit .dd-select {
    padding-right: 24px;
    padding-top: 2px;
}

.dpi-collectorEdit #tbMemory,
.dpi-collectorEdit #tbCPU {
    width: 80px;
}

.dpi-collectorEdit .do-not-exceed {
    border: 1px solid #dadada;
    background: #eaeaea;
    padding: 2px 10px 12px 10px;
}

.dpi-collectorEdit .warn {
    font-size: 10px;
}

.inline-link {
    font-size: 11px;
    color: #006699;
}

    .inline-link:hover {
        color: #F99D1C;
    }