﻿/* Default grid row */
.sw-dpi-grid .x4-grid-row .x4-grid-cell {
    background-color: #ffffff !important;
    border-top: 1px solid #e4e4e4 !important;
    border-bottom: 1px solid transparent !important;
}

/* Alternate grid row */
.sw-dpi-grid .x4-grid-row-alt .x4-grid-cell {
    background-color: #f4f4f4 !important;
}

/* Hover grid row */
.sw-dpi-grid .x4-grid-row-over .x4-grid-cell {
    background-color: #fffdcc !important;
    border-top: 1px solid #ffe099 !important;
    border-bottom: 1px solid #ffe099 !important;
}

.sw-dpi-grid .x4-grid-row-over .x4-grid-cell-first {
    background-image: none !important;
}

/* Selected grid row */
.sw-dpi-grid .x4-grid-row-selected .x4-grid-cell {
    background-color: #ffe89e !important;
    border-top: 1px solid #fbd066 !important;
    border-bottom: 1px solid #fbd066 !important;
}

.sw-dpi-grid .x4-grid-row-selected .x4-grid-cell-first {
    background-image: none !important;
}

/* Disabled grid rows */
.sw-dpi-grid .disabled-row {
    color: #aaaaaa !important;
}

    .sw-dpi-grid .disabled-row img {
        opacity: 0.5 !important;
        filter: alpha(opacity=50);
    }

.sw-dpi-grid .subGrid thead tr td {
    background: #e4e4e4;
}