﻿/* defaults */
p.sw-checkbox-switch {
    font-size: 1em;
    margin: 0 0 1em 0;
}

label + p.sw-checkbox-switch,
input + p.sw-checkbox-switch {
    margin-top: 18px;
}

p.sw-checkbox-switch > input {
    padding: 0;
    margin: 0;
    height: 18px;
    width: 44px;
    float: left;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

p.sw-checkbox-switch > label {
    line-height: 18px;
    padding: 0 0 0 44px;
    cursor: pointer;
}

/* unchecked */
p.sw-checkbox-switch:not(#sw-never-used) > input + label {
    background: url(/Orion/DPI/images/app_enable_off.png) 0px 0px no-repeat;
    height: 18px;
    border: 1px solid #f0f0f0;
    cursor: pointer;
}

/* checked */
p:not(#sw-never-used) > input[type=checkbox]:checked + label {
    background: url(/Orion/DPI/images/app_enable_on.png) 0px 0px no-repeat;
}

    p:not(#sw-never-used) > input[type=checkbox]:hover:checked + label,
    p:not(#sw-never-used) > input[type=checkbox]:focus:checked + label,
    p:not(#sw-never-used) > input[type=checkbox]:checked + label:hover,
    p:not(#sw-never-used) > input[type=checkbox]:focus:checked + label {
        background: url(/Orion/DPI/images/app_enable_on.png) 0px 0px no-repeat;
    }

/* hover - focus */
p:not(#sw-never-used) > input[type=checkbox]:hover + label,
p:not(#sw-never-used) > input[type=checkbox]:focus + label,
p:not(#sw-never-used) > input[type=checkbox] + label:hover {
    border: 1px solid #cccccc;
}