﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ApmModuleDetails.ascx.cs" Inherits="Orion_APM_Admin_ApmModuleDetails" %>

<%@ Register Src="~/Orion/Admin/Details/ModuleDetailsBlock.ascx" TagPrefix="orion" TagName="ModuleDetailBlock" %>

<orion:ModuleDetailBlock ID="ApmDetails" runat ="server" />