﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="CmpTestResult.ascx.cs" Inherits="Orion_APM_Admin_CmpTestResult" %>

<orion:Include ID="js1" File="/APM/Js/CmpTestResult.js" runat="server"/>

<div id="<%=RenderTo%>" class="tr"></div>