﻿#apm_admin_content .GroupItem a
{
	text-decoration: underline;
	color: #336699;
	font-weight: normal;
}

#apm_admin_content .GroupItem a:hover
{
	color: #f99d1c;
}

/* use with groupitems or other elements that are 21px tall */
.ZebraBackground > li:nth-child(even) {
     background-color: #fff;
}

.ZebraBackground > li:nth-child(odd) {
    background-color: #f6f6f6;
}

.ElementGrouping
{
	padding: 0;
	margin: 0;	
	width: 100%;
	border: #e1e1e0 solid 1px;	
}

.apm_GroupSection
{
	background-color:#E2E2E1;
	margin: 0px;
	padding: 5px;
	background-image:url('/Orion/APM/Images/Admin/bg.groupby.gif');
	background-repeat: repeat-x;
}

.GroupItems
{
	margin: 0;
	padding: 0;
	overflow: auto;
}

.GroupItem, .SelectedGroupItem
{
	white-space:nowrap;
	list-style-type: none;
	padding: 0;
	margin: 0;
	padding:2px 5px;
}

.GroupItem img, .SelectedGroupItem img
{
	vertical-align: text-bottom;
}

.SelectedGroupItem
{
	font-weight:bold;
	background-image: url('/Orion/Nodes/images/background/left_selection_gradient.gif');
	background-color:#97d6ff;
	background-repeat:repeat-x;
}

table.ExistingElements 
{
	width: 100%;
	margin: 0;
	padding: 0;
}

a.apm_NetObjectLink
{
	white-space: nowrap;
}

table.ExistingElements>tbody>tr>td
{
	margin: 0;
	padding: 0;
}

#Grid a
{
	color: #4779C4;
}
