<div class="aad-dc-item">
    <div class="aad-dc-item__left-side aad-dc-center-content">
        <div class="aad-dc-domaincontroller">
            <div class="aad-dc-domaincontroller__icon pull-left">
                <xui-icon icon="{{'orion.nodes' | swEntityIcon}}" is-dynamic="true" status="{{::item.status | swStatus}}"></xui-icon>
            </div>
            <div class="text_wrap">
                <a ng-if="item.nodeDetailsUrl" ng-href="{{::item.nodeDetailsUrl}}" class="xui-text-l xui-text-a">{{::item.name}}</a>
                <span ng-if="!item.nodeDetailsUrl" class="xui-text-r">{{::item.name}}</span>
            </div>
        </div>

        <div class="xui-margin-smv xui-margin-mdl">
            <div class="xui-text-s text_wrap" ng-if="item.nodeID !== null && item.siteName != null">
                    <span _t>at</span>&nbsp;{{::item.siteName}}
            </div>

            <div class="xui-text-s text_wrap" ng-if="item.nodeID !== null && item.siteName === null">
                <span _t>N/A</span>
            </div>

            <div class="text_wrap" ng-if="item.nodeID === null">
                <a href="http://www.solarwinds.com/documentation/helpLoader.aspx?lang=en&topic=OrionSAMAGAppInsightforADDomainController" target="_blank" class="xui-text-a" _t>
                    » Learn how to monitor this node
                </a>
            </div>
        </div>
    </div>

    <div>
        <domain-controller-roles roles="::item.roles"></domain-controller-roles>

        <div class="text_wrap xui-text-r" ng-if="item.roles === 0" _t>
            No Roles
        </div>
    </div>
</div>
