<div class="id-oap-row oap-row xui-margin-mdv">
   <div class="id-oap-poller oap-poller oap-poller-name-content">
      <div class="id-oap-value-to-monitor oap-value-to-monitor">
         <div class="id-oap-value-to-monitor-icon oap-value-to-monitor-icon pull-left">
            <xui-icon ng-if="item.valueToMonitorStatus" icon="status_{{::item.valueToMonitorStatus | swStatus}}" is-dynamic="true"></xui-icon>
            <xui-icon ng-if="!item.valueToMonitorStatus" icon="status_unknown" is-dynamic="true"></xui-icon>
         </div>
         <div class="pull-left text_wrap oap-value-to-monitor-name">
            <a class="id-oap-value-to-monitor-link" ng-href="{{::item.valueToMonitorUrl}}" xui-ellipsis
               ellipsis-options="{tooltipText: item.valueToMonitorName}">{{::item.valueToMonitorName}}</a>
         </div>
      </div>
      <div class="oap-value-to-monitor-spreader pull-left"></div>
      <div class="oap-poller-name" xui-ellipsis ellipsis-options="{tooltipText: item.orionApiPollerName}">
         <span _t>on</span> <a class="id-oap-poller-link"
            ng-href="{{::item.apiPollerUrl}}">{{::item.orionApiPollerName}}</a>
      </div>
   </div>
   <div class="id-oap-value-to-monitor-metric oap-poller-value-content">
      <span xui-ellipsis ng-if="item.valueToMonitorMetric !== null && item.valueToMonitorMetric !== undefined"
         ellipsis-options="{tooltipText: item.valueToMonitorMetric.toString()}">{{::item.valueToMonitorMetric}}</span>
   </div>
</div>
