<div ng-controller="replicationDetailsExpanderController as vm" class="aad-replication-row">
        <xui-expander on-status-changed="vm.onExpanderStatusChanged({
                isOpen,
                sourceDomainControllerFqdn: item.sourceDomainControllerFqdn,
                destinationDomainControllerFqdn: item.destinationDomainControllerFqdn
            })">
            <xui-expander-heading>
    
                <div class="id-replication-details-row aad-replication-details-row">
    
                    <!-- left side (destination) content-->
                    <div class="id-replication-destination aad-replication-node aad-replication-center-content">
                        <div class="id-domaincontroller aad-replication-domaincontroller">
                            <div class="id-domaincontroller-icon aad-replication-domaincontroller-icon pull-left">
                                <xui-icon icon="{{'orion.nodes' | swEntityIcon}}" is-dynamic="true" status="{{::item.destinationNodeStatus | swStatus}}"></xui-icon>
                            </div>
                            <div class="id-domaincontroller-name aad-replication-domaincontroller-name pull-left text_wrap xui-text-l">
                                <a class="id-node-name-link" ng-href="{{::item.destinationNodeUrl}}" ng-if="item.destinationNodeName !== null">{{::item.destinationNodeName}}</a>
                                <span class="id-node-name" ng-if="item.destinationNodeName === null" xui-ellipsis append-to-body="true"
                                ellipsis-options="{tooltipText: item.destinationDomainControllerFqdn}">
                                    {{::item.destinationDomainControllerFqdn}}
                                </span>
                            </div>
                        </div>
                        <div class="aad-replication-spreader pull-left"></div>
                        <div class="id-destination-domain aad-replication-domain text_wrap" ng-if="item.destinationDomainName !== null">
                            <span _t>at</span>
                            <xui-icon icon-size="small" icon="{{'orion.nodes' | swEntityIcon}}" is-dynamic="true" status="{{::item.destinationApplicationStatus | swStatus}}">
                            </xui-icon>
                            <a class="id-destination-domain-name-link" ng-href="{{::item.destinationApplicationUrl}}">{{::item.destinationDomainName}}</a>
                        </div>
                        <div class="id-start-monitoring aad-replication-domain">
                            <div class="text_wrap" ng-if="item.destinationNodeName === null" >
                                <a href="http://www.solarwinds.com/documentation/helpLoader.aspx?lang=en&topic=OrionSAMAGAppInsightforADDomainController"
                                    target="_blank" class="xui-text-a"  xui-ellipsis ellipsis-options="vm.ellipsisOptions" append-to-body="true" _t>
                                    » Learn how to monitor this node
                                </a>
                            </div>
                        </div>
                    </div>
    
                    <!-- pill and arrow -->
                    <div class="id-replication-pill aad-replication-pill aad-replication-center-content" ng-class="::vm.getPillStatus(item.status)">
                        <div class="arrow">
                            <div class="id-arrowhead aad-replication-arrowhead-left"></div>
                            <div class="line"></div>
                        </div>
                        <svg class="replication-pill-svg">
                            <g>
                                <rect x="0" y="1" rx="10" ry="50" width="50" height="18" class="rectangle" />
                                <text text-anchor="middle" x="26" y="14" class="id-transport-type" ng-if="item.transportType == 1">
                                    IP
                                </text>
    
                                <text text-anchor="middle" x="26" y="14" class="id-transport-type" ng-if="item.transportType == 2">
                                    SMTP
                                </text>
    
                                <text text-anchor="middle" x="26" y="14" class="id-transport-type" ng-if="item.transportType == 3">
                                    RPC
                                </text>
                            </g>
                        </svg>
                    </div>
    
                    <!-- right-side (source) content -->
                    <div class="id-replication-source aad-replication-node aad-replication-center-content ">
                        <div class="id-domaincontroller aad-replication-domaincontroller">
                            <div class="id-domaincontroller-icon aad-replication-domaincontroller-icon pull-left">
                                <xui-icon icon="{{'orion.nodes' | swEntityIcon}}" is-dynamic="true" status="{{::item.sourceNodeStatus | swStatus}}"></xui-icon>
                            </div>
                            <div class="text_wrap" ng-class="{'xui-text-l' : (item.sourceNodeName !== null)}">
                                <a class="id-node-name-link" ng-href="{{::item.sourceNodeUrl}}" ng-if="item.sourceNodeName !== null">{{::item.sourceNodeName}}</a>
                                <span class="xui-text-s text_wrap" ng-if="item.sourceNodeName === null" xui-ellipsis append-to-body="true"
                                ellipsis-options="{tooltipText: item.sourceDomainControllerFqdn}">
                                    {{::item.sourceDomainControllerFqdn}}
                                </span>
                            </div>
                        </div>
                        <div class="aad-replication-spreader pull-left"></div>
                        <div class="id-source-domain aad-replication-domain text_wrap" ng-if="item.sourceDomainName !== null">
                            <span _t>at</span>
                            <xui-icon icon-size="small" class="id-source-application-status-icon" icon="{{'orion.nodes' | swEntityIcon}}"
                                is-dynamic="true" status="{{::item.sourceApplicationStatus | swStatus}}">
                            </xui-icon>
                            <a class="id-source-domain-name-link" ng-href="{{::item.sourceApplicationUrl}}" >
                                {{::item.sourceDomainName}}
                            </a>
                        </div>
                        <div class="id-start-monitoring aad-replication-domain">
                            <div class="text_wrap" ng-if="item.sourceNodeName === null">
                                <a href="http://www.solarwinds.com/documentation/helpLoader.aspx?lang=en&topic=OrionSAMAGAppInsightforADDomainController"
                                    xui-ellipsis ellipsis-options="vm.ellipsisOptions" append-to-body="true" target="_blank" class="xui-text-a"
                                    _t>
                                    » Learn how to monitor this node
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    
            </xui-expander-heading>
    
            <xui-listview stripe="false" row-padding="compact" items-source="vm.namingContextReplications" template-url="replication-details-template"
                controller="vm">
            </xui-listview>
    
        </xui-expander>
    </div>
