<div ng-controller="trustSummaryController as vm" class="aad-trust-summary-row xui-margin-mdv">
    <!-- left side content-->
    <div class="id-trusting-domain aad-trust-domain">
        <div class="id-trusting-domain-icon aad-trust-domain-icon pull-left">
            <xui-icon icon="network"></xui-icon>
        </div>
        <div class="id-trusting-domain-name pull-left text_wrap" xui-ellipsis append-to-body="true" ellipsis-options="{tooltipText: item.trustingDomainName}">
            <span class="xui-text-bg">
                {{::item.trustingDomainName}}
            </span>
        </div>
    </div>
    <!-- pill and arrows-->
    <div class="id-trust-info aad-trust-info">
        <div class="id-trust-pill aad-trust-pill" xui-popover  xui-popover-content="vm.popOverTemplate()" xui-popover-title="_t(Trust Attributes)" _ta>
            <div class="arrow">
                <div class="id-arrowhead aad-trust-arrowhead-left" ng-if="item.direction === 'InBound' || item.direction === 'Bidirectional'"></div>
                <div class="line"></div>
            </div>
            <svg class="trust-pill-svg">
                <g>
                    <rect x="0" y="1" rx="10" ry="50" width="150" height="18" class="rectangle" />
                    <text text-anchor="middle" x="75" y="14" class="id-trust-type" ng-if="item.type === 'DownLevel'" _t>
                        Down Level
                    </text>
                    <text text-anchor="middle" x="75" y="14" class="id-trust-type" ng-if="item.type === 'UpLevel'" _t>
                        Up Level
                    </text>
                    <text text-anchor="middle" x="75" y="14" class="id-trust-type" ng-if="item.type === 'MIT'" _t>
                        MIT
                    </text>
                    <text text-anchor="middle" x="75" y="14" class="id-trust-type" ng-if="item.type === 'DCE'" _t>
                        DCE
                    </text>
                </g>
            </svg>
            <div class="arrow">
                <div class="line"></div>
                <div class="id-arrowhead aad-trust-arrowhead-right" ng-if="item.direction === 'OutBound' || item.direction === 'Bidirectional'"></div>
            </div>
        </div>
    </div>
 
    <!-- right side content-->
    <div class="id-trusted-domain aad-trust-domain">
        <div class="id-trusted-domain-icon aad-trust-domain-icon pull-left">
            <xui-icon icon="network"></xui-icon>
        </div>
        <div class="id-trusted-domain-name text_wrap" xui-ellipsis append-to-body="true" ellipsis-options="{tooltipText: item.trustedDomainName}">
            <span class="xui-text-bg">
                {{::item.trustedDomainName}}
            </span>
        </div>
    </div>
</div>
