﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SelectJmxBeansControl.ascx.cs" Inherits="Orion_APM_Admin_MonitorLibrary_AppFinder_Controls_SelectJmxBeansControl" %>

<div id="extArea" class="apm_jmx_beans_extArea" runat="server"></div>