﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="UdtModuleDetails.ascx.cs" Inherits="Orion_UDT_Admin_LicenseDetails_UdtModuleDetails" %>

<%@ Register Src="~/Orion/Admin/Details/ModuleDetailsBlock.ascx" TagPrefix="orion" TagName="ModuleDetailBlock" %>

<orion:ModuleDetailBlock ID="OrionUdtDetails" runat ="server" />
