/*!
 * @solarwinds/ncm-apollo 2020.2.5-3053
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
@media all and (-ms-high-contrast: none) {
  .xui-ellipsis {
    flex: none !important;
  }
  footer.sw-footer {
    position: absolute;
    bottom: 0px;
  }
  .sw-orion body #content {
    flex: 1;
    overflow-y: scroll;
    min-height: 95vh;
  }
}
@media (-ms-high-contrast: active) {
  .xui-ellipsis {
    flex: none !important;
  }
  footer.sw-footer {
    position: absolute;
    bottom: 0px;
  }
  .sw-orion body #content {
    flex: 1;
    overflow-y: scroll;
    min-height: 95vh;
  }
}
.xui .xui-page-content__header-title {
  text-transform: none !important;
}
/*acl rule highlighting*/
.ncm-rulehighlight-permit {
  color: #bcbd22;
  font-weight: normal;
}
.ncm-rulehighlight-deny {
  color: #ff7300;
  font-weight: normal;
}
.ncm-rulehighlight-srcaddr {
  color: #FFFFFF;
}
.ncm-rulehighlight-destaddr {
  color: #FFFFFF;
}
.ncm-rulehighlight-protocol {
  color: #FFFFFF;
  font-weight: bold;
}
.ncm-rulehighlight-srcport {
  color: #a6dbf8;
  font-weight: bold;
}
.ncm-rulehighlight-destport {
  color: #e8e8b2;
  font-weight: bold;
}
.ncm-rulehighlight-default {
  color: #AAAAAA;
  font-weight: normal;
}
.ncm-rulehighlight-remark {
  color: #AAAAAA;
  font-weight: normal;
  font-style: italic;
}
.ncm-rulehighlight-keyword-1 {
  color: #a6dbf8;
  font-weight: bold;
}
.ncm-rulehighlight-keyword-2 {
  color: #e8e8b2;
  font-weight: bold;
}
.ncm-rulehighlight-object {
  color: #a6dbf8;
  font-weight: bold;
}
.ncm-rulehighlight-underline {
  text-decoration: underline !important;
}
.ncm-rulehighlight-ordinalnumber {
  color: #c2c2c2;
}
.ncm-rule-search-highlight {
  background-color: rgba(249, 157, 28, 0.3);
}
.ncm-rule-url {
  color: #00bba1 !important;
  text-decoration: underline !important;
}
.ncm-rule-log-level {
  color: #bc8d30;
}
.ncm-rule-log-interlal {
  color: #a6dbf8;
}
.ncm-rule-timerange {
  color: #e8d7b7;
}
.ncm-rule-keyword {
  color: #FFFFFF;
}
.ncm-rule-token {
  margin-right: 5px;
}
.highlight-status-2 {
  color: #333333;
  background: linear-gradient(to right, #0097eb 5px, #6bcaff 5px);
}
.highlight-status-3 {
  color: #333333;
  background: linear-gradient(to right, #bcbd22 5px, #e6e778 5px);
}
.highlight-status-4 {
  color: #333333;
  background: linear-gradient(to right, #ff00a3 5px, #ff80d1 5px);
}
/*acl rules/group objects/groups  diff*/
.diff-table {
  width: 100%;
}
.diff-table thead tr td {
  padding: 10px;
}
.diff-table tbody tr {
  height: 30px;
}
.diff-table .header-bg {
  width: 49.5%;
  color: #333333;
  background-color: #f6f6f6;
}
.diff-table .header-bg .entity-name {
  word-break: break-all;
}
.diff-table .stripe-even-bg {
  color: #c2c2c2;
  background-color: #1D1D1D;
}
.diff-table .stripe-odd-bg {
  color: #c2c2c2;
  background-color: #272727;
}
.diff-table .td-ordinalNumber {
  padding-right: 2px;
  text-align: right;
  width: 0.5%;
  min-width: 30px;
}
.diff-table .td-rawData {
  width: 49%;
  padding-left: 10px;
  padding-right: 10px;
}
.diff-table .td-divider {
  padding: 0;
  width: 1%;
  min-width: 20px;
}
.aclConfigsInfo-details-container {
  width: 100%;
}
.aclConfigsInfo-details-container .acl-configs-info1 {
  margin-right: 1%;
  width: 49.5%;
  float: left;
}
.aclConfigsInfo-details-container .acl-configs-info2 {
  width: 49.5%;
  float: left;
}
.vertical-divider {
  border-left: 1px solid #D5D5D5;
}
@supports (position: sticky) {
  .sticky-object-inspector-container {
    position: sticky;
    position: -webkit-sticky;
    top: 80px;
  }
}
.ncm-vpcSubpage {
  min-height: 300px;
}
.ncm-vpcSubpage .description {
  color: gray;
  padding-right: 2px;
}
.ncm-vpcSubpage .busy {
  min-height: 300px;
}
.ncm-vpcSubpage .header-container {
  display: flex;
  padding: 10px 10px 4px 10px;
  border-bottom: 1px solid;
  border-color: lightgrey;
}
.ncm-vpcSubpage .header-container .page-title {
  margin: 0px 5px 5px;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}
.ncm-vpcSubpage .vpc-details-container {
  width: 96%;
  margin: 1% 2%;
}
.ncm-vpcSubpage .vpc-details-container .vpc-interface-information-table {
  width: 48%;
  margin: 1%;
  float: left;
}
.xui .xui-page-content__header-title {
  text-transform: none !important;
}
.ncm-text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}
.baseline-management-page .hint {
  color: #AAAAAA;
}
.baseline-management-page .navigation-tabs {
  padding: 15px 15px 0;
}
.baseline-management-page .xui-progress__cancel {
  display: none;
}
.baseline-management-page .baseline-list-container {
  padding: 0 15px;
}
.baseline-management-page .baseline-list-container .xui-sidebar {
  width: 450px;
}
.baseline-management-page .baseline-list-container .xui-sidebar-slideout-right {
  right: -450px;
}
.baseline-management-page .baseline-list-container .xui-sidebar .xui-listview .config-type {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-word;
  display: block;
}
.baseline-management-page .baseline-list-container .xui-sidebar .baseline-inspector .object-inspector-header__title {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 350px;
}
.baseline-management-page .baseline-list-container .xui-sidebar .baseline-inspector .object-inspector-header__desc {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 350px;
}
.baseline-management-page .baseline-list-container ng-transclude {
  display: block;
}
.baseline-management-page .baseline-list-container .ncm-baseline-disabled {
  color: lightgray;
}
.baseline-diff-page .side-title {
  font-size: 12px;
  font-weight: bold;
}
.baseline-diff-page .side-description {
  color: #333333;
}
.edit-baseline-page .subsection {
  margin-top: 15px;
}
.edit-baseline-page .subsection .subtitle {
  font-weight: bold;
  color: #333333;
}
.edit-baseline-page .subsection .button {
  padding: 5px;
}
.edit-baseline-page .subsection .textbox {
  width: 500px;
}
.edit-baseline-page .subsection .title {
  white-space: nowrap;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}
.edit-baseline-page .subsection .selector-with-ignored-lines {
  display: flex;
}
.edit-baseline-page .subsection .selector-with-ignored-lines .multiline-selector {
  width: 65%;
  margin-right: 15px;
}
.edit-baseline-page .subsection .selector-with-ignored-lines .multiline-selector .xui-grid__listview-panel,
.edit-baseline-page .subsection .selector-with-ignored-lines .multiline-selector .xui-listitem.xui-listitem--regular {
  padding: 0;
}
.edit-baseline-page .subsection .selector-with-ignored-lines .multiline-selector .xui-listview {
  border: 1px solid #D5D5D5;
  height: 605px;
  overflow-y: auto;
}
.edit-baseline-page .subsection .selector-with-ignored-lines .ignored-lines {
  width: 35%;
}
.edit-baseline-page .subsection .selector-with-ignored-lines .ignored-lines .markup-baseline-section {
  margin-top: 45px;
  height: 150px;
}
.edit-baseline-page .subsection .selector-with-ignored-lines .ignored-lines .ignored-lines-toolbar {
  height: 20px;
}
.edit-baseline-page .subsection .selector-with-ignored-lines .ignored-lines .clear-all-button {
  float: right;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
}
.edit-baseline-page .subsection .selector-with-ignored-lines .ignored-lines .ignored-lines-listview {
  width: 100%;
  max-height: 435px;
  overflow-y: auto;
}
.edit-baseline-page .subsection .selector-with-ignored-lines .ignored-lines .list-group-item {
  background-color: #e6eff3;
  margin-bottom: 1px;
}
.edit-baseline-page .subsection .selector-with-ignored-lines .ignored-lines .ignored-line {
  display: flex;
}
.edit-baseline-page .subsection .selector-with-ignored-lines .ignored-lines .ignored-line .index {
  width: 5%;
  text-align: right;
  color: #0079AA;
}
.edit-baseline-page .subsection .selector-with-ignored-lines .ignored-lines .ignored-line .content {
  width: 90%;
  padding: 0 10px 0 10px;
}
.edit-baseline-page .subsection .selector-with-ignored-lines .ignored-lines .ignored-line .icon-remove {
  width: 5%;
  text-align: right;
}
.edit-baseline-page .align-right {
  text-align: right;
}
.edit-baseline-page .line {
  display: flex;
  width: 100%;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
.edit-baseline-page .line .checkbox {
  margin: 0 auto;
}
.edit-baseline-page .line .checkbox .xui-checkbox {
  padding: 2px;
}
.edit-baseline-page .line .checkbox label {
  padding-left: 0;
}
.edit-baseline-page .line .content {
  width: 95%;
  white-space: normal;
  word-break: break-all;
  margin-right: 10px;
  padding-left: 5px;
}
.edit-baseline-page .line .selected {
  background-color: #F6F6F6;
}
.edit-baseline-page .line .caughtByComparisonCriteria {
  font-style: italic;
}
.edit-baseline-page .line .index {
  text-align: right;
  padding-right: 5px;
  width: 5%;
}
.modal-dialog.modal-assign-remove {
  width: 70%;
}
.ncm-config-types .top-label {
  text-transform: none;
}
.ncm-config-types .col-add-button {
  margin-top: 4px;
}
.ncm-config-types .add-panel {
  margin-top: 6px;
}
.ncm-config-types .error-box {
  color: #D50000;
  font-size: 11px;
  font-weight: 700;
}
.select-nodes-dialog .error-box {
  color: #D50000;
  font-size: 11px;
  font-weight: 700;
}
.select-nodes-dialog .col-add-button {
  margin-top: 29px;
}
.select-nodes-dialog .add-panel {
  margin-top: 6px;
  margin-bottom: 3px;
}
.modal-dialog.modal-select-nodes {
  width: 40%;
}
.ncm-security-policies {
  display: block;
  height: 100%;
  overflow: hidden;
}
.ncm-access-list .acl-compare-button-container {
  padding: 10px 15px;
}
.ncm-access-list .acl-divider {
  margin: 0px auto;
}
.ncm-access-list .grid-row {
  display: flex;
  width: 100%;
}
.ncm-access-list .grid-row .col-checkBox {
  width: 30px;
  min-width: 30px;
  margin-top: -4px;
}
.ncm-access-list .grid-row .col-icon {
  width: 30px;
  min-width: 30px;
  margin-top: 5px;
}
.ncm-access-list .grid-row .col-name {
  width: 50%;
  white-space: normal;
  word-break: break-all;
  padding-right: 10px;
}
.ncm-access-list .grid-row .col-interface {
  width: 50%;
}
.ncm-access-list .grid-row .col-srd-desc {
  width: 100px;
  min-width: 100px;
  text-align: left;
}
.ncm-access-list .grid-row .col-srd-desc .srd-icon {
  margin-right: 3px;
  margin-bottom: 6px;
}
.ncm-access-list .grid-row .col-srd-desc .srd-counter {
  font-weight: bold;
}
.ncm-access-list .acl-grid-child .list-group.list-group-striped > .list-group-item {
  background-color: transparent;
}
.ncm-access-list .acl-grid-child .col-srd-desc {
  padding-left: 30px;
}
.ncm-access-list .expand-icon-offset {
  margin-left: 20px;
}
.ncm-access-list .xui-expander-heading-content {
  float: none !important;
}
.acl-search-highlight {
  background-color: rgba(249, 157, 28, 0.3);
}
.ncm-rule-list .col-md-3,
.ncm-rule-list .col-md-9,
.ncm-rule-list .col-md-12 {
  padding-left: 0;
}
.ncm-rule-list .ncm-rule-list-container .ncm-toolbar-button {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.ncm-rule-list .ncm-rule-list-container .ncm-toolbar-button .xui-icon {
  margin-right: 5px;
}
.ncm-rule-list .ncm-rule-list-container .ncm-toolbar-button .xui-button-content {
  margin-left: 0 !important;
}
.ncm-rule-list .ncm-rule-list-container .xui-grid__listview-panel {
  padding-right: 0;
}
.ncm-rule-list .ncm-rule-list-container .list-group.list-group-striped > .list-group-item {
  padding: 0;
}
.ncm-rule-list .ncm-rule-list-container .list-group.list-group-striped > .list-group-item:nth-of-type(odd) {
  background-color: #1D1D1D;
}
.ncm-rule-list .ncm-rule-list-container .list-group.list-group-striped > .list-group-item:nth-of-type(even) {
  background-color: #272727;
}
.ncm-rule-list .ncm-rule-list-container .rule-row {
  display: flex;
  line-height: 30px;
}
.ncm-rule-list .ncm-rule-list-container .rule-row .col-match-counter {
  margin-right: 5px;
  text-align: right;
}
.ncm-rule-list .ncm-rule-list-container .rule-row .col-srd-icon {
  margin-left: 10px;
  text-align: center;
}
.ncm-rule-list .ncm-rule-list-container .rule-row .col-srd-empty {
  width: 30px;
}
.ncm-rule-list .ncm-rule-list-container .xui-panel__body {
  overflow: visible !important;
}
.ncm-rule-list .srd-dialog-content {
  max-height: 300px;
  overflow-y: auto;
}
.ncm-rule-list .srd-dialog-rules {
  margin-bottom: 10px;
}
@supports (position: sticky) {
  .ncm-rule-list .sticky-object-inspector-container {
    position: sticky;
    position: -webkit-sticky;
    top: 80px;
  }
}
.debug-red {
  color: red;
}
.ncm-object-inspector .vertical-divider {
  border-left: 1px solid #D5D5D5;
}
.ncm-object-inspector .header-bg {
  background-color: #E2F1F5;
}
.ncm-object-inspector .ncm-object-inspector-header-transcluded {
  padding: 0px 15px 15px 50px !important;
}
.ncm-object-inspector .ncm-object-inspector-button {
  padding-top: 15px;
  padding-left: 5px;
}
.ncm-object-inspector .ncm-object-inspector-description {
  padding: 0 15px;
}
.ncm-object-inspector .ncm-object-inspector-description-content {
  padding-top: 15px;
}
.ncm-object-inspector .ncm-object-inspector-objects-title {
  padding: 0 15px 15px 15px;
}
.ncm-object-inspector .ncm-object-inspector-objects-rows {
  padding: 5px 15px;
}
.ncm-object-inspector .ncm-object-inspector-objects-rows:nth-of-type(even) {
  background-color: #F6F6F6;
}
.ncm-rule-row {
  display: flex;
  width: 100%;
  line-height: 30px;
}
.ncm-rule-row .col-ordinal-number {
  width: auto;
  min-width: 30px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: right;
}
.ncm-rule-row .col-raw-data {
  padding-left: 10px;
  padding-right: 10px;
  width: 98%;
}
.ncm-rule-row .col-disabled-icon {
  margin-right: 5px;
  text-align: center;
}
.ncm-rule-row .col-goto-icon {
  margin-right: 5px;
  margin-left: 3px;
  text-align: center;
}
.vpc-interface-info {
  word-break: break-all;
}
.vpc-interface-info .description {
  color: gray;
  padding-right: 2px;
}
.vpc-interface-info .additional {
  font-style: italic;
  margin-left: 5px;
}
.vpc-interface-info .important {
  font-weight: bold;
}
.vpc-interface-info .vpc-not-found .vpc-not-found-icon {
  text-align: center;
  margin: 20px 0px 10px 0px;
}
.vpc-interface-info .vpc-not-found .vpc-not-found-description {
  text-align: center;
}
.vpc-interface-info .header-bg {
  color: #333333;
  background-color: #f6f6f6;
  padding: 10px;
}
.vpc-interface-info .header-bg .entity-name {
  font-weight: bold;
}
.vpc-interface-info .header-bg .entity-description {
  display: flex;
}
.vpc-interface-info .table-td {
  vertical-align: top;
}
.vpc-interface-info .vpc-interface-table {
  width: 100%;
}
.vpc-interface-info .vpc-interface-table .vpcInterfaceCommand {
  padding-left: 30px;
}
.vpc-interface-info .stripe-even-bg {
  color: #c2c2c2;
  background-color: #1D1D1D;
}
.vpc-interface-info .stripe-odd-bg {
  color: #c2c2c2;
  background-color: #272727;
}
.vpc-interface-info .td-rawData {
  padding: 5px 10px;
  min-height: 30px;
}
@media only screen and (max-width: 992px) {
  .clear-all {
    float: left;
  }
}
@media only screen and (min-width: 993px) {
  .clear-all {
    float: right;
  }
}
.node-selector-with-config-types {
  display: flex;
  width: 100%;
  height: 600px;
}
.node-selector-with-config-types .node-selector {
  width: 70%;
}
.node-selector-with-config-types .node-selector .xui-expandable-property-v2__title-container {
  width: 125px;
}
.node-selector-with-config-types .node-selector .xui-expandable-property__count {
  margin-left: 0px;
}
.node-selector-with-config-types .node-selector .xui-progress__cancel {
  display: none;
}
.node-selector-with-config-types .node-selector .node-row {
  display: flex;
  width: 100%;
}
.node-selector-with-config-types .node-selector .node-row .node-name {
  width: 100%;
  white-space: normal;
  padding: 5px 5px 0 5px;
}
.node-selector-with-config-types .config-types-with-selection {
  width: 30%;
  border-left: 1px solid #D5D5D5;
  padding-left: 15px;
}
.node-selector-with-config-types .config-types-with-selection .config-type-selection {
  height: 150px;
}
.node-selector-with-config-types .config-types-with-selection .config-type-selection .title {
  height: 20px;
}
.node-selector-with-config-types .config-types-with-selection .config-type-selection .config-types {
  height: 130px;
  overflow-y: auto;
}
.node-selector-with-config-types .config-types-with-selection .node-selection {
  padding-top: 20px;
  height: 430px;
}
.node-selector-with-config-types .config-types-with-selection .node-selection .title {
  height: 20px;
}
.node-selector-with-config-types .config-types-with-selection .node-selection .selected-nodes-listview {
  height: 410px;
  overflow-y: auto;
}
.node-selector-with-config-types .config-types-with-selection .title {
  display: inline-block;
  margin: 0;
}
.node-selector-with-config-types .config-types-with-selection .clear-all {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
}
.node-selector-with-config-types .config-types-with-selection .selected-nodes-listview .list-group-item {
  background-color: #e6eff3;
  margin-bottom: 1px;
}
.node-selector-with-config-types .config-types-with-selection .selected-nodes-listview .selected-node {
  display: flex;
  width: 100%;
}
.node-selector-with-config-types .config-types-with-selection .selected-nodes-listview .selected-node .node-name {
  width: 90%;
}
.node-selector-with-config-types .config-types-with-selection .selected-nodes-listview .selected-node .icon-remove {
  width: 10%;
  text-align: right;
}
.acl-config-info {
  width: 100%;
}
.acl-config-info .header-bg {
  padding: 10px;
  color: #333333;
  background-color: #f6f6f6;
}
.acl-config-info .header-bg .entity-name {
  word-break: break-all;
}
.acl-config-info .stripe-even-bg {
  color: #c2c2c2;
  background-color: #1D1D1D;
}
.acl-config-info .stripe-odd-bg {
  color: #c2c2c2;
  background-color: #272727;
}
.acl-config-info .rule-row {
  min-height: 30px;
}

/*# sourceMappingURL=ncm.css.map*/