<%@ Control Language="C#" AutoEventWireup="true" Inherits="SolarWinds.Orion.Web.UI.EmptyResource" %>
<orion:resourceWrapper ID="ResourceWrapper1" runat="server" ShowEditButton="true">
    <Content></Content>
</orion:resourceWrapper>
