body {
    background-color: #EEEEEE;
}

.sw-hdr-breadbox {
    display: none;
}

div#content {
    background-color: #EEEEEE;
}

div#content-after {
    background-color: #EEEEEE;
}

div#adminContent {
    background-color: #EEEEEE;
}

.hpc-panel {
    width: 600px;
}

.hpc-panel * {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: inherit;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif !important;
}


.hpc-panel input:disabled,
.hpc-panel textarea:disabled,
.hpc-panel select:disabled {
    background-color: #F6F6F6;
}

.hpc-panel ul, .hpc-panel ol {
    list-style: none;
}

.hpc-horizontal-stack {
    list-style: none;
}

.hpc-horizontal-stack > li {
    display: inline-block;
    margin-right: 10px;
}

.hpc-panel .hpc-loading-indicator {
    display: inline-block;
    margin-bottom: 10px;
}

.hpc-loading-indicator img {
    margin-right: 10px;
}

#adminContent .hpc-panel h1 {
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 30px;
}

#adminContent .hpc-panel h2 {
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 30px;
}

/* original esi base code went rogue and redefined standard buttons */

.hpc-btn {
    height: 31px;
    line-height: 31px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

.hpc-btn-small {
    height: 23px;
    line-height: 21px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}


.hpc-btn-primary,
.hpc-btn-primary:visited,
.hpc-btn-primary:active {
    color: #ffffff;
    background-color: #297994;
}

.hpc-btn-primary:hover {
    color: #ffffff;
    background-color: #23677e;
}


.hpc-btn-secondary,
.hpc-btn-secondary:visited,
.hpc-btn-secondary:active,
a.hpc-btn-secondary,
a.hpc-btn-secondary:visited,
a.hpc-btn-secondary:active {
    color: #297994;
    border-width: 1px;
    border-style: solid;
    background-color: #ffffff;
    border-left-color: #D5D5D5;
    border-top-color: #D5D5D5;
    border-right-color: #D5D5D5;
    border-bottom-color: #D5D5D5;
}


.hpc-btn-secondary:hover,
a.hpc-btn-secondary:hover {
    color: #297994;
    border-width: 1px;
    border-style: solid;
    background-color: #ffffff;
    border-left-color: #23677e;
    border-top-color: #23677e;
    border-right-color: #23677e;
    border-bottom-color: #23677e;
}

.hpc-btn-tertiary,
.hpc-btn-tertiary:visited,
.hpc-btn-tertiary:active,
a.hpc-btn-tertiary,
a.hpc-btn-tertiary:visited,
a.hpc-btn-tertiary:active {
    color: #297994;
    border-width: 1px;
    border-style: solid;
    background-color: inherit;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.hpc-btn-secondary:hover,
a.hpc-btn-secondary:hover {
    color: #297994;
    border-width: 1px;
    border-style: solid;
    background-color: inherit;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.hpc-cloak {
    display: none !important;
}

.hpc-control-section {
    background-color: #FFFFFF;
    margin-bottom: 30px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

div.hpc-control-section:last-of-type {
    margin-bottom: 15px;
}


.hpc-control-section > label {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border-bottom: solid 2px #EEEEEE;
    display: block;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 15px;
}



.hpc-bottom-section {
    margin-top: 15px;
    background-color: inherit;
}

.hpc-bottom-section > .hpc-horizontal-stack {
    margin-left: auto;
    margin-right: auto;
    width: 220px;
}

.hpc-control-group {
    display: table-row;
    padding-bottom: 0px;
}

.hpc-message-group {
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
}

.hpc-control-group:after {
    display: table;
    content: "";
    clear: both;
}

.hpc-condensed {
    padding-bottom: 10px;
}

.hpc-control-group > label {
    display: table-cell;
    font-weight: 400;
    font-size: 12px;
    width: 120px;
    background-color: #F6F6F6;
    margin-left: 15px;
    margin-right: 10px;
    text-transform: uppercase;
    /*float: left;*/
    text-align: right;
    padding-left: 12px;
    padding-right: 10px;
    padding-top: 15px;    
}

.hpc-control-group > label > span {
    text-transform: none;
}

.hpc-control-group > div {
    display: table-cell;
    min-height: 100%;
    /*float: left;*/
}

.hpc-control-group > div > ul {
margin-left:12px;
}

.hpc-control-group input[type="text"], input[type="password"],
.hpc-control-group select {
    margin-top: 15px;
    height: 25px;
    width: 300px;
    font-size: 13px;
    text-align: left;
    padding: 1px 0px 1px 0px;
    box-sizing: border-box;
    margin-left: 12px;
    margin-right: 0px;
}

.hpc-control-group textarea {
    font-size: 13px;
    text-align: left;
    padding: 1px 0px 1px 0px;
    box-sizing: border-box;
    margin-right: 10px;
    resize: none;
    margin-left: 12px;
    margin-top: 15px;
}

.hpc-control-section > div.hpc-top-message {
    font-size: 11px;
    color: #767676;
    margin-top: 0;
    margin-bottom: 10px;
}

#adminContent .hpc-control-group > div > p {
    font-size: 11px;
    color: #767676;
    margin-top: 10px;
    margin-bottom: 4px;
    margin-right: 0px;
    margin-left: 12px;
    min-width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

#adminContent .hpc-control-group p em {
    color: #0079aa;
    font-weight: 500;
}

#adminContent .hpc-control-group p.hpc-validation-message {
    color: #D50000;
    margin-top: 0px;
    margin-bottom: 4px;
}

.hpc-message-group .hpc-error,
.hpc-message-group .hpc-success,
#adminContent .hpc-message-group .hpc-error,
#adminContent .hpc-message-group .hpc-success,
.hpc-control-group .hpc-error,
.hpc-control-group .hpc-success,
#adminContent .hpc-control-group .hpc-error,
#adminContent .hpc-control-group .hpc-success {
    border-width: 1px;
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 32px;
    padding-right: 12px;
    margin-top: 12px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 6px;
    background-size: 16px 16px;
    width: auto;
}

.hpc-message-group .hpc-error,
#adminContent .hpc-message-group .hpc-error,
.hpc-control-group .hpc-error,
#adminContent .hpc-control-group .hpc-error {
    color: #D50000;
    background-color: #FFE4E0;
    border-left-color: #D50000;
    border-top-color: #D50000;
    border-right-color: #D50000;
    border-bottom-color: #D50000;
    background-image: url('../../images/error_28x28.png');
}

.hpc-message-group .hpc-success,
#adminContent .hpc-message-group .hpc-success,
.hpc-control-group .hpc-success,
#adminContent .hpc-control-group .hpc-success {
    color: #30B230;
    background-color: #E7F4DF;
    border-left-color: #30B230;
    border-top-color: #30B230;
    border-right-color: #30B230;
    border-bottom-color: #30B230;
    background-image: url('../../images/success_24x24.png');
}

.hpc-message-group .hpc-error *,
#adminContent .hpc-message-group .hpc-error *,
.hpc-control-group .hpc-error *,
#adminContent .hpc-control-group .hpc-error * {
    color: #D50000;
    background-color: #FFE4E0;
}

.hpc-message-group .hpc-success *,
#adminContent .hpc-message-group .hpc-success *,
.hpc-control-group .hpc-success *,
#adminContent .hpc-control-group .hpc-success * {
    color: #1D781D;
    background-color: #E7F4DF;
}

.hpc-message-group .hpc-error strong,
.hpc-message-group .hpc-success strong,
#adminContent .hpc-message-group .hpc-error strong,
#adminContent .hpc-message-group .hpc-success strong,
.hpc-control-group .hpc-error strong,
.hpc-control-group .hpc-success strong,
#adminContent .hpc-control-group .hpc-error strong,
#adminContent .hpc-control-group .hpc-success strong {
    font-weight: bold;
}

.hpc-control-group > div > .hpc-error {
    margin-left: 12px;
}

#footer {
    z-index: 1001;
}

#InstanceTest2 ul.hpc-vertical-stack {
    margin-top: 15px;
}

#httpport {
    width: 60px;
}

