﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="VSANSummaryChart.ascx.cs" Inherits="Orion_NPM_Resources_VSANChartsV2_VSANSummaryChart" %>

<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
        <asp:PlaceHolder runat="server" ID="WrapperContents"></asp:PlaceHolder>
    </Content>
</orion:resourceWrapper> 