<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MinMaxAvgLatencyGraph.ascx.cs" Inherits="CCMPhone_Graphs_MinMaxAvgLatencyGraph" %>
<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
         <a href="<%= this.CustomUrl %>">
            <img src="<%= this.ChartImageUrl %>" />
       </a>
    </Content>
</orion:resourceWrapper>