<%@ Control Language="C#" AutoEventWireup="true" CodeFile="InterfaceCustomPollerStatus.ascx.cs" Inherits="InterfaceCustomPollerStatus" %>
<%@ Register TagPrefix="orion" TagName="CustomPollerStatus" Src="~/Orion/NPM/Resources/CustomPollerStatus.ascx" %>

<orion:CustomPollerStatus id="customPollerStatus" ResourceType="Interface" runat="server" />