<%@ Page Language="C#" %>
<%@ Register TagPrefix="apm" Namespace="SolarWinds.APM.Web.Charting" Assembly="SolarWinds.APM.Web" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">

</script>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
        <apm:SecureImagePipe id="SecureImagePipe1" runat="server" PragmaNoCache="true"></apm:SecureImagePipe>    
    </form>
</body>
</html>
