﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ImageTooltip.ascx.cs" Inherits="Orion_APM_Controls_ImageTooltip" %>
<%@ Register Src="~/Orion/Controls/IncludeExtJs.ascx" TagPrefix="orion" TagName="IncludeExtJs" %>
<orion:IncludeExtJs ID="IncludeExtJs1" runat="server" debug="false" Version="3.4"/>
<asp:Image runat="server" ID="portNumberTooltip" ImageUrl="../Images/Admin/icon_lightbulb.gif" CssClass="tooltipImage" />
