<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MockupResourceContainerStub.ascx.cs" Inherits="Orion_APM_Controls_MockupResourceContainerStub" %>

<asp:PlaceHolder ID="MockupResourcePlaceHolder" runat="server"></asp:PlaceHolder>
