<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ProgressIndicator.ascx.cs" 
    Inherits="Orion_APM_Admin_AppFinder_ProgressIndicator"%>
<orion:Include runat="server" File="styles/ProgressIndicator.css" />
<div class="ProgressIndicator" id="ProgressIndicator" runat="server">
</div>
