﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="RequiresNetObject.ascx.cs" Inherits="Orion_APM_Controls_RequiresNetObject" %>

<orion:resourceWrapper ID="Wrapper" runat="server">
	<Content>
		<asp:Literal ID="ctrMsg" runat="server"/>
    </Content>
</orion:resourceWrapper>