﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditApplicationChart.ascx.cs" Inherits="Orion_APM_Controls_Charts_EditApplicationChart" %>
<%@ Register TagPrefix="apm" TagName="Assigner" Src="~/Orion/APM/Controls/AssignResourceToComponent.ascx" %>

<p>
    <apm:Assigner ID="ctrAssigner" runat="server" />
</p>