<%@ Control Language="C#" AutoEventWireup="true" CodeFile="F5ApiConfigCheck.ascx.cs" Inherits="Orion_F5_Controls_F5ApiConfigCheck" %>
<orion:Include ID="Include2" runat="server" File="F5/Styles/HealthMonitors.css" /> 

<div runat="server" class="sw-hm-fullResourceMessage" ID="ConfigHelperBox" />

