﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Events.ascx.cs" Inherits="Orion_SRM_Resources_Events" %>
<%@ Register Src="~/Orion/NetPerfMon/Resources/Events/EventSummary.ascx" TagPrefix="orion" TagName="EventSummary" %>

<orion:EventSummary runat="server" ID="EventSummary" />