﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="NetworkWideChart.ascx.cs" Inherits="Orion_Interfaces_Resources_SummaryCharts_NetworkWideChart" %>

<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
        <asp:PlaceHolder runat="server" ID="WrapperContents"></asp:PlaceHolder>
    </Content>
</orion:resourceWrapper> 