<style>
    iframe {
        border: 0;
        width: 100%;
        overflow: hidden;
    }
</style>
<script type="text/javascript">
    var netmanCloudMonitoringCloudAccountSettings = (function (name) {

        var plugin = {
            name: name,
            init: function (context) {
                // defer init to onEnter to avoid error if iframe is not loaded at the moment of init
            },

            canGoNext: function (context) {
                return getService().canGoNext(context);
            },

            canGoBack: function (context) {
                return getService().canGoBack(context);
            },

            canFinish: function (context) {
                return getService().canFinish(context);
            },

            isValid: function(context) {
                return getService().isValid(context);
            },

            onEnter: function (context) {
                return getService().onEnter(context);
            },

            onExit: function (context) {
                return getService().onExit(context);
            },

            onUpdate: function(context) {
                return getService().onUpdate(context);
            },

            onFinish: function (context) {
                return getService().onFinish(context);
            }
        };

        function getService() {
            var iframe =  document.getElementById("wrapper");
            var iframeWindow = (iframe.contentWindow || iframe.contentDocument);
            service = iframeWindow['CloudAccountSettingsService'];
            return service;
        }
        
        return plugin;
    })("NetMan.CloudMonitoring");

</script>
<iframe id="wrapper" src="/apps/netman-cloudmonitoring/cloud-account-settings-wizard-step"></iframe>