﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SingleLineChartResource_Application.ascx.cs" Inherits="Orion_DPI_Resources_SingleLineChartResource_Application" %>

<orion:resourcewrapper runat="server" id="Wrapper">
    <Content>
        <asp:PlaceHolder runat="server" ID="WrapperContents"></asp:PlaceHolder>
    </Content>
</orion:resourcewrapper>