<div>
    <script type="text/ng-template" id="vim-datastore-tooltip-clusters">
        <div class="sw-entity-popover-property">
            <div class="sw-entity-popover-property__label">
                <div xui-ellipsis
                    ellipsis-options="::{ tooltipText: item.label, tooltipOptions: { 'tooltip-placement': 'bottom' } }">
                    {{::item.label}}
                </div>
            </div>
            <div class="sw-entity-popover-property__value">
                <div class="sw-entity-popover-property__value-separator">
                    <div ng-repeat="clusterInfo in ::item.value track by clusterInfo.name">
                            <div class="xui-margin-mdv" xui-ellipsis
                            ellipsis-options="::{ tooltipText: clusterInfo.name, tooltipOptions: { 'tooltip-placement': 'bottom' } }" find-parent-class="sw-entity-popover-property__value">
                            <xui-icon icon="{{::clusterInfo.platformName}}" status="{{::clusterInfo.statusIconPostfix}}" icon-size="small"></xui-icon>
                            {{::clusterInfo.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="vim-datastore-tooltip-hosts">
        <div class="sw-entity-popover-property">
            <div class="sw-entity-popover-property__label">
                <div xui-ellipsis
                    ellipsis-options="::{ tooltipText: item.label, tooltipOptions: { 'tooltip-placement': 'bottom' } }">
                    {{::item.label}}
                </div>
            </div>
            <div class="sw-entity-popover-property__value">
                <div class="sw-entity-popover-property__value-separator">
                    <div ng-repeat="hostInfo in ::item.value track by hostInfo.name">
                        <div class="xui-margin-mdv" xui-ellipsis
                            ellipsis-options="::{ tooltipText: hostInfo.name, tooltipOptions: { 'tooltip-placement': 'bottom' } }" find-parent-class="sw-entity-popover-property__value">
                            <xui-icon icon="{{::hostInfo.platformName}}" status="{{::hostInfo.statusIconPostfix}}" icon-size="small"></xui-icon>
                            {{::hostInfo.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>