<div ng-if="vm.config.scriptsLoaded" class="orionlog">
    <div class="logentry-list-item">
        <div class="col-status">
            <div class="level-color-bar severity-{{::item.levelKey.toLowerCase()}}"></div>
        </div>
        <div class="col-date">
            <div class="log-entry-logdate">{{::item.dateTime | ologDateTime : 'shortDate' }}</div>
            <div class="xui-text-l log-entry-logtime">{{::item.dateTime | ologDateTime : '12HourTimeWithSeconds' }}</div>
        </div>
        <div class="col-entry">
            <div class="xui-text-l log-entry-header">
                <div class="log-entry-nodename">
                    <a href="{{::item.detailsUrl}}" _t>{{::item.level}} event</a>
                    <span class="node-event-separator" _t>on</span>
                    <xui-icon ng-if="item.nodeStatusIcon" icon="{{::item.nodeIcon}}" status="{{::item.nodeStatusIcon}}" icon-size="small"></xui-icon>
                    <xui-icon ng-if="!item.nodeStatusIcon" icon="{{::item.nodeIcon}}" status="unknown" icon-size="small"></xui-icon>
                    <a href="{{::item.nodeDetailsUrl}}" target="_blank">{{::item.nodeName}}</a>
                </div>
            </div>
            <div class="log-entry-message" ng-attr-title="{{::item.message}}" ng-bind="item.message"></div>
        </div>
    </div>
</div>
