﻿#adminContent .AccountList
{
    vertical-align: middle;
    width: auto;
	white-space: normal;
	border: 1px #ccc solid;
	background-color: #fff;
}

#adminContent .AccountList tr td
{    
    border-right: 1px solid #ccc;
    font-size: 11px;
    vertical-align: middle;
	padding: 4px;
}

#adminContent .AccountList tr td.header
{
    text-align: left;
	font-weight: bold;
	background-color: #f8f8f8;
}

.AccountLink
{
    color: #336699;
    font-weight: bold;
}

a.AccountLink:hover
{
    color: #f99d1c;
	text-decoration: underline;
}