#ActiveDirectoryDialogAutocomplete .ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  border: 1px solid rgb(213, 213, 213);
}

.ui-overflow-visible {
  overflow: visible !important;
}
