﻿  
    .actionsOffPage {
    /* 
      !!! Important !!!
      
      Never hide actions by: display: none; 
      It causes that actions are not rendered well.
      EXTJS has problem with rendering into hidden (display:none) element. 
    */
    
        position: absolute;
        left: -1999px;   
        top: -2000px;  
    }
    .contentInfo
    {
        font-weight: normal;
        color: #696969;
        margin-left: 5px;
    }
    .hintContentInfo {
        overflow: hidden; 
        white-space: nowrap; 
        text-overflow: ellipsis; 
    }
    .actionDefinitions, .action-list-item
    {
        table-layout: fixed;
        border-collapse: collapse;  
        width: 100%;
    }
    
    .actionDefinitions .actionDefinition, .actions-list-sortable .actionDefinition {
        margin: 10px;
        padding: 5px;
        height: 20px;
        border: 1px solid #ecedee;     
    }

    .actionDefinitions .actionDefinition .title {
        min-width: 300px;
        padding-left: 10px;
    }

    .actionDefinitions .actionDefinition td {
        padding: 5px 0;
    }

    .actionDefinitions .empty{
        line-height: 10px;
    }

    .actionDefinitions .actionDefinition .btn {
        cursor: pointer;
    }
   
    .actionDefinitions .addNextAction {
         border: dashed 2px #DDDDDD;
    }

    .actionDefinitions .addNextAction td {
        margin: auto;
        text-align: center;
        padding-top: 3px;
    }
    .tableHeader{
        background-color: #ecedee;
        height: 20px;
        border-top: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        text-transform: uppercase;
        font-size: 10px;
    }
    .actionDefinitions .addNextAction .noActionInfo {
        color: #eb3300;
        float: left;
        text-align: left;
        width: 33%;
        padding-left: 5px;
    }
    .actionDefinitions .addNextAction .rightActionInfo 
    {
        width: 33%;
        text-align: right;
        float: right;
        padding-right: 10px;
    }
      

    .actionDefinitions .addNextAction .sw-btn-t {
        text-transform: none;
        font-size: 12px !important;
    }

 
    .actionsSelectorGrid .x-grid3-row-alt {
        background-color: #fafafa;
    }

    .actionPluginSelector .info {
        margin: 10px 0;
        font-weight: bold;
    }

    .dialogContainer,
    .actionPluginSelector.ui-dialog-content,
    .actionPluginDefinition .ui-accordion-content  {
        background-color: white !important;
        background-image: none;
    }

    .actionPluginDefinition h3 {
        padding: 5px 0 10px 0;
    }
    
    /* Accordion */

    .actionPluginDefinition h3.ui-accordion-header {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 10px;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        padding-left: 30px;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 13px;
        font-weight: normal;
		width: 600px;
    }

    .actionPluginDefinition .ui-accordion-content {
        border: 0 !important;
        margin: 10px 0 20px 10px;
        padding: 5px 0 5px 5px; 
    }

    
     .actionPluginDefinition h3.ui-state-active {
        font-weight: bold;
    }

	.actionPluginDefinition h3.ui-accordion-active span.contentInfo {
		display: none;
	}

    
    /* Hide all the children of the 'loading' element */
    .actionLoading * {
        display: none;
    }

    .actionLoading {
        background-image: url('/Orion/images/animated_loading_sm3_whbg.gif') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        margin: 0 auto;
    }

    .actionPluginDefinition .invalidValue {       
        background-color: #FFE0E0;
        background-repeat: no-repeat;
        /*padding-left: 20px;*/  /*UIF-610*/
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .actionPluginDefinition .warningValue {
        background-color: #FFFFE0;
        background-repeat: no-repeat;
        /*padding-left: 20px;*/  /*UIF-610*/
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .buttonColumn {
        text-align: center;
        width: 75px;
    }

    .titleColumn {
        padding-left: 5px;
    }

    .escalationLevelWrapper {
        border-color: #006699;
        border-style: solid;
        border-width: 1px;
        padding: 10px;
        margin: 5px 0 0 0;
    }

    .escalationLevelWrapper .escalationLevelHeader {
        font-weight: bold;
    }

    .escalationLevelWrapper .escalationLevelHeaderNotes {
        color: #888888;
    }

    .actionDefinitions .waitSplitter {
        width: 100%;
        padding: 7px 0 6px 0;
        text-align: center;
    }

    .actionDefinitions .waitSplitter .escalationWaitInfo {
        background-color: #ecedee;
        padding: 10px;
    }

    .actionDefinitions .waitSplitter .escalationWaitInfo input[type=text] {
        width: 30px;
    }

    .actionDefinitions .waitSplitter .escalationWaitInfo .invalidValue {
        background-color: #FFE0E0;
    }

    .escalationLevelWrapper .escalationLevelCloser {
        float: right;
        cursor: pointer;
        margin-bottom: 8px;
    }

    .actionDefinitions .addEscalationLevelWrapper {
        width: 100%;
        padding: 5px;
        margin: 3px 0 2px 0;
    }    
    
    .action-dragdrop-placeholder {border: dashed 2px #DDDDDD!important; width: 100%;height: 30px;margin-bottom: 5px;}
    .action-list-item .actionDefinition{background-color: white;} 
    .actions-list-sortable{height: 5px;}
    .action-drag-icon{cursor:move; padding-right: 3px;}
	.crop-action-title .ui-dialog-title{
        display: inline-block;
        overflow:hidden;
        white-space: nowrap;
        width: 630px;
        text-overflow: ellipsis;
        font-size: medium;
        margin-bottom: -6px;
    }