﻿#reportContentDialogAccordion h3 {padding-left: 30px;}
#reportContentDialogAccordion .ui-accordion-content {background-color: white!important; background-image: none!important; }

#reportContentDialog div.ui-accordion-content {
    margin-top: 5px;
    border: 0 !important;
    padding: 5px 0 20px 10px;
}
#reportContentDialog h3{
    border: 1px solid #cccccc;
    padding-top: 5px;
    padding-bottom: 5px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    khtml-border-radius: 0px;
    border-radius: 0px;
}

#reportContentDialog h3 .ui-icon-triangle-1-s {
    background-image: url("/Orion/images/LayoutBuilder/triang2.png") !important;
    background-position: 7px 5px !important;
}

#reportContentDialog h3 .ui-icon-triangle-1-e {
    background-image: url("/Orion/images/LayoutBuilder/triang1.png") !important;
    background-position: 7px 5px !important;
}

.resourceHeaderInActive, .resourceHeaderInActive:hover {
    background: #EFEFEF !important;                    
}
.resourceHeaderInActive #add-content-select-resourceText, .resourceHeaderInActive #add-content-select-resourceText:hover
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal !important;
    color: #333333;
}

.resourceHeaderInActive #add-content-select-resourceName, .resourceHeaderInActive #add-content-select-resourceName:hover
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #333333;
    padding-right: 5px;
}

.resourceHeaderInActive #add-content-select-resourceDescription, .resourceHeaderInActive #add-content-select-resourceDescription:hover
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
     font-weight: normal !important;
    color: #646464;
}

.datasourceHeaderInActive, .datasourceHeaderInActive:hover {
    background: #EFEFEF !important;                 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal !important;
    color: #333333 !important;   
}

.datasourceHeaderDisabled, .datasourceHeaderDisabled:hover
{
    font-weight: normal !important;
    opacity: 0.65 !important;
    color: grey !important;
    background-color: #F8F8F8 !important;
}