﻿body, #adminContent .ViewHeader
{
	/*background-color: @DefaultBackgroundColor;*/
	background-color: white;
}

div#container
{
	background: transparent; /* override Voip/Styles/Admin.css, which still has the black bar on the left */
}

#adminContent
{
    padding: 15px 10px 15px 20px;
	font-size: 8pt;
	vertical-align: top;
}

#adminContent h1
{
	padding-left: 0;
	padding-top: 0;
	margin-top: 0;
	margin-bottom:0px;
}

#adminContent h2
{
	font-size: 11pt;
	font-weight: normal;
	padding-left: 0;
	margin-bottom: 5px;
    text-transform: uppercase;
}

#adminContent p
{
	padding-top: 5px;
	padding-bottom: 5px;
	width: 400px;
	margin: 0;
}

#adminContent br
{
	padding: 0;
	margin: 0;
	background-color: @{R=Core.LiveCss;K=DefaultBackgroundColor}; /* setting background color gets rid of IE strangeness on listviews */
}

#adminContent td
{
	margin: 0;
	padding-left: 0;
	text-align: left;
    white-space: normal;
	vertical-align: top;
}

#statusMessage
{
	font-size: large;
	color: Red;
}

/* Used by Website Settings page */
#adminContentTable
{
	text-align: left;
    vertical-align: middle;
    width: auto;
	white-space: normal;
	border: 1px #ccc solid;
	background-color: #fff;
}

#adminContentTable td
{
	padding: 5px;
}

.alternateRow, #adminContentTable tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.highlight
{
	font-weight: bold;
	color: #696969;
}

.GroupBox
{
	border: solid 1px #dbdcd7;
	background-color:#fff;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 0;
	padding: 10px 10px 0px 10px;
}

.GroupBoxAccounts
{
	border: solid 1px #dbdcd7;
	background-color:#fff;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 0;
	width: 100%;
	min-width: 480;
	padding: 0px 0px 0px 0px;
}

.calloutHint
{
	background-color: #fffdcc;
	padding: 5px;
	width: 400px;
	margin-top: 5px;
	line-height:200%
}

.higlightedInfo
{
    background-color: #fffdcc;
    padding: 5px;
}

#NormalText a
{
	color: #336699;
	text-decoration: underline;
}

#NormalText a:hover
{
	color: #f99d1c;
	text-decoration: underline;
}

/* Begin styles for admin home */
.SettingsHeading
{
    background-color: #dfe0e1;
    padding-bottom: 10px;
}

.ContentBucket
{
	border: #dbdcd7 1px solid;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-left: 0px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom:0px;
	background-color:#fff;
}

.NewContentBucket
{
    box-shadow: 0 1px 5px 0 #b9b9b9;
	padding: 15px;
    margin: 15px 15px 0 0;
	background-color: #fff;
}

.NewIconContentBucket
{
    overflow: hidden;
    box-shadow: 0 1px 5px 0 #b9b9b9;
	padding: 15px;
    margin: 15px 15px 0 0;
	background-color: #fff;
}

.BucketIcon
{
    float: left;
    padding-bottom: 0;
	padding-right: 15px;
}

.NewBucketIcon
{
    float: left;
    padding: 10px 0 0 20px;
}

.NewBucketHeader
{
    color: #333333;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}

.HeaderBox{
    padding-left: 145px;
}

.LinkArrow
{
	font-size: 11px;
	line-height: -1px;
    vertical-align: text-top;
}

.NewBucketLinkContainer
{
    width: 100%;
    padding: 10px 0 0 45px;
}

.NewIconBucketLinkContainer
{
    width: 80%;
    margin-left: 100px;
    padding: 10px 0 0 45px;
}

    .NewIconBucketLinkContainer .LinkColumn,
    .NewBucketLinkContainer .LinkColumn {
        padding: 5px;
        font-size: 12px;
    }

    @media only screen and (max-width: 1450px) {
        .NewIconBucketLinkContainer
        {
            width: 75%;
        }
    }
.BucketColumn {
    padding: 5px;
    border-left: 1px solid #dfe0e1;
}

.BucketColumn:first-child {
    border-left: inherit;
}

.AdminBucketLinkTileHeader
{
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    line-height: 20px;
}

.AdminBucketLinkTile 
{
    padding: 7px 0 21px 15px;
}

.sw-settings-thwackloginbtn {
    float: left;
    margin: 10px 20px 0 0;
}

.sw-settings-thwackcreatebtn {
    margin: 10px 5px 0 0;
}

.TileSummaryLink 
{
    text-transform: uppercase;
    text-align: center;
    margin: 5px 0 20px 0;
    padding: 6px 12px;
}

.UpdatesItems
{
	padding: 10px 10px;
	background-color:#dfe0e1;
	border:1px solid #CCCCCC;
}

.UpdatesItem
{
	background-color:#FFFFFF;
}

.ProductUpdates
{
	/*border-top:1px solid Silver;*/
	color:#474747;
	font-size:11pt;
	font-weight:bold;
	padding:10px 0 0;
	width:100%;
} 

/* Right column boxes style */
#adminContent .sw-settings-rightbox {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #dfe0e1;
}

#recomWidget  {
    display: none;
}

#adminContent .sw-settings-rightbox .sw-settings-icon {
    float: left;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
}

#adminContent .sw-settings-icon-swlogo {
    background-image: url('/Orion/images/SettingPageIcons/Portal.png');
}

#adminContent .sw-settings-icon-swintegration {
    background-image: url('/Orion/images/SettingPageIcons/orion-Product_integration_icon.png');
}

#adminContent .sw-settings-icon-swhelpfromhuman {
    background-image: url('/Orion/images/SettingPageIcons/HelpSW.png');
}

#adminContent .sw-settings-icon-swthwack {
    background-image: url('/Orion/images/SettingPageIcons/setting_page-thwack_icon.png');
}

#adminContent .sw-settings-rightbox-content {
    position: relative;
    margin-left: 50px;
    padding: 15px 15px 15px 0;
}

#adminContent .sw-settings-rightbox-content {
    overflow: hidden;
}

#adminContent .sw-settings-rightbox .sw-settings-rightbox-content > p {
    margin-top: 15px;
    margin-bottom: 5px;
}

#adminContent .sw-settings-rightbox .sw-settings-rightbox-header{
    color: #333;
    font-size: 18px;
    font-weight: 700;
    line-height: 15px;
}

#adminContent #sw-settings-cp-notenabled * .sw-btn-primary * .sw-btn-t {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}
/* End of right column boxes style */

/*Footer styles*/
#adminContent div#sw-admin-settings-footer {
    clear: both;
    overflow: hidden;
    border: 1px #bbb solid;
    background-color: #eee;
    color: #666;
    margin-top: 10px;
    margin-right: 10px;
}

#sw-admin-settings-footer .sw-footer-left {
    float: left;
    width: 49%;
    border-right: 1px #bbb solid;
}

#sw-admin-settings-footer .sw-footer-right {
    float: left;
    width: 49%;
    border-left: 1px #bbb solid;
    margin-left: -1px;
}

#sw-admin-settings-footer .sw-footer-label {
    color: #333;
    font-size: 12px;
}

#sw-admin-settings-footer div.sw-footer-label {
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0 0 10px;
}

#sw-admin-settings-footer span.sw-footer-label {
    font-weight: bold;
}

#sw-admin-settings-footer ul {
    padding: 5px 0 5px 15px;
    margin: 5px 0 10px 5px;
    list-style: none;
}

#sw-admin-settings-footer li { 
    text-indent: -.7em;
}

#sw-admin-settings-footer li:before {
    content: "• ";
    color: #333;
}
/*End of footer styles*/
/* End styles for admin home */

/* Module and License page styles */
#adminContent #PluginHost
{
    min-width: 480px;
}
.PollerTypeTitle
{
    margin: 15px 0px 0px 0px;
    text-align: left;
}
.ModuleDetailsBlock
{
    margin-bottom: 15px;
    margin-left: 15px;
}
.ModuleDetailsBlock .ModuleDetailsBlockHeader
{
    font-weight: bolder;
    padding:  2px 5px 2px 2px;
}
.ModuleDetailsBlock table
{
    border-collapse: collapse;
    width: 100%;
}
#adminContent .ModuleDetailsBlock td.Col1
{
    width: 200px;
    text-align: right;
    padding: 3px 5px 3px 10px;
    font-size: 8pt;
    font-weight: bold;
}
#adminContent .ModuleDetailsBlock td.Col2
{
    text-align: left;
    vertical-align: bottom;
    padding: 3px 10px 3px 5px;
    font-size: 8pt;
}

.DetailsBlock
{
    margin-bottom: 15px;
    margin-left: 5px;
}
.DetailsBlock .DetailsBlockHeader
{
    font-weight: bolder;
    padding:  2px 5px 2px 2px;
}
.DetailsBlock table
{
    border-collapse: collapse;
    width: 100%;
}
#adminContent .DetailsBlock td.Col1
{
    width: 200px;
    text-align: left;
    padding: 3px 5px 3px 10px;
    font-size: 8pt;
    font-weight: bold;
}
#adminContent .DetailsBlock td.Col2
{
    text-align: left;
    vertical-align: bottom;
    padding: 3px 10px 3px 5px;
    font-size: 8pt;
}
#adminContent .GroupBox .DetailsLink
{
    margin-left: 10px;
    margin-bottom: 15px;
}
#adminContent .GroupBox .DetailsLink a
{
	color: #336699;
	/*text-decoration: underline;*/
}
#adminContent .GroupBox .DetailsLink a:hover
{
	color: #f99d1c;
	/*text-decoration: underline;*/
}
.sw-license-manager-link {
	font-size: 8pt;
}
/* End of License page styles */

/* Discovery Central page styles */

#discoveryCentral 
{
    width:1024px;
}

    #discoveryCentral .pluginWrapper {
        padding: 30px;
        background-color: #fff;
        margin: 15px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    }
    
#discoveryCentral .pluginWrapper h2
{
    margin: 0px;
}

 #discoveryCentral .coreDiscoveryIcon
 {
    float: left;
 }
 
 #discoveryCentral .coreDiscoveryPluginBody
 {
  padding: 0px 75px 0px 144px;
 }
 
 #discoveryCentral a.helpLink
 {
    color: #336699;
    font-size: smaller;
 }
    
 #discoveryCentral a.helpLink:hover
 {
    color: Orange;
 }
    
 #discoveryCentral .pluginButton, #discoveryCentral .highlightButton
 {
    margin-right: 10px;
 }
 
 #discoveryCentral .noObjectsStyle
 {
    background-color: #FFFDCC;
    padding: 3px;
 }
 
 #discoveryCentral .managedObjInfoWrapper
 {
    padding:4px;
    margin: 10px 0px 10px 0px;
 }
    
 #discoveryCentral .stateImage
 {
    vertical-align:middle;
 }
/* End of Discovery Central page styles */









#sw-LAM-table {
    padding: 0;
}

#sw-LAM-table div.sw-LAM-table 
{
    width: 434px;
}

div.sw-LAM-table div:hover span {
    background-color: transparent;
}

div.sw-LAM-table div span {
    height: 100%;
    vertical-align: 50%;
    display: inline-block;
}

div.sw-LAM-table > div {
    float: left;
    width: 214px;
    margin: 0;
    margin-bottom: 3px;
    margin-right: 3px;
    vertical-align: middle;
    display: inline-block;
}

.sw-LAM-table #sw-LAM-row-expiredMaintenance
{
    color: #696969;
}
.sw-LAM-table #sw-LAM-row-expiredMaintenance:hover
{
    color: white;
    background-color: #696969;
}

.sw-LAM-table #sw-LAM-row-expiringMaintenance
{
    color: #ce0000;
}
.sw-LAM-table #sw-LAM-row-expiringMaintenance:hover
{
    color: white;
    background-color: #ce0000;
}

.sw-LAM-table #sw-LAM-row-expiringEval
{
    color: #ce0000;
}
.sw-LAM-table #sw-LAM-row-expiringEval:hover
{
    color: white;
    background-color: #ce0000;
}

.sw-LAM-table #sw-LAM-row-licenseLimit
{
    color: #f99d19;
}
.sw-LAM-table #sw-LAM-row-licenseLimit:hover
{
    color: white;
    background-color: #f99d19;
}

.sw-LAM-table #sw-LAM-row-updates
{
    color: #006ca9;
}
.sw-LAM-table #sw-LAM-row-updates:hover
{
    color: white;
    background-color: #006ca9;
}

.sw-LAM-table #sw-LAM-row-activeMaintenance
{
    color: #77bd2d;
}
.sw-LAM-table #sw-LAM-row-activeMaintenance:hover
{
    color: white;
    background-color: #77bd2d;
}

.sw-LAM-table div
{
    background-color: white;
    white-space: nowrap;
    cursor: pointer;
}
.sw-LAM-table div span:first-child
{
    border-style: solid;
    border-width: 1px;
    text-align: center;
    padding: 8px 5px;
    float: left;
    min-width: 22px;
}
.sw-LAM-table div:hover span:first-child
{
    border-color: transparent;
}
.sw-LAM-table div:first-child span:first-child 
{
    background-color: #696969;
    color: white;
    border-color: #696969;
}
.sw-LAM-table #sw-LAM-row-expiringMaintenance span:first-child
{
    background-color: #cc0004;
    color: white;
    border-color: #cc0004;
}
.sw-LAM-table span.sw-LAM-rowpart-name
{
    padding-left: 10px;
    width: 145px;
    text-overflow: ellipsis;
    text-wrap: none;
    line-height: 30px;
    overflow: hidden;
    display: inline;
    float: left;
}

.sw-LAM-table div span.sw-LAM-rowpart-arrow
{
    color: black;
    padding-right: 7px;
    margin-top: 7px;
    width: 15px;
    float: right;
    display: inline;
}

div.sw-LAM-table div:hover span.sw-LAM-rowpart-arrow
{
    color: white;
}

div.sw-LAM-table div:hover span
{
    color: white;
}

.sw-settings-LAM-full {
    width:431px;
}



.sw-LAM-table a
{
    font-weight: normal;
}

.sw-LAM-table a:before 
{
    content: "» ";
}




#sw-SC-table table.sw-SC-table 
{
    width: 431px;
    border-spacing: 0 2px;
    padding-top: 0;
}

#sw-SC-table td
{
    padding: 7px;
    background-color: white;
    white-space: nowrap;
}

#sw-SC-table th
{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 80%;
    background-color: #cccccc;
    padding: 2px 8px;
    white-space: nowrap;
}

#sw-SC-table td.sw-SC-case-title
{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    display: inline-block;
}

#sw-SC-table td.sw-SC-case-date
{
    color: #666;
    padding-right: 2px;
}

#sw-SC-table a
{
    font-weight: normal;
}

#sw-SC-table .lastrow a:before 
{
    content: "» ";
}

#sw-SC-table tr:hover td {
    cursor: pointer;
    background-color: #f99d19;
    color: white;
}

#sw-SC-table tr:hover td a, #sw-SC-table tr:hover td a:hover, #sw-SC-table tr:hover td a:visited {
    color: white;
}

#sw-settings-cp-username 
{
    font-weight: bold;
}

#sw-settings-rightbox-SC-content > table
{
    width: 100%;
}

#sw-settings-rightbox-LAM-content > table
{
    margin-top: 2px;
    width: 100%;
}

#sw-login-customerportal-logging span {
    padding-left: 10px;
    vertical-align: 55%;
}

.free-line-above {
    padding-top: 30px;
}

.sw-settings-rightbox-header-links {
    display: table-cell;
    float: right;
    position: relative;
    right: 6px;
}

.sw-settings-rightbox-header-links a 
{
    padding-left: 10px;
}

.sw-settings-rightbox-header-links a:before 
{
    content: "» ";
}

.sw-settings-rightbox-header-caption {
    white-space: nowrap;
    font-weight: bold;
    display: table-cell;
    font-size: 13px;
}

#sw-settings-rightbox-inpst-container > div {
    margin-top: 15px;
    display: inline-block;
}

.sw-logincustomerportal-error > a, .sw-logincustomerportal-error > a:hover, .sw-logincustomerportal-error > a:visited {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

