﻿.advAlerts 
{
	text-align: left;
    vertical-align: middle;
    width: auto;
	white-space: normal;
	font-size: 9pt!important;
}

.advAlerts td, .advAlerts input, .advAlerts textarea, .advAlerts select, .advAlerts th
{
	font-size: 9pt!important;
}

.advAlerts .alDescription
{
	color: #646464;
	font-size: 8pt!important;
}

.advAlerts .alDescription a
{
	color: #336699;
	text-decoration: underline;
}

.advAlerts th
{
	font-weight:bold;
	vertical-align: top!important;
	padding-top:4px;
}

.advAlerts td
{
	padding-bottom:5px;
}

.advAlerts td .daysTable td
{
	padding-bottom: 2px;
}

.colPanel
{
	width:100%;	
}

#adminContent #advAlerts {
    text-align: left;
    vertical-align: middle;
    width: auto;
	white-space: normal;
	border: 1px #ccc solid;
	background-color: #fff;
}
#adminContent #advAlerts tr td {
    border-bottom: 1px solid #ccc;
    font-size: 11px;
    vertical-align: middle;
	padding: 4px;
}
#adminContent #advAlerts tr th {
    border-bottom: 1px solid #ccc;
    font-size: 11px;
    vertical-align: bottom;
	padding: 4px;
	background-color: #ecedee;
}

#editAlertDefDialog 
{
	display: none;
}

#descrAlertDialog 
{
	display: none;
}

/*--------------------------------------------------------------------------------------------------------------------------------------*/

table.AlertManagement 
{
	border: #e1e1e0 solid 1px;
	margin: 0;
	padding: 0;
	width: 100%;
}

#AlertGrid th.sortColumn {
	background-image: url('/Orion/Nodes/images/background/bg_colheader_selected.gif');
	background-repeat: repeat-x;
}

#AlertGrid {
	width: 100%;
	border-bottom: solid 1px #dfdfde;
}
#AlertGrid th {
	background-color: #e2e1d4;
	background-image: url('/Orion/Nodes/images/background/bg_colheader.gif');
	background-repeat: repeat-x;
	font-size: 12px;
	font-weight: normal;
	border-top: 1px solid #e1e1e0;
	border-bottom: 1px solid #e1e1e0;
	cursor: pointer;
}
#AlertGrid th, #AlertGrid td {
	border-right: solid 1px #ededed;
	border-left: solid 1px white;
	padding: 0 5px;
	white-space: nowrap;
}
#AlertGrid td:first-child, #AlertGrid th:first-child {
	width: 35px;
	padding-left: 0px;
	text-align: center;
}

#AlertGrid a img {
	vertical-align: text-bottom;
	padding-right: 5px;
}

table.AlertManagement>tbody>tr>td
{
	margin: 0;
	padding: 0;
}

.AlertManagementMenuWrapper
{
	background-color:#e1e1e0;
	background-image: url('/Orion/Nodes/images/background/bg_groupby.gif');
	background-repeat: repeat-x;
	height: 27px;
	min-width: 800px;
	font-size: 11px;
}

ul.AlertManagementMenu
{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}

ul.AlertManagementMenu ul
{
	display:none;
	position:absolute;
	background-color:white;
	margin: 0;
	padding: 6px 0 0 0;
	list-style: none;
	top: 1em;
	left: -1px;
	border: 1px solid #9C9C9B;
	border-top: none;
	width: 100%;
}

ul.AlertManagementMenu li.over ul
{
	display:block;
}

.AlertManagementMenu li
{
	float: left;
	border-right: 1px #E1E1E0 solid;
	padding: 5px;
	padding-right: 10px;
	position: relative;
}



.AlertManagementMenu img 
{
	vertical-align: bottom;
}

.AlertManagementMenu+table
{
	clear: both;
}

.AlertManagementMenu li.over
{
	background: #d2d1c6 url('/Orion/Nodes/images/background/toolbar_hover_gradient.gif') repeat-x;
	border-right: 1px #E1E1E0 solid;
	border-top: none;
}

.AlertManagementMenu li.Disabled, .AlertManagementMenu li.Disabled a, .AlertManagementMenu li.Disabled a:hover, .AlertManagementMenu li.Disabled img
{
	color: #a09d9d;
	cursor: default;
}

ul.AlertManagementMenu li.Disabled, .AlertManagementMenu li.Disabled:hover
{
	background-color: #f2f2f2;
	background: #f2f2f2;
	border: 0;
	border-right: solid 1px #e7e7e7;
	border-top: none;
}

.AlertManagementMenu a:hover
{
	color: black;
	text-decoration: none;
}

tr.x-toolbar-right-row #ext-gen50
{
	text-align: right !important;
}
