    .x-form-file-wrap
    {
        position: relative;
        height: 22px;
    }
    .x-form-file-wrap .x-form-file
    {
        position: absolute;
        right: 0;
        cursor: pointer;
        -moz-opacity: 0;
        filter: alpha(opacity: 0);
        opacity: 0;
        z-index: 2;
        height: 22px;
    }

      /* FIX for FF and ajaxtoolkit:asyncfileupload. See FB 264627 */
     .x-form-file-wrap .x-form-file input {
         width:100%! important;
     }

    .x-form-file-wrap .x-form-file-btn
    {
        position: relative;
        z-index: 1;
    }
    .upload-error
    {
        display: block;
        color: red;
        padding: 4px 0px 0px 4px;
    }
