﻿.PI_on a {color: white!important;}
.PI_on a:hover  {color: white!important;}
.wizardHeader h2
{
    margin-bottom:0px;  
    padding-left:0px;
    margin-top: 13px!important;
    font-size: medium!important;
    padding: 0px 15px 10px 15px!important;
        
}
.wizardContent
{    
     width:95%;
     margin-left:15px;
}
.wizardContent .paragraph
{    
     margin-bottom:20px;    
}
.wizardContent .paragraph a
{    
     margin-left:10px; 
}
.wizardContent .paragraph .infoCollection 
{    
     padding-right: 30px;    
}
.boldLabel {
    font-weight: bold;
}
.wizardContent .informText,.wizardContent .paragraph span
{   
     color: #333333;     
}

.wizardContent .informText .subLabel
{   
     color: #888;
    font-size: 12px;
}

.wizardContent .editLink
{
     float:right; 
}
 
.wizardContent .paragraph .alertName
{      
      font-size:large;
      font-weight:bold;  
}
 .wizardContent .editLink a, .wizardContent .editLink, .wizardContent .paragraph a
{
     color:#336699;
}
.wizardContent .verticalLine
{
      border-bottom:solid 1px #d1d1d1;
      margin-bottom:20px;    
}
  
.wizardContent .verticalDivider
{
      display: inline;
      border-left: solid 1px #d1d1d1;
      margin-left: 5px;
      margin-right: 5px;
}
  
.wizardContent .paragraph .more
{
       margin-left:5px;       
}
.wizardContent .paragraph img
{
       vertical-align:top;
       margin-left:5px;
}
.wizardContent .paragraph input[type='radio']
{
     margin-bottom:10px;
     margin-left:0px;
}
.wizardContent .paragraph .stateDuringTimePeriod
{
    color: #d1d1d1;
}
.editCannedAlertDisabledContainer
{
    background-color: #EFEFEF;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    top: 0px;
    left: 0px;
    opacity: .5;
    filter: alpha(opacity=50);
}