﻿h1 { font-size: large!important; padding: 0px 0px 10px 0px!important; }
.tip { margin-left: 15px; }
.sw-suggestion { margin: 10px 0 0 10px; }
.contTitleBarDate {
    font-size: 8pt;
    text-align: right;
}
.activeAlert a {
    background: transparent url(/Orion/images/ActiveAlerts/Currently_Triggered_Alerts_icons16x16_2.png) scroll no-repeat left center; 
    padding: 2px 0px 2px 20px;
}
.x-tip {word-wrap:break-word;} 