﻿div.file-uploader { position: relative; width: 120px; display: inline-block; }
div.fakefile { position: absolute; top: 0px; left: 0px; z-index: 1; }
input.file { position: relative; -moz-opacity: 0; width: 20px; cursor: pointer; filter: alpha(opacity: 0); opacity: 0; z-index: 2; }
.alertConditionPicker{min-width: 800px;}
.alertConditionPicker .sw-btn-t { text-transform: none; font-size: 12px !important; }