.breadcrumb
{
	display: inline;
	margin: -7px;
	padding: 0;
}

.bc_item
{
	display: inline-block;
	margin-left: 5px;
	border: solid 1px transparent;
    position: relative;
}

.bc_item a:hover, .bc_item img:hover
{
	cursor: pointer;
	font-size: 11px;
}

.bc_item span
{
	font-size: 11px;
}

*html .bc_item
{
	border-color: #F5F3EA;
}
	
.bc_itemselected
{
    border-color: #DCDCDC;
	background-color: #ecedee;
}

.sw-is-msie-7 .bc_itemselected, .sw-is-msie-6 .bc_itemselected
{ 
    padding-bottom: 0px !important;
}

.bc_itemimage
{
	vertical-align: middle;
}

.bc_itemimage:hover
{
    background-color: #204a63;
}
	
.bc_statusimage
{
	vertical-align: top;	
	padding-right: 3px;
	padding-left: 3px;
	border-right: solid 1px #DCDCDC;
	padding-bottom: 3px;
}
	
.bc_submenu
{
	display: none;
	z-index:99;
	border:1px solid #DCDCDC;
	border-collapse: collapse;
	list-style-type:none;
	margin: 0;
	padding: 0;
    min-width: 168px;
	position:absolute;
    top: 100%;
    left: -1px;
	background-color: White;
	width: auto;
	filter: progid:DXImageTransform.Microsoft.Shadow(color="#C8C8C8",Direction=135, Strength=7);
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 305px;
    box-shadow:0 6px 12px rgba(0, 0, 0, 0.175);
}
	
a.bc_link
{
	color: #336699;
    text-decoration: underline;
	padding-right: 5px;
	font-size: 11px;
	margin-left: 3px;
}

li:last-child a.bc_link
{
    color: #336699;
}

a.bc_link:hover,
li:last-child a.bc_link:hover
{
	color: #336699;
}

.bc_paddingdiv
{
	display: inline;
	padding-left: 5px;
	font-size: 11px;
}

.bc_submenuitem 
{
    white-space: nowrap;
    padding: 2px 5px;
}
    .bc_submenuitem:hover {
        background-color: #ecedee;
    }
    .bc_submenuitem:hover a {
        color: #204a63;
    }


.bc_submenulink
{
    display:inline-block;
	font-size: 11px;
}
	
.customizeBottom
{
	vertical-align: bottom;
	text-align: right;
	margin: 20px 10px;
}
	
div#customizeDialog
{
	background-color: #FFFFFF;
	width: 100%;
}
	
div#inside
{
	background-color: #FFFFFF;
	height: 100px;
	margin: 10px;
	padding: 0px 10px;
	border: none;
}

#customizeSubmit, #customizeCancel 
{
	cursor: pointer;
}
	
.sw-patch-legacy-jquery .ui-dialog 
{
	border: solid 1px #BCBCBC;
}
	
.sw-patch-legacy-jquery .ui-dialog-container
{
	background-color: #FFFFFF;
}

.sw-patch-legacy-jquery .ui-dialog-titlebar
{
	background-image: none !important;
	background-color: #f0f0f0 !important;
	padding-left: 10px !important; 
}

.sw-patch-legacy-jquery .ui-dialog-titlebar-close {
	margin-right: 5px !important;
}