﻿#selectNodeDialog
{
	display: none;
	width: 100%;
	height: 100%;
}

p
{
	margin-top: 5px !important;
	padding-top: 5px !important;
	margin-bottom: 5px !important;
	padding-bottom: 5px !important;
}

h1
{
	font-size: 150% !important;
}

.error
{
   border: 2px solid red;
}
#gridCell div#Grid
{
   width: 100%;
}