﻿h1 { font-size: large!important; padding-bottom: 10px!important; }
.editcptable { width: 720px; }
.editcptable .leftLabelColumn, .editcptable .rightInputColumn { padding: 5px 0px 10px 0px!important; }
.define_cp_table { padding: 15px 0px 15px 0px; }
.define_cp_table .define_cp_holder_left, define_cp_table .define_cp_holder_right
{
	border-color: #d0d0d0!important;
	vertical-align: top;
}
.define_cp_holder_left
{
	background-color: #dfdfdf;
	padding-right: 0px!important;
	border-style: solid!important;
	border-width: 1px!important;
}
.define_cp_holder_right
{
	padding: 8px!important;
	border-top: 1px solid #d0d0d0!important;
	border-bottom: 1px solid #d0d0d0!important;
	border-right: 1px solid #d0d0d0!important;
}

.cp_validate_leftcolumn
{
	width: 550px;
}

.spaced_checkbox label
{
    padding-left: 5px;
}

#ChoosePropertyGridPlaceHolder .x-grid3-row-selected { background-color: White!important; }
#ChoosePropertyGridPlaceHolder .x-grid3-row-selected .x-grid3-cell-inner { font-weight: bold!important; }
#ChoosePropertyGridPlaceHolder .x-grid3-row, #ChoosePropertyGridPlaceHolder .x-grid3-body, #ChoosePropertyGridPlaceHolder x-panel-body, #ChoosePropertyGridPlaceHolder .x-grid3
{
	background-color: #dfdfdf;
	width: 220px!important;
	border-style: none;
}
 #ChoosePropertyGridPlaceHolder .x-panel-body {border-style: none;}
.cpRepeaterTable .leftLabelColumn, .cpRepeaterTable .rightInputColumn
{
	color: #000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: small;
	vertical-align: text-top;
	padding: 5px 5px 5px 5px;
}
.rightInputColumn .helpfulText
{
	color: #5F5F5F;
	font-size: 10px;
	text-align: left;
	display: block;
	vertical-align: middle;
}
.rightInputColumn .checkboxHelpfulText 
{
    margin-left: 17px;
    margin-bottom: 5px;
}
.rightInputColumn .usageCheckbox  { margin-bottom: 5px; }
.rightInputColumn label { padding-left: 3px; }
.cpRepeaterTable .leftLabelColumn { width: 150px; }

.cphint 
{
	background-image: url(/orion/images/login_corners.gif); 
	position: absolute;
	width: 4px;
	height: 4px;
	background-repeat: no-repeat;
	display: inline-block; 
	width: 525px;
 }
 
 .cpSizeDialog 
 {
     padding-top: 10px;
     padding-bottom:10px     
 }
 
 .cpSizeDialog .maxSize 
 {
     padding-top: 10px;
 }

.cphint-tl { top: 0px; left: 0px; background-position: -16px -8px; }
.cphint-tr { top: 0px; right: 0px; background-position: -19px -8px; }
.cphint-bl { bottom: 0px; left: 0px; background-position: -16px -12px; }
.cphint-br { bottom: 0px; right: 0px; background-position: -19px -12px; }
.cphint-ul { padding-left: 15px; padding-top: 5px; padding-bottom: 5px; list-style: disc !important;}
.cphint-li { padding-top: 2px; padding-bottom: 2px;}

.sw-pg-hint-inner { border: 1px solid #eaca7f; border-radius: 5px; background: #fffdcc; }
.sw-pg-hint-body { margin: 6px 40px 10px 10px; padding-left: 22px; background: url(/orion/images/warning_16x16.gif) top left no-repeat; }
.sw-pg-hint-blue { border: 1px solid #84ADFB; border-radius: 5px; padding: 5px 10px 5px 10px; background: #DAECFE; }
.sw-pg-hint-body-info { padding-left: 22px; min-height:16px; background: url(/orion/images/Info_Icon_MoreDecent_16x16.png) top left no-repeat; }
.checkboxspace input[type="checkbox"] { margin-right: 5px; }

.matches-table { width: 100%; padding: 10px 0px 10px 0px; }
.matches-table tr td, .matches-table tr th { padding: 5px 7px 5px 7px!important; text-align:left;}
.matches-table tr th { color: Gray;}

.advanced-columns-panel {padding: 0px 4px 4px 4px; }

.sw-filter { float: left; margin-right: 5px;  background: #fffdcc; border: 1px solid #eaca7f; border-radius: 5px; display: inline-block; position: relative; zoom: 1; padding: 5px 6px 6px 26px; color: #000; font-size: 11px; }
.sw-filter .sw-filter-icon { position: absolute; left: 4px; top: 4px; height: 16px; width: 16px; background: url(/orion/images/cpe/filter_applied.png) top left no-repeat; }
#selCustomPropertiesList div.no-border-no-background { border: 0px none; background-color: transparent; }
#selCustomPropertiesList div.no-border-no-background div.x-panel-body { border: 0px none; background-color: transparent; }
div#selCustomPropertiesList { padding-left: 40px; padding-bottom: 15px; }
div#selCustomPropertiesList div.x-form-check-wrap { padding: 15px 0px 5px 0px; font-size: 14px; }
.editor-grid { clear: left; padding-top: 8px; }

.x-date-middle table /*UIF-402*/
{
    background: inherit;
    border: inherit;
}

table.sw-cp-multiedit-control-table td { width: 205px;}
.menu_copy_icon { background-image: url(/Orion/images/CPE/copy.png)!important; vertical-align: middle;}
.menu_cut_icon { background-image: url(/Orion/images/CPE/cut.png)!important;  vertical-align: middle;}
.menu_paste_icon { background-image: url(/Orion/images/CPE/paste.png)!important;  vertical-align: middle;}
.menu_clear_icon { background-image: url(/Orion/images/CPE/clear.png)!important;  vertical-align: middle;}

div.sw-cp-multiedit-control-panel div.ext-el-mask{ background-color: white!important;height: 100%!important;}
