#dataSourcePickerBox {
    padding: 0 10px 10px 20px;
}

.data-source-picker .x-panel-body {background-color: transparent; min-height: 0px;}
.data-source-picker .x-panel-body .x-table-layout-cell {padding-top: 0px;}
.data-source-picker a {font-weight: normal; font-size: 11px; cursor: pointer;}
.blueBox {padding: 10px 0px 10px 0px; background-color: #ecedee; width: 100%;}
.blueBox table td {padding: 0px 5px 0px 5px;}
.data-source-editor {padding: 10px 10px 10px 0px;}

.dynamicDataSourcePicker .selectorTypes input[type=radio] {
    padding-right: 2px;
}

.dynamicDataSourcePicker .selectorTypes {
    margin-bottom: 6px;
}

.dynamicDataSourcePicker .selectorTypes * {
    vertical-align: middle;
}

.dynamicDataSourcePicker .selectorTypes  .text {
    padding-right: 60px;
}

.dynamicDataSourcePicker .masterEntities {
    display: inline-block;
    background-color: #ebebeb;
    padding: 5px 10px;
    margin-bottom: 6px;
}

.dynamicDataSourcePicker .masterEntities select option {
    font-weight: bold !important;
}

.dynamicDataSourcePicker .exprBuilderEmptyMsg {
    display: inline-block;
    margin-left: 15px;
} 