.sw-patch-legacy-jquery .dialog {
	background: white;
	padding: 5px;
	height: 100%;
}
.sw-patch-legacy-jquery .dialogButton {
	cursor: pointer;
}
.sw-patch-legacy-jquery .ui-dialog {
	border: solid 1px black;
}
.sw-patch-legacy-jquery .ui-dialog-titlebar {
	background-image: url('../images/nodemgmt_art/background/bg_popup_header.gif');
	background-repeat: repeat-x;
	background-color: #e2e2e2;
	border-bottom: 1px solid #cdcdcd;
	font-size: larger;
	font-weight: bold;
	padding: 5px;
}
.sw-patch-legacy-jquery .ui-dialog-titlebar-close {
	background-image: url('../images/nodemgmt_art/buttons/Button.Cross.gif');
	display: block;
	position: absolute;
	right: 5px;
	top: 5px;
	height: 18px;
	width: 20px;
}
.sw-patch-legacy-jquery .ui-dialog-titlebar-close span {
	display: none;
}
