﻿.sw-downtime-tooltip {
    position: absolute;
    z-index: 100000;
    border: 2px solid black;
    pointer-events: none;
    min-height: 7px;
}

.sw-slices-table {
    width: 100%;
    border-spacing: 0px !important;
}

.sw-slices-table td {
	height: 15px;
	width: 10px;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	border-right-color: white;
}

.sw-downtime-internal-big-tooltip {
    background: white;
	width: 212px;
	min-width: 209px;
	max-width: 212px;
}

.sw-downtime-tooltip-date {
    color: gray;
    margin: 3px;
    font-size: 8pt;
}

.sw-downtime-end-tooltip-date {
    float: right;
    margin-top: 0px;
}

.sw-downtime-start-tooltip-date {
    margin-top: 0px;
}

.sw-downtime-start-tooltip-time {
    display: inline-block;
    float: left;
}

.sw-downtime-end-tooltip-time {
    display: inline-block;
    float: right;
}

.sw-downtime-tooltip-table {
    width: 100%;
}

.sw-downtime-block-display {
    vertical-align: middle;
    display: inline-block;
}

.sw-downtime-block-display td, td.sw-slice-block {
	padding: 1px;
}

.sw-downtime-slice-div {
    text-align: center;
}

.sw-downtime-slice {
    border: 1px solid gray;
    height: 10px;
    width: 7px;
}

.sw-downtime-time-per-block {
    font-size: 8pt;
    color: gray;
    border-bottom: 0 transparent !important;
}


