﻿.sw-downtime-timeline-table {
    width: 100%;
    border-collapse: collapse;
}

.sw-downtime-timeline-table td {
	height: 5px;
}

.sw-downtime-reset-table {
    border-collapse: collapse;
}

.sw-downtime-reset-table td {
	padding: 1px;
}

.sw-downtime-control-div {
    margin: 0;
}

.sw-downtime-control-div td {
	border-bottom: 0 transparent !important;
}

.sw-downtime-datetime {
    color: gray;
    margin: 3px;
    font-size: 8pt;
}

.sw-downtime-datetime div {
	font-size: 8pt;
}

.sw-downtime-datetime div:first-child {
	float: right;
}

.sw-downtime-details-tr td {
    border-bottom: 0 transparent !important;
}

.sw-downtime-details-tr span {
        vertical-align: top;
        padding-left: 12px;
    }

.sw-downtime-details-tr a {
        vertical-align: top;
        padding-left: 12px;
    }

.sw-downtime-HeaderRow td {
    padding-left: 30px;
}