.menuHeader
{
	margin: 3px;
	padding: 3px;
	width: auto;
	text-align: center;
	font-size: small;
	font-weight: bold;
	color: white;
}
.menuItem
{
	padding: 3px;
	width: auto;

	min-width: 150px;
	background-color: #373737;
    background-image: url('../images/bg_nav_secondary.png');
	background-repeat: repeat;
    color: black;
	cursor: move;
	position: relative;
    *max-width:400px;
    *white-space:nowrap;
    border: solid 1px black; 
}

.menuItem a 
{
    float: left;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 0px;
}

#selectedItems, #availableItems
{
    position: relative;
    border: solid 1px black; 
    background-color: #373737; 
    width:auto;
    margin-bottom: 16px;
}

#dialogOk, #dialogCancel
{
	cursor: pointer;
}

.handCursor
{
	cursor: pointer;
    margin-top: 0px;
}

#MenuItemTooltip
{
	border: 1px solid black;
	color: black;
	background-color: white;    
	padding: 5px;
	position: absolute;
	display: none;
	z-index: 5000;
}