﻿/* Time window selection */
#PeriodMenu
{
	position: absolute;
	display: none;
	z-index: 10000;
	background: #f2f7fa;
	border: 1px;
	border-style: solid;
	border-color: #e5e8ea;
	padding: 5px;
	margin: 2px;
	list-style: none;
}
#PeriodMenu li
{
	list-style: none;
	border: 0 none;
	padding: 0;
	display: inline;	
}
#PeriodMenu li a
{
	display: block;
}	
#CustomPeriodForm, #CustomAbsolutePeriodForm
{
	display: none;
	position: absolute;
	border-collapse: collapse;
	border: 1px;
	border-style: solid;
	border-color: #e5e8ea;
	background: #f2f7fa;
	padding: 10px;
}

#ConfigInst
{
	 border-style : double;
	 left : 200px;
     top : 100px;
     width : 700px;
     height : 350px;
     border-width:medium;
     border-color:Black;
     position:absolute;
     display:none;
     z-index:1000;
     background-color:@{R=Core.LiveCss;K=DefaultBackgroundColor};
}

#AdminPagesWizard
{
	margin-left: -21px;
	margin-top: -21px;
	background-image: url(/Orion/Voip/images/setup_wiz_gradient_bg.gif);
	background-repeat: repeat-x;
	background-color: transparent;
}

.showtoggle, .hidetoggle
{
	cursor:pointer;
}
span.SelectedGauge
{
	text-decoration: none;
	border:none;
}
span.SelectedGauge img
{
	border:1px dashed Gray;
}
span.DeSelectedGauge img
{
	border:none;
}
td.EditPageHeader
{
	width:200px;
	font-weight:bold;
}
.SeeAllCallPaths
{
	clear:both;
	margin-bottom:0;
}
.InlineBar
{
	width: 50px;
}
	
.InlineBar h3
{
	background: #eae9e7;
	background-image: url(../images/Gradient-Background.gif);
	margin: 0px;
}
.InlineBar.Normal div
{
	background-color: #00b84a;
	background-image: url(../images/Gradient-Green.gif);
	background-repeat: repeat-x;
}
.InlineBar.Warning div
{
	background-color: #f1d200;
	background-image: url(../images/Gradient-Yellow.gif);
	background-repeat: repeat-x;
}
.InlineBar.Error div
{
	background-color: #e22323;
	background-image: url(../images/Gradient-Red.gif);
	background-repeat: repeat-x;
}
.SitesOverview_CallPath
{
	background-color: #f2f7fa;
}

.ArrowNormal div
{
	background-image: url(../images/Arrow-Green.gif);
}
.ArrowWarning div
{
	background-image: url(../images/Arrow-Yellow.gif);
}
.ArrowError div
{
	background-image: url(../images/Arrow-Red.gif);
}
.ArrowNormal div, .ArrowWarning div, .ArrowError div
{
	background-repeat: no-repeat;
	width: 40px;
	height: 12px;
}
.ArrowNormal, .ArrowWarning, .ArrowError
{
	padding-left: 15px;
	vertical-align: middle;
}
.Property.CallManager
{
	background-image: url(../images/Small-Phone.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}
td.SiteName
{
	background-image: url(images/Icon-Site.gif);
	background-repeat: no-repeat;
	height: 41px;
	padding-left: 55px;
	vertical-align: middle;
	font-weight:bold;
}
#DualGauge tr td
{
	text-align: center;
	border: none;
	font-weight: bold;
}
#ButtonConfig
{
	background-image: url(/Orion/Voip/images/16x16_instructions.gif);
	cursor:pointer;
	background-repeat:no-repeat;
}
#ButtonPrint
{
	background-image: url(/Orion/Voip/images/16x16_print.gif);
	cursor:pointer;
	background-repeat:no-repeat;
}
.dateArea
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	margin-top: 0px;
	margin-right: 5px;
	float: right;
	text-align: right;
	border: 0;
	padding-top: 15px;
}
table.TopCallPathsByAllMetrics>tbody>tr>td
{
	border: none;
	padding: 0;
	margin: 0;
}

table.ManualConfigCallPaths
{
	width: 85%;
	border-color:Gray;
}

table.ManualConfigCallPaths tr th
{
	background-color:Gray;
}

table.ManualConfigCallPaths tr td
{
	 text-align: center;
}