﻿.emailInputField 
{
    background-color: white;
    border: 1px solid #d5d5d5; 
    padding: 1px; 
    min-height: 16px; 
    display: inline; 
    overflow: hidden; 
    float: left;
    width: 100%;
}
.emailInputField input {
    border: none;
}

.emailInputField.invalidValue input
{
    background-color: #FFE0E0;
}
.emailItem 
{
    cursor: default!important; 
    -moz-border-radius: 2px;  
    -webkit-border-radius: 2px; 
    border-radius: 2px; 
    background-color: whitesmoke; 
    border: 1px solid grey; 
    margin: 2px; 
    line-height: 16px; 
    word-wrap: normal; 
    display: inline-block; 
    padding: 1px;
}
.emailItem.invalidEmail 
{
    background-color: #FFE0E0;
}
.emailItem img 
{
    margin: 0px 2px -2px 2px; 
    cursor: pointer!important;
}
.emailInputText 
{
    border: none; 
    min-width: 100px;
    padding: 3px 0;
}
.emailItem.inputMode {
    background-color: white;
}
