﻿div#Grid .disable, div#Grid .enable {
    padding: 0px 0px 0px 50px;
}

div#Grid .disable {
    background-image: url(/Orion/images/Scan_Off.png) !important;
}

div#Grid .enable {
    background-image: url(/Orion/images/Scan_On.png) !important;
}

.sw-is-locale-de div#mainGrid .disable {
    background-image: url(/Orion/images/de/Scan_Off.png) !important;
}

.sw-is-locale-de div#mainGrid .enable {
    background-image: url(/Orion/images/de/Scan_On.png) !important;
}

.sw-is-locale-ja div#mainGrid .disable {
    background-image: url(/Orion/images/ja/Scan_Off.png) !important;
}

.sw-is-locale-ja div#mainGrid .enable {
    background-image: url(/Orion/images/ja/Scan_On.png) !important;
}

div#Grid .scan {
    background-image: url(/Orion/Nodes/Images/icons/icon_discover.gif) !important;
}

.managePollers a {
    background: transparent url(/Orion/images/device_poller.png) scroll no-repeat left center; 
    padding: 2px 0px 2px 20px;
    font-size: 8pt;
}

.scan-window{
    background: white;
    padding: 10px;
    border: 3px solid #bbb;
}
.scan-window-header{
    padding: 0px 20px 20px 20px;
    text-align:center;
    font-size: 13px;
}

.scan-window-header-icon{
    position: relative;
    top: 11px;
    margin: 0px 7px 0px 0px;
}

.scan-window-body{
    padding: 10px;
    
}

.scan-window .x-btn-text{
    text-transform: uppercase;
}

.scan-status{
    padding: 0px 0px 10px 0px;
}

.statusbar-button {
    position:relative;
	padding: 0 0 5px 5px;
	vertical-align: middle;
}

.statusbar-button button{
    min-width:40px;
}

#selectAllNodesButton button {
    color: red !important;
}

/*ExtJS time! This beauty disables hovering borders on a button.*/
#selectAllToolbar .x-btn-tl,
#selectAllToolbar .x-btn-tc,
#selectAllToolbar .x-btn-tr,
#selectAllToolbar .x-btn-ml,
#selectAllToolbar .x-btn-mc,
#selectAllToolbar .x-btn-mr,
#selectAllToolbar .x-btn-bl,
#selectAllToolbar .x-btn-bc,
#selectAllToolbar .x-btn-br
 {
    background-image: none;
}

.enableDisableDeleteIcon {
    margin-left: 10px;
    vertical-align: middle;
	padding-bottom: 4px;
}

.messageBarLabel {
    display: inline-block;
}

.no-border-label {
    padding: 0px;
}

.message-bar{
    margin: 3px 0;
}

/* Override orion style */
.sw-suggestion .messageBarLabel, .sw-suggestion .statusbar-button{
    padding-top:2px;
    display:inline-block;
}

.message-bar .icon-bar{
    padding-left: 20px;
    min-height: 16px;
    min-width:16px;
    background: transparent;
    background-position: 0px 50%;
}
.message-bar .icon-bar.progress
{
    background: url(/Orion/images/loading_gen_16x16.gif) no-repeat;
}
.sw-btn .sw-btn-scandialog 
{ 
 white-space: nowrap; 
 text-overflow: ellipsis; 
 padding-top: 3px;
 padding-top: 4px\0/; /*IE8 */
 padding-bottom:5px;
}

.statusExplanation {
    border-bottom: 1px dashed blue;
}

#assignmentsGrid .StatusIcon, .scanStatusIcon {
	vertical-align: text-bottom;
}