.Enumerations
{
    background-color: #ECF6FB;
    padding: 10px;
}

.addButton
{
    margin-left: 50px;
	width: 256px;
}

.enumerationItem
{
    width: 256px;
}

.enumerationGrid
{
   padding: 10px!important;
}

.enumerationGrid td
{
	padding: 5px 5px 5px 5px!important;
}