﻿.sw-title-main {
    margin: 5px 0 5px 0;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
}

#errorcontent {
    border: 1px solid #ecedee;
    background: #fff;
    display: inline-block;
    margin: 15px 15px 0 15px;
}

.sw-error-page-image {
    margin: 10px;
    padding-left: 42px;
    background: url(/Orion/images/stop_32x32.gif) top left no-repeat;
}

.sw-error-page-main-message {
    max-width: 790px;
    overflow: auto;
}

#content { padding-bottom: 15px; } /* add a nice gap between content and footer */