﻿.esi-control-group input[type="text"],
.esi-control-group select {
    width: 460px;
}

.esi-control-group textarea {
    float: left;
    width: 460px;
}

.esi-control-group .esi-error,
.esi-control-group .esi-warning,
.esi-control-group .esi-success,
.esi-control-group .esi-suggestion {
    margin-top: 10px;
}

.esi-panel.table-section {
    padding-right: 5px;
    margin-right: 15px;
}

.esi-horizontal-stack {
    list-style: none;
}

    .esi-horizontal-stack > li {
        display: inline-block;
        margin-right: 10px;
    }

.esi-panel
.esi-loading-indicator {
    display: inline-block;
    margin-bottom: 10px;
}

.esi-loading-indicator img {
    margin-right: 10px;
}

.esi-panel {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    overflow-y: scroll;
    max-height: 480px;
}

#adminContent
.esi-panel h1 {
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 30px;
}

#adminContent
.esi-panel h2 {
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 30px;
}


.esi-btn {
    height: 31px;
    line-height: 31px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

.esi-btn-small {
    height: 23px;
    line-height: 21px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}


.esi-btn-primary,
.esi-btn-primary:visited,
.esi-btn-primary:active {
    color: #ffffff;
    background-color: #297994;
}

    .esi-btn-primary:hover {
        color: #ffffff;
        background-color: #23677e;
    }


.esi-btn-secondary,
.esi-btn-secondary:visited,
.esi-btn-secondary:active,
a.esi-btn-secondary,
a.esi-btn-secondary:visited,
a.esi-btn-secondary:active {
    color: #297994;
    border-width: 1px;
    border-style: solid;
    background-color: #ffffff;
    border-left-color: #D5D5D5;
    border-top-color: #D5D5D5;
    border-right-color: #D5D5D5;
    border-bottom-color: #D5D5D5;
}


    .esi-btn-secondary:hover,
    a.esi-btn-secondary:hover {
        color: #297994;
        border-width: 1px;
        border-style: solid;
        background-color: #ffffff;
        border-left-color: #23677e;
        border-top-color: #23677e;
        border-right-color: #23677e;
        border-bottom-color: #23677e;
    }

.esi-cloak {
    visibility: collapse;
    display: none;
}


.esi-control-section {
}

    .esi-control-section > * {
        margin-left: 16px;
    }

    .esi-control-section > label {
        margin-left: 0px;
    }


    .esi-control-section
    .esi-control-group input {
        /* width:309px;*/
    }


    .esi-control-section label {
        margin-left: 0px;
        display: block;
        font-weight: 400;
        font-size: 14px;
        padding-bottom: 10px;
    }

.esi-control-group {
    padding-bottom: 30px;
}

    .esi-control-group:after {
        display: table;
        content: "";
        clear: both;
    }


.esi-condensed {
    padding-bottom: 10px;
}

    .esi-condensed > select, .esi-condensed > input, .esi-condensed > textarea {
        margin-bottom: 5px;
    }

.esi-control-group
label {
    display: block;
    font-weight: 700;
    font-size: 12px;
    padding-bottom: 4px;
}

.esi-control-group
input[type="text"],
.esi-control-group select {
    height: 25px;
    width: 325px;
    font-size: 13px;
    text-align: left;
    padding: 1px 0px 1px 0px;
    box-sizing: border-box;
    margin-right: 10px;
}

.esi-control-group textarea {
    float: left;
    font-size: 13px;
    text-align: left;
    padding: 1px 0px 1px 0px;
    box-sizing: border-box;
    margin-right: 10px;
}

.esi-control-group p:before {
    content: "";
    display: table;
    clear: both;
}


.esi-control-group p,
#adminContent
.esi-control-group p {
    font-size: 11px;
    color: #767676;
    padding-top: 10px;
    width: 560px;
    padding-bottom: 10px;
}


    .esi-control-group p em,
    #adminContent .esi-control-group p em {
        color: #0079aa;
        font-weight: 500;
    }

    #adminContent
    .esi-control-group p.esi-validation-message {
        color: #D50000;
        padding-top: 4px;
    }

.esi-control-group
.esi-error,
.esi-control-group
.esi-success,
.esi-control-group
.esi-warning,
#adminContent
.esi-control-group
.esi-error,
#adminContent
.esi-control-group
.esi-success,
#adminContent
.esi-control-group
.esi-warning,
.esi-suggestion {
    border-width: 1px;
    border-style: solid;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 32px;
    padding-right: 6px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 6px;
    background-size: 16px, 16px;
}

.esi-control-group
.esi-error,
#adminContent
.esi-control-group
.esi-error {
    color: #D50000;
    background-color: #FFE4E0;
    border-left-color: #D50000;
    border-top-color: #D50000;
    border-right-color: #D50000;
    border-bottom-color: #D50000;
    background-image: url('../ESI/images/error_icon.png');
}

.esi-control-group
table[esi-grid-editable]
textarea.esi-error,
#adminContent
.esi-control-group
table[esi-grid-editable]
textarea.esi-error {
    color: #D50000;
    background-color: #FFE4E0;
    border-left-color: #D50000;
    border-top-color: #D50000;
    border-right-color: #D50000;
    border-bottom-color: #D50000;
    background-image: none;
    padding: 1px 0 3px 0;
    margin-top: 0;
}

.esi-control-group
.esi-success,
#adminContent
.esi-control-group
.esi-success {
    color: #D50000;
    background-color: #E7F4DF;
    border-left-color: #30B230;
    border-top-color: #30B230;
    border-right-color: #30B230;
    border-bottom-color: #30B230;
    background-image: url('../ESI/images/success_icon.png');
}



.esi-control-group
.esi-warning,
#adminContent
.esi-control-group
.esi-warning {
    color: #333333;
    background-color: #FCF8E0;
    border-left-color: #FEC405;
    border-top-color: #FEC405;
    border-right-color: #FEC405;
    border-bottom-color: #FEC405;
    background-image: url('../ESI/images/warning_icon.png');
}

.esi-suggestion {
    color: #333333;
    background-color: #FCF8E0;
    border-left-color: #FEC405;
    border-top-color: #FEC405;
    border-right-color: #FEC405;
    border-bottom-color: #FEC405;
    background-image: url('/orion/images/NotificationImages/hint_message_icon_16x16.png');
    background-position-y: 50%;
}



.esi-control-group
.esi-error *,
#adminContent .esi-control-group .esi-error * {
    color: #D50000;
    background-color: #FFE4E0;
}


.esi-control-group
.esi-success *,
#adminContent .esi-control-group .esi-success * {
    color: #1D781D;
    background-color: #E7F4DF;
}

.esi-control-group
.esi-warning *,
#adminContent .esi-control-group .esi-warning * {
    color: #333333;
    background-color: #FCF8E0;
}


.esi-control-group
.esi-error strong,
.esi-control-group
.esi-success strong,
.esi-control-group
.esi-warning strong,
#adminContent .esi-control-group .esi-error strong,
#adminContent .esi-control-group .esi-success strong,
#adminContent .esi-control-group .esi-warning strong {
    font-weight: bold;
}

.esi-control-group
table[esi-grid]
.table-header {
    background-color: #E0E0E0;
    height: 20px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    text-transform: uppercase;
    font-size: 10px;
}

.esi-control-group
table[esi-grid]
.data-row {
    height: 23px;
}

    .esi-control-group
    table[esi-grid]
    .data-row:hover {
        background-color: #f5f5f5;
    }

.esi-control-group
table[esi-grid]
.title-column,
.esi-control-group
table[esi-grid]
.data-column {
    padding-left: 3px;
    word-break: break-all;
    word-break: break-word;
}

.esi-control-group
table[esi-grid]
.data-row
.data-column input,
.esi-control-group
table[esi-grid]
.data-row
.data-column textarea {
    font-size: 12px;
    height: 21px;
}

.esi-control-group
table[esi-grid]
tbody td {
    vertical-align: top;
    padding: 3px 0;
}

.esi-control-group
table[esi-grid]
tbody td img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

 .esi-control-group
 table[esi-grid]
 tbody td img.add-macro-row-btn {
     margin-top: 3px;
 }

 .esi-control-group
 table[esi-grid]
 tbody td img.delete-row-btn {
     margin-top: 2px;
 }

.esi-control-group
table[esi-grid]
.button-column {
    width: 4%;
}

.esi-control-group
table[esi-grid]
.btn {
    cursor: pointer;
}

.esi-control-group
table[esi-grid]
tr.empty {
    text-align: center;
}

.esi-control-group
table[esi-grid]
.editable-row input[type="text"] {
    width: 100%
}

.esi-control-group
table[esi-grid]
.editable-row
textarea {
    overflow: hidden;
    width: 100%;
}
