﻿body {
	background-color: #EEEEEE;
}

.sw-hdr-breadbox {
	display: none;
}

div#content {
	background-color: #EEEEEE;
}

div#content-after {
	background-color: #EEEEEE;
}

div#adminContent {
	background-color: #EEEEEE;
}

.fake-link {
	color: #0079aa !important;
	cursor: pointer;
}

	.fake-link:hover {
		color: #2d5c77 !important;
		text-decoration: underline;
		cursor: pointer;
	}

.esi-panel {
	width: 600px;
}

	.esi-panel * {
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		padding-top: 0px;
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		background-color: inherit;
		color: #000000;
		font-size: 12px;
		font-weight: 400;
		font-style: normal;
		text-decoration: none;
		font-family: 'Open Sans', Arial, Helvetica, Sans-Serif !important;
	}


	.esi-panel input:disabled,
	.esi-panel textarea:disabled,
	.esi-panel select:disabled {
		background-color: #F6F6F6;
	}

.esi-horizontal-stack {
	list-style: none;
}

	.esi-horizontal-stack > li {
		display: inline-block;
		margin-right: 10px;
	}

.esi-panel .esi-loading-indicator {
	display: inline-block;
	margin-bottom: 10px;
}

.esi-loading-indicator img {
	margin-right: 10px;
}

#adminContent .esi-panel h1 {
	font-style: normal;
	font-size: 18px;
	font-weight: 600;
	color: #333333;
	margin-bottom: 30px;
}

#adminContent .esi-panel h2 {
	font-style: normal;
	font-size: 16px;
	font-weight: 600;
	color: #333333;
	margin-bottom: 30px;
}


.esi-btn {
	height: 31px;
	line-height: 31px;
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	padding-left: 10px;
	padding-right: 10px;
}

.esi-btn-small {
	height: 23px;
	line-height: 21px;
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	padding-left: 10px;
	padding-right: 10px;
}


.esi-btn-primary,
.esi-btn-primary:visited,
.esi-btn-primary:active {
	color: #ffffff;
	background-color: #297994;
}

	.esi-btn-primary:hover {
		color: #ffffff;
		background-color: #23677e;
	}


.esi-btn-secondary,
.esi-btn-secondary:visited,
.esi-btn-secondary:active,
a.esi-btn-secondary,
a.esi-btn-secondary:visited,
a.esi-btn-secondary:active {
	color: #297994;
	border-width: 1px;
	border-style: solid;
	background-color: #ffffff;
	border-left-color: #D5D5D5;
	border-top-color: #D5D5D5;
	border-right-color: #D5D5D5;
	border-bottom-color: #D5D5D5;
}


	.esi-btn-secondary:hover,
	a.esi-btn-secondary:hover {
		color: #297994;
		border-width: 1px;
		border-style: solid;
		background-color: #ffffff;
		border-left-color: #23677e;
		border-top-color: #23677e;
		border-right-color: #23677e;
		border-bottom-color: #23677e;
	}


.esi-btn-tertiary,
.esi-btn-tertiary:visited,
.esi-btn-tertiary:active,
a.esi-btn-tertiary,
a.esi-btn-tertiary:visited,
a.esi-btn-tertiary:active {
	color: #297994;
	border-width: 1px;
	border-style: solid;
	background-color: inherit;
	border-left-color: transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
}


.esi-btn-secondary:hover,
a.esi-btn-secondary:hover {
	color: #297994;
	border-width: 1px;
	border-style: solid;
	background-color: inherit;
	border-left-color: transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
}

.esi-cloak {
	visibility: collapse;
}

.esi-cloak-collapse {
	visibility: collapse;
}


.esi-control-section {
	background-color: #FFFFFF;
	margin-bottom: 30px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

div.esi-control-section:last-of-type {
	margin-bottom: 15px;
}


.esi-control-section > label {
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	border-bottom: solid 2px #EEEEEE;
	display: block;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 15px;
}



.esi-bottom-section {
	margin-top: 15px;
	background-color: inherit;
}

	.esi-bottom-section > .esi-horizontal-stack {
		margin-left: auto;
		margin-right: auto;
		width: 220px;
	}


.esi-control-group {
	display: table-row;
	padding-bottom: 0px;
}

.esi-message-group {
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	width: auto;
}

.esi-control-group:after {
	display: table;
	content: "";
	clear: both;
}


.esi-condensed {
	padding-bottom: 10px;
}


.esi-control-group > label {
	display: table-cell;
	font-weight: 400;
	font-size: 12px;
	width: 120px;
	background-color: #F6F6F6;
	margin-left: 15px;
	margin-right: 10px;
	text-transform: uppercase;
	/*float: left;*/
	text-align: right;
	padding-left: 12px;
	padding-right: 10px;
	padding-top: 15px;
}

	.esi-control-group > label > span {
		text-transform: none;
	}

/*#InstanceName > label {
    height: 75px;
}

#InstanceUrl > label {
    height: 90px;
}

#InstanceLogin > label {
    height: 90px;
}

#InstancePassword > label {
    height: 75px;
}

#ProxyAddress > label {
    height: 74px;
}

#ProxyPort > label {
    height: 54px;
}

#ProxyUsername > label {
    height: 54px;
}

#ProxyPassword > label {
    height: 54px;
}
*/
.esi-control-group > div {
	display: table-cell;
	min-height: 100%;
	/*float: left;*/
}

	.esi-control-group > div > ul {
		margin-left: 12px;
	}

.esi-control-group input[type="text"], input[type="password"],
.esi-control-group select {
	margin-top: 15px;
	height: 25px;
	width: 300px;
	font-size: 13px;
	text-align: left;
	padding: 1px 0px 1px 0px;
	box-sizing: border-box;
	margin-left: 12px;
	margin-right: 0px;
}

.esi-control-group textarea {
	font-size: 13px;
	text-align: left;
	padding: 1px 0px 1px 0px;
	box-sizing: border-box;
	margin-right: 10px;
	resize: none;
	margin-left: 12px;
	margin-top: 15px;
	width: 300px;
}

.esi-control-group a#InstanceUrlLink {
	text-align: left;
	padding: 1px 0px 1px 0px;
	box-sizing: border-box;
	margin: 15px 12px 0 12px;
}

.esi-control-group label#InstanceUrlLabel {
	padding-bottom: 10px;
}

.esi-control-group > label.text-area-label {
	vertical-align: top;
}

.esi-control-group .ssd-test-connection-container {
	display: inline-block;
	margin-top: 16px;
	max-width: 310px;
}

	.esi-control-group .ssd-test-connection-container li.ssd-test-msg-container {
		margin-bottom: 10px;
	}

.esi-control-group .ssd-test-msg-container {
	margin-top: 15px;
}

#InstanceUrlLink {
	cursor: pointer;
}

#adminContent .esi-control-group > div > p {
	font-size: 11px;
	color: #767676;
	margin-top: 10px;
	margin-bottom: 4px;
	margin-right: 0px;
	margin-left: 12px;
	min-width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
}

#adminContent .esi-control-group p em {
	color: #0079aa;
	font-weight: 500;
}

#adminContent .esi-control-group p.esi-validation-message {
	color: #D50000;
	margin-top: 0px;
	margin-bottom: 4px;
}

#proxyPortInput {
	width: 60px;
}


.esi-message-group .esi-error,
.esi-message-group .esi-success,
.esi-message-group .esi-warning,
.esi-message-group .esi-hint,
#adminContent .esi-message-group .esi-error,
#adminContent .esi-message-group .esi-success,
#adminContent .esi-message-group .esi-warning,
#adminContent .esi-message-group .esi-hint,
.esi-control-group .esi-error,
.esi-control-group .esi-success,
.esi-control-group .esi-warning,
.esi-control-group .esi-hint,
#adminContent .esi-control-group .esi-error,
#adminContent .esi-control-group .esi-success,
#adminContent .esi-control-group .esi-warning,
#adminContent .esi-control-group .esi-hint {
	border-width: 1px;
	border-style: solid;
	padding-top: 5px;
	padding-bottom: 7px;
	padding-left: 32px;
	padding-right: 12px;
	margin-top: 12px;
	background-repeat: no-repeat;
	background-position-x: 10px;
	background-position-y: 6px;
	background-size: 16px 16px;
	width: auto;
}

.esi-message-group .esi-error,
#adminContent .esi-message-group .esi-error,
.esi-control-group .esi-error,
#adminContent .esi-control-group .esi-error {
	color: #D50000;
	background-color: #FFE4E0;
	border-left-color: #D50000;
	border-top-color: #D50000;
	border-right-color: #D50000;
	border-bottom-color: #D50000;
	background-image: url('../ESI/images/error_icon.png');
}


.esi-message-group .esi-success,
#adminContent .esi-message-group .esi-success,
.esi-control-group .esi-success,
#adminContent .esi-control-group .esi-success {
	color: #30B230;
	background-color: #E7F4DF;
	border-left-color: #30B230;
	border-top-color: #30B230;
	border-right-color: #30B230;
	border-bottom-color: #30B230;
	background-image: url('../ESI/images/success_icon.png');
}



.esi-message-group .esi-warning,
#adminContent .esi-message-group .esi-warning,
.esi-control-group .esi-warning,
#adminContent .esi-control-group .esi-warning {
	color: #333333;
	background-color: #FCF8E0;
	border-left-color: #FEC405;
	border-top-color: #FEC405;
	border-right-color: #FEC405;
	border-bottom-color: #FEC405;
	background-image: url('../ESI/images/warning_icon.png');
}


.esi-message-group .esi-hint,
#adminContent .esi-message-group .esi-hint,
.esi-control-group .esi-hint,
#adminContent .esi-control-group .esi-hint {
	color: #333333;
	background-color: #FCF8E0;
	border-left-color: #FEC405;
	border-top-color: #FEC405;
	border-right-color: #FEC405;
	border-bottom-color: #FEC405;
	background-image: url('../ESI/images/lamp_icon.png');
}


.esi-message-group .esi-error *,
#adminContent .esi-message-group .esi-error *,
.esi-control-group .esi-error *,
#adminContent .esi-control-group .esi-error * {
	color: #D50000;
	background-color: #FFE4E0;
}



.esi-message-group .esi-success *,
#adminContent .esi-message-group .esi-success *,
.esi-control-group .esi-success *,
#adminContent .esi-control-group .esi-success * {
	color: #1D781D;
	background-color: #E7F4DF;
}


.esi-message-group .esi-warning *,
#adminContent .esi-message-group .esi-warning *,
.esi-control-group .esi-warning *,
#adminContent .esi-control-group .esi-warning * {
	color: #333333;
	background-color: #FCF8E0;
}

.esi-message-group .esi-hint *,
#adminContent .esi-message-group .hint *,
.esi-control-group .esi-warning *,
#adminContent .esi-control-group .esi-hint * {
	color: #333333;
	background-color: #FCF8E0;
}


.esi-message-group .esi-error strong,
.esi-message-group .esi-success strong,
.esi-message-group .esi-warning strong,
.esi-message-group .esi-hint strong,
#adminContent .esi-message-group .esi-error strong,
#adminContent .esi-message-group .esi-success strong,
#adminContent .esi-message-group .esi-warning strong,
#adminContent .esi-message-group .esi-hint strong,
.esi-control-group .esi-error strong,
.esi-control-group .esi-success strong,
.esi-control-group .esi-warning strong,
.esi-control-group .esi-hint strong,
#adminContent .esi-control-group .esi-error strong,
#adminContent .esi-control-group .esi-success strong,
#adminContent .esi-control-group .esi-warning strong,
#adminContent .esi-control-group .esi-hint strong {
	font-weight: bold;
}


.esi-modal {
	position: absolute;
	z-index: 10100;
	float: left;
	padding: 15px;
}

#footer {
	z-index: 1001;
}
