﻿.esi-hidden {
    display: none;
}

.esi-property-dialog-content {
    margin-left: 2%;
    margin-right: 2%;
    padding: 0px;
    height: 280px;
}

    .esi-property-dialog-content input[type="checkbox"] {
        outline: none;
    }

    .esi-property-dialog-content table {
        border-spacing: 0px;
        width: 100%;
    }

        .esi-property-dialog-content table tr td {
            padding-top: 4px;
            padding-bottom: 4px;
        }

            .esi-property-dialog-content table tr td:first-child {
                width: 25px;
            }

.esi-property-dialog-odd-row {
    background-color: #F6F6F6;
}

.esi-property-dialog-paging {
    margin-left: 2%;
    margin-right: 2%;
    height: 29px;
    background-color: #EDEDEE;
}

    .esi-property-dialog-paging button {
        margin: 4px;
        background-color: transparent;
        height: 16px;
        width: 16px;
        border: none;
        outline: none;
    }

    .esi-property-dialog-paging input[type="text"] {
        height: 16px;
        text-align: right;
    }

.esi-property-dialog-pager-first {
    background-image: url(../nodes/images/pager/page-first.gif);
	cursor: pointer;
}

.esi-property-dialog-pager-previous {
    background-image: url(../nodes/images/pager/page-prev.gif);
	cursor: pointer;
}

.esi-property-dialog-pager-next {
    background-image: url(../nodes/images/pager/page-next.gif);
	cursor: pointer;
}

.esi-property-dialog-pager-last {
    background-image: url(../nodes/images/pager/page-last.gif);
	cursor: pointer;
}
