﻿h1 {
	font-size: large !important;
}

#adminContent td {
	padding: 0px !important;
	vertical-align: middle;
	border-right-color: #d0d0d0 !important;
}

.x-grid3-hd-row td {
	border-right: 1px solid !important;
	padding: 0px 0px 0px 0px !important;
}

td.sw-help-hint-btn {
	width: 16px;
	vertical-align: top !important;
}

td.sw-help-hint-btn a {
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	display: inline-block;
}

a.sw-suggestion-btn-close {
	background-image: url(/orion/images/button.closecross.gif);
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	display: inline-block;
}

.mt15 {
	margin-top: 15px;
}