﻿html.RenderPdf .sw-pref-options { display: none;} /*hide menu on pdf file*/

.sw-preference
{
    background-image: url('/Orion/images/ActiveAlerts/MoreActions.png');
    background-repeat: no-repeat;
    background-position: left center;
    cursor: pointer;
}

.sw-pref-section-header
{
    color: #888888;
    white-space: nowrap;
}
.sw-preference-open
{
    /* this will be used when user click on more action button */
    background-image: url('/Orion/images/ActiveAlerts/MoreActionsSelected.png') !important;
}

.sw-pref-options
{
    position: absolute;
    margin-top: 0px;
    margin-left: -149px; /* this will be needed to measure in js */
    border: 2px solid #f99d1c;
    line-height: 24px !important;
    z-index: 1;
    background-color: white;
    width: 200px;
    font-size: 8pt;
    padding-top: 3px;
    padding-bottom: 3px;
}

.sw-pref-options-hidden
{
    display: none;
}
.sw-pref-options table
{
    margin-left: 8px;
    margin-right: 8px;
}
.sw-pref-section-header
{
    text-transform: uppercase;
}

.sw-pref-options table td
{
    line-height: normal;
    vertical-align: top;
    font-size: 8pt;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.sw-preference-more, .sw-preference-more-open
{
    font-size: 8pt;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1.5pt;
}

.sw-preference-more-open
{
    background-color: #f99d1c;
    color: white;
}
.sw-preference-row-open
{
    background-color: #f99d1c;
}