﻿.filter_group_list
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.neb table
{
	margin: 0px;
    padding: 0px;
	border-spacing: 0;
    border-collapse: collapse;
}

.neb th, .neb td, .neb ul
{
	margin: 0px;
    padding: 0px;
    text-align: left;
	vertical-align: middle;
}

.neb ul:empty {
	border-left: 3px dotted #f0f0f0;
	margin-left: 22px;
	height: 25px;
}

.neb-input
{
    width: 120px;
    min-width: 120px;
    max-width: 120px;
}

.neb-lhs, .neb-op, .neb-rhs
{
    margin-left: 10px;
}

.neb-rhs
{
    margin-right: 10px;
}

.neb-spacer
{
    width: 30px;
    max-width: 30px;
    min-width: 30px;
    background-color: transparent !important;
}

.neb-condition-title
{
    font-weight:bold;
}

.neb-condition
{
    margin: 0px;
    padding: 0px;
}

.rules_group_condition_container
{
    margin-left: 9px;
}

.neb-condition-and td
{
    background-color: #ffe89e;
}

.neb-condition-or td
{
    background-color: #daf7cc;
}

.neb-condition-none td
{
    background-color: #fed2ff;
}

.neb-condition-notall td
{
    background-color: #cfccf7;
}

.neb-condition-default td
{
    background-color: #ebebeb;
}

.neb-root-text
{
    padding: 3px 12px;
    text-align: center !important;
	border-left: 10px solid #ebebeb !important;
	border-right: 10px solid #ebebeb !important;
    background-color: #ebebeb !important;
}

.neb-root-line
{
    width: 9px;
    min-width: 9px;
    max-width: 9px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAEElEQVQIW2O8ffv2f0Y4AQBPswq0S7vY/wAAAABJRU5ErkJggg==) 0px 14px repeat-x;
}

.neb-group-dropdown
{
    padding: 3px 4px 0px 10px !important;
}

.neb-preference 
{
    background-image: url('/Orion/images/ExpressionBuilder/Menu_Menu_Transparent.png');
    background-repeat: no-repeat;
    background-position: 0 2px;
    cursor: pointer;
}

.neb-preference:hover 
{
    background-image: url('/Orion/images/ExpressionBuilder/Menu_Menu_Hover.png');
}

.neb-preference-open {
    background-image: url('/Orion/images/ExpressionBuilder/Menu_Menu_Hover.png') !important;
}

.neb-condition-list
{
    list-style-type: none;
    margin: 0px;
    padding: 2px;
    min-height: 15px;
    line-height: 30px;
}


.neb-condition-list li
{
	margin-left: 22px;
	border-left: 3px solid #dbdbdb;
	padding: 10px 0px 0px 0px;
}

.neb-condition-info {
    line-height: 10px;
    font-size: 10px;
    position: absolute;
    padding-top: 0px !important;
    padding-left: 15px !important;
    color: #888;
    text-transform: lowercase;
}

.neb-condition-list li:last-child
{
	margin-left: 22px;
	border-left: 3px solid #dbdbdb;
	padding: 10px 0px 10px 0px;
}


.neb-item
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.neb-add-container
{
    line-height: 30px;
    height: 30px;
}

.neb-simple-elbow
{
	width: 34px; 
	min-width: 34px; 
	max-width: 34px;
	line-height: 0px !important;
}

.neb-add-simple
{
    line-height: 30px;
    height: 30px;
    border: 1px dashed #dadada;
    margin-left: 24px;
}

.neb-add-simple
{
    background: url('/Orion/images/NestedExpressionBuilder/add_16x16.png') 6px 7px no-repeat;
    padding: 0px 20px 0px 30px !important;
    cursor: pointer;
}

.neb-add-simple:hover
{
    background: url('/Orion/images/NestedExpressionBuilder/add_16x16_white.png') 6px 7px no-repeat;
    padding: 0px 20px 0px 30px;
    color: #fff;
    background-color: #f99d1c;
    cursor: pointer;
}

.neb-item-add-options
{
    display: inline-block;
    margin-left: 33px;
    border: 2px solid #f99d1c;
    line-height: 24px !important;
}

.neb-item-add-options td
{
    padding: 2px 6px;
}

.neb-item-add-options tr
{
    cursor: pointer;
    color: #333;
}

.neb-item-add-options tr:hover
{
    color: #fff;
    background-color: #f99d1c;
}

.neb-item-add-options table
{
    min-width: 100px;
    border-spacing: 0;
    border-collapse: collapse;
}

/* start aggregation*/
.neb-aggr-options
{
    position: absolute;
    margin-top: 15px;
    display: inline-block;
    border: 2px solid #f99d1c;
    line-height: 20px !important;
}

.neb-aggr-options .caption
{
    color: #7F7F7F;
    text-transform: uppercase;
}

.neb-aggr-options td
{
    padding:0px 5px;
}

.neb-aggr-options tr
{
    color: #333;
    background-color: white;
}

.neb-aggr-options input[type="radio"]
{
  vertical-align: middle;
}

.neb-aggr-options tr:hover
{
    /*color: #fff;
    background-color: #f99d1c;*/
}

.neb-aggr-options table
{
    min-width: 100px;
    border-spacing: 0;
    border-collapse: collapse;
}

.neb-aggr
{
    background: url('/Orion/images/ExpressionBuilder/AditionalMenu_Small_.png') 0px 0px no-repeat;
    width: 20px;
    height: 14px;
    display: inline-block;
    vertical-align: text-bottom;
}

.neb-aggr-down,.neb-aggr:hover
{
    background: url('/Orion/images/ExpressionBuilder/AditionalMenu_Small_Hover.png') 0px 0px no-repeat;
    width: 20px;
    height: 14px;
    cursor: pointer;  
    vertical-align: text-bottom
}
/* end aggregation*/



.neb-item-add
{
    background: url('/Orion/images/NestedExpressionBuilder/add_button.png') 0px 0px no-repeat;
    margin-left: 22px;
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.neb-item-add-down, .neb-item-add:hover
{
    background: url('/Orion/images/NestedExpressionBuilder/add_button_hover.png') 0px 0px no-repeat;
    margin-left: 22px;
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.neb-item-add-wrap
{
    margin-bottom: 14px;
}

.neb-item-close
{
    cursor: pointer;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    min-height: 30px;
    background: url('/Orion/images/NestedExpressionBuilder/delete_icon.png') 7px 7px no-repeat;
}

.neb-item-close:hover
{
    background: url('/Orion/images/NestedExpressionBuilder/delete_icon_hover.png') 7px 7px no-repeat;
    background-color: #f99d1c !important;
}

.neb-pref-options
{
    position: absolute;
    margin-top: 30px;
    margin-left: -3px;
    border: 2px solid #f99d1c;
    line-height: 24px !important;
}

.neb-pref-options td
{
    padding: 2px 6px;
}

.neb-pref-options tr
{
    cursor: pointer;
    color: #333;
    background-color: white;
}

.neb-pref-options tr:hover
{
    color: #fff;
    background-color: #f99d1c;
}

.neb-pref-options table
{
    min-width: 120px;
    border-spacing: 0;
    border-collapse: collapse;
}

.neb-pref-item td {
    white-space: nowrap;
    color: black;
    background-color: white !important;
}

.neb-pref-item td:hover {
    color: white;
    background-color: #f99d1c !important;
}

.neb-drag-handle
{
    cursor: move;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    background: url('/Orion/images/NestedExpressionBuilder/grab_icon.png') 7px 7px no-repeat;
}

.neb-drag-handle:hover
{
    background: url('/Orion/images/NestedExpressionBuilder/grab_icon_hover.png') 7px 7px no-repeat;
    background-color: #f99d1c !important;
}

.neb-drag-target
{
    height: 28px;
    min-height: 28px;
    max-height: 28px;
    border: 1px dashed #dadada;
    background: #fcfcfc;
}

.neb-variablepicker
{
    text-decoration: underline;
    cursor: pointer;
    color: #336699;
    margin-right: 5px;
}

.neb-fieldpicker
{
    text-decoration: underline;
    cursor: pointer;
    color: #336699;
}

.neb-fieldpicker.neb-fieldpicker-disabled
{
    text-decoration: none;
    cursor: default;
    color: #888;
}

.neb-action-hint 
{
    display: none; 
    position: absolute; 
    padding-top: 1px; 
    padding-bottom: 1px;    
}

.neb-validation-error {
	background-color: #FACECE !important;
}

.neb-validation-error .neb-rhs input {
	color: #CE0000 !important;
}

.neb-validation-icon
{
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    min-height: 30px;
    background: url('/Orion/images/NestedExpressionBuilder/error_icon.png') 7px 7px no-repeat;
}

.neb-constant-field-switch {
    width: 14px;
    height: 14px;
    min-height: 14px;
    line-height: 14px;
    margin-left: 5px;
    margin-right: 2px;
    display: inline-block;
    background: url('/Orion/images/NestedExpressionBuilder/use_macro_normal.png') 0px 0px no-repeat;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.neb-constant-field-switch:hover {
    background: url('/Orion/images/NestedExpressionBuilder/use_macro_hover.png') 0px 0px no-repeat;
}

.neb-constant-field-switch:hover .neb-constant-field-switch-menu {
    display: inline-block;
}

.neb-constant-field-switch-menu {
    display: none;
    border: 1px solid black;
    position: absolute;
    top: 15px;
    left: 0;
    padding: 2px 6px;
    border: 2px solid #f99d1c;
    line-height: 20px !important;
    cursor: pointer;
    white-space: nowrap;
    background-color: #fff;
    z-index: 2;
}

.neb-constant-field-switch-menu:hover, .neb-constant-field-switch-menu:active {
    color: #fff;
    background-color: #f99d1c;
}

.neb-constant-field-switch.disabled {
    background: url('/Orion/images/NestedExpressionBuilder/use_macro_disabled.png') 0px 0px no-repeat;
        cursor: default;
}

.neb-constant-field-switch.disabled .neb-constant-field-switch-menu{
     display: none;

}

.neb-event {
    width: 630px;
    min-width: 580px;
}

.neb-event-name {
    text-decoration:underline;
    color: #336699;
    cursor: pointer;
}

.neb-event-button {
    width: 75px;
    background-position: 8px 8px;
    vertical-align: top !important;
}

.neb-event-desc {
    color: #666;
}

.neb-event-button span {
    color: #336699;
    cursor: pointer;
}

.neb-btn-expanded {
    background-color: #DEEBFA;
    background-image: url('/Orion/images/ExpressionBuilder/expanded.gif');
    background-repeat: no-repeat;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.neb-btn-collapsed {
    background-color: rgb(235, 235, 235);
    background-image: url('/Orion/images/ExpressionBuilder/collapsed.gif');
    background-repeat: no-repeat;
}

.neb-event-detail {
    background-color: #DEEBFA;
    padding: 10px;
    border-top: 1px solid white;
}

.neb-event-musthappendcount {
    width: 40px;
}

.neb-event-filter {
    margin-left: 32px !important;
}

.neb-event-filter-items {
    margin-left: 32px !important;
}

.neb-event-detail-hide {
    margin-left: 100px;
    text-align: center;
}

.neb-event-detail-hide span {
    color: #336699;
    cursor: pointer;
    font-size: 0.8em;
}

.neb-event-filter-item-close
{
    cursor: pointer;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    min-height: 30px;
    background: url('/Orion/images/ExpressionBuilder/delete_icon.png') 7px 7px no-repeat;
}

.neb-event-filter-item-add
{
    cursor: pointer;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    min-height: 30px;
    background: url('/Orion/images/ExpressionBuilder/add_icon.png') 7px 7px no-repeat;
}

.neb-event-filter-op {
    margin-left: 4px;
}

td.neb-event-filter-rhs-column {
    padding-left: 8px;
}

td.neb-event-filter-rhs-value-type {
    padding-right: 4px;
}

 .neb-event-filter-rhs-custom-value > input[type=text] {
    padding: 1px;
 }

.neb-event-filter-op select {
    min-width: 100px;
    width: 100%;
}

.neb-event-musthappendtype {
    margin-left: 4px;
}

.neb-event-musthappendcount {
    margin-left: 4px;
}

.x-combo-group-item { color: #888888;font-size: 10px!important;text-transform: uppercase;border-top: solid 1px #888888;padding: 4px 4px;}
.x-combo-search-item{ padding: 8px 10px;background-color: rgb(235, 235, 235);}
.x-combo-group-item-first { border-top: none!important;}
.sw-search-combo-box{ width: 200px;position: relative;top: -1px; }
.sw-search-combo-box .x-form-field-trigger-wrap{ line-height: normal;}
.sw-search-combo-box .x-form-text, .sw-search-combo-box .x-form-trigger { height: 100%!important;}
.sw-search-combo-box .x-form-trigger{border-bottom: none;}
.x-combo-list-item, .x-combo-group-item { margin: 0 8px;}
.x-combo-search-item .x-form-twin-triggers img { height: 19px;}

.hasCustomSelect { 
    margin-top: 5px;
    cursor: pointer;
}

.customSelect {
    border: 1px solid #BBB;
    background-color: white;
    color: black;
    line-height: 18px;
    height: 18px;
    
}
.customSelect.changed {
    background-color: white;
}   
.customSelectInner {
    min-width: 120px;
    height: 18px;
    padding-left: 5px;
    padding-right: 25px;
    background:url('/Orion/images/ExpressionBuilder/trigger.png') no-repeat center right;
    -webkit-box-shadow: inset -1px 0px 10px -1px rgba(0,0,0,0.1);
    -moz-box-shadow: inset -1px 0px 10px -1px rgba(0,0,0,0.1);
    box-shadow: inset -1px 0px 10px -1px rgba(0,0,0,0.1);
    white-space: nowrap;
}

.customSelectDisabled {
    color: #888;
}

.neb-information-panel  {
    vertical-align: top !important;
}
.neb-information-panel-item img {
    display: block;
    margin: 0px auto;
    margin-bottom: 6px;
}
.neb-information-panel-item {
    border: 2px solid #EEE;
    padding: 10px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    line-height: 12px;
    font-size: 10px;
    color: #888;
}

.neb-units {
    margin-left: 3px;
}