﻿#adminContent #websites {
    text-align: left;
    vertical-align: middle;
    width: auto;
	white-space: normal;
	border: 1px #ccc solid;
	background-color: #fff;
}
#adminContent #websites tr td {
    border-bottom: 1px solid #ccc;
    font-size: 11px;
    vertical-align: middle;
	padding: 4px;
}
#adminContent #websites tr th {
    border-bottom: 1px solid #ecedee;
    font-size: 11px;
    vertical-align: bottom;
	padding: 4px;
	background-color: #ecedee;
}
#editSiteDialog {
	background: white;
	padding: 5px;
	height: 100%;
}
#editSiteDialog tbody th {
	text-align: right;
}
#editSiteDialog .help {
	padding-left: 1em;
	padding-bottom: 1em;
	font-style: italic;
	color: #222;
	font-size: 90%;
}
#dialogOk, #dialogCancel {
	cursor: pointer;
}
