.sw-forecast-warning {
  background: #FCF8e0 url('../images/Generic/Patterns/pattern-warning.png');
}
.sw-forecast-critical {
  background: #f5e6df url('../images/Generic/Patterns/pattern-critical.png');
}
.sw-forecast-capacity   {
  background: #696969 url('../images/Generic/Patterns/pattern-atCapacity.png');
  color: white;
}

.sw-forecast-morethanyear  {
  color:#656565;
    font-style: italic;
}

.SW_NodeForCapacityClass img
{
  margin-right: 2px;
  margin-left: 3px;
}

.SW_NodeForCapacityClass td
{
  padding: 0;
}

.sw-forecast-span
{
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
}

span.sw-forecast-span {
  display: block;
  white-space: nowrap;
}

.sw-forecast-bold
{
   font-weight: bold;
}

/* capacity planning control */

.sw-hidden-flag {
  display: none !important;
}

.sw-capacity-item {
  background-color: #ecedee;
  width: 700px;
  margin: 0;
  padding: 20px;
}

.sw-capacity-item p {
  margin: 0 0 4px 0;
}

.sw-capacity-item-header label {
  display: inline-block;
  margin-right: 100px;
}

.sw-capacity-item-header input[type="checkbox"] {
  width: 16px;
}

.sw-capacity-item-settings {
  border: 2px solid #FFFFFF;
}

.sw-capacity-item-settings-body {
  padding: 3px;
}

.sw-capacity-item-settings-body table {
  width: 100%;
}

.sw-capacity-item-settings-body table td {
  padding: 9px 3px;
}

/* Validators are by default shown by adding "display: inline" style.
  I want to show the as block. I can't set "display: block !important;"
  because that would override hidden validators.
  This selector is one of the possible solutions to this issue. */
.sw-capacity-item-validator[style*="display: inline;"] {
  display: block !important;
  margin-top: 4px;
}

/* Control IDs are dynamic, so I am using dynamic attribute selector to target them. */
[id*="capacityPlanningGlobal"].sw-capacity-item-settings-body table td {
  padding: 1px;
}

.sw-capacity-icon-column {
  width: 30px;
}

.sw-capacity-global-label-column {
  width: 150px;
}

.sw-capacity-summary-column {
  width: 70px;
}

.sw-capacity-item-settings-body table input[type="text"] {
  width: 200px;
}

.sw-blue-box {
  background-color: rgb(229, 247, 255);
  padding: 5px;
}

[id*="capacityPlanningGlobal"] {
  background-color: #F0F0F0;
}

[id*="capacityPlanningLocal"] {
  background-color: #FFFFFF;
}

.sw-listOfEntity-list 
{
    list-style-type:none;
}

.sw-listOfEntity-div 
{
    padding-left: 10px;
}

.sw-editForecastTopXX-blueHref {
    background-color:transparent;
}

.sw-editForecastTopXX-blueHref a {
    background-color:transparent; color:#336699;
}

.sw-editForecastTopXX-blueHref a:hover {
    color: #F99D1C;
}

td.sw-capacityProblemsTopXX-noBorder {
    border: none !important;
}

.sw-forecastingCapacityResource td, .sw-forecastingCapacityResource th,
.forecastingTableLegent td, .forecastingTableLegent th {
  padding-left: 15px;
  padding-right: 15px;
}

.sw-forecastingCapacityResource .sw-custom-query-table td {
    border-bottom: 1px solid #D5D5D5;
}

.sw-forecastingCapacityResource .sw-custom-query-table .HeaderRow td {
    border-bottom: none;
}
