﻿.bigButton
{
    margin-top: 5px;
    text-align: center;
    padding-top: 3px;
    border: 2px dashed #DDDDDD;
}

.noFrequencyInfo {
    color: #eb3300;
    float: left;
    text-align: left;
    width: 35%;
    padding-left: 3px;
}
.rightFrequencyInfo {
    width: 35%;
    text-align: right;
    float: right;
    padding-right: 10px;
    height: 20px;
}
.schedulesGrid 
{
    border-collapse: separate!important;
    width: 100%;    
}

.schedulesGrid tr td input[type='image'][alt='Copy'] 
{
    display: none;
}
.schedulesGrid tr td input[type='image'][alt='Delete'] 
{
    display: none;
}

.schedulesGrid tr td
{
    margin: 0 10px;
   
}
.schedulesGrid tr:first-child
{
    display: none;
}

.cbl td
{
    padding: 1px 15px;
}
.cbl input
{
    vertical-align: middle;
}
.cbl label
{
    margin-left: 5px;
    margin-right: 1px;
    vertical-align: middle;
}
.all-check-click
{
    float: left;
    border-right: solid 1px #dcdbd7;
    height: 205px;
    padding-right: 20px;
    margin-top: 10px;
}
.all-section
{
    float: left;
    margin-left: 20px;
}
.chackboxTable
{   
    border: 1px solid #BBBBBB;
    border-bottom: none;    
    width: 100%;
    padding-top: 10px;
}
.frequencySelection
{
    background-color: white;
    border-bottom: 1px solid #e1e1e1;
    width: 500px;
    margin-bottom: 5px;
    margin-right: 0px;
    padding: 5px;
}

.monthlyCondionsTable, .startEndTimePicker
{
    border-collapse: collapse;
}
.monthlyCondionsTable td
{
    padding: 5px;
    padding-left: 0px;
}
.monthlyCondions {
    padding-left: 20px;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB
}

.startEndTimePicker td, .specStartDateTime
{
    padding: 2px 0;
}

.buttons {
    float: right;
}
.emptyName 
{
    color: rgb(95, 95, 95); 
    font-size: 10px;
}
.frequencyName {
    padding: 10px 10px 20px 5px;
    background-color: aliceblue;
}
.schedulePickerControl 
{
    display: none;
    padding-bottom: 0;
}
.timeSelector {
    background-color: #ececec;
    width: 100%;
    height: 40px;    
    margin: 2px 0;   
    float: left;
}
.addTimeButton 
{
    border: 2px dashed #BBBBBB;
    text-align: center;
    padding: 9px 0px 7px 0px;
    clear: both;    
}
.copyFrequency, .editFrequency, .deleteFreq,.frequencyInfo {
    float: right; 
    cursor: pointer;
}
.frequencyHeader {
    border-bottom: 1px solid #BBBBBB;
}
.tableHeader .copyFrequency,.tableHeader .editFrequency,.tableHeader .deleteFreq,.tableHeader .frequencyInfo  
{
    display: inline-block;
    cursor: default;
    margin-top: 3px;
}
.tableHeader .freqName 
{
    display: inline-block;
    cursor: default;
    margin-top: 3px;
    margin-left: 5px;
}

.frequencyControlGridItem 
{
    border: 1px solid #DCDCDC;
    width: 100%; 
    height: 20px; 
    margin-top: 5px;
    padding: 4px 0;
}
.freqName
{
    white-space:nowrap;
    width: 60%;
    text-align: left;
    text-overflow: ellipsis;
    float: left; 
    overflow: hidden;
    margin-left: 10px;
}
.buttonColumn {
    text-align: center;
    width: 75px;
}
.stateDuringTimePeriod {
    color: #d1d1d1;
}