﻿#hubbleWindow
{
    position: absolute;
    z-index: 2000;
    top: 0;
	left:47%;
    background: #FF5050;
    padding: 8px 30px 10px 30px;
    color: white;

	border-left: 2px solid #666;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;  
	-webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;  
}

#hubbleWindow a
{
    color: White;
    font-size: smaller;
	display: table;
	margin: 0 auto;
}

#hubbleWindow #summary
{
    padding: 20px 50px;
}

#hubbleWindow #detailData a
{
    color: black;
    text-decoration: underline;
}

#hubbleWindow #viewResults
{
    float: right;
    font-size: smaller;
}

#hubbleWindow #summary #stats
{
    width: 50%;
    margin-bottom: 25px;
}

#hubbleWindow #summary #stats td 
{
    text-align:right;
}

#hubbleWindow #summary td
{
    padding: 5px 10px;   
}

#hubbleWindow #summary table
{
    width: 70%;
}


#hubbleWindow #detailData
{
    margin-top: 20px;
    background-color: White;
    color: Black;
	display: table;
}

#hubbleWindow table
{
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

#hubbleWindow #queriesTable th
{
    text-decoration: underline;
    cursor: pointer;
    padding: 15px 10px;
}

#hubbleWindow .odd
{
    background: #f8f8f8;
}

#hubbleWindow #queriesTable td
{
    vertical-align: top;
    padding: 15px 10px;
}

#hubbleWindow pre
{
    margin: 0px;
    font-family: Consolas, "Courier New", Courier, monospace, serif;
    font-size: 100%;
    white-space: pre-wrap;    
}

.hubbleStackTrace
{
    font-family: Consolas, "Courier New", Courier, monospace, serif;
    font-size: 100%;
    /*white-space: pre-wrap;  */
    overflow:auto;
    margin:0;
}

#hubbleWindow .unit
{
    color: #aaaaaa;
}

.hubble-queryTime
{
    text-align: right;
}

/* prettify colors */
#hubbleWindow .str{color:#FF0000;} /* string */
#hubbleWindow .kwd{color:#0000FF;} /* keyword */
#hubbleWindow .com{color:gray;} /* comment */
#hubbleWindow .typ{color:#2b91af;} /* type */
#hubbleWindow .lit{color:maroon;} /* literal */
#hubbleWindow .pun{color:#808080;} /* punctuation */
#hubbleWindow .pln{color:#000;} /* plaintext */
#hubbleWindow .tag{color:maroon;} /* html/xml tag */
#hubbleWindow .atn{color:red;} /* html/xml attribute name */
#hubbleWindow .atv{color:blue;} /* html/xml attribute value */
#hubbleWindow .dec{color:purple;} /* decimal */




/* hubble resource extension */

.hubble-btn .sw-btn-t { 
  color: red !important;
  font-weight: bold !important;
}

.hubble-resource
{
  background-color: #FF5050;
}

.hubble-resource .HeaderBar
{
  background-color: inherit;
}

.hubble-resource .HeaderBar h1
{
  color: white;
}

.hubble-resource .content
{
  background-color: white;
  padding: 4px;
}

.hubble-resource .content table
{
  table-layout: fixed;
  white-space: nowrap;
}

.hubble-resource .content table th
{
  width: 25%;
}

.hubble-resource .content table td
{
  width: 75%;
  overflow: auto;
}

