﻿.itemPicker {
      background-color: #fff !important;
}

.x-grid3-hd-isFavorite, .x-grid3-col-isFavorite {text-overflow: clip !important;}

.itemPicker .groupByColumn {
    
}

.itemPicker .headerColumn {
     font-weight: bold;
}

.itemPicker .gridColumn {
    float: right;
    text-align: right;
}

.itemPicker .selectedItemsColumn {
    padding-left: 10px; 
} 


.itemPicker .selectedItems {
    overflow: auto;
    overflow-x: visible;
    height: 493px;
    width: 165px;
}

.itemPicker .searchInput {
    width: 250px;
}

.itemPicker .selectedItems table {
    border-collapse: collapse; 
     width: 100%;
}

.itemPicker .selectedItems table td {
    padding: 2px 1px 1px 4px;
    background-color: #ececec;
}

.itemPicker .selectedItemsEmpty {
    padding: 4px;
     background-color: #ececec;
}

.itemPickerOffPage {
   position: absolute;
    left: -9999px;
}

.itemPicker .itemPickerItemsGrid .x-panel-body {
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
}

.itemPicker .disabledItem {
    color: #D2D2D2;
}

.itemPicker .x-grid3-row-selected.disabledItem {
    color: white;
}
.itemPicker .hiddenItem {
    display: none;
   
}