.buttons a{
    display:block;
    float:left;
    white-space: nowrap;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    background-image: url("/Orion/images/LayoutBuilder/backgroundBtn.png");
    background-repeat: repeat-x;
    cursor:pointer;
    padding: 2px 10px 2px 10px; /* Links */
}
.buttons a img{
    margin:0 5px 0 0 !important;
    padding:0;
    border:none;
    width:10px;
    height:10px;
    position: relative;
    top: 1px;
}

/* GREY */
.buttons a.greyBtn
{
    margin: 0;
    color:black;
    background-color: #D4D4D4;
    font-weight: normal;
    font-size: 0.80em;
    border:1px solid #C1C1C1;
    border-radius: 2px;
    cursor: pointer;
}
.buttons a.greyBtn:hover{
    border:1px solid #7E7E7E;
}

.addContentBtn .sw-btn-t {
    padding-right: 15px;
    padding-left: 15px;
    text-transform: none;
    font-size: 12px !important;
}

#layoutContainer { padding: 10px 10px 10px 10px; }
.layout-container { padding: 0px 10px 10px 10px;background-color: white;}
#layoutContainer div{ overflow: visible!important; }

.layout-item { border: solid 1px #006699!important;min-height: 30px;background-color: white;margin: 0 0px 5px 0px;padding: 0px 0px 0px 0px;}
.layout-item .x-panel-body { min-height: 60px;}
#layoutTemplatesMenu .x-menu-item { padding-right: 5px!important;}

.layout-add-new{margin-left: 10px;margin-right: 10px;}
.layout-add-new .x-panel-body  {border: none!important;}
.layout-add-link{ text-align: center;width: 100%; }
.layout-add-link .sw-btn{margin-top: 12px}
.layout-add-link div  {border: dashed 1px #CCCCCC; height: 45px!important;vertical-align: middle;text-align:center; font-size: 11px; color: #006699;padding-left: 15px}
.layout-add-link:hover div {border: dashed 1px #006699;color: #006699;}
.layout-edit-link, .layout-edit-link:active, .layout-edit-link:visited {color: #336699; font-size: 10px; text-decoration: none;}

.layout-templates .x-btn-text{ height: 21px!important;vertical-align: top;padding-top: 0px!important;}
#layoutTemplates .x-btn-split { height: 19px!important;}

.layout-item-parent-place-holder .x-layout-split{width: 4px;background-color: #006699;}

.layout-item-parent-place-holder .x-panel{ background-color: white;}
.layout-item-parent-place-holder .x-panel-body{background-color: white;}

.layout-empty-message{background-color: white;color: #A59999;font-size: 11px;height: 100px;border: solid 1px silver;text-align: center;}
.layout-empty-message div
{
    position: relative;
    top: 40px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 13px;
}
.layout-add-more .x-panel-body{ height: auto;min-height: 0px;text-align: center;}
.layout-add-more .x-panel-body .x-column-inner {margin-left:auto; margin-right:auto;width: 100px!important;overflow: visible;}

.layout-column .x-column { width: 100%;}
.columnItem { padding: 10px;min-height: 30px; }

.manageResBtns {
    padding: 10px 0 0 0;
}

.portletItem .resource-manage-btn{ visibility: hidden;}
.portletItem {margin-bottom: 10px; cursor: move;}
.portletItem .manageBtns {cursor: pointer;}
.portletItem a{ cursor: default;}
.portletItem a:hover .portlet-header{ border: solid 1px #ff9900;color: black;}
.portletItem .portlet-header{ border: solid 1px #646464;color: black;}
.portletItem a:hover .resource-manage-btn{ visibility: visible;}
.portletItem .portlet-header table td{ padding: 5px 5px 0px 0px;}
.portletItem .portlet-header table { width: 100%;}

.shadow {
    box-shadow: 3px 3px 6px #CECECE;
    -moz-box-shadow: 3px 3px 4px #CECECE;
    -webkit-box-shadow: 3px 3px 4px #CECECE;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#CECECE')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#CECECE');
}

.addResourcesbtn {
    padding: 10px 10px 10px 10px !important;
    border: 1px dashed #606060 !important;
    clear: both;
    float: none !important;
    width: auto !important;
    margin: 0 10px 10px 10px !important;
}

.portlet-header  
{
    padding-bottom: 20px;
    font-weight: bold;
    text-align: left;
    background-color: white;
}
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; }
.ui-sortable-placeholder * { visibility: hidden; }
.sortableSectionPlaceholder {
    border: 1px dotted black; 
    height: 250px;
    visibility: visible !important;
    margin-left: 10px;
    margin-right: 10px;
}

.layout-item-header { padding: 5px 0 5px 0 !important;cursor: move;} 
.layout-item-header .x-column-inner{ width: auto !important;}
.layout-item-header .x-panel-body{ padding: 2px 0px 2px 0px!important; }
.layout-item-header .x-form-field-wrap { margin-top: 1px!important; }
.layout-item-header table td{ padding: 0px 5px 0px 5px; }
.layout-item-header table td img { cursor: pointer; }

.portletDrag { width: 400px !important; }

.delete-section-button{ float: right!important;padding-top: 2px;padding-right: 2px; }
.delete-section-button img{ cursor: pointer; }
.layout-percent-indicator{ width: 100%;text-align: center; }
.percentSquare
{
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    background-color: white;
    border: 1px inset;
    margin-top: 5px;
    font-size: 11px !important;
}

div#layoutFooterTop, div#layoutHeaderTop
{
    padding: 10px 5px 5px 30px;
}

table#layoutBuilderContent, div#layoutFooterTop, div#layoutHeaderTop { background-color: #EEEEEE;}

div#layoutFooterTop {padding-left: 10px;}

div#reportLayoutFooter, div#reportLayoutHeader, div#layoutBuilder
{
    border-width: 1px;
    border-style:solid;
    border-color:white;
    margin-bottom: 10px;
}

.footerTextArea
{
    max-height:20px;
    width: 100%;
    overflow: hidden;
    font-size: small;
    font-family: Arial,Verdana,Helvetica,sans-serif;
}

.headerTitleArea
{
    height:80px;
    max-height:80px;
    width: 97%;
    overflow: hidden;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 30px;
}

.headerSubTitleArea
{
    max-height:20px;
    width: 97%;
    overflow: hidden;
    font-size: small;
    font-family: Arial,Verdana,Helvetica,sans-serif;
}

.browseImage{
    float: left;
    position: relative;
    height: 20px;
}
.browseImage #imageFile {
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 20px;
    opacity: 0;
}
.browseImage span.text {
    width: 100px;
}
.browseImage span.button {
    border:1px solid gray;
}

.report-logo
{
    border: 1px solid #ABADB3;
    padding: 2px;
    text-align: center;
    height: 80px;
}
