﻿.sw-license-limit-hint {
    background: white; 
    border: 1px solid #eaca7f; 
    border-radius: 5px; 
    display: inline-block; 
    position: relative; 
    zoom: 1; 
    padding: 5px 6px 6px 6px;
    color: #000; 
    display: block;
}

.sw-license-limit-hint > div {
    display: inline-block;
}

.sw-license-limit-hint-block {
    padding: 5px 15px 0px 25px;
}

.sw-license-limit-hint-block-row {
    margin: 0;
}

.sw-license-limit-hint .sw-license-limit-title-bar {
    display: block;
    background: #FFE37B; 
    padding: 5px 6px 6px 6px;             
}

.sw-license-limit-title-bar > span {
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold; 
}

.sw-license-limit-body {
    padding: 10px 10px;
}

.sw-license-limit-close-icon {
    margin-top: 3px;
    width: 16px;
    height: 16px;
    background-image: url(/orion/images/NotificationImages/notification_close_button.gif);
    display: inline-block;
    float: right;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.sw-license-limit-table {
    width: 400px;
    border-collapse: collapse;
}

.sw-license-limit-first-column {
    padding-left: 10px;
    width: 150px;
}

tr.sw-license-limit-remaining-items-row {                
    height: 40px;
    border-bottom: 10px solid white;
    border-top: 10px solid white;             
}

tr.sw-license-limit-remaining-items-row > td {
    background: #fff url('/Orion/images/SalesTrigger/pattern-red.png') repeat top left;
}

span.sw-license-limit-highlighted {
    width: 20px;
    float: left;
    background-color: #D23C2D;
    color: white;
    font-weight: bold;
    padding: 3px 10px 3px 10px;
    margin-right: 10px;
}

span.sw-license-limit-second-element-align {
    float: left;
    padding: 3px 10px 3px 10px;
}

.sw-license-limit-block-title {
    font-weight: bold;
}

.sw-license-limit-hint-link {
    font-weight: bold;
}

