 button.btnEdit 
        {
            background-image: url('/Orion/images/edit_16x16.gif') !important;
            padding-right: 5px !important;
            height: 22px !important; 
        }
        
        button.btnAdd
        {
            background-image: url('/Orion/images/add_16x16.gif') !important;
            padding-right: 5px !important;
            height: 22px !important;
        }
        
        button.btnCopy 
        {
            padding-right: 5px !important;
            background-image: url('/Orion/images/copy_16x16.gif') !important;
            height: 22px !important;
        }
        
        button.btnDelete
        {
            background-image: url('/Orion/images/delete_16x16.gif') !important;
            padding-right: 5px !important;
            height: 22px !important;
        }
        
        #menuToolbar 
        {
            /*margin-right: 20px;*/
            width: 600px;
        }
        
        h1 
        {
            font-size: 18px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-top: 15px;
        }