.maintenanceSchedulerDialog {
    margin: 0 10px;
    overflow: hidden;
}

.maintenanceSchedulerDialog .dialog-section-header{
    font-weight: bold;
    margin-top: 1em;
}

.maintenanceSchedulerDialog .dialog-timepicker{
    margin: 5px 0;
}

.maintenanceSchedulerDialog .dialog-timepicker input{
    padding: 3px;
    text-align: right;
    min-width: 8em;
}

.maintenanceSchedulerDialog .dialog-mode-selection input{
    outline: none;
}

.maintenanceSchedulerDialog .not-allowed {
     cursor: not-allowed;
}

.maintenanceSchedulerDialog .dialog-scheduleNotification {
    display: block;
    margin-bottom: 8px;
}

.dialog-progressOverlay {
    text-align: center;
    margin-bottom: 8px;
}

.dialog-progressOverlay img {
    vertical-align: middle;
    margin-right: 8px;
}

.dialog-controls.overlayed {
    opacity: 0.5;
}