﻿div.tableWidth
{
    margin: 0 15px;
    min-height: 180px;
}

#adminContent h1
{
    padding: 0px 0px 10px 0px;
}

#adminContent .subtitle
{
    padding: 0px 0px 10px 0px;
}

table#breadcrumb
{
    margin-top: 0px;
}

div#Grid .delete
{
    background-image: url(/Orion/Nodes/images/icons/icon_delete.gif) !important;
}

div#Grid .create, .x-menu-list .create
{
    background-image: url(/Orion/Nodes/images/icons/icon_add.gif) !important;
}

div#Grid .edit
{
    background-image: url(/Orion/Nodes/images/icons/icon_edit.gif) !important;
}

div#Grid .duplicate
{
    background-image: url(/Orion/images/Reports/duplicateEdit_report.png) !important;
}

div#Grid .assign
{
    background-image: url(/Orion/images/assign.gif) !important;
}

div#Grid .export, .x-menu-item-icon.export 
{
    background-image: url(/Orion/images/CPE/export.png) !important;
}

div#Grid .import
{
    background-image: url(/Orion/images/CPE/import.png) !important;
}

div#Grid .enabledisable
{
    background-image: url(/Orion/images/enable_disable.png) !important;
}

.x-menu-list .enable-scan
{
    background-image: url(/Orion/images/Check.Green.gif) !important;
}

.x-menu-list .disable-scan
{
    background-image: url(/Orion/images/failed_16x16.gif) !important;
}

.upload-icon
{
    display: none;
}

.tab-top
{
    margin: 0;
    padding: 0 !important;
    /*border: solid 1px #DFDFDE;*/
}

#gridCell div#Grid
{
    width: 100%;
}

#adminContent td
{
    padding: 0px 0px 0px 0px !important;
    vertical-align: middle;
}

.no-border .x-table-layout-ct, .panel-no-border .x-panel-body-noheader
{
    border: none !important;
}

.panel-border
{
    border: solid 1px #D0D0D0 !important;
}

.panel-bg-gradient .x-panel-body-noheader
{
    background: none;
    padding: 5px 5px 5px 5px;
}

.hide-header .x-grid3-header
{
    display: none;
}

.x-tip-body
{
    white-space: nowrap !important;
}

.searchfield
{
    background-image: url(/Orion/images/search_button.gif) !important;
}

.sw-suggestion-pass
{
    border: 1px solid #00A000;
}

    .sw-suggestion-pass a
    {
        font-weight: normal;
        color: #336699;
        text-decoration: underline;
    }

.x-grid3-col-enabled img
{
    vertical-align: middle;
}

.x-grid3-col-assignments a
{
    color: #336699 !important;
}

/*!
 * Ext JS Library 3.2.1
 * Copyright(c) 2006-2010 Ext JS, Inc.
 * licensing@extjs.com
 * http://www.extjs.com/license
 */
/*
 * FileUploadField component styles
 */
.x-form-file-wrap
{
    position: relative;
    height: 22px;
}

    .x-form-file-wrap .x-form-file
    {
        position: absolute;
        right: 0;
        -moz-opacity: 0;
        filter: alpha(opacity: 0);
        opacity: 0;
        z-index: 2;
        height: 22px;
    }

    .x-form-file-wrap .x-form-file-btn
    {
        position: absolute;
        right: 0;
        z-index: 1;
    }

    .x-form-file-wrap .x-form-file-text
    {
        position: absolute;
        left: 0;
        z-index: 3;
        color: #777;
    }

#uploadForm .x-form-element
{
    padding-left: 5px !important;
    padding-top: 3px;
}

.upload-window-body{
    background: white;
    padding: 8px 8px 4px 8px;
}

.hintMessage
{
    margin: 20px 0px 10px 0px;
    color: red;
}

img.statusSlider
{
    cursor: pointer;
}

div#selectAllToolbar
{
    background: #FFFFCC !important;
}

.nativePollerGrayed, .scanNotAvailable {
    color: #646464;
}

.scanToggleButton
{
    cursor: pointer;
}

.scanResultLink {
    font-size: smaller;
}
.scanResultLink span {
	cursor: pointer;
}
.scanResultLink span, .scan-window-body a, .scan-window-body a:visited {    
    color: #0079aa;
}
.scanResultLink span:hover, .scan-window-body a:hover, .scan-window-body a:active {
    color: #2d5c77;
    text-decoration: underline;
}

.author-icon-normal, .author-icon-certified, .author-icon-blank{
    padding-left: 20px;
}

.author-icon-certified{
    background: url(/Orion/images/orion_generic_icon_orange.ico) no-repeat;
}

.author-icon-normal{
    background: url(/Orion/images/users.gif) no-repeat;
}
.subtitle a[href]{
    color: #336699;
    text-decoration: underline;
}
.subtitle a[href]:hover {
    color: orange;
}

#MessageBar{
    margin: 6px 0;
}

#MessageBar * {
    font-size: 13px;
    
}

a.importErrorLink {
    color: blue !important;
    text-decoration: underline !important;
}