﻿.ManagementTaskDropdown
{
    margin: 0;
    padding: 0;
    display: inline-block;
    cursor: pointer;
    float: left;
}

.ManagementTaskDropdown:hover 
{
    border-color: #2d5c77;
}

.ManagementTaskDropdown li.submenu
{
    color: #0079aa;
    display: block;
    padding: 4px 5px;
    border: solid 1px transparent;
    font-size: 8pt;
}

.ManagementTaskDropdown li.submenu.over, .ManagementTaskDropdown li.submenu:hover
{
    border-color: #2d5c77;
    z-index: 0;
    background: #fff;
}

.ManagementTaskDropdown li.submenu span
{
    background-image: url(/Orion/Nodes/images/icons/arrow_dropdown.gif);
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px;
    padding-left: 0;
}

.ManagementTaskDropdown img 
{
    margin-right: 3px;
    vertical-align: bottom;
}

.ManagementTaskDropdownContent
{
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    border: 1px solid #2d5c77;
    border-top: none;
    width: 100%;
    white-space: normal;
    font-size: 8pt;
}

.ManagementTaskDropdownContent ul
{
    margin: 0;
    padding: 8px 0 0;
    list-style: none;
    background: white;
}

.ManagementTaskDropdownContent li
{
    word-break: break-all;
}

.ManagementTaskDropdownContent li a
{
    display: block;
    padding: 5px 3px;
}

.ManagementTaskDropdownContent li:hover
{
    background-color: #0079aa;
}

.ManagementTaskDropdownContent li:hover a
{
    color: white;
}

.ManagementTaskDropdownContent a img 
{
    /* hide icon next to dropdown item */
    display: none;
}
