﻿#modalDialog {
	background: white;
	padding: 5px;
	height: 100%;
}
#modalDialog table{
    width: 100%;
}
#modalDialog tbody th {
	text-align: right;
	width: 100px;
}
#modalDialog tbody tr.header th {
	text-align: left;
	font-size: larger;
	background-image: url('/Orion/images/nodemgmt_art/background/bg_popup.jpg');
	background-repeat: no-repeat;
}
#modalDialog tbody tr.header{
	height: 30px;
}
#modalDialog tbody td {
	width: auto;
}
#modalDialog .help {
	padding-left: 1em;
	padding-bottom: 1em;
	font-style: italic;
	color: #222;
	font-size: 90%;
}
#dialogOk, #dialogCancel {
	cursor: pointer;
}
.ui-dialog {
	border: solid 1px black;
	overflow: hidden; 
	position: absolute; 
	z-index: 1002; 
	outline-style: none; 
	outline-width: 0pt;
	width: 600px;
}
.ui-dialog.ui-dialog-container{
    position: relative; 
    width: 100%; 
    height: 100%;
}

.ui-dialog-titlebar {
	background-image: url('../images/nodemgmt_art/background/bg_popup_header.gif');
	background-repeat: repeat-x;
	background-color: #e2e2e2;
	border-bottom: 1px solid #cdcdcd;
	font-size: larger;
	font-weight: bold;
	padding: 5px;
}
.ui-dialog-titlebar-close {
	background-image: url('/Orion/images/nodemgmt_art/buttons/Button.Cross.gif');
	display: block;
	position: absolute;
	right: 5px;
	top: 5px;
	height: 17px;
	width: 15px;
}
.ui-dialog-titlebar-close span {
	display: none;
}
