﻿/* Main navigation */
/* LEGACY TABS - BEGIN */
#tabs {
  display: none;
  padding-top: 3px;
  zoom: 1;
}
.sw-is-msie div#tabs {
  padding-top: 0px;
  border-top: 3px solid transparent;
}
/* msie moves the 3px padding to the bottom, not top */
.sw-mainnav-tabs ul,
.sw-mainnav-tabs li,
.sw-mainnav-bars ul,
.sw-mainnav-bars li {
  padding: 0;
  margin: 0;
}
.sw-mainnav-tabs {
  overflow: hidden;
}
.sw-mainnav-tabs ul {
  list-style-type: none;
  white-space: nowrap;
}
.sw-mainnav-bars ul {
  list-style-type: none;
}
.sw-mainnav-tabs li,
.sw-mainnav-bars li {
  display: inline-block;
}
.sw-mainnav-tabs,
.sw-mainnav-bars,
.sw-mainnav-box {
  clear: both;
}
.sw-mainnav-box {
  background: #ffffff;
  zoom: 1;
  padding: 5px 0;
  min-height: 21px;
}
.sw-mainnav-tabs ul li {
  margin: 0 0 0 7px;
  position: relative;
  background: transparent !important;
}
.sw-mainnav-tabs ul li a,
.sw-mainnav-tabs ul li a:active,
.sw-mainnav-tabs ul li a:visited {
  color: #727272 !important;
  text-decoration: none;
}
.sw-mainnav-tabs ul li a {
  display: block;
  padding: 0 10px;
  color: #727272;
}
.sw-mainnav-tabs ul li a span {
  text-transform: uppercase;
  background: none;
  padding: 0;
  line-height: 40px;
  font-weight: normal;
  font-size: 12px;
}
.sw-mainnav-tabs ul li.selected a {
  color: #FFFFFF !important;
}
.sw-mainnav-tabs ul li.selected a:hover {
  color: #df8200 !important;
}
.sw-mainnav-tabs ul li.selected a:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
  width: 0;
  height: 0;
}
.sw-mainnav-bars ul li {
  margin: 0 0 0 15px;
  line-height: 20px;
}
.sw-mainnav-bars ul li:hover {
  background: transparent;
}
.sw-mainnav-bars a,
.sw-mainnav-bars a:active,
.sw-mainnav-bars a:visited {
  color: #727272;
  text-transform: uppercase;
  font-size: 11px;
}
.sw-mainnav-bars a:hover {
  color: #df8200;
  text-decoration: underline;
}
/* ie6 - poor float margin calc - undo left side indented 15px */
* html .sw-mainnav-bars ul {
  margin-left: -15px;
}
.sw-mainnav-bars .sw-mainnav-logo {
  float: right;
  background: url(@{R=Core.LiveImage;K=NavBar.logo.gif;}) 0 0 no-repeat;
  margin: 2px 15px 0 0;
}
.sw-mainnav-bars .sw-mainnav-logo a {
  display: block;
  width: 84px;
  height: 19px;
}
.sw-mainnav-bars .sw-mainnav-logo span {
  visibility: hidden;
}
/* LEGACY TABS - END */
/*Contents*/
.nav-usertext {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mega-menu-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin: -2px 0 0 6px;
  vertical-align: middle;
  border-top-color: #AAAAAA;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
#menuStyleSelect {
  position: absolute;
  right: 5px;
  top: 9px;
  z-index: 2;
}
#mega-tabs > ul {
  margin: 0;
  list-style: none;
  white-space: nowrap;
}
#mega-tabs > ul > li {
  display: inline-block;
  margin: 0;
}
#mega-tabs > ul > li:hover {
  background: none;
}
#mega-tabs > ul > li > a {
  display: inline-block;
  padding: 0 15px;
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
  text-decoration: none;
}
#mega-tabs > ul > li > a > .mega-menu-caret {
  color: #AAAAAA;
  border-top-color: #AAAAAA;
}
#mega-tabs > ul > li > .mega-submenu {
  display: none;
  list-style: none;
  min-width: 165px;
  padding: 0;
  margin: 0;
  background-color: #272727;
  position: absolute;
  top: 100%;
  overflow: visible;
  box-shadow: rgba(0, 0, 0, 0.5) 0 3px 4px -1px, rgba(0, 0, 0, 0.0980392) 0 4px 5px 0, rgba(0, 0, 0, 0.0823529) 0 1px 10px 0;
}
#mega-tabs > ul > li > .mega-submenu .mega-submenu-container > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#mega-tabs > ul > li > .mega-submenu .mega-submenu-container > ul::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}
#mega-tabs > ul > li > .mega-submenu .mega-submenu-container > ul::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #777;
}
#mega-tabs > ul > li > .mega-submenu .mega-submenu-container > ul::-webkit-scrollbar-thumb:hover {
  background-color: #AAAAAA;
}
#mega-tabs > ul > li > .mega-submenu .mega-submenu-container > ul > li > a {
  font-size: 12px;
  display: block;
  padding: 7px 15px;
  color: #FFFFFF;
  cursor: pointer;
  white-space: normal;
  line-height: 16px;
}
#mega-tabs > ul > li > .mega-submenu .mega-submenu-container > ul > li > a:hover,
#mega-tabs > ul > li > .mega-submenu .mega-submenu-container > ul > li > a:active,
#mega-tabs > ul > li > .mega-submenu .mega-submenu-container > ul > li > a:focus {
  text-decoration: none;
  background-color: #333333;
  color: #F99D1C;
}
#mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul {
  overflow-y: auto;
  list-style: none;
  padding: 0;
  max-width: 677px;
}
#mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}
#mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #777;
}
#mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul::-webkit-scrollbar-thumb:hover {
  background-color: #AAAAAA;
}
#mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li {
  margin: 0 0 15px 0;
  width: 165px;
  float: left;
}
#mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li:hover {
  background-color: transparent !important;
}
#mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li > h3 {
  display: none;
  white-space: normal;
}
#mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li > .sub-menu-container > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li > .sub-menu-container > ul::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}
#mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li > .sub-menu-container > ul::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #777;
}
#mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li > .sub-menu-container > ul::-webkit-scrollbar-thumb:hover {
  background-color: #AAAAAA;
}
#mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li > .sub-menu-container > ul > li > a {
  font-size: 12px;
  display: block;
  padding: 7px 15px;
  color: #FFFFFF;
  cursor: pointer;
  white-space: normal;
  line-height: 16px;
}
#mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li > .sub-menu-container > ul > li > a:hover,
#mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li > .sub-menu-container > ul > li > a:active,
#mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li > .sub-menu-container > ul > li > a:focus {
  text-decoration: none;
  background-color: #333333;
  color: #F99D1C;
}
#mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li > .sub-menu-container > .sub-menu-title {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  padding: 11px 15px 14px 15px;
  text-transform: uppercase;
  line-height: 20px;
}
#mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li > .sub-menu-container > .sub-menu-title > a {
  display: block;
  color: #F99D1C;
  white-space: normal;
}
#mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary {
  width: 566px;
}
#mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-menu-config {
  text-align: left;
  margin-left: 15px;
}
#mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-menu-config > .menu-style-toggle > .icon {
  background-image: url('../images/Actions/menu_expand.png');
}
#mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-menu-config > .menu-style-toggle > .primary-text {
  display: none;
}
#mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-menu-config > .menu-style-toggle > .secondary-text {
  display: inline-block;
}
#mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-menu-config > .menu-style-toggle:hover > .icon {
  background-image: url('../images/Actions/menu_expand_hover.png');
}
#mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul {
  min-height: 300px;
  height: 100%;
  width: 214px;
  padding: 5px 0;
  border-right: solid 1px #333333;
}
#mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li {
  margin: 0;
  width: auto;
  float: none;
}
#mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li > h3 {
  display: block;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  margin: 0;
  width: auto;
  font-size: 12px;
  background-color: transparent;
  padding: 0;
}
#mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li > h3 > button {
  color: #AAAAAA;
  display: block;
  line-height: 16px;
  text-decoration: none;
  cursor: default;
  padding: 7px 15px;
  text-align: left;
  background: transparent;
  border: none;
  text-transform: uppercase;
  width: 100%;
  font-size: 12px;
}
#mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li > h3 > button:hover,
#mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li > h3 > button:active,
#mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li > h3 > button:focus {
  color: #AAAAAA;
  outline: none;
}
#mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li > h3 > button > .mega-menu-caret {
  display: block;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid;
  float: right;
  margin: 4px 0 0 15px;
}
#mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li.menu-active h3 button {
  color: #F99D1C;
}
#mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li.menu-active .sub-menu-container {
  display: block;
}
#mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li .sub-menu-container {
  position: absolute;
  left: 215px;
  top: 0;
  right: 0;
  bottom: 42px;
  display: none;
}
#mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li .sub-menu-container > .sub-menu-title > a {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
#mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li .sub-menu-container > ul {
  position: absolute;
  left: 0;
  width: 100%;
  top: 40px;
  bottom: 0;
  overflow-y: auto;
}
#mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li .sub-menu-container > ul > li {
  float: left;
  width: 165px;
}
#mega-tabs > ul > li > .mega-submenu .mega-menu-config {
  border-top: solid 1px #333333;
  margin: 0;
  position: relative;
  clear: both;
  text-align: center;
  font-size: 12px;
}
#mega-tabs > ul > li > .mega-submenu .mega-menu-config > a {
  display: inline-block;
  padding: 12px 0 12px 0;
  text-align: center;
  margin-right: 20px;
}
#mega-tabs > ul > li > .mega-submenu .mega-menu-config > a:last-child {
  margin-right: 0;
}
#mega-tabs > ul > li > .mega-submenu .mega-menu-config > a span {
  display: inline-block;
  padding: 0 0 0 20px;
  color: #33A6CD !important;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url(../images/actions/configure.png);
}
#mega-tabs > ul > li > .mega-submenu .mega-menu-config > a:hover {
  background-color: transparent;
}
#mega-tabs > ul > li > .mega-submenu .mega-menu-config > a:hover span {
  color: #FFFFFF !important;
  background-image: url(../images/actions/configure_hover.png);
}
#mega-tabs > ul > li > .mega-submenu .mega-menu-config > .menu-style-toggle {
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 12px 0 12px 0;
  color: #33A6CD;
  outline: none;
  font-family: 'Open Sans';
  font-size: 12px;
}
#mega-tabs > ul > li > .mega-submenu .mega-menu-config > .menu-style-toggle > .icon {
  display: inline-block;
  float: left;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
  background: url('../images/Actions/menu_condense.png') center center no-repeat;
}
#mega-tabs > ul > li > .mega-submenu .mega-menu-config > .menu-style-toggle > .primary-text {
  display: inline-block;
  margin-top: 1px;
}
#mega-tabs > ul > li > .mega-submenu .mega-menu-config > .menu-style-toggle > .secondary-text {
  display: none;
  margin-top: 1px;
}
#mega-tabs > ul > li > .mega-submenu .mega-menu-config > .menu-style-toggle:hover {
  color: #FFFFFF;
}
#mega-tabs > ul > li > .mega-submenu .mega-menu-config > .menu-style-toggle:hover > .icon {
  background-image: url('../images/Actions/menu_condense_hover.png');
}
#mega-tabs > ul > li.menu-open {
  background-color: #272727;
}
#mega-tabs > ul > li.menu-open > a {
  color: #F99D1C;
}
#mega-tabs > ul > li.menu-open > a > .mega-menu-caret {
  color: #F99D1C;
  border-top-color: #F99D1C;
}