﻿/* Main navigation */

/* LEGACY TABS - BEGIN */
#tabs { display: none; padding-top: 3px; zoom: 1; }
.main-menu-container {}
.sw-is-msie div#tabs { padding-top: 0px; border-top: 3px solid transparent; } /* msie moves the 3px padding to the bottom, not top */
.sw-mainnav-tabs ul, .sw-mainnav-tabs li, .sw-mainnav-bars ul, .sw-mainnav-bars li { padding: 0; margin: 0; }
.sw-mainnav-tabs { overflow: hidden; }
.sw-mainnav-tabs ul { list-style-type: none;white-space: nowrap; }
.sw-mainnav-bars ul { list-style-type: none; }
.sw-mainnav-tabs li, .sw-mainnav-bars li { display: inline-block; }
.sw-mainnav-tabs, .sw-mainnav-bars, .sw-mainnav-box { clear: both; }
.sw-mainnav-box {background: #ffffff; zoom: 1;padding: 5px 0;min-height: 21px; }
.sw-mainnav-tabs ul li { margin: 0 0 0 7px; position: relative;background: transparent !important; }
.sw-mainnav-tabs ul li a, .sw-mainnav-tabs ul li a:active, .sw-mainnav-tabs ul li a:visited { color: #727272 !important; text-decoration: none; }
.sw-mainnav-tabs ul li a { display: block; padding: 0 10px;color: #727272; }
.sw-mainnav-tabs ul li a span { text-transform: uppercase; background: none; padding: 0; line-height: 40px; font-weight: normal; font-size: 12px; }
.sw-mainnav-tabs ul li.selected a {color: #FFFFFF !important;}
.sw-mainnav-tabs ul li.selected a:hover { color: #df8200 !important; }
.sw-mainnav-tabs ul li.selected a:after { border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid white; content: ""; display: block; position: relative; margin-left: auto; margin-right: auto; margin-top: -5px; width: 0; height: 0; }
.sw-mainnav-bars ul li { margin: 0 0 0 15px; line-height: 20px; }
.sw-mainnav-bars ul li:hover { background: transparent;}
.sw-mainnav-bars a, .sw-mainnav-bars a:active, .sw-mainnav-bars a:visited { color: #727272;text-transform: uppercase;font-size: 11px; }
.sw-mainnav-bars a:hover { color: #df8200;text-decoration: underline; }
/* ie6 - poor float margin calc - undo left side indented 15px */
* html .sw-mainnav-bars ul { margin-left: -15px; }
.sw-mainnav-bars .sw-mainnav-logo { float: right; background: url(@{R=Core.LiveImage;K=NavBar.logo.gif;}) 0 0 no-repeat; margin: 2px 15px 0 0; }
.sw-mainnav-bars .sw-mainnav-logo a { display: block; width: 84px; height: 19px; }
.sw-mainnav-bars .sw-mainnav-logo span { visibility: hidden; }
/* LEGACY TABS - END */


// Layout
@padding-default: 15px;
@padding-menu-vertical: 7px;
@padding-menu-horizontal: @padding-default;

// Colors
@color-header-background: #1D1D1D;
@color-menu-background: #272727;
@color-menu-background-highlight: #333333;
@color-menu-text: #FFFFFF;
@color-menu-text-highlight: #F99D1C;

@color-menu-category-background: transparent;
@color-menu-category-text: @color-menu-text-highlight;

@color-menuitem-text: #FFFFFF;
@color-menuitem-text-highlight: @color-menu-text-highlight;
@color-menuitem-background-highlight: @color-menu-background-highlight;

@color-menuitem-secondary-text: #AAAAAA;

@color-configure-bg: transparent;
@color-configure-hover-bg: #204a63;
@color-configure-text: #33A6CD;
@color-configure-hover-text: #FFFFFF;

// Fonts
@font-size-default: 12px;
@font-size-large: 16px;

// Mixins
.themed-scrollbar() {
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0;
        background-color: #777;

        &:hover {
            background-color: @color-menuitem-secondary-text;
        }
    }
}
.menu () {
    > ul {
        padding: 0;
        margin: 0;
        list-style: none;
        .themed-scrollbar();
        > li {
            > a {
                font-size: @font-size-default;
                display: block;
                padding: @padding-menu-vertical @padding-menu-horizontal;
                color: @color-menuitem-text;
                cursor: pointer;
                white-space: normal;
                line-height: 16px;

                &:hover, &:active, &:focus {
                    text-decoration: none;
                    background-color: @color-menuitem-background-highlight;
                    color: @color-menuitem-text-highlight;
                }
            }
        }
    }
}
.text-ellipsis() {
    white-space:nowrap;
    overflow:hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/*Contents*/
.mega-menu-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin: -2px 0 0 6px;
    vertical-align: middle;
    border-top-color: @color-menuitem-secondary-text;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

#menuStyleSelect {
    position: absolute;
    right: 5px;
    top: 9px;
    z-index: 2;
}

#mega-tabs {
    > ul {
        margin: 0;
        list-style: none;
        white-space: nowrap;

        > li {
            display: inline-block;
            margin: 0;

            &:hover {
                background: none;
            }

            > a {
                display: inline-block;
                padding: 0 @padding-menu-horizontal;
                color: @color-menu-text;
                font-size: @font-size-default;
                text-align: center;
                text-transform: uppercase;
                line-height: 40px;
                text-decoration: none;

                > .mega-menu-caret {
                    color: @color-menuitem-secondary-text;
                    border-top-color: @color-menuitem-secondary-text;
                }

            }

            > .mega-submenu {
                display: none;
                list-style: none;
                min-width: 165px;
                padding: 0;
                margin: 0;
                background-color: @color-menu-background;
                position: absolute;
                top: 100%;
                overflow: visible;
                box-shadow: 
                    rgba(0, 0, 0, 0.5) 0 3px 4px -1px, 
	                rgba(0, 0, 0, 0.0980392) 0 4px 5px 0, 
	                rgba(0, 0, 0, 0.0823529) 0 1px 10px 0;

                .mega-submenu-container {
                    .menu();
                }

                &.full-menu {
                    .mega-submenu-container {
                        > ul {
                            overflow-y: auto;
                            list-style: none;
                            padding: 0;
                            max-width: 677px;
                            .themed-scrollbar();

                            > li {
                                margin: 0 0 15px 0;
                                width: 165px;
                                float: left;

                                &:hover {
                                    background-color: transparent !important;
                                }

                                > h3 {
                                    display: none;
                                    white-space: normal;
                                }

                                > .sub-menu-container {
                                    .menu();

                                    > .sub-menu-title {
                                        margin: 0;
                                        font-size: 16px;
                                        font-weight: normal;
                                        padding: 11px 15px 14px 15px;
                                        text-transform: uppercase;
                                        line-height: 20px;

                                        > a {
                                            display: block;
                                            color: @color-menu-text-highlight;
                                            white-space: normal;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.menu-secondary {
                        width: 566px;

                        .mega-menu-config {
                            text-align: left;
							margin-left: 15px;

                            > .menu-style-toggle {
                                > .icon {
                                    background-image: url('../images/Actions/menu_expand.png');
                                }
                                > .primary-text {
                                    display: none;
                                }
                                > .secondary-text {
                                    display: inline-block;
                                }

                                &:hover {
                                    > .icon {
                                        background-image: url('../images/Actions/menu_expand_hover.png');
                                    }
                                }
                            }
                        }

                        .mega-submenu-container {
                            > ul {
                                min-height: 300px;
                                height: 100%;
                                width: 214px;
                                padding: 5px 0;
                                border-right: solid 1px @color-menu-background-highlight;

                                > li {
                                    margin: 0;
                                    width: auto;
                                    float: none;

                                    > h3 {
                                        display: block;
                                        text-transform: uppercase;
                                        font-weight: normal;
                                        text-align: left;
                                        margin: 0;
                                        width: auto;
                                        font-size: 12px;
                                        background-color: transparent;
                                        padding: 0;

                                        > button {
                                            color: @color-menuitem-secondary-text;
                                            display: block;
                                            line-height: 16px;
                                            text-decoration: none;
                                            cursor: default;
                                            padding: @padding-menu-vertical @padding-menu-horizontal;
                                            text-align: left;
                                            background: transparent;
                                            border: none;
                                            text-transform: uppercase;
                                            width: 100%;
                                            font-size: 12px;

                                            &:hover, &:active, &:focus {
                                                color: @color-menuitem-secondary-text;
                                                outline: none;
                                            }

                                            > .mega-menu-caret {
                                                display: block;
                                                border-top: 4px solid transparent;
                                                border-bottom: 4px solid transparent;
                                                border-left: 4px solid;
                                                float: right;
                                                margin: 4px 0 0 15px;
                                            }
                                        }
                                    }

                                    &.menu-active {
                                        h3 {
                                            button {
                                                color: @color-menu-text-highlight;
                                            }
                                        }

                                        .sub-menu-container {
                                            display: block;
                                        }
                                    }

                                    .sub-menu-container {
                                        position: absolute;
                                        left: 215px;
                                        top: 0;
                                        right: 0;
                                        bottom: 42px;
                                        display: none;

                                        > .sub-menu-title {
                                            > a {
                                                .text-ellipsis();
                                            }
                                        }

                                        > ul {
                                            position: absolute;
                                            left: 0;
                                            width: 100%;
                                            top: 40px;
                                            bottom: 0;
                                            overflow-y: auto;

                                            > li {
                                                float: left;
                                                width: 165px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }



                .mega-menu-config {
                    border-top: solid 1px @color-menu-background-highlight;
                    margin: 0;
                    position: relative;
                    clear: both;
                    text-align: center;
                    font-size: 12px;

                    > a {
                        display: inline-block;
                        padding: 12px 0 12px 0;
                        text-align: center;
                        margin-right: 20px;

                        &:last-child {
                            margin-right: 0;
                        }

                        span {
                            display: inline-block;
                            padding: 0 0 0 20px;
                            color: @color-configure-text !important;
                            background-repeat: no-repeat;
                            background-position: left center;
                            background-image: url(../images/actions/configure.png);
                        }

                        &:hover {
                            background-color: transparent;

                            span {
                                color: @color-configure-hover-text !important;
                                background-image: url(../images/actions/configure_hover.png);
                            }
                        }
                    }

                    > .menu-style-toggle {
                        cursor: pointer;
                        border: none;
                        background: transparent;
                        padding: 12px 0 12px 0;
                        color: @color-configure-text;
                        outline: none;
						font-family: 'Open Sans';
						font-size: 12px;

                        > .icon {
                            display: inline-block;
                            float: left;
                            width: 16px;
                            height: 16px;
                            vertical-align: middle;
                            margin-right: 5px;
                            background: url('../images/Actions/menu_condense.png') center center no-repeat;
                        }

                        > .primary-text {
                            display: inline-block;
                            margin-top: 1px;
                        }
                        > .secondary-text {
                            display: none;
                            margin-top: 1px;
                        }

                        &:hover {
                            color: @color-configure-hover-text;

                            > .icon {
                                background-image: url('../images/Actions/menu_condense_hover.png');
                            }
                        }
                    }
                }    
        }

            &.menu-open {
                background-color: @color-menu-background;

                > a {
                    color: @color-menu-text-highlight;

                    > .mega-menu-caret {
                        color: @color-menu-text-highlight;
                        border-top-color: @color-menu-text-highlight;
                    }
                }

                > .mega-submenu {
                    //display: block;
                }
            }
        }
    }
}