﻿.filter_group_list
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.neb table
{
	margin: 0px;
    padding: 0px;
	border-spacing: 0;
    border-collapse: collapse;
}

.neb th, .neb td, .neb ul
{
	margin: 0px;
    padding: 0px;
    text-align: left;
	vertical-align: middle;
}

.neb ul:empty {
	border-left: 3px dotted #f0f0f0;
	margin-left: 22px;
	height: 25px;
}

.neb-input
{
    width: 120px;
    min-width: 120px;
    max-width: 120px;
}

.neb-lhs, .neb-op, .neb-rhs
{
    margin-left: 10px;
}

.neb-rhs
{
    margin-right: 10px;
}

.neb-spacer
{
    width: 30px;
    max-width: 30px;
    min-width: 30px;
    background-color: transparent !important;
}

.neb-condition
{
    margin: 0px;
    padding: 0px;
}

.rules_group_condition_container
{
    margin-left: 9px;
}

.neb-condition-and td
{
    background-color: #ffe89e;
}

.neb-condition-or td
{
    background-color: #daf7cc;
}

.neb-condition-none td {
    background-color: #fed2ff;
}

.neb-condition-notall td {
    background-color: #cfccf7;
}

.neb-condition-default td
{
    background-color: #ebebeb;
}

.neb-root-text
{
    padding: 3px 12px;
	border-left: 10px solid #ebebeb !important;
	border-right: 10px solid #ebebeb !important;
    background-color: #ebebeb !important;
}

.neb-root-line
{
    width: 9px;
    min-width: 9px;
    max-width: 9px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAEElEQVQIW2O8ffv2f0Y4AQBPswq0S7vY/wAAAABJRU5ErkJggg==) 0px 14px repeat-x;
}

.neb-group-dropdown
{
    padding: 3px 4px 0px 10px !important;
}

.neb-condition-list
{
    list-style-type: none;
    margin: 0px;
    padding: 2px;
    min-height: 15px;
    line-height: 30px;
}


.neb-condition-list li
{
	margin-left: 22px;
	border-left: 3px solid #dbdbdb;
	padding: 10px 0px 0px 0px;
}

.neb-condition-list li:last-child
{
	margin-left: 22px;
	border-left: 3px solid #dbdbdb;
	padding: 10px 0px 10px 0px;
}


.neb-item
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.neb-add-container
{
    line-height: 30px;
    height: 30px;
}

.neb-simple-elbow
{
	width: 34px; 
	min-width: 34px; 
	max-width: 34px;
	line-height: 0px !important;
}

.neb-add-simple
{
    line-height: 30px;
    height: 30px;
    border: 1px dashed #dadada;
    margin-left: 24px;
}

.neb-add-simple
{
    background: url('/Orion/images/NestedExpressionBuilder/add_16x16.png') 6px 7px no-repeat;
    padding: 0px 20px 0px 30px !important;
    cursor: pointer;
}

.neb-add-simple:hover
{
    background: url('/Orion/images/NestedExpressionBuilder/add_16x16_white.png') 6px 7px no-repeat;
    padding: 0px 20px 0px 30px;
    color: #fff;
    background-color: #f99d1c;
    cursor: pointer;
}

.neb-item-add-options
{
    display: inline-block;
    margin-left: 3px;
    border: 1px solid #CCCCCC;
    line-height: 18px !important;
    padding:15px;
}

.neb-item-add-options td
{
    padding: 2px 6px;
}

.neb-item-add-options tr
{
    cursor: pointer;
    color: #333;
}

.neb-item-add-options tr:hover
{
    color: #204a63;
    color: #204a63;
}

.neb-item-add-options table
{
    min-width: 100px;
    border-spacing: 0;
    border-collapse: collapse;
}

.neb-item-add
{
    background: url('/Orion/images/NestedExpressionBuilder/add_button.png') 0px 0px no-repeat;
    margin-left: 3px;
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.neb-item-add-down, .neb-item-add:hover
{
    background: url('/Orion/images/NestedExpressionBuilder/add_button_hover.png') 0px 0px no-repeat;
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.neb-item-add-wrap
{
    margin-bottom: 14px;
}

.neb-item-close
{
    cursor: pointer;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    min-height: 30px;
    background: url('/Orion/images/NestedExpressionBuilder/delete_icon.png') 7px 7px no-repeat;
}

.neb-item-close:hover
{
    background: url('/Orion/images/NestedExpressionBuilder/delete_icon_hover.png') 7px 7px no-repeat;
    background-color: #204a63 !important;
}

.neb-drag-handle
{
    cursor: move;
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    background: url('/Orion/images/NestedExpressionBuilder/grab_icon.png') 7px 7px no-repeat;
}

.neb-drag-handle:hover
{
    background: url('/Orion/images/NestedExpressionBuilder/grab_icon_hover.png') 7px 7px no-repeat;
    background-color: #204a63 !important;
}

.neb-drag-target
{
    height: 28px;
    min-height: 28px;
    max-height: 28px;
    border: 1px dashed #dadada;
    background: #fcfcfc;
}

.neb-fieldpicker
{
    text-decoration: underline;
    cursor: pointer;
    color: #336699;
}

.neb-fieldpicker.neb-fieldpicker-disabled
{
    text-decoration: none;
    cursor: default;
    color: #888;
}

.neb-action-hint 
{
    display: none; 
    position: absolute; 
    padding-top: 1px; 
    padding-bottom: 1px;    
}

.neb-validation-error {
	background-color: #FACECE !important;
}

.neb-validation-error .neb-rhs input {
	color: #CE0000 !important;
}

.neb-validation-icon
{
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    min-height: 30px;
    background: url('/Orion/images/NestedExpressionBuilder/error_icon.png') 7px 7px no-repeat;
}

.neb-constant-field-switch {
    width: 14px;
    height: 14px;
    min-height: 14px;
    line-height: 14px;
    margin-left: 5px;
    margin-right: 2px;
    display: inline-block;
    background: url('/Orion/images/NestedExpressionBuilder/use_macro_normal.png') 0px 0px no-repeat;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.neb-constant-field-switch:hover {
    background: url('/Orion/images/NestedExpressionBuilder/use_macro_hover.png') 0px 0px no-repeat;
}

.neb-constant-field-switch:hover .neb-constant-field-switch-menu {
    display: inline-block;
}

.neb-constant-field-switch-menu {
    display: none;
    border: 1px solid black;
    position: absolute;
    top: 15px;
    left: 0;
    padding: 2px 6px;
    border: 2px solid #f99d1c;
    line-height: 20px !important;
    cursor: pointer;
    white-space: nowrap;
    background-color: #fff;
    z-index: 2;
}

.neb-constant-field-switch-menu:hover, .neb-constant-field-switch-menu:active {
    color: #fff;
    background-color: #f99d1c;
}

.neb-constant-field-switch.disabled {
    background: url('/Orion/images/NestedExpressionBuilder/use_macro_disabled.png') 0px 0px no-repeat;
        cursor: default;
}

.neb-constant-field-switch.disabled .neb-constant-field-switch-menu{
     display: none;

}

.neb-pref-options {
        position: absolute;
        margin-top: 30px;
        margin-left: -3px;
        border: 2px solid #f99d1c;
        line-height: 24px !important;
    }

     .neb-pref-options td
     {
         padding: 2px 6px;
     }

    .neb-pref-options tr
    {
        cursor: pointer;
        color: #333;
        background-color: white;
    }

    .neb-pref-options tr:hover
    {
        color: #fff;
        background-color: #f99d1c;
    }

    .neb-pref-options table
    {
        min-width: 120px;
        border-spacing: 0;
        border-collapse: collapse;
    }

    .neb-pref-item td {
        white-space: nowrap;
        color: black;
        background-color: white !important;
    }

    .neb-pref-item td:hover {
        color: white;
        background-color: #f99d1c !important;
    }

    .neb-preference 
    {
        background-image: url('/Orion/images/ExpressionBuilder/Menu_Menu_Transparent.png');
        background-repeat: no-repeat;
        background-position: 0 2px;
        cursor: pointer;
    }

    .neb-preference:hover 
    {
        background-image: url('/Orion/images/ExpressionBuilder/Menu_Menu_Hover.png');
    }

    .neb-preference-open {
        background-image: url('/Orion/images/ExpressionBuilder/Menu_Menu_Hover.png') !important;
    }
