#tooltip
{
	border: 0px;
	padding: 0px;
	opacity: 1.00;
    z-index:9000;
    position: absolute;
}
div.tooltip-outer
{
	z-index: 9000;
    position: absolute;
}
div.stem-top-left
{
    left: 10px;
}
div.stem-top-right
{
    left: -310px;
}
div.stem-bottom-left
{
    left: 10px;
    top: -35px;
}
div.stem-bottom-right
{
    left: -310px;
    top: -35px;
}
div div.tooltip-wrapper
{
    z-index:-1;
    position: absolute;
}
div.stem-top-left div.tooltip-wrapper
{
    top: -38px;
    left: 31px;
}
div.stem-top-right div.tooltip-wrapper
{
    top: -38px;
    left: auto;
}
div.stem-bottom-left div.tooltip-wrapper
{
    top: auto;
    bottom: -36px;
    left: 31px;
}
div.stem-bottom-right div.tooltip-wrapper
{
    top: auto;
    bottom: -36px;
    left: auto;
}
div.tooltip-shadow
{
    background-color: #000;
    position:absolute;
    z-index:-2;
}
div div.tooltip-stem
{
	width: 32px;
	height: 35px;
	position: absolute;
}
div.stem-top-left div.tooltip-stem
{
	background-image: url(/Orion/images/NetObjectTips/bubble_arrow_leftup.gif);
}
div.stem-top-right div.tooltip-stem
{
	background-image: url(/Orion/images/NetObjectTips/bubble_arrow_rightup.gif);
	left: 257px;
}
div.stem-bottom-left div.tooltip-stem
{
	background-image: url(/Orion/images/NetObjectTips/bubble_arrow_leftdown.gif);
}
div.stem-bottom-right div.tooltip-stem
{
	background-image: url(/Orion/images/NetObjectTips/bubble_arrow_rightdown.gif);
	left: 257px;
}
div.cluetip-orion
{
    width: auto;
}

div.cluetip-orion table.cluetip-orion-table
{
    width: 256px;
    height: 100%;
}

td.cluetip-orion-inner-content
{
	height: 100%; 
	vertical-align: top;
}

.cluetip-orion
{
	background-color: white;
	margin: 0;
	padding: 0;
	border: solid 1px #B3B3B3;
	border-top: none;
}
.cluetip-orion #cluetip-outer
{
	position: relative;
	margin: 0;
	padding: 0;
	background-color: white;
}
.cluetip-orion #cluetip-inner
{
	padding: 0;
	margin: 0;
}
.cluetip-orion #cluetip-close
{
	display: none;
}

div#cluetip-waitimage
{
 	  width: 0px;
 	  height: 0px;
}

.cluetip-orion h3
{
	color: White;
	margin: 0;
	padding: 6px;
	font-size: 15px;
}
.cluetip-orion h3.StatusDown
{
	background: #D4332F url(/Orion/images/NetObjectTips/bg_nd_down.gif) repeat-x;
}
.cluetip-orion h3.StatusCritical
{
	background: #8A0907 url(/Orion/images/NetObjectTips/bg_nd_critical.gif) repeat-x;
}
.cluetip-orion h3.StatusDisabled
{
	background: #BDCFDE url(/Orion/images/Maps/tooltipbg_disabled.png) repeat-x;
}
.cluetip-orion h3.StatusShutdown
{
	background: #D4332F url(/Orion/images/NetObjectTips/bg_nd_down.gif) repeat-x;
}
.cluetip-orion h3.StatusExternal
{
	background: #7324B3 url(/Orion/images/NetObjectTips/bg_nd_external.gif) repeat-x;
}
.cluetip-orion h3.StatusUnknown
{
	background: #AFAFAF url(/Orion/images/NetObjectTips/bg_nd_unknown.gif) repeat-x;
}
.cluetip-orion h3.StatusUnmanaged
{
	background: #2D27E5 url(/Orion/images/NetObjectTips/bg_nd_unmanaged.gif) repeat-x;
}
.cluetip-orion h3.StatusUnreachable
{
	background: #13171F url(/Orion/images/NetObjectTips/bg_nd_unreachable.gif) repeat-x;
}
.cluetip-orion h3.StatusUnplugged
{
	background: #1BBCCD url(/Orion/images/NetObjectTips/bg_nd_unplugged.gif) repeat-x;
}
.cluetip-orion h3.StatusNotRunning
{
	background: #00C0D4 url(/Orion/images/NetObjectTips/bg_nd_notrunning.gif) repeat-x;
}
.cluetip-orion h3.StatusUndefined
{
	background: #AFAFAF url(/Orion/images/NetObjectTips/bg_nd_unknown.gif) repeat-x;
}
.cluetip-orion h3.StatusUp
{
	background: #37B222 url(/Orion/images/NetObjectTips/bg_nd_up.gif) repeat-x;
}
.cluetip-orion h3.StatusWarning
{
	background: #DEB91E url(/Orion/images/NetObjectTips/bg_nd_warn.gif) repeat-x;
}
.cluetip-orion .NetObjectTipBody
{
	min-height: 25px;
	padding: 6px;
}
.cluetip-orion .NetObjectTipBody table
{
	width: 100%;
}
.cluetip-orion .StatusDescription
{
	margin: 0;
	padding: 0 0 4px 0;
	font-size: 11px;
}
.cluetip-orion .NetObjectTipBody th, .cluetip-orion .NetObjectTipBody td
{
	padding: 3px 3px 3px 0;
	font-size: 11px;
}
.cluetip-orion .NetObjectTipBody th
{
	white-space: nowrap;
}
.cluetip-orion .NetObjectTipBody td
{
	width: auto;
}
.cluetip-orion th
{
	text-align: left;
}

/* orion arrows */
.cluetip-orion .cluetip-arrows
{
	width: 32px;
	height: 35px;
	margin-top: 20px;
}
.clue-right-orion .cluetip-arrows
{
	background-image: url(/Orion/images/NetObjectTips/bubble_arrow_leftup.gif);
	left: -32px;
}
.clue-left-orion .cluetip-arrows
{
	background-image: url(/Orion/images/NetObjectTips/bubble_arrow_rightup.gif);
	left: 100%;
	margin-right: -32px;
}
.clue-top-orion .cluetip-arrows
{
	background-image: url(/Orion/images/NetObjectTips/bubble_arrow_leftdown.gif);
	top: 100%;
	left: 50%;
	margin-left: -32px;
}
.clue-bottom-orion .cluetip-arrows
{
	background-image: url(/Orion/images/NetObjectTips/bubble_arrow_leftdown.gif);
	top: -35px;
	left: 50%;
	margin-left: -32px;
}

.InlineBar
{
	width: 95px;
	height: 10px;
}
.InlineBar h4
{
	background: #eae9e7;
	background-image: url(../images/Gradient-Background.gif);
	margin: 0px;
	padding: 0px;
}
.InlineBar.Normal div
{
	background-color: #00b84a;
	background-image: url(../images/Gradient-Green.gif);
	background-repeat: repeat-x;
}
.InlineBar.Warning div
{
	background-color: #f1d200;
	background-image: url(../images/Gradient-Yellow.gif);
	background-repeat: repeat-x;
}
.InlineBar.Error div
{
	background-color: #e22323;
	background-image: url(../images/Gradient-Red.gif);
	background-repeat: repeat-x;
}
.tooltip-iframe
{
	position: absolute;
	border: none;
	display: block;
	z-index: 5;
	opacity: 0.0;
	filter: alpha(opacity = 0);
}

/*
 * Inline Multibar
 */
.InlineMultiBar, .InlineMultiBar div
{
	width: 100px;
	padding-left: 0px!important;
	padding-right: 0px!important;
}

.InlineMultiBar .NormalBar
{
	background-color: #00b84a;
	background-image: url(../images/Gradient-Green.gif);
	background-repeat: repeat-x;
}
.InlineMultiBar .WarningBar
{
	background-color: #f1d200;
	background-image: url(../images/Gradient-Yellow.gif);
	background-repeat: repeat-x;
	
}
.InlineMultiBar .ErrorBar
{
	background-color: #e22323;
	background-image: url(../images/Gradient-Red.gif);
	background-repeat: repeat-x;
}        
.InlineMultiBar .UnknownBar
{
	background: #C1C1C1;
	background-image: url(../images/Gradient-Gray.gif);
	background-repeat: repeat-x;
}
.InlineMultiBar .BackgroundBar
{
	background: #eae9e7;
}
.ThresholdValuesNotExistMessage 
{
    color: red;
    white-space: nowrap;
    font-weight: bold;    
}

