table.listOfObjects
{
	margin-left:10px;
}

tr.even
{
	background: #f8f8f8;
}

tr.odd
{
	background: #ffffff;
}

td.netObjectDisplayName
{
	width: 200px;
}

td.netObjectType
{
	width: 200px;
}

td.statusDescription
{
	width: 200px;
}

.cluetip-mapstudio
{
	background-color: white;
	margin: 0;
	padding: 0;
	border: solid 1px #B3B3B3;
	border-top: none;
}
.cluetip-orion #cluetip-outer
{
	position: relative;
	margin: 0;
	padding: 0;
	background-color: white;
}
.cluetip-mapstudio #cluetip-inner
{
	padding: 0;
	margin: 0;
}
.cluetip-mapstudio #cluetip-close
{
	display: none;
}
.cluetip-mapstudio h3
{
	color: #D4332F url(/Orion/images/NetObjectTips/bg_nd_down.gif) repeat-x;
	margin: 0;
	padding: 6px;
	font-size: 15px;
}
.cluetip-mapstudio h3.StatusDown
{
	background: #D4332F url(/Orion/images/NetObjectTips/bg_nd_down.gif) repeat-x;
}
.cluetip-mapstudio h3.StatusExternal
{
	background: #7324B3 url(/Orion/images/NetObjectTips/bg_nd_external.gif) repeat-x;
}
.cluetip-mapstudio h3.StatusUnknown
{
	background: #AFAFAF url(/Orion/images/NetObjectTips/bg_nd_unknown.gif) repeat-x;
}
.cluetip-mapstudio h3.StatusUnmanaged
{
	background: #2D27E5 url(/Orion/images/NetObjectTips/bg_nd_unmanaged.gif) repeat-x;
}
.cluetip-mapstudio h3.StatusUnreachable
{
	background: #13171F url(/Orion/images/NetObjectTips/bg_nd_unreachable.gif) repeat-x;
}
.cluetip-mapstudio h3.StatusUp
{
	background: #37B222 url(/Orion/images/NetObjectTips/bg_nd_up.gif) repeat-x;
}
.cluetip-mapstudio h3.StatusWarning
{
	background: #DEB91E url(/Orion/images/NetObjectTips/bg_nd_warn.gif) repeat-x;
}
.cluetip-mapstudio .NetObjectTipBody
{
	padding: 6px;
}
.cluetip-mapstudio .NetObjectTipBody table
{
	width: 100%;
}
.cluetip-mapstudio .StatusDescription
{
	margin: 0;
	padding: 0 0 4px 0;
	font-size: 11px;
}
.cluetip-mapstudio .NetObjectTipBody th, .cluetip-mapstudio .NetObjectTipBody td
{
	padding: 3px 3px 3px 0;
}
.cluetip-mapstudio .NetObjectTipBody th, .cluetip-mapstudio .NetObjectTipBody td
{
	font-size: 11px;
}
.cluetip-mapstudio th
{
	text-align: left;
}

/* orion arrows */
.cluetip-mapstudio .cluetip-arrows
{
	width: 32px;
	height: 35px;
	margin-top: 20px;
}
.clue-right-orion .cluetip-arrows
{
	background-image: url(/Orion/images/NetObjectTips/bubble_arrow_leftup.gif);
	left: -32px;
}
.clue-left-orion .cluetip-arrows
{
	background-image: url(/Orion/images/NetObjectTips/bubble_arrow_rightup.gif);
	left: 100%;
	margin-right: -32px;
}
.clue-top-orion .cluetip-arrows
{
	background-image: url(/Orion/images/NetObjectTips/bubble_arrow_leftdown.gif);
	top: 100%;
	left: 50%;
	margin-left: -32px;
}
.clue-bottom-orion .cluetip-arrows
{
	background-image: url(/Orion/images/NetObjectTips/bubble_arrow_leftdown.gif);
	top: -35px;
	left: 50%;
	margin-left: -32px;
}