﻿.header-top {
    min-width: 1024px; 
}
.slideshow {
    margin-top: 15px;    
}
.titleTable {
    display: none;
}
.sw-hdr-links {
    display: none;
}
.sw-eval-mode .sw-app-region {
    padding-top: 40px;
}

#NOCMunuItems
{
    background-color: #272727;
    display: none;
    position: absolute;
    right: 0;
    min-width: 200px;
    text-align: left; 
    list-style: none; 
    color:black; 
    z-index: 9999;
    margin: 0;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0 3px 4px -1px, rgba(0, 0, 0, 0.0980392) 0 4px 5px 0, rgba(0, 0, 0, 0.0823529) 0 1px 10px 0
}
#NOCMunuItems li:hover 
{        
    background-color: #333333;
}
#NOCMunuItems li:hover a
{        
    color: #F99D1C;
}
#NOCMunuItems li a
{
    display:block;
    width:100%; 
    color: #FFF;
    font-size: 12px;
    line-height: 16px;
}
#NOCMunuItems li
{
    padding: 7px 15px;
}
#NOCMunuItems li.NOCMenuDivider {
    padding: 0;
    height: 1px;
    background: #333333;
}

#NOCMenu 
{
    float: right;
    cursor: pointer;
}
#NOCMenu.noc-menu-open .imgHover
{
    background-color: #272727;
}
#NOCMenu.noc-menu-open #NOCMunuItems {
    display: block;
}

.imgHover
{
    width: 40px; height: 40px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAHCAYAAADam2dgAAAAAXNSR0IArs4c6QAAABJJREFUGBlj/A8EDHQDjIPQOgDORwv4SdJz5QAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: center center;
}
.NOCSiteLogo
{
    display: inline-block;
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 40px;
    margin: 0 0 0 10px;
    font-weight: bold;
}

.NOCSiteLogoImgMenu
{
    float: left;
    margin: 8px 0;
}

.NOCSiteLogoImg
{
    max-height: 24px;
}

.NOCSiteMenu
{
    float: right;
}
#ExitNOCItem {
    font-weight: bold;
}