﻿
.node-picker-dialog {
}

.node-picker-dialog .sub-title {
    float: left;
    margin-top: 4px;
}

.node-picker-dialog.offPage {
    /* 
      !!! Important !!!
      Don't hide the dependency picker using display: none;
      It causes rendering problems due to EXTJS.
    */
    
    position: absolute;
    left: -1999px;   
    top: -2000px;  
}

.x-grid3-viewport .x-grid3-hd-row td, .x-grid3-viewport .x-grid3-row-table td {
    padding-bottom: 0!important;
}
