﻿.NodeManagementMenuWrapper
{
	background-color:#ededee;
	width: auto;
	font-size: 11px;     
	white-space: nowrap;
}

html.RenderPdf .NodeManagementMenuWrapper
{
    width: auto !important;
}

ul.NodeManagementMenu
{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	white-space: nowrap;
    padding: 5px;
}

ul.NodeManagementMenu ul
{
	display:none;
	position:absolute;
	background:white;
	margin: 0;
	padding: 0;
	list-style: none;
	top: 21px;
	left: -1px;
	border: 1px solid #d5d5d5;
	border-top: none;
	width: 100%;
    white-space: normal;
}

ul.NodeManagementMenu li.over ul
{
	display:block;
}

.NodeManagementMenu li {
	position: relative;
    display: block;
    float: left;
}
.NodeManagementMenu li a, .NodeManagementMenu li.submenu {
    color: #204a63;
    text-transform: uppercase;
    display: block;
    padding: 3px 5px;
    border: solid 1px transparent;
}

    .NodeManagementMenu li.over.submenu {
        border-color: #d5d5d5;
        cursor: default;
        z-index: 100;
        background: #fff;
    }
    .NodeManagementMenu li.submenu li {
        margin: 0;
    }

        .NodeManagementMenu li.submenu span, .NodeManagementMenu li.submenu span a:hover {
            background-image: url(/Orion/Nodes/images/icons/arrow_dropdown.gif);
            background-position: right center;
            background-repeat: no-repeat;
            padding-right: 20px;
        }

        .NodeManagementMenu li.submenu.over li {
            float: none;
        }

        .NodeManagementMenu li.submenu.over a, .NodeManagementMenu li.submenu.over li.Disabled a {
            padding: 5px;
        }

.NodeManagementMenu li.submenu.over li.over a
{
	background: #0079aa;
    color: #fff;
}

    .NodeManagementMenu li.submenu.over li.over.Disabled a {
        background: white;
        color: #a09d9d;
    }

    .NodeManagementMenu li.submenu li.groupSeparator {
        border-top: 1px solid #d5d5d5;
    }


.NodeManagementMenu img 
{
	margin-right: 3px;
	vertical-align: bottom;
}

.NodeManagementMenu+table
{
	clear: both;
}

.NodeManagementMenu li a:hover {
    border-color: #2d5c77;
    color: #2d5c77;
}

.NodeManagementMenu li.Disabled a, .NodeManagementMenu li.Disabled a:hover {
    color: #a09d9d;
    cursor: default;
    border-color: transparent;
}

.NodeManagementMenu li.Disabled img {
    cursor: default;
    opacity: .3;
}

#pollDialog .pollDialogBodyTable {
    margin-left: auto;
    margin-right: auto;
}

#pollDialogHeader{
    border: 15px solid white;
    padding: 5px 15px;
}

#pollDialog .x-window-bl{
    border-top: 1px solid #E4E4E4;
}

#pollDialog .x-window-tl{
      padding-left: 0;
}

#pollDialog .x-window-tr{
    padding-right: 0;
}

/* these make sure the dragged dialog (ghost) matches the original*/
#addnodecontent .x-panel-ghost .x-window-tl{
      padding-left: 0;
}

#addnodecontent .x-panel-ghost .x-window-tr{
    padding-right: 0;
}
