﻿.scroll {
    overflow-y: auto !important;
}

div.oidPickerRightPane {
    padding: 10px;
    font-size: small;
}

div.oidPickerRightPane p, div.oidPickerEmptyText p {
	width: auto !important;
	margin: 0 !important;
	padding: 0 !important;	
}

div.oidPickerResult {
    padding: 10px;
    font-size: small;
}

div.oidPickerLoading {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

#oidTree-body .x42-grid-table {
    table-layout: auto;
}

div.x42-grid-empty {
    margin: 0px;
    padding: 0px;
}

div#oidPickerEmptyText {
    color: black;
}

    div#oidPickerEmptyText p {
        padding-left: 10px;
    }

    div#oidPickerEmptyText ul {
        margin: 0px;
        padding-left: 25px;
    }

        div#oidPickerEmptyText ul li {
        }

#oidPickerEmptyText p.oidPickerNoResult {
    background: rgb(255, 232, 158);
    padding: 5px;
    margin: 0px;
	width: auto;
}

span.oidPickerNode img {
    vertical-align: middle;
    padding-bottom: 3px;
}

.oidPickerGrayText {
     color: Gray; 
     font-size: 8pt;
}

.searchButton,
.clearSearchButton {
    height: 21px;
    margin: 0px;
    background-repeat: no-repeat;
    margin-top: -4px;
}

    .searchButton .x42-btn-inner,
    .clearSearchButton .x42-btn-inner {
        padding: 0px;
    }

.oidPickerToolbar .x42-btn-default-toolbar-small-over,
.oidPickerToolbar .x42-btn-default-toolbar-small-focus {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
}

.oidPickerLabel {
    font-weight: bold;
    font-size: 11px;
}

.oidPickerPolledValueHolder {
    width: 100%;
    border-spacing: 0px;
}

    .oidPickerPolledValueHolder thead td {
        background: rgb(79, 212, 255);
    }

    .oidPickerPolledValueHolder td {
        padding: 2px 5px;
        margin-bottom: 5px;
        border-color: rgb(79, 212, 255);
        border-width: 1px;
        border-style: solid;
    }

    .oidPickerPolledValueHolder .sw-suggestion {
        margin-top: 5px;
    }

.sw-demo-submessage
{
	color: #888;
	font-size: 90%;
}