﻿.TransparentBox
{
    position: absolute; 
    left: 0px; 
    top: 0px; 
    width: 100%;
    height: 100%; 
    _width: 2000px;
    _height: 2000px; 
    text-align:center;
    vertical-align:middle;
    background-color: black; 
    filter: alpha(opacity=20); 
    -moz-opacity: 0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2;
    z-index:100;
    display: none;
    
}

.TransparentBoxMessage
{
    background-color: #330000; 
    padding: 10px;
    z-index: 150; 
    position: absolute; 
    left: 40%; 
    top: 50%; 
    width: 20%; 
    text-align: center;
    display: none;
}
