﻿body, table, div, td
{
	font-size:12px !important;
}
#content
{
	padding-bottom: 0px;
}

#userName
{
	padding-right: 15px;
	padding-top: 0px;
	text-align: right;
	vertical-align: middle;
	background: none; 
	background-image: url('/Orion/images/SolarWinds.Logo.png');
	background-repeat:no-repeat;
	height: 58px;
}

#userName a
{
	text-decoration: none;
}

#userName .content 
{
	font-family: sans-serif;
	font-weight: normal;
	font-size:18px;
}
#pageHeader .content
{
	font-family: sans-serif;
	font-weight: normal;
	font-size:18px;
}

#footermark { margin-top: 15px; line-height: 1px; }
.sw-is-msie div#container #footermark { margin-top: 0px; }

#mobileFooter
{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #E2E1D4;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: 0px;
	clear: both;
	font-size: 24px!important;
}

#mobileFooter a, .mobileMoreBg a, .FilterDropDown ul li a, .FilterDiv div a
{
	color: Black!important;
	text-decoration: none;
}

#mobileFooter a:hover, .mobileMoreBg a:hover, .FilterDropDown ul li a:hover, .FilterDiv div a:hover
{
	color: #f99d1c!important;
}

.mobileMoreBg
{
	width: 100%;
	background: url('/Orion/images/bg_more_gradient.gif') repeat-x;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px !important;
}

/* Orion alerts mobile view */
.FilterDropDown
{
	display: none; 
	position: absolute; 
	width: auto; 
	overflow: auto; 
	background-color: #E2E1D4;
	border: solid 1px #DFDED7;
	margin-top: 5px;
	z-index: 99;
}

.FilterDropDown ul 
{
	list-style-type: none;
	margin-left: 0;
	padding: 0px;
}

.FilterDropDown ul li
{
	font-family: sans-serif;
	padding: 3px 6px 3px 6px;
	font-size: 18px !important;
}

h1
{
	margin-top: 0px;
	background-color: #E2E1D4;
	border: solid 1px #DFDED7;
	padding: 6px 6px 6px 20px;
	font-family: sans-serif;
	font-weight: bolder;
	font-size:18px !important;
}

.HeaderBar h2
{
	padding-left: 18px !important;

}
.FilterDiv
{
	background-color: #E2E1D4;
	border: solid 1px #DFDED7;
	padding: 3px 3px 3px 3px;
}

.FilterDiv div a
{
	font-family: sans-serif; 
	font-size: 14px;
}

.Report tr td a
{
	color: #336699;
	text-decoration: none;
}

.Report tr td a:hover {	color: #f99d1c; }

form { background-image: none!important; }

.ResourceWrapper
{
	margin-bottom: 11px;
	border: none;
	border-bottom: 1px solid #DFDED7;
	background-color: Transparent;
	padding: 10px 0px 10px 0px;
	width: 100%!important;
}

.ResourceColumn { padding: 0 0 0 0; }

table.ResourceContainer { margin: 0 0 0 0; width: 100%;}

.networkMapContainer { width: 100%; }

.HeaderBar{font-weight: bold;}

#contentHeader
{
	padding-top: 20px !important;
}

.helpfulText
{
	vertical-align: top;
	font-size: 12px !important;
}
