﻿

/*
 *  Admin Pages Styles 
 */

/* This overrides the standard Orion background color.  This forces the background
   to be white.  The goal is to only affect the admin pages, but there isn't a good 
   way to do that.  The only place that the body background shows is the admin pages
   so we should be OK. */
body
{
	background-color: White;
}

#adminContent table tr th, #adminContent table tr td
{
	border-bottom: thin solid #dddddd;
	padding: 5px;
}

#adminContent table tr td h2
{
	margin-bottom: 0em;
	padding-bottom: 0em;
}

#adminContent table
{
    width: 80%;
}

#adminContent table.form tr th
{
    width: 20%;
}


#adminContent table tr th, #adminContent table tr td
{
    border-bottom: thin solid #dddddd;
}

#adminContent table tr td
{
    font-size: 8pt;
}

#adminContent table tr th
{
    text-align: left;
    font-size: 9pt;
}

#adminContent table tr th, #adminContent table tr td
{
    white-space: nowrap;
    padding-right: .5em;
    font-size: 8pt;
}

#adminContent table tr td.allowWrap
{
    white-space: normal;
}

#adminContent a
{
	text-decoration: underline;
}

/*
 * Edit Application Template code.
 */
.Monitor
{
	color: Black;
	padding-top: 8px;
}

.Monitor_Deleted
{
	padding-top: 8px;
	color: #a2a2a2;
}

#adminContent .Monitor tr td, #adminContent .Monitor_Deleted tr td
{
	border-bottom-width: 0;
}


.MonitorCommands
{
	width: 50%;
	
}

.MonitorSettings
{
	margin-left: 20px;
	margin-top: 5px;
	padding: 2px 3px 2px 5px;
	border: thin solid #AAAAAA;	
}

.MonitorSettings table
{
	border-width: 0;
}

.MonitorSettings table th
{
	width: 30%;
}

#AddMonitor
{
	border: thin solid #AAAAAA;
	margin: 1em 5em;
	padding: 1em 1em;
	width: 20em;
}

#AddMonitor select
{
	width: 20em;
}

#AddMonitor input
{
	margin-top: .5em;	
}



.showtoggle, .hidetoggle
{
	cursor:pointer;
}

.TreeDetailRow
{
	background-color: #f2f7fa;
}

.dateArea
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	margin-top: 0px;
	margin-right: 5px;
	float: right;
	text-align: right;
	border: 0;
	padding-top: 15px;
	vertical-align: bottom;
}

.Chart .Title
{
	text-align: center;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14pt;
}

.Chart .Subtitle, .Chart .Timespan
{
	text-align: center;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
}

.Chart .TitleSmall
{
	text-align: center;
	font-family : Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size : 10pt;
}

.Chart .SubtitleSmall, .Chart .TimespanSmall
{
	text-align: center;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
}

.Chart .TitleMedium
{
	text-align: center;
	font-family : Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size : 12pt;
}

.Chart .SubtitleMedium, .Chart .TimespanMedium
{
	text-align: center;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
}

.Chart .TitleLarge
{
	text-align: center;
	font-family : Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size : 14pt;
}

.Chart .SubtitleLarge, .Chart .TimespanLarge
{
	text-align: center;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12pt;
}

.Chart .Percentile, .Chart .Timezone
{
	text-align:left;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 7pt;
	margin-left: 1em;
}

.Chart .PercentileSmall, .Chart .TimezoneSmall
{
	text-align:left;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 7pt;
	margin-left: 1em;
}

.Chart .PercentileMedium, .Chart .TimezoneMedium
{
	text-align:left;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	margin-left: 1em;
}

.Chart .PercentileLarge, .Chart .TimezoneLarge
{
	text-align:left;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12pt;
	margin-left: 1em;
}

table.Gauge>tbody>tr>td
{
	text-align: center;
	border: none;
	font-weight: bold;
}

.UnlicenesedNodes
{
	border: solid 1px red;
	background-color: #FF9999;
	padding: 10px 20px;
	width: 400px;
}

.LicenesedNodes
{
	border: solid 1px black;
	background-color: #BEBEBE;	
	padding: 10px 20px;
}

/*
 * Inline Percent Bar
 */
.InlineBar
{
	width: 50px;
}

.InlineBar h3
{
	background: #eae9e7;
	background-image: url(../images/Gradient-Background.gif);
	margin: 0px;
}
.InlineBar.Normal div
{
	background-color: #00b84a;
	background-image: url(../images/Gradient-Green.gif);
	background-repeat: repeat-x;
}
.InlineBar.Warning div
{
	background-color: #f1d200;
	background-image: url(../images/Gradient-Yellow.gif);
	background-repeat: repeat-x;
}
.InlineBar.Error div
{
	background-color: #e22323;
	background-image: url(../images/Gradient-Red.gif);
	background-repeat: repeat-x;
}
.input-file
{
	margin: 0px 0px 20px;
	/*font: x-small/160% Verdana;*/
	overflow: hidden;
	width: auto;
	ZOOM: 1;
	position: relative;
}
.input-file LABEL
{
	/*border-right: #888 1px solid;*/
	padding-right: 22px;
	/*border-top: #ccc 1px solid;*/
	display: inline;
	padding-left: 22px;
	/*font-weight: bold;*/
	z-index: 1;
	left: 0px;
	float: right;
	padding-bottom: 0.2em;
	overflow: hidden;
	/*border-left: #ccc 1px solid;*/
	padding-top: 0.25em;
	/*border-bottom: #888 1px solid;*/
	white-space: nowrap;
	position: relative;
	top: 0px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	float: left;
	-webkit-border-radius: 8px;
}

.input-file LABEL:hover
{
	cursor: pointer;
	background-image: url(images/mouseover_background.gif);
	color:Red;
	border:solid 1px Olive;
}
.input-file LABEL INPUT
{
	/*font-size: 5em;*/
	right: 0px;
	FILTER: alpha(opacity=0);
	cursor: pointer;
	border-top-style: none;
	line-height: 2px;
	ZOOM: 1;
	border-right-style: none;
	border-left-style: none;
	position: absolute;
	top: 0px;
	border-bottom-style: none;
	opacity: 0;
}
.input-file VAR:focus
{
	outline: none;
}

.input-file VAR
{
	border-right: #ccc 1px solid;
	padding-right: 0.6em;
	border-top: #888 1px solid;
	display: block;
	padding-left: 0.6em;
	padding-bottom: 0.2em;
	overflow: hidden;
	border-left: #888 1px solid;
	padding-top: 0.25em;
	border-bottom: #ccc 1px solid;
	ZOOM: 1;
	position: relative;
	_right: -3px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
}

.input-file VAR INPUT
{
	padding-right: 0.6em;
	display: block;
	padding-left: 0.6em;
	/*font-size: 100%;*/
	background: none transparent scroll repeat 0% 0%;
	left: 0px;
	padding-bottom: 0.2em;
	width: 100%;
	color: #000;
	border-top-style: none;
	padding-top: 0.25em;
	font-style: italic;
	border-right-style: none;
	border-left-style: none;
	position: absolute;
	top: 0px;
	height: 100%;
	border-bottom-style: none;
}
.input-file VAR INPUT:focus
{
	outline: none;
}

.input-file
{
	margin: 0px 0px 20px;
	/*font: x-small/160% Verdana;*/
	overflow: hidden;
	width: auto;
	ZOOM: 1;
	position: relative;
}

.imageButton
{
	vertical-align: baseline !important;
	text-decoration: none !important;
	font-size: x-small !important;
	cursor: pointer !important;
	padding:2px 2px 2px 2px !important;
}

.imageButton-Inside
{
	vertical-align: baseline !important;
	text-decoration: none !important;
	font-size: x-small !important;
	cursor: pointer !important;
	padding:1px 2px 1px 2px !important;
}

