﻿.PageMenu
{
    width: 147px;
}

/*
.PageMenu a
{
    text-decoration: none;
    padding: 5px;
}
*/

div.PageMenu
{
    border: 1px solid #E1E3E3;
}

#NormalText .MenuItem
{
    color: Black;
    text-decoration: none;
    padding-bottom: 5px;
    padding-left: 5px;
}

#NormalText .SelectedMenuItem
{
    color: Black;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: #ffe89a;
}