﻿ .PI_on
 {
        font-size: 10px;
        text-transform:uppercase;
        color: white;
        font-weight: bold;
        background-image: url('/Orion/images/ProgressIndicator/pi_bg_gradient_on_sm.gif');
        background-repeat: repeat-x;
        padding: 0px;
        float: left;
        height: 100%;
        line-height: 17px;
        vertical-align: middle;
 }
 .PI_on_ThreeLine /* this class must be used only as additional class to class above */
 {
        background-image: url('/Orion/images/ProgressIndicator/pi_bg_gradient_on.gif');
 }
 .PI_off
 {
        font-size: 10px;
        text-transform:uppercase;
        color: black;
        background-image: url('/Orion/images/ProgressIndicator/pi_bg_gradient_sm.gif');
        background-repeat: repeat-x;
        padding: 0px;
        float: left;
        height: 100%;
        vertical-align: middle;
        line-height: 17px;
 }
 .PI_off a
 {
      cursor: default;
 }
.PI_off.enabled a
 {
    text-decoration: underline;
    cursor: pointer;
}
.PI_off_ThreeLine /* this class must be used only as additional class to class above */
{
    background-image: url('/Orion/images/ProgressIndicator/pi_bg_gradient.gif');
}
.ProgressIndicator
{
    padding-bottom:0px;
    margin-bottom:0px; 
    /* border-bottom: #dfdfde solid 1px; */
    height:17px;
    background: url('/Orion/images/ProgressIndicator/pi_bg_gradient_sm.gif'); 
    background-repeat: repeat-x; 
    background-position:top;
    white-space: nowrap;
}
.ProgressIndicatorThreeLine /* this class must be used only as additional class to class above */
{
    height:45px;
    background: url('/Orion/images/ProgressIndicator/pi_bg_gradient.gif'); 
}

.ProgressIndicator img
{
    border-width: 0px; 
    float: left;
}
