﻿﻿.whatIsNew-Header {
     margin-left: 20px;
     font-size: 13px;
     width: 1310px;
 }
.whatIsNew-Header a {
    color: #336699;
    text-decoration: underline;
}

.whatIsNew-WorkflowSection {    
    width: 1295px;        
    margin-top: 15px;
    margin-bottom: -2px;
    padding-top: 10px;
    padding-left: 21px;
}

    .whatIsNew-WorkflowSection table td.content {
        padding: 10px 5px 0 10px;
        vertical-align: top;
        background-color: #e4f1f8;
        width: 181px;
    }

.whatIsNew-WorkflowSection table td.empty {
    width: 18px;
}
        
.whatIsNew-WorkflowSection table td span.title {
    font-weight: bold;
    font-size: 13px;
    color: #333;
}

.whatIsNew-WorkflowSection table td ul {
    font-size: 11px;
    color: #333;
    padding-left: 15px;
    width: 160px;
    list-style-type: square;
}

.whatIsNew-WorkflowSection table td ul li {
    margin-top: 5px;
}

.whatIsNew-WorkflowSection-Footer {
    background-repeat: no-repeat;
    width: 1340px;
    height: 310px;
}

    .whatIsNew-WorkflowSection-Footer div.title {
        font-weight: bold;
        font-size: 13px;
        margin: 0 0 0 125px;
        padding: 230px 0 10px 15px;
        color: #333;
    }
.sw-hdr-links {
    margin-top: 0px;
}
.whatIsNewLink a{
    background: transparent url(/Orion/images/WhatsNew_16x16.png) scroll no-repeat left center;
}

.whatIsNew-Body {
    width:1340px;
} 
