﻿.ReportTableConfiguration-Wrapper {
    margin: 9px 0px 20px 0px;
}

.ReportTableConfiguration-Wrapper .ReportTableConfiguration-SectionHeader {
    font-weight: bold;
}

.ReportPreviewColResizeGrip {
	width:16px;
	height:12px;
	background-image:url('/Orion/images/Reports/Movable_Icon.png');
	margin-left:-4px;
	position:relative;
	z-index:88;
	cursor:e-resize;
}

.Error {
    color: red;
}