﻿input[type=submit] {
    padding: 1px 2px;
}

#contentcolumn {
    margin: 5px;
    vertical-align: top;
}

#leftcolumn {
    margin: 5px;
    width: 300px; 
    vertical-align: top;
}

#rightcolumn {
    margin: 5px;
    width: 300px;
    vertical-align: top;    
}

.sectionTitle {
    font-weight: bold;
    font-size: small;
}

.sectionSubTitle {
    font-weight: normal;
}

.rch-fieldpicker {
    text-decoration: underline;
    cursor: pointer;
}

.sortFrame {
    border: 1px solid gray; 
    border-radius: 3px; 
    margin-bottom: 5px;
}

.customDataGroupingTitle {
    padding-top: 30px;
    padding-bottom: 15px;
}
