﻿#assignedSchedules td
{
    font-size: 16px;
    padding: 0 5px;
}

#headerTitle span
{
    font-weight: bold;
}

#mainContent
{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom:15px;
}

#mainContent h1
{
    font-size: large;
    padding: 5px 0px 10px 10px;
}

    #selectedSchedules 
    {
        table-layout: fixed;
        border-collapse: collapse;
        width: 100%;
    }
    #selectedSchedules .selectedSchedule{
        height: 30px;
        border: 1px solid #DCDCDC;
    }

    #selectedSchedules .selectedSchedule .title {
        min-width: 300px;
        padding-left: 10px;
    }
  
    #selectedSchedules .empty{
        line-height: 5px;
    }

    #selectedSchedules .selectedSchedule .btn {
        cursor: pointer;
    }
    #selectedSchedules .selectedSchedule .delete img
    {
        margin:0 5px -3px 5px;
    }

      #selectedSchedules .addNextSchedule 
      {
         border: dashed 2px #DDDDDD;
     }
      #selectedSchedules .addNextSchedule .sw-btn-t {
        text-transform: none;
        font-size: 12px !important;
       }
      #selectedSchedules .addNextSchedule td 
      {
          margin: auto;
          text-align: center;
          padding-top: 3px;
     }

    #selectedSchedules .addNextSchedule .noScheduleInfo {
        color: #eb3300;
        float: left;
        text-align: left;
        width: 33%;
        padding-left: 5px;
    } 
    #selectedSchedules .addNextSchedule .rightScheduleInfo {
        width: 33%;
        text-align: right;
        float: right;
        height: 20px;
        padding-right: 10px;
    }
    
    #selectedReports .addNextSchedule .sw-btn-t {
        text-transform: none;
        font-size: 12px !important;
    }
    

#shceduleReportBox, #shcedulePickerBox
{
    background-color: #FFFFFF;
}
 #selectedReports 
    {
        table-layout: fixed;
        border-collapse: collapse;
        width: 100%;
    }
    #selectedReports .selectedReport{
        height: 30px;
        border: 1px solid #DCDCDC
    }

    #selectedReports .selectedReport .title {
        min-width: 300px;
        padding-left: 10px;
    }
    #selectedReports .selectedReport .title a{
       color: rgb(51, 102, 153);
    }

    #selectedReports .empty{
        line-height: 5px;
    }

    #selectedReports .selectedReport .btn {
        cursor: pointer;
        width: 40px;
    }
    #selectedReports .selectedReport .deleteReport img
    {
        margin:0 5px;
    }

    #selectedReports .selectedUrl{
        margin: 10px;
        padding: 10px;
        line-height: 36px;
        height: 36px;
        border: 1px solid #DCDCDC
    }

    .urlErrors {
        color: red;
        display: block;
        padding-bottom: 4px;
    }

    #selectedReports .urlAddress {
        width: 650px;
    }

    #selectedReports .selectedUrl input {
        width: 99%;
        height: 22px;
        padding-left: 5px;
    }

    #selectedReports .selectedUrl td {
        padding-left: 4px;
    }

    #selectedReports .selectedUrl .btn {
        cursor: pointer;
        width: 40px;
        vertical-align: middle;
        line-height: 36px;
    }
    #selectedReports .selectedUrl .deleteUrl img
    {
        margin:0 8px -3px 5px;
    }

      #selectedReports .addNextReport {
         border: dashed 2px #DDDDDD;
     }

      #selectedReports .addNextReport td 
      {
          margin: auto;
          text-align: center;
          padding-top: 3px;
     }

    #selectedReports .addNextReport .noReportInfo {
        color: #eb3300;
        float: left;
        text-align: left;
        width: 20%;
        padding-left: 5px;
    }
    #selectedReports .addNextReport .assignWebpage {
        color: rgb(51, 102, 153);
        cursor: pointer;
        height: 20px;
        padding-left: 10px;
    }
    
     #selectedReports .addNextReport .rightScheduleInfo 
     {  
        width: 20%;
        text-align: right;
        float: right;
        padding-right: 10px;
        height: 20px;
    }
    
    #selectedReports .addNextReport .sw-btn-t {
        text-transform: none;
        font-size: 12px !important;
    }


#trainingVideo
{
    padding: 0px 0px 10px 10px;
}

.availableReportsLabel
{
    float: left;
    font-weight: bold;
    padding: 9px 16px 5px 0px;
}

.availableReportJobsLabel
{
    float: left;
    font-weight: bold;
    padding: 9px 16px 5px 0px;
}

.boldLabel
{
    font-weight: bold;
}

.contTitleBarDate
{
    font-size: 8pt;
    text-align: right;
}

.page-title {     display: inline; }

.panel-with-border
{
    border-width: 1px !important;
}

.scheduleGeneralSettings
{
    padding: 10px;
    margin-bottom: 5px;
}

.selectedGridItem {  line-height: 20px; margin: 2px 4px 2px 0;  background-color: #f0f0f0; padding: 2px;}

.selectedObjectsCSS
{
    margin: 5px;
}

.selectedSchedulesLabel
{
    font-weight: bold;
}

.sw-suggestion {     margin-left: 10px; }

.sw-suggestion-pass {     border: 1px solid #30B230; }

.unassignDialog
{
    display: none;
    background-color: #FFFFFF !important;
}

.unassignDialogTitle
{
    margin: 10px;
    font-size: 16px;
}

.warn-popup-message .ext-mb-text a
{
    color: #336699;
}

.x-panel-bwrap {     border-width: 1px; }

.x-panel-body-noheader.x-panel-body
{
    background-color: #FFFFFF;
}

div.GroupBox
{
    min-width: 600px;
}

div.GroupBox > h3
{
    font-size: 16px;
    margin: 15px 0px 15px 0px;
}
input.rbScheduled
{ 
     margin: 3px;
}

input.rbScheduled, .actionChbx input
{
    padding: 3px 3px 3px 3px;
}

div.actionSelection > h4
{
    margin: 17px 0px 17px 0px;
}

.sheduleMenu
{
  border-style: inherit;
  background:initial;
  border:0px ;
  background-image: inherit;
  min-width:0px;
}

 .sw-suggestion a
 {
     padding:0px !important;  
     margin-left:0px !important;  
     color: #336699;    
 }
 
 #sheduleMenu
 {
     float:left;
     min-width:143px;
 }
 
 .printableAndPdfLink
 {
     margin-top:4px;
     float:left;
 }

.sheduleMessage
{
    background:initial;
    border:0px;
    float:left;
    margin: 4px 9.5px 0 0;
    font-size: 12px;
} 
 
 .wizardHeader h2
 {
    margin-bottom:0px;
    padding-left:0px;    
 }

 .wizardContent
 {    
     width:90%;
     margin-left:20px;
 }
 
 .wizardContent .informText,.wizardContent .paragraph span
 {   
     color: #333333;     
 }
 
 .wizardContent .paragraph
 {    
     margin-bottom:20px;    
 }
 
 .wizardContent .editLink
 {
     float:right; 
     color:#336699;
 }
 
 .wizardContent .editLink a
 {
     color:#336699;
 }
 
  .wizardContent .summaryLink
 {
     color:#336699;
 }
 
 .wizardContent .paragraph .scheduleName
 {      
      font-size:large;
      font-weight:bold;  
 }
    
  .wizardContent .verticalLine
  {
      border-bottom:solid 1px #d1d1d1;
      margin-bottom:20px;    
  }
  
   .wizardContent .paragraph .more
   {
       margin-left:5px;       
   }
   .wizardContent .paragraph img
   {
       vertical-align:top;
       margin-left:5px;
   }
   
   .wizardContent .paragraph .action
   {       
       color:#000;
   }
   
 
.noFrequenciesBtnContainer {
    background-color:  #ececec;
    height: 20px; 
    padding: 3px;
    margin-bottom: 5px;
    text-align: center;
}
.noFrequenciesBtnContainer .sw-btn-t {
    text-transform: none;
    font-size: 12px !important;
}
.addFreq .sw-btn-t {
    text-transform: none;
    font-size: 12px !important;
}
.hintText {
    color: rgb(95, 95, 95); font-size: 10px;
}
.windowsUserName .hintText {
    padding:2px 0 5px 0
}
.ui-dialog .ui-dialog-content { background: white; }

.tableHeader{
background-color: #E0E0E0;
height: 20px;
border-top: 1px solid #CCCCCC;
border-bottom: 1px solid #CCCCCC;
text-transform: uppercase;
font-size: 10px;
}
.buttonColumn {
    text-align: center;
    width: 75px;
}
.titleColumn {
    padding-left: 5px;
}
.x-tip {word-wrap:break-word;}
