﻿.columnItem { width: 100%; min-height: 20px; }
.portletItem { margin: 0 1em 0 0; cursor: pointer; display: inline; float:left; }
.portletItem a { cursor: default;}
.portletItem a:hover .portlet-header { border: solid 1px  #f99d1c; color: black; }
.portletItem .portlet-header { border: solid 1px #efefef; color: black; }
.portletItem .portlet-header table { width: 100%;}
.portlet-header { padding-bottom: 0px; background-color: #efefef; width: 100%; font-weight: bold; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; }
div.arrow {
    display: inline; float: left; padding: 5px 5px 0px 3px;
}