﻿.importRemoteReportsDialogInner
{
    width: 870px;
}

#importRemoteReportsDialog h3
{
    padding-left: 30px;
}
    
#importRemoteReportsDialog h3 .ui-icon-triangle-1-s
{
    background-image: url("/Orion/images/LayoutBuilder/triang2.png") !important;
    background-position: 7px 5px !important;
}

#importRemoteReportsDialog h3 .ui-icon-triangle-1-e
{
    background-image: url("/Orion/images/LayoutBuilder/triang1.png") !important;
    background-position: 7px 5px !important;
}
    
.remoteReportsSelectionHeaderDisabled
{
    font-weight: normal !important;
    opacity: 0.65 !important;
    color: grey !important;
    background-color: #F8F8F8 !important;
}
    
.selectionHeaderInactive
{
    background: #EFEFEF !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal !important;
    color: #333333 !important;
}

#orionServerSelectionHeaderText3
{
    font-weight: bold;
}

#orionServerSelectionBody, #remoteReportsSelectionBody
{
    margin-top: 5px;
    border: 0 !important;
    padding: 0;
}

#solarwindsServersControlContainer
{
    height: 360px;
    background: white;
}
    
#importReportsSelectionContent
{
    background: white;
}

#importReportsSelection
{
    width: 100%;
    height:361px;
}
    
#importReportsSelection .title,
#importRemoteReportsDuplicatesResolvingDialog .title
{
    display: inline-block;
    
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
}

#selectedReportsCount
{
    margin-left: 16px;
}

#removeAllSelectedReports
{
    float: right;
    
    margin-right: 8px;
    
    cursor: pointer;
}

#importReportsSelection .selectedReportBlock {
    padding: 4px;
    margin-bottom: 4px;

    height: 30px;
    width: 100%;

    background-color: #CCCCCC;
        
    border-color: gray;
    border-width: 1px;
    border-style: solid;
}

#importReportsSelection .selectedReportBlock .column1 {
    width: 95%;
    padding-right: 4px;
}

#importReportsSelection .selectedReportBlock .column2 {
    width: 5%;
    vertical-align: top;
}

#importReportsSelection .deselectReportButton
{
    width: 16px;
    height: 16px;

    background-image: url(/Orion/images/SubViewImages/delete_16x16.png)
}

#importReportsSelection .deselectReportButton:hover
{
    width: 16px;
    height: 16px;

    background-image: url(/Orion/images/SubViewImages/delete_16x16_Hover.png)
}

.importReportsWarning
{
    height: 24px;
    background-color: #fffdcc;
    border: 1px solid #f0daac;
    border-radius: 4px;
    padding-top: 5px;
    padding-left: 5px;
}

#selectedReportsContainer
{
    height: 310px;
    
    margin-left: 16px;
    
    overflow-y: auto;
}

#importReportsInProgress
{
    text-align: center;
    top: 40%;
    position: absolute;
    width: 98%;
}
    
#importRemoteReportsDialogAccordion h3 
{
    border: 1px solid #cccccc;
    padding-top: 5px;
    padding-bottom: 5px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
    
#importRemoteReportsDuplicatesResolvingDialog .importReportTitle
{
    display: inline-block;
    font-weight: bold;
}
    
#importRemoteReportsDuplicatesResolvingDialog .importReportDate
{
    display: inline-block;
    font-size: 10px;
    margin-left: 4px;
}

#importRemoteReportsProgressDetails
{
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
}
    
#importRemoteReportsProgressDialog .progressBar
{
    margin-top: 10px;
        
    width: 100%;
    height: 20px;
        
    text-align: left;
        
    background-image: url('/Orion/Reports/Import/Images/progBar_off.gif');
    background-repeat: repeat-x;
}