﻿
.tableLayoutEditor .ui-corner-all, .tableLayoutEditor .ui-corner-top, .tableLayoutEditor .ui-corner-left, .tableLayoutEditor .ui-corner-tl {
    border-top-left-radius: 0px;
}

.tableLayoutEditor .ui-corner-all, .tableLayoutEditor .ui-corner-top, .tableLayoutEditor .ui-corner-right, .tableLayoutEditor .ui-corner-tr {
    border-top-right-radius: 0px;
}

.tableLayoutEditor .ui-corner-all, .tableLayoutEditor .ui-corner-bottom, .tableLayoutEditor .ui-corner-right, .tableLayoutEditor .ui-corner-br {
    border-bottom-right-radius: 0px;
}
        
.tableLayoutEditor .ui-corner-all, .tableLayoutEditor .ui-corner-bottom, .tableLayoutEditor .ui-corner-left, .tableLayoutEditor .ui-corner-bl {
    border-bottom-left-radius: 0px;
}

.tableLayoutEditor {
    border: 1px solid #b1b1b1;
    padding: 0.5em;
    padding-top: 0.3em;
    margin-top: 0.3em;
}
        
.tableLayoutEditor .ui-tabs {
    padding: 0;
}
        
.tableLayoutEditor .ui-widget-content {
    background: none;
    border: 0;
}

.tableLayoutEditor .ui-tabs .ui-tabs-nav li 
{
    margin-right: 5px;
    margin-left: 0px;
}
    .tableLayoutEditor .ui-tabs .ui-tabs-nav li .header{
    cursor: move;
}
.tableLayoutEditor .ui-tabs .ui-tabs-nav li.addColumn .header{
    cursor: inherit;
}
        
.tableLayoutEditor .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    border: none;
}

.tableLayoutEditor .ui-tabs .ui-tabs-nav li.moreDetails {
    border: 1px solid #f99d1c;
}

.tableLayoutEditor .ui-tabs .ui-tabs-nav li a {
    padding-left: 0;
    padding-right: 0;
}

.tableLayoutEditor .ui-tabs .ui-tabs-panel {
    border: 1px solid #f99d1c;
}

.tableLayoutEditor div .ui-tabs-hide {
    border: 0px;
}

.tableLayoutEditor .ui-widget-header {
    background: transparent;
    border-bottom-style: none; /* get rid double line*/
    border: 0px;
}

.tableLayoutEditor .ui-tabs .ui-tabs-nav {
    padding-left: 0px;
    padding-right: 0px;
}

.tableLayoutEditor .ui-tabs .ui-tabs-nav li {
    white-space: normal;
}

.tableLayoutEditor .ui-tabs .ui-tabs-nav li a {
    padding-top: 0;
    padding-bottom: 0;
    }

.tableLayoutEditor .ui-state-default, .tableLayoutEditor .ui-widget-content .ui-state-default, .tableLayoutEditor .ui-widget-header .ui-state-default {
    /* Default looks of tab */
    border: none;
}

.tableLayoutEditor .ui-widget-header .ui-state-default .header {
    background: #E0E0E0;
    color: black;
    font-family : Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding-left: 0.3em;
    padding-right: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    border: 1px solid #E0E0E0;
}

.tableLayoutEditor .ui-widget-header .ui-state-default .header table td.ReportHeader {
    padding: 0px;
    background: none;
    border: 0;
}

.tableLayoutEditor .ui-widget-header .ui-state-default .header img.grabby {
    cursor: move;            
}

.tableLayoutEditor .ui-widget-header .ui-state-default .header img.ui-icon-close {
    cursor: pointer;
    margin-left: 0.5em;
}

.tableLayoutEditor .ui-widget-header .ui-state-default .footer {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: black;
    font-weight: normal;
    padding-left: 1em; 
    padding-right: 1em;
    background: #ecedee;
}

.tableLayoutEditor .ui-widget-header .ui-state-default .footer img {
    margin-right: 0.5em;
    vertical-align: middle;
}

.tableLayoutEditor .ui-widget-header .ui-state-default .footer span {
    vertical-align: middle;
}

.tableLayoutEditor .ui-widget-header .ui-state-default .footerLessDetails {
    background: white;
}

.tableLayoutEditor .ui-widget-header .ui-state-default .addColumnFooter {

}

.tableLayoutEditor .ui-state-active, .tableLayoutEditor .ui-widget-content .ui-state-active, .tableLayoutEditor .ui-widget-header .ui-state-active {
    /* Currently selected tab*/
    border: none;
}

.tableLayoutEditor .ui-widget-header .ui-state-disabled.header {
    background: white;
    color: red;
    font-weight: normal;
    border: 1px solid #e0e0e0;
}

.tableLayoutEditor .ui-widget-header .ui-state-disabled.header .ReportHeader {
    color: #888888;
}

.tableLayoutEditor .ui-widget-header .ui-state-active .header {
    background: #f99d1c !important;
    color: white !important;
    font-weight: normal !important;
    border: 1px solid #f99d1c;
}

.tableLayoutEditor .ui-widget-header .ui-state-active .header table td.ReportHeader {
    color: white;
}

.tableLayoutEditor li.addColumn .header {
    height: 1.5em;
}

.tableLayoutEditor .ui-widget-header .ui-state-active .footer {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: black;
}
        
.tableLayoutEditor .ui-state-hover, .tableLayoutEditor .ui-widget-content .ui-state-hover, .tableLayoutEditor .ui-widget-header .ui-state-hover {
    /* When I will hover mouse over tab*/
    /*background: green; -- we will need from ux team obtain right color */
}

.tableLayoutEditor .ui-widget-header .ui-state-hover .footer {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.tableLayoutEditor .ui-state-disabled {
    opacity: 1;
    filter: Alpha(Opacity=100);
}

.tableLayoutEditor .ui-widget-header .ui-state-hover .addColumnFooter, .tableLayoutEditor .ui-widget-header .ui-state-default .addColumnFooter {
    background-color: #F6F6F6 !important;
    padding-bottom: 5px !important;
    margin-bottom: 0 !important;
}

.tableLayoutEditor ul.ui-widget-header {
    background-image: url('/Orion/images/Reports/ColumnLayoutBackground.png');
}
        
.tableLayoutEditor .ui-state-active a:visited {
    /*color: white; -- by this way I will define color of font in active tab*/
}

.tableLayoutEditor .ui-state-default a:visited {
    /*color: black; -- by this way I will define color of font in nonactive tab*/
}

.tableLayoutEditor .helpfulText {
    color: #5f5f5f;
    font-size: 10px;
    text-align: left;
}

.tableLayoutEditor a {
    color: #3d6e9e;
}
.emptyColumns {
    background: #ebebeb;
    text-transform: uppercase;
    padding: 0.5em;
    margin-top: 0.2em;
}

.emptyColumns a.addColumn span span {
    text-transform: none;
}
     
.LinkArrow {
    font-size: 11px;
    vertical-align: text-top;
}   
/* presenter editor rules */
.sw-presenter-label { vertical-align: top;font-weight: bold; }
.sw-presenter-edit { vertical-align: top; }
.sw-presenter-edit > div { display:inline-block;}
.sw-presenter-row-del { margin-left: 16px; }
.sw-presenter-row-del img { vertical-align: top;margin-right: 4px; }
.sw-presenter-help-link { font-size: smaller;margin-left: 5px; }
.sw-presenter-row td { background-color: #F7F7F7; }
.sw-presenter-addNew-separator { height: 10px; }
.sw-presenter-addNew td { padding: 20px 0 20px 0 !important; background-color: #F7F7F7; }


.column-no-wrap {
     white-space: nowrap;
    cursor: default;
}

.selectedTimeField {
    background-image: url(/Orion/images/Reports/clock_time_period.png);
    background-repeat: no-repeat;
    margin:0px 4px;
    display:inline-block;
    width:16px;
    height:16px;
}

.statistic-column {
    background-image: url(/Orion/images/Reports/StatisticalColumn_16x16.png);
    background-repeat: no-repeat;
    margin:0px 4px;
    display:inline-block;
    width:16px;
    height:16px;
}

.hidden-column {
    background-image: url(/Orion/images/Reports/Hidden.png);
    background-repeat: no-repeat;
    margin:0px 4px;
    display:inline-block;
    width:16px;
    height:16px;
}

.hide-column-info {
    background-image: url(/Orion/images/Reports/Icon_Info.png);
    background-repeat: no-repeat;
    margin:0px 4px;
    display:inline-block;
    width:16px;
    height:16px;
}

.hidden-column-header {
    color: #888888 ;
    background-color: #ffffff !important;
}

.tableLayoutEditor .columnDetail { border-collapse: collapse; }
.tableLayoutEditor .columnDetail td { padding: 3px 0 3px 0; }
