
table.sw-rpt-frame { border-spacing: 0px; }
table.sw-rpt-frame > tbody > tr > td { padding: 0px; }

table.sw-rpt-section { border-spacing: 0px; }
table.sw-rpt-section > tbody > tr > td { padding: 0px; }

.sw-rpt-header { margin-bottom: 10px; margin-top: 10px; }
.sw-rpt-header .sw-rpt-logo-right { float: right; }
.sw-rpt-header .sw-rpt-title { font-size: 30px; font-weight: bold;word-wrap:break-word; }
.sw-rpt-header .sw-rpt-subtitle { font-size: 14px; margin-top: 4px;word-wrap:break-word; }
.sw-rpt-header .sw-rpt-summary-wrapper { font-size: 14px; margin: 15px 0 20px 0; }
.sw-rpt-header .sw-rpt-summary-dataSources { padding-bottom: 4px;}

.sw-rpt-cell { padding-top: 10px; padding-bottom: 20px; }

.sw-rpt-cell-header { display:inline; margin: 2px 0 4px 0 }
.sw-rpt-cell-title { font-size: 14px; font-weight: bold; }
.sw-rpt-cell-source { font-weight: bold; }

.sw-rpt-cell-header div { display:inline; }

.sw-rpt-footer { margin-bottom: 4px; font-size: 11px; }
.sw-rpt-footer .sw-rpt-created { margin-right: 6px; }
.sw-rpt-footer .sw-rpt-copyright {}

/* content that should only be visible when editing or in preview mode*/
.sw-rpt-edit-only {   display: none;}

/* disable web resource box & shadow */
.sw-rpt-frame .sw-rpt-cell > .ResourceWrapper { padding: 0px; border: none; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; }

.sw-rpt-section > tbody > tr > .sw-rpt-column { padding-bottom: 10px; }

/* Report table  */
.sw-rpt-tbl > tbody > tr > td { border-spacing: 0px; }
.sw-rpt-tbl { box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; border-bottom: 1px solid #D0D0D0; border-spacing: 0px;}

.sw-rpt-tbl tr { border: 1px solid #D0D0D0;padding-left: 10px; }

.sw-rpt-tbl thead tr { background-color: #E0E0E0; }
.sw-rpt-tbl thead th { font-weight: normal; text-transform: uppercase; font-size: 8pt !important;padding-top: 6px; padding-bottom: 6px; }
.sw-rpt-tbl .sw-rpt-row-alt { background-color: #F0F0F0; }
.sw-rpt-tbl td, .sw-rpt-tbl th { border-top: 1px solid #D0D0D0; overflow: hidden; padding-left: 10px;padding-right: 10px;}

/* presenter rules */

.sw-rpt-watericon { background-repeat: no-repeat; background-position: left center; }

/*Summary scene on Create/Edit Report */
.summaryHeader p {margin: 0px; font-size: 16px; font-weight: bold;}
.summaryContent  {width: 90%; margin-left: 15px; }
.summaryContent .paragraph {margin-bottom: 20px; }
.summaryContent .informText {font-size: 13px; font-weight: normal; color: #333333;}
.summaryContent .verticalLine {border-bottom: solid 1px #d1d1d1; margin-bottom: 20px; }
.summaryContent .paragraph .reportHeader {font-size: 18px; font-weight: bold; color: #333333;}
.summaryContent .editLink a {color: #336699; text-decoration: underline; float: right;}
.summaryContent .paragraph .imageItem {display: table; font-size: 13px; font-weight: normal; padding-right: 18px; background: transparent url(/Orion/images/Show_Last_Note_icon16x16.PNG) scroll no-repeat right;}
.summaryContent .paragraph .header {font-size: 13px; font-weight: bold; color: #333333;}