﻿.wrapper {
    border: 1px solid #d4ebf8;
    /*padding: 5px;*/
}

.h3noWrap {
       
    background-color: #ecf6fb;
    font-size: 1.1em;
    font-weight: bold;
    padding: 4px;
}

.h4noWrap {
    display: inline;
    font-style: normal;
    font-size: medium;
    color: grey;
    background-color: #ecf6fb;
}

.fullWidthLine {
    width: 100%;
    /*display: inline;*/
}

.noDataBackgroud div {
    margin-top: 5px;
    background-color: #e0e0e0;
    border-color: grey;
    padding: 4px;
    font-size: 0.8em;
       
    }

.noDataBackgroud {
           
    border: 1px;
       
}

.noData {                        
    text-transform: uppercase;
    font-size: 100%;
    margin: 5px;
}

.portletItem {
    margin: 0 1em 1em 0;
}
    
.portletItem .portlet-header {
    border: solid 1px #efefef;
    color: black;
    padding-bottom: 4px;
    background-color: #efefef;
    width: 100%;
    font-weight: bold;
}

.showDetailsOfSearies {
    background-color: #ecf6fb;
}

table.axisOverview {     
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 4px;
}

table.axisOverview td, 
    table.axisOverview th {
        padding: 5px;
}

table.axisOverview tbody {
    padding-top: 5px;
}

.axisOverview thead {
    background-color: #ecf6fb;
}

.axisOverview tr td {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.hidden {
    visibility: hidden;
}

.dataSeriesTable {
    border-collapse: separate;
    border-spacing: 0px 5px;
    width:100%;
    z-index: 20;
    position: relative;
}

.addDataSeriesBtn {
    padding: 1px 4px;
}

.customLabel {
    width: 240px;
}

.ddlWidth {
    width: 200px;
}

.dataSerieRow {
    border: 1px;
    border-style: double;
    border-color: #ffffff;
    padding: 0px;
    margin: 0px;
}

.dataSerieRow:hover {
    cursor: hand;
    cursor: pointer;
}

.dataSerieRow .rightExpand {
    display: inline-table;
    background-color: #ecf6fb;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;    
}

.dataSerieRow .leftExpand { 
    display: inline-table;
    background-color: #ecf6fb;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.dataSerieRow .displayName {
    min-width: 150px;
    background-color: #e0e0e0;
}

.dataSerieRow .removeSerie {
    width: 15px;
    background-color: #e0e0e0;
}

.dataSerieRow .collapse {
    padding: 2px;
}

.dataSerieRow .expandLeftColumn {
    padding: 0px;
    width: 100%;
    padding-right: 4px;
}

.dataSerieRow .expandRightColumn {
    padding: 0px;
    width: 100%;
    padding-left: 4px;
}