﻿.resourcePicker, 
.resourcePickerLoader {
    background-color: #fff !important;
}

.resourcePicker .searchInput {
    width: 250px;
}

.resourcePickerLoader.offPage {
    /* 
      !!! Important !!!
      
      Never hide resource picker by: display: none; 
      It causes that resource picker is not rendered well.
      EXTJS has problem with rendering into hidden (display:none) element. 
    */
    
    position: absolute;
    left: -1999px;   
    top: -2000px;  
}

.resourcePicker .headerColumn {
     font-weight: bold;
}

.resourcePicker .gridColumn {
    float: right;
    text-align: right;
}

.resourcePicker .selectedResourcesColumn {
    padding-left: 10px;
}

.resourcePicker .selectedResources {
    overflow: auto;
    overflow-x: visible;
    height: 493px;
    width: 380px;
}

.resourcePicker .selectedResources table {
    border-collapse: collapse;
    width: 100%;
}

.resourcePicker .selectedResources table td {
    padding: 2px 1px 1px 4px;
    background-color: #ececec;
}

.selectedResources #selectedResourcesEmpty {
    padding: 4px;
    background-color: #ececec;
}

.resourcePickerLoader .notVisible {
    visibility: hidden;
}


.resourcePickerLoader  .content {
    position: absolute;
    top: 40%;
    margin: 0 auto;
    width: 98%;
    text-align: center;
}

.resourcePickerLoader  .mainText {
    padding-top: 15px;
    font-size: 1.1em;
}


.resourcePickerLoader  .subText {
    font-size: 0.85em;
    padding-top: 5px;
}

.resourcePickerDialogBtns {
    white-space: nowrap;
    float: right;
}

.resourcePicker .resourcesGrid .x-panel-body {
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
}