﻿#sw-salestrigger-popup {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-size: 12px;
}

#sw-salestrigger-popup div.sw-salestrigger-wrapper {
    margin: 0 10px 5px 5px;

    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: right top;
}

#sw-salestrigger-popup p, #sw-salestrigger-popup table {
    padding: 5px 5px 10px 5px;
    margin: 5px;
    font-size: 12px;
}

#sw-salestrigger-popup table th, #sw-salestrigger-popup table td {
    font-size: 12px;
}

.sw-salestrigger-content {
    padding-right: 260px;
    min-height: 200px;
}

.sw-salestrigger-content > p > .sw-link + .sw-link {
    margin-left: 15px; 
}

.sw-salestrigger-links {
    padding: 10px 10px 5px 10px;
}

.sw-salestrigger-smaller {
    font-size: 90%;
}

.sw-suggestion-link.sw-salestrigger-redLink {
    color: #ce0000;
}

/* Popup icons */

.sw-salestrigger-evaluation {
    background-image: url('/Orion/images/SalesTrigger/evaluation-ending.png');
}

.sw-salestrigger-license {
    background-image: url('/Orion/images/SalesTrigger/license-limit-reached.png');
}

.sw-salestrigger-maintenance {
    background-image: url('/Orion/images/SalesTrigger/maintenance-expiring.png');
}

.sw-salestrigger-polling {
    background-image: url('/Orion/images/SalesTrigger/polling-capacity-reached.png');
}

.sw-salestrigger-upgrade {
    background-image: url('/Orion/images/SalesTrigger/upgrade-available.png');
}

/* Popup table definition */

#sw-salestrigger-popup table {
    width: 100%;

    border-collapse: collapse;
    border: 1px #bbb solid;

    margin-left: 10px;
}

#sw-salestrigger-popup table thead th {
    text-transform: uppercase;
    background-color: #e0e0e0;
    text-align: left;
    padding: 3px 5px;
    font-size: 10px;
    color: #000;
    font-weight: normal;
}

#sw-salestrigger-popup table td, #sw-salestrigger-popup table th {
    border-top: 1px #bbb solid;
    padding: 5px;
}

#sw-salestrigger-popup table td.sw-salestrigger-checkbox, #sw-salestrigger-popup table th.sw-salestrigger-checkbox {
    border-right: none;
    padding-right: 0;
    width: 20px;
}

tr.sw-salestrigger-expiring-bold {
    color: #FCA01D;
    font-weight: bold;
}

tr.sw-salestrigger-expiring {
    color: #FCA01D;
}

tr.sw-salestrigger-expired {
    background: #fff url('/Orion/images/SalesTrigger/pattern-red.png') repeat top left;
    color: #DA3838;
    font-weight: bold;
}

tr.sw-salestrigger-product-blue {
    color: #336699;
    min-width: 70px;
}

tr.sw-salestrigger-product-gray {
    color: #646464;
    min-width: 70px;
}

tr.sw-salestrigger-product-blue-bold {
    color: #336699;
    font-weight: bold;
    min-width: 70px;
}

span.sw-salestrigger-status {
    padding: 3px;
    background-color: #d23c2d;
    color: #fff;
}

div.sw-salestrigger-linkwrapper {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

div.sw-salestrigger-linkwrapper > span {
    float: left;
}

div.sw-salestrigger-linkwrapper > span + span {
    clear: left;
}

span.sw-salestrigger-hide {
    color: #fff;
}

tr.sw-salestrigger-message {
   border-top: hidden;
}

.sw-salestrigger-warning-message-text {
   font-size: 10px;
}

span.sw-salestrigger-status-blue {
    padding: 3px;
    background-color: #336699;
    color: #fff;
    padding-right: 20px;
    padding-left: 20px;
}

span.sw-salestrigger-status-blue > span {
    color: #336699;
}

span.sw-salestrigger-status-gray {
    padding: 3px;
    background-color: #646464;
    color: #fff;
    padding-right: 20px;
    padding-left: 20px;
}

/* Footer definition */

#sw-salestrigger-popup div#sw-salestrigger-footer {
    clear: both;
    overflow: hidden;
    border-top: 1px #bbb solid;
    background-color: #eee;
    color: #666;
}

#sw-salestrigger-footer .sw-salestrigger-left {
    float: left;
    width: 49%;
    border-right: 1px #bbb solid;
}

#sw-salestrigger-footer .sw-salestrigger-right {
    float: left;
    width: 49%;
    border-left: 1px #bbb solid;
    margin-left: -1px;
}

#sw-salestrigger-footer .sw-salestrigger-right p+div.sw-salestrigger-label {
    padding-top: 0;
    margin-top: 0;
}

#sw-salestrigger-footer .sw-salestrigger-label {
    color: #333;
    font-size: 12px;
}

#sw-salestrigger-footer div.sw-salestrigger-label {
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0 0 10px;
}

#sw-salestrigger-footer span.sw-salestrigger-label {
    font-weight: bold;
}

#sw-salestrigger-footer ul {
    padding: 5px 0 5px 15px;
    margin: 5px 0 10px 5px;
    list-style: none;
}

#sw-salestrigger-footer li { 
    text-indent: -.7em;
}

#sw-salestrigger-footer li:before {
    content: "• ";
    color: #333;
}

.sw-salestrigger-maintenance-lastcol {
    min-width: 110px;
}

div#sw-salestrigger-popup a {
    outline: 0; 
}

.sw-salestrigger-right .manage-orion-licenses-button {
    position: absolute;
    width: 192px;
    height: 31px;
    font-family: 'Open Sans Bold', 'Open Sans';
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    color: #3A7892;
    text-align: center;
    line-height: normal;
	margin-top: -5px;
	margin-left: 10px;
}

.sw-salestrigger-right .manage-orion-licenses-button .button-frame {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 192px;
    height: 31px;
    background: inherit;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(58, 120, 146, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Open Sans Bold', 'Open Sans';
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    color: #3A7892;
    text-align: left;
    line-height: normal;
}

.sw-salestrigger-right .manage-orion-licenses-button .button-frame:hover {
	background-color: rgba(255, 255, 255, 1) !important;
}

.sw-salestrigger-right .manage-orion-licenses-button .button-text {
    position: absolute;
    width: 192px;
    word-wrap: break-word;
}

.sw-salestrigger-right .manage-orion-licenses-button .button-text span {
	line-height: 31px;
    margin: auto;
}

.sw-upgrade-dialog .ui-dialog-title { text-transform: none;}
.sw-upgrade-dialog table tbody tr { color: black; } 
.sw-upgrade-dialog table tbody tr td .sw-link { font-size: 10px;} 
