﻿.sw-startMaintenanceDialog {
    background: white;
    padding: 5px 0 5px 5px;
}

.sw-startMaintenanceDialog strong {
    font-weight: bold;
}

.sw-startMaintenanceDialog .blueBox {
    padding: 10px 12px;
    width: auto;
}

.sw-startMaintenanceDialog label {
    font-weight: bold;
    padding-bottom: 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.sw-startMaintenanceDialog .sw-dateTimeRangePicker {
    margin: 6px 12px 6px;
}

.sw-startMaintenanceDialog-required {
    font-weight: normal;
}

.sw-startMaintenanceDialog-intro {
    padding: 10px 12px 14px;
}

.sw-startMaintenanceDialog-reason {
    width: 100%;
}

.sw-startMaintenanceDialog .sw-suggestion {
    padding-left: 12px;
    font-size: inherit;
}

.sw-startMaintenanceDialog .sw-validation-error {
    margin-top: 10px;
}

.sw-startMaintenanceDialog-ajaxLoader {
    margin-right: 10px;
}
