﻿    .thresholds { background-color: #f0f8fa; width: 100%;  }

    .thresholds .thresholdControl table { width: 100%; background-color: white; }

    .thresholds .thresholdControl .thresholdGlobal table { background-color: #ecedee; }

    .thresholds .thresholdControl .thresholdCustom .formulaTextbox {
        width: 200px;
    }
    .thresholds .thresholdControl .thresholdCustom .pollsTextbox {
        width: 50px;
        margin-left: 10px;
    }

    .thresholds input[type='checkbox'] {
        margin-right: 5px;
    }
    
/*.thresholds .thresholdControl .thresholdCustom*/ 

/* I wanted to use the same style as was used for 'baselineInfo' div, but creating something like 'capacityInfo' isn't correct,
  so I created this generic class that could be also used for any future action that will be added to thresholds section */
.thresholds .relatedActionBlock {
  background-color: #ecedee; 
  border: 1px solid #ccc; 
  padding: 5px 10px;
  font-size: 11px;
  color: #808080;
  margin-bottom: 4px;
}

.thresholds .relatedActionBlock a {
  font-size: 11px;
  cursor: pointer;
}

.thresholds .relatedActionBlock .button {
  margin-bottom: 5px;
  padding-bottom: 2px;
  width: auto;
}

.thresholds .relatedActionBlock .info {
  color: #808080;
  font-size: 11px;
  padding-top: 5px;
}

.thresholds .lastRelatedActionBlock {
  margin-bottom:0;
}

.thresholds .capacityPlanningRow label {
  margin: 0 0 0 3px;
}