.ThwackHeader, .ThwackFooter
{
	border-width: 0px; 
	width: 100%;
}

.ThwackHeaderLogo
{
    border: none;
    width: 95px;
    vertical-align: middle;
    padding-top: 2px;
}

.ThwackHeaderBackground
{
    background-image: url(/Orion/images/ThwackImages/ThwackHeader_Background.png);
    background-repeat: repeat;
}

.ThwackHeaderText
{
    border: none;
    padding-top: 2px;
}

.ThwackHeaderText SPAN
{
    font-size: medium;
    color: White;
}

.ThwackHeaderImage
{
	padding: 0px 0px 0px 0px;
}

.ThwackConnectError
{
	color: Red; 
	font-size: 8pt;
}

.ThwackContent {
    margin: 15px 15px 0;
}

.ThwackContent TABLE TR TD UL
{
	margin: 0px;
    padding-left: 0px;
}

.ThwackContent li {
    list-style-type: none;
}

.ThwackContent td {
    padding: 7px 15px;
}

.ResourceWrapper .ThwackSubmenu, .ThwackSubmenu {
    height: 22px;
    width: calc(100% - 30px);
    margin: 0 15px 15px;
    padding: 10px 15px;
}

.ThwackSubmenu a {
    float: left;
}

.ThwackSubmenu a + a {
    float: right;
}

.ResourceWrapper .ThwackHeader a.sw-btn,
.ResourceWrapper .ThwackHeader a.sw-btn span {
    color: inherit !important;
}

