﻿.usernamePasswordCredentials input.invalidValue {
    border: solid 1px red;
}
.usernamePasswordCredentials .failureDebugTooltip {
    display: none;
    white-space: pre-line
}
.usernamePasswordCredentials .debugDetails:hover + .failureDebugTooltip {
    display: block;
    float: left;
    position: absolute
}
.usernamePasswordCredentials .testProgress.sw-suggestion-icon {
    background-image: url('/Orion/images/AJAX-Loader.gif')
}

.usernamePasswordCredentials .centeredDiv {
    text-align: center;
}
