.utilization-bar.warning .progress
{
	background-color: #FEC405;
}

.utilization-bar.critical .progress
{
	background-color: #DA3838;
}

.utilization-bar.normal .progress
{
	background-color: #1D781D;
}

.utilization-bar{
	text-align: left;
	border-color: #d5d5d5;
	border-width: 1px;
	border-style:solid;
	background-color: #FFF;
}

.utilization-bar .progress{
	height: 10px;
	border: none;
}