﻿.addButton { width: 256px; }
.assignItem { width: 256px; }
.assignItemHolderAlter { background-color: #ECF6FB; }
.assignItemHolder td {padding: 12px 12px 12px 0px!important; vertical-align: middle!important; }
.footerItemHolder td {padding: 12px 12px 12px 12px!important; }
.headerItemHolder .headerColumn { padding: 20px 12px 0px 6px!important; }
.assignItemTable { width: 100%; }
.assignItemTable .leftCol, .headerItemHolder .leftCol, .assign-items-table .leftCol{width: 300px!important;}
.headerItemHolder .rightCol {width: 500px!important;}
.assignItemTable td, .assign-items-table td
{
	padding: 0px 0px 0px 12px!important;
	vertical-align: text-top !important;
}
.edit-cp-value-div td {padding: 0px 0px 0px 0px!important}
.assignGroupHide { display:none; }
#AssignmentsTable
{
    width: 90%;
    height: 500px;
    padding: 0px;
}
#AssignmentsTable .x-grid3-row-selected, #ContainerMembersTable .x-tree-selected { background-color: #dfe8f6 !important; }
#AssignmentsTable .x-layout-split { background-color: #f0f0f0 !important; }
#AssignmentsTable td
{
    padding: 0px;
    vertical-align: middle;
}
#GroupItemsSelector
{
	height: auto!important;
}
