﻿span label
{
    padding-left: 5px;
}
.viewNOCMode a
{
    margin-right: 10px;
    text-decoration: underline;
    font-family: Arial,Helvetica,sans-serif;
    color: #336699;
}
.chkEnableNOCView
{
    font-size:13px;
}
.imageNOCInformation
{
    vertical-align: middle;
    margin-bottom: 3px
}
.viewNOCMode
{
    margin-left: 15px;       
    display: none;
}
.viewNOCMode input[type="checkbox"]
{
    margin-top: 15px;
}
.selectTimeType
{
    height: 23px;
}
.viewMultiplePages
{
    padding: 10px;
    background-color: #E6E6E6;    
    margin-top: 1px;
    display:none;
    width:600px;
}
#timeValue,#timeTypeValue
{
    float: left;
    margin-top: -3px;
}
#timeValue
{
    width:60px;
}
#timeTypeValue
{
    width: 100px;
}