﻿ #sw-settings-cp-notenabled {        
    padding-right: 10px;
    margin-bottom: 10px;
    display: block;
}

#sw-settings-cp-notenabled td {
    vertical-align: middle;
}

#sw-settings-cp-notenabled .sw-webintegration-button {
    text-align: right;
    padding-top: 6px;
}

#sw-settings-cp-notenabled .sw-webintegration-table {
    width: 100%;
    padding-left: 15px;
    padding-right: 10px;
    background-color:#EDEDED;
}

#sw-settings-cp-notenabled .sw-webintegration-icon {
    width: 35px;
}

#sw-settings-cp-notenabled .sw-logincustomerportal-loginbuttons {
    margin-right: 5px;
}

#sw-settings-cp-notenabled .sw-logincustomerportal-loginbuttons > .sw-btn-c > .sw-btn-t{
    padding-left: 20px;
    padding-right: 20px;
}

#sw-settings-cp-enabled .sw-webintegration-table {
    width: 100%;
}

#sw-settings-cp-enabled * .sw-webintegration-login-section {
    text-align: right;
    padding-right: 10px;
}

#sw-settings-cp-enabled * a {
    cursor: pointer;
}

#sw-settings-cp-enabled * span {
    color: #666;
}


#sw-settings-cp-enabled * #sw-settings-cp-username {
    font-weight: bold;
    color:#333333;
}