﻿/*Log In customer portal popup window styles*/
.LogInCustomerPortal {
    border-radius: 0; 
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-color: #f6a828;
    padding: 0;
    border-width: 2px;
}

#sw-logincustomerportal-popup {
    padding: 0;
    margin: 0;
}

#ui-dialog-title-sw-logincustomerportal-popup {
    font-size: 16px;
}

#LogInCustomerPortalCollapseImg {
    display: block;
    float: left;
    margin-right: 5px;
    padding-top: 2px;
}

#sw-logincustomerportal-popup div.sw-logincustomerportal-wrapper {
    margin: 0 15px 15px 15px;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: right top;
}

#sw-logincustomerportal-popup * .sw-logincustomerportal-content {
    display: inline-block;
    margin-left: 5px;
    font-size: 13px;
}

#sw-logincustomerportal-popup * .sw-logincustomerportal-image {
    vertical-align: top;
}

#sw-logincustomerportal-popup * .sw-logincustomerportal-text {
    margin-bottom: 15px;
    line-height: 20px;
}

#sw-logincustomerportal-popup * .sw-logincustomerportal-text > div {
    font-weight: 700;    
    margin-bottom: 5px;
}

#sw-logincustomerportal-popup * .sw-logincustomerportal-text > li {
    list-style: square;
}


#sw-logincustomerportal-popup * .sw-logincustomerportal-input * input {
    width: 370px;
    margin-bottom: 20px;
    height: 20px;
    margin-top: 5px;
}

#sw-logincustomerportal-popup * .sw-logincustomerportal-login {
    padding-top: 10px;
    padding-right: 35px;
    margin-bottom: 20px;
}

#sw-logincustomerportal-popup * .sw-logincustomerportal-login * label{
    font-family: "Arial Bold","Arial";
    font-weight: 700;
}

#sw-logincustomerportal-popup * .sw-logincustomerportal-loginbuttons {
    padding-right: 0;
}

#sw-logincustomerportal-popup * .sw-logincustomerportal-collapsable {
    margin-top: 10px;
    margin-left: 18px;
    display: none;
}

#sw-logincustomerportal-popup * .sw-logincustomerportal-collapsable > p {
    margin-top: 0;
    margin-bottom: 0;
}

#sw-logincustomerportal-popup * .sw-logincustomerportal-collapsable > p > span{
    color:#888;
}

#sw-logincustomerportal-popup * .sw-logincustomerportal-loginbuttons > .sw-btn-c {
    padding-right: 10px;
    height: 30px;
    min-width: 110px;
    font-size: 14px;
    text-align: center;
}

#sw-logincustomerportal-popup * .sw-logincustomerportal-loginbuttons > .sw-btn-c > .sw-btn-t{
    padding-left: 15px;
    padding-right: 15px;
}

#sw-logincustomerportal-popup * .sw-logincustomerportal-error {
    color: white;
    background-color: #DA3838;
    padding: 10px;
    text-align: center;
}
#sw-logincustomerportal-username-label {
    height:18px;
    vertical-align:50%;
}

#sw-logincustomerportal-username-label > span {
    position:relative;
    top:3px;
    left:5px;
}

#sw-logincustomerportal-forgot-credentials-link {
    margin-left: 15px;
}

.sw-logincustomerportal-text ul {
    padding-left: 0px;
}

.sw-logincustomerportal-text li {
    list-style-position: inside;
}

.sw-customerportal-button {
    padding-right: 0;
}

.sw-customerportal-button > .sw-btn-c {
    padding-right: 10px;
    background-color: #168AB6;
    background-image: none;
    line-height: 25px;
}

.sw-customerportal-button > .sw-btn-c > .sw-btn-t{
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    text-transform: none;
    font-size: 13px !important;
}

#sw-login-customerportal-forgottenLink {
    display:inline-block;
    max-width: 150px;
}