﻿.sw-wizard-wrapper { width: 100%; }

.sw-wizard-wrapper ul.sw-wizard-navigation {
    list-style-type: none;
    margin: 0; padding: 0;
	width: 100%;
	background-color: #f5f5f5;

    font-family: "Open Sans Semibold" !important;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
}

.sw-wizard-wrapper ul.sw-wizard-navigation li {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 8px 0;
    padding-top: 25px;
    padding-bottom: 5px;

    color: #cccccc;
}

.sw-wizard-wrapper ul.sw-wizard-navigation li::before, .sw-wizard-wrapper ul.sw-wizard-navigation li::after {
    content: '';
    display: block;
    position: absolute;
}
.sw-wizard-wrapper ul.sw-wizard-navigation li::before {
    border: 1px solid #cccccc;

    width: 11px; height: 11px;
    border-radius: 8px;
    left: 50%; top: 6px;

    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.sw-wizard-wrapper ul.sw-wizard-navigation li::after {
    background-color: #295d75;

    height: 1px; top: 12px;
    left: 16px; right: 0px;
    margin-left: 16px;
    
    -ms-transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    transform: translateX(50%);
}
.sw-wizard-wrapper ul.sw-wizard-navigation li:last-child::after {
    width: 0; height: 0;
    background-color: transparent;
}

.sw-wizard-wrapper ul.sw-wizard-navigation li.visited { color: #0079aa; }
.sw-wizard-wrapper ul.sw-wizard-navigation li.active { color: #1e1e1e; font-weight: 600; }
.sw-wizard-wrapper ul.sw-wizard-navigation .visited::before { background-color: #2d5c77; border-color: #2d5c77; }
.sw-wizard-wrapper ul.sw-wizard-navigation .active::before { background-color: #2d5c77; border-color: #2d5c77; }
.sw-wizard-wrapper ul.sw-wizard-navigation li.navigation-target.visited { cursor: pointer; }


/* Restyle wizard buttons */
.sw-wizard-wrapper div.sw-wizard-buttons {
    margin: 4px 0 12px;
	text-align: right;
}

.sw-wizard-wrapper div.sw-wizard-buttons .sw-btn {
    text-align: center !important;
    box-sizing: content-box;
    font-size: 11px;
    line-height: 11px;
    color: #297994 !important;
    text-decoration: none !important;
    text-transform: uppercase;
    padding: 10px 16px 10px 16px;
    border: 1px solid;
    border-color: rgb(236, 237, 238);
    margin: 0 12px 0 0;
    background-color: #FFFFFF !important;
    cursor: pointer;
    min-width:80px;
}

.sw-wizard-wrapper div.sw-wizard-buttons .sw-btn-secondary:hover {
    text-decoration: none !important;
    border-color: #204a63 !important;
    color: #204a63 !important;
}

.sw-wizard-wrapper div.sw-wizard-buttons .sw-btn-secondary:disabled,
.sw-wizard-wrapper div.sw-wizard-buttons .sw-btn-secondary.sw-btn-disabled {
    color: #ABD5E3 !important;
    border-color: #ABD5E3 !important;
    pointer-events: none;
    cursor: default;
}

.sw-wizard-wrapper div.sw-wizard-buttons .sw-btn-primary {
    background-color: #297994 !important;
    border-color: #297994 !important;
    color: #FFFFFF !important;
}

.sw-wizard-wrapper div.sw-wizard-buttons .sw-btn-primary:hover {
    background-color: #204a63!important;
    border-color: #204a63 !important;
    color: #FFFFFF !important;
}

.sw-wizard-wrapper div.sw-wizard-buttons .sw-btn-primary:disabled,
.sw-wizard-wrapper div.sw-wizard-buttons .sw-btn-primary.sw-btn-disabled {
    background-color: #ABD5E3 !important;
    border-color: #ABD5E3 !important;
    color: #FFFFFF !important;
}

.sw-wizard-wrapper div.sw-wizard-buttons .sw-btn-tertiary {
    text-decoration: none !important;
    border-color: transparent !important;
    color: #297994 !important;
}

.sw-wizard-wrapper div.sw-wizard-buttons .sw-btn-tertiary:hover {
    text-decoration: none !important;
    border-color: transparent !important;
    color: #204a63 !important;
}

.sw-wizard-wrapper div.sw-wizard-buttons .sw-btn-tertiary:disabled,
.sw-wizard-wrapper div.sw-wizard-buttons .sw-btn-tertiary.sw-btn-disabled {
    color: #ABD5E3 !important;
    border-color: transparent !important;
    pointer-events: none;
    cursor: default;
}