﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="RenderControl.aspx.cs" Inherits="Orion_RenderControl" EnableSessionState="ReadOnly" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>this space intentionally left blank</title>
</head>
    <body>
    <form id="Form1" runat="server">
        <asp:ScriptManager id="ScriptManager1" runat="server" />
    </form>    
    </body>
</html>
