﻿<%@ Page Language="C#" MasterPageFile="~/Orion/OrionMasterPage.master" Title="<%$ HtmlEncodedResources: CoreWebContent, WEBDATA_ZS0_062 %>"
    CodeFile="Training.aspx.cs" Inherits="Orion_Training" %>