﻿.whatsNew .whatsNew_img {
    margin-right: 5px;
    vertical-align: top;
    width: 60px;
}

.whatsNew .title { 
    font-weight: bold;
    display: block;
}

.whatsNew a:hover { color: #f99d1c; }

.whatsNew table { border: 0px; }

.whatsNew .link { 
    text-decoration: underline;
}

.whatsNew .whoButton { 
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
 }

.whatsNew ul li { 
  margin-left: 20px; 
  margin-bottom: 0px; 
  list-style-type: disc;
}

.whatsNew ul{ 
  margin-bottom: 0px; 
  margin-top: 0px;
}


#scm-modal {
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

#scm-modal .scm-modal-overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: absolute;
    width: 100%;
}

#scm-modal .scm-modal-window {
    background: #FFF;
    border: 1px rgb(213, 213, 213) solid;
    height: 294px;
    left: 50%;
    margin-left: -214px;
    margin-top: -147px;
    padding: 10px;
    position: absolute;
    top: 50%;
    width: 428px;
}

#scm-modal .scm-modal-window-close {
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    /*
    background-image: url("images/ui-icons_ffffff_256x240.png");
    background-position: -96px -128px;
    width: 15px;
    height: 15px;
    */
    margin-left: auto;
    margin-right: 15px;
}

#scm-modal .scm-modal-window-header {
    align-items: center;
    background: rgb(32, 74, 99);
    color: #FFF;
    display: flex;
    height: 46px;
    padding: 0px 0px 0px 10px;
    text-transform: uppercase;
}

#scm-modal .scm-modal-window-description { margin: 10px 0px; }

#scm-modal .scm-modal-window-content {
    border: 1px rgb(201, 201, 201) solid;
    height: 154px;
    overflow-y: auto;
}

#scm-modal .scm-modal-window-content .scm-loader {
    padding: 20px;
    text-align: center;
}

#scm-modal .scm-modal-window-content .scm-error-message {
    color: #FF0000;
    padding: 20px;
    text-align: center;
}

#scm-modal .scm-modal-window-footer {
    align-items: center;
    border-top: 1px rgb(213, 213, 213) solid;
    bottom: 0px;
    display: flex;
    height: 50px;
    left: 0px;
    position: absolute;
    width: 100%;
}

.scm-modal-window-footer-button {
    border: none;
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;
    padding: 7px 15px;
    text-transform: uppercase;
}

.scm-modal-window-footer-button.primary {
    background: rgb(41, 121, 148);
    color: #FFF;
}

.scm-modal-window-footer-button.secondary {
    background: rgb(255, 255, 255);
    color: rgb(41, 121, 148);
}

.scm-modal-window-footer-button:focus { outline: none; }

.scm-modal-window-footer-button.disabled {
    cursor: default;
    opacity: 0.5;
}

.scm-getting-started-link {
    cursor: pointer;
}

.scm-hdr-link {
	text-align: right;
}
