.sw-scm-lighter {
	font-weight: lighter;
    color: gray;
}

.sw-scm-first-column-color {
	table-layout: fixed;
	border-spacing: 0px 2px;
}

.sw-scm-first-column-color th:first-child {
	width: 6px;
	padding: 0;
}

.sw-scm-change-type-added {
	background-color: #00C4D2;
}

.sw-scm-change-type-changed {
	background-color: #C99F22;
}

.sw-scm-change-type-deleted {
	background-color: #FF00A3;
}

.profile-templates-title { padding: 5px 0 5px 0; }
table.profiles-table { width: 100%; }
table.profiles-table th {
	 text-transform: uppercase; 
	 width: 30%;
	 text-align: left;
}
ul.profiles-checkboxes {
	list-style: none;
	padding: 0;
	margin: 0;
	max-height: 320px;
}
ul.profiles-checkboxes li {
	width: initial !important;
	padding: 2px 0;
}
ul.profiles-checkboxes li img {
	padding-right: 5px;
	position: relative;
	top: 2px;
}
