﻿.add-select-instance-step {
    margin: 5px 0 0 15px;
    width: 1032px;
}

.aad-select-instance-form {
        width: 600px;
        float: left;
    }

.aad-credential-tips {
    margin-left: 620px;
}

.aad-credential-tips div{
    background-color: #FFFDCC;
    border-color: #EACA7F;
}

.aad-list-item {
    margin: 10px 0 10px 0;
}

.aad-list-item-label {
    float: left;
    width: 170px;
}

.add-test-button-row,
.add-test-row {
    text-align: center;
}

.add-test-row-panel {
    margin-bottom: 5px;
    padding: 3px;
    vertical-align: bottom;
    margin-right: 5px;
}

.add-test-row-img {
    height: 16px;
    vertical-align: bottom;
    margin-right: 5px;
}

.add-test-successful-panel {
    background-color: #D6F6C6;
}

.add-test-failed-panel {
    background-color: #FEEE90;
    color: Red;
}

.non-secure-warning-container .non-secure-warning {
    min-height: 20px;
    padding: 7px 3px 3px 25px;
    margin-top: 10px;
    color: #000;
    font-size: 11px;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #EACA7F;
    background-color: #FFFDCC;
    background-image: url("/Orion/Images/warning_16x16.gif");
    background-position: 5px 5px;
    background-repeat: no-repeat;
}