﻿#appEditActiveDirectorySettings .testButtonRow, #appEditActiveDirectorySettings .testRow {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

    #appEditActiveDirectorySettings .testRow div {
        margin-bottom: 5px;
        padding-top: 4px;
    }

        #appEditActiveDirectorySettings .testRow div img {
            height: 16px;
            vertical-align: bottom;
            margin-right: 5px;
        }


        #appEditActiveDirectorySettings .testRow div.testSuccessful {
            background-color: #D6F6C6;
            width: 410px;
            font-size: 11px;
        }

        #appEditActiveDirectorySettings .testRow div.testFailed {
            background-color: #FEEE90;
            width: 410px;
            color: Red;
            font-size: 11px;
            word-wrap: break-word;
        }

        #appEditActiveDirectorySettings .testRow div.testFailed strong.exceptionText {
            padding: 5px 0px 0px 0px; 
            display: block;
        }

        #appEditActiveDirectorySettings td.edit label {
            font-weight: bold;
        }

#appEditActiveDirectorySettings #domainControllerPortNumberRow #domainControllerPortNumberError {
        display: none;
    }

#appEditActiveDirectorySettings #globalCatalogPortNumberRow #globalCatalogPortNumberError {
    display: none;
}
