﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditActiveAlerts.ascx.cs" Inherits="Orion_SEUM_Controls_EditActiveAlerts" EnableViewState="true" %>

<p>
    <b><%= showAcknowledgedLabel %>:</b><br />
    <asp:CheckBox ID="ShowAckAlertsCheckBox" runat="server" />
</p>
