﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditStepDetailsResource.ascx.cs" Inherits="Orion_SEUM_Controls_EditStepDetailsResource" %>

<p>
    <b><%= showActionsListLabel %>:</b>
    <asp:CheckBox runat="server" ID="showActionsCheckBox" />
</p>
