﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditLocationDetailsResource.ascx.cs" Inherits="Orion_SEUM_Controls_EditLocationDetailsResource" %>

<p>
    <asp:CheckBox runat="server" ID="hideUnmanagedCheckBox" />
</p>
