﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SEUMModuleDetails.ascx.cs" Inherits="Orion_SEUM_Admin_SEUMModuleDetails" %>

<%@ Register Src="~/Orion/Admin/Details/ModuleDetailsBlock.ascx" TagPrefix="orion" TagName="ModuleDetailBlock" %>

<orion:ModuleDetailBlock ID="SEUMDetails" runat ="server" />
