/*!
 * @solarwinds/vim 8.8.0-1179
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.vim-event-details-widget {
  color: #767676;
}
.vim-event-details-widget .table-value {
  font-weight: 700;
  color: #333333;
}
.vim-event-details-widget .table > tbody > tr > td {
  padding-left: 0px;
}
.vim-event-details-widget h4 {
  color: #AAAAAA;
}

/*# sourceMappingURL=eventDetailsWidget.css.map*/