﻿.apm_WizardContainer {
    width: 785px;
}

input, textarea {
    border: 1px solid #98AFC7;
    font-size: 9pt;
    font-weight: normal;
}

ul.components {
    list-style: none;
    padding: 5px 15px;
    border: solid 1px #dfdfde;
    margin-top: 5px;
}

    ul.components li {
        padding-left: 25px;
        height: 23px;
        line-height: 20px;
        background: url(/Orion/APM/Images/StatusIcons/Components/small-template.gif) left center no-repeat;
    }

ul#templates {
    overflow: hidden;
}

    ul#templates li input {
        vertical-align: middle;
        margin-left: 5px;
    }

    ul#templates li img {
        vertical-align: middle;
        margin-left: 3px;
    }

div#credentials .btnAdd {
    background-image: url(../../Images/icon_add.gif) !important;
}

div#credentials div.empty {
    text-align: center;
    padding: 5px;
    background-color: #E4F1F8;
}

#tree img.icon {
    width: auto;
    height: auto;
}

#tree img.hidden {
    display: none !important;
}

.x-grid3-body .x-grid3-td-numberer .x-grid3-cell-inner {
    text-align: center;
}

#selectedTemplatesContainer {
    vertical-align: top;
    background-color: #eee;
    width: 330px;
}

    #selectedTemplatesContainer div {
        width: 315px;
        padding: 5px;
        overflow: hidden;
        white-space: nowrap;
    }

ul#selectedTemplates li {
    height: 21px;
    margin-left: 15px;
    cursor: default;
}

    ul#selectedTemplates li table tbody tr td div {
        width: 274px;
        padding: 0px;
        font-size: 11px;
    }

#form table tr td {
    font-size: 8pt;
}

#form a {
    text-decoration: underline;
    color: #4779C4;
}

#form #testPanel {
    font-size: 8pt;
    padding-left: 5px;
}

    #form #testPanel table {
        margin-top: 20px;
        width: 100%;
    }

        #form #testPanel table .apm_TestResultMessages {
            margin-top: 0px;
            margin-left: 10px;
        }

    #form #testPanel th {
        font-weight: bold;
    }

    #form #testPanel td {
        height: 40px;
    }

    #form #testPanel #cmpName {
        width: 160px;
    }

#tree img.icon {
    width: auto;
    height: auto;
}

#tree img.hidden {
    display: none !important;
}

table .credTable td {
    padding: 5px 2px;
}

.ZebraBackground > li:nth-child(even) {
    background-color: #fff;
}

.ZebraBackground > li:nth-child(odd) {
    background-color: #f6f6f6;
}