﻿<%@ Master MasterPageFile="~/Orion/CloudMonitoring/CloudMonitoring.master" Language="C#" CodeFile="CloudMonitoringView.master.cs" Inherits="Orion_CloudMonitoring_CloudMonitoringView" %>

<%@ Import Namespace="Resources" %>

<%@ Register TagPrefix="orion" TagName="Refresher" Src="~/Orion/Controls/Refresher.ascx" %>
<%@ Register Src="~/Orion/Controls/IconHelpButton.ascx" TagPrefix="orion" TagName="IconHelpButton" %>


    <asp:Content ID="Head" ContentPlaceHolderID="HeadPlaceHolder" runat="server">
        <style type="text/css">
            body {
                background: #ecedee;
            }
        </style>
    </asp:Content>

    <asp:Content ContentPlaceHolderID="TopRightPageLinksPlaceHolder" runat="server" Visible="false">
    <!-- Top right corner links -->

    <!-- CloudMonitoring Settings link -->
    <% if (AllowCloudMonitoringSettings)
       { %>
        <a href="/Orion/CloudMonitoring/Admin/CloudMonitoringSettings.aspx" class="CloudMonitoring_SettingsIcon"><%= CloudMonitoringWebContent.CloudMonitoringSummary_CloudMonitoringSettingsLink %></a>
    <% } %>

    <!-- Customize page -->
    <% if (AllowCustomize)
       { %>
        <a id="A1" href="<%$ Code: CustomizeViewHref %>" class="custPageLink" runat="server"><%= CoreWebContent.WEBDATA_TM0_241 %></a>
    <% } %>

    <!-- Help link -->
    <orion:IconHelpButton ID="btnHelp" runat="server" Visible="false"/>

    <!-- Timestamp -->
    <% if (AllowViewTimestamp)
       { %>
        <div style="padding-top: 5px; font-size: 8pt; text-align: right;" id="viewTimestamp" runat="server">
            <%= DateTime.Now.ToString("F") %>
        </div>
    <% } %>
</asp:Content>

<asp:Content ID="PageContent" ContentPlaceHolderID="PageContentPlaceHolder" Runat="Server">
    <asp:ScriptManagerProxy ID="scriptManager" runat="server"/>
    <orion:Refresher runat="server"/>

    <asp:ContentPlaceHolder runat="server" ID="MainContentPlaceHolder"/>
</asp:Content>
