
body.sw-map-pointermode .leaflet-layer { cursor: crosshair; } /* used to trigger the crosshair after clicking 'add' */
body.sw-map-pointermode .leaflet-objects-pane .leaflet-overlay-pane {z-index: 1} /*fix for Firefox FB345737*/
div.sw-wmap-popup .sw-wmap-line, .sw-wmap-details .sw-wmap-line { margin-bottom: 3px; }
div.sw-wmap-popup .sw-wmap-line img, .sw-wmap-details .sw-wmap-line img { margin-right: 5px; }
div.sw-wmap-popup .sw-wmap-more { margin: 0 2px 2px 2px; padding: 2px; background-color: #bbbbbb; }
div.sw-wmap-popup .sw-wmap-subheader { font-weight: bold; margin: 4px 0 4px 0; }

.leaflet-control-zoom a.reset-location-zoom { -webkit-border-radius: 4px; border-radius: 4px; background-image: url('/orion/images/worldmap/icon-map-reset.png'); background-position: center center;border-bottom: none;}
.leaflet-control-zoom a.reset-location-zoom:hover { background-image: url('/orion/images/worldmap/icon-map-reset-hover.png'); }