/*
[pc] original file: leaflet.ie.css. 
[pc] note: all rules prefixed with .sw-is-msie
*/

.sw-is-msie .leaflet-vml-shape {
	width: 1px;
	height: 1px;
	}
.sw-is-msie .lvml {
	behavior: url(#default#VML);
	display: inline-block;
	position: absolute;
	}

.sw-is-msie .leaflet-control {
	display: inline;
	}

.sw-is-msie .leaflet-popup-tip {
	width: 21px;
	_width: 27px;
	margin: 0 auto;
	_margin-top: -3px;

	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
	}
.sw-is-msie .leaflet-popup-tip-container {
	margin-top: -1px;
	}
.sw-is-msie .leaflet-popup-content-wrapper, .leaflet-popup-tip {
	border: 1px solid #999;
	}
.sw-is-msie .leaflet-popup-content-wrapper {
	zoom: 1;
	}

.sw-is-msie .leaflet-control-zoom,
.sw-is-msie .leaflet-control-layers {
	border: 3px solid #999;
	}
.sw-is-msie .leaflet-control-zoom a {
	background-color: #eee;
	}
.sw-is-msie .leaflet-control-zoom a:hover {
	background-color: #fff;
	}
.sw-is-msie .leaflet-control-layers-toggle {
	}
.sw-is-msie .leaflet-control-attribution,
.sw-is-msie .leaflet-control-layers,
.sw-is-msie .leaflet-control-scale-line {
	background: white;
	}
.sw-is-msie .leaflet-zoom-box {
	filter: alpha(opacity=50);
	}
.sw-is-msie .leaflet-control-attribution {
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
	}
