/*!
 * @solarwinds/account-management 1.4.0-1701
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.account-management-saml-page {
  min-height: 100px;
}
.account-management-saml-page__expander {
  margin-top: 20px;
}
.account-management-saml-page__copy-box-border {
  border: 1px solid #D5D5D5;
  margin-bottom: 10px;
  padding: 10px 0 5px 10px;
}
.account-management-saml-page__copy-box-border:last-child {
  margin-bottom: 0;
}
.account-management-saml-page__copy-box-inner {
  padding-right: 10px;
  max-height: 200px;
}
.account-management-saml-page__copy-box-item {
  display: flex;
  justify-content: space-between;
}
.account-management-saml-page__aw-error-msg {
  color: #D30112;
  padding: 10px 0 0 25px;
  font-weight: 700;
  font-size: 11px;
}
.account-management-saml-page__header-wrapper {
  padding-bottom: 3px;
}
.account-management-saml-page__description {
  font-size: 11px;
  color: #777777;
}
.account-management-saml-page__no-idp-yet {
  text-align: center;
}
.account-management-saml-page__opacity {
  opacity: 0.4;
}
.account-management-saml-page__enter-orion-url_aw {
  max-height: 230px;
  padding-right: 14px;
}
.xui .account-management-saml-page__idp-summary-active-accounts {
  font-size: 11px;
  margin-bottom: 10px;
  color: #A0A0A0;
}
.xui .account-management-saml-page__idp-summary-buttons {
  float: right;
}
.xui .account-management-saml-page__learn-more-link {
  position: absolute;
  top: 65px;
  right: 15px;
  font-size: 12px;
}
.xui .account-management-saml-page .xui-switch__label {
  padding-top: 3px;
}
.xui .xui-breadcrumb {
  margin: 15px 0 0 20px;
}
.xui .xui-textbox__input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8D8D8D;
  opacity: 1;
  /* Firefox */
}
.xui .xui-textbox__input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #8D8D8D;
}
.xui .xui-textbox__input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #8D8D8D;
}
.xui .xui-button-small-buttons {
  min-width: 50px;
}
.xui .xui-button.btn-sm {
  min-width: 50px;
  border-width: 5px;
  padding: 0px;
}
.modal-dialog {
  min-width: 600px;
}

/*# sourceMappingURL=account.css.map*/