﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Orion/APM/Admin/Edit/ComponentEditors/ComponentEditorWithCredentials.master" %>
<%@ MasterType VirtualPath="~/Orion/APM/Admin/Edit/ComponentEditors/ComponentEditorWithCredentials.master" %>

<asp:Content ContentPlaceHolderID="CredentialsMonitorComponentTypePlaceholder" Runat="Server">
    <apm:ComponentTypeEditor ComponentType="FtpUserExperience" runat="server" />
</asp:Content>

<asp:Content ContentPlaceHolderID="CredentialsMonitorComponentEditorPlaceholder" Runat="Server">
    <script type="text/javascript">
<% if (Master.IsMultiEditMode) { %>
        (function () {
            var cmpId = <%= Master.ComponentId %>;
            var cmpIds = <%= Master.ComponentIds %>;
            var editApp = SW.APM.EditApp;
            
			var onLoad = function(app) {
                var cmp = SW.APM.EditApp.ComponentDefinitions["FtpUserExperience"];
				editApp.initMultiUiState($('#cmpPortNumber' + cmpId), cmp.DefinitionSettings, "PortNumber");
				editApp.initMultiUiState($('#cmpUrl' + cmpId), cmp.DefinitionSettings, "Url");
				editApp.initMultiUiState($('#cmpUseProxy' + cmpId), cmp.DefinitionSettings, "UseProxy");
				editApp.initMultiUiState($('#cmpProxyAddress' + cmpId), cmp.DefinitionSettings, "ProxyAddress");
				editApp.initMultiUiState($('#cmpPassive' + cmpId), cmp.DefinitionSettings, "UsePassive");
				editApp.initMultiUiState($('#cmpFileHash' + cmpId), cmp.DefinitionSettings, "SnapshotHash");
			    editApp.initMultiUiThreshold($("#cmpResponseThreshold" + cmpId), cmp.DefinitionSettings,"Response");
			};
            var onSave = function(app) {
                var cmp = app.getMultiEditComponent();
            	editApp.updateMultiModelFromUi($('#cmpPortNumber' + cmpId), cmp.Settings, "PortNumber", cmpIds);
                editApp.updateMultiModelFromUi($('#cmpUrl' + cmpId), cmp.Settings, "Url", cmpIds);
            	editApp.updateMultiModelFromUi($('#cmpUseProxy' + cmpId), cmp.Settings, "UseProxy", cmpIds);
            	editApp.updateMultiModelFromUi($('#cmpProxyAddress' + cmpId), cmp.Settings, "ProxyAddress", cmpIds);
            	editApp.updateMultiModelFromUi($('#cmpPassive' + cmpId), cmp.Settings, "UsePassive", cmpIds);
            	editApp.updateMultiModelFromUi($('#cmpFileHash' + cmpId), cmp.Settings, "SnapshotHash", cmpIds);
                editApp.updateMultiThresholdFromUi($("#cmpResponseThreshold" + cmpId), cmp.Thresholds,"Response", cmpIds); 
			};
            editApp.Grid.registerMultiEditor(cmpIds, onLoad, onSave);
        })();
	<% } else { %>
        (function() {
            var cmpId = <%= Master.ComponentId %> ;
            var editApp = SW.APM.EditApp;
            
            var onLoad = function(model) {
                SW.APM.EditApp.ComponentsThatLoadingNow.push(cmpId);
                SW.APM.EventManager.fire("onComponentLoading");
                var componentContainer = $("#componentEditorForm" + cmpId);
                var parentComponentContainer;
                
                 if ($.browser.msie) {
                     parentComponentContainer = componentContainer.parent().parent()[0];
                 } else {
                     parentComponentContainer = componentContainer.parent()[0];
                 }

                var mLoading = new Ext.LoadMask(parentComponentContainer, { msg: "<%= Resources.APMWebContent.LoadingComponentEditorSettings%>" });
                mLoading.show();
                
                var cmp = this;
                var template = model.getComponentTemplate(cmp.TemplateId);
                var templateSettings = template ? template.Settings : null;
                var templateThresholds = template ? template.Thresholds : null;

                var chunkItemsToProceed = [
                    { func: editApp.initUiState, args: [$('#cmpDesc' + cmpId), 'UserDescription', cmp, template] },
                    { func: editApp.initUiState, args: [$('#cmpDisabled' + cmpId), 'IsDisabled', cmp, template] },
                    { func: editApp.initUiState, args: [$('#cmpPortNumber' + cmpId), 'PortNumber', cmp.Settings, templateSettings] },
                    { func: editApp.initUiState, args: [$('#cmpUrl' + cmpId), 'Url', cmp.Settings, templateSettings] },
                    { func: editApp.initUiState, args: [$('#cmpUseProxy' + cmpId), 'UseProxy', cmp.Settings, templateSettings] },
                    { func: editApp.initUiState, args: [$('#cmpProxyAddress' + cmpId), 'ProxyAddress', cmp.Settings, templateSettings] },
                    { func: editApp.initUiState, args: [$('#cmpPassive' + cmpId), 'UsePassive', cmp.Settings, templateSettings] },
                    { func: editApp.initUiState, args: [$('#cmpFileHash' + cmpId), 'SnapshotHash', cmp.Settings, templateSettings] },
                    {
                        func: editApp.addCredentialSets,
                        args: [$('#cmpCredential' + cmpId), function() {
                            editApp.initUiState($('#cmpCredential' + cmpId), 'CredentialSetId', cmp, template);
                        }]
                    },
                    { func: editApp.initThreshold, args: [$('#cmpResponseThreshold' + cmpId), 'Response', cmp.Thresholds, templateThresholds] },
                    { func: editApp.initUiState, args: [$('#cmpNotes' + cmpId), 'UserNote', cmp, template] }
                ];
                
                var initSetting = function (settingItem) {
                    var func = settingItem["func"];
                    var args = settingItem["args"];

                    func.apply(this, args);
                };

                SW.APM.EditApp.Utility.chunk(chunkItemsToProceed, initSetting, function () { 
                 mLoading.hide(); 
                 var index = SW.APM.EditApp.ComponentsThatLoadingNow.indexOf(cmpId);
                 SW.APM.EditApp.ComponentsThatLoadingNow.splice(index,1);
                 SW.APM.EventManager.fire("onComponentLoading");
               });
            };

            var onSave = function(model) {
                var cmp = this;
                var isTemplate = !model.haveTemplate();
                
                editApp.updateModelFromUi($('#cmpDesc' + cmpId), cmp.UserDescription, isTemplate);
                editApp.updateModelFromUi($('#cmpDisabled' + cmpId), cmp.IsDisabled, isTemplate);

                editApp.updateModelFromUi($('#cmpCredential' + cmpId), cmp.CredentialSetId, isTemplate);
                editApp.updateModelFromUi($('#cmpPortNumber' + cmpId), cmp.Settings.PortNumber, isTemplate);
                editApp.updateModelFromUi($('#cmpUrl' + cmpId), cmp.Settings.Url, isTemplate);
                editApp.updateModelFromUi($('#cmpUseProxy' + cmpId), cmp.Settings.UseProxy, isTemplate);
                editApp.updateModelFromUi($('#cmpProxyAddress' + cmpId), cmp.Settings.ProxyAddress, isTemplate);
                editApp.updateModelFromUi($('#cmpPassive' + cmpId), cmp.Settings.UsePassive, isTemplate);
                editApp.updateModelFromUi($('#cmpFileHash' + cmpId), cmp.Settings.SnapshotHash, isTemplate);

                editApp.updateThresholdModelFromUi($('#cmpResponseThreshold' + cmpId), cmp.Thresholds.Response, isTemplate);
                editApp.updateModelFromUi($('#cmpNotes' + cmpId), cmp.UserNote, isTemplate);
            };
            editApp.Grid.registerEditor(cmpId, onLoad, onSave);
        })();
		<% }%>
    </script>
		<apm:NumericEditor DisplayText="<%$ Resources: APMWebContent, EditComponentEditors_PortNumber %>" BaseValueName="cmpPortNumber" ElementId="<%# Master.ComponentId%>" MinValue="0" EditorMode="<%# Master.EditMode%>" runat="server"  />
        <apm:StringEditor DisplayText="<%$ Resources: APMWebContent, EditComponentEditors_Url %>" BaseValueName="cmpUrl" ElementId="<%# Master.ComponentId %>" EditorMode="<%# Master.EditMode%>" runat="server"  />
        <apm:BooleanCheckBoxEditor DisplayText="<%$ Resources: APMWebContent, EditComponentEditors_UseProxy %>" BaseValueName="cmpUseProxy" ElementId="<%# Master.ComponentId%>" EditorMode="<%# Master.EditMode%>" runat="server"  />
        <apm:StringEditor DisplayText="<%$ Resources: APMWebContent, EditComponentEditors_ProxyAddress %>" Required="false" BaseValueName="cmpProxyAddress" ElementId="<%# Master.ComponentId%>" EditorMode="<%# Master.EditMode%>" runat="server"  />
        <apm:BooleanCheckBoxEditor DisplayText="Passive mode" BaseValueName="cmpPassive" ElementId="<%#Master.ComponentId%>" EditorMode="<%# Master.EditMode%>" runat="server"  />
        <apm:FileUpload DisplayText="<%$ Resources: APMWebContent, EditComponentEditors_CurrentSnapshotChecksum %>" BaseValueName="cmpFileHash" ElementId="<%#Master.ComponentId%>" EditorMode="<%# Master.EditMode%>" runat="server" />
		<apm:ThresholdEditor DisplayText="<%$ Resources: APMWebContent, EditComponentEditors_ResponseTime %>" BaseValueName="cmpResponseThreshold" ElementId="<%#Master.ComponentId%>" EditorMode="<%# Master.EditMode%>" runat="server"  />
</asp:Content>
