﻿.mainAppEditContent a { color: #336699; }
.margin-bottom-m3 { margin-bottom: -3px; }
.mainAppEditContent div, .mainAppEditContent td { font-size: 12px; vertical-align: top;}

table#pageHeader { min-width: 1133px; }
#pageTitle, #pageTitle a {padding:0px 0px 10px 0px; margin:0px; font-size:12pt; text-decoration:none;color: black; }
#pageTitle a img {margin-bottom:-10px;}

div#divAppliedApps img, div#moreContent img { margin-bottom:-5px; padding-top:10px; }
input, textarea, keygen, select, button, td { font-family: 'Open Sans', helvetica, sans-serif!important; }

table#appEditContent {width:100%;}
table#appEditContent table{width:100%;}
table#appEditContent input, textarea{border:solid 1px #98AFC7;font-size:12px;font-weight:normal;}
table#appEditContent input[type=image],
table#appEditContent input[type=radio] { border: none; }
table#appEditContent select{border:solid 1px #98AFC7;font-size:12px;font-weight:normal;}
table#appEditContent tr td{padding:2px;vertical-align: top;}

tr.dynamic-settings table { border: none; }
tr.dynamic-settings .hidden { display: none; }
tr.dynamic-settings table.apm_ColorE4F1F8 div.script-arguments { font-family: Courier New; font-size: 12px; }
tr.dynamic-settings table.apm_ColorE4F1F8 div.script-body { width: 100%; height: 100px; overflow-y: scroll; font-family: Courier New; font-size: 12px; }
tr.dynamic-settings tr[id$=ctrDefineSettingContainer] span.ChangeTestNodeMessage { margin-left: 0px!important;  }
tr.dynamic-settings table[id$=ctrColumnContainer] a.remove { text-decoration: none!important; }

table.appProperties{padding:5px;}
table.appProperties tr td{padding:0px 0px 7px 0px;}
table.appProperties .label{width:250px;height:22px;font-weight:bold;cursor:default;vertical-align:top; }
table.appProperties .edit.number{width:150px;}
table.appProperties .edit.name{width:500px;}
table.appProperties .indended{ padding-left:20px; width: 180px;}

.collapsable { cursor: pointer; }
.overrideLink {
     white-space: nowrap; 
     width: 121px; 
     padding-left: 2px; 
     padding-right: 2px;
}
.overrideLink .sw-btn-c { width: 95%;text-align: center;}
.sw-btn-c .sw-btn-t { margin-right: auto; margin-left: auto; display: block; }
.mainAppEditContent { padding-left: 10px; width:80%; }

.mainAppEditContent	.buttonBar { padding: 25px 0 30px 0; }
.mainAppEditContent	.buttonBar .sw-btn-cancel { padding-left: 15px; }

.advancedTitle { padding-left:3px; font-weight: bold; }

.boxedContent { border: 1px #CCCCCC solid; padding: 10px; background-color: white; min-width: 1100px; }

#componentHeader { padding: 20px 0 10px 0; }
#componentHeader h2 { font-size: 13px;font-weight: bold;}

/**** Component Grid Styles ****/

.disabledText { color: lightgray; }

/* We don't want the expanded row body to be shifted over any.*/
.x-grid3-row .x-grid3-row-body-tr td.x-grid3-body-cell { padding-left: 0; padding-right: 0; }

.x-form-invalid, textarea.x-form-invalid { background-color: transparent; }

#grid .x-grid3-row-selected { background-color: #FFE89E!important; border-color: #FFE89E; }
#grid .x-grid3-cell-inner { font-weight: bold; }
#grid .x-grid3-row-table .x-grid3-cell img.row-img { margin-bottom: -3px; }
#grid .x-grid3-td-expander { vertical-align: top; }
#grid td.x-grid3-td-checker + td {vertical-align: top;}


#grid .x-grid3-row-expanded  td.x-grid3-cell-first  {vertical-align: top;}

.disabledText.x-grid3-row-selected { color: #888; }

.mainAppEditContent	.x-grid3-row-expander { background-image: url("/Orion/APM/Images/Admin/row-expand-sprite.gif"); height: 24px; }
.mainAppEditContent .x-grid3-row-collapsed .x-grid3-row-expander { background-position: 4px 6px; }
.mainAppEditContent .x-grid3-row-expanded .x-grid3-row-expander { background-position: -21px 6px; }
.mainAppEditContent .x-grid3-body .x-grid3-td-expander { background-image: none; }

.componentEditContent {
  margin: .5em;
  margin-right: 1.5em;
  padding: 1em;
  background-color: white;
  color: black;
  border: 1px solid lightgrey;
}

body.ext-ie7 .componentEditContent { overflow-x: hidden; }

/***** Editor Styles  *****/

/* Based on http://www.sencha.com/learn/grid-faq/ (How to select text in the grid (with the mouse)
   so that it can be copied to the clipboard).  This is the same CSS selector that turns off the
   selection in the cells.  Here I set it to -moz-none to allow overriding parent's select none setting. */
.x-grid3-row td, .x-grid3-summary-row td { -moz-user-select: -moz-none; }

/* Now let the user select stuff inside our editor. */
.ComponentEditorParent .settingsTable { width: 100%; border-collapse: collapse; }
.ComponentEditorParent .settingsTable tbody tr { min-height: 24px;}
.ComponentEditorParent .settingsTable tbody tr.helpContainer { height: inherit; }
.ComponentEditorParent .settingsTable tbody tr.thresholdEditor { height: 52px;}
.sw-is-msie .ComponentEditorParent .settingsTable tbody tr.thresholdEditor { height: 50px;}
.ComponentEditorParent .settingsTable tbody tr td { padding-top: .5em; padding-bottom: .5em; -moz-user-select: text; -khtml-user-select: text; -webkit-user-select:text; user-select: text; }
.ComponentEditorParent .settingsTable tbody tr td.columnOverride { width: 12%; text-align: center; }
.ComponentEditorParent .settingsTable tbody tr td.columnLabel { width: 23%; vertical-align: top; }
.ComponentEditorParent .settingsTable td.thresholdColumnLabel { width: 90px !important; }
.ComponentEditorParent .settingsTable table.thresholdTable { position:relative; margin-left:-95px; min-width:642px; }
.ComponentEditorParent .settingsTable tbody tr.helpContainer td { padding-top: 0px; }

.ComponentEditorParent .settingsTable tbody tr.fips-warning-container {
	display: none;
}
.ComponentEditorParent .settingsTable tbody tr.fips-warning-container td {
	padding-top: 0px;
}
.ComponentEditorParent .settingsTable tbody tr.non-secure-warning-container td {
    padding-top: 0;
}
.ComponentEditorParent .settingsTable tbody tr.fips-warning-container td div.fips-warning, tr.non-secure-warning-container td div.non-secure-warning {
	min-height: 20px; padding: 7px 3px 3px 25px; margin-top: 3px;
	color: #000; font-size: 11px;
	border-style: solid; border-radius: 6px; border-width: 1px; border-color: #EACA7F; background-color:#FFFDCC;
	background-image: url("/Orion/Images/warning_16x16.gif"); background-position: 5px 5px; background-repeat: no-repeat;
}
.ComponentEditorParent .settingsTable tbody tr.fips-warning-component-container td {
    padding-top: 0;
}

.ComponentEditorParent .settingsTable tbody tr.fips-warning-component-container td div.fips-warning {
    min-height: 20px; padding: 7px 3px 3px 25px; margin-top: 3px;
    color: #000; font-size: 11px;
    border-style: solid; border-radius: 6px; border-width: 1px; border-color: #EACA7F; background-color: #FFFDCC;
    background-image: url("/Orion/Images/warning_16x16.gif"); background-position: 5px 5px; background-repeat: no-repeat;
}
.ComponentEditorParent .settingsTable tbody[id^=column-edit-container-item] td { padding-top: 5px; padding-bottom:2px; }
.ComponentEditorParent .settingsTable tbody[id^=column-edit-container-item] tr.dynamic-settings:first-child td.top { border-top:1px solid lightgrey; }
.ComponentEditorParent .settingsTable tbody[id^=column-edit-container-item] tr td.columnLabel { width: 90px; }
.ComponentEditorParent .settingsTable tbody[id^=column-edit-container-item] tr td.columnOverride { width: 16%; padding: 5px 0px 0px 5px; }
.ComponentEditorParent .settingsTable div.settings-group-row { margin-left: 0px; font-weight: bold; }
.ComponentEditorParent .settingsTable .componentTypeEditorContainer .columnEditor div { padding:0px 5px 5px 0px; }
.ComponentEditorParent .settingsTable .componentTypeEditorContainer .columnEditor div.name { font-weight:bold; }
.ComponentEditorParent .settingsTable .componentTypeEditorContainer .columnEditor img { position:relative; top:3px; }

.ComponentEditorParent .editor .stringEditor { padding-top: 10px; }
.ComponentEditorParent .editor textarea, .ComponentEditorParent .editor div.grippie { width: 98%; }

.ComponentEditorParent .editor table { float:left; }
.ComponentEditorParent .editor table tr.thresholdEditor { height: 25px; }
.ComponentEditorParent .editor table tr.thresholdEditor td.title { width: 284px; }
.ComponentEditorParent .editor tr.thresholdEditor td.title > select { width:13em;}
.ComponentEditorParent .editor table tr.thresholdEditor td.baselineIcon { padding-top:23px; width:20px; }
.sw-is-msie-7 .ComponentEditorParent .editor table tr.thresholdEditor td.baselineIcon { padding-top:27px; }
.ComponentEditorParent .editor table tr.thresholdEditor td.baselineInfo { padding-top:0px; vertical-align: top; }
.ComponentEditorParent .editor table tr.thresholdEditor .columnOverride { vertical-align:middle; }
.ComponentEditorParent .editor table tr.thresholdEditor .columnLabel { padding-left: 40px; }
.ComponentEditorParent .editor table tr.thresholdEditor .columnLabel img { position: relative; top: 3px; padding-right: 3px; }
.ComponentEditorParent .editor table tr.thresholdEditor .columnLabel span { display:inline-block; }
.ComponentEditorParent .editor table tr.thresholdEditor span.thresholdOpStatic { display: inline-block; float: none; width:12.75em; padding: 3px 0 2px 0.25em; }
.sw-is-msie .ComponentEditorParent .editor table tr.thresholdEditor select.thresholdOperator { padding-left: 3px; }
.ComponentEditorParent .editor table tr.thresholdEditor input[type=text] { width: 9em; float:none; height:16px; }
.sw-is-msie-7 .ComponentEditorParent .editor table tr.thresholdEditor input[type=text] { float:none; }
.sw-is-msie-7 .ComponentEditorParent .editor table tr.criticalThreshold td { padding-top: 0px; }
div.pollsCountContainer {vertical-align: middle;}
.ComponentEditorParent .editor table tr.warningThreshold div.pollsCountContainer { margin:5px 0 0 8px; height:20px; }
.ComponentEditorParent .editor table tr.criticalThreshold div.pollsCountContainer { margin:5px 0 0 8px; height:20px; }
.ComponentEditorParent .editor table tr.thresholdEditor div.pollsCountContainer span.selection { cursor:pointer; padding: 2px 0 1px 2px;  display:inline-block;}
.ComponentEditorParent .editor table tr.thresholdEditor div.pollsCountContainer img.selection { cursor:pointer; width:12px; height:15px; position:relative; top:3px; }
.sw-is-msie .ComponentEditorParent .editor table tr.thresholdEditor div.pollsCountContainer img.selection { height:13px; }
.ComponentEditorParent .editor table tr.thresholdEditor div.pollsCountContainer span.pollsSingle { display: inline-block; padding-top:3px; cursor:pointer; margin-bottom:2px; }
.ComponentEditorParent .editor table tr.thresholdEditor div.pollsCountContainer input.count { width:30px; float:none; text-align:center; }
.ComponentEditorParent .editor table tr.thresholdEditor div.pollsCountContainer div.popup { width:140px; height:75px; display:none; position: absolute; border: 1px solid lightgray; z-index: 1; border-radius:4px; background-color:#FFFFFF; padding:5px; }
.ComponentEditorParent .editor table tr.thresholdEditor div.pollsCountContainer div.popup div.type { height:15px; padding:5px; font-size:12px; }
.ComponentEditorParent .editor table tr.thresholdEditor div.pollsCountContainer div.popup div.type:hover { background-color:lightgray; cursor:pointer; }
.ComponentEditorParent .editor table tr.thresholdEditor div.pollsCountContainer div.popup div.type input { margin-right:7px; position:relative; top:2px; }
.ComponentEditorParent .editor table tr.thresholdEditorEmptyLine { height: auto; }
.ComponentEditorParent .editor table tr.thresholdEditorEmptyLine td { padding:0px; }

.ComponentEditorParent .viewer { width: 98%; }
.ComponentEditorParent .viewer table tr.thresholdViewer { height: 25px; }
.ComponentEditorParent .viewer table tr.thresholdViewer td.warningMessage { padding-top: 12px; width:308px; }
.ComponentEditorParent .viewer table tr.thresholdViewer td.criticalMessage { padding-top: 12px; }
.ComponentEditorParent .viewer table tr.thresholdViewerEmptyLine { height: auto; }

.ComponentEditorParent table.columnTemplateThreshold { width: 100%; }
.ComponentEditorParent table.columnTemplateThreshold tr td.columnEditor.edit.number > .viewer > table tr > td.warningMessage { padding-top: 8px; width:308px; }
.ComponentEditorParent table.columnTemplateThreshold tr td.columnEditor.edit.number > .viewer > table tr > td.criticalMessage { padding-top: 8px; }


.ComponentEditorParent .helpText { color: Gray; font-size: 8pt; }

.ComponentEditorParent a { color:#336699; }
.ComponentEditorParent a.thresholdsHelpLink { display:none; font-size:12px; }

.ComponentEditorParent .subEditor { background-color: #F0F0F0; }
.ComponentEditorParent .subEditor .columnLabel { padding-left: 40px; }

.ComponentEditorParent .sw-suggestion { font-size:11px; }

#formErrors { margin: 20px 30px 0px 20px }
.validationMsg { margin-left:0px; margin-top:3px; }

/*dynamic columns*/
tbody[id^=column-edit-cnt] { /*display: none;*/ }
tbody[id^=column-edit-cnt] td.columnLabel.edit.label { width: 130px; }
tbody[id^=column-edit-cnt] td.columnEditor.edit.number { width: 500px; }

/* BaseLine Thresholds */
.baseline a { cursor:pointer; font-size:11px; color:#336699; }

.editor .templateEditor div.useBaseline { height:45px; padding-top:10px; padding-left:10px; }
.editor .templateEditor div.info { font-size:11px; color:gray; width:330px; padding:3px 0px 5px 0px; clear:both; }

.editor .applicationEditor div.useLatestBaseline { background-color: #F0FFFF; padding: 5px 10px; border:1px solid #E0EEEE; border-radius: 5px; margin-top: 8px; }
.editor .applicationEditor div.useLatestBaseline div.info { font-size:11px; color:gray; padding-top:5px; clear:both; }
.editor .applicationEditor div.useLatestBaseline button { background-image: url("/orion/images/btn_sprites.png"); border: 1px solid grey; border-radius: 4px; cursor: pointer; font-size: 11px; height: 18px; padding-bottom: 2px; margin-bottom:5px; border-top:0; border-left:0; }

.baselineDialog { display:none; padding:0px; }
.baselineDialog div.container span.bold { font-weight:bold; }
.baselineDialog div.container p.section { margin:10px 0px;  }
.baselineDialog div.container ol { list-style: decimal; padding:5px 5px 5px 40px; font-size:12px; }
.baselineDialog div.container ol li { padding:10px 0px; }
.baselineDialog div.container input.hidden { display: none; }
.baselineDialog div.container div.sw-btn-bar { clear: both; text-align: right; padding-top:10px; margin:0px; }

.ui-widget-content { background: #FFFFFF; }

.ui-dialog-titlebar a { margin: -14px 0 0; padding: 1px; position: absolute; right: 2.3em; top: 50%; cursor:pointer; }
div.ui-dialog-titlebar a:hover, div.ui-dialog-titlebar a:visited { color: #ffffff; }
div.ui-dialog-titlebar a span.helpText { font-size: 12px; position: relative; top: -7px; }

#LatestBaselineDetails div.container div.sw-btn-bar { height: 0; position: relative; top: -25px; padding-top:0px; }
#LatestBaselineDetails div.container div.tooltipContainer { display: none; background-color: #FFFFFF; position: absolute; border: 1px solid lightgray; z-index: 1; padding:10px; border-radius:4px; box-shadow: 5px 5px 5px 0px #000000; width:170px; }
#LatestBaselineDetails div.container div.tooltipContainer span.title { font-size:11px; font-weight: bold; }
#LatestBaselineDetails div.container div.tooltipContainer span.timeFrames { font-size:10px; display:block; padding-top: 5px; }
#LatestBaselineDetails div.container div.leftColumnWrapper { float: left; width: 100%;}
#LatestBaselineDetails div.container div.leftColumnWrapper div.leftColumn { margin-right: 320px; padding: 0 10px 10px 0;  border-right: 2px solid lightgray; }
#LatestBaselineDetails div.container div.leftColumnWrapper div.leftColumn div p.sectionHeader { font-weight:bold; padding:10px 0px; font-size:12px; }
#LatestBaselineDetails div.container div.leftColumnWrapper div.leftColumn div p.sectionHeader span.thresholdName { font-weight:normal; }
#LatestBaselineDetails div.container div.leftColumnWrapper div.leftColumn div.statistics { border-top: 1px solid lightgray; margin-top:10px; }
#LatestBaselineDetails div.container div.leftColumnWrapper div.leftColumn div.statistics div.legendContainer { float:left; }
#LatestBaselineDetails div.container div.leftColumnWrapper div.leftColumn div.statistics div.legend { margin: 5px 0px; font-size:12px; }
#LatestBaselineDetails div.container div.leftColumnWrapper div.leftColumn div.statistics div.legend div { width: 20px; height: 15px; float: left; }
#LatestBaselineDetails div.container div.leftColumnWrapper div.leftColumn div.statistics div.resetContainer { float:right; margin-top:10px; }
#LatestBaselineDetails div.container div.leftColumnWrapper div.leftColumn div.statistics .warning { background-color:#FAFABA;  }
#LatestBaselineDetails div.container div.leftColumnWrapper div.leftColumn div.statistics .critical { background-color:#EEC4C3; }
#LatestBaselineDetails div.container div.leftColumnWrapper div.leftColumn div.statistics .recommendedWarning { border:2px solid #FAFABA;  }
#LatestBaselineDetails div.container div.leftColumnWrapper div.leftColumn div.statistics .recommendedCritical { border:2px solid #EEC4C3; }
#LatestBaselineDetails div.container div.rightColumn { float: left; width: 310px; margin-left: -320px; padding:0px 0px 10px 10px; }
#LatestBaselineDetails div.container div.rightColumn div.section { padding-bottom:10px; margin-bottom:10px; background-color: #EEEEEE;  }
#LatestBaselineDetails div.container div.rightColumn div.section p { font-size: 11px; margin:10px; }
#LatestBaselineDetails div.container div.rightColumn div.section p.sectionHeader { background-color: #CCCCCC; padding: 3px 5px; margin:0; }

#LatestBaselineDetails #CurrentThresholdSettings table tr { height:20px; }
#LatestBaselineDetails #CurrentThresholdSettings table tr td { font-size:12px; }
#LatestBaselineDetails #CurrentThresholdSettings table tr.label { height:25px; vertical-align:bottom; }
#LatestBaselineDetails #CurrentThresholdSettings table tr.label td { padding-left:3px; }
#LatestBaselineDetails #CurrentThresholdSettings table tr td.operator { width: 166px; padding-left:15px; }
#LatestBaselineDetails #CurrentThresholdSettings table tr td.value { width: auto; }
#LatestBaselineDetails #CurrentThresholdSettings table tr td.value input { width: 100px; }
#LatestBaselineDetails #CurrentThresholdSettings table tr td.baselineIcon { width: 14px; padding:3px 0 0 3px; }
#LatestBaselineDetails #CurrentThresholdSettings table tr.button { height:35px; vertical-align:bottom; }
#LatestBaselineDetails #CurrentThresholdSettings table tr.button td.button { text-align:right; padding-right:5px; }
#LatestBaselineDetails #CurrentThresholdSettings table tr.button td.button button { background-image: url("/orion/images/btn_sprites.png"); border: 1px solid grey; border-radius: 4px; cursor: pointer; font-size: 11px; height: 18px; padding-bottom: 2px; margin-bottom:5px; border-top:0; border-left:0;  width:180px; }

#LatestBaselineDetails #tblStatistics { border: 1px solid lightgray; table-layout: fixed; min-width: 490px; width:100%; font-size: 11px; border-collapse: collapse; }
#LatestBaselineDetails #tblStatistics tbody tr { line-height:22px; }
#LatestBaselineDetails #tblStatistics th { text-align:center; background-color:#CCCCCC; padding:2px; }
#LatestBaselineDetails #tblStatistics td { overflow:hidden; text-align:center;  padding:2px; text-overflow: ellipsis; font-size:11px; }
#LatestBaselineDetails #tblStatistics td div { font-size:11px; }
#LatestBaselineDetails #tblStatistics td img { position:relative; top:5px }

#LatestBaselineDetails #tblStatistics #StastisticsTooltip { background-color: #FFFFFF; display: none; position: absolute; border: 1px solid lightgray; z-index: 1; padding:10px; border-radius:4px; box-shadow: 5px 5px 5px 0px #000000; width:170px; }
#LatestBaselineDetails #tblStatistics #StastisticsTooltip span.text{ color:#000000; text-align: left; display:block; line-height:18px; }
#LatestBaselineDetails #tblStatistics #StastisticsTooltip span.text span.value { font-weight:bold; }
#LatestBaselineDetails #tblStatistics #StastisticsTooltip span.text a.disabled { color: grey; cursor: default;  }
#LatestBaselineDetails #tblStatistics #StastisticsTooltip span.text div.recommended { display:none; font-size:11px; padding-bottom:10px; }

#LatestBaselineDetails #Tabs { padding:0.2em 0; height:360px; }
#LatestBaselineDetails #Tabs ul li img { float: left; left: 6px; position: relative; top: 4px; width: 16px; }
#LatestBaselineDetails #Tabs .ui-widget-header { background:url(''); border:0;}
#LatestBaselineDetails #Tabs .ui-tabs-nav  { padding:0.4em 0.6em 0;}
#LatestBaselineDetails #Tabs .ui-tabs-nav li a { font-weight:normal; color:black !important; }
#LatestBaselineDetails #Tabs .ui-tabs-panel { border-top: 1px solid #DDDDDD}
#LatestBaselineDetails #Tabs li.ui-state-default { background:url(''); background-color:#E0E0E0; }
#LatestBaselineDetails #Tabs li.ui-state-active { border: 1px solid #DDDDDD; background:url(''); background-color:#FFFFFF; }
#LatestBaselineDetails #Tabs li.ui-state-hover { border: 1px solid #DDDDDD;  background-color: #FFFFFF; }

#LatestBaselineDetails #Tabs div.chartContainer { /*height:100%; overflow: hidden;*/ }
#LatestBaselineDetails #Tabs span.chartLegendTitle { font-size: 11px; text-decoration: underline; position:relative; top: -3px; }
#LatestBaselineDetails #Tabs table.chartLegend { padding-top: 0px; }
#LatestBaselineDetails #Tabs table.chartLegend span { font-size:11px; }

label.cp-tooltip { overflow: hidden; text-overflow: ellipsis; display: block; }

/*soap*/
tbody[id^=wsdlAutoLoad] .wsdl-info {
	display: none;
}

tbody[id^=wsdlAutoLoad] .loading-cnt-load,
tbody[id^=wsdlAutoLoad] .loading-cnt-generate {
	width: 250px; height: 24px;  padding-left: 30px; padding-top: 12px;
	background: url("/Orion/Apm/Images/animated_loading_graphic_sm.gif") no-repeat left center;
	display: none;
}
tbody[id^=wsdlAutoLoad] .error-cnt-load,
tbody[id^=wsdlAutoLoad] .error-cnt-generate {
	color: #f33; display: none;
}
tbody[id^=wsdlAutoLoad] .soap-args-container table[id$=SoapArgsContainer] {
	width: 450px;
}
tbody[id^=wsdlAutoLoad] .soap-args-container table[id$=SoapArgsContainer] .editor .grippie {
	width: 435px;
}
tbody[id^=wsdlAutoLoad] .soap-args-container table[id$=SoapArgsContainer] .viewer .grippie {
	width: 426px;
}

tbody[id^=wsdlAutoLoad] .soap-args-container tbody tr {
	height: 20px!important;
}
tbody[id^=wsdlAutoLoad] .soap-args-container tbody tr td:first-child {
	vertical-align: bottom;
}
tbody[id^=wsdlAutoLoad] .soap-args-container tbody tr td {
    padding-top: 5px!important;
}
td.edit label { font-weight: normal; text-transform: none; }
.radioButtonEditorContainer .editor .radioGroup div { display: inline; margin-right: 1em; }
.radioButtonEditorContainer .editor .radioGroup div label { padding-left: .25em; text-transform: none; }

.settingsTable tbody.apmComponentEditorGroupSeparator {
    border-left: none;
    border-right: none;
    background: transparent;
}
.settingsTable tbody.apmComponentEditorGroupSeparator tr {
    height: .75em !important;
}

.settingsTable tbody.apmComponentEditorGroup {
    background: #EEEEEE;
    border: solid 2px #DDDDDD;
    margin-top: .5em;
}
.settingsTable tbody.apmComponentEditorGroup td.columnLabel {
    padding-left: 1em;
}
.settingsTable tbody.apmComponentEditorGroup tr.apmComponentGroupFooter {
    height: 1em !important;
}
.settingsTable tbody.apmComponentEditorGroup tr.apmComponentGroupTitle {
    height: inherit !important;
}
.settingsTable tbody.apmComponentEditorGroup tr.apmComponentGroupTitle td {
    padding: .5em .75em !important;
}
.settingsTable tbody.apmComponentEditorGroup tr.apmComponentGroupTitle td .subtitle {
    color: #A9A9A9;
}

.settingsTable tbody.apmComponentEditorGroup td.columnLabel {
    background: white !important;
}
.settingsTable tbody.apmComponentEditorGroup td.columnEditor {
    background: white !important;
}

td.columnEditor div.pollingMethodInfo {
    margin-right: 1em;
    width: 72%;
    float: right;
}

.sw-suggestion strong { font-weight: bold; }

.warning-message {
    min-height: 30px;
	padding: 3px 3px 3px 25px;
    margin-top: 3px;
	color: #000000;
	border-style: solid;
    -ms-border-radius: 6px;
    border-radius: 6px;
    border-width: 1px;
    border-color: #EACA7F;
    background-color:#FFFDCC;
	background-image: url("/Orion/Images/warning_16x16.gif");
	background-position: 5px 5px;
	background-repeat: no-repeat;
}

.apmMultiCheckbox {
    padding-right: 5px;
}


.apmPatternHint {
    width: 20em;
    padding: .5em;
/*    background: #c9d2dd;
    border: solid 2px #eeeeee;*/
}

.apmPatternHint h3 {
    font-weight: bold;
    margin: .5em 0;
}

.apmHintToggle {
    margin-left: .5em;
    cursor: pointer;
}
.apmHintToggle.active {
}

.apmPatternHint select {
    width: 100%;
}

.apmPatternHint .hints dl {
    padding: .5em;
/*    border: solid 2px #6285ae;
    background: white;*/
}

.apmPatternHint dl dt {
    font-weight: bold;
    text-align: left;
}

.apmPatternHint dl dd {
}

.apmPatternHintDialog {

}
.apmPatternHintDialog .ui-dialog-titlebar {
    font-size: inherit !important;
    margin: 10px;
}
.apmPatternHintDialog .ui-dialog-content {
    margin: 10px;
    padding: 0;
}
.apmPatternHintDialog .content {
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: .5em;
    padding-right: .5em;
}

.x-btn.x-btn-pressed td {
    background-color: #FFE89E !important;
    border-color: #FFE89E;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAACXBI…EQVR42mL8////fwYGBkYGBgYGJijjP4zDABMAAAAA//8DAKUxBgMEIwpdAAAAAElFTkSuQmCC') !important;
}

.apmPatternHintDialog dl {
    display: block;
    margin: 0;
    padding: 3px;
    border: 1px solid #2D5C77;
}
.apmPatternHintDialog dt {
    margin: 0;
    font-family: monospace;
    background-color: #f0f0f0 !important;
    font-weight: bold;
    font-size: 120%;
}
.apmPatternHintDialog dt .syntax_highlight {
    font-weight: bold;
    color: #2E96B9;
}
.apmPatternHintDialog dd {
    margin-top: .5em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.apmPatternHintDialog dd span.match {
    font-weight: bold;
    margin-top: 5px;
    float: left;
    width: 100%;
}

.apmPatternHintDialog dd div.example {
    margin-left: 25px;
}
