.Alert {
    BACKGROUND: #fff;
    color: #333333;
    font-size: 8pt;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    vertical-align: middle;
}

.AlertDown {
    BACKGROUND: #fff;
    color: #333333;
    font-size: 8pt;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    vertical-align: middle;
}

.AlertWarning
{
    background: #fff;
    border-bottom: 1px groove;
    color: #333333;
    font-size: 8pt;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
}
