body {
    color: #333333 !important;
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif !important;
}

table {
    BORDER-BOTTOM: 1px;
    BORDER-LEFT: 1px;
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
}

form {
    padding: 0;
    margin: 0;
}

.sw-app-region
{
    /* has to stay in solarwinds.css (not main-layout) for legacy reasons */
	zoom: 1; /* TT 16381 & 16470: In IE it is possible that floating divs will cause part of the page to disappear unitl a repaint occurrs. See http://haslayout.net/css/Disappearing-Content-Bug for more details. */
	/* retain ability to use children with martin-top on modern browsers */
	display: block;
}

.Header {
    background: #ccc;
    border: none;
    font-size: 9pt;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 0;
    padding: 3px;
}

.Report td {
    FONT-SIZE: 8pt;
    padding: 3px 5px 3px 5px;
}

.Report thead td {
    FONT-SIZE: 7pt;
}

.Report .event-icon {
    padding: 4px 8px 1px 8px;
}

.ReportHeader {
    background: #ecedee;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 0;
    padding: 5px;
}

.PageHeader, .PageHeader td {
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold;
    WIDTH: 100%;
}

TABLE.Header
{
    BACKGROUND: silver;
    BORDER-BOTTOM: black 0px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 2px;
    MARGIN-TOP: 2px;
    WIDTH: 99%
}

.PropertyHeader {
    font-size: 8pt;
    color: #767676;
    text-transform: uppercase;
    padding: 5px 0;
}

.Property
{
    FONT-SIZE: 8pt;
    padding: 5px 0;
}
.Property a img
{
	border: none;
}

TD.Footer /* apm defines intersecting 'footer' class */
{
    BACKGROUND: white;
    BORDER-TOP: 1px groove;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal;
    MARGIN-BOTTOM: 0px;
    MARGIN-TOP: 0px
}

TD.Link /* nodeactions.ascx */
{
    BACKGROUND: white;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal;
    MARGIN-BOTTOM: 0px;
    MARGIN-TOP: 0px
}

.ResourceContainer
{
	/* Reset padding and margin to zero */
	padding: 0em 0em 0em 0em;
	margin: 0em 0em 0em 0em;
}

/* npm overview pages */
.OverviewItem
{
	padding-right:20px;
}

.OverviewItem IMG
{
	vertical-align:bottom;
	padding-right:5px;
}

.InterfaceOverviewItem, .InterfaceOverviewItem A, .InterfaceOverviewItem SPAN 
{
	padding-right: 10px;
}

.InterfaceOverviewItem IMG
{
	vertical-align: bottom;
}

/* application styles (non-event specific) from events.css */
/* specific styles, see EventTypes table or legacyevents.css */

.Events, .Event, TR.Event { background: white; } 
.Events { vertical-align: middle; width: 99% /* from solarwinds.css */; }
.Event, .Events td { border-bottom: #ecedee 1px solid; }
.Events .event-icon {
    display: inline-block;
    margin: 3px 5px 0 5px;
}
    .Events .event-icon img {
        display: block;
        margin: 5px 8px;
    }

.Events, .Event, .Events td
{
    font-size: 8pt;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 5px;
}


.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
