﻿<script id="downtimeTooltipTmpl" type="text/template">
    <div id="{{clientId}}-downtimeBigTooltipWrapper">
        <div class="sw-downtime-internal-big-tooltip">
            <div>
                <div id="{{clientId}}-downtimeEndTooltipDate" class="sw-downtime-tooltip-date sw-downtime-end-tooltip-date "></div>
                <div id="{{clientId}}-downtimeStartTooltipDate" class="sw-downtime-tooltip-date sw-downtime-start-tooltip-date"></div>
            </div>
            <table class="sw-downtime-tooltip-table">
                <tbody>
                    <tr id="{{clientId}}-downtimeSlicesRow"></tr>
                </tbody>
            </table>
            <div>
                <div id="{{clientId}}-downtimeStartTooltipTime" class="sw-downtime-tooltip-date sw-downtime-start-tooltip-time"></div>
                <div id="{{clientId}}-downtimeEndTooltipTime" class="sw-downtime-tooltip-date sw-downtime-end-tooltip-time"></div>
                <div class="sw-downtime-slice-div">
                    <table class="sw-downtime-block-display">
                        <tbody>
                            <tr>
                                <td class="sw-downtime-slice"></td>
                                <td id="{{clientId}}-downtimeTimePerBlock" class="sw-downtime-time-per-block"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="{{clientId}}-downtimeSmallTooltipWrapper">
        <div></div>
    </div>
</script>