﻿<script id="downtimeTmpl" type="text/template">
    <div class="sw-downtime-control-div">
        <table class="sw-downtime-reset-table">
            <tbody>
                <tr>
                    {# var i = 0; #}
                    {#_.each(items.TimeBlocks, function(timeBlock) {
                    #}
                    <td>
                        <table class="sw-downtime-timeline-table">
                            <tbody>
                                <tr>
                                    {# _.each(timeBlock.TimeParts, function(timePart) {	i++ #}
                                    <td style="background-color:{{ downTimeSettings.statusHelper.setInterfaceColors(timePart.Aggregated) }}" data-partid="{{ i-1 }}" class="sw-downtime-part"> </td>
                                    {# }); #}
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    {# }); #}
                </tr>
            </tbody>
        </table>
    </div>
    <div class="sw-downtime-datetime">
        <div>{{formatHelper.setOuputDateFormat(items.EndDateTime, downTimeSettings)}}</div>
        <div>{{formatHelper.setOuputDateFormat(items.StartDateTime, downTimeSettings)}}</div>
    </div>
</script>