﻿<script id="legendTmpl" type="text/template">
    {# _.each(statusList, function(status) { #}
    <div class="sw-legend">
        <div style="background-color: {{ statusHelper.setInterfaceColors(status.ID) }}"></div>
        &#32; {{status.Name}}
    </div>
    {# }); #}
</script>

