﻿.acb-advancedSection input[type="checkbox"] { 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px; 
}

.acb-advancedSection img { 
    vertical-align: text-top;
}

.abc-conditionContainer {
    position: relative;
    border-width: 0;
    padding: 0;
}

.abc-conditionContainer.withBorder {
    border-style: solid;
    border-width: 1px;
    border-color: #E0E0E0;
}

.abc-conditionContainer.withBorder:first-child {
    border-color: #336699;
}

.abc-conditionContainer .abc-conditionTitleBar {
    padding: 10px;
    margin-bottom: 10px;
}

.abc-conditionContainer .abc-conditionTitleBar {
    display: none;
}

.abc-conditionContainer.withBorder .abc-conditionTitleBar {
    display: block;
}

.abc-conditionContainer div:nth-child(2) {
    margin: 0;
}

.abc-conditionContainer.withBorder div:nth-child(2) {
    margin: 10px;
}

.abc-conditionContainer:first-child .abc-conditionTitleBar {
    background-color: #f8f8f8;
}

.abc-conditionContainer:nth-child(3) .abc-conditionTitleBar {
    background-color: #E0E0E0;
}

.abc-conditionContainer:nth-child(n+4) .abc-conditionTitleBar h2 {
    display: none;
}

.abc-conditionContainer .abc-conditionInnerContainer {
    margin: 0;
}

.abc-conditionContainer.withBorder .abc-conditionInnerContainer {
    margin: 10px;
}

.abc-addButtonContainer {
    border-style: dotted;
    border-width: 1px;
    border-color: #336699;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
}

.abc-conditionOperatorContainer {
    background-color: #f8f8f8;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 20px;
}

.abc-removeButton {
    position: absolute; 
    top: 10px; 
    right: 10px;
    cursor: pointer;
}

/* AlertConditionView.ascx */
.acv-additionalOptions input[type="checkbox"] { 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px; 
}

.acv-additionalOptions img { 
    vertical-align: text-top;
}

.neb-item .sw-search-combo-box input.x-form-empty-field {
    color: #336699;
    font-weight: bold;
}