.GridHeader {
	display: none;
}
.Header {
	width: 100%;
	}

.Header th { 
	font-size: 100%; font-weight: bold; text-align: left;
	padding: 2px;
	background-image: url(images/headerbg.gif) ;
	color: #FFFFFF;
	width: 100%;
	white-space: nowrap;
	}

.HeaderLeft { 
	background-image: url(images/headerleft.gif);
	}

.HeaderRight { 
	background-image: url(images/headerright.gif);
	}
.HeaderButton {
	background-image: url(images/headerbg.gif);	
}
.HeaderButton img{
	width: 17px;
}

.HeaderLeft img{
	width: 14px;
	}

.HeaderRight img{
	width: 10px;
	}

.GridHeader table {margin:0;}
.GridHeader td {padding:0;}
.GridHeader tr {padding:0;}

/* Grid */
table.scroll {
	table-layout: fixed;
	/*border-right: 1px solid #D4D0C8;*/
	margin-bottom:0;
}
table.scroll tbody tr {
	background-color: #ffffff; 
}

table.scroll tbody tr.alt {
	background-color: #e4f1f8;
}
	
table.scroll tr.over td{
	background-color: #ffe89e;
}
	
	table.scroll tr.selected td {
	
}


	table.scroll tbody td  {
	padding: 2px;
	text-align: left;
	border-bottom: 1px solid #D4D0C8;
	border-left: 1px solid #D4D0C8; 
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	height : auto;
}
	
	table.scroll thead th  {
	padding: 2px;
	border-bottom: 1px solid #CBC7B8; 
	border-left: 1px solid #D4D0C8; 
	text-align: left;
	font-weight: normal;
	overflow: hidden;
	white-space: nowrap;
	background-image: url(images/grid-blue-hd.gif);
	height : 17px;
}

	.grid_sort {
	background-image: url(images/bg_colheader_selected.gif) !important;
}

	table.scroll th div {
	overflow: hidden;
/*	white-space: nowrap;*/
	word-wrap: break-word;
	height : 17px;
}
	table.scroll th span {
	cursor: e-resize;
/*	border-right: 1px solid #D6D2C2;  */
	width: 10px;
	float: right;
	display: block;
	margin: -2px -1px -2px 0px;
	height: 17px;
	overflow: hidden;
	white-space: nowrap;
}

/* End Grid */

/* Pager */
div.scroll {
	vertical-align: top;
	height: 23px;
	white-space: nowrap;
	text-align: center;
	background-image: url(images/grid-blue-ft.gif);
	display : none;

}
div.scroll span {
	vertical-align : top; 	
}
.selbox {
	font-size: x-small;
	vertical-align : top;
}
input.selbox{
	font-size: x-small;
	vertical-align : top;
}
.pgbuttons {
	margin-top :2px;
}
.nav-table-left {
	padding:1px;
	float: left;
/*	position:absolute;*/
}
.nav-table-right {
	padding:1px;
	float: right;
}

table.navtable {margin-bottom:0; width: auto;}
table.navtable tr{
	background-image: url(images/grid-blue-ft.gif);	
}

table.navtable td.nav-button {
	border: 1px solid #E2ECF8;
	white-space: nowrap;
}

table.navtable td.nav-hover {
	border: 1px solid #83B4D8;
}

table.tbutton tr td{
	border : none;
	padding:0px;
}

img.jsHover { /*not used */
	border: 1px solid #99CCFF;
}
/* End Pager */
/*multiselect checkbox */
.cbox {
	height: 10px;
	width: 10px;
	/*border:1px solid #999;*/
}
/* end multiselect */


/* loading div */
div.loading {
	position: absolute;
	padding: 3px;
	text-align: center;
	font-weight: bold;
	background: lightblue;
	color: black;
	display: none;
}

div.loadingui {
	display:none;
	z-index:6000;
	opacity:0.1;
	-moz-opacity: 0.1;
	filter: alpha(opacity=10);
	background-color:#000;
	position:absolute;
}
/* end loading div */
/* toolbar */
div.userdata {
	margin-top: 0px;
	background-color : #EAF9F9;
	height : 20px;
	overflow: hidden;	
}
/* end toolbar */
/*Subgrid  text mode*/
.subgrid {
	height: 100%;
	overflow:  auto;
}
.tablediv {
	background-color: White;
	border-spacing: 1px; /*cellspacing:poor IE support for  this*/
	border-collapse: separate;
	width:100%; /* FF hack poor when scroling subgrid */
}
.celldiv {
	float: left;
	display: table-cell;
	border: 1px dotted #CCCCCC;
	overflow: auto;
	white-space: normal;
}
.celldivth {
	float: left; /*fix for  buggy browsers*/
	border: 1px solid #CCCCCC;
	background-color: #99CCFF;
	border-bottom: 1px solid #CBC7B8;
	text-align: left;
	overflow: auto;
}
.rowdiv  {
	display: table-row;
	background: #F9F9F9 none;
	color: #000000;
	width: 100%;
	overflow:auto;
}
/* End Subgrid */

/* InLine editing */
input.editable[type="text"] {
	font-size: x-small;
	overflow: hidden;
	height : 15px;
}
input.editable[type="checkbox"]  {
}

textarea.editable {
	overflow: hidden;
}

select.editable {
	font-size: x-small;
}
/* End Inline Editing */

/*Modal Window */
.modaltext{ 
    text-align : left;
}
.modalwin{
    border:1px solid #555555;
    background:#F9F9F9;
    text-align:left;
    margin: 0 auto;
	overflow: auto;
}


.modalhead {
	background-image: url(images/grid-blue-hd.gif);
	height: 20px;
	
}
.modalcontent {
	overflow: auto;
	margin-bottom: 9px;
	margin-left: 5px;
}
/* end Modal window*/
/* Search window */
input.search {
	margin: 2px;
	width: 70px;
	font-size: 10px;
	color: #15428B;	
}

select.search {
	margin: 2px;
	width: 70px;
	font-size: 10px;
	color: #15428B;		
}
.buttonsearch {
	width : 50px;
	font-size: 10px;
	color: #15428B;		
}
/*End search */

/* Form edit */

.FormGrid {
	margin: 0px;
}
.EditTable {
	width: 100%;
}

.FormData { /* tr */
	
}

#FormError td {
	font-size: 90%;
	color: #FF0000;
	vertical-align: top;
	background-color: #f7f7f7; 
}

.CaptionTD{ /* td */
	font-weight: normal; text-align: left; vertical-align: top;
	padding: 1px;
	border-top: 1px solid #D4D0C8;
	white-space: nowrap;
	color: #000000;
}
.DataTD { /* td */
	padding: 1px;
	border-top: 1px solid #D4D0C8;
	vertical-align: top;
}
.navButton{
	border-top: 1px solid #D4D0C8;
	border-bottom: 1px solid #D4D0C8;
	text-align: center;
}
.navButton input{
	width:17px;
}
input.EditButton { /* buttons are at footer tr */
	font-size: 10px;
	color: #15428B;
}
td.EditButton {
	text-align: right;
	border-top: 1px solid #D4D0C8;
	border-bottom: 1px solid #D4D0C8;
}

.FormElement { /* form element  - input -text,textarea,checkbox - select  */
	
}
.FormElement {
	font-size: 10px;	
}
input[type="text"].FormElement{
	color: #15428B;		
}
input[type="checkbox"].FormElement{
	width: 15px;
	color: #15428B;		
}
textarea.FormElement{
	color: #15428B;
	font-size: 11px;
}
select.FormElement {
	font-size: 10px;
	color: #15428B;		
}
/* End Eorm edit */

/* Delete Dialog */
.DelButton > input { /* buttons are at footer tr */
	font-size: 10px;
	color: #15428B;
}
.DelButton {
	text-align: right;
}
/* End Delete Dialog */

img.jqResize {
	position:absolute;
	bottom: 0px;
	right: 0px;
	cursor :se-resize;
}
.dirty-cell {
	background: transparent url(images/dirty.gif) no-repeat 0 0;	
}
#DelError td {
	font-size: 90%;
	color: #FF0000;
	vertical-align: top;
	background-color: #f7f7f7; 
}
/* Tree Grid */
.tree-wrap
{
	float: left; 
	position: relative;
	height: 18px;
	white-space: nowrap;
	overflow: hidden;
}
.tree-minus
{
	position: absolute;
	height: 18px; 
	width: 16px;
	overflow: hidden;
	background: url(images/tree_minus.gif) no-repeat;
}
.tree-plus
{
	position: absolute;
	height: 18px; 
	width: 16px;
	overflow: hidden;
	background: url(images/tree_plus.gif) no-repeat;
}
.tree-leaf
{
	position: absolute;
	height: 18px; 
	width: 16px;
	overflow: hidden;
	background: url(images/tree_leaf.gif) no-repeat;
}
.treeclick
{
	cursor: pointer;
}
.edit-cell {
	background-color: #ffe89e !important;
}
.selected-row, .selected-row TD {
	
}