.AllInterfacesPercentUtil .utilization-bar {
    position: relative;
    top: 0;
}

.AllInterfacesPercentUtil .header-row {
    
}

.AllInterfacesPercentUtil .header-row img.node-status-icon {
    vertical-align:middle;
}
