﻿.sw-combined-searchbox{
	clear: right;
}

.sw-combined-searchbox .sw-resource-searchcontrol {
	position: relative;
	display: block;
	margin: 5px 0 0 5px;
}

.sw-combined-searchbox .sw-resource-searchbox::-ms-clear {
	display: none;
}

.sw-combined-searchbox .sw-resource-searchbutton {
	display: block;
	position: absolute;
	right: 6px;
	top: 8px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center center;
	outline: none;
	width: 16px;
	height: 16px;
}

.sw-combined-searchbox .sw-resource-searchbox {
	font-style: normal;
    font-size: 11px;
    padding: 6px 28px 6px 10px;
	margin: 0 !important;
	width: 100px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }