﻿.duplex-truncate-text {
	max-width: 80px;
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}
:root .duplex-table {
	table-layout: fixed;
}
.duplex-interface-type {
	width: 20px;
}
.duplex-table thead td {
	word-wrap: break-word;
}
.duplex-table .utilization-bar {
	width: 100% !important;
}
