.HealthSummaryTable {
    border-collapse: collapse;
}

.HealthSummaryTable > tr > td {
    width: 50%;
}

.HealthSummaryTable .PropertyHeader {
    white-space: nowrap;
}

.HealthSummaryTable .PropertyHeader > img {
    vertical-align: middle;
    margin-right: 4px;
}

.HealthSummaryTable .Property > span {
    margin-right: 18px;
    white-space: nowrap;
}

.HealthSummaryTable .Property > span > img {
    vertical-align: middle;
    margin-right: 1px;
}
