﻿.vlanInterfacesTable {
    border: none;
    border-collapse: collapse;
    table-layout:fixed;
    
}

.vlanExpander {
    cursor: pointer;
	vertical-align: middle;
	padding-bottom: 1px;
}

.vlanAccordion .vlanId {
    font-weight: bold;
}

.vlanInterfacesTreeView {
    font-weight: normal;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.vlanOrphanedInterface {
    font-style: italic; 
}

td, th {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

td.vlanId {
    width: 70px;
}

td.vlanName {
    width: 40%;
}

td.vlanSaid {
    width: 30%;
}

td.vlanInterfaces {
    width: 50%;
}

td.vlanNodes 
{
	width: 45%;
}

td.portType 
{
	width: 15%;
}

#vlanPager {
       vertical-align: central;
}

#vlanPager .vlanEnabled {
    cursor: pointer;
 
}

.vlanAccordion td {
	vertical-align: top;
	line-height: 16px;
}

.vlanAccordion .itemList 
{
	font-size: small;
}

.emptyExpander 
{
	width: 14px;
	height: 14px;
	float: left;
}

.noTag 
{
	font-weight: normal;
	font-style: italic;
}

.cluetip-vlanPopup {
    background: white;
    border: 1px solid #999;
}

.cluetip-vlanPopup {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.cluetip-vlanPopup .cluetip-outer {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
}

.cluetip-vlanPopup  .cluetip-arrows {
  border-color: #ccc;
}

/* need to be more specific here to override ThemeRoller defaults */
div.cluetip-vlanPopup  .cluetip-arrows {
  font-size: 0;
  line-height: 0%;
  width: 0;
  height: 0;
  border-style: solid;
  background: transparent none;
}
div.clue-right-rounded .cluetip-arrows {
  border-width: 11px 11px 11px 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
div.clue-left-rounded .cluetip-arrows {
  left: 100%;
  margin-right: -11px;
  border-width: 11px 0 11px 11px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;

}
div.clue-top-rounded .cluetip-arrows {
  top: 100%;
  left: 50%;
  border-width: 11px 11px 0 11px;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.clue-bottom-rounded .cluetip-arrows {
  top: -11px;
  left: 50%;
  border-width: 0 11px 11px 11px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}

/* stupid IE6 HasLayout hack */
.cluetip-vlanPopup .cluetip-title,
.cluetip-vlanPopup .cluetip-inner {
  zoom: 1;
}

.cluetip-vlanPopup #cluetip-outer{
	padding:10px;
	background-color:White;
}

.vlanPopup{
	border-collapse: collapse;
	border: none;
	padding: 10px;
	width: 100%;
}

#vlanInterfaceInfo tbody tr td.ReportHeader {
    white-space: nowrap;
}

img.vlanStatusIcon{
	vertical-align: middle;
}

.vlanInterfacesTable .loadingRow td {
    font-style: italic;
}

.vlanInterfacesTable .showMoreLink a {
    color: blue;
    text-decoration: underline;
}