﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="BlockingImpactChartLegend.ascx.cs" Inherits="Orion_DPA_Controls_ChartLegends_BlockingImpactChartLegend" %>

<table id="legendTable" class="chartLegend DPA_DRT-LegendTable" runat="server"></table>