﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditWirelessHeatMapsList.ascx.cs" Inherits="Orion_NPM_Controls_EditResourceControls_EditWirelessHeatMapsList" %>

<strong><%= Resources.NPMWebContent.NPMWEBDATA_PD0_09 %></strong>
<p>
<%= Resources.NPMWebContent.NPMWEBDATA_PD0_08 %>
</p>