/*!
 * @solarwinds/sam.adm 2020.2.5-166
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.xui .xui-page-content {
  max-width: none;
}
.admsam-settings-page {
  margin-bottom: 15px;
}
.admsam-settings-page-header {
  padding: 15px;
  border-bottom: 1px solid #D5D5D5;
}
.admsam-settings-page-header .admsam-title {
  margin: 0px;
  line-height: 20px;
}
.admsam-settings-page-header .admsam-menu {
  margin-top: -3px;
}
.admsam-settings-page-toolbar {
  border-bottom: 1px solid #D5D5D5;
}
.admsam-settings-page-footer {
  margin: auto -15px;
  border-top: 1px solid #D5D5D5;
  padding: 15px;
}
.admsam-settings-page-value {
  text-align: right;
}
.admsam-settings-page-units span {
  position: absolute;
  transition: opacity ease .3s;
}
.admsam-settings-page-units span.ng-hide {
  opacity: 0;
}
samadm-connection-details {
  display: flex;
  flex: 1 1 60%;
  min-width: 375px;
  max-width: 500px;
}
samadm-connection-details .process-status {
  width: 4px;
}
samadm-connection-details .process-name-container.up {
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #30B230;
}
samadm-connection-details .process-name-container.warning {
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FEC405;
}
samadm-connection-details .process-name-container.critical {
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #D50000;
}
samadm-connection-details .process-name-container.down {
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #950000;
}
samadm-connection-details .process-name-container.unknown,
samadm-connection-details .process-name-container.unmanaged {
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #D5D5D5;
}
samadm-connection-details .process-name-container {
  border-top: 1px solid #D5D5D5;
  border-right: 1px solid #D5D5D5;
  border-bottom: 1px solid #D5D5D5;
  min-width: 125px;
  max-width: 250px;
  width: 100%;
}
samadm-connection-details .process-name-container .center-content {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
samadm-connection-details .process-name-as-link {
  color: #0079AA;
}
samadm-connection-details .ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dependencies-wrapper .nodes-info {
  display: flex;
  justify-content: space-between;
}
.dependencies-wrapper .nodes-info .node-info {
  display: flex;
  width: 45%;
}
.dependencies-wrapper .nodes-info .node-info .node-title {
  line-height: 15px;
  min-width: 0;
  flex: 1;
}
.dependencies-wrapper .nodes-info .node-info .node-title .node-name {
  color: #0079AA;
  font-weight: bold;
}
.dependencies-wrapper .nodes-info .node-info .node-title .ip-address {
  font-size: 11px;
  color: #767676;
}
.dependencies-wrapper .nodes-info .node-info .source-node-title {
  text-align: right;
}
.dependencies-wrapper .a.node-name {
  max-width: 40ch;
}
.dependencies-wrapper .poll-loading-panel {
  text-align: center;
}
.dependencies-wrapper .connection-list-header {
  display: flex;
  font-size: 11px;
  color: #767676;
  align-items: center;
}
.dependencies-wrapper .connection-list-header .empty-space {
  width: 130px;
}
.dependencies-wrapper .connection-list-header .header-wrapper {
  display: flex;
  flex: 1;
}
.dependencies-wrapper .connection-list-header .header-wrapper .header-item-bottom-align {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
}
.dependencies-wrapper .connection-list-header .header-wrapper .process-header-wrapper {
  display: flex;
  flex: 1 1 60%;
  min-width: 375px;
  max-width: 500px;
}
.dependencies-wrapper .connection-list-header .header-wrapper .process-header-wrapper .process-header {
  min-width: 125px;
  max-width: 250px;
  width: 100%;
  text-align: left;
}
.dependencies-wrapper .connection-list-header .header-wrapper .process-header-wrapper .statistics-header {
  flex: 1;
  min-width: 50px;
  max-width: 60px;
  text-align: center;
}
.dependencies-wrapper .connection-list-header .header-wrapper .connection-pill-header {
  display: flex;
  flex: 1;
}
.dependencies-wrapper .connection-list-header .header-wrapper .connection-pill-header .port-header {
  width: 50px;
  text-align: right;
}
.dependencies-wrapper .connection-list-header .header-wrapper .connection-pill-header .flexOne {
  flex: 1;
}
.dependencies-wrapper .connection-list-header .header-wrapper .connection-pill-header .latency-packet-loss-header-wrapper {
  width: 100px;
  display: flex;
  margin-left: 28px;
  align-items: center;
  line-height: 15px;
}
.dependencies-wrapper .connection-list-header .header-wrapper .connection-pill-header .latency-packet-loss-header-wrapper .latency-header {
  padding-left: 8px;
}
.dependencies-wrapper .connection-list-header .header-wrapper .connection-pill-header .latency-packet-loss-header-wrapper .packet-loss-header {
  text-align: center;
}
.dependencies-wrapper .dependencies-list li:first-child .dependency-container {
  padding-top: 0px;
}
.dependencies-wrapper .dependencies-list .dependency-container {
  display: flex;
  border-bottom: 1px solid #F6F6F6;
}
.dependencies-wrapper .dependencies-list .dependency-container .destination-wrapper {
  display: flex;
  flex: 1;
}
.dependencies-wrapper .dependencies-list .dependency-container .application-wrapper {
  border: 1px solid #D5D5D5;
  text-align: center;
  width: 130px;
}
.dependencies-wrapper .dependencies-list .dependency-container .application-wrapper .center-content {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.dependencies-wrapper .dependencies-list .dependency-container .application-wrapper .center-content .application-icon {
  padding-top: 0px;
}
.dependencies-wrapper .dependencies-list .dependency-container .application-wrapper .center-content .application-name {
  line-height: 15px;
}
.dependencies-wrapper .dependencies-list .dependency-container .connections {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dependencies-wrapper .dependencies-list .dependency-container .connections .connection-wrapper {
  display: flex;
}
.dependencies-wrapper .dependencies-list .dependency-container .connections .connection-wrapper:not(:first-child) {
  padding-top: 7px;
}
.dependencies-wrapper .dependencies-list .dependency-container .connections .connections-metrics {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dependencies-wrapper .dependencies-list .dependency-container .connections .connections-metrics .port {
  min-width: 50px;
  border-top: 1px solid #D5D5D5;
  border-right: 1px solid #D5D5D5;
  border-bottom: 1px solid #D5D5D5;
  border-radius: 0 15px 15px 0;
  text-align: right;
}
.dependencies-wrapper .dependencies-list .dependency-container .connections .connections-metrics .port .port-link {
  color: #0079AA;
}
.dependencies-wrapper .dependencies-list .dependency-container .connections .connections-metrics .connection-metrics {
  display: flex;
}
.dependencies-wrapper .dependencies-list .dependency-container .connections .connections-metrics .connection-metrics:not(:first-child) {
  padding-top: 7px;
}
.dependencies-wrapper .ldp-connection-pill {
  flex: 1;
  display: flex;
  align-items: center;
}
.ldp-secondary-text {
  color: #767676;
}
.ldp-empty-data-link {
  color: #0079AA !important;
}
.ldp-empty-data-link:hover {
  color: #23677e !important;
}
.events-list-wrapper .event-item {
  display: flex;
}
.events-list-wrapper .event-item .icon-wrapper {
  min-width: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #FFFFFF;
}
.events-list-wrapper .event-item .icon {
  padding: 10px;
  display: flex;
  align-self: stretch;
  align-items: center;
}
.events-list-wrapper .event-item .icon-info {
  background-color: #e6eff3;
}
.events-list-wrapper .event-item .icon-warning {
  background-color: #fcf8e0;
}
.events-list-wrapper .event-item .icon-critical {
  background-color: #D50000;
}
.events-list-wrapper .event-item .event-info {
  padding: 10px 10px 10px 5px;
  border-bottom: 1px solid #D5D5D5;
  display: flex;
  flex: 1 1 auto;
}
.events-list-wrapper .event-item .event-info .event-title {
  padding-right: 5px;
  width: 80%;
  word-break: break-word;
}
.events-list-wrapper .event-item .event-info .occurred {
  font-weight: 700;
  color: #333333;
  padding-left: 5px;
  margin-left: auto;
  padding-right: 10px;
  align-items: center;
  width: 7em;
}
.events-list-wrapper .view-all {
  float: right;
}
#linkdetailspage .ldp-link-button {
  color: #0079AA;
}
#linkdetailspage .ldp-link-button:hover {
  cursor: pointer;
  color: #23677e;
}
#linkdetailspage div.title-elipsis {
  max-width: 30ch;
}
#linkdetailspage .dependencies-container {
  flex-grow: 1;
  min-width: 0;
}
#linkdetailspage .header-container.up {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #30B230;
}
#linkdetailspage .header-container.warning {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #FEC405;
}
#linkdetailspage .header-container.critical {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #D50000;
}
#linkdetailspage .header-container.down {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #950000;
}
#linkdetailspage .header-container.unknown,
#linkdetailspage .header-container.unmanaged {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #D5D5D5;
}
#linkdetailspage .common-height-for-sidebar-and-header {
  height: 60px;
  border-bottom: 1px solid #D5D5D5;
}
#linkdetailspage .header-container {
  display: flex;
  align-items: center;
}
#linkdetailspage .header-container .flip-commands-wrapper {
  display: flex;
}
#linkdetailspage .header-container .connection-header {
  margin-right: auto;
  display: flex;
}
#linkdetailspage .header-container .connection-header .title-container .title {
  margin-bottom: 0px;
  margin-top: 0px;
  display: flex;
}
#linkdetailspage .header-container .connection-header .title-container .title i {
  margin-top: -8px;
}
#linkdetailspage .header-container .connection-header .last-polled-icon-holder {
  display: flex;
  align-items: center;
}
#linkdetailspage .header-container .connection-header .subtitle {
  display: flex;
  font-size: 11px;
  color: #767676;
}
#linkdetailspage .main-content {
  display: flex;
}
#linkdetailspage .main-content samadm-dependencies {
  flex: 1 0 980px;
  /*Needed for IE11*/
  border-top: 1px solid;
  border-color: #D5D5D5;
}
#linkdetailspage .main-content .events-sidebar {
  flex: 1 0 400px;
  border-left: 1px solid #D5D5D5;
  border-top: 1px solid #D5D5D5;
}
#linkdetailspage .main-content .events-sidebar .events-sidebar-header {
  border-bottom: 1px solid #D5D5D5;
  align-items: center;
  display: flex;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #linkdetailspage .header-container .connection-header .title-container .title i {
    margin-top: 2px;
  }
}
@supports (-ms-ime-align:auto) {
  #linkdetailspage .header-container .connection-header .title-container .title i {
    margin-top: 2px;
  }
}
.thresholds-dialog .nodes-info {
  display: flex;
  border-bottom: 1px solid #D5D5D5;
  justify-content: space-between;
}
.thresholds-dialog .nodes-info .node-info {
  width: 45%;
  display: flex;
}
.thresholds-dialog .nodes-info .node-info .source-node-left-margin {
  margin-left: auto;
}
.thresholds-dialog .nodes-info .node-info .node-title {
  line-height: 15px;
  max-width: 80%;
}
.thresholds-dialog .nodes-info .node-info .node-title .node-name {
  color: #0079AA;
  font-weight: bold;
}
.thresholds-dialog .nodes-info .node-info .node-title .ip-address {
  font-size: 11px;
  color: #767676;
}
.thresholds-dialog .nodes-info .node-info .node-title .source {
  text-align: end;
}
.thresholds-dialog .nodes-info .node-connection-direction {
  align-self: center;
}
.thresholds-dialog .threshold-settings-container {
  display: flex;
  justify-content: space-between;
}
.thresholds-dialog .threshold-settings-container .threshold-setting {
  width: 50%;
}
samadm-process-statistics .statistics-row {
  display: flex;
  width: 100%;
  height: 100%;
}
samadm-process-statistics .statistics-data {
  flex: 1;
  min-width: 50px;
  max-width: 60px;
  border-top: 1px solid #D5D5D5;
  border-bottom: 1px solid #D5D5D5;
}
samadm-process-statistics .statistics-data:last-child {
  border-right: 1px solid #D5D5D5;
}
samadm-process-statistics .statistics-data.warning {
  border: 1px solid #FEC405;
  background: #fcf8e0;
  font-weight: 700;
  color: #333333;
}
samadm-process-statistics .statistics-data.critical {
  border: 1px solid #D50000;
  background: #FFE4E0;
  font-weight: 700;
  color: #D50000;
}
samadm-process-statistics .statistics-toggle {
  min-width: 250px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #D5D5D5;
  border-right: 1px solid #D5D5D5;
  border-bottom: 1px solid #D5D5D5;
  height: 100%;
}
samadm-process-statistics .statistics-data--centered {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
samadm-process-statistics .statistics-toggle-button {
  margin-left: 5px;
  color: #0079AA;
}
samadm-connection-metric-pill {
  flex: 1;
  min-width: calc(-150%);
}
samadm-connection-metric-pill .line {
  flex: 1;
  height: 2px;
}
samadm-connection-metric-pill .bold {
  font-weight: bold;
}
samadm-connection-metric-pill .critical-text {
  fill: #D50000;
}
samadm-connection-metric-pill .critical,
samadm-connection-metric-pill .down {
  stroke-width: 1;
}
samadm-connection-metric-pill .critical .arrowhead,
samadm-connection-metric-pill .down .arrowhead {
  border-color: #D50000;
  fill: #D50000;
}
samadm-connection-metric-pill .critical .line,
samadm-connection-metric-pill .down .line {
  background: #D50000 !important;
}
samadm-connection-metric-pill .critical .arrow-line,
samadm-connection-metric-pill .down .arrow-line {
  stroke: #D50000;
}
samadm-connection-metric-pill .critical .rectangle,
samadm-connection-metric-pill .down .rectangle {
  fill: #FFE4E0;
  stroke: #D50000;
}
samadm-connection-metric-pill .warning {
  stroke-width: 1;
}
samadm-connection-metric-pill .warning .arrowhead {
  border-color: #FEC405;
  fill: #FEC405;
}
samadm-connection-metric-pill .warning .line {
  background: #FEC405 !important;
}
samadm-connection-metric-pill .warning .arrow-line {
  stroke: #FEC405;
}
samadm-connection-metric-pill .warning .rectangle {
  fill: #fcf8e0;
  stroke: #FEC405;
}
samadm-connection-metric-pill .up {
  stroke-width: 1;
}
samadm-connection-metric-pill .up .arrowhead {
  border-color: #c1e2b0;
  fill: #c1e2b0;
}
samadm-connection-metric-pill .up .arrow-line {
  stroke: #c1e2b0;
}
samadm-connection-metric-pill .up .rectangle {
  fill: #FFFFFF;
  stroke: #c1e2b0;
}
samadm-connection-metric-pill .up .line {
  background: #c1e2b0 !important;
}
samadm-connection-metric-pill .unknown,
samadm-connection-metric-pill .loopback {
  stroke-width: 1;
  fill: #767676;
}
samadm-connection-metric-pill .unknown .arrowhead,
samadm-connection-metric-pill .loopback .arrowhead {
  border-color: #D5D5D5;
  fill: #D5D5D5;
}
samadm-connection-metric-pill .unknown .line,
samadm-connection-metric-pill .loopback .line {
  background: #D5D5D5 !important;
}
samadm-connection-metric-pill .unknown .arrow-line,
samadm-connection-metric-pill .loopback .arrow-line {
  stroke: #D5D5D5;
}
samadm-connection-metric-pill .unknown .rectangle,
samadm-connection-metric-pill .loopback .rectangle {
  fill: #f6f6f6;
  stroke: #D5D5D5;
}
samadm-connection-metric-pill .blue-arrow {
  stroke-width: 1;
}
samadm-connection-metric-pill .blue-arrow .arrowhead {
  border-color: #abd5e3;
  fill: #abd5e3;
}
samadm-connection-metric-pill .blue-arrow .line {
  flex: 1;
  flex-basis: 100px;
  background: #abd5e3 !important;
}
samadm-connection-metric-pill .blue-arrow .arrow-line {
  stroke: #abd5e3;
}
samadm-connection-metric-pill .blue-arrow .rectangle {
  fill: #abd5e3;
  stroke: #abd5e3;
}
samadm-connection-metric-pill .loopback {
  font-weight: 700;
}
samadm-connection-metric-pill .connection-metrics-pill {
  display: flex;
  align-items: center;
  height: 22px;
}
samadm-connection-metric-pill .connection-metrics-pill .arrow {
  flex: 1;
  display: inline-flex;
  align-items: center;
}
samadm-connection-metric-pill .connection-metrics-pill .arrowhead {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
samadm-connection-metric-pill .connection-metrics-pill .arrowhead.left {
  border-right-width: 7px;
  border-right-style: solid;
}
samadm-connection-metric-pill .connection-metrics-pill .arrowhead.right {
  border-left-width: 7px;
  border-left-style: solid;
}
samadm-connection-metric-pill .connection-metrics-pill .connection-metrics-svg {
  width: 100px;
  height: 20px;
  font-size: 10px;
}
samadm-connection-metric-pill .connection-metrics-pill .line-in-rectangle {
  stroke: #cccccc;
  stroke-width: 1;
}

/*# sourceMappingURL=sam.adm.css.map*/