﻿.dyn-con-slide
{
    width:100%;
    height:1px;
    border-bottom:1px solid #ddd;
    margin-bottom:15px;
    margin-top:30px;
}

.scope-name {
    font-weight: bold;
}

.dyn-con-slide-no-top {
    width:100%;
    height:1px;
    border-bottom:1px solid #ddd;
    margin-bottom:15px;
}

.disabledSpan {
    color: #888;
}

.ui-autocomplete {
    max-height: 300px;
    overflow: auto;
}