.whiteRow {
  height: 30px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.colouredRow {
  height: 30px;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
}
.info {
  width: 130px;
  padding-left: 10px;
  color: #767676;
  text-transform: capitalize;
}
.value {
  padding-right: 10px;
}
.vendorIcon {
  padding-right: 5px;
}
