﻿.SettingContainer
{
	border:solid 1px #dcdbd7;
	padding:10px;
	background-color:#fff;
    width:80%;
}

.SettingBlockHeader
{
    font-size:11pt;
    font-weight:bold;
    border-bottom:#e6e6dd 1px solid;
    padding-bottom:5px;
}

.SettingBlockDescription
{
    padding-top:5px;
}

.SettingNote
{
	color:gray;
	font-style:italic;
}
