﻿.menu-add-edit-template a.x-menu-item {
    padding-left: 5px;
}

.author-icon-certified {
    background: url(/Orion/images/orion_generic_icon_orange.ico) no-repeat;
    padding-left: 20px;
    vertical-align: bottom;
}

.author-icon-normal {
    background: url(/Orion/images/users.gif) no-repeat;
    padding-left: 20px;
    vertical-align: bottom;
}

.search-placeholder {
    font-size: 11pt !important;
    font-style: italic !important;
}

.search-highlight {
    background-color: #FFE89E;
}

.search-button {
    background-image: url(/Orion/CLI/images/search_button16x16.png) !important;
}

.clear-button {
    background-image: url(/Orion/CLI/images/clear_button16x16.gif) !important;
}