﻿#GridPlace{

}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background : #ECEDEE !important;
    color: black;
}


.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column{
    text-align : left !important;
}
.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column[aria-selected='true']{
    background : #DDDDDD !important;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    border: none !important;
}

.ui-jqgrid tr.jqgrow td {
    border: none !important;
    padding : 7px 2px !important;
}

.ui-jqgrid tr.jqgfirstrow td{
    padding : 0px 0px !important;
}

.ui-state-default.ui-th-column{
    padding : 7px 2px !important;
}

.ui-icon.ui-icon-seek-first{
    background-position:left center;
    background: url("/Orion/images/Arrows/button_white_paging_first.gif");
}

.ui-icon.ui-icon-seek-prev{
    background-position:left center;
    background: url("/Orion/images/Arrows/button_paging_previous.gif");
}

.ui-icon.ui-icon-seek-next{
    background-position:left center;
    background: url("/Orion/images/Arrows/button_white_paging_next.gif");
}

.ui-icon.ui-icon-seek-end{
    background-position:left center;
    background: url("/Orion/images/Arrows/button_white_paging_last.gif");
}

.ui-jqgrid .ui-subgrid td.subgrid-data .tablediv{
    border: 1px solid #ECEDEE;
    padding: 7px;
    margin: 7px 7px 7px 0px;
}

.ui-subgrid .ui-jqgrid tbody tr.jqgrow:nth-child(odd), .NodeGroupItem:nth-child(2n) {
    background-color: #f6f6f6;
}

.ui-state-hover{
    background:#E1F1F6 !important;
    color: black !important;
}

.ui-state-hover a, .ui-state-hover a:link, .ui-state-hover a:hover, .ui-state-hover a:visited{
    background:#E1F1F6 !important;
    color: #2D5C77 !important;
}

.ui-state-hover a, .ui-state-hover a:link, .ui-state-hover a:visited{
    color: #DF8200 !important;
}

.ui-jqgrid .ui-state-hover a, .ui-jqgrid .ui-state-hover a:link, .ui-jqgrid .ui-state-hover a:hover, .ui-jqgrid .ui-state-hover a:visited
{
    background:transparent !important;
}

.ui-widget-content a {
    color:#0079aa;
}

.jqgrow a img {
    float: left;
}

.NodeGroupItem{
    height: auto !important;
}

.ui-pager-control{
    background : white;
}

.ui-icon.ui-icon-arrowreturn-1-e{
    display:none;
}

.NodeGroupItem{
    min-height: 30px;
    box-sizing:border-box;
    line-height: 24px;
}

.NodeGrouping, #GridPlace > .ui-jqgrid{
    margin: 7px;
    width: auto;
}

td[role=gridcell] a{
    
    line-height:24px;
}

.GroupSection {
    padding: 0px !important;
}

#groupByProperty{
    margin-bottom: 7px;
}

#groupByProperty, #showObjectType{
    padding: 3px;
}

.GroupSection > div:first-child, label[for=showObjectType]{
    text-transform:uppercase;
    font-weight:normal;
}
#wireless-search-box > *{
    line-height: 24px;
    height: 24px;
    font-size: 12px !important;
    box-sizing:border-box;
    margin-right: 3px;
}

#search{
    padding: 0px 3px;
}

#wireless-search-box a{
    padding: 0px 10px !important;
    margin-bottom: 0px !important;
}

.separator{
    width:14px;
    display: inline-block;
}