﻿    .meraki-column-leftLabel {
        text-align: right;
        width: 100px;
    }

    .meraki-column-content {
        text-align: left;
        padding-left: 5px;
        width: 280px;

    }

    .meraki-error {
        white-space: nowrap;
        left: 5px;
        font-weight: normal;
        font-size: 12px;
        text-align: left;
        padding-left: 29px;
        padding-right: 10px;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-right: 15px;
        height: 16px;
        color: #D50000;
        border: 1px solid #D50000;
        display: inline-block;
        position: relative;
        zoom: 1;
        background: #FFE4E0 url('/orion/images/AppStack/xstatus.16.critical.png') 2px center no-repeat;            
    }
    
    .meraki-text-apiKeyInput {
        padding-left: 4px;
        white-space: nowrap;
        font-weight: normal;
        font-family: 'OpenSans', 'Open Sans';
    }

    .meraki-text-httpProxyLabel {
        font-weight: normal;
        font-size: 12px;
    }

    .meraki-text-httpProxyConfig a:link {
        font-weight: normal;
        font-size: 12px;
        color: #0079AA;
    }

    .meraki-loading-progress {
        display: inline-block;
        height: 16px;
        margin: 0;
        padding-left: 22px;
        background: url(/orion/images/loading_gen_16x16.gif) top left no-repeat;
    }
