/*!
 * @solarwinds/vimcloud 2020.2.5-63
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.clm-choose-instances {
  position: relative;
  min-height: 100%;
}
.xui .clm-choose-instances__header {
  border-bottom: none;
}
.clm-choose-instances__grid {
  padding: 15px;
}
.clm-progress-bar-wrapper {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 100%;
}
.clm-choose-instances__footer--fixed-bottom {
  padding: 15px;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
.breadcrumbs {
  margin: 0 auto;
  font-size: 11px;
}
.breadcrumbs .xui-text-s {
  font-size: 11px;
}
.clm-error-info {
  background-color: #FFE4E0;
  color: #D50000;
  border: solid 1px #D50000;
  margin: 0px 15px 0px 15px;
}

/*# sourceMappingURL=vimcloud.css.map*/