﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="DataRetentionPlugin.ascx.cs" Inherits="Orion_APM_ExchangeBlackBox_Controls_DataRetentionPlugin" %>

		<tr class="header">
			<td colspan="3"><h2><%= Resources.APM_ExBBContent.ConfigDataRetention_Title %></h2></td>
		</tr>

		<tr>
            <td class="PropertyHeader"><%= Resources.APM_ExBBContent.ConfigDataRetention_RetainDeletedDbDays %></td>
            <td class="Property" style="white-space: nowrap">
                <asp:TextBox ID="RetainDeletedDbDays" runat="server" Width="60px" Style="text-align: right;" MaxLength="5"></asp:TextBox>
                <%= Resources.APM_ExBBContent.ConfigDataRetention_RetainDeletedDbDays_Unit %>
                <asp:CompareValidator ID="CompareValidator1" runat="server" ControlToValidate="RetainDeletedDbDays"
                    ErrorMessage="<%$ Resources:APM_ExBBContent,ConfigDataRetention_RetainDeletedDbDays_ErrorCompare %>"
                    Operator="GreaterThanEqual" Type="Integer" ValueToCompare="1">*</asp:CompareValidator>
                <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ControlToValidate="RetainDeletedDbDays"
                    ErrorMessage="<%$ Resources:APM_ExBBContent,ConfigDataRetention_RetainDeletedDbDays_ErrorRequired %>">*</asp:RequiredFieldValidator>
            </td>
            <td class="Property"><%= Resources.APM_ExBBContent.ConfigDataRetention_RetainDetailTablesDays_Description %></td>
        </tr>
        <tr>
            <td class="PropertyHeader"><%= Resources.APM_ExBBContent.ConfigDataRetention_RetainMailboxHistoryDays %></td>
            <td class="Property" style="white-space: nowrap">
                <asp:TextBox ID="RetainMailboxHistoryDays" runat="server" Width="60px" Style="text-align: right;" MaxLength="5"></asp:TextBox>
                <%= Resources.APM_ExBBContent.ConfigDataRetention_RetainMailboxHistoryDays_Unit %>
                <asp:CompareValidator ID="CompareValidator2" runat="server" ControlToValidate="RetainMailboxHistoryDays"
                    ErrorMessage="<%$ Resources:APM_ExBBContent,ConfigDataRetention_RetainMailboxHistoryDays_ErrorCompare %>"
                    Operator="GreaterThanEqual" Type="Integer" ValueToCompare="1">*</asp:CompareValidator>
                <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" ControlToValidate="RetainMailboxHistoryDays"
                    ErrorMessage="<%$ Resources:APM_ExBBContent,ConfigDataRetention_RetainMailboxHistoryDays_ErrorRequired %>">*</asp:RequiredFieldValidator>
            </td>
            <td class="Property"><%= Resources.APM_ExBBContent.ConfigDataRetention_RetainMailboxHistoryDays_Description %></td>
        </tr>
        <tr>
            <td class="PropertyHeader"><%= Resources.APM_ExBBContent.ConfigDataRetention_RetainDetailTablesDays %></td>
            <td class="Property" style="white-space: nowrap">
                <asp:TextBox ID="RetainDetailTablesDays" runat="server" Width="60px" Style="text-align: right;" MaxLength="5"></asp:TextBox>
                <%= Resources.APM_ExBBContent.ConfigDataRetention_RetainDetailTablesDays_Unit %>
                <asp:CompareValidator ID="CompareValidator3" runat="server" ControlToValidate="RetainDetailTablesDays"
                    ErrorMessage="<%$ Resources:APM_ExBBContent,ConfigDataRetention_RetainDetailTablesDays_ErrorCompare %>"
                    Operator="GreaterThanEqual" Type="Integer" ValueToCompare="1">*</asp:CompareValidator>
                <asp:RequiredFieldValidator ID="RequiredFieldValidator3" runat="server" ControlToValidate="RetainDetailTablesDays"
                    ErrorMessage="<%$ Resources:APM_ExBBContent,ConfigDataRetention_RetainDetailTablesDays_ErrorRequired %>">*</asp:RequiredFieldValidator>
            </td>
            <td class="Property"><%= Resources.APM_ExBBContent.ConfigDataRetention_RetainDetailTablesDays_Description %></td>
        </tr>
