﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="NpmModuleDetails.ascx.cs" Inherits="Orion_NPM_Admin_NpmModuleDetails" %>

<%@ Register Src="~/Orion/Admin/Details/ModuleDetailsBlock.ascx" TagPrefix="orion" TagName="ModuleDetailBlock" %>

<orion:ModuleDetailBlock ID="NpmDetails" runat ="server" />