﻿.GroupItem a
{
	text-decoration: underline !important;
	color: #336699 !important;
	font-weight: normal;
}

.GroupItem a:hover
{
	color: #f99d1c;
}

/* use with groupitems or other elements that are 21px tall */
.ZebraBackground
{
	font-size: 11px; 
	background: url('/Orion/APM/images/BG.Zebra.gif'); 
	background-repeat: repeat; 
	background-position: top;
}

.ElementGrouping
{
	padding: 0;
	margin: 0;	
	width: 100%;
	border: #e1e1e0 solid 1px;	
}

.ncm_GroupSection
{
	background-color:#EFEBEF;
	margin: 0px;
	padding: 5px;
}

.GroupItems
{
	margin: 0;
	padding: 0;
	overflow: auto;
}

.GroupItems li
{
	padding-top:2px;
	padding-bottom:2px;
	margin-left:3px;
}

.GroupItem, .SelectedGroupItem
{
	white-space:nowrap;
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 19px;
}

.group-policy-report-item a
{	
	background-image: url('/Orion/NCM/Resources/images/PolicyIcons/folder.gif') !important; 
	background-repeat:no-repeat; 
	background-position:left;
	padding-left:18px; 
	margin-left:3px; 
	text-decoration: none !important;
	color:Black;
}

.group-policy-folder a
{	
	background-image: url('/Orion/NCM/Resources/images/PolicyIcons/folder.gif') !important; 
	background-repeat:no-repeat; 
	background-position:left;
	padding-left:18px; 
	margin-left:3px;
	text-decoration:none !important;
	color:Black; 
}

.group-policy-appearsinreport a
{	
	background-image: url('/Orion/NCM/Resources/images/PolicyIcons/PolicyReport.Icon.gif') !important; 
	background-repeat:no-repeat; 
	background-position:left;
	padding-left:18px; 
	margin-left:3px;
	text-decoration:none !important;
	color:Black; 
}

.group-policy-containsrule a
{	
	background-image: url('/Orion/NCM/Resources/images/PolicyIcons/Policy.Rule.gif') !important; 
	background-repeat:no-repeat; 
	background-position:left;
	padding-left:18px; 
	margin-left:3px;
	text-decoration:none !important;
	color:Black; 
}

.group-policyrule-folder a
{	
	background-image: url('/Orion/NCM/Resources/images/PolicyIcons/folder.gif') !important; 
	background-repeat:no-repeat; 
	background-position:left;
	padding-left:18px; 
	margin-left:3px;
	text-decoration:none !important;
	color:Black; 
}

.group-policyrule-errorlevel-informational a
{	background-image: url('/Orion/NCM/Resources/images/PolicyIcons/Policy.Info.gif') !important; 
	background-repeat:no-repeat; 
	background-position:left;
	padding-left:18px; 
	margin-left:3px;
	text-decoration:none !important;
	color:Black; 
}

.group-policyrule-errorlevel-warning a
{	
	background-image: url('/Orion/NCM/Resources/images/PolicyIcons/Policy.Warning.gif') !important; 
	background-repeat:no-repeat; 
	background-position:left;
	padding-left:18px; 
	margin-left:3px;
	text-decoration:none !important;
	color:Black; 
}

.group-policyrule-errorlevel-critical a
{	
	background-image: url('/Orion/NCM/Resources/images/PolicyIcons/Policy.Critical.gif') !important; 
	background-repeat:no-repeat; 
	background-position:left;
	padding-left:18px; 
	margin-left:3px;
	text-decoration:none !important;
	color:Black; 
}

.group-policyrule-appearsinreport a
{	
	background-image: url('/Orion/NCM/Resources/images/PolicyIcons/PolicyReport.Icon.gif') !important; 
	background-repeat:no-repeat; 
	background-position:left;
	padding-left:18px; 
	margin-left:3px;
	text-decoration:none !important;
	color:Black; 
}

.group-policyrule-appearsinpolicy a
{	
	background-image: url('/Orion/NCM/Resources/images/PolicyIcons/Policy.Icon.gif') !important; 
	background-repeat:no-repeat; 
	background-position:left;
	padding-left:18px; 
	margin-left:3px;
	text-decoration:none !important;
	color:Black; 
}

.GroupItem img, .SelectedGroupItem img
{
	vertical-align: text-bottom;
}

.SelectedGroupItem
{
	font-weight:bold;
	background:url('/Orion/NCM/Resources/images/left_selection_gradient.gif') repeat-x scroll left center !important;
}

table.ExistingElements 
{
	width: 100%;
	margin: 0;
	padding: 0;
}


table.ExistingElements>tbody>tr>td
{
	margin: 0;
	padding: 0;
}

#Grid a
{
	color: #4779C4;
}

.ncm_GroupSection
{
	margin: 0px;
}

.ncm_searchterm 
{
    background-color:#FFE89E;
}  

.ncm_search-btn
{
    background-image:url(/Orion/NCM/Resources/images/PolicyIcons/search_button16x16.png) !important;
}

.ncm_clear-btn
{
    background-image:url(/Orion/NCM/Resources/images/PolicyIcons/clear_button16x16.gif) !important;
}

#txtSearch
{
	font-size:11pt;
	font-style:italic;
}
