<%@ Control Language="C#" AutoEventWireup="true" CodeFile="IconHelpButton.ascx.cs" Inherits="UdtIconHelpButton" %>
<%@ Register Src="~/Orion/Controls/IconHelpButton.ascx" TagPrefix="orion" TagName="IconHelpButton" %>

<orion:IconHelpButton ID="lnkHelp" runat="server" />