﻿<%@ Master Language="C#" MasterPageFile="~/Orion/Admin/OrionAdminPage.master" AutoEventWireup="true" CodeFile="ManualE2EMappingAdminPage.master.cs" Inherits="Orion_Admin_ManualE2EMappings_ManualE2EMappingAdminPage" %>
<%@ Register Src="~/Orion/Controls/IconHelpButton.ascx" TagPrefix="orion" TagName="IconHelpButton" %>

<asp:Content ID="Content1" ContentPlaceHolderID="adminHeadPlaceholder" Runat="Server">
    <orion:Include ID="Include1" runat="server" File="Admin/Containers/Containers.css" />
    <orion:Include ID="Include2" runat="server" File="SRM/Styles/ManualE2EMapping.css" />
    <orion:Include ID="Include3" runat="server" Framework="Ext" FrameworkVersion="3.4" />
    <orion:Include ID="Include4" runat="server" File="OrionCore.js" />
    <asp:ContentPlaceHolder runat="server" ID="adminHeadPlaceholder" />
</asp:Content>

<asp:Content ID="Content2" runat="server" ContentPlaceHolderID="TopRightPageLinks">
    <orion:IconHelpButton ID="IconHelpButton1" runat="server" HelpUrlFragment="OrionSRMHGManualEndtoEndMapping" />
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="adminContentPlaceholder" Runat="Server">
    <asp:ContentPlaceHolder runat="server" ID="adminContentPlaceholder" />

    <%if (_isOrionDemoMode) {%> <div id="isOrionDemoMode" style="display: none;"/> <%}%>
</asp:Content>
