<%@ Control Language="C#" AutoEventWireup="true" CodeFile="OlmModuleDetails.ascx.cs" Inherits="Orion_OLM_OlmModuleDetails" %>

<%@ Register src="~/Orion/Admin/Details/ModuleDetailsBlock.ascx" tagPrefix="orion" tagName="ModuleDetailBlock"%>

<orion:ModuledetailBlock ID="OlmDetails" runat="server"></orion:ModuledetailBlock>