﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AssetTreeSummaryEdit.ascx.cs" Inherits="Orion_VIM_Controls_EditControls_AssetTreeSummaryEdit" %>
<%@ Register src="FilterByPlatform.ascx" tagname="FilterByPlatform" tagprefix="vim" %>
<vim:FilterByPlatform ID="ucFilterByPlatform" runat="server" />
