﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="RelatedNodesTreeEdit.ascx.cs" Inherits="Orion_VIM_Controls_EditControls_RelatedNodesTreeEdit" %>
<%@ Register src="RememberExpandedStateControl.ascx" tagname="RememberExpandedStateControl" tagprefix="vim" %>

<vim:RememberExpandedStateControl ID="ucRememberExpandedStateControl" runat="server" />

