﻿<%@ Page Language="C#" MasterPageFile="VoipView.master"  AutoEventWireup="true" CodeFile="SipTrunkDetails.aspx.cs" Inherits="Orion.Voip.OrionVoipSipSipTrunkDetails" %>
<%@ Register TagPrefix="orion" TagName="ResourceContainer" Src="~/Orion/ResourceContainer.ascx" %>


<asp:Content ID="Content1" ContentPlaceHolderID="VoipMainContentPlaceHolder" runat="server">
	<asp:ScriptManager id="ScriptManager1" runat="server" >
	</asp:ScriptManager>
	<orion:ResourceHostControl ID="ResourceHostControl1" runat="server">
		<orion:ResourceContainer runat="server" ID="resContainer" />
	</orion:ResourceHostControl>
</asp:Content>


