﻿.ipsla_AjaxTree input { vertical-align: middle; margin: 0 2px 0 0px; }
.ipsla_AjaxTree img { vertical-align: middle; margin: 0 2px 0 0px; }
.ipsla_AjaxTree span { vertical-align: middle; }

/* Time window selection */
 #PeriodMenu ul
{
	list-style-image: none;
	list-style-type: none;
	list-style-position: inside;
	margin-left: 0px;
	padding-left: 15px;
	margin-top: 0px;
	padding-top: 0px;
	font-weight: bold;
}

#PeriodMenu, .CustomPeriod
{
	z-index: 10000;
	border-style: solid;
	border-width: 1px;
	border-color: #DFDED7;
	border-collapse: collapse;
	padding: 10px;
	background-color: white;
	position: absolute;
}
#PeriodMenu ul
{
	margin-top: 3px;
	margin-bottom: 3px;
}

.CustomPeriod
{
	padding: 3px 8px 3px 4px;
}

.PeriodSubmitButton
{
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 2px;
}

.PeriodCancelButton
{
	margin-top: 10px;
	margin-bottom: 2px;
}

.PeriodValidator
{
	margin-left: 5px;
	margin-top: 0px;
	margin-bottom: 10px;
}

#ConfigInst
{
	 border-style : double;
	 left : 200px;
     top : 100px;
     width : 700px;
     height : 350px;
     border-width:medium;
     border-color:Black;
     position:absolute;
     display:none;
     z-index:1000;
     background-color:@DefaultBackgroundColor;
}

#AdminPagesWizard
{
	margin-left: -21px;
	margin-top: -21px;
	background-image: url(/Orion/Voip/images/setup_wiz_gradient_bg.gif);
	background-repeat: repeat-x;
	background-color: transparent;
}

.showtoggle, .hidetoggle
{
	cursor:pointer;
}
span.SelectedGauge
{
	text-decoration: none;
	border:none;
}
span.SelectedGauge img
{
	border:1px dashed Gray;
}
span.DeSelectedGauge img
{
	border:none;
}
td.EditPageHeader
{
	width:200px;
	font-weight:bold;
}
.SeeAllCallPaths
{
	clear:both;
	margin-bottom:0;
}
.InlineBar
{
	width: 50px;
}
	
.InlineBar h3
{
	background: #eae9e7;
	background-image: url(../images/Gradient-Background.gif);
	margin: 0px;
}
.InlineBar.Normal div
{
	background-color: #00b84a;
	background-image: url(../images/Gradient-Green.gif);
	background-repeat: repeat-x;
}
.InlineBar.Warning div
{
	background-color: #f1d200;
	background-image: url(../images/Gradient-Yellow.gif);
	background-repeat: repeat-x;
}
.InlineBar.Error div
{
	background-color: #e22323;
	background-image: url(../images/Gradient-Red.gif);
	background-repeat: repeat-x;
}
.SitesOverview_CallPath
{
	background-color: #ecedee;
}

.ArrowNormal div
{
	background-image: url(../images/Arrow-Green.gif);
}
.ArrowWarning div
{
	background-image: url(../images/Arrow-Yellow.gif);
}
.ArrowError div
{
	background-image: url(../images/Arrow-Red.gif);
}
.ArrowNormal div, .ArrowWarning div, .ArrowError div
{
	background-repeat: no-repeat;
	width: 40px;
	height: 12px;
}
.ArrowNormal, .ArrowWarning, .ArrowError
{
	vertical-align: middle;
}
.Property.CallManager
{
	background-image: url(../images/Small-Phone.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}
td.SiteName
{
	background-image: url(images/Icon-Site.gif);
	background-repeat: no-repeat;
	height: 50px;
	vertical-align: middle;
	font-weight:bold;
}

td.SiteName a
{
    padding-left: 45px;
    padding-right: 10px;
}

#DualGauge tr td
{
	text-align: center;
	border: none;
	font-weight: bold;
}
#ButtonConfig
{
	background-image: url(/Orion/Voip/images/16x16_instructions.gif);
	cursor:pointer;
	background-repeat:no-repeat;
}
#ButtonPrint
{
	background-image: url(/Orion/Voip/images/16x16_print.gif);
	cursor:pointer;
	background-repeat:no-repeat;
}
#VoipPageTitleArea
{
    width: 100%;
    clear: both;
}

#breadcrumb
{
    font-size:11px;
}

.voipTitleTable
{
    padding-left: 10px;
    padding-top: 4px;
}
.dateArea
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	margin-top: 0px;
	float: right;
	text-align: right;
	border: 0;
	padding-top: 7px;
	padding-bottom: 10px;
}
.settingsArea
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	padding-bottom: 5px;
	padding-right: 10px;
}
table.TopCallPathsByAllMetrics>tbody>tr>td
{
	border: none;
	padding: 0;
	margin: 0;
}

table.ManualConfigCallPaths
{
	width: 100%;
	border-style:ridge;
	border-color:Gray;
}
table.ManualConfigCallPaths tr th
{
	background-color:Silver;
	padding-bottom:3px;
	padding-top:3px;
}
table.ManualConfigCallPaths tr td
{
	 text-align: center;
}
.modalBackground{
     background-color: #e4f1f8;
     filter:alpha(opacity=70);
     opacity:0.7;
}
table.FilterMaker
{
	width:70%;
}
.AdvancedNodeFilter
{
	border-style: solid;
    border-width: thin;
    border-color:Black;
    background-color: White;
    z-index :110000;
    width:535px;
    height:500px;
    padding:10px; 
}
/*AutoComplete flyout */
.AutocompleteList
{  
    visibility:hidden;
    margin:0px!important;
    padding:0px;
    background-color:inherit;
    color:windowtext;
    border:buttonshadow; 
    border-width:1px;
    border-style:solid;
    cursor:default;
    text-align:left; 
    list-style-type:none;
    overflow:auto;
}
/* AutoComplete highlighted item */
.AutocompleteHighlightedListitem
{
    background-color:Highlight;
    color:HighlightText;

    padding:3px;
}
/* AutoComplete item */
.AutocompleteListItem 
{
    background-color:window;
    color:windowtext;

    padding:3px;
}
.IpSlaStatus
{
    vertical-align: middle;
}
.IpSlaPageTitle
{
    padding-right: 0px;
    padding-bottom: 0px;
    vertical-align: top;
}

.IpSlaPageTitle, .IpSlaPageTitle td
{
    font-size: large;
    vertical-align: text-top;
}
.TitleSubText, .TitleSubText a
{
    color: #646464;
}

.operImage { vertical-align: middle; padding-right: 4px;}

.ipsla_TextBox
{
    border:solid 1px #336699;
    padding:1px 3px 1px 3px;
}

.ipsla_CheckBox
{
}

.ipsla_removeBottomTableBorder table tbody tr td { border-bottom-width:0 !important; }

.ipsla_inTextHelpLink {
	color:#646464;
	font-size : 10pt;
	}
.ipsla_inTextHelpLink:visited{color:#646464;}
.ipsla_inTextHelpLink:hover{color:#F99D1C;}

.rightInputColumn .helpfulText
    {
        color: #5F5F5F;
        font-size: 10px;
        text-align: left;
        display: block;
    }
.paddingHelpfulText
    {
        color: Blue;
        font-size: 10px;
        text-align: left;
        display: block;
        padding-left: 15px;
    }
    
.voipSearchFont {
    font-family:Arial;
    font-size:11px;
    font-style:normal;
    text-decoration:none;
}
.voipSearchColumnHeadingRow {
    background-color: #e4e4e4;
    width: 100%;
    font-weight:bold;
    color:#333333;
    height: 20px;
    padding-left: 10px;
}
.voipSearchText {
    font-weight:normal;
    color:#333333;
}
.voipSearchCBText {
    padding-left: 5px;
    white-space: nowrap;
}
.voipSearchDropDownListOriginDestination {
    color:#000000;
    font-weight:normal;
    width: 130px;
}
.voipSearchDropDownListCallStatus {
    color:#000000;
    font-weight:normal;
    width: 107px;
}
.voipSearchDropDownListCallQuality {
    color:#000000;
    font-weight:normal;
    width: 82px;
}
.voipSearchWaterMarkStyle {
    text-align: left;
    color:#797979;
    font-weight:normal;
}
.voipSearchTableBorderRight {
    width: 10px; 
    border-right: 1px solid #AEAEAE;
}
.voipSearchTableLeftPadding {
    padding-left: 25px;
}

.td-call-quality-protocol {
        width: 70%;
        padding-left: 10px;
}

.voipSearchGroupingPanel
{
    background-image: url(/Orion/Nodes/images/background/bg_groupby.gif);
    background-repeat: repeat-x;
    background-color: #e1e1e0;
    padding: 5px;
    border-bottom: 1px solid #d0d0d0;
}

.voipSearchGroupByItem
{
    padding: 0.2em 0.5em;
    border-width: 0px !important;
    cursor: pointer;
}

.voipSearchGrid .x-grid3-hd-row td, 
.voipSearchGrid .x-grid3-row td, 
.voipSearchGrid .x-grid3-summary-row td,
.voipSearchGrid div
{
    font-size: 11px !important;
}

.voipSearchGrid .x-grid3-hd-radio 
{
    display: none;
}

.voipSearchGrid .voipSearchButton em
{
    font-weight: bold;
}

.voipSearchGrid .callButtonIcon
{
    background: url(/Orion/Voip/images/CallIcons/call.png) no-repeat;
}

.voipSearchGrid .phoneButtonIcon
{
    background: url(/Orion/Voip/images/CallIcons/phone.png) no-repeat;
}

.voipSearchGrid .exportToExcelButtonIcon
{
    background: url('/Orion/images/reports/export.gif') no-repeat;
}
.voipSearchGrid .headerHint
{
    font-size: 9px;
    color: #5F5F5F;
}

.voipSearchGrid .warningValue
{
    color: Red;
}
.voipSearchGrid .criticalValue
{
    font-weight: bold;
    color: Red;
}

.voipSearchGrid .failedCallRow 
{
    background-color: #FACECF;
}

.VoipSearchCallsResoucePropertyHeader
{
    color: #222222;
    text-align: right;
    padding-right: 15px;
}
td.NoBorder{
border-bottom: 0 none !important;
}
td.VoipSearchCallsResouceNoBorder{
    border-bottom: 0 none !important;
    padding-bottom: 3px;
}
.VoipSearchCallsResouceColumn {
    padding-left: 15px;
}

.VoipSearchCallsResouceButton {
    text-align: right;
    padding-right: 30px;
    padding-top: 10px;
}

.voipCallDetailStatus {
    font-family:Arial;
    font-size:13px;
    font-style:normal;
    font-weight: bold;
    text-decoration:none;
    position: relative; 
}

.voipSipTrunkDetailStatus {
    font-family: Arial;
    font-size: 8pt;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    position: relative; 
}

.voipCallDetailsTableHeader {
    background-color: #ECEDEE;
}
.voipCallDetailsHeaderText,
.voipGatewayNodesHeaderText
 {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    padding-left: 5px;
}
.voipCallDetailsRowText,
.voipGatewayNodeRowText
 {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    padding-left: 5px;
}
.voipCallDetailsTableRow {
    height: 25px;
}
.VoipCallDetailsTableAlternateRow {
    background-color: #ECEDEE;
}
td.VoipThickBottomBorder{
border-bottom-width: 2px !important;
}
.voipWarningValue
{
    color: Red;
}
.voipCriticalValue
{
    font-weight: bold;
    color: Red;
}
.voipCallOrigDestLabelPosition {
    position:relative;
    top: -3px;
}
.voipCallPathColumnwidth {
    width: 200px;
}
.voipCallPathColumnPadding {
    padding-right: 20px;
}
.voipCallPathPacketLossColumnAlign {
	 text-align: center;
}
.voipPathDetailsTableRow {
    border-bottom: 1px;
    border-bottom-color: black;
}
.voipPathDetailsSlaOperationRow {
    background-color: #ECEDEE;
}
.voipPathDetailsManageOperationsLink {
    text-decoration: underline;
}
.voipPathDetailsFailedRowColor {
    background-color: #FACECF;
}
.voipSearchPageHyperLink 
{
    text-align :right;
}
.voipSearchPageHyperLink a
{
 text-decoration : underline !important;   
}
.voipCallTopologyContentRow {
    padding-top: 15px;
    height: 94px;
}
.voipDivConfCall table td {
    text-align: left;
    padding: 2px 10px;
}
.voipDivConfCall {
    background-color: white !important;
    padding: 5px;
}
.voipTopologyConfCallClick {
    cursor: pointer;
}
.voipAxlCredentialsTable td {
    padding-top: 2px;
    padding-bottom: 2px;
}
.voipAxlCredentialsTable td .x-form-text {
    top: 0px;
}
.voipSipTrunkPollingSettingsTable td {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    vertical-align: middle !important;
}
.voipSipRightColumn {
    text-align: left;
    padding-left: 5px;
}
.voipSipTrunkEnableText {
    display: inline-block;
    padding-left: 5px;
}
.voipSipTrunkPollingSettingsTable td .x-form-text {
    top: 0px;
}
.voipSipTrunkPollingFrequencyTextBox {
    height: 18px;
    width: 70px;
    border: solid 1px #d5d5d5;
    background-color: #fff;
}
#editDialog .PropertyHeader {
	color: #000000 !important;
}

#editDialog a > span { color: #2D5C77; }
#editDialog a > span:hover { color: #DF8200; }


/* Fix for add/edit node page to override ExtJs styles that break UI a little */
#addnodecontent input[type=checkbox] {
    padding: 3px;
}
.sw-voip-edit-node-section-header {
    font-weight: bold;
    padding: 5px 0px;
}

.voipManageOperationsCallManagerDiv
{
    background-color: white; 
    height: 70px; 
    width:459px; 
    padding-top:50px; 
    padding-left:20px;
}

.voipCallsbyRegionPaddingBottom
{
padding-bottom: 5px !important;
}
.voipCallsbyRegionPaddingLeft
{
padding-left: 10px !important;
}
.voipCallbyRegionNameAlignment
{
    white-space:normal;
}

.VNQM_HelpLink, .VNQM_HelpLink:visited, .VNQM_HelpLink:active,
a.VNQM_HelpLink, a.VNQM_HelpLink:visited, a.VNQM_HelpLink:active
{
    color:#336699; 
    font-size: 10px;
    text-decoration: none;
}

.ipslaSIPLink 
{
    cursor:pointer;
    color:#0079aa;
}

.VNQM_SNMPHelpLink, .VNQM_SNMPHelpLink:visited, .VNQM_SNMPHelpLink:active,
a.VNQM_SNMPHelpLink, a.VNQM_SNMPHelpLink:visited, a.VNQM_SNMPHelpLink:active
{
    color:#336699; 
    font-size: 12px;
    text-decoration: none;
}

.VNQM_SNMPHelpLink:hover,
a.VNQM_SNMPHelpLink:hover,
.VNQM_HelpLink:hover,
a.VNQM_HelpLink:hover
{
    color:#F99D1C; 
}
.IPSLAGettingStartTitle {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 10px;
}
.sw-ipsla-started-area {
     padding: 0px; 
     margin: auto; 
     width: auto !important; 
}
div.sw-ipsla-started table.sw-ipsla-started-area td {
     border: none; 
     margin: 0;
}
div.sw-ipsla-started table.sw-ipsla-started-area td.sw-ipsla-started-cc {
     text-align: right; 
     padding-left: 10px; 
     
}
div.sw-ipsla-started table.sw-ipsla-started-area td.sw-ipsla-started-bc {
     width: 154px; 
     padding: 3px;     
}

/* --> Voip nodes browser control */
#sw-voip-nodes-browser-nodes-grid td {
    vertical-align: middle !important;
}
#sw-voip-nodes-browser-nodes-grid td img {
    vertical-align: middle !important;
    margin: 0px;
    padding: 0px;
}
.sw-voip-grouping-panel
{
    background-image: url(/Orion/Nodes/images/background/bg_groupby.gif);
    background-repeat: repeat-x;
    background-color: #e1e1e0;
    padding: 5px;
    border-bottom: 1px solid #d0d0d0;
}
.sw-voip-nodes-browser-selected-items-cell {
    width: 300px;
}
#sw-voip-nodes-browser-list {
    background-color: #fffdcc;
    padding-left: 28px;
}
.sw-voip-nodes-browser-table {
    width: 100%;
}
.sw-voip-nodes-browser-groupby-item
{
    padding: 0.2em 0.5em;
    border-width: 0px !important;
    cursor: pointer;
}
.sw-voip-nodes-browser-selected-items-header
{
    background-color: #fffdcc;
    padding: 13px;
    vertical-align: middle;
}
.sw-voip-nodes-browser-selected-items-header a
{
    text-decoration: none;
}
.x-grid3-hd-radio
{
    background-image: url(/Orion/js/extjs/3.4/resources/images/gray/grid/grid3-hrow2.gif); BACKGROUND-COLOR: #f9f9f9;
    height: 21px;
}
.voipSearchPageLinkRight 
{
    text-align: right;
    margin-top: -32px;
    display: block !important;
}
.voipSearchPageLinkRight a
{
 text-decoration : underline !important;   
}
.voipFtpBanner {
    background-color: #FFFBCC; 
    width: 382px; 
    height: 100px; 
    border: #F4E4BF 1px solid !important;    
}
.voipFtpBannerAligment {
    vertical-align: top !important;
}
.voipFTPBannerTextPadding 
{
    padding: 6px !important;
}
.voipDataDistributionTableHeader {
    background-color: #E0E0E0;
    font-family: Arial, Verdana, Helvetica, sans-serif;
     font-size: 8pt;
    font-weight: normal;
    height: 20px;
}

.voipDataDistributionTableHeaderAligned {
    background-color: #E0E0E0;
    font-family: Arial, Verdana, Helvetica, sans-serif;
     font-size: 8pt;
    font-weight: normal;
    height: 20px;
    text-align:center;
    padding-right:12px;
}
.voipDataDistributionTableRow {
    height: 20px;
}
.voipDataDistributionTableRow {
    border-bottom: 1px;
    border-bottom-color: black;
}
.voipDataDistributionAlign {
    text-align: left;
}

.voipDataDistributionAlignCenter {
    text-align: center;
}
.voipDataDistributionLabelPosition {
    position:relative;
    top: -7px;
    left: 5px;
}
.voipDataDistributionImagePosition {
    position:relative;
    top: 2px;
    left: 5px;
}
.voipDataDistributionLegendColorIcon
{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0.3em 0.3em;
}
.customMenu ul{
  height: auto !important;
}
.customMenu{
  background-image: none;
}
.voipSearchPageLink 
{
    text-align :left;
}
.voipSearchPageLink a
{
 text-decoration : underline !important;   
}
.voipTrunkutilizationCheckboxPosition {
    position:relative;
    top: -5px;
    left: 3px;
}
.voipTrunkUtilizationTableHeader {
    background-color: #E0E0E0;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
}
.voipTrunkUtilizationCheckboxHeader 
{
    background-color: #E0E0E0;
    width: 50px;
}
.voipTrunkUtilizationAlign {
    left: 1px;
}
.voipTrunkUtilizationLegendColorIcon
{
    width: 20px;
    height: 16px;
    display: inline-block;
    margin: 0.3em 0.3em;
}
.voipTrunkPercentUtilizationTableHeader {
    background-color: #E0E0E0;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    height: 20px;
}
.voipTrunkPercentUtilizationTableRow {
    width: 25px;
}
.voipGatewayCallQuality {
    padding-left: 30px;
}
.voipGatewayCallQualityStatus {
    padding-left:5px;
    top:-3px;
    position: relative;
}

/*Callmanager Stats resource*/
.voipCallManagerStatsDataGrid{
	width: 100%;
	border-collapse:collapse ; 
}

.voipCallManagerStatsDataGrid td {
	border-left:none;
	border-right:none;
	border-top:none;
	border-bottom:medium;
}

.voipCallManagerStatsDataGridSum {
	font-weight:bold;
}

.voipCallManagerStatsDataGrid > tbody > tr:nth-child(even) { background-color: #ffffff; }
.voipCallManagerStatsDataGrid > tbody > tr:nth-child(odd) { background-color: #f6f6f6; }
.voipCallManagerStatsDataGrid th {border: 0; padding: 5px; font-size: 10px; background-color: #ecedee; color: #333333; text-transform: uppercase; }
.voipCallManagerStatsDataGrid td { border-color: transparent !important; padding: 2px 5px; }
/* end of Callmanager Stats resource*/



.priInfo {
    text-align: center;
    color: red;
}

.voipGraphEditorCellHeader {
	width: 220px !important;
}

.voipGraphEditorCheckbox input {
	margin-left: 0px;
}

.voipGraphEditorCellTitleHeight {
	height: 50px;
}

.voipGraphEditorH1Style {
	padding-left: 0px;
}

.voipCentralize {
    text-align: center; 
}

/* <-- Voip nodes browser control */

.dual-column-header {
	text-align: center;
	vertical-align: bottom;
	padding: 10px 5px 0 5px !important;
	white-space: nowrap;
}

.table-header-cell-padding {
	padding-right: 4px;
	white-space: nowrap;
}

.column-width-one-third {
	width: 30%;
}

table.NeedsZebraStripes > tbody > tr > td { padding-left: 0px !important; padding-right: 0px !important;}
.ReportHeader { padding-left: 0px !important; padding-right: 0px !important;}
.x-grid3-cell-inner { padding-left: 0px !important; padding-right: 0px !important;}
.x-grid3-hd-inner { padding-left: 0px !important; padding-right: 0px !important;}