/*!
 * @solarwinds/licensing-frontend 1.8.0-285
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.cl-license-manager-page__header {
  padding: 15px;
  border-bottom: 1px solid #D5D5D5;
  display: block;
}
.cl-license-manager-page__header .cl-license-manager-page__title {
  margin: 0;
}
.cl-license-manager-page__header .cl-license-manager-page__title-link {
  margin-left: 30px;
  float: right;
}
.cl-license-manager-page__header .customer-portal-link {
  font-weight: 700;
}
.cl-license-manager-page .flex-display {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
}
.cl-license-manager-page .flex-basis {
  flex-basis: 100%;
}
.cl-license-manager-page .flex-vertical-center {
  align-items: center;
  flex-wrap: wrap;
}
.cl-license-manager-page .left-container {
  font-size: 14px;
  align-self: baseline;
}
.cl-license-manager-page .assigned-text,
.cl-license-manager-page .not-assigned,
.cl-license-manager-page .not-installed {
  padding-top: 5px;
  position: relative;
  bottom: 3px;
  word-break: break-all;
}
.cl-license-manager-page .assigned-text.evaluation,
.cl-license-manager-page .not-assigned.evaluation,
.cl-license-manager-page .not-installed.evaluation {
  padding-top: 5px;
  margin-right: 20px;
  bottom: 0;
}
@media screen and (min-width: 991px) {
  .cl-license-manager-page .assigned-text.evaluation,
  .cl-license-manager-page .not-assigned.evaluation,
  .cl-license-manager-page .not-installed.evaluation {
    flex: 1;
  }
}
.cl-license-manager-page .details {
  padding-bottom: 5px;
}
.cl-license-manager-page .details-item {
  font-size: 11px;
  display: inline-block;
  padding-right: 10px;
}
.cl-license-manager-page .details-item:last-child {
  padding-right: 0;
}
.cl-license-manager-page .bold {
  font-weight: 700;
}
.cl-license-manager-page .critical {
  background-color: #FFDAD5;
}
.cl-license-manager-page .warning {
  background-color: #faf4d0;
}
.cl-license-manager-page .expired {
  color: #D50000;
}
.cl-license-manager-page .activate-button-container .activate-button {
  order: 1;
  align-items: center;
  display: flex;
}
@media screen and (max-width: 991px) {
  .cl-license-manager-page .right-container {
    text-align: left;
  }
}
@media screen and (max-width: 991px) {
  .cl-license-manager-page .right-container .activation {
    float: left;
    min-height: 50px;
    padding: 10px 0;
  }
}
.cl-license-manager-page .xui-grid__selection {
  display: none;
}
.cl-deactivation-dialog .deactivation-list {
  list-style: disc;
}
.cl-deactivation-dialog .license-name-value {
  margin: 3px 0 0 0;
}
.cl-deactivation-dialog .license-property-value {
  margin: 0 2px 0 2px;
}
.cl-deactivation-dialog .assigned-text {
  word-break: break-all;
  display: inline-block;
}
.cl-assignment-dialog .text-break-line {
  word-break: break-all;
}
.cl-assignment-dialog .node-icon {
  display: flex;
  margin-top: 5px;
}
.cl-assignment-dialog .cl-assignment-item-caption {
  width: calc(70%);
  flex-grow: 1;
  padding-left: 5px;
  margin-top: -5px;
}
.cl-assignment-dialog .cl-assignment-item-description {
  padding-left: 30px;
}

/*# sourceMappingURL=licensing.css.map*/