﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditWirelessHeatMapsList.ascx.cs" Inherits="Orion_WirelessHeatmaps_Controls_EditResourceControls_EditWirelessHeatMapsList" %>
<strong><%= Resources.WirelessHeatmapsWebContent.NPMWEBDATA_PD0_09 %></strong>
<p>
<%=GetHintText%>    
</p>