﻿@using System.Threading
@using SolarWinds.Orion.Licensing.Models
@using SolarWinds.Orion.Web.Platform
@using System.Text.RegularExpressions;
@using SolarWinds.Orion.Web.Services;

@*
    TODO: remove licenseSummary - OADP-272
*@

@model LicenseSummary
@{
    var licenseData = Model;
    var productModule = EnvironmentConfig.CurrentModule;
    var culture = Thread.CurrentThread.CurrentCulture;
    var isProduction = EnvironmentConfig.Name != "development";

    var noChromeRequested = (Request.QueryString["chrome"]?.Equals("off", StringComparison.InvariantCultureIgnoreCase) ?? false) ||
        (Request.QueryString["printable"]?.Equals("true", StringComparison.InvariantCultureIgnoreCase) ?? false);
    var displayHeaderAndFooter = !noChromeRequested;
    var footerString = new VersionService().GetOrionFooterString();

    var scripts = new List<string>()
{
$"{EnvironmentConfig.ModuleRootPath}/ui-bundle/novajs/i18n/angular-locale_{culture.Name}.js",
$"{EnvironmentConfig.DefaultApiEndpoint}/l10n/resources/web",
$"{EnvironmentConfig.DefaultApiEndpoint}/l10n/resources/apollo",
$"{EnvironmentConfig.DefaultApiEndpoint}/l10n/resources/ui",
$"{EnvironmentConfig.DefaultApiEndpoint}/l10n/resources/search"
};

    var momentLocalePath = VirtualPathUtility.ToAbsolute(
        $"~/{EnvironmentConfig.UiBundlePath}/novajs/i18n/moment/{culture.TwoLetterISOLanguageName}.js");

    if (File.Exists(Request.MapPath(momentLocalePath)))
    {
        scripts.Add(momentLocalePath);
    };
}
<!DOCTYPE HTML PUBLIC "-W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="@culture.ToString()" xml:lang="@culture.ToString()"
      ng-app="orion.app" ng-strict-di xui-global-keys class="xui sw-orion @(displayHeaderAndFooter ? "":"sw-no-chrome")
       @(isProduction ? "" : "sw-development")" ng-class="{ 'xui-fullpage': fullpage }">
@*<!DOCTYPE html>
    <html class="no-js">*@
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="@EnvironmentConfig.Locale">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="@ViewBag.MetaDescription">
    <meta name="keywords" content="@ViewBag.MetaKeywords">
    <base href="@EnvironmentConfig.ApplicationUri" />
    <title ng-bind="title || 'SolarWinds Orion Web Console'"></title>

    @if (EnvironmentConfig.ShouldShowGtm)
    {
        var OrionModulesCache = EnvironmentConfig.Authenticated ? (string)WebCache.Get("GTM_OrionModules") : "[]";
        if (OrionModulesCache == null)
        {
            OrionModulesCache = EnvironmentConfig.OrionModulesJson;
            WebCache.Set("GTM_OrionModules", OrionModulesCache, 720, false);
        }
        var LicenseTypes = EnvironmentConfig.Authenticated ? (string) WebCache.Get("GTM_LicenseTypes") : "[]";
        if (LicenseTypes == null)
        {
            LicenseTypes = EnvironmentConfig.LicenseTypes;
            WebCache.Set("GTM_LicenseTypes", LicenseTypes, 720, false);
        }
        var ModuleElementCounts = EnvironmentConfig.Authenticated ? (string) WebCache.Get("GTM_ModuleElementCounts") : "[]";
        if (ModuleElementCounts == null)
        {
            ModuleElementCounts = EnvironmentConfig.ModuleElementCounts;
            WebCache.Set("GTM_ModuleElementCounts", ModuleElementCounts, 720, false);
        }
        var ModuleInstallDates = EnvironmentConfig.Authenticated ? (string) WebCache.Get("GTM_ModuleInstallDates") : "[]";
        if (ModuleInstallDates == null)
        {
            ModuleInstallDates = EnvironmentConfig.ModuleInstallDates;
            WebCache.Set("GTM_ModuleElementCounts", ModuleElementCounts, 720, false);
        }
        <!-- Google Tag Manager -->
        <script type="text/javascript">
        var dataLayer = JSON.parse("@Html.Raw(OrionModulesCache)");
        dataLayer.push(
            {
                'oipUserId': '@EnvironmentConfig.OipUserId',
                'bootstrapperId': '@EnvironmentConfig.PendoBootstraperId',
                'isInternal': '@EnvironmentConfig.IsInternal',
                'UserAccountHash': '@EnvironmentConfig.GTMUserHash',
                'GoogleAnalyticsAccountKey': '@EnvironmentConfig.GoogleAnalyticsKey',
                'AdminStatus': '@EnvironmentConfig.AdminStatus'
            });
        var licenseTypes = JSON.parse('@Html.Raw(LicenseTypes)');
        dataLayer = dataLayer.concat(licenseTypes);
        var moduleElementCounts = JSON.parse('@Html.Raw(ModuleElementCounts)');
        dataLayer = dataLayer.concat(moduleElementCounts);
        var moduleInstallDates = JSON.parse('@Html.Raw(ModuleInstallDates)');
        dataLayer = dataLayer.concat(moduleInstallDates);
        </script>
        <script type="text/javascript">
            (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-MW4D6T8');
        </script>
        <!-- End Google Tag Manager -->
    }

    @foreach (var module in EnvironmentConfig.PlatformModules.Values.Cast<ModuleInfo>())
    {
        if (!string.IsNullOrWhiteSpace(module.VendorCssPath))
        {
            @BundleConfig.RenderStyles(module.VendorCssPath)
        }
        if (!string.IsNullOrWhiteSpace(module.CssPath))
        {
            @BundleConfig.RenderStyles(module.CssPath)
        }
    }

    @if (!productModule.IsEmpty)
    {
        if (!string.IsNullOrWhiteSpace(productModule.VendorCssPath))
        {
            @BundleConfig.RenderStyles(productModule.VendorCssPath)
        }
        if (!string.IsNullOrWhiteSpace(productModule.CssPath))
        {
            @BundleConfig.RenderStyles(productModule.CssPath)
        }
    }

    @BundleConfig.RenderScripts("modules/ui-bundle/novajs/js/modernizr.min.js")
</head>
<body sw-idle-sensor>
    <sw-orion-website options="{{
        {
            displayHeaderAndFooter: @displayHeaderAndFooter.ToString().ToLower(),
             headerOptions: {
                showLogo: @ViewBag.ShowLogo.ToString().ToLower(),
                siteLogoUri: '@ViewBag.SiteLogoUri',
            },
            footerOptions: {
                copyright: '@footerString',
            },
            licenseSummary: {
                evalModuleCount: @licenseData.EvalModuleCount,
                expiredModuleCount: @licenseData.ExpiredModuleCount
            }
        }
    }}">
    </sw-orion-website>

    @RenderBody()

    <script type="text/javascript">
        @Html.Partial("~/Views/Scripts/Environment.cshtml")
    </script>

    @foreach (var module in EnvironmentConfig.PlatformModules.Values.Cast<ModuleInfo>())
    {
        if (!string.IsNullOrWhiteSpace(module.VendorJsPath))
        {
            @BundleConfig.RenderScripts(module.VendorJsPath)
        }

        if (!string.IsNullOrWhiteSpace(module.JsPath))
        {
            @BundleConfig.RenderScripts(module.JsPath)
        }
    }

    @BundleConfig.RenderScripts(scripts.ToArray())

    @if (!productModule.IsEmpty)
    {
        if (!string.IsNullOrWhiteSpace(productModule.VendorJsPath))
        {
            @BundleConfig.RenderScripts(productModule.VendorJsPath)
        }

        @BundleConfig.RenderScripts($"{EnvironmentConfig.DefaultApiEndpoint}/l10n/resources/{productModule.Name}/")

        // Use Web Optimization api here because module files are added to MVC bundler.
        @Scripts.Render(string.Format(BundleConfig.ModuleScriptPath, productModule.Name))
    }

    @BundleConfig.RenderScripts($"{EnvironmentConfig.DefaultApiEndpoint}/signalr/hubs")

    <script type="text/javascript">
        //  Definition of non-framework dependencies for Core/Orion Platform Website
        angular.module("orion.app", [ "@(productModule.IsEmpty ? "orion" : productModule.Name)", "orion-ui-components", "widgets"]);
    </script>
</body>
</html>
