﻿@using System.Threading
@using SolarWinds.Orion.Web.Platform.Services
@using SolarWinds.Orion.Web.Platform
@model HandleErrorInfo
@{
    Layout = null;

    var culture = Thread.CurrentThread.CurrentCulture;
    var scripts = new List<string>()
    {
        $"{EnvironmentConfig.ModuleRootPath}/ui-bundle/novajs/i18n/angular-locale_{culture.Name}.js",
        $"{EnvironmentConfig.DefaultApiEndpoint}/l10n/resources/web",
        $"{EnvironmentConfig.DefaultApiEndpoint}/l10n/resources/apollo",
        $"{EnvironmentConfig.DefaultApiEndpoint}/l10n/resources/ui",
        $"{EnvironmentConfig.DefaultApiEndpoint}/l10n/resources/search"
    };

    var momentLocalePath = VirtualPathUtility.ToAbsolute(
        $"~/{EnvironmentConfig.UiBundlePath}/novajs/i18n/moment/{culture.TwoLetterISOLanguageName}.js");

    if (File.Exists(Request.MapPath(momentLocalePath)))
    {
        scripts.Add(momentLocalePath);
    };
}
<!DOCTYPE html>
<html lang="@culture.ToString()" xml:lang="@culture.ToString()" ng-app="orion.app" class="xui sw-orion">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title _t>Error</title>
    <base href="@EnvironmentConfig.ApplicationUri" />
    @foreach (var module in EnvironmentConfig.PlatformModules.Values.Cast<ModuleInfo>())
    {
        if (!string.IsNullOrWhiteSpace(module.VendorCssPath))
        {
            @BundleConfig.RenderStyles(module.VendorCssPath)
        }
        if (!string.IsNullOrWhiteSpace(module.CssPath))
        {
            @BundleConfig.RenderStyles(module.CssPath)
        }
    }
</head>
<body ng-controller="ErrorPageController as vm">
 
    <script type="text/javascript">
        var SW;
        (function(sw) {
            sw.environment = {
                debugI18n: @EnvironmentConfig.Debugi18n.ToString().ToLower(),
            };
        })(SW || (SW = {}));
    </script>

    <sw-orion-error error-report="vm.errorReport"></sw-orion-error>

    @foreach (var module in EnvironmentConfig.PlatformModules.Values.Cast<ModuleInfo>())
    {
        if (!string.IsNullOrWhiteSpace(module.VendorJsPath))
        {
            @BundleConfig.RenderScripts(module.VendorJsPath)
        }

        if (!string.IsNullOrWhiteSpace(module.JsPath))
        {
            @BundleConfig.RenderScripts(module.JsPath)
        }
    }

    @BundleConfig.RenderScripts(scripts.ToArray())

    <script type="text/javascript">
        Xui.app().controller('ErrorPageController', function () {
                var vm = this;
                vm.errorReport = {
                    errorType: "server error",
                    errorCode: "500",
                    message: "@HttpUtility.JavaScriptStringEncode(Model.Exception.Message)",
                    @if(ProfileService.GetCurrent()?.AllowAdmin == true || Settings.Instance.IncludeErrorDetail)
                  {
                        <text>exception: "@HttpUtility.JavaScriptStringEncode(Model.Exception.ToString())",</text>
                        <text>location: "@HttpUtility.JavaScriptStringEncode(Request.RawUrl)"</text>
                    }

                };
            });

        //  Definition of non-framework dependencies for Core/Orion Platform Website
        angular.module("orion.app", ["orion", "orion-ui-components", "widgets"]);
    </script>
</body>
</html>
