﻿<%@ Control Language="C#" AutoEventWireup="false" CodeFile="MulticastNextRouters.ascx.cs" Inherits="Orion_NPM_Resources_MulticastRouting_MulticastNextRouters" %>
<orion:resourcewrapper id="ResourceWrapper" runat="server">
    <Content>
        <asp:PlaceHolder runat="server" ID="WrapperControl"></asp:PlaceHolder>        
    </Content>
</orion:resourcewrapper>