﻿<%@ Control Language="C#" AutoEventWireup="false" CodeFile="MulticastGroupNodeInterfaces.ascx.cs" Inherits="Orion_NPM_Resources_MulticastRouting_MulticastGroupNodeInterfaces" %>
<orion:resourcewrapper id="ResourceWrapper" runat="server">
    <Content>
        <asp:PlaceHolder runat="server" ID="WrapperControl"></asp:PlaceHolder>        
    </Content>
</orion:resourcewrapper>