﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MulticastRoutingChart.ascx.cs" Inherits="Orion_NPM_Resources_MulticastRouting_MulticastRoutingChart" %>

<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
        <asp:PlaceHolder runat="server" ID="WrapperContents"></asp:PlaceHolder>
    </Content>
</orion:resourceWrapper> 
