﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="RunningVMChart.ascx.cs" Inherits="Orion_VIM_Resources_DataCenterDetails_RunningVMChart" %>
<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
        <asp:PlaceHolder runat="server" ID="chartPlaceHolder" />
    </Content>
</orion:resourceWrapper>