/*!
 * @solarwinds/nexus-vpc-frontend 1.6.0-2033
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.vpc-name {
  font-weight: bold;
}
.xui-ellipsis {
  flex: auto !important;
}
.vpc-port .node-caption-text {
  font-weight: bold;
}
.vpc-start-monitoring-button .xui-icon {
  margin-right: 5px;
}
.vpc-start-monitoring-button .node-management-link {
  display: block;
  padding: 4px 0 10px 0;
  margin-bottom: 10px;
  text-decoration: none;
}
.unknown-vpc-port .node-caption-text {
  font-weight: bold;
}
.vpc-problematic-interfaces .count-text {
  font-weight: bold;
}

/*# sourceMappingURL=nexus-vpc.css.map*/