﻿.changesSaved .x-grid3-cell-inner:after{
             background-color: white !important;
             color:black;
             margin-left: 10px;
             padding: 3px;
             content:'Changes saved';
             display: inline;
         }
        .redBorder {
            border: red thin solid;
        }
        .sw-hdr-title {
            font-size: 18px;
            margin-bottom: 15px;
            font-family: Arial, Helvetica, Sans-Serif; 
            font-weight: normal;
        }
        span.Label {
            white-space: nowrap;
            margin-left: 5px;
        }
        .smallText
        {
            color: #979797;
            font-size: 9px;
        }
        #ChBxAuthKeyIsPass, #ChBxEncKeyIsPass {
            margin-right: 0.5em;
            margin-top: 1em;
        }
        .add
        {
            background-image: url(/Orion/images/add_16x16.gif) !important;
        }
        .copy
        {
            background-image: url(/Orion/images/copy_16x16.gif) !important;
        }
        .del
        {
            background-image: url(/Orion/images/delete_16x16.gif) !important;
        }
        #snmpDetails tr  td + td {
            padding: 20px 20px 0px 5px !important;
        }
        #snmpDetails tr td:first-child {
            padding: 20px 5px 0px 20px !important;
            width: 40%;
        }
        
        .DetailsTables {
            width: 400px;
            background-color: #E6E6E6;
        }

        .SizeTextBox {
            width: 100%
        }
        #snmpV3 {
            display: none
        }
        .AuthIsNone { display: none }

        .EncIsNone { display: none }
        .EyeField { }
        
        #Test input[type="text"] {
            width: 235px !important;
        }
        .ac_results {
            width: 235px;
        }

        .SpanPadding {
            display:inline-block;
            margin-bottom: 20px;
        }
        input::-ms-clear, input::-ms-reveal{
            display:none !important;
        }