﻿.ResourceWrapper table tbody tr td.expert-knowledge-sub-title {
	text-transform: uppercase;
	background-color: #eee;
}

table.expert-knowledge-table tbody tr td {
    border-bottom: 0 !important;
    overflow: auto;
	white-space: pre-wrap;
}
