﻿.SEUM_SettingsIcon
{
    background-image: url('/Orion/SEUM/images/Icon.Settings.gif');
	background-position: center left;
	background-repeat: no-repeat;
	padding: 2px 0px 2px 20px;
	margin-right: 5px;
}

.x-grid3-hd-radio
{
    background-image: url(/Orion/js/extjs/3.4/resources/images/gray/grid/grid3-hrow2.gif); BACKGROUND-COLOR: #f9f9f9;
    height: 21px;
}

.titleTable h2
{
    font-size: small;
    font-weight: bold;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.SEUM_ActionsList ul
{
    list-style: disc inside;
}

div.SEUM_ActionsList li
{
    padding: 2px 1em;
}

div.SEUM_ActionsList li:nth-child(even) {
    background: #f6f6f6;
}

div.SEUM_ActionsList img {
    vertical-align: middle;
}

.SEUM_ReportHeader
{
    padding: 0.3em 1em;
    text-transform: uppercase;
    text-align: left;
}
.SEUM_ReportHeader.SEUM_ReportHeader_TimeOfAlert {
    width: 110px;
}

.SEUM_Property
{
    padding: 0.3em 1em;
}

.SEUM_Property a, .SEUM_Property img
{
    vertical-align: middle;
}

.SEUM_DurationColumn
{
    width: 10%;
    text-align: right;
}

.SEUM_PercentOfOptimalColumn
{
    width: 15%;
    text-align: center;
}

.SEUM_HihglightedColumn
{
    background-color: #EAF7FE;
}

.ZebraStripe.SEUM_HihglightedColumn
{
    background-color: #D3EBF8;
}

.SEUM_CriticalValueText
{
    color: #ff0000;
    font-weight: bold;
}

.SEUM_WarningValueText
{
    color: #ff0000;
}

.SEUM_Buttons
{
    text-align: right;
}

.SEUM_HelpLink, .SEUM_HelpLink:visited, .SEUM_HelpLink:active
{
    color:#336699; 
    font-size: 10px;
}

.SEUM_HelpLink:hover
{
    color:#F99D1C; 
}

.SEUM_DisabledLink, .SEUM_DisabledLink:hover
{
    color: #646464 !important;
    cursor: default !important;
}

.SEUM_HelpText
{
    color: #646464;
    font-size: 10px;
}

.SEUM_DetailsTable
{
    border-collapse: collapse;
}

.SEUM_TableSpacer {
    display: block;
    background-color: #fff;
    height: 1em;
}


.SEUM_Right
{
    text-align: right !important;
    padding: 2px 3px 0px 0px;
}

.SEUM_Left
{
    text-align: left !important;
    padding: 2px 0px 0px 3px;
}

.SEUM_GroupingPanel
{
    background-image: url(/Orion/Nodes/images/background/bg_groupby.gif);
    background-repeat: repeat-x;
    background-color: #e1e1e0;
    padding: 5px;
    border-bottom: 1px solid #d0d0d0;
}

.SEUM_GroupByItem
{
    padding: 0.2em 0.5em;
    border-width: 0px !important;
    cursor: pointer;
}

.SEUM_ResourceError
{
    font-weight: bold;
    color: Red;
}

.SEUM_LicenseErrorText
{
    margin: 15px;
}

ol.SEUM_LicenseErrorTroubleshooting li
{
    padding: 2px 0px;
}

.SEUM_FloatRight
{
    float: right;
}

.SEUM_Cleaner
{
    clear:both; 
    width:100%;
    font-size: 1px;
}

/* --> Transaction Health Overview Resource */
.SEUM_StatusTableRow
{
    padding: 0.3em 1em;
}

.SEUM_StatusTableRow img
{
    vertical-align: middle;
}

.SEUM_StatusTableRow .SEUM_TransactionsTreeNode-itemName
{
    padding-top: 3px;
}

.SEUM_StatusTableRowContainer.SEUM_Level1
{
    border-bottom: 1px groove #d8d6d1;
}

.SEUM_StatusTableRowContainer.SEUM_Level2 .SEUM_StatusTableRow
{
    margin: 0px;
    padding: 0em 0em 0.2em 0em;
}

.SEUM_StatusTableRowContainer.SEUM_Level2.SEUM_Odd
{
    background-color: #E4F1F8;
}

.SEUM_PieChart
{
    text-align: center;
}
/* <-- Transaction Health Overview Resource */

/* --> All Transactions Resource */
.SEUM_Level2 .SEUM_TransactionsTreeNode-itemHeader
{
    padding-left: 30px;
}
.SEUM_Level3 .SEUM_TransactionsTreeNode-itemHeader
{
    padding-left: 60px;
}
.SEUM_Level4 .SEUM_TransactionsTreeNode-itemHeader
{
    padding-left: 90px;
}
.SEUM_Level5 .SEUM_TransactionsTreeNode-itemHeader
{
    padding-left: 120px;
}
.SEUM_Level6 .SEUM_TransactionsTreeNode-itemHeader
{
    padding-left: 150px;
}

.SEUM_TransactionsTreeNode-expandButtonWrapper
{
    width: 16px;
    height: 16px;
    display: inline-block;
}

.SEUM_TransactionsTreeNode-itemName
{
    margin-left: 48px;
}

.SEUM_TransactionsTreeNode-itemName.SEUM_TransactionsTreeNode-descriptionDisplayed
{
    margin-right: 135px;
}

.SEUM_TransactionsTreeNode-itemDescription
{
    float: right;
    padding-right: 1em;
    text-align: right;
    width: 120px;
}

.SEUM_TransactionsTreeNode-children
{
    clear: both;
}

.SEUM_TransactionsTreeNode-statusIcon, .SEUM_TransactionsTreeNode-itemName
{
    vertical-align: top;
}

.SEUM_TransactionsTreeNode-expandButton
{
    vertical-align: middle;
}

.SEUM_TransactionsTreeNode-expandLink
{
    float: left;
}

.SEUM_GettingStartedBox
{
    background-color: #e4f1f8;
    padding: 1em;
    margin-top: 1em;
}

.SEUM_GettingStartedBox div
{
    padding-top: 1em;
    clear: both;
}

.SEUM_GettingStartedBox div.SEUM_First
{
    padding-top: 0em;
}

.SEUM_GettingStartedBox div h3
{
    font-weight: normal;
    font-size: 11pt;
    margin: 12px 0px 0px 40px;
}

.SEUM_GettingStartedBox div p
{
    margin: 0px 0px 0px 25px;
    line-height: 1.8em;
}

.SEUM_GettingStartedBox div img
{
    float: left;
    margin-top: 2px;
}
/* <-- All Transactions Resource */

/* --> Transactions Detail Resource */

.SEUM_DetailGauge div
{
    padding-top: 1em;
    clear:both;       
}

.SEUM_DetailGauge div img
{
        
}

/* <-- Transactions Detail Resource */
/* --> Screenshots Resource */
.SEUM_ScreenshotTable th
{
    background-color: #e2e1d4;
    padding: 0.5em;
}

.SEUM_ScreenshotTable th, .SEUM_ScreenshotTable td
{
    border-width: 0px !important;
}

.SEUM_ScreenshotTable th a, .SEUM_ScreenshotTable th img
{
    vertical-align: middle;
    margin: 0em 0.2em;
    font-weight: normal;
}

.SEUM_ScreenshotTable td img
{
    margin: 3px 0px;
}

.SEUM_NavButton
{
    margin-left: 0.5em;
}

.SEUM_ScreenshotLinks a
{
    color: #336699;
}

.SEUM_NoData
{
    text-align: center;
    padding: 1em;
    font-weight: bold;
    position: relative;
    z-index: 1;
    background-color: #ffffff;
}

th.SEUM_ScreenshotNavButtons
{
    width: 50%;
}

td.SEUM_ScreenshotContainer
{
    height: 60px;
    vertical-align: top;
}

.SEUM_ScreenshotImage
{
    position: relative;
    z-index: 10;
}

div.SEUM_ImageLoadingIndicatorContainer
{
    position: relative;
    background-color: #ff0000;
}

div.SEUM_ImageLoadingIndicator
{
    position: absolute; 
    width: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    vertical-align: middle;
}
.sw-seum-screenshot-copyright 
{
    text-align: left;
    color: #336699;
    font-size: 8pt;
    margin-top: 5px;
}
/* <-- Screenshots Resource */

/* --> Step-By-Step duration Resource */
.SEUM_LegendColorIcon
{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0em 0.3em;
}

.SEUM_LegendColorIconCell
{
    padding-right: 0.5em !important;
    padding-left: 0.5em !important;
    vertical-align: top;
}

.SEUM_LegendItemName
{
    padding-left: 0px !important;
}
/* <-- Step-By-Step duration Resource */

/* --> Step history record selector */
.SEUM_StepHistoryRecordSelectorWindow .x-form-item-label
{
}

.SEUM_StepHistoryRecordSelectorWindow .x-form-element
{
    padding: 0px !important;
}
.SEUM_GroupingPanel .x-panel-body
{
    background-color: transparent !important;
}
/* <-- Step history record selector */

/* --> Tooltips */
.cluetip-orion .SEUM_NetObjectTipBody th, .cluetip-orion .SEUM_NetObjectTipBody td
{
	white-space: normal!important;
}
/* <-- Tooltips */

/* --> Breadcrumbs */
.SEUM_BreadcrumbsWrapper 
{
    margin-top: 10px;
    margin-left: 10px;
}

.SEUM_BreadcrumbsWrapper li.bc_submenuitem	
{
    width: auto;
    white-space: nowrap;
    padding-right: 5px;
}

.SEUM_BreadcrumbsWrapper .SEUM_BcCurrent 
{
    background-color: #ffeca8;
}
/* <-- Breadcrumbs */

/* ========== Hover help links ========== */
.SEUM_HoverHelpLink img
{
    margin-right: 5px;
}
.SEUM_HoverHelpArrow
{
    z-index: 92;
    width: 16px;
    height: 17px;
    background-image: url(/Orion/SEUM/images/Tooltip.Arrow.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
}
.SEUM_HoverHelpBody
{
    z-index: 91;
    font-style: normal;
    max-width: 250px;
    white-space: normal;
    margin-left: 15px;
}

.SEUM_HoverHelpBody img 
{
    border: 1px solid #c8c8c8;
    margin: 5px;
    margin-left: -15px;
}

.SEUM_HoverHelpTooltip
{
    position: fixed;
    z-index: 90;
}

/* ========== Charts ========== */
table.SEUM_TCPWaterfallChartLegend 
{
    margin-left: 200px;
    width: 300px;
}

table.SEUM_TCPWaterfallChartLegend th
{
    text-align: left;
    padding-bottom: 5px;
    font-weight: bold;
}


.SEUM_FullscreenChartLink 
{
    text-align: right;   
}

.SEUM_NoclipResource 
{
    overflow: visible;
}
.SEUM_NoclipResource .highcharts-container 
{
    overflow: visible !important;
}
.SEUM_ChartTooltip 
{
    position: relative;
    z-index: 50;
    border: 2px solid rgb(0, 108, 169);
    border-radius: 5px;
    background-color: #ffffff;
    padding: 5px;
    font-size: 9pt;
}

#highchartTooltip .SEUM_ChartTooltip 
{
    border-width: 0px !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    padding: 0px !important;
}

div.sw-seum-availability-legend input, div.sw-seum-availability-legend span, div.sw-seum-availability-legend div
{
    vertical-align: middle;
}

div.sw-seum-availability-legend span.sw-seum-title
{
    padding-left: 8px;
    padding-right: 8px;
}

/* =============== Unmanage window ================= */

.SEUM_UnmanageWindow .x-panel-body
{
    padding: 1em;
}

.SEUM_UnmanageWindow p
{
    padding: 0.3em 0em;
}

.SEUM_UnmanageWindow .x-panel-body
{
    height: 185px;
}

.SEUM_UnmanageWindow .x-panel-body table 
{
    margin-top: 5px;
}

.SEUM_UnmanageWindow .x-window-header-text 
{
    background-image: url(/Orion/images/StatusIcons/Small-Unmanaged.gif) !important;
    background-repeat: no-repeat;
    background-position: left 1px;
    padding: 2px 0px 2px 17px;
}

div.SEUM_Indent 
{
    padding-left: 20px;
}

.SEUM_UnmanageTable 
{
    background-color: #EAF7FE;
    margin-right: 4px;
}

.SEUM_UnmanageTable td
{
    padding: 5px;
}

.SEUM_UnmanageTable td.sw-text-helpful
{
    padding-top: 0px;
    margin-top: 0px;
}

.SEUM_UnmanageTable td.SEUM_NoBottom 
{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.SEUM_UnmanageTable td.SEUM_TextGray 
{
    color: #646464;
}

.SEUM_UnmanageTable td.SEUM_TextGray span.SEUM_FromPlaceholder, .SEUM_UnmanageTable td.SEUM_TextGray span.SEUM_ToPlaceholder
{
    color: #000;
}

/* =============== Load indicator styles ================= */
table.sw-seum-load-progress-bar
{
    width: auto;
    padding: 0px;
    margin: 0px;
    line-height: inherit;
    font-size: inherit;
}

table.sw-seum-load-progress-bar tbody tr td
{
    border-style: none;
    padding: 0px;
    margin: 0px;
    line-height:inherit;
}

table.sw-seum-load-progress-bar tbody tr td span
{
    padding: 0px;
    margin: 0px 0px 0px 5px;
}

/* ================= Resource paging styles =============== */

table.sw-seum-paging 
{
    margin-top: 5px;
}

.ResourceWrapper table.sw-seum-paging td 
{
    padding: 1px 3px 1px 3px;
    vertical-align: middle;
    border: none;
}

.ResourceWrapper table.sw-seum-paging td.sw-seum-paging-button 
{
    width: 18px;
    height: 18px;
    text-align:center;
    border-right: 2px solid #c8c8c8;
}

.ResourceWrapper table.sw-seum-paging td.sw-seum-paging-current-page 
{
    width: 100px;
    text-align:center;
    border-right: 2px solid #c8c8c8;
}

.ResourceWrapper table.sw-seum-paging td.sw-seum-paging-view-all
{
    text-align: left;
}

.ResourceWrapper table.sw-seum-paging td.sw-seum-paging-page-size-col 
{
    text-align: right;
}

table.sw-seum-paging .sw-seum-paging-button span
{
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
}

table.sw-seum-paging input 
{
    font-weight: bold;
    text-align: right;
    width: 30px;
}

td.sw-seum-loading 
{
    padding: 10px;
    vertical-align: middle;
    text-align: center;
}

.sw-seum-paging-button span.sw-seum-paging-first-enabled
{
    background: transparent url(/Orion/SEUM/Images/Icon.Paging.First.png) no-repeat center center;
}
.sw-seum-paging-button span.sw-seum-paging-prev-enabled
{
    background: transparent url(/Orion/SEUM/Images/Icon.Paging.Prev.gif) no-repeat center center;
}
.sw-seum-paging-button span.sw-seum-paging-next-enabled
{
    background: transparent url(/Orion/SEUM/Images/Icon.Paging.Next.gif) no-repeat center center;
}
.sw-seum-paging-button span.sw-seum-paging-last-enabled
{
    background: transparent url(/Orion/SEUM/Images/Icon.Paging.Last.png) no-repeat center center;
}
.sw-seum-paging-button span.sw-seum-paging-first-disabled
{
    background: transparent url(/Orion/SEUM/Images/Icon.Paging.First.Disabled.png) no-repeat center center;
}
.sw-seum-paging-button span.sw-seum-paging-prev-disabled
{
    background: transparent url(/Orion/SEUM/Images/Icon.Paging.Prev.Disabled.gif) no-repeat center center;
}
.sw-seum-paging-button span.sw-seum-paging-next-disabled
{
    background: transparent url(/Orion/SEUM/Images/Icon.Paging.Next.Disabled.gif) no-repeat center center;
}
.sw-seum-paging-button span.sw-seum-paging-last-disabled
{
    background: transparent url(/Orion/SEUM/Images/Icon.Paging.Last.Disabled.png) no-repeat center center;
}
.sw-seum-custom-query-table-wrapper .sw-custom-query-table img 
{
    vertical-align: middle;
    padding: 2px;
}
.sw-seum-whatsnew {
    background: #ffffff;
    border: 1px solid #f99d1c;
    padding: 10px;
}
.sw-seum-whatsnew h4{
    font-size: 1.5em;
    margin: 0.5em 0 1em 0;
}
.sw-seum-whatsnew a {
    color: #336699;
}

.sw-seum-whatsnew div a:before {
    content: "\0000bb ";
}

.sw-seum-whatsnew-bg {
    border: 1px solid #fb8800;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAL0lEQVQIW2P8v43hPwMS+POagYERWRAkwCKKJAgTAGkCq0QWAAv+XsjwH6QFGQAAG1UVcbBNdOYAAAAASUVORK5CYII=');
}
.sw-seum-whatsnew-bg .HeaderBar{
    background: none;
}
.sw-seum-whatsnew-bg .HeaderBar a {
    color: white;
    font-size: 16px;
}

.sw-seum-additional-menu-link {
    display: inline-block;
    margin-right: 5px;
}

.sw-seum-dropdown-menu__trigger {
    cursor: pointer;
}

.sw-seum-dropdown-menu__trigger > a {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 11px;
}

.sw-seum-dropdown-menu__trigger .sw-seum-dropdown-menu__trigger__icon {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    vertical-align: top;
}

.sw-seum-dropdown-menu__content {
    position: absolute;
    background: white;
    margin: 0;
    padding: 0;
    border: 1px solid #d5d5d5;
    white-space: normal;
    z-index: 2;
    min-width: 120px;
}

.sw-seum-dropdown-menu__content a.sw-seum-dropdown-menu__content__item {
    color: #204a63;
    display: block;
    padding: 3px 5px;
    margin: 0;
    border: solid 1px transparent;
}

.sw-seum-dropdown-menu__content a:hover {
    border-color: #2d5c77;
    background-color: #2f78a6;
    color: #ffffff;
    cursor: pointer;
}