/*!
 * solarwinds-containermgmt 2020.2.5-88
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.text-normal {
  font-weight: normal;
}
.xui-page-content__title-link-item {
  font-weight: bold;
}
.help-link-container i {
  margin: 0 3px;
}
.header-page-content {
  display: flex;
  justify-content: space-between;
  background: #FFF;
  padding: 15px;
}
.header-message-content {
  border-bottom: 1px solid #D5D5D5;
  padding-left: 15px;
  padding-right: 15px;
  background: #FFF;
}
.cm-list-item {
  display: flex;
  flex-flow: row;
}
.cm-list-item__icon {
  display: inline-block;
}
.cm-list-item__top-container,
.cm-list-item__bottom-container {
  display: block;
}
.cm-list-item__top-container div,
.cm-list-item__bottom-container div {
  display: inline-block;
}
.cm-list-item__bottom-container {
  margin-left: 28px;
}
.cm-list-item__title {
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
}
.cm-list-item__ip-address,
.cm-list-item__orchestrator {
  margin-right: 5px;
  color: #767676;
  font-size: 11px;
}
.cm-list-item__ip-address-name,
.cm-list-item__orchestrator-name {
  margin: 0 5px;
}
.cm-list-item__container-status {
  text-align: right;
  min-height: 100%;
  width: 80px;
}
.cm-list-item__container-update-date {
  text-align: right;
  min-height: 100%;
  width: 150px;
  margin-right: 5px;
}
.cm-list-item__main-content {
  flex: 1;
}
.add-agent-dialog .form-container {
  display: flex;
}
.add-agent-dialog .text-box {
  width: 100%;
}
.add-agent-dialog .copy-icon {
  float: right;
}
.add-agent-dialog .code {
  width: 100%;
}
.add-agent-dialog .certificate-section {
  margin: 10px 0px;
}
.add-agent-dialog .certificate-section > .section-header {
  color: rgba(17, 17, 17, 0.6);
  font-weight: 400;
  display: block;
}
.add-agent-dialog .certificate-section > .section-text {
  color: #111111;
  font-weight: 400;
  display: block;
}
.add-agent-dialog .getting-script {
  text-align: center;
}
.add-agent-dialog .regular-text {
  color: #333333;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  width: 92.04px;
  text-align: left;
}
.add-agent-dialog.hide-cancel .xui-wizard__cancel-button {
  display: none;
}

/*# sourceMappingURL=containermgmt.css.map*/