﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SensorAvailabilityChart.ascx.cs" Inherits="Orion_HardwareHealth_Resources_Hardware_SensorAvailabilityChart" %>
<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
        <asp:PlaceHolder runat="server" ID="WrapperContents"></asp:PlaceHolder>
    </Content>
</orion:resourceWrapper>
