﻿.JobHeader
{
    font-size:11pt;
    font-weight:bold;
    border-bottom:#e6e6dd 1px solid;
    padding-top:20px;
    padding-bottom:5px;
    font-family: Arial,Verdana,Helvetica,sans-serif;
}

.TextField
{
	font-size:9pt;
    font-family: Arial,Verdana,Helvetica,sans-serif;
	border: 1px solid #999999;
	height:18px;
}
    
.TextFieldDisabled
{
	background-color:silver;	 
}

.SelectField
{
	font-size:9pt;
    font-family: Arial,Verdana,Helvetica,sans-serif;
	border: 1px solid #999999;
	height:20px;
}
    
.ButtonDisabled
{
    color:gray;            
}
    
.Exception
{
	background: #facece; 
	color: #ce0000;
	border: 1px solid #ce0000; 
	border-radius: 5px;
	font-size:10pt;
	font-family: Arial,Verdana,Helvetica,sans-serif;
	display: inline-block; 
	position: relative;
	padding: 5px 6px 6px 26px; 
}

.Exception-Icon 
{
	position: absolute;
	left: 4px; 
	top: 4px; 
	height: 16px; 
	width: 16px; 
	background: url(/Orion/NCM/Resources/images/icon_failed.gif) top left no-repeat; 
}

.Suggestion
{
	background: #fffdcc; 
	border: 1px solid #eaca7f; 
	border-radius: 5px;
	font-size:10pt;
	font-family: Arial,Verdana,Helvetica,sans-serif;
	display: inline-block; 
	position: relative;
	padding: 5px 6px 6px 26px; 
	color: #000;
}

.Suggestion-Icon 
{
	position: absolute;
	left: 4px; 
	top: 4px; 
	height: 16px; 
	width: 16px; 
	background: url(/Orion/NCM/Resources/images/lightbulb_tip_16x16.gif) top left no-repeat; 
}

.Warning
{
	background: #fffdcc; 
	border: 1px solid #eaca7f; 
	border-radius: 5px;
	font-size:10pt;
	font-family: Arial,Verdana,Helvetica,sans-serif;
	display: inline-block; 
	position: relative;
	padding: 5px 6px 6px 26px; 
	color: #000;
}

.Warning-Icon 
{
	position: absolute;
	left: 4px; 
	top: 4px; 
	height: 16px; 
	width: 16px; 
	background: url(/Orion/NCM/Resources/images/PolicyIcons/Policy.Warning.gif) top left no-repeat; 
}

.Hint
{
    color: gray;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 8pt;
    font-weight: normal;
}

.JobConfigTypesHint {
    padding-top: 10px;
    font-style: italic;
}

.WatermarkStyle
{
	color:Gray;
}

.LabelFont
{
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 10pt;
    font-weight: bold;
}