﻿.monitored {
    color: inherit;
}

.not-monitored {
    color: grey;
}

.chooseCloudInstancesGrid {
    min-width: 1050px;
}

.chooseCloudInstancesCell div {
    margin-top: 6px;
}

.chooseCloudInstancesMonitoredCell {
    margin-top: 2px;
}

.chooseCloudInstancesNameCell {
    vertical-align: 7px;
    padding-left: 5px;
}
.chooseCloudInstancesGrid .monitoredBy {
    overflow: hidden;
}
.chooseCloudInstancesGrid .monitoredBy .accountName {
    overflow: hidden;
    text-overflow: ellipsis;
}
