.ui-dialog .ui-dialog-titlebar {
    margin: 0 !important;
}
.ui-dialog .ui-dialog-content {
    padding: 1em !important;
}
.mgmtSection {
    position: relative;
    margin: -10px;
    overflow: hidden;
}
.mgmtHeader {
    position: absolute;
    width: 45px;
    padding: 5px 8px;
    bottom: 0px;
    font-size: 10px;
    transform: rotate(-90deg) translate(0, 100%);
    transform-origin: bottom left;
}
.mgmtButtons {
    padding: 17px;
    margin-left: 40px;
    border-left: solid 1px #ddd;
    min-height: 2em;
}
.mgmtButtons:after {
    content: "";
}
.management-button {
    display: inline-block;
    font-size: 8pt;
    padding: 4pt;
}
.management-button a {
    display: inline-block;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1pt 1pt 1pt 16pt;
}
.management-button.start a {
    background-image: url("/Orion/VIMCloudMonitoring/images/Management/run.svg");
}
.management-button.stop a {
    background-image: url("/Orion/VIMCloudMonitoring/images/Management/stop.svg");
}
.management-button.reboot a {
    background-image: url("/Orion/VIMCloudMonitoring/images/Management/restart.svg");
}
.management-button.delete a {
    background-image: url("/Orion/VIMCloudMonitoring/images/Management/remove.svg");
}
.management-button.unmanage a {
    background-image: url("/Orion/VIMCloudMonitoring/images/Management/pause.svg");
}
.management-button.remanage a {
    background-image: url("/Orion/VIMCloudMonitoring/images/Management/play.svg");
}
.management-button.pollnow a {
    background-image: url("/Orion/VIMCloudMonitoring/images/Management/poll-now.svg");
}
.mgmtConfirmDialog {
    border: 1px solid lightgray;
    margin: 0;
    background-color: #f8f8f8;
}
.mgmtConfirmDialog div, .mgmtConfirmDialog td {
    font-size: 11px;
}
.mgmtConfirmDialog a {
    color: #336699;
}
.mgmtConfirmDialog a:hover {
    color: #f99d1c;
}
.mgmtConfirmDialog label {
    color: black;
}
.mgmtConfirmDialog label span {
    white-space: nowrap;
}
.mgmtConfirmDialog .dialog-buttons {
    text-align: right;
}
.mgmtConfirmDialog .sw-btn {
    margin-left: .5em;
}
.mgmtConfirmDialog .mgmtBody {
    min-height: 6em;
}
.mgmtConfirmDialog .mgmtBody .name {
}
.mgmtConfirmDialog .mgmtBody .name:before {
    content: "'";
}
.mgmtConfirmDialog .mgmtBody .name:after {
    content: "'";
}
.mgmtConfirmDialog .sw-suggestion-progress .sw-suggestion-icon {
    background-image: url("/Orion/VIMCloudMonitoring/images/AJAX-Loader.gif")
}
.mgmtConfirmDialog .hint {
    font-style: italic;
}
