﻿.cv.vim-clm-StatusCritical {
    background: #FFE4E0;
    font-weight: bold;
    color: #D50000;
    padding: 5px;
}

.cv.vim-clm-StatusWarning {
    background: #FCF8E0;
    font-weight: bold;
    padding: 5px;
}

td.vim-clm-status span {
    padding: 5px;
    display: block;
    margin-top: -5px;
    margin-bottom: -5px;
}

td.vim-clm-status-warning span {
    background: #FCF8E0;
    font-weight: bold;
}

td.vim-clm-status-critical  span {
    background: #FFE4E0;
    color: #D50000;
    font-weight: bold;
}

div.sw-vim-mc-container table td.lastValue.vim-clm-status span.lastValue {
    padding: 5px;
}

.tooltipThreshold {
    padding: 4px;
}

.tooltipThreshold.warning {
    background-color: #FCF8E0;
}

.tooltipThreshold.critical {
    background-color: #FFE4E0;
}