﻿.CloudInstanceDetails .PropertyHeader {
    width: 35%;
}

.CloudInstanceDetails td.ReportHeader {
    text-indent: 24px;
    text-transform: capitalize;
}

.CloudInstanceDetails .Collapsible::before {
    content: '';
    display: block;
    background-color: #fff;
    height: 1em;
}

.CloudInstanceDetails .Collapsor {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    user-select: none;
}

.CloudInstanceDetails .Collapsor td {
    background-image: url("/Orion/images/Button.Collapse.gif");
    background-position: 8px center;
    background-repeat: no-repeat;
}

.CloudInstanceDetails .Collapsor.Collapsed td {
    background-image: url("/Orion/images/Button.Expand.gif");
}

.CloudInstanceDetails-title {
    font-weight: bold;
}