﻿.column0 {
    max-width: 200px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

    .column0 > span {
        -ms-word-wrap: break-word;
        display: block;
        max-width: 300px !important;
        word-wrap: break-word;
    }

.searchControl {
    height: 25px;
}
