.jstree-icon:hover {
    cursor: pointer;
}

 .jstree li {
     position: relative;
 }

.cloudServerInfrastructureSummarySection {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 4px;
}

    .cloudServerInfrastructureSummarySection div{
        vertical-align:middle;
        display:inline-block;
    }

    .cloudServerInfrastructureSummarySection div.critical{
        width:16px;
        height:16px;
        background:url("/Orion/images/StatusIcons/Small-Critical.gif");
    }

    .cloudServerInfrastructureSummarySection div.warning {
        width:16px;
        height:16px;
        background:url("/Orion/images/StatusIcons/Small-Warning.gif");
    }

    .cloudServerInfrastructureSummarySection div.unknown {
        width:16px;
        height:16px;
        background:url("/Orion/images/StatusIcons/Small-Unknown.gif");
    }

    .cloudServerInfrastructureSummarySection span {
        vertical-align: middle;
        padding: 0 8px 0 4px;
    }
