﻿.sw-clm-mc-header {
    text-transform: uppercase;
}

.sw-clm-mc-chart {
    overflow-y: visible !important;
}

.sw-clm-mc-container {
    overflow-y: visible;
    position: relative;
}

.sw-clm-mc-container .chartDataNotAvailableArea {
    background-color: white;
    background-position-y: 20px;
    left: 0px;
    padding-top: 90px;
    position: absolute;
    top: 0;
    width: calc(100%);
    z-index: 999;
}

.sw-clm-mc-family-name {
    padding-left: 6px;
}

.sw-clm-mc-series-name {
    padding-right: 6px;
}

div.sw-vim-mc-container div.sw-vim-mc-left-column.sw-clm-mc-metric-name-header {
    width: 121px;
}