﻿.clm-icon {
    display: inline-block;
}

.clm-icon-in-cell {
    margin-left: auto;
    margin-right: auto;
}

.clm-icon, .clm-icon-in-cell {
    background-repeat: no-repeat;
}

.clm-icon-button:hover {
    cursor: pointer;
}

.clm-icon-aws {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/AWS.png');
}

.clm-icon-aws-region {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Cloud_icons_Region.png');
}

.clm-icon-aws-zone {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Cloud_icons_Zone.png');
}

.clm-icon-aws-instancetype {    
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Instances.png');
}

.clm-icon-aws-instance {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Amazon_EC2_Instances.png');
}

.clm-icon-aws-instance-not-monitored {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Amazon_EC2_Instances_No_Monitor.png');
}

.clm-icon-aws-instance-critical {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Amazon_EC2_Instances_Critical.png');
}

.clm-icon-aws-instance-down {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Amazon_EC2_Instances_Down.png');
}

.clm-icon-aws-instance-shutdown {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Amazon_EC2_Instances_Stopped.png');
}

.clm-icon-aws-instance-stopped {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Amazon_EC2_Instances_Stopped.png');
}

.clm-icon-aws-instance-unmanaged {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Amazon_EC2_Instances_Unmanaged.png');
}

.clm-icon-aws-instance-up {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Amazon_EC2_Instances_Up.png');
}

.clm-icon-aws-instance-unknown {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Amazon_EC2_Instances_Unknown.png');
}

.clm-icon-aws-instance-warning {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Amazon_EC2_Instances_Warning.png');
}

.clm-icon-aws-instance-unreachable {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Amazon_EC2_Instances_Unreachable.png');
}

.clm-icon-azure {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Azure.png');
}

.clm-icon-azure-instance-critical {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Azure_VMs_Critical.png');
}

.clm-icon-azure-instance-down {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Azure_VMs_Down.png');
}

.clm-icon-azure-instance-stopped {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Azure_VMs_Stopped.png');
}

.clm-icon-azure-instance-shutdown {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Azure_VMs_Stopped.png');
}

.clm-icon-azure-instance-unknown {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Azure_VMs_Unknown.png');
}


.clm-icon-azure-instance-unmanaged {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Azure_VMs_Unmanaged.png');
}

.clm-icon-azure-instance-up {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Azure_VMs_Up.png');
}

.clm-icon-azure-instance-warning {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Azure_VMs_Warning.png');
}

.clm-icon-aws-volume-unknown {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Volumes_Unknown.png');
}

.clm-icon-aws-volume-up {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Volumes_Up.png');
}

.clm-icon-aws-volume-down {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Volumes_Down.png');
}

.clm-icon-aws-volume-warning {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Volumes_Warning.png');
}

.clm-icon-aws-volume-unmanaged {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Volumes_Unmanaged.png');
}

.clm-icon-aws-volume-critical {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Volumes_Critical.png');
}

.clm-icon-aws-volume {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Volumes.png');
}

.clm-icon-azure-account {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Cloud_icons_Azure.png');
}


.clm-icon-azure-region {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Cloud_icons_Region.png');
}

.clm-icon-azure-instancetype {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Instances.png');
}

.clm-icon-azure-zone {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/Cloud_icons_Zone.png');
}

.clm-icon-azure-resource-group {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/ResourceGroup.png');
}

.clm-icon-aws-resource-group {
    width: 24px;
    height: 24px;
    background-image: url('../images/CloudIcons/ResourceGroup.png');
}