.DetailsTable .WideColumn{
    width: 40%;
}

.DetailsTable .NarrowColumn {
    width: 10%;
}

.DetailsTable .Property span {
    color: #333333;
    font-family: 'Open Sans Semibold', 'Open Sans';
    font-size: 11px;
}

.DetailsTableWithoutSpacing {
    border-spacing: 0;
}

.Category {
    flex-grow: 1;
    text-align: center;
}

.CategoryValue {
    color: #333333;
    font-family: 'Open Sans Semibold', 'Open Sans';
    font-size: 11px;
    text-align: center;
}

.CategoryName {
    color: #666666;
    font-family: 'Open Sans';
    font-size: 10px;
    text-align: center;
}

.DetailStatistics {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 99%;
}

.AccordionHeader {
    background-color: #ecedee;
    cursor: pointer;
    padding: 5px;
}

    .AccordionHeader .clm-icon {
        vertical-align: middle;
    }

.hidden {
    display: none;
}

.instanceGroup-text {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    white-space: normal;
}

.arrow {
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    width: 24px;
}

.arrowExpanded {
    background-image: url('../images/arrow-expanded.png');
}

.arrowCollapsed {
    background-image: url('../images/arrow-collapsed.png');
}
