﻿.alert-error {
    -ms-border-radius: 4px;
    background-color: #f2dede;
    border: 1px solid;
    border-color: #a94442;
    border-radius: 4px;
    color: #a94442;
    padding: 15px;
    width: 300px;
    visibility: hidden;
}