.DetailsTable .StatusIcon {
    text-align: right
}
.CloudInstanceIpAddressTable td.hilite {
    font-weight: bold;
}

.CloudInstancesStatusSummary .instanceName {
    display: inline-block;
    vertical-align: middle;
}
    
.CloudInstancesStatusSummary .instanceName-icon {
    height: 24px;
    width: 24px;
    margin-right: -24px;
}

.CloudInstancesStatusSummary .instanceName-text {
    white-space: normal;
    margin-left: 29px;
}

.CloudVolumePerformance .volumeName {
    display: inline-block;
    vertical-align: middle;
}
    
.CloudVolumePerformance .volumeName-icon {
    height: 24px;
    width: 24px;
}

.CloudVolumePerformance .volumeName-text {
    white-space: nowrap;
    margin-left: 5px;
    text-overflow: ellipsis;
    display: inline;
}

span.CloudNotAvailable {
    font-style: italic;
    text-transform: uppercase;
}

.filterControl {
    margin-bottom: 3px;
    float: left;
}

.filterControl label {
    font-weight: 700;
}

.spaceBetweenRows {
    margin-top: 2px;
    margin-bottom: 2px;
}

.textVerticalTop {
    vertical-align: top;
}
