﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="FullscreenChart.aspx.cs" Inherits="Orion_SEUM_FullscreenChart"  MasterPageFile="~/Orion/OrionMinReqs.master" %>

<asp:Content runat="server" ContentPlaceHolderID="BodyContent">
    <form runat="server">
        <asp:PlaceHolder runat="server" ID="Contents"></asp:PlaceHolder>
    </form>
</asp:Content>
