﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="GaugePage.aspx.cs" Inherits="Orion_SEUM_GaugePage" %>
<%@ Assembly Name="Infragistics2.WebUI.Shared.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" %>
<%@ Assembly Name="Infragistics2.WebUI.UltraWebGauge.v8.2, Version=8.2.20082.1000, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" %>

