/* STYLES USED BY ALL COLOR SCHEMES */
/* BEGIN GLOBAL STYLES */
@font-face {
    font-family: 'Open Sans';
    src: url('../../orion/fonts/opensans-light-webfont.woff2') format('woff2'),
    url('../../orion/fonts/opensans-light-webfont.woff') format('woff'),
    url('../../orion/fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../orion/fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
    url('../../orion/fonts/opensans-lightitalic-webfont.woff') format('woff'),
    url('../../orion/fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../orion/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../../orion/fonts/opensans-regular-webfont.woff') format('woff'),
         url('../../orion/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../orion/fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('../../orion/fonts/opensans-italic-webfont.woff') format('woff'),
         url('../../orion/fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../orion/fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('../../orion/fonts/opensans-semibold-webfont.woff') format('woff'),
    url('../../orion/fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../orion/fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
    url('../../orion/fonts/opensans-semibolditalic-webfont.woff') format('woff'),
    url('../../orion/fonts/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../orion/fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
    url('../../orion/fonts/opensans-bolditalic-webfont.woff') format('woff'),
    url('../../orion/fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../orion/fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('../../orion/fonts/opensans-bold-webfont.woff') format('woff'),
    url('../../orion/fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

a, a:active, a:visited {
    color: #0079aa;
    text-decoration: none;
}

    a:hover {
        color: #2d5c77;
    }

body {
    color: #2A2A2A;
    background-color: #FFFFFF;
    font-family: 'Open Sans', arial, Verdana, Helvetica, sans-serif;
}

input, textarea {
    font-size: 9pt;
}
    input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], textarea {
        border: solid 1px #d5d5d5;
    }
        input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, textarea:focus {
            border-color: #204a63;
            outline: 0;
        }

select {
    font-size: 9pt;
    background: #ffffff;
    border: solid 1px #d5d5d5;
}
    select:hover, select:focus, select:active {
        border-color: #204a63;
        outline: 0;
    }

.Text {
    font-size: 9pt;
}

.GroupHeader {
    color: #2A2A2A;
    font-size: 8pt;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}

.Expander {
    display: none;
}

.toggleOff {
    background: url("/Orion/images/Button.Toggle.png") no-repeat scroll left center #E9EAEA;
    border-radius: 0;
    color: #808080 !important;
    font-size: 7.5pt;
    padding: 2px 2px 2px 20px;
    text-align: center;
    width: 25px;
    display: inline-block;
}
.toggleOn {
    background: url("/Orion/images/Button.Toggle.png") no-repeat scroll right center #1c6882;
    border-radius: 0;
    color: #fff !important;
    font-size: 7.5pt;
    padding: 2px 20px 2px 2px;
    text-align: center;
    width: 25px;
    display: inline-block;
}

/* END GLOBAL STYLES */