﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AllowNodeReboot.ascx.cs" Inherits="Orion_APM_Admin_EditViews_AllowNodeReboot" %>
<%@ Register TagPrefix="orion" TagName="yesnocontrol" Src="~/Orion/Admin/YesNoControl.ascx" %>

<orion:yesnocontrol ID="ynAllowNodeReboot" runat="server" />