﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AllowRealTimeServiceManage.ascx.cs" Inherits="Orion_APM_Admin_EditViews_AllowRealTimeServiceManage" %>
<%@ Register TagPrefix="orion" TagName="yesnocontrol" Src="~/Orion/Admin/YesNoControl.ascx" %>

<orion:yesnocontrol ID="ynAllowServiceManage" runat="server" />