﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ApmRealTimeEventExplorer.ascx.cs" Inherits="Orion_APM_Admin_EditViews_ApmRealTimeEventExplorer" %>
<%@ Register TagPrefix="orion" TagName="yesnocontrol" Src="~/Orion/Admin/YesNoControl.ascx" %>

<orion:yesnocontrol ID="ynAllowEventExplorer" runat="server" />