﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ApmRealTimeServiceExplorer.ascx.cs" Inherits="Orion_APM_Admin_EditViews_ApmRealTimeServiceExplorer" %>
<%@ Register TagPrefix="orion" TagName="yesnocontrol" Src="~/Orion/Admin/YesNoControl.ascx" %>

<orion:yesnocontrol ID="ynAllowServiceExplorer" runat="server" />