﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ApmRealTimeProcessExplorer.ascx.cs" Inherits="Orion_APM_Admin_EditViews_ApmRealTimeProcessExplorer" %>

<asp:ListBox ID="ctrlAllow" SelectionMode="Single" Rows="1" runat="server" DataTextField="Text" DataValueField="Value" />