/*!
 * @solarwinds/ha-frontend 2019.6.0-3158
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.link {
  cursor: pointer;
  color: #0079AA;
  text-decoration: none;
}
.link:hover {
  color: #0079AA;
  text-decoration: underline;
}
.xui .xui-tabs__header {
  border: none;
}
.xui .xui-padding-zr {
  padding: 0;
}
.xui .margin-top-neg {
  margin-top: -15px;
}
.ha-pool-page .server-map {
  padding-bottom: 15px;
}
.ha-pool-page .server {
  border: 1px solid #D5D5D5;
  min-width: 200px;
  padding: 5px;
}
.ha-pool-page .connector {
  padding: 10px 15px;
}
.ha-pool-page .incorrectModuleVersion {
  color: red;
}
.ha-pool-page .bold {
  font-weight: bold;
}
.ha-pool-page .summary-box {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ha-pool-page .summary-box label {
  width: 170px;
}
.ha-download-ha-installer-dialog .download-list-title {
  font-size: 14px;
}
.ha-download-ha-installer-dialog .list-instruction {
  list-style-type: decimal;
}
.bold-text {
  font-weight: 700;
}
.ha-setup-high-availability-server-dialog .img-setup-dialog {
  max-width: 100%;
  max-height: 100%;
}
.ha-setup-high-availability-server-dialog .howto-setup-row {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.ha-setup-high-availability-server-dialog .howto-setup-row .vcenter {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
.ha-summary-header {
  padding: 15px;
  border-bottom: 1px solid #D5D5D5;
  margin-bottom: 15px;
}
.ha-summary-header h1 {
  margin: 0px;
  line-height: 20px;
}
.ha-summary-header button {
  margin-top: -3px;
}
.ha-summary {
  padding-bottom: 30px;
}
.ha-summary-list .list-tree-item {
  padding: 5px 10px 5px 0;
}
.ha-summary-list .list-tree-item .text-caption {
  color: #0079AA;
}
.ha-summary-list .command-btn {
  padding: 5px 0;
}
.ha-summary-list-container {
  min-height: 500px;
  width: 100%;
}
.ha-summary-server-details {
  height: 100%;
}
.ha-summary-server-details .details-container {
  border: 1px solid #eaeaea;
  margin-top: -16px;
  min-height: 300px;
}
.ha-summary-server-details .details-header {
  background-color: #E2F1F5;
  padding: 15px 10px;
  border-bottom: 1px solid #eaeaea;
}
.ha-summary-server-details .details-header .text-name {
  text-overflow: ellipsis;
  overflow: hidden;
}
.ha-summary-server-details .details-list .item {
  padding: 10px 15px;
  margin-top: -10px;
  margin-bottom: -10px;
  font-size: 11px;
  line-height: 1.3333333;
}
.ha-summary-server-details .details-list .name {
  text-transform: uppercase;
  color: #888;
}
.ha-summary-server-details .details-list .value .mismatch {
  color: red;
  font-weight: bold;
}
.ha-summary-server-details .commands {
  border-bottom: 1px solid #eaeaea;
}
.ha-summary-server-details .switch-label {
  margin-left: 5px;
}
.ha-summary-server-details .toggle-buttons {
  border-bottom: 1px solid #eaeaea;
  padding: 10px 15px;
}
.ha-summary-server-details .toggle-buttons .caption {
  padding-bottom: 4px;
  font-size: 11px;
  line-height: 1.3333333;
  text-transform: uppercase;
  color: #888;
}
.ha-summary .cl-ha-licensing-link {
  cursor: pointer;
  margin: 0 0 0 5px;
}
.text-ip {
  font-size: 12px;
  color: #23677e;
  margin-left: 40px;
  line-height: 1.3333333;
}
.text-status {
  font-size: 11px;
  margin-left: 40px;
  line-height: 1.3333333;
}
.node-icon {
  padding: 5px 0 15px 0;
  width: 40px;
}
.xui-sidebar-container {
  margin-bottom: -31px;
}
.xui-sidebar-container-opened {
  margin-right: -15px;
}
.ha-radio-description {
  margin: 0 0 0 23px;
}
.ha-update-page .update-content {
  border: 0;
  width: 100%;
  height: 100%;
}
.otherDnsMessageBox {
  width: 530px;
}
.bindDnsFipsError {
  width: 300px;
}
.poolMember-directive .server-map {
  padding-bottom: 15px;
}
.poolMember-directive .serverWrapper {
  border: none;
}
.poolMember-directive .server {
  border: 1px solid #D5D5D5;
  padding: 5px;
  min-width: 200px;
}
.poolMember-directive .connector {
  padding: 10px 15px;
}
.poolMember-directive .preferredMember {
  padding-top: 8px;
  display: block;
  clear: both;
}
.poolMember-directive .preferredMember span {
  margin-left: 4px;
}
.node-icon {
  padding: 5px 0 15px 0;
  width: 40px;
}
.preferredMember-directive .server-map {
  padding-bottom: 15px;
}
.preferredMember-directive .server {
  min-width: 200px;
  padding: 5px;
  display: block;
  border: none;
}
.preferredMember-directive .connector {
  padding: 10px 15px;
}
.preferredMember-directive .preferredMemberInfo {
  width: 380px;
}
.preferredMember-directive .preferredBackupMemberRadio label {
  width: 24px;
}
.node-icon {
  padding: 5px 0 15px 0;
  width: 40px;
}
.ha-directive .box-left {
  float: left;
}
.ha-directive .box-clear {
  clear: both;
}
.ha-directive .field {
  padding: 4px 0;
}
.ha-directive .field .textbox-sufix {
  line-height: calc(2.5);
}
.ha-directive .textbox-field {
  width: 200px;
}
.ha-directive .textbox-field-double {
  width: 400px;
}
.ha-directive .bold {
  font-weight: bold;
}
.ha-directive .passwordBox {
  display: block;
  float: left;
  min-width: 105px;
}
.ha-directive .passwordEye {
  cursor: pointer;
  vertical-align: bottom;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=ha.css.map*/