<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditActiveAlertDetailsView.ascx.cs" Inherits="Orion_Admin_EditActiveAlertDetailsView" %>
<asp:ListBox runat="server" ID="lbxActiveAlertDetails" SelectionMode="single" Rows="1" >
    <asp:ListItem Text="<%$ HtmlEncodedResources: CoreWebContent, WEBCODE_SO0_9 %>" Value="0" />
    <asp:ListItem Text="<%$ HtmlEncodedResources: CoreWebContent, WEBDATA_VB0_487 %>" Value="-1" />
    
</asp:ListBox>
