<%@ Control Language="C#" AutoEventWireup="true" CodeFile="CustomPollerChart.ascx.cs" Inherits="InterfaceCharts_CustomPollerChart" %>

<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
        <asp:PlaceHolder runat="server" ID="chartPlaceHolder" />
    </Content>
</orion:resourceWrapper> 