<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ErrorsDiscards.ascx.cs" Inherits="ErrorsDiscards" %>

<orion:resourceWrapper runat="server" ID="Wrapper" ShowEditButton="false">
    <Content>
        <asp:PlaceHolder runat="server" ID="chartPlaceHolder" />
    </Content>
</orion:resourceWrapper> 