<%@ Page Language="C#" %>
<%@ Register TagPrefix="npm" Namespace="SolarWinds.Orion.Web.Charting" Assembly="OrionWeb" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">

</script>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
        <npm:SecureImagePipe id="SecureImagePipe1" runat="server"></npm:SecureImagePipe>    
    </form>
</body>
</html>
