<%@ Control Language="C#" AutoEventWireup="true" CodeFile="CommunityStringControl.ascx.cs" Inherits="CommunityStringControl" %>

<asp:DropDownList runat="server" ID="communityStrings"></asp:DropDownList>
