﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MessageBox.ascx.cs" Inherits="Orion_Controls_MessageBox" %>

<asp:Panel ID="pnlContainer" runat="server" class="sw-suggestion">
    <span class="sw-suggestion-icon"></span>
    <span id="spanSuggestionText" runat="server" class="text"></span>    
</asp:Panel>
