﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PollingEnginesList.ascx.cs" Inherits="Orion_Controls_PollingEnginesList" %>
<asp:ListBox runat="server" ID="lbPollingEngines" SelectionMode="Multiple" Rows="5" Width="250" AppendDataBoundItems="true">
    <asp:ListItem Text="All" Value="All"></asp:ListItem>
</asp:ListBox>