﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Slider.ascx.cs" Inherits="Orion_Controls_Slider" %>

<orion:Include runat="server" File="slider.js" />

<asp:PlaceHolder runat="server" ID="ContentPlaceHolder" />
