<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TypeDeviceControl.ascx.cs" Inherits="TypeDeviceControl" %>
<table>
<tr>
<td align="justify" style="height: 40px; width: 30%">
    <b>Select a Type of Device</b>
</td>
<td align="justify"  style="height: 40px; width: 30%">
<asp:DropDownList ID="TypeDeviceList" runat="server">
</asp:DropDownList>
</td>
<td align="justify" style="height: 40px; width: 40%">
<asp:Label ID="Description" runat="server" Height="35px"></asp:Label>
</td>
</tr>
</table>