﻿.page-title {
    font-size: large;
    padding-bottom: 10px;
}

hr {
    width: 674px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #d5d5d5;
    margin: 1em 0;
    padding: 0;
}

.orionServerDropdownPanel {
    padding-top: 10px;
    padding-bottom: 10px;
}

.orionServerDropdown {
    width: 200px; 
    height: 30px;
    margin-left: 10px;
}

.serviceManagerTabs {
    border: 1px solid #d5d5d5;
    border-top: none;
    width: 673px;
    margin-bottom: 15px;
}

.checkBoxToolbarButton {
    width: 28px;
    height: 28px;
    border: 1px solid #d5d5d5;
    margin-left: -14px;
}

.checkBoxToolbarButton .x-grid3-row-checker {
    margin-top: 6px;
    margin-left: 6px;
}

.x-grid3-row-checker {
    width: 16px;
    height: 16px;
    background-position: 0 0 !important;
    background-image: url('/Orion/Images/OrionServiceManager/checkbox-sprite.png') !important;
    margin-top: 3px;
}

.x-grid3-row-selected .x-grid3-row-checker,
.x-grid3-row-checker-checked {
    background-position: -16px 0 !important;
}

.x-btn-text {
    height: 24px !important;
    padding-left: 26px !important;
    font-weight: bold !important;
    color: #297994 !important;
}

.x-grid3-row {
    width: 650px !important;
}

.x-grid3-cell {
    padding-top:13px; 
    padding-bottom:12px;
}

.x-grid3-cell-first {
    padding-left:10px !important; 
}

.x-grid3-cell-last {
    padding-right:10px !important; 
}

.x-grid3-row {
    background-color:#f6f6f6;
}

.x-grid3-row-alt {
    background-color:#ffffff !important;
}

.x-toolbar {
    background-color: inherit;
    padding-bottom: 10px !important;
}

.x-toolbar-cell {
    padding-left:12px !important; 
}

.x-grid3-row-selected {
    background-image: none !important;
    background-color: #E1F1F6 !important;
    border: 1px solid #f6f6f6 !important;
}

.hidden {
    display: none !important;
}

.warningMessageContainer {
    margin-top: 15px;
    margin-bottom: 15px;
    display: table;
}

.errorMessageContainer {
    margin-top: 15px;
    margin-bottom: 15px;
    display: table;
}

.warningImg, .errorImg {
    margin-bottom: -4px;
    margin-left: -10px
}

.warningText, .errorText {
    padding-left: 30px;
    margin-top: -20px;
    font-weight: bold;
    padding-bottom: 6px;
}

.warningText {
    color: black;
}

.errorText {
    color: #D50046;
}

.loadingStatusBox {
    white-space: nowrap;
}

.loadingImg {
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
}

.loadingText {
    display: inline-block;
    font-weight: bold;
    white-space:nowrap;
    margin-top: 0;
    padding-left: 3px;
}

.stoppedStatusBox, .stoppedStatusBox:hover {
    text-decoration: none;
    border: 1px solid #ffffff !important;
    background-color: #FFE4E0;
    color: #D50046;
    padding:4px;
    font-weight: bold;
}