<div class="sao-as-row" style="display: flex;">
    <div class="pull-left" style="width: 80%; display:flex; align-items: center;">
        <div style="min-width:32px;" >
            <xui-icon icon="{{::item.statusXuiIconName}}" style="margin: auto;"></xui-icon>
            <a href="{{::item.detailsUrl}}" style="margin-left: 10px;">
                {{::item.name}}
            </a>
        </div>
    </div>
    <div class="pull-right" style="width: 20%;">
        <div class="pull-right text_wrap" style="display:flex; flex-direction:column; text-align: right; min-height:32px;">
			<div>
				<span ng-show="item.showErrorRate" ng-style="item.isValueCritical && {'color':'#D50000','font-weight':'bold'}" >{{::item.errorRate | number:2}}</span>
				<span ng-show="item.showErrorRate" ng-bind-html="item.errorRateUnit" ng-style="item.isValueCritical && {'color':'#D50000','font-weight':'bold'}"></span>
				<span ng-hide="item.showErrorRate">&#8212;</span>
			</div>
			<div style="font-size:9px; color: #A5ABB6;">
				<span _t>Error rate</span>
			</div>
        </div>
    </div>
</div>