.vimViewHeaderTitle
{
    font-family: Arial,Helvetica,Sans-Serif;
    font-size: large;
    font-weight: normal;
    margin: 0;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 30px;
}

.vimViewHeaderLinks
{
    text-align: right;
}

.vimViewHeaderLinks td
{
    font-size: 12px;
}

.vimHelpLink {
    background-image:url("/Orion/images/Icon.Help.gif");
    background-position:left center;
    background-repeat:no-repeat;
    padding:2px 0 2px 20px;
    margin-left: 5px;
}

.vimTitleBarDate {
    padding-top: 5px;
    font-size: 8pt;
}

.vimAdminDateArea
{
    position: relative;
    top: -10px;
    float: right;
    margin: 0px;
    border-width: 0px;
    font-size: 8pt;
    text-align: right;
    padding-right: 10px;
}

a.linkLabel
{
    color: #0000ff;
}

a.linkLabel:hover
{
    color: orange;
}

/* VIM TopXX Resources */
.vimTopXXHeaderFirst, .vimProblemHeaderFirst
{
    padding-left: 20px !important;
}

.vimTopXXProperty, .vimProblemProperty
{
    padding-left: 5px;
    padding-right: 5px;
}

.vimTopXXProperty.vimStorageMigration
{
    border-bottom: 1px solid #D8D6D1;
}

.vimTopXXPropertyValueRight
{
    float: right;
}

.vimTopXXPropertyValueLeft
{
    float: left;
}
/* VIM TopXX Resources - end*/

.sw-tabs
{
    display: inline;
}

.vimValueDescription
{
    font-size: 10px;
    color: #646464;
}

.vimValueDescription a
{
    color: #336699;
}


.vimThresholdDescription
{
    font-size: smaller;
    color: Gray;
    padding-top: 4px;
    line-height: 100%;
}

/* VIM Asset Summary Resource */
.vimAssetFirstColumn
{
    border: 0 none !important;
}

.vimCollapsableTableRow
{
}

.hidden
{
    display: none;
}

/* ========================================================================= */
/*                               VMan Styles                                 */

/* VMan integration setup page */

#adminContent .sw-vim-vman-integration table th, #adminContent .sw-vim-vman-integration table td {
    padding: 10px;
}

#adminContent .sw-vim-vman-integration p {
    width: auto;
    padding-bottom: 15px;
    padding-top: 15px;
}

#adminContent .sw-vim-vman-integration > div {
    margin-bottom: 15px;
    clear: both;
}

#adminContent .sw-vim-vman-integration td.sw-vim-vman-integration-wrap {
    border: 1px solid rgb(204, 204, 204);
}

#adminContent .sw-vim-vman-integration table.sw-vim-vman-integration-table td {
    background: none repeat scroll 0% 0% rgb(228, 241, 248);
}

#adminContent .sw-vim-vman-integration table.sw-vim-vman-integration-table td.sw-vim-vman-integration-emptyrow {
    background-color: transparent;
    line-height: 10px;
    padding: 0;
}

#adminContent .sw-vim-vman-integration table.sw-vim-vman-integration-table {
    border-collapse: collapse;
}

#adminContent .sw-vim-vman-integration-table {
    max-width: 700px;
}

#adminContent .sw-vim-vman-integration .sw-suggestion ul {
    margin: 5px 0 0 14px;
}

#adminContent .sw-vim-vman-integration .sw-suggestion ul li {
    list-style-position: outside;
    line-height: 130%;
}

input.sw-vim-validation-error {
    border: 1px solid red;
    padding: 2px;
}

/* Storage chart resources */
.vimReportHeader
{
    text-transform: uppercase;
}

.vimStorageChartProperty
{
    padding: 0.3em 1em;
}

.vimStorageChartProperty a, .vimStorageChartProperty img
{
    vertical-align: middle;
}

.vimLegendColorIcon
{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0em 0.3em;
}

.vimLegendColorIconCell
{
    padding-right: 0.2em !important;
    padding-left: 0.2em !important;
    vertical-align: top;
    width: 20px;
}

.vimLegendItemName
{
    padding-left: 0px !important;
}

.sw-vim-vman-chart-legend .entityIconBox
{
    width: auto;
    margin: 0;
}

/* Storage summary resource */

.ResourceWrapper table.sw-vman-summary-table tbody tr td
{
    font-size: 13px;
    border: none;
}

.sw-vman-summary-table
{
    color: #5e5e5e;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sw-vman-summary-table td
{
    padding: 8px 5px 8px 5px;
}

.sw-vman-summary-table td img
{
    display: block;
    margin: 0px;
    vertical-align: middle;
}

.sw-vman-summary-value
{
    color: black;
    font-weight: bold;
    text-align: right;
    padding-right: 12px !important;
}

.sw-vman-summary-name 
{
    color: #9B9B9B;
    text-transform: capitalize;
    padding-left: 12px !important;
}

table.sw-vman-summary-table tbody tr td.sw-vman-summary-headervalue
{
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 0;
}

table.sw-vman-summary-table tbody tr td.sw-vman-summary-headertitle
{
    padding-top: 0;
    padding-bottom: 10px;
    width: 100%;
}

table.sw-vman-summary-table tbody tr td.sw-vman-summary-rightborder
{
    padding-right: 25px !important;
}

/* Recommendations */
div#sw-vim-recommendations-groupBy {
    margin: 0 0 8px 0;
}


/* Component volumes*/

.sw-vman-componentvolumes
{
    border: 0;
    width: 100%;
}

.sw-vman-componentvolumes .entityIconBox
{
    width: auto;
    margin-left: auto;
    margin-right: 2px;
}


/* Datastore Info and Datastore Usage resources (information tables) */

.ResourceWrapper table.sw-vman-infotable tbody tr td
{
    border: none;
}

.sw-vman-infotable
{
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sw-vman-infotable .entityIconBox
{
    width: auto;
    margin-left: auto;
    margin-right: 2px;
}

.sw-vman-infotable th, .sw-vman-infotable td
{
    padding: 5px;
}

.sw-vman-infotable th
{
    min-width: 35%;
}

/* Recommendations getting started styles */
.sw-recommendations-disabled img
{
    width: 100%;
}

.sw-recommendations-disabled-text
{
    background-color: #e4f1f8;
    padding: 5px 5px 5px 0;
}

.sw-recommendations-disabled-text li{
  margin: 5px 0;
}

/* Getting started styles */

.sw-vman-gettingstarted
{
    background-color: #e4f1f8;
    padding: 1em;
    margin-top: 1em;
}

.sw-vman-gettingstarted div
{
    padding-top: 1em;
    clear: both;
}

.sw-vman-gettingstarted div.sw-vman-first
{
    padding-top: 0;
}

.sw-vman-gettingstarted div.sw-vman-first h3
{
    font-weight: normal;
    font-size: 11pt;
    margin: 12px 0 0 50px;
    padding-top: 8px;
}

.sw-vman-gettingstarted div p
{
    line-height: 1.5em;
}

.sw-vman-gettingstarted div img
{
    float: left;
    margin-top: 2px;
}

.sw-vman-buttons
{
    text-align: right;
}

/* Predicted depletion resources */
td.sw-vim-vman-depletion-row
{
    padding-top: 8px;
    padding-bottom: 8px;
}

td.sw-vim-vman-depletion-row img
{
    vertical-align: middle;
}



/* VIM Applications on this Datastore resource */
.vimHeaderFirstWithPadding
{
    padding-left: 20px !important;
}

td.sw-vim-vman-resource-row
{
    padding-top: 3px;
    padding-bottom: 3px;
}

td.sw-vim-vman-resource-row img
{
    vertical-align: middle;
}
/* end of VIM Applications on this Datastore */

/* VMan tools resource*/

.sw-vman-tools
{
    font-size: 11px;
}

.sw-vman-tools span
{
    padding-right: 15px;
}

.sw-vman-tools a, .sw-vman-tools img
{
    vertical-align: middle;
}

#sw-vim-dialogcontent
{
    min-width: 500px;
}

/* end of VMan tools resource*/

/* VIM Storage Summary resource */

.sw-vman-storagesummary-bar .NormalBar
{
    background-color: #006CA9;
    background-image: none;
    background-repeat: repeat-x ;
}

.sw-vman-storagesummary-bar-legend .InlineMultiBar, .sw-vman-storagesummary-bar-legend .InlineMultiBar div
{
    width: 10px;
    padding-bottom: 2px;
}

.ResourceWrapper table.sw-vman-storagesummary td, .ResourceWrapper table.sw-vman-storagesummary th
{
    border: none;
}

.ResourceWrapper tr.sw-vman-storagesummary-topborder td, .ResourceWrapper tr.sw-vman-storagesummary-topborder th
{
    border-top: 1px solid #cccccc;
    padding-top: 5px;
}

.ResourceWrapper tr.sw-vman-storagesummary-bottomborder td, .ResourceWrapper tr.sw-vman-storagesummary-bottomborder th
{
    padding-bottom: 5px;
    border-bottom: 1px solid #cccccc;
}

.sw-vim-vmmanag-ui-dialog-content {
    margin: 0 15px 15px;
    padding: 0 !important;
}

.sw-vim-vmmanag-ui-dialog-content .sw-btn{
    margin-bottom: 0;
}

.sw-vim-vmmanag-ui-dialog-content p.sw-vim-currentHostLabel {
    padding: 12px 0px 12px;
    margin: 0px;
}

.sw-vim-vmmanag-ui-dialog-table {
    border-spacing: 0;
    padding: 0;
}

.sw-vim-vmmanag-ui-dialog-table td {
    padding: 0 3px 5px 0;
}

.sw-vim-vmmanag-ui-dialog-error-panel {
    color: white;
    background-color: #B64833;
    padding: 15px;
}

.sw-vman-storagesummary .entityIconBox
{
    width: auto;
    margin-left: auto;
    margin-right: 2px;
}

.sw-vman-storagesummary {
    border-bottom: 1px solid #cccccc;
    border-collapse: collapse;
    line-height: 150%;
}

#sw-vman-storagesummary-legend {
    float: right;
    margin-top: 5px;
}

#sw-vman-storagesummary-legend table {
    border: none;
    width: auto;
    padding: 0px;
    margin: 0px;
}

#sw-vman-storagesummary-legend table tr td{
    border: none;
}





/* TODO: colors should be inherited from core */
span.sw-vman-storagesummary-used {
    color: #006CA9;
    font-weight: bolder;
}

span.sw-vman-storagesummary-gray {
    color: #cccccc;
}

/* end of VIM Storage Summary resource */

/* VIM Virtual disks and Related Storage Infrastructure */

div.sw-vman-virtual-disks span {
    font-size: 11px;
}

/* end VIM Virtual disks and Related Storage Infrastructure */


/* Active Virtualization Alerts resource */
.sw-vim-activeAlerts-rowWarning {
    background-color: #FDE2BB;
}
.sw-vim-activeAlerts-rowError {
    background-color: #F8BABF;
}
.sw-vim-activeAlerts-rowSerious {
    background-color: #FBD6D9;
}
.sw-vim-activeAlerts-descriptionColumn {
    max-width: 245px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sw-vim-activeAlerts-entityCell {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
}
.sw-vim-tooltipLabel {
    font-size: 8pt;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    margin-left: 20px;
    color: #336699;
    border-bottom: 1px dotted;
}
.sw-vim-subtitleContainer {
    clear:both;
    margin-bottom: 15px;
}
/* tooltip styles */
#sw-vim-allAlertsResourceTooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #BBBBBB;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    background-color: white;
}
#sw-vim-allAlertsResourceTooltip h3,
#sw-vim-allAlertsResourceTooltip div,
#sw-vim-allAlertsResourceTooltip td {
    font-size: 8pt;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0;
}
#sw-vim-allAlertsResourceTooltip img {
    vertical-align: bottom;
}
#sw-vim-allAlertsResourceTooltip div {
    width: 275px;
    padding: 10px;
    line-height: 1.4em;
}
#sw-vim-allAlertsResourceTooltip table {
    width: 200px;
    padding: 7px;
    vertical-align: middle;
}
#sw-vim-allAlertsResourceTooltip td {
    width: 50%;
}
/* End of Active Virtualization Alerts resource */

/* VMan alert resource */

.ResourceWrapper table.sw-vman-alert-table td
{
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ResourceWrapper table.sw-vman-alert-table td img
{
    padding-right: 10px;
}

/* end of VMan alert resource */

/* VMan alert tooltip */

.sw-vman-alert-tooltip td
{
    padding: 5px!important;
    min-width: 300px;
}

.cluetip-orion td.sw-vman-alert-tooltip-description
{
    white-space: normal!important;
}

.sw-vman-alert-tooltip-title
{
    font-size: 13px!important;
    font-weight: bold;
    vertical-align: middle;
    line-height: 18px;
}

.sw-vman-alert-tooltip-title img
{
    padding-right: 8px;
}

/* end of VMan alert tooltip */

/* Sprawl VMs idle / VMs powered off resources */
.sw-vman-wmsprawl-table .entityIconBox
{
    width: auto;
    margin-left: auto;
    margin-right: 2px;
}
.sw-vman-wmsprawl-footer
{
    border: 1px solid red;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-top: none;
    background-color: #EAEAEA;
}
.sw-vman-wmsprawl-footer-div
{
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 8pt;
    display: block;
    float: left;
    white-space: nowrap;
    padding-right: 5px;
}
.sw-vman-wmsprawl-footer-div IMG
{
    width: 16px;
    height: 16px;
    margin-top: 4px;
}
.sw-vman-wmsprawl-footer-div INPUT
{
    font-size: 8pt;
}
/* end of Sprawl VMs idle / VMs powered off resources */


/* Applications on this Datastore resource  */
.sw-vman-applicationsonthisdatastore .entityIconBox
{
    width: auto;
    margin-left: auto;
    margin-right: 2px;
}
/* End of Applications on this Datastore resource  */

.sw-vman-alert
{
    background-color: white !important;
    padding: 10px !important;
}

.sw-vman-alert a
{
    color: #336699;
}

.sw-vman-alert a:hover
{
    color: Orange;
}

/* Generic tooltip */
.sw-vman-hover-help-arrow
{
    z-index: 100102;
    width: 16px;
    height: 17px;
    background-image: url(/Orion/VIM/images/Tooltip.Arrow.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
}
.sw-vman-hover-help-body
{
    z-index: 100101;
    font-style: normal;
    max-width: 250px;
    white-space: normal;
    margin-left: 15px;
}

.sw-vman-hover-help-body img
{
    border: 1px solid #c8c8c8;
    margin: 5px;
    margin-left: -15px;
}

.sw-vman-hover-help-tooltip
{
    position: fixed;
    z-index: 100100;
}


/* End of Generic tooltip */

/* Datastore/VM IOPS info styling */

.ResourceWrapper table.sw-vman-iops
{
    width: auto;
    margin: auto;
    padding-bottom: 15px;
    box-sizing: border-box;
}

.ResourceWrapper table.sw-vman-iops td
{
    font-size: 13px;
    color: #aaa;
    padding-left: 5px;
    padding-top: 3px;
    margin: 0;
    vertical-align: bottom;
}

table.sw-vman-iops td.sw-vman-iops-current a
{
    color: black;
    font-size: 50px;
    font-weight: normal;
}

table.sw-vman-iops td.sw-vman-iops-icon {
    width: 18px;
    margin: auto;
}

.sw-vman-align-left {
    text-align: left!important;
}

.sw-vman-color-black {
    color: black!important;
}

.sw-vman-align-right {
    text-align: right!important;
}

/* End of Datastore/VM IOPS info styling */

/* Data source synchronization wizard */

.sw-vim-workflow-buttons
{
    clear: both;
    text-align: right;
    margin: 1em;
}

/* override styling of custom elements inside extjs */
.sw-vim-workflow-extjs-checkbox {
    margin: 4px;
}

.sw-vim-workflow-addRemoveControl-optionBox {
    padding: 5px;
}

.bold {
    font-weight: bold;
}

.sw-vim-wizard-grid {
    clear: both;
}

.sw-vim-wizard-grid a:link, .sw-vim-wizard-grid a:hover, .sw-vim-wizard-grid a:visited, .sw-vim-wizard-grid a:active {
    text-decoration:underline;
}

#adminContent .sw-vim-wizard-header {
    margin-bottom: 10px;
}

.sw-vim-wizard-table {
    margin: 0px 25px 0px 25px;
}

#adminContent .sw-vim-wizard-table-row td {
    padding-bottom: 25px;
}

#adminContent .sw-vim-wizard-description {
    padding: 10px 0px 10px 0px;
}

#adminContent .dialog-header {
    padding: 5px;
}

#dlgResolveBody
{
    padding:5px;
}

#syncExceptionPanel td {
     padding-right: 0;
     padding-bottom: 0;
     vertical-align: middle;
}

.sw-vim-wizard-extjs-grid td {
    padding: 0px !important;
    vertical-align: middle !important;
}

.sw-vim-wizard-groupingPanel {
    background-image: url("/Orion/Nodes/images/background/bg_groupby.gif");
    background-repeat: repeat-x;
    background-color: #e1e1e0;
    padding: 5px;
    border-bottom: 1px solid #d0d0d0;
}

div#sw-vim-synchronization-wizard td.x-btn-mc {
    text-align: center;
}

div#sw-vim-synchronization-wizard .x-window-body {
    padding: 5px;
}

.sw-vim-wizard-dialog-item {
    padding: 5px;
}

.sw-vim-wizard-groupByItem {
    padding: 3px;
    cursor: pointer;
    border-width: 0px !important;
}

button.sw-vim-wizard-assignPollerButton {
    background-image:url("/Orion/VIM/images/assign.png") !important;
}

.sw-vim-wizard-migrate-disableintegration {
    margin-top: 10px;
}

.sw-vim-sync-review-wrapper {
    width:99%;
}

.sw-vim-sync-review-licenses {
    float: right;
    height: 50px;
    padding:12px;
    margin-left:10px;
    margin-bottom: 10px;

    background: #F2F2F2;
    border: 1px solid #D7D7D7;
    position:relative;
}

.sw-vim-sync-review-licenses.warn {
    border: 1px solid red;
}

.sw-vim-sync-review-licenses-text-wrapper {
    float:left;
    width:270px;
}

.sw-vim-sync-review-licenses-text {
    float:left;
    width: 210px;
    height: 45px;
    padding-top:5px;
}

.sw-vim-sync-review-licenses-img {
    float:right;
    padding-top:5px;
    padding-left:5px;
}

.sw-vim-sync-review-licenses-count {
    float:right;
    font-size: 22px;
    padding-top:14px;
    padding-left:10px;
}

.sw-vim-sync-review-available-licenses {
    float:right;
    font-size: 12px;
    padding-top:14px;
    padding-left:10px;
}

#sw-vim-sync-review-grid .x-grid3-row-selected {
    background-color: inherit!important;
    border:1px solid transparent;
}

#sw-vim-sync-review-grid .x-grid3-row-alt {
    background-color: rgb(247,247,247)!important;
}

#sw-vim-sync-review-grid .x-grid3-td-checker {
    background-image: none;
}

.sw-vim-wizard-progress-status {
    margin-bottom: 15px;
}

#sw-vim-wizard-progress-status-img {
    margin-right: 5px;
}

.sw-vim-wizard-oriondatasources, .sw-vim-wizard-license {
    margin-bottom: 15px;
}

.sw-vim-wizard-oriondatasources-link, .sw-vim-wizard-oriondatasources-link-vman a {
    color: #336699;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

.sw-vim-wizard-oriondatasources-link-vman {
    margin-bottom: 15px;
}

#sw-vim-wizard-default-progress {
    text-align:right;
    padding-right: 10px;
    display:inline;
}
#sw-vim-wizard-default-progress.hidden {
    display:none;
}

/* End of Data source synchronization wizard */

div.thresholdControlWrapper td {
    vertical-align: middle !important;
    padding: 0px 0px 0px 0px !important;
}

table.vimTableWrapper {
    min-width: 800px;
}

div.sw-btn-bar-wrapper
{
    padding-bottom: 20px;
}

.apply-to-all {
    margin-top:10px;
}

.apply-to-all-choice {
    float: left;
}

.apply-to-all-description
{
    margin-left:25px;
}

/* manage node resource*/
.sw-vim-clear {
    clear: both;
}

.sw-vim-float-left-auto-width {
    overflow: hidden;
}

.sw-vim-resource-managenode
{
    background-color: #e4f1f8;
    padding: 1em;
    margin-top: 1em;
}

.sw-vim-resource-managenode p
{
    padding: 0px;
    margin: 0px;
}

.sw-vim-float-left {
    float: left;
}

.sw-vim-resource-managenode div.sw-vim-float-left-auto-width {
    padding-left: 15px;
}

.sw-vim-resource-managenode div#expandedState div.sw-vman-buttons {
    padding-top: 15px;
}

.sw-vim-resource-managenode div#collapsedState .LinkArrow {
    padding-left: 15px;
}

.sw-vim-resource-managenode .LinkArrow, .sw-vim-resource-managenode .linkLabel{
    color: #3366D3;
}

/* MultiChart user control */
div.sw-vim-mc-container { width:100%; }
div.sw-vim-mc-container div.sw-vim-mc-header { height:30px; background-color: #ecedee; }
div.sw-vim-mc-container div.sw-vim-mc-left-column{ width:122px; float:left;  }
div.sw-vim-mc-container div.sw-vim-mc-left-column span.title { padding:8px; font-size: 10px; display:inline-block; }
div.sw-vim-mc-container div.sw-vim-mc-middle-column { float:left; }
div.sw-vim-mc-container div.sw-vim-mc-right-column{ width:82px; float:right; }
div.sw-vim-mc-container div.sw-vim-mc-right-column span { padding:2px 8px 2px 2px; text-align:right; font-size: 10px; display:inline-block; line-height: 1.3; }
div.sw-vim-mc-container div.sw-vim-mc-counter { clear:both; position:relative; padding:0px 2px 0px 2px; }
div.sw-vim-mc-container div.sw-vim-mc-counter table { height:100%; border-collapse:collapse; table-layout: fixed; }
div.sw-vim-mc-container div.sw-vim-mc-counter hr { z-index:100; margin:0; border: 1px solid  #ecedee; }
.sw-is-msie-7 div.sw-vim-mc-container div.sw-vim-mc-counter hr { margin-top:-8px; }
div.sw-vim-mc-container table td { border:0 !important; padding:0; }
div.sw-vim-mc-container table td.chart { border-left:1px solid  #ecedee !important;  border-right:1px solid  #ecedee !important; }
div.sw-vim-mc-container table td.lastValue { text-align:right; }
div.sw-vim-mc-container table td.lastValue span.lastValue { display:inline-block; padding-right:2px; }
div.sw-vim-mc-container div.highcharts-container { z-index:1 !important; }

.sw-vim-standard-resizable-wrapper {
    float: left;
    min-width: 1077px;
}

/* baseline */
.sw-vim-baselineThresholds-editPropertiesButton {
    background-image: url("/Orion/Nodes/images/icons/icon_edit.gif");
}

/* general extjs form styling */
.sw-vim-form-groupByPanel {
    background-image: url("/Orion/Nodes/images/background/bg_groupby.gif");
    background-repeat: repeat-x;
    background-color: #e1e1e0;
    padding: 5px;
    border-bottom: 1px solid #d0d0d0;
}

.sw-vim-form-groupByItem {
    padding: 3px;
    cursor: pointer;
    border-width: 0px !important;
}

.sw-vim-assetTree-unmanagedEntityLabel {
    color: rgb(100, 100, 100);
    font-style: italic;
}

.sw-vim-vmantools-buttons {
    white-space: nowrap;
}

.sw-vim-content-wrapper {
    padding: 15px;
    min-height: 200px;
}

.sw-vim-gettingstarted-backgraound, .sw-vim-gettingstarted-backgraound .HeaderBar {
    background-color: #F7A51a!Important;
}

.sw-vim-gettingstarted-innertable {
    background-color: #FFFFFF;
}

.sw-vim-gettingstarted-innertable td {
    padding: 15px 5px 10px 10px;
}

.sw-vim-gettingstarted-innertable td.icon {
    width: 40px;
    padding-right: 0px;
    padding-left: 15px;
}
.sw-vim-gettingstarted-innertable .title {
    font-weight: bold;
    font-size: 14px;
}
.sw-vim-gettingstarted-backgraound .HeaderBar a:hover {
    color: brown;
}
.sw-vim-text-helpful {
    font-size: 12px;
    color: #646464;
}

.sw-vim-gettingstarted-innertable span.sw-btn-c {
    min-width: 100px;
    text-align: center;
}

.sw-vim-nowrap {
    white-space: nowrap;
}

/* general actions dialog styling */
.sw-vim-action-storageMotion-capacityBar {
    width:100px;
    float:right;
    margin-right: 10px;
}

.sw-vim-action-storageMotion-capacityBar_fill {
    background-color:#006CA9;
    font-size:1px;
    height:10px;
}

.sw-vim-action-storageMotion-capacityValue {
    float: left;
    color: #666666;

}

.sw-vim-action-storageMotion-current {
    font-weight: bold;
    font-style: italic;
}

.sw-vim-entityDetails .PropertyHeader {
    padding-left: 5px;
}

.sw-vim-entityDetails {
    border-spacing: 0px;
}

.sw-vim-entityDetails .PaddingLeft {
    padding-left: 30px;
}

.sw-vim-entityDetails .Property .warning {
    margin-top: 5px;
    padding-left: 21px;
    background: url('/Orion/images/StatusIcons/Small-Warning.gif') no-repeat left 2px;
}

.vim-gettingstarted .left {
    float: left;
}

.vim-gettingstarted-icon {
    display: inline-block;
    background: url("/Orion/VIM/images/GettingStarted/getting_started_icon32x32.png") no-repeat 0 0;
    width: 32px !important;
    height: 32px !important;
    margin: -2px 8px 0 -5px;
}

.vim-gettingstarted-video-icon {
    display: inline-block;
    background: url("/Orion/VIM/images/GettingStarted/video.png") no-repeat 0 0;
    width: 32px !important;
    height: 32px !important;
    margin: -7px 11px 0 0;
}

.vim-gettingstarted {
    background-color: #2D5C77;
    padding: 15px;
}

.vim-gettingstarted > div {
    background-color: #FFF;
}

.vim-gettingstarted-header {
    padding: 14px 14px 3px 14px;
}

.vim-gettingstarted-header h1 {
    margin: 6px 0 11px;
}

.vim-gettingstarted-doc {
    padding: 14px;
}

.vim-gettingstarted-description {
    padding: 0 14px 14px 14px;
}

.vim-gettingstarted-description h4 {
    margin: 0;
    color: #2E96B9;
}

.vim-gettingstarted-description-icon {
    width: 45px;
    height: 47px;
    background: url('images/GettingStarted/vmwarecluster.png') no-repeat 0 0;
    display: inline-block;
    float: right;
    margin: 32px 10px 10px 10px;
}

.vim-gettingstarted-button {
    text-align: right;
    border-bottom: 1px solid #e4e4e4;
    padding: 0 14px 14px 14px;
}

.vim-gettingstarted-doc-item {
    background-color: #EFF4F8;
    padding: 14px;
}

.vim-gettingstarted-content {
    padding: 14px;
}

.vim-gettingstarted-row-even, .vim-gettingstarted-row-odd {
    height: 40px;
    position: relative;
    cursor: pointer;
}

.vim-gettingstarted-row-odd {
    background-color: white;
}

.vim-gettingstarted-row-even {
    background-color: #F6F6F6;
}

.vim-gettingstarted-row-disabled {
    cursor: not-allowed;
}

.vim-gettingstarted-expander-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 7px;
    left: 4px;
}

.vim-gettingstarted-gear-icon {
    background: url("/Orion/VIM/images/GettingStarted/gear.png") no-repeat 0 0;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 8px;
    left: 30px;
}

.vim-gettingstarted-info {
    width: 23px;
}

.vim-gettingstarted-label {
    position: absolute;
    top: 11px;
    left: 60px;
}

.vim-gettingstarted-label-expanded {
    color: #2D5C77;
    font-weight: bold;
}

.vim-gettingstarted-step-counter {
    position: absolute;
    top: 11px;
    right: 35px;
    color: #FF9900;
    font-weight: bold;
}

.vim-gettingstarted-counter-completed {
    color: #54BE39;
}

#Drawer_IntegrationRow, #Drawer_OrionRow, #Drawer_RecommendationsRow, #Drawer_CapacityPlanningRow {
    display: none;
}

.vim-gettingstarted-drawer {
    border-style: none none none dotted;
    border-width: medium medium medium 2px;
    border-color: lightgray;
    margin-left: 16px;
    padding: 2px 0;
}

.vim-gettingstarted-drawer-row {
    margin-top: -2px;
}

#Drawer_IntegrationRow {
    margin-top: 6px;
}

#Drawer_IntegrationRow .vim-gettingstarted-drawer-row {
    margin-top: 2px;
}

.vim-gettingstarted-drawer-row table {
    border-collapse: collapse;
}

.vim-gettingstarted-drawer-row-data {
    padding: 2px 0 2px 10px;
    border-width: 1px 1px medium medium;
    border-style: solid solid none none;
    border-color: lightgray;
    margin-left: 12px;
    position: relative;
}

.vim-gettingstarted-drawer-row-data p {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    padding: 5px;
}

.vim-gettingstarted-drawer-row-data::before {
    border-left: 4px solid #2D5C77;
    display: block;
    content: ".";
    color: transparent;
    font-size: 0;
    height: 105%;
    position: absolute;
    left: -3px;
    top: -1px;
    z-index: 1;
}

.vim-rowdata-visited::before {
    border-left-color: #54BE39;
}

.vim-gettingstarted-drawer-row-data-last {
    border-bottom: 1px solid lightgray;
}

.vim-gettingstarted-manage-btn {
    width: 150px;
}

.vim-gettingstarted-manage-btn a {
    width: 160px;
    text-align: center;
    margin: 5px 14px 5px 5px;
}

.vim-gettingstarted-remove {
    position: relative;
    top: 10px;
    text-transform: uppercase;
}

.vim-gettingstarted-remove a {
    float: right;
}

.vim-gettingstarted-info-tooltip {
    position: relative;
    display: inline-block;
}

.vim-gettingstarted-info-tooltip .icon {
    background: url("/Orion/VIM/images/GettingStarted/info-icon.png") no-repeat 0 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 7px;
}

.vim-gettingstarted-info-icon {
    background: url("/Orion/VIM/images/GettingStarted/info-icon.png") no-repeat 0 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.vim-gettingstarted-info-tooltip .vim-gettingstarted-tooltip-text {
    visibility: hidden;
    width: 175px;
    background-color: #EFF4E7;
    color: black;
    text-align: left;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 18px;
    left: -168px;
}

.vim-gettingstarted-info-tooltip:hover .vim-gettingstarted-tooltip-text {
    visibility: visible;
}

.vim-perfstack-icon {
    background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill%3A%23767676%3B%7D.b%7Bfill%3A%23297994%3B%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eshow-in-perfstack-color%3C/title%3E%3Cpath%20class%3D%22a%22%20d%3D%22M20%2C18H10.16L8.5%2C13.85%2C6.84%2C18H0V17H6.16L8.5%2C11.15%2C10.84%2C17H20Zm-4-8h4V6H16Z%22/%3E%3Cpath%20class%3D%22b%22%20d%3D%22M20%2C15H12.33L8.52%2C5.88%2C4.66%2C15H0V13H3.34L8.53.72%2C13.67%2C13H20ZM16%2C5h4V1H16Z%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    margin-left: 8px;
    padding: 3px 0px 0px 21px;
}

.vim-perfstack-icon:only-child {
    margin-left: 2px;
}

.sw-vim-mc-container-toolbar {
    padding: 4px 0px 8px 0px;
    font-size: 8pt;
}

.sw-vman-tools-perfstack a {
    background-size: 14px 14px;
    padding: 0 0 0 19px;
    font-size: 11px;
}

.sw-vman-tools-row {
    font-size: 11px;
    margin-top: 11px;
}

.vim-nutanix-icon {
    background: url("/Orion/VIM/images/nutanix_icon.png") no-repeat 0 0;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    padding: 0px 0px 0px 21px;
    display: block;
}

.vim-nutanix-icon-mono {
    background: url("/Orion/VIM/images/nutanix_icon_mono.png") no-repeat 0 0;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    padding: 0px 0px 0px 21px;
    display: block;
}

.vim-edit-icon {
    background: url("/Orion/Nodes/images/icons/icon_edit.gif") no-repeat 0 0;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    padding: 0px 0px 0px 21px;
    display: block;
}

.vim-detail-perfstack-icon {
    background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill%3A%23767676%3B%7D.b%7Bfill%3A%23297994%3B%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eshow-in-perfstack-color%3C/title%3E%3Cpath%20class%3D%22a%22%20d%3D%22M20%2C18H10.16L8.5%2C13.85%2C6.84%2C18H0V17H6.16L8.5%2C11.15%2C10.84%2C17H20Zm-4-8h4V6H16Z%22/%3E%3Cpath%20class%3D%22b%22%20d%3D%22M20%2C15H12.33L8.52%2C5.88%2C4.66%2C15H0V13H3.34L8.53.72%2C13.67%2C13H20ZM16%2C5h4V1H16Z%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    padding: 0px 0px 0px 21px;
    display: block;
}

.vim-hyperv-fips-restriction-warning {
    margin-bottom: 1em;
    max-width: 1000px;
}