﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PieChartResource.ascx.cs" Inherits="Orion_UDT_Resources_PieChartResource" %>

<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
        <asp:PlaceHolder runat="server" ID="WrapperContents"></asp:PlaceHolder>
    </Content>
</orion:resourceWrapper> 