.chartLegend td {
    border-bottom-width: 0px !important;
}

.chartLoadingMessage {
    text-align: center;
    font-weight: bold;
    padding-top: 47px;
    color: #777;
}

.sw-is-msie-8 .legendSymbol,
.sw-is-msie-7 .legendSymbol {
    position: relative;
}

.sw-is-msie-8 .legendSymbol div,
.sw-is-msie-7 .legendSymbol div {
    top: -1px !important;
}

.sw-is-msie-7 #highchartTooltip,
.sw-is-msie-8 #highchartTooltip
{
    background-color: rgb(255,255,255);
  
}

.chartFullScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
    z-index: 9999;
    margin: 0;
    padding: 0;
    overflow-x: auto;
}

.chartFullScreen .fullscreenChild 
{
    padding: 15px;
}

.highcharts-container {
    overflow: visible !important;
}

g.highcharts-tooltip rect {
    stroke: none;
}

#highchartTooltip
{
    position: relative;
    z-index: 55;
    border: 2px solid #0D477D;
    border-radius: 6px;
    background-color: rgba(255,255,255, 0.95);
    padding: 5px;
    font-size: 10pt;
    left: 7px; 
}

#highchartTooltip table 
{
    border-collapse: collapse;
}

.pointFormatSerie {   
   white-space: pre-wrap; /* css-3 */
   white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
   word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.chartDataNotAvailableArea {
   background-image: url('/orion/images/backgroundemptychart.png'); 
   background-repeat:repeat-x; 
   height: 212px; 
   padding-top: 60px; 
   margin-bottom: -60px
}

#chartDataNotAvailable {
   border: 4px solid #c2c2c2;
   border-radius: 3px;   
   background: white;
   display: inline-block;
   padding: 15px 10px;
}

#chartDataNotAvailable table {
  height: 100%;
  border: 0px;
}

#chartDataNotAvailable table td {
   font-family: Arial;
   font-size: 20pt;
   border: 0px;
}

#chartDataNotAvailable a {
   font-family: Arial;
   font-size: 12pt;
   color: #336699;
   text-decoration: underline;
}