﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="BaselineChart.ascx.cs" Inherits="Orion_VIMCloudMonitoring_Resources_VolumeDetails_BaselineChart" %>

<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
        <asp:PlaceHolder runat="server" ID="WrapperContents"></asp:PlaceHolder>
    </Content>
</orion:resourceWrapper> 