﻿/* tooltip series hover hilite */

#highchartTooltip tr.hover {
    background-color: #E4F1F8; /*#FFE89E for yellow hilite instead of blue*/
}

#highchartTooltip tr.hover td {
    font-weight: bold;
    padding-top: .25em;
    padding-bottom: .25em;
}
