﻿.sw-vim-vmmanag-delSnapshotArea {
    border-color: #eeeeee !important;
    border-width: 1px !important;
    border-style: solid !important;
    background-color:white !important;
    display:block; 
    padding:10px;
    font-family: Arial, Verdana, Helvetica, sans-serif !important;
    font-size: 11px !important;
}

.sw-vim-vmmanag-ui-dialog-content {
    background-color: white !important;
    font-family: Arial, Verdana, Helvetica, sans-serif !important;
    font-size: 11px !important;
}

.sw-vim-snapshot-tooltip {
     background: #eeeeee ; 
     border: 1px solid #646464; 
     display: inline-block; 
     position: relative; 
     zoom: 1; 
     padding: 6px 6px 6px 6px; 
     font-family: Arial, Verdana, Helvetica, sans-serif;
     font-size: 11px;
}

.sw-vim-vmmanag-ui-dialog-content .jstree-default a.jstree-clicked {
     background:#eeeeee;
     border:1px solid #eeeeee;
}
