﻿    .thresholds { background-color: #e4f1f8; width: 100%;  }

    .thresholds .thresholdControl table { width: 100%; background-color: white; }

    .thresholds .thresholdControl .thresholdGlobal table { background-color: #F0F0F0; }

    .thresholds .thresholdControl .thresholdCustom .baselineInfo {
         background-color: #F0FFFF; 
         border: 1px solid #E0EEEE; 
         border-radius: 5px 5px 5px 5px; 
         padding: 5px 10px;
         font-size: 11px;
         color: #808080;
    }

    .thresholds .thresholdControl .thresholdCustom .formulaTextbox {
        width: 200px;
    }

    .thresholds .thresholdControl .thresholdCustom .baselineInfo .button {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background-image: url("/orion/images/btn_sprites.png");
        border-image: none;
        border-radius: 4px 4px 4px 4px;
        border-width: 0 1px 1px 0;
        cursor: pointer;
        font-size: 11px;
        height: 18px;
        margin-bottom: 5px;
        padding-bottom: 2px;
        width: 190px;
    }

    .thresholds .thresholdControl .thresholdCustom .baselineInfo a {
        color: #336699;
        cursor: pointer;
        font-size: 11px;
    }

    .thresholds .thresholdControl .thresholdCustom .baselineInfo .info {
        color: #808080;
        font-size: 11px;
        padding-top: 5px;
    }

    .thresholds input[type='checkbox'] {
        margin-right: 5px;
    }
    
/*.thresholds .thresholdControl .thresholdCustom*/ 

