﻿.tree-grid-expander-expand
{
    width: 16px !important;
    height: 16px !important;
    background-image: url(/Orion/images/Button.Expand.Arrow.gif) !important;
    background-position: left;
}
.tree-grid-expander-expand:hover
{
    background-position: right;
}

.tree-grid-expander-collapse
{
    width: 16px;
    height: 16px;
    background-image: url(/Orion/images/Button.Collapse.Arrow.gif) !important;
    background-position: left;
}
.tree-grid-expander-collapse:hover
{
    background-position: right;
}

.tree-grid-expander-dummy
{
    padding-left: 18px;
    display: inline-block;
}

.tree-grid-caption
{
    padding-left: 8px;
    display: inline-block;
}

.tree-grid-indent-block
{
    padding-left: 20px;
    display: inline-block;
}

a.tree-grid-link, a.tree-grid-link:active, a.tree-grid-link:visited
{
    color: #1E90FF;
    text-decoration: none;
}

a.tree-grid-link:hover
{
    text-decoration:underline;
}

