﻿<%@ Master Language="C#" MasterPageFile="~/Orion/Admin/OrionAdminPage.master" AutoEventWireup="true" CodeFile="DPAAdminPage.master.cs" Inherits="Orion_DPA_Admin_DPAAdminPage" %>

<%@ Register Src="~/Orion/Controls/IconHelpButton.ascx" TagPrefix="orion" TagName="IconHelpButton" %>

<asp:Content ID="Content1" ContentPlaceHolderID="adminHeadPlaceholder" Runat="Server">
    <orion:Include runat="server" File="DPA/Admin/styles/AdminAndViewsBundle.css"/>
    <orion:Include runat="server" Module="DPA" File="Common.js" />
    <asp:ContentPlaceHolder runat="server" ID="adminHeadPlaceholder" />
</asp:Content>

<asp:Content  runat="server" ContentPlaceHolderID="TopRightPageLinks">
    <orion:IconHelpButton ID="btnHelp" runat="server" Visible="false" />
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="adminContentPlaceholder" Runat="Server">
	<div class="dpaAdminDateArea">
        <div class="dpaTitleBarDate">
		    <%=DateTime.Now.ToString("F")%>
		</div>
    </div>
    <asp:ContentPlaceHolder runat="server" ID="adminContentPlaceholder" />
</asp:Content>