<script type="text/ng-template" id="nta-ip-tooltip-ipv4">
    <div class="sw-entity-popover-property">
        <div class="sw-entity-popover-property__label ip-tooltip__label" ng-if="::!!item.label">
            <div xui-ellipsis
                 ellipsis-options="::{ tooltipText: item.label }">
                {{::item.label}}
            </div>
        </div>
        <div class="sw-entity-popover-property__value ip-tooltip__value-ipv4">
            <div xui-ellipsis
                 ellipsis-options="::{ tooltipText: item.value }">
                {{::item.value}}
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="nta-ip-tooltip-ipv6">
    <div class="sw-entity-popover-property">
        <div class="sw-entity-popover-property__label ip-tooltip__label" ng-if="::!!item.label">
            <div xui-ellipsis
                 ellipsis-options="::{ tooltipText: item.label }">
                {{::item.label}}
            </div>
        </div>
        <div class="sw-entity-popover-property__value ip-tooltip__value-ipv6">
            <div xui-ellipsis
                 ellipsis-options="::{ tooltipText: item.value }">
                {{::item.value}}
            </div>
        </div>
    </div>
</script>
