<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EntityEnergyUsage.ascx.cs" Inherits="EntityEnergyUsage" %>
<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
        <asp:PlaceHolder runat="server" ID="chartPlaceHolder" />
    </Content>
</orion:resourceWrapper>