﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="InsufficientSetupInfoDecryptingPasswordProblem.ascx.cs"
    Inherits="Orion_SCM_Controls_InsufficientSetupInfoDecryptingPasswordProblem" %>

<orion:resourceWrapper ID="ResourceWrapper" runat="server" ShowEditButton="false">
    <Content>
        <div runat="server" id="dataDiv"></div>
    </Content>
</orion:resourceWrapper>
