﻿.GroupItem a
{
	text-decoration: underline !important;
	color: #336699 !important;
	font-weight: normal;
}

.GroupItem a:hover
{
	color: #f99d1c;
}

/* use with groupitems or other elements that are 21px tall */
.ZebraBackground
{
	font-size: 11px; 
	background: url('/Orion/APM/images/BG.Zebra.gif'); 
	background-repeat: repeat; 
	background-position: top;
}

.ElementGrouping
{
	padding: 0;
	margin: 0;	
	width: 100%;
	border: #e1e1e0 solid 1px;	
}

.ncm_GroupSection
{
	background-color:#EFEBEF;
	margin: 0px;
	padding: 5px;
}

.GroupItems
{
	margin: 0;
	padding: 0;
	overflow: auto;
}

.GroupItem, .SelectedGroupItem
{
	white-space:nowrap;
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 21px;
}

.GroupItem img, .SelectedGroupItem img
{
	vertical-align: text-bottom;
}

.SelectedGroupItem
{
	font-weight:bold;
	background-image: url('/Orion/Nodes/images/background/left_selection_gradient.gif');
	background-color:#97d6ff;
	background-repeat:repeat-x;
}

table.ExistingElements 
{
	width: 100%;
	margin: 0;
	padding: 0;
}


table.ExistingElements>tbody>tr>td
{
	margin: 0;
	padding: 0;
}

#Grid a
{
	color: #4779C4;
}

#ncm_ThwackAd
{
	border: #e1e1e0 solid 1px;	    
    padding: 10px;
    margin: 15px 0 0 0;
    font-size: 8pt;
}

#ncm_ThwackAd p
{
	padding-bottom: 10px;
} 

#ncm_ThwackAd a 
{ 
    color: #336699; 
    font-weight: bold;
    text-decoration: underline;
}

#ncm_ThwackAd a:hover 
{
    color:orange;
}

.ncm_searchterm 
{
    background-color:yellow;
}  


input#doSearch { /* UIF-292 */
	background-color: #FFF;
	border: 1px solid #D5D5D5;
	color: #1c6882;
	padding: 0 3px;
}

input#doSearch:hover { /* UIF-292 */
	background-color: #FFF;
	border: 1px solid #204a63;
	color: #204a63;
}