﻿.sw-btn-bar-wizard {
    text-align: left;
}

.sw-btn-bar-reset {
    margin-left: 30px !important;
}

.page-title {
    font-size: large;
    padding-bottom: 10px;
}

.centrSettingsMessageContainer {
    margin-top: 5px;
    margin-bottom: 15px;
}

.centrSettingsImg {
    margin-bottom: -10px;
    padding-right: 10px
}

.centrSettingsSyncMessageContainer {
    padding-bottom: 11px;
}

.centrSettingsRestartAllButton {
    margin-left: 20px
}

.centrSettingsMessage {
    padding-left: 60px;
    width: 500px
}

.hideElement {
    display: none
}

.sw-hdr-breadbox {
    margin: 0 !important;
}
