﻿.ddlStyle {
    width: 200px; 
    height: 29px;
    margin: 10px;
}

.searchDiv {
    position: relative; 
    display: inline-block;
    margin: 10px;
    border: 1px solid #d5d5d5;
    float: left;
    width: 200px;
}

.searchImgDiv {
    position: absolute; 
    right: 0;
    padding: 4px 0;
    float: left;
}

.searchImage {
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    display: inline-block; 
    line-height: 24px; 
    vertical-align: 24px;
    background-image: url('/Orion/images/Button.SearchIcon.gif');
    cursor: pointer;
}

.searchInput {
    padding: 3px;
    height: 23px;
    line-height: 23px;
    border: none;
    width: 100%;
}

.searchInputCache {
    display: none;
}

.inputDiv {
    float: left;
    width: 170px;
}

.filterDiv {
    display: inline-block;
}

.ddlDiv {
    float: left;
}
