﻿.centralizedSettingPanel {
    overflow:auto !important;
    border: 1px solid #CCCCCC;
    position: relative;
}

.disabledPanel {
    overflow: hidden !important; 
}

.centralizedSettingTable {
    table-layout: auto;
    width: 100%;
    opacity: 0;
}

.centralizedSettingTable tbody tr td {
    padding: 10px 15px 10px 15px !important;
}

.centralizedSettingTable tbody tr td.groupCell {
    font-size: 11pt;
    color: #373737;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.centralizedSettingTable tbody tr td.orionServerIdCell,
.centralizedSettingTable tbody tr td.fullNameCell,
.centralizedSettingTable tbody tr td.shortNameCell,
.centralizedSettingTable tbody tr td.defaultValueCell,
.centralizedSettingTable tbody tr td.initialValueCell,
.centralizedSettingTable tbody tr td.isDefaultCell,
.centralizedSettingTable tbody tr td.isChangedCell,
.centralizedSettingTable tbody tr td.isResetCell {
    display: none;
}

.centralizedSettingTable tbody tr td.nameCell {
    width: 1%;
    color: #AAAAAA;
    white-space: nowrap !important;
}

.centralizedSettingTable tbody tr td.valueCell {
    width: 1%;
    white-space: nowrap !important; 
}

.centralizedSettingTable tbody tr td.resetCell {
    min-width: 100px;
    width: 10%;
    white-space: nowrap !important;
    text-align: right !important;
}

.centralizedSettingTable tbody tr td.showOverridesCell {
    min-width: 100px;
    width: 10%;
    white-space: nowrap !important;
    text-align: left !important;
}

.centralizedSettingTable tbody tr td.description {
    width: 100%;
}

.centralizedSettingTable tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.checkBox {
    margin-right: 10px;
    margin-top: 5px;
}

.textBox {
    height: 20px;
    padding-left: 2px;
    padding-right: 2px
}

.advancedTextBox {
    width: 160px;
}

.numericTextBox {
    width: 60px;
}

.timeSpanTextBox {
    width: 130px;
}

.dropDownBox {
    height: 23px;
    min-width: 66px;
    max-width: 166px;
}

.warningImg {
    padding-left: 5px !important;
    margin-bottom: -3px !important;
}

.serviceRestartWarningBox {
    cursor: default;
}

.resetLink,
.showOverridesLink,
.useGlobalLink {
    cursor: pointer;
}

.overrideButton {
    height: 16px;
    margin-bottom: 0;
    margin-left: 4px;
}

input.advancedTextBox + img {
    cursor: pointer;
}

input.advancedTextBox:disabled + img + a.overrideButton {
    margin-left: -20px;
} 

.serviceRestartWarningBox .tooltip {
    background: #FCFCFC;
    border: 1px solid #8c8c8c;
    padding: 5px 10px 5px 10px;
    display: none;
    width: 250px;
    white-space: normal !important;
    word-wrap: break-word;
}

.serviceRestartWarningBox:hover .tooltip {
    position:fixed;
    display: block;
}

.waitText {
    position: absolute; 
    left: 40%; 
    top: 40%;
    font-size: 18px;
    color: grey;
}