#infovis {
    position:relative;
    height:1000px;
    overflow:hidden;
}

/* -- generics to become global -- */

.sw-collapsible { padding: 0 0 0 25px; }
.sw-collapsible-h { position: relative; }
.sw-collapsible-toggle { background-image: url(/orion/appstack/images/expand-minus.png); position: absolute; top: 50%; margin-top: -6px; left: -25px; width: 12px; height: 12px; display: inline-block; }
.sw-collapsed .sw-collapsible-toggle { background-image: url(/orion/appstack/images/expand-plus.png); }
.sw-link { cursor: pointer; }

.sw-menuoption-selectable { border-radius: 3px; border: 1px solid transparent; display: inline-block; padding: 2px 4px; color: #000; }
.sw-menuoption-selectable:hover, .sw-menuoption-selected { background-color: #FCD089; border: 1px solid #FCAE2F; color: #000; }
.sw-appstack-dd {background-image: url(/orion/appstack/images/pane.drop.arrow.png);background-position: center right; background-repeat: no-repeat; padding-right: 20px; }

/* pane */

.sw-appstack-pane { background-color: #eaf4f6; width: 100%; height: 34px; }
.sw-appstack-pgtitle { min-width: 220px; padding-top: 4px; }
.sw-appstack-pgtitle span { text-transform: uppercase; font-family: 'Open Sans', arial, Verdana, Helvetica, sans-serif; font-size: 14px; }

/* refresh */

.sw-appstack-refresheditor, .sw-appstack-refresheditor > span { font-size: 8pt; }
.sw-appstack-refresheditor { position: relative; }
#appstackrefreshrate { display: inline-block; }
.sw-appstack-seconds, .sw-appstack-minutes { display: inline-block; border-bottom: 1px dotted #000; padding-bottom: 1px; cursor: pointer; }
.sw-appstack-texteditor { margin-top: 1px; margin-left: -15px; padding-top: 5px; background: url(/orion/appstack/images/texteditor.floatbg.tip.png) no-repeat top center; }
.sw-appstack-texteditor > div { border: 1px solid #666; background-color: #fff; border-top: none; border-radius: 0 0 3px 3px; padding: 0px 0 2px 0; }
.sw-appstack-texteditor > div > input { border: none !important; background-color: #fff; width: 28px; height: 16px; text-align: center; margin-left: 1px; }

/* icon section */

.sw-appstack-frame > .sw-appstack-section:last-child { border-bottom: none; }

.sw-appstack-section { overflow: hidden; min-height: 35px; border-bottom: 1px solid #efefef; margin: 2px 0 0 0; padding-top: 6px; padding-left: 36px; }
.sw-appstack-h { font-size: 10px; color: #999; text-transform: uppercase; line-height: 24px; font-weight: bold; margin: 0 13px 0 0; }
.sw-appstack-h > label > img { margin-right: 10px; vertical-align: top; }
.sw-appstack-h .sw-appstack-xor { visibility: hidden; }
.sw-collapsed .sw-appstack-h .sw-appstack-xor { visibility: visible; }

.sw-appstack-empty .sw-collapsible-toggle { display: none; }
.sw-appstack-empty > div > * { opacity: 0.5; }
.sw-appstack-empty > div > .sw-appstack-why { opacity: 1; }

/* icons */

.sw-appstack-i { padding: 6px 8px 6px 0; }
.sw-sppstack-i-left { text-align: left; }
.sw-sppstack-i-center { text-align: center; }
.sw-sppstack-i-right { text-align: right; }

.sw-appstack-i > a, .sw-appstack-i2 > a { display: inline-block; background-repeat: no-repeat; background-position: 2px center; margin: 2px; font-size: 10px;  border: 1px solid transparent; }
.sw-appstack-i2 > a { font-size: 11px; }
.sw-appstack-i > a p, .sw-appstack-i2 > a p { display: inline-block; vertical-align: middle; text-align: left; min-width: 24px; height: 24px; padding: 2px; margin: 0; }
.sw-appstack-i2 > a p { height: auto; min-width: 160px; max-width: 200px; white-space: normal; padding: 2px; } /* item appearing within the selection pane */

.sw-appstack-i > a.sw-appstack-filtered { border: 1px solid #feecae; background-color: #fef7db; }
.sw-appstack-i > a.sw-appstack-selected { border: 1px solid #adbac2; background-color: #eaf4f6; }
.sw-appstack-i > a:hover, .sw-appstack-i > a:focus { border: 1px dotted #959595; }
.sw-appstack-i > a span { display: none; line-height: 12px; margin: 5px 5px 0 5px; width: 120px;height: 24px; overflow: hidden; text-overflow: ellipsis; }

.sw-appstack-shownames .sw-appstack-i > a { width: 153px; }
.sw-appstack-shownames .sw-appstack-i > a span, .sw-appstack-i2 > a span { display: inline-block; margin-left: 30px; }
.sw-appstack-shownames .sw-appstack-i > a.sw-appstack-noname, .sw-appstack-shownames .sw-appstack-i > a.sw-appstack-m { width: auto; }
.sw-appstack-shownames .sw-appstack-i > a.sw-appstack-noname span { display: none; }
a.sw-appstack-m { line-height: 24px; padding: 0 2px; }
.sw-appstack-i > a.sw-appstack-m:hover { border: 1px solid transparent; }

/* chart */
.sw-appstack-chart-parent { width: 36px; }
.sw-appstack-chart { vertical-align: top; display: inline-block; width: 36px; height: 38px; }
.sw-appstack-pie-count { padding-left: 3px; }

/* counts */

.sw-appstack-c { display: inline-block; padding: 0 3px 0 0; font-size: 10px; line-height: 22px; position: absolute; right: -4px; top: 4px; white-space: nowrap; }
.sw-appstack-c span { padding: 0 4px; line-height: 16px; margin: 0 2px; display: inline-block; display: inline-block;text-align: center; min-width: 15px; }


/* selection */

.sw-appstack-sel-pane { background-color: #ededed; border: 1px solid #eae8e8; }
.sw-appstack-ministack .sw-appstack-sel-pane  { border: none; }
#appstackoverview td { border-bottom: none !important; }

.sw-appstack-pie-count { font-size: 11px; display: inline-block; white-space: nowrap; }
.sw-appstack-pie-count span { font-weight: bold; }

.sw-appstack-overview-label { white-space: nowrap; font-size: 11px; }
.sw-appstack-hasselection .sw-appstack-sel-pane { background-color: #EAF4F6; border: 1px solid #CFE0EA; }
.sw-appstack-hasselection .sw-appstack-overview-label { display: none; } 

.sw-appstack-sel-items { background: #fff;border: 1px solid #ccc;z-index: 99;}

#appstackselectionoptions { display: none; }
.sw-appstack-hasselection #appstackselectionoptions { display: table-cell; }

.sw-appstack-dim { opacity: 0.3 }


.sw-appstack-issues div { display: inline-block; vertical-align: middle;}
.sw-appstack-issues > div > span { margin-right: 6px; font-size: 11px; vertical-align: top; line-height: 20px; }
.sw-appstack-issues > div > div { height: 12px; width: 12px; background-position: center left; background-repeat: no-repeat; display: inline-block; margin-right: 6px; }

/* settings */
.sw-appstack-settings-table td { padding-bottom: 20px; padding-right: 100px; vertical-align: top; }
.sw-appstack-settings-uplimit-count { width: 30px; }
.sw-appstack-settings-align { display: inline-block; vertical-align: top; width: 75px; }
.sw-appstack-settings-align-left { background-image: url(/orion/appstack/images/align.left.png); background-repeat: no-repeat; height: 44px; /*width: 17px; display: inline; */ }
.sw-appstack-settings-align-center { background-image: url(/orion/appstack/images/align.center.png); background-repeat: no-repeat; height: 44px; /*width: 17px; display: inline; */ }
.sw-appstack-settings-align-right { background-image: url(/orion/appstack/images/align.right.png); background-repeat: no-repeat; height: 44px; /*width: 17px; display: inline; */ }
.sw-appstack-settings-frame input[type="radio"], .sw-appstack-settings-frame input[type="checkbox"] { margin-left: 30px; }
.sw-appstack-nobreak { white-space: nowrap; }
.sw-appstack-settings-summary-container { display: inline-block; }
.sw-appstack-settings-summary-explanation, .sw-appstack-settings-summary-info { background-repeat: no-repeat; display: inline-block; }
.sw-appstack-settings-summary-explanation { background-image: url(/orion/appstack/images/category-status-summary.png); height: 54px; width: 420px; position: relative; }
.sw-appstack-settings-summary-explanation-text { position: absolute; top: 18px; left: 77px; }
.sw-appstack-settings-summary-info { background-image: url(/orion/appstack/images/i.png); width: 420px; padding-left: 20px; }
.sw-appstack-settings-frame p { margin: 0px 0 13px 0; padding: 0; }
.sw-appstack-settings-frame div.sw-pg-ctrl-section { margin-top: 24px; }
.sw-appstack-settings-frame { margin-bottom: 24px; }
.sw-appstack-settings-frame #TxtLayoutName { width: 200px; margin-left: 30px; }
.sw-appstack-settings-frame #TxtLayoutName[readonly] { border: none; background: inherit; }
.sw-appstack-settings-frame .sw-appstack-settings-rate > div { margin-top: 6px; }
.sw-appstack-settings-frame .sw-appstack-settings-minutes, .sw-appstack-settings-frame .sw-appstack-settings-seconds { padding-left: 30px; }
.sw-appstack-settings-frame .sw-appstack-settings-minutes input, .sw-appstack-settings-frame .sw-appstack-settings-seconds input { width: 30px; }
.sw-appstack-settings-summary-info p { margin: 10px 0; }

/* mini-stack */
.sw-appstack-ministack .sw-appstack-section { background-color: #fafafa; border-bottom-width: 1px; border-bottom-color: #fff; }
.sw-appstack-ministack .sw-suggestion-link { color: #369; }
.sw-appstack-ministack .sw-ministack-error { background-color: #F2E1E0; }
.sw-appstack-ministack .sw-ministack-warning { background-color: #fef8de; }
.sw-appstack-ministack .sw-ministack-view-entire-environment {text-align: right;font-size: 11px; }
.sw-appstack-ministack .sw-appstack-i > a.sw-appstack-selected {border: 1px solid #ccc; background-color: #fff; }

/* tip */

.sw-appstack-why { position: absolute; right: 0px; top: 6px; visibility: hidden; }
.sw-appstack-section:hover .sw-appstack-why { visibility: visible; }

.cluetip-sw-appstack-hint #cluetip-outer { border: 1px solid #a6a6a6; background-color: #f1f1f1; border-radius: 3px; padding: 6px; }
.cluetip-sw-appstack-hint #cluetip-title { padding: 0; margin: 0; font-size: 12px; font-weight: bold; margin-bottom: 4px;}
.cluetip-sw-appstack-hint .sw-appstack-kb { margin-top: 6px; }

/* menu */

#AppStackLayoutMenu { background: #fff; border: 1px solid #ccc; z-index: 99;padding: 2px; }
#AppStackLayoutMenu .sw-pg-menugroup > a, #AppStackLayoutMenu .sw-pg-menugroup > div { padding: 4px 6px 4px 24px; font-size: 11px; display: block; }
#AppStackLayoutMenu .sw-pg-menugroup > a:hover { background-color: #D9ECFF; }
#AppStackLayoutMenu .sw-pg-menugroup > a.sw-pg-selected { background-image: url(/orion/appstack/images/layout.selected.indicator.png); background-repeat: no-repeat; background-position: 6px center; }
#AppStackLayoutMenu .sw-pg-menugroup > div.sw-pg-menubreak { padding: 0; margin: 4px 6px 4px 6px; height: 1px; border-bottom: 1px solid #ccc; }
#AppStackLayoutMenu .sw-pg-layouts { max-height: 500px;overflow: hidden; overflow-y: auto; }
#AppStackLayoutMenu .sw-pg-menudisable { color: #AFAFAF; }

/* filter panel */
.sw-appstack-filter-panel { background-color: #F3F3F3; border-top: 1px solid #D5D5D5; }
#leftpanel_filter.ui-resizable { border: none; }

/* disable */

.sw-appstack-refresheditor { display: none; }

/* debug */

.sw-appstack-debuglink { display: none; }
.sw-appstack-debug .sw-appstack-debuglink { display: inline; padding-left: 0; }

/* messaging */

#appstackmsg { position: fixed; bottom: 20px; left: 20px; border-radius: 5px; background-color: #515151; color: #fff; z-index: 999; }
#appstackmsg span, #appstackmsg a { line-height: 20px; white-space: nowrap; }
#appstackmsg > span { padding-left: 24px; margin: 8px 24px 8px 8px; padding-left: 20px; display: block;  }
#appstackmsgx { position: absolute; top: 8px; right: 8px; line-height: 20px; color: #fff; }
#appstackmsgx:hover { text-decoration: none; }
#appstackmsg .sw-pg-msg-objects, #appstackmsg .sw-pg-msg-counts { background: url(/orion/appstack/images/waiting.gif) no-repeat left center; }
#appstackmsg .sw-pg-msg-error { background: url(/orion/images/xstatus/xstatus.12.critical.png) no-repeat 3px center; }
