﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SelectHardwareTemperature.ascx.cs" Inherits="Orion_HardwareHealth_Controls_SelectHardwareTemperature" %>
<asp:RadioButtonList runat="server" ID="rblTemperatureUnit" />
