﻿#editDialog td { padding-right: 0; padding-bottom: 0; }
#editDialog td input {vertical-align: middle;}
#editDialog input, #editDialog textarea, #editDialog select { margin: 0 5px 0 0; }
#editDialog .x-btn-center
{
    padding: 0 5px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;     
}
#editDialog .PropertyHeader { white-space: nowrap; padding: 0 5px; }
#editDialog tr { border: 0; margin-top: 0; margin-bottom: 0; }
#editDialog .main td { white-space: nowrap; padding: 0 5px; padding-top: 3px; }
#editDialog .hint td, 
#editDialog .hintCell { padding: 0 5px; color: #646464; font-size: 11px; }
#editDialog .validators td { padding: 0 15px; }

#editDialog .x-window-body { padding: 5px; background-color: #FFF !important; }
