﻿.snmpInfo td
{
	padding: 5px 0 0 0;
    white-space: nowrap;
	text-align: left;
    vertical-align: middle;
}
.snmpInfo td *
{
    vertical-align: middle;
}
.snmpInfo tr.hint td
{
	padding: 0;
    font-size: smaller;
	color: green;
}
.snmpInfo
{
	padding-top: 4px;
}
.snmpInfo .colLabel
{
    width: 220px;
}
.snmpInfo .colInput
{
    width: 80px;
}
.snmpInfo .colExts
{
	padding: 0;
    width: 80px;
}
.snmpInfo .caption
{
    text-align: right;
}
.snmpInfo .input
{
    width: 130px;
}
.snmpInfo .port
{
	width: 50px;
}
.snmpInfo .credBox
{
	padding-top: 4px;
}
.snmpInfo .inputFrame
{
    border: solid 1px #336699;
    padding: 1px 1px 1px 1px;
    visibility: visible;
}
.snmpInfo .snmpTest
{
	padding: 2px 0.3em 2px 0.3em;
	display: -moz-inline-block;
	display: inline-block;
}
.snmpInfo .snmpTest *
{
	vertical-align: middle;
}
.snmpInfo .snmpTest.success
{
	font-weight: bold;
	background-color: #daf7cc; color: #00a000;
}
.snmpInfo .snmpTest.failure
{
	font-weight: bold;
	background-color: #facece; color: #ce0000;
}
.snmpInfo .validation .background
{
    width: 100%;
    height: 100%;
    background-color: #DDDDDD;
}
.snmpInfo .validation table
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.snmpInfo .validation table td
{
    text-align: center;
    vertical-align: middle;
}
.snmpInfo .validation table .message
{
    display: inline;
    border: solid 2px #BBBBBB;
    background-color: White;
    padding: 1.5em;
    font-weight: bold;
}
.snmpInfo .validation table message *
{
    vertical-align: middle;
}
