.ThwackContentBorder
{
    border: 1px solid #d5d5d5;
}
.ThwackHeader
{
    background-image: url(/Orion/Voip/images/ThwackImages/ThwackHeader_Background.png);
    background-repeat: repeat;
    border-width: 0px;
    width: 100%;
}

.ThwackFooter
{
    border-width: 0px;
    width: 100%;
}
.ThwackCaptionColumn
{
    width: 250px;
    vertical-align: middle;
    padding-top: 2px;
}
.ThwackTextHeader
{
    color: white;
    position: relative;
    text-align: center;
    top: 15px;
    vertical-align: top;
}
.ThwackTextHeaderRight
{
    width: 10px;
    padding-right: 5px;
}
.ThwackHeaderLeft
{
    height: 36px;
    width: 7px;
    border-width: 0px;
    background-color: #c47623;
    border: none;
}

.ThwackHeaderMiddle
{
    background-image: url(/Orion/Voip/images/ThwackImages/top_bg_middle.jpg);
    background-repeat: repeat;
    background-color: #c47623;
    height: 34px;
    text-align: left;
    border-width: 0px;
    border: none;
    vertical-align: middle;
    color: #D3732C;
}

.ThwackHeaderImage
{
    border: none;
    padding: 0px 0px 0px 0px;
}


.ThwackHeaderRight
{
    height: 34px;
    width: 8px;
    border-width: 0px;
    border: none;
    background-color: #c47623;
}

.ThwackFooterMiddle
{
    text-align: right;
    padding-right: 10px;
    border-width: 0px;
    background-color: #eaeaea;
    height: 22px;
}
.ThwackFooterRight
{
    padding-left: 10px;
}
.ThwackConnectError
{
    color: Red;
    font-size: 8pt;
}

.ThwackContent TABLE TR TD UL
{
    margin: 3px 0px 3px 15px;
    padding-left: 0px;
}
.ThwackTableMargin 
{
    border-spacing: 0px;
    padding: 0px;
}
.ThwackContent > table > tbody > tr:nth-child(even) {
	background-color: #f4f4f4 !important;
}