﻿#adminContent #wizardControl td.x-btn-left , 
#adminContent #wizardControl td.x-btn-center, 
#adminContent #wizardControl td.x-btn-right /*,
#adminContent #wizardControl #grid td */
{
	margin: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	border: 0;
	white-space: normal;
	text-align: center;
}

#adminContent #wizardControl td
{
    padding: 1px;
}
#adminContent #wizardControl .Events td
{
    padding: 4px;
}

.Events tr { padding: 3px 0px 3px 0px;}
.Events .rbtnCell {padding-left: 10px; width: 30px;}
.Events .rbtnCell input {margin-left: 10px;}
.Events .iconCell {width: 25px;}
.Events .alternate td  {background-color: #E4f1f8;}

.Events .iconCell img { vertical-align: middle;}

.WizardButtonBar { text-align: right; width: 100%; padding: 15px 0 15px 0;}

.TreeGroupBy {margin: 5px 0 10px 0;}
.TreeContent {padding: 5px 0 5px 0; background-color:#FFFFFF; border:1px solid #DBDCD7; }

.ExtJsGrid {padding: 10px 5px 10px 0px;}

/* Progress Bar - begin*/
.ipsla_ProgressBox
{
    clear: both;
    padding: 0px;
    width: 348px; height: 109px;
    position: relative;
}
.ipsla_ProgressBar
{
    padding: 18px 18px 0px 18px;
}

.ipsla_ProgressBar .x-progress-wrap
{
    border-width: 0px;
}
.ipsla_ProgressBar .x-progress-inner
{
    background: transparent url(/Orion/Voip/images/ProgressBar/progress_bg.gif) repeat-x 0 0;
    height: 18px;
}
.ipsla_ProgressBar .x-progress-bar
{
    background: transparent url(/Orion/Voip/images/ProgressBar/progress_bg_done.gif) repeat-x 0 0;
    border-width: 0px;
}
.ipsla_ProgressLegend
{
    margin: 8px 18px 0px 18px;
}

.ipsla_ProgressLegendValue
{
    font-weight: bold;
    text-align: right;
    float: left;
    width: 20px; 
    margin:0 5px 0 5px;
}

.ipsla_ProgressButtons
{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 0px 10px 5px 0px;
}


.PBarStatusLine {clear: both; padding: 10px 0 0 0;}
.PBarColor {width: 12px; height: 12px; border: 1px solid #7FA9E4;  display: block; float: left;}
.PBarColorCreated {background: #9CBFEE;}
.PBarColorTotal {background: #E0E8F3;}

.PBarValue { width: 20px; display: block; padding: 0 5px 0 10px; float: left; text-align: right; font-weight: bold; }
.PBarValueDescription {text-align: left; display: inline; }

.PBarButtons { text-align: right; padding: 10px 10px 10px 10px; }
/* Progress Bar - end */

.WizardControl { margin-bottom: 10px;}

.WizardControl h1 { font-size: large; padding: 5px 0 10px 0;}

.WizardControl a, 
.WizardControl a:visited, 
.WizardControl a:active {text-decoration:underline;}

.ipsla_GroupBox_ext
{
    padding-top: 0px;
}

.ipsla_WP_Title 
{
    font-size: 16px;
    font-weight: bold;
    margin: 12pt 0px 8pt 0px;
}
.ipsla_WP_SubTitle 
{
    font-size: 14px;
    font-weight: bold;
}
.ipsla_WP_Description 
{
    margin: 8pt 0px 8pt 0px;
}

/* ProgressIndicator - start */
.ipsla_ProgressIndicator
{
    padding-bottom: 0px;
    margin-bottom: 0px;
    border: solid 1px #dfdfde;
    border-bottom-width: 0px;
    height: 17px;
    background: transparent url(/Orion/Voip/images/ProgressIndicator/pi_bg_gradient_sm.gif) repeat-x scroll center top;
    background-repeat: repeat-x;
    background-position: top;
	white-space: nowrap;
}
.ipsla_ProgressIndicator div 
{
    font-size: 10px;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 15px;
    float: left;
    height: 100%;
    padding: 0px;
    margin: 0px;
    -moz-background-clip: -moz-initial;
    -moz-background-origin: -moz-initial;
    -moz-background-inline-policy: -moz-initial;
}
.ipsla_ProgressIndicator img
{
    border-width: 0px;
    float: left;
}
.ipsla_PI_Text_on {color: white; /*font-weight: bold;*/}
.ipsla_PI_Text_off {color: black;}
/* ProgressIndicator - end */

.ipsla_WizardCancelBtn
{
    padding-left: 1em;
}

.ipsla_WP_timeZoneTitle {
    margin-top: 20px; 
    margin-bottom: 7px;
}
.ipsla_WP_timeZoneSelector {
    width: 160px;
}
.ipsla_WP_Table {
    width: 100%;
    border-collapse: collapse; /* 'cellspacing="0"' equivalent */
}
.ipsla_WP_Table td, .ipsla_WP_Table th
{
    padding: 3px; /* 'cellpadding="3"' equivalent */
}

.WizardOperationProperties 
{
    background-color: #E4f1f8;
    margin: 15px 0 15px 0;
    padding: 10px 0 10px 0;
}

.PropertyHeader
{
   FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
    MARGIN-BOTTOM: 0px;
    MARGIN-TOP: 0px;
    Width: 150px;
}

.Property
{
    BORDER-BOTTOM: 1px groove #87CEFA;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal;
    MARGIN-BOTTOM: 0px;
    MARGIN-TOP: 0px
}

/* extjs grid modifications - begin */
#adminContent #wizardControl .ipsla_EditableCell
{
    border:1px solid #7EADD9;
}
/* extjs grid modifications - end */

#adminContent #wizardControl .waitingImg
{
    vertical-align: middle;
    padding-right: 10px;
}    

/* external nodes */
#adminContent #wizardControl .externalNodesOption .ipsla_WP_SubTitle
{
    margin: 5px 0 5px 0;
    padding: 2px 0 2px 0;
}

#adminContent #wizardControl .externalNodes
{
    margin: 5px 0 5px 20px;
    padding: 5px 10px 5px 10px;
    width: 378px;
}

#adminContent #wizardControl .externalNodes .buttonLine
{
    text-align: right;
    padding-right: 25px;
}

#adminContent #wizardControl .externalNodes .externalNodeInput
{
    width: 200px;
}

#adminContent #wizardControl .externalNodes .deleteButton
{
    vertical-align: top;
}

#adminContent #wizardControl .externalNodes .error
{
    text-align: right;
    float: right;
}

#adminContent #wizardControl .operationDiscoveryReport .sourceName
{
    padding-left:1em;
    padding-right:2em;
    width:3em;
}

#adminContent #wizardControl .credentialsControl {
    padding: 1em;
}