/* Ajax Tree Node */
.apm_AjaxTreeToggle
{
    line-height: 16px;
    vertical-align: middle;
}

div.apm_AjaxTreeNodeExpandedWithoutChilds
{
    line-height: 16px;
    vertical-align: middle;
}

div.apm_AjaxTreeNodeCollapsedWithoutChilds
{
    line-height: 16px;
    vertical-align: middle;
}

div.apm_AjaxTreeNodeExpandedWithChilds
{
    line-height: 16px;
    vertical-align: middle;
}

div.apm_AjaxTreeNodeCollapsedWithChilds, div.apm_AjaxTreeNodeContent
{
    border-bottom: solid 1px #DFDED7;
    line-height: 16px;
    vertical-align: middle;
}

.apm_HardwareHealthTreeCategoryName
{
    font-size: small;
    font-weight: bold;
    line-height: 16px;
    vertical-align: middle;
}

.apm_HardwareHealthTreeSensorMarginElement
{
    display: inline-block;
    width: 20px;
    line-height: 16px;
    vertical-align: middle;
}

.apm_HardwareHealthTreeSensorElement
{
    display: inline-block;
    width: 195px;
    padding-right: 5px;
    font-size: 8pt;
    line-height: 16px;
    vertical-align: middle;
}

.apm_HardwareHealthTreeStatusElement
{
    display: inline-block;
    width: 95px;
    padding-right: 5px;
    font-size: 8pt;
    line-height: 16px;
    vertical-align: middle;
}

.apm_HardwareHealthTreeValueElement
{
    display: inline-block;
    width: 65px;
    font-size: 8pt;
    line-height: 16px;
    vertical-align: middle;
}

.apm_HardwareDetailTable table tbody tr td
{
    border: none;
}
