﻿.HardwareHealth_ChartTooltip 
{
    position: relative;
    z-index: 50;
    border: 2px solid rgb(0, 108, 169);
    border-radius: 5px;
    background-color: #ffffff;
    padding: 5px;
    font-size: 9pt;
}

div.sw-HardwareHealth-availability-legend input, div.sw-HardwareHealth-availability-legend span, div.sw-HardwareHealth-availability-legend div
{
    vertical-align: middle;
}

div.sw-HardwareHealth-Availability-legend span.sw-HardwareHealth-title
{
    padding-left: 8px;
    padding-right: 8px;
}

/* Navigation tab bar user control */
.sw-tabs .x-tab-strip-text { font-size: 12px !important; }
.tab-top { border: solid 1px #DFDFDE; border-top:medium none !important; padding:1em; background:white url('/Orion/HardwareHealth/images/tab.top.gif') repeat-x scroll left top !important; }

.hwh_HardwareHealthStatus td
{
	font-size: 10pt !important;
	padding-left: 10px;
	padding-top: 5px;
}

.hwh_HardwareHealthStatusCountUp
{
    width:15px;
    color: #359630;
} 

.hwh_HardwareHealthStatusCountCritical
{
    width:15px;
    color: #c50000;
} 

.hwh_HardwareHealthStatusCountWarning
{
    width:15px;
    color: #bebe00;
} 

.hwh_HardwareHealthStatusCountOther
{
    width:15px;
    color: #b4b4b4;
} 

.apm_HardwareHealthStatusIcon {
    width: 25px;
}

.hwh_HardwareHealthStatusName {
    width: auto;
}

.hwh_HardwareHealthOverview svg {
    overflow: visible;
}

.hwh_HardwareHealthOverview .ResourceContent
{
    overflow-x: auto;
}

.hwh_HardwareHealthOverview .ResourceContent + div
{   /* hide useless clearfix added by charting */
    display: none;
}

.hwh_HardwareHealthLegend
{
    background-color: inherit;
    display: inline-block;
    vertical-align: top;
    width: 270px;
    height: 170px;    
}

.hwh_HardwareHealthLegendInner
{
    position:relative;
    top: 25px;
}