﻿/* Generic */
.hardwareTree-header {
    border: none;
	border-collapse: collapse;
}

.hardwareTree-header .header-row > td {
    background-color: #ECEDEE;
    text-transform: uppercase;
    font-size: 10px;
    padding: 5px;
}

.hardwareTree-header .orderBy {
    font-weight: bold;
}

.hardwareTree-header td:first-of-type, .hardwareTree-header th:first-of-type {
    padding-left: 15px;
}

.hardwareTree-innerContent:first-of-type > .hardwareTree-node {
    padding-left: 15px;
}

.hardwareTree-node-children {
    padding-left: 30px;
}

.hardwareTree-node-item span#status {
    text-transform: uppercase;
}

img.hardwareTree-icon {
    vertical-align: top;
}

img.hardwareTree-icon.hardwareTree-align-middle {
    vertical-align: middle;
}

.hardwareTree-emptyExpander{
	width: 14px;
	height: 14px;
	display: block;
	float: left;
}

.hardwareTree-expander {
	vertical-align: middle;
	cursor: pointer;
	padding-bottom: 1px;
}

.hardwareTree-innerContent .showMoreLink a {
    color: blue;
    text-decoration: underline;
}

.hardwareTree-node, .hardwareTree-node > span {
    height: 30px;
    vertical-align: middle;
}

.hardwareTree-node .sw-pg-hint-body-error {
    background-position: left center;
}

.showMoreRows {
    min-height: 30px;
    padding-left: 20px;
    font-weight: bold;
}

.hardwareTree-node {
    display: table;
}

.hardwareTree-node-odd {
    background-color: #F6F6F6;
}

.hardwareTree-node > span {
    display: table-cell;
    vertical-align: middle;
}

.hardwareTree-node > a {
    color: #0079AA;
}

.hardwareTree .pageSize {
    width: 50px;
}

.hardwareTree-header-orderArrow {
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-repeat: no-repeat;
    margin-top: -11px;
    position: relative;
    top: 7px;
}

.hardwareTree-header-orderArrow.orderAsc {
    background-image: url(/Orion/HardwareHealth/Images/Generic/sort_asc.gif);
}

.hardwareTree-header-orderArrow.orderAsc:hover {
    background-image: url(/Orion/HardwareHealth/Images/Generic/sort_asc_hover.png);
}

.hardwareTree-header-orderArrow.orderAsc.orderActive {
    background-image: url(/Orion/HardwareHealth/Images/Generic/sort_asc_active.png);
}

.hardwareTree-header-orderArrow.orderDesc {
    background-image: url(/Orion/HardwareHealth/Images/Generic/sort_desc.gif);
}

.hardwareTree-header-orderArrow.orderDesc:hover {
    background-image: url(/Orion/HardwareHealth/Images/Generic/sort_desc_hover.png);
}

.hardwareTree-header-orderArrow.orderDesc.orderActive {
    background-image: url(/Orion/HardwareHealth/Images/Generic/sort_desc_active.png);
}

/* Default types */
.hardwareTree-node-category {
    font-weight: bold;
}

.hardwareTree-summaryStatus {
    white-space: nowrap;
    font-weight: normal;
}

.hardwareTree-align-middle {
    vertical-align: middle;
    display: inline;
}