﻿#appContent {
    clear: both;
}

.sidebar {
    background: #F9F9F9 url(/Orion/js/extjs/resources/images/default/grid/grid3-hrow.gif) repeat-x scroll 0 bottom;
}

.header {
    margin: 0 10px;
}

.sensorGrid img.icon, .sensorGrid .StatusIcon{
	margin: 0 4px 0 0;
	vertical-align: text-bottom;
}

.sensorGrid .x42-grid-cell{
	vertical-align: middle;
	line-height: 16px;
}
.toggleEnabledButton{
	float: left;
	margin: 0;
	padding: 0;
}

img.filter-icon, img.icon, img.sensor-icon {
    vertical-align: text-bottom; 
    margin-right:2px; 
}

img.filter-icon, img.icon {
	height: 16px; width:16px
}
img.sensor-icon {
	height: 17px; width:27px
}

.align.right{
    text-align: right;
}

.align.center{
    text-align: center;
}
.toggleOn, .toggleOff {
	box-sizing: content-box;
	line-height: 14px;
}

.x42-grid-header-ct .ux-filtered-column img.filter-icon {
    background-image: url("/Orion/HardwareHealth/Images/SensorManagement/filter_applied.png");
}
.x42-grid-header-ct .ux-filtered-column img.filter-icon:hover {
    background-image: url("/Orion/HardwareHealth/Images/SensorManagement/filter_applied_hover.png");
}
.x42-grid-header-ct img.filter-icon {
    background-image: url("/Orion/HardwareHealth/Images/SensorManagement/filter.png");
}
.x42-grid-header-ct img.filter-icon:hover {
    background-image: url("/Orion/HardwareHealth/Images/SensorManagement/filter_hover.png");
}
.sw-filter-notifications {
    margin: 0 10px;
}

.sw-filter {
    background: none repeat scroll 0 0 #FFFDCC;
    border: 1px solid #EACA7F;
    border-radius: 5px;
    color: #000000;
    display: inline-block;
    float: left;
    font-size: 11px;
    margin-right: 5px;
    margin-bottom: 8px;
    padding: 5px 6px 6px 26px;
    position: relative;
}
.sw-filter .sw-filter-icon {
    background: url("/Orion/HardwareHealth/Images/SensorManagement/filter_applied.png") no-repeat scroll left top;
    height: 16px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 16px;
}

.select-whole-page {
    background-color: #FFFFCC !important;
    background-image: none;
}

.select-whole-page .x42-btn-default-toolbar-small-over {
    border-color: #FFFFCC;
    background-image: none;
    background-color: transparent;
    color: black;
}

.select-whole-page .x42-btn-default-toolbar-small-focus {
    border-color: #FFFFCC;
    background-image: none;
    background-color: transparent;
    color: black;
}

.select-whole-page #selectAllSensorsButton{
    color: red;
}

.select-whole-page #selectAllSensorsCaption{
    cursor: default;
}