﻿.header {
    margin: 0 10px;
}

#thresholdContent {
    margin: 0 10px;
    width: 812px;
}

#thresholdOptionsList {
    padding: 0;
    padding-left: 5px;
}

#thresholdOptionsList li{
    margin: 0 0 15px 0;
    padding: 0px;
    list-style-type: none;
}

.thresholdRadio {
    font-weight: bold;
}

#multipleItemsWarningPlaceholder,
#emptyThresholdsSetPlaceHolder {
    display: none;
    width: 300px;
}

#incompatibleUnitsWarningPlaceholder,
#sensorsWithoutValuesWarningPlaceholder,
#noItemsErrorPlaceholder {
    display: none;
    width: 450px;
    margin-bottom: 10px;
}

#thresholdsPlaceholder {
    padding-left: 75px;
}

#moreSensorsWithoutValuesWarningNote {
    color: #336699;
    font-family: Arial;
    font-size: 11px;
    margin-left: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.LinkArrorow {
    font-size: 11px;
    vertical-align: text-top;
}