<%@ Control Language="C#" EnableViewState="false" CodeFile="InterfaceLink.ascx.cs" Inherits="Orion_NetPerfMon_Controls_InterfaceLink" %>

<a runat="server" id="lnkInterface" class="NetObjectLink">
    <asp:PlaceHolder runat="server" ID="phContents" />
</a>