<%@ Control Language="C#" AutoEventWireup="false" CodeFile="OverviewReportControl.ascx.cs" Inherits="Orion_Controls_OverviewReportControl" %>

<table runat="server" id="overviewTable">
    <tr>
        <th align="left"><%=Resources.NPMWebContent.NPMWEBDATA_AK0_7%></th>
        <th align="left"><%=Resources.NPMWebContent.NPMWEBDATA_AK0_8%></th>
    </tr>
</table>

