<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TopXXControl.ascx.cs" Inherits="TopXXControl" %>

<orion:Include runat="server" Module="NPM" File="Controls/EditControls.css" />

<asp:CheckBox ID="topXXEnabled" runat="server"/><%=Resources.NPMWebContent.NPMWEBDATA_AK0_62%>
    <asp:DropDownList ID="topXXValue" runat="server">
        <asp:ListItem Value="5"  />
        <asp:ListItem Value="10" />
        <asp:ListItem Value="20" />
        <asp:ListItem Value="30" />
    </asp:DropDownList> 
    