﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="LicenseExpirationMessage.ascx.cs" 
    Inherits="Orion_VIM_Controls_LicenseExpirationMessage" %>


<script type="text/javascript">

//TODO: Diplay expiration message here
//$(document).ready(function(){
//    var daysLeft = <%= DaysLeftInLicense %>;
//    SW.APM.UpdateLicenseMessage("APM", daysLeft);
//});

</script>