﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ManageNodeDialog.ascx.cs"
    Inherits="Orion_VIM_Controls_ManageNodeDialog" %>

<orion:Include runat="server" File="VIM/Styles/Resources/ManageNodeDialog.css"/>
<orion:Include runat="server" Module="VIM" File="Controls/ManageNodeDialog.js" />
