<%@ WebService Language="C#" Class="CloudMonitoringResources" %>
using System.Collections.Generic;
using System.Web.Script.Services;
using System.Web.Services;

[WebService(Namespace = "http://tempuri.org/")]
[WebServiceBinding(ConformsTo = WsiProfiles.BasicProfile1_1)]
[ScriptService]
public class CloudMonitoringResources : WebService
{
    /*[WebMethod]
    public object GetWindowsUpdate(int nodeID)
    {
        return new WindowsUpdateDAL().GetWindowsUpdateSummary(nodeID);
    }*/
}
