﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="NoAvailableNodesControl.ascx.cs" Inherits="Orion_Voip_Admin_ManageNodes_NoAvailableNodesControl" %>
<div class="ipsla_NoAvailableNodes">
<%= String.Format(Resources.VNQMWebContent.VNQMWEBDATA_AK1_66, "<a href=\"/Orion/Nodes/Add/Default.aspx\">", "</a>") %><br />
<%= String.Format(Resources.VNQMWebContent.VNQMWEBDATA_AK1_67, "<a href=\"/Orion/Nodes/Default.aspx\">", "</a>") %>
</div>