@import 'vendor-prefixes.less';

/* MIXIN FUNCTIONS */
.default-drop-shadow() { 
    .box-shadow(0 1px 5px 0 #D2D2D2);
}

.default-inner-shadow() {
    .box-shadow(inset 0px 2px 2px 0px rgba(50, 50, 50, 0.25));
}

.arrow-up (@size: 5px, @color: @color-text-secondary){
	width: 0; 
	height: 0; 
	border-left: @size solid transparent;
	border-right: @size solid transparent;
	border-bottom: @size solid @color;
}

.arrow-down (@size: 5px, @color: @color-text-secondary){
	width: 0; 
	height: 0; 
	border-left: @size solid transparent;
	border-right: @size solid transparent;
	border-top: @size solid @color;
}

.arrow-right (@size: 5px, @color: @color-text-secondary){
	width: 0; 
	height: 0; 
	border-top: @size solid transparent;
	border-bottom: @size solid transparent;
	border-left: @size solid @color;
}

.arrow-left (@size: 5px, @color: @color-text-secondary){
	width: 0; 
	height: 0; 
	border-top: @size solid transparent;
	border-bottom: @size solid transparent; 
	border-right: @size solid @color; 
}

// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-hide() {
  font: ~"0/0" a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

// WebKit-style focus
.tab-focus() {
  // Default
  outline: thin dotted;
  // WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// Opacity
.opacity(@opacity) {
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}

.hatched_background(@color) { 
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADAQMAAABs5if8AAAABlBMVEX///////9VfPVsAAAAAXRSTlMAQObYZgAAABdJREFUeF4FwIEMAAAAArCjhBJa6M1UDgNmAOHueR65AAAAAElFTkSuQmCC');
  background-color: @color;
}

// Form validation states
//
// Used in forms.less to generate the form validation CSS for warnings, errors,
// and successes.

.form-control-validation(@text-color: #555; @border-color: #ccc; @background-color: #f5f5f5) {
  // Color the label and help text
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.xui-radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label  {
    color: @text-color;
  }
  .xui-validation {
      > div {
          padding: 5px 0;
          color: @text-color;
      }
  }

  // Set the border and box shadow on specific inputs to match
  .form-control {
    border-color: @border-color !important;
    .box-shadow(inset 0 1px 1px rgba(0,0,0,.075)); // Redeclare so transitions work
    &:focus {
      border-color: darken(@border-color, 10%);
      @shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten(@border-color, 20%);
      .box-shadow(@shadow);
    }
  }
  // Set validation states also for addons
  .input-group-addon {
    color: @text-color;
    border-color: @border-color;
    background-color: @background-color;
  }
  // Optional feedback icon
  .form-control-feedback {
    color: @text-color;
  }
}


// Form control focus state
//
// Generate a customized focus state and for any input with the specified color,
// which defaults to the `@input-border-focus` variable.
//
// We highly encourage you to not customize the default value, but instead use
// this to tweak colors on an as-needed basis. This aesthetic change is based on
// WebKit's default styles, but applicable to a wider range of browsers. Its
// usability and accessibility should be taken into account with any change.
//
// Example usage: change the default blue border and shadow to white for better
// contrast against a dark gray background.
.form-control-focus(@color: @color-input-border-focus) {
  @color-rgba: rgba(red(@color), green(@color), blue(@color), .6);
  &:focus {
    border-color: @color;
    outline: 0;
    .box-shadow(none);
  }
}

// Form control sizing
//
// Relative text size, padding, and border-radii changes for form controls. For
// horizontal sizing, wrap controls in the predefined grid classes. `<select>`
// element gets special love because it's special, and that's a fact!
.input-size(@input-height; @padding-top; @padding-right: 0px; @padding-bottom; @padding-left; @font-size; @line-height; @border-radius: 0px) {
  height: @input-height;
  padding: @padding-top @padding-right @padding-bottom @padding-left;
  font-size: @font-size;
  line-height: @line-height;
  border-radius: @border-radius;

  select& {
    height: @input-height;
    line-height: @input-height;
  }

  textarea&,
  select[multiple]& {
    height: auto;
  }
}

// Creates a wrapper for a series of columns
.make-row(@gutter: @grid-gutter-width) {
  margin-left:  (@gutter / -2);
  margin-right: (@gutter / -2);
  &:extend(.clearfix all);
}

.border-radius(@radius) {
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;
}

.text-overflow(@overflow) {
    white-space:nowrap;
    overflow:hidden;
    -ms-text-overflow: @overflow;
    -o-text-overflow: @overflow;
    text-overflow: @overflow;
}

.touch-action(@action) {
    -ms-touch-action: @action;
    touch-action: @action;
}

.word-wrap(@wordWrap: break-word) {
    -ms-word-wrap: @wordWrap;
    word-wrap: @wordWrap;
}

.font-face(@name, @file) {
    font-family: @name;
    src: url("/fonts/@{file}.eot");
    src: url("/fonts/@{file}.eot?#iefix") format("embedded-opentype"), url("/content/fonts/@{file}.ttf") format("trueType");
}

.fill(@top:0, @right:0, @bottom:0, @left:0) {
    position: absolute;
    top: @top;
    right: @right;
    bottom: @bottom;
    left: @left;
}

.top-right-corner(@color) {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 32px 32px 0;
    border-color: transparent @color transparent transparent;
}

.scale (@factor) {
	-webkit-transform: scale(@factor);
	-moz-transform: scale(@factor);
	-ms-transform: scale(@factor);
	-o-transform: scale(@factor);
}

.vertical-align() {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.no-select() {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;          
}
