﻿/* *** COLOR SECTION *** */

/* THEME COLORS */
@color-theme-bg: #1D1D1D;
@color-theme-fg: #FFFFFF;
@color-accent-primary: #F9A233;
@color-accent-primary-contrast: #FFFFFF;
@color-accent-secondary: #2e96b9;
@color-accent-secondary-contrast: #FFFFFF;


/* SELECTION COLORS */
@color-selection: #F9A233;
@color-active: #DBEFF5;

/* TEXT COLORS */
@color-text-default: #333333;
@color-text-secondary: #909090;
@color-text-link: #247390;
@color-text-nav-primary: #FFFFFF;
@color-text-nav-secondary: #909090;
@color-text-nav-primary-selected: @color-selection;
@color-text-nav-primary-hover: #F99D1F;
@color-text-message-panel-link: #FEE377;
@color-text-message-panel-command: #FFF;
@color-text-status-info: #709BFD;
@color-text-status-ok: #73A814;
@color-text-status-warning: #D2A800;
@color-text-status-critical: #DA3838;

/* MENU COLORS */
@color-menu-background-hover: #f1f1f1;
@color-menu-text-hover: @color-text-default;

/* STATUS COLORS */
@color-info: #6B98FF;
@color-ok: #7aca67;
@color-warning: #fa9f32;
@color-critical: #DA3838;
@color-unknown: #D5D5D5;
@color-none: #467088;

/* DATA SERIES COLORS */
@color-series1: #0075DC;
@color-series2: #F0A3FF;
@color-series3: #00998F;
@color-series4: #FFCC99;
@color-series5: #993F00;
@color-series6: #FFFF80;
@color-series7: #003380;
@color-series8: #FFA8BB;
@color-series9: #005C31;
@color-series10: #FFA405;
@color-series11: #990000;
@color-series12: #E0FF66;
@color-series13: #4C005C;
@color-series14: #FF5005;
@color-series15: #94FFB5;
@color-series16: #C20088;
@color-series17: #FFFF00;
@color-series18: #740AFF;
@color-series19: #5EF1F2;
@color-series20: #808080;

/* BACKGROUND COLORS */
@color-nav-background: #1D1D1D;
@color-nav-focus-background: #272727;
@color-nav-subtabs-background: #ffffff;
@color-body-background: #ECEDEE;
@color-content-background: #FFF;
@color-message-panel: #414D59;
@color-well-background: #f9f9f9;
@color-input-background: #FFF;
@color-input-disabled-background: #f9f9f9;

/* STATUS BACKGROUND COLORS */
@color-background-severity-info: #D4D4F1;
@color-background-severity-ok: #DEEFCC;
@color-background-severity-warning: #FFF3CC;
@color-background-severity-critical: #FBD8CE;

/* LIST/GRID COLORS */
@color-list-header: #ECEDEE;
@color-list-default: #FFF;
@color-list-zebra: #F6F6F6;

/* LINES AND BORDERS */
@color-nav-line: #333333;
@color-vrule: #ecedee;
@color-table-border: #e4e4e4;
@color-input-border-default: #d5d5d5;
@color-input-border-focus: #204a63;

/* BUTTON COLORS & OPACITY */
@color-button-opacity-disabled: .4;
@color-button-hover: #204a63;
@color-button-primary-text: #FFF;
@color-button-primary: #1c6882;
@color-button-link: @color-text-link;

/* SWITCH COLORS */
@color-switch-on: #77CC62;
@color-switch-off: #909090;
@color-switch-opacity-disabled: .4;
@color-switch-toggle: #ffffff;
@color-switch-toggle-icon: #bfbfbf;
@color-switch-status-icon: #ffffff;


/* *** TYPOGRAPHY SECTION *** */
@font-family-default: "Open Sans", Arial, sans-serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-serif: Georgia, "Times New Roman", Times, serif;

@font-size-large: 12px;
@font-size-default: 11px;
@font-size-small: 10px;
@font-size-xsmall: 9px;
@font-size-h1: 20px;
@font-size-h2: 16px;
@font-size-h3: 14px;

@line-height-default: 1.818181818181818; // 20/11
@line-height-small: 1.5;
@line-height-large: 1.33;
@line-height-headings: 1.1;
@line-height-computed: floor((@line-height-default * @font-size-default)); // used for margins, paddings, etc.

@font-weight-light: 100;
@font-weight-normal: 400;
@font-weight-semibold: 600;
@font-weight-bold: 700;


/* *** LAYOUT SECTION *** */

/* PADDINGS & MARGINS */
@padding-large: 20px; 
@padding-default: 15px;
@padding-small: 10px;
@padding-xsmall: 5px;
@margin-large: 20px;
@margin-default: 15px;
@margin-small: 10px;
@margin-xsmall: 5px;

/* ICONS */
@icon-size-default: 25px;
@icon-size-large: 25px;

/* FORM ELEMENTS */
@input-height-default: 30px;
@input-height-small: 20px;
@checkbox-size-default: 15px;
@checkbox-left-margin: 20px;


/* *** Z-INDEX SECTION *** */
@z-index-megamenu: 1001;