﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditMissingPatches.ascx.cs" Inherits="Orion_PM_Controls_EditResourceControls_EditMissingPatches" %>

<p>
    <b><asp:Literal runat="server" ID="dropDownApproved" /></b><br />
    <asp:ListBox runat="server" ID="listBoxDropDownApproved" SelectionMode="single" Rows="1"></asp:ListBox>
</p>