﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditWSUSNodesTreeByTargetGroup.ascx.cs" Inherits="Orion_SCM_Controls_EditResourceControls_EditWSUSNodesTreeByTargetGroup" %>

<b><asp:Literal runat="server" ID="lblFilter" /></b><br />
    <asp:CheckBox runat="server" ID="RememberExpandedState" Text="Remember Expanded State" />

