﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditNodeHealthOverviewServer.ascx.cs" Inherits="Orion_SCM_Controls_EditResourceControls_EditNodeHealthOverviewServer" %>
    <asp:CheckBox runat="server" ID="chkJustApprovedUpdates" />
