﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditInstallationStatusReportResource.ascx.cs" Inherits="Orion_PM_Controls_EditResourceControls_EditInstallationStatusReportResource" %>

<b><asp:Literal runat="server" ID="lblFilter" /></b><br />
<asp:ListBox runat="server" ID="lbFilter" SelectionMode="single" Rows="1"></asp:ListBox>