﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditLastXXTasks.ascx.cs" Inherits="Orion_SCM_Controls_EditResourceControls_EditLastXXTasks" %>

<b><asp:Literal runat="server" ID="lblFilter" /></b><br />
    <asp:ListBox runat="server" ID="lbFilter" SelectionMode="single" Rows="1"></asp:ListBox>
