﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditWSUSNodeUpdatesOverview.ascx.cs" Inherits="Orion_SCM_Controls_EditResourceControls_EditWSUSNodeUpdatesOverview" %>

    <b><asp:Literal runat="server" ID="lblFilterUpdates" /></b><br />
    <asp:CheckBox runat="server" ID="chkJustApprovedUpdates" />

