﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditTopXXPatchesMissing.ascx.cs" Inherits="Orion_SCM_Controls_EditResourceControls_EditTopXXPatchesMissing" %>
<!--    
<b><asp:Literal runat="server" ID="lblFilterUpdates" /></b><br />
    <asp:CheckBox runat="server" ID="chkJustApprovedUpdates" />
    <br /><br />
-->
<b><asp:Literal runat="server" ID="lblShowPieChart" /></b><br />
    <asp:CheckBox runat="server" ID="chkShowPieChart" /><br />
    <br />
