﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditLatestPatchesReportResource.ascx.cs" Inherits="Orion_PM_Controls_EditResourceControls_EditLatestPatchesReportResource" %>

<b><asp:Literal runat="server" ID="labelGetWithinLastXDays" /></b><br />
<asp:TextBox runat="server" ID="textBoxWithiLastXDays"></asp:TextBox>
