﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditNodeHealthOverviewDesktop.ascx.cs" Inherits="Orion_SCM_Controls_EditResourceControls_EditNodeHealthOverviewDesktop" %>
    <asp:CheckBox runat="server" ID="chkJustApprovedUpdates" />
