﻿/**
    connectivity issue warning
*/
.DPA_InfoBoxWarning {
    margin-bottom: 5px;
    display: block;
}

.DPA_InfoBoxWarning .DPA_DismissButton {
    display: inline-block;
    float: right;
    background: url('/Orion/images/Cmd-Close.png') no-repeat top left;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 0 -10px;
}

.DPA_InfoBoxWarning .DPA_Body p {
    margin: 0;
    padding: 0;
}
