﻿.dpaAdminDateArea
{
    position: relative;
    top: -10px;
    float: right;
    margin: 0px;
    border-width: 0px;
    font-size: 8pt;
    text-align: right;
    padding-right: 10px;
}

.dpaTitleBarDate {
    padding-top: 5px; 
    font-size: 8pt;
}

input[type=text].sw-dpa-validation-error, span.sw-dpa-validation-error {
    border: 1px solid red;
    padding: 2px;
}

span.sw-dpa-validation-error {
    padding-bottom: 0;
}

/* --> Breadcrumbs */
.DPA_BreadcrumbsWrapper 
{
    margin-top: 10px;
    margin-left: 10px;
}

.DPA_BreadcrumbsWrapper li.bc_submenuitem	
{
    width: auto;
    white-space: nowrap;
    padding-right: 5px;
}
/* <-- Breadcrumbs */

.DPA_SettingsIcon
{
    background-image: url('/Orion/DPA/images/Icon.Settings.gif');
	background-position: center left;
	background-repeat: no-repeat;
	padding: 2px 0px 2px 20px;
	margin-right: 5px;
}

/**
     SSO error message window
*/
#DPA_SsoErrorWindow.ui-dialog-content {
    background: #fff;
}

#DPA_SsoErrorWindow .DPA_ErrorImage {
    background-image: url('/Orion/images/NotificationImages/notification_warning.png');
    width: 32px;
    height: 32px;
    display: inline-block;
    float: left;
    margin: 0px 10px 0 0;
}

#DPA_SsoErrorWindow .DPA_Texts {
    margin-left: 50px;    
}

#DPA_SsoErrorWindow .DPA_Texts p {
    margin: 0;
}

#DPA_SsoErrorWindow .DPA_Texts p a {
    color: #336699;
}
#DPA_SsoErrorWindow .DPA_Buttons a {
    margin-left: 10px;
}

#DPA_SsoErrorWindow ul {
    padding: 0;
    list-style: none;
    margin: 5px 0 10px;
}

/* Tooltip with arrow (at the top) */
.dpa_arrow_box {
	position: relative;
	background: #fffdcc;
	border: 1px solid #eaca7f;
    margin-top: 20px;
}
.dpa_arrow_box:after, .dpa_arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.dpa_arrow_box:after {
	border-color: rgba(255, 253, 204, 0);
	border-bottom-color: #fffdcc;
	border-width: 10px;
	margin-left: -10px;
}
.dpa_arrow_box:before {
	border-color: rgba(234, 202, 127, 0);
	border-bottom-color: #eaca7f;
	border-width: 11px;
	margin-left: -11px;
}

/* Right side hint - must be combined with sw-suggestion sw-suggestion-info */
.dpaRightBlockHint {
    padding-left: 20px;
    margin-bottom: 20px;
    display: block;
    width: 300px;
    float: left;
}

.dpaRightBlockHint .hintTitle {
    font-weight: bold;
    display: block;
    padding-left: 5px;
}

.dpaRightBlockHint .hintDescription {
    padding-top: 10px;
    padding-left: 5px;
    display: block;
}

.dpaRightBlockHint .hintLink {
    padding-top: 10px;
    padding-left: 5px;
    display: block;
}

.sw-dpa-suggestion-text {
    font-weight: normal;    
}

.sw-dpa-buttons  {
    position: absolute;
    left: 100px;
}

#DPA_DpaServerSelectorWindow .DPA_Buttons .sw-btn {
    margin: 0 5px 10px 5px;
}

#DPA_DpaServerSelectorWindow input[type=radio] {
    vertical-align: top;
}

#DPA_DpaServerSelectorWindow form div {
    margin-bottom: 5px;
}

/* Info/help modal dialog */
div#infotext {
    padding: 2em;
}

#DPA_ExpertInfo div#infotext, #DPA_InfoModal div#infotext {
    border: 1px solid #CCC;
    max-height: 430px;
    overflow: auto;
}

#DPA_ExpertInfo #infotext .CON_P  {
    margin: 0 0 1em !important;
}

#DPA_ExpertInfo div#infotext a, #DPA_InfoModal div#infotext a {
    text-decoration: underline !important;
    color:  #2a69ad !important;
}

#DPA_ExpertInfo div#infotext .loading, #DPA_InfoModal div#infotext .loading {
    background: url('/Orion/images/animated_loading_graphic_sm_graybg.gif') center center no-repeat;
    height: 320px;
}

#DPA_ExpertInfo div#buttons, #DPA_InfoModal div#buttons{
    text-align: right;
}

#DPA_InfoModal div#infotext h3 {
    font-size: 25px;
    margin: 0 0 12px 0;
    color: #666;
}

/* Custom edit control */
.DPA_chartSpecificSettings {
    padding: 20px;
    background-color: #e4f1f8;
    width: 550px;
}
