﻿#infotext .CON_H1 {
	font-family: Arial;	
	font-weight: bold;
	font-size: 24.0pt;
}

#infotext .CON_H2 {
	font-family: Arial;	
	font-weight: bold;
	color: #5C5C5C;
	font-size: 20pt;
	margin-top: 0pt;
	margin-bottom: 2pt;
}

#infotext .CON_H3 {
	font-family: Arial;	
	color: #f9a043;
	font-size: 14pt;
	font-weight: bold;
	font-style: italic;
	margin-top: 3pt;
	margin-bottom: 4.5pt;
}

#infotext .CON_H4 {
	font-family: Arial;	
	color: #000080;
	font-size: 12pt;
	font-weight: bold;
	margin-top: 1pt;
	margin-bottom: 1pt;
}

#infotext .CON_H5 {
	font-family: Arial;	
	font-weight: bold;
	font-size: 10.0pt;
}

#infotext .CON_H6 {
	font-family: Arial;	
	font-weight: bold;
	font-size: 8.0pt;
}

#infotext .CON_P {
	margin-top: 0pt;
	color: #595959;
	line-height: Normal;
	font-family: Arial;	
	font-size: 11pt;
	margin-bottom: 4.5pt;
}

#infotext .CON_CODE {
	margin-top: 0pt;
	color: #000000;
	line-height: Normal;
	font-family: Arial;	
	font-size: 11pt;
	margin-bottom: 4.5pt;
	font-style: italic;	
}

#infotext .CON_PBLACK {
	margin-top: 0pt;
	color: #000000;
	line-height: Normal;
	font-family: Arial;	
	font-size: 11pt;
	margin-bottom: 4.5pt;
	font-weight: bold;	
}


#infotext .CON_PBI {
	font-style: italic;
	font-weight: bold;
	margin-top: 0pt;
	color: #595959;
	line-height: Normal;
	font-family: Arial;	
	font-size: 11pt;
	margin-bottom: 4.5pt;
}

#infotext .CON_PINDENT {
	margin-top: 0pt;
	color: #595959;
	line-height: Normal;
	font-family: Arial;	
	font-size: 11pt;
	margin-bottom: 4.5pt;
	margin-left: 40px;	
}


#infotext .CON_OL,
#infotext .CON_UL {
	color: #595959;
	line-height: Normal;
	font-family: Arial;	
	font-size: 11pt;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 25px;
}

#infotext .CON_A:link {
	color: #545454;
}

#infotext .CON_OUTPUT {
	margin-top: 0pt;
	color: #000000;
	line-height: Normal;
	font-family: Courier;	
	font-size: 11pt;
	margin-bottom: 4.5pt;
}
