﻿/* DPAo integration module*/
div.showLinks {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    text-align: left;
}

div.loading {
    border: 1px solid black;
    margin: 10px;
    padding: 4px;
    vertical-align: middle;
}

div.loading img {
    vertical-align: middle;
    margin: 0px 10px;
}

ul.linksToDpa {
    margin-top: 3px;
    padding-left: 0px;
    margin-bottom: 0px;
}

ul.linksToDpa li {
    list-style-image: url(/Orion/DPA/Images/bullet.gif);
    list-style-position: inside;
}

tr.integrationRow td {
    padding: 0px;
    vertical-align: top;
}