﻿/*
    common styles
*/
.DPA_Hide {
    display: none;
}
.DPA_ResourceNotification {
    margin: 3px 0;
}
.DPA_Clear {
    clear: both;
}
/* 
    pageable table
*/
.sw-dpa-resource .sw-custom-query-table tbody tr td {
    padding: 6px 5px;
}

.sw-dpa-resource .sw-custom-query-table tbody tr td .DPA_NoWrap a img {
    display: inline-block;
    padding: 0 5px 0 0;
}

.itemsCount {
    float: right;
    vertical-align: middle;
    line-height: 20px;
}

table.sw-custom-query-table tbody tr.DPA_SortablePageableTableNoData td {
    text-align: center;
}

/*
    Database Instances resource
*/
.DPA_DatabaseInstancesWrapper {
    overflow: hidden;
}

.DPA_DatabaseInstancesWrapper .DPA_SortingSearching {
    margin: 8px 0 4px;
    height: 23px;
}

.DPA_DatabaseInstancesWrapper .DPA_SortingSearching .DPA_Sorting {
    float: left;
}

.DPA_DatabaseInstancesWrapper .DPA_SortingSearching .DPA_SortByOptions {
    margin-right: 5px;
}

.DPA_DatabaseInstancesWrapper .DPA_SortingSearching .DPA_Searching {
    float: right;
}

.DPA_DatabaseInstancesWrapper .DPA_SortingSearching .DPA_Searching input {
    display: inline-block;
    vertical-align: top;
    height: 18px;
    width: 112px;
}

/** remove clear field X button on IE */
.DPA_DatabaseInstancesWrapper .DPA_SortingSearching .DPA_Searching input::-ms-clear {
    display: none; 
    width:0; 
    height:0;
}

.DPA_DatabaseInstancesWrapper .DPA_SortingSearching .DPA_Searching img {
    display: inline-block;
    cursor: pointer;
}

.DPA_LoadingIconWrapper {
    margin-bottom:3px;
}

span.DPA_LoadingIcon {
    display: block;
    background: url(/Orion/images/animated_loading_graphic_sm_graybg.gif);
    width: 27px;
    height: 27px;
    margin: 0 auto;
}

.DPA_LoadingLongerText {
    text-align: center;
    margin-top: 1em;
}

tr.DPA_DatabaseInstancesNoDataRow td div.DPA_NoResultsWrapper {
    margin: 20px 0 40px 0;
}

tr.DPA_DatabaseInstancesNoDataRow td h3 {
    margin: 5px 0 2px;
    padding: 0;
    font-size: 13px;
}

tr.DPA_DatabaseInstancesNoDataRow td p {
    color: #767676;
    font-size: 11px;
    margin: 0;
}

.DPA_StatusFilterWrapper {
    border-top: 1px solid #D5D5D5;
    border-bottom: 1px solid #D5D5D5;
    width: 100%;
}

.DPA_StatusFilterWrapper .DPA_StatusFilterItem {
    width: 25%;
    text-align: center;
    padding: 10px 0 7px;
    margin: 0;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 3px solid #fff;
    opacity: 0.3;
}

.DPA_StatusFilterWrapper .DPA_StatusFilterItem.DPA_StatusFilterItemEnabled {
    cursor: pointer;
    opacity: 1;
}

.DPA_StatusFilterWrapper .DPA_StatusFilterItem img {
    margin-bottom: -2px;
    display: inline-block;
}

.DPA_StatusFilterWrapper .DPA_StatusFilterItemEnabled:hover {
    background: #f6f6f6; 
    border-bottom-color: #f6f6f6;
}

.DPA_StatusFilterWrapper .DPA_StatusFilterItemSelected {
    background: #e6eff3;
}

.DPA_StatusFilterWrapper .DPA_StatusFilterCritical.DPA_StatusFilterItemSelected {
    border-bottom-color: #D50000;
}

.DPA_StatusFilterWrapper .DPA_StatusFilterWarning.DPA_StatusFilterItemSelected {
    border-bottom-color: #FEC405;
}

.DPA_StatusFilterWrapper .DPA_StatusFilterNormal.DPA_StatusFilterItemSelected {
    border-bottom-color: #30B230;
}

.DPA_StatusFilterWrapper .DPA_StatusFilterUnknown.DPA_StatusFilterItemSelected {
    border-bottom-color: #f6f6f6;
}

.DPA_DatabaseInstancesWrapper .sw-custom-query-table tbody tr td  {
    text-align: center;
}

.DPA_DatabaseInstancesWrapper .sw-custom-query-table tbody tr td:first-child a {
    white-space: nowrap;
}

.DPA_DatabaseInstancesSuplRow {
    margin-top: 2px;
}

.DPA_DatabaseInstancesSuplRow .DPA_SupRowPart {
    margin-right: 10px;
    font-size: 11px;
    display: inline-block;
}

.DPA_DatabaseInstancesSuplRow .DPA_SupRowPart span:first-child {
    color: #777;
    font-size: 10px;
}

.DPA_Ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.DPA_NoWrap {
    white-space: nowrap;
}

.DPA_WordWrap {
    word-wrap: break-word;
	word-break: break-all;
    white-space: normal;
	max-width: 100px;
}

.sw-custom-query-table tbody tr td.DPA_AddDbInstanceLink {
    text-align: left;
}

.DPA_DatabaseInstancesWrapper a.DPA_AddDbInstanceLink {
    display: block;
    white-space: nowrap;
}

.DPA_AddNodeLink {
    margin: 0 0 0 2px;
}

.DPA_DatabaseInstancesWrapper .sw-custom-query-table tbody tr td.DbInstanceIcon {
    padding-right: 2px; 
}

.DPA_DatabaseInstancesWrapper .sw-custom-query-table tbody tr td.DbInstanceName {
    padding-left: 2px; 
    text-align: left;
}

.DPA_DatabaseInstancesWrapper .sw-custom-query-table tbody tr td img {
    vertical-align: middle;
}

.DPA_NoAdminLabel {
    color: #999;
}

/*
    Getting started - core layout
*/
.DPA_GettingStartedBox
{
    background-color: #e4f1f8;
    padding: 1em;
    margin-top: 1em;
}

.DPA_GettingStartedBox div
{
    padding-top: 0.5em;
    clear: both;
}

.DPA_GettingStartedBox div.DPA_First
{
    padding-top: 0;
}

.DPA_GettingStartedBox div h3
{
    font-weight: normal;
    font-size: 11pt;
    margin: 9px 0 0 0;
    display: inline-block;
}

.DPA_GettingStartedBox div p
{
    margin: 0 0 0 25px;
    line-height: 1.8em;
}

.DPA_GettingStartedBox div img
{
    display: inline-block;
}

.DPA_Buttons
{
    text-align: right;
}

/* Getting Started with Databases Resource */
.DPA_GettingStartedRemoveBtn {
    float:right;
    margin:0 10px 10px 0;
    cursor:pointer;
}

.DPA-gettingstarted-innertable {
    background-color: #ffffff;
}

.DPA_GettingStartedBorder {
    border: 15px solid #2D5C77;
    padding: 0.5em 1em 1em;
    margin: 10px;
}

.DPA-gettingstarted-innertable .sw-btn-t {
    display: inline-block;
    min-width: 110px; 
    text-align: center;
}

.DPA-gettingstarted-innertable td {
    padding: 6px;
}

.DPA-gettingstarted-innertable td.icon {
    width: 33px;
}

.DPA-gettingstarted-innertable .title {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0 5px 0;
}

.DPA-gettingstarted-innertable div.DPA-text-helpful {
    color: #333333;
    font-size: 12px;
}

/*
    Advisors resource
*/

.DPA_AdvisorsTable table {
    margin: 5px 0 0 0;
    table-layout: fixed;
}

.DPA_AdvisorsTable .sw-custom-query-table tbody tr td.ReportHeader.AdvisorIconFile {
    width: 20px;
}

.DPA_AdvisorsTable .sw-custom-query-table tbody tr td.ReportHeader.DatabaseIconFile {
    width: 28px;
}

.DPA_AdvisorsTable .sw-custom-query-table tbody tr td.ReportHeader.DatabaseName {
    width: 172px;
}

.DPA_AdvisorsTable .sw-custom-query-table tbody tr td.ReportHeader.Date {
    width: 75px;
}

.DPA_AdvisorsTable .sw-custom-query-table tbody tr {
    height: 15px;
}

.DPA_AdvisorsTable .sw-custom-query-table tbody tr td.DatabaseName a {
    white-space: nowrap;
}

.DPA_AdvisorsTable .sw-custom-query-table tbody tr td.AdvisorMessage span {
    width: 100%;
    display:block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.DPA_AdvisorTip p {
    margin: 0;
}
.DPA_AdvisorTip p.DPA_Description {
    font-size: 10px;
}
.DPA_AdvisorTip h5 {
    margin: 5px 0;
    padding: 0;
    font-size: 11px;
 }
.DPA_AdvisorTip p.DPA_QueryText {
    color: #7c7c7c;
    font-size: 11px;
}
.DPA_AdvisorTip table {
    margin: 10px 0;
}
.DPA_AdvisorTip p.DPA_Footer {
    font-style: italic;
    font-size: 10px;
}

.DPA_AdvisorSample {
    background: #e4f1f8;
    padding: 10px 10px 10px 30px;
}

.DPA_AdvisorSample ul {
    padding: 0;
    margin: 0;
}
.DPA_AdvisorSample ul li {
    list-style-type: square;
    font-size: 12px;
}

.DPA_AdvisorSample  p {
    padding: 5px 0;
    margin: 0;
}

.DPA_AdvisorSample  p a {
    font-size: 12px;
}

/**
    Wait time resources
*/
.DPA_InstancesWithHighestWaitTimeSample {
    background: #e4f1f8;
    padding: 10px 10px 10px 30px;
}

.DPA_InstancesWithHighestWaitTimeSample ul {
    padding: 0;
    margin: 0;
}

.DPA_InstancesWithHighestWaitTimeSample ul li {
    list-style-type: square;
    font-size: 12px;
}

.DPA_GreatestUpwardWaitTimeTrendsSample {
    background:url(/Orion/DPA/images/Samples/WaitTimeTrends-sample.png) bottom right no-repeat;
    padding-right:190px;
}

.DPA_GreatestUpwardWaitTimeTrendsSample .DPA_InnerContent {
    min-height:103px;
}

.DPA_GreatestDownwardWaitTimeTrendsSample {
    background:url(/Orion/DPA/images/Samples/WaitTimeTrends-sample.png) bottom right no-repeat;
    padding-right:190px;
}

.DPA_GreatestDownwardWaitTimeTrendsSample .DPA_InnerContent {
    min-height:103px;
}

.DPA_WaitTimeLegendTable tr td:last-child img {
    display: inline-block;
    margin-right: 5px; 
}

.DPA_WaitTimeResource .chartDataNotAvailableArea {
    background-image: url('/Orion/DPA/images/backgroundemptybarchart.png');
    height: 214px;
}

table.DPA_WaitTimeLegendTable input {
     margin: 3px;
}

table.DPA_WaitTimeLegendTable span.DPA_Ellipsis {
     padding-top: 3px;
}

.chartDataNotAvailableArea #chartDataNotAvailable div.DPA_ChartNoDataAvailable p {
    text-align: center;
    font-size: 13px;
    color: #555;
    padding: 3px 2px;
}

.chartDataNotAvailableArea #chartDataNotAvailable div.DPA_ChartNoDataAvailable p a {
    font-size: 13px;
    text-decoration: none;
}

/* Resources/MultiTabResource.ascx */

.DPA_tabHeaders {
    margin: 1em 0 .5em 0;
    border-bottom: 1px solid #ccc;
}
.DPA_tabHeaders .DPA_item {
    padding: .25em .5em 0;
    margin: 0 0 1px .5em;
    background: #ddd;
    border: 1px solid #ccc;
    border-bottom: none;
    display: inline-block;
}

.DPA_tabHeaders a:hover {
    text-decoration: none;
}

.DPA_tabHeaders .DPA_item.DPA_active {
    padding-bottom: 1px;
    margin-bottom: 0;
    background: #FFF;
    font-weight: bolder;
}

.DPA_tabContents {
    margin: 1em 0 0;
}

.DPA_MultiTabResource div.highcharts-container {
    z-index: inherit !important;
}

.DPA_MultiTabResource .highcharts-tooltip {
  z-index: 9998;
}

/**
    Spark lines styles
*/
.DPA_MultiChartContainer {
    width: 100%;
    min-height: 100px;
}

.DPA_MultiChartContainer #chartDataNotAvailable {
    width: auto;
    height: auto;
    max-width: 270px;
}

.DPA_MultiChartContainer .DPA_ChartHeaderColumn {
    background: #e0e0e0;
    height: 30px;
}

.DPA_MultiChartContainer .DPA_Left {
    width: 151px;
    float: left;
}

.DPA_MultiChartContainer .DPA_Left span {
    display: inline-block;
    padding: 9px 8px;
    text-transform: uppercase;
}

.DPA_MultiChartContainer span {
    font-family: Arial,Helvetica,sans-serif;     
    font-size: 7pt;
}

.DPA_MultiChartContainer .DPA_Middle {
    float: left;
}

.DPA_MultiChartContainer .DPA_Right {
    width: 88px;
    float: right;
}

.DPA_MultiChartContainer .DPA_Right span {
    display: inline-block;
    padding: 3px 2px 3px 2px;
    text-align: right;
    text-transform: uppercase;
}

.DPA_MultiChartContainer .DPA_SparkLineItem {
    clear: both;
    padding: 0 2px;
    position: relative;
}

.DPA_MultiChartContainer .DPA_SparkLineItem td {
	font-size: 11px;
}

.DPA_MultiChartContainer .DPA_SparkLineItem:last-child {
    padding-bottom: 35px;
}

.DPA_MultiChartContainer .DPA_SparkLineItem table {
    border-collapse: collapse;
    height: 100%;
    table-layout: fixed;
}

.DPA_MultiChartContainer .DPA_SparkLineItem hr {
    border: 1px solid #d3d3d3;
    margin: 0;
    z-index: 100;
}

.DPA_MultiChartContainer .DPA_SparkLineItem table td {
    border: none;
    padding: 0;
}

.DPA_MultiChartContainer .DPA_SparkLineItem table td.DPA_Name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.DPA_MultiChartContainer .DPA_SparkLineItem table td.DPA_Chart {
    border-left: 1px solid #d3d3d3 !important;
    border-right: 1px solid #d3d3d3 !important;
}

.DPA_MultiChartContainer .DPA_SparkLineItem table td.DPA_LastValue {
    text-align: right;
}

.DPA_MultiChartContainer .DPA_SparkLineItem table td.DPA_LastValue span.DPA_LastValue {
    display: inline-block;
    padding-right: 1px;
    font-size: 8pt;
}

/**
    Applications Using My Databases resource
*/

.DPA_AppsUsingDb table.DPA_AppsUsingDbHead {
    border: none;
}

.DPA_AppsUsingDb table.DPA_AppsUsingDbHead tr td {
    border: none;
}

.DPA_AppsUsingDb table.DPA_AppsUsingDbHead tr td.DPA_AppsUsingDbLabel img {
    margin-right: 4px;
}

.DPA_AppsUsingDb .DPA_AppsUsingDbRow .DPA_AppsUsingDbExpand {
    width: 18px;
}

.DPA_AppsUsingDb .DPA_AppsUsingDbRow .DPA_AppsUsingDbIcon {
    width: 20px;
}

.DPA_AppsUsingDb .DPA_AppsUsingDbRow .DPA_AppsUsingDbCount {
    text-align: right;
}

.DPA_AppsUsingDb .DPA_AppsUsingDbRow span.DPA_ExpandIcon {
    display: inline-block;
    width: 14px;
    height: 14px;
    cursor: pointer;
    margin: 5px;
    float: left;
}

.DPA_AppsUsingDb .DPA_AppsUsingDbRow span.DPA_ExpandIcon.DPA_Expanded {
    background: url('/Orion/images/Button.Collapse.gif');
}

.DPA_AppsUsingDb .DPA_AppsUsingDbRow span.DPA_ExpandIcon.DPA_Collapsed {
    background: url('/Orion/images/Button.Expand.gif');
}

.DPA_AppsUsingDb .DPA_AppsUsingDbRow:nth-child(odd) {
    background: #F6F6F6;
}

.DPA_AppsUsingDb .DPA_AppsUsingDbTable {
    padding: 5px 5px 15px 30px;
}

.DPA_AppsUsingDb .DPA_AppsUsingDbTable table tr td {
    text-align: center;    
}

.DPA_AppsUsingDb .DPA_AppsUsingDbTable table tr td.DbInstanceName {
    text-align: left;    
}

/**
    Applications Using This Database
*/

.DPA_ApplicationsUsingThisDatabase .sw-custom-query-table tbody tr td.ApplicationIcon{
    text-align: center;
    width: 30px;
}

/**
    resource Database Instance Details
*/
.DPA_DatabaseInstanceDetails table {
    border-collapse: collapse;
}

.DPA_DatabaseInstanceDetails table tr td {
    padding: 4px;
    font-size: 12px; 
}

.DPA_DatabaseInstanceDetails table tr td:first-child {
    font-weight: bold;    
}

.DPA_DatabaseInstanceDetails table tr td:last-child a {
    vertical-align: top;
    margin-left: 2px;
}

.DPA_SampleResourceContent .DPA_HowToSteps {
    margin-top: 18px;
}

.DPA_SampleResourceContent .DPA_HowToSteps .DPA_Bullet {
    background: url(/Orion/DPA/images/listBullet.png);
    text-align: center;
    padding: 3px 0;
    position: relative;
    left: 0;
    top: 0;
    width: 22px;
    color: #fff;
    font-weight: bold;
    float: left;
    height: 16px;
}

.DPA_SampleResourceContent .DPA_HowToSteps .DPA_Content {
    margin: 0 0 0 30px;
}

.DPA_SampleResourceContent .DPA_SampleBox {
    background: #e4f1f8;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.DPA_SampleResourceContent .DPA_SampleBox p {
    padding: 0;
    margin: 5px 0;
}

.DPA_SampleResourceContent .DPA_SampleBox ul {
    margin: 5px 0;
    padding: 5px 0 5px 15px;
    list-style-type: disc;
}

.DPA_SampleResourceContent .DPA_SampleBox ul li {
    margin: 3px 0;
}

.DPA_SampleResourceContent .DPA_HowToSteps .DPA_Content p {
    margin: 0;
    padding: 0;
}

.DPA_SampleResourceContent .DPA_HowToSteps .DPA_Content .sw-btn-bar-wizard {
    text-align: left;
    margin-top: 5px;
}

.DPA_SampleResourceContent .DPA_HowToSteps .DPA_Content .sw-btn-bar-wizard .sw-btn {
    margin-left: 0;
}

/**
    Blockers resource
*/

div.DPA_Blockers_Legend {
    margin: 10px;
}

div.DPA_Blockers_Legend table {
    border-collapse: collapse;
}

div.DPA_Blockers_Legend table tbody tr {
    border-bottom: solid 1px #e7e7e7;
}

div.DPA_Blockers_Legend table tbody td:first-child {
    border-right: solid 1px #e7e7e7;
}

div.DPA_Blockers_Legend table tbody tr td {
    text-align: center;
}

div.DPA_Blockers_Legend table tbody tr td h4 {
    color: #666666;
    font-size: 18px;
    margin: 10px 0 0;
    font-weight: normal;
}

div.DPA_Blockers_Legend table tbody tr td div.DPA_MainContent {
    font-size: 36px;
    padding: 0 0 20px 0;
}

div.DPA_Blockers_Legend table tbody tr td .DPA_Link {
    font-size: 11px;
    height: 12px;
    margin-bottom: 5px;
}

div.DPA_Blockers_Chart h4 {
    color: #666666;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    position: relative;
    top: 16px;
    z-index: 5;
    margin: 0;
}

/** 
    tooltip series hover hilite 
*/
#highchartTooltip tr.hover {
    background-color: #E4F1F8;
}

#highchartTooltip tr.hover td {
    font-weight: bold;
    padding-top: .25em;
    padding-bottom: .25em;
}

.DPA_PoweredByIcon {
    background: url('/Orion/DPA/images/PoweredByDPA.png') bottom right no-repeat;
    width: 100%; 
    height: 30px; 
    line-height: 30px; 
}

.DPA_ShowMoreInfoLink {
    display:block; 
    width: 100%; 
    height: 24px; 
    line-height: 24px;
    text-align: right;
}

.DPA_ShowMoreInfoLink a {
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 8pt;
    background: url('/Orion/images/lightbulb_tip_16x16.gif') center left no-repeat;
    white-space:nowrap;
    padding: 3px 0px 3px 18px; 
}

.DPA_ShowMoreDetailBubble {
    padding: 0px;
    margin: 6px;
}

.DPA_ShowMoreDetailBubble div {
    width: 100%;
    box-sizing: border-box;
}

.DPA_ShowMoreDetailBubble table td {
    border: none !important;
    vertical-align: top;
}

.DPA_ShowMoreDetailBubble .helplink {
    padding: 0 0 0 8px;
    font-size: 14px;
}

.DPA_ShowMoreDetailBubble .videolength {
    padding-top: 4px;
    font-size: 12px;
    color: #777;
}

.DPA_ShowMoreDetailBubble div.closeicon {
    background: url('/Orion/images/breadcrumb.12.x.png') center left no-repeat;
    width: 12px; 
    height: 12px; 
}

.DPA_ShowMoreDetailBubble ul > li {
    list-style-type: disc !important;
    line-height: 14px !important;
}

table.DPA_DRT-LegendTable {
    width: 97%;
    table-layout: fixed;
}

table.DPA_DRT-LegendTable a {
    outline: 0;
}

table.DPA_DRT-LegendTable td {
    vertical-align: top;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

table.DPA_DRT-LegendTable td.expander {
    vertical-align: middle;
}

table.DPA_DRT-LegendTable input, table.DPA_WaitTimeLegendTable input {
     margin: 3px;
}

table.DPA_DRT-LegendTable span.DPA_Ellipsis, table.DPA_WaitTimeLegendTable span.DPA_Ellipsis {
     padding-top: 3px;
}

table.DPA_DRT-LegendTable td.toggle {
       width: 15px;
}

table.DPA_DRT-LegendTable td.symbol {
       width: 18px;
}

table.DPA_DRT-LegendTable td.DPA_LegendBodyItem {
    padding-left: 3px;
    vertical-align: middle;
}

table.DPA_DRT-LegendTable td.label {
        padding: 3px 1px;
}

table.DPA_DRT-LegendTable td.label img {
     margin: -2px 4px;
}

table.DPA_DRT-LegendTable div.tab {
    display: inline-block !important;
    width: 2em;
}

table.DPA_DRT-LegendTable td.remaining {
    cursor: default;
    background-color: transparent !important;
}

table.DPA_DRT-LegendTable td.remaining span.remaining-icon {
    background-image: url('/Orion/DPA/images/remaining-queries.png');
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: top;
}

#DPA_HighchartTooltip td {
    border: 0;
    font-size:12px;
}

#DPA_HighchartTooltip td.label { 
    padding: 2px 6px 2px 1px;
    font-weight:bold; 
    font-size: 11px;
}

#DPA_HighchartTooltip tr.disabled td.label { 
    color:#CCC; 
}

#DPA_HighchartTooltip td.hint {
    border: 0;
    font-size: 11px;
}

#DPA_HighchartTooltip td.ellipsis {
    max-width: 200px;
    min-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#DPA_HighchartTooltip td.ellipsis.remaining {
    color: #777 !important;
    font-weight: bold;
    font-style: italic;
}

.DPA_RadioControl {
    background: url("/Orion/DPA/images/Controls/radio.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    width: 13px;
    height: 13px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.DPA_RadioControl.checked {
    background-position: 0 -13px;
}

td.centered {
    text-align: center;
}

#DPA_InfoModal {
    padding: 5px 15px;
}

.DPA_NeedsZebraStripes tr:nth-child(odd) {
    background-color: #F6F6F6;
}

.ResourceWrapper .DPA_NeedsZebraStripes tr .ReportHeader {
    background-color: #EAEAEA;
}

/** ALL DPA servers resource */
.DPA_AllDpaServersResource div.DPA_Row {
    padding: 10px;
}

.DPA_AllDpaServersResource div.DPA_Row a {
    margin-left: 5px;
    vertical-align: top;
}

.DPA_AllDpaServersResource div.DPA_Row:nth-child(2n+1) {
    background-color: #f6f6f6;
}

/** DPA Server Details */
.DPA_DpaServerDetails table {
    border-collapse: collapse;
}

.DPA_DpaServerDetails table tr td {
    padding: 4px;
    font-size: 12px; 
}

.DPA_DpaServerDetails table tr td:first-child {
    font-weight: bold;
    width: 35%;
    min-width: 125px;
}

.DPA_DpaServerDetails table tr td:last-child img {
    vertical-align: top;
    display: inline-block;
    margin-right: 4px;
}

.DPA_DpaServerDetails table tr .DPA_RefreshDpaServerStatusButton {
    margin-left: 15px;
    padding-left: 20px;
    white-space: nowrap;
    background: url("/Orion/js/extjs/resources/images/default/grid/refresh.gif") no-repeat;
}

/** What's New resource */

.DPA_WhatsNew .DPA_WhatsNewIcon {
    width: 55px; 
    vertical-align: top;
}

.DPA_WhatsNew .DPA_WhatsNewIcon span {
    background: url('/Orion/DPA/images/icon_new.gif') no-repeat;
    display: block;
    width: 48px;
    height: 48px;
}

.DPA_WhatsNew .DPA_WhatsNewContent p {
    margin: 0;
    padding: 0 0 15px 0;
}

.DPA_WhatsNew .DPA_WhatsNewContent p:first-child {
    padding-bottom: 0;
}

.DPA_WhatsNew .DPA_WhatsNewContent ul {
    list-style: disc;
    margin-top: 6px;
}

/* Availability Groups */
.DPA_AvailabilityGroupsTable table tbody tr td.GroupName span {
    width: 100%;
    display: inline-block;
}

.DPA_AvailabilityGroupsTable table tbody tr td.StatusIconFile {
    width: 16px;
}

/**
    Storages Used By This Database
*/

.DPA_StoragesUsedByThisDatabase .sw-custom-query-table tbody tr td.StorageIcon {
    text-align: center;
    width: 30px;
}

/**
    Storages Used By All Databases
*/

.DPA_StoragesUsedByDatabases .sw-custom-query-table tbody tr td.StorageIcon {
    text-align: center;
    width: 30px;
}

.DPA_StoragesUsedByDatabases .sw-custom-query-table tbody tr td.StorageName {
    text-align: left;
}

/**
    Storage Objects By Capacity Risk
*/
.DPA_capacityrisk table.NeedsZebraStripes td {
    padding-left: 5px;
}

.DPA_capacityrisk .column4 > span {
    text-transform: uppercase;
}

.DPA_storagepools .column3 > span {
    text-transform: uppercase;
}

.DPA_capacityrisk .column8,
.DPA_capacityrisk .column9,
.DPA_capacityrisk .column10 {
    white-space: nowrap;
}

.DPA_capacityrisk-threshold-days-left {
    font-weight: bold;
}

.DPA_capacityrisk-chart {
    font-size: 8pt;
    width: 140px;
    margin-right: 20px;
}

.DPA_capacityrisk-chart > table td {
    border: none !important;
    white-space: nowrap;
}

.DPA_capacityrisk-chart > table tr:first-child td:first-child {
    background-color: white;
}

.DPA_capacityrisk-chart .srm-capacityrisk-direction-up > span {
    background: url('/Orion/SRM/images/BlueArrowUp.png') top left no-repeat;
}

.DPA_capacityrisk-chart .srm-capacityrisk-direction-down > span {
    background: url('/Orion/SRM/images/BlueArrowDown.png') top left no-repeat;
}

.DPA_capacityrisk-chart .srm-capacityrisk-direction-right > span {
    background: url('/Orion/SRM/images/BlueArrowRight.png') top left no-repeat;
}

.DPA_capacityrisk-chart .srm-capacityrisk-direction > span {
    padding-left: 20px;
    height: 16px;
    display: block;
}

.DPA_Grid_AlreadyPassed_Cell {
    background-color: #000000;
    color: #ffffff;
}

.DPA_Grid_CollectingData_Cell {
    color: #999;
    font-style: italic;
}

.DPA_Grid_Warning_Cell {
    background-color: #FDE87E;
}

.DPA_Grid_Critical_Cell {
    background-color: #F0757F;
}

.DPA_Grid_Total_Cell {
    background-color: black;
    color: white;
}

.DPA_Icon_Cell > img, .SRM_Icon_Cell > a {
    vertical-align: middle;
    padding-right: 2px;
}

.DPA_NoWrap {
    white-space: nowrap;
}

.DPA_word_wrap {
    word-wrap: break-word;
	word-break: break-all;
    white-space: normal;
	max-width: 100px;
}

.DPA_capacityrisk .DPA_ExpandIcon {
    height: 14px;
    width: 14px;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
    float: left;
}

.DPA_capacityrisk .DPA_ExpandIcon.DPA_Expanded {
    background: url('/Orion/images/Button.Collapse.gif') no-repeat left center;
}

.DPA_capacityrisk .DPA_ExpandIcon.DPA_Collapsed {
    background: url('/Orion/images/Button.Expand.gif') no-repeat left center;
}

.DPA_capacityrisk.DPA_Expandable table.NeedsZebraStripes > tbody > tr:nth-child(4n), .DPA_capacityrisk.DPA_Expandable table.NeedsZebraStripes > tbody > tr:nth-child(4n+1) {
    background-color: #f6f6f6;
}

.DPA_capacityrisk.DPA_Expandable table.NeedsZebraStripes > tbody > tr:nth-child(4n+3) {
    background-color: #ffffff;
}

.DPA_capacityrisk tr.DPA_StorageObjectsExpandableTable_Content .DPA_TableWrapper {
    padding: 5px 5px 15px 25px;
}

.DPA_capacityrisk tr.DPA_StorageObjectsExpandableTable_Content table tr td {
    padding: 6px 5px;
}

/**
    IOPS Performance Resource
*/

.DPA_SrmPerformance_ChartLegendTable td.DPA_Toggle {
    width: 15px;
    vertical-align: top;
}

.DPA_SrmPerformance_ChartLegendTable td.DPA_Symbol div {
    margin-top: 2px;
    width: 15px;
    height: 15px;
    display: inline-block;
    *display: inline;
    vertical-align: middle;
} 

.DPA_SrmPerformance_ChartLegendTable td.DPA_Symbol {
    width: 15px;
    vertical-align: top;
}

.DPA_SrmPerformance_ChartLegendTable td.DPA_Expander .DPA_ExpanderContent {
    margin-left: 16px;
}

.DPA_SrmPerformance_ChartLegendTable td a.DPA_LegendLink {
    vertical-align: top;
}

.DPA_SrmPerformance_ChartLegendTable td a.DPA_LegendLink img {
    vertical-align: top;
}

.DPA_SrmPerformance_ChartLegendTable td.DPA_Expander span.DPA_ExpanderButton {
    vertical-align: top;
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('/Orion/images/Button.Collapse.gif');
    position: absolute;    
}

.DPA_SrmPerformance_ChartLegendTable td.DPA_Expander.DPA_Collapsed span.DPA_ExpanderButton {
    background-image: url('/Orion/images/Button.Expand.gif');
}

.DPA_SrmPerformance_ChartLegendTable td.DPA_Expander.DPA_Collapsed .DPA_ExpanderBody {
    display: none;
}

.DPA_SrmPerformance_ChartLegendTable td.DPA_Expander .DPA_ExpanderBody {
    padding: 10px 0;
}

.DPA_SrmPerformance_ChartLegendTable td.DPA_Expander .DPA_ExpanderBody table tr td {
    padding: 6px 5px;
    text-align: center;
}

.DPA_SrmPerformance_ChartLegendTable td.DPA_Expander .DPA_ExpanderBody table tr td.DbInstanceName {
    text-align: left;
}

.DPA-performance-buttons {
    position: absolute;
    margin-top: 55px;
    margin-top: 62px\9;
    z-index: 1;
    font-size: 12px;
    color: #666666;
    text-align: right;
}

.DPA-performance-buttons span {
    padding-right: 3px;
    line-height: 24px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Arial,Helvetica,sans-serif;  
}

.DPA-srm-performance-button {
    padding: 0px;
    text-align: center;
    width: 41px;
    height: 22px;
    font-size: 12px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Arial,Helvetica,sans-serif;
    padding: 0px;
    margin: 0 -4px 0 0;
    white-space: nowrap;
    border-style: solid !important;
    border-width: 1.4px !important;
    border-color: rgb(210, 210, 210);
    background-image: url(/Orion/SRM/images/bg_button_gradient.png);
    background-repeat: repeat-x;
    color: #666;
}

.DPA-srm-performance-button-selected {
    text-align: center;
    width: 41px;
    height: 22px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Arial,Helvetica,sans-serif;
    padding: 0px;
    margin: 0 -4px 0 0;
    white-space: nowrap;
    border-style: solid !important;
    border-width: 1.4px !important;
    border-color: rgb(210, 210, 210);
    outline-width: 0;
    background-image: url(/Orion/SRM/images/bg_button_gradient_selected.png);
    background-repeat: repeat-x;
    color: #666;
}


/**
    Blocking Impact Resource
*/
.DPA_LatestDeadlocksTable {
    padding: 10px 0;
}

.sw-dpa-resource .DPA_LatestDeadlocksTable .sw-custom-query-table tbody tr td {
    padding: 6px 10px;
}

.DPA_LatestDeadlocksTable .WaitTimeImpact {
    text-align: center;
}

.DPA_LatestDeadlocksTable .NumberOfSessions {
    text-align: right;
}

.DPA_LatestDeadlocksTable .DPA_ShowMoreInfoLink {
    width: 120px;
    padding: 6px 10px;
    text-align: left;
}