﻿.DPA_ValueIcon {
    background-size: 12px 12px;
    width: 12px; 
    height: 12px;
}

.DPA_AlarmLevel-0 {
    background-image: url(/Orion/DPA/images/StatusIcons/performance-normal.png);
}

.DPA_AlarmLevel-1 {
    background-image: url(/Orion/DPA/images/StatusIcons/performance-unknown.png);
}

.DPA_AlarmLevel-2 {
    background-image: url(/Orion/DPA/images/StatusIcons/performance-normal.png);
}

.DPA_AlarmLevel-3 {
    background-image: url(/Orion/DPA/images/StatusIcons/performance-unknown.png);
}

.DPA_AlarmLevel-4 {
    background-image: url(/Orion/DPA/images/StatusIcons/performance-warning.png);
}

.DPA_AlarmLevel-5 {
    background-image: url(/Orion/DPA/images/StatusIcons/performance-critical.png);
}
