﻿#DPA_WelcomeWindow {
    padding: 0 0 10px 0;
    font-size: 14px;
}

.ui-dialog .ui-dialog-titlebar.DPA_DialogHeader {
    padding-left: 10px; 
    margin: 5px; 
    background: white; 
    color: black; 
    font-weight: bold;
    border: none;
}

.ui-widget-header .ui-icon.DPA_CrossBar {
    background: url('/Orion/DPA/images/Samples/welcome-window-crossbar.png') no-repeat;
}

.ui-dialog .ui-dialog-titlebar-close.DPA_CrossBarWrapper {
    background: none;
    border: none;
    padding: 0;
}

#DPA_WelcomeWindow div {
    font-size: 14px;
}

#DPA_WelcomeWindow ul.DPA_TopList {
    border-top: 2px outset #23677e;
    color: white;
    background: linear-gradient(to right, #204A63, #23677E);
    padding: 15px;
    list-style: none;
    margin-bottom: 5px;
    margin-top: 0;
    font-weight: normal;
}

#DPA_WelcomeWindow ul.DPA_TopList li:before {
    content: "\2023";
    padding-right: 5px;
    color: #297994;
    font-size: 18px;
}

#DPA_WelcomeWindow .DPA_DpaSteps {
    padding: 10px 15px;
}

#DPA_WelcomeWindow .DPA_DpaSteps .DPA_StepsTitle {
    margin: 10px 0;
}

#DPA_WelcomeWindow .DPA_DpaSteps .DPA_Step {
    background: #F2F2F2;
    padding: 10px;
    margin: 15px 0;
    width: 60%;
}

#DPA_WelcomeWindow .DPA_DpaSteps .DPA_Step .DPA_StepTitle {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
}

#DPA_WelcomeWindow .DPA_SampleImage {
    float: right;
    margin-top: -40px;
}

#DPA_WelcomeWindow .DPA_BottomBar {
    clear: both;
    padding: 15px;
    border-top: 1px solid #D5D5D5;
}

#DPA_WelcomeWindow .DPA_BottomBar .DPA_ErrorMessage {
    display: block;
    margin-bottom: 10px;
}

#DPA_WelcomeWindow .DPA_BottomBar .DPA_Checkbox div {
    display: inline-block;
}

#DPA_WelcomeWindow .DPA_BottomBar .DPA_Buttons {
    float: right;
}

#DPA_WelcomeWindow .DPA_BottomBar a.sw-btn {
    padding: .5em 1em;
    margin-left: 15px;
    min-width: 80px;
    text-align: center;
}