﻿.DPA_SqlDetailsDialog .DPA_SqlDetailsDialogContent {
    margin:0 3px;
    min-height: 100px;
}

.DPA_SqlDetailsDialog .DPA_SqlDetailsDialogContent h3 {
    margin: 0 0 3px 0;
    font-size: 14px;
}

.DPA_SqlDetailsDialog .DPA_SqlDetailsDialogContent .DPA_SqlTextContent {
    max-height: 200px;
    white-space: pre-wrap;
}

.DPA_SqlDetailsDialog .DPA_Buttons {
    text-align: right;
    margin: 0 3px 5px;
}

.DPA_SqlDetailsDialog .DPA_Buttons a.sw-btn {
    margin-left: 10px;
}
.DPA_SqlDetailsDialog .DPA_SqlDetailsDialogContent table.sw-custom-query-table {
    border-collapse: collapse;
}

.DPA_SqlDetailsDialog .DPA_SqlDetailsDialogContent table.sw-custom-query-table .DPA_Link {
    color: #0079aa;
}

.DPA_SqlDetailsDialog .DPA_SqlDetailsDialogContent .sw-custom-query-table tbody tr td {
    padding: 6px 5px;
}

.DPA_SqlDetailsDialog .DPA_SqlDetailsDialogContent .DPA_SqlDetailSection {
    margin: 0 0 15px 0;
}
