﻿table.DPA_StorageObjectsExpadabledTable {
    border-collapse: collapse;
}

table.DPA_StorageObjectsExpadabledTable tr.DPA_TableContent:nth-child(4n),table.DPA_StorageObjectsExpadabledTable tr.DPA_TableContent:nth-child(4n+1) {
    background-color: #f6f6f6;
}

table.DPA_StorageObjectsExpadabledTable tr.DPA_StorageObjectsExpadabledTable_Content .DPA_TableWrapper {
    padding: 5px 5px 15px 25px;
}

table.DPA_StorageObjectsExpadabledTable span.DPA_ExpandIcon {
    display: inline-block;
    width: 14px;
    height: 14px;
    cursor: pointer;  
}

table.DPA_StorageObjectsExpadabledTable span.DPA_ExpandIcon.DPA_Expanded {
    background: url('/Orion/images/Button.Collapse.gif');
}

table.DPA_StorageObjectsExpadabledTable span.DPA_ExpandIcon.DPA_Collapsed {
    background: url('/Orion/images/Button.Expand.gif');
}

.DPA_CriticalCell {
    background-color: #F0757F;
}

.DPA_WarningCell {
    background-color: #FDE87E;
}

table.DPA_StorageObjectsExpadabledTable .DPA_Clickable {
    cursor: pointer;
}
