﻿#DPA_WelcomeWindow.ui-dialog-content {
    background: #ffffff;
}

#DPA_WelcomeWindow p {
    margin: 7px 0 20px;
}

#DPA_WelcomeWindow p a {
    color: blue;
    text-decoration: underline;
}

#DPA_WelcomeWindow .DPA_BottomBar {
    margin: 10px 0 0;
}

#DPA_WelcomeWindow .DPA_BottomBar .DPA_Checkbox {
    float: left;
    width: 250px;
    margin: 5px 0 0 0;
}

#DPA_WelcomeWindow .DPA_BottomBar .DPA_Checkbox label {
    vertical-align: top;
    margin-left: 5px;
}

#DPA_WelcomeWindow .DPA_BottomBar .DPA_Button {
    float: right;
}

#DPA_WelcomeWindow .DPA_BottomBar .DPA_Clear {
    clear: left;
}

#DPA_WelcomeWindow table {
    border-collapse: collapse;
}

#DPA_WelcomeWindow table tr.DPA_HowToIntegrateText td.DPA_Step {
    background: #e4f1f8;
    padding: 8px 8px 10px 8px;
    width: 180px;
    vertical-align: top;
}

#DPA_WelcomeWindow table tr.DPA_HowToIntegrateText td.DPA_Step h4 {
    color: #3c568a;
    font-size: 13px;
    margin: 0 0 15px;
}

#DPA_WelcomeWindow table tr.DPA_HowToIntegrateText td.DPA_Step p {
    margin: 5px 0 5px;
    font-size: 12px;
    color: #3c568a;
}

#DPA_WelcomeWindow table tr.DPA_HowToIntegrateText td.DPA_Step div {
    height: 100%;
}

#DPA_WelcomeWindow table tr.DPA_HowToIntegrateText td.DPA_PreFirst {
    width: 32px;
}

#DPA_WelcomeWindow table tr.DPA_HowToIntegrateText td.DPA_PreSecond {
    width: 22px;
}

#DPA_WelcomeWindow table tr.DPA_HowToIntegrateText td.DPA_PreThird {
    width: 21px;
}

#DPA_WelcomeWindow table tr.DPA_HowToIntegrateText td.DPA_PreFourth {
    width: 2px;
}

#DPA_WelcomeWindow.DPA_IntegrationEstablished table tr td.DPA_Step.DPA_FirstStep {
    background: #edf8e4;
}

#DPA_WelcomeWindow.DPA_IntegrationEstablished table tr td.DPA_Step.DPA_FirstStep h4 {
    color: #000;
    vertical-align: top;
}

#DPA_WelcomeWindow.DPA_IntegrationEstablished table tr td.DPA_Step.DPA_FirstStep p {
    color: #000;
}

#DPA_WelcomeWindow table tr.DPA_HowToIntegrateImg td {
    height: 227px;
}

#DPA_WelcomeWindow.DPA_IntegrationNotEstablished tr.DPA_HowToIntegrateImg td {
    background: url(/Orion/DPA/images/IntegrationWizard/WelcomeWindow1.png) no-repeat top left;
}

#DPA_WelcomeWindow.DPA_IntegrationEstablished tr.DPA_HowToIntegrateImg td {
    background: url(/Orion/DPA/images/IntegrationWizard/WelcomeWindow2.png) no-repeat top left;
}


