<div ng-repeat="(key, value) in popoverData.extensionData">
    <div class="whiteRow" ng-class-even="'colouredRow'">
        <span class="info">
            {{key}}
        </span>
        <span ng-if="key == 'provider'" class="vendorIcon">
            <sw-vendor-icon vendor="{{value[key] == 'Microsoft Azure' ? '311.gif' : '4843.gif'}}"></sw-vendor-icon>
        </span>
        <div ng-repeat="(keyInside, valueInside) in value">
            <span class="value">
                {{valueInside}}
            </span>
        </div>
    </div>
</div>
