/*!
 * @solarwinds/interfaces-frontend 1.5.0-2520
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.interface-statisticsColumn {
  text-align: right;
}
.interface-name {
  color: #297994;
  font-weight: bold;
}
div[name="columnIssue"] > span {
  display: inline-block;
  padding-right: 10px;
}
.interface-list-item div.media-body {
  overflow: hidden;
  word-break: break-all;
}
.interface-issues-popup-item .title {
  padding-left: 5px;
}

/*# sourceMappingURL=interfaces.css.map*/