.HeaderRow .ReportHeader 
{
    text-transform:uppercase;
}

.HeaderRow .ReportHeader div.sortIcon {
    width: 9px;
    height: 6px;
    margin-left: 5px;
    display:inline-block;
}
.tabularSearch {
    text-align: right;
}
.HeaderRow td.sortable {
    cursor: pointer;
	padding-right: 10px;
}

.HeaderRow .ReportHeader div.sort-ascending {
    background-image: url(/Orion/NPM/Images/Arrows/arrow_sort_white_up.png);
}

.HeaderRow .ReportHeader div.sort-descending {
    background-image: url(/Orion/NPM/Images/Arrows/arrow_sort_white_down.png);
}

.HeaderRow .ReportHeader div.sort-ascending-active {
    background-image: url(/Orion/NPM/Images/Arrows/arrow_sort_grey_up.png);
}

.HeaderRow .ReportHeader div.sort-descending-active {
    background-image: url(/Orion/NPM/Images/Arrows/arrow_sort_grey_down.png);
}

td .sw-highlighted {
   background: #FFE89E;
}

select.resourceDateSelector {
    float:left;
}

select.resourceDateSelector:focus {
    text-transform: none;
}

.sw-text-align-center {
    text-align: center;
    display: block;
}