﻿/*This Style need add for all APM pages what use Orion Master Page*/
#apm_admin_content {
	width: 80%;
}
#apm_admin_content a {
	text-decoration: underline;
}
/*
#apm_admin_content table {
	width: 100%;
}
#apm_admin_content table tr th, #apm_admin_content table tr td {
	padding: 5px;
}
#apm_admin_content table tr td h2 {
	margin-bottom: 0em; padding-bottom: 0em;
}
*/
#apm_admin_content table.form tr th {
	width: 20%;
}
/*
#apm_admin_content table tr td {
	font-size: 8pt;
}
#apm_admin_content table tr th {
	text-align: left; font-size: 9pt;
}
#apm_admin_content table tr th, #apm_admin_content table tr td { 
	white-space: nowrap; padding-right: .5em; font-size: 8pt;
}
*/
#apm_admin_content table tr td.apm_allowWrap {
	white-space: normal;
}
#apm_admin_content table tr.apm_MonitorThresholdWarning th, #apm_admin_content table tr.apm_MonitorThresholdWarning td {
	border-bottom: none;
}
#apm_admin_content table tr.apm_MonitorThresholdCritical th, #apm_admin_content table tr.apm_MonitorThresholdCritical td {
	border-bottom: solid 1px white;
}
#apm_admin_content table tr.apm_MonitorThresholdWarning th img, #apm_admin_content table tr.apm_MonitorThresholdCritical th img {
	position: relative; top: 3px;
}
#apm_admin_content table[id$="ctrColumnContainer"] tr.apm_MonitorThresholdWarning th, #apm_admin_content table[id$="ctrColumnContainer"] tr.apm_MonitorThresholdWarning td {
	border-bottom: none; white-space: normal; word-wrap: break-word;
}
#apm_admin_content table[id$="ctrColumnContainer"] tr.apm_MonitorThresholdCritical th, #apm_admin_content table[id$="ctrColumnContainer"] tr.apm_MonitorThresholdCritical td {
	border-bottom: solid 1px white; white-space: normal; word-wrap: break-word;
}
#apm_admin_content table[id$="ctrColumnContainer"] tr.apm_MonitorThresholdWarning th img, 
#apm_admin_content table[id$="ctrColumnContainer"] tr.apm_MonitorThresholdCritical th img {
	position: static; vertical-align: text-bottom;
}
#apm_admin_content table tr td.apm_Threshold {
	padding: 0px; border: none;
}
#apm_admin_content table tr td.apm_Threshold table {
	width: 270px; border: none;
}
#apm_admin_content table tr td.apm_Threshold table td.apm_ThresholdOperator {
	width: 160px; margin: 0 0 0 0;
}
#apm_admin_content table tr td.apm_Threshold table td.apm_ThresholdOperator span {
	margin-left: 6px; font-size: 12px;
}
#apm_admin_content .apm_Monitor tr td, #apm_admin_content .apm_Monitor_Deleted tr td {
	border-bottom-width: 0;
}
#apm_adminContent table.apm_TestResultMessages tr td, #apm_admin_content table.apm_TestResultMessages tr td {
	white-space: normal;
}
