﻿/** Admin Pages Styles */

input.disabled {
    background-color: #d4d0c8;
}
textarea {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 9pt;
}

#apm_adminContent table tr th,
#apm_adminContent table tr td {
    padding: 5px;
    white-space: nowrap;
    padding-right: .5em;
    font-size: 8pt;
}

#apm_adminContent table tr td h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

#apm_adminContent table {
    width: 80%;
}

#apm_adminContent table.form tr th {
    width: 20%;
}

#apm_adminContent table tr th {
    text-align: left;
    font-size: 9pt;
}

#apm_adminContent table tr td.apm_allowWrap {
    white-space: normal;
}

#apm_adminContent a {
    text-decoration: underline;
}

#adminContent .formLabel,
#adminContent .formLabelStrong {
    padding-right: 15px;
    vertical-align: top;
}

#adminContent .formLabelStrong {
    font-weight: bold !important;
}

/*
 * Edit Application Template code.
 */
.apm_Monitor {
    color: black;
    padding-top: 8px;
}

.apm_Monitor_Deleted {
    padding-top: 8px;
    color: #a2a2a2;
}

.apm_ColorE4F1F8 {
    background-color: #e4f1f8;
}
.apm_MonitorThresholdWarning,
.apm_MonitorThresholdCritical {
    background-color: #e4f1f8;
}

.apm_StatisticThresholdWarning,
.apm_StatisticThresholdCritical {
    color: #ff0000;
}

.apm_StatisticThresholdCritical {
    color: #ff0000;
    font-weight: bold;
}


#apm_adminContent #monitorItems {
    width: auto;
}

table tr.apm_MonitorThresholdWarning th,
table tr.apm_MonitorThresholdWarning td {
    border-bottom: none;
}

table tr.apm_MonitorThresholdCritical th,
table tr.apm_MonitorThresholdCritical td {
    border-bottom: solid 1px white;
}

table tr.apm_MonitorThresholdWarning th img,
table tr.apm_MonitorThresholdCritical th img {
    position: relative;
    top: 3px;
}

#apm_adminContent table tr td.apm_Threshold,
table tr td.apm_Threshold {
    padding: 0;
    border: none;
}

#apm_adminContent table tr td.apm_Threshold table,
table tr td.apm_Threshold table {
    width: 270px;
    border: none;
}

#apm_adminContent table tr td.apm_Threshold table td.apm_ThresholdOperator,
table tr td.apm_Threshold table td.apm_ThresholdOperator {
    width: 160px;
    margin: 0 0 0 0;
}

#apm_adminContent table tr td.apm_Threshold table td.apm_ThresholdOperator span,
table tr td.apm_Threshold table td.apm_ThresholdOperator span {
    margin-left: 6px;
    font-size: 12px;
}

#apm_adminContent .apm_Monitor tr td,
#apm_adminContent .apm_Monitor_Deleted tr td {
    border-bottom-width: 0;
}

.apm_EditPane {
    width: 500px;
}

.apm_MonitorSettings {
    margin-left: 20px;
    margin-top: 5px;
    padding: 2px 3px 2px 5px;
}

.apm_MonitorSettings table {
    border-width: 0;
    border: thin solid #aaa;
}

.apm_MonitorSettings table th {
    width: 25%;
}

#apm_AddMonitor {
    border: thin solid #aaa;
    margin: 1em 5em;
    padding: 1em 1em;
    width: 20em;
}

#apm_AddMonitor select {
    width: 20em;
}

#apm_AddMonitor input {
    margin-top: .5em;
}


.apm_showtoggle,
.apm_hidetoggle {
    cursor: pointer;
}

.apm_TreeDetailRow {
    background-color: #e4f1f8;
}

.apm_dateArea {
    font-family : Arial, Helvetica, sans-serif;
    font-size : 8pt;
    margin-top: 0;
    margin-right: 5px;
    float: right;
    text-align: right;
    border: 0;
    padding-top: 15px;
    vertical-align: bottom;
    line-height: 18px;
}


table.apm_Gauge > tbody > tr > td {
    text-align: center;
    border: none;
    font-weight: bold;
}

.apm_UnlicenesedNodes {
    border: solid 1px red;
    background-color: #f99;
    padding: 10px 20px;
    width: 400px;
}

.apm_LicenesedNodes {
    padding: 0 20px;
}

/* Inline Percent Bar */
.apm_InlineBar {
    width: 50px;
}

.apm_InlineBar h3 {
    background: #eae9e7;
    background-image: url(../images/Gradient-Background.gif);
    margin: 0;
}

.apm_InlineBar.Normal div {
    background-color: #00b84a;
    background-image: url(../images/Gradient-Green.gif);
    background-repeat: repeat-x;
}

.apm_InlineBar.Warning div {
    background-color: #f1d200;
    background-image: url(../images/Gradient-Yellow.gif);
    background-repeat: repeat-x;
}

.apm_InlineBar.Error div {
    background-color: #e22323;
    background-image: url(../images/Gradient-Red.gif);
    background-repeat: repeat-x;
}

.apm_InlineBar.Neutral div {
    background-color: #007db8;
    background-image: url(../APM/Images/Gradient-Blue.gif);
    background-repeat: repeat-x;
}

/* Inline Multibar */
.apm_InlineMultiBar {
    width: 100px;
}

.apm_InlineMultiBar .apm_NormalBar {
    background-color: #00b84a;
    background-image: url(../images/Gradient-Green.gif);
    background-repeat: repeat-x;
}
.apm_InlineMultiBar .apm_WarningBar {
    background-color: #f1d200;
    background-image: url(../images/Gradient-Yellow.gif);
    background-repeat: repeat-x;

}
.apm_InlineMultiBar .apm_ErrorBar {
    background-color: #e22323;
    background-image: url(../images/Gradient-Red.gif);
    background-repeat: repeat-x;
}
.apm_InlineMultiBar .apm_UnknownBar {
    background: #c1c1c1;
    background-image: url(../images/Gradient-Unknown.gif);
    background-repeat: repeat-x;
}
.apm_InlineMultiBar .apm_BackgroundBar {
    background: #eae9e7;
    /*background-image: url(../images/Gradient-Background.gif);*/
    background-repeat: repeat-x;
}


/* Image Button */
.apm_image-button {
}

.apm_image-button-left {
    margin-right: 0;
    padding-right: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}

.apm_image-button-middle {
    margin-left: 0;
    padding: 5px 5px;

    /* IE6 won't show the mouse over images unless we have a background already defined.
       We'll set a background with a transparent image so that IE6 is happy */
    background: url(/Orion/APM/images/mouseover_background_blank.gif) 0 0 repeat-x;
}


.apm_image-button-right {
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

#apm_adminContent a.apm_image-button-link {
    text-decoration: none;
    margin-bottom: 0;
    font-size: 8pt;
}

.apm_image-button-middle img {
    border-width: 0;
    padding-right: 4px;
    vertical-align: middle;
}

/* Icon Help Button */
#apm_adminContent .apm_IconHelpButton a {
    text-decoration: none;
}

#apm_adminContent .apm_IconHelpButton a:hover {
    text-decoration: underline;
}

.apm_IconHelpButton {
    padding-left: 10px;
    font-size : 8pt;
    text-decoration: none;
}

.apm_IconHelpButton .apm_HelpIcon img {
    vertical-align: super;
}

.apm_IconHelpButton a.apm_HelpText {
    vertical-align: top;
}

#breadcrumb .apm_IconHelpButton a.apm_HelpText {
    line-height: inherit;
}

.apm_PercentColumn {
    padding-left: 5px;
}

.apm_ThwackExportMessage {
    font-size: 12pt;
    padding: 10px 14px;
}

.apm_ThwackExport {
    width: 550px;
    background: url("/Orion/APM/images/background_gradient_thwack_Export.jpg") 0 0 no-repeat;
    visibility: hidden;
}

.apm_ThwackExport p {
    width: 100% !important;
}

.apm_ThwackExport div {
    font-size: 8pt;
    padding: 10px 25px 10px 15px;
}

.apm_ThwackExport #DetailedInstructions {
    display: none;
    padding: 0;
}

.apm_ThwackExport #apm_ShareTitle {
    font-size: 12pt;
    padding: 0 30px 5px 0;
    background: url(/Orion/APM/Images/logo_thwack_small.gif) right top no-repeat;
    margin-right: 20px;
}

tbody #apm_MessageRow tr td {
    font-size: 12pt;
    font-weight: bold;
    background: #f79600 url(/Orion/APM/Images/BG.Gradient.Orange.gif) repeat-x 0 0;
    color: white;
    padding: 0;
    border-bottom-width: 0;
}

.apm_DarkShading {
    background-color: silver;
}


/* New Admin Page Look */
.apm_AppGrouping {
    padding: 0;
    margin: 0;
    width: 100%;
}

.apm_GroupSection {
    background-color: #d0cfc3;
    margin: 0;
    padding: 5px;
}

.apm_AppGroupItems {
    margin: 0;
    padding: 0;
}

.apm_AppGroupItem,
.apm_SelectedAppGroupItem {
    white-space: nowrap;
    list-style-type: none;
    padding: 2px 0 2px 6px;
    vertical-align: middle;
}

.apm_SelectedAppGroupItem {
    font-weight: bold;
    background-image: url('/Orion/Nodes/images/background/left_selection_gradient.gif');
    background-color: #97d6ff;
    background-repeat: repeat-x;
}

table.apm_ExistingApplications {
    border: #e1e1e0 solid 1px;
    margin: 0;
    padding: 0;
}

a.apm_NetObjectLink {
    white-space: nowrap;
}

table.apm_ExistingApplications > tbody > tr > td {
    margin: 0;
    padding: 0;
}

.apm_MenuItem {
    border: none;
    margin: 0;
    padding: 100px;
}

.apm_MenuIsland {
    background-color: #e2e1d4;
    margin: 0;
    padding: 0;
}

.apm_MenuIslandContainer {
    background-color: #e2e1d4;
    border-bottom: solid 1px #f5f5ec;
}

.apm_MenuHover {
    background: #d2d1c6 url('/Orion/Nodes/images/background/toolbar_hover_gradient.gif') repeat-x;
    border: none;
    border-top: none;
}

.apm_MenuDisabled {
    color: #999;
    border: solid 1px #e2e1d4;
}

.apm_SubMenuIsland {
    border: solid 1px #c8cbce;
    background-color: white;
    margin: 0;
    padding: 0;
}

.apm_SubMenuItem {
    border: none;
    background-color: white;
    margin: 0;
    padding: 0;
}

.apm_SubMenuHover {
    background-color: #ffeaa7;
}

thead > tr > th.apm_AppTreeHeader {
    background-color: #e2e1d4;
    font-style: italic;
    border: solid 1px #f5f5ec;
    cursor: pointer;
}

.apm_AppTreeRow,
.apm_AppTreeRowAlternate {
    padding: 0 5px;
}

.apm_AppTreeRowAlternate {
    background-color: #ecf6fb;
}

.apm_SiteMapPath {
    margin-top: 10px;
    padding-top: 10px;
    font-size: 10px;
}
.apm_SiteMapPath-CurrentModule {
    font-size: 15pt;
    font-weight: bold;
}

.apm_ActionName {
    font-size: 14px;
    font-weight: bold;
}

.apm_app-groupbox {
    border: solid 1px #dfdfde;
    margin: 0px;
    padding: 0px;
    padding-right: 10px;
    padding-left: 10px;
}

#apm_admin_content {
    padding-left: 10px;
    padding-right: 10px;
}

.apm_padding20 {
    padding-left: 20px;
}

.apm_leftLabelColumn {
    padding-left: 40px;
    width: 200px;
    text-align: right;
}

.apm_rightInputColumn {
    text-align: left;
    padding-left: 5px;
    width: 150px;
}

.apm_contentBlock {
    padding-top: 15px;
}

.apm_contentBlockHeader {
    font-size: 14px;
}

.apm_helpfulText {
    color: #5f5f5f;
    font-size: 10px;
    padding-left: 10px;
    text-align: left;
}

.apm_blueBox {
    background-color: #ecf6fb;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.apm_noLeftPadding {
    padding-left: 0;
}

a.apm_learnMore,
a.apm_learnMore:visited {
    color: #369;
}

.apm_wizardSubtitle {
    text-transform: uppercase;
    font-weight: bolder;
    display: block;
}

.apm_yellowBox {
    background-color: #fffdcc;
    padding: 5px 5px 5px 5px;
    line-height: 170%;
}

table.apm_MonitorLibrary {
    border: #e1e1e0 solid 1px;
    margin: 0;
    padding: 0;
}

.apm_WizardFrame {
    width: auto;
    border: solid 1px #dfdfde;
    padding: 0px;
}
.apm_WizardContainer {
    padding: 10px 20px;
    background-color: white;
}
.apm_WizardContainer h2 {
    padding-left: 0;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: medium;
    font-weight: bold;
}

.apm_WizardFrame .apm_WizardContainer .x-panel-header.x-unselectable {
    background-color: #D5D5D5;
}

.apm_WizardFrame .apm_WizardContainer div.monitors {
    width: 100%;
    overflow: auto;
}
.apm_WizardFrame .apm_WizardContainer div.monitors div.column {
    width: 49%;
    float: left;
}
.apm_WizardFrame .apm_WizardContainer div.monitors div.column div.section {
    border: 1px solid #ddd;
    margin: 0px 10px 10px 0px;
}
.apm_WizardFrame .apm_WizardContainer div.monitors div.column div.section div.header {
    padding: 10px;
    background-color: #e4f1f8;
}
.apm_WizardFrame .apm_WizardContainer div.monitors div.column div.section div.header img {
    float: left;
    padding-right: 10px;
}
.apm_WizardFrame .apm_WizardContainer div.monitors div.column div.section div.header span.title {
    font-size: 14px;
    font-weight: bold;
}
.apm_WizardFrame .apm_WizardContainer div.monitors div.column div.section div.header span.description {
    font-size: 12px;
}
.apm_WizardFrame .apm_WizardContainer div.monitors div.column div.section div.body div.item {
    padding: 20px 5px;
    border-top: 1px solid #ddd;
    cursor: default;
}
.apm_WizardFrame .apm_WizardContainer div.monitors div.column div.section div.body div.item .rbtnCell {
    width: 40px;
    text-align: center;
    vertical-align: top;
}
.apm_WizardFrame .apm_WizardContainer div.monitors div.column div.section div.body div.item .rbtnCell input {
    position: relative;
    top: 8px;
}
.apm_WizardFrame .apm_WizardContainer div.monitors div.column div.section div.body div.item .iconCell {
    width: 40px;
    vertical-align: top;
}
.apm_WizardFrame .apm_WizardContainer div.monitors div.column div.section div.body div.item .textCell span.title {
    font-size: 14px;
    font-weight: bold;
}
.apm_WizardFrame .apm_WizardContainer div.monitors div.column div.section div.body div.item .textCell span.description {
    font-size: 12px;
}
.apm_WizardFrame .apm_WizardContainer div.CompletedContent a {
    font-weight: bold;
    color: #369;
    text-decoration: none;
}
.apm_WizardFrame .apm_WizardContainer div.CompletedContent a:hover {
    color: orange;
}
.apm_WizardFrame .apm_WizardContainer div.CompletedContent input[type="image"] {
    margin-left: -10px;
}

.apm_WizardButtons {
    text-align: right;
}

.apm_IndentedPanel {
    padding: 10px 40px;
}

.apm_NoFocusBorder {
    outline: none;
}

.apm_AppFinderMonitorSettings tr th {
    padding: 8px 1em 8px 5em;
    text-align: right;
    white-space: nowrap;
    font-size: 8pt;
}

.apm_AppFinderMonitorSettings tr td {
    font-size: 8pt;
    white-space: nowrap;
    padding-right: .5em;
}

.apm_ErrorMessage {
    color: red;
    font-style: italic;
}

.apm_modalBackground {
    background-color: gray;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.apm_SelectNodeTree {
    border: solid 1px #333;
    padding: 7px;
}

.apm_MonitorLibraryTree {
    border: solid 1px #ccc;
    padding: 10px;
}

#apm_adminDescription {
    font-size: 11px;
}

.apm_removeBottomTableBorder table tbody tr td {
    border-bottom-width: 0 !important;
}

#apm_ThwackAd {
    border: #e1e1e0 solid 1px;
    padding: 10px;
    margin: 15px 0 0 0;
    font-size: 8pt;
}

#apm_ThwackAd p {
    padding-bottom: 10px;
}

#apm_ThwackAd a {
    color: #369;
    font-weight: bold;
    text-decoration: underline;
}

#apm_ThwackAd a:hover {
    color: orange;
}

.apm_stats {
    padding-right: 5px;
}

div.apm_Collapsed {
    overflow: hidden;
    height: 0;
}

#apm_SelectAppDialog img.apm_StatusIcon {
    width: auto !important;
    height: auto !important;
}

.apm_Test_Success {
    background-color: #d6f6c6;
    font-weight: bold;
    color: #009700;
}
.apm_Test_Failure {
    background-color: #f6c6c6;
    font-weight: bold;
    color: #de0000;
}
.apm_Test_Skipped {
    background-color: #d8d8d8;
    color: black;
}
.apm_Test_Pending {
    background-color: white;
    color: black;
}

/* All Applications Tree */
.apm_apptree a,
.apm_apptree div {
    font-size: 8pt;
    outline-style: none;
    width: auto;
}

.apm_apptree .ieHrSplitter hr {
    width: 100%;
    height: 1pt;
    clear: both;
    line-height: 1px;
    visibility: hidden;
    font-size: 1px;
}
.apm_apptree .apm_StatusIcon {
    padding: 2px 4px 0px 5px;
}
.apm_apptree .apm_StatusText {
    float: right;
    width: 28%;
    word-wrap: break-word;
    text-align: right;
    padding-right: 1%;
    padding-top: 5px;
    font-size: 8pt;
}
.TreeGroup .TreeGroup .apm_StatusText {
    display: block;
    margin-top: 0px;
}
*:first-child+html .TreeGroup .TreeGroup .apm_StatusText {
    margin-top: 0px;
    height: 8pt;
    line-height: 8pt;
}
*:first-child+html .ieHrefSplitter {
    float: left;
}
*:first-child+html .ieHrSplitter {
    height: 1px;
    width: 100%;
}
*:first-child+html .apm_apptree .apm_StatusText {
    margin-top: 8px;
    float: right;
    width: auto;
}

/* Select Node Control */
.x-tree-no-lines .x-tree-elbow-minus,
.x-tree-no-lines .x-tree-elbow-end-minus {
    background-image: url(/Orion/images/Button.Collapse.GIF) !important;
    padding-left: 2px !important;
}
.x-tree-no-lines .x-tree-elbow-plus,
.x-tree-no-lines .x-tree-elbow-end-plus {
    background-image: url(/Orion/images/Button.Expand.GIF) !important;
    padding-left: 2px !important;
}

#apm_selectNodeTree a {
    text-decoration: none;
}
#apm_selectNodeTree .apm_selectAll {
    float: right;
    display: block;
    margin: -19px 5px 0px 0px;
    padding: 0;
    font-size: 8pt;
}
#apm_selectNodeTree .apm_selectAll a,
#apm_selectNodeTree .apm_selectAll a:hover {
    color: #369;
    text-decoration: underline;
}
#apm_selectNodeTree span.nodeGroupInfo {
    font-style: italic;
}
#apm_selectNodeTree span.ad-status-info {
    padding-left: 55px;
    text-decoration: underline;
    font-style: italic;
}

/* Application Discovery */
#apm_sliderTicks,
#apm_sliderJobs {
    width: 241px;
    padding-top: 6px;
    background-image: url(Admin/AutoAssign/Images/ticks.gif);
}

.apm_searchterm {
    background-color: yellow;
}


/* error page */
div.apm_topmost h3 {
    margin-top: 0px;
}
div.apm_trace {
    overflow-x: scroll;
    width: 100%;
}
div.apm_trace pre {
    margin: 0px;
    padding: 0px 0px 6px 0px;
    font-family: Consolas, Lucida Console, Courier New;
    font-size: small;
}

/* Selected Item List */
div.apm_SelectItemList {
    padding-left: 5px;
    font-size: 9pt;
}
div.apm_SelectItemList ul {
    padding-left: 23px;
}
div.apm_SelectItemList a {
    text-decoration: underline;
    color: #369;
    margin-left: 10px;
}

/* Edit Application/Template pages */
table.apm_SubItemContainer {
    width: 100%;
    margin-top: 3px;
    border: none;
    display: none;
    background-color: #e4f1f8;
}
table.apm_SubItemContainer tr td.apm_SubItemTitle {
    width: 150px;
    overflow: hidden;
}
table.apm_SubItemContainer tr td.apm_SubItemDel {
    background-color: #fff;
}

table div[id$=SettHelpText] {
    color: gray;
    font-size: 8pt;
}

/* Thwack Log In Dialog */
#tldForm div.x-panel-tl {
    display: none;
    visibility: hidden;
}

/* Unmanage Application(s) Dialog */
#apm_uadForm div.x-panel-tl {
    display: none;
    visibility: hidden;
}

/*Application Dashboards Functionality*/
#dcdForm div.x-panel-tl {
    display: none;
    visibility: hidden;
}
#dcdForm label.x-form-item-label {
    display: none;
    visibility: hidden;
}

span.apm_bad_credetnials {
    background: url(/Orion/APM/Images/Admin/failed_16x16.gif) 2px center no-repeat;
    padding: 3px 2px 3px 20px !important;
}

span.apm_bad_credetnials_note {
    border: none !important;
    background: #facece url(/Orion/APM/Images/Admin/failed_16x16.gif) 5px center no-repeat;
    padding: 3px 5px 3px 25px !important;
}

span.apm_bad_credetnials a,
span.apm_bad_credetnials_note a {
    color: #369;
    text-decoration: none !important;
}

.apm_indentedList {
    background-color: #e4f1f8;
    padding: 7px 12px 7px 25px;
}
.apm_itemSelection {
    width: 300px;
}

/* JMX WIZARD - BEGIN */
.apm_jmx_longField {
    width: 350px;
}

.apm_jmx_beans_extArea {
    padding: 10px 0 10px 0;
}

.apm_jmx_grid_expand {
    background: url(/Orion/APM/images/Button.Expand.gif) center no-repeat;
}

.apm_jmx_grid_collapse {
    background: url(/Orion/APM/images/Button.Collapse.gif) center no-repeat;
}

.apm_jmx_grid_delete {
    background: url(/Orion/APM/images/delete_16x16.gif) center no-repeat;
}

.apm_jmx_attribute_detail {
    padding-left: 28px;
}

.apm_jmx_attribute_detail p {
    padding-top: 3px;
    padding-bottom: 2px;
}

.apm_jmx_attribute_item {
    padding: 7px 0 5px 0;
}

.apm_jmx_attribute_subtitle {
    font-weight: bold;
    color: #646563;
    text-transform: uppercase;
    padding: 7px 0 4px 0;
}

.apm_jmx_attribute_refresh_value {
    vertical-align: bottom;
}

.apm_jmx_attribute_value_loading {
    background: url(/Orion/APM/images/loading_gen_16x16.gif) left no-repeat;
    padding-left: 20px;
}

.apm_jmx_tooltip_header {
    padding: 5px;
    background-color: #4cc9f1;
    font-weight: bold;
}

.apm_jmx_tooltip_body {
    padding: 5px;
}

.apm_jmx_tooltip_body_item {
    padding: 7px 0 5px 0;
}

.apm_jmx_tooltip_attribute_subtitle {
    font-weight: bold;
    color: #646563;
    text-transform: uppercase;
    padding-bottom: 3px;
}

div.cluetip-apm-jmx {
    width: auto !important;
    min-width: 456px !important;
}

.apm_jmx_beans_extArea .x-grid3-row-alt {
    background-color: #e4f1f8 !important;
}

.apm_jmx_icon_loading {
    background: url(/Orion/APM/images/loading_gen_16x16.gif) center no-repeat !important;
}

.apm_jmx_icon_domain {
    background: url(/Orion/APM/Images/JMX/icon_folder.gif) center no-repeat !important;
}

.apm_jmx_icon_bean {
    background: url(/Orion/APM/Images/JMX/icon_mbean.gif) center no-repeat !important;
}

.apm_jmx_icon_attribute {
    background: url(/Orion/APM/Images/JMX/icon_attribute.gif) center no-repeat !important;
}
.apm_jmx_icon_key {
    background: url(/Orion/APM/Images/JMX/icon_attribute.gif) center no-repeat !important;
}
/* JMX WIZARD - END */

div.grippie {
    background: #eee url(/Orion/APM/Images/grippie.png) no-repeat scroll center 2px;
    border-color: #ddd;
    border-style: solid;
    border-width: 0 1px 1px;
    cursor: s-resize;
    height: 6px;
    width: 650px;
    overflow: hidden;
}
.apm_TemplateDescription div.grippie {
    width: 500px !important;
}
.apm_Resizable-textarea textarea {
    display: block;
    margin-bottom: 0pt;
    width: 95%;
    height: 20%;
}

.apm_DescriptionNoteTextArea {
    width: 650px;
    height: 80px;
    overflow: hidden;
}

div.apm_DescriptionNoteDiv {
    width: 650px;
    display: block;
    white-space: normal;
    overflow: hidden;
    font-size: 8pt;
}
button.btn-def-search-do,
button.btn-def-search-cancel {
    width: 21px !important;
    height: 21px !important;
}

/* Resources global */
.ResourceContent::after {
    clear: both;
    content: " ";
    display: block;
}

/* Process monitor */
.apm_ResourceHeaderItem {
    float: right;
    font-size: 8pt;
}
.apm_ResourceHeaderItem img {
    vertical-align: -30%;
}

/* Ajax Tree Node */
.apm_AjaxTreeToggle {
    line-height: 16px;
    vertical-align: middle;
}

div.apm_AjaxTreeNodeExpandedWithoutChilds {
    line-height: 16px;
    vertical-align: middle;
}

div.apm_AjaxTreeNodeCollapsedWithoutChilds {
    line-height: 16px;
    vertical-align: middle;
}

div.apm_AjaxTreeNodeExpandedWithChilds {
    line-height: 16px;
    vertical-align: middle;
}

div.apm_AjaxTreeNodeCollapsedWithChilds,
div.apm_AjaxTreeNodeContent {
    border-bottom: solid 1px #dfded7;
    line-height: 16px;
    vertical-align: middle;
}

.apm_HardwareHealthTreeCategoryName {
    font-size: small;
    font-weight: bold;
    line-height: 16px;
    vertical-align: middle;
}

.apm_HardwareHealthTreeSensorMarginElement {
    display: inline-block;
    width: 20px;
    line-height: 16px;
    vertical-align: middle;
}

.apm_HardwareHealthTreeSensorElement {
    display: inline-block;
    width: 195px;
    padding-right: 5px;
    font-size: 8pt;
    line-height: 16px;
    vertical-align: middle;
}

.apm_HardwareHealthTreeStatusWithoutValueElement {
    display: inline-block;
    width: 160px;
    padding-right: 5px;
    font-size: 8pt;
    line-height: 16px;
    vertical-align: middle;
}

.apm_HardwareHealthTreeStatusElement {
    display: inline-block;
    width: 95px;
    padding-right: 5px;
    font-size: 8pt;
    line-height: 16px;
    vertical-align: middle;
}

.apm_HardwareHealthTreeValueElement {
    display: inline-block;
    width: 65px;
    font-size: 8pt;
    line-height: 16px;
    vertical-align: middle;
}

.apm_HardwareDetailTable table tbody tr td {
    border: none;
}

/* test result control */
div.tr div.x-grid3-cell-inner {
    padding: 0;
}
div.tr div.tr-name,
div.tr-message {
    white-space: pre-wrap;
    font-size: 9pt;
}

/* IE v7 */
*:first-child+html div.tr div.tr-name,
*:first-child+html div.tr-message {
    white-space: normal;
}
div.tr div.tr-name {
    font-weight: bold;
}
div.tr div.tr-message {
    padding: 3px 3px 3px 5px;
}
div.tr div.tr-message img {
    width: 13px;
    height: 13px;
}

div.tr div.tr-Available,
div.tr div.tr-Warning,
div.tr div.tr-Critical {
    color: #009700;
    background-color: #d6f6c6;
}
div.tr div.tr-NotAvailable,
div.tr div.tr-PartlyAvailable {
    font-weight: bold;
    color: #ce0000;
    background-color: #ffc0c0;
}
div.tr div.tr-Undefined,
div.tr div.tr-NotLicensed,
div.tr div.tr-IsDisabled,
div.tr div.tr-Unmanaged,
div.tr div.tr-Unreachable {
    color: #303030;
    background-color: #c0c0c0;
}

/* Application and Component resources error message */
div.status-details-container {
    font-size: 8pt;
}
div.status-details-container span {
    padding: 2px 3px 0 3px;
    background: transparent none no-repeat scroll left top;
}
div.status-details-container label a,
div.status-details-container [helplink-attr-id="helpLink"] {
    font-weight: normal;
    color: #369;
}
div.status-details-container label a sup,
div.status-details-container [helplink-attr-id="helpLink"] sup {
    vertical-align: baseline;
    font-size: 11pt;
}
div.status-details-container [helplink-attr-id="helpLink"]:before {
    content: "\000A";
    white-space: pre;
}

div[status=Available],
div[status=Warning],
div[status=Critical],
div[status=IsDisabled],
div[status=Unmanaged] {
    display: none;
}

div[status=NotAvailable],
div[status=PartlyAvailable],
div[status=Undefined],
div[status=NotLicensed],
div[status=Unreachable] {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ce0000;
    font-weight: bold;
    color: #ce0000;
    background-color: #ffc0c0;
}

div[status=NotAvailable] span,
div[status=PartlyAvailable] span,
div[status=Undefined] span,
div[status=NotLicensed] span,
div[status=Unreachable] span {
    background-image: url("/orion/apm/images/admin/failed_16x16.gif");
    overflow: visible;
}

.SAM_GettingStartedBox {
    background-color: #e4f1f8;
    padding: 1em;
    margin-top: 1em;
}
.SAM_GettingStartedBox div {
    padding-top: 1em;
    clear: both;
}
.SAM_GettingStartedBox div.SAM_First {
    padding-top: 0;
}
.SAM_GettingStartedBox div h3 {
    font-weight: normal;
    font-size: 11pt;
    margin: 12px 0 0 40px;
}
.SAM_GettingStartedBox div p {
    margin: 0 0 0 25px;
    line-height: 1.8em;
}
.SAM_GettingStartedBox div img {
    float: left;
    margin-top: 2px;
}
.SAM_GettingStartedButtons {
    text-align: right;
}

/* Credentials tips user control */
.CredentialTipsInstructions {
    background-color: #e4f1f8;
    background-image: url('/Orion/APM/Images/Admin/icon_lightbulb.gif');
    background-position: 22px 10px;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 40px;
    font-size: 8pt;
    width: 350px;
    text-align: left;
    border-width: 1px;
    border-style: solid;
    border-color: #b4d1d8;
    border-radius: 10px 10px 10px 10px;
}
.CredentialTipsInstructions h2 {
    font-size: 10pt;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
}
.CredentialTipsInstructions li {
    padding-bottom: 5px;
    padding-left: 5px;
    list-style-type: disc;
}

.selectCreds {
    background-color: #e4f1f8;
    padding: 7px 10px 7px 12px;
}
.selectCreds td {
    padding: 0 5px 4px 0;
}

/* Navigation tab bar user control */
.sw-tabs .x-tab-strip-text {
    font-size: 12px !important;
}
.tab-top {
    border: solid 1px #dfdfde;
    border-top: medium none !important;
    padding: 1em;
    background: white url('/Orion/APM/images/tab.top.gif') repeat-x scroll left top !important;
}

/* Component setting user control */
.ComponentSettingsEditor textarea {
    width: 450px;
}

/* AssignGaugesToComponent user control */
input[type="checkbox"][id*='_ctrComponents_'] {
    margin-left: -2px;
}
*:first-child+html input[type="checkbox"][id*='_ctrComponents_'] {
    margin-left: -5px;
}
body:first-of-type input[type="checkbox"][id*='_ctrComponents_'] {
    margin-left: -3px;
}

/* ApmTitle user control */
table#titleContent thead tr td.title {
    width: 100%;
    height: 33px;
}
table#titleContent thead tr td.path {
    vertical-align: top;
}
table#titleContent thead tr td span.apm_IconHelpButton {
    float: right;
}
table#titleContent thead tr td.title,
table#titleContent thead tr td.title a {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 12pt;
    text-decoration: none;
}
table#titleContent thead tr td.title a img {
    margin-bottom: -10px;
}
table#titleContent thead tr td h1 {
    font-size: large;
    padding-bottom: 10px;
}


div#apm_admin_content div.apm_WizardContainer p.note {
    font-size: 8pt;
}
div#apm_admin_content div.apm_WizardContainer p.note a {
    text-decoration: underline;
    color: #4779c4;
}


/* MultiChart user control */
div.mcContainer {
    width: 100%;
}
div.mcContainer div.mcHeader {
    height: 30px;
    background-color: #ecedee;
}
div.mcContainer div.mcLeftColumn {
    width: 185px;
    float: left;
}
div.mcContainer div.mcLeftColumn span.title {
    padding: 8px;
    font-size: 10px;
    display: inline-block;
}
div.mcContainer div.mcMiddleColumn {
    float: left;
}
div.mcContainer div.mcRightColumn {
    width: 83px;
    float: right;
}
div.mcContainer div.mcRightColumn span {
    padding: 2px 8px 2px 2px;
    text-align: right;
    font-size: 10px;
    display: inline-block;
    line-height: 1.3;
}
div.mcContainer div.mcCounter {
    clear: both;
    position: relative;
    padding: 0 2px 0 2px;
}
div.mcContainer div.mcCounter table {
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
div.mcContainer div.mcCounter hr {
    z-index: 100;
    margin: 0;
    border: 1px solid #ecedee;
}
.sw-is-msie-7 div.mcContainer div.mcCounter hr {
    margin-top: -8px;
}
div.mcContainer table td {
    border: 0 !important;
    padding: 0;
}
div.mcContainer table td.chart {
    border-left: 1px solid #ecedee !important;
    border-right: 1px solid #ecedee !important;
}
div.mcContainer table td.lastValue {
    text-align: right;
}
div.mcContainer table td.lastValue span.lastValue {
    display: inline-block;
    padding-right: 2px;
}
div.mcContainer div.highcharts-container {
    z-index: 1 !important;
}

div#chartDataNotAvailable {
    position: relative;
    z-index: 1;
}

.tooltipImage {
    vertical-align: middle;
    height: 15px;
}

.tooltipYellow .x-tip-anchor {
    background-image: url("/Orion/APM/Images/Tooltips/tip-anchor-yellow.gif");
}
.tooltipYellow .x-tip-tc,
.tooltipYellow .x-tip-tl,
.tooltipYellow .x-tip-tr,
.tooltipYellow .x-tip-bc,
.tooltipYellow .x-tip-bl,
.tooltipYellow .x-tip-br,
.tooltipYellow .x-tip-ml,
.tooltipYellow .x-tip-mr {
    background-image: url("/Orion/APM/Images/Tooltips/tip-yellow.gif");
}

/* IE 7 hack to trigger hasLayout */
.ie7addLayout {
    display: inline;
    zoom: 1;
}

/* BreadCrumbBar user control */
div.breadcrumbs {
    padding: 15px 0 5px 18px;
}
div.breadcrumbs img.bc_itemimage {
    vertical-align: middle;
}
div.breadcrumbs img.bc_item_icon {
    position: relative;
    top: 5px;
    margin-left: 1px;
}
div.breadcrumbs li.bc_item {
    margin-left: 1px !important;
}

/* SQL BlackBox details page */
div.topRightPageLinks div.datetime {
    padding-top: 5px;
    font-size: 8pt;
    text-align: right;
}
div.topRightPageLinks a.editObjectLink {
    background-image: url('/Orion/APM/Images/Button.EditApplication.gif');
    background-position: center left;
    background-repeat: no-repeat;
    padding: 2px 0px 2px 20px;
}
div.title {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0 10px 15px;
}
div.title img {
    position: relative;
    top: 3px;
}
div.period {
    padding: 0 0 10px 18px;
}

/* ApmCustomQueryTable - support for displaying a record in two rows */
table.doubleRows tr.odd td {
    border-bottom: 1px solid #ddd;
    padding-bottom: 3px;
}
table.doubleRows tr.even td {
    border-bottom: 1px dashed #ccc;
    padding-top: 5px;
}

/* SolarWinds suggestions extending */
.sw-suggestion a {
    color: #369;
}

/* TimePeriod picker usercontrol style */
div.periodPicker {
    z-index: 1100;
    border: 1px solid gray;
    border-radius: 5px;
    border-collapse: collapse;
    padding: 5px;
    background-color: #ffc;
    position: absolute;
    line-height: 20px;
    text-align: left;
    display: none;
    width: 270px;
}
div.periodPicker div.periodSelector div.title {
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
}
div.periodPicker div.periodSelector div.radioButtonDivContent {
    margin-left: 18px;
    margin-right: 5px;
}
div.periodPicker div.periodPickerButtons a.PeriodSubmitButton {
    margin-left: 6px;
}
div.periodPicker div.periodSelector {
    padding-left: 3px;
    padding-right: 3px;
}
div.periodPicker div.periodSelector div.radioButtonDivContent {
    margin-bottom: 5px;
}
div.periodPicker div.periodSelector div.radioButtonDivContent div img {
    width: 16px;
    height: 16px;
    margin-bottom: -4px;
}
div.periodPicker div.periodSelector div.radioButtonDivContent input {
    margin-bottom: 2px;
}
div.periodPicker div.periodPickerButtons {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 8px;
}
div.periodPicker div.periodSelector label {
    vertical-align: middle;
    padding-left: 5px;
}
div.periodPicker div.periodSelector input[type="radio"] {
    vertical-align: text-bottom;
}
div.periodPicker div.periodSelector a.apmValIcon {
    background-image: url("/Orion/APM/images/exclamation.gif");
    background-position: left center;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    padding: 5px 0 2px 20px;
}
div.period a.periodIcon {
    background-image: url("/Orion/APM/Images/dropdown_blue.gif");
    background-repeat: no-repeat;
    background-position: left center;
    height: 16px;
    width: 16px;
    padding: 2px 0 2px 20px;
    margin-left: 5px;
}

/* Note at the bottom of Views */
.contentNote {
    font-size: 9px;
    text-align: center;
    color: #979797;
}

span.editXX {
    padding-right: 20px;
    font-weight: bold;
}

/* Component Details Resource */
.apm_TableLayoutFixed {
    table-layout: fixed;
}

.apm_WrapLines {
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    word-wrap: break-word;      /* IE 5+ / CSS 3.0 */
}

.componentListTitle {
    font-weight: bold;
}

td.StatusColumn {
    text-align: center;
}

tr.MoreRow {
    background-color: #e2e1d4;
}
tr.MoreRow td {
    text-align: center;
}

/* explicit zebra striping */
.apm_NeedsZebraStripes:not(.odd) .zebraRow:nth-of-type(even),
.apm_NeedsZebraStripes.odd .zebraRow:nth-of-type(odd) {
    background-color: #f6f6f6;
}
/* to match core CustomQueryTable */
table.apm_NeedsZebraStripes > tbody > tr > td {
    border-color: transparent;
    padding: 7px;
}

table.apm_ComponentList {
    margin-top: 1em;
}
table.apm_ComponentList tr td:nth-child(n-1) {
    padding-right: 0;
}
table.apm_ComponentList tr.detail td {
    padding-top: 0;
}
