﻿/* Start */
.Event500, .Event533
{ 
font-weight: normal;
}
.EventImageCell500, .EventImageCell533
{
background-color: #c0c0ff;
}

/* Information Events */
.Event502, .Event504, .Event506
{ 
font-weight: normal;
}
.EventImageCell502, .EventImageCell504, .EventImageCell506
{
background-color: #c0ffc0;
}

/* Error Events */
.Event501, .Event505, .Event507, .Event509
{ 
font-weight: normal;
}
.EventImageCell501, .EventImageCell505, .EventImageCell507, .EventImageCell509
{
background-color: #ffc0c0;
}

/* Warning Events */
.Event503, .Event508, .Event510, .Event534
{ 
font-weight: normal;
}
.EventImageCell503, .EventImageCell508, .EventImageCell510, .EventImageCell534
{
background-color: #ffffc0;
}

/* Unmanaged event */
.Event511
{ 
font-weight: normal;
}
.EventImageCell511
{
background-color: #ffffc0;
}

/* Managed event */
.Event512
{ 
font-weight: normal;
}
.EventImageCell512
{
background-color: #c0c0ff;
}

/* Unreachable event */
.Event513
{ 
font-weight: normal;
}
.EventImageCell513
{
background-color: #c0c0c0;
}
