﻿.Chart .Title
{
	text-align: center;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14pt;
}

.Chart .Subtitle, .Chart .Timespan
{
	text-align: center;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
}

.Chart .Percentile, .Chart .Timezone, .Chart .ChartCopyright
{
	text-align:left;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 7pt;
	margin-left: 1em;
}

.Chart .IgWrapper
{
	cursor: pointer;
}

.Chart .NoData
{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* 
 * There is a layout problem on IE6 with the chart controls.  The charts appear shifted
 * up by a few hundred pixels.  This is because ~/Orion/styles/MainLayout.css defines 
 * #container to have a relative position.  We don't need the position to be relative, so
 * we'll set it back to the default value (static).  Once Orion fixes this in MainLayout.css,
 * this style can be removed.
 */
#container
{
	position: static;
}

