﻿/*  ========== FileUploadField ==========  */
@import url("/Orion/SEUM/Styles/FileUploadField.css");

/*  ========== SEUM styles ==========  */
#adminContent h1 
{
    font-size: 18px;
    padding-bottom: 10px;
}

#adminContent p
{
    font-size: small;
    padding: 0 0 1em 0;
    width: 100%;
}

.searchHighlight
{
    background-color: #ffe89e;
}

.SEUM_WorkflowButtons
{
    text-align: right;
    margin: 1em;
}

.SEUM_StandardButtons
{
    margin: 1em;
}

.SEUM_NotificationPanel
{
    margin-bottom: 1em;
    font-size: 12px;
}

.ManageTransactionMonitorsNotificationPanel {
    display: block;
    font-size: 12px;
    color: black;
    padding-left: 36px;
}

.ManageTransactionMonitorsNotificationPanel .sw-suggestion-icon 
{
    top: 10px;
    left: 10px;
}

.ManageTransactionMonitorsNotificationPanel a,
.ManageTransactionMonitorsNotificationPanel a:active 
{
    font-size: 12px;
}

.ManageTransactionMonitorsNotificationPanel .info 
{
    font-size: 12px;
    color: gray;
}

.SEUM_NotificationPanel .SEUM_HelpLinkButton,
.SEUM_HelpLinkButton:active,
.SEUM_HelpLinkButton:visited,
.SEUM_HelpLinkButton:hover {
    background-color: #297994;
    color: white;
    padding: 6px 28px;
    margin: 15px 0 5px 0;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}

.SEUM_ManageTransactionMonitorsHelpLink {
    position: relative;
    float: right;
    font-size: 10pt;
    text-transform: uppercase;
    text-align: right;
    top: 10px;
}

.SEUM_AdminDateArea {
    position: relative;
    left: 0px;
    float: right;
    margin: 0px;
    border-width: 0px;
    font-size: 8pt;
    text-align: right;
    padding-right: 10px;
}

.SEUM_TitleBarDate 
{
    padding-top: 5px; 
    font-size: 8pt;
    margin: 0px;
}

.SEUM_ExtJsGrid td
{
    vertical-align: middle !important;
}

/* this is needed because SEUM reuses the adminContent css */
.SEUM_ExtJsGrid .x-grid3-row-table td {
    padding-left: 1px !important;
}

.SEUM_AdminTabs .x-tab-strip-text 
{ 
    font-size: 13px !important; 
}

.SEUM_Tab 
{
	border: solid 1px #DFDFDE;
    border-top:medium none !important;
    padding:1em;
    background:white url(/Orion/SEUM/images/tab.top.gif) repeat-x scroll left top !important;
}

.SEUM_TransactionPropertiesBlock
{
    border-bottom: 1px solid #d8d6d1;
    margin: 0em 1em;
    padding: 0.5em 0em;
}

.SEUM_TransactionPropertiesBlock .SEUM_TransactionName
{
    text-transform: uppercase;
    font-weight: bold;
}

.SEUM_TransactionPropertiesBlockContent
{
    margin: 1em;
}

.SEUM_TransactionPropertiesBlockContent .sw-suggestion
{
    margin-bottom: 0.5em;
}

.SEUM_TransactionPropertiesTable
{
    width: 100%;
}

.SEUM_TransactionPropertiesTable td
{
    vertical-align: middle !important;
}

.SEUM_TransactionPropertiesTable th
{
    width: 150px;
    vertical-align: top;
    padding-top: 5px;
}

.SEUM_TransactionDescriptionBox
{
    width: 30em;
}

.SEUM_YesOptionClass
{
    background-image:url(/Orion/images/ok_16x16.gif) !important;
}

.SEUM_NoOptionClass
{
    background-image:url(/Orion/images/failed_16x16.gif) !important;
}

.SEUM_FormLabel
{
    font-weight: bold;
    padding-right: 2em !important;
}

/* --> Steps Threshods Table */

.SEUM_StepsThresholdsTable
{
    border-collapse: separate;
    border-spacing:0px;
}

.SEUM_StepsThresholdsTable th
{
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px !important;
    vertical-align: middle;
    width: auto;
}

.SEUM_StepsThresholdsTable th img
{
    vertical-align: middle;
}

.SEUM_StepsThresholdsTable td
{
    padding: 5px 10px !important;
    vertical-align: middle !important;
}

.SEUM_StepsThresholdsTable td img
{
    float: left;
}

.SEUM_StepsThresholdsTable .SEUM_StepWarning 
{
    display: inline-block;
    background: transparent url('/Orion/SEUM/Images/StatusIcons/Small-Transaction-Step-Warning.gif') no-repeat center left;
    padding-left: 28px;
}

.SEUM_StepsThresholdsTable .SEUM_StepCritical
{
    display: inline-block;
    background: transparent url('/Orion/SEUM/Images/StatusIcons/Small-Transaction-Step-Critical.gif') no-repeat center left;
    padding-left: 28px;
}

.SEUM_StepsThresholdsTable .SEUM_StepTypical
{
    display: inline-block;
    background: transparent url('/Orion/SEUM/Images/Icon.StepThresholdTypical.png') no-repeat center left;
    padding-left: 28px;
}

.SEUM_StepsThresholdsTable tr.SEUM_HelpRow, .SEUM_StepsThresholdsTable tr.SEUM_HelpRow td
{
    margin: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 2px !important;
}

.SEUM_StepsThresholdsTable tr:first-child 
{
    background: transparent url('/Orion/SEUM/Images/Table.Header.Bar.png') repeat-x top left;
}

.SEUM_LeftBorder 
{
    border-left-style: solid !important;
    border-left-width: 2px !important;
}

.SEUM_RightBorder
{
    border-right-style: solid!important;
    border-right-width: 2px!important;
}

.SEUM_TopBorder 
{
    border-top-style: solid !important;
    border-top-width: 2px !important;
}

.SEUM_BottomBorder
{
    border-bottom-style: solid !important;
    border-bottom-width: 2px !important;
}

.SEUM_DarkBorder 
{
    border-color: #d4e1e8 !important;
}

.SEUM_LightBorder 
{
    border-color: #fff !important;
}

.SEUM_StepsThresholdsTable input[disabled] 
{
    background: #ccc;
    color: #555;
}

.SEUM_NoWrap 
{
     white-space: nowrap;
}

/* <-- Steps Thresholds Table */

/* --> Transaction Advanced settings */

.sw-seum-settings-screenshots 
{
    margin-top: 20px;
}

.sw-seum-settings-screenshots table
{
    margin: 10px 0px 10px 0px;
}

#adminContent .sw-seum-settings-screenshots table td 
{
    padding-bottom: 0px;
}

.PlayerSettings .sw-seum-settings-screenshots label
{
    display: inline;
    padding: 0px 30px 0px 5px;
}

.sw-seum-settings-screenshots div 
{
    margin-bottom: 10px;
}

/* <-- Transaction Advanced settings */

.SEUM_ErrorsList
{
    margin: 1em !important;
    list-style-position: inside;
    list-style-type: disc;
    color: Red;
}

.SEUM_ErrorText
{
    color: Red;
}

.SEUM_Hidden
{
    display: none;
}

.SEUM_DisabledText, .SEUM_DisabledText a
{
    color: #a8a6a1 !important;
    font-style: italic;
}

.SEUM_DisabledText a.SEUM_EnabledLink
{
    color: #336699 !important;
    font-style: italic;
    text-decoration: underline !important;
}

.SEUM_OptimalColumn
{
    border-left: #fff 15px solid !important;
    width: 150px !important;
}

.SEUM_WarningColumn
{
    width: 100px !important;
}

.SEUM_CriticalColumn
{
    width: 100px !important;
}

th.SEUM_WarningColumn, th.SEUM_CriticalColumn, th.SEUM_OptimalColumn
{
    text-align: center !important;
}

.SEUM_OptimalColumn .SEUM_HelpLink, .SEUM_OptimalColumn .SEUM_HelpText
{
    text-transform: none;
    font-weight: normal;
}

.SEUM_LicenseUsage
{
    text-align: right;
    font-size: 8pt;
    margin-top: 0.8em;
}

#SEUM_SettingsTable
{
    margin: 5px;
}

#SEUM_SettingsTable h2
{
    margin: 0px 0px;
    font-weight: normal;
}

#SEUM_SettingsTable td
{
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    vertical-align: middle;
}

#SEUM_SettingsTable li 
{
    padding: 3px 0px 3px 0px;
}

#SEUM_SettingsTable label
{
    padding-left: 3px;
}
/* ========== Manage Monitors Data Grid ========== */
/* toolbar icons */
button.SEUM_AddMonitorButton
{
    background-image:url(/Orion/images/add_16x16.gif) !important;
}
button.SEUM_EditMonitorButton
{
    background-image:url(/Orion/images/edit_16x16.gif) !important;
}
button.SEUM_DeleteMonitorButton
{
    background-image:url(/Orion/images/delete_16x16.gif) !important;
}
button.SEUM_EnableMonitorButton
{
    background-image:url(/Orion/SEUM/images/icon_remanage.gif) !important;
}
button.SEUM_DisableMonitorButton
{
    background-image:url(/Orion/SEUM/images/icon_manage.gif) !important;
}
button.SEUM_AddMonitorButton
{
    background-image:url(/Orion/SEUM/Images/Icon.AddMonitor.gif) !important;
}
button.SEUM_PlayNowButton 
{
    background-image:url(/Orion/images/pollnow_16x16.gif) !important;
}

/* ========== Manage Recordings Data Grid ========== */
/* toolbar icons */
button.SEUM_ImportRecordingButton
{
    background-image:url(/Orion/SEUM/images/Icon.ImportRecording.gif) !important;
}
button.SEUM_ExportRecordingButton
{
    background-image:url(/Orion/SEUM/images/Icon.ExportRecording.gif) !important;
}
button.SEUM_EditRecordingButton
{
    background-image:url(/Orion/images/edit_16x16.gif) !important;
}
button.SEUM_ManageRecordingRelationsButton
{
    background-image:url(/Orion/SEUM/images/Icon.AssignNode.gif) !important;
}
button.SEUM_DeleteRecordingButton
{
    background-image:url(/Orion/images/delete_16x16.gif) !important;
}

.SEUM_ImportRecordingWindow .x-panel-body, .SEUM_EditRecordingWindow .x-panel-body
{
    padding: 1em;
}

.SEUM_EditRecordingDescription
{
    background-color: #ffffff;
}

.SEUM_EditRecordingDescription p
{
    padding: 0.3em 0em;
}

.SEUM_EditRecordingDescription p.SEUM_First, .SEUM_EditRecordingDescription div.SEUM_First
{
    padding-top: 0px !important;
}

#SEUMopenRecordingLink
{
    color:#0079aa; 
}

.SEUM_InvalidRecordingFileField
{
    color: Red;
    font-weight: bold;
}

.SEUM_RecordingExportPasswordFields
{
    padding: 1em;
    background-color: #EAF7FE;
    width: 375px !important;
}

.SEUM_RecordingExportPasswordFields .x-form-item-label, .SEUM_RecordingImportPasswordFields .x-form-item-label
{
    width: 120px !important;
}

.SEUM_RecordingExportPasswordFields .x-form-element, .SEUM_RecordingImportPasswordFields .x-form-element
{
    padding-left: 120px !important;
}

.SEUM_RecordingImportPasswordFields
{
    padding: 5px 10px; 
    background-color: #EAF7FE;
    width: 395px !important;
}
.SEUM_RecordingImportPasswordFields .x-form-item 
{
    margin: 0px;
}

.SEUM_ExportRecordingForm form
{
    padding-top: 0px !important;
}

.SEUM_ImportPasswordHelpText 
{
    padding-left: 125px !important;
    padding-top: 0px !important;
    width: auto !important;
}


/* grid content */
.x-grid3-body .x-grid3-td-expander
{
    background:transparent;
}

.x-grid3-col-checker
{
    text-align: center;
}

.tree-grid-expander-expand
{
    width: 16px !important;
    height: 16px !important;
    background-image: url(/Orion/images/Button.Expand.Arrow.gif) !important;
    background-position: left;
}
.tree-grid-expander-expand:hover
{
    background-position: right;
}

.tree-grid-expander-collapse
{
    width: 16px;
    height: 16px;
    background-image: url(/Orion/images/Button.Collapse.Arrow.gif) !important;
    background-position: left;
}
.tree-grid-expander-collapse:hover
{
    background-position: right;
}

.tree-grid-expander-dummy
{
    padding-left: 18px;
    display: inline-block;
}

.tree-grid-indent-block
{
    padding-left: 20px;
    display: inline-block;
}

.x-grid-empty
{
    text-align: center;
    font-size: medium;
}

.x-grid3-cell-inner
{
    padding: 5px;
}
.x-grid3-cell-inner img
{
    vertical-align: middle;
}

.x-grid3-cell-inner .SEUM_HoverHelpLink
{
    margin-left: 5px;
}

.x-grid3-col-credential-test {
    padding-top: 0px;
    padding-bottom: 0px;
}

.SEUM_NotificationGridRow
{
    background-color: #fff7cd;
}

/* ========== Grid search field ========== */
.x-form-search-trigger
{
    background-image: url(/Orion/images/search_button.gif) !important;
    background-position: center center !important;
    height: 20px !important;
    width: 20px !important;
}

.x-form-field-wrap .x-form-clear-trigger
{
    background-color: transparent;
    background-image: url(/Orion/images/clear_button.gif) !important;
    background-position: center center !important;
    height: 20px !important;
    width: 20px !important;
}

/* ========== Manage Agents Data Grid ========== */
/* toolbar icons */
button.SEUM_AddAgentButton
{
    background-image:url(/Orion/images/add_16x16.gif) !important;
}
button.SEUM_AddAgentInCloudButton
{
    background-image:url(/Orion/SEUM/Images/add_cloud_location_16x16.png) !important;
}
button.SEUM_EditAgentButton
{
    background-image:url(/Orion/images/edit_16x16.gif) !important;
}
button.SEUM_DeleteAgentButton
{
    background-image:url(/Orion/images/delete_16x16.gif) !important;
}
button.SEUM_UpdateAgentButton
{
    background-image:url(/Orion/SEUM/Images/Icon.ForcePlayerUpdate.png) !important;
}
button.SEUM_DeployAgentButton
{
    background-image:url(/Orion/SEUM/Images/Icon.ForcePlayerDeploy.png) !important;
}

ul.SEUM_LocationDeleteList li, ul.SEUM_RecordingsDeleteList li
{
    list-style-type: disc;
    list-style-position: inside;
}

.SEUM_ActiveAgentsNotificationLabel
{
    background-color: transparent;
    margin-right: 1em;
}

/* ========== Edit Agents ========== */
.SEUM_EditBox
{
    width: 250px;
}

select.SEUM_EditBox 
{
    width: 182px;
}

.SEUM_ProxySettings
{
    padding: 5px 5px 5px 26px;
    background-color:#E4F1F8;
}

#SEUM_TestDetail
{
    font-weight: normal !important;
}

#ToggleTroubleshootDiv
{
    margin-top: 5px;
    cursor: pointer;
}

#ToggleAdvancedDiv
{
    cursor: pointer;
}

.PlayerSettings 
{
    padding: 1em;
}

.PlayerSettings label
{
    display: block;
}

.PlayerSettings label input
{
    margin-right: 0.5em;
}

.PlayerSettings .SEUM_HelpText
{
    margin-left: 20px;
}

.PlayerSettings .SEUM_EditBox
{
    margin-bottom: 0.5em;
}

#SEUM_ToggleAdvancedPassiveDiv, #SEUM_ToggleAdvancedActiveDiv
{
    cursor: pointer;
}

#SEUM_PlayerAdvancedPassiveSettings, #SEUM_PlayerAdvancedActiveSettings, #SEUM_ProxySettings
{
    margin: 5px 0 0 20px;
}

.SEUM_PlayerAdvancedSettings
{
    padding: 10px;
    background-color:#E4F1F8;
    margin: 0.5em 0 0.5em 20px;
    width: 400px;
}

.SEUM_PlayerSettingsSectionLabel
{
    margin: 1em 0 0.5em 0;
    display: block;
}

#ToggleTroubleshootDiv
{
    margin-top: 1em;
    font-weight: bold;
}

#TroubleshootDiv, #TroubleshootDivLoading
{
    padding: 10px;
    background-color:#FFFFFF;
    background-color:#E4F1F8;
}

#SEUM_TestResults, #SEUM_TestProgress, #TroubleshootDivError, #SEUM_PlayerRelatedNodes
{
    margin-top: 1em;
    display: block;
}
#SEUM_PlayerRelatedNodes #SEUM_PlayerRelatedNodes_Selector
{
    margin: 0.5em 0 0 20px;
}

.SEUM_EditAgentButtons
{
    margin-top: 1em;
}

.SEUM_EditRecording_Buttons
{
    margin-top: 1em;
    text-align: right;
}

#SEUM_DiagnosticsStatus
{
    color: #646464;
}

.SEUM_ValidationError
{
    display: block;
    margin-bottom: 0.5em;
}

.SEUM_AgentTestButton
{
    margin-top: 1em;
}

/* ========== Ext Form styling ========== */
.SEUM_ExtJSSelectInlineBlock .x-form-field-wrap 
{
    display: inline-block;
    *display: inline;      /* IE hack, IE is ignoring inline-block for block elements */
}

.SEUM_ExtJSSelectInlineBlock .ext-gecko .x-form-field-wrap .x-form-trigger, .SEUM_ExtJSSelectInlineBlock .ext-gecko .x-form-field-wrap .x-form-date-trigger
{
    top: -1px;
}

.x-form
{
    background-image: none !important;
}

/* =========== Location wizard styling ============= */
#adminContent .sw-seum-radiolist tr
{
    margin: 15px 0 15px 0px;
}

#adminContent hr.sw-seum-line 
{
    border: 0;
    color: #ccc;
    background-color: #ccc;
    height: 1px;
}

#adminContent .sw-seum-nodes-table 
{
    width: 100%;
}

#adminContent .sw-seum-nodes-table .sw-seum-first-column 
{
    padding-right: 15px;
}

#adminContent .sw-seum-nodes-table .sw-seum-first-column p
{
    margin-top: 10px;
}

#adminContent .sw-seum-nodes-table .sw-seum-second-column 
{
    padding: 0;
    width: 20%;
    min-width: 280px;
}

#adminContent .sw-seum-nodes-table .sw-seum-enter-host 
{
    background-color: #e4f1f8;
    padding: 13px;
    vertical-align: middle;
}

#adminContent .sw-seum-nodes-table .sw-seum-locations-header 
{
    background-color: #fffdcc;
    padding: 13px;
    vertical-align: middle;
}

#adminContent .sw-seum-nodes-table .sw-seum-locations-header a:hover 
{
    color: Black;
}

#sw-seum-hosts-list 
{
    background-color: #fffdcc;
    padding-left: 28px;
}

button.SEUM_AssignCredentialsButton 
{
    background-image: url('/Orion/images/icon_assign_cred_16x16.gif') !important;
}
.SEUM_TestCredentialsButton {
    background-image: url('/Orion/SEUM/images/test_credentials_16x16.png') !important;
}

.sw-seum-credential-window 
{
    padding: 10px;
}

.sw-seum-credential-window table 
{
    margin-top: 12px;
}

.sw-seum-credential-window table tr.sw-seum-first-row td
{
    padding-bottom: 15px;
}

#DeploymentSettingsGrid .x-grid3-cell-selected 
{
    background-color: transparent!important;
}

#adminContent .sw-seum-editable-cell div 
{
    margin: 2px;
    padding: 2px;
    border: 1px solid #ccc;
    background-color: White!important;
    cursor: text;
}

#adminContent .sw-seum-combobox-cell div
{
    margin: 2px;
    padding: 2px;
    border: 1px solid #ccc;
    background-color: White!important;
    background-image: url('/Orion/images/breadcrumb_arrow_d.gif');
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#sw-seum-deployment-wizard h2 
{
    padding-bottom: 15px;
}

.sw-seum-message-block div
{
    margin: 5px 0px 5px 0px;
}

.SEUM_AssignObjectsControl_Table
{
    border: none;
    margin-left: 10px;
}
.SEUM_AssignObjectsControl_Table td
{
    padding: 4px;
}
.SEUM_AssignObjectsControl_Table_StatusIconCell
{
    padding: 4px 0 4px 4px;
}
.SEUM_AssignObjectsControl_Table_DeleteCell
{
    padding: 4px 4px 4px 4px;
}
.SEUM_AssignObjectsControl_DeleteItemButton
{
    height: 16px;
    width: 16px;
    background: url('/Orion/images/delete_16x16.gif');
    border: none;
    float: left;
    margin: 0 5px;
    cursor: pointer;
}   
.SEUM_AssignObjectsControl_AddButton
{
    border: 2px #DFDFDE dashed;
    padding: 6px 6px 6px 24px;
    background: transparent url('/Orion/images/add_16x16.gif') 4px 4px no-repeat;
    cursor: pointer;
}
.SEUM_AssignObjectsControl_AddButton:hover
{
    background-color: #DFDFDE;
}
.SEUM_AssignObjectsControl_EditButton
{
    text-decoration: underline;
    color:#336699;
}
.SEUM_AssignObjectsControl_EditButton:hover
{
    color:#4477BB;
}

#SEUM_EditRecording_Hint p:last-child
{
    padding: 0;
}
#SEUM_EditRecording_RecordingName,
#SEUM_EditRecording_RelatedEntities
{
    margin: 1em 0;
}
#SEUM_EditRecording_RecordingName .SEUM_EditRecording_RecordingNameLabel
{
    font-weight: bold;
}

#SEUM_RelatedEntitiesSelection
{
    margin: 0 1em;
}

#SEUM_RelatedEntitiesSelection_Radios label
{
    display: inline-block;
    padding: 0 0 1em 0;
}

#SEUM_RelatedEntitiesSelection_Radios,
#SEUM_RelatedEntitiesSelection
{
    padding: 0.5em 0;
}

.SEUM_RelatedEntitiesSelection_SelectorsContainer
{
    overflow: auto;
}

.SEUM_RelatedEntitiesSelection_Selector 
{
    margin-right: 2em;
    float: left;
    min-width: 250px;    
}

#SEUM_RelatedEntitiesSelection_TransactionsLabel
{
    font-size: 1.1em;
    margin-bottom: 0.5em;
}

.SEUM_RelatedEntitiesSelecion_Block
{
    border-bottom: 1px solid #CCC;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
}

#SEUM_RelatedEntitiesSelection .SEUM_RelatedEntitiesSelection_Label 
{
    font-weight: bold;
}

.SEUM_SingleLocationRelatedEntitiesSelection .SEUM_RelatedEntitiesSelection_SelectorsContainer 
{
    margin-left: 0;    
}

#SEUM_EditMonitor_RelatedEntities
{
    margin: 1em 0 0 0;
}

.SEUM_RelatedEntitiesSelection_Transaction {
    margin: 10px 0 0 30px;
}

.SEUM_RelatedEntitiesSelection_Transaction > div {
    margin: 1em 0;
}

.SEUM_RelatedEntitiesSelection_StepsTable {
    border-collapse: collapse;
	border-spacing: 0;
}

.SEUM_RelatedEntitiesSelection_StepsTable .SEUM_RelatedEntitiesSelection_StepsTable_Row:nth-child(odd) {
    background-color: #F5F5F5;
}

.SEUM_RelatedEntitiesSelection_StepsTable td.SEUM_RelatedEntitiesSelection_StepsTable_CaptionCell {
    vertical-align: top !important;
    font-weight: bold;
}

.SEUM_RelatedEntitiesSelection_StepsTable_Row > td {
    padding: 1em !important;
}


