﻿<%@ Master Language="C#" MasterPageFile="~/Orion/SEUM/Admin/SEUMAdminPage.master" AutoEventWireup="true" CodeFile="SEUMManagementPage.master.cs" Inherits="Orion_SEUM_Admin_SEUMManagementPage" %>

<%@ Register Src="~/Orion/SEUM/Controls/AdminTabs.ascx" TagPrefix="SEUM" TagName="AdminTabs" %>

<asp:Content ID="Content1" ContentPlaceHolderID="adminHeadPlaceholder" Runat="Server">
    <asp:ContentPlaceHolder runat="server" ID="adminHeadPlaceholder" />
    <style type="text/css">
        ul.x-tab-strip 
        {
            width: auto;
        }
    </style>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="adminContentPlaceholder" Runat="Server">
    <asp:ContentPlaceHolder runat="server" ID="adminContentHeaderPlaceholder" />

    <SEUM:AdminTabs ID="AdminTabBar" runat="server" Visible="true"></SEUM:AdminTabs>

    <div id="tabPanel" class="SEUM_Tab">
       <asp:ContentPlaceHolder runat="server" ID="adminContentPlaceholder" /> 
    </div>
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="TopRightPageLinks" runat="Server">
    <asp:ContentPlaceHolder ID="TopRightPageLinks" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>

