﻿/* Tooltip begin */
.TooltipLinkPlace
{
    position:relative;
    margin: 0 5px 10px;
    text-align:right;	
}

.TooltipLinkPlace a[href]:visited
{
    color: #336699;
}

.TooltipLink
{
    color:#336699;
    font-size: 11px;
    text-decoration: underline;
    margin-left: 5px;
}

.TooltipLink img
{
    margin-right: 5px;
}

.TooltipIcon
{
    position: absolute; left: 10px; top: 10px; height: 18px; width: 16px;
    background: url(/orion/images/ToolTip/Ninja_icon_32.png) top left no-repeat;
    border: none;
}
.TooltipTitle
{
    font-size: 12px;
    font-weight: bold;
    color: #00a6d9;
    text-align: left;
    padding-top: 5px;
    padding-left: 24px;
}
.TooltipSubTitle
{
    font-size: 12px;
    font-weight: bold;
    color: #444444;
    padding-left: 24px;
    text-align: left;
}
.TooltipText
{
    font-size: 12px;
    color: #444444;
    text-align: left;
    padding-top: 12px;
	padding-left: 24px;
}
.TooltipFooter
{
    font-size: 9px;
    color: #444444;
    text-align: left;
    padding-top: 14px;
	padding-left: 24px;
}
.TooltipArrow
{
    z-index: 4002;
    width: 16px;
    height: 17px;
    background-image: url(/orion/images/ToolTip/Ninja_Tooltip_Arrow.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
}
.TooltipBody
{
    z-index: 4001;
    font-style: normal;
    max-width: 300px;
    white-space: normal;
    border: 1px solid #848484;
    margin-right: 15px;  
      /* fallback */
      background-color: #d2d2d2;
      background-repeat: repeat-x;
  
      /* Safari 4-5, Chrome 1-9 */
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cccccc), to(#f2f2f2));
  
      /* Safari 5.1, Chrome 10+ */
      background: -webkit-linear-gradient(bottom, #cccccc, #f2f2f2);
  
      /* Firefox 3.6+ */
      background: -moz-linear-gradient(bottom, #cccccc, #f2f2f2);
  
      /* IE 10 */
      background: -ms-linear-gradient(bottom, #cccccc, #f2f2f2);
   
      /* Opera 11.10+ */
      background: -o-linear-gradient(bottom, #cccccc, #f2f2f2);
      
      
      -moz-box-shadow: inset 1px 1px 3px rgba(255,255,255,0.75);
      -webkit-box-shadow: inset 1px 1px 3px rgba(255,255,255,0.75);
      box-shadow: inset 0px 0px 3px rgba(255,255,255,0.75);
}
.Tooltip
{
    position: fixed;
    z-index: 4000;
}

#toolTip span img {
    vertical-align: middle;
}


.sw-suggestion-pass
{
    border: 1px solid #00A000;
}

.sw-suggestion-pass a
{
    font-weight: normal;
    color: #336699;
    text-decoration: underline;
}

/* Tooltip end */