/*!
 * @solarwinds/scm 2020.2.5
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.scm-baseline-tag {
  color: #FFFFFF !important;
  background-color: #AAAAAA !important;
}
.scm-no-change-tag {
  border-color: #e6eff3 !important;
  background-color: #e6eff3 !important;
}
.id-baseline-indication,
#baseline-indication {
  white-space: nowrap;
}
.id-baseline-indication svg,
#baseline-indication svg {
  pointer-events: none;
}
.id-baseline-indication .id-NoBaselineSet,
#baseline-indication .id-NoBaselineSet {
  color: rgba(118, 118, 118, 0.5);
}
.id-baseline-indication .id-IsBaseline,
#baseline-indication .id-IsBaseline,
.id-baseline-indication .id-MatchesBaseline,
#baseline-indication .id-MatchesBaseline,
.id-baseline-indication .id-src-IsBaseline,
#baseline-indication .id-src-IsBaseline,
.id-baseline-indication .id-src-MatchesBaseline,
#baseline-indication .id-src-MatchesBaseline,
.id-baseline-indication .id-dst-IsBaseline,
#baseline-indication .id-dst-IsBaseline,
.id-baseline-indication .id-dst-MatchesBaseline,
#baseline-indication .id-dst-MatchesBaseline {
  color: #30B230;
}
.id-baseline-indication .id-dst-MatchesBaseline,
#baseline-indication .id-dst-MatchesBaseline {
  padding-left: 25px;
}
.scm-empty-content-tag {
  border-color: #f0f0f0 !important;
  background-color: #f0f0f0 !important;
}
.scm-config .row-flex {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.scm-config .col-flex {
  flex: 0 0 auto;
}
.scm-config .col-flex:not(:last-child) {
  margin-right: 5px;
}
.scm-config .col-flex.grow {
  flex-grow: 1;
}
.scm-config .col-flex.shrink {
  flex-shrink: 1;
  -ms-overflow-x: hidden;
  -ms-overflow-y: hidden;
}
.scm-config .col-flex.full {
  width: 100%;
}
.scm-config .col-flex.space {
  flex-grow: 1;
  margin: 0;
}
.scm-config-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-items: center;
}
.scm-config-row:hover:not(.header) {
  background-color: #f6f6f6;
}
.scm-config a.scm-config-row {
  text-decoration: none;
  align-items: stretch;
}
.scm-config .tracer,
.scm-config .spacer,
.scm-config .expander {
  width: 20px;
}
.scm-config .element.name {
  margin-left: 7px;
}
.scm-config .col-flex.tracer {
  border-left: 2px dotted #D5D5D5;
  margin-right: -3px;
  margin-left: 13px;
}
.scm-config .row-content {
  border-top: 1px solid #D5D5D5;
  border-bottom: 1px solid #D5D5D5;
  margin-top: -1px;
  height: 30px;
  padding: 5px 0;
  flex: 1 1 20px;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
}
.scm-list {
  display: block;
}
.scm-list--bordered {
  border: 1px solid #D5D5D5;
}
.scm-list--bordered .xui-grid__toolbar-container-panel:not(.xui-grid__toolbar--active) {
  margin-top: -1px;
}
.scm-list--bordered-items .list-group > .list-group-item {
  border-top: 1px solid #D5D5D5;
  border-bottom: 1px solid #D5D5D5;
  margin-top: -1px;
}
.xui-dialog .scm-list--stretched {
  margin: -15px;
}
.scm-list-item {
  display: flex;
  align-items: flex-start;
  line-height: 16px;
  padding-top: 5px;
}
.scm-list-item > .item-part:not(:last-child) {
  margin-right: 5px;
}
.scm-list-item .xui-icon {
  flex: 0 0 auto;
  margin-top: 0;
}
.scm-list-item .scm-profile-name {
  line-height: 16px;
  font-size: 12px;
  font-family: 'Open Sans';
  color: #333333;
  font-weight: 700;
  overflow: hidden;
}
.scm-list-item .scm-node-name {
  line-height: 16px;
  font-size: 12px;
  font-family: 'Open Sans';
  color: #333333;
  font-weight: 700;
  color: #0079AA;
  overflow: hidden;
}
.scm-list-item.scm-list-item--continuation {
  padding-top: 0;
}
.xui-listitem__select-content .scm-lineup-with-select {
  margin-top: 3px;
}
scm-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
}
scm-grid scm-row {
  /** Row as a child **/
  flex: 0 0 auto;
  width: 100%;
  /** Row as a container **/
  display: flex;
  flex-direction: row;
  align-items: center;
}
scm-grid scm-row[reverse] {
  flex-flow: row-reverse;
}
scm-grid scm-row[wrap] {
  flex-wrap: wrap;
}
scm-grid scm-row[align-items-start] {
  align-items: flex-start;
}
scm-grid scm-row[align-items-center] {
  align-items: center;
}
scm-grid scm-row[align-items-end] {
  align-items: flex-end;
}
scm-grid scm-row[align-items-stretch] {
  align-items: stretch;
}
scm-grid scm-row[align-items-baseline] {
  align-items: baseline;
}
scm-grid scm-row[justify-content-start] {
  justify-content: flex-start;
}
scm-grid scm-row[justify-content-center] {
  justify-content: center;
}
scm-grid scm-row[justify-content-end] {
  justify-content: flex-end;
}
scm-grid scm-row[justify-content-around] {
  justify-content: space-around;
}
scm-grid scm-row[justify-content-between] {
  justify-content: space-between;
}
scm-grid scm-row > scm-col {
  /** Col as a child **/
  flex: 1 1 auto;
  min-width: 0;
  -ms-overflow-y: hidden;
}
scm-grid scm-row > scm-col[scm-col-auto] {
  flex: 0 0 auto;
}
scm-grid scm-row > scm-col[no-grow] {
  flex-grow: 0;
}
scm-grid scm-row > scm-col:not(:last-child) {
  margin-right: 5px;
}
scm-grid scm-row > scm-col[no-margin] {
  margin-left: 0;
  margin-right: 0;
}
scm-grid scm-row > scm-col[align-self-start] {
  align-self: flex-start;
}
scm-grid scm-row > scm-col[align-self-end] {
  align-self: flex-end;
}
scm-grid scm-row > scm-col[align-self-center] {
  align-self: center;
}
scm-grid scm-row > scm-col[align-self-stretch] {
  align-self: stretch;
}
scm-grid scm-row > scm-col[align-self-baseline] {
  align-self: baseline;
}
scm-grid scm-row > scm-col[pull-right] {
  margin-left: auto;
}
scm-grid scm-row > scm-col[tracer] {
  flex: 0 0 auto;
  border-left: 2px dotted #D5D5D5;
  margin-right: -3px;
  margin-left: 13px;
  width: 15px;
  align-self: stretch;
}
scm-grid scm-row scm-col[scm-col-max-30] {
  max-width: 30%;
}
scm-grid scm-row scm-col[scm-col-max-50] {
  max-width: 50%;
}
[text-left] {
  text-align: left;
}
[text-right] {
  text-align: right;
}
[text-center] {
  text-align: center;
}
[text-justify] {
  text-align: justify;
}
[text-wrap] {
  white-space: normal;
}
[text-nowrap] {
  white-space: nowrap;
}
[text-uppercase] {
  text-transform: uppercase;
}
[text-lowercase] {
  text-transform: lowercase;
}
[text-capitalize] {
  text-transform: capitalize;
}
[padding-xs] {
  padding: 5px;
}
[padding-top-xs] {
  padding-top: 5px;
}
[padding-left-xs] {
  padding-left: 5px;
}
[padding-right-xs] {
  padding-right: 5px;
}
[padding-bottom-xs] {
  padding-bottom: 5px;
}
[padding-vertical-xs] {
  padding-bottom: 5px;
  padding-top: 5px;
}
[padding-horizontal-xs] {
  padding-left: 5px;
  padding-right: 5px;
}
[padding-sm] {
  padding: 7px;
}
[padding-top-sm] {
  padding-top: 7px;
}
[padding-left-sm] {
  padding-left: 7px;
}
[padding-right-sm] {
  padding-right: 7px;
}
[padding-bottom-sm] {
  padding-bottom: 7px;
}
[padding-vertical-sm] {
  padding-bottom: 7px;
  padding-top: 7px;
}
[padding-horizontal-sm] {
  padding-left: 7px;
  padding-right: 7px;
}
[padding-md] {
  padding: 10px;
}
[padding-top-md] {
  padding-top: 10px;
}
[padding-left-md] {
  padding-left: 10px;
}
[padding-right-md] {
  padding-right: 10px;
}
[padding-bottom-md] {
  padding-bottom: 10px;
}
[padding-vertical-md] {
  padding-bottom: 10px;
  padding-top: 10px;
}
[padding-horizontal-md] {
  padding-left: 10px;
  padding-right: 10px;
}
[padding-lg] {
  padding: 15px;
}
[padding-top-lg] {
  padding-top: 15px;
}
[padding-left-lg] {
  padding-left: 15px;
}
[padding-right-lg] {
  padding-right: 15px;
}
[padding-bottom-lg] {
  padding-bottom: 15px;
}
[padding-vertical-lg] {
  padding-bottom: 15px;
  padding-top: 15px;
}
[padding-horizontal-lg] {
  padding-left: 15px;
  padding-right: 15px;
}
[no-padding] {
  padding: 0;
}
[margin-xs] {
  margin: 5px;
}
[margin-top-xs] {
  margin-top: 5px;
}
[margin-left-xs] {
  margin-left: 5px;
}
[margin-right-xs] {
  margin-right: 5px;
}
[margin-bottom-xs] {
  margin-bottom: 5px;
}
[margin-vertical-xs] {
  margin-top: 5px;
  margin-bottom: 5px;
}
[margin-horizontal-xs] {
  margin-right: 5px;
  margin-left: 5px;
}
[margin-sm] {
  margin: 7px;
}
[margin-top-sm] {
  margin-top: 7px;
}
[margin-left-sm] {
  margin-left: 7px;
}
[margin-right-sm] {
  margin-right: 7px;
}
[margin-bottom-sm] {
  margin-bottom: 7px;
}
[margin-vertical-sm] {
  margin-top: 7px;
  margin-bottom: 7px;
}
[margin-horizontal-sm] {
  margin-right: 7px;
  margin-left: 7px;
}
[margin-md] {
  margin: 10px;
}
[margin-top-md] {
  margin-top: 10px;
}
[margin-left-md] {
  margin-left: 10px;
}
[margin-right-md] {
  margin-right: 10px;
}
[margin-bottom-md] {
  margin-bottom: 10px;
}
[margin-vertical-md] {
  margin-top: 10px;
  margin-bottom: 10px;
}
[margin-horizontal-md] {
  margin-right: 10px;
  margin-left: 10px;
}
[margin-lg] {
  margin: 15px;
}
[margin-top-lg] {
  margin-top: 15px;
}
[margin-left-lg] {
  margin-left: 15px;
}
[margin-right-lg] {
  margin-right: 15px;
}
[margin-bottom-lg] {
  margin-bottom: 15px;
}
[margin-vertical-lg] {
  margin-top: 15px;
  margin-bottom: 15px;
}
[margin-horizontal-lg] {
  margin-right: 15px;
  margin-left: 15px;
}
[no-margin] {
  margin: 0;
}
[border-vertical] {
  border-top: 1px solid #D5D5D5;
  border-bottom: 1px solid #D5D5D5;
  margin-top: -1px;
}
[ellipsis] {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
[full-width] {
  width: 100%;
}
.squared-list {
  list-style-type: square !important;
  padding-left: 16px !important;
}
.no-pointer {
  cursor: default !important;
}
.header-content-underline {
  border-bottom: dashed 1px black;
}
xui-filtered-list-v2 .xui-timeframe-picker {
  padding-top: 5px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .xui-icon {
    margin-top: 0px !important;
  }
}
.element-path-tooltip .tooltip-inner {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  max-width: 400px;
  text-align: left;
}
iframe {
  display: block;
  position: absolute;
  border-width: 0px;
}
scm-iframe-v2 {
  display: block;
  position: relative;
  height: 120px;
}
body.scm-iframe-fullscreen {
  overflow: hidden;
}
scm-who {
  display: flex;
}
scm-who.scm-who--constrained {
  max-width: 200px;
}
scm-who .who.xui-ellipsis {
  flex-basis: auto;
}
scm-who .id-who-icon.xui-icon {
  margin-right: 2px !important;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  scm-who .xui-icon {
    margin-top: 0px !important;
    margin-bottom: 2px !important;
  }
}
scm-multiline-text[size="large"] .scm-multiline-text-scroll-container {
  max-height: 400px;
}
scm-multiline-text[size="base"] .scm-multiline-text-scroll-container {
  max-height: 200px;
}
scm-multiline-text[size="small"] .scm-multiline-text-scroll-container {
  max-height: 100px;
}
scm-multiline-text .scm-multiline-text-scroll-content {
  white-space: pre-line;
}
.xui-tag-container-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 0;
  justify-content: flex-start;
  margin-left: -5px;
}
.xui-tag-container-inline xui-tag {
  position: relative;
  min-height: 1px;
  flex-grow: 1;
  max-width: 100%;
  min-width: 0;
  width: auto;
  -ms-overflow-x: hidden;
  -ms-overflow-y: hidden;
  margin-left: 5px;
  display: flex;
}
.xui-tag-container-inline xui-tag.xui-tag__two-icons {
  min-width: 75px;
}
.xui-tag-container-inline xui-tag.xui-tag__one-icon {
  min-width: 60px;
}
.xui-tag-container-inline xui-tag.xui-tag__no-icon {
  min-width: 45px;
}
.xui-tag-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-top: -5px;
}
.xui-tag-container xui-tag {
  margin-left: 5px;
  margin-top: 5px;
  display: flex;
}
xui-tag .xui-tag__border {
  background: transparent;
  border: 1px solid #AAAAAA;
  border-radius: 7px;
  display: inline-block;
  font-size: 11px;
  padding: 0 10px;
  line-height: 14px;
}
xui-tag .xui-tag__border:not(.xui-tag__no-max-width) {
  max-width: 150px;
  width: 100%;
}
xui-tag .xui-tag__border.xui-tag__has-remove-button {
  padding-right: 2px;
}
xui-tag .xui-tag__border .xui-tag__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
xui-tag .xui-tag__border .xui-tag__container .xui-tag__item {
  position: relative;
  min-height: 1px;
  max-width: 100%;
  min-width: 0;
  width: auto;
}
xui-tag .xui-tag__border .xui-tag__icon-container {
  flex: 0 0 auto;
  -ms-overflow-x: hidden;
  -ms-overflow-y: hidden;
  margin-top: 2px;
}
xui-tag .xui-tag__border .xui-tag__icon-container i.xui-icon {
  float: right;
  width: 12px !important;
  height: 12px !important;
  line-height: 12px !important;
  background-size: 12px !important;
}
xui-tag .xui-tag__border .xui-tag__icon-container i.xui-icon svg {
  width: 12px !important;
  height: 12px !important;
}
xui-tag .xui-tag__border .xui-tag__icon-right {
  margin-left: 5px;
  order: 1;
}
xui-tag .xui-tag__border .xui-tag__icon-left {
  margin-right: 5px;
}
xui-tag .xui-tag__border .xui-tag__remove-icon {
  order: 2;
  margin-left: 5px;
}
xui-tag .xui-tag__border.xui-tag__color-chart-one-dark {
  background: #176998;
  color: #FFFFFF;
  border: 1px solid #176998;
}
xui-tag .xui-tag__border.xui-tag__color-chart-two-dark {
  background: #A31770;
  color: #FFFFFF;
  border: 1px solid #A31770;
}
xui-tag .xui-tag__border.xui-tag__color-chart-three-dark {
  background: #177D6F;
  color: #FFFFFF;
  border: 1px solid #177D6F;
}
xui-tag .xui-tag__border.xui-tag__color-chart-four-dark {
  background: #6B458B;
  color: #FFFFFF;
  border: 1px solid #6B458B;
}
xui-tag .xui-tag__border.xui-tag__color-chart-five-dark {
  background: #7E7E29;
  color: #FFFFFF;
  border: 1px solid #7E7E29;
}
xui-tag .xui-tag__border.xui-tag__color-chart-six-dark {
  background: #A35617;
  color: #FFFFFF;
  border: 1px solid #A35617;
}
xui-tag .xui-tag__border.xui-tag__color-chart-seven-dark {
  background: #000096;
  color: #FFFFFF;
  border: 1px solid #000096;
}
xui-tag .xui-tag__border.xui-tag__color-chart-eight-dark {
  background: #6D423E;
  color: #FFFFFF;
  border: 1px solid #6D423E;
}
xui-tag .xui-tag__border.xui-tag__color-chart-nine-dark {
  background: #7E6431;
  color: #FFFFFF;
  border: 1px solid #7E6431;
}
xui-tag .xui-tag__border.xui-tag__color-chart-ten-dark {
  background: #555555;
  color: #FFFFFF;
  border: 1px solid #555555;
}
xui-tag .xui-tag__border.xui-tag__color-chart-one {
  background: #0097eb;
  color: #FFFFFF;
  border: 1px solid #0097eb;
}
xui-tag .xui-tag__border.xui-tag__color-chart-two {
  background: #ff00a3;
  color: #FFFFFF;
  border: 1px solid #ff00a3;
}
xui-tag .xui-tag__border.xui-tag__color-chart-three {
  background: #00bba1;
  color: #FFFFFF;
  border: 1px solid #00bba1;
}
xui-tag .xui-tag__border.xui-tag__color-chart-four {
  background: #9954d4;
  color: #FFFFFF;
  border: 1px solid #9954d4;
}
xui-tag .xui-tag__border.xui-tag__color-chart-five {
  background: #bcbd22;
  color: #FFFFFF;
  border: 1px solid #bcbd22;
}
xui-tag .xui-tag__border.xui-tag__color-chart-six {
  background: #ff7300;
  color: #FFFFFF;
  border: 1px solid #ff7300;
}
xui-tag .xui-tag__border.xui-tag__color-chart-seven {
  background: #6666C0;
  color: #FFFFFF;
  border: 1px solid #6666C0;
}
xui-tag .xui-tag__border.xui-tag__color-chart-eight {
  background: #9e5048;
  color: #FFFFFF;
  border: 1px solid #9e5048;
}
xui-tag .xui-tag__border.xui-tag__color-chart-nine {
  background: #bc8d30;
  color: #FFFFFF;
  border: 1px solid #bc8d30;
}
xui-tag .xui-tag__border.xui-tag__color-chart-ten {
  background: #858585;
  color: #FFFFFF;
  border: 1px solid #858585;
}
xui-tag .xui-tag__border.xui-tag__color-chart-one-light {
  background: #a6dbf8;
  color: #333333;
  border: 1px solid #a6dbf8;
}
xui-tag .xui-tag__border.xui-tag__color-chart-two-light {
  background: #ffa6df;
  color: #333333;
  border: 1px solid #ffa6df;
}
xui-tag .xui-tag__border.xui-tag__color-chart-three-light {
  background: #a6e7de;
  color: #333333;
  border: 1px solid #a6e7de;
}
xui-tag .xui-tag__border.xui-tag__color-chart-four-light {
  background: #dcc3f0;
  color: #333333;
  border: 1px solid #dcc3f0;
}
xui-tag .xui-tag__border.xui-tag__color-chart-five-light {
  background: #e8e8b2;
  color: #333333;
  border: 1px solid #e8e8b2;
}
xui-tag .xui-tag__border.xui-tag__color-chart-six-light {
  background: #ffcea6;
  color: #333333;
  border: 1px solid #ffcea6;
}
xui-tag .xui-tag__border.xui-tag__color-chart-seven-light {
  background: #a6a6db;
  color: #333333;
  border: 1px solid #a6a6db;
}
xui-tag .xui-tag__border.xui-tag__color-chart-eight-light {
  background: #ddc2bf;
  color: #333333;
  border: 1px solid #ddc2bf;
}
xui-tag .xui-tag__border.xui-tag__color-chart-nine-light {
  background: #e8d7b7;
  color: #333333;
  border: 1px solid #e8d7b7;
}
xui-tag .xui-tag__border.xui-tag__color-chart-ten-light {
  background: #c2c2c2;
  color: #333333;
  border: 1px solid #c2c2c2;
}
xui-tag .xui-tag__border.xui-tag__color-unknown {
  background: #f6f6f6;
  color: #333333;
  border: 1px solid #D5D5D5;
}
xui-tag .xui-tag__border.xui-tag__color-info {
  background: #e6eff3;
  color: #333333;
  border: 1px solid #abd5e3;
}
xui-tag .xui-tag__border.xui-tag__color-ok {
  background: #e7f4df;
  color: #333333;
  border: 1px solid #30B230;
}
xui-tag .xui-tag__border.xui-tag__color-warning {
  background: #fcf8e0;
  color: #333333;
  border: 1px solid #FEC405;
}
xui-tag .xui-tag__border.xui-tag__color-critical {
  background: #FFE4E0;
  color: #333333;
  border: 1px solid #D50000;
}
xui-tag .xui-tag__border.xui-tag__color-down {
  background: #FFE4E0;
  color: #333333;
  border: 1px solid #950000;
}
xui-tag .xui-tag__border.xui-tag__color-unmanaged {
  background: #7590C9;
  color: #FFFFFF;
  border: 1px solid #7590C9;
}
xui-tag .xui-tag__border.xui-tag__color-unrecheable {
  background: #646464;
  color: #FFFFFF;
  border: 1px solid #646464;
}
xui-tag .xui-tag__border.xui-tag__color-external {
  background: #9966CC;
  color: #FFFFFF;
  border: 1px solid #9966CC;
}
xui-tag .xui-tag__border.xui-tag__color-shutdown {
  background: #D5D5D5;
  color: #333333;
  border: 1px solid #D5D5D5;
}
xui-tag .xui-tag__border.xui-tag__color-sleeping {
  background: #7590C9;
  color: #FFFFFF;
  border: 1px solid #7590C9;
}
xui-tag .xui-tag__border.xui-tag__color-unplugged {
  background: #3CAADD;
  color: #FFFFFF;
  border: 1px solid #3CAADD;
}
xui-tag .xui-tag__border.xui-tag__color-running {
  background: #30B230;
  color: #FFFFFF;
  border: 1px solid #30B230;
}
xui-tag .xui-tag__border.xui-tag__color-paused {
  background: #D5D5D5;
  color: #333333;
  border: 1px solid #D5D5D5;
}
xui-tag .xui-tag__border.xui-tag__color-stopped {
  background: #D5D5D5;
  color: #333333;
  border: 1px solid #D5D5D5;
}
xui-tag .xui-tag__border.xui-tag__color-disabled {
  background: #D5D5D5;
  color: #333333;
  border: 1px solid #D5D5D5;
}
xui-tag .xui-tag__border.xui-tag__color-missing {
  background: #9966CC;
  color: #FFFFFF;
  border: 1px solid #9966CC;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  xui-tag .xui-ellipsis {
    flex: none !important;
  }
  xui-tag .xui-tag__border {
    max-width: none !important;
  }
  xui-tag .xui-tag__icon-container {
    margin-top: 0px !important;
  }
  xui-tag .xui-icon {
    margin-top: 0px !important;
  }
}
[tooltip-ellipsis] {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
scm-version-info .id-aggregated-icon.xui-icon {
  margin-top: 0px !important;
}
.scm-breadcrumb .xui-ellipsis {
  flex: none !important;
}
.scm-settings .xui-tabs__content-container {
  padding-top: 0;
}
.scm-settings xui-page-header .align-getting-started {
  float: right;
}
#scm-compare-config .node-name {
  padding: 15px;
  border-bottom: 1px solid #D5D5D5;
}
.scm-config-row.profile,
.scm-config-row.element {
  background-color: #FFFFFF;
}
.scm-config .xui-grid__listview-panel {
  padding-top: 0px;
}
.scm-config .col-flex.divider {
  height: 29px;
  width: 20px;
  border-left: 1px solid #D5D5D5;
  margin-left: 10px;
  margin-right: -10px;
}
.scm-config-row .header.divider {
  height: 36px;
}
.scm-config-row .row-header {
  flex: 1 1 20px;
  display: inline-flex;
  align-items: center;
}
.scm-config-row .row-header .float-right {
  float: right;
}
.scm-config-row .row-content {
  border-left: 3px solid transparent;
}
.scm-config-row .row-content.empty {
  background: repeating-linear-gradient(-45deg, transparent, #f0f0f0 1px, #f0f0f0 1.5px, transparent 2px, transparent 6px);
}
.scm-config-row .row-content.empty > .name,
.scm-config-row .row-content.empty > .spacer {
  visibility: hidden;
}
.scm-config-row .row-content .change-type-icon {
  margin-left: auto;
}
.scm-config.yellow .row-added,
.scm-config.yellow .row-changed,
.scm-config.yellow .row-deleted {
  background-color: #fcf8e0;
  border-left: 3px solid #FEC405;
}
.scm-config.yellow .scm-config-row:hover .row-added,
.scm-config.yellow .scm-config-row:hover .row-changed,
.scm-config.yellow .scm-config-row:hover .row-deleted {
  background-color: #faf4d0;
}
.scm-config.colors .row-added {
  background-color: rgba(188, 189, 34, 0.15);
  border-left-color: #bcbd22;
}
.scm-config.colors .row-changed {
  border-left-color: #0097eb;
}
.scm-config.colors .row-deleted {
  background-color: rgba(255, 0, 163, 0.1);
  border-left-color: #ff00a3;
}
.scm-retention .xui-busy {
  height: 200px;
}
.scm-retention__body {
  border-top: 1px solid #D5D5D5;
  padding: 7px 15px;
}
.scm-retention__footer {
  border-top: 1px solid #D5D5D5;
  padding: 15px;
}
.scm-who-exclusion-list__header {
  float: left;
  margin-top: 3px;
  font-weight: bold;
}
.scm-polling-settings-tab .xui-switch__bar {
  float: right;
}
.scm-polling-settings-tab .xui-switch__label {
  margin: 0 5px 0 0;
}
.test-job-results-footer {
  border-top: 1px solid #D5D5D5;
}
.test-job-results .media {
  margin: 0 !important;
}
.test-job-results pre.test-job-result-content {
  white-space: pre-wrap;
}
.test-job-results .error-message-detail .xui-message-content {
  white-space: pre-line;
}
.test-job-results .xui-panel__heading {
  padding: 10px 10px 10px 0 !important;
}
.test-job-results .xui-panel__left-pane-body {
  padding: 0 !important;
}
.test-job-results .xui-panel__left-pane {
  padding-left: 15px;
}
.test-job-results .test-job-polled-elements ul:first-child {
  border-top: 1px solid #D5D5D5 !important;
}
.test-job-results .list-group-item {
  border-bottom: 1px solid #D5D5D5 !important;
}
.test-job-results .test-job-info {
  padding: 15px;
  border-bottom: 1px solid #D5D5D5;
}
.test-job-results .test-job-info .file-name {
  font-weight: bold;
  padding-left: 5px;
}
.test-job-results .success-label {
  color: #30B230 !important;
}
.test-job-results .selected-item-path {
  word-break: break-word;
}
.id-mismatches-popover-content .row-flex {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.id-mismatches-popover-content .col-flex {
  flex: 0 0 auto;
}
.id-mismatches-popover-content .col-flex:not(:last-child) {
  margin-right: 5px;
}
.id-mismatches-popover-content .col-flex.grow {
  flex-grow: 1;
}
.id-mismatches-popover-content .col-flex.shrink {
  flex-shrink: 1;
  -ms-overflow-x: hidden;
  -ms-overflow-y: hidden;
}
.id-mismatches-popover-content .col-flex.full {
  width: 100%;
}
.id-mismatches-popover-content .col-flex.space {
  flex-grow: 1;
  margin: 0;
}
.id-mismatches-popover-content .item {
  border-left: 3px solid #D5D5D5;
  padding: 0px 5px;
}
.id-mismatches-popover-content .item .xui-icon svg {
  top: 0;
}
.id-mismatches-popover-content .add {
  border-left-color: #bcbd22;
}
.id-mismatches-popover-content .update {
  border-left-color: #0097eb;
}
.id-mismatches-popover-content .remove {
  border-left-color: #ff00a3;
}
.id-mismatches-popover-content .count {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 10px;
}
.id-mismatches-popover-content .comparison-link {
  margin-top: 7px;
}
scm-profile-list .scm-list-item .scm-node-count {
  color: #0079AA;
  margin-left: auto;
  white-space: nowrap;
}
scm-profile-list .scm-list-item .scm-profile-name {
  cursor: auto;
}
scm-profile-list .scm-list-item .scm-profile-name.link {
  color: #0079AA;
  cursor: pointer;
}
scm-monitored-node-list .scm-lineup-with-select {
  margin-top: 3px;
}
.scm-profile-dialog .scm-list-item .id-type {
  margin-left: auto;
}
.scm-form-help-hint {
  font-size: 11px;
  font-family: 'Open Sans';
  font-weight: 400;
  color: #767676;
  line-height: 18px;
  margin-bottom: 10px;
  margin-top: -4px;
}
.scm-credential-picker .xui-radio .xui-validation {
  display: block;
}
.scm-credential-picker {
  padding-top: 10px;
}
.scm-credential-picker .scm-form-help-hint {
  margin-bottom: 4px;
  margin-top: 4px;
}
.scm-credential-picker .id-credential-combobox {
  margin-top: 10px !important;
}
.scm-edit-element-checkbox-col {
  width: 30px;
  padding-top: 3px;
}
.datetime-picker-popover .xui-datetime-picker__group {
  width: auto;
}
.datetime-picker-popover-confirmation-panel {
  width: 100%;
  border-top: 1px solid #D5D5D5;
  text-align: center;
}
.datetime-picker-popover-picker-panel {
  display: flex;
  max-width: 300px;
}
.datetime-picker-popover-baseline {
  background-color: #f6f6f6;
  white-space: nowrap;
}
.datetime-picker-popover-specify-date {
  width: 100%;
}
.scm-summary-row .profile-container {
  margin-left: 7px;
  flex-basis: 50%;
  min-width: 50%;
  line-height: 1.5;
  align-items: flex-end;
  justify-content: flex-end;
}
.scm-summary-row .summary-issues {
  margin-top: 5px;
  margin-bottom: 0;
  width: 100%;
}
.scm-summary-row .summary-issues .summary-issue:not(:first-child)::before {
  content: "\25CF";
  padding: 0 10px;
}
.scm-summary-step .xui-listview {
  overflow: auto;
  max-height: calc(100vh - 520px);
  min-height: 100px;
  padding-top: 1px;
}
.scm-summary-step .summary-legend {
  margin: -7px 0 10px 0;
}
scm-nodes-assigned-to-profile-list .scm-list-item .scm-profiles-count {
  margin-left: auto;
}
.scm-unassign-dialog .scm-list {
  margin-top: 0;
  border-bottom: 0;
}
.scm-content-message-popover-text {
  padding-left: 30px;
}
.scm-baseline-tag {
  color: #FFFFFF !important;
  background-color: #AAAAAA !important;
}
.scm-no-change-tag {
  border-color: #e6eff3 !important;
  background-color: #e6eff3 !important;
}
.id-baseline-indication,
#baseline-indication {
  white-space: nowrap;
}
.id-baseline-indication svg,
#baseline-indication svg {
  pointer-events: none;
}
.id-baseline-indication .id-NoBaselineSet,
#baseline-indication .id-NoBaselineSet {
  color: rgba(118, 118, 118, 0.5);
}
.id-baseline-indication .id-IsBaseline,
#baseline-indication .id-IsBaseline,
.id-baseline-indication .id-MatchesBaseline,
#baseline-indication .id-MatchesBaseline,
.id-baseline-indication .id-src-IsBaseline,
#baseline-indication .id-src-IsBaseline,
.id-baseline-indication .id-src-MatchesBaseline,
#baseline-indication .id-src-MatchesBaseline,
.id-baseline-indication .id-dst-IsBaseline,
#baseline-indication .id-dst-IsBaseline,
.id-baseline-indication .id-dst-MatchesBaseline,
#baseline-indication .id-dst-MatchesBaseline {
  color: #30B230;
}
.id-baseline-indication .id-dst-MatchesBaseline,
#baseline-indication .id-dst-MatchesBaseline {
  padding-left: 25px;
}
.scm-empty-content-tag {
  border-color: #f0f0f0 !important;
  background-color: #f0f0f0 !important;
}
.scm-config .row-flex {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.scm-config .col-flex {
  flex: 0 0 auto;
}
.scm-config .col-flex:not(:last-child) {
  margin-right: 5px;
}
.scm-config .col-flex.grow {
  flex-grow: 1;
}
.scm-config .col-flex.shrink {
  flex-shrink: 1;
  -ms-overflow-x: hidden;
  -ms-overflow-y: hidden;
}
.scm-config .col-flex.full {
  width: 100%;
}
.scm-config .col-flex.space {
  flex-grow: 1;
  margin: 0;
}
.scm-config-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-items: center;
}
.scm-config-row:hover:not(.header) {
  background-color: #f6f6f6;
}
.scm-config a.scm-config-row {
  text-decoration: none;
  align-items: stretch;
}
.scm-config .tracer,
.scm-config .spacer,
.scm-config .expander {
  width: 20px;
}
.scm-config .element.name {
  margin-left: 7px;
}
.scm-config .col-flex.tracer {
  border-left: 2px dotted #D5D5D5;
  margin-right: -3px;
  margin-left: 13px;
}
.scm-config .row-content {
  border-top: 1px solid #D5D5D5;
  border-bottom: 1px solid #D5D5D5;
  margin-top: -1px;
  height: 30px;
  padding: 5px 0;
  flex: 1 1 20px;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
}
.scm-list {
  display: block;
}
.scm-list--bordered {
  border: 1px solid #D5D5D5;
}
.scm-list--bordered .xui-grid__toolbar-container-panel:not(.xui-grid__toolbar--active) {
  margin-top: -1px;
}
.scm-list--bordered-items .list-group > .list-group-item {
  border-top: 1px solid #D5D5D5;
  border-bottom: 1px solid #D5D5D5;
  margin-top: -1px;
}
.xui-dialog .scm-list--stretched {
  margin: -15px;
}
.scm-list-item {
  display: flex;
  align-items: flex-start;
  line-height: 16px;
  padding-top: 5px;
}
.scm-list-item > .item-part:not(:last-child) {
  margin-right: 5px;
}
.scm-list-item .xui-icon {
  flex: 0 0 auto;
  margin-top: 0;
}
.scm-list-item .scm-profile-name {
  line-height: 16px;
  font-size: 12px;
  font-family: 'Open Sans';
  color: #333333;
  font-weight: 700;
  overflow: hidden;
}
.scm-list-item .scm-node-name {
  line-height: 16px;
  font-size: 12px;
  font-family: 'Open Sans';
  color: #333333;
  font-weight: 700;
  color: #0079AA;
  overflow: hidden;
}
.scm-list-item.scm-list-item--continuation {
  padding-top: 0;
}
.xui-listitem__select-content .scm-lineup-with-select {
  margin-top: 3px;
}
scm-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
}
scm-grid scm-row {
  /** Row as a child **/
  flex: 0 0 auto;
  width: 100%;
  /** Row as a container **/
  display: flex;
  flex-direction: row;
  align-items: center;
}
scm-grid scm-row[reverse] {
  flex-flow: row-reverse;
}
scm-grid scm-row[wrap] {
  flex-wrap: wrap;
}
scm-grid scm-row[align-items-start] {
  align-items: flex-start;
}
scm-grid scm-row[align-items-center] {
  align-items: center;
}
scm-grid scm-row[align-items-end] {
  align-items: flex-end;
}
scm-grid scm-row[align-items-stretch] {
  align-items: stretch;
}
scm-grid scm-row[align-items-baseline] {
  align-items: baseline;
}
scm-grid scm-row[justify-content-start] {
  justify-content: flex-start;
}
scm-grid scm-row[justify-content-center] {
  justify-content: center;
}
scm-grid scm-row[justify-content-end] {
  justify-content: flex-end;
}
scm-grid scm-row[justify-content-around] {
  justify-content: space-around;
}
scm-grid scm-row[justify-content-between] {
  justify-content: space-between;
}
scm-grid scm-row > scm-col {
  /** Col as a child **/
  flex: 1 1 auto;
  min-width: 0;
  -ms-overflow-y: hidden;
}
scm-grid scm-row > scm-col[scm-col-auto] {
  flex: 0 0 auto;
}
scm-grid scm-row > scm-col[no-grow] {
  flex-grow: 0;
}
scm-grid scm-row > scm-col:not(:last-child) {
  margin-right: 5px;
}
scm-grid scm-row > scm-col[no-margin] {
  margin-left: 0;
  margin-right: 0;
}
scm-grid scm-row > scm-col[align-self-start] {
  align-self: flex-start;
}
scm-grid scm-row > scm-col[align-self-end] {
  align-self: flex-end;
}
scm-grid scm-row > scm-col[align-self-center] {
  align-self: center;
}
scm-grid scm-row > scm-col[align-self-stretch] {
  align-self: stretch;
}
scm-grid scm-row > scm-col[align-self-baseline] {
  align-self: baseline;
}
scm-grid scm-row > scm-col[pull-right] {
  margin-left: auto;
}
scm-grid scm-row > scm-col[tracer] {
  flex: 0 0 auto;
  border-left: 2px dotted #D5D5D5;
  margin-right: -3px;
  margin-left: 13px;
  width: 15px;
  align-self: stretch;
}
scm-grid scm-row scm-col[scm-col-max-30] {
  max-width: 30%;
}
scm-grid scm-row scm-col[scm-col-max-50] {
  max-width: 50%;
}
[text-left] {
  text-align: left;
}
[text-right] {
  text-align: right;
}
[text-center] {
  text-align: center;
}
[text-justify] {
  text-align: justify;
}
[text-wrap] {
  white-space: normal;
}
[text-nowrap] {
  white-space: nowrap;
}
[text-uppercase] {
  text-transform: uppercase;
}
[text-lowercase] {
  text-transform: lowercase;
}
[text-capitalize] {
  text-transform: capitalize;
}
[padding-xs] {
  padding: 5px;
}
[padding-top-xs] {
  padding-top: 5px;
}
[padding-left-xs] {
  padding-left: 5px;
}
[padding-right-xs] {
  padding-right: 5px;
}
[padding-bottom-xs] {
  padding-bottom: 5px;
}
[padding-vertical-xs] {
  padding-bottom: 5px;
  padding-top: 5px;
}
[padding-horizontal-xs] {
  padding-left: 5px;
  padding-right: 5px;
}
[padding-sm] {
  padding: 7px;
}
[padding-top-sm] {
  padding-top: 7px;
}
[padding-left-sm] {
  padding-left: 7px;
}
[padding-right-sm] {
  padding-right: 7px;
}
[padding-bottom-sm] {
  padding-bottom: 7px;
}
[padding-vertical-sm] {
  padding-bottom: 7px;
  padding-top: 7px;
}
[padding-horizontal-sm] {
  padding-left: 7px;
  padding-right: 7px;
}
[padding-md] {
  padding: 10px;
}
[padding-top-md] {
  padding-top: 10px;
}
[padding-left-md] {
  padding-left: 10px;
}
[padding-right-md] {
  padding-right: 10px;
}
[padding-bottom-md] {
  padding-bottom: 10px;
}
[padding-vertical-md] {
  padding-bottom: 10px;
  padding-top: 10px;
}
[padding-horizontal-md] {
  padding-left: 10px;
  padding-right: 10px;
}
[padding-lg] {
  padding: 15px;
}
[padding-top-lg] {
  padding-top: 15px;
}
[padding-left-lg] {
  padding-left: 15px;
}
[padding-right-lg] {
  padding-right: 15px;
}
[padding-bottom-lg] {
  padding-bottom: 15px;
}
[padding-vertical-lg] {
  padding-bottom: 15px;
  padding-top: 15px;
}
[padding-horizontal-lg] {
  padding-left: 15px;
  padding-right: 15px;
}
[no-padding] {
  padding: 0;
}
[margin-xs] {
  margin: 5px;
}
[margin-top-xs] {
  margin-top: 5px;
}
[margin-left-xs] {
  margin-left: 5px;
}
[margin-right-xs] {
  margin-right: 5px;
}
[margin-bottom-xs] {
  margin-bottom: 5px;
}
[margin-vertical-xs] {
  margin-top: 5px;
  margin-bottom: 5px;
}
[margin-horizontal-xs] {
  margin-right: 5px;
  margin-left: 5px;
}
[margin-sm] {
  margin: 7px;
}
[margin-top-sm] {
  margin-top: 7px;
}
[margin-left-sm] {
  margin-left: 7px;
}
[margin-right-sm] {
  margin-right: 7px;
}
[margin-bottom-sm] {
  margin-bottom: 7px;
}
[margin-vertical-sm] {
  margin-top: 7px;
  margin-bottom: 7px;
}
[margin-horizontal-sm] {
  margin-right: 7px;
  margin-left: 7px;
}
[margin-md] {
  margin: 10px;
}
[margin-top-md] {
  margin-top: 10px;
}
[margin-left-md] {
  margin-left: 10px;
}
[margin-right-md] {
  margin-right: 10px;
}
[margin-bottom-md] {
  margin-bottom: 10px;
}
[margin-vertical-md] {
  margin-top: 10px;
  margin-bottom: 10px;
}
[margin-horizontal-md] {
  margin-right: 10px;
  margin-left: 10px;
}
[margin-lg] {
  margin: 15px;
}
[margin-top-lg] {
  margin-top: 15px;
}
[margin-left-lg] {
  margin-left: 15px;
}
[margin-right-lg] {
  margin-right: 15px;
}
[margin-bottom-lg] {
  margin-bottom: 15px;
}
[margin-vertical-lg] {
  margin-top: 15px;
  margin-bottom: 15px;
}
[margin-horizontal-lg] {
  margin-right: 15px;
  margin-left: 15px;
}
[no-margin] {
  margin: 0;
}
[border-vertical] {
  border-top: 1px solid #D5D5D5;
  border-bottom: 1px solid #D5D5D5;
  margin-top: -1px;
}
[ellipsis] {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
[full-width] {
  width: 100%;
}
.squared-list {
  list-style-type: square !important;
  padding-left: 16px !important;
}
.no-pointer {
  cursor: default !important;
}
.header-content-underline {
  border-bottom: dashed 1px black;
}
xui-filtered-list-v2 .xui-timeframe-picker {
  padding-top: 5px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .xui-icon {
    margin-top: 0px !important;
  }
}
.element-path-tooltip .tooltip-inner {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  max-width: 400px;
  text-align: left;
}
iframe {
  display: block;
  position: absolute;
  border-width: 0px;
}
scm-iframe-v2 {
  display: block;
  position: relative;
  height: 120px;
}
body.scm-iframe-fullscreen {
  overflow: hidden;
}
.scm-getting-started-dialog .small-divider {
  width: 30px;
}
.scm-getting-started-dialog a {
  text-decoration: none;
}
.scm-getting-started-dialog a:hover {
  text-decoration: none;
}
.scm-getting-started-dialog a:hover span {
  text-decoration: underline;
}
a.scm-getting-started-link:hover {
  text-decoration: none;
}
.scm-getting-started-popover {
  padding: 10px;
  background-color: #e6eff3;
}
.scm-getting-started-popover .padding-top {
  padding-top: 10px;
}
.text-caps {
  text-transform: uppercase;
}
#scm-getting-started-popover {
  z-index: 1010;
}

/*# sourceMappingURL=scm.css.map*/