<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EWNodeGridConflict.ascx.cs" Inherits="EWNodeGridConflict" %>

<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content> 
    </Content>
</orion:resourceWrapper>