<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EWNodeGridNoConflict.ascx.cs" Inherits="EWNodeGridNoConflict" %>

<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content> 
    </Content>
</orion:resourceWrapper>