.ncm-main-content
{
    width:100%;
}

.ncm-blue-box
{
    background-color:#e4f1f8;
    width: 100%;
    padding:10px;
    -ms-min-width: 700px;
    min-width: 700px;
}

.ncm-text-field 
{
    width: 60%;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 9pt;
}

.ncm-text-wide-field 
{
    width: 80%;
}

.ncm-hint
{
    color: gray;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 8pt;
    font-weight: normal;
    font-style:italic;
}

.ncm-link
{
    color: #336699 !important;
    cursor: pointer;
    font-family: Arial;
    font-size: 8pt;
    text-decoration: underline !important;
}

.ncm-link:hover
{
    color: #336699;
    text-decoration: none !important;
}

.ncm-helplink
{
    color: #336699 !important;
    cursor: pointer;
    font-family: Arial;
    font-size: 8pt;
}

.ncm-block-header
{
    font-size: 14px;
    padding-top:10px;
}

.ncm-left-label-column {
    padding-left: 40px;
    text-align: right;
    width: 250px;
    -ms-min-width: 150px;
    min-width: 150px;
}

.ncm-right-input-column {
    padding-left: 5px;
    text-align: left;
}