﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="CustomAvailabilityChart.ascx.cs" Inherits="Orion_APM_Resources_Charting_CustomAvailabilityChart" %>
<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
        <asp:PlaceHolder runat="server" ID="WrapperContents"></asp:PlaceHolder>
    </Content>
</orion:resourceWrapper> 