﻿.icon-row-valid
{
    background-image: url( /orion/images/ok_16x16.gif ) !important;
    background-repeat: no-repeat;
    background-position: 2px 0px;
}
.cls-of-my-grid .icon-row-valid .x-grid3-cell-inner
{
    padding-left: 22px;
}
.cls-of-my-grid .icon-row-invalid .x-grid3-cell-inner
{
    padding-left: 22px;
}
.icon-row-invalid
{
    background-image: url( /orion/images/failed_16x16.gif ) !important;
    background-repeat: no-repeat;
    background-position: 2px 0px;
}
.bold
{
    font-weight: bold;
}
#adminContent td
{
    padding-bottom: 0;
}
.sw-pg-hint-inner-yellow
{
    background: none repeat scroll 0 0 #FFFDCC;
    border: 1px solid #EACA7F;
    border-radius: 5px;
    width: 50%;
}
.sw-pg-hint-body-yellow
{
    background: url("/Orion/images/Icon.Lightbulb.gif") no-repeat scroll left top;
    margin: 6px 4px 10px;
    padding-left: 22px;
    padding-right: 2px;
}
.sw-pg-hint-inner-red
{
    background: none repeat scroll 0 0 #FACECE;
    border: 1px solid red;
    border-radius: 5px;
    width: 50%;
}
.sw-pg-hint-body-red
{
    background: url("/Orion/images/failed_16x16.gif") no-repeat scroll left top;
    margin: 6px 4px 10px;
    padding-left: 22px;
    padding-right: 2px;
}

.cellDisabled
{
    color: GrayText;
    cursor: default;
}
.links
{
    color: #336699 !important;
    cursor: pointer;
}
.links:hover
{
    color: #EB9D1F !important;
    cursor: pointer;
}
