﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ClusterDetails.ascx.cs" Inherits="Orion_SRM_Resources_DetailsView_ClusterDetails" %>
<%@ Register Src="~/Orion/SRM/Resources/ArrayDetails/ArrayDetails.ascx" TagPrefix="orion" TagName="ArrayDetails" %>

<orion:ArrayDetails runat="server" ID="ArrayDetails" />