﻿.apm-IisExecuteSwisVerbs {
}
.apm-IisExecuteSwisVerbs .control {
	width: 300px;
}
.apm-IisExecuteSwisVerbs .verb-name-container {
	padding-top: 0px;
}

.apm-IisExecuteSwisVerbs .server-container {
	padding-top: 10px;
}
.apm-IisExecuteSwisVerbs .server-container .server-type {
	padding-left: 10px;
}

.apm-IisExecuteSwisVerbs .server-container .server-info-container {
	padding-left: 40px;
}
.apm-IisExecuteSwisVerbs .server-container .server-info-container .loading {
	min-height: 30px;
	margin: 0 auto;
	background-image: url("/Orion/images/animated_loading_sm3_whbg.gif") !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
}
.apm-IisExecuteSwisVerbs .server-container .server-info-container .servers,
.apm-IisExecuteSwisVerbs .server-container .server-info-container .entities {
	padding-top: 5px;
}

.apm-IisExecuteSwisVerbs .error-container {
	padding-top: 10px;
	color: #f00;
}
