﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="DatabaseTasksPlugin.ascx.cs" Inherits="Orion_APM_ExchangeBlackBox_Controls_Management_DatabaseTasksPlugin" %>

<orion:Include ID="Include3" runat="server" File="APM/Styles/Resources.css" />

