﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditLatencyHistogram.ascx.cs" Inherits="Orion_SRM_Controls_EditResourceControls_EditLatencyHistogram" %>

<%@ Register TagPrefix="EditChart" TagName="EditAggregatedDataChart" Src="~/Orion/SRM/Controls/EditResourceControls/EditAggregatedDataChart.ascx" %>

<EditChart:EditAggregatedDataChart ID="editControl" runat="server" /> 
