﻿
.dataNotAvailableArea {
   background-image: url('/orion/images/backgroundemptychart.png');
   background-repeat: repeat-x;
   height: 212px;
   padding-top: 60px;
   padding-bottom: 60px;
}

.dataNotAvailableTextArea {
   border: 4px solid #c2c2c2;
   width: 270px;
   height: 90px;
   border-radius: 3px;
   background: white;
   margin: auto;
   text-align: center;
}

.dataNotAvailableTextArea .textAreaContainer {
   margin-top: 20px;
   border: 0;
}

.dataNotAvailableTextArea .textAreaContainer div {
   font-family: Arial;
   font-size: 20pt;
}

.dataNotAvailableTextArea .textAreaContainer a {
   font-family: Arial;
   font-size: 12pt;
   color: #336699;
   text-decoration: underline;
}