﻿/* Assign Smart Monitor for Wstm */
#selectInstanceStep {
    margin: 5px 0 0 15px;
    width: 1032px; 
}
#selectInstanceStep #selectInstanceForm {
    width: 600px;
    float: left;
}
#selectInstanceStep .credentialTips {
    margin-left: 620px;
}
#selectInstanceStep .credentialTips div {
    background-color: #FFFDCC !important;
    border-color: #EACA7F !important;
}
ul#selectInstanceForm>li {
    margin: 10px 0 10px 0;
}
ul#selectInstanceForm>li>label {
    float: left;
    width: 170px;
}
ul#selectInstanceForm>li>input {
    width: 270px;
}
ul#selectInstanceForm>li>input.intInput {
    width: 80px;
}
ul#selectInstanceForm>li>.credentialsContainer {
    width: 430px;
}
td.testButtonRow, td.testRow { text-align: center; }
td.testRow div { height: 20px;margin-bottom: 5px;padding-top: 4px; }
td.testRow div img { height: 16px;vertical-align: bottom;margin-right: 5px; }
td.testRow div.testSuccessful { background-color: #D6F6C6; }
td.testRow div.testFailed { background-color: #FEEE90;color: Red; }
div.resultRow a:link {
    display: none;
} 
