﻿/* Resource grid */

.Wstm tbody td.wstmName {
    width: 250px;
}

.Wstm tbody td.wstmState {
    width: 13%;
    min-width: 70px;
}

.Wstm tbody td.wstmLastRunTime {
    width: 20%;
}

.Wstm tbody td.wstmLastRunResultIcon {
    width: 12%;
    white-space: nowrap;
    text-align: center;
}

.Wstm tbody td.wstmLastRunResult {
    color: #666666;
}

.Wstm tbody td.wstmLastRunResult a {
    color: #336699;
}

.Wstm tbody td.wstmLastRunResult a:hover {
    color: #4C96E0;
}

.Wstm tbody tr.even {
    background-color: #F8F8F8;
}

.Wstm tbody tr td, .Wstm tbody tr th {
    border: none !important;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px !important;
}

.Wstm tbody tr.wstmTaskInfo td {
    padding-top: 4px !important;
    padding-bottom: 0px;
}

.Wstm tbody tr.wstmTaskLastResult td {
    padding-top: 0px !important;
    padding-bottom: 4px;
}

.Wstm img.wstmStateImg {
    margin-top: 2px;
}

.Wstm span.wstmStateText {
    position: absolute;
    margin-top: 3px;
    margin-left: 2px;
}

.wstmFiledLastRunResult {
    background-color: #FFE0E0 !important;
}

/* Error block */

div.status-details-container span {
    background-image: url("../images/erroricon.png") !important;
}

/* Application Error msg block */

.wstmApplicationError {
    margin: 5px 0 10px 0;
}

/* No data msg block */

.wstmNoDataMsg div {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-style: italic;
    font-size: 11px;
    margin-top: 5px;
}

/* Initial poll msg block */

.wstmInitialPollMsg div {
    margin-top: 3px;
}

/* Resource footer */

.wstmResourceFooter {
    border-top: 1px solid #E4E4E4;
    margin-top: 5px;
    padding-top: 5px;
}

.wstmResourceFooter span.wstmLastPolled,
.wstmResourceFooter span.wstmNextPoll,
.wstmResourceFooter span.wstmEditPollingSettingsLink {
    padding-right: 20px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 8pt;
    color: #8e8e8e;
}

.wstmResourceFooter span.wstmLastPolled:empty,
.wstmResourceFooter span.wstmNextPoll:empty,
.wstmResourceFooter span.wstmEditPollingSettingsLink:empty,
.wstmResourceFooter span.wstmErrorMsg:empty {
    display: none;
}

.wstmResourceFooter a:link {
    color: #336699;
}

.wstmResourceFooter a:visited {
     color: #4080BF;
}

.wstmResourceFooter a:hover {
    color: #F99D1C;
    text-decoration:underline;
}

/* Resource tooltip */

.wstmTaskTooltip {
    display: none;
    width: auto;
    max-width: 350px;
    min-width: 180px;
    height: auto;
    position: absolute;
    background-color: #FFFEF5;
    border: 1px #C9C9C9 solid;
    border-collapse: separate;
    margin-left: 32px;
    color: #333333;
    -moz-box-shadow: 2px 2px 3px #DDDDDD;
    -webkit-box-shadow: 2px 2px 3px #DDDDDD;
    box-shadow: 2px 2px 3px #DDDDDD;
    z-index: 999;
}

.wstmTaskTooltip div.wstmTooltipArrow {
    top: 2px;
    left: -50px;
    width: 50px;
    height: 29px;
    background-image: url("../Images/Tooltip/Arrow.png");
    position:absolute;
}

.wstmTaskTooltip div#wstmTooltipHeader {
    padding: 4px 7px 0px 7px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    background-color: #FFFEF5;
}

.wstmTaskTooltip table {
    width: auto;
    padding: 6px 18px 10px 16px !important;
    background-color: #FFFEF5;
}

.wstmTaskTooltip tbody tr td, .wstmTaskTooltip tbody tr th {
    border: none !important;
}

.wstmTaskTooltip td#wstmTooltipState {
    white-space: nowrap;
}

.wstmTaskTooltip td#wstmTooltipState img.wstmStateImg {
    margin-top: 2px;
}

.wstmTaskTooltip td#wstmTooltipState span.wstmStateText {
    position: absolute;
    margin-top: 3px;
    margin-left: 2px;
}

/* Search control */

.sw-resource-searchcontrol .sw-resource-searchbox {
    height: 17px;
}

/* Paging control */

.ResourcePagerControl, .ResourcePagerInfo {
    font-size: 11px;
}
