﻿<%@ Control Language="C#" AutoEventWireup="true" ClassName="ComponentEditorGroupFooter" %>

<script runat="server">
</script>

<tr class="apmComponentGroupFooter">
    <td colspan="3">
    </td>
</tr>
