﻿<%@ Control Language="C#" CodeFile="DisplayText.ascx.cs" AutoEventWireup="true" Inherits="Orion_APM_Admin_Edit_Controls_DisplayText" %>
<label for="<%= this.GetTargetControlID() %>"><%= this.EnsureDisplayText() %></label>
