/*!
 * @solarwinds/samappoptics 2020.2.5-160
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.xui-page-content__title-link-item {
  font-weight: bold;
}
.license-expired_message {
  margin: 15px;
}
.integration-subview-grid-item {
  display: flex;
}
.integration-subview-grid-item .info {
  flex-grow: 10;
}
.integration-subview-grid-item .info .name {
  font-size: 14px;
  font-weight: 700;
}
.integration-subview-grid-item .type {
  flex-grow: 2;
  text-align: right;
  margin-right: 3px;
  height: 50px;
}
.integration-subview-grid-item .type span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: #333333;
}
.integration-subview-grid-item .type .application-type {
  font-weight: 700;
}
.integration-subview-grid-item .deployment-state {
  flex-grow: 1;
  text-align: left;
  height: 50px;
  width: 100px;
  line-height: 40px;
  margin-left: 15px;
  font-weight: 700;
}
.integration-subview-grid-item .deployment-state div {
  display: inline-block;
}
.integration-subview-grid-item .deployment-state div span {
  margin-left: 3px;
}
.add-integration-wizard .login-step .goToAppoptics {
  margin-top: 15px;
}
.add-integration-wizard .login-step .goToAppoptics .xui-icon {
  border-left: 1px solid #D5D5D5;
  float: left;
  height: 100%;
  margin-left: 12px;
  padding-top: 5px;
  padding-right: 25px;
  padding-left: 20px;
}
.add-integration-wizard .login-step .goToAppoptics a {
  display: inline-block;
  padding-top: 5px;
  font-weight: bold;
}
.add-integration-wizard .login-step .serviceKey .serviceKeyTextbox {
  border-left: 1px solid #D5D5D5;
  height: 100%;
  margin-left: 12px;
  padding-left: 15px;
}
.add-integration-wizard .login-step .serviceKey h4 {
  margin-right: 5px;
  float: left;
}
.add-integration-wizard .login-step .serviceKey a {
  padding-top: 8px;
  display: block;
}
.add-integration-wizard .statePosition {
  margin: 9px 0;
}
.add-integration-wizard .xui-dialog .modal-footer .xui-wizard__next-button,
.add-integration-wizard .xui-dialog .modal-footer .xui-wizard__back-button {
  display: none;
}
.add-integration-wizard .xui-dialog .xui-wizard__step {
  margin-top: 0px;
}
.integraiton-row .machine-icon {
  float: left;
  margin-right: 5px;
}
.integraiton-row .machine-info {
  float: left;
}
.integraiton-row .machine-info a {
  display: block;
}
.integraiton-row .machine-info .machine-name {
  font-weight: bold;
}
.integraiton-row .machine-info .machine-ipAddress {
  margin-right: 5px;
}

/*# sourceMappingURL=samappoptics.css.map*/