﻿#selectExchangeServerStep {
    margin: 5px 0 0 15px;
    width: 1032px; 
}
#selectExchangeServerStep #selectExchangeServer {
    width: 600px;
    float: left;
}
#selectExchangeServerStep .credentialTips {
    margin-left: 620px;
}
ul#selectExchangeServer>li {
    margin: 10px 0 10px 0;
}
ul#selectExchangeServer>li>label {
    float: left;
    width: 190px;
}

ul#selectExchangeServer>li>.credentialsContainer {
    width: 430px;
}
.testButtonRow, td.testRow { text-align: center; }
.testRow div {margin-bottom: 5px;padding-top: 4px; }
.testRow div img { height: 16px;vertical-align: bottom;margin-right: 5px; }
.testSuccessful { background-color: #D6F6C6;}
.testFailed { background-color: #FEEE90;color: Red; }
input.apm_WinRMUrls { width:370px; }
input.apm_ExchangeUrls {
    width: 276px;
}
input.apm_ExchangeTarget { width:305px; }



