﻿.ExchTipsInstructions {
    background-image: url('/Orion/APM/Images/Admin/icon_lightbulb.gif');
    background-position: 12px 10px;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 30px;
    font-size: 8pt;
    width: 310px;
    text-align: left;
    border-width: 1px;
    border-style: solid;
    background-color: #FFFDCC;
    border-color: #EACA7F;
    border-radius: 10px 10px 10px 10px;
}

    .ExchTipsInstructions h2 {
        font-size: 10pt;
        font-weight: normal;
        padding-top: 5px;
        padding-bottom: 10px;
        padding-left: 5px;
    }

    .ExchTipsInstructions li {
        padding-bottom: 5px;
        padding-left: 5px;
        list-style-type: disc;
    }

#appEditExchangeSettings .testButtonRow, #appEditExchangeSettings .testRow {
    padding-top: 10px;
    text-align: left;
}

    #appEditExchangeSettings .testRow div {
        margin-bottom: 5px;
        padding-top: 4px;
    }

        #appEditExchangeSettings .testRow div img {
            height: 16px;
            vertical-align: bottom;
            margin-right: 5px;
        }


        #appEditExchangeSettings .testRow div.testSuccessful {
            background-color: #D6F6C6;
            width: 410px;
            font-size: 11px;
        }

        #appEditExchangeSettings .testRow div.testFailed {
            background-color: #FEEE90;
            width: 410px;
            color: Red;
            font-size: 11px;
            word-wrap: break-word;
        }

        #appEditExchangeSettings .testRow div.testFailed strong.exceptionText {
            padding: 5px 0px 0px 0px; 
            display: block;
        }

#psUrlExchangeError {
    display: none;
}

#psUrlWindowsError {
    display: none;
}

.ConfigBtnContainer {
    padding-top: 7px;
    padding-bottom: 10px;
}

.ConfigHelpLink {
    font-size: 11px;
    padding-top: 7px;
}

.setup-info td {
    height: 2px !important;
    font-size: 2px !important;
}

    .setup-info td div {
        font-size: small !important;
    }

        .setup-info td div.load {
            color: #000;
            padding-top: 5px;
        }

        .setup-info td div.status {
            color: #008000;
            padding-top: 5px;
        }

        .setup-info td div.error {
            color: #f33;
            padding-top: 15px;
            padding-bottom: 15px;
        }

.config-error-message {
    font-family: 'Arial Regular','Arial';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

#exchangeServerIdentityError {
    display: none;
}

.conf-success {
    background-color: #d6f6c6;
    width: 250px;
    border: 1px solid #008000;
    border-radius: 10px;
    padding: 5px;
    color: black;
}

.ShortInput {
    width: 315px;
}