﻿.table-replication-status-checks {
    border: none;
    border-collapse: collapse;

    tr {
        td {
            padding: .5em;
            border: none!important;

            &.exbb-repl-status-fail {
                background: #eab9b5!important;

                &.col-status {
                    color: #c00!important;
                }
            }

            &.exbb-repl-status-warn {
                background: #fffdcc!important;
            }

            &.col-error {
                padding: 0 .5em .5em;

                .exbb-repl-status-more {
                    cursor: pointer;
                    color: #336699;
                    margin-left: .5em;
                }
            }

            &.col-name {
                width: 190px;
            }

            &.col-icon {
                width: 12px;
            }

            &.col-status {
                width: 60px;
            }
        }
    }
}
