.table-replication-status-checks {
  border: none;
  border-collapse: collapse;
}
.table-replication-status-checks tr td {
  padding: .5em;
  border: none!important;
}
.table-replication-status-checks tr td.exbb-repl-status-fail {
  background: #eab9b5!important;
}
.table-replication-status-checks tr td.exbb-repl-status-fail.col-status {
  color: #c00!important;
}
.table-replication-status-checks tr td.exbb-repl-status-warn {
  background: #fffdcc!important;
}
.table-replication-status-checks tr td.col-error {
  padding: 0 .5em .5em;
}
.table-replication-status-checks tr td.col-error .exbb-repl-status-more {
  cursor: pointer;
  color: #336699;
  margin-left: .5em;
}
.table-replication-status-checks tr td.col-name {
  width: 190px;
}
.table-replication-status-checks tr td.col-icon {
  width: 12px;
}
.table-replication-status-checks tr td.col-status {
  width: 60px;
}
