﻿div.warning-container {
	padding: 5px;
	border-radius: 10px; border: 1px solid #ffe48a;
	background-color: #fefde4;
    font-size: 8pt;
}
div.warning-container span {
    padding: 2px 3px 0px 3px;
    background: none no-repeat scroll left top;
	background-image: url("/orion/apm/images/admin/warning_16x16.png");
}

td.statusAndText{
    line-height:16px;
}
td.statusAndText img{
    vertical-align: middle;
}

td.UsersFixedColumnWidth {
    max-width: 50px;
}

div.UsersFixedColumnEllipsis {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Grid block */

.exchangeGrid tbody tr.odd {
    background-color: #F8F8F8;
}

.exchangeGrid tbody tr td, .exchangeGrid tbody tr th {
    border: none !important;
    padding: 0 5px 0 5px !important;
}

.exchangeGrid tbody tr.topRow td {
    padding-top: 5px !important;
    padding-bottom: 4px !important;
}

.exchangeGrid tbody tr.bottomRow td {
    padding-bottom: 5px !important;
}

.exchangeGrid td.fixedColumn {
    max-width: 60px;
    width: 60px;
}

.exchangeGrid td.iconColumn {
    width: 24px;
}

.exchangeGrid td.fittedColumn {
    width: 1%;
}

.exchangeGrid td.centeredColumn {
    text-align: center;
}

.red {
    color: red;
}

.boldAndRed {
    color: red;
    font-weight: bold !important;
}

/* Pager block */

.ResourcePagerControl, .ResourcePagerInfo {
    font-size: 11px;
}

/* Other */

.noWrap {
    white-space: nowrap;
}

/*resources/exchangeblackbox/mailboxdetails*/

.mailboxDetails .percentageBar {
    float: left;
}

.mailboxDetails .percentageBar .BarBackground {
    margin-left: 5px;
}

.mailboxDetails .indentDetailsPadding {
    padding-left: 4em !important;
}

/*resources/exchangeblackbox/mailboxsize*/
.italicText {
    font-style: italic;
}

.redAndBold {
    font-weight: bold;
    color: red;
    text-align: right;
}

.yellow {
    color: yellow;
    text-align: right;
}

/*resources/exchangeblackbox/applicationdetails*/
table.ExBbAppDetail .PropertyHeader {
    white-space: nowrap;
}
table.ExBbAppDetail tr.DagSpacer {
    padding: 0;
    background: transparent!important;
}
table.ExBbAppDetail tr.DagSpacer td {
    font-size: 8pt;
    padding: 0;
    vertical-align: top;
    height: 0;
    padding-left: 3.9em !important;
}
table.ExBbAppDetail tr.DagSpacer div {
    border-top: 1px solid #ccc;
}
table.ExBbAppDetail .DagGroupLabel {
    font-style: italic;
}

table.ExBbAppDetail tr.DagRow td {
    font-size: 8pt;
    padding-top: 3px !important;
    padding-bottom: 5px !important;
}
table.ExBbAppDetail tr.DagRow td:first-child {
    padding-left: 4em !important;
}
table.ExBbAppDetail tr.DagRow.joined td {
    padding-bottom: 0 !important;
    border: none;
    vertical-align: bottom;
}
