/*!
 * @solarwinds/maps 2020.3.0-2237
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
om-diagram {
  display: block;
  height: 100%;
  overflow: hidden;
  outline: none;
}
om-diagram canvas {
  -ms-user-select: none;
}

/*# sourceMappingURL=map-viewer.css.map*/