/*!
 * @solarwinds/ipam 2020.2.5-223
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.ipam-cloud__sidebar .sidebar-table-td {
  margin-left: 5px;
  height: auto;
  padding: 5px;
  padding-right: 5px;
  white-space: pre-wrap;
  vertical-align: top;
}
.ipam-cloud__sidebar .sidebar-table-header {
  padding-left: 10px;
  width: 35%;
  font-weight: bold;
  font-size: 13px;
  vertical-align: top;
  padding-top: 5px;
}
.xui-sidebar {
  width: 360px;
}
.xui-sidebar-expandable {
  height: 300px;
}
.xui-sidebar-expandable .xui-text {
  flex: 1;
}
.sidebar-header {
  min-height: 60px;
  height: auto;
  background: #E2F1F5;
  word-wrap: break-word;
}
.sidebar-close {
  position: absolute;
  top: 12px;
  right: 12px;
}
.sidebar-zoneName {
  font-weight: bold;
  font-size: 16px;
  padding-left: 10px;
  padding-bottom: 18px;
  padding-top: 18px;
}
.sidebar-table {
  width: 100%;
  word-wrap: break-word;
  table-layout: fixed;
}
.sidebar-table-tr {
  padding-left: 5px;
  height: auto;
  line-height: 25px;
}
.sidebar-table-value {
  width: 65%;
}
.sidebar-table-tr:nth-child(even) {
  background: #F0F0F0;
}
.sidebar-table-tr:nth-child(odd) {
  background: #FFFFFF;
}
.xui-sidebar-slideout-right {
  right: -360px !important;
  box-shadow: none;
}
.ipam-cloud__body {
  height: 100%;
}
.ipam-cloud__sidebar {
  height: 100%;
}
.ipam-cloud__filtered-list {
  width: 100%;
}
.ipam-cloud .list-group-item {
  padding: 15px;
}
.ipam-cloud .valuefilter-demo-item__coll {
  color: #777;
  background-color: #f9f2f4;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 1px 2px;
  margin-right: 10px;
}
.ipam-cloud .valuefilter-demo-item__coll.location {
  color: #000;
  font-weight: bold;
}
.ipam-cloud .valuefilter-demo-item__coll.number {
  color: #c7254e;
}
.ipam-cloud .demo-filtered-list-fill {
  height: 500px;
}
.ipam-cloud .valuefilter-demo-item {
  display: flex;
}
.ipam-cloud .hideOverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  max-height: 20px;
  word-wrap: break-word;
}
.ipam-grid-record-value {
  white-space: pre-line;
}
.iprequest-settings-page-footer {
  margin: auto -15px;
  border-top: 1px solid #D5D5D5;
  padding: 15px;
}
.iprequest-settings-page-fieldname {
  width: 50%;
  margin-left: 0;
  padding-left: 0;
  margin-top: 8px;
  padding-top: 8px;
  word-wrap: break-word;
  white-space: normal !important;
}
.iprequest-settings-page-checkbox {
  margin-top: 4px;
  padding-top: 4px;
}
.clm-edit-ipam-settings {
  position: relative;
  min-height: 100%;
}
.xui .clm-edit-ipam-settings__header {
  border-bottom: none;
}
.clm-edit-ipam-settings__grid {
  padding: 15px;
}
.clm-progress-bar-wrapper {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 100%;
}
.clm-edit-ipam-settings__footer--fixed-bottom {
  padding: 15px;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
.breadcrumbs {
  margin: 0 auto;
  font-size: 11px;
}
.breadcrumbs .xui-text-s {
  font-size: 11px;
}
.ipam-xui-dropdown {
  display: inline-block;
  padding: 4px;
}
.scan-settings {
  margin-left: 8px;
}
.interval {
  display: inline-block;
}
.padding-right {
  padding-right: 10px;
}
.scan-interval {
  display: inline-block;
}
.xui .form-control[disabled],
.xui .form-control[readonly],
fieldset[disabled] .xui .form-control {
  background-color: white;
}
.clm-error-info {
  background-color: #FFE4E0;
  color: #D50000;
  border: 1px solid #D50000;
  margin: 15px 0px 15px 0px;
}
.iprequest-wizard .iprequest-confirmation {
  background-color: #b5fcb5;
  border: 1px solid green;
  padding: 5px;
}
.iprequest-wizard .unknown-ip-request {
  background-color: #ffd70036;
  border: 1px solid #fec405;
  padding: 5px;
}
.iprequest-wizard .request-details-step {
  word-wrap: break-word;
}
.iprequest-wizard .request-details-step .select-subnet .xui-radio {
  display: inline-block;
}
.iprequest-wizard .available-address-step .list-group-item {
  padding: 5px;
  min-height: 40px;
}
.iprequest-wizard .available-address-step .list-group-item .ip-address {
  padding-top: 5px;
}
.iprequest-wizard .available-address-step .grid-title {
  margin-top: 10px;
}
.iprequest-wizard .available-address-step .grid-title label {
  text-transform: uppercase;
}
.iprequest-wizard .confirmation-step .list-group-item {
  padding: 5px;
  min-height: 40px;
}
.iprequest-wizard .confirmation-step .grid-title label {
  text-transform: uppercase;
  margin-top: 20px;
}
.iprequest-wizard .confirmation-step .reserved-ip-info > span {
  margin-right: 15px;
}
.iprequest-wizard .confirmation-step .request-details-header {
  margin-top: 5px;
}
.iprequest-wizard .confirmation-step .request-details-header > div {
  margin-left: 20px;
  white-space: pre-wrap;
}
@media print {
  body {
    visibility: hidden;
  }
  .to-print {
    visibility: visible;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.subnet-status-icon {
  width: 25px;
  position: relative;
  float: left;
}
.sw-ipam-fieldslist-editor {
  overflow: hidden;
}
.sw-ipam-fieldslist-editor-fieldname {
  width: 50%;
  margin-left: 0;
  padding-left: 0;
  margin-top: 8px;
  padding-top: 8px;
  word-wrap: break-word;
  white-space: normal !important;
}
.sw-ipam-fieldslist-editor-field-property {
  width: 50%;
  margin-left: 0;
  padding-left: 0;
  margin-top: 4px;
  padding-top: 4px;
}
.sw-ipam-fieldslist-editor-checkbox {
  margin-top: 4px;
  padding-top: 4px;
}
.sw-ipam-fieldslist-editor-button {
  margin-left: 0;
  padding-left: 0;
}
.sw-ipam-fieldslist-editor .fields {
  margin-left: 0;
  padding-left: 0;
}

/*# sourceMappingURL=ipam.css.map*/