﻿<%@ Master Language="C#"CodeFile="EnrollmentWizardPage.master.cs" MasterPageFile="~/Orion/OrionMasterPage.master" Inherits="Orion_SRM_EnrollmentWizardPage" %>

<%@ Register Src="~/Orion/SRM/Config/ProgressIndicator.ascx" TagPrefix="srm" TagName="Progress" %>
<%@ Register Src="~/Orion/Controls/IconHelpButton.ascx" TagPrefix="orion" TagName="IconHelpButton" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadPlaceHolder" runat="server">
    <orion:Include ID="Include1" runat="server" File="Admin.css" />
    <orion:Include ID="Include2" runat="server" File="Discovery.css" />
    <orion:Include ID="Include5" runat="server" Module="SRM" File="SRM.css" />
    <orion:Include ID="Include4" runat="server" Module="SRM" File="Discovery.css" />
    <orion:Include ID="i1" Framework="Ext" FrameworkVersion="3.4" runat="server" />
    <orion:Include ID="Include6" runat="server" Module="SRM" File="SRM.Common.js" />

    <script type="text/javascript">window.IsOrionAdminPage = 1;</script>
    <asp:contentplaceholder runat="server" id="adminHeadPlaceholder" />
</asp:Content>

<%-- conduit to get page links into admin master page --%>  
<asp:Content ID="Content2" runat="server" ContentPlaceHolderID="TopRightPageLinks">
    <asp:ContentPlaceHolder runat="server" ID="TopRightPageLinks" />
    <orion:IconHelpButton ID="IconHelpButton1" runat="server" HelpUrlFragment="SRMPHResourceEnrollWizard" />
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="Div1" runat="server" visible="<%# !CommonWebHelper.IsBreadcrumbsDisabled %>" class="sw-hdr-breadbox">
        <orion:DropDownMapPath ID="OrionSiteMapPath" runat="server" Provider="AdminSitemapProvider" OnInit="OrionSiteMapPath_OnInit">
            <RootNodeTemplate>
                <a href="<%# Eval("url") %>" ><u> <%# Eval("title") %></u> </a>
            </RootNodeTemplate>
            <CurrentNodeTemplate>
	            <a href="<%# Eval("url") %>" ><%# Eval("title") %> </a>
	        </CurrentNodeTemplate>
        </orion:DropDownMapPath>
	</div>
    <table id="discoverywizardcontent" class="srm-EnrollmentWizardPage_master_ContentTable">
        <tr>      
            <td>
                <script type="text/javascript">
                    //<![CDATA[
                    $(function () { $('<input type="image" src="/Orion/images/Pixel.gif" style="display: none;"/>').click(function () { return false; }).prependTo("form"); });
                    //]]>
                </script>

                <h1 class="srm-wizard-title"><%= Resources.SrmWebContent.AddStorage_Title %></h1>
                <div class="srm-wizard-sub-title"><%= Resources.SrmWebContent.AddStorage_SubTitle %></div>

                <srm:Progress ID="ProgressIndicator1" runat="server" />
	            <div class="EnrollmentWizardPage_master_GroupBox" >
                    <asp:ContentPlaceHolder runat="server" ID="adminContentPlaceholder"></asp:ContentPlaceHolder>
               </div>
            </td>
        </tr>
    </table>
    <div id="ScreenBlocker"></div>
    <script type="text/javascript" >
        var BeginRequestHandler = function (sender, args) {
            $("#ScreenBlocker").show();
        }

        var EndRequestHandler = function (sender, args) {
            $("#ScreenBlocker").hide();
            if (args.get_error() != undefined && args.get_error().httpStatusCode == '500') {
                args.set_errorHandled(true);
                alert(args.get_error().message);
            }
        }
        Sys.WebForms.PageRequestManager.getInstance().add_beginRequest(BeginRequestHandler);
        Sys.WebForms.PageRequestManager.getInstance().add_endRequest(EndRequestHandler);
    </script>
</asp:Content>
