﻿.Header
{
	color:Black;
	background-color:White;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
}

.InnerTable
{	
	border-width: 1px;
	border-color:#C0C0C0;
	padding: 0px 0px 0px 0px;
	margin: 10px 20px 20px 0px;
}

.cells
{
	height: 20px;
	padding-left:0px;
}

.clsLgnTxBx
{
	border-right: #B4C5D5 1px solid;
	border-top: #B4C5D5 1px solid;
	border-left: #B4C5D5 1px solid;
	border-bottom: #B4C5D5 1px solid;
}

.SubHeader
{
	color:Black;
	background-color:White;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
}

.Text
{
	color:Black;
	background-color:White;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
}

.Property
{
    border-bottom: 0px groove transparent;
}

.CheckBoxCell
{
	width: 10%;
	padding-left: 6px;
	vertical-align: middle;
}

.cellsInput
{
	width: 90%;
	height: 20px;
	padding-left: 0px;
	vertical-align: middle;
}