/*!
 * @solarwinds/vim 8.8.0-1179
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.vim-cp .no-left-padding {
  padding-left: 0px !important;
}
.vim-cp .report .title {
  font-weight: bold;
  font-size: 14px;
}
.vim-cp .report .subtitle {
  display: flex;
  justify-content: space-between;
}
.vim-cp-report-wizard-step h2 {
  font-size: 14px;
  text-transform: uppercase;
}
.vim-cp-report-wizard-entity-selection-step .entity-item .data-center {
  font-size: 90%;
  color: #767676;
}
.vim-cp-report-wizard-time-frame-step .time-frame-option > div {
  margin-top: 1em;
}
.vim-cp-report-wizard-host-profile-step .disabled {
  opacity: 0.4;
  pointer-events: none;
}
.vim-cp-report-wizard-host-profile-step .disabled > * {
  opacity: 0.4;
  pointer-events: none;
}
.vim-cp-custom-host-profile .params-row {
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.vim-cp-custom-host-profile .params-row .profile-value {
  max-width: 120px;
}
.vim-cp-custom-host-profile .params-row .unit-margin {
  margin-right: 50px;
}
.vim-cp .no-left-padding {
  padding-left: 0px !important;
}
.vim-cp-report-wizard-vm-profiles-step .name {
  font-weight: 600;
}
.vim-cp-report-wizard-vm-profiles-step .vm-profile {
  display: flex;
  align-items: center;
}
.vim-cp-report-wizard-vm-profiles-step .vm-profile .instance-count {
  margin: 0;
}
.vim-cp-report-wizard-vm-profiles-step .vm-profile .instance-count .xui-textbox__help {
  margin: 0;
}
.vim-cp-report-wizard-vm-profiles-step .vertical-center {
  display: flex;
  align-items: center;
}
.vim-cp-report-wizard-new-custom-profile-step > div:not(:first-child) {
  /* put extra space between lines */
  margin-top: 18px;
}
.vim-cp .no-left-padding {
  padding-left: 0px !important;
}
.vim-cp .vim-cp-environment-summary .table > tbody > tr:first-child > td {
  background-color: #FFFFFF;
  border-color: #E2F1F5;
  border-width: 0 0 1px 0;
}
.vim-cp .vim-cp-environment-summary .table > tbody > tr.stripe {
  background-color: #F6F6F6;
}
.vim-cp .no-left-padding {
  padding-left: 0px !important;
}
.vim-cp .vim-cp-depletion .table > tbody > tr:nth-child(even) {
  background-color: #F6F6F6;
}
.vim-cp .vim-cp-depletion .table > tbody > tr .capacity {
  border-top-color: #666666;
  border-bottom-color: #666666;
  border-right-color: #666666;
  background-color: #666666;
  color: #FFFFFF;
}
.vim-cp .no-left-padding {
  padding-left: 0px !important;
}
.vim-cp .vim-cp-depletions-chart .title-start {
  font-size: 12px;
  color: #767676;
  float: left;
  padding-left: 45px;
}
.vim-cp .vim-cp-depletions-chart .title-end {
  font-size: 12px;
  color: #767676;
  float: right;
  padding-right: 15px;
}
.vim-cp .vim-cp-depletions-chart .legend {
  margin-left: 40px;
  margin-bottom: 10px;
}
.vim-cp .vim-cp-depletions-chart .legend-item {
  width: auto;
}
.vim-cp .vim-cp-depletions-chart .legend-color-box {
  height: 13px;
  width: 17px;
  margin-bottom: 2%;
  margin-right: 6px;
  vertical-align: middle;
  display: inline-block;
  border-radius: 2px;
}
.vim-cp .vim-cp-depletions-chart .actual-utilization {
  background-color: #ff7300;
  border: 1px solid #ff7300;
}
.vim-cp .vim-cp-depletions-chart .actual-trend {
  background-color: #6666C0;
  border: 1px solid #6666C0;
}
.vim-cp .vim-cp-depletions-chart .simulated-utilization {
  background-color: #a6a6db;
  border: 1px solid #a6a6db;
}
.vim-cp .no-left-padding {
  padding-left: 0px !important;
}
.vim-cp .vim-cp-pie-chart {
  margin: 0 auto;
}
.vim-cp .vim-cp-pie-chart .stats .row {
  padding: 5px 10px;
}
.vim-cp .vim-cp-pie-chart .stats .row > div:nth-child(1) {
  color: #777777;
  padding-right: 0;
}
.vim-cp .no-left-padding {
  padding-left: 0px !important;
}
.vim-cp-vm-profile-summary .name {
  font-weight: 600;
}
.vim-cp-vm-profile-summary .instance-count {
  font-size: 24px;
}
.vim-cp .no-left-padding {
  padding-left: 0px !important;
}
.vim-cp-host-profile-summary .name {
  font-weight: 600;
}
.vim-cp-host-profile-summary .instance-count {
  font-size: 24px;
}
.vim-cp-report-header .header-container {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  flex-direction: column;
  font-size: 16px;
}
.vim-cp-report-header .header-container > div:not(:first-child) {
  /* put extra space between lines */
  margin-top: 7px;
}
.vim-cp-report-header .header-container .title {
  font-size: 18px;
  display: flex;
}
.vim-cp-report-header .header-container .subtitle {
  display: flex;
}
.vim-cp-report-header .header-container .computation-details {
  font-size: 16px;
}
.vim-cp-report-header .header-container .computation-details :nth-child(odd) {
  color: #767676;
}
.vim-cp-report-header .header-container .computation-details :nth-child(3) {
  /* pad second label from left */
  padding-left: 2em;
}
.vim-cp-report-footer ul {
  list-style: disc;
}
.vim-cp-report-navigation a {
  text-transform: uppercase;
  color: #0079AA;
}
.vim-cp .no-left-padding {
  padding-left: 0px !important;
}
.vim-cp .no-left-padding {
  padding-left: 0px !important;
}
.vim-cp-report-dropdown .xui-dropdown__display-value {
  font-size: 16px;
  color: #333333;
  font-weight: 700;
}
.vim-cp-report-dropdown .xui-dropdown__label {
  font-size: 16px;
}
.vim-event-details-widget {
  color: #767676;
}
.vim-event-details-widget .table-value {
  font-weight: 700;
  color: #333333;
}
.vim-event-details-widget .table > tbody > tr > td {
  padding-left: 0px;
}
.vim-event-details-widget h4 {
  color: #AAAAAA;
}

/*# sourceMappingURL=vim.css.map*/