﻿/* This stylesheet is meant specifically for styles that apply to Orion Web Resources */
.ResourceHeader
{
	color:Black;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
}

.disabledbtn
{
    color:Gray;
    font-family: Arial;
    font-size: 8pt;
    font-weight: normal;
    cursor: default;
    white-space: nowrap;
    line-height: 22px;
    padding: 4px 1px 4px 2px !important;
}

.disabledbtn img
{
    padding-right: 3px;
}
    
.disabledbtn:hover
{
    color: Gray;       
}

.enablebtn
{
    color: Black;
    font-family: Arial;
    font-size: 8pt;
    font-weight: normal;
    cursor: hand;
    white-space: nowrap;
    line-height: 22px;
    padding: 4px 1px 4px 2px !important;
}

.enablebtn img
{
    padding-right:3px;
}

.importbtn
{
    color: Black;
    font-family: Arial;
    font-size: 8pt;
    font-weight: normal;
    white-space: nowrap;
    line-height: 22px;
    padding: 4px 1px 4px 2px !important;
}

.importbtn img
{
    padding-right:3px;
}

.ResourceSubheader
{
	color:Black;
	font-family:Arial;
	font-size:9px;
	padding-top:3px;
}

.clsSearchHeader
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 14pt;
}

.clsSearchResultHeader
{
	font-family: Arial, Helvetica, Sans-Serif, Verdana, Geneva;
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
}

.AjaxCalendar .ajax__calendar_container {padding:4px;position:absolute;cursor:default;width:170px;font-size:11px;text-align:center;font-family:arial;}
.AjaxCalendar .ajax__calendar_body {height:139px;width:170px;position:relative;overflow:hidden;margin:auto;}
.AjaxCalendar .ajax__calendar_days, .ajax__calendar_months, .ajax__calendar_years {top:0px;left:0px;height:139px;width:170px;position:absolute;text-align:center;margin:auto;}
.AjaxCalendar .ajax__calendar_container TABLE {font-size:11px;}
.AjaxCalendar .ajax__calendar_header {height:20px;width:100%;}
.AjaxCalendar .ajax__calendar_title {cursor:pointer;font-weight:bold;}
.AjaxCalendar .ajax__calendar_footer {height:15px;}
.AjaxCalendar .ajax__calendar_today {cursor:pointer;padding-top:3px;}
.AjaxCalendar .ajax__calendar_dayname {height:17px;width:17px;text-align:right;padding:0 2px;}
.AjaxCalendar .ajax__calendar_day {height:17px;width:18px;text-align:right;padding:0 2px;cursor:pointer;}
.AjaxCalendar .ajax__calendar_month {height:44px;width:40px;text-align:center;cursor:pointer;overflow:hidden;}
.AjaxCalendar .ajax__calendar_year {height:44px;width:40px;text-align:center;cursor:pointer;overflow:hidden;}

.AjaxCalendar .ajax__calendar_container {border:1px solid #646464;background-color:#ffffff;color:#000000;}
.AjaxCalendar .ajax__calendar_footer {border-top:1px solid #f5f5f5;}
.AjaxCalendar .ajax__calendar_dayname {border-bottom:1px solid #f5f5f5;}
.AjaxCalendar .ajax__calendar_day {border:1px solid #ffffff;}
.AjaxCalendar .ajax__calendar_month {border:1px solid #ffffff;}
.AjaxCalendar .ajax__calendar_year {border:1px solid #ffffff;}

.AjaxCalendar .ajax__calendar_active .ajax__calendar_day {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}
.AjaxCalendar .ajax__calendar_active .ajax__calendar_month {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}
.AjaxCalendar .ajax__calendar_active .ajax__calendar_year {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}

.AjaxCalendar .ajax__calendar_other .ajax__calendar_day {background-color:#ffffff;border-color:#ffffff;color:#646464;}
.AjaxCalendar .ajax__calendar_other .ajax__calendar_year {background-color:#ffffff;border-color:#ffffff;color:#646464;}

.AjaxCalendar .ajax__calendar_hover .ajax__calendar_day {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.AjaxCalendar .ajax__calendar_hover .ajax__calendar_month {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.AjaxCalendar .ajax__calendar_hover .ajax__calendar_year {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}

.AjaxCalendar .ajax__calendar_hover .ajax__calendar_title {color:#0066cc;}
.AjaxCalendar .ajax__calendar_hover .ajax__calendar_today {color:#0066cc;}

.Property
{
    BORDER-BOTTOM: 0px groove transparent;
}
.PropertyHeader
{
    BORDER-BOTTOM: 0px groove transparent;
}

.refreshingIFRAME 
{
	position: fixed;
	width: 100%;
	height: 100%; 
	top:0px; 
	bottom:0px; 
	left:0px;
	right:0px;
	overflow:hidden; 
	padding:0; 
	margin:0; 
	background-color:white; 
	filter:alpha(opacity=75); 
	opacity:0.75; 
	z-index:1000; 
}

.refreshingDIV 
{
	position:fixed; 
	top:45%; 
	left:45%; 
	z-index:1000;
}

.refreshingIFRAME_FireFox
{
	position:fixed; 
    	top:0px; 
    	bottom:0px; 
    	left:0px;
    	right:0px;
    	overflow:hidden; 
    	padding:0; 
    	margin:0; 
    	background-color:white; 
    	filter:alpha(opacity=75); 
    	opacity:0.75; 
    	z-index:1000; 
 
}

.refreshingDIV_FireFox
{
	position:fixed; 
    	top:45%; 
    	left:45%; 
    	z-index:1000;
}

.blueBox
{
	background-color:#e4f1f8;
	width:100%;
}

.beigeBox
{	
	background-color:#fdf3d7;
	width:100%;
}

.leftLabelColumn
{
	padding-left:10px;
	width:10%;
	text-align: left;
}

#breadcrumb label 
{
	font-size: small;
}

#breadcrumb select 
{
	margin-right: 2em;
}

.breadcrumb
{
 	display: inline;  	
 	margin: 0px;
 	padding: 0;
}

.ChartResource table tbody tr td
{
	border-bottom: 0px groove transparent;
	font-size:10pt;
}

.ChartResource,
.ChartResource table
{
	width: 0%;
}

.WizardStyle td
{
	margin: 0;
	padding: 0;
}

.WizardStartNextButtonStyle
{
    padding-right: 25px;
}

.WizardStepNextButtonStyle
{
    padding-right: 25px;
}

.WizardStepPreviousButtonStyle
{
    padding-right: 10px;
}

.WizardFinishCompleteButtonStyle
{
    padding-right: 25px;
}

.WizardCancelButtonStyle
{	
    padding-right: 10px;
}

.WizardHeader
{
    font-size: 14px;
    font-weight: bold;
}

.HideWizardNavigationButtons 
{
	display: none;
}

.ncm_ThwackExport #ncm_ShareTitle
{
	font-size: 12pt;
	padding: 0px 45px 5px 0px;
	background: url(/Orion/NCM/Resources/images/logo_thwack_small.gif) right top no-repeat;
}

.ncm_ThwackExport
{
    background: url(/Orion/NCM/Resources/images/background_gradient.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 35vw;
}

.ncm_ThwackExport div
{
	font-size: 8pt;
	padding: 10px 25px 10px 15px;
}

.mnu-exportXLS
{
	background-image: url('/Orion/NCM/Resources/images/icon_export_excel.gif');	
}

.mnu-exportCSV
{
	background-image: url('/Orion/NCM/Resources/images/icon_export_csv.gif');	
}

.watermark
{
   color: gray;
}

.modalBoxHeaderFont
{
    font: bold 14px tahoma,arial,verdana,sans-serif;
}

.SuggestionWarning
{
	background: #fffdcc; 
	border: 1px solid #eaca7f; 
	border-radius: 5px;
	font-size:8pt;
	font-family: Arial,Verdana,Helvetica,sans-serif;
	display: inline-block; 
	position: relative;
	padding: 5px 6px 6px 26px; 
	color: #000;
}

.SuggestionWarning-Icon 
{
	position: absolute;
	left: 4px; 
	top: 4px; 
	height: 16px; 
	width: 16px; 
	background: url(/Orion/NCM/Resources/images/lightbulb_tip_16x16.gif) top left no-repeat; 
}

.ncm_UltraWebTree div[igpath] > img[imgtype] + img
{
    display: none;
}

.ncm_UltraWebTree .Property
{
    padding: 0px;
}