﻿.sw-progress {
    width: 100%;
    position: relative;
    height: 18px;
    background-color: #8e8e8e;
}

.sw-progress-text {
    width: 100%;
    position: absolute;
    text-align: center;
    color: white;
    font-weight: bold;
}

.sw-progress-bar {
    height: 18px;
    background-color: limegreen;
}