﻿.unselectedRow { color: #B7B7B7; }
.selector { color: #B7B7B7; }
.selector .selected { color: #000000; font-weight: bold; }
.right { text-align: right; }
    

.iName { min-width: 97px; }
.iType { min-width: 91px; }
.nName { min-width: 74px; }
.iDescr { min-width: 131px; }
.iAlias { min-width: 91px; }
.iPort { min-width: 61px; }
.iProtocol { min-width: 68px; }
.iPhysical { min-width: 56px; }
.iVlanID { min-width: 52px; }
    
  
#GroupBy { width: 120px; }
   
.hidden { display: none !important; }
    
.grid table .separator { padding-right: 10px;}
    
.grid { border: 1px solid #D7D7D7; }
.grid .title { background-color: #FFFFFF; color: #000000; font-weight: bold; height: 30px; width: 100%; margin: 5px 0px}
.grid .title label { padding-left: 13px; }
.grid .title span { display: inline-block; vertical-align:middle; }
.grid .body { background-color: #FFFFFF; padding: 0px 10px 10px 10px; }
.grid .body .panel { background-color: white; padding: 0px 10px; }
.grid .body #SelectedProperties.panel tr { height: 22px; }
.grid .link { color: #336699; } 
.grid .link:hover { color: #f99d1c; cursor: hand; cursor: pointer; } 


.grid .body label { background-color: #E0E0E0; display: block; padding: 5px 10px; }
#ShowAdvancedOptions.link { background: url("/Orion/Images/Button.Expand.gif") no-repeat scroll 0 0 transparent;
                    color: #000000; display: inline-block; margin-bottom: 15px; padding-left: 20px; cursor: pointer; }
#ShowAdvancedOptions.link:hover { color: #f99d1c; }

.grid table th { text-align: left; }
.grid table th img { vertical-align: middle; }
.grid td img { vertical-align: middle; }

#ListOfInterfaces { background-color: white;}
#ListOfInterfaces table { border-collapse: collapse; }       
#ListOfInterfaces table tr { height: 30px;}
#ListOfInterfaces img { vertical-align: middle; }
    
.expressionCell { display: inline-block; margin: 5px 2px 0px 2px;}
.expressionCell .property { width: 200px; }
.expressionCell .operator { width: 250px; }
.expressionCell .value { width: 200px; }
.expressionCell.add img, .expressionCell.remove img {
	vertical-align: text-bottom;
}
    
.groupCell {  display: inline-block; margin-top: 6px; vertical-align: middle; }
.groupTitle { width: 100%; height: 26px; font-weight: bold; padding: 0px; }
    
.groupTitle .expand { width: 16px; padding-left: 1px; }
.groupTitle .checkbox { width: 20px; }
.groupTitle .selected { width: 60px; text-align: right; }
.sw-is-locale-de .groupTitle .selected { width: 80px; } /* wider column for german strings */
.groupTitle .available { width: 75px; font-weight: normal; padding-left: 2px; }
.groupTitle .groupName { width: auto; }

.group { width: 100%; height: 30px; }
.group.alternatingRow { background-color: #E4F1F8; }
.group.selected { background-color: #FFE89E; }
.group .expand { width: 16px; padding-left: 1px; }
.group .checkbox { width: 20px; }
.group .selected { width: 60px; text-align: right; font-weight: bold; }
.sw-is-locale-de .group .selected { width: 80px; } /* wider column for german strings */
.group .available { width: 75px; color: #B7B7B7; padding-left: 2px; }
.group .groupName { width: auto; }
    
.subgrid { width: 100%; }
.subgrid th { background-color: #FFF3CE; }
.subgrid .buttonSize { width: 18px; min-width: 18px; max-width: 18px; }

#ListOfInterfaces .interfaceRow {  height: 18px; }
.interfaceRow > td { vertical-align: top; padding: 6px 1px; border-bottom: 1px dashed #D3D3D3; }
.interfaceRow.last > td { border-bottom: 2px solid #FFE89E; }
.subgrid .pager > td { border-bottom: 2px solid #FFE89E; }


.tooltip { display: none; position: absolute; width: 200px; }
#ExpressionNinja { padding-left: 470px; }
#ExpressionNinja img { vertical-align: middle; }
#ExpressionNinja a { text-decoration: none; }
#ExpressionNinja a:hover { text-decoration: none; }

#SelectedProperties td.port, #SelectedProperties th.port { padding-left: 50px; }	
#SelectedProperties td.protocol, #SelectedProperties th.protocol { padding-left: 50px; }	
#SelectedProperties td.hardware, #SelectedProperties th.hardware { padding-left: 50px; }

#loader { position: relative; text-align: center; width: 100%; margin: 20px; }
#loader .title { position:relative; display:inline-block; height:17px; top:-7px; font-weight: bold; }