﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="VimModuleDetails.ascx.cs" Inherits="Orion_VIM_Admin_VimModuleDetails" %>

<%@ Register src="~/Orion/Admin/Details/ModuleDetailsBlock.ascx" tagPrefix="orion" tagName="ModuleDetailBlock"%>

<orion:ModuledetailBlock ID="VimDetails" runat="server"></orion:ModuledetailBlock>
