﻿<%@ Page Language="C#" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">
    protected override void OnLoad(EventArgs e)
    {
        Server.Transfer("~/Orion/Admin/Accounts/Add/SelectAccountType.aspx");
        base.OnLoad(e);
    }
</script>

