/*!
 * @solarwinds/hardwarehealth 2020.2.5-113
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.hwh-hardware-details-widget__header {
  display: flex;
  align-items: center;
}
.hwh-hardware-details-widget__header__icon {
  flex: 0 0 auto;
}
.hwh-hardware-details-widget__header__name {
  flex: 1 auto;
}
.hwh-hardware-details-widget__list__row {
  display: flex;
  align-items: center;
}
.hwh-hardware-details-widget__list__row__left-column {
  flex: 1 1;
  max-width: 50%;
}
.hwh-hardware-details-widget__list__row__right-column {
  flex: 1 1;
  max-width: 50%;
  display: flex;
}
.hwh-hardware-details-widget__busy {
  height: 30px;
}

/*# sourceMappingURL=hardwareDetailsWidget.css.map*/