﻿h3 {
    font-size: 14px;
}

h4 {
    font-size: 13px;
}

.tablesPanel {
    padding-left: 18px;
}

.dataTable {
    border-collapse: collapse;
    width: 400px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.dataTable thead tr {
    background-color: #ECEDEE;
    color: #737373;
}

.dataTable tr {
    height: 30px;
    font-size: 15px;
}

.firstColumn {
    padding-left: 14px;
}

.lastColumn {
    text-align: right;
    padding-right: 14px;
}

.imgColumn {
    width: 36px;
}

.countColumn {
    padding-right: 30px;
}

.oddRow {
    background-color: #F6F6F6;
}

.tipMessage {
    border: 1px #D5CEA0 solid;
    display: inline-block;
    margin-top: 23px;
}

.tipMessage table {
  background-color: #FEFDCD !important;
}

.tipImage {
    margin-bottom: 15px;
    padding-right: 15px;
}

div.tooltip-outer {
    z-index: 10000;
}