﻿#adminContent td {
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}

.rating-star, .rating-star-noicon, .rating-star-inner {
    height: 16px;
}

.rating-star, .rating-star-inner {
    background: url("../images/star.gif") repeat-x scroll 0 0 rgba(255, 255, 255, 0);   
}

.rating-star, .rating-star-noicon {
    float: left;
    display: block;
}

.rating-star-on {
   background-position: 0 -32px; 
}

.rating-star-off {
    background-position: 0 0;
}

.rating-star-noicon {
    overflow: hidden !important;
}

.source-icon {
    background: url("../images/thwackauthor.png") no-repeat scroll 0 0 rgba(255, 255, 255, 0);
    padding-left: 20px;
}

.source-icon-certified {
    background: url("../images/certificate.png") no-repeat scroll 0 0 rgba(255, 255, 255, 0);
    padding-left: 20px;
}

.sidebar {
    background: #F9F9F9 url(/Orion/js/extjs/resources/images/default/grid/grid3-hrow.gif) repeat-x scroll 0 bottom;
}

.pollerDescriptionWindowBody{
    background-color: white;
    padding: 20px;
}

.link{
    color: #336699 !important;
    text-decoration:none;
    cursor: pointer;
}
.link:hover{
    color: #f99d1c !important;
    text-decoration: none;
}

#progressPercentage
{
    text-align: left;
    padding-left: 10px;
    width: 95px;
}

#progressDlg {
    height: 100%;
    background-color: #FFFFFF;
}

.dlgContent {
    padding: 10px;
}

.statusText {
    font-size: small;
    font-weight: bold;
    height: 35px;
    margin-bottom: 10px;
}

.dlgContent p {
    margin-bottom: 10px;
    font-size: 12px;
}

#progressTable {
    border-collapse: collapse;
}

#progressTable TD {
    font-size: small;
}

.progressLabel {
    padding-right: 10px;
    text-align: right;
    width: 95px;
}

.progressBar {
    background-image: url("/Orion/Discovery/images/progBar_off.gif");
    background-repeat: repeat-x;
    height: 20px;
    text-align: left;
    width: 300px;
}

.progressDataHeader {
    background-color: #E0E0E0;
    border: 1px solid #E0E0E0;
    font-style: italic;
    height: 22px;
    text-align: center;
    width: 149px;
}
.progressData {
    border: 1px solid #E0E0E0;
    height: 22px;
    text-align: center;
    width: 149px;
}

.progressSeparator {
    font-size: xx-small;
    height: 10px;
}

.finishedOptionsTable {
    padding-left: 10px;
    padding-bottom: 25px;
}

.finishedOptionsTable th {
    font-weight: bold;
    font-size: 14px;
}

.finishedOptionsTable td {
    font-size: 12px;
}


/*
    Poller results Error Dialog    
*/
#testPollerErrorDialog td{
    vertical-align: bottom;
}

#testPollerErrorDialog .installWarningWrapper {
    line-height: 150%;
}
#testPollerErrorDialog .sw-suggestion{
    min-width:650px;
}

#testPollerErrorDialog .installButtonWrapper{
    float: right;
    padding: 6px 0 0 6px;
}
#testPollerErrorDialog_errorMessage{
    margin: 20px 0;
}

#testPollerErrorDialog .cancelButtonWrapper{
    padding-bottom: 6px;
}