﻿.whatIsNew-Header {
    margin-left: 20px;
    font-size: 13px;
    width: 680px;
 }
.whatIsNew-Header a {
    color: #336699;
    text-decoration: underline;
}
.whatIsNew-WorkflowSection {    
    width: 680px;        
    margin-top: 15px;
    margin-bottom: -2px;
    padding-top: 10px;
    padding-left: 21px;
}

.whatIsNew-WorkflowSection table td.content {
    padding-left: 8px;
    padding-right: 7px;
    vertical-align: top;
    background-color: #e4f1f8;
    width: 181px;
}

.whatIsNew-WorkflowSection table td.empty {
    width: 18px;
}
        
.whatIsNew-WorkflowSection table td span.title {
    font-weight: bold;
    font-size: 13px;
    color: #0d477d;
}

.whatIsNew-WorkflowSection table td ul {
    font-size: 11px;
    color: #0d477d;
    padding-left: 15px;
    width: 160px;
    list-style-type: square;
}

.whatIsNew-WorkflowSection table td ul li {
    margin-top: 5px;
}

.whatIsNew-WorkflowSection-Footer {
    background-repeat: no-repeat;
    width: 680px;
    height: 230px;
}

.whatIsNew-WorkflowSection-Footer div.title {
    font-weight: bold;
    font-size: 13px;
    color: #0d477d;    
}
.sw-hdr-links {
    margin-top: 0px;
}
.whatIsNewLink a{
    background: transparent url(/Orion/images/WhatsNew_16x16.png) scroll no-repeat left center;
}

.whatIsNew-Body {
    width:680px;
} 
