﻿<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="~/Orion/Admin/OrionAdminPage.master" %>

<%@ Register Src="~/Orion/Controls/ProgressIndicator.ascx" TagName="Progress" TagPrefix="orion" %>
<script runat="server">
    protected override void OnLoad(EventArgs e)
    {
        Response.Cache.SetCacheability(HttpCacheability.NoCache);
        base.OnLoad(e);
    }
</script>
<asp:Content ID="Content1" ContentPlaceHolderID="adminHeadPlaceholder" runat="Server">
    <asp:ContentPlaceHolder ID="adminHeadPlaceholder2" runat="server" />
    <orion:Include ID="Include1" runat="server" File="CustomPropertyEditor.css" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="adminContentPlaceholder" runat="Server">
    <h1 style="_height: 20px;">
        <%= Page.Title %></h1>
    <table>
        <tr>
            <td>
                <orion:Progress ID="ProgressIndicator" runat="server" IndicatorHeight="OneLine" />
                <div style="width: 1150px;">
                    <asp:ContentPlaceHolder ID="wizardContent" runat="server" />
                </div>
            </td>
        </tr>
    </table>
</asp:Content>
