.sam-appoptics-getting-started .getting-started-container {
    background-color: #FFFFFF;
    padding: 20px 20px 15px 20px;
    border-style: solid;
    border-width: 15px;
    border-color: #204a63;
}

.sam-appoptics-getting-started .getting-started-separator {
    height: 15px;
}

.sam-appoptics-getting-started .getting-started-icon {
    float: left;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-image: url('../Images/orion-Getting_Started_with_Orion_icon.png');
}

.sam-appoptics-getting-started .getting-started-header span {
    font-size: 16px;
}

.sam-appoptics-getting-started .header-title {
    font-weight: bold;
}

.sam-appoptics-getting-started .header-subtitle {
    color: #909090;
}

.sam-appoptics-getting-started .getting-started-content {
    background-color: #F6F6F6;
    padding: 15px;
}

    .sam-appoptics-getting-started .getting-started-content p {
        margin: 0;
    }

    .sam-appoptics-getting-started .getting-started-content h5 {
        font-weight: bold;
        margin: 0;
        font-size: 14px;
    }

.sam-appoptics-getting-started .getting-started-footer {
    text-align: right;
}

.sam-appoptics-getting-started .getting-started-remove-link {
    float: left;
    margin-top: 6px;
}