.listitem--selected(
    @background-color: @xui-color-selected-bg,
    @background-color-hvr: @xui-color-selected-bg-hvr,
    @color: @xui-color-selected-text,
    @font-weight: @xui-font-weight-bold
) {

    background-color: @background-color;
    color: @color;
    font-weight: @font-weight;

    &.xui-listitem--clickable {
        &:hover {
            background-color: @background-color-hvr;
        }
    }
}
