// Horizontal dividers
//
// Dividers (basically an hr) within dropdowns and nav lists
@import (reference) "../xui-framework-colors.less";

.nav-divider(@color: @divider){
  height: 1px;
  margin: ((@line-height-computed / 2) - 1) 0;
  overflow: hidden;
  background-color: @color;
}
