﻿body
{
	background-color: @DefaultBackgroundColor;
}

#adminContent td .x-btn-mc { text-align: center; }

/* ADMIN PAGE - begin */

#adminContent #ipsla_Admin
{
    text-align: left;
}

#adminContent #ipsla_Admin h1
{
    padding-bottom: 0;
}

#adminContent #ipsla_Admin h2
{
    font-weight: normal;
    font-size: 8pt;
    margin-bottom: 1.2em;
}

#adminContent #ipsla_Admin .link
{
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

#adminContent #ipsla_Admin a
{
    color: #336699;
}

#adminContent #ipsla_Admin .para
{
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

#adminContent #ipsla_Admin .para a
{
    text-decoration: underline;
}

#adminContent #ipsla_Admin a:hover
{
    color: Orange;
}

#adminContent #ipsla_Admin .legend
{
    margin: 1.2em;
}

#adminContent #ipsla_Admin .legend img
{
    vertical-align: middle;
}

#adminContent #ipsla_Admin .legend div
{
    margin-bottom: 0.2em;
}

#adminContent #ipsla_Admin .title
{
    font-weight: bold;
    font-size: medium;
    margin-bottom: 0.4em;
}

#adminContent #ipsla_Admin .subtitle
{
    font-weight: bold;
    font-size: medium;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

#adminContent #ipsla_Admin .column1
{
    width: 65%;
    padding: 0 15px 0 0;
    vertical-align: top;
}

#adminContent #ipsla_Admin .column2
{
    width: 35%;
    padding: 0;
    vertical-align: top;
}

#adminContent #ipsla_Admin .contentBucket
{
    border: 1px solid #DBDCD7;
    margin: 10px 0 10px 0;
    padding: 10px 20px 10px 20px;
    background-color: white;
    background-image: url(../images/admin_box_bg.jpg);
    background-position: center bottom;
    background-repeat: repeat-x;
}

#adminContent #ipsla_Admin .contentBucket .header
{
    font-weight: 400;
    font-size: large;
    padding-bottom: 0.1em;
    border-bottom: solid 1px #A8B8D8;
    margin-bottom: 1em;
}

#adminContent #ipsla_Admin .contentBucket .icon
{
    width: 110px;
    padding-bottom: 0.1em;
    vertical-align: top;
    padding-right: 20px;
}

#adminContent #ipsla_Admin .contentBucket .iconAlignment
{
    width: 110px;
    padding-bottom: 0.1em;
    vertical-align: top;
    padding-right: 20px;
    text-align: center;
}

#adminContent #ipsla_Admin .contentBucket .body
{
    padding-bottom: 1em;
}

#adminContent #ipsla_Admin .sideBar
{
    background-color:#FFFFFF;
    border: 1px solid #DBDCD7;
    margin: 10px 0 10px 0;
}

#adminContent #ipsla_Admin .sideBar .header
{
    font-weight: 600;
    font-size: medium;
    padding: 0.5em;
    color: White;
    background-color: #A5A5A5;
}

#adminContent #ipsla_Admin .sideBar .body
{
    padding: 0.5em;
}


/* ADMIN PAGE - end */

#adminContent #breadcrumb
{
	font-size: 11px;
	margin-top:0;
	margin-bottom:0;
	padding:0;
}


#adminTable
{
	margin: 0;
	padding: 0;
	width: 100%;
}

#adminTable tr td
{
	vertical-align: top;
}

#adminTable div
{
	margin-bottom: 5px;
}

#adminNav
{
	width: 180px;
	white-space: nowrap;
}

#adminNav, #adminNav ul, #adminNav ul li, #adminNav ul li a, .nestedAdminNav
{
	background-color: Black;
	color: White;	
	white-space: nowrap;
}

#adminNav ul li a:hover
{
	color: Silver;
	text-decoration: none;
}

#adminNav ul
{
	margin-top: 1.5em;
	margin-left: 0px;
	padding-left: 0px;
}

#adminNav ul
{
	list-style-type: none;
}

#adminNav ul li
{
	margin-top: .2em;
	margin-left: 25px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#adminNav ul li.nestedAdminNav a
{
	margin-left: 1em;
}

#adminContent
{
	font-size: 8pt;
}

#adminContent h1
{
	padding-left: 0;
	padding-top: 5px;
	margin: 0;
}

#adminContent h2
{
	font-size: 9pt;
	font-weight: bold;
	padding-left: 0;
	margin-bottom: 5px;
}

#adminContent p
{
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid @GrooveColor;
	width: 400px;
	margin: 0;
}

#adminContent br
{
	padding: 0;
	margin: 0;
	background-color: @DefaultBackgroundColor; /* setting background color gets rid of IE strangeness on listviews */
}

#adminContent td
{
	margin: 0;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 0;
	text-align: left;
	border: 0;
	white-space: normal;
	vertical-align: middle;
}

#statusMessage
{
	font-size: large;
	color: Red;
}

.TitleHighlight
{
	color: Blue;
}

.FilterButton
{
    text-decoration: underline;
    color: Teal;
    font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	cursor:pointer;
}

.FilterLink
{
    color: #336699;
}



.FilterHeader
{
    font-weight: bold;
    text-align: left;
}

.FilterBody
{
    clear: both;
    text-align: left;
    width: 100%;
}

.FiltersBox
{
    height: 8%;
    background-color: #C6DEFF;
    overflow-y: auto;
}

.FilterGroupButton
{
    font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	text-align: right;
	vertical-align: bottom;
}

.FilterGroupText
{
    font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	text-align: right;
}

.FilterGroupHeader
{
    font-weight: bold;
    float: left;
}

.FilterGroupBody
{
    text-align:right;
    float: right;
}

.FilterGroupSpacer
{
    clear: both;
}

.FilterGroupMain
{
    float: none;
    clear: both;
    text-align: left;
    width: 100%;
}

.FilterGroupLowerBody
{
    height: 300px;
    width: 100%;
    overflow-y: auto; 
}

.ipsla_ExclamationBox
{
    margin: 6px 6px 10px 6px;
    padding: 10px;
    background-color: #FFF7CD;
}

.ipsla_ExclamationBox div.ExclamationBoxBody
{
    padding: 0px 0px 0px 42px;
    background-image: url(/Orion/Voip/images/warning_yellow_message_32.gif);
    background-repeat: no-repeat;
    background-position: left top;
}

.ipsla_ExclamationBox a
{
    color: #336699;
    font-weight: bold;
    text-decoration: underline;
}

.ipsla_NodeManager .alternate
{
    background-color: #E4f1f8;
}

.ipsla_AddNode,
.ipsla_AddGateway,
.ipsla_AddCallManager
{
    background-image: url(../images/add_16x16.gif) !important;
}

.ipsla_DiscoverNodes
{
    background-image: url(../images/ipsla_discovery_scan_16x16.gif) !important;
}

.ipsla_EditNode,
.ipsla_EditGateway,
.ipsla_EditCallManager
{
    background-image: url(../images/edit_16x16.gif) !important;
}

.ipsla_Edit_Creds
{
    background-image: url(../images/credential_16x16.png) !important;
}

.ipsla_RemoveNode,
.ipsla_RemoveGateway,
.ipsla_RemoveCallManager
{
    background-image: url(../images/delete_16x16.gif) !important;
}

.ipsla_EditOperation
{
    background-image: url(../images/edit_16x16.gif) !important;
}

.ipsla_RemoveOperation
{
    background-image: url(../images/delete_16x16.gif) !important;
}

.ipsla_SelectAll
{
    background-image: url(../images/select_all_16x16.gif) !important;
}

.ipsla_DeselectAll
{
    background-image: url(../images/deselect_all_16x16.png) !important;
}

.ipsla_AjaxTreeGroupBy
{
    margin: 5px 0 10px 0;
}

.ipsla_AjaxTreeContent
{
    padding: 5px 0 5px 0;
    background-color:#FFFFFF;
    border:1px solid #DBDCD7;
}

.ipsla_NodeAddError,
.ipsla_CallManagerAddError
{
    color: Red;
}

.ipsla_NodeAddSuccess,
.ipsla_CallManagerAddSuccess
{
}

.ipsla_EditNodeBox
{
    padding: 2px 5px 2px 5px;
}

.ipsla_EditNodeBox tr td
{
    padding-top: 8px;
    padding-bottom: 4px;
}

.ipsla_EditNodeBox tr.input td
{
    padding: 2px;
}

.ipsla_EditNodeBox tr.input
{
    background-color: #E4f1f8;
}

.ipsla_EditNodeBox tr.hint td
{
    padding: 0 5px 3px 5px;
    color: #646464;
    font-size: 11px;
}

.ipsla_EditNodeBox tr.error
{
    color: Red;
}

.ipsla_EditNodeBox tr td.col1Label,
.ipsla_EditNodeBox tr td.col2Label
{
    text-align: right;
    padding-right: 4px;
    width: 30%;
    white-space: nowrap;
}
.ipsla_EditNodeBox tr td.col2Label
{
    width: 0;
}

.ipsla_MaskArea
{
    position: relative;
}
.ipsla_MaskArea .validation .background
{
    width: 100%;
    height: 100%;
    background-color: #DDDDDD;
}
.ipsla_MaskArea .validation table
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.ipsla_MaskArea .validation table td
{
    text-align: center;
    vertical-align: middle;
}
.ipsla_MaskArea .validation table .message
{
    display: inline;
    border: solid 2px #BBBBBB;
    background-color: White;
    padding: 1.5em;
    font-weight: bold;
}
.ipsla_MaskArea .validation table message *
{
    vertical-align: middle;
}

.x-combo-list.x-menu.x-menu-neutralize
{
    /* Reset all unwanted 'x-menu' class' styles.
       We use 'x-menu' as a marker, for a combobox list to workaround hiding of menu windows
       in CredentialDialog when an item was selected. */
    padding: 0;
}

.extDisabled
{
    background-color: Gray;
    color: GrayText;
}

.validationTest
{
	padding: 2px 0.3em 2px 0.3em;
	display: -moz-inline-block;
	display: inline-block;
}
.validationTest *
{
	vertical-align: middle;
}
.validationTest.success
{
	font-weight: bold;
	background-color: #daf7cc; color: #00a000;
}
.validationTest.failure
{
	font-weight: bold;
	background-color: #facece; color: #ce0000;
}

.ipsla_EditNodeBox .ipsla_TextBox
{
    width: 200px;
}

.ipsla_ModalBackground 
{ 
    background-color: Gray; 
    filter: alpha(opacity=50); 
    opacity: 0.50; 
} 

.ipsla_UpdateProgress 
{ 
} 

.ipsla_NoAvailableNodes
{
    padding: 5px 5px 5px 5px;
    /*background-color:#FFFFFF;
    border:1px solid #DBDCD7;*/
}

.ipsla_NoAvailableNodes a, 
.ipsla_NoAvailableNodes a:active, 
.ipsla_NoAvailableNodes a:visited,
#adminContent .ipsla_AjaxTree a, 
#adminContent .ipsla_AjaxTree a:active, 
#adminContent .ipsla_AjaxTree a:visited 
{
    color: Navy;
    text-decoration: underline;
}

/* ExtJS related styles */
#adminContent td.x-btn-left , 
#adminContent td.x-btn-center, 
#adminContent td.x-btn-right
{
	margin: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	border: 0;
	white-space: normal;
	text-align: center;
}

.x-panel-body .ipsla_AjaxTree
{
    padding: 5px 5px 5px 5px
}

/* ExtJS related styles - end */

/* Add Call Manager Wizard */
.sw-voip-add-ccm-summary {
    border-collapse: collapse;
    border-spacing: 0px;
}
.sw-voip-add-ccm-summary td {
    padding: 5px 10px !important;
    vertical-align: middle !important;
    width: 200px;
}
.sw-voip-add-ccm-summary th 
{
    font-weight: bold;
    padding: 5px 10px;
    width: 200px;
}
/* Add Call Manager Wizard - end */
/* Add Media Gateway Wizard */
.sw-voip-add-MG-summary {
    border-collapse: collapse;
    border-spacing: 0px;
    background-color:  #E4F1F8;
    width:600px;
}
/* Add Media Gateway Wizard - end */
.ipsla_EditNodeBox .SavedCredentialCls input
{
    width: 175px !important;
}
.ipsla_EditNodeBox .EnableLevelCls input
{
    width: 150px !important;
}
.ipsla_EditNodeBox .ProtocolCls input
{
    width: 75px !important;
}
.ipsla_AxlCredentialTestFailed 
{
    padding-left: 20px; 
    color:black !important; 
    font-weight: normal !important; 
    font-size: 10px
}
.ipsla_AxlCredentialTestFailedBorder {
    border:1px solid red !important;
    border-radius: 5px 5px 5px 5px;
    width: 360px;
}

