﻿.selectCls{ background-image: url(../images/CWImages/select_all_16x16.png) !important;}
.deselectCls{ background-image: url(../images/CWImages/deselect_all.png) !important;}
.searchCls{width:2em !important; height:2em !important; float:right; cursor:pointer; background-image: url(../images/CWImages/Button.SearchIcon.gif) !important; background-repeat:no-repeat; background-position:center;}
.searchClsRemove{width:2em !important; height:2em !important; float:right; cursor:pointer; background-image: url(../images/CWImages/Button.SearchCancel.gif) !important; background-repeat:no-repeat; background-position:center;}
.searchTb{width: 85%;}
.addCls{ background-image: url(../images/CWImages/add_16x16.png) !important;}
.removeCls{ background-image: url(../images/CWImages/icon_delete.png) !important;}
.discoverCls{ background-image: url(../images/CWImages/NPM_discovery_16x16.gif) !important;}

#GridSelectedPlace .x42-grid-cell-inner {border:0 !important; background:0 !important}
#GridSelectedPlace .x42-grid-body.x42-grid-table-focused-first {border:0 !important; background:0 !important}
#GridSelectedPlace .x42-grid-cell.x42-grid-td.x42-grid-cell-headerId-gridcolumn-1027.x42-grid-cell-special.x42-grid-cell-first.x42-unselectable.x42-grid-cell-special {border:0 !important; background:0 !important}
#GridSelectedPlace .x42-grid-row-selected.x42-grid-cell-special {border:0 !important; background:0 !important}
#GridSelectedPlace .x42-grid-cell-special{background-image:none;}
#GridSelectedPlace .x42-grid-row-selected .x42-grid-cell-special{background-image:none;}
#GridSelectedPlace .x42-grid-row-selected .x42-grid-td{background-color:transparent;outline:none;}
#GridSelectedPlace .x42-grid-rowwrap{border:0;}
#GridSelectedPlace .x42-grid-row.x42-grid-wrap-row.x42-grid-row-selected.x42-grid-row-focused{background-color:transparent;outline:none;}
#GridSelectedPlace .x42-grid-row-over .x42-grid-td{background-color:transparent;border:0;outline:none;border-bottom-width:0;}
#GridSelectedPlace .x42-grid-row.x42-grid-row-collapsed.x42-grid-wrap-row{border:0;outline:none;}
#GridSelectedPlace .x42-grid-cell{border:0;}
#GridSelectedPlace .x42-grid-with-row-lines .x42-grid-td{border-bottom-width:0;border-top-width:0;}
#GridSelectedPlace .x42-grid-body .x42-grid-table-focused-first{border:0;}
#GridSelectedPlace .x42-grid-row.x42-grid-wrap-row.x42-grid-row-selected.x42-grid-row-focused.x42-grid-row-collapsed .x42-grid-data-row{border-bottom:1px solid #eee !important;}
#GridSelectedPlace .x-grid-header { display:none !important;}

.x42-grid-body
{
    width: auto !important;
    font-family: Arial, Helvetica, Sans-Serif !important; 
}
.rigthContainer
{
    width: auto; 
    overflow: auto; 
    min-width:700px;
    min-height: 600px;
    height: auto;
}

#CW
{
    display:none;
    min-width: 1100px; 
    clear: both; 
    left:0; 
    right:0; 
 }

#GroupedTreePlace
{
    width: 300px;
    display: inline;
    float: left;
    font-family: Arial, Helvetica, Sans-Serif !important; 
}

#GroupedTreePlace  div[id^="ext42-ext-gen"]
{
    left :0px !important;
}

#Buttons
{
    width: 45px;
    text-align: center;
    display: inline;
    float: left;
    padding: 170px 0 0 11px;
}
#Buttons .prev
{
    margin: 13px 0 0 0;
}
.next
{
    background: url(../images/arrows_add_32x32.gif) no-repeat 0 0;
}

.prev
{
    background: url(../images/arrows_remove_32x32.gif) no-repeat 0 0;
}
.nav-btn
{
    width: 32px;
    height: 32px;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

#Footer
{
    display: inline-block; 
    width: 100%;
    margin-top: 10px;
}

.addDeviceDialog{
	padding: .3em 0!important;
}
.customDialog .dialogControls{
    display:inline-block; width:100%;
}
.customDialog .dialogControls >div{
    clear: both; left:0; right:0; margin:5px 10px;
}
.customDialog  .customMsg{
	background-color: #FCFCB8;
}
.customDialog .customMsg .lamp {
	width: 20px!important;
	height: 20px!important;
	border: 0px;
	float: left;
	padding: 5px 0;
	background-image: url(../images/icon_bulb.png);
	background-repeat:no-repeat;
	background-position: 0px;
}
.customDialog .customMsg > div {
	padding-left: 25px;
}
.customDialog .isDemoMsg{
	padding: 0px 0px 10px 25px;
	display: none;
	color: #f00;
}

.customDialog .inputError {
    border: 2px solid #FF0000;
}

.customDialog #errorTooltip {
    display: none;
    padding-top: 10px;
    color: #ff0000;
}

.customDialog .button-group {
	border-top: 1px solid #aaa;
	margin: 15px 15px 0px;
	padding: 10px 0px 10px 0px !important;
}

.customDialog .pencil {
	width: 16px!important;
	height: 16px!important;
	border: 0px;
	float: left;
	padding: 0;
	background-image: url(../images/CWImages/edit_16x16.png);
	background-repeat:no-repeat;
	background-position: 0px;
}
.customDialog .someImg {
	width: 16px!important;
	height: 16px!important;
	border: 0px;
	float: left;
	padding: 0;
	background-image: url();
	background-repeat:no-repeat;
	background-position: 0px;
}

.customDialog .refresh {
	width: 16px!important;
	height: 16px!important;
	border: 0px;
	float: left;
	padding: 0;
	background-image: url(../images/CWImages/Refresh_icon_16x16.png);
	background-repeat:no-repeat;
	background-position: 0px;
}

.customDialog .link{
    color: #336699;
    font-size: 12px;
    margin-left: 5px;
}

.customDialog a {
	outline : none;
}

/*Change Speed Dialog*/
.customDialog input.param {
	width:60%;
	text-align: right;
}
.customDialog label.reportedMsg {
	color: #aaaaaa; 
}
/*Autocomplete styles*/

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
    width: 100%;
}

.enter-hostname-wrapper .enter-hostname-or-ip-div input[type="text"] {
    width: 100%;
}
.ac_results {
	padding: 0;
    margin-top: 1px;
	border: 1px solid #e2e2e2;
    border-radius: 4px;
	background-color: #f5f5f5;
	overflow: hidden;
    width: 304px !important;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	margin: 0;
}

.ac_results li {
	margin: 0;
	padding: 4px 5px 4px 8px;
	cursor: default;
	display: block;
    text-align: left;
    border: 1px solid transparent;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('../images/animated_loading_16x16.gif') right center no-repeat;
}

.ac_odd {
	background-color: transparent;
}

.ac_over {
	background: #fbf9e3; /* Old browsers */
    background: -moz-linear-gradient(top,  #fbf9e3 0%, #fbf9d3 50%, #faf6da 51%, #fbf9e3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbf9e3), color-stop(50%,#fbf9d3), color-stop(51%,#faf6da), color-stop(100%,#fbf9e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fbf9e3 0%,#fbf9d3 50%,#faf6da 51%,#fbf9e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fbf9e3 0%,#fbf9d3 50%,#faf6da 51%,#fbf9e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fbf9e3 0%,#fbf9d3 50%,#faf6da 51%,#fbf9e3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fbf9e3 0%,#fbf9d3 50%,#faf6da 51%,#fbf9e3 100%); /* W3C */
    /* Commenting the below statement since its making allignment issue in IE11
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf9e3', endColorstr='#fbf9e3',GradientType=0 ); /* IE6-9 
    */    
	color: #C47109;
    padding: 1px;
    border: 1px solid #efcf4a !important;
    overflow: hidden;
    border-radius: 4px;
}

.addDeviceIP {
    width: 34%; 
    float: left;
}

.manageCredLink {
    display: inline-block; 
    width: 50%; 
    float: left;
}

#manageLinks {
    width: 64%; float: left; margin-left: 10px;
}

#speedDialogHeader{
    width: 49%;
}

#speedDialogHeader ~ div {
    width: 49%;
}

.imparamDiv {
    margin-top: 30px;   
}

.imparam ~ div > div{
    float: left;
    width: 49%;
}

.imparam {
    float: left; 
    width: 49%;
}

#Footer > div > div {
    float: right;
}

#PollingEngines {
    margin-bottom: 10px;
}

#PollingEngines select {
    width: 200px
}

.moblink div a {
    margin-right: 30px;
}

#GridSelectedPlace .x42-grid-view, #GroupedTreePlace .x42-tree-view {
    width: 100% !important;
}

.cwSelectedNode > div {
    display: inline-block;
}

.cwSelectedNode .StatusIcon {
    margin-right: 5px;
}

.managedInterfaceLink {
    display: inline-block;
}

.managedInterfaceLink img {
    margin-right: 5px;
}

.subheader {
    font-size: 11px;
}

.x42-column-header-text {
    font-size: 11px;
}

.x42-panel-header-text-container-default-framed {
     font-family: Arial, Helvetica, Sans-Serif !important;
}

.x42-btn-inner {
     font-family: Arial, Helvetica, Sans-Serif !important;
}

.x42-tree-node-text {
    font-family: Arial, Helvetica, Sans-Serif !important;
}

.cwSelectedNode  {
   font-family: Arial, Helvetica, Sans-Serif !important; 
}

.x42-grid-cell-inner {
     font-family: Arial, Helvetica, Sans-Serif !important; 
}

.x42-column-header-text {
    font-family: Arial, Helvetica, Sans-Serif !important; 
}