﻿body{
       height :100%;
      }
html, body, div
{ 
    font-family: Arial, Helvetica, Sans-Serif; 
    font-size: 62.5% !important;  
}
.selectCls
{
    width: 2em !important;
    height: 2em !important;
    float: right;
    cursor: pointer;
    background-image: url(../images/CWImages/Button.SearchIcon.gif) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.searchClsRemove
{
    width: 1.5em !important;
    height: 1.5em !important;
    float: right;
    cursor: pointer;
    background-image: url(../images/CWImages/Button.SearchCancel.gif) !important;
    background-repeat: no-repeat;
    background-position: center;
}

#signalRTableDiv .x42-grid-cell-inner {
    white-space: normal;
}
.searchTb
{
    width: 70%;
}

.x42-toolbar-default
{
    background-image: none !important;
    background-color: white !important;
    border-color: white !important;
}
#CWHolder {
    padding: 30px 15px !important;
}

.selectCls
{
    background-image: url(../images/CWImages/select_all_16x16.png) !important;
}
.deselectCls
{
    background-image: url(../images/CWImages/deselect_all.png) !important;
}
.searchCls
{
    background-image: url(../images/CWImages/magnify_glass_search_16.png) !important;
}
.addCls
{
    background-image: url(../images/CWImages/add_16x16.png) !important;
}
.removeCls
{
    background-image: url(../images/CWImages/icon_delete.png) !important;
}
.discoverCls
{
    background-image: url(../images/CWImages/NPM_discovery_16x16.gif) !important;
}
#GroupedTreePlace .x42-form-field.x42-form-text
{
    height: 16px !important;
}
#PollingEngines .x42-form-field.x42-form-text
{
    width: 94% !important;
    height: 18px !important;
}
#CredenrialsPlaceHolder .x42-form-field.x42-form-text
{
    width: 94% !important;
    height: 18px !important;
}
#GridSelectedPlace .x42-grid-cell-inner
{
    border: 0 !important;
    background: 0 !important;
    line-height: 1.5em !important;
}
#GridSelectedPlace .x42-grid-body.x42-grid-table-focused-first
{
    border: 0 !important;
    background: 0 !important;
}
#GridSelectedPlace .x42-grid-cell.x42-grid-td.x42-grid-cell-headerId-gridcolumn-1027.x42-grid-cell-special.x42-grid-cell-first.x42-unselectable.x42-grid-cell-special
{
    border: 0 !important;
    background: 0 !important;
}

#GridSelectedPlace .x42-grid-cell-headerId-gridcolumn-1017
{
    width: 0.2rem !important;
    max-width: 0.2rem !important;
}
#GridSelectedPlace .x42-grid-row-selected.x42-grid-cell-special
{
    border: 0 !important;
    background: 0 !important;
}
.x42-grid-cell-special
{
    background-image: none;
}
.x42-grid-row-selected .x42-grid-cell-special
{
    background-image: none;
}
.x42-grid-row-selected .x42-grid-td
{
    background-color: transparent;
    outline: none;
}
.x42-grid-rowwrap
{
    border: 0;
}
.x42-grid-row.x42-grid-wrap-row.x42-grid-row-selected.x42-grid-row-focused
{
    background-color: transparent;
    outline: none;
}
.x42-grid-row-over .x42-grid-td
{
    background-color: transparent;
    border: 0;
    outline: none;
    border-bottom-width: 0;
}
.x42-grid-row.x42-grid-row-collapsed.x42-grid-wrap-row
{
    border: 0;
    outline: none;
}
.x42-grid-cell
{
    border: 0;
}
.x42-grid-with-row-lines .x42-grid-td
{
    border-bottom-width: 0;
    border-top-width: 0;
}
.x42-grid-body .x42-grid-table-focused-first
{
    border: 0;
}
.x42-grid-row.x42-grid-wrap-row.x42-grid-row-selected.x42-grid-row-focused.x42-grid-row-collapsed .x42-grid-data-row
{
    border-bottom: 1px solid #eee !important;
}
#GridSelectedPlace .x-grid-header
{
    display: none !important;
}

#GroupedTreePlace
{
    width: 15%;
    display: inline;
    float: left;
}
#Buttons
{
    width: 45px;
    text-align: center;
    display: inline;
    float: left;
    padding: 170px 0 0 11px;
}
#Buttons .prev
{
    margin: 13px 0 0 0;
}
.next
{
    background: url(../images/arrows_add_32x32.gif) no-repeat 0 0;
}

.prev
{
    background: url(../images/arrows_remove_32x32.gif) no-repeat 0 0;
}
.nav-btn
{
    width: 32px;
    height: 32px;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

#Footer
{
    display: inline-block;
    width: 100%;
    margin-top: 3em !important;
    margin-bottom: 4em;
}

.addDeviceDialog
{
    padding: .3em 0 !important;
    width: 97% !important;
}
.addDeviceDialog .ui-widget-header
{
    background: rgb(238, 153, 68);
    color: #ffffff;
}

.addDeviceDialog .dialog-content
{
    font-family: Arial, Helvetica, sans-serif;
}
.addDeviceDialog .customMsg
{
    background-color: #FCFCB8;
}
.addDeviceDialog .customMsg .lamp
{
    width: 20px !important;
    height: 20px !important;
    border: 0;
    float: left;
    padding: 5px 0;
    background-image: url(../images/icon_bulb.png);
    background-repeat: no-repeat;
    background-position: 0;
}
.addDeviceDialog .customMsg > div
{
    padding-left: 25px;
}
.button-group
{
    border-top: 1px solid #aaa;
    padding-top: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-bottom: 20px;
    width: 100%;
}  
.addDeviceDialog .pencil
{
    width: 1.0em !important;
    height: 1.0em !important;
    border: 0px;
    float: left;
    padding: 0;
    background-image: url(../images/CWImages/edit_16x16.png);
    background-position: 0px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: inline-block;
}

.cwLink
{
    color: 336699 !important;
}

.addDeviceDialog .someImg
{
    width: 16px !important;
    height: 16px !important;
    border: 0px;
    float: left;
    padding: 0;
    background-image: url();
    background-repeat: no-repeat;
    background-position: 0px;
}

.addDeviceDialog .refresh
{
    width: 1.0em !important;
    height: 1.0em !important;
    border: 0px;
    float: left;
    padding: 0;
    background-image: url(../images/CWImages/Refresh_icon_16x16.png);
    background-size: 100% auto;
    background-position: 0px;
}

.addDeviceDialog a
{
    outline: none;
}

/*Autocomplete styles*/

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
{
    width: 100%;
}

.enter-hostname-wrapper .enter-hostname-or-ip-div input[type="text"]
{
    width: 100%;
}
.ac_results
{
    padding: 0;
    margin-top: 1px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    background-color: #f5f5f5;
    overflow: hidden;
    width: 86% !important;
    z-index: 99999;
}

.ac_results ul
{
    width: 100%;
    list-style-position: outside;
    list-style: none;
    margin: 0;
}

.ac_results li
{
    margin: 0;
    padding: 4px 5px 4px 8px;
    cursor: default;
    display: block;
    text-align: left;
    border: 1px solid transparent; /*  	if width will be 100% horizontal scrollbar will apear  	when scroll mode will be used 	*/ /*width: 100%;*/
    font: menu; /*font-size: 12px; /*  	it is very important, if line-height not setted or setted  	in relative units scroll will be broken in firefox 	*/
    font-size: 1.5em !important;
    line-height: 1.0em !important;
    overflow: hidden;
}

.ac_loading
{
    background: white url('../images/animated_loading_16x16.gif') right center no-repeat;
}

.ac_odd
{
    background-color: transparent;
}

.ac_over
{
    background: #fbf9e3; /* Old browsers */
    background: -moz-linear-gradient(top,  #fbf9e3 0%, #fbf9d3 50%, #faf6da 51%, #fbf9e3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbf9e3), color-stop(50%,#fbf9d3), color-stop(51%,#faf6da), color-stop(100%,#fbf9e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fbf9e3 0%,#fbf9d3 50%,#faf6da 51%,#fbf9e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fbf9e3 0%,#fbf9d3 50%,#faf6da 51%,#fbf9e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fbf9e3 0%,#fbf9d3 50%,#faf6da 51%,#fbf9e3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fbf9e3 0%,#fbf9d3 50%,#faf6da 51%,#fbf9e3 100%); /* W3C */
    /* Commenting the below statement since its making allignment issue in IE11
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf9e3', endColorstr='#fbf9e3',GradientType=0 ); /* IE6-9 
    */  
    color: #C47109;
    padding: 1px;
    border: 1px solid #efcf4a !important;
    overflow: hidden;
    border-radius: 4px;
}

#CW .x42-panel-header
{
    background: #e37d00 !important;
    background-image: url('') !important; /*height: 1em !important;*/
    line-height: 57px !important;
}

#CW .x42-panel-header
{
    line-height: 57px !important;
}

#CW .x42-panel-body
{
    width: auto !important;
    top: 1.9em !important;
}

#Div1 .x42-panel-body
{
    height: auto !important;
    border: #fa9400 1px solid;
}

#Div2 > div
{
    border: #fa9400 3px solid;
}

#CW .x42-box-inner
{    
    height: 3.4rem !important;
    top: 0px;
    width: auto !important;
}

.x42-panel-header-default-horizontal
{
    padding: 1px !important;
}

#CW .x42-panel-header-text-container-default
{
    color: white;
    background-image: url('');
    background-color: #fa9400 !important;
    padding-left: 0px;
    border-bottom-width: 0;
    border-top: #fa9400 0.2em solid;
    border-bottom: #fa9400 0.2em solid;
    padding-left: 1.4em;
    text-transform: uppercase;
    line-height: 3rem;
    height: 3rem !important;
    top: 0px !important;
    width: 100% !important;
    margin-left: 3rem;
}

#CW .x42-tool-after-title
{
    left: 0px !important;
    top: 0px !important;
    width: 1em !important;
    height: 1em !important;
}

#Div1 .x42-tool-img
{
    overflow: hidden;
    width: 3.4rem;
    height: 3.4rem;
    background-image: url("../../Toolset/images/plus.png") !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#Div1 .x42-tool-over .x42-tool-collapse-top
{
    background-position: 0px 0px !important;
    background-image: url("../../Toolset/images/minus.png") !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#Div1 .x42-tool-collapse-bottom
{
    background-position: 0px 0px !important;
    background-image: url("../../Toolset/images/minus.png") !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#Div1 .x42-tool-over .x42-tool-collapse-bottom
{
    background-position: 0px 0px !important;
    background-image: url("../../Toolset/images/minus.png") !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#Div1 .x42-tool-collapse-top
{
    background-position: 0px 0px !important;
    background-image: url("../../Toolset/images/minus.png") !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#Div1 .x42-tool-expand-top
{
    background-position: 0px 0px !important;
    background-image: url("../../Toolset/images/plus.png") !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#Div1 .x42-tool-over .x42-tool-expand-bottom
{
    background-position: 0px 0px !important;
    background-image: url("../../Toolset/images/plus.png") !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#Div1 .x42-tool-expand-bottom
{
    background-position: 0px 0px !important;
    background-image: url("../../Toolset/images/plus.png") !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#Div1 .x42-tool-over .x42-tool-expand-top
{
    background-position: 0px 0px !important;
    background-image: url("../../Toolset/images/plus.png") !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#CW table, div, label
{
    font-size: 13px !important;
    font-size: 1.3rem !important;    
}

#CW .x42-panel-default
{
    bottom: 0;
}

#CW .x42-grid-with-row-lines .x42-grid-table
{
    width: 100% !important;
    overflow-x: hidden;
    overflow-y: auto;
}

#selectedItemsBottomDiv
{
    width: 100% !important;
}  

#Div2 .x42-tool-img
{
    overflow: hidden;
    width: 1.2em;
    height: 1.2em;
    background-image: url("../../Toolset/images/selectedPlus.png") !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#Div2 .x42-tool-over .x42-tool-collapse-top
{
    background-position: 0px 0px !important;
    background-image: url("../../Toolset/images/selectedMinus.png") !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#Div2 .x42-tool-collapse-bottom
{
    background-position: 0px 0px !important;
    background-image: url("../../Toolset/images/selectedMinus.png") !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#Div2 .x42-tool-over .x42-tool-collapse-bottom
{
    background-position: 0px 0px !important;
    background-image: url("../../Toolset/images/selectedMinus.png") !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#Div2 .x42-tool-collapse-top
{
    background-position: 0px 0px !important;
    background-image: url("../../Toolset/images/selectedMinus.png") !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#Div2 .x42-tool-expand-top
{
    background-position: 0px 0px !important;
    background-image: url("../../Toolset/images/selectedPlus.png") !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#Div2 .x42-tool-over .x42-tool-expand-bottom
{
    background-position: 0px 0px !important;
    background-image: url("../../Toolset/images/selectedPlus.png") !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#Div2 .x42-tool-expand-bottom
{
    background-position: 0px 0px !important;
    background-image: url("../../Toolset/images/selectedPlus.png") !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#Div2 .x42-tool-over .x42-tool-expand-top
{
    background-position: 0px 0px !important;
    background-image: url("../../Toolset/images/selectedPlus.png") !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cwMenuItem
{
    font-size: 13px !important;
    font-size: 1.3rem !important;
    line-height: 2.5em;
    padding-left: 0.5em;
    cursor: pointer;
    height: 2.5em;
    color: #606060;
    display: block;
    border-bottom: 0.1em #C2C2C2 solid;
}

.cwMenuItem > img
{
    height: 1em;
    width: 1em;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0px 0px !important;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

#selectedItemsDiv table
{
    width: 100%;
    padding: 0;
    border-spacing: 0;
    background: #535353;
}

#selectedItemsDiv td
{
    border-bottom: #E37D00 0.2em solid;
}

#selectedItemsBottomDiv
{
    display: inline-block;
    position: relative;
    top: 2em;
    border: #FA9400 0.1em solid;
    line-height: 2.5em;
}

#selectedItemsBottomDiv
{
    background-color: white;
}

#selectedItemsBottomDiv > div:nth-child(1)
{
    background-color: #FA9400;
    color: white;
    text-transform: uppercase;
    padding-left: 0.5em;
    font-weight: bold;
    font-size: 13px !important;
    font-size: 1.3rem !important;
}

#selectedItemsBottomDiv > div:nth-child(2)
{
    border-bottom: #C2C2C2 0.1em solid;
    line-height: 2rem !important;
    padding: 1rem;   
}

#selectedItemsBottomDiv > div:nth-child(2) > label
{
     font-size: 12px !important;
     font-size: 1.2rem !important;     
}

#RunButton .sw-btn-c
{
    background-image: url(../../Toolset/images/btn_sprites.png) !important;
}

#monitoButtonsDivM input
{
    font-size: 13px !important;
    font-size: 1.3rem !important;
    margin: 2rem 1rem 0rem;
    min-height: 0.9em !important;
    min-width: 1em !important;
    padding: 0.6rem !important;
}

#PollingEngines .x42-form-item-input-row td:nth-child(1)
{
    width: 10em !important;
}

#PollingEngines .x42-form-item-input-row td
{
    width: 10em !important;
   /* font-size: 0.8em !important;*/
}

#PollingEngines .x42-form-item-input-row td:nth-child(2) select
{
    font-size: 13px !important;
    font-size: 1.3rem !important;
}

.addDeviceIP
{
    width: 100%;
    float: left;
    margin-bottom: 1em;
}

.addDevicesContent
{
    width: 90% !important;
    margin: 0 auto;
}

.AutoComplete
{
    width: 100% !important;
    font-size: 13px !important;
    font-size: 1.3rem !important;
}

.ac_results li
{   
    font-size: 13px !important;
    font-size: 1.3rem !important;
}

#credenrialsSelect
{
    width: 100% !important;
    font-size: 13px !important;
    font-size: 1.3rem !important;
}

#credsDiv
{
    width: 90% !important;
}

#credsDiv > div:nth-child(1)
{
    width: 100% !important;
    margin-bottom: 1em;
}

#testCredBtn
{ 
    font-size: 13px !important;                  
    font-size: 1.3rem !important;
    min-height: 0.9em !important;
    min-width: 1.0em !important;
    float: right;
}

.manageCredLink
{
    display: inline-block;
    width: 100%;
    float: left;
    height: 2em;
}

.addBtns
{
    font-size: 13px !important;
    font-size: 1.3rem !important;
    margin: 1rem 0.5rem;
}

.statusIcon
{
    width: 1.0em !important;
    height: 1.0em !important;
    vertical-align: text-bottom;
}

.addDevicesContent:first
{
    padding-top: 1em;
}

.manageCredLink a
{  
    font-size: 12px !important;
    font-size: 1.2rem !important;
}

#manageLinks
{
    width: 100%;
    float: left;
    margin-left: 10px;
}

#GridSelectedPlace .x42-panel-body
{
    border-top: #C2C2C2 3px solid !important;
    top: 3rem !important;
}

#selectDesectAvailableDevicesChb
{
    margin-left: 6px !important;
}

#selectDesectAvailableDevicesChb ~ span
{
    font-size: 12px !important;
    font-size: 1.2rem !important;
    padding-left: 1rem;
}

#GridSelectedPlace .x42-toolbar
{
    height: 3rem !important;
    border: red solid thin;
}

#GridSelectedPlace > div:first > div:first
{
    background-image: none !important;
    background-color: white !important;
    border-color: white !important;
}

#GridSelectedPlace > .x42-toolbar
{
    padding-left: 0em !important;
}

#GridSelectedPlace > .x42-panel
{
    padding-left: 0em !important;
    width: auto !important;
}

#GridSelectedPlace
{
    padding-left: 0em !important;
}

#GridSelectedPlace .x42-grid-header-ct
{
    display: none;
}

#GridSelectedPlace .x42-grid-view
{
    padding-left: 0em !important;
    width: auto !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch
}



#GridSelectedPlace .x42-grid-view span
{
    font-size: 13px !important;
    font-size: 1.3rem !important;
    line-height: 1.7em !important;
    width: auto !important;
    white-space: normal;
}

#groupSelect
{
    font-size: 13px !important;
    font-size: 1.3rem !important;
}

#availableNodesDiv
{
    width: 95%;
    margin: 0 auto;
}

#treeSearchMobile div:nth-child(1)
{
    display: none !important;
}

#treeSearchMobile div input
{
    font-size: 13px !important;
    font-size: 1.3rem !important;
    width: 90% !important;
}

#treeSearchMobile
{
    margin-bottom: 1em;
}

#groupSelectMobile
{
    margin-top: 3rem;
    margin-bottom: 1em;
}

#groupSelectMobile div:nth-child(1)
{
    margin-bottom: 0.5em;
}
#searchBtn
{
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    float: right;
}

#GridSelectedPlace > div:nth-child(1) > div:nth-child(1)
{
    color: #6F6F6F !important;
    background: #E7E7E7 !important;
}

#availableNodesMobile .x42-toolbar
{
    color: #6F6F6F !important;
    background: #E7E7E7 !important;
    border-bottom: #6F6F6F 0.1em solid !important;
    border-top: #6F6F6F 0.1em solid !important;
    line-height: 3rem;
}

#availableNodesMobile .x42-grid-header-ct
{
    display: none;
}

#availableNodesMobile .x42-panel-body
{
    border: white 0px none !important;
    top: 3rem !important;
    border-bottom: #6F6F6F 0.1em solid !important;
    margin-top: 0.6rem;
}

#availableNodesMobile
{
    border-bottom: #6F6F6F 0.1em solid !important;
    -webkit-overflow-scrolling: touch;
}

#availableNodesMobile .x42-tree-node-text
{
    font-size: 13px !important;
    font-size: 1.3rem !important;
}

#selectButton input
{
    margin-left: auto !important;
    margin-right: auto !important;
}

#Div1 .x42-tree-icon
{
    width: 1.5rem;
    height: 1.5rem;
}

#Div1 .x42-tree-icon,#Div1 .x42-tree-elbow-img,#Div1 .x42-tree-checkbox {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    -webkit-appearance: none;
    border-radius: 0;
}

#Div1 .x42-tree-elbow-img, .x42-tree-icon
{
    vertical-align: middle !important;
}

#Div1 .x42-grid-empty ~ div
{
    left: 0px !important;
}

#GridSelectedPlace .x42-grid-empty
{
    font-size: 12px !important;
    font-size: 1.2rem !important;
}

#GridSelectedPlace .x42-grid-row-expander
{
    display: none !important;
}

#GridSelectedPlace .x42-border-box
{
    height: 100% !important;
}

#GridSelectedPlace > div > div table table tr > td
{
    line-height: 2.0em !important;
}

#commandsTable
{
    background: #F1F1F1;
    color: #606060 !important;
}

#GridSelectedPlace .x42-grid-rowbody > div > .x42-grid-header-hidden > .x42-panel-body
{
    top: 0em !important;
     height: auto !important;
}

#GridSelectedPlace .x42-grid-cell-inner > div > .parentIpCb + span
{
    font-weight: bold;
    margin-left: 1.0em;
}

#GridSelectedPlace .x42-border-box .x42-panel-body .x42-grid-view-default .x42-grid-table .x42-grid-data-row > td > .x42-grid-cell-inner > div > span
{
    margin-left: 0.5em;
}

#GridSelectedPlace .x42-border-box .x42-panel-body .x42-grid-view-default .x42-grid-table .x42-grid-data-row td
{
    border-bottom: 0.1em #C2C2C2 solid !important;
}

#interfaceResultsCW
{
    border: none !important;
}

#speedDialogHeader
{
    width: 100% !important;
}

#speedDialogHeader ~ div
{
    width: 100% !important;
    line-height: 2em;
}

#speedDialog .param
{
    font-size: 13px !important;
    font-size: 1.3rem !important;
}

.imparamDiv
{
    display: inline-block;
    margin-top: 2em;
    width: 100%;
}

.imparam
{
    width: 100% !important;    
    font-size: 1.125em !important;
}

.imparam > input
{
    width: 80%;
}

.imparam > label
{
    width: 20%;
}

.imparam ~ div
{
    width: 100% !important;
}

.imparam ~ div > div
{
    float: right;
    margin-right: 20%;
}

#speedDialog .button-group > div
{
    margin: 0 auto;
    width: 15em;
}

#speedDialog .button-group input
{
    font-size: 13px !important;
    font-size: 1.3rem !important;
    margin-bottom: 10%
}

#speedDialog .button-group
{
    display: inline-block;
    margin-top: 5em;
    padding-top: 2em;
}

#speedDialogBack {
    cursor: pointer;
}

#speedDialogTitle {
 margin-bottom: 1em;
 display: inline-block;
 width: 100%;  
}

#speedDialogTitle div:first
{
    font-size: 18px !important;
    font-size: 1.8rem !important;
}

#availableNodesMobile .x42-grid-cell-inner
{
    border-bottom: thin solid #D3D3D3;
}

﻿.searchCls
{
    width: 2em !important;
    height: 2em !important;
    float: right;
    cursor: pointer;
    background-image: url(../images/CWImages/Button.SearchIcon.gif) !important;
    background-repeat: no-repeat;
    background-position: center;
}


#availableNodesMobile > .x42-panel > .x42-toolbar {
    padding-left: 1rem;
    height: 3rem !important;
    font-size: 12px !important;
    font-size: 1.2rem !important;
}

#availableNodesMobile > .x42-panel > .x42-toolbar > span {
    padding-left: 0.3em;
}

#GridSelectedPlace table {
    width: 100%;
}

.link
{
    font-size: 12px;
    font-size: 1.2rem !important; 
}

#CWHolder > div:first-child {
    height: 50px !important;
}

#GridSelectedPlace .x42-grid-cell-inner td {
    font-size: 13px;
    font-size: 1.3rem !important; 
}

#Footer .x42-field-label-cell {
    font-size: 12px;
    font-size: 1.2rem !important; 
}

#dialog .sw-suggestion div {
     font-size: 12px;
    font-size: 1.2rem !important; 
}

#CWHolder > div > span 
{
    font-size: 18px;
    font-size: 1.8rem !important;  
}

.isDemoMsg{
    padding: 0px 0px 10px 25px;
    color: #f00;
    display: none;
}

#PollingEngines select {
    width: 10em;
}

.x42-box-inner {
    height: 1em;
}
.x42-window-header-default .x42-tool-img  {
    display: none !important;    
}
.x42-header-text 
{
    font-size: 13px;
    font-size: 1.3rem !important;
}
#CWHolder {
    font-family: Arial,Helvetica,Sans-serif !important;
}
#nodePanelContent {
     font-size: 1.3rem !important;
}

/*new*/

.x42-panel-header-default 
{
    border: 0 !important;
} 
.sw-suggestion
{
    margin-bottom: 2rem;
    width: auto !important;
} 
.sw-suggestion-nostyle .sw-suggestion-icon, .sw-suggestion .sw-suggestion-icon
{
    left: 0.5rem;
    top: 1rem;
}  
#noCpusMessage ,##noInterfacesMessage
{
   position: static !important;
}
#signalRTableDiv .x42-panel
{
    margin: auto;
}

#switchView
{
    width: 20rem !important;
    margin: 3rem auto !important;
}

#signalRTableDiv .x42-gridview-1036-table .x42-grid-table col
{
    width: auto !important;
}

#GridSelectedPlace .x42-toolbar, #Div1 .x42-panel, #Div1 .x42-panel-header, #Div1 .x42-header-body, #Div1 .x42-box-target,#availableNodesMobile .x42-toolbar,#availableNodesMobile .x42-tree-view
{
    width: 100% !important;
}

#setpan a {
    font-size: 13px;
    font-size: 1.3rem;
} 

#interfaceMonitorResults, #interfaceMonitor {
  box-sizing: border-box;
}

#mobileFooter {
    position: absolute !important;
}

#speedDialogTitle div:first-child {
    font-size: 18px;
    font-size: 1.8rem !important;
}

#speedDialogTitle div:last-child {
    margin-top: 20px;
}

.cwSelectedNode > div {
    display: inline-block;
    vertical-align: middle !important;
}

.managedInterfaceLink {
    display: inline-block;
}

.managedInterfaceLink img {
    margin-right: 5px;
}

#CW
{
    padding-right: 15px;
    padding-left: 15px;
} 

 .expanderImage{
    background-image: url(./../images/CWImages/plusminus.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    cursor:pointer; 
    background-size: 50px 23px;
    height: 25px;
    width: 25px;
}

.expanderImageMinus{
    background-position: -25px 0px;
}
    
#mobileNestedGridRow{
    margin-left: 19px;
}

.mobileDiscoveryProgress{
    margin-left: 1em;
}
.parentIpCb{
    vertical-align: middle;
}

#CW input[type="checkbox"] {
    height: 25px;
    width: 25px;
    min-height: 25px;
    min-width: 25px;
    vertical-align: middle;
}

#CW .x42-tree-checkbox  {
    background-size: 100px 75px;
    height: 25px;
    top: 0;
    width: 25px; 
}

#CW .x42-tree-checkbox-checked {
    background-position: 0 -25px;
}

.x42-tree-arrows .x42-tree-expander {
    background-size: 100px 25px;
    height: 25px;
    width: 25px;
}

.x42-tree-arrows .x42-grid-tree-node-expanded .x42-tree-expander {
    background-position: -25px center;
}  

.x42-tree-arrows .x42-grid-tree-node-expanded .x42-tree-expander-over .x42-tree-expander{
    background-position: -75px center;
}

.x42-tree-arrows .x42-tree-expander-over .x42-tree-expander{
    background-position: -50px center;
}

/*FB327071 Was decided to hide them because of many issue*/
#switchView {
    display: none !important;
} 