﻿body
{
    background: url("../images/cpu-bg.png") 94% 80% #f5f5f5 no-repeat;
    font-family:Arial, Helvetica, Sans-Serif !important;
}

#cpuMonitorResults
{
    display: none;
}

.CancelLink
{
    border: 0px;
    background: transparent;
    color: #36689A;
    cursor: pointer;
    margin: 0 0 0 10px;
}

#resultsTable
{
    padding: 10px 10px 0 20px;
}

#noCpusMessage
{
    position: absolute;
    left: 44%;
    top: 48%;
}

#switchView {
    float: right;
    vertical-align: middle;
    line-height: 25px;
    margin-left: 40px;
}

.tableViewBtnActive {
    background-image: url("../images/viewButtons.png");
    background-position: 28px 0px;
    width: 28px;
    height: 27px;
}

.tableViewBtnInactive {
    background-image: url("../images/viewButtons.png");
    background-position: 0px 0px;    
    width: 28px;
    height: 27px;
}

.plotViewBtnActive {
     background-image: url("../images/viewButtons.png");
    background-position: 28px 27px;
    width: 28px;
    height: 27px;
}

.plotViewBtnInactive {
    background-image: url("../images/viewButtons.png");
    background-position: 0px 27px;
    width: 28px;
    height: 27px;
}

#tableViewDiv
{
    display: inline-block;
    margin-left: 10px;
        
}

#plotViewDiv
{
    display: inline-block;
    margin-left: 10px;
}

.MobNav {
    display: block;
    margin-right: 50px;
}

#signalRTableDiv .x42-grid-header-ct {
    /* height: 25px; */
}

#signalRTableDiv .x42-panel-body {
    height: auto !important;
}

#signalRTableDiv .x42-box-inner {
    height: 25px !important;
}

#signalRTableDiv{
  height: 100% !important;
}
