﻿#pbarBody td.x-btn-left , 
#pbarBody td.x-btn-center, 
#pbarBody td.x-btn-right /*,
#adminContent #wizardControl #grid td */
{
	margin: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	border: 0;
	white-space: normal;
	text-align: center;
}

/*
#adminContent #wizardControl td
{
    padding: 1px;
}
#adminContent #wizardControl .Events td
{
    padding: 4px;
}
*/

.ipsla_ProgressBox
{
    clear: both;
    padding: 0px;
    background-image: url(/Orion/Voip/images/ProgressBar/area_bg.jpg);
    width: 348px; height: 109px;
    position: relative;
}

.ipsla_ProgressBarDiscovery
{
    padding: 0px 0px 0px 0px;
}

.ipsla_ProgressBarDiscovery .x-progress-wrap
{
    border-width: 0px;
}
.ipsla_ProgressBarDiscovery .x-progress-inner
{
    background: transparent url(/Orion/Voip/images/ProgressBar/progress_bg.gif) repeat-x 0 0;
    height: 18px;
}

.ipsla_ProgressBarDiscovery .x-progress-bar
{
    background: transparent url(/Orion/Voip/images/ProgressBar/progress_bg_done.gif) repeat-x 0 0;
    border-width: 0px;
}

.ipsla_EditCredentials
{
    background-image: url(../images/edit_16x16.gif) !important;
}
.ipsla_SelectSuccessful, .ipsla_SelectErrors
{
    background-image: url(../images/icon_select.gif) !important;
}

.PBarStatusLine {clear: both; padding: 10px 0 0 0;}
.PBarColor {width: 12px; height: 12px; border: 1px solid #7FA9E4;  display: block; float: left;}
.PBarColorCreated {background: #9CBFEE;}
.PBarColorTotal {background: #E0E8F3;}

.PBarValue { width: 20px; display: block; padding: 0 5px 0 10px; float: left; text-align: right; font-weight: bold; }
.PBarValueDescription {text-align: left; display: inline; }

.PBarButtons { text-align: right; padding: 10px 10px 10px 10px; }

/* Wizard results */
.x-ipsla-form-menu-item {width: 500px;}
.x-ipsla-form-menu { width: auto !important; height: auto !important; }
.x-ipsla-form-menu .x-panel-footer {width: 200px; text-align: right; }
.x-ipsla-form-menu .x-panel-bwrap { text-align: right; width:auto; }
.x-ipsla-form-menu .x-panel-body { border-style: none; text-align: left; }