﻿.flat-button
{
    color: #000000;
    background: #ffffff;
    border: solid #dbdbdb 2px;
    height: 37px;
    line-height: 30px;
    padding: 0 9px;
    vertical-align: middle;
    float: right;
    margin: 0 35px 10px 0;
}

.flat-button span
{
    padding: 0px 0 4px 4px;
}

.flat-button-img
{
    padding: 0;
    height: 15px;
    width: 16px;
    vertical-align: middle;
    margin: 0 8px 3px 0;
}

.flat-button-imgDown
{
    padding: 0;
    height: 5px;
    margin: 0 0 0 8px;
    vertical-align: middle;
    width: 10px;
}

.toolset-dropdown
{
    position: absolute;
    z-index: 9999999;	
}

.toolset-dropdown .dropdown-menu, .dropdown-panel
{
    list-style: none;
    background: #FFF;
    border: solid 2px #DBDBDB;
    border-radius: 0px;
    box-shadow: none;
    overflow: hidden;
    padding: 5px 0;
    margin: 0;
    border-top: 0;
    width: 200px;
}

.toolset-dropdown .dropdown-panel
{
    padding: 10px;
}

.toolset-dropdown .dropdown-tip.dropdown-anchor-right:after
{
    left: auto;
    right: 10px;
}


.toolset-dropdown .dropdown-scroll .dropdown-menu, .dropdown.dropdown-scroll .dropdown-panel
{
    max-height: 358px;
    overflow: auto;
}

.toolset-dropdown .dropdown-menu LI
{
    list-style: none;
    padding: 0 0;
    margin: 0;
    line-height: 22px;
}

.toolset-dropdown .dropdown-menu LI > A, .dropdown .dropdown-menu LABEL
{
    display: block;
    color: #555;
    text-decoration: none;
    line-height: 18px;
    padding: 4px 11px;
    white-space: nowrap;
}

.toolset-dropdown .dropdown-menu .dropdown-divider
{
    font-size: 1px;
    border-top: solid 1px #E5E5E5;
    padding: 0;
    margin: 5px 0;
}

.clearfix
{
    overflow: hidden;
    clear: both;
}

.toolsetButton
{
    display: inline;
}

.toolsetButton > img:hover
{
    cursor: pointer;
}

.toolsetButtonInTree
{
    padding-left: 5px;
}

.toolsetButtonInTable
{
    float: right;
    padding-right: 5px;
}

.toolsetButtonInTitle
{
    padding-right: 5px;
}

.nodeDropdown
{
    padding: 0px !important;
}

.toolset-dropdown .suggestedTools
{
    background: #E0E0E0;
    font-size: small;
    font-weight: bold;
    line-height: 24px !important;
    padding-left: 5px !important;
}

.nodeDropdown > li > div > a
{
    background-size: 16px 16px;
    background-position: 5% 50%;
    background-repeat: no-repeat;
    padding-left: 25px !important;
    font-size: small;
}

.nodeDropdown > li > .toolItem
{
    border-bottom: #E5E5E5 1px solid;
    padding-left: 5px;
    padding-left: 5px;
}

.nodeDropdown > li > .allToolsItem
{
    border-top: #ABABAB 1px solid;
    padding-left: 5px;
}

.toolset-dropdown .dropdown-tip:before
{
    position: absolute;
    top: -6px;
    left: 2px;
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #E0E0E0;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
}

.nodeDropdown > LI:hover > div > A
{
    background-color: #FFE89E;
    color: black;
    cursor: pointer;
}

.nodeDropdown > LI:hover 
{
    background-color: #FFE89E;    
    cursor: pointer;    
}

.nodeDropdown > LI:hover > div > a
{
    color: black;
    cursor: pointer;
}

.nodeDropdown > .suggestedTools:hover
{
    background-color: #E0E0E0;
    cursor:  default;
}