﻿.flat-button
{
    color: #336699;
    background: transparent;
    border: solid transparent 2px;
    height: 37px;
    line-height: 30px;
    padding: 0px;
    vertical-align: middle;
    float: left;
    width: 110px;
    margin: 0;
}
#export-button-div .dropdown-open
{
    color: #000000;
    background: #ffffff;
    border: solid #dbdbdb 2px;
    height: 37px;
    line-height: 30px;
    padding: 0;
    vertical-align: middle;
    float: left;
    margin: 0;
}
.flat-button span
{
    padding: 0px 0 4px 4px;
}
.flat-button-img
{
    padding: 0;
    height: 15px;
    width: 16px;
    vertical-align: middle;
    margin: 0 8px 3px 0;
}
.flat-button-imgDown
{
    padding: 0;
    height: 5px;
    margin: 0 0 0 8px;
    vertical-align: middle;
    width: 10px;
}

#export-div
{
    position: absolute;
    z-index: 9999999;
    display: none;
}

#export-div .dropdown-menu
{
    list-style: none;
    background: #FFF;
    border: solid 2px #DBDBDB;
    border-radius: 0px;
    box-shadow: none;
    overflow: hidden;
    padding: 5px 0;
    margin-top: 30px;
    width: 106px;
    border-top: 0;
}

#export-div .dropdown-panel
{
    padding: 10px;
}

#export-div .dropdown-tip.dropdown-anchor-right:after
{
    left: auto;
    right: 10px;
}


#export-div .dropdown-scroll .dropdown-menu, .dropdown.dropdown-scroll .dropdown-panel
{
    max-height: 358px;
    overflow: auto;
}

#export-div .dropdown-menu LI
{
    list-style: none;
    padding: 0 0;
    margin: 0;
    line-height: 18px;
}

#export-div .dropdown-menu LI > A, .dropdown .dropdown-menu LABEL
{
    display: block;
    color: #555;
    text-decoration: none;
    line-height: 18px;
    padding: 4px 11px;
    white-space: nowrap;
}

#export-div .dropdown-menu LI > A:hover, #export-div .dropdown-menu LABEL:hover
{
    background-color: #ff9902;
    color: #FFF;
    cursor: pointer;
}

#export-div .dropdown-menu .dropdown-divider
{
    font-size: 1px;
    border-top: solid 1px #E5E5E5;
    padding: 0;
    margin: 5px 0;
}