﻿html, body, div 
{
    font-size: 62.5% !important;
    font-family: Arial, Helvetica, Sans-Serif;
}
.headerlink
{
    margin-top: 10px;
}
.headerlink:before
{
    content: '\A\A';
    white-space: pre;
}
.spinnerDiv
{
    clear: both;
    margin-left: 0px !important;
    width: 100% !important;
}
.spinnerDiv:before
{
    content: '\A';
    white-space: pre;
}
.stopSpinnerDiv
{
    clear: both;
    margin-left: 0px !important;
    width: 100%;
}
.stopSpinnerDiv:before
{
    content: '\A';
    white-space: pre;
}
.MobNav
{
    margin-left: 0px !important;
    margin-right: 0px !important;
    display: inline-block;
    clear: both;
   /* float: left !important;  */
    width: 100%;
}
.MobNav:before
{
    content: '\A\A\A';
    white-space: normal;
}
.mobile_break
{
    display: block !important;
}

.moblinks
{
    float: right !important;
    padding-bottom: 10px !important;
    margin-right: 1rem !important;
}
.moblink
{
    float: left !important;
    padding-bottom: 10px !important;
    margin-left: 5px;
}
.button-wrapper
{
    float: right !important;
}

/*Export Button style*/
.flat-button-imgDown
{
    margin-left: 0.2em !important;
    height: 0.4em !important;
    width: 0.4em;
}
.flat-button
{
    font-size: 12px;
    font-size: 1.2rem !important;
    float: left !important;
    line-height: 2em !important;
    margin: 0 !important;
    vertical-align: middle !important;
}
.flat-button-img
{
    height: 0.75em;
    width: 0.75em;
    margin-right: 0.2em !important;
}
#export-div
{
    font-size: 12px;
    font-size: 1.2rem !important;
}
.dropdown .dropdown-menu, .dropdown .dropdown-panel
{
    border-width: 0 0.2em 0.2em;
    padding: 1em 0;  
    width: 9.5rem !important;
}

.dropdown .dropdown-menu LI > A, .dropdown .dropdown-menu LABEL
{
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.7rem;
    padding: 0 0 0 2em;
}
.dropdown-open
{
    border: 0.125em solid #DBDBDB;
}
/*End of TraceRoute button style*/
#spinnerDiv span
{
    font-size: 12px;
    font-size: 1.2rem;
}
.moblink .link
{
    font-size: 12px;
    font-size: 1.2rem !important;
}

#spinnerDiv
{
    float: none !important;
}
#spinnerDiv > img
{
    min-height: 2em !important;
    min-width: 2em !important;
    padding: 0 1rem 0 0;
}
.moblinks a
{
    font-size: 12px;
    font-size: 1.2rem !important;
    vertical-align: middle !important;
}
.stats-line 
{   
   font-size: 13px;
   font-size: 1.3rem !important;
}

#spinnerDiv span:last-of-type
{
    font-size: 12px;
    font-size: 1.2rem;
}
.x42-message-box .x42-form-display-field {
    font-size: 12px;
    font-size:  1.2rem !important;
}
#noInterfacesMessage img
{
   width:  1.3rem !important;
}
#noInterfacesMessage span
{
    font-size: 13px;
    font-size:  1.3rem !important;
}
#noInterfacesMessage input
{
    margin-top: 1em !important;
    font-size: 13px;
    font-size:  1.3rem !important;
}
#noInterfacesMessage
{
   /*  margin: 30% auto !important; */
}
.stopSpinnerDiv
{
    font-size: 12px;
    font-size: 1.2rem !important;
}
#signalRTableDiv .x42-grid-cell-inner 
{
    font-size: 12px;
    font-size: 1.2rem !important;
}

#switchView {
    margin: 0 auto;
    float: none;
    line-height: 4rem;
}

.tableViewBtnActive
{
    background-image: url('../images/view-buttons-mobile.png');
    background-position: 0px 0px;
    width: 44px;
    height: 40px;
}

.tableViewBtnInactive {
    background-image: url('../images/view-buttons-mobile.png');
    background-position: 44px 0px;
    width: 44px;
    height: 40px;
}

.plotViewBtnActive {
    background-image: url('../images/view-buttons-mobile.png');
    background-position: 0px 40px;
    width: 44px;
    height: 40px;
}

.plotViewBtnInactive {
    background-image: url('../images/view-buttons-mobile.png');
    background-position: 44px 40px;
      width: 44px;
    height: 40px;
}

#signalRTableDiv .x42-grid-table,#signalRTableDiv .x42-panel,#signalRTableDiv .x42-panel-body,#signalRTableDiv .x42-grid-view
{
    width: 100% !important;
}

#resultsTableHeader {  
    padding: 10px;
    display: block;
    width: auto;
} 

#resultsTable {
    padding: 15px !important;
}