﻿html, body, div
{ 
    font-size: 62.5% !important;
    font-family: Arial, Helvetica, Sans-Serif;   
}   
body
{
    background: #f6f6f6;
}  
#hintDiv
{
    display: none !important;
}
#jsonDataMobile .x42-grid-cell-inner
{
    font-size: 1.3rem !important;
}
.enter-hostname-wrapper {
    font-size: 1.3rem !important;
    clear: both;
}
.enter-hostname-wrapper .enter-hostname-or-ip-div .sw-btn-secondary
{
    width: 6em !important;
    height: 3em !important;
}
.enter-hostname-wrapper .enter-hostname-or-ip-div input[type="text"]
{
    font-size: 1.3em;
    width: 10em;
    overflow: hidden;
}
.enter-hostname-wrapper .enter-hostname-or-ip-div input[type="checkbox"]
{
    min-height: 2em;
    min-width: 2em;
    font-size: 1.2em;
    vertical-align: middle;
}

.enter-hostname-wrapper .enter-hostname-or-ip-div label
{
    vertical-align: middle;
    line-height: 2em;
    font-size: 1.3rem !important;
}
#RunButtonMobile
{
    font-size: 3em;
    width: 25%;
    max-wdith: 100px;
    vertical-align: middle;
    padding: 0.15em;
    float: right;
    margin-right: 4px;
}
.enter-hostname-or-ip-div
{
    width: 100% !important;
}
#AutoCompleteTextbox
{
    display: none;
}
#txbInputAddressMobile
{
    height: 2.2rem;
    padding-bottom: 2px;
    padding-top: 2px;
    display: inline;
    font-size: 1.3rem;
    vertical-align: middle;
    max-width: 400px;
    width: 67%;
    margin: 0;
}
#input-button
{
    display: inline;
}
.enter-hostname-wrapper span
{
    font-size: 1.3rem !important;
    padding: 15px;
}
#RunButton
{
    display: none;
}
#RunButtonMobile
{
    display: inline;
}
#jsonData
{
    display: none !important;
}
#jsonDataMobile
{
    display: inline-block !important;
   /* padding-left: 2em;
    padding-right: 2em; */
    width: 100% !important;
}
.x42-grid-view .x42-fit-item .x42-grid-view-default
{
    overflow: visible;
}
#results-wrapper
{
    width: 100%;
}
.x42-grid-body
{
    width: 100%;
}
#jsonDataMobile
{
    width: 100%;
}
.x42-panel-default-framed
{
    width: 100% !important;
}
.x42-grid-body
{
    width: 100% !important;
}
.x42-grid-view
{
    width: 100% !important;
    overflow: hidden !important;
}
.ui-dialog .ui-dialog-buttonpane button
{
    font-size: 1.3rem;
}
.ui-dialog
{
    top: 50%;
}
.x42-gridview-1013-table.x42-grid-table
{
    width: 100% !important;
}
#loadDiv
{
    font-size: 1.3rem !important;
    clear: both;
    overflow: hidden;
    padding: 0;
    display: block;
}
.CancelLink
{
    font-size: 1.2rem !important;
    float: right;
    line-height: 1em;
    vertical-align: middle !important;       
}
#restartButton
{
   padding-top:15px;
}
.statusBreak
{
    display: inline;
}

.content-preview-wrapper
{
    padding: 15px 30px;
}
#loading-cancel-div
{
    font-size: 1.3rem !important;
    border-top: 0.125em solid #d6d6d6;
    padding: 1em;
    line-height: 2em; 
    width: inherit !important;    
}
.status-line
{
    font-size: 1.3rem !important;
    vertical-align: middle !important;
    line-height: 1rem;
    margin-bottom: 20px;
    margin-top: 15px;
    padding-top: 0;    
}
.statusBreak
{
    display: block;
}
#completeStatus
{
    font-size: 1.3rem !important;
    margin-bottom: 4em !important;
    margin-left: 1.5em !important;
    margin-right: 1.5em !important;
    margin-top: 1.5em !important;
    position: relative !important;
}
.status-line
{
    float: left;
   /* padding: 1em 0 1em 1em; */
    width: 65%;
}
#loading-cancel-div
{
    float:inherit; 
    display: none;
    clear: both;
     width: auto !important;
}
#restart-div
{
    border-top: 0.125em solid #D6D6D6;
    clear: both;
    float: inherit;
    font-size: 1.3rem !important;
    padding: 1em;
    width: auto !important;
}
#statusExportDiv
{
    width: 100%;
}
#divSpinner
{
    width: 100%;
}

.title-div img
{
   /* height: 0.8em;
    width: 0.8em;  */
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    vertical-align: inherit;
}
.button-wrapper
{
   /* float: right; */
    font-size: 1.3rem;
   /* padding: 0 1em 1em;*/
    position: relative;
    vertical-align: top;
    border-bottom-width: 0;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    top: 0;
    /* margin-top: 0.8em;
    margin-bottom: 8px !important;*/
}
.flat-button-imgDown
{
    margin-left: 0.2em !important;
    height: 0.4em !important;
    width: 0.4em;
}
.flat-button
{
    font-size: 1.3rem;
    float: left;
    height: 2.5em;
    line-height: 2.5em;
    margin: 0 !important;
    padding: 0 !important;
    vertical-align: middle;
    width: 7em;
}
.flat-button-img {
    width: 0.5em;
    margin-right: 0.2em !important;
}
#export-div {
    font-size: 1.3rem;
}
.dropdown .dropdown-menu, .dropdown .dropdown-panel {
    border-width: 0 0.2em 0.2em;
    padding: 1em 0;
    width: 20.65em;
}

.dropdown .dropdown-menu LI > A, .dropdown .dropdown-menu LABEL {
    font-size: 1.3rem;
    line-height: 3em;
    padding: 0 0 0 2em;
}
.ui-dialog .ui-dialog-title {
    font-size: 1.3rem !important;
}
.ui-dialog .ui-dialog-content {
    font-size: 1.3rem !important;
}

#select-device-div {
    display: none;
}

.enter-hostname-wrapper .enter-hostname-or-ip-div input[type="checkbox"] {
    margin: 0 5px 0 0;
}

.title-div span:first-child, #labelAddrr
{
    font-size: 1.3rem !important;
}
/* Styles for select object mobile
#selectImg {
    cursor: pointer;
    vertical-align: middle;
    height: 1.75em;
}
#checkbox-div {
    float: right;
}
#checkbox-selector {
    clear: both;
}
.searchdiv{width: 100% !important}
#mainGrid{width: 100% !important}
.x-panel-body.x-panel-body-noheader.x-border-layout-ct{ width: 100% !important;}
.x-panel.x-border-panel{ }
.x-panel.x-border-panel.x-panel-collapsed{width: 100% !important;}
.x-panel-header{background: #fa9400;color: #ffffff;padding: 0;border: 0; line-height: 2.999em;border: 1px solid #e37d00;border-bottom: 0;}

.x-layout-collapsed{background: #fa9400;color: #ffffff;padding: 0;left: 0 !important;top: 0 !important;height: 3em !important;width: 100% !important;border: 0;}
.x-tool{ background: url("../images/plus.png") 0 0 no-repeat;float: left;height: 3em; width: 3em;margin: 0;}

.x-tool-toggle{ background: url("../images/minus.png") 0 0 no-repeat;height: 3em; width: 3em;float: left;}
.x-border-layout-ct{ background: #fff;border: 0;}
.x-panel-header-text{margin: 0 0 0 1em;}
.x-panel-body.x-panel-body-noheader {
    background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    overflow: hidden;
    padding: 2em 0;
    width: 100%;
}
.x-form-field-wrap.x-form-field-trigger-wrap{width: 100% !important}
.x-form-text.x-form-field{ width: 99% !important;}*/