﻿.upIcon
{
    background: url("../images/arrow-up.png") 0 0 #fff no-repeat;
}
.downIcon
{
    background: url("../images/arrow-down.png") 0 0 #fff no-repeat;
}
.ui-widget-header
{
    background: none;
    color: #fff;
}
.ui-widget-content
{
    background-color: #fff;
}
.settingsPanelLevel1
{
    background-color: #fff;
    padding: 0 0 15px 0;
}

.settingsPanelLevel2
{
    background-color: #fff;
    padding: 0 0 15px 0;
}

.settingsPanelLevel3
{
    background-color: #fff;
    padding: 0;
}
#tabs
{
    margin: 20px;
}
.panelDiv
{
    padding: 20px;
}
.toolSettingsPropertyLabel
{
    font-weight: normal;
}

.nav-btn
{
    width: 32px;
    height: 32px;
    display: block;
    text-decoration: none;
    cursor: pointer;
}
.next
{
    background: url(../images/arrows_add_32x32.gif) no-repeat 0 0;
}

.prev
{
    background: url(../images/arrows_remove_32x32.gif) no-repeat 0 0;
}
#tabs-2
{
    clear: both;
    overflow: hidden;
}
#tabs-2 h4
{
    display: block;
    clear: both;
    overflow: hidden;
    font-size: 12px;
    font-weight: normal;
    margin: 0 0 15px;
}
#Grid
{
    width: 300px;
    display: inline;
    float: left;
}
#Buttons
{
    width: 45px;
    text-align: center;
    display: inline;
    float: left;
    padding: 170px 0 0 11px;
}
#Buttons .prev
{
    margin: 13px 0 0 0;
}
#GridSelected .x-panel-tbar
{
    width: 100% !important;
}
#GridSelected .x-panel-body
{
    width: 98.8% !important;
}
#GridSelected .x-small-editor
{
    width: 99.50% !important;
}
#GridSelected .x-grid3-body
{
    width: 100% !important;
}
#GridSelected .x-grid3-row-table
{
    width: 100% !important;
}
#GridSelected .x-grid3-body
{
    width: 100% !important;
}
#GridSelected .x-grid3-row
{
    width: 100% !important;
}
#GridSelected .x-grid3-cell-first
{
    width: 15px !important;
}
#GridSelected .x-grid3-row-table tr td
{
    border: 0;
}
.x-grid3-body .x-grid3-td-checker
{
    background: transparent;
}
.x-grid3-row
{
    border: 0;
}
.x-grid3-cell-inner, .x-grid3-hd-inner
{
    padding: 3px 3px 3px 10px;
}

.x-grid-panel .x-panel-mc .x-panel-body
{
    padding: 6px 7px;
}
#GridSelected.x-grid-panel .x-panel-mc .x-panel-body
{
    padding: 6px 0 6px 0 !important;
}
.x-grid3-row td, .x-grid3-summary-row td
{
    padding: 2px 0;
}
.x-grid3-body .x-grid3-row-selected .x-grid3-td-numberer, .x-grid3-body .x-grid3-row-selected .x-grid3-td-checker, .x-grid3-body .x-grid3-row-selected .x-grid3-td-expander
{
    background-image: none;
}
.x-panel-tl, .x-panel-tr, .x-panel-bl, .x-panel-br
{
    overflow: auto;
}

#globalButtons
{
    padding: 0 0 0 20px;
}
#cancelButton
{
    padding-left: 33px;
}
#saveandcontinueButton
{
    padding-left: 5px;
}
.txb
{
    width: 80px;
}
.moveup
{
    background-image: url(../images/icon_up.gif) !important;
}
.movedown
{
    background-image: url(../images/icon_down.gif) !important;
}
.selectall
{
    background-image: url(../images/Icon.SelectAll.gif) !important;
}
.selectnone
{
    background-image: url(../images/Icon.SelectNone.gif) !important;
}
/*.ui-widget-header{ background: transparent !important;border: 0 !important;font-weight: normal;color: #000 !important;}
.ui-tabs .ui-tabs-nav li a{ padding: 4px 7px !important;font-size: 12px;}*/
#tabs-1 .panelDiv div
{
    margin: 0 0 20px 0;
}
#tabs-1 .panelDiv .lastdiv
{
    margin: 0;
}
#tabs-1 .panelDiv
{
    padding: 35px 95px;
    margin: 0;
    clear: both;
    overflow: hidden;
}
#tabs-1 .panelDiv label
{
    vertical-align: middle;
}
#tabs-1 .panelDiv input
{
    padding: 2px 7px;
    text-align: right;
}

#tabs-1 .label-1
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 13px;
    margin: 0 17px 0 0;
    min-width: 156px;
    text-align: right;
    vertical-align: baseline;
    line-height: 13px;
    display: inline-block;
}
#tabs-1 .label-2
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 13px;
    margin: 0 0 0 17px;
}
#tabs-1 .checkbox-div label
{
    line-height: 13px;
    vertical-align: top;
}
#tabs-1 .checkbox-div
{
    padding: 0 0 0 180px;
}
.wrapper-snmp
{
    width: 500px;
    float: left;
    margin: 0 !important;
}

.msg
{
    border-radius: 3px;
    padding: 8px;
    margin: 20px auto 20px;
}
.msg span
{
    line-height: 12px;
    vertical-align: middle;
    font-weight: bold;
}
.success-msg
{
    background: #d9f7c8;
    border: 1px solid #18a100;
    color: #3dae29;
}
.failed-msg
{
    background: #facece;
    border: 1px solid #ce0000;
    color: #ce0000;
    width: 97%;
}
.msg img
{
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: middle;
}
#tabs-1 .hindmsg
{
    background: #fffcc7;
    border: 1px solid #ffe597;
    margin: -13px 0 0 !important;
    min-width: 600px;
    float: left;
}
#tabs-1 .hindmsg span
{
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    vertical-align: middle;
    color: #565656;
    font-weight: normal;
}
#tabs-1 .hindmsg span a
{
    color: #326899;
}
#MobileGrid
{
    display: none;
}
.success-msg
{
    margin-left: 20px;
    margin-right: 20px;
}
#globalButtonsMobile
{
    display: none;
}
.settingsBreaks
{
    display: none;
}
.bottomValue
{
    display: inline;
}
.ext-el-mask
{
    height: 100% !important;
}
