﻿#Grid
{
    display: none;
}
#globalButtons
{
    display: none;
}
#globalButtonsMobile
{
    display: block;
}
#Buttons
{
    display: none;
}
#GridSelected
{
    display: none;
}
#MobileGrid
{
    display: block;
    height: 26em;
}
.ext-gecko .x-btn button, .ext-webkit .x-btn button
{
    padding-right: 1.563em;
}
.x-grid-panel .x-panel-body
{
    border: 0;
}
.x-toolbar-cell .x-form-cb-label
{
    padding-left: 5px;
}
.x-grid3-col .x-grid3-cell .x-grid3-td-checker .x-grid3-cell-first
{
    width: 10px !important;
}
.x-toolbar-cell .x-form-checkbox, .x-toolbar-cell .x-form-radio
{
    margin-top: 0;
    vertical-align: middle !important;
}
.x-toolbar-cell .x-form-cb-label
{
    top: 0 !important;
    vertical-align: middle !important;
}
.x-toolbar
{
    background-image: none;
}
#MobileGrid .x-grid-panel
{
    width: 100% !important;
}
#MobileGrid .x-panel-tbar
{
    width: 100% !important;
}
#MobileGrid .x-panel-body
{
    width: 100% !important;
}
#MobileGrid .x-small-editor
{
    width: 99.50% !important;
}
#MobileGrid .x-grid3-body
{
    width: 100% !important;
}
#MobileGrid .x-grid3-row-table
{
    width: 100% !important;
}
#MobileGrid .x-grid3-body
{
    width: 100% !important;
}
#MobileGrid .x-grid3-row
{
    width: 100% !important;
}
#MobileGrid .x-grid3-cell-first
{
    width: 15px !important;
}
.x-grid3-body .x-grid3-td-checker
{
    background: transparent;
}
.x-grid3-row-checker, .x-grid3-hd-checker
{
    width: 18px;
}

@media screen and (min-width: 320px) and (max-width: 479px)
{
    /*Trace Route Setting page*/
    /* Tabs navigation*/
    .ui-tabs .ui-tabs-nav
    {
        padding: 0 !important;
        width: 100%;
        margin: 0 auto !important;
    }
    .ui-widget-header
    {
        background: transparent;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
    {
        border: 0;
        border-radius: 0;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl
    {
        border: 0;
        border-radius: 0;
    }
    .ui-tabs .ui-tabs-nav li
    {
        background: #e6e6e6;
        background-image: none !important;
        border-radius: 0;
        width: 48.5%;
        margin: 0;
        border: 2px solid #e6e6e6 !important;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active
    {
        background: #fa9400;
        background-image: none;
        border: 2px solid #e37d00 !important;
        padding: 0 !important;
    }
    .ui-tabs .ui-tabs-nav li a
    {
        color: #000;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active a
    {
        color: #fff;
        font-weight: bold;
    }
    /*Tabs*/
    #tabs-1 .panelDiv
    {
        padding: 33px;
    }
    .ui-tabs .ui-tabs-panel
    {
        padding: 15px 0 0 0;
    }
    #tabs-1 .hindmsg
    {
        clear: both;
        float: none;
    }
    .msg img
    {
        display: block;
        float: left;
    }
    #tabs-1 .hindmsg span
    {
        display: block;
    }
    #cancelButton
    {
        padding-left: 5px;
    }
    #buttonsBreak
    {
        display: block;
    }
    #saveandcontinueButton
    {
        padding-left: 0px;
    }
}
@media screen and (min-width: 480px) and (max-width: 767px)
{
    /*Trace Route Setting page*/
    /* Tabs navigation*/
    .ui-tabs .ui-tabs-nav
    {
        padding: 0 !important;
        width: 100%;
        margin: 0 auto !important;
    }
    .ui-widget-header
    {
        background: transparent;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
    {
        border: 0;
        border-radius: 0;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl
    {
        border: 0;
        border-radius: 0;
    }
    .ui-tabs .ui-tabs-nav li
    {
        background: #e6e6e6;
        background-image: none !important;
        border-radius: 0;
        width: 49%;
        margin: 0;
        border: 2px solid #e6e6e6 !important;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active
    {
        background: #fa9400;
        background-image: none;
        border: 2px solid #e37d00 !important;
        padding: 0 !important;
    }
    .ui-tabs .ui-tabs-nav li a
    {
        color: #000;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active a
    {
        color: #fff;
        font-weight: bold;
    }
    /*Tabs*/
    #tabs-1 .panelDiv
    {
        padding: 33px;
    }
    .ui-tabs .ui-tabs-panel
    {
        padding: 15px 0;
    }
    #tabs-1 .hindmsg
    {
        clear: both;
        float: none;
    }
    .msg img
    {
        display: block;
        float: left;
    }
    #tabs-1 .hindmsg span
    {
        display: block;
    }
}
@media screen and (min-width: 768px) and (max-width: 960px)
{
    /*Trace Route Setting page*/
    /* Tabs navigation*/
    .ui-tabs .ui-tabs-nav
    {
        padding: 0 !important;
        width: 100%;
        margin: 0 auto !important;
    }
    .ui-widget-header
    {
        background: transparent;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
    {
        border: 0;
        border-radius: 0;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl
    {
        border: 0;
        border-radius: 0;
    }
    .ui-tabs .ui-tabs-nav li
    {
        background: #e6e6e6;
        background-image: none !important;
        border-radius: 0;
        width: 49.45%;
        margin: 0;
        border: 2px solid #e6e6e6 !important;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active
    {
        background: #fa9400;
        background-image: none;
        border: 2px solid #e37d00 !important;
        padding: 0 !important;
    }
    .ui-tabs .ui-tabs-nav li a
    {
        color: #000;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active a
    {
        color: #fff;
        font-weight: bold;
    }
    /*Tabs*/
    #tabs-1 .panelDiv
    {
        padding: 33px;
    }
    .ui-tabs .ui-tabs-panel
    {
        padding: 15px 0;
    }
    #tabs-1 .hindmsg
    {
        clear: both;
        float: none;
    }
}
@media only screen and (min-width: 960px) and (max-width: 1024px)
{
    /*Trace Route Setting page*/
    /* Tabs navigation*/
    .ui-tabs .ui-tabs-nav
    {
        padding: 0 !important;
        width: 100%;
        margin: 0 auto !important;
    }
    .ui-widget-header
    {
        background: transparent;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
    {
        border: 0;
        border-radius: 0;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl
    {
        border: 0;
        border-radius: 0;
    }
    .ui-tabs .ui-tabs-nav li
    {
        background: #e6e6e6;
        background-image: none !important;
        border-radius: 0;
        width: 49.5%;
        margin: 0;
        border: 2px solid #e6e6e6 !important;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active
    {
        background: #fa9400;
        background-image: none;
        border: 2px solid #e37d00 !important;
        padding: 0 !important;
    }
    .ui-tabs .ui-tabs-nav li a
    {
        color: #000;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active a
    {
        color: #fff;
        font-weight: bold;
    }
    /*Tabs*/
    #tabs-1 .panelDiv
    {
        padding: 33px;
    }
    .ui-tabs .ui-tabs-panel
    {
        padding: 15px 0;
    }
    #tabs-1 .hindmsg
    {
        clear: both;
        float: none;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1280px)
{
    /*Trace Route Setting page*/
    /* Tabs navigation*/
    .ui-tabs .ui-tabs-nav
    {
        padding: 0 !important;
        width: 100%;
        margin: 0 auto !important;
    }
    .ui-widget-header
    {
        background: transparent;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
    {
        border: 0;
        border-radius: 0;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl
    {
        border: 0;
        border-radius: 0;
    }
    .ui-tabs .ui-tabs-nav li
    {
        background: #e6e6e6;
        background-image: none !important;
        border-radius: 0;
        width: 49.55%;
        margin: 0;
        border: 2px solid #e6e6e6 !important;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active
    {
        background: #fa9400;
        background-image: none;
        border: 2px solid #e37d00 !important;
        padding: 0 !important;
    }
    .ui-tabs .ui-tabs-nav li a
    {
        color: #000;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active a
    {
        color: #fff;
        font-weight: bold;
    }
    /*Tabs*/
    #tabs-1 .panelDiv
    {
        padding: 33px;
    }
    .ui-tabs .ui-tabs-panel
    {
        padding: 15px 0;
    }
    #tabs-1 .hindmsg
    {
        clear: both;
        float: none;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1920px)
{
    /*Trace Route Setting page*/
    /* Tabs navigation*/
    .ui-tabs .ui-tabs-nav
    {
        padding: 0 !important;
        width: 100%;
        margin: 0 auto !important;
    }
    .ui-widget-header
    {
        background: transparent;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
    {
        border: 0;
        border-radius: 0;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl
    {
        border: 0;
        border-radius: 0;
    }
    .ui-tabs .ui-tabs-nav li
    {
        background: #e6e6e6;
        background-image: none !important;
        border-radius: 0;
        width: 49.65%;
        margin: 0;
        border: 2px solid #e6e6e6 !important;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active
    {
        background: #fa9400;
        background-image: none;
        border: 2px solid #e37d00 !important;
        padding: 0 !important;
    }
    .ui-tabs .ui-tabs-nav li a
    {
        color: #000;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active a
    {
        color: #fff;
        font-weight: bold;
    }
    /*Tabs*/
    #tabs-1 .panelDiv
    {
        padding: 33px;
    }
    .ui-tabs .ui-tabs-panel
    {
        padding: 15px 0;
    }
}

@media screen and (min-width: 1920px)
{
    /*Trace Route Setting page*/
    /* Tabs navigation*/
    .ui-tabs .ui-tabs-nav
    {
        width: 100%;
    }
    .ui-tabs .ui-tabs-nav li
    {
        width: 49.7%;
    }
    /*Tabs*/
    .ui-tabs .ui-tabs-panel
    {
        padding: 15px 0;
    }
}
.x-grid3-row
{
    border-color: #FFFFFF #EDEDED #EDEDED !important;
    border-bottom: 0.07em solid;
}
.x-grid3-row-last
{
    border-color: #c6c6c6 !important;
    border-bottom: 0.07em solid;
}
.x-grid3-row-selected
{
    background-color: #d6d6d6 !important;
    border-color: #DDDDDD;
}
.success-msg
{
    border: 0.125em solid #18A100 !important;
}
.failed-msg
{
    border: 0.125em solid #CE0000 !important;
}
.msg
{
    border-radius: 0.3em;
    margin: 1.25em auto;
    padding: 0.75em;
    width: auto !important;
    font-size: 1.5em !important;
    margin-left: 1.3em;
    margin-right: 1.3em;
}
.msg img
{
    width: 1em;
}
body
{
    font-size: 16px;
}
body, table, div, label
{
    font-size: 1.125em !important;
}
td
{
    font-size: 1em !important;
}
#tabs-1 .label-1
{
    font-size: 1.063em !important;
}
.x-form-check-wrap
{
    height: auto;
}
#tabs-2 h4
{
    font-size: 1em;
}
#MobileGrid .x-grid3-row
{
    height: 1em;
}

.ui-tabs .ui-tabs-nav li a
{
    padding: 1.125em 0;
    font-size: 2em;
}
.x-toolbar label
{
    font-size: 0.5em;
}

.x-toolbar td, .x-toolbar span, .x-toolbar input, .x-toolbar div, .x-toolbar select, .x-toolbar label
{
    font-size: 0.9em !important;
}

.x-btn-icon .x-btn-small .x-btn-text
{
    height: 2em;
    width: 2em;
}
#MobileGrid .moveup, .movedown
{
    background-size: 0.7em auto !important;
}
.ext-gecko .x-btn button, .ext-webkit .x-btn button
{
    padding-right: 3em;
}
.x-toolbar-cell .x-form-checkbox, .x-toolbar-cell .x-form-radio
{
    margin-left: 0.4em;
    margin-right: 0.4em;
}
#MobileGrid .x-grid3-cell-first
{
    height: 1em;
    width: 0.8em !important;
}
.x-grid3-row td, .x-grid3-summary-row td
{
    line-height: 0.9em;
}
.x-grid3-body .x-grid3-td-checker .x-grid3-cell-inner, .x-grid3-header .x-grid3-td-checker .x-grid3-hd-inner
{
    height: 100%;
}
.x-grid3-row td, .x-grid3-summary-row td
{
    padding: 0;
}
.ext-strict .x-grid3-cell-inner, .ext-strict .x-grid3-hd-inner
{
    font-size: 0.6em !important;
}
#globalButtonsMobile input
{
    font-size: 2em;
    padding: 0.5em;
}
#globalButtonsMobile
{
    padding-left: 1.91em;
    padding-top: 1.91em;
}
#saveSettingsButtonMobile
{
    margin-right: 0.5em;
}
#saveandcontinueButtonMobile
{
    margin-top: 1.0em;
    margin-bottom: 1.0em;
}
#cancelButtonMobile
{
    margin-left: 0.5em;
    margin-top: 1.0em;
    margin-bottom: 1.0em;
}
#tabs
{
    margin: 1.5em 1.5em 0 1.5em;
}
input
{
    min-height: 0.9em;
    min-width: 0.9em;
}

/*TODO: get better image quality*/
.x-grid3-row-checker, .x-grid3-hd-checker
{
    background-image: url("../../../Orion/js/extjs/resources/images/default/grid/row-check-sprite.gif");
    background-size: 2em;
}
.x-grid3-row-checker
{
    background-position: -1.2em -0.15em !important;
}
.x-grid3-row-checker, .x-grid3-hd-checker
{
    height: 1em;
    width: 1em;
}
.x-grid3-row-selected .x-grid3-row-checker, .x-grid3-hd-checker-on .x-grid3-hd-checker, .x-grid3-row-checked .x-grid3-row-checker
{
    background-position: -0.66em 0.4em !important;
}
.x-grid3-row-checker
{
    background-position: 0.34em 0.4em !important;
}
.x-toolbar-cell .x-form-cb-label
{
    line-height: 3em;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 0.3em;
    padding-right: 5em;
}
.x-form-cb-label
{
    margin-left: 0;
}
#tabs-1 .panelDiv input
{
    padding: 0.109em 0.2em;
    text-align: right;
}
.label-1
{
    width: 11em;
    line-height: 1.2em !important;
}
.label-2
{
    font-size: 0.75em !important;
    line-height: 1.2em !important;
}
.settingsBreaks
{
    display: block;
}
#tabs-1 .panelDiv input[type=text]
{
    text-align: right;
    vertical-align: middle;
    width: 4em;
}
#tabs-1 .panelDiv input[type=checkbox]
{
    float: right;
    width: 0.85em;
}
#tabs-1 .checkbox-div
{
    width: 8.75em;
}
#tabs-1 .checkbox-div label
{
    line-height: 1em;
    vertical-align: top !important;
    font-size: 0.75em !important;
    padding-left: 2.7em !important;
}
.ui-tabs .ui-tabs-panel
{
    padding: 0.75em 0;
}
.settingsPanelLevel2
{
    padding: 0 0 0.75em;
}
.ui-tabs .ui-tabs-panel
{
    padding-bottom: 0 !important;
}
.settingsPanelLevel2
{
    padding: 0;
    padding-top: 1em;
}

#tabs-1 .panelDiv div
{
    margin: 0 0 1.125em;
}
.bottomValue
{
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    display: block;
    width: 15.4em;
    text-align: right;
}
#tabs-1 .label-1
{
    margin: 0 0.75em 0 0;
}
