﻿body
{
    background: #f6f6f6 no-repeat;
}

.clearfix
{
    overflow: hidden;
    clear: both;
}
.div-spinner
{
    line-height: 43px;
}
.button-wrapper
{
    float: right;
    padding: 0 0 8px;
    position: relative;
    vertical-align: top;
}
.tr-background-image
{
    right: 50px;
    bottom: 80px;
    position: absolute;
}
.latency-test-content-wrapper
{
    clear: both;
    overflow: hidden;
}
.enter-hostname-wrapper
{
    padding: 30px 30px 30px;
    background-color: white;
}
.enter-hostname-wrapper span
{
    padding: 0 0 5px;
    color: #222;
    display: block;
    font-size: 13px;
}
.title-div span:first-child
{
    display: inline;
    font-size: 18px;
    margin: 8px 0 0 0;
}
.CancelLink
{
    border: 0px;
    background: transparent;
    color: #336699;
    cursor: pointer;
}
.CancelLink:hover 
{
    color: #f99d1c;
}
.title-div img
{
    margin-left: 10px;
    margin-bottom: 4px;
    height: 16px;
    vertical-align: middle;
}
.enter-hostname-wrapper .enter-hostname-or-ip-div
{
    line-height: 13px;
}
.enter-hostname-wrapper .enter-hostname-or-ip-div input[type="text"]
{
    margin: 0 20px 0 0;
    vertical-align: middle;
}
.enter-hostname-wrapper .enter-hostname-or-ip-div input[type="checkbox"]
{
    margin: 0 5px;
    vertical-align: middle;
}
.enter-hostname-wrapper .enter-hostname-or-ip-div label
{
    font-size: 13px;
    color: #222;
    vertical-align: middle;
}
.enter-hostname-wrapper .enter-hostname-or-ip-div .sw-btn-secondary
{
    margin: 0 20px 0 0;
}
.content-preview-wrapper
{
    clear: both;
    overflow: hidden;
    margin: 0;
    min-height: 530px;
    border-top: 1px solid #e2e2e2;
    border-bottom: none;
    padding: 15px 30px 40px;
}

.default-message
{
    display: none;
}
.default-message
{
    clear: both;
    overflow: hidden;
}
.default-message img
{
    float: left;
    margin: 0 15px 0 0;
    width: 16px;
}
.default-message p
{
    display: block;
    float: left;
    font-size: 15px;
    margin: 0;
}
.default-message p a
{
    color: #26ADD7;
    display: block;
    font-size: 14px;
    padding: 5px 0 0;
}

#footermark
{
    display: none;
}
#statusExportDiv
{
    display: inline;
}
#tableId
{
    display: inline-block;
}
#completeStatus
{
    margin: 10px 0 0 0;
}
#traceToText
{
    font-size: 18px;
    float: left;
    display: block;
    padding: 10px 0 0 0;
    position: relative;
    vertical-align: top;
}
.wrapper-content-popup
{
    display: none;
}
.wrapper-content-popup ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}
.wrapper-content-popup li
{
    padding-left: 1em;
}
.wrapper-content-popup li:before
{
    content: "■ ";
    font-size: 12px;
    vertical-align: top;
    color: #ff9902;
}
.wrapper-content-popup
{
    clear: both;
    overflow: hidden;
}
.wrapper-content-popup .left-content-popup
{
    float: left;
    width: 65%;
}
.wrapper-content-popup .right-content-popup
{
    float: left;
    width: 30%;
}
.pop-image
{
    width: 100%;
    padding: 20px;
}
.wrapper-content-popup p a
{
    color: #26ADD7;
    display: block;
    font-size: 14px;
    padding: 30px 0 0 15px;
}

.settings-title
{
    clear: both;
    overflow: hidden;
}
.settings-title h1
{
    display: block;
    float: left;
}
.settings-title a
{
    display: block;
    float: left;
    padding: 20px 20px 0 50px;
    color: #26ADD7;
}

/*Autocomplete styles*/

.enter-hostname-wrapper .enter-hostname-or-ip-div input[type="text"]
{
    width: 304px;
}
.ac_results
{
    padding: 0;
    margin-top: 1px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    background-color: #f5f5f5;
    overflow: hidden;
    width: 304px !important;
    z-index: 99999;
}

.ac_results ul
{
    width: 100%;
    list-style-position: outside;
    list-style: none;
    margin: 0;
}

.ac_results li
{
    margin: 0;
    padding: 4px 5px 4px 8px;
    cursor: default;
    display: block;
    text-align: left;
    border: 1px solid transparent; /*  	if width will be 100% horizontal scrollbar will apear  	when scroll mode will be used 	*/ /*width: 100%;*/
    font: menu;
    font-size: 12px; /*  	it is very important, if line-height not setted or setted  	in relative units scroll will be broken in firefox 	*/
    line-height: 16px;
    overflow: hidden;
}

.ac_loading
{
    background: white url('../images/animated_loading_16x16.gif') right center no-repeat;
}

.ac_odd
{
    background-color: transparent;
}

.ac_over
{
    background: #fbf9e3; /* Old browsers */
    background: -moz-linear-gradient(top,  #fbf9e3 0%, #fbf9d3 50%, #faf6da 51%, #fbf9e3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbf9e3), color-stop(50%,#fbf9d3), color-stop(51%,#faf6da), color-stop(100%,#fbf9e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fbf9e3 0%,#fbf9d3 50%,#faf6da 51%,#fbf9e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fbf9e3 0%,#fbf9d3 50%,#faf6da 51%,#fbf9e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fbf9e3 0%,#fbf9d3 50%,#faf6da 51%,#fbf9e3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fbf9e3 0%,#fbf9d3 50%,#faf6da 51%,#fbf9e3 100%); /* W3C */
    /* Commenting the below statement since its making allignment issue in IE11
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf9e3', endColorstr='#fbf9e3',GradientType=0 ); 
    */   
    background-color: #fbf9e3;
    color: #C47109;
    padding: 1px;
    border: 1px solid #efcf4a !important;
    overflow: hidden;
    border-radius: 4px;
}

#results-wrapper
{
    width: 100%;
}
#txbInputAddressMobile
{
    display: none;
}
#RunButtonMobile
{
    display: none;
}
#jsonDataMobile
{
    display: none !important;
}
.statusBreak
{
    display: none;
}
#loading-cancel-div
{
    display: none;
}
.title-div img
{
    vertical-align: middle;
    margin-left: 5px;
}
.flat-button 
{
    display: block;
    cursor: pointer;
}
.flat-button:hover 
{
    color: #f99d1c;
}
.flat-button-imgDown
{
    height: 6px !important;
}
#labelAddrr
{
    font-size: 18px;
}
#selectImg
{
    vertical-align: middle;
    cursor: pointer;
}
#selectDevice
{
    color: #336699;
    cursor: pointer;
    margin-left: 5px;
}
#selectDevice:hover {
    color: #f99d1c;
}
#select-device-div
{
    display: inline;
}
#checkbox-div
{
    display: inline;
}
#searchdiv
{
    display: none;
}
.sw-btn-bar-wizard
{
    display: none;
}
#divGrid
{
    display: none;
}
#statistics
{
    display: none;
}
