﻿.wrapper-content-popup { display: none;}
.wrapper-content-popup ul {list-style: none;padding:0;margin:0;}
.wrapper-content-popup li {padding-left: 2em;}
.wrapper-content-popup li:before {content: "■ ";font-size: 1em;;vertical-align: top;color: #ff9902;}
.wrapper-content-popup{clear:both;overflow:hidden;}
.wrapper-content-popup .left-content-popup{float:left;width:100% !important;}
.wrapper-content-popup .right-content-popup
{
    float: inherit;
    width:30em;
    padding-right: 2.5em;
    margin:auto;
    }
 
#ui-dialog-title-dialog-message {
    font-size: 2em !important;
    margin: 0.3em !important;
}
 #btnBackToMain {
     display: block !important;
     margin: 1em !important;
     font-size: 2em;
     padding: 0.5em;
      width: 10em;
 }
.pop-image { width: 30em; padding:20px}
.wrapper-content-popup p a{color: #26ADD7;display: block;font-size: 1em;padding: 30px 0 0 15px;}
.ui-dialog .ui-dialog-titlebar-close span, .ui-dialog .ui-dialog-titlebar-close  {display: none;}
#dialog-message .left-content-popup p {
    margin: 1em !important;
    padding-left: 0px;
}
#dialog-message .left-content-popup p,#dialog-message .left-content-popup li,#dialog-message .left-content-popup a {
   font-size: 1.3em !important;
   word-wrap: normal !important;
}
.ui-widget-header {
    background: url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #F6A828;
    border: 1px solid #E78F08;
    color: #FFFFFF;
    font-weight: bold;
}