﻿.wrapper-content-popup { display: none;}
.wrapper-content-popup ul {list-style: none;padding:0;margin:0;}
.wrapper-content-popup li {padding-left: 2em;}
.wrapper-content-popup li:before {content: "■ ";font-size: 12px;vertical-align: top;color: #ff9902;}
.wrapper-content-popup{clear:both;overflow:hidden;}
.wrapper-content-popup .left-content-popup{width:65%}
.wrapper-content-popup .right-content-popup{width:30%;padding-right: 2.5em;float: right;}
.pop-image { width: 100%; padding:20px}
.guideRef
{
    color: #26ADD7 !important;
    display: block;
    font-size: 14px;
    padding: 25px 0 0 15px;
}
.kbaseRef
{
    color: #26ADD7 !important;
    display: block;
    font-size: 14px;
    padding: 0 0 0 15px;
}
#LearnMoreDialogMessage .left-content-popup p{
    margin: 1em !important;
    padding-left: 0px;
}
    