﻿body
{
    background: url("../images/memory-monitor-bg.png") 92% 88% #f6f6f6 no-repeat;
}

#noInterfacesMessage
{
    position: absolute;
    left: 44%;
    top: 48%;
}

#resultsTable
{
    padding: 10px 10px 0 20px;
}

#noCpusMessage
{
    position: absolute;
    left: 44%;
    top: 48%;
}
#switchView {
    float: right;
    vertical-align: middle;
    line-height: 25px;
    margin-left: 40px;
}

.tableViewBtnActive {
    background-image: url("../images/viewButtons.png");
    background-position: 28px 0px;
    width: 28px;
    height: 27px;
}

.tableViewBtnInactive {
    background-image: url("../images/viewButtons.png");
    background-position: 0px 0px;    
    width: 28px;
    height: 27px;
}

.plotViewBtnActive {
     background-image: url("../images/viewButtons.png");
    background-position: 28px 27px;
    width: 28px;
    height: 27px;
}

.plotViewBtnInactive {
    background-image: url("../images/viewButtons.png");
    background-position: 0px 27px;
    width: 28px;
    height: 27px;
}

#tableViewDiv
{
    display: inline-block;
    margin-left: 10px;
        
}

#plotViewDiv
{
    display: inline-block;
    margin-left: 10px;
}

.MobNav {
    display: block;
    margin-right: 50px;
}
