﻿html, body, div, table
{ 
    font-size: 62.5% !important;
    font-family: Arial, Helvetica, Sans-Serif !important; 
}
#globalButtons
{
    display: none;
}   

#tabs .ui-tabs .ui-tabs-nav
{
    padding: 0 !important;
    width: auto !important;
    margin: 0 auto !important;
}
#Tab1Mobile
{
    display: block;
}
#Grid
{
    float: none;
    width: 100%;
    height: auto;
}
.x-panel {    
    width: auto !important;
    border: 2px solid #E37D00;
}
.x-tool-toggle 
{
    display: block;
    float: left;
    margin-right: 0;
    background-repeat: no-repeat;
}
#Grid .x-tree-node-anchor span
{
    font-size: 13px;
    font-size   : 1.3rem !important;
    vertical-align: top;
}
#Grid input.x-tree-node-cb {
    height: 13px;
    width: 13px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
}

#Grid .x-tree-node-el{
    border-bottom: 1px solid #D3D3D3;
    line-height: 30px;
}  

#GridSelected .x-panel-body {
    width: auto  !important;
}

#GridSelected .x-grid3-scroller {
    height: auto !important;
    overflow: hidden !important;
}
#Grid .x-panel-tbar  .x-toolbar-left-row td
{
    display: none;
}

#Grid .x-panel-bbar .x-toolbar-ct .x-toolbar-left table{
    margin: 0 auto;
}

#Grid #addSelected{
    border: 1px solid grey !important;
    border-radius: 1px !important;
    background: lightgrey !important;
   /* -webkit-border-radius: 15px !important;    
    -webkit-appearance:push-button !important;  */
    min-height: 18px;
}
#GridSelected .x-toolbar-left-row td {
    display:table
}
.x-toolbar .xtb-sep {
    display: none;
}

.Units 
{
    margin-right: 0px !important;
     text-align: left;
}
.ThresholdsDetails tr td img {
    height: 1em;
    width: 1em;
}
.NumericField 
{
    width: auto !important;
    max-width: 8em !important;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

#GridSelected .x-small-editor {
    width: auto !important;
}

#GridSelected .x-grid3-row
{
    /*height: 30px !important;          */
}
.x-panel-header {
    background:#fa9400 !important;
    background-image: url('')!important;
    padding: 0 !important;
}
.x-panel-tl {
    background-image: url('');
    background-color: #e37d00 !important;
    padding-left: 0px;
    border-bottom-width: 0;
    border-top: #e37d00 1px solid;
    border-bottom: #e37d00 1px solid;
}
.x-panel-tr, .x-panel-ml, .x-panel-mr, .x-panel-bl, .x-panel-bc, .x-panel-br {
    background-image: url('');
    background-color: #e37d00;
} 

#tabs-2 .x-panel-tr {
    padding-right: 0 !important;
}
#Grid .x-tool-toggle {
    background-image: url("../../Toolset/images/minus.png");
    background-position: 0 0;
    background-size: 32px auto; 
    height: 31px;
    width: 32px; 
    margin-left: 0; 
}
#Grid .x-panel-collapsed .x-tool-toggle{
    background-image: url("../../Toolset/images/plus.png") !important; 
}
#Grid x-toolbar-left {
    padding-left: 7px;
}

#GridSelected .x-toolbar-left table, #GridSelected .x-toolbar-left td {
    width: 100% !important;
    text-align: left;
}

#Grid .x-toolbar-left-row {
    horiz-align: center;
}
#Grid .x-tree-no-lines .x-tree-elbow-end-plus {
     background-image: url("/Orion/js/extjs/3.4/resources/images/default/tree/elbow-end-plus-nl.gif");
}
.x-tree-no-lines .x-tree-elbow-end-minus {
     background-image: url("/Orion/js/extjs/3.4/resources/images/default/tree/elbow-minus-nl.gif");
}

#Grid .x-panel-bbar {
    width: auto !important;
    height: auto !important;
}
.x-panel-bbar td, .x-panel-bbar span, .x-panel-bbar input, .x-panel-bbar div, .x-panel-bbar select, .x-panel-bbar label 
{
    font-size: 12px;
    font-size: 1.3rem !important;
}
#GridSelected .x-btn{
    border-bottom: 1px solid #D3D3D3;
}
.panel {
    margin-left: 10px;
}
.RowHeaders div{
    display: inline-block;
    margin: 20px 20px 10px 0;
    vertical-align: top;
}

#GridSelected .x-btn-text-icon .x-btn-icon-small-left .x-btn-text {
    background-repeat: no-repeat;
}
.x-grid3 {
    height: 40%;
}
.x-panel-ml 
{
     height: 100% !important;
}
.x-panel-body
{
    height: 100% !important;
}
#Buttons
{
    display: none;
}
#ModibleMoveButtons
{
     display: block;
}
#tabs-1
{ 
    display : block;
    margin-bottom: 0;
}
#GridSelected {
    height: auto;
}
#Grid
{
    margin-bottom: 15px;
    display: block;
}
.x-grid-panel .x-panel-body
{
    border: 0;
}
.x-toolbar-cell .x-form-cb-label
{
    padding-left: 5px;
}
.x-grid3 
{
    height: 100%;
    max-height: 40%;
}
.x-grid3  .x-grid3-scroller 
{
    height: 100%;
    max-height: 40%;
}
#GridSelected .x-grid3-row-table {
    padding: 7px; 
    padding-left: 9px;   
}
.x-grid3-col .x-grid3-cell .x-grid3-td-checker .x-grid3-cell-first
{
    width: 10px !important;
}
.x-toolbar-cell .x-form-checkbox, .x-toolbar-cell .x-form-radio
{
    margin-top: 0;
    vertical-align: middle !important;
}
.x-toolbar-cell .x-form-cb-label
{
    top: 0 !important;
    vertical-align: middle !important;
}
.x-toolbar
{
    background-image: none;
    padding: 0px !important;
}
#Grid .x-grid-panel
{
    width: 100% !important;
}

#Grid .x-panel-tbar
{
    width: 100% !important;
}

#GridSelected .x-toolbar-left-row td .x-btn,#GridSelected .x-toolbar-left-row td .x-form-check-wrap { 
    padding-left: 7px;
}
#Grid .x-panel-body
{
    width: 100% !important;
}
#Grid .x-small-editor
{
    border-bottom: 2px solid #E6E9E9;
    padding: 8px !important;
    width: auto !important;
}

#tabs-3 .displayName 
{
    font-size: 13px;
    font-size: 1.3rem !important;
}

#tabs-3 .trigger label,#tabs-3 .Units div{
    font-size: 12px;
    font-size: 1.2rem !important;
    vertical-align: middle;
}

#tabs-3 {
    padding: 10px;
}

#tabs-3 .ThresholdsDetails {
    margin: 10px 0px;
    overflow: hidden;
}

#Grid .x-grid3-body
{
    width: 100% !important;
}
#Grid .x-grid3-row-table
{
    width: 100% !important;
}
#Grid .x-grid3-row
{
    width: 100% !important;
}
.x-grid3-body .x-grid3-td-checker
{
    background: transparent;
}
.ui-tabs .ui-tabs-nav li
{
    width: calc(100% / 3) !important;
    width: -webkit-calc(100% / 3) !important;
}

#TimeLimit, #PointsLimit, #PollingInterval {
   padding-right: 15% !important;
    overflow: hidden;
}

#txtLimitByTime, #drpValueType, #txtLimitByPoints, .ChartsLimits, #txtPollingInterval{
    float: right;
    clear: right;
}

#PollingInterval .ChartsLimits {
    font-size: 12px;
    font-size: 1.2rem;
    text-align: right;
    margin-left: 20% !important;
}

#tabs .Descript {
    font-size: 12px;
    font-size: 1.2rem !important;
    margin: 1em 1em 1em 1.3em !important;
}

#tabs .Agenda {
    margin-top: 10px;
}
#tabs-1 .Agenda legend{
    font-size: 13px;
    font-size: 1.3rem !important;
}

#tabs-1 #txtLimitByTime, #txtLimitByPoints, #txtPollingInterval {
    width: 4em;
    text-align: right;
}

#drpValueType {
  /*  margin-left: 13em;     */
}
#drpValueType, #PointsLimit .ChartsLimits{
    display: block;
}

#tabs-1 .ChartsLimits {
    margin: 1em;
}

#tabs-1 .MargLeft,#tabs-1 .MargLeftLess {
    float: left;
}

.ui-tabs .ui-tabs-nav li a {
    font-size: 12px;
    font-size: 1.3rem !important;
}

 .ui-widget-header
    {
        background: transparent;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
    {
        border: 0;
        border-radius: 0;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl
    {
        border: 0;
        border-radius: 0;
    }
    .ui-tabs .ui-tabs-nav li
    {
        background: #e6e6e6;
        background-image: none !important;
        border-radius: 0;
        margin: 0;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active
    {
        background: #fa9400;
        background-image: none;
        border: 2px solid #E37D00 !important;
        padding: 0 !important;
        width: calc((100% / 3 ) - 8px) !important;          
        width: -webkit-calc((100% / 3 ) - 8px) !important;
        height: 44px !important;
    }
    .ui-tabs .ui-tabs-nav li a
    {
        color: #000;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active a
    {
        color: #fff;
    }
    /*Tabs*/
    #tabs-1 .panelDiv
    {
        padding: 33px;
    }
    .ui-tabs .ui-tabs-panel
    {
        padding: 15px 0 0 0;
    }
    #tabs-1 .hindmsg
    {
        clear: both;
        float: none;
    }
    .msg img
    {
        display: block;
        float: left;
    }
    #tabs-1 .hindmsg span
    {
        display: block;
    }
    #cancelButton
    {
        padding-left: 5px;
    }
    .buttonsBreak
    {
        display: block;
    }
    #saveandcontinueButton
    {
        padding-left: 0px;
    }
 
.x-grid3-row
{
    border-color: #FFFFFF #EDEDED #EDEDED !important;
    border-bottom: 1px solid; 
}
.x-grid3-row-last
{
    border-color: #c6c6c6 !important;
    border-bottom: 1px solid;
}
.x-grid3-row-selected
{
    background-color: #d6d6d6 !important;
    border-color: #DDDDDD;
}
.success-msg
{
    border: 1px solid #18A100 !important;
}
.failed-msg
{
    border: 1px solid #CE0000 !important;
}
.msg
{
    border-radius: 0.3em;
    margin: 1.25em auto;
    padding: 0.75em;
    width: auto !important;
    font-size: 13px;
    font-size: 1.3rem !important;
    margin-left: 1.3em;
    margin-right: 1.3em;
}
.msg img
{
    width: 1em;
}

.trigger input {
    vertical-align: bottom;
}
td
{
    font-size: 12px;
    font-size: 1.2rem !important;
}
#tabs-1 .label-1
{
    font-size: 12px;
    font-size: 1.2rem !important;
}
#GridSelected .x-form-check-wrap
{
    height: auto;
    width: auto;
    padding: 7px !important;
    padding-left: 9px !important; 
}
#GridSelected .x-form-check-wrap, #Grid .x-panel-tbar .x-toolbar {
    background: none repeat scroll 0 0 #D3D3D3;
    
}

#Grid .x-grid3-row
{
    height: 1em;
}

.ui-tabs .ui-tabs-nav li a
{
    font-size: 13px;
    font-size: 1.3rem !important;
}
.x-toolbar label
{
    font-size: 13px;
    font-size: 1.3rem !important;
}

.x-toolbar td, .x-toolbar span, .x-toolbar input, .x-toolbar div, .x-toolbar select, .x-toolbar label
{
    font-size: 12px;
    font-size: 1.2rem !important;
}
#GridSelected .delete {
    background-image: url("../../Toolset/images/delete_16x16.gif") !important;
}
.x-grid3-body .x-grid3-td-checker .x-grid3-cell-inner, .x-grid3-header .x-grid3-td-checker .x-grid3-hd-inner
{
    height: 100%;
}
.x-grid3-row td, .x-grid3-summary-row td
{
    padding: 0;
}
.ext-strict .x-grid3-cell-inner, .ext-strict .x-grid3-hd-inner
{
    font-size: 13px;
    font-size: 1.3rem !important;
}
.globalButtonsMobile input
{
    font-size: 13px;
    font-size: 1.3rem !important;
    padding: 0.5em;
    margin: 5px 0 5px 2%;
}
.globalButtonsMobile
{
    margin: 20px 15px 0 15px; 
}
#saveSettingsButtonMobile
{
    margin-right: 0.5em;
}
#saveandcontinueButtonMobile
{
    margin-top: 1.0em;
    margin-bottom: 1.0em;
}
#cancelButtonMobile
{
    margin-left: 0.5em;
    margin-top: 1.0em;
    margin-bottom: 1.0em;
}
#tabs
{
    margin: 10px 15px 30px 15px;
}
in

/*TODO: get better image quality*/
.x-grid3-row-checker, .x-grid3-hd-checker
{
    background-image: url("../../../Orion/js/extjs/resources/images/default/grid/row-check-sprite.gif");
    /*background-size: 2em;  */
}
.x-form-cb-label
{
    margin-left: 0;
}
#tabs-1 .panelDiv input
{
    text-align: right;
}
.label-1
{
    width: 11em;
    line-height: 1.2em !important; 
}
.label-2
{
    font-size: 13px;
    font-size: 1.3rem !important; 
}
.settingsBreaks
{
    display: block;
}
#tabs-1 .panelDiv input[type=text]
{
    text-align: right;
    vertical-align: middle;
    width: 4em;
}
#tabs-1 .panelDiv input[type=checkbox]
{
    float: right;
    width: 0.85em;
}
#tabs-1 .checkbox-div
{
    width: 8.75em;
}
#tabs-1 .checkbox-div label
{
    line-height: 1em;
    vertical-align: top !important;
    font-size: 13px;
    font-size: 1.3rem !important;
    padding-left: 2.7em !important;
}
.ui-tabs .ui-tabs-panel
{
    padding: 0.75em 0;
}
.settingsPanelLevel2
{
    padding: 0 0 0.75em;
}
.ui-tabs .ui-tabs-panel
{
    padding-bottom: 0 !important;
    padding-left: 15px;
    padding-right: 15px;
}
.settingsPanelLevel2
{
    padding: 0;
    padding-top: 1em;
}

#tabs-1 .panelDiv div
{
    margin: 0 0 1.125em;
}
.bottomValue
{
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    display: block;
    width: 15.4em;
    text-align: right;
}
#tabs-1 .label-1
{
    margin: 0 0.75em 0 0;
}

#Tab1
{
  display: none;   
}

#Tab2
{
   display: none;
}

#tabs-1 #TimeLimit, #PointsLimit, #tabs-1 .LimitsValues {
    font-size: 12px;
    font-size: 1.2rem !important;
}

#saveSettingsMobile {
    display: block;
}

#tabs .ui-widget-content {
    border: 0 !important;
}

#content-div {
    padding-bottom: 45px !important; 
}

#tabs-1 .MargLeftLess {
    margin-left: 0.5em !important;
}
  
#PointsLimit {
    margin-bottom: 10px !important;
}

#tabs-1 #TimeLimit, #PointsLimit, #PollingInterval, #tabs-2 .x-btn-text 
    {
        font-size: 12px;
        font-size: 1.2rem !important;
    }
 #tabs-2 .x-panel-header-text {
        font-size: 13px;
        font-size: 1.3rem !important;
        color: #FFFFFF;
        line-height: 30px !important;
        margin-left: 15px;
        font-weight: normal;
        text-transform: uppercase;
 } 
 
 #tabs-1 #PollingInterval .LimitsValues {
     margin-left: 0 !important;
 } 
 
 #tabs .x-panel-ml, #tabs .x-panel-mr, #tabs .x-panel-br ,#tabs .x-panel-bl, #tabs .x-panel-mc{
     padding: 0;
 }
 
 #tabs .x-panel-bc {
     height: 0;
 }
 
 #tabs .x-panel {
     padding-bottom: 0 !important;
 }
 
 .x-grid-panel .x-panel-mc .x-panel-body {
     padding: 0 !important;
 }
@media screen and (max-width: 480px) 
{  
    .x-grid3-body, .x-tree-root-node
    {
        height: 300px !important;
        overflow-x: hidden !important;
        overflow-y: auto !important;
    }   
}
    
@media screen and (min-width: 480px) and (max-width: 1920px) 
{
    .x-grid3-body, .x-tree-root-node
    {
        height: 500px !important;
    }
    
    #tabs-1 .MargLeft, #tabs-1 .MargLeftLess
     {  
        margin-right: 50px !important;
    }

    #drpValueType {
        margin-left: 0 !important;
    }
    
    #TimeLimit, #PointsLimit {
        width: 32em !important;
    } 
    
    #drpValueType, #PointsLimit .ChartsLimits {
        display: inline-block !important;
    }
    
    #txtLimitByTime, #drpValueType, #txtLimitByPoints, .ChartsLimits, #txtPollingInterval {
        clear: none !important;
        float: none !important;
    }
    
    #saveSettingsMobile {
        display: inline;
    }

    #PollingInterval .ChartsLimits {
        text-align: left;
        margin-left: 0 !important;
    }
}


#tab .x-btn-text-icon-over,.x-btn .x-btn-text-icon, .x-btn-over, .x-btn-focus, .x-btn, .x-btn-mc {
    background-image: none !important;
    background-position: 0px 0px !important;
}

#tabs-1 .x-toolbar #tabs-1 .x-btn-tl, #tabs-1 .x-toolbar #tabs-1 .x-btn-tr, #tabs-1 .x-toolbar #tabs-1 .x-btn-tc, #tabs-1 .x-toolbar #tabs-1 .x-btn-ml, #tabs-1 .x-toolbar #tabs-1 .x-btn-mr, #tabs-1 .x-toolbar #tabs-1 .x-btn-mc, #tabs-1 .x-toolbar #tabs-1 .x-btn-bl, #tabs-1 .x-toolbar #tabs-1 .x-btn-br, #tabs-1 .x-toolbar #tabs-1 .x-btn-bc {
    background-image: none !important; 
}
#tabs-1 .x-btn-click #tabs-1 .x-btn-text, #tabs-1 .x-btn-menu-active #tabs-1 .x-btn-text, #tabs-1 .x-btn-pressed #tabs-1 .x-btn-text {
    height: 100% !important;
    background-image: none !important;
}


.x-toolbar .x-btn-tl, .x-toolbar .x-btn-tr, .x-toolbar .x-btn-tc, .x-toolbar .x-btn-ml, .x-toolbar .x-btn-mr, .x-toolbar .x-btn-mc, .x-toolbar .x-btn-bl, .x-toolbar .x-btn-br, .x-toolbar .x-btn-bc{
    background-position: 500px 500px !important;
}

.x-grid3-row-checker, .x-grid3-hd-checker {
    background-image:url(/Orion/js/extjs/resources/images/default/grid/row-check-sprite.gif) !important;
    padding-right: 15px;
}

.x-grid3-body, .x-tree-root-node
{
    overflow-x: hidden !important;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch;
}

#tabs-1 .MargLeft {
    margin-left: 3em;
}

#GridSelected .x-grid3-row-table {
    width: auto !important;
}

#tabs input[type="checkbox"] {
    height: 25px;
    width: 25px;
    min-height: 25px;
    min-width: 25px;
    vertical-align: middle;
}

.x-grid3-row-checker, .x-grid3-hd-checker 
{
    background-size: 90px 24px;
    padding-right: 15px;
    height: 25px;
    width: 25px;
}

.x-grid3-row .x-grid3-row-checker {
    background-position: 0 center;
}

.x-grid3-row-selected .x-grid3-row-checker, .x-grid3-hd-checker-on .x-grid3-hd-checker, .x-grid3-row-checked .x-grid3-row-checker {
    background-position: -45px 0;
}

.x-grid3-row td{
    vertical-align: middle !important;
} 

#Grid .x-tree-ec-icon{
    background-size: 100px 25px;
    height: 25px;
    vertical-align: middle;
    width: 25px;
}

.x-tree-arrows .x-tree-elbow-minus {
    background-position: -25px center;
}

.x-tree-arrows .x-tree-ec-over .x-tree-elbow-plus {
    background-position: -50px center;
}

.x-tree-arrows .x-tree-ec-over .x-tree-elbow-minus {
    background-position: -75px center;
}

