﻿.monitorgrid
{
    background-color: #FFFFFF;
    border: solid 1px #CCCCCC;
    border-collapse: collapse;
}
.monitorgrid td
{
    text-align: left;
    padding: 2px;
    padding-right: 15px;
    border-bottom: solid 1px #EEEEEE;
    color: #000000;
    border: 0;
}
.monitorgrid th
{
    padding-left: 2px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    background: #E0E0E0;
    border-bottom: solid 1px #CCCCCC;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-size: 12px;
    font-weight: normal;
}
.monitorgrid .monitorgrid_alter
{
    background: #F7F7F7;
}
.monitorgrid th:hover
{
    background: #FFE89E;
}

th.sortasc a
{
    display: block;
    padding: 0 4px 0 15px;
    background: url("../Images/arrow-down.png") no-repeat;
}

th.sortdesc a
{
    display: block;
    padding: 0 4px 0 15px;
    background: url("../Images/arrow-up.png") no-repeat;
}

.resGridErrorValue
{
    background-color: #E61929;
    font-weight: bold;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.resGridWarningValue
{
    background-color: #FCD71B;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#signalRTableDiv .darkResultsRow .x42-grid-cell, #jsonData .darkResultsRow .x42-grid-cell, #jsonDataMobile .darkResultsRow .x42-grid-cell
{
    background-color: #F7F7F7 !important;
    border-bottom-color: #F7F7F7;
    border-top-color: #F7F7F7;
}

#signalRTableDiv .lightResultsRow .x42-grid-cell, #jsonData .lightResultsRow .x42-grid-cell, #jsonDataMobile .lightResultsRow .x42-grid-cell
{
    background-color: #fff !important;
    border-bottom-color: #fff;
    border-top-color: #fff;
}

#signalRTableDiv .x42-panel-default-framed, #jsonData .x42-panel-default-framed, #jsonDataMobile .x42-panel-default-framed {
    border-style: none !important;
    /*height: auto !important;*/
}
