﻿.upIcon
{
    background: url("../images/arrow-up.png") 0 0 #fff no-repeat;
}
.globalButtonsMobile {
    display: none;
}
.downIcon
{
    background: url("../images/arrow-down.png") 0 0 #fff no-repeat;
}
.settingsPanelLevel1
{
    background-color: #fff;
    padding: 0 0 15px 0;
}

.settingsPanelLevel2
{
    background-color: #fff;
    padding: 0 0 15px 0;
}
.HiddenName {
    display: none;
}
.settingsPanelLevel3
{
    background-color: #fff;
    padding: 0;
}
#tabs
{
    margin: 20px;
}
.panelDiv
{
    padding: 20px;
}
.toolSettingsPropertyLabel
{
    font-weight: normal;
}

.nav-btn
{
    width: 32px;
    height: 32px;
    display: block;
    text-decoration: none;
    cursor: pointer;
}
.next
{
    background: url(../images/arrows_add_32x32.gif) no-repeat 0 0;
}

.prev
{
    background: url(../images/arrows_remove_32x32.gif) no-repeat 0 0;
}
#tabs-2
{
    display: block;
    clear: both;
    overflow: hidden;
}
#tabs-1
{
    display: block;
    clear: both;
    overflow: hidden;
    margin: 0 0 15px;
}
#tabs-2 h4
{
    display: block;
    clear: both;
    overflow: hidden;
    font-size: 12px;
    font-weight: normal;
    margin: 0 0 15px;
}
#Grid
{
    width: 300px;
    display: inline;
    float: left;
}
#Buttons
{
    width: 45px;
    text-align: center;
    display: inline;
    float: left;
    padding: 170px 0 0 11px;
}
#Buttons .prev
{
    margin: 13px 0 0 0;
}
#GridSelected .x-panel-tbar
{
    width: 100% !important;
}
#GridSelected .x-panel-body
{
  /*  width: 98.8% !important; */
}
#GridSelected .x-small-editor
{
    width: 99.50% !important;
}
#GridSelected .x-grid3-body
{
    width: 100% !important;
}
#GridSelected .x-grid3-row-table
{
    width: 100% !important;
}
#GridSelected .x-grid3-body
{
    width: 100% !important;
}
#GridSelected .x-grid3-row
{
    width: 100% !important;
}
#GridSelected .x-grid3-cell-first
{
    width: 15px !important;
}
#GridSelected .x-grid3-row-table tr td
{
    border: 0;
}
.x-grid3-body .x-grid3-td-checker
{
    background: transparent;
}
.x-grid3-row
{
    border: 0;
}
.x-tool-toggle {
    display: none;
}
.x-grid-panel .x-panel-mc .x-panel-body
{
    padding: 6px 7px;
}
#GridSelected.x-grid-panel .x-panel-mc .x-panel-body
{
    padding: 6px 0 6px 0 !important;
}
.x-grid3-row td, .x-grid3-summary-row td
{
    padding: 2px 0;
}
.x-grid3-body .x-grid3-row-selected .x-grid3-td-numberer, .x-grid3-body .x-grid3-row-selected .x-grid3-td-checker, .x-grid3-body .x-grid3-row-selected .x-grid3-td-expander
{
    background-image: none;
}
.x-panel-tl, .x-panel-tr, .x-panel-bl, .x-panel-br
{
    overflow: auto;
}

#globalButtons
{
    padding: 10px 0 0 20px;
}
#saveandcontinueButton
{
    padding-left: 5px;
}
.txb
{
    width: 80px;
}
.moveup
{
    background-image: url(../images/icon_up.gif) !important;
}
.movedown
{
    background-image: url(../images/icon_down.gif) !important;
}
.selectall
{
    background-image: url(../images/Icon.SelectAll.gif) !important;
}
.selectnone
{
    background-image: url(../images/Icon.SelectNone.gif) !important;
}
#tabs-1 .panelDiv div
{
    margin: 0 0 20px 0;
}
#tabs-1 .panelDiv .lastdiv
{
    margin: 0;
}
#tabs-1 .panelDiv
{
    padding: 35px 95px;
    margin: 0;
    clear: both;
    overflow: hidden;
}
#tabs-1 .panelDiv label
{
    vertical-align: middle;
}
#tabs-1 .panelDiv input
{
    padding: 2px 7px;
    text-align: right;
}

#tabs-1 .label-1
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 13px;
    margin: 0 17px 0 0;
    min-width: 156px;
    text-align: right;
    vertical-align: baseline;
    line-height: 13px;
}
#tabs-1 .label-2
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 13px;
    margin: 0 0 0 17px;
}
#tabs-1 .checkbox-div label
{
    line-height: 13px;
    vertical-align: top;
}
#tabs-1 .checkbox-div
{
    padding: 0 0 0 180px;
}
.wrapper-snmp
{
    width: 500px;
    float: left;
    margin: 0 !important;
}

.msg
{
    border-radius: 3px;
    padding: 8px;
    margin: 20px auto 20px;
}
.msg span
{
    line-height: 12px;
    vertical-align: middle;
    font-weight: bold;
}
.success-msg
{
    background: #d9f7c8;
    border: 1px solid #18a100;
    color: #3dae29;
    width: 97%;
    display: none;
}
.failed-msg
{
    background: #facece;
    border: 1px solid #ce0000;
    color: #ce0000;
    width: 97%;
    display: none;
}
.msg img
{
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: middle;
}
#tabs-1 .hindmsg
{
    background: #fffcc7;
    border: 1px solid #ffe597;
    margin: -13px 0 0 !important;
    min-width: 600px;
    float: left;
}
#tabs-1 .hindmsg span
{
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    vertical-align: middle;
    color: #565656;
    font-weight: normal;
}
#tabs-1 .hindmsg span a
{
    color: #326899;
}
.ThresholdsDetails
{
    overflow: hidden;
    margin: 10px 20px 10px 0px;
}
.ThresholdsDetails td
{
    padding: 5px;
}

.NumericField
{
    font-size: 12px !important;
    text-align: right;
    max-width: 110px !important;
}
.RowHeaders div{
     display: inline-block;
     margin: 20px 20px 10px 0px;
     width: 250px;
}
 .displayName{
    width: 20%;
    font-weight: bold;
    cursor: pointer;
}
.panel
{
    display: none;
    margin-left: 267px;
}

.BottomBurrons
{
    margin: 0px 0 20px 20px;
    padding: 0px 0px 30px 0px;
    display: inline-flex;
    clear: both;
}
.BottomBurrons a
{
    margin: 0px 20px 0px 0px;
}

.WarningLevel
{
    font-size: 12px !important;
}

.CriticalLevel
{
    font-size: 12px !important;
}

.Units
{
    display: inline-block;
}
.x-tree-node-expanded .x-tree-node-icon 
{
    display: none;
    background-image: url("") !important; 
}
.x-tree-node-leaf .x-tree-node-icon 
{
    display: none;
    background-image: url("") !important;
}
.x-tree-node-collapsed .x-tree-node-icon 
{
    display: none;
    background-image: url("") !important;
}
#tabs-1 .Agenda legend{
    font-size: 13px;
    margin-left: 1em;
}
#tabs-1 .Descript{
    margin-bottom: 1em;
    margin-right: 1em;
    margin-top: 1em;
    font-size: 13px;
    margin-left: 1.4em;
}

#tabs-1 #TimeLimit, #PointsLimit, #PollingInterval {
    margin-bottom: 1em;
    font-size: 1em;
    margin-left: 1.4em; 
}

#tabs-1 #PointsLimit 
{ 
    margin-bottom: 2em;
}

#tabs-1 .Point {
    margin-right: 1em;
}

#tabs-1 .LimitsValues {
    font-size: 12px;
    margin-top: 1em;
    margin-right: 1em;
}

#tabs-1 .MargLeft {
    margin-left: 6em;
}

#tabs-1 .MargLeftLess{
    margin-left: 2.8em;
}

#tabs-2 #GridSelected .x-grid3-scroller,#tabs-2 #GridSelected .x-grid3 {
   /* width: 97% !important;  */
}
#tabs-2 #GridSelected .x-grid3-scroller,#tabs-2 #GridSelected .x-grid3,#tabs-2 #GridSelected .x-grid3-viewport {
   height: 100% !important;
    width: 100% !important;
}

#tabs ul li {
    font-size: 13px;
}

.ChartsLimits {
    font-size: 12px;
}

.LimitsValues {
    font-size: 12px;
}

#tabs-3 .Descript {
    font-size: 12px;
}

.trigger label {
    font-size: 12px;
}

.LevelText {
    font-size: 12px;
}
