﻿body {background: url("../images/response-time-monitor-bg.png") 92% 88% #f6f6f6 no-repeat;}
#header-interface-monitor{background-color:#434343;padding:5px;overflow:hidden;clear:both;}
#header-interface-monitor img{margin-top:10; float:left;vertical-align:middle;}
#header-interface-monitor h2{color:#fff;font-size:18px;font-weight:bold; float:left;vertical-align:middle;}
#header-interface-monitor .logo{float:right;width:160px;vertical-align:middle;}
.wrapper-content-popup { display: none;}
.wrapper-content-popup ul {list-style: none;padding:0;margin:0;}
.wrapper-content-popup li {padding-left: 1em;}
.wrapper-content-popup li:before {content: "■ ";font-size: 12px;vertical-align: top;color: #ff9902;}
.wrapper-content-popup{clear:both;overflow:hidden;}
.wrapper-content-popup .left-content-popup{float:left;width:65%}
.wrapper-content-popup .right-content-popup{float:left;width:30%}
.pop-image { width: 100%; padding:20px}

/*Autocomplete styles*/

.enter-hostname-wrapper .enter-hostname-or-ip-div input[type="text"] {
    width: 300px;
}
.ac_results {
	padding: 0;
    margin-top: 1px;
	border: 1px solid #e2e2e2;
    border-radius: 4px;
	background-color: #f5f5f5;
	overflow: hidden;
    width: 304px !important;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	margin: 0;
}

.ac_results li {
	margin: 0;
	padding: 4px 5px 4px 8px;
	cursor: default;
	display: block;
    text-align: left;
    border: 1px solid transparent;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('../images/animated_loading_16x16.gif') right center no-repeat;
}

.ac_odd {
	background-color: transparent;
} 

#responseTimeMonitorResults
{
    display: none;
}
.CancelLink
{
    border: 0px;
    background: transparent;
    color: #36689A;
    cursor: pointer;
    margin: 0 0 0 10px;
}

#resultsTable
{
    padding: 10px 10px 0 20px;
}

#noNodesMessage
{
    position: absolute;
    left: 44%;
    top: 48%;
}

#switchView {
    float: right;
    vertical-align: middle;
    line-height: 25px;
    margin-left: 40px;
}

.tableViewBtnActive {
    background-image: url("../images/viewButtons.png");
    background-position: 28px 0px;
    width: 28px;
    height: 27px;
}

.tableViewBtnInactive {
    background-image: url("../images/viewButtons.png");
    background-position: 0px 0px;    
    width: 28px;
    height: 27px;
}

.plotViewBtnActive {
     background-image: url("../images/viewButtons.png");
    background-position: 28px 27px;
    width: 28px;
    height: 27px;
}

.plotViewBtnInactive {
    background-image: url("../images/viewButtons.png");
    background-position: 0px 27px;
    width: 28px;
    height: 27px;
}

#tableViewDiv
{
    display: inline-block;
    margin-left: 10px;
        
}

#plotViewDiv
{
    display: inline-block;
    margin-left: 10px;
}

.MobNav {
    display: block;
    margin-right: 50px;
}
