﻿
#tabs
{
    margin: 20px;
}
.panelDiv
{
    padding: 20px;
}
#globalButtons
{
    padding: 0 0 0 20px;
}
#cancelButton
{
    padding-left: 33px;
}
#saveandcontinueButton
{
    padding-left: 5px;
}
.txb
{
    font-size: 12px !important;
    width: 80px;
}
#tabs ul li {
    font-size: 13px;
}
#tabs-1 .panelDiv div
{
    margin: 0 0 20px 0;
}
#tabs-1 .panelDiv .lastdiv
{
    margin: 0;
}
#tabs-1 .panelDiv
{
    padding: 35px 95px;
    margin: 0;
    clear: both;
    overflow: hidden;
}
#tabs-1 .panelDiv label
{
    vertical-align: middle;
}
#tabs-1 .panelDiv input
{
    padding: 2px 7px;
    text-align: right;
}

#tabs-1 .label-1
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    margin: 0 17px 0 0;
    min-width: 156px;
    text-align: right;
    vertical-align: baseline;
    line-height: 13px;
    display: inline-block;
}
#tabs-1 .label-2
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    margin: 0 0 0 17px;
}
#tabs-1 .checkbox-div label
{
    line-height: 12px;
    vertical-align: top;
}
.msg
{
    border-radius: 3px;
    padding: 8px;
    margin: 20px auto 20px;
}
.msg span
{
    line-height: 12px;
    vertical-align: middle;
    font-weight: bold;
}
.success-msg
{
    background: #d9f7c8;
    border: 1px solid #18a100;
    color: #3dae29;
}
.failed-msg
{
    background: #facece;
    border: 1px solid #ce0000;
    color: #ce0000;
    width: 97%;
}
.msg img
{
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: middle;
}
#tabs-1 .hindmsg
{
    background: #fffcc7;
    border: 1px solid #ffe597;
    margin: -13px 0 0 !important;
    min-width: 600px;
    float: left;
}
#tabs-1 .hindmsg span
{
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    vertical-align: middle;
    color: #565656;
    font-weight: normal;
}
#tabs-1 .hindmsg span a
{
    color: #326899;
}
#MobileGrid
{
    display: none;
}
.success-msg
{
    margin-left: 20px;
    margin-right: 20px;
}
#globalButtonsMobile
{
    display: none;
}
.settingsBreaks
{
    display: none;
}
.bottomValue
{
    display: block;
    padding-left:160px;
    padding-top:05px;    
}
.settingsPanelLevel1
{
    background-color: #fff;
    padding: 0 0 15px 0;
}

.ui-widget-content {
   background-color: #fff; 
}
.ReqField {
    margin: 0 0 0 17px;
}