﻿.toolPropertyLabel
{
    font-weight: bold;
}

.toolSettingsPropertyLabel
{
    font-weight: bold;
}

.settingsPanelLevel1
{
    padding: 20px;
    background-color: #f0f0f0;
}

.settingsPanelLevel2
{
    padding: 20px;
    background-color: #f3f3f3;
}

.settingsPanelLevel3
{
    padding: 20px;
    background-color: #f6f6f6;
}

#header
{
    background-color: #222222;
    overflow: hidden;
    clear: both;
}
#header img
{
    margin-top: 10px;
    float: left;
    vertical-align: middle;
}
#header
{
    background-color: #222222;
    overflow: hidden;
    clear: both;
    padding-left: 5px;
    padding-top: 5px;
}
#header .indent
{
    color: #FFFFFF;
}
#header .indent:hover
{
    color: #F99D1c;
}
.setting
{
    background-image: url('/orion/toolset/images/settings-icon.png');
    background-repeat: no-repeat;
    background-position: 5px 0px;
    cursor: pointer;
}
.learnmore
{
    background-image: url('/orion/toolset/images/learnmore-icon.png');
    background-repeat: no-repeat;
    margin-left: 12px;
    background-position: 7px 0px;
    cursor: pointer;
}
.closetool
{
    background-image: url('/orion/toolset/images/close-icon.png');
    background-repeat: no-repeat;
    margin-left: 8px;
    background-position: 10px 0px;
    cursor: pointer;
}
#pagelinks
{
    margin-right: 20px;
    margin-top: 19px;
}
.indent
{
    padding-left: 4ex;
}

#mobset
{
    float: right;
    margin-right: 25px;
    margin-top: 17px;
}
.icon
{
    width: 23px;
    height: 21px;
    display: inline-block;
    background: url('/orion/toolset/images/mobile-nav-icon.gif') no-repeat;
    cursor: pointer;
}
.first
{
    background-position: left top;
}
.second
{
    background-position: right top;
}
.mobset
{
    background-color: #868686;
}
#setpan
{
    display: none;
}
#setpan a
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 18px;
    color: white;
    padding: 15px;
    display: block;
    border-bottom: 1px solid #555555;
}
.link
{    
    font-size: 12px;
    color: #336699;
    margin-left: 30px;
    margin-top: 20px;
    cursor: pointer;
}
a.link:hover
{
    color: #f99d1c;
}
.link:visited
{
    color: #336699;
}
.mlink
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    color: #336699;
    font-weight: bold;
    float: right;
    margin-top: 4px;
    margin-right: 30px;
}
a.mlink:hover
{
    color: #f99d1c;
}
.mlink:visited
{
    color: #336699;
}
.toolsetlink
{
    color: #336699;
}
.toolsetlink:visited
{
    color: #336699;
}
.toolsetlink:hover
{
    color: #f99d1c;
}
.x-grid-panel .x-panel-body {
    overflow-y: auto !important;
    height: 330px !important;
}