﻿#chartcontainer
{
    height: auto;
    width: 100%;
    display: inline-block;
    background: white;
    overflow: hidden; 
}

#chartOptionsHolder .x42-tree-icon-leaf
{
    background: #B7B7B7;
    height: 14px;
    width: 14px;
    margin: 0rem 1rem;
} 

#chartMetrics #chartMetricsHeader,  #chartMetrics #chartOptionsHolder, #chartOptionsHolder .x42-panel-body,#chartOptionsHolder .x42-tree-view {
    width: 100% !important;
    max-height: 400px;
}
#chartOptionsHolder .x42-grid-tree-node-expanded .x42-tree-icon-parent {
    background-image: none !important;
}

#chartOptionsHolder .x42-tree-icon-parent {
    background-image: none !important;
}

#chartOptionsHolder .x42-tree-icon-leaf ~ .x42-tree-node-text
{
    color: #B7B7B7;
}

#chartOptionsHolder .x42-grid-tree-node-leaf
{
    border-bottom: 1px solid #F1F1F1;
}

#chartMetricsHeader {
    background: #EEEEEF;
    display: inline-block;
    width: 100%;
    line-height: 27px;    
    border-top: 1px solid #D0D0D0;
    border-left: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
}

#chartMetricsHeader label {
    font-weight: bold;
    line-height: 35px;
    padding-left: 7px;
}

.metricsParameterRow
{
    border-bottom: 1px solid #F1F1F1;
}

.metricsDeviceRow
{
    border-bottom: 2px solid #CDCDCD;
}

.tooltipSeriesName{
    width: 500px;
    display: inline;
}

.tooltipSeriesName ~ div{
    float: right;
    display: inline;
}

.highcharts-tooltip {
    width: 500px !important;
}

#messageInfoImage {
    vertical-align: middle;
    margin-right: 6px;
    margin-left: 6px;
}

.managedObjInfoWrapper{
    background-color: #FFFDCC;
    font-weight: normal;
    line-height: 18px;
}

.managedObjInfoWrapper a, a:active, a:visited {
    color: #3366B2;
}

.metricsMessage {
    padding: 6px;
    font-size: 11px;
    font-size: 1.1rem;
}

#selectMetricsMessage2 {
    padding: 15px;
    border: 3px solid #d5d5d5;
    width: 250px;
    align-content: center;
    margin: 0 auto;
    text-align: center;
    top: 40%;
    position: relative;
    line-height: 20px;
}

.metricTypeValue {
    float: right;
    color: gray;
}

#chartOptionsHolder .x42-tree-icon-parent ~ span > div {
    display: inline-block;
}

#chartMetricsThresholds {
    background: #E4F1F8;
    display: inline-block;
    width: 100%;    
    border-bottom: 1px solid #D0D0D0;
    border-left: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
    padding-top: 10px;
    padding-bottom: 10px;
  /*  top: 22px;*/
    position: relative;
}

#chartDetailsTable {
    width: 100%;
    display: inline-block;
   /* padding-left: 2rem;
    margin-top: 2rem; */
}
#chartDetailsTable .x42-panel {
   width: 100% !important;
    margin-top: 20px;
}
#chartOptionsHolder .metricsParameterRow {
  /*  padding-top: 1.0rem;
    padding-bottom: 1.0rem;  */
}

#chartOptionsHolder .x42-grid-row-focused .x42-grid-td{
    border-bottom: 1px solid #CDCDCD;
}

#chartOptionsHolder .x42-tree-icon, .x42-tree-elbow-img, .x42-tree-checkbox {
   margin-bottom: 0px !important;
   margin-top: 0px !important;
}

#chartOptionsHolder .x42-tree-node-text {
    font-size: 12px;
    font-size: 1.2rem !important;
    line-height: 2.0rem;
    white-space: normal;
}

#chartOptionsHolder .x42-grid-cell-inner a {
    font-size: 12px;
    font-size: 1.2rem !important;
    line-height: 2.0rem;
}

#chartOptionsHolder .x42-tree-checkbox {
  /*  -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    padding: 10px;
    margin-left: 2rem;*/
}

#chartMetricsThresholds div {
    width: 100%;
    padding-left: 1rem;
    font-size: 12px;
    font-size: 1.2rem !important;
}

#chartMetricsThresholds img {
    display: none;    
}

#chartMetricsThresholds select {
    display: block;
    font-size: 1.3rem;
    margin: 0.7rem 2em;
    max-width: 85%;
    text-align: left;
    width: 300px;
}

#chartDetailsTable .x42-grid-cell-inner 
{
    font-size: 12px;
    font-size: 1.2rem !important;
    line-height: 1.3rem;
    white-space: normal;
}

#chartOptionsHolder .x42-tree-checkbox{
    background-size: 100px 75px;
    width: 25px; 
    height: 25px;
    top: 0;
}

#chartOptionsHolder .x42-tree-checkbox-checked {
   background-position: 0 -25px !important;
}

.StatusIcon {
    vertical-align: text-bottom;
}

#chartOptionsHolder .x42-tree-checkbox {
   /* background-position: 0 0;*/
}

#chartOptionsHolder .x42-grid-no-row-lines .x42-grid-cell-inner {
   /* padding-top: 1rem;
    padding-bottom: 1rem;*/
}


#chartOptionsHolder .x42-tree-elbow-img.x42-tree-expander{
   /* -ms-transform: scale(3);
    -moz-transform: scale(3);
    -webkit-transform: scale(3.5);
    -o-transform: scale(3);
    margin-top: 1.0rem;
    margin-left: 1.0rem;  */
   
    background-size: 40px 45px;
    height: 25px;
    width: 40px;  
}
 
 #chartOptionsHolder .x42-tree-elbow-end{
  /*  margin-left: 2.0rem !important;*/
}

#chartHolder tspan{
    font-size: 12px;
    font-size: 1.2rem;
}

#chartDetailsTable tr:nth-child(8n) td{
    border-bottom: 1px solid #CDCDCD !important;    
}

#chartDetailsTable tr:nth-child(16n+1) td,
#chartDetailsTable tr:nth-child(16n+2) td,
#chartDetailsTable tr:nth-child(16n+3) td,
#chartDetailsTable tr:nth-child(16n+4) td,
#chartDetailsTable tr:nth-child(16n+5) td,
#chartDetailsTable tr:nth-child(16n+6) td,
#chartDetailsTable tr:nth-child(16n+7) td,
#chartDetailsTable tr:nth-child(16n+8) td{
    background-color: #F7F7F7;
}

#chartDetailsTableTitle 
{
    font-size: 13px;
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
    display: inline-block;
    padding-top: 2rem;
   /* margin-top: 2rem; */
   margin-top: 20px;
    padding-bottom: 20px;
}


#chartMetrics
{   
    height: 400; 
    display: inline-block;
}

@media screen and (max-width: 480px)
{
    #chartMetrics #chartMetricsHeader,  #chartMetrics #chartOptionsHolder, #chartOptionsHolder .x42-panel-body,#chartOptionsHolder .x42-tree-view {
    max-height: 300px;
}

    #chartMetricsHeader {
        width: 100%;    
    }
    
    #chartMetrics {
        margin:0 15px;
        width: 90%; 
    }
    
    #chartDetailsTableTitle {
     /*   color: red; */
    }
    
    #chartHolder > .highcharts-container{
        width: 100% !important;
       /* overflow-x: auto !important; */
       /* padding-right: 20px;*/
    }

    #chartHolder > .highcharts-container > svg{
       width: 100%;
    }
    
    #chartHolder
    {
        width: 100% !important;
        margin-top: 10px;
        padding: 0px;        
        display: inline-block;
        float: left;    
       /* margin-left: 25px;    */
        overflow: hidden !important;
        height: 100% !important;
    }
    
    #chartOptionsHolder .x42-tree-view
    {
        height: 100% !important;
    }
    
    #chartOptionsHolder .x42-panel-body
    {
        height: 100% !important;
    }
    
    #chartOptionsHolder .x42-panel
    {
        height: 100% !important;
    }
}

@media screen and (min-width: 480px) and (max-width: 1100px)
{
    #chartDetailsTableTitle {
        /* color: green; */
    }
    
    #chartHolder > .highcharts-container{
        width: 100% !important;
    }
    
    #chartHolder
    {
        margin-top: 10px;
        padding: 0px;
        width: 100%;        
        display: inline-block;
        float: left;    
       /* margin-left: 25px; */   
        height: 100% !important;  
        overflow: hidden;  
    }
    
     #chartMetrics
    {         
        padding-left: 15px;
        padding-right: 15px;
    }
    
        
    #chartOptionsHolder .x42-tree-view
    {
        height: 100% !important;
    }
    
    #chartOptionsHolder .x42-panel-body
    {
        height: 100% !important;
    }
    
    #chartOptionsHolder .x42-panel
    {
        height: 100% !important;
    }
}

@media screen and (min-width: 1100px)
{
    #chartDetailsTableTitle {
        /* color: yellow; */
    }
    
    #chartHolder > .highcharts-container{
        width: 100% !important;
    }
    
    #chartHolder > .highcharts-container > svg{
        width: 100%;        
    }
    
    #chartOptionsHolder {
        height: 350px;
    }
    
    #chartOptionsHolder .x42-tree-view
    {
        height: 100% !important;
    }
    
    #chartOptionsHolder .x42-panel-body
    {
        height: 100% !important;
    }
    
    #chartOptionsHolder .x42-panel
    {
        height: 100% !important;
    }
    
    #chartHolder
    {
        margin-top: 10px;
        padding: 0px;
        width: 70%;
        height: 500px;
        display: inline-block;
        float: left;    
        margin-left: 25px;
    }
    
    #chartMetrics
    { 
        width: 25%;
        float: right;
        margin-right: 20px;
        margin-top: 20px;
        margin-left: 5px;
    }
}
#chartOptionsHolder .x42-tree-checkbox {
    -webkit-appearance: none;
    border-radius: 0;
}

#chartOptionsHolder
{               
    -webkit-overflow-scrolling: touch;
}

#maxSeriesMessage {
    float: left; 
    clear: both; 
    position: absolute; 
    top: 40px;
    display: none; 
    z-index: 10;"
}

#maxSeriesMessageContent{
    border: 1px solid #ccc; 
    background: white; 
    display: inline-block; 
    background: white; 
    padding: 8px; 
    color: black;
}