﻿.toolsetTooltiptHeaderColor
{
    background: #EEEEEE;
    padding: 5px;
    font-size: x-small;
}

#toolTipTitle
{
    font-weight: bold;
}

#toolTipContent
{
    font-size: x-small;
    display: none;
    width: 300px;
    position: absolute;
    border: 1px solid #BBBBBB;
    box-shadow: 2px 2px 5px #888888;
}

.toolsetTooltipClick
{
    color: #616161;
    padding-left: 10px;
}

#toolTipContent:before
{
    position: absolute;
    top: -10px;
    left: 5%;
    content: '';
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 10px solid #D0D0D0;
    border-bottom-color: #EEEEEE;
    display: inline-block;
}


#ctl00_ctl00_ctl00_BodyContent_ContentPlaceHolder1_ViewPageTitle_IntegrationIcons1_iconwrapper { /* UIF-632 */
    background-color: #FFFFFF;
    display: inline-block;
}

#ctl00_ctl00_ctl00_BodyContent_ContentPlaceHolder1_ViewPageTitle_IntegrationIcons1_iconwrapper a {  /* UIF-632 */
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #ABD5E3;
    display: inline-block;
    width: 23px;
    height: 23px;
}

#ctl00_ctl00_ctl00_BodyContent_ContentPlaceHolder1_ViewPageTitle_IntegrationIcons1_iconwrapper a:first-child {  /* UIF-632 */
    border-right: 1px solid #ABD5E3;
}

#ctl00_ctl00_ctl00_BodyContent_ContentPlaceHolder1_ViewPageTitle_IntegrationIcons1_iconwrapper a:hover {  /* UIF-632 */
    border-color: #204a63;
}

#ctl00_ctl00_ctl00_BodyContent_ContentPlaceHolder1_ViewPageTitle_IntegrationIcons1_iconwrapper a img, 
#ctl00_ctl00_ctl00_BodyContent_ContentPlaceHolder1_ViewPageTitle_IntegrationIcons1_iconwrapper a img:hover {  /* UIF-632 */
    position: relative;
    top: 4px;
    left: 4px;
}