﻿#chartcontainer
{
    height: 500px;
    width: 100%;
    display: inline-block;
    background: white;    
}

#chartHolder
{
    margin-top: 10px;
    padding: 0px;
    width: 70%;
    height: 500px;
    display: inline-block;
    float: left;    
    margin-left: 25px;
}

#chartMetrics
{
    margin-top: 10px;
    margin-right: 25px;
    padding: 0px;
    width: 25%;
    height: 400;    
    vertical-align: top;
    float: right;
}

#chartOptionsHolder .x42-tree-icon-leaf
{
    background: #B7B7B7;
    padding: 1px;
    height: 12px;
    width: 20px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 3px;
    margin-right: 3px;
}

#chartOptionsHolder .x42-grid-tree-node-expanded .x42-tree-icon-parent {
    background-image: none !important;
}

#chartOptionsHolder .x42-tree-icon-parent {
    background-image: none !important;
}

#chartOptionsHolder .x42-tree-icon-leaf ~ .x42-tree-node-text
{
    color: #B7B7B7;
}

#chartOptionsHolder .x42-grid-tree-node-leaf
{
    border-bottom: 1px solid #F1F1F1;
}

#chartMetricsHeader {
    background: #EEEEEF;
    display: inline-block;
    width: 100%;
    line-height: 27px;    
    border-top: 1px solid #D0D0D0;
    border-left: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
}

#chartMetricsHeader label {
    margin-left: 5px;
}

.metricsParameterRow
{
    border-bottom: 1px solid #F1F1F1;
}

.metricsDeviceRow
{
    border-bottom: 2px solid #CDCDCD;
}

#chartOptionsHolder {
    height: 320px;
}

.tooltipSeriesName{
    width: 500px;
    display: inline;
}

.tooltipSeriesName ~ div{
    float: right;
    display: inline;
}

.highcharts-tooltip {
    width: 500px !important;
}

#messageInfoImage {
    vertical-align: middle;
    margin-right: 6px;
    margin-left: 6px;
}

.managedObjInfoWrapper{
    background-color: #FFFDCC;
    font-weight: normal;
    line-height: 18px;
}

.managedObjInfoWrapper a,.managedObjInfoWrapper a:active,.managedObjInfoWrapper a:visited {
    color: #3366B2;
}

.metricsMessage {
    padding: 6px;
    font-size: 11px;
}

#selectMetricsMessage2 {
    padding: 15px;
    border: 3px solid #d5d5d5;
    width: 250px;
    align-content: center;
    margin: 0 auto;
    text-align: center;
    top: 40%;
    position: relative;
    line-height: 20px;
}

.metricTypeValue {
    float: right;
    color: gray;
}

#chartOptionsHolder .x42-tree-icon-parent ~ span > div {
    display: inline-block;
}


#chartMetricsThresholds img {
    margin-left: 15px;
    margin-right: 15px;
    top: 7px;
    position: relative;
}

#chartMetricsThresholds select {
    width: 190px;
    margin-left: 15px;
}

#chartMetricsThresholds {
    background: #E4F1F8;
    display: inline-block;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #D0D0D0;
    border-left: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 22px;
    position: relative;
}

#chartDetailsTable {
    width: 100%;
    display: inline-block;
    padding:0 20px;
}

#chartMetricsThresholds div {
    display: inline-block;
    margin-left: 3px; 
    margin-right: 3px; 
}

#chartDetailsTable img{
    margin-right: 0.5rem;
}

#chartDetailsTable .x42-grid-header-ct {
    height: 25px;
}

#chartDetailsTable .x42-panel-body {
    height: 25px;
}

#chartDetailsTable .x42-box-inner {
    height: 25px !important;
}

#chartHolder > .highcharts-container {
    width: 100% !important;
}

#chartDetailsTableTitle {
    width: 99%;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 20px;   
}

#chartDetailsTable .x42-grid-cell-inner > div {
    display: inline-block;
}

.highcharts-loading {
    opacity: 1 !important;
    background: none !important;
    top: -1.0em !important;
}

.highcharts-loading > span > div{
    opacity: 0.7;    
}

#maxSeriesMessage {
    float: left; 
    clear: both; 
    position: absolute; 
    top: 40px;
    display: none; 
    z-index: 10;"
}

#maxSeriesMessageContent{
    border: 1px solid #ccc; 
    background: white; 
    display: inline-block; 
    background: white; 
    padding: 8px; 
    color: black;
}