﻿html, body, table, div
{
    font-size: 10px !important;
    font-family: Arial, Helvetica, Sans-Serif !important;
}
#Grid
{
    display: none;
}
#globalButtons
{
    display: none;
}
#globalButtonsMobile
{
    display: block;
}
#Buttons
{
    display: none;
}
#GridSelected
{
    display: none;
}
#MobileGrid
{
    display: block;
}
.ext-gecko .x-btn button, .ext-webkit .x-btn button
{
    padding-right: 1.563em;
}
.x-grid-panel .x-panel-body
{
    border: 0;
}
.x-toolbar-cell .x-form-cb-label
{
    padding-left: 10px;
    padding-left: 1rem;
}
.x-grid3-col .x-grid3-cell .x-grid3-td-checker .x-grid3-cell-first
{
    width: 10px !important;
}
.x-toolbar-cell .x-form-checkbox, .x-toolbar-cell .x-form-radio
{
    margin-top: 0;
    vertical-align: middle !important;
}
.x-toolbar-cell .x-form-cb-label
{
    top: 0 !important;
    vertical-align: middle !important;
}
.x-toolbar
{
    background-image: none;
}
#MobileGrid .x-grid-panel
{
    width: 100% !important;
}
#MobileGrid .x-panel-tbar
{
    width: 100% !important;
}
#MobileGrid .x-panel-body
{
    width: 100% !important;
}
#MobileGrid .x-small-editor
{
    width: 99.50% !important;
}
#MobileGrid .x-grid3-body
{
    width: 100% !important;
}
#MobileGrid .x-grid3-row-table
{
    width: 100% !important;
}
#MobileGrid .x-grid3-body
{
    width: 100% !important;
}
#MobileGrid .x-grid3-row
{
    width: 100% !important;
    padding-left: 7px;
    padding-left: 0.7rem !important;
}
.x-grid3-body .x-grid3-td-checker
{
    background: transparent;
}
.x-grid3-row-checker, .x-grid3-hd-checker
{
    width: 18px;
}
#tabs .ui-widget-content
{
    border: 0;
}
#tabs .ui-widget-header
{
    border: 0;
}
#tabs
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
}
@media screen and (min-width: 320px) and (max-width: 350px)
{
    #cancelButtonMobile
    {
        margin-left: 0 !important;
    }
}
@media screen and (min-width: 320px) and (max-width: 479px)
{
    /*Trace Route Setting page*/
    /* Tabs navigation*/
    .ui-tabs .ui-tabs-nav
    {
        padding: 0 !important;
        width: 100%;
        margin: 0 auto !important;
    }
    .ui-widget-header
    {
        background: transparent;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
    {
        border: 0;
        border-radius: 0;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl
    {
        border: 0;
        border-radius: 0;
    }
    .ui-tabs .ui-tabs-nav li
    {
        background: #e6e6e6;
        background-image: none !important;
        border-radius: 0;
        width: 48.5%;
        margin: 0;
        border: 2px solid #e6e6e6 !important;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active
    {
        background: #fa9400;
        background-image: none;
        border: 2px solid #e37d00 !important;
        padding: 0 !important;
    }
    .ui-tabs .ui-tabs-nav li a
    {
        color: #000;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active a
    {
        color: #fff;
        font-weight: bold;
    }
    /*Tabs*/
    #tabs-1 .panelDiv
    {
        padding: 33px;
    }
    .ui-tabs .ui-tabs-panel
    {
        padding: 15px 0 0 0;
    }
    #tabs-1 .hindmsg
    {
        clear: both;
        float: none;
    }
    .msg img
    {
        display: block;
        float: left;
    }
    #tabs-1 .hindmsg span
    {
        display: block;
    }
    #cancelButton
    {
        padding-left: 5px;
    }
    #buttonsBreak
    {
        display: block;
    }
    #saveandcontinueButton
    {
        padding-left: 0px;
    }
    #tabs-1 .label-1
    {
        width: 8rem;
        min-width: inherit;
    }
    #tabs-1 .bottomValue
    {
        display: inline-block;
        float: none;
        margin-left: 1rem !important;
        text-align: right !important;
        width: 13.5rem;
    }
    #tabs-1 .checkbox-div
    {
        padding: 0 2rem 0 0 !important;
    }
    #tabs-1 .panelDiv
    {
        padding: 20px;
    }
    
    #tabs input[type="checkbox"] {
    margin: 0 2em 0 0;
}
#tabs-1 .checkbox-div label {
    padding-left: 0.5rem !important;
}
}

@media screen and (min-width: 480px) and (max-width: 767px)
{
    .ui-tabs .ui-tabs-nav
    {
        padding: 0 !important;
        width: 100%;
        margin: 0 auto !important;
    }
    .ui-widget-header
    {
        background: transparent;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
    {
        border: 0;
        border-radius: 0;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl
    {
        border: 0;
        border-radius: 0;
    }
    .ui-tabs .ui-tabs-nav li
    {
        background: #e6e6e6;
        background-image: none !important;
        border-radius: 0;
        width: 49%;
        margin: 0;
        border: 2px solid #e6e6e6 !important;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active
    {
        background: #fa9400;
        background-image: none;
        border: 2px solid #e37d00 !important;
        padding: 0 !important;
    }
    .ui-tabs .ui-tabs-nav li a
    {
        color: #000;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active a
    {
        color: #fff;
        font-weight: bold;
    }
    /*Tabs*/
    #tabs-1 .panelDiv
    {
        padding: 33px;
    }
    .ui-tabs .ui-tabs-panel
    {
        padding: 15px 0;
    }
    #tabs-1 .hindmsg
    {
        clear: both;
        float: none;
    }
    .msg img
    {
        display: block;
        float: left;
    }
    #tabs-1 .hindmsg span
    {
        display: block;
    }

    #tabs-1 .panelDiv div
    {
        margin: 0 0 1.125rem;
    }
    #tabs-1 .bottomValue
    {
        display: inline-block;
        float: none;
        margin-left: 2.7rem !important;
        margin-top: 0.3rem !important;
        text-align: right !important;
        width: 19.8rem;
    }

    #tabs-1 .checkbox-div
    {
        padding: 0 !important;
         width: 13.75rem !important;
         /*margin: 0 0 0 10rem !important;*/
    }
         
#tabs-1 .panelDiv .lastdiv {
    margin: 0;
}
#tabs-1 .panelDiv div {
    margin: 0 0 1.125rem;
    text-align: center;
}
#tabs-1 .panelDiv div {
    margin: 0 0 1.125rem;
}
#tabs-1 .panelDiv div {
    margin: 0 0 20px;
}
    #tabs-1 .label-1
    {
        margin: 0 0.75em 0 0;
        font-size: 1.2rem;
    }
    #tabs-1 .label-2
    {
        font-size: 1.2rem;
        margin: 0;
    }
    #tabs-1 .checkbox-div label {
        padding-left: 3.3rem !important;
    }
}

@media screen and (min-width: 479px) and (max-width: 555px) {
   
    #tabs-1 .bottomValue {
    display: inline-block;
    float: none;
    margin-left: 2.7rem !important;
    margin-top: 0.3rem !important;
    text-align: right !important;
    width: 19.8rem;
}
}
@media screen and (min-width: 550px) and (max-width: 767px) {
    #tabs-1 .bottomValue {
        margin-left: 0 !important;
        text-align: left !important;
        
    }
}

/*@media screen and (min-width: 373px) and (max-width: 447px) {
#tabs-1 .bottomValue {
    display: block;
    float: none;
    margin-left: 6.5rem !important;
    text-align: right !important;
    width: 18rem;
}

}
@media screen and (min-width: 447px) and (max-width: 479px) {
#tabs-1 .bottomValue {
    clear: both;
    display: block;
    float: none;
    margin-left: 10.3rem !important;
    text-align: right !important;
    width: 18.5rem;
}
#tabs-1 .label-1 {
    width: 11rem;
}
}
@media screen and (min-width: 479px) and (max-width: 528px) {
    #tabs-1 .bottomValue {
    display: inline-block;
    float: none;
    margin-left: 4.3rem !important;
    text-align: right !important;
    width: 18.5rem;
}
}
@media screen and (min-width: 528px) and (max-width: 765px)
{
    #tabs-1 .bottomValue {
        text-align: left !important;
        margin-left: 0.5rem !important;
        width: 18rem !important;
    }
}
*/

@media screen and (min-width: 768px) and (max-width: 960px)
{
    /*Trace Route Setting page*/
    /* Tabs navigation*/
    .ui-tabs .ui-tabs-nav
    {
        padding: 0 !important;
        width: 100%;
        margin: 0 auto !important;
    }
    .ui-widget-header
    {
        background: transparent;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
    {
        border: 0;
        border-radius: 0;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl
    {
        border: 0;
        border-radius: 0;
    }
    .ui-tabs .ui-tabs-nav li
    {
        background: #e6e6e6;
        background-image: none !important;
        border-radius: 0;
        width: 49.45%;
        margin: 0;
        border: 2px solid #e6e6e6 !important;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active
    {
        background: #fa9400;
        background-image: none;
        border: 2px solid #e37d00 !important;
        padding: 0 !important;
    }
    .ui-tabs .ui-tabs-nav li a
    {
        color: #000;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active a
    {
        color: #fff;
        font-weight: bold;
    }
    /*Tabs*/
    #tabs-1 .panelDiv
    {
        padding: 33px;
        text-align: center;
    }
    .ui-tabs .ui-tabs-panel
    {
        padding: 15px 0;
    }
    #tabs-1 .hindmsg
    {
        clear: both;
        float: none;
    }
    .bottomValue
    {
        width: 17.88rem;
        margin: 0.3rem auto 0 !important;
    }
    #tabs-1 .checkbox-div
    {
        padding: 0 17rem 0 0 !important;
        width: 12.75rem;
        /*margin: 0 0 0 16.8em !important;*/
    }
}
@media only screen and (min-width: 800px) and (max-width: 960px) {
    #tabs-1 .checkbox-div {
    /*margin: 0 0 0 18.5em !important;*/
    }
}
@media only screen and (min-width: 960px) and (max-width: 1024px)
{
    /*Trace Route Setting page*/
    /* Tabs navigation*/
    .ui-tabs .ui-tabs-nav
    {
        padding: 0 !important;
        width: 100%;
        margin: 0 auto !important;
    }
    .ui-widget-header
    {
        background: transparent;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
    {
        border: 0;
        border-radius: 0;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl
    {
        border: 0;
        border-radius: 0;
    }
    .ui-tabs .ui-tabs-nav li
    {
        background: #e6e6e6;
        background-image: none !important;
        border-radius: 0;
        width: 49.5%;
        margin: 0;
        border: 2px solid #e6e6e6 !important;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active
    {
        background: #fa9400;
        background-image: none;
        border: 2px solid #e37d00 !important;
        padding: 0 !important;
    }
    .ui-tabs .ui-tabs-nav li a
    {
        color: #000;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active a
    {
        color: #fff;
        font-weight: bold;
    }
    /*Tabs*/
    #tabs-1 .panelDiv
    {
        padding: 33px;
    }
    .ui-tabs .ui-tabs-panel
    {
        padding: 15px 0;
    }
    #tabs-1 .hindmsg
    {
        clear: both;
        float: none;
    }
    #tabs-1 .checkbox-div 
    {
    margin: 0 0 0 27.5rem !important;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1280px)
{
    /*Trace Route Setting page*/
    /* Tabs navigation*/
    .ui-tabs .ui-tabs-nav
    {
        padding: 0 !important;
        width: 100%;
        margin: 0 auto !important;
    }
    .ui-widget-header
    {
        background: transparent;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
    {
        border: 0;
        border-radius: 0;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl
    {
        border: 0;
        border-radius: 0;
    }
    .ui-tabs .ui-tabs-nav li
    {
        background: #e6e6e6;
        background-image: none !important;
        border-radius: 0;
        width: 49.55%;
        margin: 0;
        border: 2px solid #e6e6e6 !important;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active
    {
        background: #fa9400;
        background-image: none;
        border: 2px solid #e37d00 !important;
        padding: 0 !important;
    }
    .ui-tabs .ui-tabs-nav li a
    {
        color: #000;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active a
    {
        color: #fff;
        font-weight: bold;
    }
    /*Tabs*/
    #tabs-1 .panelDiv
    {
        padding: 33px;
    }
    .ui-tabs .ui-tabs-panel
    {
        padding: 15px 0;
    }
    #tabs-1 .hindmsg
    {
        clear: both;
        float: none;
    }
    #tabs-1 .checkbox-div 
    {
    /*margin: 0 0 0 29.8rem !important;*/
    }
}

@media screen and (min-width: 1280px) and (max-width: 1920px)
{
    /*Trace Route Setting page*/
    /* Tabs navigation*/
    .ui-tabs .ui-tabs-nav
    {
        padding: 0 !important;
        width: 100%;
        margin: 0 auto !important;
    }
    .ui-widget-header
    {
        background: transparent;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
    {
        border: 0;
        border-radius: 0;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl
    {
        border: 0;
        border-radius: 0;
    }
    .ui-tabs .ui-tabs-nav li
    {
        background: #e6e6e6;
        background-image: none !important;
        border-radius: 0;
        width: 49.65%;
        margin: 0;
        border: 2px solid #e6e6e6 !important;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active
    {
        background: #fa9400;
        background-image: none;
        border: 2px solid #e37d00 !important;
        padding: 0 !important;
    }
    .ui-tabs .ui-tabs-nav li a
    {
        color: #000;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }
    .ui-tabs .ui-tabs-nav li.ui-state-active a
    {
        color: #fff;
        font-weight: bold;
    }
    /*Tabs*/
    #tabs-1 .panelDiv
    {
        padding: 33px;
    }
    .ui-tabs .ui-tabs-panel
    {
        padding: 15px 0;
    }
    #tabs-1 .checkbox-div {
    /*margin: 0 0 0 42.5rem !important;*/
    }
}

@media screen and (min-width: 1920px)
{
    /*Trace Route Setting page*/
    /* Tabs navigation*/
    .ui-tabs .ui-tabs-nav
    {
        width: 100%;
    }
    .ui-tabs .ui-tabs-nav li
    {
        width: 49.7%;
    }
    /*Tabs*/
    .ui-tabs .ui-tabs-panel
    {
        padding: 15px 0;
    }
}
.x-grid3-row
{
    border-color: #FFFFFF #EDEDED #EDEDED !important;
    border-bottom: 0.07em solid;
}
.x-grid3-row-last
{
    border-color: #c6c6c6 !important;
    border-bottom: 0.07em solid;
}
.x-grid3-row-selected
{
    background-color: #d6d6d6 !important;
    border-color: #DDDDDD;
}
.success-msg
{
    border: 0.125rem solid #18A100 !important;
}
.failed-msg
{
    border: 0.125rem solid #CE0000 !important;
}
.msg
{
    border-radius: 3px;
    border-radius: 0.3rem !important;
    padding: 7px;
    padding: 0.7rem !important;
    width: auto !important;
    font-size: 13px;
    font-size: 1.3rem !important;
    margin: 13px 16px;
    margin: 1.3rem 1.6rem !important;
}
td
{
    font-size: 10px;
    font-size: 1rem !important;
}
.x-form-check-wrap
{
    height: auto;
}
#tabs-2 h4
{
    font-size: 12px;
    font-size: 1.2rem !important;
}

.ui-tabs .ui-tabs-nav li a
{
    padding: 1.125em 0;
    font-size: 13px;
    font-size: 1.3rem !important;
}
.x-toolbar label
{
    font-size: 0.5em;
}

.x-toolbar td, .x-toolbar span, .x-toolbar input, .x-toolbar div, .x-toolbar select, .x-toolbar label
{
    font-size: 12px;
    font-size: 1.2rem !important;
}
.x-btn-icon .x-btn-small .x-btn-text
{
    height: auto;
}
.x-toolbar-cell .x-form-checkbox, .x-toolbar-cell .x-form-radio
{
    margin-left: 4px;
    margin-right: 4px;
    margin-left: 0.4rem !important;
    margin-right: 0.4rem !important;
}
.x-grid3-body .x-grid3-td-checker .x-grid3-cell-inner, .x-grid3-header .x-grid3-td-checker .x-grid3-hd-inner
{
    height: 100%;
    width: 25px;
}

.x-grid3-row td, .x-grid3-summary-row td
{
    padding: 0;
}
.ext-strict .x-grid3-cell-inner, .ext-strict .x-grid3-hd-inner
{
    font-size: 13px;
    font-size: 1.3rem !important;
}
#globalButtonsMobile input
{
    font-size: 13px;
    font-size: 1.3rem !important;
    padding: 0.5em;
}
#globalButtonsMobile
{
    padding-left: 1.91em;
    padding-top: 1.91em;
}
#saveSettingsButtonMobile
{
    margin-right: 0.5em;
}
#saveandcontinueButtonMobile
{
    margin-top: 1.0em;
    margin-bottom: 1.0em;
}
#cancelButtonMobile
{
    margin-left: 0.5em;
    margin-bottom: 1.0em;
}
#tabs
{
    margin: 1.5em 1.5em 0 1.5em;
}
input
{
    min-height: 0.9em;
    min-width: 0.9em;
}

/*TODO: get better image quality*/
.x-grid3-row-checker, .x-grid3-hd-checker
{
    background-image:url(/Orion/js/extjs/resources/images/default/grid/row-check-sprite.gif) !important;
   /* background-size: 2em;*/
}/*
.x-grid3-row-checker
{
    background-position: -1.2em -0.15em !important;
}
.x-grid3-row-checker, .x-grid3-hd-checker
{
    height: 1em;
    width: 1em;
}
.x-grid3-row-selected .x-grid3-row-checker, .x-grid3-hd-checker-on .x-grid3-hd-checker, .x-grid3-row-checked .x-grid3-row-checker
{
   /* background-position: -0.66em 0.4em !important;
}
.x-grid3-row-checker
{
    background-position: 0.34em 0.4em !important;
}*/
.x-form-cb-label
{
    margin-left: 0;
}
#tabs-1 .panelDiv input
{
    padding: 0.4rem;
    text-align: right;
}
#tabs-1 .panelDiv input[type="text"]
{
    width: 4.5rem !important;
    font-size: 12px;
    font-size: 1.2rem !important;
}
.label-1
{
    width: 11em;
    line-height: 1.2em !important;
}
.label-2
{
    line-height: 1.2em !important;
}
.settingsBreaks
{
    display: block;
}
#tabs-1 .panelDiv input[type=text]
{
    text-align: right;
    vertical-align: middle;
    width: 4em;
}
#tabs-1 .panelDiv input[type=checkbox]
{
    float: right;
}

#tabs-1 .checkbox-div label
{
    line-height: 1em;
    vertical-align: middle !important;
    font-size: 12px;
    font-size: 1.2rem !important;
    padding-left: 2.7rem ;
}
.ui-tabs .ui-tabs-panel
{
    padding: 0.75em 0;
}
.settingsPanelLevel2
{
    padding: 0 0 0.75em;
}
.ui-tabs .ui-tabs-panel
{
    padding-bottom: 0 !important;
}
.settingsPanelLevel2
{
    padding: 0;
    padding-top: 1em;
}

#tabs-1 .panelDiv div
{
    margin: 0 0 1.125rem;
    text-align: center;
}

#tabs-1 .label-1
{
    margin: 0 0.75em 0 0;
    font-size: 1.2rem;
}
#tabs-1 .label-2
{
    font-size: 1.2rem;
    margin: 0;
}
legend
{
    font-size: 1.3rem;
}

.bottomValue
{
    display: inline-block;
    float: none;
    margin-left: 1rem !important;
    text-align: left !important;
    width: 19.88rem;
}
.settingsBreaks
{
    display: none;
}
#tabs-1 .checkbox-div
{
    padding: 0 17rem 0 0;
    text-align: left !important;
    width: 12.75rem;
}

#tabs-1 .checkbox-div label
{
    line-height: 25px;
}
#buttonsBreak
{
    display: none;
}
.x-grid3-row .x-grid3-row-first .x-grid3-row-selected {
    padding-left: 7px;
    padding-left: 0.7rem !important;
}
legend
    {
        margin-left: 10px;
        margin-left: 1rem !important;
        font-size: 1.3rem !important;
        font-size: 13px;
    }
#tabs  input[type=checkbox]{
    border-radius: 0px !important;
}
#tabs-1 .checkbox-div {
    margin: 0 auto !important;
}

#tabs input[type="checkbox"] {
    height: 25px;
    width: 25px;
    min-height: 25px;
    min-width: 25px;
    vertical-align: middle;
}

.x-grid3-row-checker, .x-grid3-hd-checker 
{
    background-size: 90px 24px;
    padding-right: 15px;
    height: 25px;
    width: 25px;
}

.x-grid3-row .x-grid3-row-checker {
    background-position: 0 center;
}

.x-grid3-row-selected .x-grid3-row-checker, .x-grid3-hd-checker-on .x-grid3-hd-checker, .x-grid3-row-checked .x-grid3-row-checker {
    background-position: -45px 0;
}

.x-grid3-row td{
    vertical-align: middle !important;
} 