﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="WSUSNodeUpdatesInstalledListTopXXINodeProvider.ascx.cs" Inherits="Orion_PM_Resources_Node_WSUSNodeUpdatesInstalledListTopXXINodeProvider" EnableViewState="false" %>

<%@ Register TagPrefix="scm" TagName="WSUSNodeUpdatesInstalledListTopXX" Src="~/Orion/PM/Resources/Node/WSUSNodeUpdatesInstalledListTopXX.ascx" %>

