﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="WSUSNodeUpdatesSummaryINodeProvider.ascx.cs"
    Inherits="Orion_PM_Resources_Node_WSUSNodeUpdatesSummaryINodeProvider" EnableViewState="false" %>

<%@ Register TagPrefix="scm" TagName="WSUSNodeUpdatesSummary" Src="~/Orion/PM/Resources/Node/WSUSNodeUpdatesSummary.ascx" %>

