﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="WSUSNodeUpdatesMissingListINodeProvider.ascx.cs" Inherits="Orion_PM_Resources_Node_WSUSNodeUpdatesMissingListINodeProvider" EnableViewState="false" %>

<%@ Register TagPrefix="scm" TagName="WSUSNodeUpdatesMissingList" Src="~/Orion/PM/Resources/Node/WSUSNodeUpdatesMissingList.ascx" %>
