﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="WSUSNodeUpdatesInstalledListTopXX.ascx.cs" Inherits="Orion_PM_Resources_Node_WSUSNodeUpdatesInstalledListTopXX" EnableViewState="false" %>

<%@ Register TagPrefix="orion" TagName="ResourceWrapper" Src="~/Orion/ResourceWrapper.ascx" %>
<%@ Register TagPrefix="task" TagName="TaskBaseControl" Src="~/Orion/PM/Controls/TaskBaseControl.ascx" %>

