﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="WSUSNodeUpdatesDetailINodeProvider.ascx.cs"
    Inherits="Orion_PM_Resources_Node_WSUSNodeUpdatesDetailINodeProvider" EnableViewState="false" %>

<%@ Register TagPrefix="scm" TagName="WSUSNodeUpdatesDetail" Src="~/Orion/PM/Resources/Node/WSUSNodeUpdatesDetail.ascx" %>

