﻿div.ui-dialog-titlebar {
    margin: 0 !important;
}

div.ui-dialog-content {
    margin: 0 !important;
    padding: 12px !important;
    line-height: normal;
}

.ui-widget-content table {
    border-collapse: separate;
    border-spacing: 2px 2px;
}

.ui-widget-content p {
    margin-top: 12px;
    margin-bottom: 12px;
}

.ui-widget-content label {
    font-weight: normal;
    height: auto;
    margin-bottom: 0;
}

.ui-widget-content input {
    margin: 3px 3px 0 5px;
}

.ui-widget-content .clm-dialog-link-icmp {
    color: #0079aa;
    text-decoration: none;
}