﻿#manageNodeContents {
    background: url(/Orion/images/SettingPageIcons/orion-Getting_Started_with_Orion_icon.png) 5px 0 no-repeat;
    padding: 0 20px 0 40px;
} 

#manageNodeButton {
    padding-right: 25px;
    text-align: right;
}
