<%@ Control Language="C#" AutoEventWireup="true" CodeFile="NodeCustomPollerStatus.ascx.cs" Inherits="NodeCustomPollerStatus" %>
<%@ Register TagPrefix="orion" TagName="CustomPollerStatus" Src="~/Orion/NPM/Resources/CustomPollerStatus.ascx" %>

<orion:CustomPollerStatus id="customPollerStatus" ResourceType="Node" runat="server" />