<%@ Control Language="C#" AutoEventWireup="true" CodeFile="NodeTabularCustomPoller.ascx.cs" Inherits="NodeTabularCustomPoller" %>
<%@ Register TagPrefix="orion" TagName="TabularCustomPoller" Src="~/Orion/NPM/Resources/TabularCustomPoller.ascx" %>

<orion:TabularCustomPoller ID="tabularCustomPoller" Type="Node" runat="server" />