<%@ Control Language="C#" AutoEventWireup="true" CodeFile="IconExportToPdf.ascx.cs" Inherits="Orion_NCM_Controls_IconExportToPdf" %>

<orion:Include ID="Include1" runat="server" File="ExportToPdf.js" />
<a href="#" id="ExportToPdf" class="exportToPdf" onclick="ExportToPDF(); return false;"><%=Resources.NCMWebContent.WEBDATA_VK_192 %></a>