﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="RedirectGet.aspx.cs" Inherits="Orion_SRM_RedirectGet" MasterPageFile="~/Orion/OrionMasterPage.master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadPlaceHolder" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>