﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="VolumeChart.ascx.cs" Inherits="Orion_NetPerfMon_Resources_VolumeChartsV2_VolumeChart" %>

<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
        <asp:PlaceHolder runat="server" ID="WrapperContents"></asp:PlaceHolder>
    </Content>
</orion:resourceWrapper> 