﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ContainerChart.ascx.cs" Inherits="Orion_NetPerfMon_Resources_ContainerDetails_ContainerChart" %>

<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
        <asp:PlaceHolder runat="server" ID="WrapperContents"></asp:PlaceHolder>
    </Content>
</orion:resourceWrapper> 