/*!
 * @solarwinds/samappoptics 2020.2.5-160
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.apo-service {
  display: flex;
}
.apo-service__manage-integration-link {
  float: right;
}
.apo-service .apo-application-pool {
  flex-grow: 1;
  flex-basis: 0;
}
.apo-service .apo-application-pool__name {
  font-size: 12px;
  font-weight: 700;
}
.apo-service .apo-integration {
  flex-grow: 1;
  flex-basis: 0;
}
.apo-service .apo-integration__name {
  display: flex;
  flex-direction: column;
}
.apo-service .apo-integration__application {
  font-size: 12px;
  font-weight: 700;
  margin-right: 10px;
  margin-bottom: 10px;
}
.apo-service .apo-integration__host {
  color: #767676;
}

/*# sourceMappingURL=appOpticsSummary.css.map*/