/*!
 * @solarwinds/widgets 1.13.0-5093
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.orion-object-status-up-text {
  color: #333333;
}
.orion-object-status-down-text {
  color: #950000;
}
.orion-object-status-warning-text {
  color: #333333;
}
.orion-object-status-inactive-text {
  color: #333333;
}
.orion-object-status-unknown-text {
  color: #333333;
}
.sw-perfstack-select-dialog__title {
  margin-bottom: 15px;
}
.xui .sw-datalist-widget {
  line-height: 1.66666667;
}
.xui .sw-datalist-widget__top-container {
  height: 30px;
  justify-content: space-between;
  margin-top: 10px;
}
.xui .sw-datalist-widget__top-container-sort {
  margin-right: 30px;
}
.xui .sw-datalist-widget__top-container-search {
  flex: 1;
  padding-right: 0;
  border-spacing: 0;
}
.xui .sw-datalist-widget__list {
  margin: 10px 0 10px;
}
.xui .sw-datalist-widget__list:first-of-type {
  margin-top: 0;
}
.xui .sw-all-alerts .xui-grid__listview-panel {
  padding: 10px 0;
}
.xui .sw-all-alerts .xui-grid__listview-tools {
  padding-bottom: 10px;
}
.xui .sw-all-alerts .xui-grid__listview-tools .xui-strip-layout-item {
  margin-right: 30px;
}
.xui .sw-all-alerts .xui-grid__toolbar-container-panel {
  border-bottom: 0;
}
.xui .sw-all-alerts .xui-flex-item-grow {
  flex: 0;
}
.xui .sw-all-alerts .xui-grid__listview-tools_search {
  flex: 1;
  padding-left: 0;
}
.xui .sw-all-alerts .xui-listitem--none:first-of-type .media-body {
  border-top: 1px solid #D5D5D5;
}
.xui .sw-all-alerts__item-alert-row-left {
  max-width: 60%;
  min-width: 50%;
}
.xui .sw-all-alerts__item-alert-row-right {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex: 1;
}
.xui .sw-all-alerts__item-alert-row-right__left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  text-align: right;
  margin-right: 10px;
  position: relative;
  z-index: 1;
  opacity: 1;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.xui .sw-all-alerts__item-alert-row-right__left.opacity-hidden {
  opacity: 0.1;
}
.xui .sw-all-alerts__item-icon .xui-icon {
  margin-top: 0;
}
.xui .sw-all-alerts__item-menu {
  align-self: center;
  position: relative;
  display: flex;
  z-index: 2;
  width: 30px;
  height: 30px;
}
.xui .sw-all-alerts__item-menu:after {
  content: "";
  background-color: #fff;
  width: 35%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -35%;
}
.xui .sw-all-alerts__item-menu-actions {
  background: #FFFFFF;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  position: absolute;
}
.xui .sw-all-alerts__item-menu-actions-inner {
  display: flex;
  width: 100%;
}
.xui .sw-all-alerts__item-menu-actions___item {
  margin-right: 5px;
}
.xui .sw-all-alerts__item-menu-actions.expanded {
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
.xui .sw-all-alerts__item-menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}
.xui .sw-all-alerts__item-menu-icon {
  background: #FFFFFF;
  padding: 5px;
}
.xui .sw-all-alerts__item-menu-icon:hover {
  background: #f6f6f6;
}
.xui .sw-all-alerts__item-type-severity_critical-inverse {
  background-color: #D50000;
}
.xui .sw-all-alerts__item-type-severity_warning-inverse {
  background-color: #FEC405;
}
.xui .sw-all-alerts__item-type-severity_info-inverse {
  background-color: #e6eff3;
}
.xui .sw-all-alerts__item-alert-name {
  display: flex;
  font-size: 12px;
  font-weight: 700;
}
.xui .sw-all-alerts__item-alert-name span:first-child {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.xui .sw-all-alerts__item-active-time {
  font-size: 11px;
  font-weight: 700;
  cursor: default;
}
.xui .sw-all-alerts__item-triggered-by {
  display: inline-flex;
  max-width: 100%;
  font-size: 11px;
  color: #767676;
  white-space: nowrap;
  margin-right: 10px;
}
.xui .sw-all-alerts__item-triggered-by-link {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding-left: 5px;
}
.xui .sw-all-alerts__item-related-node {
  display: inline-flex;
  max-width: 100%;
  color: #767676;
  white-space: nowrap;
  margin-right: 10px;
}
.xui .sw-all-alerts__item-related-node-link {
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding-left: 5px;
}
.xui .sw-all-alerts__item-site-name {
  color: #767676;
  white-space: nowrap;
  margin-right: 10px;
}
.xui .sw-all-alerts__item-site-name-link {
  font-size: 11px;
}
.xui .sw-all-alerts__item-ack-by {
  font-size: 11px;
  font-weight: 300;
  color: #767676;
  white-space: nowrap;
}
.xui .sw-all-alerts__item-ack-notes {
  padding-right: 5px;
}
.xui .sw-all-alerts__item-ack-link {
  float: right;
  white-space: nowrap;
}
.xui .sw-all-alerts .media-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40px;
  box-shadow: inset 0 -1px 0 0 #FFFFFF;
  padding: 15px 0;
}
.xui .sw-all-alerts .media-body {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  padding: 5px 10px;
  border-bottom: 1px solid #D5D5D5;
}
.xui .sw-all-alerts-loading {
  width: 100%;
  min-height: 400px;
}
.xui .data-filtering-switch {
  margin-bottom: 15px;
}
.xui .data-filtering-switch.xui-switch.xui-switched .xui-switch__label {
  opacity: 1;
}
.xui .data-filtering-switch.xui-switch .xui-switch__container {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.xui .data-filtering-switch.xui-switch .xui-switch__bar {
  order: 2;
}
.xui .data-filtering-switch.xui-switch .xui-switch__label {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  order: 1;
  opacity: 0.6;
  margin-left: 0;
}
.xui .alert-sites {
  display: flex;
  flex-wrap: wrap;
}
.xui .alert-sites .xui-checkbox {
  flex-grow: 1;
  width: 33%;
}
.xui .sw-no-alerts p {
  text-align: center;
  margin-top: 15px;
}
.tooltip.custom-tooltip[uib-tooltip-popup] {
  white-space: nowrap;
}
.custom-tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  margin-top: -3px;
  padding: 5px 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.custom-tooltip.in {
  opacity: .9;
  filter: alpha(opacity=90);
}
.custom-tooltip .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.custom-tooltip .tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #FFFFFF;
  text-align: center;
  background-color: #000;
  border-radius: 0;
}
.xui .sw-chart__graph-placeholder {
  min-height: 130px;
}
.xui .sw-chart__graph--day-mode .xui-chart-timeframepicker {
  height: 30px;
}
.xui .sw-chart__graph--day-mode .xui-chart-timeframepicker .xui-datepicker__icon {
  top: 9px;
}
.xui .entity-view-container {
  margin-bottom: 5px;
}
.xui .entity-view-container .sw-chart-entity-view {
  max-height: 150px;
  overflow-y: auto;
}
.xui .entity-view-container .sw-chart-entity-view-item {
  display: flex;
  flex-direction: row;
}
.xui .entity-view-container .sw-chart-entity-view-item_icon {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.xui .entity-view-container .sw-chart-entity-view-item_description {
  flex-direction: column;
}
.xui .entity-view-container .sw-chart-entity-view-item_title {
  display: flex;
}
.xui .entity-view-container .sw-chart-entity-view-item_title--bold {
  font-weight: 700;
}
.xui .entity-view-container .sw-chart-entity-view-item_subtitle {
  font-size: 11px;
  display: flex;
}
.xui .edit-popover-container {
  margin: -10px;
}
.xui .edit-popover-container .edit-popover-specific-num {
  max-width: 130px;
}
.xui .edit-popover-container__presets {
  min-width: 120px;
  background-color: #f6f6f6;
}
.xui .edit-popover-container__presets-list {
  list-style-type: none;
}
.xui .edit-popover-container__presets-list-item {
  padding-top: 0;
}
.xui .edit-popover-container__presets-list-item-href {
  cursor: pointer;
  text-decoration: none;
}
.xui .edit-dialog-statistic.section-disabled {
  color: #333333;
}
.xui .edit-dialog-statistic.section-disabled .edit-dialog-statistic__component-title {
  color: rgba(0, 0, 0, 0.4);
}
.xui .edit-dialog-statistic__component {
  display: flex;
  justify-content: space-between;
}
.xui .edit-dialog-statistic__component-switch {
  display: flex;
  align-items: flex-end;
}
.xui .edit-dialog-statistic__component-switch div {
  padding: 0;
}
.xui .edit-dialog-statistic__component-title {
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: 700;
  color: #333333;
}
.sw-perfstack-header {
  display: inline;
}
.sw-perfstack-header__open {
  float: right;
  margin-left: 5px;
}
.sw-perfstack-project-selector .xui-listitem__select-single {
  position: initial;
}
.sw-perfstack-project-selector .xui-radio {
  min-height: unset;
  padding: 1px 15px 0 0;
}
.sw-perfstack-project-selector-item {
  text-align: left;
}
.sw-perfstack-project-selector-item__updated {
  float: right;
}
.sw-perfstack-project-selector-item__owner {
  padding-left: 10px;
}
.sw-perfstack-empty {
  text-align: center;
  padding: 60px 0;
}
.sw-perfstack-widget {
  min-height: 30px;
}
.xui .sw-widget-settings-tile-query {
  width: 100%;
  height: 100px;
}
.xui .basic-filter-dialog {
  overflow-x: hidden;
}
.xui .basic-filter-dialog .entity-container {
  max-height: 600px;
  height: 480px;
}
.xui .basic-filter-dialog .entity-container .scroll-content {
  padding-right: 25px;
}
.xui .basic-filter-dialog .entity-container-title {
  font-size: 14px;
  padding: 12px 0;
}
.xui .basic-filter-dialog .entity-container-filter {
  padding-left: 30px;
}
.xui .basic-filter-dialog .entity-container-conditions-row {
  margin-left: 0px;
}
.xui .basic-filter-dialog .entity-container-conditions {
  padding-left: 5px;
}
.xui .basic-filter-dialog .entity-container-operation {
  margin: 0px;
}
.xui .basic-filter-dialog .entity-container-available-fields {
  padding-top: 10px;
  padding-left: 10px;
}
.xui .basic-filter-dialog .entity-container-available-values {
  padding-top: 10px;
}
.xui .basic-filter-dialog .entity-container-remove-condition {
  padding-right: 0px;
  padding-left: 30px;
}
.xui .basic-filter-dialog .entity-container-remove-entity {
  padding-right: 0px;
  padding-left: 30px;
  height: 20px;
}
.xui .basic-filter-dialog .entity-container-add-button {
  padding-left: 25px;
}
.xui .sw-widget-container__error {
  padding: 10px;
  color: #D50000;
  width: 100%;
}
.generic-list .row_container {
  display: flex;
}
.generic-list .icon_column {
  max-width: 20px;
  width: 10%;
}
.generic-list .icon_wrapper {
  padding: 5px;
  padding-left: 0px;
}
.generic-list .list_member {
  padding-left: 10px;
  width: 35%;
  flex-grow: 1;
}
.generic-list .text_wrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 19px;
}
.generic-list .availability {
  max-width: 80px;
  width: 15%;
}
.generic-list .availability .data {
  font-weight: bold;
}
.generic-list .availability .data #br {
  clear: both;
}
.generic-list .alerts {
  max-width: 120px;
  width: 40%;
}
.generic-list .alerts .data {
  display: inline-block;
  font-weight: bold;
  padding-right: 2px;
}
.generic-list .alerts .data #br {
  clear: both;
}
.generic-list .description {
  font-size: 11px;
  width: 100%;
  text-align: right;
  padding-left: 2px;
}
.generic-list .timeFrameWrapper {
  padding-bottom: 6px;
}
.generic-list .filterBarsWrapper {
  margin-top: -1px;
  border-top: 1px solid #D5D5D5;
  border-bottom: 1px solid #D5D5D5;
}
.generic-list .filterBarsWrapper .xui-status-filter {
  border-top: none;
  border-bottom: none;
  flex-wrap: wrap;
  justify-content: center;
}
.generic-list .filterBarsWrapper .xui-status-filter button.sorter-button {
  width: auto;
  flex: 1 1 auto;
}
.generic-list .filterBarsWrapper:first-of-type {
  margin-top: 0px;
}
.generic-list .filterBarsWrapper:empty {
  display: none;
}
.ResourceWrapper.XuiResourceWrapper {
  overflow-x: visible;
}
.sw-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  display: none;
  cursor: move;
  z-index: 2;
  transition: background-color ease 0.3s;
  outline: none;
}
.sw-dashboard--read-only .sw-widget-overlay {
  cursor: initial;
}
.sw-widget-overlay:hover {
  outline: solid 5px #204A63;
}
.sw-dashboard--read-only .sw-widget-overlay:hover {
  outline: none;
}
.sw-widget-overlay.sw-widget-overlay--highlight {
  background: rgba(231, 244, 223, 0.7);
}
.sw-widget-overlay__header {
  border-bottom: solid 1px #D5D5D5;
  display: flex;
  justify-content: space-between;
}
.sw-widget-overlay__actions {
  display: flex;
  align-items: center;
  margin: 0 5px;
}
.sw-widget-overlay__handle {
  margin-top: 2px;
  width: 20px;
  height: 20px;
  float: left;
}
.sw-dashboard--read-only .sw-widget-overlay__handle {
  visibility: hidden;
}
.sw-widget-overlay__handle-glyph {
  fill: rgba(0, 0, 0, 0.3);
  width: 20px;
  height: 20px;
}
.sw-widget-overlay__title {
  padding: 10px 0;
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.sw-widget-overlay__new-indicator {
  opacity: 0;
  filter: alpha(opacity=0);
  transition: opacity ease 0.3s;
  border: solid 1px #30B230;
  color: #30B230;
  font-weight: 700;
  padding: 2px 10px;
  float: right;
  margin: 4px 5px;
  text-transform: uppercase;
  font-size: 11px;
}
.sw-widget-overlay--new .sw-widget-overlay__new-indicator {
  opacity: 1;
  filter: alpha(opacity=100);
}
.xui .xui-drag--over {
  z-index: 1;
}
.xui-listitem--selected .sw-widget-drawer__filter-category:hover {
  background-color: inherit;
  cursor: default;
}
.sw-widget-drawer {
  z-index: 1;
  position: relative;
  pointer-events: none;
  transition: opacity ease .3s;
  height: 100%;
  width: 100%;
}
.sw-widget-drawer__load-placeholder {
  min-width: 390px;
}
.sw-widget-drawer__load-indicator {
  opacity: 0;
  filter: alpha(opacity=0);
}
.sw-widget-drawer__load-indicator-title {
  padding-left: 20px;
}
.sw-widget-drawer__load-indicator-progress {
  padding: 40px 0 40px 0;
}
.sw-widget-drawer__load-indicator-error {
  margin: 10px;
  min-width: 300px;
}
.sw-widget-drawer__load-indicator-reload {
  cursor: pointer;
}
.sw-widget-drawer__placeholder {
  border: solid 5px #30B230;
  background: rgba(231, 244, 223, 0.3);
  height: 105px;
  transition: top ease .3s, left ease .3s, width ease .3s, opacity ease .5s;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  display: none;
  z-index: 3;
  color: #333333;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.sw-widget-drawer__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 999px;
  background: #fff;
}
.sw-widget-drawer__backdrop {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  transition: opacity ease .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sw-widget-drawer__drag-tip {
  transition: opacity ease .5s;
  width: 200px;
  height: 200px;
  margin-right: 400px;
}
.sw-widget-drawer__drag-tip-outer {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.2);
}
.sw-widget-drawer__drag-tip-inner {
  width: 100%;
  height: 100%;
  border: 2px dashed #FFFFFF;
  border-radius: 50%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.sw-widget-drawer__drag-adorner .sw-widget-drawer__item {
  margin-left: 0px;
}
.sw-widget-drawer__drag-adorner .sw-widget-drawer__item-handle {
  left: 0px;
}
.sw-widget-drawer__drop-holder--top {
  top: 200px !important;
  position: relative;
}
.sw-widget-drawer__drop-holder--top::before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  height: 200px;
  width: 100%;
  top: -200px;
}
.sw-widget-drawer__panel {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
  z-index: 1;
  display: block;
  position: absolute;
  transition: opacity ease 0.5s, right cubic-bezier(0.23, 1, 0.32, 1) 0.6s;
  width: 400px;
  right: -615px;
  top: 0;
  bottom: 0;
}
.sw-widget-drawer--open {
  pointer-events: all;
}
.sw-widget-drawer--open .sw-widget-drawer__panel {
  right: 0;
}
.sw-widget-drawer--open .sw-widget-drawer__filter-panel {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.sw-widget-drawer--dragging {
  pointer-events: none;
}
.sw-widget-drawer--dropping .sw-widget-drawer__placeholder {
  display: flex;
}
.sw-widget-drawer--dropping .sw-widget-drawer__backdrop {
  opacity: 0;
  filter: alpha(opacity=0);
}
.sw-widget-drawer--dropping .sw-widget-drawer__panel {
  opacity: 0;
  filter: alpha(opacity=0);
}
.sw-widget-drawer__title {
  margin: 15px 0;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}
.sw-widget-drawer__filter-heading-btn.xui-button[is-empty=true] {
  position: absolute;
  left: -45px;
  width: 30px;
  margin: 8px 0 9px 0;
  padding: 3px;
}
.sw-widget-drawer__filter-heading-icon {
  width: 30px;
  text-align: center;
  margin: 8px 0;
  position: absolute;
  display: none;
}
.sw-widget-drawer__filter-panel {
  position: absolute;
  left: -60px;
  width: 215px;
  padding: 0 15px;
  top: 0;
  bottom: 0;
  transition: left cubic-bezier(0.23, 1, 0.32, 1) 0.4s;
  background: #FFFFFF;
  z-index: 1;
}
.sw-widget-drawer__filter-panel--open .sw-widget-drawer__filter-panel {
  left: -215px;
}
.sw-widget-drawer__filter-panel--open .sw-widget-drawer__filter-panel-collapsed {
  pointer-events: none;
  opacity: 0;
  filter: alpha(opacity=0);
}
.sw-widget-drawer__filter-panel-collapsed {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  transition: opacity ease .2s;
  background: #FFFFFF;
}
.sw-widget-drawer__filter-panel-icon {
  margin: 55px 0 0 20px;
}
.sw-widget-drawer__filter-categories {
  position: absolute;
  top: 92px;
  right: 0;
  bottom: 0;
  left: 0;
}
.sw-widget-drawer__filter-categories-list {
  margin: 0;
  padding: 0 15px;
}
.sw-widget-drawer__filter-category {
  padding: 5px 10px;
}
.sw-widget-drawer__filter-category:hover {
  background-color: #f6f6f6;
}
.sw-widget-drawer__filter-category-all {
  display: none;
}
.sw-widget-drawer__panel--search-active .sw-widget-drawer__filter-category-all {
  display: block;
}
.sw-widget-drawer__panel--search-active .sw-widget-drawer__filter-category[data-hit-count="0"] {
  display: none;
}
.sw-widget-drawer__filter-category-hit-count {
  float: right;
  border-radius: 50%;
  width: 20px;
  text-align: center;
  margin-left: 10px;
  display: none;
}
.sw-widget-drawer__panel--search-active .sw-widget-drawer__filter-category-hit-count {
  display: block;
}
.sw-widget-drawer__scroll-container {
  position: absolute;
  top: 92px;
  right: 0;
  bottom: 0;
  left: 0;
}
.sw-widget-drawer__scroller {
  overflow-y: auto;
  height: 100%;
}
.sw-widget-drawer__list {
  padding: 0 15px 60px 0;
  min-height: 100%;
}
.sw-widget-drawer__list-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-left: solid 1px #D5D5D5;
  background: #FFFFFF;
  padding: 0 15px;
  z-index: 1;
}
.sw-widget-drawer__list-container.xui-panel {
  overflow: hidden;
}
.sw-widget-drawer__list-sorter {
  float: left;
  margin-right: 10px;
}
.sw-widget-drawer__pager {
  margin-top: -60px;
  padding: 15px;
}
.sw-widget-drawer__pager .xui-pager__items-per-page {
  display: none;
}
.sw-widget-drawer__preview-panel {
  height: 450px;
  width: 450px;
  position: relative;
  margin: 0 auto;
  display: none;
}
.sw-widget-drawer__category-favorite {
  float: right;
  margin: 2px -5px 0 0;
}
.sw-widget-drawer__item {
  cursor: move;
  padding: 10px 15px 10px 20px;
  border: none;
  border-top: solid 1px #D5D5D5;
  border-bottom: solid 1px #D5D5D5;
  margin-left: 15px;
  margin-bottom: -1px;
}
.sw-widget-drawer__item:hover {
  background-color: #f6f6f6;
}
.sw-widget-drawer__item-favorite {
  float: right;
}
.sw-widget-drawer__item-handle {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 15px;
  display: flex;
  align-items: center;
  transition: opacity ease .3s;
}
.sw-widget-drawer__item-handle-glyph {
  fill: rgba(0, 0, 0, 0.3);
  width: 20px;
  height: 20px;
}
.sw-widget-drawer__item-content {
  margin: 0;
}
.sw-widget-drawer__item-title {
  font-weight: 700;
  font-size: 12px;
}
.sw-widget-settings-section-button {
  padding: 0;
}
.sw-widget-settings-section-button .xui-button {
  border: none;
  padding: 0;
  width: 100%;
}
.sw-widget-settings-section-button__row {
  display: flex;
  align-items: center;
  padding: 7px;
  width: 100%;
}
.sw-widget-settings-section-button__icon {
  position: relative;
  padding: 0;
  vertical-align: middle;
}
.sw-widget-settings-section-button__body {
  position: relative;
  padding: 0 7px;
  text-align: left;
  width: 100%;
}
.sw-widget-settings-section-button__title {
  font-weight: bold;
  text-transform: uppercase;
}
.sw-widget-settings-section-button__comment {
  color: #767676;
  font-weight: normal;
  text-transform: none;
}
.sw-widget-settings-section-button__subtitle {
  color: #767676;
  font-weight: normal;
  text-transform: none;
}
.sw-widget-settings-section-button__caret {
  position: relative;
  padding: 0;
  vertical-align: middle;
}
.asa-platform-details .margin-md-top {
  margin-top: 10px !important;
}
.asa-platform-details .other-details {
  margin-top: 10px !important;
}
.asa-platform-details .asa-cli-credentials-notification {
  margin-top: 10px !important;
}
.asa-platform-details .display-data {
  display: table !important;
  table-layout: fixed !important;
}
.asa-platform-details .display-name {
  overflow-wrap: break-word !important;
  display: table-cell;
  word-break: break-all;
  width: 100%;
}
.selected-true {
  font-weight: 700 !important;
}
.asa-high-availability-chart {
  position: relative;
  width: 100%;
  padding: 0;
}
.asa-high-availability-chart .current .node-name {
  font-style: italic !important;
}
.asa-high-availability-chart .graph-container {
  padding: 15px;
  border: 2px dashed #D5D5D5;
}
.asa-high-availability-chart .graph-container .graph {
  padding: 0;
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}
.asa-high-availability-chart .graph-container .graph .spacer {
  flex-grow: 0.1;
}
.asa-high-availability-chart .graph-container .graph .node {
  display: inline-block;
  width: 48px !important;
  height: 48px !important;
  border-radius: 50% !important;
}
.asa-high-availability-chart .graph-container .graph .node.warning {
  background-color: #FEC405;
}
.asa-high-availability-chart .graph-container .graph .node.up {
  background-color: #30B230;
}
.asa-high-availability-chart .graph-container .graph .node.critical,
.asa-high-availability-chart .graph-container .graph .node.down {
  background-color: #D50000;
}
.asa-high-availability-chart .graph-container .graph .node.unknown {
  background-color: #D5D5D5;
}
.asa-high-availability-chart .graph-container .graph .node .node-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 4px;
  left: 4px;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  background-color: white;
}
.asa-high-availability-chart .graph-container .graph .link {
  display: inline-block !important;
  flex-grow: 6;
  margin-top: 22px;
  border-top: 4px solid;
  flex-shrink: 1;
}
.asa-high-availability-chart .graph-container .graph .link.warning {
  border-color: #FEC405;
}
.asa-high-availability-chart .graph-container .graph .link.up {
  border-color: #30B230;
}
.asa-high-availability-chart .graph-container .graph .link.critical {
  border-color: #D50000;
}
.asa-high-availability-chart .graph-container .graph .link.unknown {
  border-color: #D5D5D5;
}
.asa-high-availability-chart .graph-container .graph .link-labels {
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  margin-top: -20px;
}
.asa-high-availability-chart .graph-container .graph .link-labels .content {
  display: inline-block;
  text-align: left;
}
.asa-high-availability-chart .graph-container .graph .node-labels {
  flex-basis: 25%;
  justify-content: center;
}
.asa-high-availability-chart .graph-container .graph .node-labels.peer {
  text-align: left;
}
.asa-high-availability-chart .graph-container .graph .node-labels.current {
  text-align: right;
}
.asa-high-availability-chart .graph-container .graph .node-labels .ha-mode {
  font-weight: 600 !important;
}
.site-to-site-tunnel-encryptionAlgorithm,
.site-to-site-tunnel-hashAlgorithm {
  color: #333333;
}
a.asa-node-properties-link {
  white-space: nowrap;
}
a.asa-clickable-row {
  display: block;
}
a.asa-clickable-row,
a.asa-clickable-row:hover {
  color: #333333;
}
.asa-clickable-capitals {
  cursor: pointer;
  text-transform: uppercase;
}
.asa-clickable-capitals,
.asa-clickable-capitals:hover {
  color: #0079AA;
}
.asa-clickable {
  cursor: pointer;
}
.asa-clickable,
.asa-clickable:hover {
  color: #0079AA;
}
.asa-text-right {
  text-align: right;
}
.vpn-widget {
  padding: 5px;
}
.ncm-access-list .acl-compare-button-container {
  padding-left: 15px;
  padding-bottom: 10px;
}
.ncm-access-list .acl-divider {
  margin: 0px auto;
}
.ncm-access-list .grid-row {
  display: flex;
  width: 100%;
}
.ncm-access-list .grid-row .col-checkBox {
  width: 30px;
  min-width: 30px;
  margin-top: -4px;
}
.ncm-access-list .grid-row .col-icon {
  width: 30px;
  min-width: 30px;
  margin-top: 5px;
}
.ncm-access-list .grid-row .col-name {
  width: 50%;
  white-space: normal;
  word-break: break-all;
  padding-right: 10px;
}
.ncm-access-list .grid-row .col-interface {
  width: 50%;
}
.ncm-access-list .grid-row .col-srd-desc {
  width: 100px;
  min-width: 100px;
  text-align: left;
}
.ncm-access-list .grid-row .col-srd-desc .srd-icon {
  margin-right: 3px;
  margin-bottom: 6px;
}
.ncm-access-list .grid-row .col-srd-desc .srd-counter {
  font-weight: bold;
}
.ncm-access-list .acl-grid-child .list-group.list-group-striped > .list-group-item {
  background-color: transparent;
}
.ncm-access-list .acl-grid-child .col-srd-desc {
  padding-left: 30px;
}
.ncm-access-list .expand-icon-offset {
  margin-left: 20px;
}
.ncm-access-list .xui-expander-heading-content {
  float: none !important;
}
.acl-search-highlight {
  background-color: rgba(249, 157, 28, 0.3);
}

/*# sourceMappingURL=widgets.css.map*/