﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="VoipModuleDetails.ascx.cs" Inherits="Orion_Voip_Admin_VoipModuleDetails" %>

<%@ Register Src="~/Orion/Admin/Details/ModuleDetailsBlock.ascx" TagPrefix="orion" TagName="ModuleDetailBlock" %>

<orion:ModuleDetailBlock ID="VoipDetails" runat ="server" />