<%@ Page Language="C#" MasterPageFile="~/Orion/IPAM/ErrorMaster.Master" AutoEventWireup="true" Inherits="SolarWinds.IPAM.Web.Common.ExceptionPage" Title="Information Service is Offline" %>

<asp:Content ID="Content1" ContentPlaceHolderID="main" runat="server">
<div id=errbox>
  <div class=topmost>
    <h3>Infrastructure Component is Offline</h3>
    The Information Service and Orion Module Engine are required components for this website to function, and at least one of them is currently unavailable.
  </div>

  <div id=errDescDiv runat=server visible=false>
    <h3 id=errTitle runat=server>Error Description</h3>
    <asp:Label id=errDesc runat=server>There is no description available.</asp:Label>
  </div>

  <div>
    <h3>Helpful Hints</h3>
    <ul>
      <li>Your firewall may be preventing local connections to Port 17777</li>
      <li>A required Windows Service may be disabled: "Net.TCP Port Sharing"</li>
      <li>The "SolarWinds Information Service" and "SolarWinds Orion Module Engine" Windows Services may not be started</li>
    </ul>
  </div>

  <div>
    <h3>Additional Information</h3>
    <asp:Label id=errMessage runat=server>There is no error text available.</asp:Label>
  </div>

  <div id=errTypeDiv runat=server>
    <h3>Error Type</h3>
    <asp:Label id=errType runat=server>There is no error type information available.</asp:Label>
  </div>

  <div>
    <h3>Stack Trace</h3>
    <div id=stack class=trace><pre id=errTraceLocal runat=server>This is no stack trace available.</pre></div>
  </div>
  
  <div class=buttonbar>
    <a href="#" onclick="history.back(); return false;"><img id="Img1" runat=server alt=back src="~/Orion/IPAM/res/images/sw/button.back.gif" /></a>
    <a href="#" onclick="window.location.reload(true); return false;"><img runat=server alt=refresh src="~/Orion/images/button.refresh.primary.gif" /></a>
  </div>
  
</div>

</asp:Content>