﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Orion/HardwareHealth/HardwareHealthView.master" AutoEventWireup="true" CodeFile="HardwareDetails.aspx.cs" Inherits="Orion_HardwareHealth_HardwareDetails" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HardwareHealthPageTitle" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="HardwareHealthMainContentPlaceHolder" Runat="Server">
</asp:Content>

