﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditAppStack.ascx.cs" Inherits="Orion_AppStack_Controls_EditAppStack" %>
<%@ Register TagPrefix="orion" TagName="Settings" Src="~/Orion/AppStack/Controls/EditSettings.ascx" %>

<orion:Settings ID="ctrlSettings" runat="server" />
