﻿.olmNodeProperties ul > li {
    list-style: disc;
    margin: 0 0 0 2em;
    padding: 0.3em 0 0 0.3em;
    list-style-position: initial;
}

.olmNodeProperties .overlicensedNodeMessage {
    margin: 5px 0;
}