/*!
 * @solarwinds/netman-cisco-frontend 1.5.0-295
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.apic-member-name {
  font-weight: bold;
}
.apic-member-status-indicator {
  font-weight: bold;
  font-size: 16px;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}
.apic-member-critical-status {
  background-color: #FFE4E0;
  color: #D50000;
}
.apic-member-warning-status {
  background-color: #fcf8e0;
  color: #000;
}
.apic-member-up-status {
  background-color: #e7f4df;
  color: #000;
}
.apic-members-list-warning-message {
  margin: 10px;
}

/*# sourceMappingURL=netman-cisco.css.map*/