<%@ Page Language="C#" MasterPageFile="~/Orion/NCM/NCMMasterPage.master" AutoEventWireup="true" CodeFile="CompareConfigsResult.aspx.cs" Inherits="CompareConfigsResult" Title="Compare Configs" ValidateRequest="false"%>

<asp:Content ID="headContent" ContentPlaceHolderID="ncmHeadPlaceHolder" runat="Server">
</asp:Content>

<asp:Content ID="breadCrumbContent" runat="server" ContentPlaceHolderID="ncmBreadCrumbPlaceHolder">
</asp:Content>

<asp:Content ID="pageTitleContent" runat="server" ContentPlaceHolderID="ncmPageTitlePlaceHolder">
    <%=Page.Title%>
</asp:Content>

<asp:Content ID="mainContent" runat="server" ContentPlaceHolderID="ncmMainContentPlaceHolder"> 
</asp:Content>

<asp:Content ID="ExportToPdfContent" ContentPlaceHolderID="ncmExportToPDFPlaceHolder" runat="server">
</asp:Content> 
