<%@ Page Language="C#"  MasterPageFile="~/Orion/NCM/NCMMasterPage.master" AutoEventWireup="true" CodeFile="NodeDetails.aspx.cs" Inherits="Orion_NCM_NodeDetails" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ncmPageTitlePlaceHolder">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ncmBreadCrumbPlaceHolder" runat="server">
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="ncmMainContentPlaceHolder" runat="server">
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="ncmCustomizePagePlaceHolder" runat="server">
</asp:Content>

<asp:Content ID="ExportToPdfContent" ContentPlaceHolderID="ncmExportToPDFPlaceHolder" runat="server">
</asp:Content>

