<%@ Control Language="C#" AutoEventWireup="true" CodeFile="NetworkAvgUtill.ascx.cs" Inherits="NetworkAvgUtill" %>

<orion:resourceWrapper runat="server" ID="Wrapper" ShowEditButton="false">
    <Content>
        <asp:PlaceHolder runat="server" ID="chartPlaceHolder" />
    </Content>
</orion:resourceWrapper> 