﻿<%@ Control Language="C#" CodeFile="DefaultRouteChanges.ascx.cs" Inherits="Orion_NPM_Resources_Routing_DefaultRouteChanges" %>

<orion:resourcewrapper id="ResourceWrapper" runat="server">
    <Content>
        <asp:PlaceHolder runat="server" ID="WrapperControl"></asp:PlaceHolder>        
    </Content>
</orion:resourcewrapper>
