﻿<%@ Control Language="C#" AutoEventWireup="false" CodeFile="NeighborTable.ascx.cs" Inherits="Orion_NPM_Resources_Routing_NeighborTable" %>

<orion:ResourceWrapper ID="ResourceWrapper" runat="server">
    <Content>
        <asp:PlaceHolder runat="server" ID="WrapperControl"></asp:PlaceHolder>        
    </Content>
</orion:ResourceWrapper>