﻿<%@ Control Language="C#" AutoEventWireup="false" CodeFile="RoutingTable.ascx.cs" Inherits="Orion_NPM_Resources_Routing_RoutingTable" %>
<orion:resourcewrapper id="ResourceWrapper" runat="server">
    <Content>
        <asp:PlaceHolder runat="server" ID="WrapperControl"></asp:PlaceHolder>        
    </Content>
</orion:resourcewrapper>
