﻿<%@ Control Language="C#" AutoEventWireup="false" CodeFile="TopXXFlapping.ascx.cs" Inherits="Orion_NPM_Resources_Routing_TopXXFlapping" %>
<%@ Import Namespace="SolarWinds.Orion.Web.DAL" %>
<orion:ResourceWrapper ID="ResourceWrapper" runat="server">
    <Content>
        <asp:PlaceHolder runat="server" ID="WrapperControl"></asp:PlaceHolder>        
    </Content>
</orion:ResourceWrapper>