﻿.srm-aggregatedNASVolumeCapacity-main {
    position: relative;
}

.srm-aggregatedNASVolumeCapacity-chart {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
}

.srm-aggregatedNASVolumeCapacity-chart-nodata {
    position: relative;
    width: auto;
    display: block !important;
    height: 200px !important;
}

.srm-aggregatedNASVolumeCapacity-legend {
    padding-left: 200px;
    padding-top: 50px;
    height: 150px;
}

.srm-aggregatedNASVolumeCapacity-legend > table {
    border-spacing: 0px;
}

    .srm-aggregatedNASVolumeCapacity-legend > table > tbody > tr > td {
        padding-top: 4px;
        text-align: left;
        width: 100%;
    }

        .srm-aggregatedNASVolumeCapacity-legend > table > tbody > tr > td > span {
            white-space: nowrap;
        }

        .srm-aggregatedNASVolumeCapacity-legend > table > tbody > tr > td:first-child {
            border: none;
            width: 12px;
        }

            .srm-aggregatedNASVolumeCapacity-legend > table > tbody > tr > td:first-child > div {
                width: 15px;
                height: 15px;
                margin-right: 5px;
                display: inline-block;
                *display: inline;
                vertical-align: middle;
            }

        .srm-aggregatedNASVolumeCapacity-legend > table > tbody > tr > td.total {
            text-align: center;
        }

        .srm-aggregatedNASVolumeCapacity-legend > table > tbody > tr > td.small {
            width: 1%;
            padding-left: 20px;
            padding-right: 10px;
        }
