﻿.SRM-AjaxTree-HiddenElement {
    display: none; 
}

.SRM-AjaxTree-Header {
    padding: 3px;
}

.SRM-TreeNode-children {
    /*margin-left: 20px;*/
    margin: 4px 0px 0px 20px;
	overflow-x:hidden;
    text-overflow:ellipsis;
	white-space: nowrap;
	line-height:normal;
	vertical-align:top;
}

.SRM-HomeView-AllStorageObjects-NodeWithLabel > a > img{
    display: none;
    margin-left: 20px;
}

.SRM-HomeView-AllStorageObjects-NodeWithLabel > a > span {
    font-weight:bold;
}

.SRM-HomeView-AllStorageObjects-NodeWithLabel > .SRM-TreeNode-graph > table {
    display: none;
}

.SRM-HomeView-AllStorageObjects-NodeWithLabelAndStatus > a > img {
    display: inline;
    vertical-align: top;
}

.SRM-HomeView-AllStorageObjects-NodeWithLabelAndStatus > .SRM-TreeNode-graph > table {
    display: none;
}

.SRM-HomeView-AllStorageObjects-NodeWithLabelAndStatusAndGraph {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.SRM-HomeView-AllStorageObjects-NodeWithLabelAndStatusAndGraph > a > img {
    display: inline;
    vertical-align: middle;
}

.SRM-HomeView-AllStorageObjects-NodeWithLabelAndStatusAndGraph > a > .SRM-TreeNode-itemName {
    display: inline-block;
    height: 18px;
    width: 100px;
    vertical-align: middle;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.SRM-HomeView-AllStorageObjects-NodeWithLabelAndStatusAndGraph > .SRM-TreeNode-graph {
    display: inline-table;
}

.SRM-HomeView-AllStorageObjects-NodeWithLabelAndStatusAndGraph > .SRM-TreeNode-graph > table {
    width: 80px;
    visibility:visible;
    height: 15px;
    border-collapse: collapse;
    display:inline-table;
    vertical-align: middle;
    table-layout: fixed;
}

.SRM-HomeView-AllStorageObjects-NodeWithLabelAndStatusAndGraph > .SRM-TreeNode-graph .ForegroundRect {
    background-color: #E2E2E2;

    background: -webkit-linear-gradient(top, #E2E2E2, #F6F6F6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #E2E2E2, #F6F6F6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #E2E2E2, #F6F6F6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, #E2E2E2, #F6F6F6); /* Standard syntax (must be last) */
}

.SRM-HomeView-AllStorageObjects-NodeWithLabelAndStatusAndGraph > .SRM-TreeNode-graph .BackgroundRect {
    background-color: #006CA9;
}

.SRM-HomeView-AllStorageObjects-NodeWithLabelAndStatusAndGraph > .SRM-TreeNode-graph > span {
    display: inline;
}

.SRM-HomeView-AllStorageObjects-NodeWithLabelAndStatusAndGraph > .SRM-TreeNode-graph > table + span {
    margin-left: 10px;
    display: inline-block;
    width: 75px;
}

 
.SRM-TreeNode-itemHeader {
    margin-left: 10px;
    overflow: hidden;
}

.SRM-TreeNode-itemHeader, .SRM-TreeNode-itemHeader:visited, .SRM-TreeNode-itemHeader:active
{
    color:#336699; 
    font-size: 10px;
}

.SRM-TreeNode-itemHeader:hover
{
    color:#F99D1C; 
    cursor:pointer;
}

.SRM-TreeNode-itemDescription
{
    float: right;
    padding-right: 1em;
    text-align: right;
    width: 120px;
}

.SRM-TreeNode-expandButtonWrapper
{
    width: 16px;
    height: 16px;
    display: inline-block;
	vertical-align:top;
}

.SrM-TreeNode-children
{
    clear: both;
}

.SRM-TreeNode-Error .SRM-TreeNode-itemName {
    color: rgb(255, 0, 0) !important;
}
.SRM-TreeNode-Text .SRM-TreeNode-itemName {
    color: rgb(51, 51, 51) !important;
}