﻿    table.srm-array-status-resource
    {
        width: 100%;
        margin-top: 10px;
    }

    table.srm-array-status-resource td
    {
        text-align: center;
        border-bottom: none !important;
        width: 50% !important;
        padding-left:5%;
        padding-right:5%;
    }

    table.srm-array-status-resource .hasChart
    {
        height: 150px;
    }

    table.srm-array-status-resource .title
    {
        text-align: center;
        font-weight: 700;
        font-size: 12px;
    }

    table.srm-array-status-resource .sub-title
    {
        width: 200px;
        overflow: visible;
        text-align: center;
    }

    table.srm-array-status-resource .value
    {
        margin-top: 10px;
        text-align: center;
        font-weight: normal;
        font-size: 36px;
    }

    table.srm-array-status-resource .up
    {
        background: none;
    }

    table.srm-array-status-resource .warning
    {
        color: orange;
        background: url("/Orion/images/warning_16x16.gif") center left no-repeat;
    }

    table.srm-array-status-resource .critical
    {
        color: darkred;
        background: url("/Orion/images/StatusIcons/Small-Critical.gif") center left no-repeat;
    }

    table.srm-array-status-resource .value-info
    {
        font-size: 11px;
    }

    table.srm-array-status-resource .unit
    {
        font-size: 11px;
    }

    table.srm-array-status-resource .status-bar
    {
        height: 20px;
        background: -moz-linear-gradient(top, #0060A0 0%, #006CA9 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0060A0), color-stop(100%,#006CA9));
        background: -webkit-linear-gradient(top, #0060A0 0%,#006CA9 100%);
        background: -o-linear-gradient(top, #0060A0 0%,#006CA9 100%);
        background: -ms-linear-gradient(top, #0060A0 0%,#006CA9 100%);
        background: linear-gradient(to bottom, #0060A0 0%,#006CA9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0060A0', endColorstr='#006CA9',GradientType=0 );
    }

    table.srm-array-status-resource .status-bar-background
    {
        width: 90%;
        height: 20px;
        display: inline-block;
        border: none;
        padding: 1px;
        background: -moz-linear-gradient(top, #E2E2E2 0%, #F6F6F6 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E2E2E2), color-stop(100%,#F6F6F6));
        background: -webkit-linear-gradient(top, #E2E2E2 0%,#F6F6F6 100%);
        background: -o-linear-gradient(top, #E2E2E2 0%,#F6F6F6 100%);
        background: -ms-linear-gradient(top, #E2E2E2 0%,#F6F6F6 100%);
        background: linear-gradient(to bottom, #E2E2E2 0%,#F6F6F6 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E2E2E2', endColorstr='#F6F6F6',GradientType=0 );
    }

    .SRM_ChartSubTitleSpan
    {        
       padding-left: 25px;
    }

    table.srm_array_status_tooltip td
    {
        text-align: left;
    }

    table.srm-array-status-resource .arrayStatus_ImageStatus {
        margin-bottom: 5px;
    }
