﻿.srm-array-management-header {
    background-color: rgb(224, 224, 224); 
    padding:4px;
    margin-bottom: 5px;
    font-size: 11px;
}

.srm-array-management-wrapper a {
    background-repeat: no-repeat;
    background-color:transparent; 
    font-size: 11px;
    height: 16px;
    border:none;
    padding: 3px 7px 0px 20px;
    margin: 6px 0px 3px 0px;
}

.srm-array-management-button-edit-icon {
    background-image: url("/Orion/SRM/images/bg_button_edit_icon.png");
}

.srm-array-management-button-unmanage-icon {
    background-image: url("/Orion/SRM/images/bg_button_pause_icon.png");
}

.srm-array-management-button-remanage-icon {
    background-image: url("/Orion/Nodes/images/icons/icon_remanage.gif");
}

.srm-array-management-button-statisticsnow-icon {
    background-image: url("/Orion/SRM/images/bg_button_pollNow_icon.png");
}

.srm-array-management-button-topologynow-icon {
    background-image: url("/Orion/SRM/images/bg_button_pollNow_icon.png");
}

.srm-array-management-button-controllersnow-icon {
    background-image: url("/Orion/SRM/images/bg_button_pollNow_icon.png");
}

.srm-array-management-button-rediscover-icon {
    background-image: url("/Orion/SRM/images/bg_button_rediscover_icon.png");
}