﻿.srm-arraycapacitysummary-legend-item {
    padding: 1px;
    font-size: 8pt;
    white-space: nowrap;
    float: left;
    padding-right: 10px;
    vertical-align: middle;
    padding-bottom: 10px;
}

.srm-arraycapacitysummary-legend-marker {
    width: 13px;
    height: 13px;
    margin-right: 5px;
    display: inline-block;
    *display: inline;
    vertical-align: top;
}

.srm-arraycapacitysummary-legend-control {
    padding-left: 5px;
    padding-right: 5px;
}

.srm-arraycapacitysummary-band {
    padding-bottom: 10px;   
}

.srm-arraycapacitysummary-toolbar {
    vertical-align: top;
    float: right;
}

.srm-arraycapacitysummary-searchbutton {
    cursor: pointer;
    background-image:url(/Orion/images/search_button.gif) !important;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    vertical-align: top;
    border: none;
}

.srm-arraycapacitysummary-pagingToolbar {
    margin-top: 7px;
}

.srm-arraycapacitysummary-pagingButton {
    cursor: pointer;
    font-size: 7pt;
    margin-left: 30px;
}