﻿.srm-performance-comparison-main-div {
    padding: 0px 0px 5px 0px;
    min-height: 450px;
}

.srm-performance-comparison-main-div img {
    padding-right: 10px;
}

.srm-performance-comparison-td-no-border {
    border:none  !important;
}

.srm-performance-comparison-td-big {
    width: 99%;
    border-width: 0px !important;
}

.srm-performance-comparison-td-small {
    width: 1%;
    white-space: nowrap;
    border-width: 0px !important;
}

.srm-performance-comparison-summary-data {
    padding: 3px 0px 0px 15px;
    vertical-align: top;
}

.srm-performance-comparison-summary-data div {
    padding: 3px 0px 3px 0px;
    font-size: 8pt;
    vertical-align: top;
}

.srm-performance-comparison-summary-data div span {
    padding-right: 5px;
}

.srm-performance-comparison-legend-item {
    padding: 1px;
    font-size: 8pt;
}

.srm-performance-comparison-legend-marker {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    display: inline-block;
    *display: inline;
    vertical-align: middle;
}

.srm-performance-comparison-combobox-left {
    float: left;
}

.srm-performance-comparison-combobox-right {
    float: right;
}

.srm-performance-comparison-choices-container {
    margin-top: 105px;
    z-index: 1;
    position: absolute;
    display: none;
}

.srm-performance-comparison-combobox-right-ie-fix {
    float: right;
    margin-right: 2.5px;
}

.srm-performance-comparison-combobox-left-ie-fix {
    float: left;
    margin-left: 0px;
}

.srm-performance-comparison-combobox-right-chrome-fix {
    float: right;
    margin-right: -0.2px;
}

.srm-performance-comparison-combobox-left-chrome-fix {
    float: left;
    margin-left: -1.2px;
}

.srm-performance-comparison-choices-container select {
    min-width: 20px;
}

.srm-performance-comparison-tooltip td {
    border: 0 !important;
    padding: 0;
}