﻿.srm-blockcapacitysummary-wrapper {
    overflow: visible;
}

.srm-blockcapacitysummary-chart-area {
    position: relative;
    min-height: 20px;
}

    .srm-blockcapacitysummary-chart-area > div:first-child {
        padding-top: 1px;
    }

        .srm-blockcapacitysummary-chart-area > div:first-child > span > a {
            font-size: 8pt;
            vertical-align: middle;
            max-width: 85px;
            display: none;
        }

        .srm-blockcapacitysummary-chart-area > div:first-child > a:first-child > img {
            display: none;
            padding-right: 2px;
            vertical-align: middle;
        }

    .srm-blockcapacitysummary-chart-area .srm-blockcapacitysummary-chart {
        position: absolute;
        top: 0px;
        left: 105px;
        width: 100%;
        height: 100%;
        z-index: 0;
        overflow: visible;
    }

    .srm-filesharefix {
        left: 8px !important;
    }

    .srm-blockcapacitysummary-chart-area .srm-blockcapacitysummary-chart-no-data {
        position: relative;
        width: auto;
        display: block !important;
        height: 200px !important;
    }

.srm-blockcapacitysummary-detail-main {
    position: relative;
    border-top: 1px solid gray;
    padding: 6px 0px 0px 0px;
    display: none;
    z-index: 0;
}

.srm-blockcapacitysummary-main > table {
    display: none;
}

.srm-blockcapacitysummary-detail-main > div {
    position: relative;
    padding: 0px 0px 10px 0px;
    font-size: 8pt;
    width: 1px;
    overflow: visible;
    z-index: 1;
}

    .srm-blockcapacitysummary-detail-main > div > span {
        white-space: nowrap;
    }

.srm-blockcapacitysummary-detail-main > .srm-blockcapacitysummary-load-next-items {
    position: relative;
    text-align: center;
    padding-top: 5px;
    margin-top: 10px;
    border-top: 1px solid silver;
    width: 100%;
    z-index: 1;
}

.srm-blockcapacitysummary-table {
    overflow: hidden;
}

.srm-blockcapacitysummary-main {
    position: relative;
    z-index: 1;
    padding: 0px 0px 2px 0px;
    overflow: visible;
}

    .srm-blockcapacitysummary-main > table > tbody > tr > td {
        width: 1%;
        white-space: nowrap;
        border-width: 0px !important;
    }

        .srm-blockcapacitysummary-main > table > tbody > tr > td:first-child {
            padding: 3px 0px 0px 15px;
            vertical-align: top;
            width: 99%;
            border-width: 0px !important;
        }

            .srm-blockcapacitysummary-main > table > tbody > tr > td:first-child div {
                padding: 3px 0px 3px 0px;
                font-size: 8pt;
                vertical-align: top;
            }

                .srm-blockcapacitysummary-main > table > tbody > tr > td:first-child div span {
                    padding-right: 5px;
                }

.srm-blockcapacitysummary-legend-item {
    padding: 1px;
    font-size: 8pt;
    white-space: nowrap;
}

.srm-blockcapacitysummary-legend-marker {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    display: inline-block;
    *display: inline;
    vertical-align: middle;
}

.srm-FileShareCapacitysummary-td-small {
    padding-top: 51px;
}

.srm-blockcapacitysummary-tooltip td {
    border: 0 !important;
    padding: 0;    
}
.srm-blockcapacitysummary-td-small{
    vertical-align: bottom;
}

.highcharts-container svg {
    overflow: hidden !important;
}