﻿.srm-capacityrisk .column4 > span {
    text-transform: uppercase;
}

.srm-storagepools .column3 > span {
    text-transform: uppercase;
}

.srm-capacityrisk .column8,
.srm-capacityrisk .column9,
.srm-capacityrisk .column10 {
    white-space: nowrap;
}

.srm-capacityrisk-threshold-days-left {
    font-weight: bold;
}

.srm-capacityrisk-chart {
    font-size: 8pt;
    width: 140px;
    margin-right: 20px;
}

    .srm-capacityrisk-chart > table td {
        border: none !important;
        white-space: nowrap;
    }

    .srm-capacityrisk-chart > table tr:first-child td:first-child {
        background-color: white;
    }

    .srm-capacityrisk-chart .srm-capacityrisk-direction-up > span {
        background: url('/Orion/SRM/images/BlueArrowUp.png') top left no-repeat;
    }

    .srm-capacityrisk-chart .srm-capacityrisk-direction-down > span {
        background: url('/Orion/SRM/images/BlueArrowDown.png') top left no-repeat;
    }

    .srm-capacityrisk-chart .srm-capacityrisk-direction-right > span {
        background: url('/Orion/SRM/images/BlueArrowRight.png') top left no-repeat;
    }

    .srm-capacityrisk-chart .srm-capacityrisk-direction > span {
        padding-left: 20px;
        height: 16px;
        display: block;
    }
