﻿table.capacity-summary-resource td {
    text-align: center;
    border-bottom: none !important;
    width: 50% !important;
}

table.capacity-summary-resource {
    width: 100%;
}

        table.capacity-summary-resource .canvas-gray {
            height: 11px;
            width: 11px;
            vertical-align: middle;
            display: inline-block;
            border: 0px;
            background-color: #CCCCCC;
        }

        table.capacity-summary-resource .canvas-blue {
            height: 11px;
            width: 11px;
            vertical-align: middle;
            display: inline-block;
            border: 0px;
            background-color: #006CA9;
        }

        table.capacity-summary-resource .canvas-green {
            height: 11px;
            width: 11px;
            vertical-align: middle;
            display: inline-block;
            border: 0px;
            background-color: #009df5;
        }
        table.capacity-summary-resource .canvas-purple {
            height: 11px;
            width: 11px;
            vertical-align: middle;
            display: inline-block;
            border: 0px;
            background-color: #93008B;
        }

table.capacity-summary-resource .status-bar-background {
    width: 100%;
    height: 20px;
    display: inline-block;
    border: solid 1px gray;
    padding: 1px;
    margin-top: 15px;
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
}

table.capacity-summary-resource .status-bar-blue {
    width: 0%;
    height: 20px;
    display: block;
    float: left;
    background: -moz-linear-gradient(top, #0060A0 0%, #006CA9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0060A0), color-stop(100%,#006CA9));
    background: -webkit-linear-gradient(top, #0060A0 0%,#006CA9 100%);
    background: -o-linear-gradient(top, #0060A0 0%,#006CA9 100%);
    background: -ms-linear-gradient(top, #0060A0 0%,#006CA9 100%);
    background: linear-gradient(to bottom, #0060A0 0%,#006CA9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0060A0', endColorstr='#006CA9',GradientType=0 );
}

table.capacity-summary-resource .status-bar-green {
    width: 0%;
    height: 20px;
    display: block;
    float: left;
    background: -moz-linear-gradient(top, #77BD4A 0%, #77BD2D 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#77BD4A), color-stop(100%,#77BD2D));
    background: -webkit-linear-gradient(top, #77BD4A 0%,#77BD2D 100%);
    background: -o-linear-gradient(top, #77BD4A 0%,#77BD2D 100%);
    background: -ms-linear-gradient(top, #77BD4A 0%,#77BD2D 100%);
    background: linear-gradient(to bottom, #77BD4A 0%,#77BD2D 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77BD4A', endColorstr='#77BD2D',GradientType=0 );
}


    table.capacity-summary-resource .highcharts-container {
        position: inherit !important;
        overflow: hidden !important;
    }

   .srm-capacity-summary-legend-item {
    font-size: 8pt;
    white-space: nowrap;
    text-align: left;
    
    }
    .srm-capacity-summary-legend-label {
        vertical-align: bottom;
    }
    .srm-capacitysummary-detail-main {
        margin-top: 10px;   
    }