﻿    .CredentialsLabel {
        border-bottom: 1px solid black;
        padding-top: 10px;
        padding-bottom: 5px;
        margin-bottom: 5px;
        width: 90%;
    }

    .UseSameCredentialsDiv {
        padding: 5px 0px 10px 10px;
    }

    .srm-EnrollmentWizard-providerStepContentTable > tbody > tr > td > table.sub-table td:first-child {
        padding-left: 10px;
        width: 190px;
    }

    .unselectable {
        -moz-user-select:none;
        -webkit-user-select:none;
        color: #808080;
    }

    #AdvancedSmisCredFiledsTable {
        display: none;
    }

    #AdvancedApiCredFiledsTable {
        display: none;
    }

    #UseSameCredentials {
        width: 15px;
        height: 15px;
        vertical-align: middle;
    }

    .ProtocolCheckBox {
        width: 15px;
        height: 15px;
        padding: 0px;
        vertical-align: middle;
    }

    #HttpsPortTextBox, #HttpPortTextBox {
        width: 75px;
    }

    #expanderElement {
        padding: 10px 0px 10px 0px;
    }

    #expanderElement a {
        vertical-align: middle;
        color: black;
        text-decoration: none;
    }

    #expanderElement a:hover {
        color: black;        
        text-decoration: none;
    }

    #expanderElement img {
        vertical-align: middle;
        padding-right: 10px;
    }

    .ArrayTypeLabel {
        font-weight: bold;
    }

    .editPropContainer .celerraProvider {
        margin-left:0px;
        padding-left:0px;
        margin-top:5px;
    }

    .editPropContainer .celerraProvider .srm-main-content {
        padding-left:0px;
        padding-top:0px;
    }

    .editPropContainer .celerraProvider .srm-main-content .srm-EnrollmentWizard-providerStepContentTable{
        margin-left:0px;
        margin-top:0px;
    }

    .EditPropControlHost .celerraProvider .srm-main-content table {
        border-spacing:0px;
        padding: 5px;
    }

    .EditPropControlHost .celerraProvider #ChooseCredentialSmis {
        margin-left:5px;
    }

    .EditPropControlHost .celerraArrayTypeCol1 {
        width:195px !important;
    }

    .EditPropControlHost .celerraApiCredentialCol1 {
        width:193px !important;
    }

    .editPropContainer .celerraProvider {
        background-color: #e4f1f8;
    }

    .editPropContainer .celerraProvider .col1 {
        width:600px;
    }

    .editPropContainer .celerraProvider #IpAddressOrHostnameTextBox {
        width:218px;
    }

    .editPropContainer .celerraProvider #ChooseCredentialSmis {
        width:222px;
    }

    .editPropContainer .celerraProvider #ChooseCredentialVnx {
        width:222px;
        margin-left:2px;
    }

    .editPropContainer .celerraProvider #DisplayNameTextBox, .editPropContainer .celerraProvider #ProviderUsernameTextBox, .editPropContainer .celerraProvider #ProviderPasswordTextBox, .editPropContainer .celerraProvider #ProviderConfirmPasswordTextBox
    {
        margin-left:5px;
        width:218px;
    }

    .editPropContainer .celerraProvider #DisplayNameVnxTextBox, .editPropContainer .celerraProvider #ArrayApiUsernameTextBox, .editPropContainer .celerraProvider #ArrayApiPasswordTextBox, .editPropContainer .celerraProvider #ArrayApiConfirmPasswordTextBox
    {
        margin-left:5px;
        width:218px;
    }

    .editPropContainer .celerraProvider input[type=checkbox] {
        margin-right:3px;
    }

    #AdvancedSmisCredFiledsTable TD.label , #AdvancedApiCredFiledsTable TD.label 
    {
        margin-right:0;
        padding-right:0;
    }


    .editPropContainer .celerraProvider #InteropNamespaceTextBox, .editPropContainer .celerraProvider #ArrayNamespaceTextBox, .editPropContainer .celerraProvider #ArrayNamespaceTextBox,
    .editPropContainer .celerraProvider #ArrayApiManagementServicesPathTextBox
    {
        width:218px;
    }

    .editPropContainer .celerraProvider #HttpPortTextBox, .editPropContainer .celerraProvider #HttpsPortTextBox, .editPropContainer .celerraProvider #ArrayApiHttpPortTextBox #ArrayApiHttpsPortTextBox
    {
        width:111px;
    }

    .EditPropControlHost .celerraProvider #testConnectionButton {
        margin-left:205px;
        margin-top:0;
    }

    .HiddenRow {
        display: none;
    }

