﻿#LicenseWrapper {
    padding: 10px;
    padding-left:0px;
}

.srm-provider-step-no-more-data-available {
    text-align: center;
    border: solid 1px #ededed;
    padding: 15px 0px 15px 0px;
    font-weight: bold;
    white-space: nowrap;
}

.srm-enrollment-wizard-content {
    margin: 0px 0px 0px 2px;
}

    .srm-enrollment-wizard-content td {
        vertical-align: top;
    }

        .srm-enrollment-wizard-content td span {
            white-space: nowrap;
        }

    .srm-enrollment-wizard-content > table > tbody > tr > td:first-child {
        width: 130px;
        padding-bottom: 15px;
        padding-right: 20px;
    }


#srm-devicetype-info {
    margin-top: 2px;
    padding: 10px 0px 10px 0px;
    width: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #FFE89E;
    background-color: #FFFDCC;
    color: #333333;
}

    #srm-devicetype-info .bigfont {
        font-weight: bold;
    }

    #srm-devicetype-info .familyimage {
        margin-top: 10px;
        text-align: center;
    }

    #srm-devicetype-info span {
        white-space: normal;
    }

    #srm-devicetype-info td:first-child {
        width: 35px;
    }

    #srm-devicetype-info a {
        text-decoration: none;
    }

        #srm-devicetype-info a:hover {
            text-decoration: none;
        }


#deviceStepTooltipImage {
    position: absolute;
    left: 95px;
    top: 60px;
    width: 603px;
    height: 136px;
}

#deviceStepHelpBox {
    background-image: url(/Orion/SRM/images/hint_box_background_u55.png);
    position: relative;
    width: 700px;
    height: 200px;
    margin-top: 15px;
}

#deviceStepHintIcon {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
}

#deviceStepDescriptionBox {
    position: absolute;
    left: 52px;
    top: 10px;
    width: 740px;
    height: 16px;
    word-wrap: break-word;
}

#deviceStepHelpLink {
    position: absolute;
    left: 52px;
    top: 40px;
    width: 363px;
    height: 16px;
    color: #359AC0;
    text-align: left;
}

#deviceStepNameLabel {
    font-weight: bold;
    font-weight: 700;
}

#deviceStepDescriptionLabel {
    font-weight: 400;
}

.deviceTypeStepFirstColumn {
    width: 130px;
}

.deviceTypeStepTable {
    margin-left: 20px;
    margin-top: 20px;
}

.providerStepTooltipImageBox {
    vertical-align: top;
}

#providerStepTooltipImage {
    margin-left: 15px;
    width: 374px;
    height: 208px;
}

.srm-EnrollmentWizardPage_master_AdminContent input[type=text],
.srm-EnrollmentWizardPage_master_AdminContent input[type=password] {
    width: 180px;
    height: 20px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #ccc;
}

.srm-EnrollmentWizardPage_master_AdminContent select {
    width: 180px;
    *width: 182px;
    height: 20px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #ccc;
}

.providerStepButton {
    margin-top: 5px;
    margin-bottom: 20px;
    width: 102px;
    height: 27px;
}

    .providerStepButton:hover {
        width: 102px;
        height: 27px;
    }

.srm-EnrollmentWizard-providerStepContentTable {
    margin: 20px 10px 0px 2px;
    width: 100%;
    table-layout: fixed;
}

.srm-EnrollmentWizard-providerStepInputsTable {
    border-collapse: separate;
    width: 100%;
    table-layout: fixed;
}

    .srm-EnrollmentWizard-providerStepInputsTable > tbody > tr > td {
        padding-bottom: 10px;
        overflow: visible;
        position: relative;
        width:315px;
    }

        .srm-EnrollmentWizard-providerStepInputsTable > tbody > tr > td:first-child {
            width: 200px;
        }

.srm-wizard-sub-title {
    font-size: 12px;
    font-weight: 400;
    color: #333333;
    text-align: left;
    line-height: normal;
    word-wrap: break-word;
    padding-bottom: 15px;
}

.srm-wizard-title {
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: normal;
    word-wrap: break-word;
}

.SRM_DefaulElementWidth {
    width: 200px;
}

.ConfigurationControls > table > td {
    border-color: black;
    border-width: 1px;
    border-bottom-style: solid;
}

.ConfigurationControls > table > th {
    border-color: black;
    border-width: 1px;
    border-bottom-style: solid;
    background-color: lightgray;
}

.srm-EnrollmentWizardPage_master_ContentTable {
    margin-left: 20px;
}

.EnrollmentWizardPage_master_GroupBox {
    width: 100%;
}

#EnrollmentWizardPage_master_GroupBox a:hover
{
	color: #f99d1c;
}

.srm-EnrollmentWizardPage_master_AdminContent {
    padding: 10px;
    border-width: 1px;
    border-color: #dbdcd7;
    border-style: solid;
}

.EnrollmentWizardPage_master_GroupBox .srm-enrollment-wizard-content > table {
    width: 100%;
}

.smr-arraystep-licensing {
    padding-left: 10px;
    vertical-align: baseline;
}

.srm-summarystep-maintable {
    width: 100%;
    padding-left: 50px;
}

    .srm-summarystep-maintable td {
        vertical-align: top;
        padding: 0px 20px 15px 0px;
    }

#srm-configuration-controls-first-column, #srm-configuration-controls-first-column2, #srm-configuration-controls-first-column3, #srm-configuration-controls-first-column4, #srm-configuration-controls-first-column5 {
    width: 70px;
}

.srm-summarystep-innertable {
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    border-spacing: 0px 0px;
    width: 100%;
}

    .srm-summarystep-innertable > tbody > tr > th {
        background-color: #e7e7e7;
        border: solid 1px #CECFCE;
        padding-left: 2px;
    }

    .srm-summarystep-innertable > tbody > tr > td {
        border: solid 1px #CECFCE;
        padding: 1px;
    }

.srm-provider-step-password-column {
    white-space: nowrap;
    vertical-align: top;
    padding-right: 10px;
}

.srm-provider-step-password-input {
    width: 135px;
}

#srm-ProgressIndicator {
    border-width: 1px;
    border-color: #dbdcd7;
    border-style: solid;
}

.NavigationButtons {
    border-spacing: 0;
}

.srm-enrollment-wizard-content > table td > .x-toolbar,
.srm-EnrollmentWizardPage_master_AdminContent > table td > .x-toolbar {
    border: 1px solid #DEDEDE;
    margin: 0px;
    padding: 5px 0px 5px 5px;
    height: 15px;
}

    .srm-enrollment-wizard-content > table td > .x-toolbar > img,
    .srm-enrollment-wizard-content > table td > .x-toolbar > span {
        cursor: pointer;
        vertical-align: middle;
    }

.x-grid3 input[type=radio] {
    height: 15px;
}

.srm-EnrollmentWizardPage_master_AdminContent #dropDownDeviceFamilyType {
    width: 390px;
}

.srm-EnrollmentWizardPage_ChosePollerDropDown {
    width: auto !important;
}


.srm-enrollment-wizard-discovery-result {
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    border-spacing: 0px 0px;
    width: 100%;
}

.srm-enrollment-wizard-discovery-result th {
    border: 1px solid #A5A5A5;
    background-color: #A5A5A5;
    color: white;
    font-weight: bold;
    padding: 4px;
    margin: 0px;
    white-space: nowrap;
}

.srm-enrollment-wizard-discovery-result td {
    border: 1px solid #A5A5A5;
    background-color: #FFE4E4;
    padding: 4px;
    margin: 0px;
}

.srm-enrollment-wizard-discovery-result-link {
    display: none;
    padding-top: 10px;
    text-align: right;
}