﻿.PollingPropertiesSection .label {
    width: 210px;
    float: left;
}

.PollingPropertiesSection .labelCheckbox {
    width: 20px;
    float: left;
}

.validationError {
    color: red;
}

.PollingPropertiesSection {
    background-color: #ecedee;
    padding: 4px;
    margin-top: 5px;
}


.pollingEngineContainer .vertically-center, #pollEngineDescr a * {
    margin-top: auto;
    margin-bottom: auto;
}

.PollingPropertiesSection .row {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 4px;
}

.pollingEngineContainer {
    height: 20px;
}

.srm-EditProperties_AdminContent input[type=text],
.srm-EditProperties_AdminContent input[type=password] {
    width: 218px;
    height: 20px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #ccc;
}

.srm-EditProperties_AdminContent select {
    width: 218px;
    *width: 182px;
    height: 20px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #ccc;
}

.pollingEngineContainer #pollEngineDescr {
    margin-left: 3px;
}

.PollingPropertiesSection table {
    width: 100%;
    table-layout: fixed;
}

#pollingValidationFailMsg {
    padding-left: 25px;
}