﻿    .editNameSection .label {
        width: 205px;
        float:left;
        padding-left: 10px;
    }

    .editNameSection #editBox {
        width:218px;
    }

.validationError {
    color: red;
}
