﻿
.PollingPropertiesSection {
    width: 100%;
}

.EditPropertiesAdvanced .PollingPropertiesSection div {
    padding-top: 10px
}

#advancedSettings {
    display:none
}

#advancedSettings .innerSettings {
    padding-top: 8px;
}

#advancedSettings .firstCol {
    width: 180px;
}

#ddlDebugLogging, #txtDebugFiles {
    width: 41px;
    height: 18px;
}

#ddlOpenAndPullEnabled {
    width: 70px;
    height: 18px;
}

#multipleAdvChange {
    margin-left: 2px;
    margin-right: 3px;
}

#openPullParams td {
    padding-top: 6px;
}