﻿    .editPropContainer {
        width: 1092px;
        border: 1px solid #dbdcd7;
        padding: 10px;
    }

    .editPropHeader H1 {
        padding-bottom: 0px;
    }

    .editPropNameContainer ul {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 25px;
        list-style: disc;
    }

    .editPropBottom {
        margin-top:10px;
        margin-left:243px;
    }

    .EditPropControlHost {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .editPropBottom #loadingImagePlaceholder {
        width:16px;
        height:16px;
        float:left;
        vertical-align:central;
        margin-right:10px;
        margin-top:2px;
    }

    .srm-testing-connection-msgbox {
        display: none;
    }

    .providerPropertiesColumn {
        width: 500px;
    }

    #failMessageContentSmis a {
        color: #336699;
    }

    .SRM_testingConnectionMsgBox {
        display: none;
        font-weight: normal;
        overflow: hidden;
    }

    .SRM_testingConnectionMsgBox > #failMessageContent {
        white-space: normal;
    }

    .SRM_testingConnectionMsgBox > #failMessageContent a {
        color: #336699;
    }

    .SRM_testingConnectionMsgBox img {
        position: absolute;
        left: 4px;
        top: 4px;
        height: 16px;
        width: 16px;
    }

     .SRM_warningMsgBox {
        margin-bottom: 10px;
    }

     .SRM_manageLink {
        font-size: 11px;
     }


