﻿    .CredentialsLabel {
        border-bottom: 1px solid black;
        padding-top: 10px;
        padding-bottom: 5px;
        margin-bottom: 5px;
        width: 90%;
    }

    .ProtocolCheckBox {
        width: 15px;
        height: 15px;
        padding: 0px;
        vertical-align: middle;
    }

    #HttpsPortTextBox, #HttpPortTextBox {
        width: 75px;
    }
