﻿.SRM-GettingStarted {
    border: solid 15px #2d5c77;
    margin: 10px 10px 30px 10px;
    color: #2E96B9;
}

.SRM-GettingStarted > * {
    background-color: transparent;
}

.SRM-GettingStarted-InnerTable {
    padding: 13px 10px 13px 10px;
}

.SRM-GettingStarted-InnerTable td {
    border-bottom: 0px !important;
    padding: 4px 3px 4px 8px;
    text-align: right;
}

.SRM-GettingStarted-RemoveButton {
    float: right;
    margin-top: 25px;
    text-transform: uppercase;
}

.SRM-GettingStarted-Button-Width {
    max-width: 250px;
}

.SRM-GettingStarted-Button {
    width: 100%;
}
