﻿.SRM-GettingStarted {
    position: absolute;
    z-index: 999999;
    width: 600px;
    height: 150px;
    padding: 20px;
    border: solid 1px silver;
}

.SRM-GettingStarted-Title {
    font-size: 10pt;
    font-weight: bold;
    padding-bottom: 20px;
}

.SRM-GettingStarted-InnerTable > table {
    width: 100%;
}

.SRM-GettingStarted-HiddingBoard {
    position: absolute;
    z-index: 999999;
    background-color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    left: 190px;
    height: 100%;
}
