﻿.SRM-ManualE2E-expander-expand
{
    width: 15px !important;
    height: 15px !important;
    background-image: url(/Orion/images/Button.Expand.gif) !important;
}

.SRM-ManualE2E-expander-collapse
{
    width: 15px;
    height: 15px;
    background-image: url(/Orion/images/Button.Collapse.gif) !important;
}

button.SRM-ManualE2E-Search
{
    background-image:url(/Orion/images/search_button.gif) !important;
}

.GroupSection
{
	background-color:#e1e1e0;
	background-image: url('/Orion/Nodes/images/background/bg_groupby.gif');
	background-repeat: repeat-x;
	margin: 0px;
	padding: 5px;
    width: 100%;
    border-width: 1px;
    border-color: #d0d0d0;
}

.SelectedGroupItem > div
{
	background-image: url('/Orion/Nodes/images/background/left_selection_gradient.gif');
	background-color: #97d6ff;
	background-repeat: repeat-x;
}

table.E2EManagement 
{
	border: #e1e1e0 solid 1px;
	margin: 0;
	padding: 0;
}

.SRM-ManualE2E-ClickableResult {
    cursor:pointer;
    width: 100%;
}

.SRM-ManualE2E-SmallerText {
    font-size: 80%;
}

#NetObjectGrid td
{
    padding: 0px;
    vertical-align: middle;
}
