﻿.sw-srm-warrning-threshold-text {
    background-color: #F1D200;
    color: black;
    font-weight: bold;
}

.sw-srm-critical-threshold-text {
    background-color: #E22323;
    color: white;
    font-weight: bold;
}
.sw-srm-critical-runout-text {
    color: red;
    font-weight: bold;
}

.sw-srm-warning-runout-text {
    color: red;
}