﻿#highchartTooltip tr.hover {
    background-color: #E4F1F8;
}

#highchartTooltip tr.hover td {
    font-weight: bold;
    padding-top: .25em;
    padding-bottom: .25em;
}

.srm-lunperformancesummary-subtitle {
    padding-top: 10px;
    font-size: 8pt;
    border-bottom: 0 !important;
}

.srm-lunperformancesummary-container {
    width: 100%;
    position: relative;
}

.srm-lunperformancesummary-subtitle {
    width: 100%;
    float: left;
    height: 30px;
}

.srm-lunperformancesummary-container > div.srm-lunperformancesummary-main-chart {
    z-index: 1;
    position: absolute;
    left: 181px;
    border: none;
    /* top: 7px; Attribute will be dynamically calculated now */
}

.srm-lunperformancesummary-container > div {
    border-bottom: 1px solid #CECECE;
}

.srm-lunperformancesummary-container .srm-lunperformancesummary-scrollbar {
    border: none;
    height: 70px;
}

.srm-lunperformancesummary-container > div > .srm-lunperformancesummary-expanded {
    border-bottom: 1px dashed #CECECE;
}

.srm-lunperformancesummary-container .srm-lunperformancesummary-detail {
    display: none;
}

.srm-lunperformancesummary-container .srm-lunperformancesummary-counter {
    clear: both;
    border: 1px solid #CECECE;
    border-top: none;
    border-bottom: none;
    position: relative;
    padding: 0px 2px 0px 0px;
    height: 49px;
    background: url('/Orion/SRM/images/Lun_Performance_Summary_Item_Bar.png') repeat-x;
}

.srm-lunperformancesummary-container .srm-lunperformancesummary-counter table {
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.srm-lunperformancesummary-container .srm-lunperformancesummary-child-counter {
    background: none;
    height: 50px;
}

.srm-lunperformancesummary-container table td {
    border: 0 !important;
    padding: 0;
}

.srm-lunperformancesummary-container table td span {
    white-space: nowrap;
}

.srm-lunperformancesummary-container .srm-lunperformancesummary-counter > table > tbody > tr > td:first-child {
    width: 180px;
}

.srm-lunperformancesummary-container .srm-lunperformancesummary-counter > table > tbody > tr > td div {
    background-color: white;
    margin: 5px 5px 5px 0px;
    border: 1px solid #B5B5B5;
    height: 38px;
}

.srm-lunperformancesummary-container .srm-lunperformancesummary-counter .srm-lunperformancesummary-detail-image {
    width: 15px;
    padding: 5px;
}

.srm-lunperformancesummary-container .srm-lunperformancesummary-counter .srm-lunperformancesummary-detail-text {
    font-weight: bold;
}

.srm-lunperformancesummary-container .srm-lunperformancesummary-counter .srm-lunperformancesummary-detail-unit {
    text-align: right;
    padding-right: 10px;
}

.srm-performancesummary-charttitle-content {
    text-align: center;
    padding: 5px;
    border-bottom: 0 !important;
    height: 10px;
}

.srm-performancesummary-entity-content {
    text-align: center;
    padding: 5px;
    border-bottom: 0 !important;
    height: 10px;
}

.srm-performance-summary-iops-container {
    border-top: 1px solid #CECECE !important;
}
