﻿.srm-performance-legend-marker {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    display: inline-block;
    *display: inline;
    vertical-align: middle;
}
.srm-performance-legend-check-box {
    vertical-align: middle;
}
.srm-performance-button {
    padding: 0px;
    text-align: center;
    width: 41px;
    height: 22px;
    font-size: 12px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Arial,Helvetica,sans-serif;
    padding: 0px;
    margin: 0 -4px 0 0;
    white-space: nowrap;
    border-style: solid !important;
    border-width: 1.4px !important;
    border-color: rgb(210, 210, 210);
    background-image: url(/Orion/SRM/images/bg_button_gradient.png);
    background-repeat: repeat-x;
    color: #666;
}
.srm-performance-button-selected {
    text-align: center;
    width: 41px;
    height: 22px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Arial,Helvetica,sans-serif;
    padding: 0px;
    margin: 0 -4px 0 0;
    white-space: nowrap;
    border-style: solid !important;
    border-width: 1.4px !important;
    border-color: rgb(210, 210, 210);
    outline-width: 0;
    background-image: url(/Orion/SRM/images/bg_button_gradient_selected.png);
    background-repeat: repeat-x;
    color: #666;
}
@-moz-document url-prefix() { 
    .srm-performance-buttons {
         margin-top: 61px !important;
    }
}

.srm-performance-buttons {
    position: absolute;
    margin-top: 55px;
    margin-top: 62px\9;
    z-index: 1;
    font-size: 12px;
    color: #666666;
    text-align: right;
}

.srm-performance-buttons-with-dropdown {
    position: absolute;
    margin-top: 55px;
    margin-top: 80px;
    z-index: 1;
    font-size: 12px;
    color: #666666;
    text-align: right;
}

.srm-performance-buttons span {
    padding-right: 3px;
    line-height: 24px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Arial,Helvetica,sans-serif;  
}
.srm-performance-legend-item {
    padding: 1px;
    font-size: 8pt;
    margin-left: 17px;
    clear: both;
    display:inline;
}

.srm-performance-legend-item-display-none {
    display: none;
}

.srm-performance-legend-status-icon {
    margin-bottom: -6px;
}

.srm-performance-legend-current_item {
    padding-bottom: 3px;
    margin-left: 17px;
    font-size: 8pt;
    font-weight: bold;
    background-color: #ebf5ff;
    display:inline;
}

.srm-performance-legend-item_wo_parent {
    margin-left: -18px !important;
}

.srm-performance-uppercase {
    text-transform: uppercase;
}

.srm-performance-label
{
    font-size: 11px;
    line-height: 20px;
}
