﻿.srm-main-content {
    padding: 10px;
}
.srm-main-content table {
    width: 100%;
    table-layout: fixed;
}
.srm-main-content td {
    vertical-align: top;
    padding: 0px 10px 3px 0px;
}
.srm-main-content td span {
    white-space: normal;
}
.srm-main-content > table > tbody > tr > td > table > tbody > tr > td:first-child {
    width: 200px;
}

#ProtocolCheckBox {
    width: 15px;
    height: 15px;
    padding: 0px;
    vertical-align: middle;
}

#HttpsPortTextBox, #HttpPortTextBox {
    width: 75px;
}

#expanderElement {
    padding: 0px 0px 10px 0px;
}

#expanderElement a {
    vertical-align: middle;
    color: black;
    text-decoration: none;
}

#expanderElement a:hover {
    color: black;        
    text-decoration: none;
}

#expanderElement img {
    vertical-align: middle;
    padding-right: 10px;
}

#imgSmsi {
    width: 630px;
}