﻿.srmSettings {
    width: 800px;
}

.HeaderTable h1 {
    padding-bottom: 2px;
}

.HeaderTable .version {
    font-size: 90%;
}

.srmSettings .ContentBucket {
    margin-bottom: 20px;
}

    .srmSettings .ContentBucket A {
        color: #006699;
    }

    .srmSettings .ContentBucket H3 {
        margin-bottom: 3px;
        margin-top: 0px;
    }

    .srmSettings .ContentBucket HR {
        margin-top: 0px;
    }

    .srmSettings .ContentBucket UL {
        list-style-type: none;
        margin-left: 36px;
        padding-left: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .srmSettings .ContentBucket LI {
        background-image: url(/Orion/SRM/images/liarrow.png);
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 10px;
    }

    .srmSettings .ContentBucket .horizontal LI {
        float: left;
        padding-right: 40px;
    }

    .srmSettings .ContentBucket .vertical LI {
        margin-top: 0px;
    }

        .srmSettings .ContentBucket .vertical LI:not(:first-child) {
            margin-top: 5px;
        }

        .srmSettings .ContentBucket .vertical LI:not(:last-child) {
            margin-bottom: 5px;
        }

.srmSettings .ContentBucket {
    padding-bottom: 0px;
}

    .srmSettings .ContentBucket table {
        width: 100%;
    }

    .srmSettings .ContentBucket .iconCls {
        width: 36px;
    }

    .srmSettings .ContentBucket td {
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
        padding-top: 0px !important;
    }

.connectionSettings {
    width: 500px;
}

    .connectionSettings table {
        width: 100%;
    }

    .connectionSettings .ContentBucket .connectionDetails table {
        background-color: #E4F1F9;
        padding: 10px;
    }

        .connectionSettings .ContentBucket .connectionDetails table tr td {
            width: 230px;
            vertical-align: middle !important;
        }

            .connectionSettings .ContentBucket .connectionDetails table tr td input {
                width: 230px;
                height: 20px;
            }

            .connectionSettings .ContentBucket .connectionDetails table tr td label {
                color: gray;
                font-size: smaller;
                display: block;
            }

    .connectionSettings .sw-btn-bar {
        margin-left: 220px;
    }

.linkLearn a {
    background-image: url(/Orion/SRM/images/liarrow.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 10px;
    color: #006699;
}
