﻿.CredentialsLabel {
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: 90%;
}

.srm-EnrollmentWizard-providerStepContentTable > tbody > tr > td > table.sub-table td:first-child,
.srm-EnrollmentWizard-providerStepContentTable > tbody > tr > td > div > div > table.sub-table td:first-child {
    padding-left: 10px;
    width: 190px;
}

.unselectable {
    -moz-user-select:none;
    -webkit-user-select:none;
    color: #808080;
}

#uxAdvancedSmisSettingsContainer,
#uxAdvancedApiSettingsContainer {
    display: none;
}

#uxApiUseSmisCredentialsContainer {
    padding: 5px 0px 10px 10px;
    vertical-align: middle;
}

.ProtocolCheckBox {
    width: 15px;
    height: 15px;
    padding: 0px;
    vertical-align: middle;
}

#uxSmisHttpPort, #uxSmisHttpsPort,
#uxApiHttpPort, #uxApiHttpsPort {
    width: 75px;
}

#expanderElement {
    padding: 10px 0px 10px 0px;
}

#expanderElement a {
    vertical-align: middle;
    color: black;
    text-decoration: none;
}

#expanderElement a:hover {
    color: black;        
    text-decoration: none;
}

#expanderElement img {
    vertical-align: middle;
    padding-right: 10px;
}

.ArrayTypeLabel {
    font-weight: bold;
}

.editPropContainer .provider {
    margin-left:0px;
    padding-left:0px;
    margin-top:5px;
}

.editPropContainer .provider .srm-main-content {
    padding-left:0px;
    padding-top:0px;
}

.editPropContainer .provider .srm-main-content .srm-EnrollmentWizard-providerStepContentTable{
    margin-left:0px;
    margin-top:0px;
}

.EditPropControlHost .provider .srm-main-content table {
    border-spacing:0px;
    padding: 5px;
}

.EditPropControlHost .provider #ChooseCredentialSmis {
    margin-left:5px;
}

.EditPropControlHost .celerraArrayTypeCol1 {
    width:195px !important;
}

.EditPropControlHost .celerraApiCredentialCol1 {
    width:193px !important;
}

.editPropContainer .provider {
    background-color: #e4f1f8;
}

.editPropContainer .provider .col1 {
    width:600px;
}

.editPropContainer .provider #IpAddressOrHostnameTextBox {
    width:218px;
}

.editPropContainer .provider #ChooseCredentialSmis {
    width:222px;
}

.editPropContainer .provider #ChooseCredentialVnx {
    width:222px;
    margin-left:2px;
}

.editPropContainer .provider #DisplayNameTextBox, .editPropContainer .provider #ProviderUsernameTextBox, .editPropContainer .provider #ProviderPasswordTextBox, .editPropContainer .provider #ProviderConfirmPasswordTextBox
{
    margin-left:5px;
    width:218px;
}

.editPropContainer .provider #DisplayNameVnxTextBox, .editPropContainer .provider #ArrayApiUsernameTextBox, .editPropContainer .provider #ArrayApiPasswordTextBox, .editPropContainer .provider #ArrayApiConfirmPasswordTextBox
{
    margin-left:5px;
    width:218px;
}

.editPropContainer .provider input[type=checkbox] {
    margin-right:3px;
}

.editPropContainer .provider #InteropNamespaceTextBox, .editPropContainer .provider #ArrayNamespaceTextBox, .editPropContainer .provider #ArrayNamespaceTextBox,
.editPropContainer .provider #ArrayApiManagementServicesPathTextBox
{
    width:218px;
}

.editPropContainer .provider #HttpPortTextBox, .editPropContainer .provider #HttpsPortTextBox, .editPropContainer .provider #ArrayApiHttpPortTextBox #ArrayApiHttpsPortTextBox
{
    width:111px;
}

.EditPropControlHost .provider #testConnectionButton {
    margin-left:205px;
    margin-top:0;
}

.HiddenRow {
    display: none;
}

.srm-EnrollmentWizard-providerStepInputsTable > tbody > tr > td {
    padding-bottom: 8px;
}

div.advanced-settings-wrapper {
    width: 1000px;
    overflow: hidden;
}

div.advanced-settings-wrapper div.first,
div.advanced-settings-wrapper div.second {
    width: 50%;
    float: left;
    overflow: hidden;
}

.providerPropertiesColumn .PollingPropertiesSection {
    background-color: rgba(0, 0, 0, 0);
}