﻿    .smisprovider {
        padding: 10px;
    }
    .smisprovider table {
        width: 100%;
        table-layout: fixed;
        margin-top:5px;
    }
    .smisprovider td {
        vertical-align: top;
        padding: 0px 10px 3px 0px;
    }
    .smisprovider td span {
        white-space: nowrap;
    }
    .smisprovider > table > tbody > tr > td > table > tbody > tr > td:first-child {
        width: 200px;
    }

    #ProtocolCheckBox {
        width: 15px;
        height: 15px;
        padding: 0px;
        vertical-align: middle;
    }

    #HttpsPortTextBox, #HttpPortTextBox {
        width: 75px;
    }

    #expanderElement {
        padding: 0px 0px 10px 0px;
    }

    #expanderElement a {
        vertical-align: middle;
        color: black;
        text-decoration: none;
    }

    #expanderElement a:hover {
        color: black;        
        text-decoration: none;
    }

    #expanderElement img {
        vertical-align: middle;
        padding-right: 10px;
    }

    .EditPropControlHost .smisprovider table {
        background-color: #ecedee;
    }

    .EditPropControlHost .smisprovider {
        padding:0px;
    }

    .EditPropControlHost .smisprovider table {
        border-spacing:0px;
        padding:5px;
    }

    .EditPropControlHost .smisprovider td.label {        
    }

    #loadingImageSmisPlaceholder {
        height: 27px;        
    }

    #loadingImageSmisPlaceholder img {
        margin-top:7px;
        margin-right:7px;
        float:right;
    }

    .smisprovider #testConnectionSmisButton {
        margin-bottom:0px;
    }

    .smisprovider .boldText {
        font-weight:bold;
    }