﻿.SRM_CriticalText {
    color: red;
    font-weight: bold;
}

.SRM_WarningText {
    color: red;
}

.SRM_NormalText {
    font-weight: normal;
    font-size: 11px;
    text-align: left;
    margin-top: 2px;
}

.SRM_BoldText {
    font-weight: bold;
    font-size: 11px;
    text-align: left;
}

.srm-uppercase {
    text-transform: uppercase;
}

.SRM_FirstRowDetailsTable {
    font-size: 13px;
    font-style: normal;
    line-height: normal;
    text-align: left;
    float: left;
}

.SRM_AltRow1 td { 
    background-color: #f8f8f8; 
    padding: 7px 24px 7px 0px;

}

.SRM_AltRow2 td { 
    background-color: white; 
    padding: 7px 24px 7px 0px;
} 

.SRM_AltRow1 td:first-child, .SRM_AltRow2 td:first-child { 
    padding-left: 24px;

} 

.SRM_testingConnectionMsgBox {
    display: none;
    font-weight: normal;
    overflow: hidden;
}

.SRM_testingConnectionMsgBox > #failMessageContent {
    white-space: normal;
}

.SRM_testingConnectionMsgBox img {
    position: absolute;
    left: 4px;
    top: 4px;
    height: 16px;
    width: 16px;
}

.SRM_tableLegendHeaderFirst {
    width: 15px;
    background-color: gray;
    text-transform: uppercase;
}

.SRM_tableLegendHeaderSecond {
    width: 20px;
    background-color: gray;
    text-transform: uppercase;
}

.SRM_tableLegendHeader {
    background-color: gray;
    text-transform: uppercase;
}

.SRM_LegendLogo {
    float: right;
}

.SRM_StatusImage {
    width: 20px;
}

a.SRM_TextDecorationUnderline {
    text-decoration: underline;
}

.SRM_EditTopXXChartResource_Table {
    width: 100%;
}

.SRM_EditTopXXChartResource_ResourceNameLabel {
    color: black;
}

.SRM_Grid_AlreadyPassed_Cell {
    background-color: #000000;
    color: #ffffff;
}

.SRM_Grid_CollectingData_Cell {
    color: #999;
    font-style: italic;
}

.SRM_Grid_Warning_Cell {
    background-color: #FDE87E;
}

.SRM_Grid_Critical_Cell {
    background-color: #F0757F;
}

.SRM_Grid_Total_Cell {
    background-color: black;
    color: white;
}

.SRM_Icon_Cell > img, .SRM_Icon_Cell > a {
    vertical-align: middle;
    padding-right: 2px;
}

.SRM_Unknown_Cell {
    color: gray;
    font-weight: normal;
}

.SRM_DrillDown_Top_Title > img, .SRM_DrillDown_Top_Title > span {
    vertical-align: middle;
}

.SRM_HiddenField {
    display: none;
}

.SRM_NoWrap {
    white-space: nowrap;
}

.SRM_TD_Icon_Cell {
    width: 16px;
}

.srm_resource_wrapper .sw-custom-query-table td {
    padding-left: 5px;
}

.srm_resource_wrapper .highcharts-tooltip td {
    border: 0 !important;
    padding: 0px 2px 0px 2px;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.srm_overflow_hidden {
    overflow: hidden;
}

.srm_word_wrap {
    word-wrap: break-word;
	word-break: break-all;
    white-space: normal;
	max-width: 100px;
}

.chartLegend span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    max-width: 500px;
}

.srm-legend, .srm-custom-header-content select {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.srm_word_wrap_text, .srm_details_table span, .srm_details_table a {
    word-wrap: break-word;
    word-break: break-all;
    -ms-word-wrap: break-word;
    display: inline-block; 
    margin-top: 0px;
}

.SRM-TreeNode-itemName {
    word-wrap: break-word;
    word-break: break-all;
    -ms-word-wrap: break-word;
	display: inline-block;
	white-space: normal;
}

.srm-custom-header-content {
    white-space: nowrap;
}

.HeaderBar {
    word-wrap: break-word;
    word-break: break-all;
    -ms-word-wrap: break-word;
}

.highcharts-title  {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
}

.srm-custom-header-content select {
    max-width: 450px;
}
    
.srm-testing-connection-msgbox {
    display: none;
    font-weight: normal;
}

.SRM_HiddenGridCell span {
    visibility: hidden;
}

    .srm-testing-connection-msgbox img {
        position: absolute;
        left: 4px;
        top: 4px;
        height: 16px;
        width: 16px;
    }

    .srm-testing-connection-msgbox span {
        white-space: normal;
    }

    .srm-testing-connection-msgbox a {
        color: #336699;
    }

    .srm-testing-connection-msgbox a:hover {
        cursor: pointer;
    }

.SRM-TreeNode-statusIcon {
    vertical-align: top ;
}

.SRM-vertical-align-middle {
    vertical-align:middle
}

.srm-learn-more-link {
    padding-left: 3px;
}

.srm-issue-status-icon {
    margin: -1px 0;
}

.srm-issues-item {
    padding: 2px 0;
}
.srm_details_table .srm-issues-item {
    word-break: keep-all;
}
.srm-breadcrumbbar-link {
    color: #333333 !important;
}