﻿.srm-latency-drilldown-button {
    padding: 0px;
    text-align: center;
    height: 20px;
    font-size: 11px;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 0 -4px 0 0;
    white-space: nowrap;
    border-style: solid !important;
    border-width: 1.4px !important;
    border-color: rgb(210, 210, 210);
    background-image: url(/Orion/SRM/images/bg_button_gradient.png);
    background-repeat: repeat-x;
    color: #666;
 }
.srm-latency-drilldown-button-selected {
    text-align: center;
    height: 20px;
    font-size: 11px;
    font-weight: bold;
    padding: 0px;
    margin: 0 -4px 0 0;
    white-space: nowrap;
    border-style: solid !important;
    border-width: 1.4px !important;
    border-color: rgb(210, 210, 210);
    outline-width: 0;
    background-image: url(/Orion/SRM/images/bg_button_gradient_selected.png);
    background-repeat: repeat-x;
    color: #666;
}

.srm-latency-drilldown-buttons {
    margin-bottom: 10px;
}

