﻿table.StorageObjects 
{
	border: #e1e1e0 solid 1px;
	margin: 0px;
	padding: 0px;
}

table.StorageObjects td 
{
	padding-right: 0px;
}
.GroupSection
{
	background-color:#e1e1e0;
	background-image: url('/Orion/Nodes/images/background/bg_groupby.gif');
	background-repeat: repeat-x;
	margin: 0px;
    width: 100%;
    border-width: 1px;
    border-color: #d0d0d0;
    min-width: 200px;
}
.GroupSection > select
{
	padding: 2px;
    width: 100%;
}
.SelectedGroupItem > div
{
	background: #F9F9F9 url(/Orion/js/extjs/resources/images/default/grid/grid3-hrow.gif) repeat-x scroll 0 bottom;
    padding: 5px 5px 5px 5px;
}

button.StorageObjects-Search
{
    background-image:url(/Orion/images/search_button.gif) !important;
}

.SRM-StorageObjects-ClickableResult {
    cursor:pointer;
    width: 100%;
}

.SRM-StorageObjects-ProviderGrid .x-grid3-row  {  
    height:21px;
} 