﻿
.HeaderTable tr td
{
	border-bottom-style: none!important;
}

#adminContent table tr th, #adminContent table tr td
{
	border-bottom: thin solid #dddddd;
	padding-bottom: .1em;
	padding-top: .2em;
}

#adminContent table tr td h2
{
	margin-bottom: 0em;
	padding-bottom: 0em;
}

#adminContent table
{
    width: 100%;
}

#adminContent table tr th, #adminContent table tr td
{
    border-bottom: thin solid #dddddd;
}

#adminContent table tr td
{
    font-size: 8pt;
}

#adminContent table tr th
{
    text-align: left;
    font-size: 9pt;
}

#adminContent table tr th, #adminContent table tr td
{
    white-space: nowrap;
    padding-right: .5em;
    font-size: 8pt;
}

#adminContent table tr td.allowWrap
{
    white-space: normal;
}