﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SipTrunkAudioCallActivity.ascx.cs" Inherits="Orion.Voip.Resources.SipTrunkChartsXui.OrionVoipResourcesSipTrunkChartsXuiSipTrunkAudioCallActivity" %>
<orion:ResourceWrapper ID="ResourceWrapper" runat="server" ShowEditButton="true" CssClass="XuiResourceWrapper">
    <Content>
        <div class="xui">
            <<%=Selector%>></<%=Selector%>>
        </div>
    </Content>
</orion:ResourceWrapper>