﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="DatabaseFileSizeChart.ascx.cs" Inherits="Orion_APM_Resources_ExchangeBlackBox_DatabaseFileSizeChart" %>
<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
        <asp:PlaceHolder runat="server" ID="WrapperContents"></asp:PlaceHolder>
    </Content>
</orion:resourceWrapper> 