﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EmailsDisplacement.ascx.cs" Inherits="Orion_APM_Resources_ExchangeBlackBox_EmailsDisplacement" %>

<orion:resourceWrapper ID="Wrapper" runat="server">
    <Content>
        <asp:PlaceHolder ID="WrapperContents" runat="server" />
    </Content>
</orion:resourceWrapper> 