﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MailboxSizeChart.ascx.cs" Inherits="Orion_APM_Resources_ExchangeBlackBox_MailboxSizeChart" %>
<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
        <asp:PlaceHolder ID="contentPlaceHolder" runat="server">
            <asp:PlaceHolder runat="server" ID="WrapperContents"></asp:PlaceHolder>
        </asp:PlaceHolder>
    </Content>
</orion:resourceWrapper>
