﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="FavoriteIconCellContent.ascx.cs" Inherits="Orion_Toolset_Controls_FavoriteIconCellContent" %>

<asp:ImageButton runat="server" ID="FavoriteIcon" OnClick="FavoriteIcon_Click" />