﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="IISAverageNetworkTraffic.ascx.cs" Inherits="Orion_APM_Resources_IisBlackBox_IISAverageNetworkTraffic" %>
<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
        <asp:PlaceHolder ID="WrapperContents" runat="server" />
    </Content>
</orion:resourceWrapper> 