﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SiteAvailabilityChart.ascx.cs" Inherits="Orion_APM_Resources_IisBlackBox_SiteAvailabilityChart" %>
<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
        <asp:PlaceHolder runat="server" ID="WrapperContents"></asp:PlaceHolder>
    </Content>
</orion:resourceWrapper>
