// Mixins
// --------------------------------------------------

// Utilities
@import "mixins/hide-text.less";
@import "mixins/opacity.less";
@import "mixins/image.less";
@import "mixins/labels.less";
@import "mixins/reset-filter.less";
@import "mixins/resize.less";
@import "mixins/responsive-visibility.less";
@import "mixins/size.less";
@import "mixins/tab-focus.less";
@import "mixins/reset-text.less";
@import "mixins/text-emphasis.less";
@import "mixins/text-overflow.less";
@import "mixins/vendor-prefixes.less";
@import "mixins/touch-action.less";
@import "mixins/fill.less";
@import "mixins/vertical-align.less";
@import "mixins/no-select.less";
@import "mixins/no-shadow.less";
@import "mixins/list-item";

// Components
@import "mixins/alerts.less";
@import "mixins/buttons.less";
@import "mixins/panels.less";
@import "mixins/pagination.less";
@import "mixins/list-group.less";
@import "mixins/nav-divider.less";
@import "mixins/forms.less";
@import "mixins/progress-bar.less";
@import "mixins/table-row.less";

// Skins
@import "mixins/background-variant.less";
@import "mixins/border-radius.less";
@import "mixins/gradients.less";

// Layout
@import "mixins/clearfix.less";
@import "mixins/center-block.less";
@import "mixins/center-children-vertically.less";
@import "mixins/nav-vertical-align.less";
@import "mixins/grid-framework.less";
@import "mixins/grid.less";


// TODO: find an appropriate home for this
.default-drop-shadow() {
    .box-shadow(0 1px 5px 0 @xui-color-drop-shadow);
}

.overlay(@background:@xui-color-light-bg, @opacity:0.8) {
    .fill();
    background-color: @background;
    opacity: @opacity;
    text-align: center;
    overflow: hidden;
}

.generate-emphasizes(@colors, @i: 1) when (@i =< length(@colors)) {
    @name: extract(@colors, @i);
    .@{name}::after {
        background-color: @@name;
    }
    .generate-emphasizes(@colors, (@i + 1));
}
