//
// Defines the color scheme of the Apollo look and feel.
//
// Add '/* SECTION: nameOfSection' to create a named section and include
// colors into it (all colors from that point until next section will
// be included)
// Add '// unofficial' at the end of line for not including the color
// into section and thus not to display it in api-docs/demo
// --------------------------------------------------
@import (reference) "xui-framework-palette.less";

/* backgrounds */
/* SECTION: backgrounds */
@xui-color-light-bg: @white;
@xui-color-light-bg-hvr: @white-hvr;
@xui-color-zebra-bg: @zebra-gray;
@xui-color-zebra-bg-hvr: @zebra-gray-hvr;
@xui-color-input-bg: @white;
@xui-color-input-bg-hvr: @white-hvr;
@xui-color-default-bg: @background-gray;
@xui-color-disabled-bg: @background-gray;
@xui-color-shaded-bg: @info-blue-bg;
@xui-color-shaded-bg-hvr: @info-blue-bg-hvr;
@xui-color-selected-bg: @selected-blue;
@xui-color-selected-bg-hvr: @selected-blue-hvr;
@xui-color-selected-text: @text-black;
@xui-color-dark-bg: @menu-black;
@xui-color-menu-dark-bg: @dark-black;
@xui-color-pitch-dark-bg: @black;
@xui-color-header: @text-gray;
@xui-color-header-bg: @primary-blue;
@xui-color-header-hvr: @header-gray-hvr;

/* texts */
/* SECTION: texts */
@xui-color-default-text: @text-black;
@xui-color-secondary-text: @text-gray;
@xui-color-neutral-text: @text-gray;
@xui-color-active-text: @white;
@xui-color-inverse-text: @white;
@xui-color-inverse-text-dark: @gray-text-dark-bg;
@xui-color-link-text: @link-blue;
@xui-color-link-hover-text: @hover-blue;

/* borders & dividers */
/* SECTION: borders & dividers */
@xui-color-border: @line-gray;
@xui-color-border-hvr: @line-gray-hvr;
@xui-color-border-dark: @gray-text-dark-bg;
@xui-color-selected: @selected-dark-blue;
@xui-color-selected-border: @info-blue;
@xui-color-divider: @line-gray;
@xui-color-focused-border: @selected-dark-blue-hvr;
@xui-color-selected-outline: @info-blue;
@xui-color-selected-drag: @selected-blue;
@xui-color-selected-drag-halo: fade(@selected-blue-hvr,70%);

/* effects & interactions */
/* SECTION: effects & interactions */
@xui-color-icon-brush-light: @white;
@xui-color-hover-light: @white;
@xui-color-overlay: fade(@white,70%);
@xui-color-box-shadow-pop: fade(@text-black,30%);
@xui-color-hover-contrast: @swi-orange;
@xui-color-drop-shadow: @drop-shadow;
@xui-color-active: @primary-blue;
@xui-color-active-hover: @hover-blue;
@xui-color-inactive: @text-gray;
@xui-color-on: @ok-green;
@xui-color-progress: @fancy-cyan;

//statuses
//these colors were removed from the official palette in UIF-1173
//keeping them here pending final decision
/* SECTION: statuses */
@xui-color-hint-text: @hint-text; // unofficial
@xui-color-hint-bg: @hint-background; // unofficial
@xui-color-hint-border: @hint-outline; // unofficial

@xui-color-unknown-text: @text-black;
@xui-color-unknown-bg: @unknown-gray-bg;
@xui-color-unknown-bg-hvr: @unknown-gray-bg-hvr;
@xui-color-unknown-border: @unknown-gray;
@xui-color-unknown-border-hvr: @unknown-gray-hvr;

@xui-color-info-text: @text-black;
@xui-color-info-bg: @info-blue-bg;
@xui-color-info-bg-hvr: @info-blue-bg-hvr;
@xui-color-info-border: @info-blue;
@xui-color-info-border-hvr: @info-blue-hvr;

@xui-color-ok-text: @text-black;
@xui-color-ok-bg: @ok-green-bg;
@xui-color-ok-bg-hvr: @ok-green-bg-hvr;
@xui-color-ok-border: @ok-green;
@xui-color-ok-border-hvr: @ok-green-hvr;
@xui-color-ok-graph: @ok-green-graph;
@xui-color-ok-graph-hvr: @ok-green-graph-hvr;

@xui-color-warning-text: @text-black;
@xui-color-warning-bg: @warning-yellow-bg;
@xui-color-warning-bg-hvr: @warning-yellow-bg-hvr;
@xui-color-warning-border: @warning-yellow;
@xui-color-warning-border-hvr: @warning-yellow-hvr;

@xui-color-critical-text: @critical-red;
@xui-color-critical-bg: @critical-red-bg;
@xui-color-critical-bg-hvr: @critical-red-bg-hvr;
@xui-color-critical-border: @critical-red;
@xui-color-critical-border-hvr: @critical-red-hvr;

@xui-color-down-text: @down-red;
@xui-color-down-bg: @critical-red-bg;
@xui-color-down-bg-hvr: @critical-red-bg-hvr;
@xui-color-down-border: @down-red;
@xui-color-down-border-hvr: @down-red-hvr;

@xui-color-unmanaged-border: @unmanaged-blue;

@xui-color-unrecheable-border: @unrecheable-black;

@xui-color-external-border: @external-purple;

@xui-color-shutdown-border: @shutdown-gray;

@xui-color-sleeping-border: @unmanaged-blue;

@xui-color-unplugged-border: @unplugged-light-blue;

@xui-color-running-border: @ok-green;

@xui-color-paused-border: @shutdown-gray;

@xui-color-stopped-border: @shutdown-gray;

@xui-color-disabled-border: @shutdown-gray;

@xui-color-missing-border: @external-purple;
/* chart colors */
/* SECTION: chart colors */

@xui-chart-one-dark: @chart-blue-dark;
@xui-chart-two-dark: @chart-pink-dark;
@xui-chart-three-dark: @chart-seagreen-dark;
@xui-chart-four-dark: @chart-violet-dark;
@xui-chart-five-dark: @chart-limegreen-dark;
@xui-chart-six-dark: @chart-orange-dark;
@xui-chart-seven-dark: @chart-ultramarine-dark;
@xui-chart-eight-dark: @chart-bordeaux-dark;
@xui-chart-nine-dark: @chart-ochroid-dark;
@xui-chart-ten-dark: @chart-charcoal-dark;

@xui-chart-one: @chart-blue;
@xui-chart-two: @chart-pink;
@xui-chart-three: @chart-seagreen;
@xui-chart-four: @chart-violet;
@xui-chart-five: @chart-limegreen;
@xui-chart-six: @chart-orange;
@xui-chart-seven: @chart-ultramarine;
@xui-chart-eight: @chart-bordeaux;
@xui-chart-nine: @chart-ochroid;
@xui-chart-ten: @chart-charcoal;

@xui-chart-one-light: @chart-blue-light;
@xui-chart-two-light: @chart-pink-light;
@xui-chart-three-light: @chart-seagreen-light;
@xui-chart-four-light: @chart-violet-light;
@xui-chart-five-light: @chart-limegreen-light;
@xui-chart-six-light: @chart-orange-light;
@xui-chart-seven-light: @chart-ultramarine-light;
@xui-chart-eight-light: @chart-bordeaux-light;
@xui-chart-nine-light: @chart-ochroid-light;
@xui-chart-ten-light: @chart-charcoal-light;

/* brand colors */
/* SECTION: brand colors */
@xui-color-brand-1: @swi-orange;
@xui-color-brand-1-hvr: @swi-orange-hvr;
@xui-color-brand-2: @black;
@xui-color-brand-3: @white;
@xui-color-brand-4: @UNSET;
@xui-color-brand-5: @UNSET;

/* content */
//input
@xui-color-input-focus: @hover-blue; // unofficial

//scrollbar
@xui-color-scrollbar: @gray-lightish; // unofficial

//slider
@xui-color-slider-main: @primary-blue; // unofficial
@xui-color-slider-main-hvr: @selected-blue-hvr; // unofficial
@xui-color-slider-secondary: @white; // unofficial
@xui-color-slider-disabled: @xui-color-border-dark; // unofficial
@xui-color-slider-step-fill: @text-gray; // unofficial

// icons
@xui-color-icon-light-blue: @link-blue-dark-bg;
@xui-color-icon-primary-blue: @primary-blue;
@xui-color-icon-gray: @text-gray;
@xui-color-icon-orange: @xui-color-brand-1;
