/* SECTION: status */
//
// Add '/* SECTION: nameOfSection' to create a named section and include
// colors into it (all colors from that point until next section will
// be included)
// Add '// unofficial' at the end of line for not including the color
// into section and thus not to display it in api-docs/demo

//these colors were removed from the official palette in UIF-1173
// keeping them here pending final decision
@hint-text: #8E6708; //unofficial
@hint-outline: #D1BC6B; //unofficial
@hint-background: #F8F5E9; //unofficial

@ok-green: #30B230;
@ok-green-hvr: #2aaa2a;
@ok-green-bg: #e7f4df;
@ok-green-bg-hvr: #def0d4;
@ok-green-graph: #c1e2b0;
@ok-green-graph-hvr: #b3da9f;

@warning-yellow: #FEC405;
@warning-yellow-hvr: #febb04;
@warning-yellow-bg: #fcf8e0;
@warning-yellow-bg-hvr: #faf4d0;

@critical-red: #D50000;
@critical-red-hvr: #c00000;
@critical-red-bg: #FFE4E0;
@critical-red-bg-hvr: #FFDAD5;

@down-red: #950000;
@down-red-hvr: #860000;

@unknown-gray: #D5D5D5;
@unknown-gray-hvr: #cccccc;
@unknown-gray-bg: #f6f6f6;
@unknown-gray-bg-hvr: #eaeaea;

@info-blue: #abd5e3;
@info-blue-hvr: #a0cede;
@info-blue-bg: #e6eff3;
@info-blue-bg-hvr: #d4e3ea;

@unmanaged-blue: #7590C9;

@unrecheable-black: #646464;

@external-purple: #9966CC;

@shutdown-gray: #D5D5D5;

@unplugged-light-blue: #3CAADD;

/* SECTION: orion palette */
@white: #FFFFFF;
@white-hvr: #f6f6f6;
@zebra-gray: #F6F6F6;
@zebra-gray-hvr: #f0f0f0;
@header-gray: #eaeaea;
@header-gray-hvr: #e4e4e4;
@line-gray: #D5D5D5;
@line-gray-hvr: #AAAAAA;
@gray-text-dark-bg: #AAAAAA;
@text-gray: #767676;
@text-black: #333333;
@menu-black: #272727;
@dark-black: #1D1D1D;
@background-gray:#dfe0e1;

@selected-blue: #E2F1F5;
@selected-blue-hvr: #cfe4ea;
@link-blue: #0079AA;
@link-blue-dark-bg: #33a6cd;
@primary-blue: #297994;
@hover-blue: #23677e;
@selected-dark-blue: #204A63;
@selected-dark-blue-hvr: #19394c;

//added as part of UIF-1546
@fancy-cyan: #00c4d2;

@swi-orange: #F99D1C;
@swi-orange-hvr: #E18D19;
@swi-gray: #666666;

@black: #000;

@UNSET:magenta; //should not be used in production; used only during development

/* SECTION: bootstrap palette (do not use) */
@silver:                #c0c0c0;
@divider:               #e5e5e5;
@white-smoke:           #f5f5f5;
@drop-shadow:           #B9B9B9;

@code-color:            #c7254e;
@code-bg:               #f9f2f4;

@gradient-start:#00b3ee;
@gradient-mid:#7a43b6;
@gradient-end:#c3325f;

@gray-base:              @black;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              #333;
@grayish:                #444;
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighty:            #888;
@gray-lightier:          #999;
@gray-lightish:          #ccc;
@gray-lightisher:        #ddd;
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

/* SECTION: chart colors */

@chart-blue-dark: #176998;
@chart-pink-dark: #A31770;
@chart-seagreen-dark: #177D6F;
@chart-violet-dark: #6B458B;
@chart-limegreen-dark: #7E7E29;
@chart-orange-dark: #A35617;
@chart-ultramarine-dark:#000096;
@chart-bordeaux-dark: #6D423E;
@chart-ochroid-dark: #7E6431;
@chart-charcoal-dark:#555555;

@chart-blue:#0097eb;
@chart-pink:#ff00a3;
@chart-violet:#9954d4;
@chart-seagreen:#00bba1;
@chart-orange:#ff7300;
@chart-limegreen:#bcbd22;
@chart-ultramarine: #6666C0;
@chart-bordeaux:#9e5048;
@chart-ochroid:#bc8d30;
@chart-charcoal: #858585;

@chart-blue-light:#a6dbf8;
@chart-pink-light:#ffa6df;
@chart-seagreen-light:#a6e7de;
@chart-violet-light:#dcc3f0;
@chart-limegreen-light:#e8e8b2;
@chart-ultramarine-light:#a6a6db;
@chart-orange-light:#ffcea6;
@chart-bordeaux-light:#ddc2bf;
@chart-ochroid-light:#e8d7b7;
@chart-charcoal-light:#c2c2c2;

/* DATA SERIES COLORS */

@xui-series1:#95E9F2; // unofficial , no matching xui class
@xui-series2:#F9C6DB; // unofficial , no matching xui class
@xui-series3:#BCBDDA; // unofficial , no matching xui class
@xui-series4:#D0E1F2; // unofficial , no matching xui class
@xui-series5:#fdd0a2; // unofficial , no matching xui class
@xui-series6:#dbdb8d; // unofficial , no matching xui class
@xui-series7:#c49c94; // unofficial , no matching xui class
@xui-series8:#17becf; // unofficial , no matching xui class
@xui-series9:#e377c2; // unofficial , no matching xui class
@xui-series10:#8B87BE; // unofficial , no matching xui class
@xui-series11:#6baed6; // unofficial , no matching xui class
@xui-series12:#118F9C; // unofficial , no matching xui class
@xui-series13:#a55194; // unofficial , no matching xui class
@xui-series14:#6b6ecf; // unofficial , no matching xui class
@xui-series15:#1f77b4; // unofficial , no matching xui class
@xui-series16:#fd8d3c; // unofficial , no matching xui class
@xui-series17:#bcbd22; // unofficial , no matching xui class
@xui-series18:#8c564b; // unofficial , no matching xui class
