@import (reference) "xui-framework-colors.less";

//
// These variables are the same variables from Bootstrap, we are overriding
// nearly all of them to create a new theme.  Additionally, the two variable
// sets are merged (with SolarWinds taking precedence) to provide common LESS
// variables to the UI developers.
// --------------------------------------------------

// == Fonts
@xui-font-family: 'Open Sans';
@xui-monospace-family: 'Source Code Pro', monospace;

@xui-font-weight-light:    300;
@xui-font-weight-regular:  400;
@xui-font-weight-semibold: 600;
@xui-font-weight-bold:     700;

@xui-font-size-xsmall:      8px;
@xui-font-size-small:       11px;
@xui-font-size-regular:     12px;
@xui-font-size-large:       14px;
@xui-font-size-xlarge:      16px;
@xui-font-size-xxlarge:     18px;

@xui-line-height-xxlarge: 24px;
@xui-line-height-xlarge: 22px;
@xui-line-height-large: 18px;
@xui-line-height-regular: 16px;
@xui-line-height-small: 14px;

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@brand-primary:         @xui-color-link-text; // link color
@brand-success:         @xui-color-ok-bg;
@brand-info:            @xui-color-info-bg;
@brand-warning:         @xui-color-warning-bg;
@brand-danger:          @xui-color-critical-bg;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               @xui-color-default-bg;
//** Global text color on `<body>`.
@text-color:            @xui-color-default-text;

//** Global textual link color.
@link-color:            @xui-color-link-text;
//** Link hover color set via `darken()` function.
@link-hover-color:      @xui-color-link-text;
//** Link hover decoration.
@link-hover-decoration: underline;

//== Disabled state for non-form element controls (so used for buttons, etc.)
@disabled-opacity: .4;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;



//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.666666666666667; // 20/12
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    floor((@xui-font-size-regular * @line-height-base)); // ~20px

//** By default, this inherits from the `<body>`.
@headings-font-family:    inherit;
@headings-line-height:    1.1;

//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.
@icon-font-path:          "../fonts/";
//** File name for all font files.
@icon-font-name:          "glyphicons-halflings-regular";
//** Element ID within SVG icon file.
@icon-font-svg-id:        "glyphicons_halflingsregular";
@icon-size-xsmall: 10px;
@icon-size-small: 16px;
@icon-size-default: 20px;
@icon-size-large: 40px;
@icon-size-xlarge: 60px;

@icon-label-size-xsmall:  10px;
@icon-label-size-small:   10px;
@icon-label-size-default: 16px;
@icon-label-size-large:   25px;
@icon-label-size-xlarge:  40px;

//== Images
//
//## Some predefined values for images
//** Base width
@image-size-base: 70%;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).
@padding-base-vertical:     5px;
@padding-base-horizontal:   10px;

@padding-large-vertical:    10px;
@padding-large-horizontal:  15px;

@padding-small-vertical:    4px;
@padding-small-horizontal:  10px;

@padding-xs-vertical:       2px;
@padding-xs-horizontal:     5px;

@margin-base-vertical:			5px;
@margin-base-horizontal:		10px;

@margin-large-vertical:			10px;
@margin-large-horizontal: 	    15px;

@margin-small-vertical:			4px;
@margin-small-horizontal:		10px;

@line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
@line-height-small:         1.5;

@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

//** Global color for active items (e.g., navs or dropdowns).
@component-active-color:    @xui-color-selected-text;
//** Global background color for active items (e.g., navs or dropdowns).
@component-active-bg:       @xui-color-selected-bg;

//** Width of the `border` for generating carets that indicator dropdowns.
@caret-width-base:          4px;
//** Carets increase slightly in size for larger components.
@caret-width-large:         5px;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
@table-cell-padding:            4px;
//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding:  3px;

//** Default background color used for all tables.
@table-bg:                      @xui-color-light-bg;
//** Background color used for `.table-striped`.
@table-bg-accent:               @xui-color-zebra-bg;
//** Background color used for `.table-hover`.
@table-bg-hover:                @xui-color-selected-bg;
@table-bg-active:               @table-bg-hover;

//** Border color for table and cell borders.
@table-border-color:            transparent;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

@btn-wrong-color:                @UNSET;

@btn-default-color:              @xui-color-active;
@btn-default-bg:                 transparent;
@btn-default-border:             @xui-color-border;
@btn-default-bg-hover:           @white-hvr;

@btn-primary-color:              @xui-color-active-text;
@btn-primary-bg:                 @xui-color-active;
@btn-primary-border:             @xui-color-active;

@btn-secondary-color:            @xui-color-active;
@btn-secondary-bg:               transparent;
@btn-secondary-border:           @xui-color-active;

@btn-success-color:              @white;
@btn-success-bg:                 @xui-color-ok-border;
@btn-success-border:             @xui-color-ok-border;

@btn-info-color:                 @xui-color-active-text;
@btn-info-bg:                    @xui-color-active;
@btn-info-border:                @xui-color-active;

@btn-warning-color:              @btn-wrong-color;
@btn-warning-bg:                 @btn-wrong-color;
@btn-warning-border:             @btn-wrong-color;

@btn-danger-color:               @white;
@btn-danger-bg:                  @xui-color-critical-border;
@btn-danger-border:              @xui-color-critical-border;

@btn-link-disabled-color:        @link-hover-color;

// Allows for customizing button radius independently from global border radius
@btn-border-radius-base:         @border-radius-base;
@btn-border-radius-large:        @border-radius-large;
@btn-border-radius-small:        @border-radius-small;

//== Forms
//
//##

//** `<input>` background color
@input-bg:                       @xui-color-light-bg;
//** `<input disabled>` background color
@input-bg-disabled:              @xui-color-disabled-bg;

//** Text color for `<input>`s
@input-color:                    @xui-color-default-text;
//** `<input>` border color
@input-border:                   @xui-color-border;

// TODO: Rename `@input-border-radius` to `@input-border-radius-base` in v4
//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
@input-border-radius:            @border-radius-base;
//** Large `.form-control` border radius
@input-border-radius-large:      @border-radius-large;
//** Small `.form-control` border radius
@input-border-radius-small:      @border-radius-small;

//** Border color for inputs on focus
@input-border-focus:             @xui-color-focused-border;

//** Placeholder text color
@input-color-placeholder:        @xui-color-secondary-text;

//** Default `.form-control` height
@input-height-base:              (@line-height-computed + (@padding-base-vertical * 2));
//** Large `.form-control` height
@input-height-large:             (ceil(@xui-font-size-large * @line-height-large) + (@padding-large-vertical * 2));
//** Small `.form-control` height
@input-height-small:             (floor(@xui-font-size-small * @line-height-small) + (@padding-small-vertical * 2) - 2);

//** `.form-group` margin
@form-group-margin-bottom:       @padding-large-horizontal;

@legend-color:                   @xui-color-secondary-text;
@legend-border-color:            @xui-color-border;

//** Background color for textual input addons
@input-group-addon-bg:           @xui-color-light-bg;
//** Border color for textual input addons
@input-group-addon-border-color: @input-border;

//** Disabled cursor for form controls and buttons.
@cursor-disabled:                not-allowed;


//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
@dropdown-bg:                    @xui-color-light-bg;
//** Dropdown menu `border-color`.
@dropdown-border:                @xui-color-border-dark;
//** Dropdown menu `border-color` **for IE8**.
@dropdown-fallback-border:       @xui-color-border;
//** Divider color for between dropdown items.
@dropdown-divider-bg:            @xui-color-border;

//** Dropdown link text color.
@dropdown-link-color:            @xui-color-default-text;
//** Hover color for dropdown links.
@dropdown-link-hover-color:      @xui-color-default-text;
//** Hover background for dropdown links.
@dropdown-link-hover-bg:         @xui-color-light-bg-hvr;

//** Active dropdown menu item text color.
@dropdown-link-active-color:     @component-active-color;
//** Active dropdown menu item background color.
@dropdown-link-active-bg:        @component-active-bg;

//** Disabled dropdown menu item background color.
@dropdown-link-disabled-color:   @gray-light;

//** Text color for headers within dropdown menus.
@dropdown-header-color:          @xui-color-secondary-text;

//** Deprecated `@dropdown-caret-color` as of v3.1.0
@dropdown-caret-color:           @black;


//== Search bar group
@search-group-min-width: 180px;
@search-group-max-width: 400px;

//== Switch
@switch-width: 56px;
@switch-height: 20px;
@switch-toggle-width: 26px;
@switch-toggle-height: 16px;
@switch-toggle-padding: 2px;
@switch-font-size: @xui-font-size-small;

//== Wizard
@wizard-steps-bg: @panel-default-heading-bg;
@wizard-steps-border-color: @panel-default-border;
@wizard-steps-border-thickness: 1px;
@wizard-vertical-margin: 12px;
@wizard-horizontal-margin: 20px;
@wizard-min-button-width: 100px;
@wizard-step-break-width: 40px;

//== Toolbar
@toolbar-border-width: 1px;

//== Content
@content-size-large: 400px;
@content-size-base: 200px;
@content-size-small: 100px;

//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

@zindex-active:             500;

@zindex-navbar:            1000;
@zindex-dropdown:          1000;
@zindex-popover:           1060;
@zindex-tooltip:           1070;
@zindex-navbar-fixed:      1030;
@zindex-modal-background:  1040;
@zindex-modal:             1050;
@zindex-busy:              1030;
@zindex-busy-in-modal:     1060;
@zindex-toast:             1070;
@zindex-drag:              2000;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         30px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-sm-min;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
@container-tablet:             (720px + @grid-gutter-width);
//** For `@screen-sm-min` and up.
@container-sm:                 @container-tablet;

// Medium screen / desktop
@container-desktop:            (940px + @grid-gutter-width);
//** For `@screen-md-min` and up.
@container-md:                 @container-desktop;

// Large screen / wide desktop
@container-large-desktop:      (1140px + @grid-gutter-width);
//** For `@screen-lg-min` and up.
@container-lg:                 @container-large-desktop;


//== Navbar
//
//##

// Basics of a navbar
@navbar-height:                    50px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-border-radius:             @border-radius-base;
@navbar-padding-horizontal:        floor((@grid-gutter-width / 2));
@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);
@navbar-collapse-max-height:       340px;

@navbar-default-color:             @gray-light;
@navbar-default-bg:                @white-smoke;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);

// Navbar links
@navbar-default-link-color:                @gray-light;
@navbar-default-link-hover-color:          @gray-dark;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         @gray;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color:       @gray-lightish;
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
@navbar-default-toggle-hover-bg:           @gray-lightisher;
@navbar-default-toggle-icon-bar-bg:        @gray-lighty;
@navbar-default-toggle-border-color:       @xui-color-border;


// Inverted navbar
// Reset inverted navbar basics
@navbar-inverse-color:                      lighten(@gray-light, 15%);
@navbar-inverse-bg:                         @gray-darker;
@navbar-inverse-border:                     darken(@navbar-inverse-bg, 10%);

// Inverted navbar links
@navbar-inverse-link-color:                 lighten(@gray-light, 15%);
@navbar-inverse-link-hover-color:           @white;
@navbar-inverse-link-hover-bg:              transparent;
@navbar-inverse-link-active-color:          @navbar-inverse-link-hover-color;
@navbar-inverse-link-active-bg:             darken(@navbar-inverse-bg, 10%);
@navbar-inverse-link-disabled-color:        @grayish;
@navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
@navbar-inverse-brand-color:                @navbar-inverse-link-color;
@navbar-inverse-brand-hover-color:          @white;
@navbar-inverse-brand-hover-bg:             transparent;

// Inverted navbar toggle
@navbar-inverse-toggle-hover-bg:            @gray-dark;
@navbar-inverse-toggle-icon-bar-bg:         @white;
@navbar-inverse-toggle-border-color:        @gray-dark;


//== Navs
//
//##

//=== Shared nav styles
@nav-link-padding:                          10px 15px;
@nav-link-hover-bg:                         @gray-lighter;

@nav-disabled-link-color:                   @gray-light;
@nav-disabled-link-hover-color:             @gray-light;

//== Tabs
@nav-tabs-border-color:                     @xui-color-border;

@nav-tabs-link-hover-border-color:          @gray-lighter;

@nav-tabs-active-link-hover-bg:             @body-bg;
@nav-tabs-active-link-hover-color:          @gray;
@nav-tabs-active-link-hover-border-color:   @xui-color-border;

@nav-tabs-justified-link-border-color:            @xui-color-border;
@nav-tabs-justified-active-link-border-color:     @body-bg;

//== Pills
@nav-pills-border-radius:                   @border-radius-base;
@nav-pills-active-link-hover-bg:            @component-active-bg;
@nav-pills-active-link-hover-color:         @component-active-color;


//== Pagination
//
//##

@pagination-color:                     @link-color;
@pagination-bg:                        @white;
@pagination-border:                    @xui-color-border;

@pagination-hover-color:               @link-hover-color;
@pagination-hover-bg:                  @gray-lighter;
@pagination-hover-border:              @xui-color-border;

@pagination-active-color:              @white;
@pagination-active-bg:                 @xui-color-link-text;
@pagination-active-border:             @xui-color-link-text;

@pagination-disabled-color:            @gray-light;
@pagination-disabled-bg:               @white;
@pagination-disabled-border:           @xui-color-border;


//== Pager
//
//##

@pager-bg:                             @pagination-bg;
@pager-border:                         @pagination-border;
@pager-border-radius:                  15px;

@pager-hover-bg:                       @pagination-hover-bg;

@pager-active-bg:                      @pagination-active-bg;
@pager-active-color:                   @pagination-active-color;

@pager-disabled-color:                 @pagination-disabled-color;


//== Jumbotron
//
//##

@jumbotron-padding:              30px;
@jumbotron-color:                inherit;
@jumbotron-bg:                   @gray-lighter;
@jumbotron-heading-color:        inherit;
@jumbotron-font-size:            ceil((@xui-font-size-regular * 1.5));
@jumbotron-heading-font-size:    ceil((@xui-font-size-regular * 4.5));


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

@state-success-text:             @xui-color-ok-text;
@state-success-bg:               @xui-color-ok-bg;
@state-success-border:           @xui-color-ok-border;

@state-info-text:                @xui-color-info-text;
@state-info-bg:                  @xui-color-info-bg;
@state-info-border:              @xui-color-info-border;

@state-warning-text:             @xui-color-warning-text;
@state-warning-bg:               @xui-color-warning-bg;
@state-warning-border:           @xui-color-warning-border;

@state-danger-text:              @xui-color-critical-text;
@state-danger-bg:                @xui-color-critical-bg;
@state-danger-border:            @xui-color-critical-border;


//== Tooltips
//
//##

//** Tooltip max width
@tooltip-max-width:           200px;
//** Tooltip text color
@tooltip-color:               @xui-color-inverse-text;
//** Tooltip background color
@tooltip-bg:                  @xui-color-pitch-dark-bg;
@tooltip-opacity:             .9;

//** Tooltip arrow width
@tooltip-arrow-width:         5px;
//** Tooltip arrow color
@tooltip-arrow-color:         @tooltip-bg;

@xui-tooltip-bg: @xui-color-selected-bg;
@xui-tooltip-border: @xui-color-border;

//== Popovers
//
//##

//** Popover body background color
@popover-bg:                          @white;
//** Popover maximum width
@popover-max-width:                   350px;
//** Popover border color
@popover-border-color:                @xui-color-border-dark;
//** Popover fallback border color
@popover-fallback-border-color:       @xui-color-border;

//** Popover title background color
@popover-title-bg:                    darken(@popover-bg, 3%);

//** Popover arrow width
@popover-arrow-width:                 4px;
//** Popover arrow color
@popover-arrow-color:                 @popover-bg;

@popover-margin:                      5px;
//** Popover outer arrow width
@popover-arrow-outer-width:           (@popover-arrow-width + 1);
//** Popover outer arrow color
@popover-arrow-outer-color:           fadein(@popover-border-color, 5%);
//** Popover outer arrow fallback color
@popover-arrow-outer-fallback-color:  darken(@popover-fallback-border-color, 20%);
@xui-popover-title-font-size:         13px;
@xui-popover-min-width:               200px;

//== Labels
//
//##

//** Default label background color
@label-default-bg:            @gray-light;
//** Primary label background color
@label-primary-bg:            @primary-blue;
//** Success label background color
@label-success-bg:            @ok-green;
//** Info label background color
@label-info-bg:               @link-blue;
//** Warning label background color
@label-warning-bg:            @warning-yellow;
//** Danger label background color
@label-danger-bg:             @critical-red;

//** Default label text color
@label-color:                 @white;
//** Default text color of a linked label
@label-link-hover-color:      @white;


//== Modals
//
//##

//** margin applied to the modal content
@modal-content-margin:        80px;

//** Padding applied to the modal body
@modal-inner-padding:         15px;

//** Padding applied to the modal title
@modal-title-padding:         18px;
//** Modal title line-height
@modal-title-line-height:     20px;

//** Background color of modal content area
@modal-content-bg:                             @white;
//** Modal content border color
@modal-content-border-color:                   rgba(0,0,0,.2);
//** Modal content border color **for IE8**
@modal-content-fallback-border-color:          @gray-lightier;

//** Modal backdrop background color
@modal-backdrop-bg:           @xui-color-pitch-dark-bg;
//** Modal backdrop opacity
@modal-backdrop-opacity:      .5;
//** Modal header border color
@modal-header-border-color:   @divider;
@modal-header-color: @btn-primary-color;

//** Modal footer border color
@modal-footer-border-color:   @modal-header-border-color;

@modal-lg:                    900px;
@modal-md:                    600px;
@modal-sm:                    300px;


//== Alerts
//
//## Define alert colors, border radius, and padding.

@alert-padding:               @padding-base-horizontal;
@alert-border-radius:         @border-radius-base;
@alert-border-width:          1px;
@alert-link-font-weight:      @xui-font-weight-bold;
@alert-icon-size:             @icon-size-default;
@alert-dismiss-button-size:   @icon-size-default;

@alert-success-bg:            @state-success-bg;
@alert-success-text:          @state-success-text;
@alert-success-border:        @state-success-border;

@alert-info-bg:               @state-info-bg;
@alert-info-text:             @state-info-text;
@alert-info-border:           @state-info-border;

@alert-warning-bg:            @state-warning-bg;
@alert-warning-text:          @state-warning-text;
@alert-warning-border:        @state-warning-border;

@alert-danger-bg:             @state-danger-bg;
@alert-danger-text:           @state-danger-text;
@alert-danger-border:         @state-danger-border;


//== Progress bars
//
//##

//** Background color of the whole progress component
@progress-bg:                 @white-smoke;
//** Progress bar text color
@progress-bar-color:          @white;
//** Variable for setting rounded corners on progress bar.
@progress-border-radius:      @border-radius-base;

//** Default progress bar color
@progress-bar-bg:             @xui-color-link-text;
//** Success progress bar color
@progress-bar-success-bg:     @xui-color-ok-bg;
//** Warning progress bar color
@progress-bar-warning-bg:     @xui-color-warning-bg;
//** Danger progress bar color
@progress-bar-danger-bg:      @xui-color-critical-bg;
//** Info progress bar color
@progress-bar-info-bg:        @xui-color-info-bg;


//== List group
//
//##

//** Background color on `.list-group-item`
@list-group-bg:                 @white;
//** `.list-group-item` border color
@list-group-border:             @gray-lightisher;
//** List group border radius
@list-group-border-radius:      @border-radius-base;

//** Background color of single list items on hover
@list-group-hover-bg:           @white-smoke;
//** Text color of active list items
@list-group-active-color:       @component-active-color;
//** Background color of active list items
@list-group-active-bg:          @component-active-bg;
//** Border color of active list elements
@list-group-active-border:      @list-group-active-bg;
//** Text color for content within active list items
@list-group-active-text-color:  lighten(@list-group-active-bg, 40%);

//** Text color of disabled list items
@list-group-disabled-color:      @gray-light;
//** Background color of disabled list items
@list-group-disabled-bg:         @gray-lighter;
//** Text color for content within disabled list items
@list-group-disabled-text-color: @list-group-disabled-color;

@list-group-link-color:         @gray;
@list-group-link-hover-color:   @list-group-link-color;
@list-group-link-heading-color: @gray-dark;


//== Panels
//
//##

@panel-bg:                    @white;
@panel-body-padding:          15px;
@panel-heading-padding:       @panel-body-padding @panel-body-padding;
@panel-footer-padding:        @panel-heading-padding;
@panel-border-radius:         @border-radius-base;

//** Border color for elements within panels
@panel-inner-border:          @gray-lightisher;
@panel-footer-bg:             @white-smoke;

@panel-default-text:          @gray-dark;
@panel-default-border:        @gray-lightisher;
@panel-default-heading-bg:    @white-smoke;

@panel-primary-text:          @white;
@panel-primary-border:        @xui-color-link-text;
@panel-primary-heading-bg:    @xui-color-link-text;

@panel-success-text:          @state-success-text;
@panel-success-border:        @state-success-border;
@panel-success-heading-bg:    @state-success-bg;

@panel-info-text:             @state-info-text;
@panel-info-border:           @state-info-border;
@panel-info-heading-bg:       @state-info-bg;

@panel-warning-text:          @state-warning-text;
@panel-warning-border:        @state-warning-border;
@panel-warning-heading-bg:    @state-warning-bg;

@panel-danger-text:           @state-danger-text;
@panel-danger-border:         @state-danger-border;
@panel-danger-heading-bg:     @state-danger-bg;


//== Thumbnails
//
//##

//** Padding around the thumbnail image
@thumbnail-padding:           4px;
//** Thumbnail background color
@thumbnail-bg:                @body-bg;
//** Thumbnail border color
@thumbnail-border:            @gray-lightisher;
//** Thumbnail border radius
@thumbnail-border-radius:     @border-radius-base;

//** Custom text color for thumbnail captions
@thumbnail-caption-color:     @text-color;
//** Padding around the thumbnail caption
@thumbnail-caption-padding:   9px;


//== Wells
//
//##

@well-bg:                     @white;
@well-border:                 @xui-color-border;


//== Badges
//
//##

@badge-color:                 @white;
//** Linked badge text color on hover
@badge-link-hover-color:      @white;
@badge-bg:                    @gray-light;

//** Badge text color in active nav link
@badge-active-color:          @link-color;
//** Badge background color in active nav link
@badge-active-bg:             @white;

@badge-font-weight:           @xui-font-weight-bold;
@badge-line-height:           1;
@badge-border-radius:         10px;


//== Breadcrumbs
//
//##

@breadcrumb-padding-vertical:   8px;
@breadcrumb-padding-horizontal: 15px;
//** Breadcrumb background color
@breadcrumb-bg:                 @white-smoke;
//** Breadcrumb text color
@breadcrumb-color:              @gray-lightish;
//** Text color of current page in the breadcrumb
@breadcrumb-active-color:       @gray-light;
//** Textual separator for between breadcrumb elements
@breadcrumb-separator:          "/";


//== Carousel
//
//##

@carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6);

@carousel-control-color:                      @white;
@carousel-control-width:                      15%;
@carousel-control-opacity:                    .5;
@carousel-control-font-size:                  @xui-font-size-xxlarge;

@carousel-indicator-active-bg:                @white;
@carousel-indicator-border-color:             @white;

@carousel-caption-color:                      @white;


//== Close
//
//##

@close-font-weight:           @xui-font-weight-bold;
@close-color:                 @black;
@close-text-shadow:           0 1px 0 @white;


//== Code
//
//##

@kbd-color:                   @white;
@kbd-bg:                      @gray-dark;

@pre-bg:                      @white-smoke;
@pre-color:                   @gray-dark;
@pre-border-color:            @xui-color-border;
@pre-scrollable-max-height:   340px;


//== Type
//
//##

//** Horizontal offset for forms and lists.
@component-offset-horizontal: 180px;
//** Text muted color
@text-muted:                  @xui-color-secondary-text;
//** Abbreviations and acronyms border color
@abbr-border-color:           @gray-light;
//** Headings small color
@headings-small-color:        @gray-light;
//** Blockquote small color
@blockquote-small-color:      @gray-light;
//** Blockquote font size
@blockquote-font-size:        (@xui-font-size-regular * 1.25);
//** Blockquote border color
@blockquote-border-color:     @gray-lighter;
//** Page header border color
@page-header-border-color:    @gray-lighter;
//** Width of horizontal description list titles
@dl-horizontal-offset:        @component-offset-horizontal;
//** Horizontal line color.
@hr-border:                   @gray-lighter;



/* nav menu */
@xui-text-nav-primary: @xui-color-neutral-text;
@xui-text-nav-secondary: @xui-color-inverse-text;
@xui-text-nav-primary-selected: @xui-color-selected;
@xui-text-nav-primary-hover: @xui-color-hover-contrast;
@xui-nav-background: @xui-color-menu-dark-bg;
@xui-nav-focus-background: @xui-color-dark-bg;
@xui-nav-subtabs-background: @xui-color-light-bg;
@xui-nav-line: @xui-color-default-text;



//== xui-sidebar
//
//##
@xui-sidebar-default-width: 300px;
@xui-sidebar-expanded-width: 250px;
@xui-sidebar-collapsed-width: (@icon-size-default + (2 * @padding-base-horizontal));

//** Xui spaces

@xui-space-xs: 5px;
@xui-space-sm: 7px;
@xui-space-md: 10px;
@xui-space-lg: 15px;

