﻿.hidden {
    display: none !important;
}

#ShowPortAdvancedOptions.link {
    background: url("/Orion/Images/Button.Expand.gif") no-repeat scroll 0 0 transparent;
    color: #000000;
    display: inline-block;
    margin-bottom: 15px;
    padding-left: 20px;
    cursor: pointer;
}

    #ShowPortAdvancedOptions.link:hover {
        color: #f99d1c;
    }

.portExpressionCell {
    display: inline-block;
    margin: 5px 2px 0 2px;
}

    .portExpressionCell .property {
        width: 200px;
    }

    .portExpressionCell .operator {
        width: 250px;
    }

    .portExpressionCell .value {
        width: 200px;
    }

    .portExpressionCell.add img, .portExpressionCell.remove img {
        vertical-align: text-bottom;
    }

.tooltip {
    display: none;
    position: absolute;
    width: 200px;
}

#PortExpressionNinja {
    padding-left: 470px;
}

    #PortExpressionNinja img {
        vertical-align: middle;
    }

    #PortExpressionNinja a {
        text-decoration: none;
    }

        #PortExpressionNinja a:hover {
            text-decoration: none;
        }

.port-title {
    padding: 5px 0 5px 0;
}

table.port-table {
    width: 100%;
}

    table.port-table th {
        text-transform: uppercase;
        width: 30%;
        text-align: left;
    }

ul.port-checkboxes {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 320px;
}

    ul.port-checkboxes li {
        width: initial !important;
        padding: 2px 0;
    }

        ul.port-checkboxes li img {
            padding-right: 5px;
            position: relative;
            top: 2px;
        }

#PortExpressionNinja {
    padding-left: 380px;
}

#PortAdvancedOptions .ButtonCollapse {
    background: url("/Orion/Images/Button.Collapse.Arrow.gif") no-repeat scroll 0 0 transparent;
    color: #000000;
    display: inline-block !important;
    height: 16px;
    width: 16px;
}
