﻿/*
    This file contains style rule modifications for the Bootstrap defaults.
    Its objective is to adapt Bootstrap to our specific (Cloud Monitoring) needs.
    Include it in the header after bootstrap stylesheet.
*/

/*
    Fixes: opening the breadcrumbs dropdown makes them 2 pixels higher
*/
div.sw-hdr-breadbox div ul.breadcrumb li.bc_item {
    display: inline; /* Bootstrap sets display: inline-block */
}

/*
    Fixes: breadcrumbs have a grey background
*/
div.sw-hdr-breadbox div ul.breadcrumb {
    background-color: transparent; /* Bootstrap sets background-color: #f5f5f5 */
}

/*
    Fixes: content has no padding
*/
div.\.container-fluid {
    padding: 0 15px; /* Bootstrap sets nothing */
}

#swgenid-1 {
    padding: 0; /* ...but not on summary page, which has own padding */
}

/*
    Fixes: a "/ " prefix is added for each breadcrumb entry after the first one
*/
.breadcrumb > li + li::before {
    content: "";
    padding: 0;
}

hr {
    margin: 0; /* override 20px top and bottom margins */
}

h1, h4 {
    font-weight: bold;
}
/*
    Fixes: lost bold font style
*/