﻿
/* Cluetip hint related */

.cluetip-cloudMonitoring h3 {
    text-transform: uppercase;
	font-weight: normal;
}

.cluetip-cloudMonitoring #cluetip-outer {
    border: 1px solid #a6a6a6;
    border-top: 0;
    background-color: #f1f1f1;
    left: 18px;
}

.cluetip-cloudMonitoring #cluetip-title {
    padding: 8px;
    margin: 0;
    margin-bottom: 4px;
    font-size: 12px;
    background-color: #355C77;
    color: #FFFFFF;
}

.cluetip-cloudMonitoring #cluetip-inner {
    padding: 8px;
    background-color: #F2F2F2;
}

.cluetip-cloudMonitoring p {
    margin: 0 0 10px;
}

.cluetip-cloudMonitoring .cluetip-arrows {
    background-image: url('../Images/tooltipArrow.png');
    left: 8px;
    z-index: 98;
}

.cluetip-cloudMonitoring #cluetip-close {
    display: none;
}

.hiddenElement { 
	display: none; 
}

/* jquery ui fix for dialog windows to make them cloud style */
.ui-dialog .ui-dialog-content {
	margin: 15px;
	padding: 2px;
}

.ui-widget-content .ui-state-default {
	background: #1c6882;
}

.ui-widget-content .ui-state-hover {
	background: #204a63;
}

.ui-dialog-buttonset  .ui-button-text {
	text-transform: uppercase;
}