﻿/*

Hack to fix weird jquery ui draggable 'containment' issue when page is not scrolled to top
See http://bugs.jqueryui.com/ticket/9315 */
@media screen and (-webkit-min-device-pixel-ratio:0) { /* chrome */

html{

position: relative !important;

}

} @-moz-document url-prefix() { /* firefox */

body{

position: relative !important; 
overflow: auto !important;

}

} @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { /* ie10+ */

body{

position: relative !important; 
overflow: auto !important;

}

}

.DiscoveringDiv .TransparentBox {
    z-index: 200;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

.DiscoveringDiv .TransparentBoxMessage {
    position: absolute;
    left: 30px;
    top: 65px;
    width: 200px;
}

.BulkUpload {
    width: 580px;
}

    .BulkUpload .HostTextBox {
        width: 100%;
        height: 380px;
    }

. .BulkUpload .HostFileUpload {
    width: 100%;
}


.BulkUpload .SelectionMethod input {
    margin-right: 10px;
}

.SectionTitle {
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 0px;
    font-weight: bold;
}

.SectionFirstColumn {
    white-space: nowrap;
    text-align: right;
}

.SectionSecondColumn {
    white-space: nowrap;
    text-align: right;
}

.SectionHeader {
    margin-left: 15px;
    margin-bottom: 0px;
    font-weight: bold;
}

.SectionLabel {
    margin-left: 15px;
    padding: 5px 0px 5px 0px;
}

.DialogHeaderText {
    margin: 15px;
}

.IEWidth100 {
    _width: 100%;
}

.ControlsTable {
    padding: 15px;
}

    .ControlsTable td {
        padding-left: 10px;
        padding-right: 10px;
    }

.RadioButtons {
}

.toolbarButton {
    padding-left: 5px;
    padding-right: 10px;
    border-right: solid 1px #dfdfde;
}

    .toolbarButton input {
        vertical-align: text-bottom;
    }

.ButtonHeader {
    background-color: #E1E1E0;
    background-image: url(/Orion/Nodes/images/background/bg_groupby.gif);
    background-repeat: repeat-x;
    font-size: 11px;
    height: 27px;
    min-width: 800px;
}

#NormalText .ButtonHeader {
}

    #NormalText .ButtonHeader a {
        text-decoration: none;
        font-size: 11px;
        padding-right: 10px;
        padding-left: 3px;
        color: Black;
    }

        #NormalText .ButtonHeader a:hover {
            color: Orange;
        }


.TextWithSpaceAfter {
    margin-bottom: 20px;
}

.ConfigurationControls {
    margin-left: 20px;
}

    .ConfigurationControls table {
        width: 100%;
    }

table.ConfigurationControls {
    margin-top: 10px;
}

.ConfigurationControls td {
    padding-right: 15px;
}

.ColumnSmallWidth {
    width: 50px;
}

.TimeBox {
    width: 40px;
    text-align: right;
}

.DescriptionBox {
    width: 200px;
    text-align: left;
}

.ErrorLabel {
    color: Red;
}

.EditLebels {
    margin-left: 15px;
    margin-right: 15px;
}

.EditControls {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.EditButtons {
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.EditPanel {
    position: absolute;
    left: 30px;
    top: 275px;
    background-color: White;
    z-index: 110;
}

.ProgressPanel {
    left: 350px;
}

.BulkUpload .SectionTitle {
    margin: 0px;
}

.IPRange {
    background-color: #ECF6FB;
    padding: 10px;
}

    .IPRange th {
        text-align: left;
        font-weight: normal;
    }

    .IPRange .IPRangeAddButton {
        float: left;
    }

td.IPRange div {
    vertical-align: top;
}

.IPRange table td {
    vertical-align: top;
}

td.SelectionMethod {
    vertical-align: top;
    padding-right: 10px;
}

div.Results {
    border: 1px solid #CCCCCC;
    overflow: auto;
    height: 400px;
    max-height: 400px;
    _height: expression(this.scrollHeight > 400? "400px" : "auto" );
}

.ResultItem {
    display: block;
}

.NetObjectTable {
    border: 0;
    border-spacing: 0;
    text-align: left;
}

#NormalText .NetObjectTable a {
    text-decoration: none;
    color: Black;
}

    #NormalText .NetObjectTable a:hover {
        color: #F99D1C;
    }

.NetObjectTable {
    background-color: white;
    width: 100%;
    width: 780px;
}

    .NetObjectTable th {
        background: transparent url(/Orion/Discovery/images/NetObjectTable_Header_bg_gradient.gif) repeat-x top;
        font-weight: normal;
        font-size: small;
        height: 19px;
        border-top: solid 1px #dfdfde;
        text-align: left;
    }

    .NetObjectTable thead tr {
        font-weight: normal;
        background-color: #dddcd0;
        font-size: small;
    }

    .NetObjectTable tr {
    }

.NetObjectAlternatingRow {
    background-color: #f8f8f8;
}


.NetObjectTable td, .NetObjectTable th {
    color: Black;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 8pt;
    padding: 3px 5px;
    white-space: nowrap;
    vertical-align: top;
}

td.wrapCell {
    white-space: normal;
    overflow: hidden;
}

table.NavigationButtons {
    margin-top: 10px;
    width: 100%;
    text-align: right;
}

    table.NavigationButtons .CancelButton {
        margin-left: 40px;
    }


.NodeGrouping {
    padding: 0;
    margin: 0;
    width: 100%;
}

.GroupSection {
    background-color: #d0cfc3;
    margin: 0px;
    padding: 5px;
}

.NodeGroupItems {
    margin: 0;
    padding: 0;
}

.NodeGroupItem, .SelectedNodeGroupItem {
    white-space: nowrap;
    list-style-type: none;
    padding: 2px 2px 2px 6px;
    height: 18px;
}

    .NodeGroupItem img, .SelectedNodeGroupItem img {
        vertical-align: text-bottom;
    }

.SelectedNodeGroupItem {
    font-weight: bold;
    background-image: url('/Orion/Nodes/images/background/left_selection_gradient.gif');
    background-color: #97d6ff;
    background-repeat: repeat-x;
}

table.NodeManagement {
    border: #e1e1e0 solid 1px;
    margin: 0;
    padding: 0;
}

a.NetObjectLink {
    white-space: nowrap;
}

table.NodeManagement > tbody > tr > td {
    margin: 0;
    padding: 0;
}

.MenuItem {
    border: none;
    margin: 0;
    padding: 0;
}

.MenuIsland {
    background-color: #e2e1d4;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #f5f5ec;
    width: 100%;
}

.MenuHover {
    background: #d2d1c6 url('/Orion/Nodes/images/background/toolbar_hover_gradient.gif') repeat-x;
    border: none;
    border-top: none;
}

.MenuDisabled {
    color: #999999;
    border: solid 1px #e2e1d4;
}

.SubMenuIsland {
    border: solid 1px #C8CBCE;
    background-color: white;
    margin: 0;
    padding: 0;
}

.SubMenuItem {
    border: none;
    background-color: white;
    margin: 0;
    padding: 0;
}

.SubMenuHover {
    background-color: #FFEAA7;
}

thead > tr > th.NodeTreeHeader {
    background-color: #e2e1d4;
    font-style: italic;
    border: solid 1px #f5f5ec;
    cursor: pointer;
}

.NodeTreeRow, .NodeTreeRowAlternate {
    padding: 0 5px;
}

    .NodeTreeRow a img, .NodeTreeRowAlternate a img {
        vertical-align: text-bottom;
    }

.NodeTreeRowAlternate {
    background-color: #ECF6FB;
}

.SiteMapPath {
    margin-top: 10px;
    padding-top: 10px;
    font-size: 10px;
}

.SiteMapPath-CurrentModule {
    font-size: 15pt;
    font-weight: bold;
}

.ActionName {
    font-size: 14px;
    font-weight: bold;
}

.node-groupbox {
    border: solid 1px #dfdfde;
    margin: 0px;
    padding: 0px;
    padding-right: 10px;
    padding-left: 10px;
}

#discoverywizardcontent {
    padding-left: 10px;
    width:960px;
}

.padding20 {
    padding-left: 20px;
}

.leftLabelColumn {
    padding-left: 40px;
    width: 200px;
    text-align: right;
}

.rightInputColumn {
    text-align: left;
    padding-left: 5px;
    width: 150px;
}

input.disabled {
    background-color: #D4D0C8;
}

.contentBlock {
    padding-top: 15px;
}

.contentBlockHeader {
    font-size: 14px;
}

.helpfulText {
    color: #5f5f5f;
    font-size: 10px;
    padding-left: 10px;
    text-align: left;
}

.blueBox {
    background-color: #ecedee;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#NodeTree2 {
    width: 100%;
    border-bottom: solid 1px #dfdfde;
}

    #NodeTree2 th {
        background-color: #e2e1d4;
        font-style: italic;
        cursor: pointer;
    }

    #NodeTree2 th, #NodeTree2 td {
        border-right: solid 1px #dfdfde;
        border-left: solid 1px #eeede5;
        padding: 0 5px;
        white-space: nowrap;
    }

        #NodeTree2 td:first-child, #NodeTree2 th:first-child {
            width: 0;
        }

    #NodeTree2 a img {
        vertical-align: text-bottom;
    }

#loadingStatus {
    display: none;
    position: fixed;
    background: #ffba10;
    opacity: 0.5;
    bottom: 10%;
    left: 40%;
    right: 40%;
    padding: 2em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2px solid #000;
}

#breadcrumb label {
    font-size: small;
}

#breadcrumb select {
    margin-right: 2em;
}

.searchterm {
    background-color: yellow;
}

#availableColumnList {
    list-style-type: none;
    margin: 0;
}

    #availableColumnList li {
        margin: 0;
    }

#columnChooserDialog {
    background: white;
    padding: 5px;
    height: 100%;
}

#dialogOk, #dialogCancel, #btnStartDiscovery {
    cursor: pointer;
}

#progressDialog {
    display: none;
    background-color: white;
    height: 100%;
}

#progressContent {
    padding: 10px;
}

#statusText {
    font-size: small;
    font-weight: bold;
    margin-bottom: 10px;
    height: 35px;
}

#progressTable {
    border-collapse: collapse;
}

    #progressTable TD {
        font-size: small;
    }

.progressLabel {
    text-align: right;
    padding-right: 10px;
    width: 160px;
}

.progressBar {
    text-align: left;
    width: 300px;
    background-image: url('/Orion/Discovery/images/progBar_off.gif');
    background-repeat: repeat-x;
    height: 20px;
}

.progressDataHeader {
    width: 149px;
    height: 22px;
    background-color: #E0E0E0;
    text-align: center;
    font-style: italic;
    border: solid 1px #E0E0E0;
}

.progressData {
    width: 149px;
    height: 22px;
    text-align: center;
    border: solid 1px #E0E0E0;
}

.progressAltRow {
    background-color: #f8f8f8;
}

.progressSeparator {
    font-size: xx-small;
    height: 10px;
}

#dialogCancel {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 200;
}

.hidden {
    display: none;
}

.GroupBox {
  width: 960px !important;
  padding-right: 16px;
  box-sizing: border-box;
}
}

.GroupRow {
    background-color: Silver;
    font-weight: bold;
}

    .GroupRow TD {
        border-top: solid 1px #FFFFFF;
        border-bottom: solid 1px #FFFFFF;
    }

.SubnetGridHeader TH {
    font-style: italic;
}

.slider-column2 {
    width: 200px;
}

#ScreenBlocker {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    _width: 2000px;
    _height: 2000px;
    text-align: center;
    vertical-align: middle;
    background-color: black;
    filter: alpha(opacity=0);
    -moz-opacity: 0.00;
    -khtml-opacity: 0.00;
    opacity: 0.00;
    z-index: 10000;
    display: none;
    cursor: progress;
}

table.SubnetTable {
    width: 600px;
}

.HostsTextBoxValidator {
    padding: 6px;
    color: Red;
    line-height: 15px;
    min-height: 30px;
    max-height: 75px;
    max-width: 473px;
    overflow-y: auto;
    visibility: collapse;
    display: none;
    border: 1px solid;
    border-color: rgb(236, 237, 238);
    box-sizing: border-box;
}

.ValidationWarning {
    margin-top: 12px;
    visibility: collapse;
    display: none;
    font-size: 11px;
    color: #AA8E1D;
    border: solid 1px rgb(249, 199,0);
    background-color: rgb(255,249,231);
    max-width: 473px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
}

    .ValidationWarning p {
        padding-left: 20px;
        display: block;
        padding-left: 26px;
        line-height: 25px;
        color: #AA8E1D;
    }


        .ValidationWarning p.warning {
            background-image: url('/Orion/Discovery/images/warning.png');
            background-repeat: no-repeat;
        }

.HostsValidateButton {
    float: right;
}

/* Schedule Discovery Results styles */
.td-text, .td-text a {
    vertical-align: top;
    font-size: 8pt;
}

.select-whole-page {
    background-color: #FFFFCC;
}

.select-all-objects {
    background-color: #F7F7F7;
}

#selectAllPan a {
    color: Red;
    text-decoration: underline;
}

.menuWrapper {
    background-color: #E1E1E0;
    background-image: url(/Orion/Nodes/images/background/bg_groupby.gif);
    background-repeat: repeat-x;
    font-size: 11px;
    height: 27px;
    min-width: 600px;
}

ul.menuList {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menuList li {
    border-right: 1px solid white;
    float: left;
    padding: 5px 10px 5px 5px;
    position: relative;
}

.selectedFilter {
    font-weight: bold;
}

.filter {
    font-weight: normal;
}

.menuList img {
    vertical-align: bottom;
}

.filters {
    text-align: left;
}

    .filters li {
        line-height: 22px;
    }

    .filters a {
        padding: 0px 0px 0px 5px;
    }

.filterHeader {
    background: #e1e1e0;
    padding: 5px;
    background-image: url(/Orion/Nodes/images/background/bg_groupby.gif);
    background-repeat: repeat-x;
}

.filterHeaderCell {
    border-right: #e1e1e0 1px solid;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    background-color: white;
    width: auto;
}

.warning {
    color: Red;
    display: none;
}

.pagerSize {
    width: 25px;
}

#NormalText a.iconLink {
    background-image: url(/Orion/Discovery/images/icon_add.gif);
    background-position: left center;
    background-repeat: no-repeat;
    padding: 2px 0px 2px 20px;
}

.NewNetObject {
    background-color: #fdf6c9;
}

.ImportedNetObject {
}

#NormalText a.redLink {
    color: Red;
}

    #NormalText a.redLink:link {
        color: Red;
    }

    #NormalText a.redLink:visited {
        color: Red;
    }

    #NormalText a.redLink:hover {
        color: Red;
    }

    #NormalText a.redLink:active {
        color: Red;
    }


#EditCredentialHelp a.helpLink {
    color: #336699;
    font-size: smaller;
    text-decoration: none;
}

    #EditCredentialHelp a.helpLink:hover {
        color: Orange;
    }

.smallTitle {
    padding-top: 5px;
}

.smallText {
    color: #979797;
    font-size: smaller;
}

#availableUpdates /*Hide notification bar for all discovery*/ {
    display: none;
}

#container {
    background: white;
}

#welcomeHeader {
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    text-transform: uppercase;
    margin: 10px 0;
}

#welcomeSubHeader {
    font-size: 13px;
}

#contentBox {
    border: 1px #bbb solid;
    padding: 17px;
    width: 817px;
}

.mainBody {
    padding: 33px 0 0 10px;
}

.cleared {
    clear: both;
}

.startButton {
    margin: 26px 0 0 0;
    float: right;
    width: 118px;
    text-align: center;
    font-size: 14px;
}

.stickyPad {
    background-color: #FEFDCD;
    border: 1px #D5CEA0 solid;
    float: left;
    margin: 4px 0 0 4px;
    width: 600px;
    font-size: 11px;
}

    .stickyPad table {
        background-color: #FEFDCD !important;
        margin-top: 0 !important;
    }

    .stickyPad td {
        font-size: 11px;
        vertical-align: top !important;
    }

        .stickyPad td.lightBulb {
            padding-left: 7px;
        }

        .stickyPad td.hintText {
            vertical-align: top !important;
        }


#optOutToggle input {
    position: relative;
    top: 2px;
}

#optOutToggle label {
    font-size: 13px;
}


.iconContainer {
    padding: 20px 0 20px 50px;
    float: left;
    list-style-type: none;
}

.centerIconTile {
    border: 1px #bbb solid;
    padding: 2px;
    height: 127px;
    width: 99px;
    float: left;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
}

.centerIconArrow {
    float: left;
    padding: 85px 8px 0 8px;
}

.centerIconFrame {
    margin: 9px auto 5px auto;
    height: 60px;
    display: block;
    width: 100%;
}

.verticalcenterhelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.centerIcon {
    display: inline-block;
    vertical-align: middle;
}

.nextArrow {
    float: left;
}

.clear {
    clear: both;
}



.panel {
    margin: 0px;
    padding: 0px;
    clear: both;
}

ul.stack {
    list-style-type: none;
    padding-left: 0px;
}

    ul.stack > li {
        border-style: solid;
        border-width: 0px 1px 1px 1px;
        border-color: rgb(236,237,238);
        padding-left: 16px;
    }

        ul.stack > li:first-of-type {
            /* border-style:solid;*/
            border-width: 1px 1px 1px 1px;
            /* border-color:rgb(236,237,238) */
        }

.editor {
    padding-top: 32px;
    padding-bottom: 12px;
}



.editor > div {
    display: inline-block;
}

.editor .editor-label {
    display: inline-block;
    width: 180px;
    vertical-align: top;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Open Sans Bold', 'Open Sans';
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
}

.editor a.info-tooltip {
    margin-left: 6px;
}

.editor .button {
    display: inline-block;
}

.editor .hint {
    background-color: #FFF9E7;
    color: #a3850b;
    border: solid 1px #FCA01D;
    line-height: 14px;
    font-size: 11px;
    padding: 12px;
    display: inline-block;
}

.editor .error {
    background-color: #fbd8ce;
    color: #DA3838;
    border: solid 1px #DA3838;
    line-height: 14px;
    font-size: 11px;
    padding: 12px;
    display: inline-block;
}

.editor .success {
    background-color: #d3f0cc;
    color: #77CC62;
    border: solid 1px #77CC62;
    line-height: 14px;
    font-size: 11px;
    padding: 12px;
}

.editor span.success {
    display: inline-block;
}

.editor .spinner {
    display: inline-block;
}

.editor .hidden {
    visibility: collapse;
    display: none;
}



.editor .editor-content {
    display: inline-block;
    border-collapse: collapse;
    border-width: 0px;
    border: 0px;
}

/* Basic Button */
.editor .editor-content input[type=submit], .editor a.button, .editor a.button:active, .editor a.button:visited {
    box-sizing: content-box;
    font-size: 11px;
    line-height: 11px;
    color: #2e96b9 !important;
    text-decoration: none !important;
    text-transform: uppercase;
    padding: 10px 16px 10px 16px;
    border: 1px solid;
    border-color: rgb(236, 237, 238);
    margin: 0px;
    background-color: #FFFFFF !important;
    cursor: pointer;
}

.editor .editor-content input[type=submit]:hover, 
.editor a.button:hover {
    text-decoration: none !important;
    border-color: #2D5C77 !important;
    color: #2D5C77 !important;
}

.editor .editor-content input[type=submit]:disabled, 
.editor a.button.disabled {
    color: #ABD5E3 !important;
    border-color: #ABD5E3 !important;
    pointer-events: none;
    cursor: default;
}


.editor .editor-content input[type=submit].primary {
    background-color: #2E96B9 !important;
    border-color: #2E96B9 !important;
    color: #FFFFFF !important;
}

.editor .editor-content input[type=submit].primary:disabled {
    background-color: #ABD5E3 !important;
    border-color: #ABD5E3 !important;
    color: #FFFFFF !important;
}

.editor .editor-content input[type=submit].primary:hover {
    background-color: #204a63!important;
    border-color: #204a63 !important;
    color: #FFFFFF !important;
}

.editor div.label {
    font-weight: bold;
    padding: 1px 0px 1px 0px;
    line-height: 19px;
}

.editor label.disabled {
    color: #A9A9A9;
}

.editor .editor-content .editor-section {
    
    
}

.editor .editor-content .editor-section .section-label {
    font-weight: bold;
    font-size: 12px;
    color: #333333;
}
.editor .editor-content .editor-control-group {
    
    margin-top: 4px;
    margin-bottom: 12px;
}

.editor .editor-content .editor-control-group span.sw-validation-error {
    display:block !important; /* Override ASPX validation control styling */
}


.editor .editor-dialog, 
.snmp-edit-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1050;
    background: white;
    font-family: 'Open Sans';
    border-width:0px !important;
    border-style:none !important;
}

.editor .editor-dialog .editor-dialog-header, 
.snmp-edit-dialog .editor-dialog-header {
    background: #2D5C77;
    color: #FFFFFF;
    font-family: 'Open Sans Semibold', 'Open Sans';
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    text-transform: uppercase;
    margin: 16px;
    padding: 14px;
}

.editor .editor-dialog .editor-dialog-header:hover, 
.snmp-edit-dialog .editor-dialog-header:hover {
    cursor:move;
            
}

.editor .editor-dialog .editor-dialog-footer, 
.snmp-edit-dialog .editor-dialog-footer {
    margin: 16px;
}

.editor .editor-dialog .editor-dialog-footer input[type=submit], 
.snmp-edit-dialog .editor-dialog-footer input[type=submit] {
    margin: 0px 12px 0px 0px;
}


.editor .editor-dialog .editor-dialog-footer div.error {
    box-sizing: border-box;
    width: 100%;
}

.editor .editor-dialog .editor-dialog-header input[type=image], 
.snmp-edit-dialog .editor-dialog-header input[type=image] {
    float: right;
    margin-top: -2px;
    margin-left: 12px;
}

.editor .editor-dialog .editor-dialog-content, 
.snmp-edit-dialog .editor-dialog-content {
}

.editor .editor-dialog .editor-dialog-content .editor-dialog-section, 
.snmp-edit-dialog .editor-dialog-content .editor-dialog-section {
    padding: 16px 30px 0px 30px;
    border-bottom: solid 1px rgb(236,237,238);
}

.editor .editor-dialog .editor-dialog-content .editor-dialog-section .section-label,
.snmp-edit-dialog .editor-dialog-content .editor-dialog-section .section-label {
    font-weight: bold;
    font-size: 12px;
    color: #333333;
}

.editor .editor-dialog .editor-dialog-content input[type=text], 
.editor .editor-dialog .editor-dialog-content input[type=password], 
.editor .editor-dialog .editor-dialog-content select,
.snmp-edit-dialog .editor-dialog-content select,
.snmp-edit-dialog .editor-dialog-content input[type=text], 
.snmp-edit-dialog .editor-dialog-content input[type=password] {
    margin-top: 4px;
    height: 25px;
    box-sizing: border-box;
    width: 100%;
    color: #333333;
}

.editor .editor-dialog .editor-dialog-content input[type=checkbox], 
.editor .editor-dialog .editor-dialog-content input[type=radio] {
    margin-top: 4px;
    height: 12px;
    box-sizing: border-box;
}



.editor .editor-dialog .editor-dialog-control-group,
.snmp-edit-dialog .editor-dialog-control-group {
    margin-top: 4px;
    margin-bottom: 12px;
}

.editor .editor-dialog .condensed,
.snmp-edit-dialog .condensed {
    margin-top: 4px;
    margin-bottom: 4px;
}

.editor .editor-dialog .last,
.snmp-edit-dialog .last {
    margin-bottom: 0px;
}


.editor .editor-dialog .editor-dialog-control-group .label, 
.editor .editor-dialog .editor-dialog-control-group label,
.snmp-edit-dialog .editor-dialog-control-group .label,
.snmp-edit-dialog .editor-dialog-control-group label {
    font-weight: normal;
    font-size: 12px;
    color: #333333;
    line-height: 12px;
}


.editor-dialog .editor-dialog-control-group label {
    position: relative;
    top: -1px;
    padding-left: 4px;
    padding-right: 12px;
}

.editor .editor-dialog .editor-dialog-control-group .hint, 
.editor .editor-dialog .editor-dialog-control-group .error, 
.editor .editor-dialog .editor-dialog-control-group .success, 
.editor .editor-dialog .editor-dialog-control-group .spinner {
    position: relative;
    top: 0px;
    left: 12px;
    
}

.editor .editor-dialog .editor-dialog-control-group .hint, 
.editor .editor-dialog .editor-dialog-control-group .error, 
.editor .editor-dialog .editor-dialog-control-group .success {
    box-sizing: content-box;
    font-size: 11px;
    line-height: 11px;
    padding: 10px 12px 10px 12px;
}



.editor span.sw-validation-error, 
.editor div.sw-validation-error {
    color: #DA3838 !important;
}

.editor .editor-dialog .editor-dialog-control-group input[type=text].sw-validation-error, 
.editor .editor-dialog .editor-dialog-control-group input[type=password].sw-validation-error {
    border-color: #DA3838;
}

.editor .editor-dialog .editor-dialog-control-group span.sw-validation-error {
    margin-top: 4px;
    display: inline-block;
}



.editor .editor-dialog input[type=submit] {
}




.editor .add-subnets-dialog {
    width: 400px;
}

    .editor .add-subnets-dialog .subnets-grid {
    
      width: 342px;
    }
    .editor .add-subnets-dialog .subnets-grid th {
        background-color:#EAEAEA;
        font-weight:700;
    }

    .editor .add-subnets-dialog .subnets-grid td, .editor .add-subnets-dialog .subnets-grid th {
        padding: 4px;
    }

.editor .editor-content th, .editor .editor-content td {
    border-collapse: collapse;
    border-width: 0px;
    border: 0px;
    padding-left: 0px;
    padding-right: 12px;
    text-align: left;
    vertical-align: top;
}

    .editor .editor-content td span.sw-validation-error {
        display: block !important;
        padding-top: 5px;
        padding-bottom: 8px;
        max-width: 231px;
    }

    .editor .editor-content tr.sw-validation-error input[type=text], 
    .editor .editor-content td input[type=text].sw-validation-error {
        border-color: #DA3838;
    }



    .editor .editor-content td input[type=text], 
    .editor .editor-content td input[type=password] {
        width: 231px;
        height: 25px;
        line-height: 25px;
        font-family: 'Open Sans Regular', 'Open Sans';
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        text-decoration: none;
        color: #000000;
        text-align: left;
        padding: 1px 0px;
        -webkit-appearance: textfield;
        background-color: white;
        border: 1px solid;
        border-color: rgb(236, 237, 238);
        margin: 0em;
        text-indent: 0px;
        box-sizing: border-box;
    }




.editor .ip-addresses-input {
    float: left;
    width: 486px;
}

.editor .ip-addresses-button {
    position: relative;
    top: 19px;
    left: 0px;
    float: left;
}


.editor .editor-content textarea, 
.editor .editor-content textarea:active {
    min-width: 231px;
    max-width: 467px;
    width: 467px;
    border: 1px solid;
    border-color: rgb(236, 237, 238);
}



a.link-button, a.link-button:active, a.link-button:visited {
    color: #2E96B9 !important;
    text-decoration: none !important;
    background-image: url('/orion/discovery/images/additem.png');
    background-position-x: -3px !important;
    background-repeat: no-repeat;
    padding-left: 30px;
    display: inline-block;
    line-height: 25px;
}



a.level1, a.level1:active, a.level1:visited {
    color: #2E96B9 !important;
    text-decoration: none !important;
    background-image: url('/orion/discovery/images/additem.png') !important;
    background-position: top left !important;
    background-position-x: -3px !important;
    background-repeat: no-repeat;
    padding-left: 30px;
    display: inline-block;
    height: 25px;
    padding-top: 5px;
    margin: 0px;
}

    a.level1 > span {
        vertical-align: top;
        padding-left: 27px;
    }

ul.level2 {
    background-color: white !important;
    border: solid 1px rgb(200, 200, 200);
    padding: 12px !important;
    width: 80px !important;
    box-shadow: 3px 3px 2px rgb(200,200,200);
}

a.level2, a.level2:active, a.level2:visited {
    color: #2E96B9 !important;
    text-decoration: none !important;
    display: inline-block;
    line-height: 25px;
    /* padding-top: 5px;
    margin-top: 4px; */
}



a.info-tooltip {
    outline: none;
}

    a.info-tooltip:hover {
        text-decoration: none;
    }

    a.info-tooltip span {
        z-index: 10;
        display: none;
        padding: 14px 20px;
        width: auto;
        line-height: 15px;
        float: left;
        position: absolute;
        margin-left: 12px;
        font-family: 'Open Sans Regular', 'Open Sans';
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        text-transform: none !important;
    }

    a.info-tooltip:hover span {
        display: inline-block;
        color: #111;
        border: solid 1px rgb(200, 200, 200);
        background: rgb(236, 237, 238);
    }

#EnginesPanel {
    margin-top:12px;
}

 #EnginesPanel  label {
    font-family: 'Open Sans Bold', 'Open Sans';
    font-weight: bold;
    font-size: 12px;
    color: #333333;
 }

    #EnginesPanel select {
        font-family: 'Open Sans Bold', 'Open Sans';
        margin-top: 4px;
        height: 25px;
        box-sizing: border-box;
        width: 316px;
        color: #333333;
    }

#DiscoveryHintHandle {
    margin-bottom:8px;
}

#discoveryInputPanel {
    margin-top: 24px;
}


#IPRangesEditor .add-button {
    position:relative;
    top:-6px;
}

#SubnetsEditor {
    margin-bottom: -18px;

}

    #SubnetsEditor .menu {
        position:relative;
        top: -18px;
    }

    #SubnetsEditor .subnets-grid {
    
        margin-bottom:12px;
    }


#subnetEditorContent table tbody {
  max-height: 320px;
}


#IPAddressEditor .editor-content  .editor-control-group input[type=image].delete-button {
    float: right;
  margin-left: 12px;
  margin-top: -3px;
}

#IPAddressEditor .editor-content .editor-control-group textarea {
    margin-bottom: 6px;

}

#IPAddressEditor .add-button {
    position:relative;
    top:-6px;
}


#ActiveDirectoryEditor .add-button {
    position:relative;
    top:-6px;

}


/* #IPAddressEditor styling */ 
#HostsTextBoxValidator {
    margin-top:12px;
    margin-bottom:6px;
}

#HostsTextBoxValidator.success {
    display:block;
}

#HostsTextBoxValidator.sw-validation-error {
    padding:6px 8px 8px 6px;
    border: 1px solid #d5d5d5;
    color: #DA3838;
    max-height: 100px;
    overflow-y: auto;
}


.table-vertical-scroll-bar tbody {
  display: block;
  overflow-y: scroll;
  overflow-x: visible;
  border-collapse:collapse;
  border-top-width: 0px;
  border-top-style:none;
  border-right-width:0px;
  border-right-style:none
}


/* Restyling JQuery UI */


.ui-dialog {
    background: white;
    font-family: 'Open Sans';
}

    .ui-dialog .ui-dialog-content {
        padding: 0px;
    }

    .ui-dialog .ui-dialog-title {
        float: none;
        margin: 0px;
    }

    .ui-dialog .ui-dialog-titlebar {
        background: #2D5C77;
        color: #FFFFFF;
        font-family: 'Open Sans Semibold', 'Open Sans';
        font-weight: 600;
        font-style: normal;
        font-size: 17px;
        line-height: 22px;
        text-transform: uppercase;
        margin: 16px 16px 0px 16px;
        padding: 14px;
    }

        .ui-dialog .ui-dialog-titlebar span.ui-dialog-title {
        }


        .ui-dialog .ui-dialog-titlebar a.ui-dialog-titlebar-close .ui-icon {
            background-image: url('../Discovery/images/remove_White.png');
        }

        .ui-dialog .ui-dialog-titlebar a.ui-dialog-titlebar-close .ui-icon-closethick {
            height: 25px;
            width: 25px;
            line-height: 22px;
            background-position: 0px 0px;
            position: relative;
            left: -12px;
            top: -4px;
        }


.ui-dialog .ui-dialog-content .hint {
        background-color: #FFF9E7;
        color: #a3850b;
        border: solid 1px #FCA01D;
        line-height: 14px;
        font-size: 11px;
        padding: 12px;
        display: inline-block;
    }

    .ui-dialog .ui-dialog-content .error {
        background-color: #fbd8ce;
        color: #DA3838;
        border: solid 1px #DA3838;
        line-height: 14px;
        font-size: 11px;
        padding: 12px;
        display: inline-block;
    }

    .ui-dialog .ui-dialog-content .success {
        background-color: #d3f0cc;
        color: #77CC62;
        border: solid 1px #77CC62;
        line-height: 14px;
        font-size: 11px;
        padding: 12px;
        display: inline-block;
    }


    .ui-dialog .ui-dialog-content .spinner {
        display: inline-block;
    }

    .ui-dialog .ui-dialog-content .hidden {
        visibility: collapse;
        display: none;
    }


    /* Basic Button */
    .ui-dialog .ui-dialog-content input[type=submit], .editor a.button, .editor a.button:active, .editor a.button:visited {
        box-sizing: content-box;
        font-size: 11px;
        line-height: 11px;
        color: #2e96b9 !important;
        text-decoration: none !important;
        text-transform: uppercase;
        padding: 10px 16px 10px 16px;
        border: 1px solid;
        border-color: rgb(236, 237, 238);
        margin: 0px;
        background-color: #FFFFFF !important;
        cursor:pointer;
    }


        .ui-dialog .ui-dialog-content input[type=submit]:hover, .ui-dialog .ui-dialog-content a.button:hover {
            text-decoration: none !important;
            border-color: #2D5C77 !important;
            color: #2D5C77 !important;
        }

        .ui-dialog .ui-dialog-content input[type=submit]:disabled, .ui-dialog .ui-dialog-content a.button.disabled {
            color: #ABD5E3 !important;
            border-color: rgb(238,238,238) !important;
            pointer-events: none;
            cursor: default;
        }


        .ui-dialog .ui-dialog-content input[type=submit].primary {
            background-color: #2E96B9 !important;
            border-color: #2E96B9 !important;
            color: #FFFFFF !important;
        }

        .ui-dialog .ui-dialog-content input[type=submit].primary:hover {
            background-color: #204a63!important;
            border-color: #204a63 !important;
            color: #FFFFFF !important;
            
        }

            .ui-dialog .ui-dialog-content input[type=submit].primary:disabled {
            
                background-color: #ABD5E3 !important;
                border-color: #ABD5E3 !important;
                color: #FFFFFF !important;
            }

    .ui-dialog .ui-dialog-content .editor-dialog-section {
        padding: 16px 30px 0px 30px;
        border-bottom: solid 1px rgb(236,237,238);
    }

        .ui-dialog .ui-dialog-content .editor-dialog-section .description {
            font-family: 'Open Sans Regular', 'Open Sans';
            font-weight: 400;
            font-style: normal;
            font-size: 11px;
            word-wrap: normal;
            margin: 0px -14px 6px -14px;
        }


        .ui-dialog .ui-dialog-content .editor-dialog-section .section-label {
            font-weight: bold;
            font-size: 12px;
            color: #333333;
        }


    .ui-dialog .ui-dialog-content .editor-dialog-footer {
        margin: 16px;
    }

        .ui-dialog .ui-dialog-content .editor-dialog-footer input[type=submit] {
            margin: 0px 12px 0px 0px;
        }

    .ui-dialog .ui-dialog-content .editor-dialog-control-group {
        margin-top: 4px;
        margin-bottom: 12px;
    }



    .ui-dialog .ui-dialog-content .editor-dialog-section .editor-dialog-control-group .label, .ui-dialog .ui-dialog-content .editor-dialog-section .editor-dialog-control-group label {
        font-weight: normal;
        font-size: 12px;
        color: #333333;
        line-height: 12px;
    }

    .ui-dialog .ui-dialog-content .editor-dialog-section .editor-dialog-control-group label {
        position: relative;
        top: -1px;
        padding-left: 4px;
        padding-right: 12px;
    }

    .ui-dialog .ui-dialog-content .editor-dialog-section .editor-dialog-control-group label.disabled {
        color: #A9A9A9;
    }

    .ui-dialog .ui-dialog-content .editor-dialog-section .editor-dialog-control-group .description {
        font-family: 'Open Sans Regular', 'Open Sans';
        font-weight: 400;
        font-style: normal;
        font-size: 11px;
        color: #A9A9A9;
        margin: 4px 0px 6px 0px;
    }


    .ui-dialog .ui-dialog-content input[type=text], .ui-dialog .ui-dialog-content input[type=password], .ui-dialog .ui-dialog-content select {
        margin-top: 4px;
        height: 25px;
        box-sizing: border-box;
        width: 100%;
        color: #333333;
    }

    .ui-dialog .ui-dialog-content input[type=password] {
  /* background-image: url('../Discovery/images/password.png'); 
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: right;
  padding-right: 6px;*/

    }


    .ui-dialog .ui-dialog-content input[type=checkbox], .ui-dialog .ui-dialog-content input[type=radio] {
        margin-top: 4px;
        height: 12px;
        box-sizing: border-box;
    }



.ui-dialog .ui-dialog-content .editor-dialog-control-group .spinner {
    position: relative;
    top: 0px;
    left: 12px;

}

.ui-dialog .ui-dialog-content .editor-dialog-control-group .hint, 
.ui-dialog .ui-dialog-content .editor-dialog-control-group .error, 
.ui-dialog .ui-dialog-content .editor-dialog-control-group .success {

    box-sizing: content-box;
    font-size: 11px;
    line-height: 11px;
    padding: 10px 12px 10px 12px;
}

.ui-dialog .ui-dialog-content .editor-dialog-control-group span.hint,
.ui-dialog .ui-dialog-content .editor-dialog-control-group span.error,
.ui-dialog .ui-dialog-content .editor-dialog-control-group span.success {
    margin-left:12px;
    
}

.ui-dialog .ui-dialog-content .editor-dialog-control-group div.hint,
.ui-dialog .ui-dialog-content .editor-dialog-control-group div.error,
.ui-dialog .ui-dialog-content .editor-dialog-control-group div.success {
    margin-top:12px;
    
}


.ui-dialog .ui-dialog-content span.sw-validation-error, 
.ui-dialog .ui-dialog-content div.sw-validation-error {
    color: #DA3838 !important;
}

.ui-dialog .ui-dialog-content .editor-dialog-control-group input[type=text].sw-validation-error, 
.ui-dialog .ui-dialog-content .editor-dialog-control-group input[type=password].sw-validation-error {
    border-color: #DA3838;
}


/* Re-style EXTJS grid */

/* remove row highlight */

.x-grid3-row-over {
    /* border-width:0px !important; */
    border-color:transparent !important;
    background-color:transparent !important;
    background-image:none !important;

}

#ADEntriesGrid .x-panel {
    margin-bottom:18px;
}

#ADEntriesGrid .x-grid3-body, #ADEntriesGrid .x-grid3-row {
    width:600px !important;
} 

/* Restyle wizard buttons */
.sw-btn-bar-wizard {

}

.sw-btn-bar-wizard .sw-btn {
      text-align: center !important;
    box-sizing: content-box;
    font-size: 11px;
    line-height: 11px;
    color: #2e96b9 !important;
    text-decoration: none !important;
    text-transform: uppercase;
    padding: 10px 16px 10px 16px;
    border: 1px solid;
    border-color: rgb(236, 237, 238);
    margin: 0px;
    background-color: #FFFFFF !important;
    cursor: pointer;
    min-width:80px;
}



.sw-btn-bar-wizard .sw-btn-secondary:hover {
    text-decoration: none !important;
    border-color: #2D5C77 !important;
    color: #2D5C77 !important;
}

.sw-btn-bar-wizard .sw-btn-secondary:disabled {
    color: #ABD5E3 !important;
    border-color: #ABD5E3 !important;
    pointer-events: none;
    cursor: default;
}

.sw-btn-bar-wizard .sw-btn-primary {
    background-color: #2E96B9 !important;
    border-color: #2E96B9 !important;
    color: #FFFFFF !important;
}

    .sw-btn-bar-wizard .sw-btn-primary:hover {
        background-color: #204a63!important;
        border-color: #204a63 !important;
        color: #FFFFFF !important;}
    }

    .sw-btn-bar-wizard .sw-btn-primary:disabled {
                background-color: #ABD5E3 !important;
                border-color: #ABD5E3 !important;
                color: #FFFFFF !important;
    }

.sw-btn-bar-wizard .sw-btn-tertiary {
    text-decoration: none !important;
    border-color: transparent !important;
    color: #2e96b9 !important;
}

.sw-btn-bar-wizard .sw-btn-tertiary:hover {
    text-decoration: none !important;
    border-color: transparent !important;
    color: #2D5C77 !important;
}

.sw-btn-bar-wizard .sw-btn-tertiary:disabled {
    color: #ABD5E3 !important;
    border-color: transparent !important;
    pointer-events: none;
    cursor: default;
}