
.clm-icon-aws {
    width: 24px;
    height: 24px;
    background-image: url('../Images/AWS.png');
}

.clm-icon-aws-cloud {
    width: 24px;
    height: 24px;
    background-image: url('../Images/AWS_cloud.png');
}

.clm-icon-aws-cloud-big {
    width: 32px;
    height: 33px;
    background-image: url('../Images/AWS_cloud32x32.png');
}

.clm-icon-aws-logo {
    width: 88px;
    height: 34px;
    background-repeat: no-repeat;
    background: url('../Images/AWS_logo.png');
    background: url('../Images/awsLogo.svg'),
        linear-gradient(transparent, transparent); /* SVG fallback */
}

.clm-icon-aws-account {
    width: 24px;
    height: 24px;
    background-image: url('../Images/AWS_cloud.png');
}

.clm-icon-azure {
    width: 24px;
    height: 24px;
    background-image: url('../Images/Azure.png');
}

.clm-icon-azure-cloud {
    width: 24px;
    height: 24px;
    background-image: url('../Images/Azure_cloud.png');
}

.clm-icon-azure-cloud-big {
    width: 32px;
    height: 32px;
    background-image: url('../Images/Azure_cloud32x32.png');
}

.clm-icon-azure-logo {
    width: 80px;
    height: 24px;
    background-image: url('../Images/Azure_logo.png');
}

.clm-icon-getting-started {
    width: 48px;
    height: 48px;
    background-image: url('../Images/Cloud_monitor_instance_icon48x48.png');
}

.clm-icon-command-add {
    width: 16px;
    height: 16px;
    background-image: url('../Images/Cmd-Add.png');
}

.clm-icon-command-credentials {
    width: 16px;
    height: 16px;
    background-image: url('../Images/Cmd-Credentials.png');
}

.clm-icon-command-edit {
    width: 16px;
    height: 16px;
    background-image: url('../Images/Cmd-Edit.png');
}

.clm-icon-command-poll {
    width: 16px;
    height: 16px;
    background-image: url('../Images/Cmd-Poll.png');
}

.clm-icon-command-poll-now {
    width: 24px;
    height: 24px;
    background-image: url('../Images/Cmd-Poll_now.png');
}

.clm-icon-command-power-off-small {
    width: 16px;
    height: 16px;
    background-image: url('../Images/Cmd-PowerOff.png');
}

.clm-icon-command-power-off {
    width: 24px;
    height: 24px;
    background-image: url('../Images/Cmd-Power_off.png');
}

.clm-icon-command-reboot {
    width: 24px;
    height: 24px;
    background-image: url('../Images/Cmd-Reboot.png');
}

.clm-icon-command-terminate {
    width: 24px;
    height: 24px;
    background-image: url('../Images/Cmd-Terminate.png');
}

.clm-icon-command-stop {
    width: 24px;
    height: 24px;
    background-image: url('../Images/Cmd-Stop.png');
}

.clm-icon-command-remove {
    width: 16px;
    height: 16px;
    background-image: url('../Images/Cmd-Remove.png');
}

.clm-icon-command-unmanage {
    width: 24px;
    height: 24px;
    background-image: url('../Images/Cmd-Unmanage.png');
}

.clm-icon-instance {
    width: 24px;
    height: 24px;
    background-image: url('../Images/Object-VM.png');
}

.clm-icon-arrow {
    width: 23px;
    height: 15px;
    background-image: url('../Images/arrow-separator.png');
}

.clm-icon-choose-instances {
    width: 48px;
    height: 48px;
    background-image: url('../Images/choose-instances.png');
}

.clm-icon-choose-provider {
    width: 48px;
    height: 48px;
    background-image: url('../Images/choose-provider.png');
}

.clm-icon-enter-credentials {
    width: 48px;
    height: 48px;
    background-image: url('../Images/enter-credentials.png');
}

.clm-icon-help {
    width: 20px;
    height: 20px;
    background-image: url('../Images/help-hover.png');
}

.clm-icon-install-agent {
    width: 48px;
    height: 48px;
    background-image: url('../Images/install-agent.png');
}

.clm-icon-orion-getting-started {
    width: 25px;
    height: 25px;
    background-image: url('../Images/orion-Getting_Started_with_Orion_icon.png');
}

.clm-icon-off {
    width: 56px;
    height: 20px;
    background-image: url('../Images/toggle-off.png');
}

.clm-icon-on {
    width: 56px;
    height: 20px;
    background-image: url('../Images/toggle-on.png');
}

.clm-icon-monitoring-on {
    width: 16px;
    height: 16px;
    background-image: url('../Images/Cmd-Check.png');
}

.clm-icon-monitoring-off {
    width: 16px;
    height: 16px;
    background-image: url('../Images/Cmd-Disable.png');
}