﻿    .error {
        border: 2px solid red;
    }
    .spaced-checkbox label {
        padding-left: 5px;
    }
    .alternateRow {
        background-color: #f8f8f8;
    }
    #adminContentTable 
    {
        font-family: Arial, Verdana, Helvetica, sans-serif;
        background-color: #FFFFFF;
        border: 1px solid #ecedee;
        text-align: left;
        vertical-align: middle;
        white-space: normal;
        width: 100%;
    }
    .vertical-space
    {
        padding-top: 10px;
    }

    .font-bold
    {
        font-weight: bold;
    }

    .spaced-top
    {
        padding-top: 10px;
    }

    .text-left
    {
        text-align: left;
    }

    .full-size-width
    {
        width: 100%;
    }