﻿
.CloudMonitoring .GettingStarted {
    background-color: #2D5C77;
    padding: 15px;
}
.CloudMonitoring .GettingStarted > div {
    background-color: #FFF;
    padding: 20px 20px 5px 20px;
}
.CloudMonitoring .GettingStarted .Hidden {
    display: none;
}
.CloudMonitoring .GettingStarted .LeftIcon {
    margin-right: 10px;
}
.CloudMonitoring .GettingStarted .Content {
    background-color: #F6F6F6;
    padding: 5px 35px 3px 25px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.CloudMonitoring .GettingStarted .Content .RightIcon {
    margin-top: 10px;
}
.CloudMonitoring .GettingStarted .Content .ContentList {
    list-style-type: disc;
    margin-left: -20px;
}
.CloudMonitoring .GettingStarted .Footer .LeftLink {
    padding-top: 30px;
    margin-left: -10px;
    margin-bottom: 0;
}
.CloudMonitoring .GettingStarted .Content p {
    margin: 1px 0 1px 0;
    line-height: 13px;
}
.CloudMonitoring .GettingStarted h3 {
    margin-top: 0;
    font-size: 16px;
  	font-weight: bold;
    line-height: initial;
}
.CloudMonitoring .GettingStarted h3 span {
    color: #909090;
    font-weight: normal;
}
.CloudMonitoring .GettingStarted h4 {
    margin: 0;
    color: #2E96B9;
}
.CloudMonitoring .GettingStarted h5 {
    color: #2E96B9;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: inherit;
    line-height: 1.1;
}
.CloudMonitoring .GettingStarted .Left {
    float: left;
}
.CloudMonitoring .GettingStarted .Right {
    float: right;
}

.CloudMonitoring .GettingStarted .sw-btn {
    padding: 10px 16px 10px 16px;
}
