﻿
.stickyNote {
    background-color: #F8F5E9;
    border: 1px #D1BC6B solid;
    margin: 10px 0 0 0;
    padding: 10px;
    width: 817px;
    font-size: 12px;
    color: #8E6708;
}

.stickyNote img.bulbIcon {
    float: left;
}

.stickyNote p.hintContent {
    margin-left: 33px;
    margin-bottom: 0;
}
