﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditCustomProperties.ascx.cs" Inherits="Orion_SRM_Controls_EditCustomProperties" %>
<%@ Register Src="~/Orion/SRM/Controls/SRM_CustomProperties.ascx" TagPrefix="orion" TagName="CustomProperties" %>

<orion:CustomProperties runat="server" ID="CustomProperties" />
