﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PopupChart.ascx.cs" Inherits="Orion_SRM_Controls_PopupChart" %>

<asp:Panel ID="OuterBorder" runat="server" Height="15px">

</asp:Panel>
<asp:Panel ID="legendPanel" runat="server" style="font-weight: bold;font-size:10px;float: right;">

</asp:Panel>
