﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditEosList.ascx.cs" Inherits="Orion_NCM_Controls_EditResourceControls_EditEosList" %>

<div style="padding-top:10px;">
    <b><%=Resources.NCMWebContent.WEBDATA_VK_887 %></b>
    <div style="padding-top:5px;">
        <asp:DropDownList id="ddlPeriod" runat="server"/>
    </div>
</div>
