﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TosEditor.ascx.cs" Inherits="Orion_TrafficAnalysis_TrafficViewBuilder_FilterEditors_TosEditor" %>
<%@ Register TagPrefix="tvb" TagName="FilterTracker" Src="~/Orion/TrafficAnalysis/TrafficViewBuilder/FilterEditors/FilterTracker.ascx" %>

<tvb:FilterTracker ID="filterTracker" runat="server">
    <FilterEditTemplate>
        <asp:DropDownList runat="server" ID="filterDdl" DataTextField="<%# TruncatedCaptionColumnName %>" DataValueField="ID" Width="100%" AppendDataBoundItems="True">
            <asp:ListItem Text="" Value="" />
        </asp:DropDownList>
    </FilterEditTemplate>
</tvb:FilterTracker>
