<%@ Control Language="C#" AutoEventWireup="true" CodeFile="DownloadConfig.ascx.cs" Inherits="Orion_NCM_Resources_NCMNodeDetails_DownloadConfig" %>

<orion:resourceWrapper runat="server" ID="Wrapper">
    <content>
    </content>
</orion:resourceWrapper>