<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ExecuteScript.ascx.cs" Inherits="Orion_NCM_Resources_NCMNodeDetails_ExecuteScript" %>

<orion:resourceWrapper runat="server" ID="Wrapper">
    <content>
    </content>
</orion:resourceWrapper>