<%@ Control Language="C#" AutoEventWireup="true" CodeFile="NodeDetails.ascx.cs" Inherits="Orion_NetPerfMon_Resources_CirrusResources_NodeDetails" %>

<orion:resourceWrapper runat="server" ID="Wrapper">
    <content> 
    </content>
</orion:resourceWrapper>

  
    