<%@ Control Language="C#" AutoEventWireup="true" CodeFile="UploadConfig.ascx.cs" Inherits="Orion_NCM_Resources_NCMNodeDetails_UploadConfig" %>

<orion:resourceWrapper runat="server" ID="Wrapper">
    <content>
    </content>
</orion:resourceWrapper>