<%@ Page Language="C#" AutoEventWireup="true" CodeFile="AckAlert.aspx.cs" Inherits="AckAlert" Title="Acknowlegde Alert" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
<title><%= DefaultSanitizer.SanitizeHtml(Page.Title) %></title>
</head>
<body>
</body>
</html>

