﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Orion/OrionMasterPage.master" CodeFile="AllMaps.aspx.cs" Inherits="Orion_NetPerfMon_AllMaps" %>
<%@ Register TagPrefix="x" TagName="MapThumbnail" Src="./Controls/MapThumbnail.ascx" %>
<asp:Content ContentPlaceHolderID="ContentPlaceHolder1" ID="placeHolder" runat="server">
    <div runat="server" id="mapsTable">
    </div>
    
</asp:Content>