<%@ Page Language="C#" AutoEventWireup="true"%>
<script runat="server">
    protected override void OnInit(EventArgs e)
    {
        Response.Write(SolarWinds.MapStudio.Web.MapCache.Instance.GetStats().Replace("\r\n","<br>"));
    }	

   	
</script>
<form runat="server">


</form>
