<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PrintableCustomChart.aspx.cs" Inherits="PrintableCustomChart" EnableEventValidation="false" Title="" %>
<orion:Include ID="Include1" runat="server" File="js/jquery.js" />

<head runat="server" />

    <asp:PlaceHolder ID="holder" runat="server"></asp:PlaceHolder>
