<%@ Control Language="C#" AutoEventWireup="true" CodeFile="CompareConfigs.ascx.cs" Inherits="Orion_NetPerfMon_Resources_CirrusResources_CompareConfigs" %>

<orion:resourceWrapper runat="server" ID="Wrapper">
    <content> 
    </content>
</orion:resourceWrapper>

  
    