<div xui-busy="step.isBusy" xui-busy-message="_t(Loading...)" _ta>
    <xui-message type="warning" ng-if="step.notEnoughAddress" _t>
        <b>There are not enough IP addresses in this subnet to accommodate your request.</b>
        <br/> You may submit a request to the IPAM Administrator or cancel.
    </xui-message>

    <div class="container-fluid available-address-step" ng-if="!step.notEnoughAddress" ng-form="step.ipRequest_form">
        <div _t>
            The following IP address(es) will be reserved on subnet:
            <b>{{step.ipRequest.Subnet}}</b>. Enter the Hostname and MAC Address, if known.
        </div>
        <div class="row grid-title">
            <div class="col-md-3 col-lg-3">
                <label class="xui-textbox__control-label" _t>Available IP Address</label>
            </div>
            <div class="col-md-3 col-lg-3">
                <label class="xui-textbox__control-label" _t>Host Name</label>
                <span class="xui-textbox__state-text" ng-show="!step.hostnameRequired" _t>Optional</span>
            </div>
            <div class="col-md-1 col-lg-1"></div>
            <div class="col-md-3 col-lg-3">
                <label class="xui-textbox__control-label" _t>Mac Address</label>
                <span class="xui-textbox__state-text" ng-show="!step.macAddressRequired" _t>Optional</span>
            </div>
        </div>
        <xui-listview items-source="step.itemsPaging" template-url="addresses-template">
        </xui-listview>
        <xui-pager class="small" 
                    page="step.pagination.currentPage" 
                    page-size="step.pagination.pageSize" 
                    total="step.pagination.total"
                    adjacent="{{step.pagination.adjacent}}" 
                    dots="..." 
                    scroll-top="false" 
                    hide-if-empty="true" 
                    show-prev-next="true" 
                    pager-action="step.onPageChanged(page, pageSize, total)">
        </xui-pager>
    </div>
</div>
<script type="text/ng-template" id="addresses-template">
    <div class="row">        
        <div class="col-md-3 col-lg-3 ip-address">{{::item.Address}}</div>
        <div class="col-md-3 col-lg-3">
            <xui-textbox ng-model="item.HostName.Value" 
            validators="maxlength=255" ng-pattern="/^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])$/" 
            ng-trim="true" 
            is-required="item.HostName.IsMandatory">
        </xui-textbox>            
        </div>
        <div class="col-md-1 col-lg-1"></div>
        <div class="col-md-3 col-lg-3">
            <xui-textbox ng-model="item.MacAddress.Value" 
            validators="maxlength=40" 
            ng-pattern="'^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$'" 
            is-required="item.MacAddress.IsMandatory">
        </xui-textbox>
        </div>
    </div>
</script>