<div class="container-fluid confirmation-step">
    <div>
        <xui-message type="ok" automation="iprequest-confirmMsgRequested" _t>
            <span>
                <b>Your request for {{step.ipRequest.RequestAddressCount}} IP Address(es)
                    <span ng-if="step.mode"> on subnet {{step.ipRequest.Subnet}}</span> has</b>
                been sent to your Administrator. You will be contacted shortly.
            </span>
        </xui-message>
    </div>
    <div ng-if="step.mode">
        <div class="row grid-title">
            <div class="col-xs-3">
                <label class="xui-textbox__control-label" _t>Requested IP Address</label>
            </div>
            <div class="col-xs-3">
                <label class="xui-textbox__control-label" _t>Subnet</label>
            </div>
            <div class="col-xs-3">
                <label class="xui-textbox__control-label" _t>Host Name</label>
                <span class="xui-textbox__state-text" _t>Optional</span>
            </div>
            <div class="col-xs-3">
                <label class="xui-textbox__control-label" _t>Mac Address</label>
                <span class="xui-textbox__state-text" _t>Optional</span>
            </div>
        </div>
        <div class="reserved-ip-info">
            <xui-listview items-source="step.itemsPaging" template-url="addresses-template-view">
            </xui-listview>
        </div>
        <xui-pager class="small" page="step.pagination.currentPage" page-size="step.pagination.pageSize" total="step.pagination.total"
            adjacent="{{step.pagination.adjacent}}" dots="..." scroll-top="false" hide-if-empty="true" show-prev-next="true"
            pager-action="step.onPageChanged(page, pageSize, total)">
        </xui-pager>
    </div>
</div>

<div class="to-print xui">
    <div class="visible-print-block">
        <div class="row grid-title">
            <div class="col-xs-3">
                <label class="xui-textbox__control-label" _t>Requested IP Address</label>
            </div>
            <div class="col-xs-3">
                <label class="xui-textbox__control-label" _t>Subnet</label>
            </div>
            <div class="col-xs-3">
                <label class="xui-textbox__control-label" _t>Host Name</label>
                <span class="xui-textbox__state-text" _t>Optional</span>
            </div>
            <div class="col-xs-3">
                <label class="xui-textbox__control-label" _t>Mac Address</label>
                <span class="xui-textbox__state-text" _t>Optional</span>
            </div>
        </div>
        <div ng-repeat="item in step.ipRequest.Addresses" class="row">
            <div class="col-xs-3 ip-address">{{::item.Address}}</div>
            <div class="col-xs-3">{{::item.SubnetFriendlyName}}<br>{{::item.SubnetAddress}}/{{::item.SubnetCidr}}</div>
            <div class="col-xs-3">{{::item.HostName.Value}}</div>
            <div class="col-xs-3">{{::item.MacAddress.Value}}</div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="addresses-template-view">
    <div class="row">
        <div class="col-xs-3 ip-address">{{::item.Address}}</div>
        <div class="col-xs-3">{{::item.SubnetFriendlyName}}<br>{{::item.SubnetAddress}}/{{::item.SubnetCidr}}</div>
        <div class="col-xs-3">{{::item.HostName.Value}}</div>
        <div class="col-xs-3">{{::item.MacAddress.Value}}</div>
    </div>
</script>