<div class="container-fluid request-details-step" ng-form="step.ipRequest_form">
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="xui-text-h2 xui-margin-lgb" _t>
                Request Details
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <xui-textbox ng-model="step.requestAddressCount" caption="How many IP addresses do you need?" is-required="true" type="number" validators="required,min=1,max=999" automation="iprequest-ipaddressCount"></xui-textbox>
        </div>
    </div>
    <div ng-show="step.hasAvailableSubnets" class="row">
        <div class="col-sm-12 col-md-12 select-subnet">
            <div class="xui-textbox__control-label-container"> 
                <label class="xui-textbox__control-label" _t>Would you like to select a subnet for your IP Address(es)?</label> 
            </div>   
            <xui-radio ng-model="step.knownSubnet" ng-value="false" automation="iprequest-selectSubnets" _t>No</xui-radio>
            <xui-radio ng-model="step.knownSubnet" ng-value="true" automation="iprequest-selectSubnets" _t>Yes (selection occurs on next step)</xui-radio>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <xui-textbox ng-model="step.comment" caption="Additional Comments? (i.e. department/location/ other)" rows="3" validators="maxlength=1000" automation="iprequest-comments"></xui-textbox>
        </div>
    </div>
    <xui-divider></xui-divider>
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="xui-text-h2 xui-margin-lgb" _t>
                Your Contact Info
            </div>
            <xui-textbox ng-model="step.firstName" caption="_t(First Name)"_ta validators="required,maxlength=100" automation="iprequest-firstName"></xui-textbox>
            <xui-textbox ng-model="step.lastName" caption="_t(Last Name)"_ta validators="required,maxlength=100" automation="iprequest-lastName"></xui-textbox>
            <xui-textbox ng-model="step.phone" caption="_t(Phone)"_ta type="phone" validators="maxlength=100" automation="iprequest-phone"></xui-textbox>
            <xui-textbox ng-model="step.email" caption="_t(Email)"_ta type="email" validators="required,maxlength=255" automation="iprequest-email"></xui-textbox>
            
            <ul>
                <li ng-repeat="item in step.customFields">
                    <xui-textbox ng-model="item.Value" caption="{{item.DisplayName}}" is-required="item.IsRequired"></xui-textbox>
                </li>
            </ul>

        </div>
    </div>
</div>
