/*!
 * solarwinds-containermgmt 2020.2.5-88
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.text-normal {
  font-weight: normal;
}
.cm-container__icon {
  float: left;
  width: 40px;
}
.cm-container__name {
  display: flex;
  flex-direction: column;
}
.cm-container__statistic {
  float: right;
  width: 100px;
  display: flex;
}
.cm-container__title {
  font-size: 12px;
  font-weight: 700;
  margin-right: 10px;
  word-wrap: break-word;
}
.cm-container__subtitle {
  color: #767676;
}
.cm-container__statistic-single {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50px;
}

/*# sourceMappingURL=containers.css.map*/