﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="OperationAvailability.ascx.cs" Inherits="Orion_Voip_Resources_Operations_OperationAvailability" %>

<orion:resourceWrapper runat="server" ID="Wrapper">
<Content>
<div style="position:relative;left:-8px;">
    <img src=<%= ChartImageUrl %> />
</div>
</Content>
</orion:resourceWrapper>

