/*!
 * @solarwinds/maps 2020.3.0-2237
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
/* nav menu */
map-widget-settings-controller {
  display: block;
}
map-widget-settings-controller .om-divider {
  margin-left: -15px;
  margin-right: -15px;
}
map-widget-settings-controller .om-search-wrapper {
  display: flex;
  align-items: center;
}
map-widget-settings-controller .om-search-wrapper .xui-search {
  flex: 1;
}
map-widget-settings-controller .om-search-wrapper .xui-switch {
  margin-left: 15px;
  padding: 0;
}
map-widget-settings-controller .om-selected-input input.ng-not-empty {
  font-weight: 700;
  background-color: #E2F1F5 !important;
}
map-widget-settings-controller .om-project-list .om-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #D5D5D5;
}
map-widget-settings-controller .om-project-list .om-body {
  max-height: 300px;
  overflow: auto;
  position: relative;
}
map-widget-settings-controller .om-project-list .om-project-list-item {
  padding: 0 10px;
  background-color: #F6F6F6;
}
map-widget-settings-controller .om-project-list .om-project-list-item label {
  margin-top: 3px;
}
map-widget-settings-controller .om-project-list .om-project-list-item.om-odd {
  background-color: #FFFFFF;
}
map-widget-settings-controller .om-project-list .om-project-list-item .om-secondary-detail {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
map-widget-settings-controller .om-project-list .om-project-list-item .om-secondary-detail .om-owner-detail,
map-widget-settings-controller .om-project-list .om-project-list-item .om-secondary-detail .om-site-detail {
  flex: 0 auto;
}
om-diagram {
  display: block;
  height: 100%;
  overflow: hidden;
  outline: none;
}
om-diagram canvas {
  -ms-user-select: none;
}
orion-map-viewer-widget {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
orion-map-viewer-widget > div,
orion-map-viewer-widget > div > div,
orion-map-viewer-widget > div > div > div,
orion-map-viewer-widget > div > div > div > div,
orion-map-viewer-widget .om-widget-diagram-container {
  overflow: hidden;
  height: 100%;
}
orion-map-viewer-widget .om-map-empty {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}
orion-map-viewer-widget .om-map-empty .empty-message {
  display: table-cell;
  vertical-align: middle;
}
orion-map-viewer-widget .om-widget-empty .om-widget-empty-authorized {
  display: flex;
}
orion-map-viewer-widget .om-widget-empty .om-widget-empty-authorized .om-choose-map {
  margin: 10px auto;
}
orion-map-viewer-widget .om-widget-empty .om-widget-empty-unauthorized .empty-message {
  display: table-cell;
  vertical-align: middle;
}
orion-map-viewer-widget .om-entity-tooltip-target {
  z-index: 100 !important;
  opacity: 0;
}
om-map-viewer-widget-header .om-view-mode-link {
  margin-right: 10px;
}

/*# sourceMappingURL=map-viewer-widget.css.map*/