/*!
 * @solarwinds/dilithium-behavior 0.8.2
 * @copyright 2020 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.dt-panning {
  cursor: grab;
}
.dt-panning.dt-panning-dragging {
  cursor: grabbing;
}

/*# sourceMappingURL=dilithium-behavior.css.map*/