/* @{R=Core.Strings;K=CFGDATA_TM0_39;E=xml} */
/* DefaultBackgroundColor=#b0ecd9 */
/* AlternateBackgroundColor=#b0ecd9 */
/* GrooveColor=#32cd99 */


/* BEGIN COLOR SPECIFIC STYLES */
.ResourceWrapper {
	background-color : #afecda;
	background-image : url(viewBarGradient_aqua.jpg);
	background-repeat : repeat-x;
	background-position: top;
}
    .ResourceWrapper .HeaderBar {
        border-bottom-color: #32CD99;
    }

        .ResourceWrapper .HeaderBar .sw-btn-resource, .ResourceWrapper .HeaderBar .sw-btn-resource span {
            color: #32CD99;
        }
/* END COLOR SPECIFIC STYLES */
