/* @{R=Core.Strings;K=CFGDATA_TM0_40;E=xml} */
/* DefaultBackgroundColor=#b2c5b2 */
/* AlternateBackgroundColor=#cad0ca */
/* GrooveColor=Green */


/* BEGIN COLOR SPECIFIC STYLES */
.ResourceWrapper {
	background-color : #b2c5b2;
	background-image : url(viewBarGradient_army.jpg);
	background-repeat : repeat-x;
	background-position: top;
}
    .ResourceWrapper .HeaderBar {
        border-bottom-color: Green;
    }

        .ResourceWrapper .HeaderBar .sw-btn-resource, .ResourceWrapper .HeaderBar .sw-btn-resource span {
            color: Green !important;
        }
/* END COLOR SPECIFIC STYLES */
