/* @{R=Core.Strings;K=CFGDATA_TM0_41;E=xml} */
/* DefaultBackgroundColor=#d0c1a9 */
/* AlternateBackgroundColor=#d58d14 */
/* GrooveColor=#969f18 */


/* BEGIN COLOR SPECIFIC STYLES */
.ResourceWrapper {
	background-color : #d0c1a9;
	background-image : url(viewBarGradient_browns.jpg);
	background-repeat : repeat-x;
	background-position: top;
}
    .ResourceWrapper .HeaderBar {
        border-bottom-color: #d58d14;
    }

        .ResourceWrapper .HeaderBar .sw-btn-resource, .ResourceWrapper .HeaderBar .sw-btn-resource span {
            color: #d58d14 !important;
        }
/* END COLOR SPECIFIC STYLES */
