/* @{R=Core.Strings;K=CFGDATA_TM0_42;E=xml} */
/* DefaultBackgroundColor=#f5ccb0 */
/* AlternateBackgroundColor=#f5ccb0 */
/* GrooveColor=#993300 */


/* BEGIN COLOR SPECIFIC STYLES */
.ResourceWrapper {
	background-color : #f5ccb0;
	background-image : url(viewBarGradient_firebrick.jpg);
	background-repeat : repeat-x;
	background-position: top;
}
    .ResourceWrapper .HeaderBar {
        border-bottom-color: #993300;
    }

        .ResourceWrapper .HeaderBar .sw-btn-resource, .ResourceWrapper .HeaderBar .sw-btn-resource span {
            color: #993300 !important;
        }
/* END COLOR SPECIFIC STYLES */
