/* @{R=Core.Strings;K=CFGDATA_TM0_43;E=xml} */
/* DefaultBackgroundColor=#fffacd */
/* AlternateBackgroundColor=#fffacd */
/* GrooveColor=#dbc8b5 */


/* BEGIN COLOR SPECIFIC STYLES */
.ResourceWrapper {
	background-color : #fffacd;
	background-image : url(viewBarGradient_lemon.jpg);
	background-repeat : repeat-x;
	background-position: top;
}
    .ResourceWrapper .HeaderBar {
        border-bottom-color: #b9ad4a;
    }

        .ResourceWrapper .HeaderBar .sw-btn-resource, .ResourceWrapper .HeaderBar .sw-btn-resource span {
            color: #b9ad4a !important;
        }
/* END COLOR SPECIFIC STYLES */
