/* @{R=Core.Strings;K=CFGDATA_TM0_44;E=xml} */
/* DefaultBackgroundColor=#e6e6fa */
/* AlternateBackgroundColor=#e6e6fa */
/* GrooveColor=#6a5acd */


/* BEGIN COLOR SPECIFIC STYLES */
.ResourceWrapper {
	background-color : #E6E6FA;
	background-image : url(viewBarGradient_lilac.jpg);
	background-repeat : repeat-x;
	background-position: top;
}
    .ResourceWrapper .HeaderBar {
        border-bottom-color: #6A5ACD;
    }

        .ResourceWrapper .HeaderBar .sw-btn-resource, .ResourceWrapper .HeaderBar .sw-btn-resource span {
            color: #6A5ACD !important;
        }
/* END COLOR SPECIFIC STYLES */
