/* @{R=Core.Strings;K=CFGDATA_TM0_46;E=xml} */
/* DefaultBackgroundColor=#d0ddcf */
/* AlternateBackgroundColor=#c8ddc8 */
/* GrooveColor=#006400 */


/* BEGIN COLOR SPECIFIC STYLES */
.ResourceWrapper {
	background-color : #d0ddcf;
	background-image : url(viewBarGradient_litegreen.jpg);
	background-repeat : repeat-x;
	background-position: top;
}
    .ResourceWrapper .HeaderBar {
        border-bottom-color: #006400;
    }

        .ResourceWrapper .HeaderBar .sw-btn-resource, .ResourceWrapper .HeaderBar .sw-btn-resource span {
            color: #006400 !important;
        }
/* END COLOR SPECIFIC STYLES */
