/* @{R=Core.Strings;K=CFGDATA_TM0_45;E=xml} */
/* DefaultBackgroundColor=#d2def7 */
/* AlternateBackgroundColor=#b9cef7 */
/* GrooveColor=#6495ed */


/* BEGIN COLOR SPECIFIC STYLES */
.ResourceWrapper {
	background-color : #d2def7;
	background-image : url(viewBarGradient_liteblue.jpg);
	background-repeat : repeat-x;
	background-position: top;
}
    .ResourceWrapper .HeaderBar {
        border-bottom-color: #6495ED;
    }

        .ResourceWrapper .HeaderBar .sw-btn-resource, .ResourceWrapper .HeaderBar .sw-btn-resource span {
            color: #6495ED !important;
        }
/* END COLOR SPECIFIC STYLES */
