/* @{R=Core.Strings;K=CFGDATA_TM0_47;E=xml} */
/* DefaultBackgroundColor=#b3c1df */
/* AlternateBackgroundColor=#d9d9f3 */
/* GrooveColor=#00009c */


/* BEGIN COLOR SPECIFIC STYLES */
.ResourceWrapper {
	background-color : #b3c1df;
	background-image : url(viewBarGradient_midnight.jpg);
	background-repeat : repeat-x;
	background-position: top;
}
    .ResourceWrapper .HeaderBar {
        border-bottom-color: #00009C;
    }

        .ResourceWrapper .HeaderBar .sw-btn-resource, .ResourceWrapper .HeaderBar .sw-btn-resource span {
            color: #00009C !important;
        }
/* END COLOR SPECIFIC STYLES */
