/* @{R=Core.Strings;K=CFGDATA_TM0_48;E=xml} */
/* DefaultBackgroundColor=#ffd28e */
/* AlternateBackgroundColor=#e8e5cf */
/* GrooveColor=#ff6600 */


/* BEGIN COLOR SPECIFIC STYLES */
.ResourceWrapper {
	background-color : #ffd28e;
	background-image : url(viewBarGradient_pumpkin.jpg);
	background-repeat : repeat-x;
	background-position: top;
}
    .ResourceWrapper .HeaderBar {
        border-bottom-color: #FF6600;
    }

        .ResourceWrapper .HeaderBar .sw-btn-resource, .ResourceWrapper .HeaderBar .sw-btn-resource span {
            color: #FF6600 !important;
        }
/* END COLOR SPECIFIC STYLES */
