/* @{R=Core.Strings;K=CFGDATA_TM0_49;E=xml}  */
/* DefaultBackgroundColor=#ffd5d5 */
/* AlternateBackgroundColor=#ffd5d5 */
/* GrooveColor=#8b0000 */


/* BEGIN COLOR SPECIFIC STYLES */
.ResourceWrapper {
	background-color : #ffd5d5;
	background-image : url(viewBarGradient_rose.jpg);
	background-repeat : repeat-x;
	background-position: top;
}
    .ResourceWrapper .HeaderBar {
        border-bottom-color: #8B0000;
    }

        .ResourceWrapper .HeaderBar .sw-btn-resource, .ResourceWrapper .HeaderBar .sw-btn-resource span {
            color: #8B0000 !important;
        }
/* END COLOR SPECIFIC STYLES */
