/* @{R=Core.Strings;K=CFGDATA_TM0_51;E=xml} */
/* DefaultBackgroundColor=#b0b9c5 */
/* AlternateBackgroundColor=#d2ddec */
/* GrooveColor=#92add1 */


/* BEGIN COLOR SPECIFIC STYLES */
.ResourceWrapper {
	background-color : #b0b9c5;
	background-image : url(viewBarGradient_SteelBlue.jpg);
	background-repeat : repeat-x;
	background-position: top;
}
    .ResourceWrapper .HeaderBar {
        border-bottom-color: #235FB0;
    }

        .ResourceWrapper .HeaderBar .sw-btn-resource, .ResourceWrapper .HeaderBar .sw-btn-resource span {
            color: #235FB0 !important;
        }
/* END COLOR SPECIFIC STYLES */
