/* @{R=Core.Strings;K=CFGDATA_TM0_52;E=xml} */
/* DefaultBackgroundColor=#ccccff */
/* AlternateBackgroundColor=#ccccff */
/* GrooveColor=#660099 */


/* BEGIN COLOR SPECIFIC STYLES */
.ResourceWrapper {
	background-color : #ccccff;
	background-image : url(viewBarGradient_violet.jpg);
	background-repeat : repeat-x;
	background-position: top;
}
    .ResourceWrapper .HeaderBar {
        border-bottom-color: #660099;
    }

        .ResourceWrapper .HeaderBar .sw-btn-resource, .ResourceWrapper .HeaderBar .sw-btn-resource span {
            color: #660099 !important;
        }
/* END COLOR SPECIFIC STYLES */
