﻿.summaryTable {
    border-spacing: 7px;
}

.summaryTable_Col1 {
    font-weight: bold;
}

.summaryTable .bold {
    font-weight: bold;
}

#lightBulb {
    float: left;
    width: 20px;
}

#lightBulbText {
    margin-left: 25px;
    max-width: 900px;
}

.deployment-settings-helplink, .deployment-settings-helplink:visited, .deployment-settings-helplink:active {
    color: #336699;
    font-size: 10px;
    cursor: pointer;
}

    .deployment-settings-helplink:hover {
        color: #F99D1C;
    }

.deployment-settings-unassigned-credentials {
    color: red;
    font-style: italic;
}

.dpi-node-wizard-option label {
    margin-left: 5px;
}

/* =========== Deployment wizard styling ============= */
.sw-deployment-settings-credential-window {
    padding: 10px;
}

    .sw-deployment-settings-credential-window table {
        margin-top: 12px;
    }

tr.sw-deployment-settings-first-row td {
    padding-bottom: 15px !important;
}

button.deployment-settings-add-node-button {
    background-image: url('/Orion/images/add_16x16.gif') !important;
}

button.deployment-settings-delete-node-button {
    background-image: url('/Orion/images/delete_16x16.gif') !important;
}

button.deployment-settings-assign-credentials-button {
    background-image: url('/Orion/images/icon_assign_cred_16x16.gif') !important;
}

button.deployment-settings-test-credentials-button {
    background-image: url('/Orion/AgentManagement/images/test_credentials_16x16.png') !important;
}

.collectors-grid {
    padding: 0px;
    vertical-align: middle;
}