﻿#dpi-wizard-add-application {
    width: 1000px;
}

#dpi-wizard-table tr {
    height: 34px !important;
}

.dpi-wizard-table-label {
    width: 160px;
    font-weight: bold;
    line-height: 16px;
    white-space: nowrap !important;
    text-align: left !important;
    vertical-align: top !important;
}

.dpi-wizard-table-field {
    width: 280px;
}

.dpi-wizard-summary-field {
    width: 700px;
}

.dpi-wizard-table-error {
    color: crimson;
    padding-top: 4px;
    line-height: 22px;
}

.dpi-wizard-table-hint {
    font-size: 12px;
    font-weight: 100;
    font-style: italic;
    color: #777777;
    position: relative;
    top: -8px;
    left: 2px;
}

.dpi-wizard-button-box {
    border-top: 1px solid #dadada;
    width: 1000px;
}

.dpi-pre-defined-box {
    margin-top: 5px;
    margin-left: 20px;
}

.dpi-user-defined-box {
    margin: 4px 20px;
    padding: 10px;
    width: 800px;
    background-color: #E4F1F8;
}

.dpi-inline-help-link {
    color: #336699 !important;
}

    .dpi-inline-help-link:hover {
        color: #f99d1c !important;
    }

.rightInputColumn {
    text-align: right !important;
    padding-right: 24px !important;
}

.thresholdGlobal {
    margin: 4px 0 0 4px !important;
}

    .thresholdGlobal > table {
        background-color: #f4f4f4 !important;
    }

.leftLabelColumn {
    font-weight: bold;
}

.threshold-toggle {
    color: #000000 !important;
}

.threshold-info {
    margin-left: 72px;
}

.threshold-container {
    background: #E4F1F8;
    margin-left: 135px;
    margin-top: 6px;
    padding: 12px 0 24px 24px;
}