﻿.yellowHighlight {
    background-color: #FFFDCC;
    padding: 15px !important;
    margin-bottom: 20px;
}

.GroupContent {
    min-height: 250px;
    padding: 15px 32px !important;
    margin-bottom: 20px;
}

.GroupDiv, .GroupDiv div {
    padding: 8px;
}

    .GroupDiv td, .GroupDiv th, .GroupDiv text {
        height: 16px;
        line-height: 16px;
        padding-bottom: 10px !important;
        font-size: 13px;
        font-weight: normal;
        text-align: left;
    }

    .GroupDiv th {
        font-weight: bold;
        text-align: right;
        white-space: nowrap;
        padding-right: 16px !important;
    }

    .GroupDiv input {
        color: #000000;
        width: 180px;
        height: 24px;
        text-align: left;
        text-decoration: none;
        font-size: 13px;
        padding: 0px 6px;
    }

        .GroupDiv input.ipaddress {
            width: 85px;
        }

        .GroupDiv input[readonly="readonly"] {
            color: #707070 !important;
        }

    .GroupDiv ul {
        padding: 8px 16px;
    }

    .GroupDiv li {
        height: 24px;
        line-height: 24px;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
    }

        .GroupDiv li a {
            color: #336699;
            text-decoration: underline;
        }

    .GroupDiv .sw-btn {
        vertical-align: middle !important;
    }

    .GroupDiv td.single-node-selector div {
        padding: 0px;
        overflow: visible;
        white-space: nowrap;
    }

    .GroupDiv td.value-field {
        width: 180px;
    }