﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="GroupByControl.ascx.cs" Inherits="Orion_DPI_Controls_Charts_GroupByControl" %>
<%@ Import Namespace="Resources" %>

<b><%= DPIWebContent.EditTopXXChart_GroupBy %></b><br />
<asp:DropDownList runat="server" ID="ddlGroupBy" />