﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="UDTAddNodePluginCheck.ascx.cs" Inherits="Orion_UDT_Admin_AddNodeWizard_UDTAddNodePluginCheck" %>



<div class="GroupBox" style="margin-top: -15px;">
	<div class="udt_WizardContainer">
				    <span class="ActionName"><%# String.Format(Resources.UDTWebContent.UDTWEBDATA_VB1_232, NodeWorkflowHelper.Node.IpAddress)%>
            </span>
            <br />
            <br />
                    <%# Resources.UDTWebContent.UDTWEBDATA_VB1_233 %>
            <br />
            <br />
   </div>
</div>

