<div ng-controller="dialogController as ctrl" style="display: flex; justify-content: space-between">
    <div class="pull-left" style="display: flex; width: 50%">
        <div ng-if="item.nodeId" style="margin-right: 5px">
            <xui-icon icon="{{Orion.Nodes | swEntityIcon}}" is-dynamic="true" status="{{item.status}}"></xui-icon>
        </div>
        <div class="text_wrap" ng-if="item.nodeId">
            <a href="{{item.url}}">{{item.name}}</a>
        </div>
        <div class="text_wrap" ng-if="!item.nodeId && !(item.ipAddress && ($root.SW.user.AllowNodeManagement || $root.SW.environment.demoMode))">
            {{item.name}}
        </div>
        <div  class="text_wrap" ng-if="!item.nodeId && (item.ipAddress && ($root.SW.user.AllowNodeManagement || $root.SW.environment.demoMode))">
            <a ng-if="!$root.SW.environment.demoMode" ng-click="ctrl.openManageAsNodeDialog(item.ipAddress, item.name)" name='{{item.name}}' style="cursor: pointer;">{{item.name}}</a>
			<a ng-if="$root.SW.environment.demoMode" onclick="return demoAction('HWHBMC_Overview_ManageEntity')" name='{{item.name}}' href="">{{item.name}}</a>
        </div>
    </div>
    <div class="pull-right" ng-if="!(item.responseTime===null || item.responseTime===undefined || item.status === 'External')" style="width: 30%">
        <div class="pull-right text_wrap" style="width: 100%; font-weight: bold; text-align: right">
            {{item.responseTime >= 0 ? item.responseTime : 0}} <span _t>ms</span>
        </div>
        <br />
        <div class="pull-right text_wrap" style="width: 100%; text-align: right" _t>
            Current Response Time
        </div>
    </div>
    <div class="pull-right" ng-if="!(item.percentLoss===null || item.responseTime===undefined  || item.status === 'External')" style="margin-left: 20px; width: 20%">
        <div class="pull-right text_wrap" style="width: 100%; font-weight: bold; text-align: right">
            {{item.percentLoss}} <span _t>%</span>
</div>
        <br />
        <div class="pull-right text_wrap" style="width: 100%; text-align: right" _t>
            Percent Loss
        </div>
    </div>
</div>
