<div style="display: flex; justify-content: space-between">
    <div class="pull-left" style="margin-top:3px; min-width: 32px;">
        <xui-icon icon="fan" icon-size="medium" text-alignment="right"></xui-icon>
    </div>
    <div class="pull-left">
        <div class="text_wrap">
            {{item.name}}
        </div>
        <div class="text_wrap">
            <span _t>on Chassis Module</span> {{item.module}}
        </div>
    </div>
    <div class="pull-right" style="width: 100%">
        <div class="pull-right text_wrap" style="font-weight: bold">
            {{item.status}}
        </div>
        <br />
        <div class="pull-right text_wrap" style="width: 100%; text-align: right" _t>
            Status
        </div>
    </div>
</div>