<div class="hho-row" style="display: flex;">
 
    <div class="pull-left" style="width: 62%; display:flex">
             <div style="min-width:32px; margin-top:3px;" >
                <xui-icon icon="{{::item.categoryXuiIconName}}" status="{{::item.statusIconPostfix}}" style="margin: auto;"></xui-icon>
             </div>
            <div style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: block;">
                <a href="{{::item.hwhDetailsUrl}}">
                   {{::item.sensorDisplayName}}
                </a>
                <div class="category-name" style="font-size:11px; color: #A5ABB6;">
                    {{::item.categoryName}}
                </div>
            </div>
    </div>
    <div class="pull-right" style="width: 20%; display:flex; margin-top:auto; margin-bottom:auto; justify-content:flex-end;">
        <xui-icon icon="{{::item.sourceStatusXuiIconName}}" icon-size="small" ng-if="item.sourceType == 1" style="margin-right:4px;margin-top:1px;"></xui-icon>
        <a ng-if="item.sourceDetailsUrl" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: block;" href="{{::item.sourceDetailsUrl}}"><span class="source-name">{{::item.sourceName}}</span></a>
        <span class="source-name" ng-if="!item.sourceDetailsUrl" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: block;">{{::item.sourceName}}</span>
    </div>
    <div class="pull-right" style="width: 18%; position:relative">
        <div class="pull-right text_wrap" style="text-align: right; line-height:40px; min-height:40px; padding-right:3px; width:100%; position:absolute; left:10px; top:-4px" 
        
        ng-if="item.sensorValue != null"
         ng-style="item.isValueCritical && {'background-color':'#FDCCC8','font-weight':'bold'} || item.isValueWarning && {'background-color':'#FDE8BF','font-weight':'bold'}">
         <span class="sensor-display-value" ng-bind-html="item.sensorDisplayValue"></span>
        </div>
    </div>
</div>
