<div style="display: flex; justify-content: space-between">
    <div class="display: flex; justify-content: flex-start height:100%;">
        <div class="pull-left" style="margin-top:3px; min-width: 32px;">
            <xui-icon icon="psu" icon-size="medium" text-alignment="right"></xui-icon>
        </div>
        <div class="pull-left">
            <div class="text_wrap">
                {{item.name}}
            </div>
        </div>
    </div>
    <div class="pull-right">
        <div style="display: flex; justify-content: space-between">
            <div class="pull-right" style="width: 100%">
                <div class="pull-right text_wrap" style="font-weight: bold">
                    {{item.power}}
                </div>
                <br />
                <div class="pull-right text_wrap" style="width: 100%; text-align: right" _t>
                    Power
                </div>
            </div>
            <div class="pull-right" style="width: 20px">
            </div>
            <div class="pull-right" style="width: 100%">
                <div class="pull-right text_wrap" style="font-weight: bold">
                    {{item.status}}
                </div>
                <br />
                <div class="pull-right text_wrap" style="width: 100%; text-align: right" _t>
                    Status
                </div>
            </div>
        </div>
    </div>
</div>