﻿.ResourceWrapper table {
    border-collapse: collapse !important;
}

.AssetInventoryDataGrid td {
    padding: 5px;
}

.AssetInventoryDataGrid .ReportHeader {
    padding: 5px;
    border-width: 0px;
    font-size: 10pt !important;
    font-weight: bold;
}

.aiBold {
    font-weight: bold;
}

.LogicalVolumePercentBackground {
    width: 50px;
    height: 10px;
    top: 0px;
    left: 0px;
    background-color: #eae9e7;
    background-image: url('/Orion/images/Gradient-Background.gif');
}

.LogicalVolumePercentValueNonCritical {
    background-image: url('/Orion/images/Gradient-Green.gif');
    background-position: bottom;
    height: 10px;
    background-repeat: repeat-x;
}

.LogicalVolumePercentValueDefault {
    background-image: url('/Orion/AssetInventory/images/Gradient-Blue.gif');
    background-position: bottom;
    height: 10px;
    background-repeat: repeat-x;
}

.LogicalVolumePercentValueWarning {
    background-image: url('/Orion/images/Gradient-Yellow.gif');
    background-position: bottom;
    height: 10px;
    background-repeat: repeat-x;
}

.LogicalVolumePercentValueCritical {
    background-image: url('/Orion/images/Gradient-Red.gif');
    background-position: bottom;
    height: 10px;
    background-repeat: repeat-x;
}

.AssetInventoryResourceTableHeading {
    font-size: 12px;
    font-weight: bold;
}

.aiCountLabel {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #000000;
    padding-left: 5px;
}

table.AssetInventoryResourceTable, .AssetInventoryResource .sw-custom-query-table {
    border: 0px;
    border-collapse: collapse;
    width: 100%;
}

.BreakableText {
    word-break: break-all;	
}

table.AssetInventoryResourceTable td, .AssetInventoryResource .sw-custom-query-table td {
    padding: 5px;
}

.AssetInventoryResource .ReportHeader {
    border-width: 0px;
}

.AssetInventoryResource .ResourcePagerControl {
    font-size: 8pt;
}

.AssetInventoryResource .ResourcePagerInfo {
    padding-top: 2px;
    font-size: 8pt;
}

.aiCollapsableTable {
    display: none;
}

table.aiCollapsableTable tr td {
    border-bottom: 0px !important;
}

.aiCollapsableTableHeader {
    background: #E0E0E0;
    text-transform: uppercase;
    font-size: 7pt !important;
    padding: 5px 30px 5px 30px !important;
}

.aiHideData {
    display: none;
}

.AssetInventoryWarrantyLink, .AssetInventoryWarrantyLink:visited {
    color: #336699;
    margin-left: 5px;
}

.AssetInventoryWarrantyIcon {
    vertical-align: middle;
}

.aiWarrantyWarning {
    background-color: #DFDF00;
    background-image: url('/Orion/images/Gradient-Yellow.gif');
    background-position: bottom;
    height: 10px;
    background-repeat: repeat-x;
}

.aiWarrantyCritical {
    background-color: #CC0000;
    background-image: url('/Orion/images/Gradient-Red.gif');
    background-position: bottom;
    height: 10px;
    background-repeat: repeat-x;
}

.aiWarrantyNormal {
    background-color: green;
    background-image: url('/Orion/images/Gradient-Green.gif');
    background-position: bottom;
    height: 10px;
    background-repeat: repeat-x;
}

.aiWarrantyCriticalFont {
    color: red;
    font-weight: bold;
}

.aiWarrantyWarningFont {
    color: red;
}

.aiWarrantyNormalFont {
    color: black;
}

.aiLogicalVolumesCriticalFont {
    color: red;
    font-weight: bold;
}

.aiLogicalVolumesWarningFont {
    color: red;
}

.aiLogicalVolumesNormalFont {
    color: black;
}

.aiWarrantyPercentBackground {
    background-color: lightgray;
    width: 60px;
    height: 10px;
    top: 0px;
    left: 0px;
    background-color: #eae9e7;
    background-image: url('/NetPerfMon/images/Bar.Background.gif');
}

.sw-ce-hint-nib {
    position: absolute;
    background: url(/orion/images/login_corners.gif) left center no-repeat;
    width: 14px;
    margin-left: -13px;
    height: 100%;
}

.sw-ce-hint-inner {
    border: 1px solid #eaca7f;
    border-radius: 5px;
    background: #fffdcc;
}

.sw-ce-hint-body {
    margin: 6px 4px 10px 4px;
    padding-left: 22px;
    background: url(/orion/images/icon.lightbulb.gif) top left no-repeat;
}
