﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ComboEnumSelector.ascx.cs" Inherits="Orion_Voip_Controls_ComboEnumSelector" %>
<asp:DropDownList ID="DropDownList" runat="server">
</asp:DropDownList>
<asp:RequiredFieldValidator id="RequiredFieldValidator"  
  runat="server" ErrorMessage="" 
  ControlToValidate="DropDownList" 
  InitialValue="0">
</asp:RequiredFieldValidator>

