<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Grouping.ascx.cs" Inherits="Orion_Voip_Controls_Grouping" %>

<b><%= Resources.VNQMWebContent.VNQMWEBDATA_AK1_174 %></b>
<br/>
<asp:DropDownList ID="ddlGrouping" runat="server"  ></asp:DropDownList>