﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="OperationTypeSelection.ascx.cs" Inherits="Orion_Voip_Controls_OperationTypeSelection" %>

<asp:CheckBoxList ID="OperationTypeFilter" runat="server"></asp:CheckBoxList>