﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="OperationStatusImage.ascx.cs" Inherits="Orion_Voip_Controls_OperationStatusImage" %>
<img src='<%=ImageUrl %>' title='<%= Text %>' alt='' class="IpSlaStatus" />