﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="RenderableSmallStatusIcon.ascx.cs" Inherits="Orion_Voip_Controls_RenderableSmallStatusIcon" %>
<%@ Register src="../../Controls/SmallStatusIcon.ascx" tagname="SmallStatusIcon" tagprefix="uc1" %>
<uc1:SmallStatusIcon ID="SmallStatusIconToRender" runat="server" />
