/*!
 * solarwinds-orionlog 2.5.0
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.orionlog .nopadding {
  margin: 0px !important;
  padding: 0px !important;
}
.orionlog .failed {
  background-color: #FFE4E0;
}
.orionlog .passed {
  background-color: #e7f4df;
}
.orionlog .untested {
  background-color: #FFFFFF;
}
.orionlog .disabled {
  color: #767676 !important;
}
.orionlog label.file-button {
  width: 90px !important;
  padding: 5px;
}
.orionlog label.file-button:hover {
  background-color: #e4e4e4;
}
.orionlog .level-color-bar {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 10px;
  background-color: transparent;
  border: 1px solid white;
}
.orionlog .level-color-bar.severity-emergency,
.orionlog .level-color-bar.severity-alert,
.orionlog .level-color-bar.severity-critical,
.orionlog .level-color-bar.severity-fatal,
.orionlog .level-color-bar.severity-0,
.orionlog .level-color-bar.severity-1,
.orionlog .level-color-bar.severity-2 {
  background-color: #950000 !important;
}
.orionlog .level-color-bar.severity-error,
.orionlog .level-color-bar.severity-3 {
  background-color: #D50000 !important;
}
.orionlog .level-color-bar.severity-warning,
.orionlog .level-color-bar.severity-warn,
.orionlog .level-color-bar.severity-4 {
  background-color: #FEC405 !important;
}
.orionlog .level-color-bar.severity-notice,
.orionlog .level-color-bar.severity-information,
.orionlog .level-color-bar.severity-info,
.orionlog .level-color-bar.severity-informational,
.orionlog .level-color-bar.severity-5 {
  background-color: #abd5e3 !important;
}
.orionlog .level-color-bar.severity-6,
.orionlog .level-color-bar.severity-unknown {
  background-color: #D5D5D5 !important;
}
.orionlog .level-color-bar.severity-debug,
.orionlog .level-color-bar.severity-verbose,
.orionlog .level-color-bar.severity-trace,
.orionlog .level-color-bar.severity-7 {
  background-color: #dcc3f0 !important;
}
.orionlog .level-color-bar.severity-null {
  border: 1px solid transparent !important;
}
.orionlog .view-table {
  display: table;
  width: 100%;
}
.orionlog .view-table .view-cell {
  display: table-cell;
  vertical-align: top;
}
.log-entry-list {
  height: 100% !important;
  position: relative;
}
.logentry-list-item {
  display: flex;
  align-content: flex-start;
  padding: 0;
}
.logentry-list-item .col-status {
  display: inline-block;
}
.logentry-list-item .col-date {
  display: inline-block;
  width: 110px;
  text-align: right;
  padding: 7px 15px 7px 0;
}
.logentry-list-item .col-entry {
  display: inline-block;
  padding-left: 15px;
  width: 100%;
  padding: 7px 0 7px 0;
}
.logentry-list-item .col-entry .log-entry-header {
  display: flex;
}
.logentry-list-item .col-entry .log-entry-header .log-entry-nodename {
  display: table-cell;
  vertical-align: top;
  padding-right: 7px !important;
  width: 120px;
  flex-grow: 1;
}
.logentry-list-item .col-entry .log-entry-header .log-entry-nodename a {
  align-self: flex-start;
}
.logentry-list-item .col-entry .log-entry-header .log-entry-tags {
  display: table-cell;
  vertical-align: top;
  width: 300px;
  flex-grow: 1;
}
.logentry-list-item .col-entry .log-entry-header .log-entry-tags .tags {
  display: flex;
  flex-wrap: nowrap !important;
  justify-content: flex-end;
}
.logentry-list-item .col-entry .log-entry-header .log-entry-tags .tags .xui-tag {
  flex-shrink: 1;
  height: 18px;
  overflow: hidden;
  display: inline-block;
}
.logentry-list-item .col-entry .log-entry-message {
  overflow: hidden;
  height: 20px;
  word-break: break-all;
  padding: 0 0 7px 0;
}
.logentry-list-item .col-control {
  display: inline-block;
  padding-left: 15px;
  width: 20px;
  padding-right: 0;
}
.logentry-list-item .tag-horizontal {
  overflow: hidden;
  display: inline-block;
  margin-right: 7px !important;
  white-space: nowrap;
}

/*# sourceMappingURL=orionlog-widgets.css.map*/