/*!
 * solarwinds-orionlog 2.5.0
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.orionlog .nopadding {
  margin: 0px !important;
  padding: 0px !important;
}
.orionlog .failed {
  background-color: #FFE4E0;
}
.orionlog .passed {
  background-color: #e7f4df;
}
.orionlog .untested {
  background-color: #FFFFFF;
}
.orionlog .disabled {
  color: #767676 !important;
}
.orionlog label.file-button {
  width: 90px !important;
  padding: 5px;
}
.orionlog label.file-button:hover {
  background-color: #e4e4e4;
}
.orionlog .level-color-bar {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 10px;
  background-color: transparent;
  border: 1px solid white;
}
.orionlog .level-color-bar.severity-emergency,
.orionlog .level-color-bar.severity-alert,
.orionlog .level-color-bar.severity-critical,
.orionlog .level-color-bar.severity-fatal,
.orionlog .level-color-bar.severity-0,
.orionlog .level-color-bar.severity-1,
.orionlog .level-color-bar.severity-2 {
  background-color: #950000 !important;
}
.orionlog .level-color-bar.severity-error,
.orionlog .level-color-bar.severity-3 {
  background-color: #D50000 !important;
}
.orionlog .level-color-bar.severity-warning,
.orionlog .level-color-bar.severity-warn,
.orionlog .level-color-bar.severity-4 {
  background-color: #FEC405 !important;
}
.orionlog .level-color-bar.severity-notice,
.orionlog .level-color-bar.severity-information,
.orionlog .level-color-bar.severity-info,
.orionlog .level-color-bar.severity-informational,
.orionlog .level-color-bar.severity-5 {
  background-color: #abd5e3 !important;
}
.orionlog .level-color-bar.severity-6,
.orionlog .level-color-bar.severity-unknown {
  background-color: #D5D5D5 !important;
}
.orionlog .level-color-bar.severity-debug,
.orionlog .level-color-bar.severity-verbose,
.orionlog .level-color-bar.severity-trace,
.orionlog .level-color-bar.severity-7 {
  background-color: #dcc3f0 !important;
}
.orionlog .level-color-bar.severity-null {
  border: 1px solid transparent !important;
}
.orionlog .view-table {
  display: table;
  width: 100%;
}
.orionlog .view-table .view-cell {
  display: table-cell;
  vertical-align: top;
}
.orionlog {
  /* HACK!!! No choice but OK by Nova since this is for DEPRECATED V1 filtered-list */
}
.orionlog .xui-expandable-property__count.xui-margin-sml {
  margin-left: 0px !important;
}
.orionlog .orion-log-panel {
  display: flex;
}
.orionlog .orion-log-panel .log-list {
  width: 100% !important;
}
.orionlog .nav-region {
  margin: 0;
  padding: 7px !important;
  border-bottom: #D5D5D5 !important;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  border-top: #D5D5D5 !important;
  border-top-width: 1px !important;
  border-top-style: solid !important;
}
.orionlog .nav-region .event-totals {
  padding-top: 5px !important;
}
.orionlog .tag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.orionlog .xui-tag.color-1,
.orionlog .color-swatch.color-1 {
  background-color: #176998 !important;
  border-color: #176998 !important;
  color: #FFFFFF !important;
}
.orionlog .xui-tag.color-2,
.orionlog .color-swatch.color-2 {
  background-color: #A31770 !important;
  border-color: #A31770 !important;
  color: #FFFFFF !important;
}
.orionlog .xui-tag.color-3,
.orionlog .color-swatch.color-3 {
  background-color: #00bba1 !important;
  border-color: #00bba1 !important;
  color: #FFFFFF !important;
}
.orionlog .xui-tag.color-4,
.orionlog .color-swatch.color-4 {
  background-color: #30B230 !important;
  border-color: #30B230 !important;
  color: #FFFFFF !important;
}
.orionlog .xui-tag.color-5,
.orionlog .color-swatch.color-5 {
  background-color: #ff7300 !important;
  border-color: #ff7300 !important;
  color: #FFFFFF !important;
}
.orionlog .xui-tag.color-6,
.orionlog .color-swatch.color-6 {
  background-color: #9e5048 !important;
  border-color: #9e5048 !important;
  color: #FFFFFF !important;
}
.orionlog .xui-tag.color-7,
.orionlog .color-swatch.color-7 {
  background-color: #D50000 !important;
  border-color: #D50000 !important;
  color: #FFFFFF !important;
}
.orionlog .xui-tag.color-8,
.orionlog .color-swatch.color-8 {
  background-color: #177D6F !important;
  border-color: #177D6F !important;
  color: #FFFFFF !important;
}
.orionlog .xui-tag.color-9,
.orionlog .color-swatch.color-9 {
  background-color: #858585 !important;
  border-color: #858585 !important;
  color: #FFFFFF !important;
}
.orionlog .xui-tag.color-10,
.orionlog .color-swatch.color-10 {
  background-color: #9954d4 !important;
  border-color: #9954d4 !important;
  color: #FFFFFF !important;
}
.orionlog .xui-tag.color-11,
.orionlog .color-swatch.color-11 {
  background-color: #a6e7de !important;
  border-color: #a6e7de !important;
  color: #000 !important;
}
.orionlog .xui-tag.color-12,
.orionlog .color-swatch.color-12 {
  background-color: #FEC405 !important;
  border-color: #FEC405 !important;
  color: #000 !important;
}
.orionlog .xui-tag.color-13,
.orionlog .color-swatch.color-13 {
  background-color: #ffa6df !important;
  border-color: #ffa6df !important;
  color: #000 !important;
}
.orionlog .xui-tag.color-14,
.orionlog .color-swatch.color-14 {
  background-color: #a6dbf8 !important;
  border-color: #a6dbf8 !important;
  color: #000 !important;
}
.orionlog .color-swatch {
  display: inline-block;
  margin: 0;
  padding: 5px;
  width: 100%;
}
.orionlog-configuration .log-rule-read-only-policy-container {
  padding: 15px 15px 0 15px;
}
.orionlog-configuration .log-100percent-height {
  height: 100%;
}
.orionlog-configuration .xui-tabs-router {
  height: 100%;
}
.orionlog-configuration .xui-page-content__wrapper > div:first-child {
  height: 100%;
}
.orionlog-configuration .xui-page-content__busy-wrap {
  padding-bottom: 20px;
}
.orionlog-configuration .xui-panel {
  padding-bottom: 27px;
}
.orionlog-configuration .xui-panel__body {
  padding-left: 0px;
  padding-right: 0px;
}
.orionlog-configuration .xui-panel__left-pane-body {
  padding: 0px 10px;
}
.orionlog-configuration .xui-tabs__content-container {
  padding: 0px;
  padding-bottom: 0px;
  height: 100%;
}
.orionlog-configuration .xui-tabs__content {
  height: 100%;
}
.orionlog-configuration .xui-tabs__content .xui-if-show {
  height: 100%;
}
.orionlog-configuration .xui-tabs__content .xui-if-show .xui-if-show__ng-if {
  height: 100%;
}
.orionlog-configuration .xui-tabs__content .xui-if-show .xui-if-show__ng-if .xui-if-show__ng-show {
  height: 100%;
}
.orionlog-configuration .xui-tabs__content .xui-if-show .xui-if-show__ng-if .xui-if-show__ng-show > div:first-child {
  height: 100%;
}
.orion-log-configuration-header-container {
  padding-left: 16px;
  padding-top: 7px;
  margin-bottom: -7px;
  overflow: hidden;
}
.orion-log-configuration-header-container .left-side {
  float: left;
  width: 80%;
  overflow: hidden;
}
.orion-log-configuration-header-container .right-side {
  float: left;
  width: 20%;
  position: absolute;
  text-align: end;
  padding-right: 19px;
}
.orionlog-rule-builder .rule-section,
.orionlog-rule-builder .rule-condition-section {
  margin-top: 10px;
  padding: 10px;
}
.orionlog-rule-builder .rule-section .rule-panel,
.orionlog-rule-builder .rule-condition-section .rule-panel {
  border-left: dotted 2px #D5D5D5;
  margin-left: 7px;
  padding-left: 7px;
  min-height: 100px;
}
.orionlog-rule-builder .rule-condition-section .xui-radio {
  min-height: unset;
  height: 30px;
}
.orionlog-rule-builder .rule-summary .summary-section {
  margin-top: 10px;
}
.orionlog-rule-builder .rule-summary .summary-item {
  margin-bottom: 10px;
}
.rule-advanced-settings .xui-expander-heading-text {
  padding-left: 5px;
  font-size: 14px;
  color: #0079AA;
  font-weight: 700;
}
#rule-threshold-container,
#rule-flood-protection-container,
#rule-time-window-container {
  min-height: initial;
  padding-top: 6px;
}
#rule-threshold-container .flex-container,
#rule-flood-protection-container .flex-container,
#rule-time-window-container .flex-container {
  display: flex;
  justify-content: flex-start;
}
#rule-threshold-container .rule-flood-protection-text,
#rule-flood-protection-container .rule-flood-protection-text,
#rule-time-window-container .rule-flood-protection-text {
  line-height: 2;
}
#rule-threshold-container .rule-threshold-item,
#rule-flood-protection-container .rule-threshold-item,
#rule-time-window-container .rule-threshold-item,
#rule-threshold-container .rule-flood-protection-item,
#rule-flood-protection-container .rule-flood-protection-item,
#rule-time-window-container .rule-flood-protection-item,
#rule-threshold-container .rule-time-window-item,
#rule-flood-protection-container .rule-time-window-item,
#rule-time-window-container .rule-time-window-item {
  padding-left: 7px;
}
#rule-threshold-container .rule-time-window-intervals,
#rule-flood-protection-container .rule-time-window-intervals,
#rule-time-window-container .rule-time-window-intervals {
  padding-top: 5px;
}
#rule-threshold-container .rule-time-window-item .xui-checkbox-group,
#rule-flood-protection-container .rule-time-window-item .xui-checkbox-group,
#rule-time-window-container .rule-time-window-item .xui-checkbox-group {
  display: flex;
  justify-content: flex-start;
}
#rule-threshold-container .rule-time-window-item .time-window-start-text,
#rule-flood-protection-container .rule-time-window-item .time-window-start-text,
#rule-time-window-container .rule-time-window-item .time-window-start-text {
  padding-right: 10px;
  margin-top: 5px;
}
#rule-threshold-container .rule-time-window-item .time-window-end-text,
#rule-flood-protection-container .rule-time-window-item .time-window-end-text,
#rule-time-window-container .rule-time-window-item .time-window-end-text {
  padding-right: 10px;
  margin-top: 5px;
  padding-left: 10px;
}
#rule-threshold-container .rule-time-window-item .xui-checkbox-label,
#rule-flood-protection-container .rule-time-window-item .xui-checkbox-label,
#rule-time-window-container .rule-time-window-item .xui-checkbox-label {
  padding-right: 10px;
}
#rule-threshold-container .error-messages > div,
#rule-flood-protection-container .error-messages > div,
#rule-time-window-container .error-messages > div {
  clear: both;
  margin: 0 0 7px 0;
  line-height: 1.5;
  font-size: 11px;
  font-weight: 700;
  color: #D50000;
}
#rule-threshold-container .time-window-days-error > div,
#rule-flood-protection-container .time-window-days-error > div,
#rule-time-window-container .time-window-days-error > div {
  padding-left: 7px;
}
.orionlog-rule-tester .header-container {
  padding: 7px;
}
.orionlog-rule-tester .test-panel {
  margin: 0!important;
}
.orionlog-rule-tester .test-toolbar {
  margin: 0;
  border-top: 1px solid #D5D5D5 !important;
  border-bottom: 1px solid #D5D5D5 !important;
}
.orionlog-rule-tester .test-input {
  margin-left: 0;
  padding-right: 10px;
  border-right: 1px solid #D5D5D5 !important;
}
.orionlog-rule-tester .checkbox-item {
  margin-left: 15px;
  padding-left: 15px;
}
.orionlog-rule-tester .test-output {
  padding: 10px;
}
.log-entry-list {
  height: 100% !important;
  position: relative;
}
.logentry-list-item {
  display: flex;
  align-content: flex-start;
  padding: 0;
}
.logentry-list-item .col-status {
  display: inline-block;
}
.logentry-list-item .col-date {
  display: inline-block;
  width: 110px;
  text-align: right;
  padding: 7px 15px 7px 0;
}
.logentry-list-item .col-entry {
  display: inline-block;
  padding-left: 15px;
  width: 100%;
  padding: 7px 0 7px 0;
}
.logentry-list-item .col-entry .log-entry-header {
  display: flex;
}
.logentry-list-item .col-entry .log-entry-header .log-entry-nodename {
  display: table-cell;
  vertical-align: top;
  padding-right: 7px !important;
  width: 120px;
  flex-grow: 1;
}
.logentry-list-item .col-entry .log-entry-header .log-entry-nodename a {
  align-self: flex-start;
}
.logentry-list-item .col-entry .log-entry-header .log-entry-tags {
  display: table-cell;
  vertical-align: top;
  width: 300px;
  flex-grow: 1;
}
.logentry-list-item .col-entry .log-entry-header .log-entry-tags .tags {
  display: flex;
  flex-wrap: nowrap !important;
  justify-content: flex-end;
}
.logentry-list-item .col-entry .log-entry-header .log-entry-tags .tags .xui-tag {
  flex-shrink: 1;
  height: 18px;
  overflow: hidden;
  display: inline-block;
}
.logentry-list-item .col-entry .log-entry-message {
  overflow: hidden;
  height: 20px;
  word-break: break-all;
  padding: 0 0 7px 0;
}
.logentry-list-item .col-control {
  display: inline-block;
  padding-left: 15px;
  width: 20px;
  padding-right: 0;
}
.logentry-list-item .tag-horizontal {
  overflow: hidden;
  display: inline-block;
  margin-right: 7px !important;
  white-space: nowrap;
}
.orionlog .debug-toolbar {
  margin: 0;
  border-top: 1px solid #D5D5D5;
  border-bottom: 1px solid #D5D5D5;
}
.orionlog .header {
  padding: 10px !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.orionlog .header div {
  margin-top: 10px;
}
.orionlog .log-entry-tag {
  margin-right: 5px;
}
.orionlog .log-entry-detail {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
.orionlog .log-entry-detail .item {
  margin: 10px !important;
  margin-top: 0px !important;
}
.orionlog .log-entry-detail .log-entry-fieldValues {
  margin-left: 5px;
}
.orionlog .log-entry-detail .log-entry-values-fieldLabel {
  margin-bottom: 10px;
}
.orionlog .log-entry-detail .log-entry-fieldValue,
.orionlog .log-entry-detail .log-entry-subFieldValue {
  margin-bottom: 10px;
}
.date-time-nav .time-picker {
  margin-top: 7px;
}
.date-time-nav .xui-chart-timeframepicker {
  justify-content: unset;
}
.log-event-history-chart {
  border-bottom: 1px solid #D5D5D5;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
}
.log-rule-list {
  height: 100% !important;
}
.image-description {
  margin-top: 15px;
  margin-bottom: 30px;
}
.no-rules-image {
  margin: auto;
}
.empty-data-footer {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 15px;
}
.logrule-list-item {
  margin: 0;
  display: table;
  width: 100%;
  padding-top: 3px;
}
.logrule-list-item .logrule-processing-order {
  display: table-cell;
  width: 3%;
}
.logrule-list-item .logrule-processing-order .logrule-processing-order-text {
  color: gray;
}
.logrule-list-item .logrule-body {
  display: table-cell;
  width: 87%;
}
.logrule-list-item .logrule-body .logrule-if-then {
  display: table;
}
.logrule-list-item .logrule-body .logrule-if-then .logrule-if,
.logrule-list-item .logrule-body .logrule-if-then .logrule-then {
  display: table-row;
  padding: 0;
}
.logrule-list-item .logrule-body .logrule-if-then .logrule-if .logrule-label,
.logrule-list-item .logrule-body .logrule-if-then .logrule-then .logrule-label {
  display: table-cell;
  text-align: right !important;
  vertical-align: top !important;
  padding-top: 2.5px;
  padding-right: 10px;
}
.logrule-list-item .logrule-body .logrule-if-then .logrule-if .logrule-name,
.logrule-list-item .logrule-body .logrule-if-then .logrule-then .logrule-name {
  display: table-cell;
  font-style: italic;
}
.logrule-list-item .logrule-body .logrule-if-then .logrule-if .logrule-action,
.logrule-list-item .logrule-body .logrule-if-then .logrule-then .logrule-action {
  display: table-cell;
  vertical-align: top;
}
.logrule-list-item .logrule-body .logrule-if-then .logrule-if .logrule-action .action-info,
.logrule-list-item .logrule-body .logrule-if-then .logrule-then .logrule-action .action-info {
  display: inline;
}
.logrule-list-item .logrule-control {
  display: table-cell;
  vertical-align: middle;
  width: 10%;
  text-align: end;
}
.logrule-list-item .logrule-matches {
  display: table-cell;
  padding: 5px;
  width: 10%;
}
.logrule-account-not-found {
  color: #D50000;
  font-weight: 700;
}
.log-rule-action-list {
  height: 100% !important;
  margin-top: 10px !important;
}
.log-rule-action-list .log-rule-action-list-line {
  margin-top: 10px !important;
}
.log-rule-action-list .log-rule-action-list-line .log-rule-action-list-item {
  border: 1px solid #D5D5D5;
  padding: 15px;
}
.log-rule-action-list .log-rule-action-list-line .log-rule-action-list-item.disabled {
  padding: 5px;
}
.log-rule-action-list .log-rule-action-list-line .log-rule-action-list-item.footer {
  padding: 5px !important;
}
.log-rule-action-list .log-rule-action-list-line .log-rule-action-list-item .log-rule-action-list-external-program {
  margin-left: 5px;
}
.log-rule-action-list .log-rule-action-list-line .log-rule-action-list-item .log-rule-action-list-external-program .log-rule-action-list-external-program-acc-deleted {
  color: #D50000;
  font-weight: 700;
}
.log-rule-action-list .log-rule-action-list-line .log-rule-action-list-item .log-rule-action-list-fix-height {
  margin-top: -7px;
}
.log-rule-action-list .log-rule-action-list-line .log-rule-action-list-item .log-rule-action-item-controls .xui-button {
  padding-top: 0px !important;
}
.log-rule-action-list .log-rule-action-list-line .rule-actions-item-label {
  width: 40px !important;
}
.log-rule-action-list .log-rule-action-list-line .icon-column {
  width: 20px !important;
}
.log-policy-list {
  height: 100% !important;
}
.log-policy-list .policy-toolbar {
  border-bottom: 1px solid #D5D5D5;
  margin-bottom: 10px;
}
.log-policy-list .log-source-group {
  margin-bottom: 10px;
}
.log-policy-list .logpolicy-list-item {
  width: 100%;
  padding: 10px;
}
.log-policy-list .logpolicy-list-item:hover {
  background-color: #d4e3ea;
}
.log-policy-list .logpolicy-list-item.selected {
  background-color: #d4e3ea !important;
  font-weight: 700;
}
.orionlog-rule-conditions-editor .or {
  white-space: nowrap;
  padding-right: 1ch;
}
.orionlog-rule-conditions-editor .comparison-or-label {
  width: 3.6%!important;
}
.orionlog-rule-conditions-editor .comparison-or-label .white {
  color: white !important;
}
.orionlog-rule-conditions-editor .hyphen {
  padding-left: 10px;
  width: 10px;
}
.orionlog-rule-conditions-editor .value-control {
  padding-left: 10px;
  text-align: left;
  width: 400px;
}
.orionlog-rule-conditions-editor .value-control.both {
  width: 300px;
}
.orionlog-rule-conditions-editor .condition-value-editor {
  width: auto;
  padding-right: 2px;
}
.orionlog-rule-conditions-editor .comparison-control .xui-dropdown {
  width: max-content;
}
.orionlog-rule-conditions-editor .delete-control {
  width: 3% !important;
  text-align: right;
  padding-right: 2px;
}
.orionlog-rule-conditions-editor .rule-condition {
  display: flex;
  margin-top: 10px;
}
.orionlog-rule-conditions-editor .rule-condition:first-child {
  margin-top: 0px;
}
.orionlog-rule-conditions-editor .rule-condition .label {
  flex-flow: row;
  width: 50px;
  text-align: right !important;
}
.orionlog-rule-conditions-editor .rule-condition .definition {
  flex-flow: row;
  border: 1px solid #D5D5D5;
  padding: 7px;
  width: 100% !important;
}
.orionlog-rule-conditions-editor .rule-condition .definition.readonly {
  padding: 5px;
}
.orionlog-rule-conditions-editor .rule-condition .definition.definition-control {
  padding: 0;
}
.orionlog-rule-conditions-editor .rule-condition .definition .definition-field {
  display: table;
}
.orionlog-rule-conditions-editor .rule-condition .definition .definition-field .field-selection {
  display: table-cell;
  width: 800px;
}
.orionlog-rule-conditions-editor .rule-condition .definition .definition-field .condition-delete {
  display: table-cell;
  width: 20px;
  position: absolute;
}
.orionlog-rule-conditions-editor .rule-condition .table {
  display: flex;
}
.orionlog-rule-conditions-editor .rule-condition .flow-row {
  display: flex;
  flex-flow: row;
}
.orionlog-rule-condition-field-selector .field-selector-control {
  padding-left: 10px;
  text-align: left;
  width: 200px;
}
.orionlog-rule-condition-field-selector .subfield-selector-control {
  padding-left: 10px;
  width: 600px;
}
.orionlog-rule-actions-editor .action-summary {
  margin-top: 15px !important;
}
.orionlog-rule-actions-editor .icon-column {
  width: 24px !important;
}
.orionlog-rule-actions-editor .action-description-column {
  width: 600px !important;
}
.orionlog-rule-actions-editor .hidden {
  visibility: hidden !important;
}
.orionlog-rule-actions-editor .destination-fields {
  width: 650px !important;
}
.orionlog-rule-actions-editor .destination-fields .server-text-container {
  width: 300px;
}
.orionlog-rule-actions-editor .destination-fields .protocol-port-text {
  padding-left: 10px;
  width: 100px;
}
.orionlog-rule-actions-editor .destination-fields .protocol-select {
  padding-top: 10px;
  padding-left: 10px;
  width: 80px;
}
.orionlog-rule-actions-editor .new-tag-list {
  margin-left: 10px;
  width: 800px;
}
.orionlog-rule-actions-editor .new-tag-list .new-tag-name {
  width: 200px;
}
.orionlog-rule-actions-editor .new-tag-list .new-tag-color {
  width: 200px;
}
.orionlog-rule-actions-editor .new-tag-list .new-tag-color-sample {
  width: 20px;
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
}
.orionlog-rule-actions-editor .tag-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.orionlog-rule-actions-editor .tag-selector .tag-control {
  display: inline-block !important;
  margin-left: 10px;
}
.orionlog-rule-actions-editor .command-parameters-help-text {
  color: #767676;
}
.orionlog-rule-actions-editor .command-windows-account {
  padding-left: 24px;
}
.orionlog-rule-actions-editor .command-windows-account .command-account-dropdown {
  display: table;
}
.orionlog-rule-actions-editor .command-windows-account .command-account-dropdown .xui-dropdown {
  display: table-cell;
}
.orionlog-rule-actions-editor .command-account .xui-radio {
  min-height: unset !important;
  padding-top: 3px !important;
  padding-left: 5px;
}
.orionlog-rule-actions-editor .command-account .xui-button {
  min-width: unset !important;
  vertical-align: middle;
  padding-left: 5px !important;
}
.orionlog-rule-actions-editor .command-manage-credentials-link {
  margin-top: 8px;
}
.orionlog-rule-actions-editor .command-manage-credentials-link .command-manage-credentials-link-text {
  padding-left: 5px;
}
.orionlog-rule-actions-editor .command-account-text {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 12px;
  color: #333;
  font-weight: 700;
  padding: 0;
  margin: 7px 0;
}
.log-rule-condition-value-editor .hyphen {
  padding-left: 10px;
  width: 10px;
}
.log-rule-condition-value-editor .read-only {
  padding-left: 10px;
  width: 10%;
}
.log-rule-condition-value-editor .read-only.last {
  width: 90%;
}
.log-rule-condition-value-editor .value-control {
  padding-left: 10px;
  text-align: left;
  width: 800px;
}
.log-rule-condition-value-editor .value-control.multiple {
  width: 300px;
}
.floating-progress {
  position: absolute;
  padding: 0 15px 0 15px;
  background-color: white;
  z-index: 9999;
  top: 45%;
  left: 0;
  margin: auto;
  width: 100%;
}
#log-activation-dialog .xui-progress__cancel {
  display: none;
}
#log-wizard-bullet-list {
  list-style: disc;
  padding-left: 40px;
}
#documentation-link {
  margin-left: 200px;
}
.orionlog-dropdown-not-valid {
  color: #D50000;
  clear: both;
  padding: 0;
  margin: 0 0 7px 0;
  line-height: 1.5;
  font-size: 11px;
  font-weight: 700;
}

/*# sourceMappingURL=orionlog.css.map*/