/*!
 * @solarwinds/dpaim 11.4.1-271
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.dpa-compatibility-dialog__nextStepsList ul {
  list-style-type: decimal;
}
.dpa-server-management__content__label {
  color: #767676;
  margin-left: 5px;
}
.dpa-server-management__content__label:first-child {
  margin-left: 0;
}
.dpa-server-management__content__version__highlight {
  padding: 2px 5px;
  font-weight: bold;
  display: inline-block;
  border: 1px solid;
}
.dpa-server-management__content__version__highlight__warning {
  background-color: #fcf8e0;
  border-color: #FEC405;
}
.dpa-server-management__content__version__highlight__critical {
  background-color: #FFE4E0;
  border-color: #D50000;
}
@media (min-width: 992px) {
  .dpa-server-management__content__version {
    text-align: right;
  }
}
.dpa-server-management__content .dpa-server-management__no-integration-box {
  text-align: center;
}
.dpa-server-management__content .dpa-server-management__no-integration-box__content {
  padding: 20px 0;
}

/*# sourceMappingURL=dpa.css.map*/