﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="CoreModuleDetails.ascx.cs" Inherits="Orion_Admin_Details_CoreModuleDetails" %>

<%@ Register Src="~/Orion/Admin/Details/ModuleDetailsBlock.ascx" TagPrefix="orion" TagName="ModuleDetailBlock" %>

<orion:ModuleDetailBlock ID="OrionCoreDetails" runat ="server" />
