﻿
.APM_IIS_ProcessTop10 {
    border-collapse: collapse;
    padding: 3px;
}

.APM_IIS_ProcessTop10 th {
    font-weight: normal;
    background-color: #ddd;
    text-transform: uppercase;
    width: 6em;
}
.APM_IIS_ProcessTop10 th:first-child {
    width: auto;
}

.APM_IIS_ProcessTop10 th.highlight {
    font-weight: bold;
    color: black!important;
}

.APM_IIS_ProcessTop10 th {
    padding: .5em;
}

.APM_IIS_ProcessTop10 th.clickable {
    cursor: pointer;
    color: #2D5EC5;
}

.APM_IIS_ProcessTop10 td {
    padding: 0.2em .5em;
    vertical-align: middle;
    white-space: nowrap;
}

.APM_IIS_ProcessTop10 td.highlight {
    background-color: #eee;
}

.APM_IIS_ProcessTop10 .right {
    text-align: right;
    padding-right: 1em;
}

.APM_IIS_ProcessTop10 .total {
    border-top: 2px solid #ddd;
}

.APM_IIS_ProcessTop10 td.name .colorbox {
    display: inline-block;
    width: 1.3em;
    height: 1em;
    margin: 0 .5em;
    border-radius: 0.2em;
}

.APM_IIS_ProcessTop10 td.name .text {
    white-space: normal;
}
