﻿.IisTrafficHeaderRow {
    text-transform: uppercase;
    background-color: #e0e0e0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 7pt;
    border-width: 0;
    padding: 5px;
}

.IisTrafficRow {
    padding: 3px;
}

.IisTrafficValueRow {
    text-align: right;
	padding-right: 17px;
}

.IisTrafficRowSummary {
    border-top: #e0e0e0 2px solid;
}
