﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="VMHostDetailsAreaChart.ascx.cs" Inherits="Orion_VIM_Resources_HostDetailsV2_VMHostDetailsAreaChart" %>
<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
        <asp:PlaceHolder runat="server" ID="WrapperContents"></asp:PlaceHolder>
    </Content>
</orion:resourceWrapper>
