/*!
 * @solarwinds/ncm-apollo 2020.2.5-3053
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.ncm-policy-text-widget {
  max-height: 350px;
}
.ncm-policy-text-widget p {
  white-space: pre;
  margin-bottom: 1px;
}

/*# sourceMappingURL=policyTextWidget.css.map*/