/*!
 * @solarwinds/ncm-apollo 2020.2.5-3053
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.ncm-policy-details-widget {
  display: flex;
}
.ncm-policy-details-widget__icon {
  flex: 0 0 auto;
  padding-right: 10px;
}
.ncm-policy-details-widget__details {
  flex: 1 auto;
}

/*# sourceMappingURL=policyDetailsWidget.css.map*/