/*!
 * @solarwinds/ncm-apollo 2020.2.5-3053
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.ncm-policy-service-widget .xui-grid__listview-panel {
  padding: 0;
}
.ncm-policy-service-widget .xui-button.xui-btn-link {
  padding: 0;
}

/*# sourceMappingURL=policyServiceWidget.css.map*/