/*!
 * @solarwinds/ncm-apollo 2020.2.5-3053
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.ncm-policy-changes-widget .xui-grid__listview-panel {
  padding: 0;
}
.ncm-policy-changes-widget .xui-button.xui-btn-link {
  padding: 0;
}
.policy-change-row {
  margin-bottom: 5px;
}

/*# sourceMappingURL=policyChangesWidget.css.map*/