<%@ Control Language="C#" ClassName="ErrorMessage" %>

<%= Resources.NTAWebContent.NTAWEBDATA_VB0_34%>
<br />
<br />
<span class="DefaultShading" style="font-size: x-small;">    
    <%=String.Format(Resources.NTAWebContent.NTAWEBDATA_VB0_35,String.Format(@"<i>{0}\SolarWinds\Logs\Orion\OrionWeb.log</i>",System.Environment.GetEnvironmentVariable("ProgramData")))%>
</span>
<br />
