/*!
 * Ext JS Library 3.2.0
 * Copyright(c) 2006-2010 Ext JS, Inc.
 * licensing@extjs.com
 * http://www.extjs.com/license
 */
.x-btn{
	font:normal 11px;
}

.x-btn button{
    font:normal 11px;
    color:#333;
}

.x-btn em {
    font-style:normal;
    font-weight:normal;
}

.x-btn-tl, .x-btn-tr, .x-btn-tc, .x-btn-ml, .x-btn-mr, .x-btn-mc, .x-btn-bl, .x-btn-br, .x-btn-bc{
	background-image:url(../images/gray/button/btn.gif);
}

.x-btn-click .x-btn-text, .x-btn-menu-active .x-btn-text, .x-btn-pressed .x-btn-text{
    color:#000;
}

.x-btn-disabled *{
	color:gray !important;
}

.x-btn-mc em.x-btn-arrow {
    background-image:url(../images/default/button/arrow.gif);
}

.x-btn-mc em.x-btn-split {
    background-image:url(../images/default/button/s-arrow.gif);
}

.x-btn-over .x-btn-mc em.x-btn-split, .x-btn-click .x-btn-mc em.x-btn-split, .x-btn-menu-active .x-btn-mc em.x-btn-split, .x-btn-pressed .x-btn-mc em.x-btn-split {
    background-image:url(../images/gray/button/s-arrow-o.gif);
}

.x-btn-mc em.x-btn-arrow-bottom {
    background-image:url(../images/default/button/s-arrow-b-noline.gif);
}

.x-btn-mc em.x-btn-split-bottom {
    background-image:url(../images/default/button/s-arrow-b.gif);
}

.x-btn-over .x-btn-mc em.x-btn-split-bottom, .x-btn-click .x-btn-mc em.x-btn-split-bottom, .x-btn-menu-active .x-btn-mc em.x-btn-split-bottom, .x-btn-pressed .x-btn-mc em.x-btn-split-bottom {
    background-image:url(../images/gray/button/s-arrow-bo.gif);
}

.x-btn-group-header {
    color: #666;
}

.x-btn-group-tc {
	background-image: url(../images/gray/button/group-tb.gif);
}

.x-btn-group-tl {
	background-image: url(../images/gray/button/group-cs.gif);
}

.x-btn-group-tr {
	background-image: url(../images/gray/button/group-cs.gif);
}

.x-btn-group-bc {
	background-image: url(../images/gray/button/group-tb.gif);
}

.x-btn-group-bl {
	background-image: url(../images/gray/button/group-cs.gif);
}

.x-btn-group-br {
	background-image: url(../images/gray/button/group-cs.gif);
}

.x-btn-group-ml {
	background-image: url(../images/gray/button/group-lr.gif);
}
.x-btn-group-mr {
	background-image: url(../images/gray/button/group-lr.gif);
}

.x-btn-group-notitle .x-btn-group-tc {
	background-image: url(../images/gray/button/group-tb.gif);
}
