/*!
 * Ext JS Library 3.2.0
 * Copyright(c) 2006-2010 Ext JS, Inc.
 * licensing@extjs.com
 * http://www.extjs.com/license
 */
#x-debug-browser .x-tree .x-tree-node a span {
    color:#222297;
    font-size:11px;
}

#x-debug-browser .x-tree a i {
    color:#ff4545;
    font-style:normal;
}

#x-debug-browser .x-tree a em {
    color:#999;
}

#x-debug-browser .x-tree .x-tree-node .x-tree-selected a span{
    background-color:#D5D5D5;
}
