/*!
 * Ext JS Library 3.2.0
 * Copyright(c) 2006-2010 Ext JS, Inc.
 * licensing@extjs.com
 * http://www.extjs.com/license
 */
.x-form-field{
    font:normal 12px;
}

.x-form-text, textarea.x-form-field{
    background-color:#fff;
    background-image:url(../images/default/form/text-bg.gif);
    border-color:#C1C1C1;
}

.x-form-select-one {
    background-color:#fff;
    border-color:#C1C1C1;
}

.x-form-check-group-label {
    border-bottom: 1px solid #d0d0d0;
    color: #333;
}

.x-editor .x-form-check-wrap {
    background-color:#fff;
}

.x-form-field-wrap .x-form-trigger{
    background-image:url(../images/gray/form/trigger.gif);
    border-bottom-color:#b5b8c8;
}

.x-form-field-wrap .x-form-date-trigger{
    background-image: url(../images/gray/form/date-trigger.gif);
}

.x-form-field-wrap .x-form-clear-trigger{
    background-image: url(../images/gray/form/clear-trigger.gif);
}

.x-form-field-wrap .x-form-search-trigger{
    background-image: url(../images/gray/form/search-trigger.gif);
}

.x-trigger-wrap-focus .x-form-trigger{
    border-bottom-color: #777777;
}

.x-item-disabled .x-form-trigger-over{
    border-bottom-color:#b5b8c8;
}

.x-item-disabled .x-form-trigger-click{
    border-bottom-color:#b5b8c8;
}

.x-form-focus, textarea.x-form-focus{
	border-color:#777777;
}

.x-form-invalid, textarea.x-form-invalid{
    background-color:#fff;
	background-image:url(../images/default/grid/invalid_line.gif);
	border-color:#c30;
}

.ext-webkit .x-form-invalid{
	background-color:#fee;
	border-color:#ff7870;
}

.x-form-inner-invalid, textarea.x-form-inner-invalid{
    background-color:#fff;
	background-image:url(../images/default/grid/invalid_line.gif);
}

.x-form-grow-sizer {
	font:normal 12px;
}

.x-form-item {
    font:normal 12px;
}

.x-form-invalid-msg {
    color:#c0272b;
    font:normal 11px;
    background-image:url(../images/default/shared/warning.gif);
}

.x-form-empty-field {
    color:gray;
}

.x-small-editor .x-form-field {
    font:normal 11px;
}

.ext-webkit .x-small-editor .x-form-field {
    font:normal 12px;
}

.x-form-invalid-icon {
    background-image:url(../images/default/form/exclamation.gif);
}

.x-fieldset {
    border-color:#CCCCCC;
}

.x-fieldset legend {
    font:bold 11px;
    color:#777777;
}