/*!
 * Ext JS Library 3.2.0
 * Copyright(c) 2006-2010 Ext JS, Inc.
 * licensing@extjs.com
 * http://www.extjs.com/license
 */
.x-list-header{
    background-color:#f9f9f9;
	background-image:url(../images/gray/grid/grid3-hrow2.gif);
}

.x-list-header-inner div em {
    border-left-color:#ddd;
    font:normal 11px;
}

.x-list-body dt em {
    font:normal 11px;
}

.x-list-over {
    background-color:#eee;
}

.x-list-selected {
    background-color:#f0f0f0;
}

.x-list-resizer {
    border-left-color:#555;
    border-right-color:#555;
}

.x-list-header-inner em.sort-asc, .x-list-header-inner em.sort-desc {
    background-image:url(../images/gray/grid/sort-hd.gif);
    border-color: #d0d0d0;
}
