﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TopXXIpSlaOperations.ascx.cs" Inherits="Orion_Voip_Resources_TopXX_TopXXIpSlaOperations" %>

<orion:resourceWrapper runat="server" ID="Wrapper">
<Content>
<asp:PlaceHolder runat="server" ID="TopResources">

</asp:PlaceHolder>
</Content>
</orion:resourceWrapper>
