<%@ Master Language="C#" AutoEventWireup="true" MasterPageFile="~/Orion/MasterPage.master"  CodeFile="IPAMAdmin.master.cs" Inherits="SolarWinds.IPAM.WebSite.Orion_IPAM_Admin_IPAMAdmin"%>
<%@ Register Assembly="SolarWinds.IPAM.Web.Master" Namespace="SolarWinds.IPAM.Web.Master" TagPrefix="IPAMmaster"%>
<%@ Register TagPrefix="IPAM" Namespace="SolarWinds.IPAM.Web.Common.Controls" Assembly="SolarWinds.IPAM.Web.Common" %>

<asp:Content runat="server" ContentPlaceHolderID="ResourcesStyleSheetPlaceHolder">
  <asp:ContentPlaceHolder runat="server" ID="adminStyleSheetPlaceholder" />
    <!--[if IE]>
        <Orion:InlineCss runat="server">
	        .x-tree-node-indent .x-tree-icon, .x-treegrid-nowrap .x-tree-node-icon {pointer-events: none;}
        </Orion:InlineCss>
   <![endif]-->
</asp:Content>

<asp:Content ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <%if (SolarWinds.Orion.Common.OrionConfiguration.IsDemoServer) {%>
    <input type="hidden" id="isDemoMode" />
	<%}%>
    <orion:PageLinkMasterGutter ID="TopRightPageLinks" runat="server" />
    <asp:ContentPlaceHolder runat="server" ID="adminTitlePlaceholder" />
    <asp:ContentPlaceHolder runat="server" ID="adminContentPlaceholder" />
    <IPAM:LicenseStatus runat="server" PeriodicPageRefreshRate="100" />
</asp:Content>
