﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="IpamModuleDetails.ascx.cs" Inherits="Orion_IPAM_Admin_IpamModuleDetails" %>
<%@ Register Src="~/Orion/Admin/Details/ModuleDetailsBlock.ascx" TagPrefix="orion" TagName="ModuleDetailBlock" %>
<orion:ModuleDetailBlock ID="IpamDetails" runat ="server" />