﻿.sw_undpthr_hidden {display:none;}
.sw_undpthr_clear { clear:both;}

#sw_undpthr_wrapper {border-collapse:collapse;margin:0;padding:0;width:100%;border:1px solid #DDD;}
#sw_undpthr_wrapper .sw_undpthr_wrapper_head {margin:0;padding:0;background-color:#EEE;border-bottom:1px solid #DDD;height:20px;}
#sw_undpthr_wrapper .sw_undpthr_wrapper_sidebar {margin:0;padding:10px;width:332px;border-right:1px solid #DDD;}
#sw_undpthr_wrapper .sw_undpthr_wrapper_main {margin:0;padding:10px;}

/* SIDEBAR */
#sw_undpthr_wrapper .sw_undpthr_wrapper_sidebar label {margin-bottom:5px;display:block;}
#sw_undpthr_wrapper .sw_undpthr_wrapper_sidebar .sw_undpthr_search {margin-bottom: 10px; border: 1px solid #DDD;}
#sw_undpthr_wrapper .sw_undpthr_wrapper_sidebar .sw_undpthr_search input {border:none;height:16px;width:92%;border-right:1px solid #DDD;}
#sw_undpthr_wrapper .sw_undpthr_wrapper_sidebar input {width:200px;}
#sw_undpthr_itemlist_placeholder {overflow:auto;height:350px;border:1px solid #DDD;width:332px;position:relative;}
#sw_undpthr_searchButton {float:right; margin: 1px 4px 0 0;padding: 0;width: 16px;height: 16px;border-width: 0px;background: transparent;cursor: pointer;display:inline-block;}

#sw_undpthr_wrapper .sw_undpthr_itemlist {margin:0;padding:0;white-space:nowrap;width:100%;border-collapse:collapse;}
#sw_undpthr_wrapper .sw_undpthr_itemlist td {margin:0;padding:1px;height:20px;overflow:hidden;white-space:nowrap;}
#sw_undpthr_wrapper .sw_undpthr_itemlist  .sw_undpthr_item {margin:0;padding:0;display:block;height:20px;line-height:20px;}
#sw_undpthr_wrapper .sw_undpthr_itemlist  .sw_undpthr_itemicon {width:16px;height:16px;margin:2px 4px 0 2px;}
#sw_undpthr_wrapper .sw_undpthr_itemlist  span {position:relative; top:-3px;}
#sw_undpthr_wrapper .sw_undpthr_itemlist  .sw_undpthr_itemselected {background:#E4F1F8;}

/* MAIN */
#sw_undpthr_wrapper .sw_undpthr_wrapper_main .neb td {margin:0 ;padding:0;}
#sw_undpthr_pollerTitle {}
#sw_undpthr_pollerTitle span {font-weight:normal;}
#sw_undpthr_pollerTitle span img {display:inline-block;margin-right:5px;vertical-align:middle;margin-bottom:2px;}
.sw_undpthr_coloredBar {width:10px;height:150px;float:left;margin-right:5px;}
#sw_undpthr_valueTypeSelector label input[type=radio] {position:relative;top:2px;}
#sw_neb_undp_warning {border-bottom:1px solid #DDD;}

/* BOTTOM */
.sw-btn-bar #sw_undpthr_notification {display:inline-block;height:30px;}
.sw-btn-bar #sw_undpthr_notification .sw-suggestion {display:inline-block;width:auto;}
.sw-btn-bar #sw_undpthr_notification .sw-suggestion-pass {border-color:#00A000;}

/* fixes for IE */
#adminContent #sw_undpthr_wrapper .neb th, #adminContent #sw_undpthr_wrapper .neb td, #adminContent #sw_undpthr_wrapper .neb ul {text-align:left;vertical-align:middle;}
#adminContent #sw_undpthr_wrapper .neb table {margin:0px;padding:0px;border-spacing:0;border-collapse:collapse;} 
/* IE7 only fixes */
*:first-child + html #sw_undpthr_wrapper .sw_undpthr_itemlist {height:auto; padding-bottom: 1.3em; width:95%; }
*:first-child + html #sw_undpthr_searchButton { top:0px; }
*:first-child + html #sw_undpthr_notification { display: inline;}
*:first-child + html #sw_undpthr_notification .sw-suggestion { width:300px; display:inline;}

