﻿table.EW {
	margin-left: auto;
	margin-right: auto;
	border-collapse: separate !important;
}

table.ewcalendar 
{
    table-layout:fixed;
}

td.ewhead {
	border-bottom: none !important;
	padding:0px;
	color:black;
	text-align:center;
	margin:0px;
	font-size:small;
	font-family:arial, verdana;
	font-weight:bold;
}

td.ewcell {
	width:13%;
	padding: 0px;
	text-align:center;
	margin:0px;
	font-size:xx-small;
	background-color: #f2f0df;
	border-top: 1px solid #f2f0df;
	border-bottom: none !important;
	border-left: 1px solid #f2f0df;
	border-right: 1px solid #f2f0df;
}

td.ewcell div {
	padding-top:1px;
	padding-bottom:1px;
	padding-right:0px;
	padding-left:0px;
	margin: 0px;
	width: 100%;
	border: none;
}
td.ewtimecell {
	height:13px;
	border: none !important;
	padding-right:2px;
	color:black;
	margin:0px;
	font-size:xx-small;
	text-align:right;
}

td.ewtimecell div {
	height:13px;
	border: none !important;
	padding-right:2px;
	color:black;
	margin:0px;
	font-size:x-small;
	text-align:right;
	white-space:nowrap;
}



td.ewlegendcell {
	font-size:x-small;
	font-family:Arial Narrow;
	border-bottom: none !important;
	white-space:nowrap;
}

td.ewlegendiconcell {
	width:25px;
	text-align:center;
	border-bottom: none !important;
}

td.ewlegendtitle {
	font-family:Arial Narrow;
	font-size:small;
	border-bottom: none !important;
	padding-top: 10px;
}

.ewfull
    {
    background-color:#d74646;
    color:White;
    font-size:xx-small;
    }
.ewmedium
    {
    background-color:#e6cd25;
    color:Black;
    font-size:xx-small;
    }
.ewlow
    {
    background-color:#00c132;
    color:White;
    font-size:xx-small;
    }
.ewstandby
    {
    background-color:#3638cd;
    color:White;
    font-size:xx-small;
    }
.ewhibernate
    {
    background-color:#b3713d;
    color:White;
    font-size:xx-small;
    }
.ewshut
    {
    background-color:#3b3b3b;
    color:White;
    font-size:xx-small;
    }
