﻿.AlternatingRow 
{
	background-color: #E4F1F8;
}

.BorderlessTable tr td
{
	border-bottom-width: 0px !important;
}

.Property
{
	padding-right: 5px;
}

.PropertyIcon
{
	width: 18px;
}

.PropertyIcon img
{
	vertical-align: middle;
}