﻿.groupName .groupByColumn {
    
}

.groupName .headerColumn {
     font-weight: bold;
}

.groupName .gridColumn {
    float: right;
    text-align: right;
}

.groupName .selectedItemsColumn {
    padding-left: 10px; 
} 


.groupName .selectedItems {
    overflow: auto;
    overflow-x: visible;
    height: 493px;
    width: 380px;
}

.groupName .searchInput {
    width: 250px;
}

.groupName .selectedItems table {
    border-collapse: collapse; 
     width: 100%;
}

.groupName .selectedItems table td {
    padding: 2px 1px 1px 4px;
    background-color: #CCCCCC;
}

.groupName .selectedItemsEmpty {
    padding: 4px;
    background-color: #CCCCCC;
}

.groupNamesOffPage {
   position: absolute;
    left: -1999px;
}
