﻿table.multiUnDP
{
    width:100%;
}

td.right
{
    padding-left:50px
}

td.limit
{
    padding-top: 30px; 
    padding-bottom: 30px;
    font-size:x-small;
    color:Gray;
}

td.axis
{
    margin:10,0,15,10;
}

.axisLabel
{
    font-size:medium;
    font-weight:bold;
}

.axisLabelOptional
{
    color:Gray;
    font-size:small;
}

.label
{
    font-weight: bold;
}

.unit
{
    font-weight: bold;
    padding-top:10px
}

/* Tooltip begin */
.TooltipLinkPlace
{
    position:relative;
    top:-41px;
    right:-20px;
    text-align:right;
}

a:visited {color: #336699;}
.TooltipLink
{
    color:#336699;
    font-family: Arial;
    font-size: 11px;
    text-decoration: underline;
    margin-left: 5px;
}
.TooltipLink img
{
    margin-right: 5px;
}

.TooltipIcon
{
    position: absolute; left: 10px; top: 10px; height: 18px; width: 16px;
    background: url(/orion/npm/images/tooltip/Ninja_icon_32.png) top left no-repeat;
    border: none;
}
.TooltipTitle
{
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #00a6d9;
    text-align: left;
    padding-top: 5px;
    padding-left: 24px;
}
.TooltipSubTitle
{
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #444444;
    padding-left: 24px;
}
.TooltipText
{
    font-family: Arial;
    font-size: 12px;
    color: #444444;
    text-align: left;
    padding-top: 12px;
}
.TooltipFooter
{
    font-family: Arial;
    font-size: 9px;
    color: #444444;
    text-align: left;
    padding-top: 14px;
}
.TooltipArrow
{
    z-index: 92;
    width: 16px;
    height: 17px;
    background-image: url(/orion/npm/images/tooltip/Ninja_Tooltip_Arrow.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
}
.TooltipBody
{
    z-index: 91;
    font-style: normal;
    max-width: 300px;
    white-space: normal;
    margin-left: 15px;
    border: 1px solid #848484;
      
      /* fallback */
      background-color: #d2d2d2;
      background-repeat: repeat-x;
  
      /* Safari 4-5, Chrome 1-9 */
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cccccc), to(#f2f2f2));
  
      /* Safari 5.1, Chrome 10+ */
      background: -webkit-linear-gradient(bottom, #cccccc, #f2f2f2);
  
      /* Firefox 3.6+ */
      background: -moz-linear-gradient(bottom, #cccccc, #f2f2f2);
  
      /* IE 10 */
      background: -ms-linear-gradient(bottom, #cccccc, #f2f2f2);
   
      /* Opera 11.10+ */
      background: -o-linear-gradient(bottom, #cccccc, #f2f2f2);
      
      
      -moz-box-shadow: inset 1px 1px 3px rgba(255,255,255,0.75);
      -webkit-box-shadow: inset 1px 1px 3px rgba(255,255,255,0.75);
      box-shadow: inset 0px 0px 3px rgba(255,255,255,0.75);
}
.Tooltip
{
    position: fixed;
    z-index: 90;
}
/* Tooltip end */