﻿.createDevicePoller a {
    background: transparent url(/Orion/Nodes/images/icons/icon_add.gif) scroll no-repeat left center; 
    padding: 2px 0px 2px 20px;
    font-size: 8pt;
}

.subtitle a[href]{
    font-size: 11px;
    margin-left: 5px;
    color: #336699;
    text-decoration: underline;
}
.subtitle a[href]:hover {
    color: orange;
}