﻿.sw-npm-switchStack-Role {
    width: 24px;
    height: 24px;
}

.sw-npm-switchStack-SwNumber {
    width: 70px;
}

.sw-npm-switchStack-SwPriority, .sw-npm-switchStack-HwPriority {
    text-align: center;
}

.sw-npm-switchStack-CriticalLevel {
    color: #DA3838;
    font-weight: bold;
    font-size: 12px;
    background-color: #ffe4e0;
}

.sw-npm-switchStack-WarningLevel {
    color: #333333;
    font-weight: bold;
    font-size: 12px;
    background-color: #fcf8e0;
}

.sw-npm-switchStack-Notification {
    display: block;
    margin-bottom: 10px;
}
