﻿.sw-switch-stack-content {
    overflow: hidden;
    padding: 10px;
    text-align: center;
}

.sw-switch-stack-content-bg {
    background-image: linear-gradient(45deg, #ECEDEE 25%, transparent 25%, transparent 50%, #ECEDEE 50%, #ECEDEE 75%, transparent 75%, transparent);
    background-size: 4px 4px;
    border: 1px solid #D5D5D5;
}

.sw-switch-stack-rect {
    stroke-width: 1;
    stroke: #D5D5D5;
    fill: #fff;
}

.sw-switch-stack-role-rect {
    stroke-width: 1;
    stroke: #D5D5D5;
    fill: #F9F9F9;
}

.sw-switch-stack-line {
    stroke: #909090;
    stroke-width: 1;
    stroke-dasharray: 2,2;
    fill: transparent;
}

.sw-switch-stack-loading {
    text-align: center;
    vertical-align: middle;
}

.sw-switch-stack-table {
    width: 100%;
    margin-bottom: 10px;
    border-spacing: 0px;
    border-collapse: collapse;
}

.sw-switch-stack-table tr:nth-child(odd) {
    background-color: #F9F9F9;
}

.sw-switch-stack-table td {
    width: 50%;
    padding: 5px 10px 5px 10px;
}

.sw-switch-stack-table td:first-child {
    text-transform: uppercase;
}

.sw-switch-stack-warn {
    display: inline-block;
    position: relative;
    padding: 0px 0px 0px 20px;
}

.sw-switch-stack-warn-icon {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 16px;
    width: 16px;
    background: url(/Orion/images/warning_16x16.gif) top left no-repeat;
}

.sw-separator-line {
    height: 1px;
    border: 0;
    border-top: 1px solid #e4e4e4;
    margin-top: 10px;
    margin-bottom: 10px;
}