﻿.emptyRouteDistinguisher{
    font-style: italic;
}

.vrfRouteDistinguisher{
	width: 30%;
}

.vrfAccordion .vrfRouteDistinguisher {
    font-weight: bold;
}

.vrfName{
	width: 30%;
}

.vrfDescription{
	width: 40%;
}

.vrfTable{
	border: none;
	border-collapse: collapse;
}

.vrfTable td{
	vertical-align: middle;
}

.vrfTable .StatusIcon{
    vertical-align: middle;
}

.vrfTable tr td a.vrfNameHolder:hover{
	color: black;
}

.vrfTable tr.vrfAccordion td div.emptyExpander{
	width: 14px;
	height: 14px;
	display: block;
	float: left;
}

.vrfTable > tbody:nth-child(4n+4) > tr { background-color: #ffffff; }
.vrfTable > tbody:nth-child(4n+4) + .itemList > tr { background-color: #ffffff; }
.vrfTable > tbody:nth-child(4n+2) > tr { background-color: #f6f6f6; }
.vrfTable > tbody:nth-child(4n+2) + .itemList > tr { background-color: #f6f6f6; }

.vrfExpander{
	vertical-align: middle;
	cursor: pointer;
	padding-bottom: 1px;
}

.loadingRow td {
    font-style: italic;
}

.showMoreLink a {
    color: blue;
    text-decoration: underline;
}