﻿#whatsnew a {
    color: #336699;
}

#whatsnew td a img {
    vertical-align: baseline;
}

#whatsnew .integration_title {
    color: Black;
    font-size: 10pt;
    font-weight: bold;
    margin-left: 20pt;
}

.ResourceWrapper .whatsnew-borderreset tbody tr td {
    border: none;
}

.ResourceWrapper .whats-new-line {
    margin-bottom: 20px;
}

.ResourceWrapper .whats-new-line-learnmore {
    margin: 2px 6px;
}

.ResourceWrapper .whats-new-line ul {
    list-style: square;
    padding: 0px 16px 0px 16px;
}
