<style type="text/css">
    .clm-provider-step {
        text-align: center;

        width: 850px;
        margin: 0 auto;
    }

    .clm-provider-step__header {
        height: 19px;
        color: #333333;
        font-family: "Open Sans";
        font-size: 18px;
        line-height: 19px;
        text-align: center;
        margin: 0 0 10px 0;
    }

    ul.clm-provider-step-providers {
        display: inline-block;
        padding: 15px;
        margin-top: 30px;
    }

    ul.clm-provider-step-providers li {
        display: inline-block;
        margin-left: 60px;
    }

    ul.clm-provider-step-providers li:first-child { margin-left: 0; }

    .clm-provider-step__provider {
        background-color: rgb(255, 255, 255);
        border: solid 1px rgb(255, 255, 255);
        position: relative;
        width: 300px;
        height: 210px;
        
        transition: transform 0.15s ease-in-out, border 0.15s ease-in-out;
        -webkit-transition: -webkit-transform 0.15s ease-in-out, border 0.15s ease-in-out;
        -moz-transition: -moz-transform 0.15s ease-in-out, border 0.15s ease-in-out;
        -o-transition: -o-transform 0.15s ease-in-out, border 0.15s ease-in-out;

        -moz-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -o-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }

    .clm-provider-step__provider--selected {
        box-shadow: rgba(51, 51, 51, 0.3) 0px 2px 8px 1px;
        border: solid 1px rgb(234, 234, 234);

        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .clm-provider-step__provider--disabled {
        filter: grayscale(100%);
        opacity: 0.2;
    }

    .clm-provider-step__provider--disabled:hover {
        cursor: default;
    }

    .clm-provider-step__provider:hover:not(.clm-provider-step__provider--selected):not(.clm-provider-step__provider--disabled) {
        background-color: rgb(246, 246, 246);
        border: solid 1px rgb(234, 234, 234);
        cursor: pointer;
    }

    .clm-provider-step__provider__image {
        position: absolute;
        top: 0;
        bottom: 50px;
        left: 0;
        right: 0;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .clm-provider-step__provider--aws .clm-provider-step__provider__image {
        background-image: url("/ui/modules/clm/images/ProviderAmazon.svg");
        background-size: 170px auto;
    }

    .clm-provider-step__provider--azure .clm-provider-step__provider__image {
        background-image: url("/ui/modules/clm/images/ProviderAzure.svg");
        background-size: 200px auto;
    }

    .clm-provider-step__provider__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        text-align: center;
        padding-top: 15px;

        transition: background-color 0.15s ease-in-out;
        -webkit-transition: background-color 0.15s ease-in-out;
        -moz-transition: background-color 0.15s ease-in-out;
        -o-transition: background-color 0.15s ease-in-out;
    }

    .clm-provider-step__provider__footer__icon {
        position: absolute;
        left: 15px;
        top: 19px;
        visibility: hidden;
        opacity: 0;

        transition: visibility 0s, opacity 0.15s ease-in-out;
        -webkit-transition: visibility 0s, opacity 0.15s ease-in-out;
        -moz-transition: visibility 0s, opacity 0.15s ease-in-out;
        -o-transition: visibility 0s, opacity 0.15s ease-in-out;
    }

    .clm-provider-step__provider__footer .xui-icon {
        float: left;
        display: inline-block;
    }

    .clm-provider-step__provider--selected .clm-provider-step__provider__footer {
        background-color: #E6EFF3;
    }

    .clm-provider-step__provider--selected .clm-provider-step__provider__footer__icon {
        visibility: visible;
        opacity: 1;
    }
</style>

<div class="clm-provider-step" xui-busy="wizard.data.data['cloud-providers-isbusy']" xui-busy-message="_t(Retrieving providers...)"_ta>

    <div class="clm-provider-step__header">
        <span _t>Choose Your Cloud Service Provider</span>
    </div>

    <div class="xui-text-r" _t>
        Configuring a cloud account allows <strong>Orion to monitor your cloud servers using data from the cloud provider’s respective API</strong>. This basic cloud visibility doesn’t use Orion licenses for the cloud servers. For full details on performance and availability, <strong>you can optionally manage cloud servers as Orion nodes</strong>, which will consume licenses.
    </div>

    <div>
        <ul class="clm-provider-step-providers">
            <li ng-repeat="provider in wizard.data.data['cloud-providers']">
                <div ng-class="wizard.data.data['cloud-providers-css-applier'](wizard.data, provider)"
                     ng-disabled="!provider.enabled"
                     ng-click="provider.enabled && wizard.data.data['cloud-providers-provider-changed'](wizard.data, provider)">
                    <div class="clm-provider-step__provider__image"></div>
                    <div class="clm-provider-step__provider__footer">
                        <div class="clm-provider-step__provider__footer__icon">
                            <xui-icon icon="check"></xui-icon>
                        </div>
                        <span class="xui-text-h2">{{::provider.name}}</span>
                    </div>
                </div>
                <div ng-if="!provider.enabled">
                    <sw-help-link topic="OrionCloudMonitorCloudLearnMore" icon="double-caret-right" target="_blank">
                        <span _t>Learn more</span>
                    </sw-help-link>
                </div>
            </li>
        </ul>
    </div>
</div>
