<style type="text/css">
    .clm-test-connection {}

    .clm-test-connection__button { vertical-align: top; }

    .clm-test-connection__status {
        min-height: 28px;
        min-width: 250px;
        display: inline-block;        
    }

    .clm-test-connection__status .xui-progress__header {
        text-align: left;
        padding-top: 7px;
    }

    .clm-test-connection__status__message { margin-left: 5px;}

    .clm-test-connection__status__message--success{ padding-top: 5px;}

    .clm-test-connection__status__message--failed { max-width: 600px; }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="xui-text-h2 xui-margin-lgb">
                {{wizard.data.data["cloud-settings-header"]}}
            </div>
            
            <div id="aws-settings-form"
                 ng-form='wizard.data.data["cloud-settings-aws-form"]' ng-if="wizard.data.isAwsProviderSelected">

                <div class="xui-margin-mdv">
                    <xui-textbox id="aws-cloud-account-display-name"
                                 caption="_t(Cloud Account Display Name)" _ta ng-model="wizard.data.awsSettings.name" validators="required"/>
                </div>

                <div class="xui-text-h3 xui-margin-lgt" _t>
                    Credentials
                </div>
                <span class="xui-text-sml">
                    <a target="_blank" href="http://www.solarwinds.com/documentation/helpLoader.aspx?lang=en&topic=OrionCloudAmazonEC2Credentials.htm" _t>How do I find these credentials?</a>
                </span>

                <div ng-form='wizard.data.data["cloud-settings-aws-credentials-form"]'>
                    <xui-textbox id="aws-access-key-id" caption="_t(Access Key ID)" _ta
                                 ng-model="wizard.data.awsSettings.accessKeyId"
                                 ng-change='wizard.data.data["connection-parameter-changed"](wizard.data, "accessKeyId")'
                                 validators="required,minlength=16,maxlength=32"/>
                    <xui-textbox id="aws-secret-access-key" caption="_t(Secret Access Key)" _ta type="password"
                                 ng-model="wizard.data.awsSettings.secretAccessKey"
                                 ng-change='wizard.data.data["connection-parameter-changed"](wizard.data, "secretAccessKey")'
                                 ng-click='wizard.data.data["connection-key-changed"](wizard.data, "secretAccessKey")'
                                 validators="required"/>
                </div>

                <xui-textbox caption="_t(Credential Description)" help-text="_t(You can use this field to help you remember which IAM User access key was used)" _ta
                             ng-model="wizard.data.awsSettings.credentialsDescription" rows="3"/>
            </div>
            
            <div id="azure-settings-form"
                 ng-form='wizard.data.data["cloud-settings-azure-form"]' ng-if="wizard.data.isAzureProviderSelected">

                <div class="xui-margin-mdv">
                    <xui-textbox id="azure-cloud-account-display-name"
                                 caption="_t(Cloud Account Display Name)" _ta ng-model="wizard.data.azureSettings.name" validators="required"/>
                </div>

                <div class="xui-text-h3 xui-margin-lgt" _t>
                    Credentials
                </div>
                <span class="xui-text-sml">
                    <a target="_blank" href="http://www.solarwinds.com/documentation/helpLoader.aspx?lang=en&topic=OrionCloudAzureCredentials.htm"_t>How do I find these credentials?</a>
                </span>

                <div ng-form='wizard.data.data["cloud-settings-azure-credentials-form"]'>
                    <xui-textbox id="azure-subscription-id" caption="_t(Subscription ID)" _ta
                                 ng-model="wizard.data.azureSettings.subscriptionId"
                                 ng-change='wizard.data.data["connection-parameter-changed"](wizard.data, "subscriptionId")'
                                 validators="required,minlength=36,maxlength=36"/>
                    <xui-textbox id="azure-tenant-id" caption="_t(Tenant / Directory ID)" _ta
                                 ng-model="wizard.data.azureSettings.tenantId"
                                 ng-change='wizard.data.data["connection-parameter-changed"](wizard.data, "tenantId")'
                                 validators="required,minlength=36,maxlength=36"/>
                    <xui-textbox id="azure-client-id" caption="_t(Client / Application ID)" _ta
                                 ng-model="wizard.data.azureSettings.clientId"
                                 ng-change='wizard.data.data["connection-parameter-changed"](wizard.data, "clientId")'
                                 validators="required,minlength=36,maxlength=36"/>
                    <xui-textbox id="azure-application-secret-key" caption="_t(Application Secret Key)" _ta type="password"
                                 ng-model="wizard.data.azureSettings.applicationSecretKey"
                                 ng-change='wizard.data.data["connection-parameter-changed"](wizard.data, "applicationSecretKey")'
                                 ng-click='wizard.data.data["connection-key-changed"](wizard.data, "applicationSecretKey")'
                                 validators="required,maxlength=128"/>
                </div>
                <xui-textbox caption="_t(Credential Description)" help-text="_t(You can use this field to help you remember which Subscription ID was used)" _ta
                             ng-model="wizard.data.azureSettings.credentialsDescription" rows="3"/>
            </div>
        </div>
    </div>

    <div ng-if="wizard.data.provider" class="clm-test-connection xui-margin-lgv">
        <div class="xui-text-sml xui-margin-mdb">
            <a target="_blank" href="/Orion/Admin/HttpProxySettings/Default.aspx" _t>Are you behind a proxy?</a>
        </div>
        <xui-button class="clm-test-connection__button"
                    ng-click='wizard.data.data["cloud-settings-test-connection"]()' display-style="secondary" _t>
            TEST CONNECTION
        </xui-button>

        <div class="clm-test-connection__status"
             xui-busy='wizard.data.data["cloud-settings-test-connection-status"] === "Processing"' xui-busy-message="_t(Testing connection...)"_ta>

            <div class="clm-test-connection__status__message clm-test-connection__status__message--success"
                 ng-show='wizard.data.data["cloud-settings-test-connection-status"] === "Successful"'>
                <xui-icon icon="severity_ok"></xui-icon>
                <span _t>Connection successful</span>
            </div>

        </div>
    </div>

    <div ng-if="wizard.data.provider">
        <div class="xui-text-h3 xui-margin-lgv" _t>
            Auto Monitoring
        </div>

        <xui-switch ng-if="wizard.data.provider"
                    caption="_t(Automatically monitor any future resources launched)" _ta
                    ng-model="wizard.data.autoMonitoring" _t>
                    Automatically monitor any future resources launched
        </xui-switch>
    </div>
</div>
