<!--Example of external step definition-->

<style type="text/css">
    .orion-external-step {
    }

</style>

<!--Script needs to be declared before html template-->
<script type="text/javascript">
    var orionExternalStep = (function(name) {

        var plugin = {
            name: name,
            init: function(data) { // data.data[key]= value
                data.data["external-text"] = "External step text initialized";
                return true;
            },
            canGoNext: function(data, forms) {
                return true;
            },
            canGoBack: function(data) {
                return true;
            },
            canFinish: function(data) {
                return true;
            },
            onEnter: function(data) {
                return true;
            },
            onExit: function(data) {
                return true;
            },
            onFinish: function(data) {
                return true;
            }
        };

        return plugin;
    })("External Step");

</script>

<div class="orion-external-step">
	<span>{{wizard.data.data["external-text"]}}</span>
</div>

