<style type="text/css">
    .clm-polling-options__multiline-text {
        margin-top: 5px;
        max-width: 450px;
    }

    .clm-polling-options__block {
        margin-top: 15px;
    }

    .clm-polling-options__bluebox {
        max-width: 500px;
    }

    .clm-polling-options__bluebox--section {
        margin-top: 15px;
    }

    .clm-polling-options__helper {
        margin: 0px 5px;
    }

	a.no-spacing{ 
		margin-right: -3px;
	}

    a.spacing{ 
		margin-right: 20px;
	}
</style>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5">
            <div ng-if="!wizard.data.isEditMode">
                <div class="xui-text-h2" _t="['{{wizard.data.accountName}}']">
                    API Polling Options ({0})
                </div>
            </div>

            <div ng-form='wizard.data.data["polling-options-form"]'>
                <div ng-if="wizard.data.isAwsProviderSelected" class="clm-polling-options__multiline-text" _t>
                    Use these options to control how your 1 million free CloudWatch API requests are used.
                </div>
                <div ng-if="wizard.data.isAzureProviderSelected" class="clm-polling-options__multiline-text" _t>
                    Use these options to control how your free Azure Monitor API calls are used.
                </div>

                <div class="clm-polling-options__block">
                    <xui-switch ng-model="wizard.data.pollingSettings.apiPollingEnabled">
                        <span ng-if="wizard.data.isAwsProviderSelected" _t>
                            Enable CloudWatch API Polling
                        </span>
                        <strong ng-if="wizard.data.isAzureProviderSelected" _t>
                            Enable Azure Monitor API Polling
                        </strong>
                        <span ng-if="wizard.data.isAwsProviderSelected">
                            <xui-popover xui-popover-title="_t(CloudWatch API Polling)"
                                         xui-popover-content='::wizard.data.data["getAwsPopoverContent"]()'
                                         xui-popover-placement="right" _ta>
                                <span class="clm-polling-options__helper">
                                    <xui-icon icon="help"></xui-icon>
                                </span>
                            </xui-popover>
                        </span>

                        <span ng-if="wizard.data.isAzureProviderSelected">
                            <xui-popover xui-popover-title="_t(Azure Monitor API Polling)"
                                         xui-popover-content='wizard.data.data["getAzurePopoverContent"]()'
                                         xui-popover-placement="right" _ta>
                                <span class="clm-polling-options__helper">
                                    <xui-icon icon="help"></xui-icon>
                                </span>
                            </xui-popover>
                        </span>    
                    </xui-switch>
                </div>

                <div ng-if="wizard.data.isAwsProviderSelected">
                    <xui-textbox id="cloud-settings-polling-frequency"
                                 type="number"
                                 caption="_t(CloudWatch Instance Polling Frequency)"
                                 suffix="_t(minutes)"
                                 custom-box-width="120px"
                                 ng-model="wizard.data.pollingSettings.pollingIntervalInMinutes"
                                 validators='integer,required,min=1,max=60'
                                 xui-integer-validator _ta>
                        <div ng-message="min" _t>CloudWatch Instance Polling Frequency value should be bigger than 0</div>
                        <div ng-message="max" _t>CloudWatch Instance Polling Frequency value should be smaller than 61</div>
                        <div ng-message="integer" _t>CloudWatch Instance Polling Frequency value should be integer</div>
                    </xui-textbox>
                </div>
                <div ng-if="wizard.data.isAzureProviderSelected">
                    <xui-textbox id="cloud-settings-polling-frequency"
                                 type="number"
                                 caption="_t(Azure Resource Polling Frequency)"
                                 suffix="_t(minutes)"
                                 custom-box-width="120px"
                                 ng-model="wizard.data.pollingSettings.pollingIntervalInMinutes"
                                 validators='integer,required,min=1,max=60'
                                 xui-integer-validator _ta>
                        <div ng-message="min" _t>Azure Resource Polling Frequency value should be bigger than 0</div>
                        <div ng-message="max" _t>Azure Resource Polling Frequency value should be smaller than 61</div>
                        <div ng-message="integer" _t>Azure Resource Polling Frequency value should be integer</div>
                    </xui-textbox>
                </div>
            </div>

            <div class="clm-polling-options__block">
                <div ng-if="wizard.data.isEditMode">
                <strong _t>Estimated Requests Used this Month:</strong>
                    <div class="clm-polling-options__multiline-text">
                        <p _t="['{{wizard.accountSettings.monitorApiRequestsMade}}']">
                            {0} requests
                        </p>
                        <p _t>
                            The Orion Platform measures requests by all accounts in your
                            subscription initiated this month by your Orion deployment.
                        </p>
                    </div>
                </div>
                <strong _t>Alerting</strong>
                <div ng-if="wizard.data.isAwsProviderSelected"
                     class="clm-polling-options__multiline-text">
                    <p _t>
                        You can define alerts to be notified when you are approaching
                        and/or have exceeded your free requests limit. Out-of-the-box alerts
                        have been provided for you.
                    </p>
                </div>
                <div ng-if="wizard.data.isAzureProviderSelected"
                     class="clm-polling-options__multiline-text">
                    <p _t>
                        You can define alerts to be notified when you are approaching
                        and/or have exceeded your free API call limit. Out-of-the-box alerts
                        have been provided for you.
                    </p>
                </div>
            </div>

            <div class="clm-polling-options__block">
                <a target="_blank" href="/Orion/Alerts/Default.aspx" _t>Manage Alerts</a>
            </div>
        </div>

        <div class="col-sm-1">
        </div>

        <div class="col-sm-6">
            <div ng-if="wizard.data.isAwsProviderSelected">
                <xui-message type="info" class="clm-polling-options__bluebox">
                    <strong _t>CloudWatch API Polling and Free Requests</strong>
                    <div class="clm-polling-options__bluebox--section">
                        <span _t>Amazon provides</span>
                        <a target="_blank" class="no-spacing" href="http://www.solarwinds.com/documentation/helpLoader.aspx?lang=en&topic=OrionCloudPollingRequestsCloudWatch.htm" _t>
                            1 million free requests per account per month
                        </a>
                        <span _t>
                            . Any requests beyond 1 million will incur additional costs.
                            Other tools in your environment making CloudWatch API calls
                            also count against your free request limit.
                        </span>
                    </div>
                    <div class="clm-polling-options__bluebox--section" _t>
                        Managing instances as Orion nodes may be more cost effective
                        than requesting metrics via the CloudWatch API.
                    </div>
                    <div class="clm-polling-options__bluebox--section" _t>
                        A single EC2 instance with a 5 minute polling interval uses
                        approximately 60,000 requests per month. A single EBS volume
                        with a 5 minute polling interval uses approximately 100,000
                        requests per month.
                    </div>
                    <div class="clm-polling-options__bluebox--section">
                        <a target="_blank" href="http://www.solarwinds.com/documentation/helpLoader.aspx?lang=en&topic=OrionCloudPollingRequestsCloudWatch.htm" _t>
                            » Help me determine how many requests I use
                        </a>
                    </div>
                </xui-message>
            </div>

            <div ng-if="wizard.data.isAzureProviderSelected">
                <xui-message type="info" class="clm-polling-options__bluebox">
                    <strong _t>Azure Subscription Impacts of Orion Polling</strong>
                    <div class="clm-polling-options__bluebox--section">
                        <span _t>Microsoft provides</span>
                        <a target="_blank" class="no-spacing" href="http://www.solarwinds.com/documentation/helpLoader.aspx?lang=en&topic=OrionCloudAzureMonitoring.htm" _t>
                            1 million free standard API calls per subscription per month
                        </a>
                        <span _t>
                            . Any API calls beyond 1 million incur additional
                            costs. Other tools in your environment making Azure API calls
                            also count against your free request limit.
                        </span>
                    </div>

                    <div class="clm-polling-options__bluebox--section">
                        <strong _t>Monitoring Azure VMs</strong>
                        <p>
                            <a target="_blank" class="spacing" href="{{ link.url }}"
                               ng-repeat="link in wizard.featureLinksMap[wizard.feature.InstancesVMs]">
                                {{ link.text }}
                            </a>
                        </p>
                    </div>
                    <div class="clm-polling-options__bluebox--section">
                        <strong _t>Monitoring Azure VNet Gateways</strong>
                        <p>
                            <a target="_blank" class="spacing" href="{{ link.url }}"
                               ng-repeat="link in wizard.featureLinksMap[wizard.feature.VNetGateways]">
                                {{ link.text }}
                            </a>
                        </p>
                    </div>
                    <div class="clm-polling-options__bluebox--section">
                        <strong _t>Monitoring Azure DNS Cloudzones</strong>
                        <p>
                            <a target="_blank" class="spacing" href="{{ link.url }}"
                               ng-repeat="link in wizard.featureLinksMap[wizard.feature.DnsZones]">
                                {{ link.text }}
                            </a>
                        </p>
                    </div>
                </xui-message>
            </div>
        </div>
    </div>
</div>
