﻿#leftpanel_filter {
    font-family: arial, sans-serif;
    z-index: 100;
    float: left;
    margin-right: 6px;
    border-right: 1px dotted #cccccc;
}
#leftpanel_filter.ui-state-disabled {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1.0;
}
#leftpanel_filter table {
    border-collapse: collapse;
}
#leftpanel_filter input[type="checkbox"] {
    margin: 3px 2px 0 4px;
}

.expand_collapse_title {
    margin: 2px 0 0 4px;
    font-size: 12px;
    font-weight: bold;
    color: #808080;
    white-space: nowrap;
    max-width: 180px;
    padding-top: 2px;
}

.expand_collapse_title.collapsed #labelPanelTitle {
    display: none;
}

.expand_collapse_title.collapsed.needrotate #labelPanelTitle {
    display: inline;
}

.expand_collapse_title .sw-ffp-titleimg {
     display: none;
}

.expand_collapse_title.collapsed .sw-ffp-titleimg {
     display: inline;
}

.expand_collapse_title.collapsed {
    margin: 24px 0 0 0;
}

.expand_collapse_title.collapsed.needrotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.expand_collapse_btn {
    position: absolute;
    right: 6px;
    top: 4px;
    width: 14px;
    height: 14px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAASklEQVQYV2NkQAMzZ878n56ezogsDBLDEAApQFYIUgQSgyuECWBTBBIDKySkCGwiMYrgVhOjmDQ3woICn8kowQPzGMFwRA98ZD4AwrdDM9uMOTwAAAAASUVORK5CYII=') 2px 2px no-repeat;
    cursor: pointer;
}
.expand_collapse_btn.collapsed {
    right: 2px;
    top: 4px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAPklEQVQYV2OcOXPm//T0dEYGJIBNjBEkCFKDrBibGNgkYhTDrSSkGMNtuJxBmomErAXZQryviQ5H5IDGxwYACBRG1TuBoiUAAAAASUVORK5CYII=') 2px 2px no-repeat;
}

.key-value-group {
    padding: 0 2px;
    margin-bottom: 15px;
}

.value-list {
    margin-left: 14px;
    font-size: 10px;
}

.value-name {
    width: 1000px;
    font-size: 11px;
    line-height: 16px;
}
.value-name::first-line {
    line-height: 20px;
}

.value-icon > div {
    margin-top: 3px;
    margin-right: 4px;
}

.value-count {
    text-align: right;
    font-size: 10px;
    line-height: 20px;
}
.value-count:before,
.value-count:after {
    content: '\00a0\00a0';
}

.value-row td {
    vertical-align: top;
    padding: 0;
}

.key-header:hover,
.value-row:hover,
.input-row:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.value-row {
    display: none;
}

.key-header {
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.key-header-name {
    width: 1000px;
    padding-left: 4px;
    font-weight: bold;
    font-size: 11px;
    color: #646464;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 4px 0 4px 20px;
}

.key-header-controls {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 100;
}

.key-name-fader {
position: absolute;
width: 40px;
height: 20px;
top: 0;
right: 0;
border: 0;
cursor: text;
background: -moz-linear-gradient(left, rgba(243,243,243,0.5) 0, rgba(243,243,243,1) 50%, rgba(243,243,243,1) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0,rgba(243,243,243,0.5)), color-stop(50%,rgba(243,243,243,1)), color-stop(100%,rgba(243,243,243,1)));
background: -webkit-linear-gradient(left, rgba(243,243,243,0.5) 0,rgba(243,243,243,1) 50%,rgba(243,243,243,1) 100%);
background: -o-linear-gradient(left, rgba(243,243,243,0.5) 0,rgba(243,243,243,1) 50%,rgba(243,243,243,1) 100%);
background: -ms-linear-gradient(left, rgba(243,243,243,0.5) 0,rgba(243,243,243,1) 50%,rgba(243,243,243,1) 100%);
background: linear-gradient(to right, rgba(243,243,243,0.5) 0,rgba(243,243,243,1) 50%,rgba(243,243,243,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40f3f3f3', endColorstr='#f3f3f3',GradientType=1 );
}

.key-header-count {
    font-weight: normal;
    font-size: 12px;
    text-transform: lowercase;
    white-space: nowrap;
    color: #808080;
    vertical-align: top;
}

.key-collapsed {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMAQMAAABsu86kAAAAAXNSR0IArs4c6QAAAAZQTFRFZQBlZGRk9TZICQAAAAF0Uk5TAEDm2GYAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfeBxAUCh9qEbKjAAAAHWlUWHRDb21tZW50AAAAAABDcmVhdGVkIHdpdGggR0lNUGQuZQcAAAAbSURBVAjXY/j/gaFBgKENhvZfACE4Fyj1/wMA0zQLoWEkkBUAAAAASUVORK5CYII=') 4px 4px no-repeat;
}

.key-expanded {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMAQMAAABsu86kAAAAAXNSR0IArs4c6QAAAAZQTFRFZQBlZGRk9TZICQAAAAF0Uk5TAEDm2GYAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfeBxAUCwT5b0oOAAAAHWlUWHRDb21tZW50AAAAAABDcmVhdGVkIHdpdGggR0lNUGQuZQcAAAAXSURBVAjXY/j/gaFBAIH2XwAhZJH/HwDQmgt9HHemBAAAAABJRU5ErkJggg==') 4px 4px no-repeat;
}

.input-controls {
    float: right;
    display: none;
}

.add-input {
    cursor: pointer;
    background-color: #e7e7e7;
    border: 1px solid #d4d4d4;
    color: #696969;
    display: inline-block;
    padding: 3px 6px;
    font-size: 10px;
    text-transform: uppercase;
}

.value-input {
    width: 100%;
    padding: 2px;
    border: 1px solid #d4d4d4;
}

.value-input-container {
    margin: 2px 5px 2px 0;
}

.key-remove,
.input-remove {
    width: 18px;
    height: 18px;
    color: #696969;
    background: #e0e0e0;
}

.key-remove:after,
.input-remove:after {
    line-height: 18px;
    padding-left: 4px;
    font-size: 18px;
    font-weight: bold;
    content: '\00d7';
}

.key-remove:hover,
.input-remove:hover {
    background-color: #d06060;
    color: #ffffff;
}

.input-button {
    width: 30px;
    vertical-align: top;
}

.key-edit {
    position: absolute;
    right: 20px;
    width: 18px;
    height: 18px;
    color: #696969;
    background: #e0e0e0;
}

.key-edit:after {
    line-height: 18px;
    padding-left: 2px;
    font-size: 15px;
    font-weight: bold;
    content: '\2630';
}

.key-edit:hover {
    background-color: #696969;
    color: #ffffff;
}


#top_action_links {
    text-align: right;
    margin: 0;
    padding-top: 2px;
    padding-right: 6px;
    height: 16px;
}

#bottom_action_links {
    padding-left: 8px;
    height: 70px;
}

.ffp-link {
    color: #6688cc;
    font-size: 11px;
    text-decoration: none;
    cursor: pointer;
}
.ffp-link:hover {
    color: #f4a460;
}

#linkAddFilterProperty {
    line-height: 40px;
    vertical-align: middle;
}

#linkApplyTopLink {
    display: none;
}

#linkClearAll {
    padding-left: 12px;
}

.show-more-link,
.show-all-link,
.show-fewer-link {
    line-height: 20px;
}

.sw-ffp-novalue { color: #888; }

/* value picker */
#fieldValuePickerDialog .sw-fvp-search { background-image: url(/orion/images/button.searchicon.gif) !important; }
#fieldValuePickerDialog .x-layout-split { background-color: #fff; }
#fieldValuePickerDialog .x-grid3-hd-checker { display:none; }
#fieldValuePickerDialog .sw-fvp-grid .x-panel-tbar .x-toolbar-left > table { margin: 2px 0px 2px 4px; }
#fieldValuePickerDialog .sw-fvp-searchhit { background-color: #FFFDCC; display: inline-block; border: 1px solid #FFE89E; padding: 1px; }
#fieldValuePickerDialog .sw-fvp-list .x-toolbar-cell { height: 25px; }
#fieldValuePickerDialog .sw-fvp-list .x-panel-body { overflow: auto; overflow-y: auto; overflow-x: hidden; }
@media screen and (-webkit-min-device-pixel-ratio: 0) { #fieldValuePickerDialog .x-grid3-cell, #fieldValuePickerDialog .x-grid3-gcell { box-sizing: border-box; } } /* extjs and chrome: columns are too short */
#fieldValuePickerDialog .sw-fvp-selected { padding: 4px 20px 2px 4px; margin-right: 4px; position: relative; }
#fieldValuePickerDialog .sw-fvp-selected .sw-fvp-delete { display: inline-block; width: 16px; height: 16px; background: url(/orion/images/delete_16x16.gif) no-repeat; position: absolute; right: 0; top: 2px; }


/* field picker crumbs */

div.sw-ffpcrumb-prop { background-color: #fff; border-color: #abc2d9; margin-bottom: 4px; padding-top: 2px; padding-bottom: 3px; margin-right: 6px; display: inline-block; }
div.sw-ffpcrumb-prop > span:first-child { color: #646464; font-weight: bold; }
.sw-ffpcrumb-x { width: 12px; height: 12px; border: none; margin-left: 3px; vertical-align: middle; }
.sw-ffpcrumb-value { margin-left: 6px; }
.sw-ffpcrumb-value:first-child { margin-left: 0; }
.sw-ffpcrumb-clear { white-space: nowrap; font-size: 11px; }