﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SSHManagementPlugin.ascx.cs" Inherits="Orion_SSH_Controls_SSHManagementPlugin" %>
<script type="text/javascript" src="/Orion/SSH/js/NodeManagement.js"></script>