/*!
 * @solarwinds/netman-firewalls-frontend 1.4.0-462
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.icon-holder {
  margin-top: auto;
  margin-bottom: auto;
}
.text-normal {
  font-weight: normal;
}
.asa .text-status-ok {
  font-weight: bold;
  color: #30B230;
}
.asa-icon {
  display: inline-block;
  min-width: 20px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.asa-icon-ahead {
  display: inline-block;
  margin-left: 10px;
}
.asa-icon-ahead:after {
  clear: both;
}
a.asa-clickable-row {
  display: block;
}
a.asa-clickable-row,
a.asa-clickable-row:hover {
  color: #333333;
}
.asa-clickable {
  cursor: pointer;
}
.asa-clickable,
.asa-clickable:hover {
  color: #0079AA;
}
.firewall-ellipsis-container {
  min-width: 0;
}

/*# sourceMappingURL=netman-firewalls.css.map*/