﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PatchingTasks.ascx.cs" Inherits="Orion_PM_Controls_Summary_PatchingTasksControl" %>
 
<orion:ResourceWrapper ID="ResourceWrapper" runat="server" ShowEditButton="true">
    <Content>
        <h1>Here will be Patching Tasks</h1>
    </Content>
</orion:ResourceWrapper>