﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="NodeChart.ascx.cs" Inherits="Orion_NetPerfMon_Resources_NodeChartsV2_NodeChart" %>

<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
        <asp:PlaceHolder runat="server" ID="WrapperContents"></asp:PlaceHolder>
    </Content>
</orion:resourceWrapper> 