﻿<!-- template - header rows -->
<script class="hardwareTree-header-columns" type="text/x-template">
    <td class="hardwareTree-header-column hardwareTree-header-caption" width="65%">@{R=HardwareHealth.Strings;K=HHFILEDATA_DO0_08; E=js}</td>
    <td class="hardwareTree-header-column hardwareTree-header-status">@{R=HardwareHealth.Strings;K=XMLDATA_LF0_5; E=js}</td>
    <td class="hardwareTree-header-column hardwareTree-header-value">@{R=HardwareHealth.Strings;K=HHWEBDATA_JP0_1; E=js}</td>
</script>

<!-- template - nodeType: category -->
<script class="hardwareTree-template-item" data-item-type="category" type="text/x-template">
    <div class="hardwareTree-node hardwareTree-node-category" data-item-id="{{ item.ID }}">
        <span id="name">
            {{ #template.expander }}
            <img class="hardwareTree-icon hardwareTree-align-middle" src="{{ item.IconUrl }}" />
            <span class="hardwareTree-align-middle">{{ item.Caption }}</span>
        </span>
        <span></span>
        <span></span>
    </div>
</script>

<!-- template - nodeType: item -->
<script class="hardwareTree-template-item" data-item-type="item" type="text/x-template">
    <div class="hardwareTree-node hardwareTree-node-item" data-item-id="{{ item.ID }}">
        <span id="name">
            <a href="{{ item.DetailsUrl }}" target="_blank">
                <img class="hardwareTree-icon" alt="Status" src="{{ item.IconUrl }}" />
                {{ item.Caption }}
            </a>
        </span>
        <span id="status">
            {{ item.OriginalStatus }}
        </span>
        <span id="value">
            {{ item.DisplayValue }}
        </span>
    </div>
</script>
