﻿<!-- template - header rows -->
<script class="hardwareTree-header-columns" type="text/x-template">
    <td class="hardwareTree-header-column hardwareTree-header-caption" width="65%">@{R=HardwareHealth.Strings;K=HHWEBDATA_JP0_7; E=js}</td>
    <td class="hardwareTree-header-column hardwareTree-header-status">@{R=HardwareHealth.Strings;K=XMLDATA_LF0_5; E=js}</td>
    <td class="hardwareTree-header-column hardwareTree-header-value">@{R=HardwareHealth.Strings;K=HHWEBDATA_JP0_1; E=js}</td>
</script>

<!-- template - nodeType: device -->
<!-- template - nodeType: device -->
<script class="hardwareTree-template-item" data-item-type="device" type="text/x-template">
    <div class="hardwareTree-node hardwareTree-node-device" data-item-id="{{ item.ID }}">
        <span id="name">
            {{ #template.expander }}
            <img class="hardwareTree-icon" src="{{ item.IconUrl }}" />

            {{ item.Caption }}
        </span>
        <span>
            {# _.each(item.SummaryStatus, function(status) { #}
            <span class="hardwareTree-summaryStatus">
                <img class="hardwareTree-icon" src="/Orion/HardwareHealth/Images/StatusIcons/Status-{{ status.Icon }}.png" /> {{ status.Count }}
            </span>
            {# }); #}
        </span>
        <span></span>
    </div>
</script>

<!-- template - nodeType: category -->
<script class="hardwareTree-template-item" data-item-type="category" type="text/x-template">
    <div class="hardwareTree-node hardwareTree-node-category" data-item-id="{{ item.ID }}">
        <span id="name">
            {{ #template.expander }}
            <img class="hardwareTree-icon" src="{{ item.IconUrl }}" />

            {{ item.Caption }}
        </span>
        <span>
   	        {# _.each(item.SummaryStatus, function(status) { #}
            <span class="hardwareTree-summaryStatus">
                <img class="hardwareTree-icon" src="/Orion/HardwareHealth/Images/StatusIcons/Status-{{ status.Icon }}.png" /> {{ status.Count }}
            </span>
            {# }); #}
	</span>
        <span></span>
    </div>
    {{ #template.children }}
</script>

<script class="hardwareTree-template-item" data-item-type="parent" type="text/x-template">
    <div class="hardwareTree-node hardwareTree-node-device" data-item-id="{{ item.ID }}">
        <span id="name">
            {{ #template.expander }}
            <img class="hardwareTree-icon" src="{{ item.IconUrl }}" />

            {{ item.Caption }}
        </span>
        <span>
            {# _.each(item.SummaryStatus, function(status) { #}
            <span class="hardwareTree-summaryStatus">
                <img class="hardwareTree-icon" src="/Orion/HardwareHealth/Images/StatusIcons/Status-{{ status.Icon }}.png" /> {{ status.Count }}
            </span>
            {# }); #}
        </span>
        <span></span>
    </div>
	{{ #template.children }}
</script>

<!-- template - nodeType: item -->
<script class="hardwareTree-template-item" data-item-type="item" type="text/x-template">
    <div class="hardwareTree-node hardwareTree-node-item" data-item-id="{{ item.ID }}">
        <span id="name">
            <a href="{{ item.DetailsUrl }}" target="_blank">
                <img class="hardwareTree-icon" alt="Status" src="{{ item.IconUrl }}" />
                {{ item.Caption }}
            </a>
        </span>
        <span id="status">
            {{ item.OriginalStatus }}
        </span>
        <span id="value">
            {{ item.DisplayValue }}
        </span>
    </div>
</script>








