﻿.apm_HealthStatus td
{
	font-size: 10pt !important;
	padding-left: 10px;
	padding-top: 5px;
}
 
.apm_HealthStatusCountUp
{
    width:15px;
    color: #77BD2D;
} 

.apm_HealthStatusCountWarning
{
    width:15px;
    color: #FCD928;
} 

.apm_HealthStatusCountCritical
{
    width:15px;
    color: #F99D1C;
} 

.apm_HealthStatusCountDown
{
    width:15px;
    color: #E61929;
} 

.apm_HealthStatusCountUnknown
{
    width:15px;
    color: #B4B1B2;
} 

.apm_HealthStatusCountOther
{
    width:15px;
    color: #2D5EC5;
} 

.apm_HealthStatusIcon {
    width: 25px;
}

.apm_HealthStatusName {
    width: auto;
}

.apm_HealthLegend
{
    float:left;
    width:275px;
    height:170px;    
}

.apm_HealthLegendInner
{
    position:relative;
    top: 25px;
}
