﻿.apm_HardwareHealthStatus td
{
	font-size: 10pt !important;
	padding-left: 10px;
	padding-top: 5px;
}

.apm_HardwareHealthStatusCountUp
{
    width:15px;
    color: #359630;
} 

.apm_HardwareHealthStatusCountCritical
{
    width:15px;
    color: #c50000;
} 

.apm_HardwareHealthStatusCountWarning
{
    width:15px;
    color: #bebe00;
} 

.apm_HardwareHealthStatusCountOther
{
    width:15px;
    color: #b4b4b4;
} 

.apm_HardwareHealthStatusIcon {
    width: 25px;
}

.apm_HardwareHealthStatusName {
    width: auto;
}

.apm_HardwareHealthLegend
{
    float:left;
    width:275px;
    height:170px;    
}

.apm_HardwareHealthLegendInner
{
    position:relative;
    top: 25px;
}
