﻿.apm_HealthStatus td
{
	font-size: 10pt !important;
	padding-left: 10px;
	padding-top: 5px;
}
 
.apm_HealthStatusCountUp
{
    width:15px;
    color: #77BD2D;
} 

.apm_HealthStatusCountWarning
{
    width:15px;
    color: #FCD928;
} 

.apm_HealthStatusCountCritical
{
    width:15px;
    color: #F99D1C;
} 

.apm_HealthStatusCountDown
{
    width:15px;
    color: #E61929;
} 

.apm_HealthStatusCountUnknown
{
    width:15px;
    color: #B4B1B2;
} 

.apm_HealthStatusCountOther
{
    width:15px;
    color: #2D5EC5;
} 

.apm_HealthStatusIcon {
    width: 25px;
}

.apm_HealthStatusName {
    width: auto;
}

.apm_HealthLegend
{
    float:left;
    width:275px;
    height:170px;    
}

.apm_HealthLegendInner
{
    position:relative;
    top: 25px;
}

.APM_ReportHeader
{
    padding: 0.3em 1em;
    text-transform: uppercase;
    text-align: left;
}

.APM_Property
{
    padding: 0.3em 1em;
}

.APM_Property a, .APM_Property img
{
    vertical-align: middle;
}

.APM_LegendColorIcon
{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0em 0.3em;
    width: 25px;
}

.APM_LegendColorIconCell
{
    padding-right: 0.5em !important;
    padding-left: 0.5em !important;
    vertical-align: top;
}

.APM_LegendItemName
{
    padding-left: 0px !important;
}

.SQLBB_LegendColorIconCell {
    width: 8%    
}

.SQLBB_LegendItemName {
    width: 10%
}
