﻿.GreyBar {
    background-image: url('/Orion/APM/Images/Bar.gray.gif');
    background-position: bottom;
    height: 10px;
    background-repeat: repeat-x;
    background-color: darkgray;
}

/*linear gauge*/

.linearGaugeContainer {
    padding-top: 5px;
    padding-bottom: 8px;
    display: inline-block;
}

.transparentBar {
    height: 10px;
    margin-top: 3px !important;
}

.expandedBar {
    height: 16px;
    border-radius: 3px;
}

.greenTransparent {
	background-color: #b5eaca;
}

.greenExpanded {
	background-color: #00B84C;
}

.yellowTransparent {
	background-color: #FBF2B5;
}

.yellowExpanded {
	background-color: #f1d200;
}

.redTransparent {
	background-color: #F3C4C3;
}

.redExpanded {
	background-color: #e22323;
}

.markerImage {
    background-image: url("/Orion/APM/Images/gauge_marker.png");
    background-repeat:no-repeat;
    position: relative;
    height: 23px;
    bottom: 3px;
    left: -2px;
}
