﻿html, body
{
	height: 100%;
	font-family: Arial, Helvetica, Sans-Serif;
	margin: 0;
	padding: 0;
}

body, table, div, td
{
	font-size: small;	
}

a img
{
	border: 0;
	cursor: pointer;
}

h1
{
	font-size: large;
	font-family: Arial, Helvetica, Sans-Serif;
	font-weight: normal;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 10px;
	margin: 0;
}

h2
{
	font-size: medium;
	font-family: Arial, Helvetica, Sans-Serif;
	font-weight: bold;
	padding-left: 15px;
}

.customToolBar {background-color: White !important; background-image: none !important; border-style: none !important; border-bottom: 0px !important; padding: 0px !important; }
.customToolBar table tbody tr td { border-style: none !important; border-bottom: 0px !important; }