﻿/* These styles fixes issues from ManagementTasks.css */

.ManagementTaskDropdown {
    font-size: 8pt !important;
}

    .ManagementTaskDropdown li.submenu {
        padding-top: 4px !important;
    }

        .ManagementTaskDropdown li.submenu.over, .ManagementTaskDropdown li.submenu:hover {
            border-color: transparent !important;
        }

.ManagementTaskDropdownContent {
    border-top: 1px solid #2d5c77 !important;
}

    .ManagementTaskDropdownContent ul {
        font-size: 8pt !important;
    }

    .ManagementTaskDropdownContent li a {
        padding-left: 8px !important;
    }
