﻿.APM_ReportHeader
{
    padding: 0.3em 1em;
    text-transform: uppercase;
    text-align: left;
}

.APM_Property
{
    padding: 0.3em 1em;
}

.APM_Property a, .APM_Property img
{
    vertical-align: middle;
}

.APM_LegendColorIcon
{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0em 0.3em;
    width: 25px;
}

.APM_LegendColorIconCell
{
    padding-right: 0.5em !important;
    padding-left: 0.5em !important;
    vertical-align: top;
}

.APM_LegendItemName
{
    padding-left: 0px !important;
}
