/* This stylesheet is meant specifically for styles that apply to APM Web Resources */

table.biggerPadding tr td {border-spacing: 0px 0px; padding: 1px; }
.NodeManagementIcons a.inline { display: inline-block; line-height: 13px; }

/* Resources/Summary/WhatsNew.ascx */
.whatsNew { width: 100%; border: 0; padding: 5px; }
.whatsNew .cols { width: auto; border: 0; padding: 0; }
.whatsNew tr td, .whatsNew tr th { border-bottom: none!important; vertical-align: top; padding-right: 10px; }
.whatsNew h4 { color: #000; margin-top: 8px; margin-bottom: 0; font-size: 13px; }
.whatsNew a:hover {	color: #f99d1c;	}
.whatsNew ul { list-style-image: url('/Orion/APM/Images/WhatsNewResource/bullet.gif'); margin-top:0px; margin-bottom:2px; margin-left: 5px; padding-left: 5px; }

.whatsNew ul li { 
  margin-left: 20px; 
  margin-bottom: 0px; 
  list-style-type: disc;
}

.whatsNew div { 
  margin-bottom: 12px; 
}

.whatsNew .helpLink {
  white-space: nowrap;
}

.whatsNew div .helpLink::before {
  content: "\0000bb  ";
}


/* Resources/Summary/AppInsightIisAdoption.ascx */
.AppInsightIisAdoption {
    background-color: #edb52a;
    background-position: top;
    background-image: url('/Orion/APM/Images/BG.Gradient.LinedOrange.png');
    background-repeat: repeat-x;
    border: 1px solid #e3901c;
}
.AppInsightIisAdoption .HeaderBar { background-color: transparent; }
.AppInsightIisAdoption .Lightbulb { float: left; margin: 7px 10px 0 10px; }
.AppInsightIisAdoption .Content { background-color: white; border: 1px solid #e3901c; }
.AppInsightIisAdoption .ContentText { padding-left: 28px; margin: 7px 15px 7px 7px; }
.AppInsightIisAdoption .ContentText a { color: #336699; }
.AppInsightIisAdoption .ContentText p { text-align: justify; margin-bottom: 10px; }
.AppInsightIisAdoption .Right { float: right; }
.AppInsightIisAdoption .Hidden { display: none; }

/* Resources/Summary/ThwackUploads.ascx */
.CTA_bottom_resource:link { color: #336699; }
.CTA_bottom_resource:hover { color: #f99d1c; }

/* Resources/Summary/NoApplicationDefined.ascx */
.NoApps { padding: 2px 5px;	background-image: url('/Orion/APM/Images/BG.Resource.jpg'); background-repeat: no-repeat;	background-color: #f5ca8e; }
.NoApps table {	width: 100%; padding: 0; margin: 0;	border: 0; }
.NoApps td { text-align: left; vertical-align: top; }
.NoApps .Box { background-image: url('/Orion/APM/Images/BG.Gradient.Box.gif'); background-repeat: repeat-x; padding: 10px; border: 1px #ecd18f solid;	font-size: 11px; background-color: #fffcec;	line-height: 18px; }

/* Resources/EditMonitorGauge.aspx */
input[id$='resourceTitleEditor_txtTitle'] {	width: 400px; }

/* Resources/SqlBlackBox/PerformanceCounterDetails.aspx */
.PropertyExpertKnowledge {
    white-space: pre-line;
}

/* Resources/MultiTabResource.ascx */

.tabHeaders {
    margin: 1em 0 0;
    border-bottom: 1px solid #ccc;
}
.tabHeaders .item {
    padding: .25em .5em 0;
    margin: 0 0 1px .5em;
    background: #ddd;
    border: 1px solid #ccc;
    border-bottom: none;
}
.tabHeaders .item.active {
    padding-bottom: 1px;
    margin-bottom: 0;
    background: #FFF;
    font-weight: bolder;
}

.tabContents {
    margin: 1em 0 0;
}

/* Resources/Groups/ApplicationTemplatesAssignedToGroup.ascx */

.iconRow {
    width: 30px;
    height: 20px;
}
.zebraGrid tbody tr.odd {
    background-color: #F6F6F6;
}

.alertSuppressionStatus {
    font-size: 8pt;
    margin-top: 4px;
}
