.sw-oip-dialog input[type=checkbox]
{
	float: left;
}

.sw-oip-dialog label
{
	display: block;
	margin-left: 30px;
}

.sw-oip-dialog .helplink a[href]
{
	color: #336699;
}

.sw-oip-dialog .helplink a[href]:hover
{
	color: orange;
}

.sw-oip-dialog .helplink
{
	margin-top: 1em;
	margin-left: 30px;
}

.sw-oip-dialog .buttons
{
	margin-top: 0.5em;
	text-align: right;
}

.sw-oip-dialog .buttons .sw-btn-c
{
	min-width: 5em;
	text-align: center;
}
