<div class="sw-application-tooltip">
    <div ng-if="::popoverData.extensionData.container.members.length">
        <div class="sw-application-tooltip__title" _t>Components with problems:</div>
        <sw-short-entity-list items="::popoverData.extensionData.container.members" 
            more-count="::popoverData.extensionData.container.moreMembers"
            more-url="::popoverData.extensionData.container.detailUrl">
        </sw-short-entity-list>
    </div>
    <div ng-if="::!popoverData.extensionData.container.members.length">
        <div class="sw-application-tooltip__message" _t>All components are up.</div>
    </div>
</div>
