/*Begin ThresholdEditor -> Global*/
.thresholdsEditor .thresholdsEditorFrame {
    border: 1px solid #ECEDEE;
    max-width: 1024px;
}
.thresholdsEditor .tabContents {
    padding: 0px;
    border: 0px;
}

.thresholdsEditor .tabContents .tabContent {
    padding: .75em 0;
}

.thresholdsEditor .sw-hdr-subtitle {
    font-size: 9pt;
    font-weight: normal;
    margin-top: auto;
    padding-left: 0;
}
.thresholdsEditor .sw-hdr-title {
    font-weight: normal;
    margin-bottom: auto;
    padding-bottom: 0;
}

.thresholdsEditor .sw-hdr-title .entityName {
    font-weight: bold;
}

/*End ThresholdEditor -> Global*/

/*Begin ThresholdEditor -> Header & Tabs*/
.thresholdsEditor ul.tabHeaders {
    background-color: transparent;
    border: 0px;
    line-height: 29px;

    padding: 0px;
    margin: 0px;

    border-bottom: 2px solid #204a63;
}

.thresholdsEditor ul.tabHeaders li {
    background-color: transparent;
    border: none;
    border-right: 1px solid #ECEDEE;
    list-style-type: none;
    float: left;
    position: relative;
    margin: 0px;
    padding: 2px 12px;
}
.thresholdsEditor ul.tabHeaders::after {
    content: "";
    clear: left;
    display: block;
}
.thresholdsEditor ul.tabHeaders li a,
.thresholdsEditor ul.tabHeaders li a:visited,
.thresholdsEditor ul.tabHeaders li a:active {
    color: #297994;
    text-decoration: none;
    text-transform: uppercase;
}

.thresholdsEditor ul.tabHeaders li.tabSelected,
.thresholdsEditor ul.tabHeaders li.tabSelected a {
    background-color: #204a63;
    color: #FFF;
}
/*End ThresholdEditor -> Header & Tabs*/

/*Begin ThresholdEditor -> Threshold tables*/
.thresholdsEditor .tabContents .thresholdControl {
    padding: .5em;
    max-width: 100%;
    margin: 10px;
}
.thresholdsEditor .tabContents .thresholdControl:not(:last-child) {
    margin-bottom: 5px;
}
.thresholdsEditor .tabContents .thresholdControl table {
    width: 100%;
    border-spacing: 5px;
}

.thresholdsEditor .tabContents .thresholdControl table tr td:first-child {
    width: 16px;
}
.thresholdsEditor .tabContents .thresholdControl table tr td:nth-child(2) {
    width: 12em;
}
.thresholdsEditor .tabContents .thresholdControl table tr td:nth-child(3) {
    width: 2em;
}
.thresholdsEditor .tabContents .thresholdControl table tr td:nth-child(4) {
    width: 12em;
}

.thresholdsEditor .tabContents .thresholdControl table tr td:last-child {
    width: 50%;
}

.thresholdsEditor .tabContents .thresholdControl .displayName {
    border-bottom: solid 1px #888;
}

.thresholdsEditor .tabContents .thresholdControl .displayOperator {
    display: none;
    width: 4em;
}

.thresholdsEditor .tabContents .thresholdControl .displayUnit {
    white-space: nowrap;
    margin-left: .5em;
}

.thresholdsEditor .tabContents .thresholdControl .formulaTextbox {
    width: 8em;
    text-align: right;
}

.thresholdsEditor .tabContents .thresholdControl td.leftLabelColumn {
    float: left;
    width: auto;
    margin: 5px;
}

.thresholdsEditor .tabContents .thresholdControl:nth-child(odd) {
    background-color: #ECEDEE;
}
/*End ThresholdEditor -> Threshold tables*/

.thresholdsEditor .tabMessages .tabMessage {
    margin-top: .5em;
}
