<%@ Control Language="C#" AutoEventWireup="true" CodeFile="NodeList.ascx.cs" Inherits="Orion_NetPerfMon_Resources_CirrusResources_NodeList" %>
    
<link rel="stylesheet" type="text/css" href= "/Orion/NCM/styles/NCMResources.css" />
<script type="text/javascript" src="/Orion/NCM/JavaScript/main.js?v=1.0"></script>

<orion:resourceWrapper runat="server" ID="Wrapper">
    <content>
    </content>
</orion:resourceWrapper>

  
    