<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SearchForEndHost.ascx.cs" Inherits="SearchForEndHost" %>

<script type="text/javascript" src="/Orion/NCM/JavaScript/main.js"></script>

<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
    </Content>
</orion:resourceWrapper>