<%@ Control Language="C#" ClassName="NoCallPaths" %>

<script runat="server">

</script>

<%= String.Format(Resources.VNQMWebContent.VNQMWEBDATA_AK1_166, 
                  "<a href=\"Voip/Admin/ManageNodes/AddNodes.aspx\" class=\"sw-link\">", "</a>",
                  "<a href=\"Voip/Admin/OperationsWizard.aspx\" class=\"sw-link\">", "</a>",
                  "<a href=\"Admin/Default.aspx\" class=\"sw-link\">", "</a>") %>
