<%@ Control Language="C#" AutoEventWireup="true" CodeFile="NcmModuleDetails.ascx.cs" Inherits="Orion_NCM_Admin_NcmModuleDetails" %>

<%@ Register Src="~/Orion/Admin/Details/ModuleDetailsBlock.ascx" TagPrefix="orion" TagName="ModuleDetailBlock" %>

<orion:ModuleDetailBlock ID="NcmDetails" runat="server" />