﻿.AlertBuilderPanelExpanded
{
    width: 330px;
    -webkit-box-shadow: 0 1px 5px 0 #d2d2d2;
    -ms-box-shadow: 0 1px 5px 0 #d2d2d2;
    box-shadow: 0 1px 5px 0 #d2d2d2;
    background-color:white;
    margin: 0px;
    padding-bottom: 2px;
    margin-top: 10px;
}

.AlertBuilderPanelCollapsed
{
    width: 25px;
    -webkit-box-shadow: 0 1px 5px 0 #d2d2d2;
    -ms-box-shadow: 0 1px 5px 0 #d2d2d2;
    box-shadow: 0 1px 5px 0 #d2d2d2;
    background-color:white;
    margin:0;
    padding:0;
    padding-left:2px;
    margin-left:2px;
    margin-top: 10px;
    padding-top:4px;
    padding-bottom:5px;
    text-transform: uppercase;
}

.AlertBuilderPanelTitle
{
    border-bottom: solid 1px #e4e4e4;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    padding: 16px 15px;
    color: #333333;
    margin:0px;
    text-transform: uppercase;
    font-weight: bold;
}


.AbCategory
{
    padding: 13px 10px 13px 10px;
    border-bottom: 1px solid #e4e4e4;
}

.AbCategoryHeader
{
    font-weight: 700;
    color: #204A63;
    font-size: 12px;
    text-transform: uppercase;
}

.AbCategoryExpanded
{
    background-image: url(/Orion/images/Button.Collapse.gif);
    background-repeat: no-repeat;
    cursor: pointer;
}

#AlertBuilderContent {
    padding: 0 10px 10px 10px;
}

#AlertWizardRedirectInfo 
{
    background-color: #E4F1F8;
    border: 1px solid #abd5e3;
    padding: 0px 5px 5px 8px;
}

#AlertWizardRedirectInfo .icon
{
    height: 100%;
    width: 20px;
    float: left;
    padding: 8px 5px 0px 0px;
}

.AbSubmit
{
    margin-top: 20px;
    padding-left:10px;
}

.AbArea
{
    padding-bottom:10px;
}

