#container
{
    position:static 
}

.InlineBar
{
	width: 50px;
}

.InlineBar h4
{
	background: #eae9e7;
	background-image: url(../images/Gradient-Background.gif);
	margin: 0px;
}
.InlineBar.Normal div
{
	background-color: #00b84a;
	background-image: url(../images/Gradient-Green.gif);
	background-repeat: repeat-x;
}
.InlineBar.Warning div
{
	background-color: #f1d200;
	background-image: url(../images/Gradient-Yellow.gif);
	background-repeat: repeat-x;
}
.InlineBar.Error div
{
	background-color: #e22323;
	background-image: url(../images/Gradient-Red.gif);
	background-repeat: repeat-x;
}

.GraphStyle,
.DataUnits 
{
    background-image: url(/Orion/TrafficAnalysis/images/ChartThumbs/dataunits.gif) !important;
    background-repeat: no-repeat !important;
    padding-top:0px !important;
}
.GraphStyle 
{
    background-image: url(/Orion/TrafficAnalysis/images/ChartThumbs/graphstyle.gif) !important;
}

.x-btn-text-icon 
{
	padding-bottom:0px !important;
    margin-bottom:-22px !important;
}

.IconChecked 
{
	background-image: url(/Orion/TrafficAnalysis/images/icon_yelcheck.gif) !important;
    background-repeat: no-repeat !important;
}

.IconUnChecked 
{
	background-image: none;
}

.ntaTable td
{
	padding: 3px;
} 

.msgBtn { background-color : #EECE8F !important;
          border:2px solid gray !important;
           }
.x-window-header-text { font-weight:bold; color: Black; }

