﻿#reportWrapper
{
	margin-left: 18px;
}

.FilterWrapper
{
	margin-top: 6px;
	padding-left: 3px;
	background-image: url('/Orion/TrafficAnalysis/images/Stripe.Background.gif');
	background-repeat: no-repeat;
	width: 440px;
}

.FilterCollapseButton
{
	padding: 2px 0px 5px 2px;
	vertical-align:middle;
}

.FilterCaption
{
	padding: 1px 2px 3px 1px;
	margin: 1px 2px 3px 1px;
}

.SubFilter
{
	margin-top: 5px;  
	margin-left: 25px
}