﻿/* On Demand DNS resoultion warning on Top XX Domains resource */
.odwMainDiv { background-color: #E4F1F9; padding:10px; }
.odwSecondDiv { margin-left:50px; }
.odwBottomSpace { line-height:9px;  }
.odwBottomSpaceSmall { line-height:4px;  }