﻿.x4-reset .x4-column-header-checkbox .x4-column-header-text {
    height: 20px;
    width: 100%;
    padding: 0 0 0 24px;
    margin: 0;
    background-position: 5px 4px !important;
}

.x4-reset .x4-grid-hd-checker-disabled .x4-column-header-text {
    background-image: url("/orion/js/extjs/4.0.7/resources/images/grid/checked.gif");
    opacity: 0.3;
}

.x4-reset .x4-grid-hd-checker-null .x4-column-header-text {
    background-image: url("/orion/TrafficAnalysis/images/nullchecked.gif");
}

.x4-reset .x4-grid-checkbox {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/orion/js/extjs/4.0.7/resources/images/grid/unchecked.gif");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    padding: 0 0 0 20px !important;
}

.x4-reset .x4-grid-checkbox-checked {
    background-image: url("/orion/js/extjs/4.0.7/resources/images/grid/checked.gif");
}

.x4-reset .x4-grid-dirty-cell {
    background-image: none !important;
}

.x4-reset fieldset, .x4-reset img.StatusIcon {
    vertical-align: bottom !important;
    border: 0 none;
}

