﻿#progressDialog
{
    display: none;
    background-color: white;
    height: 100%;
}

#progressContent
{
    padding: 10px;
}

#statusText
{
    font-size: small;
    font-weight: bold;
    margin-bottom: 10px;
    height: 35px;
}

#progressTable
{
    border-collapse: collapse;
}

#progressTable TD
{
    font-size: small;
}

.progressLabel
{
    text-align: right;
    padding-right: 10px;
    width: 160px;
}

.progressBar
{
    text-align: left;
    width: 300px;
    background-image: url('/Orion/TrafficAnalysis/images/progBar_off.gif');
    background-repeat: repeat-x;
    height: 20px;
}

.progressDataHeader
{
    width: 149px;
    height: 22px;
    background-color: #E0E0E0;
    text-align: center;
    font-style: italic;
    border: solid 1px #E0E0E0;
}

.progressData
{
    width: 149px;
    height: 22px;
    text-align: center;
    border: solid 1px #E0E0E0;
}

.progressAltRow
{
    background-color: #E4F1F8;
}

.progressSeparator
{
    font-size: xx-small;
    height: 10px;
}

#dialogCancel
{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 200;
}
