﻿#resultDialog
{
    display: none;
    background-color: white;
    height: 100%;
}

#resultContent
{
    padding: 10px;
}

#resultStatusText
{
    font-size: small;
    font-weight: bold;
    margin-bottom: 5px;
}

#resultWarningText
{
    font-size: small;
    margin-bottom: 10px;
    max-height: 80px;
    overflow-y: auto;
}

#resultWarningScrollBlock
{
    height: auto;
}

#ResultDialogOkButton {
    margin-right: 10px;
}
