﻿.searchStringHighlight
{
    background-color: #FFE89E;
}

.searchHint
{
    background-color: #FFFDCC;
    padding: 6px 12px 6px 12px;
}

.infoHint 
{
    color: #333333;
    padding: 5px 100px 10px 5px;
    box-shadow: 0 2px 4px -2px #c0c0c0;
}

.infoTitle {
    height: 23px;
    line-height: 20px;
}