﻿.TrafficViewBuilderPanelExpanded
{
    width: 330px;
    -webkit-box-shadow: 0 1px 5px 0 #d2d2d2;
    -ms-box-shadow: 0 1px 5px 0 #d2d2d2;
    box-shadow: 0 1px 5px 0 #d2d2d2;
    background-color:white;
    margin: 0px;
    padding-bottom: 2px;
}

.TrafficViewBuilderPanelCollapsed
{
    width: 25px;
    -webkit-box-shadow: 0 1px 5px 0 #d2d2d2;
    -ms-box-shadow: 0 1px 5px 0 #d2d2d2;
    box-shadow: 0 1px 5px 0 #d2d2d2;
    background-color:white;
    margin:0;
    padding:0;
    padding-left:2px;
    margin-left:2px;
    padding-top:4px;
    padding-bottom:5px;
    text-transform: uppercase;
}

.TrafficViewBuilderPanelTitle
{
    border-bottom: solid 1px #e4e4e4;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    padding: 16px 15px;
    color: #333333;
    margin:0px;
    text-transform: uppercase;
    font-weight: bold;
}


.TvbCategory
{
    padding: 13px 10px 13px 10px;
    border-bottom: 1px solid #e4e4e4;
}

.TvbCategoryHeader
{
    font-weight: 700;
    color: #204A63;
    font-size: 12px;
    text-transform: uppercase;
}

.TvbCategoryExpanded
{
    background-image: url(/Orion/images/Button.Collapse.gif);
    background-repeat: no-repeat;
    cursor: pointer;
}

.TvbCategoryCollapsed
{
    background-image: url(/Orion/images/Button.Expand.gif);
    background-repeat: no-repeat;
    cursor: pointer;
}

.TvbCategoryContent
{
    padding: 5px 10px 5px 8px;
    margin: 4px 0 4px 7px;
    border-left: 1px dotted #d5d5d5;
}

.TvbSubmit
{
    margin-top: 20px;
    padding-left:10px;
    padding-bottom:10px;
}

