.MainGridHeader
{	
	background-color: White;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
}

.GridHeader
{
	background-color : #d0d0d0;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
	font-weight : normal;	
}

.GridTableHeader
{
	background-color : #c0c0c0;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 7pt;
	font-weight : normal;
}

.Normal
{
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal;
    MARGIN-BOTTOM: 0px;
    MARGIN-TOP: 0px
}

.Row
{
	background-color: White;
}

.RowA
{
	background-color: #deecef;
}

.GridRow 
{
	background-color: White;
}

.GridRowA 
{
	background-color: #F6F6F6;
}

.GridRowAddNew 
{
	background-color: White;
	color: Red;
}

.GridRowAddNewA 
{
	background-color: #deecef;
	color: Red;
}

.DivAbsolute
{
	position:absolute;
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	FONT-SIZE: 10pt;
	FONT-WEIGHT: normal;
	
}

.NavButton {
	vertical-align: middle;
}

.MainGridPaging {
	background-color : #c0c0c0;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-weight : normal;
}

.GridBorder {
	height: 20px;
	border-left: 1px solid #c1c1c1;
}

.GridBorderRight {
	height: 20px;
	border-right: 1px solid #c1c1c1;
}

.PropertyHeader1 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
	font-weight : normal;
}

.Node {
	 FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	 FONT-SIZE: 8pt;
	 FONT-WEIGHT: bold;
	 MARGIN-BOTTOM: 0px;
	 MARGIN-TOP: 0px;
}

.ResourceWrapperAdjusted table tbody tr td
{
    border-bottom: 0px;
}

.EditPage
{
    margin-top:15px;
    margin-left: 7px;
}

/* For ImageSelector */
td.img-selector  { background-color: #F0F8FA; }
td.img-selector img { vertical-align: middle; }
td.img-selector .img-selector-item { border: solid 5px #F0F8FA; text-align:center; margin-left:10px; }
td.img-selector .img-selector-item.img-selector-selected { border-color: #1c6882; }



/* error page */
#nta_errbox
{
	margin: 16px 3em 0px 3em;
	padding: 1em;
	border: 1px solid #dfdfde;
	background: #fff;
}
#nta_errbox div.nta_topmost
{
	background: url(/Orion/TrafficAnalysis/images/icon.warning.onwhite.png) top left no-repeat;
	padding-left: 64px;
	padding-bottom: 8px;
	border-bottom: 1px solid #dfdfde;
}
#nta_errbox div.nta_buttonbar
{
	margin-top: 16px;
	padding-top: 8px;
	border-top: 1px solid #dfdfde;
}
div.nta_topmost h3
{
	margin-top: 0px;
}
div.nta_trace
{
	overflow: auto;
	width: 100%;
}
div.nta_trace pre
{
	margin: 0px;
	padding: 0px 0px 6px 0px;
	font-family: Consolas, Lucida Console, Courier New;
	font-size: small;
}
#nta_errbox li
{
	padding-bottom: 4px;
}

/* Edit Top XX Resources page */
#etxxHeader { margin-left:7px; padding-top:15px; width:370px; }
.etxxLH { line-height:20px; }
#AreaConfig { width: 50px;}
.etxxBtn { margin-left: 20px; }
#selDataUnits { width:200px; }
.etxxDDL { width:100px; }
#etxxRW { width: 70%; margin-left:7px; margin-top:10px; padding: 10px }
.ntaProperty, 
.ntaPropertyBold
{font-size:8pt;}
.ntaPropertyBold { font-weight:bold;}
#ntaProperty td { border-style:none; padding:5px 5px 0 0 }


/* Edit NetFlow Sources - Manage NetFlow Sources */
.mnsLeft {margin-left: 7px;}
.mnsBtnSelAll { padding:0px; margin:7px; cursor:pointer; display:inline; }
.mnsDivHeader {border:1px solid #d0d0d0; width:100%; display:block; height:40px; position:relative; }
.mnsDivHeader .mnsDiv {position:absolute; width:100px; height:26px;  }
.mnsDivHeader .mnsNetFlow {z-index:1000; text-align:center; position:absolute; width:100px; left:422px; border:0px solid green; font-weight:bold; margin-top:4px;}
.mnsDivHeader .mnsSampleRate {z-index:1000; position:absolute; width:110px; left:560px; border:0px solid red; font-weight:bold; margin-top:4px; text-align:left;}
.mnsDivHeader .mnsCBQoS {z-index:1000; position:absolute; width:100px; left:750px; border:0px solid blue; font-weight:bold; margin-top:4px; text-align:center;}
.mnsDivHeader .mnsGlobalState {z-index:1000; position:absolute; width:250px; left:850px; border:0px solid red; font-weight:normal; margin-top:4px; text-align:left;}

.mnsDivHeader .mnsSearch { padding-top:10px; position:absolute; right:12px; min-width:160px; height:26px; text-align:right; }
.mnsDivHeader .mnsAARCapable {z-index:1000; position:absolute; width:110px; left:1000px; border:0px solid red; font-weight:bold; margin-top:4px; text-align:left;}
* html .mnsDiv2 { padding-top:8px; } /* IE positioning CSS valid*/



.mnsTB { }
.mnsIB {margin-right:5px;height:18px; width:54px; vertical-align:middle; }
.mnsTree { border: solid 1px #d0d0d0; width:100%; display:block;}

/* NetFlow Settings Breadcrumb */
.nfsBreadcrumb { padding-top:5px; margin-left:7px; font-size:11px; }
.nfsBreadcrumb a {text-decoration:underline; }
.nfsBreadcrumb a:visited {text-decoration:underline; }

/* NetFlow Settings ToS */
.ntsHeader
{
    padding-left: 5px;
    text-transform: uppercase;
    font-size: 11px !important;
    color: #696969;
    font-weight: normal !important;
    background: url(/Orion/TrafficAnalysis/images/warmGrayGradient.jpg) left top repeat-x;
    width: 100%;
    height: 37px;
}
.ntsHeaderLeft,
.ntsHeaderRight
{
    background-color: #EAEAEA;
    font-size: 11px !important;
}

.ntsHeaderLeft
{
    padding-left: 5px;
    border-right: none;
}
.ntsHeaderRight
{
    border-left: none;
}

.ntsItemsLeft,
.ntsItemsRight
{
	padding-left: 5px;
}
.ntsHeaderCenter
{
    font-size: 11px !important;
    background-color: #EAEAEA;
    text-align: center;
}
.ntsItemsLeft	{	border-right: none; }
.ntsItemsRight	{	border-left: none;	}
.ntsItemsCenter {    text-align: center; }

.ntsButton		{	padding-right: 2px;	vertical-align: top; padding-top: 2px;	}

/* Edit Transport Protocols (NetFlow Settings page) */
.Header2 {margin-left: 7px;font-size: 15px;font-weight: bold;}
        
#edpTable thead th
{
    background-color: #EAEAEA;
    color: #696969;
    font-weight: normal;
    font-size: 11px;
    text-transform: uppercase;
    padding: 5px;
    height: 27px;
}

#edpTable { border-collapse: collapse; }

.etptd1, .etptd2, .etptd3 { padding: 2px; }

.etptd1 {border-right:none; }
.etptd2 {border-right:none; border-left:none;}
.etptd3 {border-left:none; }
        
#detailTable th { font-weight:bold; }

.chartSpecificSettings {
    min-width: 550px;
    max-width: 800px;
    width: auto !important;
}

.sw-res-editor .sw-res-editor-block
{
    margin: 15px 0px 15px 0px;
}

div.mnsTree div.hr {
    border-bottom: 1px dotted #e0e0e0;
    height: 0px;
    line-height: 0px;
    width: 100%;
    display: block;
    padding: 0 !important;
    margin: 0 !important;

}

div.mnsTree img.cbNetFlow, div.mnsTree img.cbCBQoS {
    margin: 3px 0 -3px 0;
}

div.mnsTree img.cbNetFlow, div.mnsTree img.cbCBQoS, div.mnsTree div.nsRow, div.mnsTree div.hr {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    outline: none !important;
    outline-style: none !important;
    box-shadow: none !important;
}

table.DatabaseInfo tbody tr td, table.DatabaseInfo tbody tr th {
    border: 0px !important;
    font-size: 10pt !important;
}

.warning-inaccurate-data {
    display: block;
    margin-top: 5px;
    padding-top: 0px;
}

.warning-inaccurate-data-title {
    font-weight: bold;
    font-size: larger;
}

.Tooltip {    
    position: relative;
    display: inline-block;
}

.TooltipBody {
    visibility: hidden;
    z-index: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    min-width: 140px;
    border: 1px solid #AAAAAA;
    background-color: #FFFFFF;
    white-space: nowrap;
    text-align: left;
    text-transform: none;
    padding: 4px 8px;
    position: absolute;
    top: 100%;
    margin-top: 2px;
    left: -8px;
    -webkit-box-shadow: 0 1px 5px 0 #B9B9B9;
    box-shadow: 0 1px 5px 0 #B9B9B9;
    transition: all ease-in-out 0.2s;
    transition-delay: 0.45s;
}

.TooltipKey {
    color: #787878;
    text-align: left;
    padding-right: 30px;
}

.TooltipValue {
    color: #333333;
}

.Tooltip:hover .TooltipBody {
    visibility: visible;
}

.TooltipBody::before {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #AAAAAA transparent;
}

.TooltipBody::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 16px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent #FFFFFF transparent;
}

