.ResourceWrapper .WhatsNewMain tr td
{
	border-bottom: 0px black;					
	padding-bottom: 10px;
}

.WhatsNewMain tr
{
	vertical-align:top;	
}

.WhatsNewMain tr td p
{
	margin: 0px;
	padding-top: 3px;
	padding-left: 20px;
}

.WhatsNewHeading
{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: #000000;
    padding: 5px 5px 0px 5px;
}

.WhatsNewHeading2
{
    padding: 0px 5px 0px 5px;
    color: #86601c;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
}

.WhatsNewHeading3
{
    padding: 0px 5px 0px 10px;
    color: #86601c;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;   
}

.WhatsNewNumber
{
    vertical-align: top;
    padding: 5px 5px 5px 10px;
}

.WhatsNewTitle
{   
    padding: 10px 5px 0px 10px;
}

.WhatsNewMainText
{
    padding: 0px 5px 0px 5px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
}

.WhatsNewMainText2
{
    padding: 0px 5px 0px 10px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
}

/*
TT #2708 bold font on all resourceas and menu bar
we actually don't have any links on What's new resource so I disable it;
then if we will want to format links on What's new resource we use class or ID for these links
/e.g. .myClass a { ... } or .myID a:hover { ... } /

a:link
{
    color: #336699;
    font-weight: bold;
}

a:visited
{
    color: #336699;
    font-weight: bold;
}

a:hover
{
    color: #336699;
    font-weight: bold;
}

a:active
{
    color: #336699;
    font-weight: bold;
}
*/

.WhatsNewContainer1
{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: normal;
}

.WhatsNewContainer1 li { list-style-type: square; margin-bottom:4pt; }
.WhatsNewContainer1 ul { margin-top:0pt; } 

.WhatsNewContainer2
{
    border: 0px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
    padding: 0px 2px 0px 2px;
}

#RemoveButton
{
    cursor: pointer;
}

.WhatsNewMainButton
{
    text-align: right;
    vertical-align:middle;    
}
