.AsaPlatformSummary {
    border-collapse: collapse;
}

.AsaPlatformSummary > tr > td {
    width: 50%;
}

.AsaHwhOverview > span {
    margin-right: 18px;
}

.AsaHwhOverview > span > img {
    vertical-align: middle;
    margin-right: 1px;
}

.AsaHaOverallStatus {
    margin-right: 18px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
}

.AsaHaOverallStatus > img {
    vertical-align: middle;
    margin-right: 1px;
}

.AsaHaOverallStatus > a {
    font-weight: normal;
    margin-left: 3px;
}

.AsaHaOverallStatus > span {
    font-weight: normal;
    margin-left: 3px;
}
