.field-vpn-tunnel-status > img 
{
	vertical-align: middle;
}

.asa-vpn-tunnel-text
{
    text-align: right;
}

.asa-vpn-tunnel-text-bandwidth-unit
{
    text-align: right;
    color: #797979;   
}

.asa-vpn-tunnel-text-fail-phase
{
    font-weight: bold;
    color: #D50000;
}

.asa-vpn-tunnel-first-column
{
    min-width: 100px;
}

.asa-vpn-tunnel-health-status td
{
    padding-left: 10px;
    padding-top: 5px;
}

.asa-vpn-tunnel-health-status-count-Up
{
    width: 15px;
    color: #359630;
} 

.asa-vpn-tunnel-health-status-count-Down
{
    width: 15px;
    color: #c50000;
} 

.asa-vpn-tunnel-health-status-count-Warning
{
    width:15px;
    color: #bebe00;
} 

.asa-vpn-tunnel-health-status-count-Other
{
    width: 15px;
    color: #b4b4b4;
} 

.asa-vpn-tunnel-health-status-icon {
    width: 25px;
}

.asa-vpn-tunnel-health-status-name {
    width: auto;
}

.asa-vpn-tunnel-health svg {
    overflow: visible;
}

.asa-vpn-tunnels-health .ResourceContent
{
    overflow-x: auto;
}

.asa-vpn-tunnel-health .ResourceContent + div
{   /* hide useless clearfix added by charting */
    display: none;
}

.asa-vpn-tunnel-health-legend
{
    background-color: inherit;
    display: inline-block;
    vertical-align: top;
}

.asa-vpn-tunnel-health-legend-inner
{
    position:relative;
    top: 10px;
}
