﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="RealTimeTasksPlugin.ascx.cs" Inherits="Orion_APM_Controls_Management_RealTimeTasksPlugin" %>

<Orion:Include ID="I3" File="APM/js/NodeManagement.js" runat="server" />
