﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="InterfaceChart.ascx.cs" Inherits="Orion_NPM_Resources_InterfaceChartsV2_InterfaceChart" %>

<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
        <asp:PlaceHolder runat="server" ID="WrapperContents"></asp:PlaceHolder>
    </Content>
</orion:resourceWrapper> 