﻿<%@ Control Language="C#" AutoEventWireup="false" CodeFile="UnDPChart.ascx.cs" Inherits="Orion_NPM_Resources_InterfaceChartsV2_UnDPChart" %>

<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
        <asp:PlaceHolder runat="server" ID="WrapperContents"></asp:PlaceHolder>
    </Content>
</orion:resourceWrapper> 