﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="InterfaceUtilization.ascx.cs" Inherits="Orion_NPM_InterfaceUtilization" %>
<%@ Register Src="~/Orion/NPM/InternalInterfaceList.ascx" TagPrefix="orion" TagName="InterfaceList" %>

<orion:InterfaceList runat="server" ID="InterfaceList" OnInit="InterfaceList_Init" />
