﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PageElementsChart.ascx.cs" Inherits="Orion_SEUM_Resources_TransactionStepCharts_PageElementsChart" %>

<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
        <asp:PlaceHolder runat="server" ID="WrapperContents"></asp:PlaceHolder>
    </Content>
</orion:resourceWrapper> 