<%@ Page Language="C#" %>

<%@ Register Src="~/Orion/NetPerfMon/Controls/Pie3D.ascx" TagName="Pie3D" TagPrefix="uc1" %>
<%@ Register TagPrefix="npm" Namespace="SolarWinds.NPM.Web.Gauge.V1" Assembly="SolarWinds.NPM.Web.Gauge.V1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">

</script>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title><%= DefaultSanitizer.SanitizeHtml(Resources.CoreWebContent.WEBDATA_AK0_201) %></title>
</head>
<body>
    <form id="form1" runat="server">
        <npm:GaugeImagePipe id="SecureImagePipe1" runat="server"></npm:GaugeImagePipe>    
   </form>
</body>
</html>