/*!
 * @solarwinds/clm 2020.2.5-99
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.clm-manage-accounts {
  min-width: 992px;
}
.xui .clm-properties-content__footer {
  margin-top: 15px;
}
.clm-error-info {
  background-color: #FFE4E0;
  color: #D50000;
  border: solid 1px #D50000;
}
.breadcrumbs {
  margin: 0 auto;
  font-size: 11px;
}
.breadcrumbs .xui-text-s {
  font-size: 11px;
}

/*# sourceMappingURL=clm.css.map*/