﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TotalBytes.ascx.cs" Inherits="Orion_NPM_Resources_VSANCharts_TotalBytes" %>


<orion:resourceWrapper runat="server" ID="Wrapper" ShowEditButton="true">
    <Content>
        <asp:PlaceHolder runat="server" ID="chartPlaceHolder" />
    </Content>
</orion:resourceWrapper> 