﻿
html,body {
    /*min-width: 500px;
    min-height:300px;*/
}
html, body {
  margin: 0;
  padding: 0;
}

div {
  border: 0;
  padding: 0;
  margin: 0;
}

html {
  background: #fff;
}

html.dark {
  background: #333;
}

html.maximized {
  overflow: hidden;
}
