﻿.ListStyle {
    padding: 10px 15px 20px 0;
    vertical-align: top;
    border-top: 1px solid #CCCCCC;
    border-bottom: 0 !important
}

.wrapper-content-popup { display: none;}
.wrapper-content-popup ul {list-style: none;padding:0;margin:0;}
.wrapper-content-popup li {padding-left: 1em;}
.wrapper-content-popup li:before {content: "■ ";font-size: 12px;vertical-align: top;color: #ff9902;}
.wrapper-content-popup{clear:both;overflow:hidden;}
.wrapper-content-popup .left-content-popup{float:left;width:65%}
.wrapper-content-popup .right-content-popup{float:left;width:30%}
.pop-image { width: 100%; padding:20px}
.wrapper-content-popup p a{color: #26ADD7;display: block;font-size: 14px;padding: 30px 0 0 15px;}

.DataList tbody tr:first-child td{ border-top: 0;}

.Toolset_ResourceError
{
    color: #ff0000;
}

.Toolset_SettingsIcon
{
    background-image: url('/Orion/Toolset/images/Toolset_Settings.gif');
    background-position: center left;
    background-repeat: no-repeat;
    padding: 2px 0px 2px 20px;
    margin-right: 5px;
}

#Toolset_ToolTable
{
    padding: 0.3em 2em 0.3em 0em;
    border: 0px;
}

#Toolset_ToolTable tr
{
    border-bottom-width: 0px;
}

#Toolset_ToolTable tr td
{
    border-bottom-width: 0px;
}

td.ToolDescription
{
    vertical-align: top;
    width: 100%;
    padding-right: 10px;
}

td.AppScreenshot
{
    vertical-align: top;
    width: 100px;
}

div.ToolDescription
{
    font-weight: bold;
    padding-bottom: 15px;
}

div.ToolDetailedDescription
{
    font-weight: normal;
}

#Toolset_ToolTable tr td.LaunchButton
{
    vertical-align: middle;
    text-align: center;
}

img.AppScreenshot
{
    width: 250px;
    height: 175px;
}

ul
{
    padding-left: 10px;
}

.Toolset_EditBox
{
}

span.ToolName {
    font-weight: bold;
}

span.ToolDescription {
    font-style: italic;
}

.UserToolsetDisabled {
    color: #f99d1c;
    font-weight: bold;
}

.UserToolsetEnabled {
    color: #349900;
    font-weight: bold;
}

.LicManagementLink {
    color: #336699 !important;
    text-decoration: underline;
}

.LicManagementLink:hover {
    color: #EB9D1F !important;
    text-decoration: underline;
    cursor: pointer;
}

.HeaderAlign {
    width:75%;
    padding-left:10px;
}

/*Getting Started Resource Styles*/

.Toolset-gettingstarted-backgraound, .Toolset-gettingstarted-backgraound .HeaderBar {
    background-color: #F7A51a!Important;
}

.Toolset-gettingstarted-innertable {
    background-color: #FFFFFF;
}

.Toolset-gettingstarted-innertable td {
    padding: 15px 5px 10px 10px;
}

.Toolset-gettingstarted-innertable td.icon {
    width: 40px;
    padding-right: 0px;
    padding-left: 15px;
}
.Toolset-gettingstarted-innertable .title {
    font-weight: bold;
    font-size: 14px;
}
.Toolset-gettingstarted-backgraound .HeaderBar a:hover {
    color: brown;
}
.Toolset-text-helpful {
    font-size: 12px;
    color: #646464;
}