﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditReportTableWrapper.ascx.cs" Inherits="Orion_NetPerfMon_Controls_EditResourceControls_EditReportTableWrapper" %>
<%@ Register Src="~/Orion/Reports/Controls/ReportTableConfiguration.ascx" TagPrefix="orion" TagName="ReportTableConfiguration" %>

<orion:ReportTableConfiguration runat="server" ID="reportTableConfigruration" />
<br/>
<br/>
 <asp:Panel runat="server" ID="PreviewPanel"></asp:Panel>
<%-- todo: this must be discussed and finished in I3 
<div><b>Time period:</b></div>
<br/>
<br/>
--%>