﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditNodePropertyList.ascx.cs" Inherits="Orion_NetPerfMon_Controls_EditResourceControls_EditNodePropertyList" %>

<asp:CheckBoxList runat="server" ID="displayProperties" />