﻿.sw-be-parent {
    width: 100%;
    display: inline-block;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 5px;
	position: relative;
}
.sw-be {
    overflow: hidden;
}
.sw-be-row-odd {
    fill: #f6f6f6;
}
.sw-be-row-even {
    fill: #ffffff;
}
.sw-be-level-caption, .sw-be-summary-text, .sw-be-objectCaption {
    font-size: 11px;
}
.sw-be-level-caption {
    text-transform: uppercase;   
}
.sw-be-level-caption, .sw-be-level-caption tspan {
    fill: #666;
}
.sw-be-summary-text, .sw-be-objectCaption {
    fill: #000;
}
tspan.sw-be-level-itemCount {
    fill: #909090;
}
.sw-be-levelLine {
    stroke-width: 2;
    stroke:#909090
}
.sw-be-connection {
    stroke-width: 1;
    stroke:#909090
}
.sw-be-summary-empty-group {
    opacity: 0.5;
}
.sw-be-summary-fill-group {
    font-weight: bold;
}
.sw-be-selected-object {
    stroke-width: 1px;
    stroke: #abd5e3;
}
.sw-be-object {
    cursor: pointer;
}
.sw-be-notManagedObject .sw-be-objectCaption {
    font-style: italic;
    fill: #666;
}
.sw-be-group-vertical-box {
    fill: #f6f6f6;
    stroke-width: 1px;
    stroke: #d5d5d5;
}
.sw-be-object-group .sw-be-summary-group {
    cursor: pointer;
}


/* service tools */
.sw-be-serviceTools {
    width: 200px;
    position: absolute;   
    background-color: white;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
}
.sw-be-serviceTools-inner {
    position: relative;
}
.sw-be-serviceTools table {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}
.sw-be-serviceTools-arrow {
    display: block;
    width: 18px;
    height: 6px;
    position: absolute;
    left: 13px;
    top: -6px;
    background: url('/Orion/F5/images/tooltip-arrow.png') no-repeat center top;
}
.sw-be-serviceTools-isAbove .sw-be-serviceTools-arrow {
    top: auto;
    bottom: -6px;
    background-image: url('/Orion/F5/images/tooltip-arrow-down.png');
}
.sw-be-serviceTools-isLeft .sw-be-serviceTools-arrow {
    left: auto;
    right: 13px;
}
.sw-be-serviceTools th {
    background-color: #415B74;
    color: white;
}
.sw-be-serviceTools-title {
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    display: block;
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.sw-be-serviceTools th, .sw-be-serviceTools td {
    padding: 15px;
    border: 0 !important;
}
.sw-be-serviceTools-link div, .sw-be-serviceTools-link a {
    color: #2E96B9;
    cursor: pointer;
    padding: 4px 0;
    margin-bottom: 5px;
    line-height: 24px;
}
.sw-be-serviceTools-link a {
    display: block;
}
.sw-be-serviceTools-link a.hidden {
    display: none;
}
.sw-be-serviceTools-link div:hover, .sw-be-serviceTools-link a:hover {
    color: #2d5c77;
}
.sw-be-serviceTools-link img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    display: inline-block;
}
.sw-be-serviceTools-link {
    line-height: 16px;
}
/* icon tweak */
.sw-be-serviceTools-details img  {
    position: relative;
    right: 2px;
}

/* select box */
.sw-be-selected-object-box {
    color: #909090;
    font-weight: bold;
    margin-bottom: 10px;
    float: left;
}
.sw-be-selected-object-title {
    float: left;
    line-height: 31px;
    padding: 0px 2px;
    font-size: 12px;
}
.sw-be-selected-object-box .sw-be-selected-object-preselected, .sw-be-selected-object-box .sw-be-selected-object-clickable {
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    vertical-align: middle;
    height: auto;
    word-break: break-all;
}
.sw-be-selected-object-box .sw-be-selected-object-clickable {
    border: 1px solid #ACD5E2;
    background: #DCEFF5 url('/Orion/images/Generic/Patterns/pattern-info.png');
    padding: 2px 45px 2px 10px;
}
.sw-be-selected-object-box .sw-be-selected-object-preselected {
    padding: 2px;
}
.sw-be-selected-object-box > div {
    float: inherit;
}
.sw-be-selected-object-box .sw-be-unselectObject {
    font-weight: normal;
    padding-left: 20px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 2px;
}

/* dropdown */
.sw-be-dropdown {
    float: right;
    margin-right: 10px;
}

/* no objects message */
.sw-be-fullResourceMessage {
    padding: 25px;
    text-align: center;
}

.sw-be-fullResourceMessage img {
    vertical-align: text-bottom;
}

.sw-be-fullResourceMessage span {
    font-size: 9pt;
    line-height: 16px;
	color: #666;
}

.sw-be-errorMessage.hidden {
    display: none;
}

.sw-be-mainSearchErrorMessage.sw-suggestion-fail {
    float: right;
    clear: right;
    margin: -5px 0 15px;
}

.sw-be-groupSearchErrorMessage {
    float: right;
    margin: 5px 3px;
}

/* search box */
.sw-be-search {
    float: right;
    margin-bottom: 15px;
    width: 280px;
}

.sw-be-search input {
    width: 240px;
}

.sw-be-search-style.sw-be-highlighting-active input {
    border-color: #F99D1F;
}


/* loading */
.sw-be-loading {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.sw-be-loading > div {
    display: table;
    width: 100%;
    height: 100%;
}
.sw-be-loading > div > div {
    display: table-cell;
    vertical-align: middle;
}
.sw-be-loading img {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 5px;
}


/* highlighting */
.sw-be-highlighted-object {
    fill: transparent;
    stroke-width: 2px;
    stroke: #f99d1f;
    display: none;
}
.sw-be-highlighted .sw-be-highlighted-object {
    display: block;
}
.sw-be-object.sw-be-not-highlighted,
.sw-be-summary-group.sw-be-not-highlighted {
    opacity: 0.5;
}
.sw-be-connection.sw-be-not-highlighted {
    opacity: 0.2;
}

/* ha group */
.sw-be-ha-group {
    fill: none;
    stroke-width: 2px;
    stroke: #C5C5C5;
}


/* group dialog */
.sw-be-groupDialog a { /* style {Core globalStyles.css a} overriden by jQueryUI */
    color: #0079aa;
}
.sw-be-groupDialog a:hover {  /* style {Core globalStyles.css a:hover} overriden by jQueryUI */
    color: #2d5c77;
}
.sw-be-groupDialog-search input {
    margin-left: 3px;
    margin-right: 10px;
    width: 330px;
    padding: 4px 28px 4px 10px;
}
.sw-be-groupDialog .f5-searchbox-button-cancel {
    right: 1px;
}
.sw-be-groupDialog .f5-searchbox-button-active {
    right: 1px;
    top: -1px;
}
.sw-be-groupDialog ol {
    clear: both;
    margin: 0 0 15px;
    padding-left: 3px;
}
.sw-be-groupDialog * + ol {
    margin-top: 15px;
}
.sw-be-groupDialog ol li {
    list-style: none;
    min-height: 30px;
    line-height: 30px;
    padding: 0 15px;
}
.sw-be-groupDialog ol li:nth-of-type(2n) {
    background-color: #F9F9F9;
}
.sw-be-groupDialog ol li img {
    vertical-align: middle;
    position: relative;
    top: -1px;
    padding-right: 7px;
}
.sw-be-groupDialog .pagination-content {
    margin-left: 13px;
}
.sw-be-groupDialog .pagination {
    min-height: 16px;
    margin-right: 6px;
    margin-bottom: 15px;
}
.sw-be-groupDialog .pagination .pagination-displaying-text {
    float: right;
    padding-top: 2px;
}
.sw-be-groupDialog .pagination .arrow {
    position: relative;
    top: 4px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}
.sw-be-groupDialog .pagination .page-previous {
    background-image: url('/Orion/images/Arrows/button_paging_previous.gif');
    cursor: pointer;
}
.sw-be-groupDialog .pagination .page-previous-disabled {
    background-image: url('/Orion/images/Arrows/button_paging_previous_disabled.gif');
}
.sw-be-groupDialog .pagination .page-next {
    background-image: url('/Orion/images/Arrows/button_paging_next.gif');
    cursor: pointer;
}
.sw-be-groupDialog .pagination .page-next-disabled {
    background-image: url('/Orion/images/Arrows/button_paging_next_disabled.gif');
}
.sw-be-groupDialog .pagination .page-specific, .sw-be-groupDialog .pagination .page-specific-current {
    padding: 0 3px;
    font-size: 11px;
}
.sw-be-groupDialog .pagination .page-specific-current {
    font-weight: bold;
    cursor: default;
}

