﻿.change-rotation-presence-status {
    width: 56px;
    height: 20px;
    cursor: pointer;
}

.change-rotation-presence-status.on {
    background-image: url(/Orion/F5/images/enabled.png);
}
.change-rotation-presence-status.off {
    background-image: url(/Orion/F5/images/disabled.png);
}
.change-rotation-presence-status.disabled {
    -ms-opacity: 0.4;
    opacity: 0.4;
}

.change-rotation-presence-note {
    margin-right: 2px;
    margin-bottom: 5px;
}

.change-rotation-presence-note textarea {
    width: 98%;
    font-style: normal;
    font-size: 11px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 9px;
}

.change-rotation-presence-error {
    display: none;
    padding-top: 5px;
}