﻿.sw-f5-genericTable .PropertyHeader {
    width: 1%;
    min-width: 170px;
    white-space: nowrap;
    padding-right: 15px;
    vertical-align: top;
}

.sw-f5-genericTable table {
    border-collapse: collapse;
}

.sw-f5-genericTable td img {
    vertical-align: middle;
}

.ResourceWrapper .nowrap {
    white-space: nowrap;
}

.ResourceWrapper .sw-custom-query-table img.icon {
    vertical-align: middle;
}

.ResourceWrapper .sw-custom-query-table .align-right {
    text-align: right;
}

.ResourceWrapper .sw-custom-query-table .width-100 {
    width: 100px;
}

.ResourceWrapper .f5EventsResource .iconColumn {
    width: 16px;
}

.ResourceWrapper .f5EventsResource .event-icon {
    padding: 2px;
}

.ResourceWrapper .f5EventsResource .timeColumn {
    width: 150px;
}
