﻿/* MIXIN FUNCTIONS */
/* *** COLOR SECTION *** */
/* THEME COLORS */
/* SELECTION COLORS */
/* TEXT COLORS */
/* MENU COLORS */
/* STATUS COLORS */
/* DATA SERIES COLORS */
/* BACKGROUND COLORS */
/* STATUS BACKGROUND COLORS */
/* LIST/GRID COLORS */
/* LINES AND BORDERS */
/* BUTTON COLORS & OPACITY */
/* *** TYPOGRAPHY SECTION *** */
/* *** LAYOUT SECTION *** */
/* PADDINGS & MARGINS */
/* ICONS */
/* FORM ELEMENTS */
.f5-environment-summary-resource {
    text-align: center;
}
.f5-environment-summary-resource .f5-no-resource-data {
  font-size: 12px;
  margin: 0;
  color: #909090;
}
.f5-environment-summary-resource .f5-no-resource-data strong {
  color: #333333;
}
.f5-tile-list {
  margin: 0;
  padding: 0;
}
.f5-tile-list .f5-tile {
  min-width: 100px;
    max-width: 300px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  vertical-align: top;
  margin: 0 7.5px 5px 7.5px;
}

.f5-tile-list .f5-tile:first-child {
	margin: 0 7.5px 5px 0;
}
.f5-tile-list .f5-tile:last-child {
	margin: 0 0 5px 7.5px;
}

.f5-tile-list .f5-tile .f5-tile-container {
  width: 100%;
}
.f5-tile-list .f5-tile .f5-tile-container .f5-main-status {
  display: block;
  width: calc(100% - 20px);
  padding: 20px 10px;
  border-bottom: 2px solid #ffffff;
}
.f5-tile-list .f5-tile .f5-tile-container .f5-main-status > span {
  display: inline-block;
  vertical-align: middle;
}
.f5-tile-list .f5-tile .f5-tile-container .f5-main-status:after {
  clear: both;
}
.f5-tile-list .f5-tile .f5-tile-container .f5-main-status:hover,
.f5-tile-list .f5-tile .f5-tile-container .f5-main-status:focus,
.f5-tile-list .f5-tile .f5-tile-container .f5-main-status:active {
  text-decoration: none;
}
.f5-tile-list .f5-tile .f5-tile-container .f5-main-status .status-icon {
  /*width: 50%;*/
  text-align: right;
}
.f5-tile-list .f5-tile .f5-tile-container .f5-main-status .status-count {
  padding: 0 5px;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}
.f5-tile-details .status-count {
  display: inline;
}
.f5-tile-list .f5-tile .f5-tile-container .f5-main-status .status-name {
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #333333;
  /*width: 50%;*/
}
.f5-tile-list .f5-tile .f5-tile-container.f5-status-none .status-count {
  color: #487087;
}
.f5-tile-list .f5-tile .f5-tile-container.f5-status-none img {
  display: none;
}
.f5-tile-list .f5-tile .f5-tile-head {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 10px;
}
.f5-tile-list .f5-tile .f5-tile-head a {
  color: #333333;
}
.f5-tile-list .f5-tile .f5-tile-head a:hover,
.f5-tile-list .f5-tile .f5-tile-head a:focus,
.f5-tile-list .f5-tile .f5-tile-head a:active {
  text-decoration: none;
}
.f5-tile-list .f5-tile .f5-tile-head .value {
  font-weight: bold;
}
.f5-tile-list .f5-tile .f5-tile-head img.icon {
    position: relative;
    top: 7px;
}
.f5-tile-list .f5-tile .f5-tile-body {
  padding: 10px 20px;
  font-size: 12px;
}
.f5-tile-list .f5-tile .f5-tile-body ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.f5-tile-list .f5-tile .f5-tile-body ul li {
  display: inline-block;
  margin: 0 5px;
}
.f5-tile-list .f5-tile .f5-tile-body ul li a {
  color: #333333;
  font-weight: 600;
}
.f5-tile-list .f5-tile .f5-tile-body ul li a:hover {
  text-decoration: none;
}
.f5-tile-list .f5-tile .f5-tile-body ul li .f5-detail-status {
    display: table;
}
.f5-tile-list .f5-tile .f5-tile-body ul li .f5-detail-status > * {
    display: table-cell;
    vertical-align: top;
}
.f5-tile-list .f5-tile .f5-tile-body ul li a img {
  overflow: hidden;
  border: none;
  background-image: none;
  margin-right: 3px;
  margin-top: -1px;
}
.f5-tile-list .f5-tile .f5-tile-body ul li a strong {
  text-transform: uppercase;
}
.f5-tile-list .f5-tile .f5-tile-body p {
  margin: 0;
  text-align: center;
  min-height: 20px;
}
.f5-tile-list .f5-tile .issues-category {
  width: 100%;
  margin: 0;
  float: left;
}
.f5-tile-list .f5-tile .issues-category .issues-header {
  width: 100%;
  height: 30px;
  background-color: #EAEAEA;
}
.f5-tile-list .f5-tile .issues-category .issues-header h2 {
  padding: 0 0 0 30px;
  margin: 0;
  font-size: 12px;
  line-height: 30px;
  color: #333333;
  font-weight: 400;
}
.f5-tile-list .f5-tile .issues-category .issues-content {
  background-color: #ffffff;
  min-height: 105px;
}
.f5-tile-list .f5-tile .issues-category .issues-content ul {
  padding: 0;
  margin: 0;
}
.f5-tile-list .f5-tile .issues-category .issues-content ul li {
  padding: 0 0 0 30px;
  font-size: 12px;
}
.f5-tile-list .f5-tile .issues-category .issues-content ul li.even {
  background-color: #f6f6f6;
}
.f5-tile-list .f5-tile .issues-category .issues-content ul li strong {
  color: #333;
  display: inline-block;
  width: 30px;
  line-height: 30px;
}
.f5-tile-list .f5-tile .issues-category .issues-content p {
  text-align: center;
  padding: 10px;
  line-height: 105px;
  font-size: 12px;
  color: #909090;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAARVBMVEUAAAAAz1UA0VoA0VsA0VwAz1wA0FwA0VsA0FsAz1wA0FwA0FwA0V0w1Gdc2Xxt3YZ74JGK45vd9+De9+Hz/PX1/Pb///9e1GkaAAAADHRSTlMAMG9wf4CvsL/A7/CyutjAAAAAe0lEQVR4Ab2QwdLCMAgGw5/mb4EPtVX7/o/qWBwGuXjrHnczMKGdCU2LyDJR9R2O/H37GcF/fR/0NB+BAUIRRvjL4waMCPxWdvi7ARxBAXtu9vGQHLDu29U9NI06yu4eXJav7vNyUiSUfnywnmQuR1TX2luBBqvyoHYiL0OWCaG4I4AqAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: 65px center;
}

.f5-tile-list  .f5-tile-body > .f5-tile-body-centered {
	display: table;
	width: 100%;
}

.f5-tile-list  .f5-tile-body > .f5-tile-body-centered > div{
	display: table-row;
}

.f5-tile-list  .f5-tile-body > .f5-tile-body-centered > div > *{
	display:table-cell;
	vertical-align:middle;
}

.f5-tile-container {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAMAAABh9kWNAAAABlBMVEXe5en////GrqSfAAAAD0lEQVR4AWNgYGAEQjAFAAAeAASvQ2A7AAAAAElFTkSuQmCC');
  background-color: #f7f7f7;
  border-bottom: 4px solid #d5d5d5;
  color: #487087;
}
/* Status-related formatting. */
/* Should be moved to separate file, but need to figure out the structure first. */
.f5-metastatus-down .f5-format-text {
  font-weight: bold;
}
.f5-metastatus-down .f5-format-text .status-count {
  color: #333333;
}
.f5-metastatus-down.f5-format-background {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADAQMAAABs5if8AAAABlBMVEX///////9VfPVsAAAAAXRSTlMAQObYZgAAABdJREFUeF4FwIEMAAAAArCjhBJa6M1UDgNmAOHueR65AAAAAElFTkSuQmCC');
  background-color: #f8dbdb;
  border-bottom: 4px solid #da3838;
}
.f5-metastatus-warning .f5-format-text {
  font-weight: bold;
}
.f5-metastatus-warning .f5-format-text .status-count {
  color: #333333;
}
.f5-metastatus-warning.f5-format-background {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADAQMAAABs5if8AAAABlBMVEX///////9VfPVsAAAAAXRSTlMAQObYZgAAABdJREFUeF4FwIEMAAAAArCjhBJa6M1UDgNmAOHueR65AAAAAElFTkSuQmCC');
  background-color: #feeeda;
  border-bottom: 4px solid #fa9f32;
}
.f5-metastatus-unknown .f5-format-text {
  font-weight: bold;
}
.f5-metastatus-unknown .f5-format-text .status-count {
  /*color: #333333;*/
  color: #487087;
}
.f5-metastatus-unknown.f5-format-background {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAMAAABh9kWNAAAABlBMVEXe5en////GrqSfAAAAD0lEQVR4AWNgYGAEQjAFAAAeAASvQ2A7AAAAAElFTkSuQmCC');
  background-color: #f7f7f7;
  border-bottom: 4px solid #d5d5d5;
}
.f5-metastatus-up .f5-format-text {
  font-weight: bold;
}
.f5-metastatus-up .f5-format-text .status-count {
  color: #333333;
}
.f5-text-secondary{
	color: #909090;
}
.f5-metastatus-up.f5-format-background {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADAQMAAABs5if8AAAABlBMVEX///////9VfPVsAAAAAXRSTlMAQObYZgAAABdJREFUeF4FwIEMAAAAArCjhBJa6M1UDgNmAOHueR65AAAAAElFTkSuQmCC');
  background-color: #e7f5e4;
  border-bottom: 4px solid #7aca67;
}