﻿.f5-api-test-message-warning {
    background-color: #FEEE90;
    text-align: center;
    color: Red;
}

.f5-api-test-message-ok {
    background-color: #D6F6C6;
    text-align: center;
}

.f5-api-credentials-checkbox input[type="checkbox"] {
    margin-left: 0;
    margin-top: 2px;
}