.field-healthMonitorStatus > img 
{
	vertical-align: middle;
}

/* no objects message */
.sw-hm-fullResourceMessage {
    padding: 25px;
    text-align: center;
}

.sw-hm-fullResourceMessage img {
    vertical-align: text-bottom;
}

.sw-hm-fullResourceMessage span {
    font-size: 9pt;
    line-height: 16px;
	color: #666;
}