﻿.horizontalLegendItem {
    float:left;
    margin-right: 6px;
}

.horizontalLegendCheckBox {
    float: left;
}
.horizontalLegendText { 
    margin-left: 3px; 
	vertical-align:top;
}

.SWChartLogo {
    text-align:right;
}

.chartLegend {
    float: left;
}