﻿.sw-f5-list-dialog a { /* style {Core globalStyles.css a} overriden by jQueryUI */
    color: #0079aa;
}
.sw-f5-list-dialog a:hover {  /* style {Core globalStyles.css a:hover} overriden by jQueryUI */
    color: #2d5c77;
}

/* Search box */
.sw-f5-list-dialog .f5-searchbox {
    float: right;
    margin-bottom: 5px;
}
.sw-f5-list-dialog .f5-searchbox-input {
    font-size: 11px;
}

/* List */
.sw-f5-list-dialog .sw-f5-list-dialog-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.sw-f5-list-dialog .icon-for {
    vertical-align: baseline;
    padding-right: 5px;
}
.sw-f5-list-dialog .icon-for + .link-for,
.sw-f5-list-dialog .icon-for + .text
 {
    position: relative;
    top: -4px;
}

/* Pagination */
.sw-f5-list-dialog .pagination-content {
    margin-left: 13px;
}
.sw-f5-list-dialog .pagination {
    min-height: 16px;
    margin-right: 6px;
    margin-bottom: 15px;
}
.sw-f5-list-dialog .pagination .pagination-displaying-text {
    float: right;
    padding-top: 2px;
}
.sw-f5-list-dialog .pagination .arrow {
    position: relative;
    top: 4px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}
.sw-f5-list-dialog .pagination .page-previous {
    background-image: url('/Orion/images/Arrows/button_paging_previous.gif');
    cursor: pointer;
}
.sw-f5-list-dialog .pagination .page-previous.page-disabled {
    background-image: url('/Orion/images/Arrows/button_paging_previous_disabled.gif');
}
.sw-f5-list-dialog .pagination .page-next {
    background-image: url('/Orion/images/Arrows/button_paging_next.gif');
    cursor: pointer;
}
.sw-f5-list-dialog .pagination .page-next.page-disabled {
    background-image: url('/Orion/images/Arrows/button_paging_next_disabled.gif');
}
.sw-f5-list-dialog .pagination .page-specific, .sw-f5-list-dialog .pagination .page-specific-current {
    padding: 0 3px;
    font-size: 11px;
    cursor: pointer;
    text-decoration: underline;
}
.sw-f5-list-dialog .pagination .page-specific-current {
    font-weight: bold;
    cursor: default;
    text-decoration: none;
}

/* Error message */
.sw-f5-list-dialog .error-message {
    float: right;
    margin: 5px 3px;
}

/* Loading */

.sw-f5-list-dialog-loading {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.sw-f5-list-dialog-loading-table {
    display: table;
    width: 100%;
    height: 100%;
}
.sw-f5-list-dialog-loading-cell {
    display: table-cell;
    vertical-align: middle;
}
.sw-f5-list-dialog-loading-cell img {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 5px;
}

.sw-f5-list-dialog .sw-f5-list-dialog-table .shrink {
    white-space: nowrap;
    width: 1px;
}