.f5-searchbox {
	position: relative;
	display: block;
}

.f5-searchbox-input::-ms-clear {
	display: none;
}

.f5-searchbox-button {
	display: block;
	width: 28px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center center;
}

.f5-searchbox-button-active {
	background-image: url('/Orion/NPM/Images/Icons/icon-search.png');
}

.f5-searchbox-button-cancel {
	background-image: url('/Orion/F5/images/Generic/Icons/icon-clear-search.gif');
}

.f5-searchbox-button-loading {
	background-image: url('/Orion/images/loading_gen_small.gif');
}

.f5-searchbox-input {
	font-style: normal;
    font-size: 11px;
    padding: 8px 28px 9px 10px;
}

.f5-searchbox-input::-webkit-input-placeholder {
    color: #909090;
    font-style: normal;
}
.f5-searchbox-input::-moz-placeholder {
    color: #909090;
    font-style: normal;
}
.f5-searchbox-input:-moz-placeholder {
    color: #909090;
    font-style: normal;
}
.f5-searchbox-input:-ms-input-placeholder {
    color: #909090;
    font-style: normal;
}
.f5-searchbox-input.placeholder {
    color: #909090;
    font-style: normal;
}

.f5-searchbox-highlighting-active .f5-searchbox-input {
    border-color: #F99D1F;
}
