.f5-ltm-serverStatistics .sw-custom-query-table {
    table-layout: fixed;
	overflow: hidden;
}

.f5-ltm-serverStatistics .HeaderRow td {
    box-sizing: border-box;
}

.f5-ltm-serverStatistics-pool,
.f5-ltm-serverStatistics-poolMember {
    width: 21%;
    min-width: 60px;
}

.f5-ltm-serverStatistics-port {
    width: 40px;
}
