.f5-tabular-resource .f5-field-entity img {
	vertical-align: baseline;
	padding-right: 5px;
}

.f5-tabular-resource .f5-field-entity img + a {
    position: relative;
    top: -4px;
}

.f5-tabular-resource .align-right {
    text-align: right;
}

.f5-tabular-resource .f5-searchbox {
	float: right;
	margin-bottom: 5px;
}

.f5-tabular-resource .f5-field-entity-truncate a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    display: inline-block;
    width: 100%;
}

.f5-tabular-resource .f5-field-entity-truncate img + a {
    width: calc(100% - 30px);
}

.f5-column-long-text {
    word-break: break-all;
}

.f5-column-entity-name {
    min-width: 90px;
}

.f5-column-numeric, .f5-header-numeric {
    text-align: right;
}

