﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EWWeekDayHeader.ascx.cs" Inherits="EWWeekDayHeader" %>
<div id="daycell" style="font-family:Arial, Verdana;font-size:11px;font-weight:bold;" runat="server" />