﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EWWeekSelection.ascx.cs" Inherits="EWWeekSelection" %>

<asp:DropDownList ID="weekSelector" runat="server" AutoPostBack="true" OnSelectedIndexChanged="DateSelected" />