/*!
 * @solarwinds/apm 2020.2.5-302
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.sw-application-tooltip {
  margin: 7px;
}
.sw-application-tooltip__title {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #333333;
  border-bottom: 1px solid #D5D5D5;
}
.sw-application-tooltip__message {
  text-align: center;
  background: #dfe0e1;
}

/*# sourceMappingURL=applicationTooltip.css.map*/