.aad-dc-item {
    display: flex;
    justify-content: space-between;
    height: 55px;
}

.aad-dc-item__left-side {
    width: 50%;
}

.aad-dc-domaincontroller {
    height: 20px;
}

.aad-dc-domaincontroller__icon {
    width: 30px;
}

/* Domain Controller Roles Component */
.aad-dc-roles {
    display: flex;
    justify-content: flex-start;
}

.aad-dc-roles__pill {
    width: auto;
    display: flex;
    min-width: calc(100% - 300px);
    align-items: center;
    height: 22px;
    stroke-width: 1;
}

.aad-dc-roles__pill__ellipsis {
    width: 50px;
    height: 20px;
}

.aad-dc-roles__pill__ellipsis rect {
    stroke: #D5D5D5;
    color: #D5D5D5;
    fill: white;
    
}

.aad-dc-roles-tooltip {
    cursor: default;
    text-decoration: none;
}

.aad-dc-roles-tooltip:hover {
    cursor: default;
    text-decoration: none;
}

.aad-dc-center-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
