.oap-row {
    min-width: 400px;
    display: flex;
    justify-content: space-between;
}

.oap-poller-name-content {
    width: 75%;
    min-width: 300px;
}

.oap-poller-value-content {
    width: 25%;
    min-width: 100px;
    position: relative;
	transform: translateY(25%);
}

.oap-value-to-monitor {
    height: 20px;
    line-height: 20px;
}

.oap-value-to-monitor-icon {
    width: 30px;
}

.oap-value-to-monitor-name {
    max-width: 270px;
}

.oap-poller-name {
    width: 270px;
}

.oap-value-to-monitor-spreader {
    width: 30px;
    height: 100%;
}
