.aad-replication-row {
	/* aad-replication-details-row (430px) + expander arrow (20px) */
	 min-width: 450px; 
}

.aad-replication-details-row {
	min-width: 420px;
	height: 55px;
	display: flex;
	justify-content: space-between;
}

.aad-replication-node {
	width: 30%;
	min-width: 150px;
	height: 50px;
}

.aad-replication-spreader {
	width: 30px;
	height: 100%;
}

.aad-replication-domain {
	margin-top: 7px;
}

.aad-replication-domaincontroller {
	height: 20px;
	line-height: 20px;
}

.aad-replication-domaincontroller-name {
	width: 120px;
}

.aad-replication-domaincontroller-icon {
	width: 30px;
}

.aad-replication-center-content {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.aad-replication-pill {
	display: flex;
	width: 40%;
	align-items: center;
	height: 22px;
	stroke-width: 1;
}

.aad-replication-arrowhead-left {
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;

	border-right: 7px solid;
}

.aad-replication-pill .arrow {
	flex: 1;
	display: inline-flex;
	align-items: center;
}

.aad-replication-pill .replication-pill-svg {
	width: 80px;
	height: 20px;
	font-size: 10px;
}

.aad-replication-pill .line {
	flex: 1;
	height: 2px;
}

.aad-replication-pill .rectangle {
	fill: white;
}

.aad-replication-status-unknown {
	stroke: #D5D5D5;
	color: #D5D5D5;
}

.aad-replication-status-unknown .line {
	background: #D5D5D5;
}

.aad-replication-status-available {
	stroke: #30B230;
	color: #30B230;
}

.aad-replication-status-available .line {
	background: #30B230;
}

.aad-replication-status-critical {
	stroke: #D50000;
	color: #D50000;
}

.aad-replication-status-critical .line {
	background: #D50000;
}
