.aad-site-tree-view .xui-icon {
    margin-top: 1px;
}

.aad-site-node {
    display: flex;
    justify-content: space-between;
}

.aad-site-domain-controller {
    display: flex;
}

.aad-site-domain-controller-monitored {
    display: flex;
    align-items: center;
}