.aad-trust-summary-row {
	min-width: 420px;
	display: flex;
	justify-content: space-between;
}

.aad-trust-center-content {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 25%;
	transform: translateY(-50%);
}

.aad-trust-domain {
    min-width: 25%;
    margin-left: 7px;
    display: flex;
}

.aad-trust-domain-icon {
	width: 30px;
}

.aad-trust-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.aad-trust-pill {
    display: flex;
	align-items: center;
    stroke-width: 1;
    stroke: #297994;
	color: #297994;
}

.aad-trust-arrowhead-left {
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid;
}

.aad-trust-arrowhead-right {
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid;
}

.aad-trust-pill .arrow {
	flex: 1;
	display: inline-flex;
	align-items: center;
}

.aad-trust-pill .trust-pill-svg {
	width: 150px;
	height: 20px;
}

.aad-trust-pill .line {
	flex: 1;
    height: 2px;
    background: #297994;
}

.aad-trust-pill .rectangle {
	fill: white;
}