﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AlertNetFlowSourceArea.ascx.cs" Inherits="Orion_TrafficAnalysis_AlertBuilder_AlertNetFlowSourceArea" %>



<h4><%= Resources.NTAWebContent.NTAWEBDATA_AlertBuilder_FieldNetflowSourceLabel%></h4>
<asp:Label ID="SelectedNetflowSource" runat="server"></asp:Label>
         
