﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SelectPCUTemperature.ascx.cs" Inherits="Orion_PowerControlUnit_Controls_SelectPCUTemperature" %>
<asp:RadioButtonList runat="server" ID="RadioPCUTemperatureUnit" />
