/*!
 * @solarwinds/ipam 2020.2.5-223
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.ipaddressrequests-widget-address {
  font-weight: bold;
}
.ipaddressrequests-widget-customPropertyDotted {
  text-decoration: underline dotted;
}
.ipaddressrequests-widget__header {
  font-weight: bold;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.ipaddressrequests-widget__popover-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
}
.ipaddressrequests-widget__popover-li {
  display: block;
  word-wrap: break-word;
}
.ipaddressrequests-widget__popover-li > hr {
  border-top-color: #cccccc;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.ipaddressrequests-widget-submitButtonRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.ipaddressrequests-widget-submitButton {
  margin-right: 10px;
}
.ipaddressrequests-widget-summaryLabel {
  padding-top: 5px;
  margin-right: 15px;
}
.ipaddressrequests-widget-row-fluid::after {
  content: "";
  clear: both;
  display: table;
}
.ipaddressrequests-widget-search-append-to-body {
  overflow: visible !important;
}
.ipaddressrequests-widget-cancelButton {
  float: left;
}
.ipaddressrequests-widget-radio {
  display: inline-block;
}
.ipaddressrequests-widget-subnetDetails {
  padding-right: 10px;
  align-self: center;
}
.ipaddressrequests-widget-friendlyNameDiv {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#ipamIpAddressRequestWidget .xui-panel__body {
  overflow: visible !important;
}
.sw-ipam-iprequest-custom-property-editor-value {
  width: 100%;
}
#ipamIpAddressSelector .xui-search__input-cancel {
  display: none !important;
}
#ipamIpAddressSelector .xui-search__input-control.form-control {
  z-index: 0;
  padding-right: 0px !important;
  margin-right: 0px !important;
  transition: padding-left 0.3s ease;
  font-weight: 700;
}
#ipamIpAddressSelector .xui-button {
  display: none !important;
}

/*# sourceMappingURL=ipAddressRequests.css.map*/