/*!
 * @solarwinds/ipam 2020.2.5-223
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.requesterDetails-widget .display-name {
  font-weight: bold;
}
.requesterDetails-widget > hr {
  border-top-color: #cccccc;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

/*# sourceMappingURL=requesterDetails.css.map*/