﻿.scm_component_group {}
.scm_component_name { cursor: pointer; }
.scm_component_instances { margin-left: 2em; }
.scm_component_instance+.scm_component_instance { border-top: solid 1px black; }
.scm_separator_row { height: 1px; background-color: black; }
tbody.scm_component_instances td:first-child { padding-left: 2em; }