﻿.LinkButton
{
    background-color:#E6E6E6; 
    border-color: Silver; 
    border-width: 1px;
    border-style: solid; 
    margin-left: 2px;
    padding: 2px 10px 3px 10px; 
	color: black;
	text-decoration: none;
	cursor: pointer;
    display:block; 
}
.LinkButton:hover
{
	color: black;
	border-color: Gray; 
	text-decoration: none;
}       
.LinkButton:link
{
	color: black;
	text-decoration: none;
}