﻿span.Label { white-space:nowrap; }
.smallText {color:#979797;font-size:9px;}
.add { background-image:url(/Orion/images/add_16x16.gif) !important; }
.edit { background-image:url(/Orion/images/edit_16x16.gif) !important; }
.del { background-image:url(/Orion/images/delete_16x16.gif) !important; }
#Grid td { padding-right: 0px; padding-bottom: 0px; vertical-align: middle; }
#Grid { padding-top: 12px; }
.dialogBody td { padding: 5px; padding-bottom: 5px; vertical-align: middle; }
a.helpLink { color: #336699; font-size: smaller; text-decoration: none; }
/*#assignedNodesBody { padding: 10px; height: 210px; overflow: auto; }    */
