﻿input.scm_search_configs {
    width: 100%;
}

.scm_change_header {
    background-color: lightblue;    
}

.scm_change_added {
    background-color: lightgreen;
}

.scm_change_removed {
    background-color: lightcoral;
}

.scm_change_modified {
    background-color: lightyellow;
}

/* Adds icon and formatting to refresh link in top right of pages */
.refreshPageLink
{
	background-image: url('/Orion/PM/images/RefreshBlueIco.png');
	background-position: center left;
	background-repeat: no-repeat;
	padding: 2px 0px 2px 20px;

}

.settingsLink
{
	background-image: url('/Orion/PM/images/Button.EditApplication.gif');
	background-position: center left;
	background-repeat: no-repeat;
	padding: 2px 0px 2px 20px;

}

.helpLink
{
	background-image: url('/Orion/PM/images/HelpLink_Text.png');
	background-position: center left;
	background-repeat: no-repeat;
	padding: 2px 0px 2px 20px;

}