﻿.descriptionPanel
{
    padding: 18px;
    width: 70%;
}
.controlFrame
{
    margin: 18px;
    width: 650px !important;
}
.smallText
{
    color: #646464;
    font-size: 9px;
}
.helpLink
{
    color: #369;
    font-size: 9px;
}
.inputBox
{
    width: 250px;
}
.buttonBar
{
    padding-left: 160px;
}
.resultPanel
{
    width: 200px;
    padding-left:5px;
    vertical-align:top;
}
.hidden
{
    display: none;
}
