﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ScmModuleDetails.ascx.cs" Inherits="Orion_SCM_Admin_ScmModuleDetails" %>

<%@ Register Src="~/Orion/Admin/Details/ModuleDetailsBlock.ascx" TagPrefix="orion" TagName="ModuleDetailBlock" %>

<orion:ModuleDetailBlock ID="ScmDetails" runat ="server" />