﻿#adminContent h1 
{
    font-size: 18px;
    padding-bottom: 10px;
}

#adminContent p
{
    font-size: 12px;
    padding: 0 0 1em 0;
    width: 100%;
}

#containerAdvancedDiv
{
    margin-left: 13px;
    margin-top: 3px;
    padding: 3px;
    background-color: #ecedee;
}

.WorkflowButtons
{
    text-align: right;
    margin: 1em;
}

div.contAdminDateArea
{
    position: relative;
    left: 0px;
    top: -40px;
    float: right;
    margin: 0px;
    border-width: 0px;
    font-size: 8pt;
    text-align: right;
    padding-right: 10px;
}

.contTitleBarDate {
    padding-top: 5px; 
    font-size: 8pt;
    margin: 0px;
}

/* ========== Edit Group =================== */
.ContentBucket input, .ContentBucket textarea, .ContentBucket select
{
    border: #98afc7 1px solid;
}

table#containerDetailsTable td
{
    padding: 3px;
}

.NameBox
{
    width: 20em;
}
.FrequencyBox
{
    width: 6em;
}
.RollupBox
{
}
.DescriptionBox
{
    width: 40em;
}

.CommandButtons
{
    padding: 1em;
}
table#ContainerMembersPreviewTable
{
    margin: 0.5em 2em;
}
table#ContainerMembersPreviewTable td
{
    padding: 0px;
}

#nestedGroupNotification
{
    background-color: #fff7cd;
    padding: 3px;
}

/* ========== Manage members =================== */
#GroupItemsSelector
{
	padding: 5px;
	height: 85px;
}

#GroupItemsSelector select
{
    width: 250px;
    margin-bottom: 3px;
}
#GroupItemsSelector label
{
    display: block;
    margin: 0px 0px 3px 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

#ContainerMembersTable
{
    width: 90%;
    height: 500px;
    padding: 0px;
}

#ContainerMembersTable .x-grid3-row-selected, #ContainerMembersTable .x-tree-selected
{
    background-color: #dfe8f6 !important;
}

#ContainerMembersTable .x-layout-split
{
    background-color: #f0f0f0 !important;
}

#AddButtonPanelExtPanel .x-panel-body, #MainExtPanel
{
    background-color: transparent;
}

#TreeExtPanel
{
    background-color: #ffffff;
}

#ContainerMembersTable td
{
    padding: 0px;
    vertical-align: middle;
}

.dynamicQueryPreviewList
{
    background-color: #ffffff;
}
.dynamicQueryPreviewListTable
{
    border-collapse: collapse;
    margin: 5px;
    width: 100%;
}
.dynamicQueryPreviewListItem
{
    margin: 0px;
    padding: 5px;
}
.x-tree-node-inline-icon
{
    width: auto !important;
    height: auto !important;
}

.GroupSection .searchBox
{
    height: 17px;
    width: 225px;
}

.GroupSection table
{
    border-collapse: collapse;
    border-width: 0px;
}

.searchHighlight
{
    background-color: #ffe89e;
    padding: 0px !important;
}

/* ========== Manage Groups Data Grid ========== */
/* toolbar icons */
button.addContainer
{
    background-image:url(/Orion/images/add_16x16.gif) !important;
}
button.addDynamicQuery
{
    background-image:url(/Orion/images/add_16x16.gif) !important;
}
button.editContainer
{
    background-image:url(/Orion/images/edit_16x16.gif) !important;
}
button.editDynamicQuery
{
    background-image:url(/Orion/images/edit_16x16.gif) !important;
}
button.addremoveContainer
{
    background-image:url(/Orion/images/Icon.AddOrionObject.gif) !important;
}
button.deleteContainer
{
    background-image:url(/Orion/images/delete_16x16.gif) !important;
}
button.removeFromContainer
{
    background-image:url(/Orion/images/delete_16x16.gif) !important;
}
button.viewDynamicQueryObjects
{
    background-image:url(/Orion/images/Icon.ViewDynamicQueryResults.gif) !important;
}
button.selectAllButton
{
    background-image:url(/Orion/images/Icon.SelectAll.gif) !important;
}
button.selectNoneButton
{
    background-image:url(/Orion/images/Icon.SelectNone.gif) !important;
}
/* grid content */
.x-grid3-body .x-grid3-td-expander
{
    background:transparent;
}

#Grid td
{
    padding: 0px;
    vertical-align: middle;
}

.tree-grid-expander-expand
{
    width: 16px !important;
    height: 16px !important;
    background-image: url(/Orion/images/Button.Expand.Arrow.gif) !important;
    background-position: left;
}
.tree-grid-expander-expand:hover
{
    background-position: right;
}

.tree-grid-expander-collapse
{
    width: 16px;
    height: 16px;
    background-image: url(/Orion/images/Button.Collapse.Arrow.gif) !important;
    background-position: left;
}
.tree-grid-expander-collapse:hover
{
    background-position: right;
}

.tree-grid-expander-dummy
{
    padding-left: 18px;
    display: inline-block;
}

.tree-grid-indent-block
{
    padding-left: 20px;
    display: inline-block;
}

/* ========== Dynamic query editor ========== */
#queryEditorTable .queryConditionAndCell
{
    text-align: right;
}

.dynamicQueryEditorPanel
{
    padding: 7px;
    background-color: #eeeeee;
}

table#dynamicQueryEditorTable td
{
    padding: 3px;
}

.dynamicQueryPreviewPanel
{
    margin-top: 1em;
}
.dynamicQueryPreviewPanel p
{
    margin: 0px 0px 5px 0px !important; 
    padding: 0px !important;
    font-size: 11pt !important;
}
table#dynamicQueryPreviewTable
{
    border: solid 1px #dbdcd7;
    width: 100%;
    border-collapse: collapse;
}
table#dynamicQueryPreviewTable td
{
    padding: 7px;
}

.dynamicQueryTable td
{
    padding: 0px !important;
}

.dynamicQueryTable td select
{
    margin: 0px;
    padding: 0px;
}

.dynamicQueryTable .valueColumn
{
    width: 200px;
}

.dynamicQueryTable .valueColumn input
{
    width: 100%;
    height: 17px;
}

.dynamicQueryTable .operatorColumn
{
    width: 150px;
}

.dynamicQueryTable .operatorColumn select
{
    width: 150px;
}

.dynamicQueryTable .deleteColumn
{
    padding-left: 5px !important;
}

.entityBox
{
    width: 100%;
}


.dynamicQueryBuilderColumn
{
    background-image: url(/Orion/images/QueryBuilder.RowBackground.gif);
    background-position: left;
    background-repeat: repeat;
    border: 1px solid #d4dee8 !important;
    height: 20px;
    vertical-align: middle !important;
}

.dynamicQueryBuilderColumn input
{
    vertical-align: middle;
    margin: 0px 0px 0px 3px;
}


/* The following two classes fix a display issue with extjs that only happens in IE10 */
.x-btn.x-btn-text-icon[disabled] {
    color: #666 !important;
    opacity: 0.5;
    cursor: default;
}
.x-btn.x-btn-text-icon[disabled] button {
    cursor: default;
}
