/*!
 * @solarwinds/apollo-website-frontend 6.1.0-4644
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.sw-orion {
  height: 100%;
  position: absolute;
  min-width: 100%;
  /* Main navigation */
  /*Contents*/
}
.sw-orion.xui-page-content--full-width {
  max-width: 100%;
}
.sw-orion body {
  min-width: 1024px;
  height: 100%;
}
.sw-orion body #content {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}
.sw-orion body #content.sw-eval-mode {
  padding-top: 64px;
}
.sw-orion body #page-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.sw-orion body .sw-footer {
  font-size: 9px;
  text-align: center;
  width: 100%;
  margin-top: auto;
}
.sw-orion body .sw-footer__content {
  display: inline-block;
}
.sw-orion body .sw-footer__copyright {
  margin: 8px 0 0 5px;
  float: right;
}
.sw-orion .sw-link-dialog {
  margin-left: 5px;
  display: inline-block;
}
.sw-orion.sw-development #content {
  padding-bottom: 130px;
}
.sw-orion .sw-mainview-loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* Chrome all / Safari all */
  /* Firefox all */
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
  position: fixed;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  z-index: 1030;
  text-align: center;
}
.sw-orion .sw-mainview-loader__content {
  margin: 0 auto;
}
.sw-orion .sw-mainview-loader__content h1 {
  width: 100%;
  color: #767676;
  padding: 15px;
  margin: 0;
}
.sw-orion .sw-mainview-loader__title {
  font-size: 14px;
  cursor: default;
}
.sw-orion .sw-status-0__top {
  border-top: 4px solid #D5D5D5;
}
.sw-orion .sw-status-1__top {
  border-top: 4px solid #30B230;
}
.sw-orion .sw-status-2__top {
  border-top: 4px solid #950000;
}
.sw-orion .sw-status-3__top {
  border-top: 4px solid #FEC405;
}
.sw-orion .sw-status-4__top {
  border-top: 4px solid #D5D5D5;
}
.sw-orion .sw-status-9__top {
  border-top: 4px solid #7590C9;
}
.sw-orion .sw-status-10__top {
  border-top: 4px solid #3CAADD;
}
.sw-orion .sw-status-11__top {
  border-top: 4px solid #9966CC;
}
.sw-orion .sw-status-12__top {
  border-top: 4px solid #646464;
}
.sw-orion .sw-status-14__top {
  border-top: 4px solid #D50000;
}
.sw-orion .sw-status-22__top {
  border-top: 4px solid #30B230;
}
.sw-orion .sw-status-27__top {
  border-top: 4px solid #D5D5D5;
}
.sw-orion ul {
  list-style: none;
}
.sw-orion .sw-table-display {
  display: table;
  width: 100%;
}
.sw-orion.sw-no-chrome .sw-page-header,
.sw-orion.sw-no-chrome .sw-footer {
  display: none;
}
.sw-orion.sw-no-chrome #content {
  padding: 0;
}
.sw-orion.sw-no-chrome #content.sw-eval-mode {
  padding: 0;
}
.sw-orion.sw-no-chrome #content .xui-page-content {
  padding: 0;
}
.sw-orion .sw-row-display {
  display: table-row;
}
.sw-orion .sw-content-area .xui-page-content.sw-dashboard-page .xui-page-content-wrapper {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sw-orion .sw-content-area .xui-page-content.sw-dashboard-page .xui-page-content-wrapper .xui-page-header {
  background: #FFFFFF;
  border: none;
  -webkit-box-shadow: 0 1px 5px 0 #B9B9B9;
  box-shadow: 0 1px 5px 0 #B9B9B9;
  -webkit-box-shadow: 0 1px 5px 0 #D2D2D2;
  box-shadow: 0 1px 5px 0 #D2D2D2;
}
.sw-orion .sw-content-area .xui-page-content.sw-dashboard-page .xui-page-content-wrapper .xui-page-content-body {
  background: #FFFFFF;
  padding-top: 15px;
  -webkit-box-shadow: 0 1px 5px 0 #B9B9B9;
  box-shadow: 0 1px 5px 0 #B9B9B9;
  -webkit-box-shadow: 0 1px 5px 0 #D2D2D2;
  box-shadow: 0 1px 5px 0 #D2D2D2;
}
.sw-orion .sw-dashboard.sw-dashboard-static .sw-dashboard-resources {
  margin: 0;
  display: block;
}
.sw-orion .sw-dashboard.sw-dashboard-static .sw-dashboard-resources .sw-resource {
  margin: 0 0 15px 0;
}
.sw-orion .sw-dashboard.sw-dashboard-static .sw-dashboard-resources .sw-resource .sw-resource-header .sw-resource-header-title h2 .xui-icon {
  display: none;
}
.sw-orion .sw-dashboard.sw-dashboard-static .sw-dashboard-resources .sw-resource .sw-resource-header .sw-resource-header-title .sw-resource-handle {
  display: none;
}
.sw-orion .sw-dashboard.sw-dashboard-static .sw-dashboard-resources .sw-resource .sw-resource-body {
  position: relative;
  top: 0;
}
.sw-orion .sw-dashboard.sw-dashboard-static .sw-dashboard-resources .sw-resource .sw-resource-error {
  position: relative;
  top: 0;
}
.sw-orion .sw-page-header {
  font-size: 14px;
  z-index: 1001;
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
.sw-orion .sw-page-header .sw-brand-header ul,
.sw-orion .sw-page-header .sw-nav-primary-tabs ul,
.sw-orion .sw-page-header .sw-nav-secondary-tabs ul,
.sw-orion .sw-page-header .sw-messagebar ul {
  margin: 0;
}
.sw-orion .sw-page-header .animated-fast {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.sw-orion .sw-brand-header {
  background-color: #1D1D1D;
  height: 40px;
}
.sw-orion .sw-brand-header .sw-loading-progress {
  height: 40px;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.sw-orion .sw-brand-header .sw-loading-progress .sw-loading-progress-visual {
  height: 100%;
}
.sw-orion .sw-brand-header .sw-loading-progress .sw-loading-progress-visual .progress-bar {
  background-color: #1D1D1D;
  text-align: center;
  filter: none;
}
.sw-orion .sw-brand-header .sw-loading-progress .sw-loading-progress-visual .progress-bar .sw-text {
  font-weight: bold;
  line-height: 40px;
  text-transform: uppercase;
}
.sw-orion .sw-brand-header .sw-brand-header-img,
.sw-orion .sw-brand-header .sw-brand-header-menu {
  float: left;
}
.sw-orion .sw-brand-header .sw-brand-header-img {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  height: 40px;
}
.sw-orion .sw-brand-header .sw-brand-header-img a {
  vertical-align: top;
}
.sw-orion .sw-brand-header .sw-brand-header-img .sw-header-logo {
  max-width: 109px;
  height: 30px;
  border: 0;
}
.sw-orion .sw-brand-header .sw-brand-header-menu {
  text-align: right;
  color: #FFFFFF;
  padding: 0;
  float: right;
}
.sw-orion .sw-brand-header .sw-brand-header-menu .notification-text a,
.sw-orion .sw-brand-header .sw-brand-header-menu .notification-text a:link,
.sw-orion .sw-brand-header .sw-brand-header-menu .notification-text a:visited,
.sw-orion .sw-brand-header .sw-brand-header-menu .notification-text a:hover,
.sw-orion .sw-brand-header .sw-brand-header-menu .notification-text a:active,
.sw-orion .sw-brand-header .sw-brand-header-menu .notification-text a:focus {
  line-height: normal !important;
  float: none !important;
  border: none !important;
}
.sw-orion .sw-brand-header .sw-brand-header-menu a,
.sw-orion .sw-brand-header .sw-brand-header-menu a:link,
.sw-orion .sw-brand-header .sw-brand-header-menu a:visited,
.sw-orion .sw-brand-header .sw-brand-header-menu a:hover,
.sw-orion .sw-brand-header .sw-brand-header-menu a:active,
.sw-orion .sw-brand-header .sw-brand-header-menu a:focus {
  color: #FFFFFF;
  font-size: 10px;
  padding: 0 15px;
  border-left: 1px solid #333333;
  line-height: 40px;
  display: inline-block;
  text-transform: uppercase;
  float: left;
}
.sw-orion .sw-brand-header .sw-brand-header-menu a:hover,
.sw-orion .sw-brand-header .sw-brand-header-menu a:link:hover,
.sw-orion .sw-brand-header .sw-brand-header-menu a:visited:hover,
.sw-orion .sw-brand-header .sw-brand-header-menu a:hover:hover,
.sw-orion .sw-brand-header .sw-brand-header-menu a:active:hover,
.sw-orion .sw-brand-header .sw-brand-header-menu a:focus:hover {
  text-decoration: none;
  color: #F9A233;
}
.sw-orion .sw-brand-header .sw-brand-header-menu a.sw-header-notifications:hover .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:link.sw-header-notifications:hover .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:visited.sw-header-notifications:hover .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:hover.sw-header-notifications:hover .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:active.sw-header-notifications:hover .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:focus.sw-header-notifications:hover .xui-icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAMAAADzN3VRAAAAWlBMVEX////5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5lvDKAAAAHXRSTlMAAwUGCAwsLTA9PkJDRUZniZCRmLa4usPH7vH7/aqHj5wAAABeSURBVCjPzclHFkAwAADR6F30Pve/po14RHh2zHK+EB9U13cyTeYftdDGBpALwCIv4M8AMPu6ZGylunhK3PeSK0k0sAclvXWCsGOvCY7CqXfyXAlQmMSpxrFyxH9aAUupDQJNyIjRAAAAAElFTkSuQmCC);
  /* /images/controls/Notification_Icon_10x10px_hover.png) */
}
.sw-orion .sw-brand-header .sw-brand-header-menu a.sw-header-help:hover .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:link.sw-header-help:hover .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:visited.sw-header-help:hover .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:hover.sw-header-help:hover .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:active.sw-header-help:hover .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:focus.sw-header-help:hover .xui-icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAMAAADzN3VRAAAAgVBMVEX5ojP////5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojN0h4JrAAAAKnRSTlMAAAIGEiIjJiw8PUFDWVprfoyOkZKmsLK3y8zO0ePl5ufp6uvt8vX3+Pl4jjy1AAAAmUlEQVR4Ab2Q2RLCIAxFIwouWtyF1gVbFyX//4FmYNRQpq89LzczZxiSC4Mu+jUAIArTYGMKQXNiZIWRSqZG1villtyIEv+UghmNxG4xnh2Q0MxYJNar/XT4oMEyc8PAcz56UzhmorhO4oY+e7OBe0jX/gf9GQO2vRsu4RhSZ/ectq/sHlCsA5X2pn69KYCs64t3RvOuc3o1H1aDGx3suRJaAAAAAElFTkSuQmCC);
  /* url(../images/controls/Help_Icon_10x10px_hover.png); */
}
.sw-orion .sw-brand-header .sw-brand-header-menu a.sw-header-user:hover .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:link.sw-header-user:hover .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:visited.sw-header-user:hover .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:hover.sw-header-user:hover .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:active.sw-header-user:hover .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:focus.sw-header-user:hover .xui-icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARlJREFUeNpi/P//PwOtARMDHcDwsYQFm+CvxSboQiJA3AvE/lD+RiAuBuI3yIrYYs8QbwkaYAXivUCshyQWB8QGQAxyzW9qBFcImgUwoAeVo0qcaJApR5IlD/HIPaGWJWtwGPYYiFdSy5JPQOwOxMhJB8T2hMqRl4SR5DKAmBeIO4DYFIgloXLPgZgRiCuB+DMQzwDiP6RawgbEm6A+AAE/IJ4KxOegfGcgzgZiCyjfB6rmFymWFCJZwAA1zAKPr92hejpJiZNkMkqPFFIj/gMZlnwg1RJzIM4jwQKQWjNSLQHVZKuA+B8RFvyDqv1PTj55CcSziLBkOlQt2ZkRlEyzgPgsEP9EEv8JFcsiJlgZR+v4kWkJQIABACyrN2fRz22eAAAAAElFTkSuQmCC);
  /* url(../images/controls/User_Icon_10x10px_hover.png); */
}
.sw-orion .sw-brand-header .sw-brand-header-menu a .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:link .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:visited .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:hover .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:active .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:focus .xui-icon {
  margin-left: 0;
  background-color: transparent;
  background-position: center center;
}
.sw-orion .sw-brand-header .sw-brand-header-menu a.sw-header-notifications .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:link.sw-header-notifications .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:visited.sw-header-notifications .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:hover.sw-header-notifications .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:active.sw-header-notifications .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:focus.sw-header-notifications .xui-icon {
  margin-top: 2px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAMAAADzN3VRAAAAWlBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9jZLFEAAAAHXRSTlMAAwUGCAwsLTA9PkJDRUZniZCRmLa4usPH7vH7/aqHj5wAAABeSURBVCjPzclHFkAwAADR6F30Pve/po14RHh2zHK+EB9U13cyTeYftdDGBpALwCIv4M8AMPu6ZGylunhK3PeSK0k0sAclvXWCsGOvCY7CqXfyXAlQmMSpxrFyxH9aAUupDQJNyIjRAAAAAElFTkSuQmCC);
  /* /images/controls/Notification_Icon_10x10px.png) */
}
.sw-orion .sw-brand-header .sw-brand-header-menu a.sw-header-notifications .notifications-count,
.sw-orion .sw-brand-header .sw-brand-header-menu a:link.sw-header-notifications .notifications-count,
.sw-orion .sw-brand-header .sw-brand-header-menu a:visited.sw-header-notifications .notifications-count,
.sw-orion .sw-brand-header .sw-brand-header-menu a:hover.sw-header-notifications .notifications-count,
.sw-orion .sw-brand-header .sw-brand-header-menu a:active.sw-header-notifications .notifications-count,
.sw-orion .sw-brand-header .sw-brand-header-menu a:focus.sw-header-notifications .notifications-count {
  position: absolute;
  display: inline-block;
  margin-top: 3px;
  margin-left: -17px;
  background-color: #da3838;
  font-size: 10px;
  border: 1px solid #272727;
  border-radius: 3px;
  line-height: 12px;
  text-align: center;
  color: #FFFFFF;
  padding: 2px 4px;
}
.sw-orion .sw-brand-header .sw-brand-header-menu a.sw-header-help .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:link.sw-header-help .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:visited.sw-header-help .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:hover.sw-header-help .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:active.sw-header-help .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:focus.sw-header-help .xui-icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARBJREFUeNrslT0KwjAUx20R3KuriwUvIQ4iXkFowRO4eQKvoFdwcJWOXqEFKXgDUazaSfxc4j8QQUpe25TqYh/8KLyvP0n6Eo0xVvq26aUfWCGSuwjPsYADDoCJryP8yT343xVDA3gs3jyRR/ZJEghYOgvihCgBHbhMzVxRl1rEljSZgi5ogjZYSHJsWT/q0AYS3xO0wFgcfh+cU9SRKznGbMsFdIAB7pHYTtavTKykRvj3oAeuYAkqkXhVVkSJnAihOViDEBiSeKgyjB7hH4INIcDNVxGZEf4RqIOVUp3inPhgAm55zAnHVJx4M8u18hZKc3eZWe+uz62zgAO24CHmwRETrif10Io3/j9FXgIMAKEdGhvNzU9lAAAAAElFTkSuQmCC);
  /* /images/controls/Help_Icon_10x10px.png */
}
.sw-orion .sw-brand-header .sw-brand-header-menu a.sw-header-user .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:link.sw-header-user .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:visited.sw-header-user .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:hover.sw-header-user .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:active.sw-header-user .xui-icon,
.sw-orion .sw-brand-header .sw-brand-header-menu a:focus.sw-header-user .xui-icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQJJREFUeNpi/P//PwOtARMDHcDIs0QEiBcC8QcoXggVIw6AIp4AZgXii/8xwUWoHEEziLEk8j9uEEmMJcQElwaZciTFyUM8ck+oFSd8QPwYS1A9gspRJU5AWAuITyNZAGJrE6mXgRFPscICxBlAzAvEHSBPA7EkVO45EDMCcQUQfwbiGUD8h9TgYgPiHUguPw7EMVAfaUHZx5Hkd0D1kBRc5f9JB+WkBtctIFYlsfS4g0sPriT8gYwi6gOpcQLyYS4JQZUL1UNy6hIH4mdEZNh/QCwFxC/JyfEgTbOICKbp+CwgJsczAXEmEJ8B4h9IwfMDKpYJVUN2ZhytfoexJQABBgDQe7ZTpWbvGgAAAABJRU5ErkJggg==);
  /* url(../images/controls/User_Icon_10x10px.png); */
}
.sw-orion .sw-brand-header .sw-brand-header-menu .sw-down-arrow {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #909090;
  margin-left: 5px;
}
.sw-orion #nav-search-form {
  position: absolute;
  right: -2px;
  top: 38px;
  border-width: 0 8px 8px 8px;
  border-color: #1d1d1d;
  border-style: solid;
}
.sw-orion #nav-search-form input {
  font-size: 14px;
  color: #555;
  padding: 6px;
  border-width: 0;
  background-color: #FFF;
}
.sw-orion div.sw-messagebar {
  display: none;
  background-color: #414D59;
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(50, 50, 50, 0.25);
  box-shadow: inset 0px 2px 2px 0px rgba(50, 50, 50, 0.25);
}
.sw-orion div.sw-messagebar ul {
  padding: 0 15px;
  white-space: normal;
}
.sw-orion div.sw-messagebar li {
  line-height: 40px;
  padding: 0 0;
  margin-right: 15px;
  width: auto;
  white-space: nowrap;
  display: inline-block;
}
.sw-orion div.sw-messagebar li a {
  color: #FEE377;
  font-size: 10px;
  margin-right: 15px;
}
.sw-orion div.sw-messagebar li a.sw-messagebar-command {
  color: #FFF;
  margin-right: 10px;
}
.sw-orion .sw-evalbar {
  z-index: 100;
}
.sw-orion .sw-evalbar .btn {
  width: 100%;
  min-width: 100%;
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: none !important;
  padding: 2px;
  border: none;
  margin: 0;
}
.sw-orion .sw-evalbar .btn .sw-text {
  line-height: 20px;
}
.sw-orion .sw-evalbar .btn .sw-text span {
  margin-right: 5px;
}
.sw-orion .sw-brand-footer {
  background-color: #1D1D1D;
  min-height: 40px;
}
.sw-orion #sw-notifications {
  position: relative;
  float: left;
}
.sw-orion #sw-notifications.open .sw-header-notifications {
  background-color: #272727;
}
.sw-orion #sw-notifications.open .notifications-count {
  display: none;
}
.sw-orion #sw-notifications .mega-menu-caret {
  margin-left: 3px;
}
.sw-orion #sw-notifications .sw-header-notifications {
  text-decoration: none;
}
.sw-orion #sw-notifications #notifications-container {
  overflow: hidden;
  padding: 0;
  background-color: #272727;
  min-width: 700px;
  margin: 0;
  border: 0;
  white-space: nowrap;
  text-align: left;
  text-transform: uppercase;
  max-height: none;
}
.sw-orion #sw-notifications #notifications-container h3 {
  width: 100%;
  font-size: 16px;
  color: #F99D1C;
  font-weight: 400;
  line-height: 45px;
  margin: 0;
  text-indent: 15px;
}
.sw-orion #sw-notifications #notifications-container h3.no-notifications {
  text-align: center;
  text-transform: none;
}
.sw-orion #sw-notifications #notifications-container h3.no-notifications span {
  float: none !important;
  display: inline !important;
  color: #FFFFFF !important;
}
.sw-orion #sw-notifications #notifications-container .dismiss-all {
  height: 45px;
  float: right;
  border: none;
  font-size: 12px;
  font-weight: normal;
  padding: 0 15px;
  color: #0079AA;
  border-left: 0;
  text-transform: none !important;
}
.sw-orion #sw-notifications #notifications-container .dismiss-all:hover,
.sw-orion #sw-notifications #notifications-container .dismiss-all:active,
.sw-orion #sw-notifications #notifications-container .dismiss-all:focus {
  text-decoration: underline;
  background-color: transparent;
}
.sw-orion #sw-notifications #notifications-container a:hover {
  text-decoration: underline;
}
.sw-orion #sw-notifications #notifications-container .notifications-list {
  overflow-y: auto;
  max-height: 400px;
}
.sw-orion #sw-notifications #notifications-container .notifications-list ul {
  padding: 0;
  margin: 0;
}
.sw-orion #sw-notifications #notifications-container .notifications-list ul li {
  border-top: 1px solid #3A3A3A;
  margin: 0;
}
.sw-orion #sw-notifications #notifications-container .notifications-list ul li:before,
.sw-orion #sw-notifications #notifications-container .notifications-list ul li:after {
  content: " ";
  display: table;
}
.sw-orion #sw-notifications #notifications-container .notifications-list ul li:after {
  clear: both;
}
.sw-orion #sw-notifications #notifications-container .notifications-list ul li:before,
.sw-orion #sw-notifications #notifications-container .notifications-list ul li:after {
  content: " ";
  display: table;
}
.sw-orion #sw-notifications #notifications-container .notifications-list ul li:after {
  clear: both;
}
.sw-orion #sw-notifications #notifications-container .notifications-list ul li .delete-notification {
  display: inline-block;
  height: 40px;
  width: 40px;
  float: right;
  padding: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAV1JREFUeNpi/P//PwOtARMDHcDIsoQHiAuB+AAQvwXi/1D6AFSch1JLooD4JhCbAXEfEGsAMSOUBvHNofJReE0BpS4cuB6IbwGxER41DFD5W1D1WNXg0hgFxPeAWIyABTAMUncXiGOItYQHiJ8BsQmRFsAwSP0rIBZAl8MWJwnQSD2DJLYQiN3R1DkC8VokPkj9HiCOISZOdgGxB5qYJRC/AGJ3KN8R6mpbNHUeUP0Eg+spEItgEYdZVIbDAhCWhAY1QUt+4gn3XCD+C8TFOOTZsOnHpvAZDp84AfFLIM5ECzqyfIItTmAWwILICmqRB5Y42U2MJTlAvBRNbA2WOABZtBBNbClUP/3zCS4N0dAcTEqOvwPEsaQUK7Cy6x4RPjKGOojksgvZR6B8swyIfYFYCppMJaH8ZVD5GHzmEBMUoDgqBOKDQPz2PwSA6ANQcR5CZjCONiQGnSUAAQYAsFNgTquIRHAAAAAASUVORK5CYII=') /*../images/controls/close.png*/;
}
.sw-orion #sw-notifications #notifications-container .notifications-list ul li .delete-notification:hover {
  background-color: #F99D1F;
}
.sw-orion #sw-notifications #notifications-container .notifications-list ul li:hover {
  background-color: #333333 !important;
}
.sw-orion #sw-notifications #notifications-container .notifications-list ul .notification-text {
  margin: 0 40px 0 0;
  white-space: nowrap;
  padding: 0;
  display: block;
  font-size: 12px;
  text-transform: none;
}
.sw-orion #sw-notifications #notifications-container .notifications-list ul .notification-text span {
  padding: 0 10px;
}
.sw-orion #sw-notifications #notifications-container .notifications-list ul .inline-notification-link {
  display: inline !important;
  line-height: 12px !important;
  float: none !important;
  padding: 0 !important;
  border: 0 !important;
}
.sw-orion #sw-notifications #notifications-container .notification-image {
  float: left;
  height: 25px;
  width: 25px;
  margin-top: 7px;
  margin-left: 15px;
  margin-bottom: 0px;
}
.sw-orion #sw-notifications .notification-item-row {
  display: flex;
  justify-content: space-between;
}
.sw-orion .mega-menu-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin: -2px 0 0 6px;
  vertical-align: middle;
  border-top-color: #AAAAAA;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.sw-orion #menuStyleSelect {
  position: absolute;
  right: 5px;
  top: 9px;
  z-index: 2;
}
.sw-orion .sw-brand-header {
  min-width: 1024px;
}
.sw-orion .sw-header-user {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.sw-orion #mega-tabs > ul {
  margin: 0;
  list-style: none;
  white-space: nowrap;
}
.sw-orion #mega-tabs > ul > li {
  display: inline-block;
  margin: 0;
}
.sw-orion #mega-tabs > ul > li > a {
  display: inline-block;
  padding: 0 15px;
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
  text-decoration: none;
}
.sw-orion #mega-tabs > ul > li > a > .mega-menu-caret {
  color: #AAAAAA;
  border-top-color: #AAAAAA;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu {
  display: none;
  list-style: none;
  min-width: 165px;
  padding: 0;
  margin: 0;
  background-color: #272727;
  position: absolute;
  top: 100%;
  overflow: visible;
  box-shadow: rgba(0, 0, 0, 0.5) 0 3px 4px -1px, rgba(0, 0, 0, 0.0980392) 0 4px 5px 0, rgba(0, 0, 0, 0.0823529) 0 1px 10px 0;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu .mega-submenu-container > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu .mega-submenu-container > ul::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu .mega-submenu-container > ul::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #777;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu .mega-submenu-container > ul::-webkit-scrollbar-thumb:hover {
  background-color: #AAAAAA;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu .mega-submenu-container > ul > li > a {
  font-size: 12px;
  display: block;
  padding: 7px 15px;
  color: #FFFFFF;
  cursor: pointer;
  white-space: normal;
  line-height: 16px;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu .mega-submenu-container > ul > li > a:hover,
.sw-orion #mega-tabs > ul > li > .mega-submenu .mega-submenu-container > ul > li > a:active,
.sw-orion #mega-tabs > ul > li > .mega-submenu .mega-submenu-container > ul > li > a:focus {
  text-decoration: none;
  background-color: #333333;
  color: #F99D1C;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu .mega-menu-config {
  display: block;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul {
  list-style: none;
  padding: 0;
  overflow-y: auto;
  max-width: 677px;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #777;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul::-webkit-scrollbar-thumb:hover {
  background-color: #AAAAAA;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li {
  margin: 0 0 15px 0;
  width: 165px;
  float: left;
  display: block;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li:hover {
  background-color: transparent !important;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li > h3 {
  display: none;
  white-space: normal;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li > .sub-menu-container > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li > .sub-menu-container > ul::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li > .sub-menu-container > ul::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #777;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li > .sub-menu-container > ul::-webkit-scrollbar-thumb:hover {
  background-color: #AAAAAA;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li > .sub-menu-container > ul > li > a {
  font-size: 12px;
  display: block;
  padding: 7px 15px;
  color: #FFFFFF;
  cursor: pointer;
  white-space: normal;
  line-height: 16px;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li > .sub-menu-container > ul > li > a:hover,
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li > .sub-menu-container > ul > li > a:active,
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li > .sub-menu-container > ul > li > a:focus {
  text-decoration: none;
  background-color: #333333;
  color: #F99D1C;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li > .sub-menu-container > .sub-menu-title {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  padding: 10px 15px;
  text-transform: uppercase;
  line-height: 20px;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu .mega-submenu-container > ul > li > .sub-menu-container > .sub-menu-title > a {
  display: block;
  color: #F99D1C;
  white-space: normal;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary {
  width: 566px;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-menu-config {
  text-align: left;
  padding-left: 15px;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-menu-config > .menu-style-toggle > .icon {
  background-image: url('/Orion/images/Actions/menu_expand.png');
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-menu-config > .menu-style-toggle:hover > .icon {
  background-image: url('/Orion/images/Actions/menu_expand_hover.png');
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul {
  min-height: 300px;
  height: 100%;
  width: 214px;
  padding: 5px 0;
  border-right: solid 1px #333333;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li {
  margin: 0;
  width: auto;
  float: none;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li > h3 {
  display: block;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  margin: 0;
  width: auto;
  font-size: 12px;
  background-color: transparent;
  padding: 0;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li > h3 > button {
  color: #AAAAAA;
  display: block;
  line-height: 16px;
  text-decoration: none;
  cursor: default;
  padding: 7px 15px;
  text-align: left;
  background: transparent;
  border: none;
  text-transform: uppercase;
  width: 100%;
  font-size: 12px;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li > h3 > button:hover,
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li > h3 > button:active,
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li > h3 > button:focus {
  color: #AAAAAA;
  outline: none;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li > h3 > button > .mega-menu-caret {
  display: block;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid;
  float: right;
  margin: 4px 0 0 15px;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li.menu-active h3 button {
  color: #F99D1C;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li.menu-active .sub-menu-container {
  display: block;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li .sub-menu-container {
  position: absolute;
  left: 215px;
  top: 0;
  right: 0;
  bottom: 42px;
  display: none;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li .sub-menu-container > .sub-menu-title > a {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li .sub-menu-container > ul {
  position: absolute;
  left: 0;
  width: 100%;
  top: 40px;
  bottom: 0;
  overflow-y: auto;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu.full-menu.menu-secondary .mega-submenu-container > ul > li .sub-menu-container > ul > li {
  float: left;
  width: 165px;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu .mega-menu-config {
  border-top: solid 1px #333333;
  margin: 0;
  position: relative;
  clear: both;
  text-align: center;
  font-size: 12px;
  display: none;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu .mega-menu-config > a {
  display: inline-block;
  padding: 10px 0;
  text-align: center;
  margin-right: 20px;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu .mega-menu-config > a:last-child {
  margin-right: 0;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu .mega-menu-config > a span {
  display: inline-block;
  padding: 0 0 0 20px;
  color: #33A6CD !important;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url(/Orion/images/actions/configure.png);
}
.sw-orion #mega-tabs > ul > li > .mega-submenu .mega-menu-config > a:hover {
  background-color: transparent;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu .mega-menu-config > a:hover span {
  color: #FFFFFF !important;
  background-image: url(/Orion/images/actions/configure_hover.png);
}
.sw-orion #mega-tabs > ul > li > .mega-submenu .mega-menu-config > .menu-style-toggle {
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 10px 0;
  color: #33A6CD;
  outline: none;
  font-family: 'Open Sans';
  font-size: 12px;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu .mega-menu-config > .menu-style-toggle > .icon {
  display: inline-block;
  float: left;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: 3px;
  background: url('/Orion/images/Actions/menu_condense.png') center center no-repeat;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu .mega-menu-config > .menu-style-toggle:hover {
  color: #FFFFFF;
}
.sw-orion #mega-tabs > ul > li > .mega-submenu .mega-menu-config > .menu-style-toggle:hover > .icon {
  background-image: url('/Orion/images/Actions/menu_condense_hover.png');
}
.sw-orion #mega-tabs > ul > li.menu-open {
  background-color: #272727;
}
.sw-orion #mega-tabs > ul > li.menu-open > a {
  color: #F99D1C;
}
.sw-orion #mega-tabs > ul > li.menu-open > a > .mega-menu-caret {
  color: #F99D1C;
  border-top-color: #F99D1C;
}
.sw-orion .sw-dashboard-page .xui-page-content__header {
  -webkit-box-shadow: 0 1px 5px 0 #B9B9B9;
  box-shadow: 0 1px 5px 0 #B9B9B9;
  -webkit-box-shadow: 0 1px 5px 0 #D2D2D2;
  box-shadow: 0 1px 5px 0 #D2D2D2;
  padding: 10px;
}
.sw-orion .sw-dashboard-page .xui-page-content__body {
  padding: 0;
  margin-top: 10px;
}
.sw-orion .sw-dashboard-page .xui-page-content__footer {
  margin-top: 10px;
}
.sw-orion .sw-dashboard-page .xui-page-content__wrapper {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sw-orion .sw-dashboard__editing-buttons {
  position: absolute;
  height: 40px;
  top: -40px;
  transition: top .3s ease;
  left: 0;
  right: 0;
  background: #e6eff3;
  text-align: right;
  padding: 5px 10px;
}
.sw-orion .sw-dashboard__editing-buttons .sw-dashboard__editing-read-only {
  float: left;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 10px;
}
.sw-orion .sw-dashboard__editing-title {
  float: left;
  font-weight: 700;
  font-size: 16px;
  padding: 4px 0;
}
.sw-orion .sw-dashboard__resolutionguide {
  border-right: solid 1px #AAAAAA;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.sw-orion .sw-dashboard__resolutionguide-container {
  position: absolute;
  top: 41px;
  right: 0;
  bottom: auto;
  left: 0;
  margin-top: 10px;
  height: 25px;
  position: fixed;
  display: none;
  z-index: 1;
  pointer-events: none;
}
.sw-orion .sw-dashboard__resolutionguide-title {
  float: right;
  margin: 5px 5px 0 0;
  white-space: nowrap;
  color: #767676;
}
.sw-orion .sw-dashboard__resolutionguide-title-value {
  font-weight: 700;
}
.sw-orion .sw-dashboard__resolutionguide.sw-dashboard__resolutionguide--1920 {
  width: 1919px;
}
.sw-orion .sw-dashboard__resolutionguide.sw-dashboard__resolutionguide--1440 {
  width: 1439px;
}
.sw-orion .sw-dashboard__resolutionguide.sw-dashboard__resolutionguide--1366 {
  width: 1365px;
}
.sw-orion .sw-dashboard__resolutionguide.sw-dashboard__resolutionguide--1024 {
  width: 1023px;
}
.sw-orion.sw-dashboard--editing {
  /* Chrome all / Safari all */
  /* Firefox all */
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}
.sw-orion.sw-dashboard--editing .sw-hdr-links {
  display: none;
}
.sw-orion.sw-dashboard--editing .sw-dashboard__menu {
  transform: translateX(0);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sw-orion.sw-dashboard--editing .sw-dashboard__editing-buttons {
  top: 0;
}
.sw-dashboard--read-only.sw-orion.sw-dashboard--editing .sw-dashboard__editing-buttons {
  min-width: 700px;
}
.sw-orion.sw-dashboard--editing .xui .sw-widget__edit-button {
  display: none;
}
.sw-orion.sw-dashboard--editing .sw-widget-overlay {
  display: block;
}
.sw-orion.sw-dashboard--editing .sw-dashboard__resolutionguide-container {
  display: block;
}
.sw-orion.sw-eval-mode .sw-dashboard__resolutionguide-container {
  top: 64px;
}
.sw-orion .sw-widget__edit-button {
  float: right;
  transform: rotateY(90deg);
  transition: transform ease-out 0.2s;
  position: absolute;
  right: 1px;
  top: 1px;
  z-index: 301;
}
.sw-orion.sw-widget-drawer--dropping .sw-dashboard__resolutionguide-container {
  display: none;
}
.sw-orion .sw-widget-drawer--dropping .sw-dashboard__buttons {
  opacity: 0;
}
.sw-auth-expire-dialog__countdown {
  text-align: center;
}
.sw-auth-expire-dialog__count {
  font-size: 80px;
}
.sw-auth-expire-dialog__label {
  font-size: 20px;
  font-weight: 700;
}
.sw-salestrigger-dialog {
  /* Popup icons */
  /* Footer definition */
}
.sw-salestrigger-dialog .modal-dialog {
  width: 700px;
}
.sw-salestrigger-dialog .modal-dialog .xui-dialog {
  width: 100%;
}
.sw-salestrigger-dialog .sw-salestrigger__products {
  padding: 0;
  margin: 0;
}
.sw-salestrigger-dialog .sw-salestrigger__products-header {
  text-transform: uppercase;
  background: #e4e4e4;
}
.sw-salestrigger-dialog .sw-salestrigger__products-header:before,
.sw-salestrigger-dialog .sw-salestrigger__products-header:after {
  content: " ";
  display: table;
}
.sw-salestrigger-dialog .sw-salestrigger__products-header:after {
  clear: both;
}
.sw-salestrigger-dialog .sw-salestrigger__products-header:before,
.sw-salestrigger-dialog .sw-salestrigger__products-header:after {
  content: " ";
  display: table;
}
.sw-salestrigger-dialog .sw-salestrigger__products-header:after {
  clear: both;
}
.sw-salestrigger-dialog .sw-salestrigger__products-item-container {
  position: relative;
  overflow-y: auto;
  max-height: 330px;
}
.sw-salestrigger-dialog .sw-salestrigger__products-item {
  border: solid 1px #e4e4e4;
  border-top: none;
  padding: 2px 0;
  font-size: 11px;
}
.sw-salestrigger-dialog .sw-salestrigger__products-item:before,
.sw-salestrigger-dialog .sw-salestrigger__products-item:after {
  content: " ";
  display: table;
}
.sw-salestrigger-dialog .sw-salestrigger__products-item:after {
  clear: both;
}
.sw-salestrigger-dialog .sw-salestrigger__products-item:before,
.sw-salestrigger-dialog .sw-salestrigger__products-item:after {
  content: " ";
  display: table;
}
.sw-salestrigger-dialog .sw-salestrigger__products-item:after {
  clear: both;
}
.sw-salestrigger-dialog .sw-salestrigger__products-item div {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.sw-salestrigger-dialog .modal-footer {
  display: none;
}
.sw-salestrigger-dialog .sw-salestrigger-wrapper {
  background-repeat: no-repeat;
  background-position: right top;
}
.sw-salestrigger-dialog .sw-salestrigger-content {
  padding-right: 260px;
  min-height: 215px;
}
.sw-salestrigger-dialog .sw-salestrigger-content .caption {
  margin-bottom: 10px;
}
.sw-salestrigger-dialog .sw-salestrigger-links {
  margin: 15px 0;
}
.sw-salestrigger-dialog .sw-salestrigger-links .sw-link-dialog {
  margin-left: 5px;
  display: inline-block;
}
.sw-salestrigger-dialog .sw-salestrigger-smaller {
  font-size: 90%;
}
.sw-salestrigger-dialog .sw-suggestion-link .sw-salestrigger-redLink {
  color: #c00000;
}
.sw-salestrigger-dialog .sw-salestrigger-evaluation {
  background-image: url('/Orion/images/SalesTrigger/evaluation-ending.png');
}
.sw-salestrigger-dialog .sw-salestrigger-license {
  background-image: url('/Orion/images/SalesTrigger/license-limit-reached.png');
}
.sw-salestrigger-dialog .sw-salestrigger-maintenance {
  background-image: url('/Orion/images/SalesTrigger/maintenance-expiring.png');
}
.sw-salestrigger-dialog .sw-salestrigger-polling {
  background-image: url('/Orion/images/SalesTrigger/polling-capacity-reached.png');
}
.sw-salestrigger-dialog .sw-salestrigger-upgrade {
  background-image: url('/Orion/images/SalesTrigger/upgrade-available.png');
}
.sw-salestrigger-dialog .sw-salestrigger-expiring {
  color: #fca01d;
}
.sw-salestrigger-dialog .sw-salestrigger-expiring-bold {
  color: #fca01d;
  font-weight: 700;
}
.sw-salestrigger-dialog .sw-salestrigger-expired {
  background: #FFFFFF url('/Orion/images/SalesTrigger/pattern-red.png') repeat top left;
  color: #D50000;
  font-weight: 700;
}
.sw-salestrigger-dialog .sw-salestrigger-product-blue {
  color: #336699;
  min-width: 70px;
}
.sw-salestrigger-dialog .sw-salestrigger-product-gray {
  color: #646464;
  min-width: 70px;
}
.sw-salestrigger-dialog .sw-salestrigger-product-blue-bold {
  color: #336699;
  font-weight: 700;
  min-width: 70px;
}
.sw-salestrigger-dialog .sw-salestrigger-product-bold {
  font-weight: 700;
}
.sw-salestrigger-dialog .sw-salestrigger-status {
  padding: 3px;
  background-color: #c00000;
  color: #FFFFFF;
}
.sw-salestrigger-dialog .sw-salestrigger-status-gray {
  background-color: #646464;
  padding: 3px;
  color: #FFFFFF;
}
.sw-salestrigger-dialog .sw-salestrigger-status-blue {
  background-color: #336699;
  padding: 3px;
  color: #FFFFFF;
}
.sw-salestrigger-dialog .sw-salestrigger-linkwrapper .xui-btn {
  padding-top: 0;
  padding-bottom: 0;
}
.sw-salestrigger-dialog .sw-salestrigger-linkwrapper .xui-btn .xui-label {
  line-height: 1.81818182;
}
.sw-salestrigger-dialog .sw-salestrigger-hide {
  color: #FFFFFF;
}
.sw-salestrigger-dialog .sw-salestrigger-message {
  border-top: hidden;
}
.sw-salestrigger-dialog .sw-salestrigger-warning-message-text {
  font-size: 10px;
}
.sw-salestrigger-dialog .sw-salestrigger-footer {
  background: #e4e4e4;
}
.sw-salestrigger-dialog .sw-salestrigger-footer:before,
.sw-salestrigger-dialog .sw-salestrigger-footer:after {
  content: " ";
  display: table;
}
.sw-salestrigger-dialog .sw-salestrigger-footer:after {
  clear: both;
}
.sw-salestrigger-dialog .sw-salestrigger-footer:before,
.sw-salestrigger-dialog .sw-salestrigger-footer:after {
  content: " ";
  display: table;
}
.sw-salestrigger-dialog .sw-salestrigger-footer:after {
  clear: both;
}
.sw-salestrigger-dialog .sw-salestrigger-footer .sw-salestrigger-header {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 700;
}
.sw-salestrigger-dialog .sw-salestrigger-footer .sw-salestrigger-description {
  margin-bottom: 15px;
}
.sw-salestrigger-dialog .sw-salestrigger-footer .sw-salestrigger-left {
  padding: 15px 5px 15px 10px;
  border-right: 1px #ECEDEE solid;
}
.sw-salestrigger-dialog .sw-salestrigger-footer .sw-salestrigger-left ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sw-salestrigger-dialog .sw-salestrigger-footer .sw-salestrigger-left ul li {
  text-indent: 0;
}
.sw-salestrigger-dialog .sw-salestrigger-footer .sw-salestrigger-left ul li:before {
  content: "\2022   ";
  color: #333;
}
.sw-salestrigger-dialog .sw-salestrigger-footer .sw-salestrigger-right {
  padding: 15px;
}
.sw-salestrigger-dialog .sw-salestrigger-footer .sw-salestrigger-label {
  font-weight: 700;
}
.sw-salestrigger-dialog .sw-salestrigger-maintenance-lastcol {
  min-width: 110px;
}
.sw-salestrigger-dialog .sw-salestrigger__row-message {
  margin-top: 10px;
}
.sw-salestrigger-dialog .small-gutter > [class*='col-'] {
  padding-left: 8px;
  padding-right: 8px;
}
.sw-salestrigger-dialog .gutter__expander-header {
  margin-left: 19px;
}
.sw-salestrigger-dialog .expander__table-row > [class='col-sm-4'] {
  padding-left: 0;
}
.sw-salestrigger-dialog .expander__table-row > [class='col-sm-7'] {
  padding-left: 10px;
}
.sw-fieldpicker-dialog {
  width: 100%;
}
.sw-fieldpicker-dialog .field-list .search-input {
  width: 100%;
  margin: 0 0 5px 0;
}
.sw-fieldpicker-dialog .field-list .search-input:focus,
.sw-fieldpicker-dialog .field-list .search-input:active {
  outline: none;
}
.sw-fieldpicker-dialog .field-list .scroll-container {
  height: 300px;
  width: 100%;
  border: 1px solid #D5D5D5;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}
.sw-fieldpicker-dialog .field-list .highlighted-text {
  background: #297994;
  color: #FFFFFF;
}
.sw-fieldpicker-dialog .field-list li {
  margin: 0;
  padding: 0;
}
.sw-fieldpicker-dialog .field-list li:hover,
.sw-fieldpicker-dialog .field-list li:active,
.sw-fieldpicker-dialog .field-list li:focus {
  background: #f5f5f5;
}
.sw-fieldpicker-dialog .field-list li .xui-checkbox-label {
  padding: 5px;
}
.sw-orion-api-error__toast {
  cursor: pointer;
}
.sw-orion-api-error__toast:hover .sw-orion-api-error__link {
  text-decoration: underline;
}
.sw-orion-api-error__link {
  color: #0079AA;
}
.sw-orion-api-error__dialog {
  z-index: 1070 !important;
}
.sw-orion-api-error__dialog-message {
  margin-bottom: 10px;
  font-size: 14px;
}
.sw-orion-api-error__dialog-details textarea {
  font-family: "Courier New", Courier, monospace;
}
.sw-orion-menu-error__toast {
  cursor: pointer;
}
.sw-orion-menu-error__toast:hover .sw-orion-menu-error__link {
  text-decoration: underline;
}
.sw-orion-menu-error__link {
  color: #0079AA;
}
.sw-dashboard__menu {
  white-space: nowrap;
}
.sw-dashboard__menu-icon {
  z-index: 1;
  float: left;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.sw-dashboard__menu-icon-glyph {
  transition: opacity ease .3s;
}
.sw-dashboard__menu-icon-closed {
  opacity: 1;
  filter: alpha(opacity=100);
}
.sw-dashboard__menu-icon-open {
  opacity: 0;
  filter: alpha(opacity=0);
}
.sw-dashboard__menu-items {
  padding: 0;
  margin: 0 !important;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: solid 1px #D5D5D5;
}
.sw-dashboard__menu-item {
  padding: 0;
}
.sw-dashboard__menu-item a {
  line-height: 40px;
  padding: 0 10px 0 0;
  display: block;
  white-space: nowrap;
}
.sw-dashboard__menu-item a i {
  padding-left: 10px;
  padding-top: 10px;
  width: 40px;
  height: 40px;
}
.sw-dashboard__menu-item a:hover {
  text-decoration: none;
  background-color: #f6f6f6;
}
.sw-orion-error-page .xui-page-content .xui-page-content-wrapper .xui-page-content-body {
  padding: 0;
}
.xui .sw-orion-error-page__summary-header {
  text-align: center;
  padding-top: 80px;
  margin-bottom: 15px;
  margin-top: 0px;
}
.sw-orion-error-page__summary-message {
  text-align: center;
  color: #767676;
  margin-bottom: 15px;
}
.sw-orion-error-page__image {
  text-align: center;
  background-repeat: no-repeat;
  height: 316px;
  position: relative;
  top: 15px;
  background-position: 50% 0%;
}
.sw-orion-error-page__image-backdrop {
  height: 316px;
  width: 100%;
  background-color: #F6F6F6;
}
.sw-orion-error-page__image--404 {
  background-image: url(../images/404-Robot.svg);
}
.sw-orion-error-page__image--500 {
  background-image: url(../images/500-Robot.svg);
}
.sw-orion-error-page__button {
  padding-top: 80px;
  text-align: center;
}
.sw-orion-error-page__button-spacer {
  display: inline-block;
  width: 20px;
}
.sw-orion-error-page__details {
  width: 50%;
  margin: 0 auto;
}
.sw-orion-error-page__footer {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
.sw-license-activation__offline-steps {
  margin-top: 0;
}
.sw-license-activation__machine-id {
  display: flex;
  padding: 0 15px 15px 15px;
}
.sw-license-activation__copy-to-clipboard {
  display: flex;
  padding: 0 15px 15px 5px;
}
.sw-license-activation__filename-textbox {
  width: calc(100% - 5px);
  padding-right: 10px;
}
.sw-license-activation__offline-message-wrapper {
  margin: 0 -15px 15px;
  padding: 0 15px 5px;
  border-bottom: 1px solid #ddd;
}
/*
 For legacy we need to wrap everything into xui
*/
#swNavScroll .xui.sw-orion-search {
  float: left;
}
#swNavScroll .xui.sw-orion-search--opened .sw-orion-search__menu-button {
  background-color: #333333;
}
#swNavScroll .xui .sw-orion-search__menu-button {
  width: 50px;
  height: 40px;
  padding: 0px;
}
#swNavScroll .xui .sw-orion-search__menu-item {
  padding: 0px;
}
#swNavScroll .xui .sw-orion-search__dropdown-group {
  background-color: #FFFFFF;
  width: 520px;
}
#swNavScroll .xui .sw-orion-search__dropdown {
  background-color: #333333;
  border: none;
  margin-top: 40px;
}
#swNavScroll .xui .sw-orion-search__form {
  background-color: #FFFFFF;
  overflow: hidden;
}
#swNavScroll .xui .sw-orion-search__search-history-header {
  text-transform: uppercase;
}
#swNavScroll .xui .sw-orion-search__search-history-item {
  display: flex;
}
#swNavScroll .xui .sw-orion-search__search-history-item:hover {
  background: #f6f6f6;
  cursor: pointer;
}
#swNavScroll .xui .sw-orion-search__search-history-item-text {
  flex-grow: 1;
  text-transform: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sw-mainnav-branding #swNavScroll .xui .sw-orion-search__dropdown {
  margin-top: 0px;
}
[entity-type][entity-id]:not(a) {
  border-bottom: 1px dotted #D5D5D5;
}
.sw-entity-popover {
  font-size: 12px;
  min-width: 18rem;
}
.sw-entity-popover-property {
  display: flex;
}
.sw-entity-popover-property__label {
  color: #767676;
  white-space: nowrap;
  overflow: hidden;
  flex: 0 0 135px;
  margin-right: 15px;
}
.sw-entity-popover-property__value {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.sw-entity-popover-property__value--value {
  min-width: 1px;
  padding: 0 3px;
}
.sw-entity-popover-property__value--warning {
  background-color: rgba(254, 196, 5, 0.2);
}
.sw-entity-popover-property__value--critical {
  background-color: rgba(213, 0, 0, 0.1);
}
.entity-list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0;
}
.entity-list-item__icon {
  display: inline-block;
}
.entity-list-item__container {
  display: inline-block;
  min-width: 100%;
}
.entity-list-item__top-container,
.entity-list-item__bottom-container {
  display: block;
}
.entity-list-item__top-container div,
.entity-list-item__bottom-container div {
  display: inline-block;
}
.entity-list-item__bottom-container {
  margin-left: 28px;
}
.entity-list-item__title {
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
}
.entity-list-item__custom-property {
  margin-right: 5px;
}
.entity-list-item__ip-address,
.entity-list-item__system-property,
.entity-list-item__parent-node,
.entity-list-item__vendor {
  margin-right: 5px;
  color: #767676;
  font-size: 11px;
}
.entity-list-item__vendor-name {
  margin: 0 5px;
}
.sw-discovered-resources {
  padding: 0;
  margin: 0;
  max-height: 400px;
  overflow-y: auto;
}
.sw-discovered-resources .sw-discovered-resource {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #ccc;
}
.sw-discovered-resources .sw-discovered-resource div {
  font-family: "Courier New";
}
.sw-developer-page:before,
.sw-developer-page:after {
  content: " ";
  display: table;
}
.sw-developer-page:after {
  clear: both;
}
.sw-developer-page:before,
.sw-developer-page:after {
  content: " ";
  display: table;
}
.sw-developer-page:after {
  clear: both;
}
.sw-developer-page .flex-row__container {
  display: flex;
}
.sw-developer-page .space-around__container {
  justify-content: space-around;
}
.sw-developer-page .flex-end-row__container {
  display: flex;
  align-items: flex-end;
}
.sw-developer-page .flex-row__item {
  margin: 0px 15px;
}
.sw-developer-page .flex-row__item:nth-child(1) {
  margin-left: 0px;
  margin-right: 0px;
}
.sw-developer-page .flex-row__item:nth-child(2) {
  margin: 0px 15px 0px 8px;
}
.sw-developer-page .input-button {
  margin: 0px 10px 10px 10px;
}
.sw-developer-page .url__input {
  min-width: 480px;
  margin-bottom: -10px;
}
.sw-developer-page .flex-column__container {
  display: flex;
  flex-direction: column;
}
.sw-developer-page .flex-column__item {
  margin: 10px;
}
.sw-developer-page .simple-label {
  margin: 0px 5px;
}
.sw-developer-page .demo-header {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.sw-developer-page .item-template__container {
  height: 45px;
  align-items: center;
}
.sw-developer-page .query-result {
  position: relative;
  height: 400px;
  overflow-y: auto;
}
.sw-developer-page .empty-query-result {
  border: 1px solid #D5D5D5;
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
}
.sw-developer-page .no-records-msg {
  color: lightslategray;
  font-size: 18px;
  margin: 15px 0px;
}
.sw-developer-page .adjusted-header {
  margin: 10px 0px;
}
.sw-developer-page .emphasis {
  font-weight: 700;
}
.sw-developer-page .set-template__container {
  display: inline-block;
}
.sw-developer-page .inline-hover {
  color: #0079AA;
}
.sw-entity-popover-view .row {
  padding: 1em;
}
.sw-subview-page:before,
.sw-subview-page:after {
  content: " ";
  display: table;
}
.sw-subview-page:after {
  clear: both;
}
.sw-subview-page:before,
.sw-subview-page:after {
  content: " ";
  display: table;
}
.sw-subview-page:after {
  clear: both;
}
.sw-subview-page .flex-row-container {
  display: flex;
}
.sw-subview-page .pre-header {
  justify-content: space-between;
}
.sw-subview-page__sidebar .nav-item-link:visited,
.sw-subview-page__sidebar .nav-item-link:link,
.sw-subview-page__sidebar .nav-item-link:hover,
.sw-subview-page__sidebar .nav-item-link:active {
  color: inherit;
  text-decoration: inherit;
}
.sw-subview-page__sidebar .nav-item-link .flex-row-item {
  padding: 10px;
  margin: 0;
}
.sw-subview-page__sidebar .nav-item-link .flex-row-item.nav-item-title {
  margin-left: -5px;
  flex: 1;
}
.sw-subview-page__header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid;
  border-color: #D5D5D5;
}
.sw-subview-page__header .header-icon {
  margin-right: 10px;
}
.sw-subview-page__header .title {
  vertical-align: middle;
}
.sw-subview-page__main-content {
  flex: 1;
}
.sw-no-chrome .sw-subview-page__sidebar {
  display: none !important;
}
.sw-no-chrome .sw-subview-page .pre-header {
  display: none;
}
.sw-mega-menu {
  position: fixed;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.4) 0 3px 4px 0;
  min-width: 1024px;
  z-index: 1001;
  left: 0;
  right: 0;
  top: 0;
}
.sw-mega-menu__menu {
  height: 40px;
  background-color: #1D1D1D;
}
.sw-header-logo {
  display: inline-block;
  height: 40px;
}
.sw-header-logo:hover,
.sw-header-logo:focus {
  outline: none;
  background: #333333;
}
.sw-header-logo__img {
  outline: none;
  max-width: 109px;
  height: 30px;
  margin-left: 15px;
}
.xui .sw-user-info {
  color: #FFFFFF;
  font-size: 10px;
  padding: 0 15px;
  border-left: 1px solid #333333;
  line-height: 40px;
  display: inline-block;
  text-transform: uppercase;
}
.xui .sw-user-info:hover,
.xui .sw-user-info:active,
.xui .sw-user-info:focus {
  outline: none;
  text-decoration: none;
  color: #F99D1C;
}
.xui .sw-user-info:hover .sw-user-info__icon,
.xui .sw-user-info:active .sw-user-info__icon,
.xui .sw-user-info:focus .sw-user-info__icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARlJREFUeNpi/P//PwOtARMDHcDwsYQFm+CvxSboQiJA3AvE/lD+RiAuBuI3yIrYYs8QbwkaYAXivUCshyQWB8QGQAxyzW9qBFcImgUwoAeVo0qcaJApR5IlD/HIPaGWJWtwGPYYiFdSy5JPQOwOxMhJB8T2hMqRl4SR5DKAmBeIO4DYFIgloXLPgZgRiCuB+DMQzwDiP6RawgbEm6A+AAE/IJ4KxOegfGcgzgZiCyjfB6rmFymWFCJZwAA1zAKPr92hejpJiZNkMkqPFFIj/gMZlnwg1RJzIM4jwQKQWjNSLQHVZKuA+B8RFvyDqv1PTj55CcSziLBkOlQt2ZkRlEyzgPgsEP9EEv8JFcsiJlgZR+v4kWkJQIABACyrN2fRz22eAAAAAElFTkSuQmCC);
}
.xui .sw-user-info__icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQJJREFUeNpi/P//PwOtARMDHcDIs0QEiBcC8QcoXggVIw6AIp4AZgXii/8xwUWoHEEziLEk8j9uEEmMJcQElwaZciTFyUM8ck+oFSd8QPwYS1A9gspRJU5AWAuITyNZAGJrE6mXgRFPscICxBlAzAvEHSBPA7EkVO45EDMCcQUQfwbiGUD8h9TgYgPiHUguPw7EMVAfaUHZx5Hkd0D1kBRc5f9JB+WkBtctIFYlsfS4g0sPriT8gYwi6gOpcQLyYS4JQZUL1UNy6hIH4mdEZNh/QCwFxC/JyfEgTbOICKbp+CwgJsczAXEmEJ8B4h9IwfMDKpYJVUN2ZhytfoexJQABBgDQe7ZTpWbvGgAAAABJRU5ErkJggg==);
}
.xui .sw-mega-menu-help-link {
  color: #FFF;
  padding: 0 15px;
  border-left: 1px solid #333333;
  line-height: 40px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 10px;
}
.xui .sw-mega-menu-help-link__icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARBJREFUeNrslT0KwjAUx20R3KuriwUvIQ4iXkFowRO4eQKvoFdwcJWOXqEFKXgDUazaSfxc4j8QQUpe25TqYh/8KLyvP0n6Eo0xVvq26aUfWCGSuwjPsYADDoCJryP8yT343xVDA3gs3jyRR/ZJEghYOgvihCgBHbhMzVxRl1rEljSZgi5ogjZYSHJsWT/q0AYS3xO0wFgcfh+cU9SRKznGbMsFdIAB7pHYTtavTKykRvj3oAeuYAkqkXhVVkSJnAihOViDEBiSeKgyjB7hH4INIcDNVxGZEf4RqIOVUp3inPhgAm55zAnHVJx4M8u18hZKc3eZWe+uz62zgAO24CHmwRETrif10Io3/j9FXgIMAKEdGhvNzU9lAAAAAElFTkSuQmCC);
}
.xui .sw-mega-menu-help-link:hover,
.xui .sw-mega-menu-help-link:active,
.xui .sw-mega-menu-help-link:focus {
  outline: none;
  color: #F99D1C;
  text-decoration: none;
}
.xui .sw-mega-menu-help-link:hover .sw-mega-menu-help-link__icon,
.xui .sw-mega-menu-help-link:active .sw-mega-menu-help-link__icon,
.xui .sw-mega-menu-help-link:focus .sw-mega-menu-help-link__icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAMAAADzN3VRAAAAgVBMVEX5ojP////5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojP5ojN0h4JrAAAAKnRSTlMAAAIGEiIjJiw8PUFDWVprfoyOkZKmsLK3y8zO0ePl5ufp6uvt8vX3+Pl4jjy1AAAAmUlEQVR4Ab2Q2RLCIAxFIwouWtyF1gVbFyX//4FmYNRQpq89LzczZxiSC4Mu+jUAIArTYGMKQXNiZIWRSqZG1villtyIEv+UghmNxG4xnh2Q0MxYJNar/XT4oMEyc8PAcz56UzhmorhO4oY+e7OBe0jX/gf9GQO2vRsu4RhSZ/ectq/sHlCsA5X2pn69KYCs64t3RvOuc3o1H1aDGx3suRJaAAAAAElFTkSuQmCC);
}
.sw-navigation-menu > ul {
  margin: 0;
  list-style: none;
  white-space: nowrap;
}
.sw-navigation-menu > ul > li {
  display: inline-block;
  margin: 0;
}
.sw-navigation-menu > ul > li:hover,
.sw-navigation-menu > ul > li:active,
.sw-navigation-menu > ul > li:focus {
  outline: none;
  background: none;
}
.sw-navigation-menu > ul > li > a {
  display: block;
  padding: 7px 15px;
  cursor: pointer;
  white-space: normal;
  line-height: 16px;
  display: inline-block;
  padding: 0 15px;
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
  text-decoration: none;
}
.sw-navigation-menu > ul > li > a:hover,
.sw-navigation-menu > ul > li > a:active,
.sw-navigation-menu > ul > li > a:focus {
  outline: none;
  text-decoration: none;
  background-color: #333333;
  color: #F99D1C;
}
.sw-navigation-menu > ul > li > a > .mega-menu-caret {
  color: #AAAAAA;
  border-top-color: #AAAAAA;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content {
  display: none;
  list-style: none;
  min-width: 165px;
  padding: 0;
  margin: 0;
  background-color: #272727;
  position: absolute;
  top: 100%;
  overflow: visible;
  box-shadow: rgba(0, 0, 0, 0.5) 0 3px 4px -1px, rgba(0, 0, 0, 0.0980392) 0 4px 5px 0, rgba(0, 0, 0, 0.0823529) 0 1px 10px 0;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .mega-submenu-container > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .mega-submenu-container > ul::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .mega-submenu-container > ul::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #777;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .mega-submenu-container > ul::-webkit-scrollbar-thumb:hover {
  background-color: #AAAAAA;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .mega-submenu-container > ul > li > a {
  font-size: 12px;
  display: block;
  padding: 7px 15px;
  color: #FFFFFF;
  cursor: pointer;
  white-space: normal;
  line-height: 16px;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .mega-submenu-container > ul > li > a:hover,
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .mega-submenu-container > ul > li > a:active,
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .mega-submenu-container > ul > li > a:focus {
  outline: none;
  text-decoration: none;
  background-color: #333333;
  color: #F99D1C;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu .mega-submenu-container > ul {
  overflow-y: auto;
  list-style: none;
  padding: 0;
  max-width: 677px;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu .mega-submenu-container > ul > li {
  margin: 0 0 15px 0;
  width: 165px;
  float: left;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu .mega-submenu-container > ul > li:hover,
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu .mega-submenu-container > ul > li:active,
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu .mega-submenu-container > ul > li:focus {
  outline: none;
  background-color: transparent !important;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu .mega-submenu-container > ul > li > h3 {
  display: none;
  white-space: normal;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu .mega-submenu-container > ul > li .sub-menu-container > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu .mega-submenu-container > ul > li .sub-menu-container > ul::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu .mega-submenu-container > ul > li .sub-menu-container > ul::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #777;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu .mega-submenu-container > ul > li .sub-menu-container > ul::-webkit-scrollbar-thumb:hover {
  background-color: #AAAAAA;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu .mega-submenu-container > ul > li .sub-menu-container > ul > li > a {
  font-size: 12px;
  display: block;
  padding: 7px 15px;
  color: #FFFFFF;
  cursor: pointer;
  white-space: normal;
  line-height: 16px;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu .mega-submenu-container > ul > li .sub-menu-container > ul > li > a:hover,
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu .mega-submenu-container > ul > li .sub-menu-container > ul > li > a:active,
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu .mega-submenu-container > ul > li .sub-menu-container > ul > li > a:focus {
  outline: none;
  text-decoration: none;
  background-color: #333333;
  color: #F99D1C;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu .mega-submenu-container > ul > li .sub-menu-container > .sub-menu-title {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  padding: 0 4px 3px 4px;
  text-transform: uppercase;
  line-height: 20px;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu .mega-submenu-container > ul > li .sub-menu-container > .sub-menu-title > a {
  display: block;
  color: #F99D1C;
  padding: 11px;
  white-space: normal;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu .mega-submenu-container > ul > li .sub-menu-container > .sub-menu-title > a:hover,
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu .mega-submenu-container > ul > li .sub-menu-container > .sub-menu-title > a:active,
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu .mega-submenu-container > ul > li .sub-menu-container > .sub-menu-title > a:focus {
  outline: none;
  text-decoration: none;
  background-color: #333333;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu.menu-secondary {
  width: 566px;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu.menu-secondary .sw-navigation-menu__config {
  text-align: left;
  margin-left: 15px;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu.menu-secondary .mega-submenu-container > ul {
  min-height: 300px;
  height: 100%;
  width: 214px;
  padding: 5px 0;
  border-right: solid 1px #333333;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu.menu-secondary .mega-submenu-container > ul > li.sw-navigation-menu__sub-header {
  margin: 0;
  width: auto;
  float: none;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu.menu-secondary .mega-submenu-container > ul > li.sw-navigation-menu__sub-header:hover,
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu.menu-secondary .mega-submenu-container > ul > li.sw-navigation-menu__sub-header:active,
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu.menu-secondary .mega-submenu-container > ul > li.sw-navigation-menu__sub-header:focus {
  outline: none;
  color: #AAAAAA;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu.menu-secondary .mega-submenu-container > ul > li.sw-navigation-menu__sub-header > h3 {
  display: block;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  margin: 0;
  width: auto;
  font-size: 12px;
  background-color: transparent;
  padding: 0;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu.menu-secondary .mega-submenu-container > ul > li.sw-navigation-menu__sub-header > h3 > button {
  color: #AAAAAA;
  display: block;
  line-height: 16px;
  text-decoration: none;
  cursor: default;
  padding: 7px 15px;
  text-align: left;
  background: transparent;
  border: none;
  text-transform: uppercase;
  width: 100%;
  font-size: 12px;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu.menu-secondary .mega-submenu-container > ul > li.sw-navigation-menu__sub-header > h3 > button:hover,
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu.menu-secondary .mega-submenu-container > ul > li.sw-navigation-menu__sub-header > h3 > button:active,
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu.menu-secondary .mega-submenu-container > ul > li.sw-navigation-menu__sub-header > h3 > button:focus {
  outline: none;
  color: #AAAAAA;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu.menu-secondary .mega-submenu-container > ul > li.sw-navigation-menu__sub-header > h3 > button .mega-menu-caret {
  display: block;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid;
  float: right;
  margin: 4px 0 0 15px;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu.menu-secondary .mega-submenu-container > ul > li.sw-navigation-menu__sub-header .sub-menu-container {
  position: absolute;
  left: 215px;
  top: 0;
  right: 0;
  bottom: 42px;
  display: none;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu.menu-secondary .mega-submenu-container > ul > li.sw-navigation-menu__sub-header .sub-menu-container > .sub-menu-title > a {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu.menu-secondary .mega-submenu-container > ul > li.sw-navigation-menu__sub-header .sub-menu-container > ul {
  position: absolute;
  left: 0;
  width: 100%;
  top: 40px;
  bottom: 0;
  overflow-y: auto;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu.menu-secondary .mega-submenu-container > ul > li.sw-navigation-menu__sub-header .sub-menu-container > ul > li {
  float: left;
  width: 165px;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu.menu-secondary .mega-submenu-container > ul > li.sw-navigation-menu__sub-header > h3 > button:hover,
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu.menu-secondary .mega-submenu-container > ul > li.sw-navigation-menu__sub-header > h3 > button:active,
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu.menu-secondary .mega-submenu-container > ul > li.sw-navigation-menu__sub-header > h3 > button:focus {
  outline: none;
  color: #FFFFFF;
  background-color: #333333;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu.menu-secondary .mega-submenu-container > ul > li.sw-navigation-menu__sub-header.menu-active > h3 > button {
  color: #F99D1C;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content.full-menu.menu-secondary .mega-submenu-container > ul > li.sw-navigation-menu__sub-header.menu-active .sub-menu-container {
  display: block;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .sw-navigation-menu__config {
  border-top: solid 1px #333333;
  margin: 0;
  position: relative;
  clear: both;
  text-align: center;
  font-size: 12px;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .sw-navigation-menu__config-button {
  display: inline-block;
  padding: 12px;
  text-align: center;
  text-decoration: none;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .sw-navigation-menu__config-button:hover,
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .sw-navigation-menu__config-button:active,
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .sw-navigation-menu__config-button:focus {
  outline: none;
  background-color: #333333;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .sw-navigation-menu__config-button:hover > span,
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .sw-navigation-menu__config-button:active > span,
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .sw-navigation-menu__config-button:focus > span {
  color: #FFFFFF !important;
  background-image: url("/Orion/images/actions/configure_hover.png");
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .sw-navigation-menu__config-button > span {
  padding: 0 0 0 20px;
  color: #33A6CD !important;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("/Orion/images/actions/configure.png");
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .sw-navigation-menu__config__style-toggle {
  cursor: pointer;
  border: none;
  display: inline-block;
  background: transparent;
  padding: 12px;
  color: #33A6CD;
  font-family: 'Open Sans';
  font-size: 12px;
  text-decoration: none;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .sw-navigation-menu__config__style-toggle:hover,
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .sw-navigation-menu__config__style-toggle:active,
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .sw-navigation-menu__config__style-toggle:focus {
  outline: none;
  color: #FFFFFF;
  background: #333333;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .sw-navigation-menu__config__style-toggle:hover > span.sw-navigation-menu__config__style-toggle__collapse,
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .sw-navigation-menu__config__style-toggle:active > span.sw-navigation-menu__config__style-toggle__collapse,
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .sw-navigation-menu__config__style-toggle:focus > span.sw-navigation-menu__config__style-toggle__collapse {
  background-image: url("/Orion/images/Actions/menu_condense_hover.png");
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .sw-navigation-menu__config__style-toggle:hover > span.sw-navigation-menu__config__style-toggle__expand,
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .sw-navigation-menu__config__style-toggle:active > span.sw-navigation-menu__config__style-toggle__expand,
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .sw-navigation-menu__config__style-toggle:focus > span.sw-navigation-menu__config__style-toggle__expand {
  background-image: url("/Orion/images/Actions/menu_expand_hover.png");
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .sw-navigation-menu__config__style-toggle > span {
  padding: 0 0 0 20px;
  background-repeat: no-repeat;
  background-position: left center;
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .sw-navigation-menu__config__style-toggle > span.sw-navigation-menu__config__style-toggle__collapse {
  background-image: url("/Orion/images/Actions/menu_condense.png");
}
.sw-navigation-menu > ul > li > .sw-navigation-menu__tab-content .sw-navigation-menu__config__style-toggle > span.sw-navigation-menu__config__style-toggle__expand {
  background-image: url("/Orion/images/Actions/menu_expand.png");
}
.sw-navigation-menu > ul.menu-open {
  background-color: #272727;
}
.sw-navigation-menu > ul.menu-open > a {
  color: #F99D1C;
}
.sw-navigation-menu > ul.menu-open > a > .mega-menu-caret {
  color: #F99D1C;
  border-top-color: #F99D1C;
}
.xui .sw-orion-search-component__menu-button {
  width: 50px;
  height: 40px;
  padding: 0px;
  display: inline-block;
  border-left: 1px solid #333333;
}
.xui .sw-orion-search-component__menu-button:hover,
.xui .sw-orion-search-component__menu-button:active,
.xui .sw-orion-search-component__menu-button:focus {
  outline: none;
}
.xui .sw-orion-search-component__menu-button:hover .xui-icon svg *,
.xui .sw-orion-search-component__menu-button:active .xui-icon svg *,
.xui .sw-orion-search-component__menu-button:focus .xui-icon svg * {
  fill: #F99D1C !important;
}
.xui .sw-orion-search-component__menu-item {
  padding: 0px;
}
.xui .sw-orion-search-component__dropdown-group {
  background-color: #FFFFFF;
  width: 520px;
}
.xui .sw-orion-search-component__dropdown {
  background-color: #333333;
  border: none;
  margin-top: 0;
}
.xui .sw-orion-search-component__form {
  background-color: #FFFFFF;
  overflow: hidden;
}
.xui .sw-orion-search-component__search-history-header {
  text-transform: uppercase;
}
.xui .sw-orion-search-component__search-history-item {
  display: flex;
}
.xui .sw-orion-search-component__search-history-item:hover,
.xui .sw-orion-search-component__search-history-item:active,
.xui .sw-orion-search-component__search-history-item:focus {
  outline: none;
  background-color: #f6f6f6;
  cursor: pointer;
}
.xui .sw-orion-search-component__search-history-item-text {
  flex-grow: 1;
  text-transform: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.xui .sw-orion-search-component--opened {
  background-color: #333333;
}
.xui .sw-notifications__button {
  border-left: 1px solid #333333;
  display: inline-block;
  padding: 0 15px;
  line-height: 40px;
  color: #FFF;
}
.xui .sw-notifications__button .sw-notifications__icon {
  margin-top: 2px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAMAAADzN3VRAAAAWlBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9jZLFEAAAAHXRSTlMAAwUGCAwsLTA9PkJDRUZniZCRmLa4usPH7vH7/aqHj5wAAABeSURBVCjPzclHFkAwAADR6F30Pve/po14RHh2zHK+EB9U13cyTeYftdDGBpALwCIv4M8AMPu6ZGylunhK3PeSK0k0sAclvXWCsGOvCY7CqXfyXAlQmMSpxrFyxH9aAUupDQJNyIjRAAAAAElFTkSuQmCC);
}
.xui .sw-notifications__button:hover,
.xui .sw-notifications__button:active,
.xui .sw-notifications__button:focus {
  outline: none;
  color: #F99D1C;
  background-color: #333333;
  text-decoration: none;
}
.xui .sw-notifications__button:hover .sw-notifications__icon,
.xui .sw-notifications__button:active .sw-notifications__icon,
.xui .sw-notifications__button:focus .sw-notifications__icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAMAAADzN3VRAAAAWlBMVEX////5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5nR/5lvDKAAAAHXRSTlMAAwUGCAwsLTA9PkJDRUZniZCRmLa4usPH7vH7/aqHj5wAAABeSURBVCjPzclHFkAwAADR6F30Pve/po14RHh2zHK+EB9U13cyTeYftdDGBpALwCIv4M8AMPu6ZGylunhK3PeSK0k0sAclvXWCsGOvCY7CqXfyXAlQmMSpxrFyxH9aAUupDQJNyIjRAAAAAElFTkSuQmCC);
}
.xui .sw-notifications__button--opened {
  background-color: #272727;
}
.xui .sw-notifications__caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin: -2px 0 0 3px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.xui .sw-notifications__count {
  position: absolute;
  display: inline-block;
  margin-top: 3px;
  margin-left: -18px;
  background-color: #da3838;
  font-size: 10px;
  border: 1px solid #272727;
  border-radius: 3px;
  line-height: 12px;
  text-align: center;
  color: #FFF;
  padding: 2px 4px;
}
.xui .sw-notifications__container {
  overflow: hidden;
  padding: 0;
  background-color: #272727;
  min-width: 700px;
  margin: 0;
  border: 0;
  white-space: nowrap;
  max-height: none;
}
.xui .sw-notifications__empty {
  color: #FFF;
  text-align: center;
  padding: 15px 0;
}
.xui .sw-notifications__summary {
  font-size: 16px;
  color: #F99D1C;
  font-weight: 400;
  line-height: 45px;
  text-indent: 15px;
  text-transform: uppercase;
}
.xui .sw-notifications__dismiss-all {
  float: right;
  margin-right: 15px;
  line-height: 35px;
}
.xui .sw-notifications__dismiss-all:hover,
.xui .sw-notifications__dismiss-all:active,
.xui .sw-notifications__dismiss-all:focus {
  outline: none;
  color: #F99D1C !important;
  text-decoration: underline;
}
.xui .sw-notifications__list {
  overflow-y: auto;
  max-height: 400px;
}
.xui .sw-notifications__list__item {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #3A3A3A;
}
.xui .sw-notifications__list__item__link {
  color: #FFF;
  line-height: 40px;
}
.xui .sw-notifications__list__item__link:hover,
.xui .sw-notifications__list__item__link:active,
.xui .sw-notifications__list__item__link:focus {
  outline: none;
  color: #F99D1C;
  text-decoration: underline;
}
.xui .sw-notifications__list__item:hover,
.xui .sw-notifications__list__item:active,
.xui .sw-notifications__list__item:focus {
  outline: none;
  background-color: #333333;
}
.xui .sw-notifications__list__item__delete button {
  height: 40px;
  width: 40px;
  padding: 5px 10px !important;
}
.xui .sw-notifications__list__item__delete button:hover,
.xui .sw-notifications__list__item__delete button:active,
.xui .sw-notifications__list__item__delete button:focus {
  outline: none;
  background-color: #333333;
}
.xui .sw-notifications__list__item__delete button:hover .xui-icon svg *,
.xui .sw-notifications__list__item__delete button:active .xui-icon svg *,
.xui .sw-notifications__list__item__delete button:focus .xui-icon svg * {
  fill: #F99D1C !important;
}
.xui .sw-notifications__list__item__image {
  width: 25px;
  height: 25px;
  margin-left: 15px;
  margin-right: 10px;
}
.xui .sw-evaluation-banner {
  width: 100%;
  font-size: 12px;
  text-transform: none;
  padding: 2px;
  border: none;
  display: block;
}
.sw-error-inspector__message {
  margin-bottom: 10px;
  font-size: 14px;
}
.sw-error-inspector__detail textarea {
  font-family: "Courier New", Courier, monospace;
}

/*# sourceMappingURL=apollo-website.css.map*/