﻿#adminContent h1 
{
    font-size: 18px;
    padding-bottom: 10px;
}

#adminContent p
{
    font-size: 12px;
    padding: 0 0 1em 0;
    width: 100%;
}


.WorkflowButtons
{
    text-align: right;
    margin-top: 1em;
    margin-bottom: 1em;
}

.sw-auto-dependency-setting {
    display: none;
    padding-bottom: 15px;
}
.sw-auto-dependency-toggle {
    margin-left: 10px;
}