/*!
 * @solarwinds/entity-management 1.5.0-1414
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.manage-nodes__body {
  height: 100%;
}
.manage-nodes__intro-message--on .manage-nodes__sidebar {
  height: calc(100% - 72px);
}
.manage-nodes__sidebar {
  height: 100%;
}
.manage-nodes__filtered-list {
  width: 100%;
}
.manage-nodes .xui-listview__empty {
  margin-top: 150px;
}
.manage-nodes .add-property--button .xui-icon.stroked svg * {
  stroke: #297994;
}
.manage-nodes .manage-nodes__show-tips {
  color: #0079AA;
}
.manage-nodes .manage-nodes__intro-message--container {
  padding: 15px;
}
.manage-nodes .manage-nodes__intro-message {
  margin-bottom: 0;
}
.manage-nodes .manage-nodes__custom-header {
  align-items: center;
  border-bottom: 1px solid #D5D5D5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 5px 5px 15px;
}
.manage-nodes .entity-inspector__sidebar-header {
  padding: 15px 15px 0;
}
.manage-nodes .entity-inspector__sidebar-body {
  padding: 0 15px 15px;
}
.manage-nodes .entity-inspector__heading h4 {
  line-height: 30px;
  margin: 0;
}
.manage-nodes .entity-inspector-toolbar {
  margin-top: 10px;
}
.manage-nodes .entity-inspector-toolbar__caption {
  padding: 4px 0;
  line-height: 22px;
}
.manage-nodes .entity-inspector__group {
  padding-top: 10px;
}
.manage-nodes .entity-inspector__group .column-left {
  padding-right: 5px;
}
.manage-nodes .entity-inspector__group .column-right {
  padding-left: 5px;
}
.manage-nodes .entity-inspector__search {
  padding: 0 0 15px 0;
}
.manage-nodes .entity-inspector__expander {
  padding-bottom: 5px;
}
.manage-nodes .entity-inspector__expander .heading {
  display: flex;
  align-items: center;
  max-width: 249px;
  margin-top: -3px;
}
.manage-nodes .entity-inspector__expander .heading__checkbox {
  display: inline-block;
}
.manage-nodes .entity-inspector__expander .heading__caption {
  display: inline-block;
  vertical-align: top;
  padding: 7px 3px;
  text-transform: uppercase;
}
.manage-nodes .entity-inspector__expander .heading__caption-text {
  display: inline-block;
  vertical-align: middle;
  max-width: 169px;
}
.manage-nodes .entity-inspector__expander .heading__caption span {
  padding-left: 2px;
}
.manage-nodes .entity-inspector__expander .heading__icon {
  display: inline-block;
  padding-right: 7px;
}
.manage-nodes .entity-inspector__expander .list {
  margin-left: -9px;
}
.manage-nodes .child-item {
  vertical-align: middle;
  padding-bottom: 7px;
}
.manage-nodes .child-item__caption {
  padding-left: 7px;
}
.manage-nodes .ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.node-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0px;
}
.node-item__container {
  display: inline-block;
  min-width: calc(100% - 125px);
  margin-left: 5px;
}
.node-item__buttons {
  width: 120px;
  vertical-align: middle;
  text-align: right;
  display: inline-block;
}
.node-item__buttons * {
  display: inline-block;
}
.node-item__buttons::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.node-item__btn-more,
.node-item__icon-star,
.node-item__icon-mute {
  margin: 5px;
  vertical-align: middle;
}
.nodes-vendor-filter {
  white-space: nowrap;
}
.nodes-vendor-filter__title {
  margin: 0 15px 0 5px;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  line-height: 1.66666667;
  max-width: 137px;
}
.sw-edit-row-props xui-panel-left-pane {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.sw-edit-row-props .xui-panel__left-pane .xui-panel__body {
  overflow: hidden!important;
}
.sw-edit-row-props xui-scroll-shadows {
  margin: 0 -15px;
}
.sw-edit-row-props__checkbox-container {
  padding: 15px 15px;
  height: 100%;
  overflow-y: auto;
}
.sw-edit-row-props .sw-edit-row-props__cancel-button {
  margin-left: 15px;
}
.sw-edit-row-props .media {
  margin-top: 0;
}
.sw-edit-row-props .sw-edit-row-props__chiclets {
  display: inline-block;
}
.sw-edit-row-props .sw-edit-row-props__chiclets .xui-chiclets__value {
  margin-bottom: 5px;
}
.sw-edit-row-props .sw-edit-row-props__preview-top,
.sw-edit-row-props .sw-edit-row-props__preview-bottom {
  display: flex;
}
.sw-edit-row-props .sw-edit-row-props__preview-top .xui-chiclets,
.sw-edit-row-props .sw-edit-row-props__preview-bottom .xui-chiclets {
  padding-top: 0;
}
.sw-edit-row-props .sw-edit-row-props__preview-top .xui-chiclets {
  margin-top: -3px;
}
.sw-edit-row-props .sw-edit-row-props__preview-bottom {
  margin-left: 40px;
  font-size: 11px;
}
.sw-edit-row-props .sw-edit-row-props__preview-bottom .xui-chiclets {
  margin-top: -6px;
}
.sw-edit-row-props .sw-edit-row-props__preview-bottom .xui-chiclets.xui-chiclets__draggable .xui-chiclets__value {
  border-style: none;
}
.sw-edit-row-props .sw-edit-row-props__ip-address {
  padding-right: 10px;
}
.sw-edit-row-props .sw-edit-row-props__node-title {
  font-size: 14px;
  font-weight: 700;
  margin-left: 10px;
  white-space: nowrap;
}
.sw-edit-row-props .xui-panel .sw-edit-row-props__title {
  margin: 10px 0;
}
.sw-edit-row-props .sw-edit-row-props__center-pane {
  margin: 0 -15px;
}
.sw-edit-row-props .sw-edit-row-props__row-template {
  padding: 0 15px;
}

/*# sourceMappingURL=manage.css.map*/