<%@ Control Language="C#" AutoEventWireup="true" CodeFile="VMCPUAreaChart.ascx.cs" Inherits="VMCPUAreaChart" %>
<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
        <asp:PlaceHolder runat="server" ID="chartPlaceHolder" />
    </Content>
</orion:resourceWrapper>