<%@ Control Language="C#" AutoEventWireup="true" CodeFile="VMMemoryAreaChart.ascx.cs" Inherits="VMMemoryAreaChart" %>
<orion:resourceWrapper runat="server" ID="Wrapper">
    <Content>
        <asp:PlaceHolder runat="server" ID="chartPlaceHolder" />
    </Content>
</orion:resourceWrapper>