/*!
 * @solarwinds/sam.adm.incoming.connections.resource 2020.2.5-166
 * @copyright 2021 SolarWinds, Inc.
 * http://solarwinds.com/
 */
.xui .xui-page-content {
  max-width: none;
}
.teaser-no-agent .header {
  font-weight: bold;
}
.teaser-no-agent .content .packet-loss-latency-text-wrapper {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}
.teaser-no-agent .content .connection-list-teaser-wrapper img {
  width: 591px;
}
.ldp-cxn-flex-container {
  display: flex;
}
.ldp-cxn-flex-container--header {
  color: #AAAAAA;
}
.ldp-cxn-flex-container--centered {
  align-items: center;
}
.ldp-cxn-flex-container--main {
  min-width: 568px;
}
.ldp-cxn-flex-item--one {
  flex: 1;
  min-width: 0;
}
.ldp-cxn-flex-item--agent {
  flex: 2 0 150px;
  min-width: 150px;
}
.ldp-cxn-flex-item--node {
  min-width: 185px;
  flex: 1 0 185px;
}
.ldp-cxn-flex-item--metrics {
  flex: 1 1 50%;
}
.ldp-cxn-flex-item--metrics-lat {
  text-align: right;
}
.ldp-cxn-flex-item--pill {
  min-width: 150px;
  flex: 1 0 150px;
}
.ldp-cxn-flex-item--link-btn {
  width: 48px;
}
.ldp-cxn-flex-item--link-btn {
  flex: none;
  width: 48px;
}
.ldp-cxn-flex-item--link-btn-grayed {
  background-color: #e6eff3;
}
.ldp-cxn-flex-item__node-details {
  min-width: 125px;
}
.ldp-cxn-flex-item__agent-details {
  min-width: 100px;
}
.ldp-cxn-flex-item__link {
  display: flex;
  height: 100%;
}
.ldp-cxn-flex-item__link-content {
  margin: auto;
  display: flex;
  align-items: center;
}
.ldp-cxn-flex-item .connection-metrics-pill .line:last-of-type {
  background: none;
}
.ldp-cxn-header-node {
  padding-left: 45px;
}
.ldb-cxn-agent-message {
  border: 1px solid;
}
.ldb-cxn-agent-message--critical {
  border-color: #D50000;
  background-color: #FFE4E0;
}
.ldb-cxn-agent-message--warning {
  border-color: #FEC405;
  background-color: #fcf8e0;
}
.ldb-cxn-agent-message__item--highlight {
  color: #0079AA;
}
.ldp-connections-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 538px;
  color: #AAAAAA;
}
.ldp-connections-header__node {
  width: 125px;
}
.ldp-connections-header__node--src {
  margin-right: 48px;
}
.ldp-connections-header__node--dst {
  margin-left: 50px;
}
.ldp-connections-header__node--pill {
  flex: 1;
  display: flex;
}
.ldp-connections-header__node__mettrics {
  display: flex;
}
.ldp-connections-header .flex-one {
  flex: 1;
}
.incomming-connections-grid .xui-grid__listview-panel {
  padding-left: 0px;
  padding-right: 0px;
}
.incomming-connections-grid .list-group {
  min-width: 538px;
}
.incomming-connections-grid .xui-pager {
  line-height: 1.66666667;
}
.connection-pill-wrapper .connection-metrics-pill .line:last-of-type {
  background: none;
}
.ldp-secondary-text {
  color: #767676;
}
.ldp-empty-data-link {
  color: #0079AA !important;
}
.ldp-empty-data-link:hover {
  color: #23677e !important;
}
.xui .status-filter {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.xui .status-filter .xui-button.sorter-button {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: none;
  border-left: none;
  border-bottom: none;
  padding-bottom: 11px;
  background-color: transparent;
}
.xui .status-filter .xui-button.sorter-button:not(:last-of-type) {
  border-right: 1px solid transparent;
}
.xui .status-filter .xui-button.sorter-button .xui-button-content {
  margin-left: 5px;
}
.xui .status-filter .xui-button.sorter-button::after {
  content: '';
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
}
.xui .status-filter .xui-button.sorter-button--activated {
  background-color: #E2F1F5;
  border-top: none;
  position: relative;
}
.xui .status-filter .xui-button.sorter-button--activated:not(.severity_unknown) {
  border-right: 1px solid #fff;
}
.xui .status-filter .xui-button.sorter-button:active {
  box-shadow: none;
}
.xui .direction-filter {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.xui .direction-filter .xui-button.sorter-button {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: none;
  border-left: none;
  border-bottom: none;
  padding-bottom: 11px;
  background-color: transparent;
}
.xui .direction-filter .xui-button.sorter-button:not(:last-of-type) {
  border-right: 1px solid transparent;
}
.xui .direction-filter .xui-button.sorter-button .xui-button-content {
  margin-left: 5px;
}
.xui .direction-filter .xui-button.sorter-button::after {
  content: '';
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
}
.xui .direction-filter .xui-button.sorter-button--activated {
  background-color: #E2F1F5;
  border-top: none;
  position: relative;
}
.xui .direction-filter .xui-button.sorter-button--activated:not(.severity_unknown) {
  border-right: 1px solid #fff;
}
.xui .direction-filter .xui-button.sorter-button:active {
  box-shadow: none;
}
.separation-line {
  border-bottom: 1px solid #D5D5D5;
}
samadm-connection-metric-pill {
  flex: 1;
  min-width: calc(-150%);
}
samadm-connection-metric-pill .line {
  flex: 1;
  height: 2px;
}
samadm-connection-metric-pill .bold {
  font-weight: bold;
}
samadm-connection-metric-pill .critical-text {
  fill: #D50000;
}
samadm-connection-metric-pill .critical,
samadm-connection-metric-pill .down {
  stroke-width: 1;
}
samadm-connection-metric-pill .critical .arrowhead,
samadm-connection-metric-pill .down .arrowhead {
  border-color: #D50000;
  fill: #D50000;
}
samadm-connection-metric-pill .critical .line,
samadm-connection-metric-pill .down .line {
  background: #D50000 !important;
}
samadm-connection-metric-pill .critical .arrow-line,
samadm-connection-metric-pill .down .arrow-line {
  stroke: #D50000;
}
samadm-connection-metric-pill .critical .rectangle,
samadm-connection-metric-pill .down .rectangle {
  fill: #FFE4E0;
  stroke: #D50000;
}
samadm-connection-metric-pill .warning {
  stroke-width: 1;
}
samadm-connection-metric-pill .warning .arrowhead {
  border-color: #FEC405;
  fill: #FEC405;
}
samadm-connection-metric-pill .warning .line {
  background: #FEC405 !important;
}
samadm-connection-metric-pill .warning .arrow-line {
  stroke: #FEC405;
}
samadm-connection-metric-pill .warning .rectangle {
  fill: #fcf8e0;
  stroke: #FEC405;
}
samadm-connection-metric-pill .up {
  stroke-width: 1;
}
samadm-connection-metric-pill .up .arrowhead {
  border-color: #c1e2b0;
  fill: #c1e2b0;
}
samadm-connection-metric-pill .up .arrow-line {
  stroke: #c1e2b0;
}
samadm-connection-metric-pill .up .rectangle {
  fill: #FFFFFF;
  stroke: #c1e2b0;
}
samadm-connection-metric-pill .up .line {
  background: #c1e2b0 !important;
}
samadm-connection-metric-pill .unknown,
samadm-connection-metric-pill .loopback {
  stroke-width: 1;
  fill: #767676;
}
samadm-connection-metric-pill .unknown .arrowhead,
samadm-connection-metric-pill .loopback .arrowhead {
  border-color: #D5D5D5;
  fill: #D5D5D5;
}
samadm-connection-metric-pill .unknown .line,
samadm-connection-metric-pill .loopback .line {
  background: #D5D5D5 !important;
}
samadm-connection-metric-pill .unknown .arrow-line,
samadm-connection-metric-pill .loopback .arrow-line {
  stroke: #D5D5D5;
}
samadm-connection-metric-pill .unknown .rectangle,
samadm-connection-metric-pill .loopback .rectangle {
  fill: #f6f6f6;
  stroke: #D5D5D5;
}
samadm-connection-metric-pill .blue-arrow {
  stroke-width: 1;
}
samadm-connection-metric-pill .blue-arrow .arrowhead {
  border-color: #abd5e3;
  fill: #abd5e3;
}
samadm-connection-metric-pill .blue-arrow .line {
  flex: 1;
  flex-basis: 100px;
  background: #abd5e3 !important;
}
samadm-connection-metric-pill .blue-arrow .arrow-line {
  stroke: #abd5e3;
}
samadm-connection-metric-pill .blue-arrow .rectangle {
  fill: #abd5e3;
  stroke: #abd5e3;
}
samadm-connection-metric-pill .loopback {
  font-weight: 700;
}
samadm-connection-metric-pill .connection-metrics-pill {
  display: flex;
  align-items: center;
  height: 22px;
}
samadm-connection-metric-pill .connection-metrics-pill .arrow {
  flex: 1;
  display: inline-flex;
  align-items: center;
}
samadm-connection-metric-pill .connection-metrics-pill .arrowhead {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
samadm-connection-metric-pill .connection-metrics-pill .arrowhead.left {
  border-right-width: 7px;
  border-right-style: solid;
}
samadm-connection-metric-pill .connection-metrics-pill .arrowhead.right {
  border-left-width: 7px;
  border-left-style: solid;
}
samadm-connection-metric-pill .connection-metrics-pill .connection-metrics-svg {
  width: 100px;
  height: 20px;
  font-size: 10px;
}
samadm-connection-metric-pill .connection-metrics-pill .line-in-rectangle {
  stroke: #cccccc;
  stroke-width: 1;
}

/*# sourceMappingURL=sam.adm.incoming.connections.resource.css.map*/