﻿
#DPA_ApplicationsWithoutRelationshipModal .sw-custom-query-table {
    margin-top: 15px;
}

#DPA_ApplicationsWithoutRelationshipModal.DPA_IntegrationWizardSortableTable .sw-custom-query-table tbody tr td.ReportHeader.ApplicationName {
    min-width: 200px;
}

#DPA_ApplicationsWithoutRelationshipModal.DPA_IntegrationWizardSortableTable .sw-custom-query-table tbody tr td.ReportHeader.NodeName {
    width: 200px;
}

#DPA_ApplicationsWithoutRelationshipModal.DPA_IntegrationWizardSortableTable .sw-custom-query-table tbody tr td.ReportHeader.Actions {
    text-align: right !important;
    width: 100px;
    padding-right: 17px;
}

#DPA_ApplicationsWithoutRelationshipModal.DPA_IntegrationWizardSortableTable thead tr td.ReportHeader.Actions {
    text-align: right;
    padding-right: 17px;
}

#DPA_ApplicationsWithoutRelationshipModal div.DPA_Actions {
    text-align: right;
    padding-right: 10px;
}

#DPA_ApplicationsWithoutRelationshipModal div.scrollableContent {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

#DPA_ApplicationsWithoutRelationshipModal div.scrollableContent > table {
    margin: 0;
    border: 0;
}

#DPA_ApplicationsWithoutRelationshipModal div.bottom {
    margin: 0;
}

#DPA_ApplicationsWithoutRelationshipModal div.bottom div.sw-btn-bar-wizard {
    margin-top: 0;
}

#DPA_ApplicationsWithoutRelationshipModal div.bottom.pagerHidden {
    margin-top: 15px;
}

#DPA_ApplicationsWithoutRelationshipModal table.scrollableEnvelop {
    width: 100%;
}

#DPA_ApplicationsWithoutRelationshipModal > table.sw-custom-query-table tr.content {
  background-color: #f6f6f6;
}

#DPA_ApplicationsWithoutRelationshipModal > table.sw-custom-query-table tr.content .sw-custom-query-table tr:nth-child(odd) {
  background-color: white;
}
