﻿.DPA_AssignEntity p {
    margin: 10px 0;
}

.DPA_AssignEntity .DPA_IconsLine {
    margin: 5px 0 0;
}

.DPA_AssignEntity .DPA_IconsLine img {
    vertical-align: bottom;
}

.DPA_AssignEntity .sw-btn-bar-wizard {
    text-align: left;
}

.DPA_AssignEntity .DPA_AssignGrid {
    width: 750px;
    margin: 15px 0 35px;
}

.DPA_AssignEntity td {
    padding: 0 !important;
    vertical-align: middle;
}