﻿.DPA_ConfigurationModal {
    background: #fff;    
}

.DPA_ConfigurationModal p {
    font-size: 12px;
    padding: 8px 0;
}

.DPA_ConfigurationModal #DPA_Relationships_SelectedNode {
    margin: 5px 0px;
}

.DPA_ConfigurationModal #DPA_Relationships_SelectedNode a {
    top: 0px !important;
}

.DPA_ConfigurationModal .DPA_CollapsingBlock {
    margin: 10px 0;
}

.DPA_CollapsingBlock.DPA_SimpleView {
    margin-top: 0px;
    margin-bottom: 30px;
}

.DPA_ConfigurationModal .DPA_CollapsingBlock .DPA_CollapsingBlockHeader {
    padding: 4px 7px 4px 10px;
    font-size: 13px;
    border: #cccccc solid 1px;
    font-weight: bold;
}

.DPA_ConfigurationModal .DPA_CollapsingBlock .DPA_CollapsingBlockHeader.DPA_Clickable {
    cursor: pointer;
}

.DPA_ConfigurationModal .DPA_CollapsingBlock .DPA_CollapsingBlockContent {
    padding: 5px 0;
}

.DPA_ConfigurationModal .DPA_CollapsingBlock.DPA_SimpleView .DPA_CollapsingBlockContent {
    padding: 0px;
}

.DPA_ConfigurationModal .DPA_CollapsingBlock.DPA_Collapsed .DPA_CollapsingBlockHeader {
    background: #efefef;
    font-weight: normal;
}

.DPA_ConfigurationModal .DPA_CollapsingBlock .DPA_CollapsingBlockHeader {
    color: #0079aa;
}

.DPA_ConfigurationModal .DPA_CollapsingBlock .DPA_CollapsingBlockHeader span {
    display: inline-block;
    margin-right: 5px;
}

.DPA_ConfigurationModal .DPA_CollapsingBlock.DPA_Collapsed .DPA_CollapsingBlockHeader span.DPA_Triangle {
    background: url('/Orion/images/LayoutBuilder/triang1.png') no-repeat top left;
    width: 5px;
    height: 9px;
}

.DPA_ConfigurationModal .DPA_CollapsingBlock.DPA_Expanded .DPA_CollapsingBlockHeader span.DPA_Triangle {
    background: url('/Orion/images/LayoutBuilder/triang2.png') no-repeat top left;
    width: 6px;
    height: 6px;
}

.DPA_ConfigurationModal .DPA_CollapsingBlock.DPA_Collapsed .DPA_CollapsingBlockContent {
    display: none;   
}

.DPA_ConfigurationModal .DPA_CollapsingBlock.DPA_Expanded .DPA_CollapsingBlockContent {
    display: block;
}

span.DPA_SelectedObjectLabel {
    font-weight: bold;
}

span.DPA_SelectedObjectName {
    margin-left: 10px;
}

#DPA_ApplicationConfigurationModal, #DPA_ApplicationsWithoutRelationshipModal, #DPA_RelationshipConfigurationModal {
    padding: 5px 15px;
}

#DPA_RelationshipConfigurationModal div.bottom, #DPA_ApplicationConfigurationModal div.bottom {
    margin: 0;
}