﻿#DPA_EstablishingIntegrationModal {
    padding: 0;
}

#DPA_EstablishingIntegrationModal .DPA_Progress {
    padding: .5em 2em 2em;
}

#DPA_EstablishingIntegrationModal .DPA_UnrecoverableError {
    padding: .5em 2em 0;
}

#DPA_EstablishingIntegrationModal .DPA_UnrecoverableError .sw-suggestion {
    width: 90.5%;
}

#DPA_EstablishingIntegrationModal .DPA_UnrecoverableError .DPA_ErrorHint {
    font-weight: normal;
}

#DPA_DesperateRobot {
    padding-top: .5em;
    text-align: center;
}

#DPA_EstablishingIntegrationModal .DPA_ProgressTitle {
    padding-bottom: .5em;
}

#DPA_EstablishingIntegrationModal .DPA_InProgress {
    background: url('/Orion/discovery/images/spinner.gif') no-repeat;
    background-size: 16px 16px;
    padding-left: 20px;
}

#DPA_EstablishingIntegrationModal .DPA_BottomBar {
    border-top: 1px solid #D5D5D5;
    padding: 1em 15px;
    text-align: right;
}

#DPA_EstablishingIntegrationModal .DPA_BottomBar a.sw-btn {
    padding: .5em 1em;
    margin-left: 15px;
    min-width: 80px;
    text-align: center;
}

#DPA_EstablishingIntegrationModal .DPA_ProgressBar {
    width: 550px;
    height: 30px;
    background-color: #eaeaea;
}

#DPA_EstablishingIntegrationModal .DPA_ProgressBarDone {
    background-color: #204a63;
    width: 1%;
    height: 30px;
}

#DPA_EstablishingIntegrationModal .DPA_ProgressMessage {
    color: #767676;
}

#DPA_EstablishingIntegrationModal .DPA_SuccessMessage {
    padding: .5em 2em 2em;
}