﻿.DPA_CellEntityNameWithIcon {
    position: relative;
    top: -2px;
    padding-left: 4px;
    text-decoration: none;
    cursor: default;
}

.x-grid3-cell-inner a.DPA_CellEntityNameWithIcon, 
.x-grid3-cell-inner a.DPA_CellEntityNameWithIcon:hover, 
.x-grid3-cell-inner a.DPA_CellEntityNameWithIcon:active, 
.x-grid3-cell-inner a.DPA_CellEntityNameWithIcon:visited {
    color: black;
}

a.DPA_CellEntityNameWithIcon img {
    margin-right: 0px !important;
    padding-right: 3px;
    vertical-align: text-bottom;
    cursor: default;
}