﻿#adminContent .sw-dpa-integration-wrap table th, #adminContent .sw-dpa-integration-wrap table td {
   padding: 10px; 
}

#adminContent .sw-dpa-integration p {
    width: 500px;
    padding-bottom: 13px;
    padding-top: 15px;
}

#adminContent .sw-dpa-integration > div {
    margin-bottom: 15px;
    clear: both;
}

#adminContent .sw-dpa-integration td.sw-dpa-integration-wrap {
    border: 1px solid rgb(204, 204, 204);
}

#adminContent .sw-dpa-integration table.sw-dpa-integration-table td {
    background: none repeat scroll 0% 0% rgb(228, 241, 248);
}

#adminContent .sw-dpa-integration table.sw-dpa-integration-table tbody tr:first-child td:first-child {
    width: 170px;
}

#adminContent .sw-dpa-integration table.sw-dpa-integration-table td.sw-dpa-integration-emptyrow {
    background-color: transparent;
    line-height: 10px;
    padding: 0;
}

#adminContent .sw-dpa-integration table.sw-dpa-integration-table {
    border-collapse: collapse;
}

#adminContent .sw-dpa-integration-table {
    width: 100%;
    max-width: 700px;
}

#adminContent p {
    font-size: small;
}

.dpaEstablishedIntegrationOptions .spinner {
    background: url('/Orion/images/loading_gen_16x16.gif') no-repeat;
    padding-left: 20px;
}

.dpaEstablishedIntegrationOptions {
    padding-bottom: 10px;
    max-width: 400px;
}

.DPA_spinner {
    background: url('/Orion/images/animated_loading_sm3_whbg.gif') no-repeat;
    background-size: 16px 16px;
    padding-left: 20px;
    display: inline;
}

.toggleOn {
    cursor: pointer;
}

.toggleOff {
    cursor: pointer;
}

.DPA_testConnectionDiv .DPA_connectionTestSuccess {
    background: url('/Orion/images/ok_16x16.gif') no-repeat;
    background-size: 14px 14px;
    padding-left: 20px;
}

#adminContent .sw-dpa-integration td.sw-dpa-integration-wrap .DPA_testConnectionStatusRow td{
    padding-top: 0px;
    padding-bottom: 0px;
}

#adminContent .sw-dpa-integration td.sw-dpa-integration-wrap {
     padding: 10px;
}

.DPA_connectionTestSuccessRow td {
    background-color: rgb(214, 246, 198) !important;
}

#adminContent .sw-dpa-integration tr.DPA_IntegrationSetupButtons td {
    text-align: center;
    padding-top: 10px;
}

#adminContent .sw-dpa-integration tr.DPA_IntegrationSetupButtons td a {
    margin: 0 3px;
}

.DPA_testConnectionDiv .DPA_cancelTestButton {
    background:none;
    border:none; 
    padding:0;
    color: #333333;
    text-decoration:underline;
}

.DPA_testConnectionDiv .DPA_connectionTestFailure {
    background: url('/Orion/images/warning_16x16.gif') no-repeat;
    padding-left: 20px;
    background-size: 14px 14px;
    max-width: 180px;
}

.DPA_connectionTestFailureRow td{
    background-color: rgb(254, 238, 144) !important;
}

#dpaIntegrationWizardSubmitHint {
    position: relative;
    top: -10px;
}

.dpaIntegrationWizardMainBlock {
    padding-top: 0px;
    overflow: auto;
}

.dpaIntegrationWizardForm {
    float: left;
}

input.DPA_HighlightedField {
    border: 2px solid #ff0000;
}

.sw-dpa-integration .sw-suggestion a {
    font-weight: normal;
}

.dpaTabAvailability {
    margin: 0 0 15px 11px;
}