﻿#DPA_IntegrationSetupModal {
    padding: 0;
}

#DPA_IntegrationSetupModal .DPA_IntegrationSetupForm {
    float: left;
    display: inline-block;
    padding: 15px;
    width: 500px
}

#DPA_OrionHostnameWrapper .DPA_Checkbox {
    display: block;
    padding: .5em 0;
}

#DPA_OrionHostnameWrapper .DPA_Checkbox label {
    padding-left: .5em;
}

#DPA_IntegrationErrorMessageWrapper, #DPA_OrionHostnameErrorWrapper {
    padding-bottom: .5em;
}

#DPA_IntegrationSetupModal .DPA_InputRow {
    padding: .5em 0;
}

#DPA_IntegrationSetupModal .DPA_InputLabel {
    display: inline-block;
    width: 140px;
    vertical-align: top;
    line-height: 27px;
    font-weight: bold;
}

#DPA_IntegrationSetupModal .DPA_Input {
    display: inline-block;
    width: 325px;
}

#DPA_IntegrationSetupModal .DPA_Input input {
    padding: 1px;
    height: 23px;
    width: 100%;
}

#DPA_IntegrationSetupModal .DPA_ServerAddress, #DPA_IntegrationSetupModal .DPA_Displayname, #DPA_IntegrationSetupModal .DPA_OrionHostname {
    width: 325px;
}

#DPA_IntegrationSetupModal .DPA_Port input {
    width: 70px;
}

#DPA_IntegrationSetupModal .DPA_UserName, #DPA_IntegrationSetupModal .DPA_Password {
    width: 180px;
}

#DPA_OrionHostnameWrapper .DPA_HelpBlock {
    display: inline-block;
}

.DPA_QstnIcon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('/Orion/images/Icon.Help.gif') no-repeat top left;
    cursor: pointer;
    position: relative;
    top: 3px;
    left: 8px;
}

#DPA_IntegrationSetupModal .DPA_CredentialsHeader {
    font-size: 13px;
    text-transform: uppercase;
    padding: 1em 0 .5em
}

#DPA_IntegrationSetupModal .DPA_TestConnectionDiv {
    padding: .5em 0 .5em 143px;
}

#DPA_IntegrationSetupModal .DPA_TestConnectionStatus {
    padding: .5em 0;
}

#DPA_IntegrationSetupModal .DPA_Spinner {
    background: url('/Orion/discovery/images/spinner.gif') no-repeat;
    background-size: 16px 16px;
    padding-left: 20px;
}

#DPA_IntegrationSetupModal .DPA_SideBar {
    float: right;
    width: 300px;
    padding: 21px 15px 15px 0;
    vertical-align: top;
}

#DPA_IntegrationSetupModal .DPA_SideBar .DPA_HintTitle {
    font-weight: bold;
    display: inline-block;
    padding-left: 5px;
    color: #434445;
    font-size: 13px;
}

#DPA_IntegrationSetupModal .DPA_SideBar .DPA_HintDescription {
    font-size: small;
}

#DPA_IntegrationSetupModal .DPA_SideBar .DPA_HintLink {
    font-size: small;
}

#DPA_IntegrationSetupModal .DPA_SideBar p {
    padding: 5px 0;
}

#DPA_IntegrationSetupModal .DPA_BottomBar {
    border-top: 1px solid #D5D5D5;
    padding: 15px 345px 15px 15px;
    text-align: right;
    clear: both;
}

#DPA_IntegrationSetupModal .DPA_BottomBar a.sw-btn {
    padding: .5em 1em;
    margin-left: 15px;
    min-width: 80px;
    text-align: center;
}