﻿.x-menu-item-text img.filter-icon {
    display: none;
}

.x-grid3-hd-row td.ux-filtered-column img.filter-icon {
    background-image: url(/Orion/images/CPE/filter_applied.png);
}

.x-grid3-hd-row td.ux-filtered-column img.filter-icon:hover {
    background-image: url(/Orion/images/CPE/filter_applied_hover.png);
}

.x-grid3-hd-row img.filter-icon {
    background-image: url(/Orion/images/CPE/filter.png);
}

.x-grid3-hd-row img.filter-icon:hover {
    background-image: url(/Orion/images/CPE/filter_hover.png);
}

.x-grid3-cell-inner a span{
    display: inline !important;
}

.x-grid3-cell-inner a {
    color: #336699;
    text-decoration: none !important;
}

.x-grid3-row-alt {
    background: #fafafa;
}

.x-tip-header-text {
    white-space: nowrap;
}

.ext-ie7 .sw-cp-multiedit-control-table .x-form-text {
    margin: 0px !important;
}

.error {
    border: 2px solid red;
}

#gridCell div#Grid {
    width: 100%;
}

#integrationGrid td {
    padding: 0px 0px 0px 0px !important;
    vertical-align: middle;
}

.no-border .x-table-layout-ct, .panel-no-border .x-panel-body-noheader {
    border: none !important;
}

.panel-border {
    border: solid 1px #D0D0D0 !important;
}

.panel-bg-gradient .x-panel-body-noheader {
    background: #F9F9F9 url(/Orion/js/extjs/resources/images/default/grid/grid3-hrow.gif) repeat-x scroll 0 bottom;
    padding: 5px 5px 5px 5px;
}

.hide-header .x-grid3-header {
    display: none;
}

.x-grid3-row-alt {
    background-color: #EBF3FD;
}

.x-tip-body {
    white-space: nowrap !important;
}

.x-layout-split {
    width: 3px;
}

#relationshipsGrid .x-grid3-row table tr td div {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#relationshipsGrid .x-grid3-row .x-grid3-row-checker {
    margin-top: 4px;
}

/*For own grid rendering*/
.sw-rowInfo {
    background-color: #E6F5FF;
}

.sw-rowWarning {
    background-color: #FDE2BB;
}

.sw-rowError {
    background-color: #F8BABF;
}

.sw-filter-notifications div {
    display: inline-block;
}

.sw-notification {
    margin-right: 5px;
    background: #fffdcc;
    border: 1px solid #eaca7f;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    zoom: 1;
    padding: 5px 6px 6px 5px;
    color: #000;
    font-size: 11px;
}

.sw-notification a {
    color: #336699;
}

.sw-filter {
    margin-right: 5px;
    background: #fffdcc;
    border: 1px solid #eaca7f;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    zoom: 1;
    padding: 5px 10px 6px 30px;
    color: #000;
    font-size: 11px;
}

.sw-filter .sw-filter-icon {
    position: absolute;
    left: 10px;
    top: 4px;
    height: 16px;
    width: 16px;
    background: url(/orion/images/cpe/filter_applied.png) top left no-repeat;
}

.sw-relationshipsGrid {
    /*clear: left;*/
    padding-top: 8px;
    min-height: 200px;
    height: auto;
    width: auto;
}

#integrationGrid {
    clear: right;
}

#integrationGrid .x-panel-bbar table {
    width: auto;
}

#integrationGrid .x-grid3-cell-inner {
    height: 23px !important;
    line-height: 23px !important;
    vertical-align: middle;
}

#integrationGrid .x-grid3-cell-inner img {
    margin-top: 2px;
    margin-right: 3px;
}

#integrationGrid .x-grid3-cell-inner a span {
    display: inline-block;
    margin-top: 1px;
}

#integrationGrid .x-grid3-cell-inner .sw-btn {
    margin-top: 2px;
}

#integrationGrid .cellStatusIcon {
    position: relative;
    top: 2px;
}

#integrationGrid .x-grid3-body .x-grid3-td-checker {
    background-image: none;
}

#integrationGrid .cellActions {
    text-align: right;
}

.DPA_IntegrationWizardContentWrapper p {
    font-size: 12px;
    padding: 10px 0 3px;
}

.DPA_IntegrationWizardContentWrapperLeft {
    width: 75%;
    min-width: 900px;
}

.DPA_IntegrationWizardContentWrapperRight {
    width: 25%;
    padding-left: 15px !important;
}

.DPA_IntegrationWizardContentWrapperRight .DPA_HintTitle {
    font-weight: bold;
    display: inline-block;
    padding-left: 5px;
    color: #434445;
    font-size: 13px;
}

.DPA_IntegrationWizardContentWrapperRight .DPA_HintDescription {
    padding-top: 10px;
    display: block;
}

.DPA_IntegrationWizardContentWrapperRight .DPA_HintLink {
    padding-top: 10px;
    display: block;
}

.DPA_IntegrationWizardContentWrapperRight .DPA_HintImage {   
    text-align: center;
    padding-top: 10px;
}

.DPA_IntegrationWizardContentWrapperRight .DPA_HintImage img {
    border: 1px solid #dde5ed;
    width: 92%;
}

.DPA_IntegrationWizardContentWrapperRight .relationshipStatusLegend {
    margin: 10px 0 0 0;
    padding: 10px;
    border-top: solid 1px #494a4b;
}

.DPA_IntegrationWizardContentWrapperRight .relationshipStatusLegend h4 {
    font-size: 13px;
    color: #494a4b;
    margin: 5px 0 10px;
}

.DPA_IntegrationWizardContentWrapperRight .relationshipStatusLegend table {
    background-color: #fff;
    padding: 10px;
    width: 100%;
}
.DPA_IntegrationWizardContentWrapperRight .relationshipStatusLegend table tr td:first-child {
    width: 22px;
}
.DPA_IntegrationWizardContentWrapperRight .relationshipStatusLegend table tr td {
    padding:0 1px !important;
}

.DPA_IntegrationWizardContentWrapper .DPA_ButtonBar span {
    margin-right: 15px;
    font-size: 11px;
    display: inline-block;
    height: 16px;
}

.DPA_IconButton { 
    cursor: pointer;        
}

#mainGridPanel .x-tbar-loading {
    background-image: url("/Orion/js/extjs/resources/images/default/grid/refresh.gif") !important;
}

#DPA_TopButonBar.sw-btn-bar-wizard {
    padding-bottom: 12px;
    border-bottom: 2px solid #d2d2d2;
}

#adminContent #discoverywizardcontent h1 {
    padding-bottom: 15px;
}

.DPA_FindNewRelationShipsIcon {
    background: url(/Orion/DPA/images/find-new-relationships.gif) no-repeat left;
    padding-left: 22px; 
}

.DPA_LegendBar {
    margin: 10px 0;
    font-size: 11px;
}

.DPA_BubbleSuggestion {
    float: right;   
}

.DPA_Clear {
    clear: both;
}

.DPA_GridComboTitle {
    display: inline-block;
    padding: 7px 0 3px;
    font-size: 12px;
}

.DPA_IW_SidePanel .x-panel-header {
    background-image: none;
    border-bottom: none;
    background: #f5f5f5;
}

.DPA_IW_SidePanel .x-panel-header .x-panel-header-text {
    font-weight: normal;
    font-size: 12px;
}

.x-toolbar, .x-grid3-header {
    background: #EAEAEA;
}

.x-panel-body {
    border-color: #EAEAEA;
}

.x-grid3-row-alt {
    background-color: #F6F6F6 !important;
}

#integrationGrid .x-grid3-row {
    border: 1px solid;
}

#integrationGrid .x-grid3-row,
#integrationGrid .x-grid3-row a.DPA_CellEntityNameWithIcon, 
#integrationGrid .x-grid3-row a.DPA_CellEntityNameWithIcon:hover, 
#integrationGrid .x-grid3-row a.DPA_CellEntityNameWithIcon:active, 
#integrationGrid .x-grid3-row a.DPA_CellEntityNameWithIcon:visited {
    color: black !important;
    border-color: #ededed !important;
    border-top-color: #fff !important;
}

#relationshipsGrid .x-grid3-row {
    background-color: transparent !important;
}

#integrationGrid .x-grid3-row-alt {
    background-color: #F6F6F6 !important;
}

.DPA_RelationshipStatusCell div.x-grid3-cell-inner {
    text-align: left;
}

.DPA_RelationshipStatusCell div.x-grid3-cell-inner img {
    vertical-align: middle;
}

.DPA_RelationshipStatusCell div.x-grid3-cell-inner div {
    width: 23px;
    float: left;
}

.DPA_NodeCellWithNoRelationship div.x-grid3-cell-inner {
    padding-left: 11px;
    color: #999;
}

.DPA_RelationshipIcon, .DPA_RelationshipUknownIcon {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 2px;
}

.DPA_RelationshipIcon {
    background: url('/Orion/DPA/images/relationship-grayedout.png') top left no-repeat;
}

.x-grid3-row-selected .DPA_RelationshipIcon {
    background: url('/Orion/DPA/images/relationship.png') top left no-repeat;
}

.DPA_RelationshipUknownIcon {
    background: url('/Orion/DPA/images/unknown-relationship.png') top left no-repeat;
}

#adminContent p {
    width: 100%;
}

.DPA_NoRelationshipFound {
    color: #808080;
}

.DPA_IntegrationWizardSortableTable .sw-custom-query-table {
    width: 100%;
    border: solid 1px #d0d0d0;
}

.DPA_IntegrationWizardSortableTable .sw-custom-query-table .HeaderRow td.ReportHeader {
    font-size: 13px !important;
    text-transform: none !important;
}

.DPA_IntegrationWizardSortableTable .sw-custom-query-table tr {
    height: 30px;
}

.DPA_IntegrationWizardSortableTable .sw-custom-query-table tr .ReportHeader {
    background-color: #EAEAEA;
}

.DPA_IntegrationWizard_Review_Table .sw-custom-query-table tbody tr td.ReportHeader.DatabaseInstanceName {
    min-width: 300px;
    max-width: 400px;
}

.DPA_IntegrationWizard_Review_Table td.DatabaseInstanceName div {
    min-width: 280px;
    max-width: 380px;
}

.DPA_IntegrationWizard_Review_Table .sw-custom-query-table tbody tr td.ReportHeader.DatabaseType {
    width: 100px;
}

.DPA_IntegrationWizard_Review_Table .sw-custom-query-table tbody tr td.ReportHeader.RelationshipStatus {
    width: 140px;
}

.DPA_IntegrationWizard_Review_Table .sw-custom-query-table tbody tr td.ReportHeader.NodeName {
    width: 180px;
}

.DPA_IntegrationWizard_Review_Table td.NodeName div {
    min-width: 180px;
    max-width: 210px;
}

.DPA_IntegrationWizard_Review_Table .sw-custom-query-table tbody tr td.ReportHeader.ApplicationDatabasesCount {
    width: 160px;
}

.DPA_IntegrationWizard_Review_Table .sw-custom-query-table tbody tr td.ReportHeader.ApplicationName {
    min-width: 300px;
    max-width: 350px;
}

.DPA_IntegrationWizard_Review_Table td.ApplicationName div {
    min-width: 280px;
    max-width: 350px;
}

#adminContent .DPA_IntegrationWizardSortableTable .sw-custom-query-table tbody tr td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    vertical-align: middle;
}

#adminContent .DPA_IntegrationWizard_Review_Table .sw-custom-query-table tbody tr td.RelationshipStatus span {
    display: block;
    margin-top: 4px;
}

#adminContent .DPA_IntegrationWizard_Review_Table .sw-custom-query-table tbody tr td.RelationshipStatus div {
    float: left;
    width: 23px;
}

#adminContent .DPA_IntegrationWizard_Review_Table .sw-custom-query-table tbody tr td.RelationshipStatus img {
    vertical-align: middle;
}

#adminContent .DPA_IntegrationWizard_Review_Table .sw-custom-query-table div.x-grid3-cell-inner {
    padding-bottom: 0px;
}

#adminContent .DPA_IntegrationWizard_Review_Table .sw-custom-query-table tbody tr td.NodeName span a {
    color: black;
    text-decoration: none;
    cursor: default;
}

#adminContent .DPA_IntegrationWizard_Review_Table .sw-custom-query-table tbody tr td.NodeName span a img {
    cursor: default;
}

#adminContent .DPA_IntegrationWizard_Review_Table .sw-custom-query-table tbody tr td.ApplicationName span a {
    color: black;
    text-decoration: none;
    cursor: default;
}

#adminContent .DPA_IntegrationWizard_Review_Table .sw-custom-query-table tbody tr td.ApplicationDatabasesCount div {
    font-size: 12px;
}

#adminContent .DPA_IntegrationWizard_Review_Table .DPAReviewGridTitle {
    padding: 5px 0px 10px 0px;
}

#adminContent .DPA_IntegrationWizard_Review_Table .DPAReviewGridTitle h3 {
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
}

#adminContent .DPA_IntegrationWizard_Review_Table .DPAReviewGridTitle .DPA_BackButton {
    float: right;
    vertical-align: top;
}

.showHelpPanel {
    float: right;
    margin-right: 0px !important;
    border: 0px !important;
    background: transparent !important;
}

.showHelpPanel a {
    text-decoration: none;
}

.closeHelpPanelButton img {
    position: absolute; 
    top: 4px;
    right: 4px;
    height: 10px;
    width: 10px;
}
.DPA_Dotted_Underline {
    border-bottom: 1px dotted;
    cursor: default;
}

.x-tip-body ul {
    list-style-type: disc;
    list-style-position: inside;
}

#mainGridNotificationBottomBar {
    background: #fcf8e0;
}

.DPA_BbarAppsWithoutRelLink:before {
    content: '» ';
}

.DPA_BbarAppsWithoutRelLink:hover {
    color: #2d5c77;
}

#mainGridNotificationBottomBar .sw-suggestion {
    border: none;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 5px;
}

#mainGridNotificationBottomBar .DPA_BbarMessage {
    font-size: 12px;
    padding-left: 25px;
    margin-right: 20px;
}

.DPA_BbarInfo a, .DPA_BbarInfo a:active, .DPA_BbarInfo a:visited {
    text-decoration: none !important;
    margin-left: 4px;
}

.DPA_NavigationButtons {
    margin-top: 10px;
    width: 100%;
    text-align: right;
}