﻿#contents
{
    width:80%;
    margin-top: 10px;  
}
    
h1 
{
    font-size: 12pt;
}

#textareaDiv textarea
{
    width: 100%;
    border: 1px solid #8FB3D4;
    font-family: Monaco, 'Courier New', Courier, monospace;
    font-size: 11px;
    padding: 2px;
    width: 100%;        
}
#textareaDiv
{
    padding: 10px 0px;
}
    
#results 
{
    padding-top: 20px;
}
    
.x-grid3-row-alt 
{
    background-color: #E4F1F8;
}
    
#entities {
    width: 200px;
}

.queryOptions input {
    margin:3px 0;
}

.leftQueryOptions {
    float:left;
    width:250px;
}
    .leftQueryOptions input {
        text-align:right;
    }
.rightQueryOptions {
    margin-left:270px;
    width:250px;
}
    .rightQueryOptions input[type='text'] {
        width:200px;
    }
    .rightQueryOptions input[type='button'] {
        width:100px;
    }
.clr {
    clear:both;
}