﻿.DPA_ManageRelationships h1 {
    font-size: 18px;
}

.DPA_ManageRelationships .DPA_ManageRelationshipsContent {
    margin-top: 10px;
}

.DPA_ManageRelationships .DPA_MainContent {
    width: 100%;
    margin: 0 0 10px;
}

.DPA_ManageRelationships.DPA_WithHelpPanel .DPA_MainContent .DPA_Grid {
    float: left;
    width: 75%;
}

.DPA_ManageRelationships.DPA_WithHelpPanel .DPA_MainContent .DPA_Sidebar {
    float: right;
    width: 24%;
}

.DPA_ManageRelationships .DPA_MainContent .DPA_Clear {
    clear: both;
}

.DPA_ManageRelationships .DPA_ManagementClientApplicationsSuggestion {
    margin-top: 10px;
}

/*
    Right hint block
*/

.DPA_ManageRelationships .DPA_RightBlockHint {
    margin-top: 8px;
}

.DPA_ManageRelationships .DPA_RightBlockHint .DPA_HintImage img {
    border: 1px solid #dde5ed;
    width: 90%;
}

.DPA_ManageRelationships .DPA_RightBlockHint .DPA_CloseHelpPanelButton img {
    position: absolute; 
    top: 4px;
    right: 4px;
    height: 10px;
    width: 10px;
}

.DPA_ManageRelationships .DPA_RightBlockHint .DPA_HintImage {
    text-align: center;
}

.DPA_ManageRelationships .DPA_MainContent .DPA_HintHelpLinkWrapper {
    position: absolute;
    right: 0;
}

.DPA_ManageRelationships .DPA_MainContent .DPA_HintHelpLinkWrapper .DPA_HintHelpLink {
    float: right;
    margin: 0 5px 0;
    border: 0px;
    background: transparent;
    position: relative;
    top: -35px;
    right:0px
}

.DPA_ManageRelationships .DPA_RightBlockHint .DPA_HintTitle {
    font-weight: bold;
    display: inline-block;
    padding-left: 5px;
    color: #434445;
    font-size: 13px;
}

.DPA_ManageRelationships .DPA_RightBlockHint .DPA_HintDescription {
    font-size: 13px;
}

.DPA_ManageRelationships .DPA_RightBlockHint .DPA_RelationshipStatusLegend {
    margin: 10px 0 0 0;
    padding: 10px;
    border-top: solid 1px #494a4b;
}

.DPA_ManageRelationships .DPA_RightBlockHint .DPA_RelationshipStatusLegend h4 {
    font-size: 13px;
    color: #494a4b;
    margin: 5px 0 10px;
}

.DPA_ManageRelationships .DPA_RightBlockHint .DPA_RelationshipStatusLegend table {
    background-color: #fff;
    padding: 10px;
    width: 100%;
}

.DPA_ManageRelationships .DPA_RightBlockHint .DPA_RelationshipStatusLegend table tr td:first-child {
    width: 22px;
}

#adminContent .DPA_ManageRelationships .DPA_RightBlockHint .DPA_RelationshipStatusLegend table tr td {
    padding:0 1px;
}

.DPA_SimpleProgressContent {
    padding: 5px 15px 10px;
}

.DPA_SimpleProgressContent .DPA_ProgressMessage {
    padding: 10px 0;
}

.DPA_SimpleProgressContent .DPA_ProgressMessage img {
    display: inline-block;
    margin: 0 5px;
    vertical-align: top;
}

#adminContent .DPA_InfoBoxWarning {
    margin-top: 8px;
}

#adminContent .DPA_InfoBoxWarning .DPA_Body p {
    padding: 0;
}

.DPA_ClientRelManagement_ConfirmationCheckBox {
    margin: 3px 0 0;
}

.DPA_ClientRelManagement_ConfirmationCheckBox input {
    vertical-align: middle;
}