﻿.DPA_MonitorStatus {
    background-repeat: no-repeat;
    background-position: center left;

    width: 16px;
    height: 16px;
    padding-left: 20px;
    background-size: 12px 12px;
}

.DPA_MonitorStatus-0 {
    background-image: url(/Orion/DPA/images/MonitorStatusIcons/arrow_up_green.png);
}

.DPA_MonitorStatus-1 {
    background-image: url(/Orion/DPA/images/MonitorStatusIcons/arrow_down_blue.png);
}

.DPA_MonitorStatus-2 {
    background-image: url(/Orion/DPA/images/MonitorStatusIcons/loading.gif);
}

.DPA_MonitorStatus-3 {
    background-image: url(/Orion/DPA/images/MonitorStatusIcons/loading.gif);
}

.DPA_MonitorStatus-4 {
    background-image: url(/Orion/DPA/images/MonitorStatusIcons/red_down_arrow.png);
}

.DPA_MonitorStatus-5 {
    background-image: url(/Orion/DPA/images/MonitorStatusIcons/arrow_down_blue.png);
}

.DPA_MonitorStatus-6 {
    background-image: url(/Orion/DPA/images/MonitorStatusIcons/not-licensed-sm.png);
}

.DPA_MonitorStatus-7 {
    background-image: url(/Orion/DPA/images/MonitorStatusIcons/not-licensed-sm.png);
}
