﻿.ui-dialog.DPA_PictureModal {
    padding: 0;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}

div.ui-dialog.DPA_PictureModal div.ui-dialog-titlebar {
    right: 0;
    position: absolute;
    width: 34px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    margin: 0;
    padding: 0 0 2px 0;
}

div#DPA_PictureModal {
    top: 36px;
    padding: 0 0 2px;
}

