﻿#DPA_RemoveIntegrationDialog {
    padding: 0;
}

#DPA_RemoveIntegrationDialog .DPA_Content {
    padding: 5px 15px 10px;
}

#DPA_RemoveIntegrationDialog .DPA_Content .DPA_Icon {
    background-image: url('/Orion/images/NotificationImages/notification_warning.png');
    width: 32px;
    height: 32px;
    display: inline-block;
    float: left;
}

#DPA_RemoveIntegrationDialog .DPA_Content .DPA_Texts {
    margin-left: 40px;
}

#DPA_RemoveIntegrationDialog .DPA_Content .DPA_ProgressMessage {
    padding: 10px 0;
}

#DPA_RemoveIntegrationDialog .DPA_Content .DPA_ProgressMessage img {
    display: inline-block;
    margin: 0 5px;
    vertical-align: top;
}

#DPA_RemoveIntegrationDialog .DPA_BottomBar {
    margin-top: 10px;
    padding: 15px;
    text-align: center;
    clear: both;
    border-top: 1px solid #D5D5D5;
}

#DPA_RemoveIntegrationDialog .DPA_BottomBar a.sw-btn {
    padding: .5em 1em;
    margin-left: 15px;
    min-width: 80px;
    text-align: center;
}