﻿.DPA_ReviewRelationshipCandidates .DPA_Buttons {
    text-align: right;
    margin: 15px 0 5px;
}

.DPA_ReviewRelationshipCandidates .DPA_Buttons .sw-btn {
    margin-right: 10px;
}

.DPA_ReviewRelationshipCandidates .DPA_Buttons .sw-btn:last-child {
    margin-right: 0;
}
