﻿.DPA_ServerManagement h1 {
    font-size: 18px;
}

.DPA_ServerManagementContent .dpaTabAvailability {
    float: left;
    height: 20px;
    margin: 0 0 1em;
}

.DPA_ServerManagementContent .dpaTabAvailability a {
    height: 20px;
    width: 56px;
    padding: 0 1em 0 0;
}

.DPA_ServerManagementContent .dpaTabAvailability .toggleOn {
    background: url('/Orion/DPA/images/ServerManagement/button_toggle_on.png') no-repeat;
}

.DPA_ServerManagementContent .dpaTabAvailability .toggleOff {
    background: url('/Orion/DPA/images/ServerManagement/button_toggle_off.png') no-repeat;
}

.DPA_ServerManagementContent .dpaTabAvailability span {
    position: relative;
    top: -25%;
}

.DPA_ServerManagementContent .dpaTabAvailability .DPA_spinner {
    height: 20px;
    position: relative;
    top: -25%;
}

.DPA_ServerManagementContent .DPA_InfoBar {
    padding: 1em 0;
}

.DPA_ServerManagementContent .DPA_InfoBar span {
    font-size: 12px;
}

.DPA_ServerManagementContent .DPA_HintHelpLink {
    float: right;
    background: transparent;
    border: none;
    height: 100%;
}

.DPA_ServerManagementContent {
    float: left;
    width: 100%;
}

.DPA_ServerManagementContent .DPA_ServerGrid {
    clear: both;
    padding: 1.5em;
    border: #EAEAEA solid 1px;
}

.DPA_ServerManagement .DPA_AddDpaServerButton {
    background: url('/Orion/images/ExpressionBuilder/add_button.png') no-repeat;
    background-size: 24px 24px;
    display: block;
    padding: 4px .5em 4px 30px;
    margin-bottom: 1em;
    text-transform: uppercase;
    width: 100px;
}

.DPA_ServerManagement .DPA_AddDpaServerButton:hover {
    background: url('/Orion/images/ExpressionBuilder/add_button_hover.png') no-repeat;
    background-size: 24px 24px;
}

.DPA_ServerManagementContent .DPA_ServerTable {
    border: #D5D5D5 solid 1px;
    min-height: 270px;
}

.DPA_ServerManagementContent .DPA_ServerTable tr {
    height: 30px;
    max-height: 30px;
}

#adminContent .DPA_ServerManagement .DPA_ServerTable td {
    padding: 8px;
}

#adminContent .DPA_ServerManagementContent .DPA_SortablePageableTableNoData td {
    height: 310px;
    text-align: center;
    vertical-align: middle;
}

.DPA_ServerManagement .DPA_SideBar {
    float: right;
    width: 24%;
    position: relative;
}

.DPA_ServerManagement .DPA_SideBar .DPA_HintTitle {
    margin: 0;
    font-weight: bold;
    display: inline-block;
    padding-left: 5px;
    color: #434445;
    font-size: 13px;
}

.DPA_ServerManagement .DPA_SideBar .DPA_HintLink {
    font-size: small;
}

.DPA_ServerManagement .DPA_SideBar .sw-suggestion {
    position: absolute;
    top: 80px;
}

.DPA_ServerManagement .DPA_SideBar .DPA_CloseHelpPanelButton {
    position: absolute; 
    top: 4px;
    right: 4px;
    height: 10px;
    width: 10px;
}

.DPA_ServerManagementContent table tr.HeaderRow td.Actions {
    width: 40px;
}

.DPA_ServerManagementContent .DPA_NeedsZebraStripes tr:nth-child(odd) {
    background-color: #F6F6F6;
}

.DPA_ServerManagementContent .sw-custom-query-table tr .ReportHeader {
    background-color: #EAEAEA;
}

#adminContent .DPA_ServerManagementContent table tr td.Actions {
    text-align: right;
}

.DPA_ServerManagementContent .DPA_ErrorWrapper {
    margin: 5px 0 10px 0;
}

.DPA_ServerManagementContent table td.Version {
    width: 100px;
}

.DPA_ServerManagementContent table td.Version .DPA_LoadingIcon {
    background: url('/Orion/images/loading_gen_small.gif') top left no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}