﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EditPageElementsChart.ascx.cs" Inherits="Orion_SEUM_Controls_Charts_EditPageElementsChart" %>

<p> 
    <asp:CheckBox runat="server" ID="useCountCheckbox" />
</p>
