﻿.account-type {
    background-position: 6px center;
    background-repeat: no-repeat;
}
.account-type-Orion {   background-image: url(/Orion/Admin/Accounts/images/icons/orion_generic_icon_orange.gif) !important;}
.account-type-Windows { background-image: url(/Orion/Admin/Accounts/images/icons/windows.gif) !important;}
.account-name {
    white-space: nowrap !important; line-height: 16px;
    color: #000000; font-size: small;
}
.account-role {
    height: 18px !important;
    line-height: 16px !important;
    white-space: nowrap !important;
    color: #000000; font-size: small;
    padding: 0px 0px 0px 18px; margin: 0;
    background: none no-repeat left center;
}
.account-role-hint { font-size: 10px; }
.account-role-inherited { color: #A0A0A0; }

/* account role types */
.account-role-Admin {
    background-image: url(/Orion/IPAM/res/images/sw-account-roles/admin.gif) !important;
}
.account-role-PowerUser {
    background-image: url(/Orion/IPAM/res/images/sw-account-roles/poweruser.gif) !important;
}
.account-role-Operator {
    background-image: url(/Orion/IPAM/res/images/sw-account-roles/operator.gif) !important;
}
.account-role-ReadOnly {
    background-image: url(/Orion/IPAM/res/images/sw-account-roles/readonly.gif) !important;
}
.account-role-NoAccess {
    background-image: url(/Orion/IPAM/res/images/sw-account-roles/hide.gif) !important;
}
.account-role-Clear {
    background-image: url(/Orion/IPAM/res/images/sw-account-roles/clear.gif) !important;
}
.account-role-Admin-in {
    background-image: url(/Orion/IPAM/res/images/sw-account-roles/admin-light.gif) !important;
}
.account-role-PowerUser-in {
    background-image: url(/Orion/IPAM/res/images/sw-account-roles/poweruser-light.gif) !important;
}
.account-role-Operator-in {
    background-image: url(/Orion/IPAM/res/images/sw-account-roles/operator-light.gif) !important;
}
.account-role-ReadOnly-in {
    background-image: url(/Orion/IPAM/res/images/sw-account-roles/readonly-light.gif) !important;
}
.account-role-NoAccess-in {
    background-image: url(/Orion/IPAM/res/images/sw-account-roles/hide-light.gif) !important;
}
.account-role-Clear-in {
    background-image: url(/Orion/IPAM/res/images/sw-account-roles/clear.gif) !important;
}

/* account role selection combobox */
.role-editor-field {
    height: 18px !important;
    line-height: 18px;
    padding: 0 0 0 4px;
    border: 1px solid #C4C4C4;
    background-color: #FFFFFF;
    vertical-align: middle;
    text-align: left;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    float: left;
}
.x-form-focus { border-color: #7EADD9 !important; }

/* toolbar */
.mnu-PowerUser{ background-image: url(/Orion/IPAM/res/images/sw-account-roles/poweruser.gif) !important; }
.mnu-Operator { background-image: url(/Orion/IPAM/res/images/sw-account-roles/operator.gif) !important; }
.mnu-ReadOnly { background-image: url(/Orion/IPAM/res/images/sw-account-roles/readonly.gif) !important; }
.mnu-NoAccess { background-image: url(/Orion/IPAM/res/images/sw-account-roles/hide.gif) !important; }
.mnu-Clear    { background-image: url(/Orion/IPAM/res/images/sw-account-roles/clear.gif) !important; }
.mnu-ChangeRole{background-image: url(/Orion/IPAM/res/images/sw/icon.edit.gif) !important; }
