﻿.sw-helpimg { vertical-align: top; }
.sw-helpimg img { margin-top: -1px; margin-right: 5px; }

#formbox h2 
{
    padding: 0px;
    font-family: Arial,Helvetica,Sans-Serif;
    font-size: 11pt;
    font-weight: normal;
}
#formbox th
{
    border-bottom: thin solid #DDDDDD;
    white-space: nowrap;
    font-size: 8pt;
    font-weight: bold;
    padding: 5px;
}
#formbox td
{
    border-bottom: thin solid #DDDDDD;
    white-space: nowrap;
    font-size: 8pt;
    padding: 5px 5px 5px 0;
    vertical-align: middle;
}
#formbox td input { font-size: 9pt; height: 13pt; padding: 0; margin: 0px; }
#formbox td img { vertical-align: bottom; }
#formbox td.value { padding: 5px 5px 0px 0px; margin: 0px; }
#formbox div.sw-form-item { padding-right: 16px !important; }
#formbox td.fill { width: 100%; }

/* do not flicker in page */
#formbox .x-form-invalid { margin: 1px; }