/* defaults */
body 
{
	font-family: Arial,Helvetica,Sans-Serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	background-color: #dfe0e1 !important;
}

body.sw-chromeless { background: #fff }

a img { border: none; }

h3,h4 { font-weight: bold; margin: 16px 0px 16px 0px; padding: 0px; }
h3 { font-size: 16px; line-height: 16px; }
a img { border: none; }
#adminContent { background-color: #dfe0e1;}
#moduleSettings .column1of2 .ContentBucket:first-child table .LinkColumn{white-space: normal !important}
#copyrightBar { width: 100%; overflow: hidden; }
#copyrightBar div { margin: 0px 10px; padding: 4px 0px; border-top: 1px solid #D1D1D1; color: #979797; font-size: 11px; text-align: center; }
.x-panel #copyrightBar div { border-top: none; }
#bannerbox { height: 48px; background: url(../images/sw/bg.logo.png) top left repeat-x; }
#logo { height: 48px; background: url(../images/sw/ipam.logo.png) top left no-repeat; }
.warningbox { background: url(../images/sw/bg.warning.jpg) top left repeat-x; padding: 9px 6px 6px 8px; zoom: 1; }
.warningbox .inner { padding-left: 40px; background: url(../images/sw/icon.warning.mid.png) top left no-repeat; min-height: 32px; }
.warningbox a { color: #000; }
.hintbox { background: #FDF6C9; padding: 5px; margin-bottom: 12px; overflow: visible; }
.hintbox .inner { min-height:32px; padding-left:20px; }
.hintbox .info { background:transparent url(/orion/ipam/res/images/sw/icon.lightbulb.small.gif) no-repeat scroll left top !important; }
.hintbox .info a { text-decoration: underline !important; }
#bannerbox a { color: #fff; text-decoration: none; }
#bannerbox a:hover { text-decoration: underline; } 
a.backto { color: #336699; text-decoration: none; padding: 4px; }
a.backto:hover { background: #e4f1f8; text-decoration: underline; }
a.backto span.raquo { font-size: 14px; }
a.IpamSettingsLink { margin-left: 5px; padding: 2px 0 2px 20px;
    background: url("/Orion/IPAM/res/images/sw/Page.Icon.MdlSettings.gif") no-repeat left center; }
/* menu images */

.mnu-refresh { background-image: url(../images/sw/icon.refresh.png) !important; }
.mnu-export { background-image: url(../images/sw/icon.export.png) !important; }
.mnu-add { background-image: url(../images/sw/icon.add.gif) !important; }
.mnu-splitScope { background-image: url(../images/sw/icon.dhcp.scope.png) !important; }
.mnu-failover { background-image: url(../images/sw/icon.dhcp.failover.png) !important;}
.mnu-failover-deconfigure {background-image:url(../images/sw/icon.dhcp.failover.deconfigure.gif); background-size:cover; !important}
.mnu-edit { background-image: url(../images/sw/icon.edit.gif) !important; }
.mnu-details { background-image: url(../images/sw/icon.view.details.gif) !important; }
.mnu-delete { background-image: url(../images/sw/icon.delete.gif) !important; }
.mnu-up { background-image: url(../images/sw/icon.up.png) !important; }
.mnu-down { background-image: url(../images/sw/icon.down.png) !important; }
.mnu-checkok { background-image: url(../images/sw/icon.check.png) !important; }
.mnu-check { background-image: url(../images/sw/icon.check.gif) !important; }
.mnu-import { background-image: url(../images/sw/icon.import.png) !important; }
.mnu-importIps { background-image: url(../images/sw/icon.import.upload_ips.gif) !important; }
.mnu-importSubnets { background-image: url(../images/sw/icon.import.upload_subnets.gif) !important; }
.mnu-doImportSubnets { background-image: url(../images/sw/ok_enabled.png) !important; }
.mnu-doNotImportSubnets { background-image: url(../images/sw/Skipped.png) !important; }

.mnu-setstatus { background-image: url(../images/sw/icon.set.ipstatus.gif) !important; }
.mnu-iprange { background-image: url(../images/sw/icon.iprange.gif) !important; }
.mnu-avail-filter { background-image: url(../images/sw/icon.ip.available.filter.gif) !important; }
.mnu-used-filter { background-image: url(../images/sw/icon.ip.used.filter.gif) !important; }
.mnu-availrsvd-filter { background-image: url(../images/sw/icon.ip.reserved.filter.gif) !important; }
.mnu-usedrsvd-filter { background-image: url(../images/sw/icon.ip.reserved.filter.gif) !important; }
.mnu-transient-filter { background-image: url(../images/sw/icon.ip.transient.filter.gif) !important; }
.mnu-conflict-filter { background-image: url(../images/sw/icon.ip.conflict.filter.png) !important; }
.mnu-blocked-filter { background-image: url(../images/sw/icon.ip.blocked.filter.gif) !important; }
.mnu-all-filter { background-image: url(../images/sw/icon.ip.all.filter.gif) !important; }
.mnu-dhcpscope-filter { background-image: url(../images/sw/icon.dhcp.scope.png) !important; }
.mnu-scan { background-image: url(../images/sw/icon.scan.png) !important; }
.mnu-scan-ndp { background-image: url(../images/sw/icon.scan.ndp.gif) !important; }
.mnu-scan-list { background-image: url(../images/sw/icon.scan.subnet.gif) !important; }
.mnu-graph { background-image: url(../images/sw/icon.piegraph.gif) !important; }
.mnu-settings { background-image: url(../images/sw/icon.admin.settings.gif) !important; }

.mnu-group { background-image: url(../images/default/tree/folder.gif) !important; }
.mnu-supernet { background-image: url(../images/sw/icon.supernet.ok.gif) !important; }
.mnu-subnet { background-image: url(../images/sw/icon.subnet.ok.gif) !important; }
.mnu-wizard { background-image: url(../images/sw/icon.wizard.gif) !important; }

.mnu-gprefix6 { background-image: url(../images/sw/icon.GlobalPrefix.ok.gif) !important; }
.mnu-prefix6 { background-image: url(../images/sw/icon.Prefix.ok.gif) !important; }
.mnu-subnet6 { background-image: url(../images/sw/icon.subnet6.ok.gif) !important; }

.mnu-manage-ip { background-image: url(../images/sw/icon.admin.settings.gif) !important; }
.mnu-history { background-image: url(../images/sw/icon.view.history.gif) !important; }

/* subnet page: network size - to be rendered automatically */

.sw-custom-col { }
.tree-limit { background-image: url(../images/sw/icon.warning.gif) !important; }
.x-tree-node-leaf img.x-tree-node-icon{background-image:url(../images/default/tree/folder.gif);}

/* subnet page: status icons */

.ip-avail { background-image: url(../images/sw/icon.ip.available.gif) !important; }
.ip-used { background-image: url(../images/sw/icon.ip.used.gif) !important; }
.ip-availrsvd { background-image: url(../images/sw/icon.ip.reserved.gif) !important; }
.ip-usedrsvd { background-image: url(../images/sw/icon.ip.reserved.gif) !important; }
.ip-transient { background-image: url(../images/sw/icon.ip.transient.gif) !important; }
.ip-blocked { background-image: url(../images/sw/icon.ip.blocked.gif) !important; }
.ip-history { background-image: none !important;}

td.ip-avail, td.ip-used, td.ip-availrsvd, td.ip-usedrsvd, td.ip-transient, td.ip-history, td.ip-blocked { background-repeat: no-repeat; background-position: center center; }
td.status-bg { background-repeat: no-repeat; background-position: 6px center; }
ul.status-bg li { background-repeat: no-repeat; background-position: 6px center; padding-left: 37px; }
td.status-bg div.x-grid3-cell-inner { padding-left: 37px; }

.group-up, .group-ok, .group-warning, .group-critical { background-image: url(../images/default/tree/folder.gif) !important; }
.subnet-ok, .subnet-up { background-image: url(../images/sw/icon.subnet.ok.gif) !important; }
.subnet-warning { background-image: url(../images/sw/icon.subnet.warning.gif) !important; }
.subnet-critical { background-image: url(../images/sw/icon.subnet.critical.gif) !important; }
.supernet-ok, .supernet-up { background-image: url(../images/sw/icon.supernet.ok.gif) !important; }
.supernet-warning { background-image: url(../images/sw/icon.supernet.warning.gif) !important; }
.supernet-critical { background-image: url(../images/sw/icon.supernet.critical.gif) !important; }
.scope-up, .scope-ok { background-image: url(../images/sw/icon.scope.ok.gif) !important; }
.scope-warning { background-image: url(../images/sw/icon.scope.warning.gif) !important; }
.scope-critical { background-image: url(../images/sw/icon.scope.critical.gif) !important; }
.scope-disabled { background-image: url(../images/sw/icon.scope.disabled.gif) !important; }
.scope-unreachable { background-image: url(../images/sw/icon.scope.unreachable.gif) !important; }
img[class^='dhcpserver-'] { width: 16px !important; }
.dhcpserver-up, .dhcpserver-ok { background-image: url(../images/sw/icon.dhcpserver.ok.gif) !important; }
.dhcpserver-warning { background-image: url(../images/sw/icon.dhcpserver.warning.gif) !important; }
.dhcpserver-critical { background-image: url(../images/sw/icon.dhcpserver.critical.gif) !important; }
.dhcpserver-unreachable { background-image: url(../images/sw/icon.dhcpserver.unreachable.gif) !important; }
.dhcpserver-down { background-image: url(../images/sw/icon.dhcpserver.down.gif) !important; }
.dhcpSharedNetwork-up, .dhcpSharedNetwork-ok { background-image: url(../images/sw/icon.dhcp.SharedNetwork.ok.png) !important; }
.dhcpSharedNetwork-warning { background-image: url(../images/sw/icon.dhcp.SharedNetwork.warning.png) !important; }
.dhcpSharedNetwork-critical { background-image: url(../images/sw/icon.dhcp.SharedNetwork.critical.png) !important; }
.dhcpSharedNetwork-unreachable { background-image: url(../images/sw/icon.dhcp.SharedNetwork.unreachable.png) !important; }
.dhcpSharedNetwork-down { background-image: url(../images/sw/icon.dhcp.SharedNetwork.down.png) !important; }
/*icon.dhcp.SharedNetwork*/
.globalprefix-ok, .globalprefix-up { background-image: url(../images/sw/icon.GlobalPrefix.ok.gif) !important; }
.globalprefix-warning { background-image: url(../images/sw/icon.GlobalPrefix.Warning.gif) !important; }
.globalprefix-critical { background-image: url(../images/sw/icon.GlobalPrefix.Critical.gif) !important; }
.prefix-ok, .prefix-up { background-image: url(../images/sw/icon.Prefix.ok.gif) !important; }
.prefix-warning { background-image: url(../images/sw/icon.Prefix.Warning.gif) !important; }
.prefix-critical { background-image: url(../images/sw/icon.Prefix.Critical.gif) !important; }
.subnet6-ok, .subnet6-up { background-image: url(../images/sw/icon.Subnet6.ok.gif) !important; }
.subnet6-warning { background-image: url(../images/sw/icon.Subnet6.Warning.gif) !important; }
.subnet6-critical { background-image: url(../images/sw/icon.Subnet6.Critical.gif) !important; }
.zone-up, .zone-ok { background-image: url(../images/sw/icon.zone.ok.gif) !important; }
.zone-warning { background-image: url(../images/sw/icon.zone.warning.gif) !important; }
.zone-critical { background-image: url(../images/sw/icon.zone.critical.gif) !important; }
.zone-disabled { background-image: url(../images/sw/icon.zone.disabled.gif) !important; }
.zone-unreachable { background-image: url(../images/sw/icon.zone.unreachable.gif) !important; }
.dnsserver-up, .dnsserver-ok { background-image: url(../images/sw/icon.dnsserver.ok.gif) !important; }
.dnsserver-warning { background-image: url(../images/sw/icon.dnsserver.warning.gif) !important; }
.dnsserver-critical { background-image: url(../images/sw/icon.dnsserver.critical.gif) !important; }
.dnsserver-unreachable { background-image: url(../images/sw/icon.dnsserver.unreachable.gif) !important; }
.dnsserver-down { background-image: url(../images/sw/icon.dnsserver.down.gif) !important; }

/* subnet page: visual upgrades */

.sw-tabpanel-top .x-tab-panel-header { border-bottom: none; padding-bottom: 0px; }
.sw-window .x-window-body { background-color: #fff; }
a.sw-grid-click { text-decoration: underline; color: #000; }
a.sw-grid-customlink { text-decoration: underline !important; color: #000 !important; }
a.sw-ip-toolset { color: #000000; text-decoration: none; cursor: default; }

/* title area */

#sw-navhdr td.crumb, #sw-navhdr .links { padding-bottom: 3px; font-size: 9px; vertical-align: top; }
#sw-navhdr td.crumb div, #sw-navhdr .links div { font-size: 100%; }
#sw-navhdr .links { text-align: right; }
#sw-navhdr .links a img { margin: 0px 4px 0px 8px; padding: 0; vertical-align: middle; }
#sw-navhdr td.crumb a, #sw-navhdr .links a { font-size: 11px; line-height: 25px; text-decoration: underline; zoom: 1; color: #000; }
#sw-navhdr .links a { text-decoration: none; }
#sw-navhdr td.crumb a:hover, #sw-navhdr .links a:hover { color: orange; }
#sw-navhdr h1 { font-size: large; }

/* group by */

ul.sw-groupby-list li.sw-selected { border-left: 1px solid #AACCf6; border-right: 1px solid #AACCf6; border-top: 1px solid #AACCf6; line-height: 15px; vertical-align: middle; font-weight: bold; }
ul.sw-groupby-list li.sw-selected div { background: #EBF3FD url(../images/default/grid/grid3-hrow-over.gif) repeat-x scroll left bottom; }
ul.sw-groupby-list li div { zoom: 1; }
ul.sw-groupby-list div { padding: 4px 3px 4px 5px; }

/* valid tips */

html .x-form-valid-tip .x-tip-tc{background:url(../images/sw/ok-tip-corners.gif) repeat-x 0 -12px;padding-top:6px;}
html .x-form-valid-tip .x-tip-tl{background-image:url(../images/sw/ok-tip-corners.gif);}
html .x-form-valid-tip .x-tip-tr{background-image:url(../images/sw/ok-tip-corners.gif);}
html .x-form-valid-tip .x-tip-bc{background:url(../images/sw/ok-tip-corners.gif) repeat-x 0 -18px;height:6px;}
html .x-form-valid-tip .x-tip-bl{background:url(../images/sw/ok-tip-corners.gif) no-repeat 0 -6px;}
html .x-form-valid-tip .x-tip-br{background:url(../images/sw/ok-tip-corners.gif) no-repeat right -6px;}
html .x-form-valid-tip .x-tip-ml{background-image:url(../images/sw/ok-tip-corners.gif);}
html .x-form-valid-tip .x-tip-mr{background-image:url(../images/sw/ok-tip-corners.gif);}
html .x-form-valid-tip .x-tip-body{padding:2px;}
html .x-form-valid-tip .x-tip-body{padding-left:24px;background:transparent url(../images/sw/icon.check.png) no-repeat 2px 2px;}

/* SW ext + forms */

#formbox { margin: 10px; padding: 1em; border: 1px solid #dfdfde; background: #fff; }
body.sw-chromeless #formbox { margin: 0; border: 0; background: none; }
.sw-hastabnav { margin-top: 0px !important; background: url(../images/sw/bg.resourcecontainer.gif) top left repeat-x !important; border-top: none !important; }
.sw-tabnav { margin-right: 10px; }

.sw-form-header { font-weight: bold; margin: 0px 0px 16px 0px; padding: 0px; font-size: 16px; line-height: 16px; }
.sw-form-subheader { font-weight: bold; margin: 8px 0px 12px 0px; }
.sw-form-buttonbar { margin-top: 16px; padding-left: 152px; text-align: left; }
.sw-form-wrapper { width: 100%; table-layout: fixed; }
.sw-form-wrapper-custom { width:650px; border-style: solid solid none solid; table-layout: fixed; }
.sw-form-cols-normal { height: 1px; }
.sw-form-cols-normal td.sw-form-col-checkbox { width: 30px; }
.sw-form-cols-normal td.sw-form-col-label { width: 120px; }
.sw-form-cols-normal td.sw-form-col-control { width: 300px; }
.sw-form-cols-normal td.sw-form-col-comment { }

.sw-form-cols-table { height: 1px; }
.sw-form-cols-table td.sw-form-col-label { width: 210px; }
.sw-form-cols-table td.sw-form-col-label-large { width: 300px; }
.sw-form-cols-table td.sw-form-col-label-custom { width: 210px; border-style:none solid solid none; border-width: 0 1px 2px 0; }
.sw-form-cols-table td.sw-form-col-control { width: 210px; }
.sw-form-cols-table td.sw-form-col-control-custom { width: 290px; border-style:none solid solid none; border-width: 0 2px 2px 0; }
.sw-form-cols-table td.sw-form-col-comment { }
.sw-form-cols-table td.sw-form-col-comment-custom { border-style:none none solid none; border-width: 0 0 2px 0; }
.sw-form-cols-table td.sw-form-col-cell-custom { border-style: none solid solid none; border-width: 1px; padding: 0 5px 0 5px; }
.sw-form-cols-table td.sw-form-col-cell-right-custom { border-style: none none solid none; border-width: 1px; padding: 0 5px 0 5px; }
.sw-form-cols-table td.sw-form-col-cell-add-all { border-style: none; padding: 0 10px 0 5px; }

.sw-form-item, .sw-field-label {font:normal 12px Arial,Helvetica,Sans-Serif;display:block;margin-bottom:4px;zoom:1;position:relative;}
.sw-form-item label { margin-left: 6px; }
.sw-form-item .x-form-text { width: 270px; }
.sw-form-item .sw-halfsize { width: 120px; }
.sw-form-clue { font-style: italic; }

.sw-form-item .x-form-field-wrap .x-form-text { width: 254px; }
.sw-form-dim { opacity: 0.6; filter: alpha(opacity=60); }
.sw-item-disabled-iefix { filter: alpha(opacity=60); }
.sw-form-cb-stretch .x-form-field-wrap { width: auto !important; }
.sw-form-cb-stretch .x-form-field-wrap .x-form-text { width: 100%; }
.sw-form-cb-stretch { margin-right: 28px; }

.sw-form-helpTip { text-decoration:underline; font-style: italic; font-size: 11px}
.sw-form-helpTip tr { padding: 20px }
.sw-form-paddedBottom { padding-bottom: 15px; color: #646464; font-size: 11px; }


/* subnet cidr */

.sw-form-item .sw-withlblnum { width: 148px; }
.sw-form-item .sw-pairedlbl { position: absolute; padding-left: 6px; line-height: 20px; }
div.sw-form-item .sw-pairednum { position: relative; left: 48px; width: 62px; zoom:1; }

/* validation */

div.sw-form-invalid-icon { right: auto; left: auto; top: auto; position: absolute; display: block; margin-left: 4px; }
.sw-form-wrapper div.sw-form-invalid-icon { right: 0px; margin-left: -20px; display: inline; }
/*.sw-form-wrapper .x-form-field-wrap div.sw-form-invalid-icon { margin-left: 0px; margin-right: -20px; }*/
ul.sw-warnings { margin-top: 8px; list-style-type: disc; list-style-position: inside; }
ul.sw-warnings li { min-height: inherit; margin-bottom: 6px; }

/* Import validation */
.sw-import-invalid-first { background-color: red; padding: 1px;}
.sw-import-invalid-first div { background-color: pink; margin: 1px 0 1px 1px;}
.sw-import-invalid-center { background-color: red; padding: 1px;}
.sw-import-invalid-center div { background-color: pink; margin: 1px 0 1px 0;}
.sw-import-invalid-last { background-color: red; padding: 1px;}
.sw-import-invalid-last div { background-color: pink; margin: 1px 1px 1px 0;}
.sw-import-invalid-alone { background-color: red; padding: 1px;}
.sw-import-invalid-alone div { background-color: pink; margin: 1px 1px 1px 1px;}

.sw-import-icon-fail { background: url(../images/default/form/exclamation.gif) center center no-repeat; }
.sw-import-icon-ok { background: url(../images/sw/icon.check.png) center center no-repeat; }

/* SW Lists */
#listbox { background: #fff; }
.checktable td:first-child { text-align: center; }
.sw-cell-bad div { font-weight: bold; color: #e82626; font-family: Arial Black, Arial,Helvetica,Sans-Serif; }

/* checkbox tree */

.x-checkable img.x-tree-check { background-image: url('/orion/ipam/res/images/default/form/checkbox.gif'); background-position: 0px 0px; height: 13px; width: 13px; margin-top: 3px; margin-right: 2px; }
.x-checkable-circle img.x-tree-check { background-image: url('/orion/ipam/res/images/default/form/radio.gif'); }
.x-checkable .x-tree-node-over img.x-tree-check { background-position: -13px 0px; }
.x-checkable .x-tree-selected img.x-tree-check { background-position: 0px -13px; }
.x-checkable .x-tree-node .x-tree-selected { background-color: inherit; }
.x-column-tree .x-checkable .x-tree-selected { background: #D9E8FB none repeat scroll 0 0; background-color: inherit; }
.x-tree-node .x-tree-selected { zoom: 1; }

/*
NEW CSS RULES
*/

/*Add user page -SW windows user datagrid*/
thead>tr>th.windows-ulist-header { background-color: #E5E4D8; border-style:solid; border-width:1px; text-align:left;border-left-color: White; border-left-width: 1px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px;padding-left: 4px;  }
.windows-ulist-normal-row { vertical-align:middle;  font-family:Microsoft Sans Serif; border-style: solid; color: Black; background-color: Window; height:24px; border-color:#dfdfde; border-width:1px; font-size: 8.25pt; padding-left: 4px; padding-right:5px; border-bottom-width:0px; border-left-width: 0px; border-right-width: 0px; border-top-width: 1px; border-color: #dfdfde; }
.windows-ulist-alternate-row { background-color:#ECF6FB; }
.windows-ulist-selected-row { background-color:#FFE89E; border-style:none; }
.windows-ulist-framestyle { width:100%; }

/* For jQuery selectors only */ 
.sw-dialog-url { }

/* fixed disabled items in IE */
.x-item-disabled { padding: 1px 0px\9; }

.x-treegrid-root-table { border-collapse:collapse; }
.x-treegrid-root-table table { border-collapse:collapse; }
.x-treegrid-nowrap {white-space: nowrap !important; }

.sw-treenode-noaccess .x-tree-node-icon {
    -moz-opacity: 0.6;
    opacity: .60;
    filter: alpha(opacity=60);
}
.sw-treenode-noaccess span {
    color: #A0A0A0 !important;
}
.sw-treenode-noselect .x-tree-node-icon {
    cursor: no-drop !important;
}
.sw-treenode-noselect .x-tree-node-anchor {
    cursor: no-drop !important;
}

.sw-div-create-subnets {
	width: 580px;
	margin: 20px 0 0 0;
	background-color:#A9BCF5;
	border-style: solid;
	border-width: 1px;
	display: none;
}

.ArrowedLink span { font-size: 11px; vertical-align: top; }
.ArrowedLink a { color: #336699; text-decoration: none; }
.ArrowedLink a:hover { color: orange; }
.ArrowedLink .noaccess { color: gray !important; }

.filter-row-out {   color: gray !important; background-color: #F5F5F5 !important;}
.filter-row-out a { color: gray !important; background-color: #F5F5F5 !important;}


td.dhcp-scope-chart ul.wrapper, .custom-x-tip div.subnet {
    background: url("../images/sw-resources/chart-bg.gif") repeat scroll 0 0 #EEE;
    height: 13px; line-height: 13px; position: relative;
}
.custom-x-tip td.subnet-width {
    width:13px;
}
td.dhcp-scope-chart li {
    height: 13px; line-height: 13px; position: absolute;
}
td.dhcp-scope-chart li.range, .custom-x-tip div.range {
    background: url("../images/sw-resources/chart-range.gif") repeat scroll 0 0 #49D2F2;
    z-index: 500;
}
td.dhcp-scope-chart li.exclusion, .custom-x-tip div.exclusion {
    background: url("../images/sw-resources/chart-exclusion.gif") repeat scroll 0 0 #006CA9;
    z-index: 1000;
}
td.dhcp-scope-chart li.pool, .custom-x-tip div.pool {
    background: url("../images/sw-resources/chart-pool.png") repeat scroll 0 0 #006CA9;
    z-index: 1000;
}

td.dhcp-scope-chart img, .custom-x-tip img { border: none; width: 0px; height: 0px; }

.custom-x-tip {
    background: none repeat scroll 0 0 #FFFDCC;
    border:1px solid #EACA7F;
    border-radius: 3px;
}
.custom-x-tip td, .custom-x-tip th, .custom-x-tip div.x-grid3-cell-inner {
     height: 13px; line-height: 13px; font-size: 11px; 
}
.custom-x-tip th { font-weight: bold; padding-top: 5px;}
.custom-x-tip td.start { text-align: left; padding-left: 3px; }
.custom-x-tip td.end { text-align: left; }
.custom-x-tip a { color: #336699; text-decoration: underline; }
.custom-x-tip a:hover { color: orange; }
.custom-x-tip div.range, .custom-x-tip div.exclusion, .custom-x-tip div.subnet {
    height: 13px; width: 13px; margin-left: 3px;
}
.custom-x-tip div.r-scopes { text-align: center; }
.custom-x-tip div.r-scopes img { width: 16px; height: 13px; }
.custom-x-tip td.status-bg { background-position: 1px center; }
.custom-x-tip td.status-bg div.x-grid3-cell-inner { padding-left: 22px; }
.custom-x-tip .x-tip-anchor { background-image: url("../images/sw-resources/chart-ttip-anchor.gif") !important; }
.custom-x-tip .r-scopes-hint, .r-no-ranges-hint { color: gray; font: 11px arial,helvetica,sans-serif; }
.custom-x-tip .r-no-ranges-hint { padding-left:22px; }
.custom-x-tip .r-scopes-server { color: black; font: 10px arial,helvetica,sans-serif; }

.scope-list { background-repeat: no-repeat; background-position: 6px center; padding-left: 37px; display: inline; }
.scope-list a:hover{ color: orange !important; }
.scope-list div.scope-ttip{ display: none !important; }
.scope-list-server { background-repeat: no-repeat; background-position: 0px center; padding-left: 16px; }
.x-treegrid-nowrap div.scope-ttip{ display: none !important; }

/* Ninja Tooltip begin */
.TooltipLinkPlace
{
   text-align:right;
}

.TooltipLink
{
    color:#336699;
    font-family: Arial;
    font-size: 11px;
    text-decoration: underline;
    margin-left: 5px;
}
.TooltipLink img
{
    margin-right: 5px;
}

.TooltipIcon
{
    position: absolute; left: 10px; top: 10px; height: 18px; width: 16px;
    background: url(/orion/IPAM/res/images/sw/Ninja_icon_32.png) top left no-repeat;
    border: none;
}
.TooltipTitle
{
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #00a6d9;
    text-align: left;
    padding-top: 5px;
    padding-left: 24px;
}
.TooltipSubTitle
{
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #444444;
    text-align: left;
    padding-left: 24px;
}
.TooltipText
{
    font-family: Arial;
    font-size: 12px;
    color: #444444;
    text-align: left;
    padding-top: 12px;
}
.TooltipFooter
{
    font-family: Arial;
    font-size: 9px;
    color: #444444;
    text-align: left;
    padding-top: 14px;
}
.TooltipArrow
{
    z-index: 92;
    width: 16px;
    height: 17px;
    background-image: url(/orion/IPAM/res/images/sw/Ninja_Tooltip_Arrow.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
}
.TooltipBody
{
    z-index: 91;
    font-style: normal;
    max-width: 300px;
    white-space: normal;
    margin-left: 15px;
    border: 1px solid #848484;
      
      /* fallback */
      background-color: #d2d2d2;
      background-repeat: repeat-x;
  
      /* Safari 4-5, Chrome 1-9 */
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cccccc), to(#f2f2f2));
  
      /* Safari 5.1, Chrome 10+ */
      background: -webkit-linear-gradient(bottom, #cccccc, #f2f2f2);
  
      /* Firefox 3.6+ */
      background: -moz-linear-gradient(bottom, #cccccc, #f2f2f2);
  
      /* IE 10 */
      background: -ms-linear-gradient(bottom, #cccccc, #f2f2f2);
   
      /* Opera 11.10+ */
      background: -o-linear-gradient(bottom, #cccccc, #f2f2f2);
      
      
      -moz-box-shadow: inset 1px 1px 3px rgba(255,255,255,0.75);
      -webkit-box-shadow: inset 1px 1px 3px rgba(255,255,255,0.75);
      box-shadow: inset 0px 0px 3px rgba(255,255,255,0.75);
}
.Tooltip
{
    position: fixed;
    z-index: 90;
}
/* Tooltip end */

.searchby-highlight {
    background: none repeat scroll 0 0 #FFE89E !important;
}
td.searchby-highlight.x-grid3-hd-over .x-grid3-hd-inner,
td.searchby-highlight.sort-desc .x-grid3-hd-inner,
td.searchby-highlight.sort-asc .x-grid3-hd-inner,
td.searchby-highlight.x-grid3-hd-menu-open .x-grid3-hd-inner {
    background: none repeat scroll 0 0 #FFDD00 !important;
}
 .Sibilingcolumn
{
       padding-left:25px;
       height:15px;
       padding:3px;
}
 .parentCol
 {
     padding:3px;
 }

.chartPad
{
 padding-right: 10px; 
 /*width: 20%;*/
}
.dhcp-scope-chart1
{
    overflow:hidden;
}
td.dhcp-scope-chart1 ul.wrapper, .custom-x-tip div.subnet {
    background: url("../images/sw-resources/chart-bg.gif") repeat scroll 0 0 #EEE;
    height: 10px; line-height: 13px; position: relative;
    margin:0px;
}
.custom-x-tip td.subnet-width {
    width:13px;
}
td.dhcp-scope-chart1 li {
    height: 10px; line-height: 13px; position: absolute;padding-right:20px;
}
td.dhcp-scope-chart1 li.range, .custom-x-tip div.range {
    background: url("../images/sw-resources/chart-range.gif") repeat scroll 0 0 #49D2F2;
    z-index: 500;
    padding-right:0px;
}
td.dhcp-scope-chart1 li.exclusion, .custom-x-tip div.exclusion {
    background: url("../images/sw-resources/chart-exclusion.gif") repeat scroll 0 0 #006CA9;
    z-index: 1000;
    padding-right:0px;
}
td.dhcp-scope-chart1 li.pool, .custom-x-tip div.pool {
    background: url("../images/sw-resources/chart-pool.png") repeat scroll 0 0 #006CA9;
    z-index: 1000;
}

td.dhcp-scope-chart1 img, .custom-x-tip img { border: none; width: 0px; height: 0px; }
.Tooltip1
{
     border: 1px solid;
     padding:5px; 
}
.Tooltip1Images
{
    height: 17px;
    width: 27px;
    background-repeat: no-repeat;
}
.Tooltip1Body
{
    font-size: x-small;
    padding: 2px 5px !important;
    background: none repeat scroll 0 0 #F7F5D1;  
}
.parentCol img, .parentCol a 
{ 
    vertical-align: middle; 
}
.hideBtmBorder td{ 
    border-bottom: none !important; 
}
.ImageCell
{
    padding-left:5px;   
}
 .ConflictCol
 {
     padding: 5px 0 0;
     vertical-align:top;      
 } 
 .ConflictImg
{
    height: 16px;
    width: 27px;
    vertical-align:middle;
}
 .UDTCol {
    background-color: #E4F1F8;
    border-top: 1px solid lightgray;
    font-size: 8pt;
    height: 18px;
    padding: 4px;
}

.ConflictMACCol {
	display: inline-block;
   height: 30px;
}

/*dhcp-failover-scope-chart*/
.dhcp-failover-chart {
    font-weight: normal !important;
    font-size: 12px !important;
    text-transform: none !important;
}

.dhcp-failover-scope-chart {
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    min-width: 400px;
}

.dhcp-failover-scope-chart th {
    border-bottom: 1px solid rgb(204, 204, 204);
    line-height: 18px;
    font-size: 14px;
    padding: 7px;
}

.dhcp-failover-scope-chart td {
    line-height: 18px;
    font-size: 12px;
    padding: 7px;
}

.dhcp-failover-scope-chart tr:nth-child(even) {
    background-color: #f5f5f5;
}


.dhcp-failover-scope-chart tr:nth-child(odd) {
    background-color: white;
}

/*dhcp-failover-server-chart*/

.dhcp-failover-server-chart {
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    min-width: 400px;
}

.dhcp-failover-server-chart tbody{
    overflow-Y: auto;
}

.dhcp-failover-server-chart th {
    border-bottom: 1px solid rgb(204, 204, 204);
    line-height: 2px;
    font-size: 14px;
    padding: 7px;
}

.dhcp-failover-server-chart td {
    line-height: 8px;
    font-size: 12px;
    padding: 7px;
}

.dhcp-failover-server-chart tr {
    line-height: 8px;
    font-size: 12px;
    padding: 7px;
}


.dhcp-failover-server-chart tr:nth-child(even) {
    background-color: #eeedf2;
}


.dhcp-failover-server-chart tr:nth-child(odd) {
    background-color: white;
}



.image-centered-with-text {
    vertical-align: sub;
}

.top-aligned {
    vertical-align: top;
}

.top-aligned > div{
    margin-top: 1px;
}
