﻿.x-form-field-wrap .x-form-UpDownBox-trigger {
  background: url("../images/sw/Trigger.UpDownBox.gif") no-repeat scroll 0 0 transparent;
}
.x-form-field-wrap .x-form-UpDownBox-over-up {
    background-position: -17px 0px !important;
}
.x-form-field-wrap .x-form-UpDownBox-click-up {
    background-position: -34px 0px !important;
}
.x-form-field-wrap .x-form-UpDownBox-over-down {
    background-position: -51px 0px !important;
}
.x-form-field-wrap .x-form-UpDownBox-click-down {
    background-position: -68px 0px !important;
}
.x-form-field-wrap .short-size {
    width: 50px !important;
}
.x-form-desc {
    height: 54px !important;
}

#prefixes-list li {
    height:16px;    
    padding-left: 30px;
    font-style: normal;
    margin-top: 12px;
}
#prefixes-list .item-type-GlobalPrefix {
    background: url("../images/sw/icon.GlobalPrefix.ok.gif") no-repeat scroll left center transparent;
}
#prefixes-list .item-type-PrefixAggregate {
    background: url("../images/sw/icon.Prefix.ok.gif") no-repeat scroll left center transparent;
}
#prefixes-list .item-type-IPv6Subnet {
    background: url("../images/sw/icon.subnet6.ok.gif") no-repeat scroll left center transparent;
}
#prefixes-list li .item-name {
    width: 140px;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
}
#prefixes-list li .item-address {
}

.GlobalPrefix-indent {
    padding-left: 30px; background: url("../images/sw/icon.GlobalPrefix.ok.gif") no-repeat scroll left center;
}
.PrefixAggregate-indent {
    padding-left: 30px; background: url("../images/sw/icon.Prefix.ok.gif") no-repeat scroll left center;
}
.IPv6Subnet-indent {
    padding-left: 30px; background: url("../images/sw/icon.subnet6.ok.gif") no-repeat scroll left center;
}
.IPv6Subnet-indent {
    padding-left: 30px; background: url("../images/sw/icon.subnet6.ok.gif") no-repeat scroll left center;
}

.lightbulb-icon { background:transparent url(/orion/ipam/res/images/sw/icon.lightbulb.gif) no-repeat scroll left top; }
#template { font-size:12px; display: table; }
#template a { font-size: 11px; text-decoration: none; color: #336699; }
#template a:hover  { color: orange; }
#template .LinkArrow { font-size: 11px; vertical-align: text-top; }


.exp-hdr {
    cursor: pointer;
    color: #707070;
    font-size: 15px;
    margin: 8px 0;
    position: relative;
    display: block;
}
.exp-hdr span {
    padding-left: 20px;
    position: relative;
}
.exp-collapsed { background: url("/Orion/images/Button.Expand.gif") no-repeat scroll left center; }
.exp-expanded { background: url("/Orion/images/Button.Collapse.gif") no-repeat scroll left center; }

#formbox .group-box { margin-bottom: 20px; padding: 8px 6px; max-width: 876px; }
#formbox .white-bg { background: none repeat scroll 0 0 transparent; }
#formbox .blue-bg { background: none repeat scroll 0 0 #E4F1F8; }
