/* defaults */

body 
{
	font-family: Arial,Helvetica,Sans-Serif;
	background: #fff url(../images/sw/bg.login.png) top left repeat-x;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}

body.sw-chromeless { background: #fff url(../images/sw/bg.pagecontent.png) top left repeat-x; }

h3,h4 { font-weight: bold; margin: 16px 0px 16px 0px; padding: 0px; }
h3 { font-size: 16px; line-height: 16px; }
a img { border: none; }

#copyrightBar { width: 100%; overflow: hidden; }
#copyrightBar div { margin: 0px 10px; padding: 4px 0px; border-top: 1px solid #D1D1D1; color: #979797; font-size: 11px; text-align: center; }
#bannerbox { height: 48px; background: url(../images/sw/ipam.logo.png) top left no-repeat; }
#loginbox { width: 520px; margin: auto auto; border: 1px solid #dfdfde; margin-top: 16px; }
#loginbox div.inner { padding: 1em; background: #fff url(../images/sw/bg.benefits.png) bottom right no-repeat; padding-right: 86px; }
#loginpanel { padding-top: 16px; }

/* error page */
#errbox { margin: 16px 3em 0px 3em; padding: 1em; border: 1px solid #dfdfde; background: #fff; }
#errbox div.topmost { background: url(../images/sw/icon.warning.onwhite.png) top left no-repeat; padding-left: 64px; padding-bottom: 8px; border-bottom: 1px solid #dfdfde; }
#errbox div.buttonbar { margin-top: 16px; padding-top: 8px; border-top: 1px solid #dfdfde; }
div.topmost h3 { margin-top: 0px; }
div.trace { overflow-x: scroll; width: 100%; }
div.trace pre { margin: 0px; padding: 0px 0px 6px 0px; font-family: Consolas, Lucida Console, Courier New; font-size: small; }
#errbox li { padding-bottom: 4px; }