div.sw-res-managelink 
{
	background: #fff url(../images/sw/bg.Resource.ManageSubnets.gif) top left repeat-x;
	height: 120px;
	text-align: center;
}

div.sw-res-dim
{
	opacity: 0.6;
	filter: alpha(opacity=60);
}

/*Top XX Subnets by % IP Address Space Usage*/

.InlineBar h3
{
	background: #eae9e7;
	background-image: url(../images/sw/Gradient-Background.gif);
	margin: 0px;
}

.InlineBar.ok div, .InlineBar.up div
{
	background-color: #00b84a;
	background-image: url(../images/sw/Gradient-Green.gif);
	background-repeat: repeat-x;
}
.InlineBar.warning div
{
	background-color: #f1d200;
	background-image: url(../images/sw/Gradient-Yellow.gif);
	background-repeat: repeat-x;
}
.InlineBar.critical div
{
	background-color: #e22323;
	background-image: url(../images/sw/Gradient-Red.gif);
	background-repeat: repeat-x;
}

/*Thwack resources*/

.IPAMThwackContentBorder {
    border: 1px solid #D5D5D5;
}

.IPAMThwackTableMargin {
    border-spacing: 0;
    padding: 0;
}

.IPAMThwackHeader
{
	background-image: url(/Orion/IPAM/res/images/sw-thwack/ThwackHeader_Background.png);
    background-repeat: repeat;
    border-width: 0px;
    width: 100%;
}

td.NoBorder {
    border-bottom: 0 none !important;
}

.IAPMThwackCaptionColumn {
    padding-top: 2px;
    vertical-align: middle;
    width: 400px;
}

.IPAMThwackTextHeader {
    color: white;
    position: relative;
    text-align: center;
    top: 15px;
    vertical-align: top;
}

.IPAMThwackHeaderImage
{
	border: medium none;
    padding: 0;
}

.IPAMThwackConnectError
{
	color: Red; 
	font-size: 8pt;
}

.IPAMThwackContent TABLE TR TD UL
{
	margin: 3px 0px 3px 30px;
    padding-left: 0px;
}

.IPAMThwack_buttom
{
	color: #2677c5;
}

/* history resources */
.PageButtons { border: 0 none !important; }
.PageButtons td {  border: 0 none !important; padding: 0 2px; }
.PageButtons img { vertical-align: top !important; }
.PageButtons a { white-space: nowrap; font-size: 8pt; }
.PageButtons .disabled { color: silver; }
.PageButtons .spacer { width: 18px; height: 15px; background: url('/Orion/IPAM/res/images/sw-navigation/arrows.gif') no-repeat scroll 0 0 transparent; }
.PageButtons .enabled .prev { background-position: 0px 0px !important; }
.PageButtons .enabled .next { background-position: 0px -15px !important; }
.PageButtons .disabled .prev { background-position: -18px 0px !important; }
.PageButtons .disabled .next { background-position: -18px -15px !important; }
.PageButtons .enabled .all { background-position: 0px -30px !important; }
.PageButtons .disabled .all { background-position: -18px -30px !important; }
.PageSearchContent input { vertical-align: middle; }

/* dhcp server resources */
.ip-count { text-align: right; padding-right: 8px; }
.ip-state { background: none no-repeat scroll 0 0 transparent; }
.ip-avail { background-image: url(../images/sw/icon.ip.available.gif) !important; }
.ip-used { background-image: url(../images/sw/icon.ip.used.gif) !important; }
.ip-availrsvd { background-image: url(../images/sw/icon.ip.reserved.gif) !important; }
.ip-usedrsvd { background-image: url(../images/sw/icon.ip.reserved.gif) !important; }
.ip-transient { background-image: url(../images/sw/icon.ip.transient.gif) !important; }
.ip-history { background-image: none !important;}
.ip-blocked { background-image: url(../images/sw/icon.ip.blocked.gif) !important; }
.dhcpserver-img { background: none no-repeat scroll 0 0 transparent; width: 16px; height: 16px; display:block; }
.dhcpserver-up, .dhcpserver-ok { background-image: url(../images/sw/icon.dhcpserver.ok.gif) !important; }
.dhcpserver-warning { background-image: url(../images/sw/icon.dhcpserver.warning.gif) !important; }
.dhcpserver-critical { background-image: url(../images/sw/icon.dhcpserver.critical.gif) !important; }
.dhcpserver-unreachable { background-image: url(../images/sw/icon.dhcpserver.unreachable.gif) !important; }
.dhcpserver-down { background-image: url(../images/sw/icon.dhcpserver.down.gif) !important; }
