.jcombo-wrap {          white-space: nowrap; position: relative; }
.jcombo-wrap span {     display: block; float: left !important; overflow: hidden; margin-right: -3px; padding-right: 1px; }
.jcombo-wrap a {        text-decoration: none !important }
.jcombo-input {         padding: 0; margin: 0; border: 1px solid #B5B8C8; width: 100%; }
.jcombo-trigger {       border-right: 0; border-left: 0;
                        border-top: 1px solid white; border-bottom: 1px solid #B5B8C8;
                        position: relative; display: block;
                        background: url("../images/sw-resources/trigger.gif") no-repeat scroll 0 0 transparent; cursor: pointer; }
.jcombo-trigger-hover { background-position: -18px 0; }
.jcombo-trigger-down {  background-position: -36px 0; }
.jcombo-content {       display: block; position: absolute; border: 1px solid #B5B8C8; background: white;
                        padding: 0px; margin: 0px; z-index: 1000; overflow: auto;
                        -moz-box-sizing: border-box; min-height: 120px; }
.jmenu-list {           margin: 0px; padding: 0px; list-style: none outside none;
                        background: url("../images/sw-resources/menu-bg.gif") repeat scroll center left #F0F0F0; }
.jmenu-list li {        margin: 0px; padding: 1px; color: #222222; white-space: nowrap;
                        font: 11px Arial,Helvetica,Sans-Serif;
                        -moz-user-select: none; -khtml-user-select: none;}
.jmenu-list-hover {     background: #AACCF6; }
.jmenu-checkbox {       line-height: 22px; padding: 0px 3px 0px 30px; font: 11px Arial,Helvetica,Sans-Serif; line-height: 22px;
                        background-image: none; background-repeat: no-repeat; background-position: 6px 3px;
                        background-color: transparent; background-attachment: scroll; }
.jmenu-checked {        background-image: url("../images/sw-resources/checked.gif"); }
.jmenu-unchecked {      background-image: url("../images/sw-resources/unchecked.gif"); }
.jmenu-list-sep {       font-size: 1px !important; line-height: 1px !important; }
.jmenu-list-sep span {  display: block; margin: 2px 3px; overflow: hidden; line-height: 1px;
                        font-size: 1px; background-color: #E0E0E0; border-bottom: 1px solid #FFFFFF; }
@-moz-document url-prefix() {
    .jcombo-trigger { border-top: 0px; }
}
