﻿.period-selector {
    border: 1px solid black;
    background-color: #FFFFC0;
    padding: 0px;
    margin: 0px;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 9px;
    width: 400px;
}
.period-selector div.group {
    padding: 3px 8px;
}
.period-selector div.group label {
    margin-left: 3px;
}
.period-selector div.group .values
{
    padding-top: 3px;
    padding-left: 16px;
}
.period-selector div.group .values input
{
    -moz-appearance: none;
    border: solid 1px black;
    height: 16px;
}
.period-selector div.group .values select
{
    -moz-appearance: none;
    border: solid 1px black;
    height: 20px;
    position: relative;
}
.period-selector div.errors-list
{
    color: Red;
    font-weight: bold;
}
.period-selector div.errors-list ul {
    list-style: inherit !important;
    margin: 0 !important;
    padding: 5px 0 5px 30px !important;
}

.period-selector div.buttons
{
    padding: 8px 16px;
}

.period-selector input.out {
    color: Black;
    background-color: #CCC;
}
.period-selector select.out {
    color: Black;
    background-color: #CCC;
}

