﻿.x-treegrid-header-inner table {
    border-spacing: 0;
    *border-collapse: collapse !important;
}
.x-treegrid-root-node {
    padding-left: 1px !important;
}
.x-treegrid-root-table {
    border-left: 1px solid #EDEDED !important;
    border-collapse: collapse !important;
    border-spacing: 0 0;
}
.x-treegrid-hd-inner {
    padding: 4px 2px !important;
}
.x-treegrid-hd-checker {
    background-image: url("../images/default/grid/row-check-sprite.gif");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.x-tree-selected .x-treegrid-hd-checker {
    background-position: -25px 0px;
}
.x-treegrid-header .x-treegrid-td-checker {
}
.x-tree-node .x-treegrid-td-checker {
	background-image:url(../images/default/grid/grid3-special-col-bg.gif);
	background-position: 18px 0;
}
.x-tree-node .x-tree-selected .x-treegrid-td-checker {
	background-image:url(../images/gray/grid/grid3-special-col-sel-bg.gif);
}

.x-treegrid-row-checker {
    background-image: url("../images/default/grid/row-check-sprite.gif");
    background-color: transparent;
    background-position: 2px 1px;
    background-repeat: no-repeat;
    width: 100%;
}

.x-tree-selected .x-treegrid-row-checker {
    background-position: -23px 1px;
}

.all-selector { border: none !important; }
.all-selector a { color: #F00; text-decoration: underline; }
.all-selector a:hover { color: #C00; }