.udtPageHeaderTitle
{
    font-family: Arial,Helvetica,Sans-Serif;
    font-size: large;
    font-weight: normal;
    margin: 0;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 30px;
}

.udtPageHeaderLinks
{
    text-align: right;
}

.udtPageHeaderLinks td
{
    font-size: 12px;
}

.udtHelpLink {
    background-image:url("/Orion/images/Icon.Help.gif");
    background-position:left center;
    background-repeat:no-repeat;
    padding:2px 0 2px 20px;
    margin-left: 5px;
}

.udtSettingsLink {
    background-image:url("/Orion/UDT/images/NavigationItems/Button.Settings.gif");
    background-position:left center;
    background-repeat:no-repeat;
    padding:2px 0 2px 20px;
    margin-left: 5px;
}

.udtCredentialsLink, .udtCredentialsLink:visited {
    color: #369;
}

.udtCredentialsLink:hover {
    color: #f99d1c !important;
}

.udtPortDiscoveryLink {
    background-image:url("/Orion/UDT/images/Cmd-Port_discovery.png");
    background-position:left center;
    background-repeat:no-repeat;
    padding:2px 0 2px 20px;
    margin-left: 5px;
}

.udtcustPageLink {
    background-image: url("/Orion/UDT/images/Cmd-Customize-Page.png");
    background-position: center left;
    background-repeat: no-repeat;
    padding: 2px 0px 2px 20px;
}
.udtTitleBarDate {
    padding-top: 5px; 
    font-size: 8pt;
}

.udtAdminDateArea
{
    position: relative;
    top: -10px;
    float: right;
    margin: 0px;
    border-width: 0px;
    font-size: 8pt;
    text-align: right;
    padding-right: 10px;
}

/* UDT TopXX Resources */
.udtTopXXHeaderFirst, .udtProblemHeaderFirst
{
    padding-left: 20px !important;
}

.udtTopXXProperty
{
    padding-left: 5px;
    padding-right: 5px;
}

.udtTopXXPropertyValueRight
{
    float: right;
}

.udtTopXXPropertyValueLeft
{
    float: left;
}
/* UDT TopXX Resources - end*/

.sw-tabs
{
    display: inline;
}


.PortResourceTableEntry {
    border-bottom: 0px !important;
    font-family: Arial, Verdana, Helvetica, sans-serif !important;
    font-size: small !important;
    margin-bottom: 0px;
    margin-top: 0px;
}

.alternateRow
{
	background-color: #e4f1f8;
}