﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="CustomChartControl.ascx.cs" Inherits="Orion_DPA_Resources_DatabaseResponseTime_CustomChartControl" %>
<%@ Register TagPrefix="dpa" TagName="CustomChart" Src="~/Orion/DPA/Controls/CustomChart.ascx" %>
<dpa:CustomChart runat="server" id="ccStack" LoadOnDemand="false" />