﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="DatabaseManagementPlugin.ascx.cs" Inherits="Orion_DPA_Controls_DatabaseManagementPlugin" %>
<div class="dpaManagementPlugin">
</div>

<% if(IsResourceHidden()) { %>
<script type="text/javascript">
    $('.dpaManagementPlugin').closest('.ResourceWrapperPanel').hide();
</script>
<% } %>
