﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ModuleDetails.ascx.cs" Inherits="Orion_DPA_Controls_ModuleDetails" %>

<%@ Register Src="~/Orion/Admin/Details/ModuleDetailsBlock.ascx" TagPrefix="orion" TagName="ModuleDetailBlock" %>

<orion:ModuleDetailBlock ID="DPADetails" runat ="server" />