﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="QueriesFromNode.ascx.cs" Inherits="Orion_DPA_Controls_QueriesFromNode" %>
<orion:Include runat="server" Module="DPA" File="ViewsBundle.css" />
<div>
    <div class="DPA_QueriesFrom">
        <p><%= TextHtml %></p>
    </div>
</div>
