<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ListCharts.ascx.cs" Inherits="CoreListCharts" %>

<asp:DropDownList ID="Charts" runat="server" OnSelectedIndexChanged="SelectedItemChanged">
</asp:DropDownList>
