<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MapEdgeNoTooltipControlDefined.ascx.cs" Inherits="Orion_NetPerfMon_Controls_MapEdgeNoTooltipControlDefined" %>
<div style="height: 60px;">
    <center><%= DefaultSanitizer.SanitizeHtml(Resources.CoreWebContent.WEBDATA_PS0_75) %></center>
</div>