﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MapTooltipCustomizer.ascx.cs" Inherits="Orion_NetPerfMon_Controls_MapTooltipCustomizer" %>
<%@ Register TagPrefix="x" TagName="TooltipCustomization" Src="~/Orion/NetPerfMon/Controls/EntityTooltipCustomizationControl.ascx" %>
<div runat="server" id="mainContainer">

</div>