<%@ Control Language="C#" EnableViewState="false" CodeFile="NodeLink.ascx.cs" Inherits="Orion_NetPerfMon_Controls_NodeLink" %>

<a runat="server" id="lnkNode" class="NetObjectLink">
    <asp:PlaceHolder runat="server" ID="phContents" />
</a>