<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TopXXControl.ascx.cs" Inherits="TopXXControl" %>

<asp:CheckBox ID="topXXEnabled" runat="server"/><%= DefaultSanitizer.SanitizeHtml(Resources.CoreWebContent.WEBDATA_AK0_374) %>
    <asp:DropDownList ID="topXXValue" runat="server">
        <asp:ListItem Value="5"  />
        <asp:ListItem Value="10" />
        <asp:ListItem Value="20" />
        <asp:ListItem Value="30" />
    </asp:DropDownList>