﻿/* Assign Smart Monitor for SQL */
#selectSqlInstanceStep {
    margin: 5px 0 0 15px;
    width: 1032px; 
}
#selectSqlInstanceStep #selectSqlInstanceForm {
    width: 600px;
    float: left;
}
#selectSqlInstanceStep .credentialTips {
    margin-left: 620px;
}
ul#selectSqlInstanceForm>li {
    margin: 10px 0 10px 0;
}
ul#selectSqlInstanceForm>li>label {
    float: left;
    width: 170px;
}
ul#selectSqlInstanceForm>li>input {
    width: 270px;
}
ul#selectSqlInstanceForm>li>input.intInput {
    width: 80px;
}
ul#selectSqlInstanceForm>li>.credentialsContainer {
    width: 430px;
}
td.testButtonRow, td.testRow { text-align: center; }
td.testRow div { height: 20px;margin-bottom: 5px;padding-top: 4px; }
td.testRow div img { height: 16px;vertical-align: bottom;margin-right: 5px; }
td.testRow div.testSuccessful { background-color: #D6F6C6; }
td.testRow div.testFailed { background-color: #FEEE90;color: Red; }
