﻿.chartLegend.APM_TopXxDatabasesByActiveUserConnections div.legendItem.expand div.legendDetail {
    display: none;
}

.chartLegend.APM_TopXxDatabasesByActiveUserConnections div.legendItem div.legendLine div {
    display: inline-block;
}

.chartLegend.APM_TopXxDatabasesByActiveUserConnections div.legendItem div.legendDetail {
    padding-left: 40px;
}

.chartLegend.APM_TopXxDatabasesByActiveUserConnections div.legendItem div.legendLine .usersCount {
    width: 90px;
}

.chartLegend.APM_TopXxDatabasesByActiveUserConnections div.legendLine div.expandIcon {
    width: 20px;
    text-align: center;
    vertical-align: middle;
}

.chartLegend.APM_TopXxDatabasesByActiveUserConnections div.legendDetail {
    margin-bottom: 5px;
}

.chartLegend.APM_TopXxDatabasesByActiveUserConnections .ReportHeader {
    margin-top: 7px;
}

.chartLegend.APM_TopXxDatabasesByActiveUserConnections .connectionsSummary {
    font-size: 8pt;
    font-weight: bold;
    padding-left: 35px;
}

.chartLegend.APM_TopXxDatabasesByActiveUserConnections div.legendDetail table {
    border-collapse: collapse;
}

.chartLegend.APM_TopXxDatabasesByActiveUserConnections div.legendDetail table tbody tr,
.chartLegend.APM_TopXxDatabasesByActiveUserConnections div.legendDetail table tbody tr td,
.chartLegend.APM_TopXxDatabasesByActiveUserConnections div.legendDetail table tbody tr th {
    border-bottom: 1px solid @{R=Core.LiveCss;K=GrooveColor};
}
.chartLegend.APM_TopXxDatabasesByActiveUserConnections div.smallLegendColorIcon {
    width: 12px;
    height: 11px;
    margin: 2px 5px;
}

.chartLegend.APM_TopXxDatabasesByActiveUserConnections div.legendItem div.expandCollapseIcon {
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

.chartLegend.APM_TopXxDatabasesByActiveUserConnections div.legendItem.expand div.expandCollapseIcon {
    background-image: url(/Orion/images/Button.Expand.gif);
}

.chartLegend.APM_TopXxDatabasesByActiveUserConnections div.legendItem.collapse div.expandCollapseIcon {
    background-image: url(/Orion/images/Button.Collapse.gif);
}

.chartLegend.APM_TopXxDatabasesByActiveUserConnections .usersCount, 
.chartLegend.APM_TopXxDatabasesByActiveUserConnections .databaseName,
.chartLegend.APM_TopXxDatabasesByActiveUserConnections .legendDetail {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 8pt;
    padding-left: 3px;
}