﻿.dbSizeByFile td.column0 { width: auto; }
.dbSizeByFile td.column1 { width: 75px; }
.dbSizeByFile td.column2 { width: 60px; padding-right: 10px; text-align: right; }
.dbSizeByFile td.column3,
.dbSizeByFile td.column4 { width: 155px; }
.dbSizeByFile tr td { padding: 9px 4px 6px 4px; }
.dbSizeByFile td.columnFull { padding-left: 15px; }
.dbSizeByFile .percentageBar { float: left; }
.dbSizeByFile .percentageBar .BarBackground { margin-left: 5px; }
.dbSizeByFile .percentageValue { width: 50px; float: left; text-align: right; }
.dbSizeByFile .status_warning { color: red; }
.dbSizeByFile .status_critical { color: red; font-weight: bold; }
.GrayPercentageBar
{
	background-image: url('/Orion/APM/images/Bar.Gray.gif');
	background-position: bottom;
	height: 10px;
	background-repeat: repeat-x;
	background-color: #606060;
}

.activeUserConnections tr.HeaderRow > td:first-child+td+td,
.activeUserConnections tr.HeaderRow > td:first-child+td+td+td,
.activeUserConnections tr.HeaderRow > td:first-child+td+td+td+td  {
    text-align: right;
    padding-right: 15px;
}

.activeUserConnections td.column2,
.activeUserConnections td.column3 {
    text-align: right;
    padding-right: 10px;
    width: 120px;
}

.activeUserConnections td.column4 {
    text-align: right;
    padding-right: 10px;
    width: 90px;
}
td.dbFileName{
    padding: 5px;
    color: #606060;
}
td.statusAndText{
    line-height:16px;
}
td.statusAndText img{
    vertical-align: middle;
}
.topQueries_Expanded {
	display: inline-block;
    overflow: hidden;
	white-space: pre-wrap;
	margin-top: 7px; 
}
.topQueries_Collapsed {
	display: inline-block;
	max-height: 1.4em;
    overflow: hidden;
	margin-top: 7px; 
}

.topXXQueries td.counterColumn { white-space: nowrap; }
.topXXQueries { word-break: break-all;}

.topIndexes td.indexColumn { max-width: 200px; overflow: hidden; display: compact; text-overflow:ellipsis;}
.topIndexes td p.cell { word-break: break-all; margin: 0px; }
.topIndexes td span.percentageBar { padding-left: 5px; padding-right: 5px; }
.topIndexes td span.BarBackground { margin-top: 2px; }
.topIndexes td.fragmentationColumn {
     text-align: right; 
}

.mostExpensiveQueries .queryColumn { max-width: 400px; overflow: hidden; display: block; text-overflow:ellipsis;  }
.mostExpensiveQueries_FilterTable {
	width: auto !important;
	margin: -5px auto 5px auto;
}
.mostExpensiveQueries_FilterTable td {
	border: none !important;
}

.mostExpensiveQueries_ExpanderImg {
    padding-top: 6px;
}

.tblsBySize td.column2 {
     text-align: right; 
     padding-right: 30px;
}
.tblsBySize td span.percentageBar { padding-left: 5px; padding-right: 5px; }
.tblsBySize .BarBackground { margin-top: 2px; }
.tblsBySize .status_warning { color: red; }
.tblsBySize .status_critical { color: red;font-weight: bold; }
 

.counterDetails.biggerPadding td.PropertyHeader {
    vertical-align: top;
    white-space: nowrap;
    width: 120px;
    height: 24px;
    padding-top: 2px;
}

.counterDetails.biggerPadding td.PropertyCurrentValueWarning {
    color: red;
}

.counterDetails.biggerPadding td.PropertyCurrentValueCritical {
    color: red;
    font-weight: bold;
}

.counterDetails.biggerPadding td.PropertyExpertKnowledge div {
    /*max-height: 200px;*/
    overflow: auto;
	white-space: pre-wrap;
}

.sqlErrorLog td
{
    padding-top: 2px;
    padding-bottom: 5px;
}
.sqlErrorLog td.column_DateTime
{
    white-space:nowrap;
    padding-right: 5px;
}

.sqlAgentMonitoringInfo
{
    height: 108px;
    background-color: #E4F1F8;
	background-image: url('/Orion/APM/Images/BlackBox/agent-monitoring-info.png');
	background-position: right top;
	background-repeat: no-repeat;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 203px;
}

.sqlAgentMonitoringInfo h3
{
    padding-bottom: 5px;
}

.sqlAgentMonitoring td
{
    padding-bottom: 2px;
    padding-top:2px;
}

.sqlAgentMonitoring td.column_Outcome {
    padding: 0;
    height: 20px;
}

.sqlAgentMonitoring td.column_Outcome img {
    padding-right: 4px;
}

.sqlAgentMonitoring td.status_critical {
    color: red;
    font-weight: bold;
}

.sqlAgentMonitoring td.status_warning {
    color: red;
}

/* Resources/SqlBlackBox/AgentMonitoring.ascx */
.sqlAgentMonitoring td.column_Duration { text-align: right; padding-right: 2em; }

span.filterNotes { font-size: 8pt; }

span.filterNotes a#filterHelpLink { text-decoration: underline; }