﻿@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello apps!</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
