﻿.dpi-appdetails-table {
    border-spacing: 0;
    border-collapse: collapse;
}

.dpi-appdetails-label {
    white-space: nowrap;
    border-bottom: 1px solid #ffffff !important;
    padding-right: 40px;
}

.dpi-appdetails-icon {
    border-bottom: 1px solid #dadada;
    padding-right: 10px;
}

.dpi-appdetails-value {
    border-bottom: 1px solid #dadada;
    width: 100%;
    padding: 2px 0px;
}