﻿.DpiValueWarning {
    padding-left: 3px;
    padding-right: 3px;
    background-color: #FCD928;
    font-weight: bold;
}

.DpiValueCritical {
    padding-left: 3px;
    padding-right: 3px;
    background-color: #E61929;
    color: white;
    font-weight: bold;
}

.DpiEllipsisText {
    display: inline-block;
    overflow: hidden;
    width: 88%;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    margin-left: 2pt;
}

.allQoeNodes table {
    table-layout: fixed;
}

.allQoeNodes .column6, .allQoeNodes .column7 /*Node, App Columns*/ {
    white-space: nowrap;
}

.allQoeNodes .column8 /* Issues column */ {
    width: 90px;
}

.DpiResourceToolTip {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    margin: 10pt 5pt 10pt 5pt;
}

.DpiResourceToolTipItem {
    display: block;
    margin-top: 4pt;
}

.DpiResourceToolTipNote {
    display: block;
    margin-top: 10pt;
    font-style: italic;
}

.DpiResourceSelectedRow td {
    background-color: #ffe89e;
}