﻿#selectIisServerStep {
    margin: 5px 0 0 15px;
    width: 1032px; 
}
#selectIisServerStep #selectIisServer {
    width: 600px;
    float: left;
}
#selectIisServerStep .credentialTips {
    margin-left: 620px;
}
ul#selectIisServer>li {
    margin: 10px 0 10px 0;
}
ul#selectIisServer>li>label {
    float: left;
    width: 190px;
}

ul#selectIisServer>li>.credentialsContainer {
    width: 430px;
}
.testButtonRow, td.testRow { text-align: center; }
.testRow div { margin-bottom: 5px; padding-top: 4px; }
.testRow div img { height: 16px; vertical-align: bottom; margin-right: 5px; }
.testSuccessful { background-color: #D6F6C6;}
.testFailed { background-color: #FEEE90; color: Red; }
input.apm_IisUrls { width:370px; }
input.apm_IisTarget { width:305px; }