﻿#iisConfirmDialog { display: none; }
	#iisConfirmDialog div, td { font-size: 11px; }
	#iisConfirmDialog a { color: #336699; }
    #iisConfirmDialog a:hover {color:orange;}
	#iisConfirmDialog select[id^=excBb] { width: 220px; }
	#iisConfirmDialog input[id^=excBb] { width: 215px; }

	#iisConfirmDialog .sub-title { font-weight: bold;padding-left: 10px;padding-top: 15px;padding-bottom: 2px }
	#iisConfirmDialog .label { color: black; }
    #iisConfirmDialog .gray-label { color: #666666; }
	
	#iisConfirmDialog #excBbApps {
		margin: 10px 0 10px 0;
	}

	#iisConfirmDialog .separator {
		padding: 3px 0 0 3px;
		background-image: url("/Orion/APM/ExchangeBlackBox/Images/ConfigDialogBgSeparator.png");
	}
	#iisConfirmDialog .separator div {
		padding: 3px 0 3px 20px;
		background-repeat: no-repeat;
	}
	#iisConfirmDialog .separator div.settings-icon {
		background-image: url("/Orion/APM/ExchangeBlackBox/Images/Icon.Settings.png");
	}
	#iisConfirmDialog .separator div.credentials-icon {
		background-image: url("/Orion/APM/ExchangeBlackBox/Images/Icon.Credentials.png");
	}

	#iisConfirmDialog .setup-info td { height: 2px !important; font-size: 2px !important; }
	#iisConfirmDialog .setup-info td div.load { color: #000; padding-top: 5px;}
	#iisConfirmDialog .setup-info td div.status { color: #008000; padding-top: 5px;}
	#iisConfirmDialog .setup-info td div.error { color: #f33;}
    
    #iisConfirmDialog .line { background-color: lightgray;}
    #iisConfirmDialog .horizontal {width: 335px;height: 1px;}
    #iisConfirmDialog .conf-sec{padding-top: 5px}
	#iisConfirmDialog .expander-container{ padding-left: 16px;display: none;}
    #iisConfirmDialog .config-in-progress-msg{ font-size: 11px !important;}
    #iisConfirmDialog .connection-success {text-align: right;display: none;}
    #iisConfirmDialog .connection-fail{text-align: right;display: none;}
    #iisConfirmDialog .config-error-message{ font-family: 'Arial Regular','Arial';font-size: 11px;font-style: normal;font-weight: 400;line-height: normal;text-align: left;}
    #iisConfirmDialog .config-validation-error{color: #f33;}
    .dialog-border {border: 1px solid lightgray; margin-top: 5px; background-color: #F8F8F8; }
    .management-button {
        padding-right: 10px; font-size: 8pt;
    }
    .NodeManagementIcons {
        border: medium none;
        vertical-align: text-bottom;
        margin: 0 !important;
    }
    .inprogress-box {display: none; padding-top: 10px;}