﻿	#iisBbConfigDialog { display: none; }
	#iisBbConfigDialog div, td { font-size: 11px; }
	#iisBbConfigDialog a { color: #336699; }
    #iisBbConfigDialog a:hover {color:orange;}
	#iisBbConfigDialog select[id^=iisBb] { width: 240px; }
	#iisBbConfigDialog input[id^=iisBb] { width: 235px; }
    #iisTestFailMoreContainer a { color: #336699; }
    #iisTestFailMoreContainer a:hover {color:orange;}

	#iisBbConfigDialog .sub-title { font-weight: bold;padding-left: 10px;padding-top: 15px;padding-bottom: 2px }
	#iisBbConfigDialog .label { color: black; }
    #iisBbConfigDialog .gray-label { color: #666666; }
	
	#iisBbConfigDialog #iisBbApps {
		margin: 10px 0px 10px 0px;
	}

	#iisBbConfigDialog .separator {
		padding: 3px 0px 0px 3px;
		background-image: url("/Orion/APM/ExchangeBlackBox/Images/ConfigDialogBgSeparator.png");
	}
	#iisBbConfigDialog .separator div {
		padding: 3px 0px 3px 20px;
		background-repeat: no-repeat;
	}
	#iisBbConfigDialog .separator div.settings-icon {
		background-image: url("/Orion/APM/ExchangeBlackBox/Images/Icon.Settings.png");
	}
	#iisBbConfigDialog .separator div.credentials-icon {
		background-image: url("/Orion/APM/ExchangeBlackBox/Images/Icon.Credentials.png");
	}

	#iisBbConfigDialog .iis-setup-info td { height: 2px !important; font-size: 2px !important; }
	#iisBbConfigDialog .iis-setup-info td div.load { color: #000; padding-top: 5px;}
	#iisBbConfigDialog .iis-setup-info td div.status { color: #008000; padding-top: 5px;}
	#iisBbConfigDialog .iis-setup-info td div.error { color: #f33;}
    
    #iisBbConfigDialog .line { background-color: lightgray;}
    #iisBbConfigDialog .horizontal {width: 495px;height: 1px;}
    #iisBbConfigDialog .conf-sec{padding-top: 5px}
	#iisBbConfigDialog .iis-expander-container{ padding-left: 16px;display: none;}
    #iisBbConfigDialog .iis-config-in-progress-msg{ font-size: 11px !important;}
    #iisBbConfigDialog .iis-test-success {text-align: right;display: none; background-color: #d6f6c6; width: 150px; border: 1px solid #008000; border-radius: 5px; padding: 3px; color: black;}
    #iisBbConfigDialog .iis-test-success-more {text-align: center;display: none; background-color: #d6f6c6; border: 1px solid #008000; border-radius: 5px; padding: 5px; color: black}
    #iisBbConfigDialog .iis-test-fail{text-align: right;display: none; background-color: #facece; width: 150px; border: 1px solid #ce0000; border-radius: 5px; padding: 3px; color: black;}
    #iisBbConfigDialog .config-error-message{ font-family: 'Arial Regular','Arial';font-size: 11px;font-style: normal;font-weight: 400;line-height: normal;text-align: left;}
    #iisBbConfigDialog .config-validation-error{color: #f33;}