﻿.italicText {
    font-style: italic;
}

.rowText {
    padding-left: 5px;
}

.red {
    color: red;
}

.redAndBold {
    font-weight: bold !important;
    color: red !important;
}

.topXXPageReq_AvgExec {
    width: 35%;
    padding-left: 5px;
}

.topXXPageReq_SiteName {
    width: 15%;
    text-align: left;
    min-width: 100px;
    padding-left: 10px;
}

.topXXPageReq_URL {
    width: 50%;
    padding-right: 5px;
}

.topXXPageReq_URL_SiteDetails {
    width: 65%;
    padding-right: 5px;
}

.apm-iis-wpd .PropertyHeader.label {
    white-space: nowrap; padding: 5px; width: 170px;
}
.apm-iis-wpd .Property.value {
    padding: 5px; width: 30px; max-width: 50px;
}
.apm-iis-wpd .Property.status {
    width: 150px; padding: 3px 10px 0px 10px;
}
.bindings_link,.bindings_link:visited {
    color: #2F4668;
}

.iisGrid tbody tr.odd {
    background-color: #F8F8F8;
}

.iisGrid tbody tr td, .iisGrid tbody tr th {
    border: none !important;
    padding: 5px !important;
}
.hidden {
    display: none;
}

.visible {
    display: table-cell;
}

.iisGrid tbody tr {
    vertical-align: top;
}

div.closed, div.opened
{
    margin-top: 3px;
}

div.closed, div.opened {
    background-repeat: no-repeat;
    width: 9px;
    height: 9px;
}

div.opened {
    background-image: url("/Orion/APM/IisBlackBox/Images/expander_opened.png");
}

div.closed {
    background-image: url("/Orion/APM/IisBlackBox/Images/expander_closed.png");
}

tr.even .iisInnerGrid tbody tr {
    background-color: #F8F8F8 !important;
}

tr.odd .iisInnerGrid tbody tr {
    background-color: white !important;
}

.iisInnerGrid .requestDateCell {
    background-color: #EAF0F7 !important;
}

.iisInnerGrid tbody tr td {
  border-top:1pt solid #E2E2E2 !important;
}

.ResourcePagerControl, .ResourcePagerInfo {
    font-size: 11px;
}

/*iis binding resource*/
.apm-iis-bindings-protocol {
    width: 25%
}

.apm-iis-bindings-information {
    width: 50%
}

.apm-iis-bindings-link {
    width: 25%
}

/*site ssl certificate expiration resource*/
table.apm-iis-ssl-cert {
}
table.apm-iis-ssl-cert tbody tr td, table.apm-iis-ssl-cert tbody tr th {
    border-bottom: none;
}
table.apm-iis-ssl-cert .property-header {
    white-space: nowrap; width: 25%;
}
table.apm-iis-ssl-cert .property-info {
    margin-left: 10px; font-weight: bold; font-style: italic;
}
table.apm-iis-ssl-cert .days-remaining {
    width: 1%; padding: 2px 3px 2px 3px; white-space: nowrap;
}

table.apm-iis-ssl-cert .not-valid {
    background-color: #f2e1e0;
}
table.apm-iis-ssl-cert .expired {
    background-color: #f2e1e0;
}
table.apm-iis-ssl-cert .warning {
    color: #000;
    background-color: #fff9df;
}
table.apm-iis-ssl-cert .critical {
    color: #000;
    background-color: #f2e1e0;
}
table.apm-iis-ssl-cert .expired .days-remaining {
    text-align: center;
    background-color: #f00;
}
table.apm-iis-ssl-cert .expired .days-remaining label {
    font-weight: bold; color: #fff;
}
table.apm-iis-ssl-cert .yet-not-valid .days-remaining {
    text-align: center;
    background-color: #cee1f7;
}

.siteDetailsHeader {
    width: 25%;
}

.siteDetailsAuth {
    vertical-align:top;
}

.siteDetailsPadding {
    padding-left: 20px !important;
}

.linearGaugeAvgTimeText {
    min-width: 75px;
    padding-right: 2px;
    vertical-align: top;
    display: inline-block;
    margin-right: 5px;
}

.positionCenter {
    text-align: center;
}

.iisAppItemRow td:first-child {
    padding-top: 2px;
    padding-bottom: 2px;
}
.iisAppItemRow td {
    padding-left: 5px;
    white-space: nowrap;
}
