﻿/* ========== IconCombo class ========== */
@import url("/Orion/AgentManagement/Styles/IconCombo.css");

/*  ========== FileUploadField ==========  */
@import url("/Orion/AgentManagement/Styles/FileUploadField.css");

/*  ========== AgentManagement styles ==========  */
#adminContent h1 
{
    font-size: 18px;
    padding-bottom: 10px;
}

#adminContent p
{
    font-size: small;
    padding: 0 0 1em 0;
    width: 100%;
}

.searchHighlight
{
    background-color: #ffe89e;
}

.AgentManagement_WorkflowButtons
{
    text-align: right;
    margin: 1em;
}

.AgentManagement_AdminDateArea
{
    position: relative;
    left: 0px;
    float: right;
    margin: 0px;
    border-width: 0px;
    font-size: 8pt;
    text-align: right;
    padding-right: 10px;
}

.AgentManagement_ExtJsGrid td
{
    padding: 0px !important;
    vertical-align: middle !important;
	border-left: 1px transparent solid;
    border-right: 1px transparent solid;
}

.AgentManagement_AdminTabs .x-tab-strip-text 
{ 
    font-size: 13px !important; 
}

.AgentManagement_Tab 
{
	border: solid 1px #DFDFDE;
    border-top:medium none !important;
    padding:1em;
    background:white url(/Orion/AgentManagement/images/tab.top.gif) repeat-x scroll left top !important;
}

.AgentManagement_DisabledText, .AgentManagement_DisabledText a
{
    color: #a8a6a1 !important;
    font-style: italic;
}

.AgentManagement_DisabledText a.AgentManagement_EnabledLink
{
    color: #336699 !important;
    font-style: italic;
    text-decoration: underline !important;
}

#AgentManagement_SettingsTable
{
    margin: 5px;
}

#AgentManagement_SettingsTable h2
{
    margin: 0px 0px;
    font-weight: normal;
}

#AgentManagement_SettingsTable td
{
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    vertical-align: middle;
}

#AgentManagement_SettingsTable li 
{
    padding: 3px 0px 3px 0px;
}

#AgentManagement_SettingsTable label
{
    padding-left: 3px;
}
.AgentManagement_SettingDisplayAsNew td:first-child div {
    padding: 0 5px 5px 0;
}
.AgentManagement_SettingDisplayAsNew td:first-child input {
    text-align: right;
    width: 50px;
}

/* grid content */
.x-grid3-body .x-grid3-td-expander
{
    background:transparent;
}

.x-grid3-col-checker
{
    text-align: center;
}

.x-grid-empty
{
    text-align: center;
    font-size: medium;
}

.x-grid3-cell-inner
{
    padding: 5px;
}
.x-grid3-cell-inner img
{
    vertical-align: text-bottom;
}

.x-grid3-col-credential-test {
    padding-top: 0px;
    padding-bottom: 0px;
}

.AgentManagement_NotificationGridRow
{
    background-color: #fff7cd;
}

span.AgentManagement_NewAgentIcon {
    background: #fef173;
    color: #000;
    font-size: 10px;
    padding: 2px 0;
    margin: 0 6px 0 0;
    display: inline-block;
    vertical-align: top;
}

/* ========== Grid search field ========== */
.x-form-search-trigger
{
    background-image: url(/Orion/images/search_button.gif) !important;
    background-position: center center !important;
    height: 20px !important;
    width: 20px !important;
}

.x-form-field-wrap .x-form-clear-trigger
{
    background-image: url(/Orion/images/clear_button.gif) !important;
    background-position: center center !important;
    background-color: #fff;
    height: 20px !important;
    width: 20px !important;
}

/* ========== Manage Agents Data Grid ========== */
/* toolbar icons */
button.AgentManagement_AddAgentButton
{
    background-image:url(/Orion/images/add_16x16.gif) !important;
}
button.AgentManagement_EditAgentButton
{
    background-image:url(/Orion/images/edit_16x16.gif) !important;
}
button.AgentManagement_DeleteAgentButton
{
    background-image:url(/Orion/images/delete_16x16.gif) !important;
}
button.AgentManagement_UpdateAgentButton
{
    background-image:url(/Orion/AgentManagement/Images/Icon.Update.png) !important;
}
button.AgentManagement_ChooseResourcesButton
{
    background-image:url('/Orion/Nodes/images/icons/icon_list.gif') !important;
}
button.AgentManagement_ManageAsNodeButton
{
    background-image:url('/Orion/images/StatusIcons/Small-Up.gif') !important;
}
.AgentManagement_ActiveAgentsNotificationLabel
{
    background-color: transparent;
    margin-right: 1em;
}

/* ========== Edit Agents ========== */
.AgentManagement_EditBox
{
    width: 250px;
}

.AgentManagement_ProxySettings
{
    padding: 5px 5px 5px 26px;
    background-color:#E4F1F8;
}

#AgentManagement_TestDetail
{
    font-weight: normal !important;
}

.AgentManagement_DiagnosticsError 
{
    color: red;
}

#ToggleAdvancedDiv
{
    cursor: pointer;
}

.AgentSettings 
{
    padding: 1em;
}

.AgentSettings label
{
    display: block;
    margin-bottom: 3px;
}

.AgentSettings label input
{
    margin-right: 0.5em;
}

.AgentSettings .AgentManagement_HelpText
{
    margin-left: 0px;
}

.AgentSettings .AgentManagement_EditBox
{
    margin-bottom: 0.5em;
}

#AgentManagement_ToggleAdvancedPassiveDiv, #AgentManagement_ToggleAdvancedActiveDiv, #AgentManagement_ToggleAdvancedDeploymentDiv
{
    cursor: pointer;
}
#AgentManagement_ToggleAdvancedPassiveDiv img, #AgentManagement_ToggleAdvancedActiveDiv img, #AgentManagement_ToggleAdvancedDeploymentDiv img
{
    vertical-align: text-top;
}

#AgentManagement_AgentAdvancedPassiveSettings, #AgentManagement_AgentAdvancedActiveSettings, #AgentManagement_ProxySettings, #AgentManagement_AdvancedDeploymentSettings
{
    margin: 5px 0 0 20px;
}

.AgentManagement_AgentAdvancedSettings
{
    padding: 10px;
    background-color:#E4F1F8;
    margin: 0.5em 0 0.5em 0px;
    width: 400px;
}

.AgentManagement_AgentSettingsSectionLabel
{
    margin: 1em 0 0.5em 0;
    display: block;
}

#ToggleTroubleshootDiv
{
    margin-top: 1em;
    font-weight: bold;
    cursor: pointer;
}

#ToggleTroubleshootDiv img
{
    vertical-align: text-top;
}

#TroubleshootDiv, #TroubleshootDivLoading
{
    padding: 10px;
    background-color:#FFFFFF;
    background-color:#E4F1F8;
}

#AgentManagement_TestResults, #AgentManagement_TestProgress, #TroubleshootDivError
{
    margin-top: 1em;
    display: block;
}

.AgentManagement_EditAgentButtons
{
    margin-top: 1em;
}

#AgentManagement_DiagnosticsStatus
{
    color: #646464;
}

.AgentManagement_ValidationError
{
    display: block;
    margin-bottom: 0.5em;
}

.AgentManagement_AgentTestButton
{
    margin-top: 1em;
}

/* =========== Deployment wizard styling ============= */
#adminContent .sw-AgentManagement-radiolist tr
{
    margin: 15px 0 15px 0px;
}

#adminContent hr.sw-AgentManagement-line 
{
    border: 0;
    color: #ccc;
    background-color: #ccc;
    height: 1px;
}

#adminContent .sw-AgentManagement-nodes-table 
{
    width: 100%;
}

#adminContent .sw-AgentManagement-nodes-table h3 
{
    margin: 10px 0 5px 0;
}

#adminContent .sw-AgentManagement-nodes-table .sw-AgentManagement-first-column 
{
    padding-right: 15px;
}

#adminContent .sw-AgentManagement-nodes-table .sw-AgentManagement-first-column p
{
    margin-top: 10px;
}

#adminContent .sw-AgentManagement-nodes-table .sw-AgentManagement-second-column 
{
    padding: 31px 0 0 0;
    width: 20%;
    min-width: 280px;
}

#adminContent .sw-AgentManagement-nodes-table .sw-AgentManagement-enter-host 
{
    background-color: #e4f1f8;
    padding: 13px;
    vertical-align: middle;
    margin-bottom: 15px;
}

#adminContent .sw-AgentManagement-nodes-table .sw-AgentManagement-locations-header 
{
    background-color: #fffdcc;
    padding: 13px;
    vertical-align: middle;
}

#adminContent .sw-AgentManagement-nodes-table .sw-AgentManagement-locations-header a:hover 
{
    color: Black;
}

#sw-AgentManagement-hosts-list 
{
    background-color: #fffdcc;
    padding-left: 28px;
}

button.AgentManagement_AssignCredentialsButton 
{
    background-image: url('/Orion/images/icon_assign_cred_16x16.gif') !important;
}

.AgentManagement_TestCredentialsButton 
{
    background-image: url('/Orion/AgentManagement/images/test_credentials_16x16.png') !important;
}

.sw-AgentManagement-credential-window 
{
    padding: 10px;
}

.sw-AgentManagement-credential-window table 
{
    margin-top: 12px;
}

.sw-AgentManagement-credential-window table tr.sw-AgentManagement-first-row td
{
    padding-bottom: 15px;
}

.sw-AgentManagement-credential-window table tr td
{
    padding-right: 5px;
}

.sw-AgentManagement-credential-window label,
.sw-AgentManagement-CertificatePasteDialog label
{
    text-transform: none;
    font-weight: normal;
}

.sw-AgentManagement-credential-window-outer {
    background-color: white;
    padding: 10px 10px 0 10px;
}

.sw-AgentManagement-credential-window-outer .x-window-header {
    padding: 7px 3px;
}

.sw-AgentManagement-credential-window-outer .x-window-ml,
.sw-AgentManagement-credential-window-outer .x-window-mr {
    padding: 0;
}

.sw-AgentManagement-credential-window-outer .x-panel-body {
    padding: 10px 3px 0 3px;
}

.sw-AgentManagement-credential-window-outer .x-btn {
    height: 30px;
}

.sw-AgentManagement-credential-window-outer .x-btn button {
    margin-bottom: -1px;
}

.sw-AgentManagement-credential-window-outer .sw-btn-primary {
    background-color: #297994;
    border-color: #297994;
}

.sw-AgentManagement-credential-window-outer .sw-btn-primary button {
    color: white;
}

.sw-AgentManagement-credential-window-outer .sw-btn-primary:hover {
    background-color: #204a63;
    border-color: #204a63;
}

.sw-AgentManagement-credential-window-outer .x-window-mc,
.sw-AgentManagement-credential-window-outer .x-panel-body,
.sw-AgentManagement-CertificatePasteDialog .x-panel-body,
.sw-AgentManagement-CertificatePasteDialog .x-window-mc
{
  border-width: 0;
}

.sw-AgentManagement-CertificatePasteDialog .x-panel-body
{
  padding-top: 3px;
}

.sw-AgentManagement-credential-window .x-form-check-wrap 
{
    display: inline;
}

.sw-AgentManagement-credential-window .x-form-check-wrap  input
{
    vertical-align: middle;
}

.sw-AgentManagement-credential-window a img 
{
    vertical-align: middle;
}

.sw-AgentManagement-credential-window label
{
    margin-right: 5px;
}

.sw-AgentManagement-CredentialsTable .sw-AgentManagement-SudoSelection td {
    padding: 10px 0;
}

.sw-AgentManagement-SudoSelection img {
    vertical-align: text-bottom;
}

.sw-AgentManagement-SudoSection td.firstColumn {
    padding-left: 10px;
}

.sw-AgentManagement-CredentialsTable {
    border-collapse: collapse;
    width: 100%;
}

.sw-AgentManagement-CredentialsTable .firstColumn {
    width: 150px;
    vertical-align: baseline;
    padding-top: 3px;
    line-height: 14px;
}

.sw-AgentManagement-CredentialsTable td {
    padding-bottom: 5px;
}

.sw-AgentManagement-OsTypeRow td {
    border-bottom: 3px solid #204a63;
    padding: 0;
}

.sw-AgentManagement-OsTypeRow input {
    display: none;
}

.sw-AgentManagement-OsTypeRow label {
    background-color: #ffffff;
    color: #297994;
    line-height: 25px;
    padding: 0 10px;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
}

.sw-AgentManagement-OsTypeRow label:hover {
    color: #204a63;
}

.sw-AgentManagement-OsTypeRow label.active,
.sw-AgentManagement-OsTypeRow label.active:hover {
    background-color: #204a63;
    color: #ffffff;
}

.sw-AgentManagement-SpacerRow {
    height: 10px;
}

.sw-AgentManagement-Tooltip .x-tip-anchor {
    display: none;
}

#DeploymentSettingsGrid .x-grid3-cell-selected 
{
    background-color: transparent!important;
}

#adminContent .sw-AgentManagement-editable-cell div 
{
    margin: 2px;
    padding: 2px;
    border: 1px solid #ccc;
    background-color: White!important;
    cursor: text;
}

#adminContent .sw-AgentManagement-combobox-cell div
{
    margin: 2px;
    padding: 0px;
    overflow: hidden;
    position: relative;
}

#adminContent .sw-AgentManagement-combobox-cell input[type="text"] 
{
    width: 100%;
}

#adminContent .sw-AgentManagement-combobox-cell img
{
    right: 0;
    border-left: solid 1px #b5b8c8; 

}

.sw-AgentManagement-message-block div
{
    margin: 5px 0px 5px 0px;
}

.sw-AgentManagement-grid-help-text 
{
    font-style: italic;
    font-size: 8pt;    
}

.AgentManagement_AdminContent 
{
    padding-top: 0px; 
    padding-left: 0px;
    width: 100%;
    border-spacing: 0;
}

.AgentManagement_AdminContent .LinkColumn 
{
    width: 33%;
}

.AgentManagement_AdminIconCell 
{
    width: 36px;
}

.AgentManagement_HelpLink, .AgentManagement_HelpLink:visited, .AgentManagement_HelpLink:active
{
    color:#336699; 
    font-size: 10px;
    cursor: pointer;
}

.AgentManagement_HelpLink:hover
{
    color:#F99D1C; 
}

.AgentManagement_HelpText
{
    color: #646464;
    font-size: 10px;
}

.AgentManagement_UnassignedCredentials 
{
    color: red;
    font-style: italic;
}

.AgentManagement_GroupingPanel
{
    background-image: url(/Orion/Nodes/images/background/bg_groupby.gif);
    background-repeat: repeat-x;
    background-color: #e1e1e0;
    padding: 5px;
    border-bottom: 1px solid #d0d0d0;
}

.AgentManagement_GroupByItem
{
    padding: 0.2em 0.5em;
    border-width: 0px !important;
    cursor: pointer;
}

/* =============== Agent download page (NEW) ================ */
.AgentManagement_DownloadWizard 
{
    max-width: 980px;
}

.AgentManagement_DownloadWizard .ProgressIndicator
{
    border-left: 1px solid #dbdcd7;
    border-right: 1px solid #dbdcd7;
}

.AgentManagement_DownloadWizard .ProgressIndicator :first-child
{
    padding-left: 5px;
}

.AgentManagement_DownloadWizard .GroupBox
{
    padding-left: 15px;
    padding-right: 15px;
}

.AgentManagement_WizardStep 
{
    padding: 15px 10px;
    display: none;
}

.AgentManagement_WizardStep select
{
    padding: 1px 1px 1px 5px;
    margin-right: 1em;
}

.AgentManagement_RadioListItem {
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    cursor: pointer;
}

.AgentManagement_RadioListItem input {
    float: left;
    margin-top: 2px;
}

.AgentManagement_RadioListItem span {
    display: block;
    margin-left: 20px;
}

.AgentManagement_RadioListItem .AgentManagement_HelpText {
    display: block;
    margin-left: 20px;
    font-weight: normal;
    font-size: 12px;
}

.AgentManagement_DownloadWizardQuestion 
{
    font-size: 13px;
    margin-bottom: 10px;
}

.AgentManagement_DownloadWizard_DetailsBox 
{
    float: right;
    width: 330px;
    height: 250px;
    padding: 0px;
    margin-left: 10px;
}

.AgentManagement_DownloadMethodHelpLink {
    float: right;
    margin-left: 10px;
}

.AgentManagement_SeparatorHeader 
{
    text-transform: uppercase;
    padding: 2px 5px; 
    background-color: #eeeeee;
    margin: 10px -5px;
}

.AgentManagement_DownloadAgent_ConnectionSettingDropdown {
    width: 400px;
    margin-bottom: 5px;
}

.AgentManagement_DownloadAgent_ConnectionSettingsTable td {
    padding: 2px 5px !important;
    vertical-align: middle !important;
}

.AgentManagement_DownloadAgent_ConnectionSettingsAdvancedSection {
    margin-left: 10px;
    margin-top: 5px;
}

.AgentManagement_DownloadAgent_ConnectionSettingsAdvancedLabel {
    cursor: pointer;
}

.AgentManagement_DownloadAgent_ConnectionSettingsAdvancedLabel img {
    margin-bottom: -2px;
}

.AgentManagement_DownloadAgent_ProxyAuthenticationCheckbox {
    display: block;
    margin-left: 10px;
    margin-top: 3px;
}

.AgentManagement_ErrorText 
{
    color: red;
}

.AgentManagement_Cleaner {
    height: 0;
    margin: 0;
    padding: 0;
    clear: both;
    visibility: hidden;
}

.AgentManagement_DownloadAgent_ModeHint {
    float: right;
    width: 300px;
}

.AgentManagement_DownloadAgent_GlobalHint {
    max-width: 700px;
}

.AgentManagement_BlueBox {
    background-color: rgb(229, 247, 255);
    padding: 5px 10px;
    margin: 5px;
}

.AgentManagement_BlueBox label {
    font-weight: bold;
    display: block;
}
.AgentManagement_BlueBox .sw-btn {
    margin-top: 5px;
}

.AgentManagement_CommandText {
    white-space: pre-wrap;
    word-break: break-all;
    margin-bottom: 5px;
}

.AgentManagement_CopyButton {
    float: right;
    margin-top: -2px !important;
    margin-left: 15px !important;
}

.AgentManagement_Light {
    color: #868686;
}

.AgentManagement_ViewScriptLink {
    float: right;
}

.AgentManagement_RightHelpLink {
    float: right;
}

/* =============== Agent download page ================ */
.AgentManagement_Download_Column {
    margin-right: 50px;
    width: 550px;
}

.AgentManagement_Download_Column hr {
    display: block;
    height: 2px;
    background-color: #868686;
    border: none;
    margin: 5px 0px;
}

.AgentManagement_TextInput {
    border: 1px solid #868686;
    padding: 3px;
}

.AgentManagement_Download_Column .AgentManagement_HowtoLink {
    float: right;
}

.AgentManagement_Download_Column .AgentManagement_Description {
    color: #868686;
}

.AgentManagement_Download_Column fieldset {
    padding: 0.5em 1em;
    border: 1px solid #868686;
    border-radius: 4px;
    margin-bottom: 1em;
}

.AgentManagement_Download_Column select {
    width: 100%;
}

.AgentManagement_Download_Column table {
    width: 450px;
    margin: 0.5em 1em;
}

.AgentManagement_Download_Column table td {
    vertical-align: middle !important;
}

.AgentManagement_Download_Column table td.AgentManagement_First {
    width: 180px;
}

.AgentManagement_Download_Column table td.AgentManagement_First.Short {
    width: 80px;
}

.AgentManagement_DownloadFileBox {
    padding: 10px;
    background-color: #eeeeee;
    color: #868686;
    margin: 5px 0px;
}

.AgentManagement_DownloadButton, .AgentManagement_DownloadButton:active, .AgentManagement_DownloadButton:visited {
    display: block;
    min-width: 130px;
    max-width: 250px;
    height: 30px;
    line-height: 30px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    background-color: #297994;
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    float: right;
}

.AgentManagement_DownloadButton:hover {
    background-color: #23677e;
    color: #ffffff;
}

.AgentManagement_FileName {
    display: block;
    color: #000000;
    font-weight: bold;
}

.AgentManagement_ExpandCollapse {
    margin: 1em 0em;
}

.AgentManagement_ExpandCollapseHeader {
    cursor: pointer;
}

.AgentManagement_ExpandButton {
    width: 13px;
    height: 13px;
    border: 1px solid #336699;
    float: left;
    text-align: center;
    line-height: 13px;
    margin-right: 7px;
}

.AgentManagement_ExpandCollapseHeader:hover .AgentManagement_ExpandButton {
    border-color: #f99d1c;
}

.AgentManagement_ExpandCollapseContent {
    margin: 0.5em 0 0.5em 1em;
}

/* =============== Agent global settings ================ */
.AgentManagement_SettingsTable {
    margin: 0 0 1em 1em;
}

.AgentManagement_SettingsTable input {
    margin-right: 5px;
}


/*Dialogs shared styles*/

div.AgentManagement_DialogOfflineAgentsWarning {
    margin: 10px 0;
}

span.AgentManagement_DialogOfflineAgentsWarningIcon {
    background: url('/Orion/images/warning_16x16.gif') no-repeat left top;
    height: 16px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 16px;
}

div.AgentManagement_WarningIcon {
    background: url('/Orion/AgentManagement/Images/Icon.Warning-32x32.png') no-repeat;
    width: 32px;
    height: 32px;
    margin: 0 10px;
    position: absolute;
    left: 0;
}

/* ============ Installed Agent Plugins Dialog ===========*/
div.AgentManagement_InstalledAgentPluginsDialog {
    background: #fff;
}

div.AgentManagement_InstalledAgentPluginsDialogBody {
    font-size: 11px;
    background: #fff; 
}

.AgentManagement_Statuses tbody tr:first-child td img {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.AgentManagement_Statuses tbody tr td {
     padding: 3px 0;
}

.AgentManagement_Statuses tbody tr td:first-child {
    padding-right: 10px;
}

.AgentManagement_Statuses tbody tr td:last-child img {
    vertical-align: bottom;
}

.AgentManagement_Plugins {
    margin-top: 10px;
}

.AgentManagement_Footer {
    margin-top: 20px;
}

.AgentManagement_Footer a {
    color: #336699;
}

button#AgentManagement_InstalledAgentPluginsDialogCloseButton {
    float:right;
}

.AgentManagement_InstalledAgentPluginsDialog div.ui-dialog-buttonpane {
    background: #fff; 
}

.AgentManagement_PluginsTable {
    border: 1px solid #e0e0e0;
    padding: 2px;
}

.AgentManagement_PluginsTable table {
    width: 100%;
    border-collapse: collapse;
}

.AgentManagement_PluginsTable table thead {
    background: #e0e0e0;
}

.AgentManagement_PluginsTable table thead tr th {
    padding: 4px;
    text-align: center;
}

.AgentManagement_PluginsTable table thead tr th:first-child {
    text-align: left;
}

.AgentManagement_PluginsTable table tbody tr.AgentManagement_GreyBg {
    background: #f8f8f8;
}

.AgentManagement_PluginsTable table tbody tr td {
    padding: 4px;
    text-align: left;
}
.AgentManagement_PluginsTable table tbody tr td img{
    padding-right: 5px;
    vertical-align: top;
}

.AgentManagement_PluginsTable table tbody tr td:last-child {
    padding-left: 10px;
}

.AgentManagement_InstalledAgentPluginsDialog .AgentManagement_HelpButton {
    background: url('/Orion/AgentManagement/Images/Icon.QuestionMark.png') no-repeat;
    width: 16px;
    height: 16px;
    float:right; 
    margin-right:1em;
    margin-top: -10px;
    padding: 1px;
    position: absolute;
    right: 1em;
    top: 51%;
}

.AgentManagement_MarginBottom_Shift {
    margin-bottom : 1em;
}
/* =============== Agent discovery step ================ */
.AgentManagement_DiscoveryStep .ActionName {
    font-size: small;
}

.AgentManagement_DiscoveryStep .AgentManagement_Description {
    color: #868686;
    font-size: 80%;
    line-height: 1.3em;
    margin: 5px 0px 20px 0px;
}

.AgentManagement_DiscoveryStep .AgentManagement_NumAgentNodesInfo {
    font-size: 100%;
    float: left;
}


/* ================ Delete and Uninstall Agent confirmation dialog */
a.AgentManagement_ArrowLink:before {
    content: '»';
    margin-right: 3px;
}

div.AgentManagement_DeleteAndUninstallDialog {
    background: #fff;
}

div.AgentManagement_DeleteAndUninstallDialog .ui-dialog-buttonpane {
    background: #fff;
}

.ui-dialog div.AgentManagement_DeleteAndUninstallDialogBody {
    background: #fff;
    margin: 7px 0;
}

div.AgentManagement_DeleteAndUninstallDialogBody p {
    padding:0 0 8px;
}

div.AgentManagement_Text p:last-child {
    padding-top: 8px
}

div.AgentManagement_DeleteAndUninstallDialogBody p span {
    font-weight: bold;
}

div.AgentManagement_DeleteAndUninstallDialogBody .AgentManagement_Text {
    margin-left: 40px;
    padding-right: 1em;
}

div.AgentManagement_DeleteAndUninstallDialogBody a {
    color: #336699;
}

div.AgentManagement_DeleteAndUninstallDialogBody a:hover {
    color: #fbb92f;
}

div.AgentManagement_DeleteAndUninstallDialogBody a span {
    font-weight: bold;
}

div.AgentManagement_DeleteAndUninstallDialogBody table.AgentManagement_Table {
    margin: 0 10px 8px;
}

div.AgentManagement_DeleteAndUninstallDialogBody table.AgentManagement_Table tr td:first-child {
    padding-right: 10px;
}

div.AgentManagement_DeleteAndUninstallDialogBody table.AgentManagement_Table tr td img {
    vertical-align: text-bottom;
}

div.AgentManagement_DeleteAndUninstallDialog  .ui-button span {
    padding: 0.1em 1.2em;
    font-weight: normal;
}

div.AgentManagement_DeleteAndUninstallDialog  .ui-button {
    color: #000;
    border-radius: 0;
}

div.AgentManagement_DeleteAndUninstallDialog  .ui-button:last-child {
    background: #fbb92f;
}

#AgentManagement_AdvancedDeploymentSettings table { 
    margin-left: 1em; 
}

#AgentManagement_ProxyAuthenticationSettingsGroup {
    display: none; 
    margin-left: 1em;
}

/*Promote agent dialog css*/
div.AgentManagement_PromoteAgentDialog {
    background: #fff;
}

div.AgentManagement_PromoteAgentDialogBody p {
    padding: 0 0 8px;
}

div.AgentManagement_PromoteAgentDialogBody .AgentManagement_Text {
    margin-left: 40px;
    padding-right: 1em;
}

.ui-dialog div.AgentManagement_PromoteAgentDialogBody {
    background: #fff;
    margin: 7px 0;
}

div.AgentManagement_PromoteAgentDialog .ui-button {
    color: #000;
    border-radius: 0;
}

div.AgentManagement_PromoteAgentDialog .ui-button:last-child {
    background: #fbb92f;
}

/* Remote Collector polling capacity bar */
div.AgentManagement_ExtJsGrid .AgentManagement_PollingCapacityBar {
    margin: 0;
    display: inline-block;
}
