﻿.MultiChartInfo a, .MultiChartInfo a:active, .MultiChartInfo a:visited { color:#336699; }
.MultiChartInfo a:hover { color:#F99D1C; }
div.MultiChartInfo { background-color:#E4F1F8; padding:10px; }
.MultiChartInfo ul { list-style-type:square; padding:0px; margin:0px 0px 5px 15px; }
